{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
        "smithy.api#enum": [
          {
            "value": "BROADCASTER_MIXED_AD",
            "name": "BROADCASTER_MIXED_AD"
          },
          {
            "value": "NORMAL",
            "name": "NORMAL"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodecProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "AAC Profile.",
        "smithy.api#enum": [
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "HEV1",
            "name": "HEV1"
          },
          {
            "value": "HEV2",
            "name": "HEV2"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
        "smithy.api#enum": [
          {
            "value": "AD_RECEIVER_MIX",
            "name": "AD_RECEIVER_MIX"
          },
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_5_1",
            "name": "CODING_MODE_5_1"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Rate Control Mode.",
        "smithy.api#enum": [
          {
            "value": "CBR",
            "name": "CBR"
          },
          {
            "value": "VBR",
            "name": "VBR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRawFormat": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
        "smithy.api#enum": [
          {
            "value": "LATM_LOAS",
            "name": "LATM_LOAS"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacSettings": {
      "type": "structure",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "target": "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix",
          "traits": {
            "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
            "smithy.api#jsonName": "audioDescriptionBroadcasterMix"
          }
        },
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin6000Max1024000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "CodecProfile": {
          "target": "com.amazonaws.mediaconvert#AacCodecProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "codecProfile"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "RawFormat": {
          "target": "com.amazonaws.mediaconvert#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max96000",
          "traits": {
            "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Specification": {
          "target": "com.amazonaws.mediaconvert#AacSpecification",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "specification"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.mediaconvert#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode."
      }
    },
    "com.amazonaws.mediaconvert#AacSpecification": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
        "smithy.api#enum": [
          {
            "value": "MPEG2",
            "name": "MPEG2"
          },
          {
            "value": "MPEG4",
            "name": "MPEG4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacVbrQuality": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
        "smithy.api#enum": [
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM_LOW",
            "name": "MEDIUM_LOW"
          },
          {
            "value": "MEDIUM_HIGH",
            "name": "MEDIUM_HIGH"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3BitstreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
        "smithy.api#enum": [
          {
            "value": "COMPLETE_MAIN",
            "name": "COMPLETE_MAIN"
          },
          {
            "value": "COMMENTARY",
            "name": "COMMENTARY"
          },
          {
            "value": "DIALOGUE",
            "name": "DIALOGUE"
          },
          {
            "value": "EMERGENCY",
            "name": "EMERGENCY"
          },
          {
            "value": "HEARING_IMPAIRED",
            "name": "HEARING_IMPAIRED"
          },
          {
            "value": "MUSIC_AND_EFFECTS",
            "name": "MUSIC_AND_EFFECTS"
          },
          {
            "value": "VISUALLY_IMPAIRED",
            "name": "VISUALLY_IMPAIRED"
          },
          {
            "value": "VOICE_OVER",
            "name": "VOICE_OVER"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3CodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
        "smithy.api#enum": [
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_3_2_LFE",
            "name": "CODING_MODE_3_2_LFE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionLine": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "FILM_LIGHT",
            "name": "FILM_LIGHT"
          },
          {
            "value": "MUSIC_STANDARD",
            "name": "MUSIC_STANDARD"
          },
          {
            "value": "MUSIC_LIGHT",
            "name": "MUSIC_LIGHT"
          },
          {
            "value": "SPEECH",
            "name": "SPEECH"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes.",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionRf": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "FILM_LIGHT",
            "name": "FILM_LIGHT"
          },
          {
            "value": "MUSIC_STANDARD",
            "name": "MUSIC_STANDARD"
          },
          {
            "value": "MUSIC_LIGHT",
            "name": "MUSIC_LIGHT"
          },
          {
            "value": "SPEECH",
            "name": "SPEECH"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3LfeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3MetadataControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin64000Max640000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.mediaconvert#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max31",
          "traits": {
            "smithy.api#documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        },
        "DynamicRangeCompressionLine": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionLine",
          "traits": {
            "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
            "smithy.api#jsonName": "dynamicRangeCompressionLine"
          }
        },
        "DynamicRangeCompressionProfile": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile",
          "traits": {
            "smithy.api#documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes.",
            "smithy.api#jsonName": "dynamicRangeCompressionProfile"
          }
        },
        "DynamicRangeCompressionRf": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionRf",
          "traits": {
            "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
            "smithy.api#jsonName": "dynamicRangeCompressionRf"
          }
        },
        "LfeFilter": {
          "target": "com.amazonaws.mediaconvert#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.mediaconvert#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin48000Max48000",
          "traits": {
            "smithy.api#documentation": "This value is always 48000. It represents the sample rate in Hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "PREFERRED",
            "name": "PREFERRED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediaconvert#AccelerationMode",
          "traits": {
            "smithy.api#documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
            "smithy.api#jsonName": "mode",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
        "smithy.api#enum": [
          {
            "value": "NOT_APPLICABLE",
            "name": "NOT_APPLICABLE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "ACCELERATED",
            "name": "ACCELERATED"
          },
          {
            "value": "NOT_ACCELERATED",
            "name": "NOT_ACCELERATED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AfdSignaling": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "AUTO",
            "name": "AUTO"
          },
          {
            "value": "FIXED",
            "name": "FIXED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AiffSettings": {
      "type": "structure",
      "members": {
        "BitDepth": {
          "target": "com.amazonaws.mediaconvert#__integerMin16Max24",
          "traits": {
            "smithy.api#documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
            "smithy.api#jsonName": "bitDepth"
          }
        },
        "Channels": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max64",
          "traits": {
            "smithy.api#documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
            "smithy.api#jsonName": "channels"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max192000",
          "traits": {
            "smithy.api#documentation": "Sample rate in hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF."
      }
    },
    "com.amazonaws.mediaconvert#AlphaBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
        "smithy.api#enum": [
          {
            "value": "DISCARD",
            "name": "DISCARD"
          },
          {
            "value": "REMAP_TO_LUMA",
            "name": "REMAP_TO_LUMA"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillaryConvert608To708": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
        "smithy.api#enum": [
          {
            "value": "UPCONVERT",
            "name": "UPCONVERT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "target": "com.amazonaws.mediaconvert#AncillaryConvert608To708",
          "traits": {
            "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
            "smithy.api#jsonName": "convert608To708"
          }
        },
        "SourceAncillaryChannelNumber": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max4",
          "traits": {
            "smithy.api#documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
            "smithy.api#jsonName": "sourceAncillaryChannelNumber"
          }
        },
        "TerminateCaptions": {
          "target": "com.amazonaws.mediaconvert#AncillaryTerminateCaptions",
          "traits": {
            "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
            "smithy.api#jsonName": "terminateCaptions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for ancillary captions source."
      }
    },
    "com.amazonaws.mediaconvert#AncillaryTerminateCaptions": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
        "smithy.api#enum": [
          {
            "value": "END_OF_INPUT",
            "name": "END_OF_INPUT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AntiAlias": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2017-08-29/certificates",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#AudioChannelTag": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS).",
        "smithy.api#enum": [
          {
            "value": "L",
            "name": "L"
          },
          {
            "value": "R",
            "name": "R"
          },
          {
            "value": "C",
            "name": "C"
          },
          {
            "value": "LFE",
            "name": "LFE"
          },
          {
            "value": "LS",
            "name": "LS"
          },
          {
            "value": "RS",
            "name": "RS"
          },
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "RC",
            "name": "RC"
          },
          {
            "value": "CS",
            "name": "CS"
          },
          {
            "value": "LSD",
            "name": "LSD"
          },
          {
            "value": "RSD",
            "name": "RSD"
          },
          {
            "value": "TCS",
            "name": "TCS"
          },
          {
            "value": "VHL",
            "name": "VHL"
          },
          {
            "value": "VHC",
            "name": "VHC"
          },
          {
            "value": "VHR",
            "name": "VHR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioChannelTaggingSettings": {
      "type": "structure",
      "members": {
        "ChannelTag": {
          "target": "com.amazonaws.mediaconvert#AudioChannelTag",
          "traits": {
            "smithy.api#documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS).",
            "smithy.api#jsonName": "channelTag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel."
      }
    },
    "com.amazonaws.mediaconvert#AudioCodec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
        "smithy.api#enum": [
          {
            "value": "AAC",
            "name": "AAC"
          },
          {
            "value": "MP2",
            "name": "MP2"
          },
          {
            "value": "MP3",
            "name": "MP3"
          },
          {
            "value": "WAV",
            "name": "WAV"
          },
          {
            "value": "AIFF",
            "name": "AIFF"
          },
          {
            "value": "AC3",
            "name": "AC3"
          },
          {
            "value": "EAC3",
            "name": "EAC3"
          },
          {
            "value": "EAC3_ATMOS",
            "name": "EAC3_ATMOS"
          },
          {
            "value": "VORBIS",
            "name": "VORBIS"
          },
          {
            "value": "OPUS",
            "name": "OPUS"
          },
          {
            "value": "PASSTHROUGH",
            "name": "PASSTHROUGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "target": "com.amazonaws.mediaconvert#AacSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.mediaconvert#Ac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "AiffSettings": {
          "target": "com.amazonaws.mediaconvert#AiffSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
            "smithy.api#jsonName": "aiffSettings"
          }
        },
        "Codec": {
          "target": "com.amazonaws.mediaconvert#AudioCodec",
          "traits": {
            "smithy.api#documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
            "smithy.api#jsonName": "codec"
          }
        },
        "Eac3AtmosSettings": {
          "target": "com.amazonaws.mediaconvert#Eac3AtmosSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
            "smithy.api#jsonName": "eac3AtmosSettings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.mediaconvert#Eac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.mediaconvert#Mp2Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "Mp3Settings": {
          "target": "com.amazonaws.mediaconvert#Mp3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
            "smithy.api#jsonName": "mp3Settings"
          }
        },
        "OpusSettings": {
          "target": "com.amazonaws.mediaconvert#OpusSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value OPUS.",
            "smithy.api#jsonName": "opusSettings"
          }
        },
        "VorbisSettings": {
          "target": "com.amazonaws.mediaconvert#VorbisSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value Vorbis.",
            "smithy.api#jsonName": "vorbisSettings"
          }
        },
        "WavSettings": {
          "target": "com.amazonaws.mediaconvert#WavSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
            "smithy.api#jsonName": "wavSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec."
      }
    },
    "com.amazonaws.mediaconvert#AudioDefaultSelection": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "NOT_DEFAULT",
            "name": "NOT_DEFAULT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioDescription": {
      "type": "structure",
      "members": {
        "AudioChannelTaggingSettings": {
          "target": "com.amazonaws.mediaconvert#AudioChannelTaggingSettings",
          "traits": {
            "smithy.api#documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel.",
            "smithy.api#jsonName": "audioChannelTaggingSettings"
          }
        },
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "AudioSourceName": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
            "smithy.api#jsonName": "audioSourceName"
          }
        },
        "AudioType": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.mediaconvert#AudioTypeControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "CodecSettings": {
          "target": "com.amazonaws.mediaconvert#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec.",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.mediaconvert#AudioLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio remixing settings.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.mediaconvert#__stringPatternWS",
          "traits": {
            "smithy.api#documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to one audio tab on the MediaConvert console. In your job JSON, an instance of AudioDescription is equivalent to one audio tab in the console. Usually, one audio tab corresponds to one output audio track. Depending on how you set up your input audio selectors and whether you use audio selector groups, one audio tab can correspond to a group of output audio tracks."
      }
    },
    "com.amazonaws.mediaconvert#AudioLanguageCodeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
        "smithy.api#enum": [
          {
            "value": "ITU_BS_1770_1",
            "name": "ITU_BS_1770_1"
          },
          {
            "value": "ITU_BS_1770_2",
            "name": "ITU_BS_1770_2"
          },
          {
            "value": "ITU_BS_1770_3",
            "name": "ITU_BS_1770_3"
          },
          {
            "value": "ITU_BS_1770_4",
            "name": "ITU_BS_1770_4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
        "smithy.api#enum": [
          {
            "value": "CORRECT_AUDIO",
            "name": "CORRECT_AUDIO"
          },
          {
            "value": "MEASURE_ONLY",
            "name": "MEASURE_ONLY"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
        "smithy.api#enum": [
          {
            "value": "LOG",
            "name": "LOG"
          },
          {
            "value": "DONT_LOG",
            "name": "DONT_LOG"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
        "smithy.api#enum": [
          {
            "value": "TRUE_PEAK",
            "name": "TRUE_PEAK"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "CorrectionGateLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative70Max0",
          "traits": {
            "smithy.api#documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected.",
            "smithy.api#jsonName": "correctionGateLevel"
          }
        },
        "LoudnessLogging": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging",
          "traits": {
            "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
            "smithy.api#jsonName": "loudnessLogging"
          }
        },
        "PeakCalculation": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation",
          "traits": {
            "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
            "smithy.api#jsonName": "peakCalculation"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.mediaconvert#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelector": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DefaultSelection": {
          "target": "com.amazonaws.mediaconvert#AudioDefaultSelection",
          "traits": {
            "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
            "smithy.api#jsonName": "defaultSelection"
          }
        },
        "ExternalAudioFileInput": {
          "target": "com.amazonaws.mediaconvert#__stringPatternS3MM2PPWWEEBBMMMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSSHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSS",
          "traits": {
            "smithy.api#documentation": "Specifies audio data from an external file source.",
            "smithy.api#jsonName": "externalAudioFileInput"
          }
        },
        "HlsRenditionGroupSettings": {
          "target": "com.amazonaws.mediaconvert#HlsRenditionGroupSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to audio sources in an HLS alternate rendition group. Specify the properties (renditionGroupId, renditionName or renditionLanguageCode) to identify the unique audio track among the alternative rendition groups present in the HLS manifest. If no unique track is found, or multiple tracks match the properties provided, the job fails. If no properties in hlsRenditionGroupSettings are specified, the default audio track within the video segment is chosen. If there is no audio within video segment, the alternative audio with DEFAULT=YES is chosen instead.",
            "smithy.api#jsonName": "hlsRenditionGroupSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Offset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
            "smithy.api#jsonName": "offset"
          }
        },
        "Pids": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
            "smithy.api#jsonName": "pids"
          }
        },
        "ProgramSelection": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max8",
          "traits": {
            "smithy.api#documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
            "smithy.api#jsonName": "programSelection"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "SelectorType": {
          "target": "com.amazonaws.mediaconvert#AudioSelectorType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the audio selector.",
            "smithy.api#jsonName": "selectorType"
          }
        },
        "Tracks": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
            "smithy.api#jsonName": "tracks"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use Audio selectors (AudioSelectors) to specify a track or set of tracks from the input that you will use in your outputs. You can use multiple Audio selectors per input."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorGroup": {
      "type": "structure",
      "members": {
        "AudioSelectorNames": {
          "target": "com.amazonaws.mediaconvert#__listOf__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
            "smithy.api#jsonName": "audioSelectorNames"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use audio selector groups to combine multiple sidecar audio inputs so that you can assign them to a single output audio tab (AudioDescription). Note that, if you're working with embedded audio, it's simpler to assign multiple input tracks into a single audio selector rather than use an audio selector group."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the type of the audio selector.",
        "smithy.api#enum": [
          {
            "value": "PID",
            "name": "PID"
          },
          {
            "value": "TRACK",
            "name": "TRACK"
          },
          {
            "value": "LANGUAGE_CODE",
            "name": "LANGUAGE_CODE"
          },
          {
            "value": "HLS_RENDITION_GROUP",
            "name": "HLS_RENDITION_GROUP"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioTypeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AutomatedAbrSettings": {
      "type": "structure",
      "members": {
        "MaxAbrBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin100000Max100000000",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum target bit rate used in your automated ABR stack. Use this value to set an upper limit on the bandwidth consumed by the highest-quality rendition. This is the rendition that is delivered to viewers with the fastest internet connections. If you don't specify a value, MediaConvert uses 8,000,000 (8 mb/s) by default.",
            "smithy.api#jsonName": "maxAbrBitrate"
          }
        },
        "MaxRenditions": {
          "target": "com.amazonaws.mediaconvert#__integerMin3Max15",
          "traits": {
            "smithy.api#documentation": "Optional. The maximum number of renditions that MediaConvert will create in your automated ABR stack. The number of renditions is determined automatically, based on analysis of each job, but will never exceed this limit. When you set this to Auto in the console, which is equivalent to excluding it from your JSON job specification, MediaConvert defaults to a limit of 15.",
            "smithy.api#jsonName": "maxRenditions"
          }
        },
        "MinAbrBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin100000Max100000000",
          "traits": {
            "smithy.api#documentation": "Optional. The minimum target bitrate used in your automated ABR stack. Use this value to set a lower limit on the bitrate of video delivered to viewers with slow internet connections. If you don't specify a value, MediaConvert uses 600,000 (600 kb/s) by default.",
            "smithy.api#jsonName": "minAbrBitrate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use automated ABR to have MediaConvert set up the renditions in your ABR package for you automatically, based on characteristics of your input video. This feature optimizes video quality while minimizing the overall size of your ABR package."
      }
    },
    "com.amazonaws.mediaconvert#AutomatedEncodingSettings": {
      "type": "structure",
      "members": {
        "AbrSettings": {
          "target": "com.amazonaws.mediaconvert#AutomatedAbrSettings",
          "traits": {
            "smithy.api#documentation": "Use automated ABR to have MediaConvert set up the renditions in your ABR package for you automatically, based on characteristics of your input video. This feature optimizes video quality while minimizing the overall size of your ABR package.",
            "smithy.api#jsonName": "abrSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use automated encoding to have MediaConvert choose your encoding settings for you, based on characteristics of your input video."
      }
    },
    "com.amazonaws.mediaconvert#Av1AdaptiveQuantization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the strength of any adaptive quantization filters that you enable. The value that you choose here applies to Spatial adaptive quantization (spatialAdaptiveQuantization).",
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM",
            "name": "MEDIUM"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "HIGHER",
            "name": "HIGHER"
          },
          {
            "value": "MAX",
            "name": "MAX"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
        "smithy.api#enum": [
          {
            "value": "INITIALIZE_FROM_SOURCE",
            "name": "INITIALIZE_FROM_SOURCE"
          },
          {
            "value": "SPECIFIED",
            "name": "SPECIFIED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost.",
        "smithy.api#enum": [
          {
            "value": "DUPLICATE_DROP",
            "name": "DUPLICATE_DROP"
          },
          {
            "value": "INTERPOLATE",
            "name": "INTERPOLATE"
          },
          {
            "value": "FRAMEFORMER",
            "name": "FRAMEFORMER"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1QvbrSettings": {
      "type": "structure",
      "members": {
        "QvbrQualityLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max10",
          "traits": {
            "smithy.api#documentation": "Use this setting only when you set Rate control mode (RateControlMode) to QVBR. Specify the target quality level for this output. MediaConvert determines the right number of bits to use for each part of the video to maintain the video quality that you specify. When you keep the default value, AUTO, MediaConvert picks a quality level for you, based on characteristics of your input video. If you prefer to specify a quality level, specify a number from 1 through 10. Use higher numbers for greater quality. Level 10 results in nearly lossless compression. The quality level for most broadcast-quality transcodes is between 6 and 9. Optionally, to specify a value between whole numbers, also provide a value for the setting qvbrQualityLevelFineTune. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33.",
            "smithy.api#jsonName": "qvbrQualityLevel"
          }
        },
        "QvbrQualityLevelFineTune": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0Max1",
          "traits": {
            "smithy.api#documentation": "Optional. Specify a value here to set the QVBR quality to a level that is between whole numbers. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33. MediaConvert rounds your QVBR quality level to the nearest third of a whole number. For example, if you set qvbrQualityLevel to 7 and you set qvbrQualityLevelFineTune to .25, your actual QVBR quality level is 7.33.",
            "smithy.api#jsonName": "qvbrQualityLevelFineTune"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for quality-defined variable bitrate encoding with the H.265 codec. Use these settings only when you set QVBR for Rate control mode (RateControlMode)."
      }
    },
    "com.amazonaws.mediaconvert#Av1RateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
        "smithy.api#enum": [
          {
            "value": "QVBR",
            "name": "QVBR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Av1Settings": {
      "type": "structure",
      "members": {
        "AdaptiveQuantization": {
          "target": "com.amazonaws.mediaconvert#Av1AdaptiveQuantization",
          "traits": {
            "smithy.api#documentation": "Specify the strength of any adaptive quantization filters that you enable. The value that you choose here applies to Spatial adaptive quantization (spatialAdaptiveQuantization).",
            "smithy.api#jsonName": "adaptiveQuantization"
          }
        },
        "FramerateControl": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateControl",
          "traits": {
            "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
            "smithy.api#jsonName": "framerateControl"
          }
        },
        "FramerateConversionAlgorithm": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost.",
            "smithy.api#jsonName": "framerateConversionAlgorithm"
          }
        },
        "FramerateDenominator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateDenominator"
          }
        },
        "FramerateNumerator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateNumerator to specify the numerator of this fraction. In this example, use 24000 for the value of FramerateNumerator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateNumerator"
          }
        },
        "GopSize": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0",
          "traits": {
            "smithy.api#documentation": "Specify the GOP length (keyframe interval) in frames. With AV1, MediaConvert doesn't support GOP length in seconds. This value must be greater than zero and preferably equal to 1 + ((numberBFrames + 1) * x), where x is an integer value.",
            "smithy.api#jsonName": "gopSize"
          }
        },
        "MaxBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin1000Max1152000000",
          "traits": {
            "smithy.api#documentation": "Maximum bitrate in bits/second. For example, enter five megabits per second as 5000000. Required when Rate control mode is QVBR.",
            "smithy.api#jsonName": "maxBitrate"
          }
        },
        "NumberBFramesBetweenReferenceFrames": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max15",
          "traits": {
            "smithy.api#documentation": "Specify from the number of B-frames, in the range of 0-15. For AV1 encoding, we recommend using 7 or 15. Choose a larger number for a lower bitrate and smaller file size; choose a smaller number for better video quality.",
            "smithy.api#jsonName": "numberBFramesBetweenReferenceFrames"
          }
        },
        "QvbrSettings": {
          "target": "com.amazonaws.mediaconvert#Av1QvbrSettings",
          "traits": {
            "smithy.api#documentation": "Settings for quality-defined variable bitrate encoding with the H.265 codec. Use these settings only when you set QVBR for Rate control mode (RateControlMode).",
            "smithy.api#jsonName": "qvbrSettings"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#Av1RateControlMode",
          "traits": {
            "smithy.api#documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "Slices": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max32",
          "traits": {
            "smithy.api#documentation": "Specify the number of slices per picture. This value must be 1, 2, 4, 8, 16, or 32. For progressive pictures, this value must be less than or equal to the number of macroblock rows. For interlaced pictures, this value must be less than or equal to half the number of macroblock rows.",
            "smithy.api#jsonName": "slices"
          }
        },
        "SpatialAdaptiveQuantization": {
          "target": "com.amazonaws.mediaconvert#Av1SpatialAdaptiveQuantization",
          "traits": {
            "smithy.api#documentation": "Keep the default value, Enabled (ENABLED), to adjust quantization within each frame based on spatial variation of content complexity. When you enable this feature, the encoder uses fewer bits on areas that can sustain more distortion with no noticeable visual degradation and uses more bits on areas where any small distortion will be noticeable. For example, complex textured blocks are encoded with fewer bits and smooth textured blocks are encoded with more bits. Enabling this feature will almost always improve your video quality. Note, though, that this feature doesn't take into account where the viewer's attention is likely to be. If viewers are likely to be focusing their attention on a part of the screen with a lot of complex texture, you might choose to disable this feature. Related setting: When you enable spatial adaptive quantization, set the value for Adaptive quantization (adaptiveQuantization) depending on your content. For homogeneous content, such as cartoons and video games, set it to Low. For content with a wider variety of textures, set it to High or Higher.",
            "smithy.api#jsonName": "spatialAdaptiveQuantization"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set Codec, under VideoDescription>CodecSettings to the value AV1."
      }
    },
    "com.amazonaws.mediaconvert#Av1SpatialAdaptiveQuantization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Keep the default value, Enabled (ENABLED), to adjust quantization within each frame based on spatial variation of content complexity. When you enable this feature, the encoder uses fewer bits on areas that can sustain more distortion with no noticeable visual degradation and uses more bits on areas where any small distortion will be noticeable. For example, complex textured blocks are encoded with fewer bits and smooth textured blocks are encoded with more bits. Enabling this feature will almost always improve your video quality. Note, though, that this feature doesn't take into account where the viewer's attention is likely to be. If viewers are likely to be focusing their attention on a part of the screen with a lot of complex texture, you might choose to disable this feature. Related setting: When you enable spatial adaptive quantization, set the value for Adaptive quantization (adaptiveQuantization) depending on your content. For homogeneous content, such as cartoons and video games, set it to Low. For content with a wider variety of textures, set it to High or Higher.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "target": "com.amazonaws.mediaconvert#__stringMin14PatternS3BmpBMPPngPNGHttpsBmpBMPPngPNG",
          "traits": {
            "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "availBlankingImage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use ad avail blanking settings to specify your output content during SCTE-35 triggered ad avails. You can blank your video or overlay it with an image. MediaConvert also removes any audio and embedded captions during the ad avail. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/ad-avail-blanking.html."
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraClass": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the AVC-Intra class of your output. The AVC-Intra class selection determines the output video bit rate depending on the frame rate of the output. Outputs with higher class values have higher bitrates and improved image quality. Note that for Class 4K/2K, MediaConvert supports only 4:2:2 chroma subsampling.",
        "smithy.api#enum": [
          {
            "value": "CLASS_50",
            "name": "CLASS_50"
          },
          {
            "value": "CLASS_100",
            "name": "CLASS_100"
          },
          {
            "value": "CLASS_200",
            "name": "CLASS_200"
          },
          {
            "value": "CLASS_4K_2K",
            "name": "CLASS_4K_2K"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraFramerateControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
        "smithy.api#enum": [
          {
            "value": "INITIALIZE_FROM_SOURCE",
            "name": "INITIALIZE_FROM_SOURCE"
          },
          {
            "value": "SPECIFIED",
            "name": "SPECIFIED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraFramerateConversionAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost.",
        "smithy.api#enum": [
          {
            "value": "DUPLICATE_DROP",
            "name": "DUPLICATE_DROP"
          },
          {
            "value": "INTERPOLATE",
            "name": "INTERPOLATE"
          },
          {
            "value": "FRAMEFORMER",
            "name": "FRAMEFORMER"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraInterlaceMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose the scan line type for the output. Keep the default value, Progressive (PROGRESSIVE) to create a progressive output, regardless of the scan type of your input. Use Top field first (TOP_FIELD) or Bottom field first (BOTTOM_FIELD) to create an output that's interlaced with the same field polarity throughout. Use Follow, default top (FOLLOW_TOP_FIELD) or Follow, default bottom (FOLLOW_BOTTOM_FIELD) to produce outputs with the same field polarity as the source. For jobs that have multiple inputs, the output field polarity might change over the course of the output. Follow behavior depends on the input scan type. If the source is interlaced, the output will be interlaced with the same polarity as the source. If the source is progressive, the output will be interlaced with top field bottom field first, depending on which of the Follow options you choose.",
        "smithy.api#enum": [
          {
            "value": "PROGRESSIVE",
            "name": "PROGRESSIVE"
          },
          {
            "value": "TOP_FIELD",
            "name": "TOP_FIELD"
          },
          {
            "value": "BOTTOM_FIELD",
            "name": "BOTTOM_FIELD"
          },
          {
            "value": "FOLLOW_TOP_FIELD",
            "name": "FOLLOW_TOP_FIELD"
          },
          {
            "value": "FOLLOW_BOTTOM_FIELD",
            "name": "FOLLOW_BOTTOM_FIELD"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraScanTypeConversionMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Use this setting for interlaced outputs, when your output frame rate is half of your input frame rate. In this situation, choose Optimized interlacing (INTERLACED_OPTIMIZE) to create a better quality interlaced output. In this case, each progressive frame from the input corresponds to an interlaced field in the output. Keep the default value, Basic interlacing (INTERLACED), for all other output frame rates. With basic interlacing, MediaConvert performs any frame rate conversion first and then interlaces the frames. When you choose Optimized interlacing and you set your output frame rate to a value that isn't suitable for optimized interlacing, MediaConvert automatically falls back to basic interlacing. Required settings: To use optimized interlacing, you must set Telecine (telecine) to None (NONE) or Soft (SOFT). You can't use optimized interlacing for hard telecine outputs. You must also set Interlace mode (interlaceMode) to a value other than Progressive (PROGRESSIVE).",
        "smithy.api#enum": [
          {
            "value": "INTERLACED",
            "name": "INTERLACED"
          },
          {
            "value": "INTERLACED_OPTIMIZE",
            "name": "INTERLACED_OPTIMIZE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraSettings": {
      "type": "structure",
      "members": {
        "AvcIntraClass": {
          "target": "com.amazonaws.mediaconvert#AvcIntraClass",
          "traits": {
            "smithy.api#documentation": "Specify the AVC-Intra class of your output. The AVC-Intra class selection determines the output video bit rate depending on the frame rate of the output. Outputs with higher class values have higher bitrates and improved image quality. Note that for Class 4K/2K, MediaConvert supports only 4:2:2 chroma subsampling.",
            "smithy.api#jsonName": "avcIntraClass"
          }
        },
        "AvcIntraUhdSettings": {
          "target": "com.amazonaws.mediaconvert#AvcIntraUhdSettings",
          "traits": {
            "smithy.api#documentation": "Optional when you set AVC-Intra class (avcIntraClass) to Class 4K/2K (CLASS_4K_2K). When you set AVC-Intra class to a different value, this object isn't allowed.",
            "smithy.api#jsonName": "avcIntraUhdSettings"
          }
        },
        "FramerateControl": {
          "target": "com.amazonaws.mediaconvert#AvcIntraFramerateControl",
          "traits": {
            "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
            "smithy.api#jsonName": "framerateControl"
          }
        },
        "FramerateConversionAlgorithm": {
          "target": "com.amazonaws.mediaconvert#AvcIntraFramerateConversionAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost.",
            "smithy.api#jsonName": "framerateConversionAlgorithm"
          }
        },
        "FramerateDenominator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max1001",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateDenominator"
          }
        },
        "FramerateNumerator": {
          "target": "com.amazonaws.mediaconvert#__integerMin24Max60000",
          "traits": {
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateNumerator to specify the numerator of this fraction. In this example, use 24000 for the value of FramerateNumerator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateNumerator"
          }
        },
        "InterlaceMode": {
          "target": "com.amazonaws.mediaconvert#AvcIntraInterlaceMode",
          "traits": {
            "smithy.api#documentation": "Choose the scan line type for the output. Keep the default value, Progressive (PROGRESSIVE) to create a progressive output, regardless of the scan type of your input. Use Top field first (TOP_FIELD) or Bottom field first (BOTTOM_FIELD) to create an output that's interlaced with the same field polarity throughout. Use Follow, default top (FOLLOW_TOP_FIELD) or Follow, default bottom (FOLLOW_BOTTOM_FIELD) to produce outputs with the same field polarity as the source. For jobs that have multiple inputs, the output field polarity might change over the course of the output. Follow behavior depends on the input scan type. If the source is interlaced, the output will be interlaced with the same polarity as the source. If the source is progressive, the output will be interlaced with top field bottom field first, depending on which of the Follow options you choose.",
            "smithy.api#jsonName": "interlaceMode"
          }
        },
        "ScanTypeConversionMode": {
          "target": "com.amazonaws.mediaconvert#AvcIntraScanTypeConversionMode",
          "traits": {
            "smithy.api#documentation": "Use this setting for interlaced outputs, when your output frame rate is half of your input frame rate. In this situation, choose Optimized interlacing (INTERLACED_OPTIMIZE) to create a better quality interlaced output. In this case, each progressive frame from the input corresponds to an interlaced field in the output. Keep the default value, Basic interlacing (INTERLACED), for all other output frame rates. With basic interlacing, MediaConvert performs any frame rate conversion first and then interlaces the frames. When you choose Optimized interlacing and you set your output frame rate to a value that isn't suitable for optimized interlacing, MediaConvert automatically falls back to basic interlacing. Required settings: To use optimized interlacing, you must set Telecine (telecine) to None (NONE) or Soft (SOFT). You can't use optimized interlacing for hard telecine outputs. You must also set Interlace mode (interlaceMode) to a value other than Progressive (PROGRESSIVE).",
            "smithy.api#jsonName": "scanTypeConversionMode"
          }
        },
        "SlowPal": {
          "target": "com.amazonaws.mediaconvert#AvcIntraSlowPal",
          "traits": {
            "smithy.api#documentation": "Ignore this setting unless your input frame rate is 23.976 or 24 frames per second (fps). Enable slow PAL to create a 25 fps output. When you enable slow PAL, MediaConvert relabels the video frames to 25 fps and resamples your audio to keep it synchronized with the video. Note that enabling this setting will slightly reduce the duration of your video. Required settings: You must also set Framerate to 25. In your JSON job specification, set (framerateControl) to (SPECIFIED), (framerateNumerator) to 25 and (framerateDenominator) to 1.",
            "smithy.api#jsonName": "slowPal"
          }
        },
        "Telecine": {
          "target": "com.amazonaws.mediaconvert#AvcIntraTelecine",
          "traits": {
            "smithy.api#documentation": "When you do frame rate conversion from 23.976 frames per second (fps) to 29.97 fps, and your output scan type is interlaced, you can optionally enable hard telecine (HARD) to create a smoother picture. When you keep the default value, None (NONE), MediaConvert does a standard frame rate conversion to 29.97 without doing anything with the field polarity to create a smoother picture.",
            "smithy.api#jsonName": "telecine"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you choose AVC-Intra for your output video codec. For more information about the AVC-Intra settings, see the relevant specification. For detailed information about SD and HD in AVC-Intra, see https://ieeexplore.ieee.org/document/7290936. For information about 4K/2K in AVC-Intra, see https://pro-av.panasonic.net/en/avc-ultra/AVC-ULTRAoverview.pdf."
      }
    },
    "com.amazonaws.mediaconvert#AvcIntraSlowPal": {
      "type": "string",
      "traits": {
[...]
