{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.medialive#AacCodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Coding Mode",
        "smithy.api#enum": [
          {
            "value": "AD_RECEIVER_MIX",
            "name": "AD_RECEIVER_MIX"
          },
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_5_1",
            "name": "CODING_MODE_5_1"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacInputType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Input Type",
        "smithy.api#enum": [
          {
            "value": "BROADCASTER_MIXED_AD",
            "name": "BROADCASTER_MIXED_AD"
          },
          {
            "value": "NORMAL",
            "name": "NORMAL"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Profile",
        "smithy.api#enum": [
          {
            "value": "HEV1",
            "name": "HEV1"
          },
          {
            "value": "HEV2",
            "name": "HEV2"
          },
          {
            "value": "LC",
            "name": "LC"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacRateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Rate Control Mode",
        "smithy.api#enum": [
          {
            "value": "CBR",
            "name": "CBR"
          },
          {
            "value": "VBR",
            "name": "VBR"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacRawFormat": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Raw Format",
        "smithy.api#enum": [
          {
            "value": "LATM_LOAS",
            "name": "LATM_LOAS"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.medialive#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "InputType": {
          "target": "com.amazonaws.medialive#AacInputType",
          "traits": {
            "smithy.api#documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD.",
            "smithy.api#jsonName": "inputType"
          }
        },
        "Profile": {
          "target": "com.amazonaws.medialive#AacProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "profile"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.medialive#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "RawFormat": {
          "target": "com.amazonaws.medialive#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Sets LATM / LOAS AAC output for raw containers.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Spec": {
          "target": "com.amazonaws.medialive#AacSpec",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "spec"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.medialive#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rateControlMode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Settings"
      }
    },
    "com.amazonaws.medialive#AacSpec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Spec",
        "smithy.api#enum": [
          {
            "value": "MPEG2",
            "name": "MPEG2"
          },
          {
            "value": "MPEG4",
            "name": "MPEG4"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AacVbrQuality": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Aac Vbr Quality",
        "smithy.api#enum": [
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM_HIGH",
            "name": "MEDIUM_HIGH"
          },
          {
            "value": "MEDIUM_LOW",
            "name": "MEDIUM_LOW"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3BitstreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ac3 Bitstream Mode",
        "smithy.api#enum": [
          {
            "value": "COMMENTARY",
            "name": "COMMENTARY"
          },
          {
            "value": "COMPLETE_MAIN",
            "name": "COMPLETE_MAIN"
          },
          {
            "value": "DIALOGUE",
            "name": "DIALOGUE"
          },
          {
            "value": "EMERGENCY",
            "name": "EMERGENCY"
          },
          {
            "value": "HEARING_IMPAIRED",
            "name": "HEARING_IMPAIRED"
          },
          {
            "value": "MUSIC_AND_EFFECTS",
            "name": "MUSIC_AND_EFFECTS"
          },
          {
            "value": "VISUALLY_IMPAIRED",
            "name": "VISUALLY_IMPAIRED"
          },
          {
            "value": "VOICE_OVER",
            "name": "VOICE_OVER"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3CodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ac3 Coding Mode",
        "smithy.api#enum": [
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_3_2_LFE",
            "name": "CODING_MODE_3_2_LFE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3DrcProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ac3 Drc Profile",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3LfeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ac3 Lfe Filter",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3MetadataControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ac3 Metadata Control",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.medialive#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.medialive#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.medialive#__integerMin1Max31",
          "traits": {
            "smithy.api#documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        },
        "DrcProfile": {
          "target": "com.amazonaws.medialive#Ac3DrcProfile",
          "traits": {
            "smithy.api#documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
            "smithy.api#jsonName": "drcProfile"
          }
        },
        "LfeFilter": {
          "target": "com.amazonaws.medialive#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.medialive#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Settings"
      }
    },
    "com.amazonaws.medialive#AfdSignaling": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Afd Signaling",
        "smithy.api#enum": [
          {
            "value": "AUTO",
            "name": "AUTO"
          },
          {
            "value": "FIXED",
            "name": "FIXED"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#ArchiveContainerSettings": {
      "type": "structure",
      "members": {
        "M2tsSettings": {
          "target": "com.amazonaws.medialive#M2tsSettings",
          "traits": {
            "smithy.api#jsonName": "m2tsSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Container Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveGroupSettings": {
      "type": "structure",
      "members": {
        "Destination": {
          "target": "com.amazonaws.medialive#OutputLocationRef",
          "traits": {
            "smithy.api#documentation": "A directory and base filename where archive files should be written.",
            "smithy.api#jsonName": "destination",
            "smithy.api#required": {}
          }
        },
        "RolloverInterval": {
          "target": "com.amazonaws.medialive#__integerMin1",
          "traits": {
            "smithy.api#documentation": "Number of seconds to write to archive file before closing and starting a new one.",
            "smithy.api#jsonName": "rolloverInterval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Group Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveOutputSettings": {
      "type": "structure",
      "members": {
        "ContainerSettings": {
          "target": "com.amazonaws.medialive#ArchiveContainerSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to the container type of the file.",
            "smithy.api#jsonName": "containerSettings",
            "smithy.api#required": {}
          }
        },
        "Extension": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Output file extension. If excluded, this will be auto-selected from the container type.",
            "smithy.api#jsonName": "extension"
          }
        },
        "NameModifier": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.",
            "smithy.api#jsonName": "nameModifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Output Settings"
      }
    },
    "com.amazonaws.medialive#AribDestinationSettings": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Arib Destination Settings"
      }
    },
    "com.amazonaws.medialive#AribSourceSettings": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Arib Source Settings"
      }
    },
    "com.amazonaws.medialive#AudioChannelMapping": {
      "type": "structure",
      "members": {
        "InputChannelLevels": {
          "target": "com.amazonaws.medialive#__listOfInputChannelLevel",
          "traits": {
            "smithy.api#documentation": "Indices and gain values for each input channel that should be remixed into this output channel.",
            "smithy.api#jsonName": "inputChannelLevels",
            "smithy.api#required": {}
          }
        },
        "OutputChannel": {
          "target": "com.amazonaws.medialive#__integerMin0Max7",
          "traits": {
            "smithy.api#documentation": "The index of the output channel being produced.",
            "smithy.api#jsonName": "outputChannel",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Channel Mapping"
      }
    },
    "com.amazonaws.medialive#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "target": "com.amazonaws.medialive#AacSettings",
          "traits": {
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.medialive#Ac3Settings",
          "traits": {
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.medialive#Eac3Settings",
          "traits": {
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.medialive#Mp2Settings",
          "traits": {
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "PassThroughSettings": {
          "target": "com.amazonaws.medialive#PassThroughSettings",
          "traits": {
            "smithy.api#jsonName": "passThroughSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Codec Settings"
      }
    },
    "com.amazonaws.medialive#AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.medialive#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "AudioSelectorName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the AudioSelector used as the source for this AudioDescription.",
            "smithy.api#jsonName": "audioSelectorName",
            "smithy.api#required": {}
          }
        },
        "AudioType": {
          "target": "com.amazonaws.medialive#AudioType",
          "traits": {
            "smithy.api#documentation": "Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.medialive#AudioDescriptionAudioTypeControl",
          "traits": {
            "smithy.api#documentation": "Determines how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.\n  useConfigured: The value in Audio Type is included in the output.\nNote that this field and audioType are both ignored if inputType is broadcasterMixedAd.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "CodecSettings": {
          "target": "com.amazonaws.medialive#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Audio codec settings.",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__stringMin3Max3",
          "traits": {
            "smithy.api#documentation": "Indicates the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.medialive#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Settings that control how input audio channels are remixed into the output audio channels.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Description"
      }
    },
    "com.amazonaws.medialive#AudioDescriptionAudioTypeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Description Audio Type Control",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Description Language Code Control",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioLanguageSelection": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Selects a specific three-letter language code from within an audio source.",
            "smithy.api#jsonName": "languageCode",
            "smithy.api#required": {}
          }
        },
        "LanguageSelectionPolicy": {
          "target": "com.amazonaws.medialive#AudioLanguageSelectionPolicy",
          "traits": {
            "smithy.api#documentation": "When set to \"strict\", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If \"loose\", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can't find one with the same language.",
            "smithy.api#jsonName": "languageSelectionPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Language Selection"
      }
    },
    "com.amazonaws.medialive#AudioLanguageSelectionPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Language Selection Policy",
        "smithy.api#enum": [
          {
            "value": "LOOSE",
            "name": "LOOSE"
          },
          {
            "value": "STRICT",
            "name": "STRICT"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioNormalizationAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Normalization Algorithm",
        "smithy.api#enum": [
          {
            "value": "ITU_1770_1",
            "name": "ITU_1770_1"
          },
          {
            "value": "ITU_1770_2",
            "name": "ITU_1770_2"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioNormalizationAlgorithmControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Normalization Algorithm Control",
        "smithy.api#enum": [
          {
            "value": "CORRECT_AUDIO",
            "name": "CORRECT_AUDIO"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.medialive#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.medialive#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.medialive#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#documentation": "Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Normalization Settings"
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsSegmentType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Segment Type",
        "smithy.api#enum": [
          {
            "value": "AAC",
            "name": "AAC"
          },
          {
            "value": "FMP4",
            "name": "FMP4"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsSettings": {
      "type": "structure",
      "members": {
        "AudioGroupId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Specifies the group to which the audio Rendition belongs.",
            "smithy.api#jsonName": "audioGroupId"
          }
        },
        "AudioOnlyImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the .jpg or .png image to use as the cover art for an audio-only output. We recommend a low bit-size file because the image increases the output audio bandwidth.\n\nThe image is attached to the audio as an ID3 tag, frame type APIC, picture type 0x10, as per the \"ID3 tag version 2.4.0 - Native Frames\" standard.",
            "smithy.api#jsonName": "audioOnlyImage"
          }
        },
        "AudioTrackType": {
          "target": "com.amazonaws.medialive#AudioOnlyHlsTrackType",
          "traits": {
            "smithy.api#documentation": "Four types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto Select, Default\nAlternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate Audio, Auto Select, Not Default\nAlternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO",
            "smithy.api#jsonName": "audioTrackType"
          }
        },
        "SegmentType": {
          "target": "com.amazonaws.medialive#AudioOnlyHlsSegmentType",
          "traits": {
            "smithy.api#documentation": "Specifies the segment type.",
            "smithy.api#jsonName": "segmentType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Settings"
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsTrackType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Track Type",
        "smithy.api#enum": [
          {
            "value": "ALTERNATE_AUDIO_AUTO_SELECT",
            "name": "ALTERNATE_AUDIO_AUTO_SELECT"
          },
          {
            "value": "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
            "name": "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT"
          },
          {
            "value": "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
            "name": "ALTERNATE_AUDIO_NOT_AUTO_SELECT"
          },
          {
            "value": "AUDIO_ONLY_VARIANT_STREAM",
            "name": "AUDIO_ONLY_VARIANT_STREAM"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AudioPidSelection": {
      "type": "structure",
      "members": {
        "Pid": {
          "target": "com.amazonaws.medialive#__integerMin0Max8191",
          "traits": {
            "smithy.api#documentation": "Selects a specific PID from within a source.",
            "smithy.api#jsonName": "pid",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Pid Selection"
      }
    },
    "com.amazonaws.medialive#AudioSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SelectorSettings": {
          "target": "com.amazonaws.medialive#AudioSelectorSettings",
          "traits": {
            "smithy.api#documentation": "The audio selector settings.",
            "smithy.api#jsonName": "selectorSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Selector"
      }
    },
    "com.amazonaws.medialive#AudioSelectorSettings": {
      "type": "structure",
      "members": {
        "AudioLanguageSelection": {
          "target": "com.amazonaws.medialive#AudioLanguageSelection",
          "traits": {
            "smithy.api#jsonName": "audioLanguageSelection"
          }
        },
        "AudioPidSelection": {
          "target": "com.amazonaws.medialive#AudioPidSelection",
          "traits": {
            "smithy.api#jsonName": "audioPidSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Selector Settings"
      }
    },
    "com.amazonaws.medialive#AudioType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Audio Type",
        "smithy.api#enum": [
          {
            "value": "CLEAN_EFFECTS",
            "name": "CLEAN_EFFECTS"
          },
          {
            "value": "HEARING_IMPAIRED",
            "name": "HEARING_IMPAIRED"
          },
          {
            "value": "UNDEFINED",
            "name": "UNDEFINED"
          },
          {
            "value": "VISUAL_IMPAIRED_COMMENTARY",
            "name": "VISUAL_IMPAIRED_COMMENTARY"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AuthenticationScheme": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Authentication Scheme",
        "smithy.api#enum": [
          {
            "value": "AKAMAI",
            "name": "AKAMAI"
          },
          {
            "value": "COMMON",
            "name": "COMMON"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "availBlankingImage"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#AvailBlankingState",
          "traits": {
            "smithy.api#documentation": "When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Blanking"
      }
    },
    "com.amazonaws.medialive#AvailBlankingState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Avail Blanking State",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#AvailConfiguration": {
      "type": "structure",
      "members": {
        "AvailSettings": {
          "target": "com.amazonaws.medialive#AvailSettings",
          "traits": {
            "smithy.api#documentation": "Ad avail settings.",
            "smithy.api#jsonName": "availSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Configuration"
      }
    },
    "com.amazonaws.medialive#AvailSettings": {
      "type": "structure",
      "members": {
        "Scte35SpliceInsert": {
          "target": "com.amazonaws.medialive#Scte35SpliceInsert",
          "traits": {
            "smithy.api#jsonName": "scte35SpliceInsert"
          }
        },
        "Scte35TimeSignalApos": {
          "target": "com.amazonaws.medialive#Scte35TimeSignalApos",
          "traits": {
            "smithy.api#jsonName": "scte35TimeSignalApos"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Settings"
      }
    },
    "com.amazonaws.medialive#BadGatewayException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BadGatewayException",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.medialive#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BadRequestException",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionCreateRequest": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "A list of schedule actions to create.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of schedule actions to create (in a request) or that have been created (in a response)."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionCreateResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "List of actions that have been created in the schedule.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions that have been created in the schedule."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionDeleteRequest": {
      "type": "structure",
      "members": {
        "ActionNames": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of schedule actions to delete.",
            "smithy.api#jsonName": "actionNames",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of schedule actions to delete."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionDeleteResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "List of actions that have been deleted from the schedule.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions that have been deleted from the schedule."
      }
    },
    "com.amazonaws.medialive#BatchUpdateSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#BatchUpdateScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#BatchUpdateScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Update a channel schedule",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/prod/channels/{ChannelId}/schedule",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#BatchUpdateScheduleRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Id of the channel whose schedule is being updated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Creates": {
          "target": "com.amazonaws.medialive#BatchScheduleActionCreateRequest",
          "traits": {
            "smithy.api#documentation": "Schedule actions to create in the schedule.",
            "smithy.api#jsonName": "creates"
          }
        },
        "Deletes": {
          "target": "com.amazonaws.medialive#BatchScheduleActionDeleteRequest",
          "traits": {
            "smithy.api#documentation": "Schedule actions to delete from the schedule.",
            "smithy.api#jsonName": "deletes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions to create and list of actions to delete."
      }
    },
    "com.amazonaws.medialive#BatchUpdateScheduleResponse": {
      "type": "structure",
      "members": {
        "Creates": {
          "target": "com.amazonaws.medialive#BatchScheduleActionCreateResult",
          "traits": {
            "smithy.api#documentation": "Schedule actions created in the schedule.",
            "smithy.api#jsonName": "creates"
          }
        },
        "Deletes": {
          "target": "com.amazonaws.medialive#BatchScheduleActionDeleteResult",
          "traits": {
            "smithy.api#documentation": "Schedule actions deleted from the schedule.",
            "smithy.api#jsonName": "deletes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BatchUpdateScheduleResponse"
      }
    },
    "com.amazonaws.medialive#BlackoutSlate": {
      "type": "structure",
      "members": {
        "BlackoutSlateImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "blackoutSlateImage"
          }
        },
        "NetworkEndBlackout": {
          "target": "com.amazonaws.medialive#BlackoutSlateNetworkEndBlackout",
          "traits": {
            "smithy.api#documentation": "Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the \"Network Blackout Image\" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in \"Network ID\".",
            "smithy.api#jsonName": "networkEndBlackout"
          }
        },
        "NetworkEndBlackoutImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster.",
            "smithy.api#jsonName": "networkEndBlackoutImage"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.medialive#__stringMin34Max34",
          "traits": {
            "smithy.api#documentation": "Provides Network ID that matches EIDR ID format (e.g., \"10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C\").",
            "smithy.api#jsonName": "networkId"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#BlackoutSlateState",
          "traits": {
            "smithy.api#documentation": "When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata.",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blackout Slate"
      }
    },
    "com.amazonaws.medialive#BlackoutSlateNetworkEndBlackout": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Blackout Slate Network End Blackout",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BlackoutSlateState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Blackout Slate State",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInAlignment": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Alignment",
        "smithy.api#enum": [
          {
            "value": "CENTERED",
            "name": "CENTERED"
          },
          {
            "value": "LEFT",
            "name": "LEFT"
          },
          {
            "value": "SMART",
            "name": "SMART"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInBackgroundColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Background Color",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "target": "com.amazonaws.medialive#BurnInAlignment",
          "traits": {
            "smithy.api#documentation": "If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting \"smart\" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "alignment"
          }
        },
        "BackgroundColor": {
          "target": "com.amazonaws.medialive#BurnInBackgroundColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundColor"
          }
        },
        "BackgroundOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundOpacity"
          }
        },
        "Font": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "External font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "font"
          }
        },
        "FontColor": {
          "target": "com.amazonaws.medialive#BurnInFontColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontColor"
          }
        },
        "FontOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontOpacity"
          }
        },
        "FontResolution": {
          "target": "com.amazonaws.medialive#__integerMin96Max600",
          "traits": {
            "smithy.api#documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontResolution"
          }
        },
        "FontSize": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontSize"
          }
        },
        "OutlineColor": {
          "target": "com.amazonaws.medialive#BurnInOutlineColor",
          "traits": {
            "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineColor"
          }
        },
        "OutlineSize": {
          "target": "com.amazonaws.medialive#__integerMin0Max10",
          "traits": {
            "smithy.api#documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineSize"
          }
        },
        "ShadowColor": {
          "target": "com.amazonaws.medialive#BurnInShadowColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowColor"
          }
        },
        "ShadowOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowOpacity"
          }
        },
        "ShadowXOffset": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowXOffset"
          }
        },
        "ShadowYOffset": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowYOffset"
          }
        },
        "TeletextGridControl": {
          "target": "com.amazonaws.medialive#BurnInTeletextGridControl",
          "traits": {
            "smithy.api#documentation": "Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.",
            "smithy.api#jsonName": "teletextGridControl"
          }
        },
        "XPosition": {
          "target": "com.amazonaws.medialive#__integerMin0",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "xPosition"
          }
        },
        "YPosition": {
          "target": "com.amazonaws.medialive#__integerMin0",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "yPosition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Destination Settings"
      }
    },
    "com.amazonaws.medialive#BurnInFontColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Font Color",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInOutlineColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Outline Color",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInShadowColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Shadow Color",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#BurnInTeletextGridControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Burn In Teletext Grid Control",
        "smithy.api#enum": [
          {
            "value": "FIXED",
            "name": "FIXED"
          },
          {
            "value": "SCALED",
            "name": "SCALED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#CaptionDescription": {
      "type": "structure",
      "members": {
        "CaptionSelectorName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which input caption selector to use as a caption source when generating output captions. This field should match a captionSelector name.",
            "smithy.api#jsonName": "captionSelectorName",
            "smithy.api#required": {}
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.medialive#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Additional settings for captions destination that depend on the destination type.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ISO 639-2 three-digit code: http://www.loc.gov/standards/iso639-2/",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Human readable information to indicate captions available for players (eg. English, or Spanish).",
            "smithy.api#jsonName": "languageDescription"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of the caption description.  Used to associate a caption description with an output.  Names must be unique within an event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Description"
      }
    },
    "com.amazonaws.medialive#CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "AribDestinationSettings": {
          "target": "com.amazonaws.medialive#AribDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "aribDestinationSettings"
          }
        },
        "BurnInDestinationSettings": {
          "target": "com.amazonaws.medialive#BurnInDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "burnInDestinationSettings"
          }
        },
        "DvbSubDestinationSettings": {
          "target": "com.amazonaws.medialive#DvbSubDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "dvbSubDestinationSettings"
          }
        },
        "EmbeddedDestinationSettings": {
          "target": "com.amazonaws.medialive#EmbeddedDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "embeddedDestinationSettings"
          }
        },
        "EmbeddedPlusScte20DestinationSettings": {
          "target": "com.amazonaws.medialive#EmbeddedPlusScte20DestinationSettings",
          "traits": {
            "smithy.api#jsonName": "embeddedPlusScte20DestinationSettings"
          }
        },
        "RtmpCaptionInfoDestinationSettings": {
          "target": "com.amazonaws.medialive#RtmpCaptionInfoDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "rtmpCaptionInfoDestinationSettings"
          }
        },
        "Scte20PlusEmbeddedDestinationSettings": {
          "target": "com.amazonaws.medialive#Scte20PlusEmbeddedDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "scte20PlusEmbeddedDestinationSettings"
          }
        },
        "Scte27DestinationSettings": {
          "target": "com.amazonaws.medialive#Scte27DestinationSettings",
          "traits": {
            "smithy.api#jsonName": "scte27DestinationSettings"
          }
        },
        "SmpteTtDestinationSettings": {
          "target": "com.amazonaws.medialive#SmpteTtDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "smpteTtDestinationSettings"
          }
        },
        "TeletextDestinationSettings": {
          "target": "com.amazonaws.medialive#TeletextDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "teletextDestinationSettings"
          }
        },
        "TtmlDestinationSettings": {
          "target": "com.amazonaws.medialive#TtmlDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "ttmlDestinationSettings"
          }
        },
        "WebvttDestinationSettings": {
          "target": "com.amazonaws.medialive#WebvttDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "webvttDestinationSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Destination Settings"
      }
    },
    "com.amazonaws.medialive#CaptionLanguageMapping": {
      "type": "structure",
      "members": {
        "CaptionChannel": {
          "target": "com.amazonaws.medialive#__integerMin1Max4",
          "traits": {
            "smithy.api#documentation": "The closed caption channel being described by this CaptionLanguageMapping.  Each channel mapping must have a unique channel number (maximum of 4)",
            "smithy.api#jsonName": "captionChannel",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__stringMin3Max3",
          "traits": {
            "smithy.api#documentation": "Three character ISO 639-2 language code (see http://www.loc.gov/standards/iso639-2)",
            "smithy.api#jsonName": "languageCode",
            "smithy.api#required": {}
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Textual description of language",
            "smithy.api#jsonName": "languageDescription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps a caption channel to an ISO 693-2 language code (http://www.loc.gov/standards/iso639-2), with an optional description."
      }
    },
    "com.amazonaws.medialive#CaptionSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "When specified this field indicates the three letter language code of the caption track to extract from the source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name identifier for a caption selector.  This name is used to associate this caption selector with one or more caption descriptions.  Names must be unique within an event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SelectorSettings": {
          "target": "com.amazonaws.medialive#CaptionSelectorSettings",
          "traits": {
            "smithy.api#documentation": "Caption selector settings.",
            "smithy.api#jsonName": "selectorSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output groups for this Live Event. Output groups contain information about where streams should be distributed."
      }
    },
    "com.amazonaws.medialive#CaptionSelectorSettings": {
      "type": "structure",
      "members": {
        "AribSourceSettings": {
          "target": "com.amazonaws.medialive#AribSourceSettings",
          "traits": {
            "smithy.api#jsonName": "aribSourceSettings"
          }
        },
        "DvbSubSourceSettings": {
          "target": "com.amazonaws.medialive#DvbSubSourceSettings",
          "traits": {
            "smithy.api#jsonName": "dvbSubSourceSettings"
          }
        },
        "EmbeddedSourceSettings": {
          "target": "com.amazonaws.medialive#EmbeddedSourceSettings",
          "traits": {
            "smithy.api#jsonName": "embeddedSourceSettings"
          }
        },
        "Scte20SourceSettings": {
          "target": "com.amazonaws.medialive#Scte20SourceSettings",
          "traits": {
            "smithy.api#jsonName": "scte20SourceSettings"
          }
        },
        "Scte27SourceSettings": {
          "target": "com.amazonaws.medialive#Scte27SourceSettings",
          "traits": {
            "smithy.api#jsonName": "scte27SourceSettings"
          }
        },
        "TeletextSourceSettings": {
          "target": "com.amazonaws.medialive#TeletextSourceSettings",
          "traits": {
            "smithy.api#jsonName": "teletextSourceSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Selector Settings"
      }
    },
    "com.amazonaws.medialive#Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique arn of the channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelClass": {
          "target": "com.amazonaws.medialive#ChannelClass",
          "traits": {
            "smithy.api#documentation": "The class for this channel. STANDARD for a channel with two pipelines or SINGLE_PIPELINE for a channel with one pipeline.",
            "smithy.api#jsonName": "channelClass"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.medialive#__listOfOutputDestination",
          "traits": {
            "smithy.api#documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.",
            "smithy.api#jsonName": "destinations"
          }
        },
        "EgressEndpoints": {
          "target": "com.amazonaws.medialive#__listOfChannelEgressEndpoint",
          "traits": {
            "smithy.api#documentation": "The endpoints where outgoing connections initiate from",
            "smithy.api#jsonName": "egressEndpoints"
          }
        },
        "EncoderSettings": {
          "target": "com.amazonaws.medialive#EncoderSettings",
          "traits": {
            "smithy.api#jsonName": "encoderSettings"
          }
        },
        "Id": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique id of the channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "InputAttachments": {
          "target": "com.amazonaws.medialive#__listOfInputAttachment",
          "traits": {
            "smithy.api#documentation": "List of input attachments for channel.",
            "smithy.api#jsonName": "inputAttachments"
          }
        },
        "InputSpecification": {
          "target": "com.amazonaws.medialive#InputSpecification",
          "traits": {
            "smithy.api#jsonName": "inputSpecification"
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.medialive#LogLevel",
          "traits": {
            "smithy.api#documentation": "The log level being written to CloudWatch Logs.",
            "smithy.api#jsonName": "logLevel"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the channel. (user-mutable)",
            "smithy.api#jsonName": "name"
          }
        },
        "PipelineDetails": {
          "target": "com.amazonaws.medialive#__listOfPipelineDetail",
          "traits": {
            "smithy.api#documentation": "Runtime details for the pipelines of a running channel.",
            "smithy.api#jsonName": "pipelineDetails"
          }
        },
        "PipelinesRunningCount": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#documentation": "The number of currently healthy pipelines.",
            "smithy.api#jsonName": "pipelinesRunningCount"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel.",
            "smithy.api#jsonName": "roleArn"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#ChannelState",
          "traits": {
            "smithy.api#jsonName": "state"
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for Channel"
      }
    },
    "com.amazonaws.medialive#ChannelClass": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "A standard channel has two encoding pipelines and a single pipeline channel only has one.",
        "smithy.api#enum": [
          {
            "value": "STANDARD",
            "name": "STANDARD"
          },
          {
            "value": "SINGLE_PIPELINE",
            "name": "SINGLE_PIPELINE"
          }
        ]
      }
    },
    "com.amazonaws.medialive#ChannelEgressEndpoint": {
      "type": "structure",
      "members": {
        "SourceIp": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Public IP of where a channel's output comes from",
            "smithy.api#jsonName": "sourceIp"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for ChannelEgressEndpoint"
      }
    },
    "com.amazonaws.medialive#ChannelState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for ChannelState",
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "IDLE",
            "name": "IDLE"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "RECOVERING",
            "name": "RECOVERING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.medialive#ChannelSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique arn of the channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelClass": {
          "target": "com.amazonaws.medialive#ChannelClass",
          "traits": {
            "smithy.api#documentation": "The class for this channel. STANDARD for a channel with two pipelines or SINGLE_PIPELINE for a channel with one pipeline.",
            "smithy.api#jsonName": "channelClass"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.medialive#__listOfOutputDestination",
          "traits": {
            "smithy.api#documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.",
            "smithy.api#jsonName": "destinations"
          }
        },
        "EgressEndpoints": {
          "target": "com.amazonaws.medialive#__listOfChannelEgressEndpoint",
          "traits": {
            "smithy.api#documentation": "The endpoints where outgoing connections initiate from",
            "smithy.api#jsonName": "egressEndpoints"
          }
        },
        "Id": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique id of the channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "InputAttachments": {
          "target": "com.amazonaws.medialive#__listOfInputAttachment",
          "traits": {
            "smithy.api#documentation": "List of input attachments for channel.",
            "smithy.api#jsonName": "inputAttachments"
          }
        },
        "InputSpecification": {
          "target": "com.amazonaws.medialive#InputSpecification",
          "traits": {
            "smithy.api#jsonName": "inputSpecification"
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.medialive#LogLevel",
          "traits": {
            "smithy.api#documentation": "The log level being written to CloudWatch Logs.",
            "smithy.api#jsonName": "logLevel"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the channel. (user-mutable)",
            "smithy.api#jsonName": "name"
          }
        },
        "PipelinesRunningCount": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#documentation": "The number of currently healthy pipelines.",
            "smithy.api#jsonName": "pipelinesRunningCount"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the role assumed when running the Channel.",
            "smithy.api#jsonName": "roleArn"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#ChannelState",
          "traits": {
            "smithy.api#jsonName": "state"
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for ChannelSummary"
      }
    },
    "com.amazonaws.medialive#ColorSpacePassthroughSettings": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Passthrough applies no color space conversion to the output"
      }
    },
    "com.amazonaws.medialive#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for ConflictException",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.medialive#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new channel",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/channels",
          "code": 201
        }
      }
    },
    "com.amazonaws.medialive#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelClass": {
          "target": "com.amazonaws.medialive#ChannelClass",
          "traits": {
            "smithy.api#documentation": "The class for this channel. STANDARD for a channel with two pipelines or SINGLE_PIPELINE for a channel with one pipeline.",
            "smithy.api#jsonName": "channelClass"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.medialive#__listOfOutputDestination",
          "traits": {
            "smithy.api#jsonName": "destinations"
          }
        },
        "EncoderSettings": {
          "target": "com.amazonaws.medialive#EncoderSettings",
          "traits": {
            "smithy.api#jsonName": "encoderSettings"
          }
        },
        "InputAttachments": {
          "target": "com.amazonaws.medialive#__listOfInputAttachment",
          "traits": {
            "smithy.api#documentation": "List of input attachments for channel.",
            "smithy.api#jsonName": "inputAttachments"
          }
        },
        "InputSpecification": {
          "target": "com.amazonaws.medialive#InputSpecification",
          "traits": {
            "smithy.api#documentation": "Specification of input for this channel (max. bitrate, resolution, codec, etc.)",
            "smithy.api#jsonName": "inputSpecification"
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.medialive#LogLevel",
          "traits": {
            "smithy.api#documentation": "The log level to write to CloudWatch Logs.",
            "smithy.api#jsonName": "logLevel"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of channel.",
            "smithy.api#jsonName": "name"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Unique request ID to be specified. This is needed to prevent retries from\ncreating multiple resources.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "requestId"
          }
        },
        "Reserved": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "Deprecated field that's only usable by whitelisted customers.",
            "smithy.api#jsonName": "reserved"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "An optional Amazon Resource Name (ARN) of the role to assume when running the Channel.",
            "smithy.api#jsonName": "roleArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to create a channel"
      }
    },
    "com.amazonaws.medialive#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Channel": {
          "target": "com.amazonaws.medialive#Channel",
          "traits": {
            "smithy.api#jsonName": "channel"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateChannelResponse"
      }
    },
    "com.amazonaws.medialive#CreateInput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateInputRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CreateInputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create an input",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/inputs",
          "code": 201
        }
      }
    },
    "com.amazonaws.medialive#CreateInputRequest": {
      "type": "structure",
      "members": {
        "Destinations": {
          "target": "com.amazonaws.medialive#__listOfInputDestinationRequest",
          "traits": {
            "smithy.api#documentation": "Destination settings for PUSH type inputs.",
            "smithy.api#jsonName": "destinations"
          }
        },
        "InputSecurityGroups": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of security groups referenced by IDs to attach to the input.",
            "smithy.api#jsonName": "inputSecurityGroups"
          }
        },
        "MediaConnectFlows": {
          "target": "com.amazonaws.medialive#__listOfMediaConnectFlowRequest",
          "traits": {
            "smithy.api#documentation": "A list of the MediaConnect Flows that you want to use in this input. You can specify as few as one\nFlow and presently, as many as two. The only requirement is when you have more than one is that each Flow is in a\nseparate Availability Zone as this ensures your EML input is redundant to AZ issues.",
            "smithy.api#jsonName": "mediaConnectFlows"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of the input.",
            "smithy.api#jsonName": "name"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Unique identifier of the request to ensure the request is handled\nexactly once in case of retries.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "requestId"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the role this input assumes during and after creation.",
            "smithy.api#jsonName": "roleArn"
          }
        },
        "Sources": {
          "target": "com.amazonaws.medialive#__listOfInputSourceRequest",
          "traits": {
            "smithy.api#documentation": "The source URLs for a PULL-type input. Every PULL type input needs\nexactly two source URLs for redundancy.\nOnly specify sources for PULL type Inputs. Leave Destinations empty.",
            "smithy.api#jsonName": "sources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.medialive#InputType",
          "traits": {
            "smithy.api#jsonName": "type"
          }
        },
        "Vpc": {
          "target": "com.amazonaws.medialive#InputVpcRequest",
          "traits": {
            "smithy.api#jsonName": "vpc"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The name of the input"
      }
    },
    "com.amazonaws.medialive#CreateInputResponse": {
      "type": "structure",
      "members": {
        "Input": {
          "target": "com.amazonaws.medialive#Input",
          "traits": {
            "smithy.api#jsonName": "input"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateInputResponse"
      }
    },
    "com.amazonaws.medialive#CreateInputSecurityGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateInputSecurityGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CreateInputSecurityGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a Input Security Group",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/inputSecurityGroups",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#CreateInputSecurityGroupRequest": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        },
        "WhitelistRules": {
          "target": "com.amazonaws.medialive#__listOfInputWhitelistRuleCidr",
          "traits": {
            "smithy.api#documentation": "List of IPv4 CIDR addresses to whitelist",
            "smithy.api#jsonName": "whitelistRules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The IPv4 CIDRs to whitelist for this Input Security Group"
      }
    },
    "com.amazonaws.medialive#CreateInputSecurityGroupResponse": {
      "type": "structure",
      "members": {
        "SecurityGroup": {
          "target": "com.amazonaws.medialive#InputSecurityGroup",
          "traits": {
            "smithy.api#jsonName": "securityGroup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateInputSecurityGroupResponse"
      }
    },
    "com.amazonaws.medialive#CreateMultiplex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateMultiplexRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CreateMultiplexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create a new multiplex.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/multiplexes",
          "code": 201
        }
      }
    },
    "com.amazonaws.medialive#CreateMultiplexProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateMultiplexProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CreateMultiplexProgramResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create a new program in the multiplex.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/multiplexes/{MultiplexId}/programs",
          "code": 201
        }
      }
    },
    "com.amazonaws.medialive#CreateMultiplexProgramRequest": {
      "type": "structure",
      "members": {
        "MultiplexId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ID of the multiplex where the program is to be created.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MultiplexProgramSettings": {
          "target": "com.amazonaws.medialive#MultiplexProgramSettings",
          "traits": {
            "smithy.api#documentation": "The settings for this multiplex program.",
            "smithy.api#jsonName": "multiplexProgramSettings",
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of multiplex program.",
            "smithy.api#jsonName": "programName",
            "smithy.api#required": {}
          }
        },
        "RequestId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Unique request ID. This prevents retries from creating multiple\nresources.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "requestId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to create a program in a multiplex."
      }
    },
    "com.amazonaws.medialive#CreateMultiplexProgramResponse": {
      "type": "structure",
      "members": {
        "MultiplexProgram": {
          "target": "com.amazonaws.medialive#MultiplexProgram",
          "traits": {
            "smithy.api#documentation": "The newly created multiplex program.",
            "smithy.api#jsonName": "multiplexProgram"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateMultiplexProgramResponse"
      }
    },
    "com.amazonaws.medialive#CreateMultiplexRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of availability zones for the multiplex. You must specify exactly two.",
            "smithy.api#jsonName": "availabilityZones",
            "smithy.api#required": {}
          }
        },
        "MultiplexSettings": {
          "target": "com.amazonaws.medialive#MultiplexSettings",
          "traits": {
            "smithy.api#documentation": "Configuration for a multiplex event.",
            "smithy.api#jsonName": "multiplexSettings",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of multiplex.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "RequestId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Unique request ID. This prevents retries from creating multiple\nresources.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "requestId",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#documentation": "A collection of key-value pairs.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to create a multiplex."
      }
    },
    "com.amazonaws.medialive#CreateMultiplexResponse": {
      "type": "structure",
      "members": {
        "Multiplex": {
          "target": "com.amazonaws.medialive#Multiplex",
          "traits": {
            "smithy.api#documentation": "The newly created multiplex.",
            "smithy.api#jsonName": "multiplex"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateMultiplexResponse"
      }
    },
    "com.amazonaws.medialive#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CreateTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create tags for a resource",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.medialive#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.medialive#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CreateTagsRequest"
      }
    },
    "com.amazonaws.medialive#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#DeleteChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#DeleteChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Starts deletion of channel. The associated outputs are also deleted.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/prod/channels/{ChannelId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Unique ID of the channel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for DeleteChannelRequest"
      }
    },
    "com.amazonaws.medialive#DeleteChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique arn of the channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelClass": {
          "target": "com.amazonaws.medialive#ChannelClass",
          "traits": {
            "smithy.api#documentation": "The class for this channel. STANDARD for a channel with two pipelines or SINGLE_PIPELINE for a channel with one pipeline.",
            "smithy.api#jsonName": "channelClass"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.medialive#__listOfOutputDestination",
          "traits": {
            "smithy.api#documentation": "A list of destinations of the channel. For UDP outputs, there is one\ndestination per output. For other types (HLS, for example), there is\none destination per packager.",
            "smithy.api#jsonName": "destinations"
          }
        },
        "EgressEndpoints": {
          "target": "com.amazonaws.medialive#__listOfChannelEgressEndpoint",
          "traits": {
            "smithy.api#documentation": "The endpoints where outgoing connections initiate from",
            "smithy.api#jsonName": "egressEndpoints"
          }
        },
        "EncoderSettings": {
          "target": "com.amazonaws.medialive#EncoderSettings",
          "traits": {
            "smithy.api#jsonName": "encoderSettings"
          }
        },
        "Id": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique id of the channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "InputAttachments": {
          "target": "com.amazonaws.medialive#__listOfInputAttachment",
          "traits": {
            "smithy.api#documentation": "List of input attachments for channel.",
            "smithy.api#jsonName": "inputAttachments"
          }
        },
        "InputSpecification": {
          "target": "com.amazonaws.medialive#InputSpecification",
          "traits": {
            "smithy.api#jsonName": "inputSpecification"
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.medialive#LogLevel",
          "traits": {
            "smithy.api#documentation": "The log level being written to CloudWatch Logs.",
            "smithy.api#jsonName": "logLevel"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the channel. (user-mutable)",
[...]
