{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.mediatailor#AccessConfiguration": {
      "type": "structure",
      "members": {
        "AccessType": {
          "target": "com.amazonaws.mediatailor#AccessType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to access content from <code>HttpConfiguration::BaseUrl</code> on your source location. Accepted value: <code>S3_SIGV4</code>.</p>\n         <p>\n            <code>S3_SIGV4</code> - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p>\n         <p>Before you can use <code>S3_SIGV4</code>, you must meet these requirements:</p>\n         <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p>\n         <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p>\n         <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>"
          }
        },
        "SecretsManagerAccessTokenConfiguration": {
          "target": "com.amazonaws.mediatailor#SecretsManagerAccessTokenConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>AWS Secrets Manager access token configuration parameters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AccessType": {
      "type": "enum",
      "members": {
        "S3_SIGV4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3_SIGV4"
          }
        },
        "SECRETS_MANAGER_ACCESS_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECRETS_MANAGER_ACCESS_TOKEN"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#AdBreak": {
      "type": "structure",
      "members": {
        "MessageType": {
          "target": "com.amazonaws.mediatailor#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The SCTE-35 ad insertion type. Accepted value: <code>SPLICE_INSERT</code>, <code>TIME_SIGNAL</code>.</p>"
          }
        },
        "OffsetMillis": {
          "target": "com.amazonaws.mediatailor#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>"
          }
        },
        "Slate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Ad break slate configuration.</p>"
          }
        },
        "SpliceInsertMessage": {
          "target": "com.amazonaws.mediatailor#SpliceInsertMessage",
          "traits": {
            "smithy.api#documentation": "<p>This defines the SCTE-35 <code>splice_insert()</code> message inserted around the ad. For information about using <code>splice_insert()</code>, see the SCTE-35 specficiaiton, section 9.7.3.1.</p>"
          }
        },
        "TimeSignalMessage": {
          "target": "com.amazonaws.mediatailor#TimeSignalMessage",
          "traits": {
            "smithy.api#documentation": "<p>Defines the SCTE-35 <code>time_signal</code> message inserted around the ad.</p>\n         <p>Programs on a channel's schedule can be configured with one or more ad breaks. You can attach a <code>splice_insert</code> SCTE-35 message to the ad break. This message provides basic metadata about the ad break.</p>\n         <p>See section 9.7.4 of the 2022 SCTE-35 specification for more information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ad break configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AdMarkerPassthrough": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.mediatailor#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Enables ad marker passthrough for your configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For HLS, when set to <code>true</code>, MediaTailor passes through <code>EXT-X-CUE-IN</code>, <code>EXT-X-CUE-OUT</code>, and <code>EXT-X-SPLICEPOINT-SCTE35</code> ad markers from the origin manifest to the MediaTailor personalized manifest.</p>\n         <p>No logic is applied to these ad markers. For example, if <code>EXT-X-CUE-OUT</code> has a value of <code>60</code>, but no ads are filled for that ad break, MediaTailor will not set the value to <code>0</code>.</p>"
      }
    },
    "com.amazonaws.mediatailor#Alert": {
      "type": "structure",
      "members": {
        "AlertCode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The code for the alert. For example, <code>NOT_PROCESSED</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AlertMessage": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>If an alert is generated for a resource, an explanation of the reason for the alert.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the alert was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "RelatedResourceArns": {
          "target": "com.amazonaws.mediatailor#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) related to this alert.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Alert configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AvailMatchingCriteria": {
      "type": "structure",
      "members": {
        "DynamicVariable": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The dynamic variable(s) that MediaTailor should use as avail matching criteria. MediaTailor only places the prefetched ads into the avail if the avail matches the criteria defined by the dynamic variable. For information about dynamic variables, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/variables.html\">Using dynamic ad variables</a> in the <i>MediaTailor User Guide</i>.</p>\n         <p>You can include up to 100 dynamic variables.</p>",
            "smithy.api#required": {}
          }
        },
        "Operator": {
          "target": "com.amazonaws.mediatailor#Operator",
          "traits": {
            "smithy.api#documentation": "<p>For the <code>DynamicVariable</code> specified in <code>AvailMatchingCriteria</code>, the Operator that is used for the comparison.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>MediaTailor only places (consumes) prefetched ads if the ad break meets the criteria defined by the dynamic variables. This gives you granular control over which ad break to place the prefetched ads into.</p>\n         <p>As an example, let's say that you set <code>DynamicVariable</code> to <code>scte.event_id</code> and <code>Operator</code> to <code>EQUALS</code>, and your playback configuration has an ADS URL of <code>https://my.ads.server.com/path?&amp;podId=[scte.avail_num]&amp;event=[scte.event_id]&amp;duration=[session.avail_duration_secs]</code>. And the prefetch request to the ADS contains these values <code>https://my.ads.server.com/path?&amp;podId=3&amp;event=my-awesome-event&amp;duration=30</code>. MediaTailor will only insert the prefetched ads into the ad break if has a SCTE marker with an event id of <code>my-awesome-event</code>, since it must match the event id that MediaTailor uses to query the ADS.</p>\n         <p>You can specify up to five <code>AvailMatchingCriteria</code>. If you specify multiple <code>AvailMatchingCriteria</code>, MediaTailor combines them to match using a logical <code>AND</code>. You can model logical <code>OR</code> combinations by creating multiple prefetch schedules.</p>"
      }
    },
    "com.amazonaws.mediatailor#AvailSuppression": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediatailor#Mode",
          "traits": {
            "smithy.api#documentation": "<p>Sets the ad suppression mode. By default, ad suppression is off and all ad breaks are filled with ads or slate. When Mode is set to <code>BEHIND_LIVE_EDGE</code>, ad suppression is active and MediaTailor won't fill ad breaks on or behind the ad suppression Value time in the manifest lookback window.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A live edge offset time in HH:MM:SS. MediaTailor won't fill ad breaks on or behind this time in the manifest lookback window. If Value is set to 00:00:00, it is in sync with the live edge, and MediaTailor won't fill any ad breaks on or behind the live edge. If you set a Value time, MediaTailor won't fill any ad breaks on or behind this time in the manifest lookback window. For example, if you set 00:45:00, then MediaTailor will fill ad breaks that occur within 45 minutes behind the live edge, but won't fill ad breaks on or behind 45 minutes behind the live edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
      }
    },
    "com.amazonaws.mediatailor#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediatailor#__string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request contains unexpected data.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediatailor#Bumper": {
      "type": "structure",
      "members": {
        "EndUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the end bumper asset.</p>"
          }
        },
        "StartUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the start bumper asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
      }
    },
    "com.amazonaws.mediatailor#CdnConfiguration": {
      "type": "structure",
      "members": {
        "AdSegmentUrlPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the origin ads.mediatailor.<i>&lt;region&gt;</i>.amazonaws.com. Then specify the rule's name in this <code>AdSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.</p>"
          }
        },
        "ContentSegmentUrlPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule's name in this <code>ContentSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
      }
    },
    "com.amazonaws.mediatailor#Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Returns the state whether the channel is running or not.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code>\n            <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code>\n            <code>PlaybackMode</code>.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of playback mode for this channel.</p>\n         <p>\n            <code>LINEAR</code> - Programs play back-to-back only once.</p>\n         <p>\n            <code>LOOP</code> - Programs play back-to-back in an endless loop. When the last program in the schedule plays, playback loops back to the first program in the schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Tier": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The tier for this channel. STANDARD tier channels can contain live programs.</p>",
            "smithy.api#required": {}
          }
        },
        "LogConfiguration": {
          "target": "com.amazonaws.mediatailor#LogConfigurationForChannel",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration parameters for a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.mediatailor#ChannelResource"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#ChannelPolicy": {
      "type": "resource",
      "identifiers": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string"
        }
      },
      "put": {
        "target": "com.amazonaws.mediatailor#PutChannelPolicy"
      },
      "read": {
        "target": "com.amazonaws.mediatailor#GetChannelPolicy"
      },
      "delete": {
        "target": "com.amazonaws.mediatailor#DeleteChannelPolicy"
      },
      "traits": {
        "aws.api#arn": {
          "template": "channel/{ChannelName}"
        }
      }
    },
    "com.amazonaws.mediatailor#ChannelResource": {
      "type": "resource",
      "identifiers": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string"
        }
      },
      "put": {
        "target": "com.amazonaws.mediatailor#CreateChannel"
      },
      "read": {
        "target": "com.amazonaws.mediatailor#DescribeChannel"
      },
      "update": {
        "target": "com.amazonaws.mediatailor#UpdateChannel"
      },
      "delete": {
        "target": "com.amazonaws.mediatailor#DeleteChannel"
      },
      "list": {
        "target": "com.amazonaws.mediatailor#ListChannels"
      },
      "operations": [
        {
          "target": "com.amazonaws.mediatailor#ConfigureLogsForChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#CreateChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#GetChannelSchedule"
        },
        {
          "target": "com.amazonaws.mediatailor#StartChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#StopChannel"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.mediatailor#ChannelPolicy"
        },
        {
          "target": "com.amazonaws.mediatailor#ProgramResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "channel/{ChannelName}"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.mediatailor#ChannelState": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "STOPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOPPED"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ConfigurationAliasesRequest": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mediatailor#__string",
        "traits": {
          "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
        }
      },
      "value": {
        "target": "com.amazonaws.mediatailor#__mapOf__string",
        "traits": {
          "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
      }
    },
    "com.amazonaws.mediatailor#ConfigurationAliasesResponse": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mediatailor#__string",
        "traits": {
          "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
        }
      },
      "value": {
        "target": "com.amazonaws.mediatailor#__mapOf__string",
        "traits": {
          "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ConfigureLogsForChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ConfigureLogsForChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures Amazon CloudWatch log settings for a channel.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/configureLogs/channel",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "LogTypes": {
          "target": "com.amazonaws.mediatailor#LogTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of logs to collect.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForChannelResponse": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "LogTypes": {
          "target": "com.amazonaws.mediatailor#LogTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of logs collected.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon CloudWatch log settings for a playback configuration.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/configureLogs/playbackConfiguration",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationRequest": {
      "type": "structure",
      "members": {
        "PercentEnabled": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of session logs that MediaTailor sends to your Cloudwatch Logs account. For example, if your playback configuration has 1000 sessions and percentEnabled is set to <code>60</code>, MediaTailor sends logs for 600 of the sessions to CloudWatch Logs. MediaTailor decides at random which of the playback configuration sessions to send logs for. If you want to view logs for a specific session, you can use the <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/debug-log-mode.html\">debug log mode</a>.</p>\n         <p>Valid values: <code>0</code> - <code>100</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackConfigurationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the playback configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures Amazon CloudWatch log settings for a playback configuration.</p>"
      }
    },
    "com.amazonaws.mediatailor#ConfigureLogsForPlaybackConfigurationResponse": {
      "type": "structure",
      "members": {
        "PercentEnabled": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of session logs that MediaTailor sends to your Cloudwatch Logs account.</p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackConfigurationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the playback configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channel/{ChannelName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code>\n            <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code>\n            <code>PlaybackMode</code>.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#RequestOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#PlaybackMode",
          "traits": {
            "smithy.api#documentation": "<p>The type of playback mode to use for this channel.</p>\n         <p>\n            <code>LINEAR</code> - The programs in the schedule play once back-to-back in the schedule.</p>\n         <p>\n            <code>LOOP</code> - The programs in the schedule play back-to-back in an endless loop. When the last program in the schedule stops playing, playback loops back to the first program in the schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Tier": {
          "target": "com.amazonaws.mediatailor#Tier",
          "traits": {
            "smithy.api#documentation": "<p>The tier of the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) to assign to the channel.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the channel.</p>"
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#ChannelState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the channel is in a running state or not.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The output properties to assign to the channel.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The playback mode to assign to the channel.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Tier": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The tier of the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateLiveSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateLiveSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateLiveSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The live source configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreateLiveSourceRequest": {
      "type": "structure",
      "members": {
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this live source.</p>",
            "smithy.api#required": {}
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the live source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateLiveSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to assign to the live source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the live source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this live source.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the live source was last modified.</p>"
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the live source.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the source location of the live source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreatePrefetchSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreatePrefetchScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreatePrefetchScheduleResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a prefetch schedule for a playback configuration. A prefetch schedule allows you to tell MediaTailor to fetch and prepare certain ads before an ad break happens. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreatePrefetchScheduleRequest": {
      "type": "structure",
      "members": {
        "Consumption": {
          "target": "com.amazonaws.mediatailor#PrefetchConsumption",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for MediaTailor's <i>consumption</i> of the prefetched ads from the ad decision server. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the schedule request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PlaybackConfigurationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the playback configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Retrieval": {
          "target": "com.amazonaws.mediatailor#PrefetchRetrieval",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreatePrefetchScheduleResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to assign to the prefetch schedule.</p>"
          }
        },
        "Consumption": {
          "target": "com.amazonaws.mediatailor#PrefetchConsumption",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for MediaTailor's <i>consumption</i> of the prefetched ads from the ad decision server. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the prefetch schedule.</p>"
          }
        },
        "PlaybackConfigurationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the playback configuration.</p>"
          }
        },
        "Retrieval": {
          "target": "com.amazonaws.mediatailor#PrefetchRetrieval",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreateProgramRequest": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel for this Program.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the LiveSource for this Program.</p>"
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Program.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.mediatailor#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The schedule configuration settings.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>",
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateProgramResponse": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to assign to the program.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the channel for this program.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the program was created.</p>"
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the LiveSource for this Program.</p>"
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to this program.</p>"
          }
        },
        "ScheduledStartTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The scheduled start time for this Program.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the source location for this program.</p>"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocationRequest": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The optional configuration for the server that serves segments.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source's HTTP package configurations.</p>",
            "smithy.api#required": {}
          }
        },
        "SegmentDeliveryConfigurations": {
          "target": "com.amazonaws.mediatailor#__listOfSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A list of the segment delivery configurations associated with this resource.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name associated with the source location.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocationResponse": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to assign to the source location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the source location was created.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The optional configuration for the server that serves segments.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source's HTTP package configurations.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the source location was last modified.</p>"
          }
        },
        "SegmentDeliveryConfigurations": {
          "target": "com.amazonaws.mediatailor#__listOfSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The segment delivery configurations for the source location. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the source location.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The VOD source configuration parameters.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#CreateVodSourceRequest": {
      "type": "structure",
      "members": {
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this VOD source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location for this VOD source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name associated with the VOD source.&gt;</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateVodSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to assign to this VOD source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the VOD source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of HTTP package configuration parameters for this VOD source.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The time the VOD source was last modified.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the source location for this VOD source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name to assign to the VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DashConfiguration": {
      "type": "structure",
      "members": {
        "ManifestEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations.</p>"
          }
        },
        "MpdLocation": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are <code>DISABLED</code> and <code>EMT_DEFAULT</code>. The <code>EMT_DEFAULT</code> setting enables the inclusion of the tag and is the default value.</p>"
          }
        },
        "OriginManifestType": {
          "target": "com.amazonaws.mediatailor#OriginManifestType",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to <code>SINGLE_PERIOD</code>. The default setting is <code>MULTI_PERIOD</code>. For multi-period manifests, omit this setting or set it to <code>MULTI_PERIOD</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for DASH content.</p>"
      }
    },
    "com.amazonaws.mediatailor#DashConfigurationForPut": {
      "type": "structure",
      "members": {
        "MpdLocation": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are <code>DISABLED</code> and <code>EMT_DEFAULT</code>. The <code>EMT_DEFAULT</code> setting enables the inclusion of the tag and is the default value.</p>"
          }
        },
        "OriginManifestType": {
          "target": "com.amazonaws.mediatailor#OriginManifestType",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to <code>SINGLE_PERIOD</code>. The default setting is <code>MULTI_PERIOD</code>. For multi-period manifests, omit this setting or set it to <code>MULTI_PERIOD</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for DASH PUT operations.</p>"
      }
    },
    "com.amazonaws.mediatailor#DashPlaylistSettings": {
      "type": "structure",
      "members": {
        "ManifestWindowSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total duration (in seconds) of each manifest. Minimum value: <code>30</code> seconds. Maximum value: <code>3600</code> seconds.</p>"
          }
        },
        "MinBufferTimeSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Minimum amount of content (measured in seconds) that a player must keep available in the buffer. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
          }
        },
        "MinUpdatePeriodSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Minimum amount of time (in seconds) that the player should wait before requesting updates to the manifest. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
          }
        },
        "SuggestedPresentationDelaySeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Amount of time (in seconds) that the player should be from the live point at the end of the manifest. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dash manifest configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration": {
      "type": "structure",
      "members": {
        "BaseUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the server that will be used to serve segments. This string must include the protocol, such as <b>https://</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional configuration for a server that serves segments. Use this if you want the segment delivery server to be different from the source location server. For example, you can configure your source location server to be an origination server, such as MediaPackage, and the segment delivery server to be a content delivery network (CDN), such as CloudFront. If you don't specify a segment delivery server, then the source location server is used.</p>"
      }
    },
    "com.amazonaws.mediatailor#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteChannelPolicyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The channel policy to delete.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}/policy",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel associated with this channel policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteLiveSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteLiveSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteLiveSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The live source to delete.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteLiveSourceRequest": {
      "type": "structure",
      "members": {
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the live source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with this Live Source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteLiveSourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeletePlaybackConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeletePlaybackConfigurationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a playback configuration. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/playbackConfiguration/{Name}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfigurationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the playback configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeletePrefetchSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeletePrefetchScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeletePrefetchScheduleResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a prefetch schedule for a specific playback configuration. If you call <code>DeletePrefetchSchedule</code> on an expired prefetch schedule, MediaTailor returns an HTTP 404 status code. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeletePrefetchScheduleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the prefetch schedule. If the action is successful, the service sends back an HTTP 204 response with an empty HTTP body.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PlaybackConfigurationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the playback configuration for this prefetch schedule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeletePrefetchScheduleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteProgramRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the program.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteProgramResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteSourceLocationRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteSourceLocationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The video on demand (VOD) source to delete.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediatailor#DeleteVodSourceRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with this VOD Source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VOD source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteVodSourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DescribeChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#DescribeChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#ChannelState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the channel is in a running state or not.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The channel's playback mode.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Tier": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The channel's tier.</p>"
          }
        },
        "LogConfiguration": {
          "target": "com.amazonaws.mediatailor#LogConfigurationForChannel",
          "traits": {
            "smithy.api#documentation": "<p>The log configuration for the channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeLiveSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeLiveSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeLiveSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>The live source to describe.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#DescribeLiveSourceRequest": {
      "type": "structure",
      "members": {
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the live source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with this Live Source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeLiveSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the live source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the live source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configurations.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the live source was modified.</p>"
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the live source.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with the live source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#DescribeProgramRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel associated with this Program.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the program.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeProgramResponse": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the program.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel that the program belongs to.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the program was created.</p>"
          }
        },
        "LiveSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the LiveSource for this Program.</p>"
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the program.</p>"
          }
        },
        "ScheduledStartTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the program is scheduled to start in ISO 8601 format and Coordinated Universal Time (UTC). For example, the value 2021-03-27T17:48:16.751Z represents March 27, 2021 at 17:48:16.751 UTC.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The source location name.</p>"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocationRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocationResponse": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access configuration for the source location.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was created.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The default segment delivery configuration settings.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configuration settings for the source location.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was last modified.</p>"
          }
        },
        "SegmentDeliveryConfigurations": {
          "target": "com.amazonaws.mediatailor#__listOfSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A list of the segment delivery configurations associated with this resource.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about a specific video on demand (VOD) source in a specific source location.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSourceRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with this VOD Source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VOD Source.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the VOD source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the VOD source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configurations.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The last modified time of the VOD source.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with the VOD source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetChannelPolicyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the channel's IAM policy. IAM policies are used to control access to your channel.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/policy",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel associated with this Channel Policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The IAM policy for the channel. IAM policies are used to control access to your channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetChannelScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetChannelScheduleResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about your channel's schedule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/schedule",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#GetChannelScheduleRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel associated with this Channel Schedule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DurationMinutes": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The duration in minutes of the channel schedule.</p>",
            "smithy.api#httpQuery": "durationMinutes"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of channel schedules that you want MediaTailor to return in response to the current request. If there are more than <code>MaxResults</code> channel schedules, use the value of <code>NextToken</code> in the response to get the next page of results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If the playback configuration has more than <code>MaxResults</code> channel schedules, use <code>NextToken</code> to get the second and subsequent pages of results.</p>\n         <p>For the first <code>GetChannelScheduleRequest</code> request, omit this value.</p>\n         <p>For the second and subsequent requests, get the value of <code>NextToken</code> from the previous response and specify that value for <code>NextToken</code> in the request.</p>\n         <p>If the previous response didn't include a <code>NextToken</code> element, there are no more channel schedules to get.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelScheduleResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfScheduleEntry",
          "traits": {
            "smithy.api#documentation": "<p>A list of schedule entries for the channel.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token returned by the list request when results exceed the maximum allowed. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetPlaybackConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetPlaybackConfigurationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a playback configuration. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/playbackConfiguration/{Name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfigurationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the playback configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfigurationResponse": {
      "type": "structure",
      "members": {
        "AdDecisionServerUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.</p>"
          }
        },
        "AvailSuppression": {
          "target": "com.amazonaws.mediatailor#AvailSuppression",
          "traits": {
[...]
