{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.memorydb#ACL": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Access Control List</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates ACL status. Can be \"creating\", \"active\", \"modifying\", \"deleting\".</p>"
          }
        },
        "UserNames": {
          "target": "com.amazonaws.memorydb#UserNameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of user names that belong to the ACL.</p>"
          }
        },
        "MinimumEngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The minimum engine version supported for the ACL</p>"
          }
        },
        "PendingChanges": {
          "target": "com.amazonaws.memorydb#ACLPendingChanges",
          "traits": {
            "smithy.api#documentation": "<p>A list of updates being applied to the ACL.</p>"
          }
        },
        "Clusters": {
          "target": "com.amazonaws.memorydb#ACLClusterNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters associated with the ACL.</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACL</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Access Control List. You can authenticate users with Access Contol Lists.\n         \n         ACLs enable you to control cluster access by grouping users. These Access control lists are designed as a way to organize access to clusters.</p>"
      }
    },
    "com.amazonaws.memorydb#ACLAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ACLAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#ACLClusterNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#String"
      }
    },
    "com.amazonaws.memorydb#ACLList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#ACL"
      }
    },
    "com.amazonaws.memorydb#ACLName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9\\-]*$"
      }
    },
    "com.amazonaws.memorydb#ACLNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#ACLName"
      }
    },
    "com.amazonaws.memorydb#ACLNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ACLNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.memorydb#ACLPendingChanges": {
      "type": "structure",
      "members": {
        "UserNamesToRemove": {
          "target": "com.amazonaws.memorydb#UserNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of user names being removed from the ACL</p>"
          }
        },
        "UserNamesToAdd": {
          "target": "com.amazonaws.memorydb#UserNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users being added to the ACL</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the updates being applied to the ACL.</p>"
      }
    },
    "com.amazonaws.memorydb#ACLQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ACLQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#ACLsUpdateStatus": {
      "type": "structure",
      "members": {
        "ACLToApply": {
          "target": "com.amazonaws.memorydb#ACLName",
          "traits": {
            "smithy.api#documentation": "<p>A list of ACLs pending to be applied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the ACL update</p>"
      }
    },
    "com.amazonaws.memorydb#APICallRateForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "APICallRateForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#AZStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "singleaz",
            "name": "SingleAZ"
          },
          {
            "value": "multiaz",
            "name": "MultiAZ"
          }
        ]
      }
    },
    "com.amazonaws.memorydb#AccessString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.memorydb#AmazonMemoryDB": {
      "type": "service",
      "version": "2021-01-01",
      "operations": [
        {
          "target": "com.amazonaws.memorydb#BatchUpdateCluster"
        },
        {
          "target": "com.amazonaws.memorydb#CopySnapshot"
        },
        {
          "target": "com.amazonaws.memorydb#CreateACL"
        },
        {
          "target": "com.amazonaws.memorydb#CreateCluster"
        },
        {
          "target": "com.amazonaws.memorydb#CreateParameterGroup"
        },
        {
          "target": "com.amazonaws.memorydb#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.memorydb#CreateSubnetGroup"
        },
        {
          "target": "com.amazonaws.memorydb#CreateUser"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteACL"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteCluster"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteParameterGroup"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteSnapshot"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteSubnetGroup"
        },
        {
          "target": "com.amazonaws.memorydb#DeleteUser"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeACLs"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeClusters"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeEngineVersions"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeEvents"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeParameterGroups"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeParameters"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeServiceUpdates"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeSnapshots"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeSubnetGroups"
        },
        {
          "target": "com.amazonaws.memorydb#DescribeUsers"
        },
        {
          "target": "com.amazonaws.memorydb#FailoverShard"
        },
        {
          "target": "com.amazonaws.memorydb#ListAllowedNodeTypeUpdates"
        },
        {
          "target": "com.amazonaws.memorydb#ListTags"
        },
        {
          "target": "com.amazonaws.memorydb#ResetParameterGroup"
        },
        {
          "target": "com.amazonaws.memorydb#TagResource"
        },
        {
          "target": "com.amazonaws.memorydb#UntagResource"
        },
        {
          "target": "com.amazonaws.memorydb#UpdateACL"
        },
        {
          "target": "com.amazonaws.memorydb#UpdateCluster"
        },
        {
          "target": "com.amazonaws.memorydb#UpdateParameterGroup"
        },
        {
          "target": "com.amazonaws.memorydb#UpdateSubnetGroup"
        },
        {
          "target": "com.amazonaws.memorydb#UpdateUser"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MemoryDB",
          "arnNamespace": "memorydb",
          "cloudFormationName": "MemoryDB",
          "cloudTrailEventSource": "memorydb.amazonaws.com",
          "endpointPrefix": "memory-db"
        },
        "aws.auth#sigv4": {
          "name": "memorydb"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>MemoryDB for Redis is a fully managed, Redis-compatible, in-memory database that delivers ultra-fast performance and Multi-AZ durability for modern applications built using microservices architectures.\n       \n       MemoryDB stores the entire database in-memory, enabling low latency and high throughput data access. It is compatible with Redis, a popular open source data store, enabling you to leverage Redis’ flexible and friendly data structures, APIs, and commands.</p>",
        "smithy.api#title": "Amazon MemoryDB",
        "smithy.api#xmlNamespace": {
          "uri": "http://memorydb.amazonaws.com/doc/2021-01-01/"
        }
      }
    },
    "com.amazonaws.memorydb#Authentication": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.memorydb#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate.</p>"
          }
        },
        "PasswordCount": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of passwords belonging to the user. The maximum is two.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Denotes the user's authentication properties, such as whether it requires a password to authenticate. Used in output responses.</p>"
      }
    },
    "com.amazonaws.memorydb#AuthenticationMode": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.memorydb#InputAuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the user requires a password to authenticate. All newly-created users require a password.</p>"
          }
        },
        "Passwords": {
          "target": "com.amazonaws.memorydb#PasswordListInput",
          "traits": {
            "smithy.api#documentation": "<p>The password(s) used for authentication</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Denotes the user's authentication properties, such as whether it requires a password to authenticate. Used in output responses.</p>"
      }
    },
    "com.amazonaws.memorydb#AuthenticationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "password",
            "name": "PASSWORD"
          },
          {
            "value": "no-password",
            "name": "NO_PASSWORD"
          }
        ]
      }
    },
    "com.amazonaws.memorydb#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates if the cluster has a Multi-AZ configuration (multiaz) or not (singleaz).</p>"
      }
    },
    "com.amazonaws.memorydb#AwsQueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.memorydb#BatchUpdateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#BatchUpdateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#BatchUpdateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceUpdateNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Apply the service update to a list of clusters supplied. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/managing-updates.html#applying-updates\">Applying the service updates</a>.</p>"
      }
    },
    "com.amazonaws.memorydb#BatchUpdateClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterNames": {
          "target": "com.amazonaws.memorydb#ClusterNameList",
          "traits": {
            "smithy.api#documentation": "<p>The cluster names to apply the updates.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceUpdate": {
          "target": "com.amazonaws.memorydb#ServiceUpdateRequest",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#BatchUpdateClusterResponse": {
      "type": "structure",
      "members": {
        "ProcessedClusters": {
          "target": "com.amazonaws.memorydb#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>The list of clusters that have been updated.</p>"
          }
        },
        "UnprocessedClusters": {
          "target": "com.amazonaws.memorydb#UnprocessedClusterList",
          "traits": {
            "smithy.api#documentation": "<p>The list of clusters where updates have not been applied.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.memorydb#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.memorydb#Cluster": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-supplied name of the cluster. This identifier is a unique key that identifies a cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the cluster</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster. For example, Available, Updating, Creating.</p>"
          }
        },
        "PendingUpdates": {
          "target": "com.amazonaws.memorydb#ClusterPendingUpdates",
          "traits": {
            "smithy.api#documentation": "<p>A group of settings that are currently being applied.</p>"
          }
        },
        "NumberOfShards": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of shards in the cluster</p>"
          }
        },
        "Shards": {
          "target": "com.amazonaws.memorydb#ShardList",
          "traits": {
            "smithy.api#documentation": "<p>A list of shards that are members of the cluster.</p>"
          }
        },
        "AvailabilityMode": {
          "target": "com.amazonaws.memorydb#AZStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the cluster has a Multi-AZ configuration (multiaz) or not (singleaz).</p>"
          }
        },
        "ClusterEndpoint": {
          "target": "com.amazonaws.memorydb#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's configuration endpoint</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster's node type</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Redis engine version used by the cluster</p>"
          }
        },
        "EnginePatchVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Redis engine patch version used by the cluster</p>"
          }
        },
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group used by the cluster</p>"
          }
        },
        "ParameterGroupStatus": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter group used by the cluster, for example 'active' or 'applying'.</p>"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.memorydb#SecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security groups used by the cluster</p>"
          }
        },
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group used by the cluster</p>"
          }
        },
        "TLSEnabled": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag to indicate if In-transit encryption is enabled</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the cluster</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SNS notification topic</p>"
          }
        },
        "SnsTopicStatus": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic must be in Active status to receive notifications</p>"
          }
        },
        "SnapshotRetentionLimit": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which MemoryDB retains automatic snapshots before deleting them. For example, if you set SnapshotRetentionLimit to 5, a snapshot that was taken today is retained for 5 days before being deleted.</p>"
          }
        },
        "MaintenanceWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period. </p>"
          }
        },
        "SnapshotWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range (in UTC) during which MemoryDB begins taking a daily snapshot of your shard.\n         \n         Example: 05:00-09:00\n         \n         If you do not specify this parameter, MemoryDB automatically chooses an appropriate time range.</p>"
          }
        },
        "ACLName": {
          "target": "com.amazonaws.memorydb#ACLName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Access Control List associated with this cluster.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>When set to true, the cluster will automatically receive minor engine version upgrades after launch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains all of the attributes of a specific cluster.</p>"
      }
    },
    "com.amazonaws.memorydb#ClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#ClusterConfiguration": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster configuration</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The node type used for the cluster</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Redis engine version used by the cluster</p>"
          }
        },
        "MaintenanceWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The specified maintenance window for the cluster</p>"
          }
        },
        "TopicArn": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SNS notification topic for the cluster</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port used by the cluster</p>"
          }
        },
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of parameter group used by the cluster</p>"
          }
        },
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group used by the cluster</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC the cluster belongs to</p>"
          }
        },
        "SnapshotRetentionLimit": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot retention limit set by the cluster</p>"
          }
        },
        "SnapshotWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot window set by the cluster</p>"
          }
        },
        "NumShards": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of shards in the cluster</p>"
          }
        },
        "Shards": {
          "target": "com.amazonaws.memorydb#ShardDetails",
          "traits": {
            "smithy.api#documentation": "<p>The list of shards in the cluster</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of cluster configuration options. </p>"
      }
    },
    "com.amazonaws.memorydb#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#Cluster",
        "traits": {
          "smithy.api#xmlName": "Cluster"
        }
      }
    },
    "com.amazonaws.memorydb#ClusterNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.memorydb#ClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.memorydb#ClusterPendingUpdates": {
      "type": "structure",
      "members": {
        "Resharding": {
          "target": "com.amazonaws.memorydb#ReshardingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an online resharding operation.</p>"
          }
        },
        "ACLs": {
          "target": "com.amazonaws.memorydb#ACLsUpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>A list of ACLs associated with the cluster that are being updated</p>"
          }
        },
        "ServiceUpdates": {
          "target": "com.amazonaws.memorydb#PendingModifiedServiceUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of service updates being applied to the cluster</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of updates being applied to the cluster</p>"
      }
    },
    "com.amazonaws.memorydb#ClusterQuotaForCustomerExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterQuotaForCustomerExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#CopySnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CopySnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CopySnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Makes a copy of an existing snapshot.</p>"
      }
    },
    "com.amazonaws.memorydb#CopySnapshotRequest": {
      "type": "structure",
      "members": {
        "SourceSnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing snapshot from which to make a copy.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetSnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the snapshot copy. MemoryDB does not permit overwriting a snapshot, therefore this name must be unique within its context - MemoryDB or an Amazon S3 bucket if exporting.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetBucket": {
          "target": "com.amazonaws.memorydb#TargetBucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket to which the snapshot is exported. This parameter is used only when exporting a snapshot for external access.\n       \n       When using this parameter to export a snapshot, be sure MemoryDB has the needed permissions to this S3 bucket. For more information, see \n       \n       <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/snapshots-exporting.html\">Step 2: Grant MemoryDB Access to Your Amazon S3 Bucket</a>. \n       \n     </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.memorydb#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the target snapshot.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CopySnapshotResponse": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.memorydb#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>Represents a copy of an entire cluster as of the time when the snapshot was taken.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateACLRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ACLAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#ACLQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#DefaultUserRequired"
        },
        {
          "target": "com.amazonaws.memorydb#DuplicateUserNameFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        },
        {
          "target": "com.amazonaws.memorydb#UserNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Access Control List. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>"
      }
    },
    "com.amazonaws.memorydb#CreateACLRequest": {
      "type": "structure",
      "members": {
        "ACLName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Access Control List.</p>",
            "smithy.api#required": {}
          }
        },
        "UserNames": {
          "target": "com.amazonaws.memorydb#UserNameListInput",
          "traits": {
            "smithy.api#documentation": "<p>The list of users that belong to the Access Control List.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateACLResponse": {
      "type": "structure",
      "members": {
        "ACL": {
          "target": "com.amazonaws.memorydb#ACL",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created Access Control List.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ACLNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ClusterAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#ClusterQuotaForCustomerExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#InsufficientClusterCapacityFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidACLStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidCredentialsException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#NodeQuotaForClusterExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#NodeQuotaForCustomerExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ShardsPerClusterQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant engine software.</p>"
      }
    },
    "com.amazonaws.memorydb#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster. This value must be unique as it also serves as the cluster identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeType": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the nodes in the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group associated with the cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the cluster.</p>"
          }
        },
        "NumShards": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of shards the cluster will contain. The default value is 1. </p>"
          }
        },
        "NumReplicasPerShard": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas to apply to each shard. The default value is 1. The maximum is 5. </p>"
          }
        },
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to be used for the cluster.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.memorydb#SecurityGroupIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of security group names to associate with this cluster.</p>"
          }
        },
        "MaintenanceWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format <code>ddd:hh24:mi-ddd:hh24:mi</code> (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which each of the nodes accepts connections.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (SNS) topic to which notifications are sent.</p>"
          }
        },
        "TLSEnabled": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A flag to enable in-transit encryption on the cluster.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the cluster.</p>"
          }
        },
        "SnapshotArns": {
          "target": "com.amazonaws.memorydb#SnapshotArnsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Resource Names (ARN) that uniquely identify the RDB snapshot files stored in Amazon S3. The snapshot files are used to populate the new cluster. The Amazon S3 object name in the ARN cannot contain any commas.</p>"
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a snapshot from which to restore data into the new cluster. The snapshot status changes to restoring while the new cluster is being created.</p>"
          }
        },
        "SnapshotRetentionLimit": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which MemoryDB retains automatic snapshots before deleting them. For example, if you set SnapshotRetentionLimit to 5, a snapshot that was taken today is retained for 5 days before being deleted.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. Tags are comma-separated key,value pairs (e.g. Key=myKey, Value=myKeyValue. You can include multiple tags as shown following: Key=myKey, Value=myKeyValue Key=mySecondKey, Value=mySecondKeyValue.</p>"
          }
        },
        "SnapshotWindow": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range (in UTC) during which MemoryDB begins taking a daily snapshot of your shard.</p>\n         \n         <p>    Example: 05:00-09:00</p>\n         \n         <p>    If you do not specify this parameter, MemoryDB automatically chooses an appropriate time range.</p>"
          }
        },
        "ACLName": {
          "target": "com.amazonaws.memorydb#ACLName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Access Control List to associate with the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the Redis engine to be used for the cluster.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>When set to true, the cluster will automatically receive minor engine version upgrades after launch.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.memorydb#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateParameterGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterGroupStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MemoryDB parameter group. A parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster. For \n         more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/parametergroups.html\">Configuring engine parameters using parameter groups</a>.\n         \n         </p>"
      }
    },
    "com.amazonaws.memorydb#CreateParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Family": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group family that the parameter group can be used with.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the parameter group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateParameterGroupResponse": {
      "type": "structure",
      "members": {
        "ParameterGroup": {
          "target": "com.amazonaws.memorydb#ParameterGroup",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a copy of an entire cluster at a specific moment in time.</p>"
      }
    },
    "com.amazonaws.memorydb#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot is created from this cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the snapshot being created.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt the snapshot.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateSnapshotResponse": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.memorydb#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateSubnetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetNotAllowedFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a subnet group. A subnet group is a collection of subnets (typically private) that you can designate for your clusters running in an Amazon Virtual Private Cloud (VPC) environment.\n         \n         When you create a cluster in an Amazon VPC, you must specify a subnet group. MemoryDB uses that subnet group to choose a subnet and IP addresses within that subnet to associate with your nodes. \n         For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/subnetgroups.html\">Subnets and subnet groups</a>.</p>"
      }
    },
    "com.amazonaws.memorydb#CreateSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the subnet group.</p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.memorydb#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC subnet IDs for the subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "SubnetGroup": {
          "target": "com.amazonaws.memorydb#SubnetGroup",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created subnet group</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#DuplicateUserNameFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#TagQuotaPerResourceExceeded"
        },
        {
          "target": "com.amazonaws.memorydb#UserAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.memorydb#UserQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a MemoryDB user. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>"
      }
    },
    "com.amazonaws.memorydb#CreateUserRequest": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.memorydb#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user. This value must be unique as it also serves as the user identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationMode": {
          "target": "com.amazonaws.memorydb#AuthenticationMode",
          "traits": {
            "smithy.api#documentation": "<p>Denotes the user's authentication properties, such as whether it requires a password to authenticate.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessString": {
          "target": "com.amazonaws.memorydb#AccessString",
          "traits": {
            "smithy.api#documentation": "<p>Access permissions string used for this user.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.memorydb#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#CreateUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.memorydb#User",
          "traits": {
            "smithy.api#documentation": "<p>The newly-created user.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DefaultUserRequired": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DefaultUserRequired",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#DeleteACL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteACLRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteACLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ACLNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidACLStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Access Control List. The ACL must first be disassociated from the cluster before it can be deleted. For more information, see <a href=\"https://docs.aws.amazon.com/MemoryDB/latest/devguide/clusters.acls.html\">Authenticating users with Access Contol Lists (ACLs)</a>.</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteACLRequest": {
      "type": "structure",
      "members": {
        "ACLName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Access Control List to delete</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteACLResponse": {
      "type": "structure",
      "members": {
        "ACL": {
          "target": "com.amazonaws.memorydb#ACL",
          "traits": {
            "smithy.api#documentation": "<p>The Access Control List object that has been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotAlreadyExistsFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cluster. It also deletes all associated nodes and node endpoints</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster to be deleted</p>",
            "smithy.api#required": {}
          }
        },
        "FinalSnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The user-supplied name of a final cluster snapshot. This is the unique name that identifies the snapshot. MemoryDB creates the snapshot, and then deletes the cluster immediately afterward.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.memorydb#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster object that has been deleted</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteParameterGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteParameterGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterGroupStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified parameter group. You cannot delete a parameter group if it is associated with any clusters. \n         You cannot delete the default parameter groups in your account.</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteParameterGroupRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteParameterGroupResponse": {
      "type": "structure",
      "members": {
        "ParameterGroup": {
          "target": "com.amazonaws.memorydb#ParameterGroup",
          "traits": {
            "smithy.api#documentation": "<p>The parameter group that has been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing snapshot. When you receive a successful response from this operation, MemoryDB immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "SnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot to delete</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteSnapshotResponse": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.memorydb#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot object that has been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteSubnetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteSubnetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupInUseFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a subnet group. You cannot delete a default subnet group or one that is associated with any clusters.</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteSubnetGroupRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to delete</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteSubnetGroupResponse": {
      "type": "structure",
      "members": {
        "SubnetGroup": {
          "target": "com.amazonaws.memorydb#SubnetGroup",
          "traits": {
            "smithy.api#documentation": "<p>The subnet group object that has been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidUserStateFault"
        },
        {
          "target": "com.amazonaws.memorydb#UserNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user. The user will be removed from all ACLs and in turn removed from all clusters.</p>"
      }
    },
    "com.amazonaws.memorydb#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.memorydb#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user to delete</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.memorydb#DeleteUserResponse": {
      "type": "structure",
      "members": {
        "User": {
          "target": "com.amazonaws.memorydb#User",
          "traits": {
            "smithy.api#documentation": "<p>The user object that has been deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeACLs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeACLsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeACLsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ACLNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of ACLs</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeACLsRequest": {
      "type": "structure",
      "members": {
        "ACLName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ACL</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeACLsResponse": {
      "type": "structure",
      "members": {
        "ACLs": {
          "target": "com.amazonaws.memorydb#ACLList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ACLs</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about all provisioned clusters if no cluster identifier is specified, or about a specific cluster if a cluster name is supplied.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeClustersRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "ShowShardDetails": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>An optional flag that can be included in the request to retrieve information about the individual shard(s).</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeClustersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "Clusters": {
          "target": "com.amazonaws.memorydb#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of clusters</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeEngineVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeEngineVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeEngineVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the available Redis engine versions.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeEngineVersionsRequest": {
      "type": "structure",
      "members": {
        "EngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The Redis engine version</p>"
          }
        },
        "ParameterGroupFamily": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a specific parameter group family to return details for.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "DefaultOnly": {
          "target": "com.amazonaws.memorydb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, specifies that only the default version of the specified engine or engine and major version combination is to be returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeEngineVersionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "EngineVersions": {
          "target": "com.amazonaws.memorydb#EngineVersionInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of engine version details. Each element in the list contains detailed information about one engine version.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns events related to clusters, security groups, and parameter groups. You can obtain events specific to a particular cluster, security group, or parameter group by providing the name as a parameter.\n         \n         By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "SourceName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source for which events are returned. If not specified, all sources are included in the response.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.memorydb#SourceType",
          "traits": {
            "smithy.api#documentation": "<p>The event source to retrieve events for. If no value is specified, all events are returned.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.memorydb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The beginning of the time interval to retrieve events for, specified in ISO 8601 format.\n         \n         Example: 2017-03-30T07:03:49.555Z</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.memorydb#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the time interval for which to retrieve events, specified in ISO 8601 format.\n         \n         Example: 2017-03-30T07:03:49.555Z</p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of minutes worth of events to retrieve.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "Events": {
          "target": "com.amazonaws.memorydb#EventList",
          "traits": {
            "smithy.api#documentation": "<p>A list of events. Each element in the list contains detailed information about one event.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeParameterGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeParameterGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeParameterGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of parameter group descriptions. If a parameter group name is specified, the list contains only the descriptions for that group.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeParameterGroupsRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a specific  parameter group to return details for.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeParameterGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "ParameterGroups": {
          "target": "com.amazonaws.memorydb#ParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameter groups. Each element in the list contains detailed information about one parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeParameters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeParametersRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeParametersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the detailed parameter list for a particular parameter group.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeParametersRequest": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>he name of a specific  parameter group to return details for.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeParametersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.memorydb#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of parameters specific to a particular parameter group. Each element in the list contains detailed information about one parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeServiceUpdates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeServiceUpdatesRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeServiceUpdatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details of the service updates</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeServiceUpdatesRequest": {
      "type": "structure",
      "members": {
        "ServiceUpdateName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the service update to describe.</p>"
          }
        },
        "ClusterNames": {
          "target": "com.amazonaws.memorydb#ClusterNameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of cluster names to identify service updates to apply</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.memorydb#ServiceUpdateStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status(es) of the service updates to filter on</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeServiceUpdatesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "ServiceUpdates": {
          "target": "com.amazonaws.memorydb#ServiceUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of service updates</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeSnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeSnapshotsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SnapshotNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about cluster snapshots. By default, DescribeSnapshots lists all of your snapshots; it can optionally describe a single snapshot, \n         or just the snapshots associated with a particular cluster.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeSnapshotsRequest": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied cluster identifier. If this parameter is specified, only snapshots associated with that specific cluster are described.</p>"
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name of the snapshot. If this parameter is specified, only this named snapshot is described.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>If set to system, the output shows snapshots that were automatically created by MemoryDB. If set to user the output shows snapshots that were manually created. If omitted, the output shows both automatically and manually created snapshots.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "ShowDetail": {
          "target": "com.amazonaws.memorydb#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value which if true, the shard configuration is included in the snapshot description.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeSnapshotsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "Snapshots": {
          "target": "com.amazonaws.memorydb#SnapshotList",
          "traits": {
            "smithy.api#documentation": "<p>A list of snapshots. Each item in the list contains detailed information about one snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeSubnetGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeSubnetGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeSubnetGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#ServiceLinkedRoleNotFoundFault"
        },
        {
          "target": "com.amazonaws.memorydb#SubnetGroupNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeSubnetGroupsRequest": {
      "type": "structure",
      "members": {
        "SubnetGroupName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group to return details for.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeSubnetGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        },
        "SubnetGroups": {
          "target": "com.amazonaws.memorydb#SubnetGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of subnet groups. Each element in the list contains detailed information about one group.</p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.memorydb#DescribeUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.memorydb#DescribeUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.memorydb#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.memorydb#UserNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of users.</p>"
      }
    },
    "com.amazonaws.memorydb#DescribeUsersRequest": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.memorydb#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.memorydb#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filter to determine the list of users to return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.memorydb#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in the response. If more records exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#DescribeUsersResponse": {
      "type": "structure",
      "members": {
        "Users": {
          "target": "com.amazonaws.memorydb#UserList",
          "traits": {
            "smithy.api#documentation": "<p>A list of users.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional argument to pass in case the total number of records exceeds the value of MaxResults. If nextToken is returned, there are more results available. The value of nextToken is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. </p>"
          }
        }
      }
    },
    "com.amazonaws.memorydb#Double": {
      "type": "double"
    },
    "com.amazonaws.memorydb#DuplicateUserNameFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.memorydb#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "DuplicateUserName",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.memorydb#Endpoint": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS hostname of the node.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.memorydb#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The port number that the engine is listening on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the information required for client programs to connect to the cluster and its nodes.</p>"
      }
    },
    "com.amazonaws.memorydb#EngineVersionInfo": {
      "type": "structure",
      "members": {
        "EngineVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The engine version</p>"
          }
        },
        "EnginePatchVersion": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The patched engine version</p>"
          }
        },
        "ParameterGroupFamily": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the parameter group family to which the engine default parameters apply.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details of the Redis engine version</p>"
      }
    },
    "com.amazonaws.memorydb#EngineVersionInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.memorydb#EngineVersionInfo"
      }
    },
    "com.amazonaws.memorydb#Event": {
      "type": "structure",
      "members": {
        "SourceName": {
          "target": "com.amazonaws.memorydb#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the source of the event. For example, if the event occurred at the cluster level, the identifier would be the name of the cluster.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.memorydb#SourceType",
          "traits": {
[...]
