{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.migrationhubstrategy#AWSMigrationHubStrategyRecommendation": {
      "type": "service",
      "version": "2020-02-19",
      "operations": [
        {
          "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetails"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategies"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetAssessment"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetImportFileTask"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetLatestAssessmentId"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetPortfolioPreferences"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetPortfolioSummary"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetails"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetServerDetails"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#GetServerStrategies"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ListApplicationComponents"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ListCollectors"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ListImportFileTask"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ListServers"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#PutPortfolioPreferences"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#StartAssessment"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#StartImportFileTask"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#StartRecommendationReportGeneration"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#StopAssessment"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#UpdateApplicationComponentConfig"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#UpdateServerConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MigrationHubStrategy",
          "endpointPrefix": "migrationhub-strategy",
          "cloudTrailEventSource": "migrationhub-strategy.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "migrationhub-strategy"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Migration Hub Strategy Recommendations</fullname>\n\n         <p>This API reference provides descriptions, syntax, and other details about each of the\n      actions and data types for Migration Hub Strategy Recommendations (Strategy Recommendations). The topic for each action shows the API\n      request parameters and the response. Alternatively, you can use one of the AWS SDKs to\n      access an API that is tailored to the programming language or platform that you're using. For\n      more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p>",
        "smithy.api#title": "Migration Hub Strategy Recommendations",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://migrationhub-strategy-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://migrationhub-strategy-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://migrationhub-strategy.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://migrationhub-strategy.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-strategy.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The AWS user account does not have permission to perform the action. Check the\n      AWS Identity and Access Management (IAM) policy associated with this account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.migrationhubstrategy#AntipatternReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "IN_PROGRESS",
            "value": "IN_PROGRESS"
          },
          {
            "name": "SUCCESS",
            "value": "SUCCESS"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#AntipatternSeveritySummary": {
      "type": "structure",
      "members": {
        "severity": {
          "target": "com.amazonaws.migrationhubstrategy#Severity",
          "traits": {
            "smithy.api#documentation": "<p> Contains the severity of anti-patterns. </p>"
          }
        },
        "count": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> Contains the count of anti-patterns. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains the summary of anti-patterns and their severity. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AppType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DotNetFramework",
            "name": "dotNetFramework"
          },
          {
            "value": "Java",
            "name": "java"
          },
          {
            "value": "SQLServer",
            "name": "sqlServer"
          },
          {
            "value": "IIS",
            "name": "IIS"
          },
          {
            "value": "Oracle",
            "name": "oracle"
          },
          {
            "value": "Other",
            "name": "other"
          },
          {
            "value": "Tomcat",
            "name": "tomcat"
          },
          {
            "value": "JBoss",
            "name": "jboss"
          },
          {
            "value": "Spring",
            "name": "spring"
          },
          {
            "value": "Mongo DB",
            "name": "mongodb"
          },
          {
            "value": "DB2",
            "name": "db2"
          },
          {
            "value": "Maria DB",
            "name": "mariadb"
          },
          {
            "value": "MySQL",
            "name": "mysql"
          },
          {
            "value": "Sybase",
            "name": "sybase"
          },
          {
            "value": "PostgreSQLServer",
            "name": "postgresqlserver"
          },
          {
            "value": "Cassandra",
            "name": "cassandra"
          },
          {
            "value": "IBM WebSphere",
            "name": "websphere"
          },
          {
            "value": "Oracle WebLogic",
            "name": "weblogic"
          },
          {
            "value": "Visual Basic",
            "name": "visualbasic"
          },
          {
            "value": "Unknown",
            "name": "unknown"
          },
          {
            "value": "DotnetCore",
            "name": "dotnetcore"
          },
          {
            "value": "Dotnet",
            "name": "dotnet"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#AppUnitError": {
      "type": "structure",
      "members": {
        "appUnitErrorCategory": {
          "target": "com.amazonaws.migrationhubstrategy#AppUnitErrorCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error in the analysis of the application unit.</p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AppUnitErrorCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CREDENTIAL_ERROR",
            "value": "CREDENTIAL_ERROR"
          },
          {
            "name": "CONNECTIVITY_ERROR",
            "value": "CONNECTIVITY_ERROR"
          },
          {
            "name": "PERMISSION_ERROR",
            "value": "PERMISSION_ERROR"
          },
          {
            "name": "UNSUPPORTED_ERROR",
            "value": "UNSUPPORTED_ERROR"
          },
          {
            "name": "OTHER_ERROR",
            "value": "OTHER_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentCriteria": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_DEFINED",
            "name": "NOT_DEFINED"
          },
          {
            "value": "APP_NAME",
            "name": "APP_NAME"
          },
          {
            "value": "SERVER_ID",
            "name": "SERVER_ID"
          },
          {
            "value": "APP_TYPE",
            "name": "APP_TYPE"
          },
          {
            "value": "STRATEGY",
            "name": "STRATEGY"
          },
          {
            "value": "DESTINATION",
            "name": "DESTINATION"
          },
          {
            "value": "ANALYSIS_STATUS",
            "name": "ANALYSIS_STATUS"
          },
          {
            "value": "ERROR_CATEGORY",
            "name": "ERROR_CATEGORY"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the application component. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.migrationhubstrategy#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of application component. </p>"
          }
        },
        "recommendationSet": {
          "target": "com.amazonaws.migrationhubstrategy#RecommendationSet",
          "traits": {
            "smithy.api#documentation": "<p> The top recommendation set for the application component. </p>"
          }
        },
        "analysisStatus": {
          "target": "com.amazonaws.migrationhubstrategy#SrcCodeOrDbAnalysisStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of analysis, if the application component has source code or an associated\n      database. </p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.migrationhubstrategy#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p> A detailed description of the analysis status and any failure message. </p>"
          }
        },
        "listAntipatternSeveritySummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListAntipatternSeveritySummary",
          "traits": {
            "smithy.api#documentation": "<p> A list of anti-pattern severity summaries. </p>"
          }
        },
        "databaseConfigDetail": {
          "target": "com.amazonaws.migrationhubstrategy#DatabaseConfigDetail",
          "traits": {
            "smithy.api#documentation": "<p> Configuration details for the database associated with the application component. </p>"
          }
        },
        "sourceCodeRepositories": {
          "target": "com.amazonaws.migrationhubstrategy#SourceCodeRepositories",
          "traits": {
            "smithy.api#documentation": "<p> Details about the source code repository associated with the application component.\n    </p>"
          }
        },
        "appType": {
          "target": "com.amazonaws.migrationhubstrategy#AppType",
          "traits": {
            "smithy.api#documentation": "<p> The type of application component. </p>"
          }
        },
        "resourceSubType": {
          "target": "com.amazonaws.migrationhubstrategy#ResourceSubType",
          "traits": {
            "smithy.api#documentation": "<p> The application component subtype.</p>"
          }
        },
        "inclusionStatus": {
          "target": "com.amazonaws.migrationhubstrategy#InclusionStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether the application component has been included for server recommendation\n      or not. </p>"
          }
        },
        "antipatternReportS3Object": {
          "target": "com.amazonaws.migrationhubstrategy#S3Object",
          "traits": {
            "smithy.api#documentation": "<p> The S3 bucket name and the Amazon S3 key name for the anti-pattern report. </p>"
          }
        },
        "antipatternReportStatus": {
          "target": "com.amazonaws.migrationhubstrategy#AntipatternReportStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the anti-pattern report generation.</p>"
          }
        },
        "antipatternReportStatusMessage": {
          "target": "com.amazonaws.migrationhubstrategy#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p> The status message for the anti-pattern. </p>"
          }
        },
        "osVersion": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> OS version. </p>"
          }
        },
        "osDriver": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> OS driver. </p>"
          }
        },
        "lastAnalyzedTimestamp": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp of when the application component was assessed. </p>"
          }
        },
        "associatedServerId": {
          "target": "com.amazonaws.migrationhubstrategy#ServerId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the server that the application component is running on. </p>"
          }
        },
        "moreServerAssociationExists": {
          "target": "com.amazonaws.migrationhubstrategy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Set to true if the application component is running on multiple servers.</p>"
          }
        },
        "runtimeStatus": {
          "target": "com.amazonaws.migrationhubstrategy#RuntimeAnalysisStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application unit.</p>"
          }
        },
        "runtimeStatusMessage": {
          "target": "com.amazonaws.migrationhubstrategy#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status message for the application unit.</p>"
          }
        },
        "appUnitError": {
          "target": "com.amazonaws.migrationhubstrategy#AppUnitError",
          "traits": {
            "smithy.api#documentation": "<p>The error in the analysis of the source code or database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains detailed information about an application component. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 44
        },
        "smithy.api#pattern": "[0-9a-zA-Z-]+"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentStatusSummary": {
      "type": "structure",
      "members": {
        "srcCodeOrDbAnalysisStatus": {
          "target": "com.amazonaws.migrationhubstrategy#SrcCodeOrDbAnalysisStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of database analysis.</p>"
          }
        },
        "count": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of application components successfully analyzed, partially successful or failed\n      analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the analysis status of the application component.</p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategy"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategy": {
      "type": "structure",
      "members": {
        "recommendation": {
          "target": "com.amazonaws.migrationhubstrategy#RecommendationSet",
          "traits": {
            "smithy.api#documentation": "<p> Strategy recommendation for the application component. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhubstrategy#StrategyRecommendation",
          "traits": {
            "smithy.api#documentation": "<p> The recommendation status of a strategy for an application component. </p>"
          }
        },
        "isPreferred": {
          "target": "com.amazonaws.migrationhubstrategy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Set to true if the recommendation is set as preferred. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains information about a strategy recommendation for an application component.\n    </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationComponentSummary": {
      "type": "structure",
      "members": {
        "appType": {
          "target": "com.amazonaws.migrationhubstrategy#AppType",
          "traits": {
            "smithy.api#documentation": "<p> Contains the name of application types. </p>"
          }
        },
        "count": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> Contains the count of application type. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains the summary of application components. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ALL",
            "value": "ALL"
          },
          {
            "name": "KNOWN",
            "value": "KNOWN"
          },
          {
            "name": "UNKNOWN",
            "value": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#ApplicationPreferences": {
      "type": "structure",
      "members": {
        "managementPreference": {
          "target": "com.amazonaws.migrationhubstrategy#ManagementPreference",
          "traits": {
            "smithy.api#documentation": "<p> Application preferences that you specify to prefer managed environment. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Application preferences that you specify. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentStatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentSummary": {
      "type": "structure",
      "members": {
        "listServerStrategySummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListStrategySummary",
          "traits": {
            "smithy.api#documentation": "<p> List of ServerStrategySummary. </p>"
          }
        },
        "listApplicationComponentStrategySummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListStrategySummary",
          "traits": {
            "smithy.api#documentation": "<p> List of ApplicationComponentStrategySummary. </p>"
          }
        },
        "listAntipatternSeveritySummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListAntipatternSeveritySummary",
          "traits": {
            "smithy.api#documentation": "<p> List of AntipatternSeveritySummary. </p>"
          }
        },
        "listApplicationComponentSummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListApplicationComponentSummary",
          "traits": {
            "smithy.api#documentation": "<p> List of ApplicationComponentSummary. </p>"
          }
        },
        "listServerSummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListServerSummary",
          "traits": {
            "smithy.api#documentation": "<p> List of ServerSummary. </p>"
          }
        },
        "antipatternReportS3Object": {
          "target": "com.amazonaws.migrationhubstrategy#S3Object",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon S3 object containing the anti-pattern report. </p>"
          }
        },
        "antipatternReportStatus": {
          "target": "com.amazonaws.migrationhubstrategy#AntipatternReportStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the anti-pattern report. </p>"
          }
        },
        "antipatternReportStatusMessage": {
          "target": "com.amazonaws.migrationhubstrategy#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p> The status message of the anti-pattern report. </p>"
          }
        },
        "lastAnalyzedTimestamp": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the assessment was performed. </p>"
          }
        },
        "listApplicationComponentStatusSummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListApplicationComponentStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>List of status summaries of the analyzed application components.</p>"
          }
        },
        "listServerStatusSummary": {
          "target": "com.amazonaws.migrationhubstrategy#ListServerStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>List of status summaries of the analyzed servers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains the summary of the assessment results. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentTarget": {
      "type": "structure",
      "members": {
        "condition": {
          "target": "com.amazonaws.migrationhubstrategy#Condition",
          "traits": {
            "smithy.api#documentation": "<p>Condition of an assessment.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of an assessment.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.migrationhubstrategy#AssessmentTargetValues",
          "traits": {
            "smithy.api#documentation": "<p>Values of an assessment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the criteria of assessment.</p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentTargetValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#String"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssessmentTargets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#AssessmentTarget"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#AssociatedApplication": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> Name of the application as defined in Application Discovery Service. </p>"
          }
        },
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> ID of the application as defined in Application Discovery Service. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Object containing details about applications as defined in Application Discovery Service. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssociatedApplications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#AssociatedApplication"
      }
    },
    "com.amazonaws.migrationhubstrategy#AssociatedServerIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#String"
      }
    },
    "com.amazonaws.migrationhubstrategy#AsyncTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 52
        },
        "smithy.api#pattern": "[0-9a-z-:]+"
      }
    },
    "com.amazonaws.migrationhubstrategy#AuthType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NTLM",
            "name": "NTLM"
          },
          {
            "value": "SSH",
            "name": "SSH"
          },
          {
            "value": "CERT",
            "name": "CERT"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#AwsManagedResources": {
      "type": "structure",
      "members": {
        "targetDestination": {
          "target": "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestinations",
          "traits": {
            "smithy.api#documentation": "<p> The choice of application destination that you specify. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Object containing the choice of application destination that you specify. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestination": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None specified",
            "name": "NONE_SPECIFIED"
          },
          {
            "value": "AWS Elastic BeanStalk",
            "name": "AWS_ELASTIC_BEANSTALK"
          },
          {
            "value": "AWS Fargate",
            "name": "AWS_FARGATE"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestinations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#AwsManagedTargetDestination"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.migrationhubstrategy#BusinessGoals": {
      "type": "structure",
      "members": {
        "speedOfMigration": {
          "target": "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
          "traits": {
            "smithy.api#documentation": "<p> Business goal to achieve migration at a fast pace. </p>"
          }
        },
        "reduceOperationalOverheadWithManagedServices": {
          "target": "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
          "traits": {
            "smithy.api#documentation": "<p> Business goal to reduce the operational overhead on the team by moving into managed\n      services. </p>"
          }
        },
        "modernizeInfrastructureWithCloudNativeTechnologies": {
          "target": "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
          "traits": {
            "smithy.api#documentation": "<p> Business goal to modernize infrastructure by moving to cloud native technologies. </p>"
          }
        },
        "licenseCostReduction": {
          "target": "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger",
          "traits": {
            "smithy.api#documentation": "<p> Business goal to reduce license costs. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Business goals that you specify. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#BusinessGoalsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#Collector": {
      "type": "structure",
      "members": {
        "collectorId": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the collector. </p>"
          }
        },
        "ipAddress": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> IP address of the server that is hosting the collector. </p>"
          }
        },
        "hostName": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> Hostname of the server that is hosting the collector. </p>"
          }
        },
        "collectorHealth": {
          "target": "com.amazonaws.migrationhubstrategy#CollectorHealth",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the health of a collector. </p>"
          }
        },
        "collectorVersion": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> Current version of the collector that is running in the environment that you specify.\n    </p>"
          }
        },
        "registeredTimeStamp": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> Time when the collector registered with the service. </p>"
          }
        },
        "lastActivityTimeStamp": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> Time when the collector last pinged the service. </p>"
          }
        },
        "configurationSummary": {
          "target": "com.amazonaws.migrationhubstrategy#ConfigurationSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summary of the collector configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Process data collector that runs in the environment that you specify. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#CollectorHealth": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COLLECTOR_HEALTHY",
            "name": "COLLECTOR_HEALTHY"
          },
          {
            "value": "COLLECTOR_UNHEALTHY",
            "name": "COLLECTOR_UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#Collectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#Collector"
      }
    },
    "com.amazonaws.migrationhubstrategy#Condition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          },
          {
            "value": "NOT_EQUALS",
            "name": "NOT_EQUALS"
          },
          {
            "value": "CONTAINS",
            "name": "CONTAINS"
          },
          {
            "value": "NOT_CONTAINS",
            "name": "NOT_CONTAINS"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#ConfigurationSummary": {
      "type": "structure",
      "members": {
        "vcenterBasedRemoteInfoList": {
          "target": "com.amazonaws.migrationhubstrategy#VcenterBasedRemoteInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of vCenter configurations.</p>"
          }
        },
        "ipAddressBasedRemoteInfoList": {
          "target": "com.amazonaws.migrationhubstrategy#IPAddressBasedRemoteInfoList",
          "traits": {
            "smithy.api#documentation": "<p>IP address based configurations.</p>"
          }
        },
        "versionControlInfoList": {
          "target": "com.amazonaws.migrationhubstrategy#VersionControlInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of the version control configurations.</p>"
          }
        },
        "pipelineInfoList": {
          "target": "com.amazonaws.migrationhubstrategy#PipelineInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of pipeline info configurations.</p>"
          }
        },
        "remoteSourceCodeAnalysisServerInfo": {
          "target": "com.amazonaws.migrationhubstrategy#RemoteSourceCodeAnalysisServerInfo",
          "traits": {
            "smithy.api#documentation": "<p>Info about the remote server source code configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the collector configuration.</p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Exception to indicate that there is an ongoing task when a new task is created. Return\n      when once the existing tasks are complete. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.migrationhubstrategy#DataCollectionDetails": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.migrationhubstrategy#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the assessment. </p>"
          }
        },
        "servers": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The total number of servers in the assessment. </p>"
          }
        },
        "failed": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of failed servers in the assessment. </p>"
          }
        },
        "success": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of successful servers in the assessment. </p>"
          }
        },
        "inProgress": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of servers with the assessment status <code>IN_PROGESS</code>. </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The start time of assessment. </p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the assessment completes. </p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.migrationhubstrategy#AssessmentStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status message of the assessment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Detailed information about an assessment. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ApplicationDiscoveryService",
            "name": "ADS"
          },
          {
            "value": "MPA",
            "name": "MPA"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#DatabaseConfigDetail": {
      "type": "structure",
      "members": {
        "secretName": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> AWS Secrets Manager key that holds the credentials that you use to connect to a database.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Configuration information used for assessing databases. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#DatabaseManagementPreference": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS-managed",
            "name": "AWS_MANAGED"
          },
          {
            "value": "Self-manage",
            "name": "SELF_MANAGE"
          },
          {
            "value": "No preference",
            "name": "NO_PREFERENCE"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#DatabaseMigrationPreference": {
      "type": "union",
      "members": {
        "heterogeneous": {
          "target": "com.amazonaws.migrationhubstrategy#Heterogeneous",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether you are interested in moving from one type of database to another. For\n      example, from SQL Server to Amazon Aurora MySQL-Compatible Edition. </p>"
          }
        },
        "homogeneous": {
          "target": "com.amazonaws.migrationhubstrategy#Homogeneous",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether you are interested in moving to the same type of database into AWS.\n      For example, from SQL Server in your environment to SQL Server on AWS. </p>"
          }
        },
        "noPreference": {
          "target": "com.amazonaws.migrationhubstrategy#NoDatabaseMigrationPreference",
          "traits": {
            "smithy.api#documentation": "<p> Indicated that you do not prefer heterogeneous or homogeneous. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Preferences for migrating a database to AWS. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#DatabasePreferences": {
      "type": "structure",
      "members": {
        "databaseManagementPreference": {
          "target": "com.amazonaws.migrationhubstrategy#DatabaseManagementPreference",
          "traits": {
            "smithy.api#documentation": "<p> Specifies whether you're interested in self-managed databases or databases managed by\n      AWS. </p>"
          }
        },
        "databaseMigrationPreference": {
          "target": "com.amazonaws.migrationhubstrategy#DatabaseMigrationPreference",
          "traits": {
            "smithy.api#documentation": "<p> Specifies your preferred migration path. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Preferences on managing your databases on AWS. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#DependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.migrationhubstrategy#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dependency encountered an error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves details about an application component. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-applicationcomponent-details/{applicationComponentId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsRequest": {
      "type": "structure",
      "members": {
        "applicationComponentId": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the application component. The ID is unique within an AWS account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentDetailsResponse": {
      "type": "structure",
      "members": {
        "applicationComponentDetail": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentDetail",
          "traits": {
            "smithy.api#documentation": "<p> Detailed information about an application component. </p>"
          }
        },
        "associatedApplications": {
          "target": "com.amazonaws.migrationhubstrategy#AssociatedApplications",
          "traits": {
            "smithy.api#documentation": "<p> The associated application group as defined in AWS Application Discovery Service. </p>"
          }
        },
        "moreApplicationResource": {
          "target": "com.amazonaws.migrationhubstrategy#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Set to true if the application component belongs to more than one application group.\n    </p>"
          }
        },
        "associatedServerIds": {
          "target": "com.amazonaws.migrationhubstrategy#AssociatedServerIDs",
          "traits": {
            "smithy.api#documentation": "<p> A list of the IDs of the servers on which the application component is running. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves a list of all the recommended strategies and tools for an application component\n      running on a server. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/get-applicationcomponent-strategies/{applicationComponentId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesRequest": {
      "type": "structure",
      "members": {
        "applicationComponentId": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the application component. The ID is unique within an AWS account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetApplicationComponentStrategiesResponse": {
      "type": "structure",
      "members": {
        "applicationComponentStrategies": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationComponentStrategies",
          "traits": {
            "smithy.api#documentation": "<p> A list of application component strategy recommendations. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetAssessment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetAssessmentRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetAssessmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the status of an on-going assessment. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-assessment/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetAssessmentRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#AsyncTaskId",
          "traits": {
            "smithy.api#documentation": "<p> The <code>assessmentid</code> returned by <a>StartAssessment</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetAssessmentResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#AsyncTaskId",
          "traits": {
            "smithy.api#documentation": "<p> The ID for the specific assessment task. </p>"
          }
        },
        "dataCollectionDetails": {
          "target": "com.amazonaws.migrationhubstrategy#DataCollectionDetails",
          "traits": {
            "smithy.api#documentation": "<p> Detailed information about the assessment. </p>"
          }
        },
        "assessmentTargets": {
          "target": "com.amazonaws.migrationhubstrategy#AssessmentTargets",
          "traits": {
            "smithy.api#documentation": "<p>List of criteria for assessment.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetImportFileTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetImportFileTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetImportFileTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the details about a specific import task. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-import-file-task/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetImportFileTaskRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the import file task. This ID is returned in the response of <a>StartImportFileTask</a>. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetImportFileTaskResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The import file task <code>id</code> returned in the response of <a>StartImportFileTask</a>. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhubstrategy#ImportFileTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p> Status of import file task. </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> Start time of the import task. </p>"
          }
        },
        "inputS3Bucket": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Bucket",
          "traits": {
            "smithy.api#documentation": "<p> The S3 bucket where import file is located. </p>"
          }
        },
        "inputS3Key": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Key",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon S3 key name of the import file. </p>"
          }
        },
        "statusReportS3Bucket": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Bucket",
          "traits": {
            "smithy.api#documentation": "<p> The S3 bucket name for status report of import task. </p>"
          }
        },
        "statusReportS3Key": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Key",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon S3 key name for status report of import task. The report contains details about\n      whether each record imported successfully or why it did not.</p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The time that the import task completed. </p>"
          }
        },
        "numberOfRecordsSuccess": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of records successfully imported. </p>"
          }
        },
        "numberOfRecordsFailed": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of records that failed to be imported. </p>"
          }
        },
        "importName": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the import task given in <a>StartImportFileTask</a>. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetLatestAssessmentId": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#DependencyException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve the latest ID of a specific assessment task.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-latest-assessment-id",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.migrationhubstrategy#GetLatestAssessmentIdResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#AsyncTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The latest ID for the specific assessment task.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves your migration and modernization preferences. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-portfolio-preferences",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioPreferencesResponse": {
      "type": "structure",
      "members": {
        "prioritizeBusinessGoals": {
          "target": "com.amazonaws.migrationhubstrategy#PrioritizeBusinessGoals",
          "traits": {
            "smithy.api#documentation": "<p> The rank of business goals based on priority. </p>"
          }
        },
        "applicationPreferences": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationPreferences",
          "traits": {
            "smithy.api#documentation": "<p> The transformation preferences for non-database applications. </p>"
          }
        },
        "databasePreferences": {
          "target": "com.amazonaws.migrationhubstrategy#DatabasePreferences",
          "traits": {
            "smithy.api#documentation": "<p> The transformation preferences for database applications. </p>"
          }
        },
        "applicationMode": {
          "target": "com.amazonaws.migrationhubstrategy#ApplicationMode",
          "traits": {
            "smithy.api#documentation": "<p>The classification for application component types.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetPortfolioSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetPortfolioSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves overall summary including the number of servers to rehost and the overall\n      number of anti-patterns. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-portfolio-summary",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioSummaryRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.migrationhubstrategy#GetPortfolioSummaryResponse": {
      "type": "structure",
      "members": {
        "assessmentSummary": {
          "target": "com.amazonaws.migrationhubstrategy#AssessmentSummary",
          "traits": {
            "smithy.api#documentation": "<p> An assessment summary for the portfolio including the number of servers to rehost and the\n      overall number of anti-patterns. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves detailed information about the specified recommendation report. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-recommendation-report-details/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetailsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#RecommendationTaskId",
          "traits": {
            "smithy.api#documentation": "<p> The recommendation report generation task <code>id</code> returned by <a>StartRecommendationReportGeneration</a>. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetRecommendationReportDetailsResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#RecommendationTaskId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the recommendation report generation task. See the response of <a>StartRecommendationReportGeneration</a>. </p>"
          }
        },
        "recommendationReportDetails": {
          "target": "com.amazonaws.migrationhubstrategy#RecommendationReportDetails",
          "traits": {
            "smithy.api#documentation": "<p> Detailed information about the recommendation report. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetServerDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetServerDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves detailed information about a specified server. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/get-server-details/{serverId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "associatedApplications"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerDetailsRequest": {
      "type": "structure",
      "members": {
        "serverId": {
          "target": "com.amazonaws.migrationhubstrategy#ServerId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the server. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhubstrategy#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token from a previous call that you use to retrieve the next set of results. For example, \nif a previous call to this action returned 100 items, but you set <code>maxResults</code> to 10. You'll receive a set of 10 results along\n      with a token. You then use the returned token to retrieve the next set of 10. </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.migrationhubstrategy#MaxResult",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of items to include in the response. The maximum value is 100. </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerDetailsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The token you use to retrieve the next set of results, or null if there are no more results. </p>"
          }
        },
        "serverDetail": {
          "target": "com.amazonaws.migrationhubstrategy#ServerDetail",
          "traits": {
            "smithy.api#documentation": "<p> Detailed information about the server. </p>"
          }
        },
        "associatedApplications": {
          "target": "com.amazonaws.migrationhubstrategy#AssociatedApplications",
          "traits": {
            "smithy.api#documentation": "<p> The associated application group the server belongs to, as defined in AWS Application Discovery Service.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerStrategies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhubstrategy#GetServerStrategiesRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhubstrategy#GetServerStrategiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhubstrategy#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhubstrategy#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves recommended strategies and tools for the specified server. </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/get-server-strategies/{serverId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerStrategiesRequest": {
      "type": "structure",
      "members": {
        "serverId": {
          "target": "com.amazonaws.migrationhubstrategy#ServerId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the server. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#GetServerStrategiesResponse": {
      "type": "structure",
      "members": {
        "serverStrategies": {
          "target": "com.amazonaws.migrationhubstrategy#ServerStrategies",
          "traits": {
            "smithy.api#documentation": "<p> A list of strategy recommendations for the server. </p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#Group": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.migrationhubstrategy#GroupName",
          "traits": {
            "smithy.api#documentation": "<p> The key of the specific import group. </p>"
          }
        },
        "value": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The value of the specific import group. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The object containing information about distinct imports or groups for Strategy Recommendations. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#GroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#Group"
      }
    },
    "com.amazonaws.migrationhubstrategy#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ExternalId",
            "name": "EXTERNAL_ID"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#Heterogeneous": {
      "type": "structure",
      "members": {
        "targetDatabaseEngine": {
          "target": "com.amazonaws.migrationhubstrategy#HeterogeneousTargetDatabaseEngines",
          "traits": {
            "smithy.api#documentation": "<p> The target database engine for heterogeneous database migration preference. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The object containing details about heterogeneous database preferences. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#HeterogeneousTargetDatabaseEngine": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None specified",
            "name": "NONE_SPECIFIED"
          },
          {
            "value": "Amazon Aurora",
            "name": "AMAZON_AURORA"
          },
          {
            "value": "AWS PostgreSQL",
            "name": "AWS_POSTGRESQL"
          },
          {
            "value": "MySQL",
            "name": "MYSQL"
          },
          {
            "value": "Microsoft SQL Server",
            "name": "MICROSOFT_SQL_SERVER"
          },
          {
            "value": "Oracle Database",
            "name": "ORACLE_DATABASE"
          },
          {
            "value": "MariaDB",
            "name": "MARIA_DB"
          },
          {
            "value": "SAP",
            "name": "SAP"
          },
          {
            "value": "Db2 LUW",
            "name": "DB2_LUW"
          },
          {
            "value": "MongoDB",
            "name": "MONGO_DB"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#HeterogeneousTargetDatabaseEngines": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#HeterogeneousTargetDatabaseEngine"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#Homogeneous": {
      "type": "structure",
      "members": {
        "targetDatabaseEngine": {
          "target": "com.amazonaws.migrationhubstrategy#HomogeneousTargetDatabaseEngines",
          "traits": {
            "smithy.api#documentation": "<p> The target database engine for homogeneous database migration preferences. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The object containing details about homogeneous database preferences. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#HomogeneousTargetDatabaseEngine": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "None specified",
            "name": "NONE_SPECIFIED"
          }
        ]
      }
    },
    "com.amazonaws.migrationhubstrategy#HomogeneousTargetDatabaseEngines": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#HomogeneousTargetDatabaseEngine"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.migrationhubstrategy#IPAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        },
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
      }
    },
    "com.amazonaws.migrationhubstrategy#IPAddressBasedRemoteInfo": {
      "type": "structure",
      "members": {
        "ipAddressConfigurationTimeStamp": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the configuration.</p>"
          }
        },
        "authType": {
          "target": "com.amazonaws.migrationhubstrategy#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authorization.</p>"
          }
        },
        "osType": {
          "target": "com.amazonaws.migrationhubstrategy#OSType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the operating system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>IP address based configurations.</p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#IPAddressBasedRemoteInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.migrationhubstrategy#IPAddressBasedRemoteInfo"
      }
    },
    "com.amazonaws.migrationhubstrategy#ImportFileTaskInformation": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the import file task. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhubstrategy#ImportFileTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p> Status of import file task. </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> Start time of the import task. </p>"
          }
        },
        "inputS3Bucket": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Bucket",
          "traits": {
            "smithy.api#documentation": "<p> The S3 bucket where the import file is located. </p>"
          }
        },
        "inputS3Key": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Key",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon S3 key name of the import file. </p>"
          }
        },
        "statusReportS3Bucket": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Bucket",
          "traits": {
            "smithy.api#documentation": "<p> The S3 bucket name for status report of import task. </p>"
          }
        },
        "statusReportS3Key": {
          "target": "com.amazonaws.migrationhubstrategy#importS3Key",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon S3 key name for status report of import task. The report contains details about\n      whether each record imported successfully or why it did not. </p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.migrationhubstrategy#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p> The time that the import task completes. </p>"
          }
        },
        "numberOfRecordsSuccess": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of records successfully imported. </p>"
          }
        },
        "numberOfRecordsFailed": {
          "target": "com.amazonaws.migrationhubstrategy#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of records that failed to be imported. </p>"
          }
        },
        "importName": {
          "target": "com.amazonaws.migrationhubstrategy#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the import task given in <code>StartImportFileTask</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the import file tasks you request. </p>"
      }
    },
    "com.amazonaws.migrationhubstrategy#ImportFileTaskStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ImportInProgress",
            "name": "IMPORT_IN_PROGRESS"
          },
          {
[...]
