{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.migrationhuborchestrator#AWSMigrationHubOrchestrator": {
      "type": "service",
      "version": "2021-08-28",
      "operations": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#TagResource"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflow"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowTemplate"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#Plugin"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStep"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStepGroup"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStepGroups"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStep"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MigrationHubOrchestrator",
          "arnNamespace": "migrationhub-orchestrator",
          "endpointPrefix": "migrationhub-orchestrator",
          "cloudTrailEventSource": "migrationhub-orchestrator.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "migrationhub-orchestrator"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "Authorization",
            "Date",
            "X-Amz-Date",
            "X-Amz-Security-Token",
            "X-Amz-Target",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-errormessage",
            "x-amzn-trace-id",
            "x-amzn-requestid",
            "x-amz-apigw-id",
            "date"
          ]
        },
        "smithy.api#documentation": "<p>This API reference provides descriptions, syntax, and other details about each of the\n            actions and data types for AWS Migration Hub Orchestrator. he topic for each action shows the API\n            request parameters and the response. Alternatively, you can use one of the AWS SDKs to\n            access an API that is tailored to the programming language or platform that you're\n            using.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#title": "AWS Migration Hub Orchestrator",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://migrationhub-orchestrator-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://migrationhub-orchestrator-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://migrationhub-orchestrator.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://migrationhub-orchestrator.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://migrationhub-orchestrator.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ApplicationConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$"
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the migration workflow.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the migration workflow.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 500
            },
            "smithy.api#pattern": "^[-a-zA-Z0-9_.+, ]*$"
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$",
            "smithy.api#required": {}
          }
        },
        "applicationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#pattern": "^[-a-zA-Z0-9_.+]+[-a-zA-Z0-9_.+ ]*$",
            "smithy.api#required": {}
          }
        },
        "inputParameters": {
          "target": "com.amazonaws.migrationhuborchestrator#StepInputParameters",
          "traits": {
            "smithy.api#documentation": "<p>The input parameters required to create a migration workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "stepTargets": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The servers on which a step will be run.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.migrationhuborchestrator#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add on a migration workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the migration workflow.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the migration workflow.</p>"
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "adsApplicationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>"
          }
        },
        "workflowInputs": {
          "target": "com.amazonaws.migrationhuborchestrator#StepInputParameters",
          "traits": {
            "smithy.api#documentation": "<p>The inputs for creating a migration workflow.</p>"
          }
        },
        "stepTargets": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The servers on which a step will be run.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the migration workflow.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.migrationhuborchestrator#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add on a migration workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateMigrationWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a workflow to orchestrate your migrations.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/migrationworkflow/",
          "code": 200
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a step in the migration workflow.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflowstep",
          "code": 200
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a step group in a migration workflow.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflowstepgroups",
          "code": 200
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupRequest": {
      "type": "structure",
      "members": {
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow that will contain the step group.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step group.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step group.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step group.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step group.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepGroupResponse": {
      "type": "structure",
      "members": {
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow that contains the step group.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step group.</p>"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step group.</p>"
          }
        },
        "tools": {
          "target": "com.amazonaws.migrationhuborchestrator#ToolsList",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS services utilized in a migration workflow.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step group.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step group.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>",
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#required": {}
          }
        },
        "stepActionType": {
          "target": "com.amazonaws.migrationhuborchestrator#StepActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type of the step. You must run and update the status of a manual step for\n            the workflow to continue after the completion of the step.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step.</p>"
          }
        },
        "workflowStepAutomationConfiguration": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepAutomationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The custom script to run tests on source or target environments.</p>"
          }
        },
        "stepTarget": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The servers on which a step will be run.</p>"
          }
        },
        "outputs": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The key value pairs added for the expected output.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#CreateWorkflowStepResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step.</p>"
          }
        },
        "stepGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#DataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "INTEGER",
            "name": "INTEGER"
          },
          {
            "value": "STRINGLIST",
            "name": "STRINGLIST"
          },
          {
            "value": "STRINGMAP",
            "name": "STRINGMAP"
          }
        ]
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the migration workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteMigrationWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a migration workflow. You must pause a running workflow in Migration Hub Orchestrator console to\n            delete it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/migrationworkflow/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a step in a migration workflow. Pause the workflow to delete a running\n            step.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workflowstep/{id}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a step group in a migration workflow.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workflowstepgroup/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupRequest": {
      "type": "structure",
      "members": {
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpQuery": "workflowId",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group that contains the step you want to delete.</p>",
            "smithy.api#httpQuery": "stepGroupId",
            "smithy.api#required": {}
          }
        },
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpQuery": "workflowId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#DeleteWorkflowStepResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the migration workflow.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the migration workflow.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the migration workflow.</p>"
          }
        },
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "adsApplicationConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The configuration ID of the application configured in Application Discovery Service.</p>"
          }
        },
        "adsApplicationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application configured in Application Discovery Service.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the migration workflow.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status message of the migration workflow.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow was created.</p>"
          }
        },
        "lastStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow was last started.</p>"
          }
        },
        "lastStopTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow was last stopped.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow was last modified.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the migration workflow ended.</p>"
          }
        },
        "tools": {
          "target": "com.amazonaws.migrationhuborchestrator#ToolsList",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS services utilized in a migration workflow.</p>"
          }
        },
        "totalSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of steps in the migration workflow.</p>"
          }
        },
        "completedSteps": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Get a list of completed steps in the migration workflow.</p>"
          }
        },
        "workflowInputs": {
          "target": "com.amazonaws.migrationhuborchestrator#StepInputParameters",
          "traits": {
            "smithy.api#documentation": "<p>The inputs required for creating the migration workflow.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.migrationhuborchestrator#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags added to the migration workflow.</p>"
          }
        },
        "workflowBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where the migration logs are stored.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the template was last created.</p>"
          }
        },
        "inputs": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateInputList",
          "traits": {
            "smithy.api#documentation": "<p>The inputs provided for the creation of the migration workflow.</p>"
          }
        },
        "tools": {
          "target": "com.amazonaws.migrationhuborchestrator#ToolsList",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS services utilized in a migration workflow.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the template.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the template was last created.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the template you want to use for creating a migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/migrationworkflowtemplate/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetTemplateStepRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetTemplateStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a specific step in a template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templatestep/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a step group in a template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templates/{templateId}/stepgroups/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupRequest": {
      "type": "structure",
      "members": {
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStepGroupResponse": {
      "type": "structure",
      "members": {
        "templateId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step group.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step group.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group was created.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group was last modified.</p>"
          }
        },
        "tools": {
          "target": "com.amazonaws.migrationhuborchestrator#ToolsList",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS services utilized in a migration workflow.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step group.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step group.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStepRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpQuery": "templateId",
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#httpQuery": "stepGroupId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetTemplateStepResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step.</p>"
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step.</p>"
          }
        },
        "stepActionType": {
          "target": "com.amazonaws.migrationhuborchestrator#StepActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type of the step. You must run and update the status of a manual step for\n            the workflow to continue after the completion of the step.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step was created.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step.</p>"
          }
        },
        "outputs": {
          "target": "com.amazonaws.migrationhuborchestrator#StepOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The outputs of the step.</p>"
          }
        },
        "stepAutomationConfiguration": {
          "target": "com.amazonaws.migrationhuborchestrator#StepAutomationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The custom script to run tests on source or target environments.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetMigrationWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/migrationworkflow/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetWorkflowStepRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetWorkflowStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a step in the migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflowstep/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the step group of a migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflowstepgroup/{id}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpQuery": "workflowId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStepGroupResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step group.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step group.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.migrationhuborchestrator#Owner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the step group.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group was created.</p>"
          }
        },
        "lastModifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group was last modified.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step group ended.</p>"
          }
        },
        "tools": {
          "target": "com.amazonaws.migrationhuborchestrator#ToolsList",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS services utilized in a migration workflow.</p>"
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step group.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step group.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStepRequest": {
      "type": "structure",
      "members": {
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpQuery": "workflowId",
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>desThe ID of the step group.</p>",
            "smithy.api#httpQuery": "stepGroupId",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.migrationhuborchestrator#StepId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#GetWorkflowStepResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>"
          }
        },
        "stepGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>"
          }
        },
        "workflowId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>"
          }
        },
        "stepId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the step.</p>"
          }
        },
        "stepActionType": {
          "target": "com.amazonaws.migrationhuborchestrator#StepActionType",
          "traits": {
            "smithy.api#documentation": "<p>The action type of the step. You must run and update the status of a manual step for\n            the workflow to continue after the completion of the step.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.migrationhuborchestrator#Owner",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the step.</p>"
          }
        },
        "workflowStepAutomationConfiguration": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepAutomationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The custom script to run tests on source or target environments.</p>"
          }
        },
        "stepTarget": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The servers on which a step will be run.</p>"
          }
        },
        "outputs": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The outputs of the step.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "previous": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The previous step.</p>"
          }
        },
        "next": {
          "target": "com.amazonaws.migrationhuborchestrator#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The next step.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#StepStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the step.</p>"
          }
        },
        "statusMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status message of the migration workflow.</p>"
          }
        },
        "scriptOutputLocation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The output location of the script.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step was created.</p>"
          }
        },
        "lastStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the workflow was last started.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the step ended.</p>"
          }
        },
        "noOfSrvCompleted": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of servers that have been migrated.</p>"
          }
        },
        "noOfSrvFailed": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of servers that have failed to migrate.</p>"
          }
        },
        "totalNoOfSrv": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of servers that have been migrated.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#IPAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        },
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
      }
    },
    "com.amazonaws.migrationhuborchestrator#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowTemplatesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "name": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the template.</p>",
            "smithy.api#httpQuery": "name"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowTemplatesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "templateSummary": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the template.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpQuery": "templateId"
          }
        },
        "adsApplicationConfigurationName": {
          "target": "com.amazonaws.migrationhuborchestrator#ApplicationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application configured in Application Discovery Service.</p>",
            "smithy.api#httpQuery": "adsApplicationConfigurationName"
          }
        },
        "status": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowStatusEnum",
          "traits": {
            "smithy.api#documentation": "<p>The status of the migration workflow.</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the migration workflow.</p>",
            "smithy.api#httpQuery": "name"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "migrationWorkflowSummary": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the migration workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListPlugins": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListPluginsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListPluginsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List AWS Migration Hub Orchestrator plugins.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/plugins",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "plugins"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListPluginsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of plugins that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListPluginsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "plugins": {
          "target": "com.amazonaws.migrationhuborchestrator#PluginSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Migration Hub Orchestrator plugins.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the tags added to a resource.</p>",
        "smithy.api#http": {
          "uri": "/tags/{resourceArn}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.migrationhuborchestrator#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags added to a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateStepGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTemplateStepGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTemplateStepGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the step groups in a template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templatestepgroups/{templateId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "templateStepGroupSummary"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateStepGroupsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateStepGroupsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "templateStepGroupSummary": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStepGroupSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of the step group in the template.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateSteps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTemplateStepsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListTemplateStepsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the steps in a template.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/templatesteps",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "templateStepSummaryList"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateStepsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "templateId": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>",
            "smithy.api#httpQuery": "templateId",
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#httpQuery": "stepGroupId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplateStepsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "templateStepSummaryList": {
          "target": "com.amazonaws.migrationhuborchestrator#TemplateStepSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of summaries of steps in a template.</p>"
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListMigrationWorkflowTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the templates available in Migration Hub Orchestrator to create a migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/migrationworkflowtemplates",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "templateSummary"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowStepGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListWorkflowStepGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListWorkflowStepGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the step groups in a migration workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflowstepgroups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "workflowStepGroupsSummary"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowStepGroupsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpQuery": "workflowId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowStepGroupsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "workflowStepGroupsSummary": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepGroupsSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of step groups in a migration workflow.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowSteps": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.migrationhuborchestrator#ListWorkflowStepsRequest"
      },
      "output": {
        "target": "com.amazonaws.migrationhuborchestrator#ListWorkflowStepsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.migrationhuborchestrator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#InternalServerException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ThrottlingException"
        },
        {
          "target": "com.amazonaws.migrationhuborchestrator#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the steps in a workflow.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflow/{workflowId}/workflowstepgroups/{stepGroupId}/workflowsteps",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "workflowStepsSummary"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowStepsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.migrationhuborchestrator#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of results that can be returned.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "workflowId": {
          "target": "com.amazonaws.migrationhuborchestrator#MigrationWorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the migration workflow.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "stepGroupId": {
          "target": "com.amazonaws.migrationhuborchestrator#StepGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the step group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.migrationhuborchestrator#ListWorkflowStepsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.migrationhuborchestrator#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token.</p>"
          }
        },
        "workflowStepsSummary": {
          "target": "com.amazonaws.migrationhuborchestrator#WorkflowStepsSummaryList",
          "traits": {
[...]
