{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.aws.migration#AWSMigrationHub": {
      "type": "service",
      "version": "2017-05-31",
      "operations": [
        {
          "target": "com.amazon.aws.migration#AssociateCreatedArtifact"
        },
        {
          "target": "com.amazon.aws.migration#AssociateDiscoveredResource"
        },
        {
          "target": "com.amazon.aws.migration#CreateProgressUpdateStream"
        },
        {
          "target": "com.amazon.aws.migration#DeleteProgressUpdateStream"
        },
        {
          "target": "com.amazon.aws.migration#DescribeApplicationState"
        },
        {
          "target": "com.amazon.aws.migration#DescribeMigrationTask"
        },
        {
          "target": "com.amazon.aws.migration#DisassociateCreatedArtifact"
        },
        {
          "target": "com.amazon.aws.migration#DisassociateDiscoveredResource"
        },
        {
          "target": "com.amazon.aws.migration#ImportMigrationTask"
        },
        {
          "target": "com.amazon.aws.migration#ListApplicationStates"
        },
        {
          "target": "com.amazon.aws.migration#ListCreatedArtifacts"
        },
        {
          "target": "com.amazon.aws.migration#ListDiscoveredResources"
        },
        {
          "target": "com.amazon.aws.migration#ListMigrationTasks"
        },
        {
          "target": "com.amazon.aws.migration#ListProgressUpdateStreams"
        },
        {
          "target": "com.amazon.aws.migration#NotifyApplicationState"
        },
        {
          "target": "com.amazon.aws.migration#NotifyMigrationTaskState"
        },
        {
          "target": "com.amazon.aws.migration#PutResourceAttributes"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Migration Hub",
          "arnNamespace": "mgh",
          "cloudFormationName": "MigrationHub",
          "cloudTrailEventSource": "migration.aws.amazon.com"
        },
        "smithy.api#documentation": "<p>The AWS Migration Hub API methods help to obtain server and application migration status\n         and integrate your resource-specific migration tool by providing a programmatic interface\n         to Migration Hub.</p>\n         <p>Remember that you must set your AWS Migration Hub home region before you call any of\n         these APIs, or a <code>HomeRegionNotSetException</code> error will be returned. Also, you\n         must make the API calls while in your home region.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Migration Hub"
      }
    },
    "com.amazon.aws.migration#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#ApplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazon.aws.migration#ApplicationIds": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#ApplicationId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazon.aws.migration#ApplicationState": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazon.aws.migration#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The configurationId from the Application Discovery Service that uniquely identifies an\n         application.</p>"
          }
        },
        "ApplicationStatus": {
          "target": "com.amazon.aws.migration#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of an application.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the application status was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of an application discovered through Migration Hub import, the AWS Agentless\n         Discovery Connector, or the AWS Application Discovery Agent.</p>"
      }
    },
    "com.amazon.aws.migration#ApplicationStateList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#ApplicationState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazon.aws.migration#ApplicationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NOT_STARTED": {
            "name": "NOT_STARTED"
          },
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          }
        }
      }
    },
    "com.amazon.aws.migration#AssociateCreatedArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#AssociateCreatedArtifactRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#AssociateCreatedArtifactResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a created artifact of an AWS cloud resource, the target receiving the\n         migration, with the migration task performed by a migration tool. This API has the\n         following traits:</p>\n         <ul>\n            <li>\n               <p>Migration tools can call the <code>AssociateCreatedArtifact</code> operation to\n               indicate which AWS artifact is associated with a migration task.</p>\n            </li>\n            <li>\n               <p>The created artifact name must be provided in ARN (Amazon Resource Name) format\n               which will contain information about type and region; for example:\n                  <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p>\n            </li>\n            <li>\n               <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance,\n               or DMS endpoint, etc.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.aws.migration#AssociateCreatedArtifactRequest": {
      "type": "structure",
      "members": {
        "CreatedArtifact": {
          "target": "com.amazon.aws.migration#CreatedArtifact",
          "traits": {
            "smithy.api#documentation": "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS\n         instance, etc.) </p>",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#AssociateCreatedArtifactResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#AssociateDiscoveredResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#AssociateDiscoveredResourceRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#AssociateDiscoveredResourceResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#PolicyErrorException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a discovered resource ID from Application Discovery Service with a migration\n         task.</p>"
      }
    },
    "com.amazon.aws.migration#AssociateDiscoveredResourceRequest": {
      "type": "structure",
      "members": {
        "DiscoveredResource": {
          "target": "com.amazon.aws.migration#DiscoveredResource",
          "traits": {
            "smithy.api#documentation": "<p>Object representing a Resource.</p>",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#AssociateDiscoveredResourceResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#ConfigurationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazon.aws.migration#CreateProgressUpdateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#CreateProgressUpdateStreamRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#CreateProgressUpdateStreamResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a progress update stream which is an AWS resource used for access control as\n         well as a namespace for migration task names that is implicitly linked to your AWS account.\n         It must uniquely identify the migration tool as it is used for all updates made by the\n         tool; however, it does not need to be unique for each AWS account because it is scoped to\n         the AWS account.</p>"
      }
    },
    "com.amazon.aws.migration#CreateProgressUpdateStreamRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "ProgressUpdateStreamName": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#CreateProgressUpdateStreamResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#CreatedArtifact": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazon.aws.migration#CreatedArtifactDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description that can be free-form text to record additional detail about the artifact\n         for clarity or for later reference.</p>"
          }
        },
        "Name": {
          "target": "com.amazon.aws.migration#CreatedArtifactName",
          "traits": {
            "smithy.api#documentation": "<p>An ARN that uniquely identifies the result of a migration task.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ARN of the AWS cloud resource target receiving the migration (e.g., AMI, EC2\n         instance, RDS instance, etc.).</p>"
      }
    },
    "com.amazon.aws.migration#CreatedArtifactDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazon.aws.migration#CreatedArtifactList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#CreatedArtifact"
      }
    },
    "com.amazon.aws.migration#CreatedArtifactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "arn:[a-z-]+:[a-z0-9-]+:(?:[a-z0-9-]+|):(?:[0-9]{12}|):.*"
      }
    },
    "com.amazon.aws.migration#DeleteProgressUpdateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#DeleteProgressUpdateStreamRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#DeleteProgressUpdateStreamResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a progress update stream, including all of its tasks, which was previously\n         created as an AWS resource used for access control. This API has the following\n         traits:</p>\n         <ul>\n            <li>\n               <p>The only parameter needed for <code>DeleteProgressUpdateStream</code> is the\n               stream name (same as a <code>CreateProgressUpdateStream</code> call).</p>\n            </li>\n            <li>\n               <p>The call will return, and a background process will asynchronously delete the\n               stream and all of its resources (tasks, associated resources, resource attributes,\n               created artifacts).</p>\n            </li>\n            <li>\n               <p>If the stream takes time to be deleted, it might still show up on a\n                  <code>ListProgressUpdateStreams</code> call.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreateProgressUpdateStream</code>, <code>ImportMigrationTask</code>,\n                  <code>NotifyMigrationTaskState</code>, and all Associate[*] APIs related to the\n               tasks belonging to the stream will throw \"InvalidInputException\" if the stream of the\n               same name is in the process of being deleted.</p>\n            </li>\n            <li>\n               <p>Once the stream and all of its resources are deleted,\n                  <code>CreateProgressUpdateStream</code> for a stream of the same name will\n               succeed, and that stream will be an entirely new logical resource (without any\n               resources associated with the old stream).</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.aws.migration#DeleteProgressUpdateStreamRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "ProgressUpdateStreamName": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#DeleteProgressUpdateStreamResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#DescribeApplicationState": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#DescribeApplicationStateRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#DescribeApplicationStateResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#PolicyErrorException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the migration status of an application.</p>"
      }
    },
    "com.amazon.aws.migration#DescribeApplicationStateRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazon.aws.migration#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The configurationId in Application Discovery Service that uniquely identifies the\n         grouped application.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#DescribeApplicationStateResult": {
      "type": "structure",
      "members": {
        "ApplicationStatus": {
          "target": "com.amazon.aws.migration#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application - Not Started, In-Progress, Complete.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the application status was last updated.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#DescribeMigrationTask": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#DescribeMigrationTaskRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#DescribeMigrationTaskResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of all attributes associated with a specific migration task.</p>"
      }
    },
    "com.amazon.aws.migration#DescribeMigrationTaskRequest": {
      "type": "structure",
      "members": {
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#DescribeMigrationTaskResult": {
      "type": "structure",
      "members": {
        "MigrationTask": {
          "target": "com.amazon.aws.migration#MigrationTask",
          "traits": {
            "smithy.api#documentation": "<p>Object encapsulating information about the migration task.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#DisassociateCreatedArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#DisassociateCreatedArtifactRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#DisassociateCreatedArtifactResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a created artifact of an AWS resource with a migration task performed by a\n         migration tool that was previously associated. This API has the following traits:</p>\n         <ul>\n            <li>\n               <p>A migration user can call the <code>DisassociateCreatedArtifacts</code> operation\n               to disassociate a created AWS Artifact from a migration task.</p>\n            </li>\n            <li>\n               <p>The created artifact name must be provided in ARN (Amazon Resource Name) format\n               which will contain information about type and region; for example:\n                  <code>arn:aws:ec2:us-east-1:488216288981:image/ami-6d0ba87b</code>.</p>\n            </li>\n            <li>\n               <p>Examples of the AWS resource behind the created artifact are, AMI's, EC2 instance,\n               or RDS instance, etc.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.aws.migration#DisassociateCreatedArtifactRequest": {
      "type": "structure",
      "members": {
        "CreatedArtifactName": {
          "target": "com.amazon.aws.migration#CreatedArtifactName",
          "traits": {
            "smithy.api#documentation": "<p>An ARN of the AWS resource related to the migration (e.g., AMI, EC2 instance, RDS\n         instance, etc.)</p>",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task to be disassociated with the\n         artifact. <i>Do not store personal data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#DisassociateCreatedArtifactResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#DisassociateDiscoveredResource": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#DisassociateDiscoveredResourceRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#DisassociateDiscoveredResourceResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociate an Application Discovery Service discovered resource from a migration\n         task.</p>"
      }
    },
    "com.amazon.aws.migration#DisassociateDiscoveredResourceRequest": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazon.aws.migration#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>ConfigurationId of the Application Discovery Service resource to be\n         disassociated.</p>",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier given to the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#DisassociateDiscoveredResourceResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#DiscoveredResource": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazon.aws.migration#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The configurationId in Application Discovery Service that uniquely identifies the\n         on-premise resource.</p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazon.aws.migration#DiscoveredResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description that can be free-form text to record additional detail about the\n         discovered resource for clarity or later reference.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object representing the on-premises resource being migrated.</p>"
      }
    },
    "com.amazon.aws.migration#DiscoveredResourceDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazon.aws.migration#DiscoveredResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#DiscoveredResource"
      }
    },
    "com.amazon.aws.migration#DryRun": {
      "type": "boolean"
    },
    "com.amazon.aws.migration#DryRunOperation": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised to indicate a successfully authorized action when the\n            <code>DryRun</code> flag is set to \"true\".</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#ErrorMessage": {
      "type": "string"
    },
    "com.amazon.aws.migration#HomeRegionNotSetException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The home region is not set. Set the home region to continue.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#ImportMigrationTask": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ImportMigrationTaskRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ImportMigrationTaskResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers a new migration task which represents a server, database, etc., being migrated\n         to AWS by a migration tool.</p>\n         <p>This API is a prerequisite to calling the <code>NotifyMigrationTaskState</code> API as\n         the migration tool must first register the migration task with Migration Hub.</p>"
      }
    },
    "com.amazon.aws.migration#ImportMigrationTaskRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. ></p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#ImportMigrationTaskResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#InternalServerError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised when an internal, configuration, or dependency error is\n         encountered.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazon.aws.migration#InvalidInputException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised when the provided input violates a policy constraint or is entered in\n         the wrong format or data type.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#LatestResourceAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#ResourceAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazon.aws.migration#ListApplicationStates": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ListApplicationStatesRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ListApplicationStatesResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the migration statuses for your applications. If you use the optional\n            <code>ApplicationIds</code> parameter, only the migration statuses for those\n         applications will be returned.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ApplicationStateList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.aws.migration#ListApplicationStatesRequest": {
      "type": "structure",
      "members": {
        "ApplicationIds": {
          "target": "com.amazon.aws.migration#ApplicationIds",
          "traits": {
            "smithy.api#documentation": "<p>The configurationIds from the Application Discovery Service that uniquely identifies\n         your applications.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazon.aws.migration#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to be returned per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListApplicationStatesResult": {
      "type": "structure",
      "members": {
        "ApplicationStateList": {
          "target": "com.amazon.aws.migration#ApplicationStateList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Applications that exist in Application Discovery Service.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListCreatedArtifacts": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ListCreatedArtifactsRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ListCreatedArtifactsResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the created artifacts attached to a given migration task in an update stream. This\n         API has the following traits:</p>\n         <ul>\n            <li>\n               <p>Gets the list of the created artifacts while\n               migration is taking place.</p>\n            </li>\n            <li>\n               <p>Shows the artifacts created by the migration tool that was associated by the\n                  <code>AssociateCreatedArtifact</code> API. </p>\n            </li>\n            <li>\n               <p>Lists created artifacts in a paginated interface. </p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "CreatedArtifactList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.aws.migration#ListCreatedArtifactsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.aws.migration#MaxResultsCreatedArtifacts",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results to be returned per page.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#ListCreatedArtifactsResult": {
      "type": "structure",
      "members": {
        "CreatedArtifactList": {
          "target": "com.amazon.aws.migration#CreatedArtifactList",
          "traits": {
            "smithy.api#documentation": "<p>List of created artifacts up to the maximum number of results specified in the\n         request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If there are more created artifacts than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListDiscoveredResources": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ListDiscoveredResourcesRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ListDiscoveredResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists discovered resources associated with the given <code>MigrationTask</code>.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "DiscoveredResourceList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.aws.migration#ListDiscoveredResourcesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.aws.migration#MaxResultsResources",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results returned per page.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MigrationTask. <i>Do not store personal data in this\n            field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#ListDiscoveredResourcesResult": {
      "type": "structure",
      "members": {
        "DiscoveredResourceList": {
          "target": "com.amazon.aws.migration#DiscoveredResourceList",
          "traits": {
            "smithy.api#documentation": "<p>Returned list of discovered resources associated with the given MigrationTask.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If there are more discovered resources than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListMigrationTasks": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ListMigrationTasksRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ListMigrationTasksResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#PolicyErrorException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all, or filtered by resource name, migration tasks associated with the user\n         account making this call. This API has the following traits:</p>\n         <ul>\n            <li>\n               <p>Can show a summary list of the most recent migration tasks.</p>\n            </li>\n            <li>\n               <p>Can show a summary list of migration tasks associated with a given discovered\n               resource.</p>\n            </li>\n            <li>\n               <p>Lists migration tasks in a paginated interface.</p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "MigrationTaskSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.aws.migration#ListMigrationTasksRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.aws.migration#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Value to specify how many results are returned per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        },
        "ResourceName": {
          "target": "com.amazon.aws.migration#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Filter migration tasks by discovered resource name.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListMigrationTasksResult": {
      "type": "structure",
      "members": {
        "MigrationTaskSummaryList": {
          "target": "com.amazon.aws.migration#MigrationTaskSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the migration task's summary which includes: <code>MigrationTaskName</code>,\n            <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>,\n         and the <code>UpdateDateTime</code> for each task.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If there are more migration tasks than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListProgressUpdateStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#ListProgressUpdateStreamsRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#ListProgressUpdateStreamsResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists progress update streams associated with the user account making this call.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ProgressUpdateStreamSummaryList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazon.aws.migration#ListProgressUpdateStreamsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazon.aws.migration#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Filter to limit the maximum number of results to list per page.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If a <code>NextToken</code> was returned by a previous call, there are more results\n         available. To retrieve the next page of results, make the call again using the returned\n         token in <code>NextToken</code>.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#ListProgressUpdateStreamsResult": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazon.aws.migration#Token",
          "traits": {
            "smithy.api#documentation": "<p>If there are more streams created than the max result, return the next token to be\n         passed to the next call as a bookmark of where to start from.</p>"
          }
        },
        "ProgressUpdateStreamSummaryList": {
          "target": "com.amazon.aws.migration#ProgressUpdateStreamSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>List of progress update streams up to the max number of results passed in the\n         input.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazon.aws.migration#MaxResultsCreatedArtifacts": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazon.aws.migration#MaxResultsResources": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazon.aws.migration#MigrationTask": {
      "type": "structure",
      "members": {
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>"
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>A name that identifies the vendor of the migration tool being used.</p>"
          }
        },
        "ResourceAttributeList": {
          "target": "com.amazon.aws.migration#LatestResourceAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource that is being migrated. This data will be used to map the\n         task to a resource in the Application Discovery Service repository.</p>"
          }
        },
        "Task": {
          "target": "com.amazon.aws.migration#Task",
          "traits": {
            "smithy.api#documentation": "<p>Task object encapsulating task information.</p>"
          }
        },
        "UpdateDateTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the task was gathered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a migration task in a migration tool.</p>"
      }
    },
    "com.amazon.aws.migration#MigrationTaskName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[^:|]+"
      }
    },
    "com.amazon.aws.migration#MigrationTaskSummary": {
      "type": "structure",
      "members": {
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>"
          }
        },
        "ProgressPercent": {
          "target": "com.amazon.aws.migration#ProgressPercent",
          "traits": {
            "smithy.api#documentation": "<p>Indication of the percentage completion of the task.</p>"
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>An AWS resource used for access control. It should uniquely identify the migration tool\n         as it is used for all updates made by the tool.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.aws.migration#Status",
          "traits": {
            "smithy.api#documentation": "<p>Status of the task.</p>"
          }
        },
        "StatusDetail": {
          "target": "com.amazon.aws.migration#StatusDetail",
          "traits": {
            "smithy.api#documentation": "<p>Detail information of what is being done within the overall status state.</p>"
          }
        },
        "UpdateDateTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the task was gathered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>MigrationTaskSummary includes <code>MigrationTaskName</code>,\n            <code>ProgressPercent</code>, <code>ProgressUpdateStream</code>, <code>Status</code>,\n         and <code>UpdateDateTime</code> for each task.</p>"
      }
    },
    "com.amazon.aws.migration#MigrationTaskSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#MigrationTaskSummary"
      }
    },
    "com.amazon.aws.migration#NextUpdateSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazon.aws.migration#NotifyApplicationState": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#NotifyApplicationStateRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#NotifyApplicationStateResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#PolicyErrorException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the migration state of an application. For a given application identified by the\n         value passed to <code>ApplicationId</code>, its status is set or updated by passing one of\n         three values to <code>Status</code>: <code>NOT_STARTED | IN_PROGRESS |\n         COMPLETED</code>.</p>"
      }
    },
    "com.amazon.aws.migration#NotifyApplicationStateRequest": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazon.aws.migration#ApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The configurationId in Application Discovery Service that uniquely identifies the\n         grouped application.</p>",
            "smithy.api#required": true
          }
        },
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.aws.migration#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application - Not Started, In-Progress, Complete.</p>",
            "smithy.api#required": true
          }
        },
        "UpdateDateTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the application state changed.</p>"
          }
        }
      }
    },
    "com.amazon.aws.migration#NotifyApplicationStateResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#NotifyMigrationTaskState": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#NotifyMigrationTaskStateRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#NotifyMigrationTaskStateResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Notifies Migration Hub of the current status, progress, or other detail regarding a\n         migration task. This API has the following traits:</p>\n         <ul>\n            <li>\n               <p>Migration tools will call the <code>NotifyMigrationTaskState</code> API to share\n               the latest progress and status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MigrationTaskName</code> is used for addressing updates to the correct\n               target.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ProgressUpdateStream</code> is used for access control and to provide a\n               namespace for each migration tool.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazon.aws.migration#NotifyMigrationTaskStateRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "NextUpdateSeconds": {
          "target": "com.amazon.aws.migration#NextUpdateSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Number of seconds after the UpdateDateTime within which the Migration Hub can expect an\n         update. If Migration Hub does not receive an update within the specified interval, then the\n         migration task will be considered stale.</p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        },
        "Task": {
          "target": "com.amazon.aws.migration#Task",
          "traits": {
            "smithy.api#documentation": "<p>Information about the task's progress and status.</p>",
            "smithy.api#required": true
          }
        },
        "UpdateDateTime": {
          "target": "com.amazon.aws.migration#UpdateDateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the task was gathered.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#NotifyMigrationTaskStateResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#PolicyErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised when there are problems accessing Application Discovery Service\n         (Application Discovery Service); most likely due to a misconfigured policy or the\n            <code>migrationhub-discovery</code> role is missing or not configured correctly.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#ProgressPercent": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazon.aws.migration#ProgressUpdateStream": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[^/:|\\000-\\037]+"
      }
    },
    "com.amazon.aws.migration#ProgressUpdateStreamSummary": {
      "type": "structure",
      "members": {
        "ProgressUpdateStreamName": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. <i>Do not store personal data in this\n            field.</i>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the AWS resource used for access control that is implicitly linked to your\n         AWS account.</p>"
      }
    },
    "com.amazon.aws.migration#ProgressUpdateStreamSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#ProgressUpdateStreamSummary"
      }
    },
    "com.amazon.aws.migration#PutResourceAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazon.aws.migration#PutResourceAttributesRequest"
      },
      "output": {
        "target": "com.amazon.aws.migration#PutResourceAttributesResult"
      },
      "errors": [
        {
          "target": "com.amazon.aws.migration#AccessDeniedException"
        },
        {
          "target": "com.amazon.aws.migration#DryRunOperation"
        },
        {
          "target": "com.amazon.aws.migration#HomeRegionNotSetException"
        },
        {
          "target": "com.amazon.aws.migration#InternalServerError"
        },
        {
          "target": "com.amazon.aws.migration#InvalidInputException"
        },
        {
          "target": "com.amazon.aws.migration#ResourceNotFoundException"
        },
        {
          "target": "com.amazon.aws.migration#ServiceUnavailableException"
        },
        {
          "target": "com.amazon.aws.migration#UnauthorizedOperation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides identifying details of the resource being migrated so that it can be associated\n         in the Application Discovery Service repository. This association occurs asynchronously\n         after <code>PutResourceAttributes</code> returns.</p>\n         <important>\n            <ul>\n               <li>\n                  <p>Keep in mind that subsequent calls to PutResourceAttributes will override\n                  previously stored attributes. For example, if it is first called with a MAC\n                  address, but later, it is desired to <i>add</i> an IP address, it\n                  will then be required to call it with <i>both</i> the IP and MAC\n                  addresses to prevent overriding the MAC address.</p>\n               </li>\n               <li>\n                  <p>Note the instructions regarding the special use case of the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/API_PutResourceAttributes.html#migrationhub-PutResourceAttributes-request-ResourceAttributeList\">\n                        <code>ResourceAttributeList</code>\n                     </a> parameter when specifying any\n                  \"VM\" related value.</p>\n               </li>\n            </ul>\n         </important>\n\n         <note>\n            <p>Because this is an asynchronous call, it will always return 200, whether an\n            association occurs or not. To confirm if an association was found based on the provided\n            details, call <code>ListDiscoveredResources</code>.</p>\n         </note>"
      }
    },
    "com.amazon.aws.migration#PutResourceAttributesRequest": {
      "type": "structure",
      "members": {
        "DryRun": {
          "target": "com.amazon.aws.migration#DryRun",
          "traits": {
            "smithy.api#documentation": "<p>Optional boolean flag to indicate whether any effect should take place. Used to test if\n         the caller has permission to make the call.</p>"
          }
        },
        "MigrationTaskName": {
          "target": "com.amazon.aws.migration#MigrationTaskName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier that references the migration task. <i>Do not store personal\n            data in this field.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "ProgressUpdateStream": {
          "target": "com.amazon.aws.migration#ProgressUpdateStream",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ProgressUpdateStream. </p>",
            "smithy.api#required": true
          }
        },
        "ResourceAttributeList": {
          "target": "com.amazon.aws.migration#ResourceAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource that is being migrated. This data will be used to map the\n         task to a resource in the Application Discovery Service repository.</p>\n         <note>\n            <p>Takes the object array of <code>ResourceAttribute</code> where the <code>Type</code>\n            field is reserved for the following values: <code>IPV4_ADDRESS | IPV6_ADDRESS |\n               MAC_ADDRESS | FQDN | VM_MANAGER_ID | VM_MANAGED_OBJECT_REFERENCE | VM_NAME | VM_PATH\n               | BIOS_ID | MOTHERBOARD_SERIAL_NUMBER</code> where the identifying value can be a\n            string up to 256 characters.</p>\n         </note>\n         <important>\n            <ul>\n               <li>\n\n                  <p>If any \"VM\" related value is set for a <code>ResourceAttribute</code> object,\n                  it is required that <code>VM_MANAGER_ID</code>, as a minimum, is always set. If\n                     <code>VM_MANAGER_ID</code> is not set, then all \"VM\" fields will be discarded\n                  and \"VM\" fields will not be used for matching the migration task to a server in\n                  Application Discovery Service repository. See the <a href=\"https://docs.aws.amazon.com/migrationhub/latest/ug/API_PutResourceAttributes.html#API_PutResourceAttributes_Examples\">Example</a> section below for a use case of specifying \"VM\" related\n                  values.</p>\n               </li>\n               <li>\n                  <p> If a server you are trying to match has multiple IP or MAC addresses, you\n                  should provide as many as you know in separate type/value pairs passed to the\n                     <code>ResourceAttributeList</code> parameter to maximize the chances of\n                  matching.</p>\n               </li>\n            </ul>\n         </important>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.aws.migration#PutResourceAttributesResult": {
      "type": "structure",
      "members": { }
    },
    "com.amazon.aws.migration#ResourceAttribute": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazon.aws.migration#ResourceAttributeType",
          "traits": {
            "smithy.api#documentation": "<p>Type of resource.</p>",
            "smithy.api#required": true
          }
        },
        "Value": {
          "target": "com.amazon.aws.migration#ResourceAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>Value of the resource type.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attribute associated with a resource.</p>\n         <p>Note the corresponding format required per type listed below:</p>\n\n\n         <dl>\n            <dt>IPV4</dt>\n            <dd>\n               <p>\n                  <code>x.x.x.x</code>\n               </p>\n               <p>\n                  <i>where x is an integer in the range [0,255]</i>\n               </p>\n            </dd>\n            <dt>IPV6</dt>\n            <dd>\n               <p>\n                  <code>y : y : y : y : y : y : y : y</code>\n               </p>\n               <p>\n                  <i>where y is a hexadecimal between 0 and FFFF. [0,\n                  FFFF]</i>\n               </p>\n            </dd>\n            <dt>MAC_ADDRESS</dt>\n            <dd>\n               <p>\n                  <code>^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$</code>\n               </p>\n            </dd>\n            <dt>FQDN</dt>\n            <dd>\n               <p>\n                  <code>^[^<>{}\\\\\\\\/?,=\\\\p{Cntrl}]{1,256}$</code>\n               </p>\n            </dd>\n         </dl>"
      }
    },
    "com.amazon.aws.migration#ResourceAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazon.aws.migration#ResourceAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazon.aws.migration#ResourceAttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IPV4_ADDRESS": {
            "name": "IPV4_ADDRESS"
          },
          "IPV6_ADDRESS": {
            "name": "IPV6_ADDRESS"
          },
          "MAC_ADDRESS": {
            "name": "MAC_ADDRESS"
          },
          "FQDN": {
            "name": "FQDN"
          },
          "VM_MANAGER_ID": {
            "name": "VM_MANAGER_ID"
          },
          "VM_MANAGED_OBJECT_REFERENCE": {
            "name": "VM_MANAGED_OBJECT_REFERENCE"
          },
          "VM_NAME": {
            "name": "VM_NAME"
          },
          "VM_PATH": {
            "name": "VM_PATH"
          },
          "BIOS_ID": {
            "name": "BIOS_ID"
          },
          "MOTHERBOARD_SERIAL_NUMBER": {
            "name": "MOTHERBOARD_SERIAL_NUMBER"
          }
        }
      }
    },
    "com.amazon.aws.migration#ResourceAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazon.aws.migration#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazon.aws.migration#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised when the request references a resource (Application Discovery Service\n         configuration, update stream, migration task, etc.) that does not exist in Application\n         Discovery Service (Application Discovery Service) or in Migration Hub's repository.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised when there is an internal, configuration, or dependency error\n         encountered.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazon.aws.migration#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NOT_STARTED": {
            "name": "NOT_STARTED"
          },
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          }
        }
      }
    },
    "com.amazon.aws.migration#StatusDetail": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazon.aws.migration#Task": {
      "type": "structure",
      "members": {
        "ProgressPercent": {
          "target": "com.amazon.aws.migration#ProgressPercent",
          "traits": {
            "smithy.api#documentation": "<p>Indication of the percentage completion of the task.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.aws.migration#Status",
          "traits": {
            "smithy.api#documentation": "<p>Status of the task - Not Started, In-Progress, Complete.</p>",
            "smithy.api#required": true
          }
        },
        "StatusDetail": {
          "target": "com.amazon.aws.migration#StatusDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of task status as notified by a migration tool. A tool might use this field to\n         provide clarifying information about the status that is unique to that tool or that\n         explains an error state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Task object encapsulating task information.</p>"
      }
    },
    "com.amazon.aws.migration#Token": {
      "type": "string"
    },
    "com.amazon.aws.migration#UnauthorizedOperation": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.aws.migration#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception raised to indicate a request was not authorized when the <code>DryRun</code>\n         flag is set to \"true\".</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazon.aws.migration#UpdateDateTime": {
      "type": "timestamp"
    }
  }
}
