{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mobile#AWSMobileService": {
      "type": "service",
      "version": "2017-07-01",
      "operations": [
        {
          "target": "com.amazonaws.mobile#CreateProject"
        },
        {
          "target": "com.amazonaws.mobile#DeleteProject"
        },
        {
          "target": "com.amazonaws.mobile#DescribeBundle"
        },
        {
          "target": "com.amazonaws.mobile#DescribeProject"
        },
        {
          "target": "com.amazonaws.mobile#ExportBundle"
        },
        {
          "target": "com.amazonaws.mobile#ExportProject"
        },
        {
          "target": "com.amazonaws.mobile#ListBundles"
        },
        {
          "target": "com.amazonaws.mobile#ListProjects"
        },
        {
          "target": "com.amazonaws.mobile#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Mobile",
          "arnNamespace": "awsmobilehubservice",
          "cloudFormationName": "Mobile",
          "cloudTrailEventSource": "mobile.amazonaws.com",
          "endpointPrefix": "mobile"
        },
        "aws.auth#sigv4": {
          "name": "AWSMobileHubService"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>\n            AWS Mobile Service provides mobile app and website developers with capabilities\n            required to configure AWS resources and bootstrap their developer desktop projects\n            with the necessary SDKs, constants, tools and samples to make use of those resources.\n        </p>",
        "smithy.api#title": "AWS Mobile",
        "smithy.api#xmlNamespace": {
          "uri": "http://mobile.amazonaws.com"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://mobile-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://mobile-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://mobile.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://mobile.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.mobile#AccountActionRequiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Account Action is required in order to continue the request.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mobile#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Key part of key-value attribute pairs.\n        </p>"
      }
    },
    "com.amazonaws.mobile#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Value part of key-value attribute pairs.\n        </p>"
      }
    },
    "com.amazonaws.mobile#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mobile#AttributeKey"
      },
      "value": {
        "target": "com.amazonaws.mobile#AttributeValue"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Key-value attribute pairs.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The request cannot be processed because some parameter is not valid or the project\n            state prevents the operation from being performed.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mobile#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.mobile#BundleDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Description of the download bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BundleDetails": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "com.amazonaws.mobile#BundleId"
        },
        "title": {
          "target": "com.amazonaws.mobile#BundleTitle"
        },
        "version": {
          "target": "com.amazonaws.mobile#BundleVersion"
        },
        "description": {
          "target": "com.amazonaws.mobile#BundleDescription"
        },
        "iconUrl": {
          "target": "com.amazonaws.mobile#IconUrl"
        },
        "availablePlatforms": {
          "target": "com.amazonaws.mobile#Platforms"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The details of the bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BundleId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Unique bundle identifier.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BundleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mobile#BundleDetails"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            A list of bundles.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BundleTitle": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Title of the download bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#BundleVersion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Version of the download bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ConsoleUrl": {
      "type": "string"
    },
    "com.amazonaws.mobile#Contents": {
      "type": "blob",
      "traits": {
        "smithy.api#documentation": "<p>\n            Binary file data.\n        </p>"
      }
    },
    "com.amazonaws.mobile#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#CreateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#LimitExceededException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Creates an AWS Mobile Hub project.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.mobile#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the project.\n        </p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "region": {
          "target": "com.amazonaws.mobile#ProjectRegion",
          "traits": {
            "smithy.api#documentation": "<p>\n            Default region where project resources should be created.\n        </p>",
            "smithy.api#httpQuery": "region"
          }
        },
        "contents": {
          "target": "com.amazonaws.mobile#Contents",
          "traits": {
            "smithy.api#documentation": "<p>\n            ZIP or YAML file which contains configuration settings to be used when creating\n            the project. This may be the contents of the file downloaded from the URL provided\n            in an export project operation.\n        </p>",
            "smithy.api#httpPayload": {}
          }
        },
        "snapshotId": {
          "target": "com.amazonaws.mobile#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique identifier for an exported snapshot of project configuration. This\n            snapshot identifier is included in the share URL when a project is exported.\n        </p>",
            "smithy.api#httpQuery": "snapshotId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to request a project be created.\n        </p>"
      }
    },
    "com.amazonaws.mobile#CreateProjectResult": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.mobile#ProjectDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n            Detailed information about the created AWS Mobile Hub project.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used in response to a request to create a project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.mobile#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#DeleteProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Delets a project in AWS Mobile Hub.\n        </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to request a project be deleted.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DeleteProjectResult": {
      "type": "structure",
      "members": {
        "deletedResources": {
          "target": "com.amazonaws.mobile#Resources",
          "traits": {
            "smithy.api#documentation": "<p>\n            Resources which were deleted.\n        </p>"
          }
        },
        "orphanedResources": {
          "target": "com.amazonaws.mobile#Resources",
          "traits": {
            "smithy.api#documentation": "<p>\n            Resources which were not deleted, due to a risk of losing potentially\n            important data or files.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used in response to request to delete a project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DescribeBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#DescribeBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#DescribeBundleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Get the bundle details for the requested bundle id.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bundles/{bundleId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#DescribeBundleRequest": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "com.amazonaws.mobile#BundleId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique bundle identifier.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure to request the details of a specific bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DescribeBundleResult": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.mobile#BundleDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n            The details of the bundle.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure contains the details of the bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#DescribeProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Gets details about a project in AWS Mobile Hub.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/project",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>",
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        },
        "syncFromResources": {
          "target": "com.amazonaws.mobile#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            If set to true, causes AWS Mobile Hub to synchronize information from other services, e.g., update state of AWS CloudFormation stacks in the AWS Mobile Hub project.\n        </p>",
            "smithy.api#httpQuery": "syncFromResources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to request details about a project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DescribeProjectResult": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.mobile#ProjectDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used for requests of project details.\n        </p>"
      }
    },
    "com.amazonaws.mobile#DownloadUrl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n           The download Url.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            The Exception Error Message.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ExportBundle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#ExportBundleRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#ExportBundleResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Generates customized software development kit (SDK) and or tool packages\n            used to integrate mobile web or mobile app clients with backend AWS resources.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bundles/{bundleId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#ExportBundleRequest": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "com.amazonaws.mobile#BundleId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique bundle identifier.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>",
            "smithy.api#httpQuery": "projectId"
          }
        },
        "platform": {
          "target": "com.amazonaws.mobile#Platform",
          "traits": {
            "smithy.api#documentation": "<p>\n            Developer desktop or target application platform.\n        </p>",
            "smithy.api#httpQuery": "platform"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to request generation of custom SDK and tool packages\n            required to integrate mobile web or app clients with backed AWS resources.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ExportBundleResult": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "com.amazonaws.mobile#DownloadUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            URL which contains the custom-generated SDK and tool packages used\n            to integrate the client mobile app or web app with the AWS resources\n            created by the AWS Mobile Hub project.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure which contains link to download custom-generated SDK and\n            tool packages used to integrate mobile web or app clients with backed\n            AWS resources.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ExportProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#ExportProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#ExportProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Exports project configuration to a snapshot which can be downloaded and shared.\n            Note that mobile app push credentials are encrypted in exported projects, so they\n            can only be shared successfully within the same AWS account.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/exports/{projectId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#ExportProjectRequest": {
      "type": "structure",
      "members": {
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used in requests to export project configuration details.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ExportProjectResult": {
      "type": "structure",
      "members": {
        "downloadUrl": {
          "target": "com.amazonaws.mobile#DownloadUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            URL which can be used to download the exported project configuation file(s).\n        </p>"
          }
        },
        "shareUrl": {
          "target": "com.amazonaws.mobile#ShareUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            URL which can be shared to allow other AWS users to create their own project\n            in AWS Mobile Hub with the same configuration as the specified project. This\n            URL pertains to a snapshot in time of the project configuration that is created\n            when this API is called. If you want to share additional changes to your project\n            configuration, then you will need to create and share a new snapshot by calling\n            this method again.\n        </p>"
          }
        },
        "snapshotId": {
          "target": "com.amazonaws.mobile#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique identifier for the exported snapshot of the project configuration. This\n            snapshot identifier is included in the share URL.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used for requests to export project configuration details.\n        </p>"
      }
    },
    "com.amazonaws.mobile#Feature": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Identifies which feature in AWS Mobile Hub is associated with this AWS resource.\n        </p>"
      }
    },
    "com.amazonaws.mobile#IconUrl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Icon for the download bundle.\n        </p>"
      }
    },
    "com.amazonaws.mobile#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The service has encountered an unexpected error condition which prevents it from\n            servicing the request.\n        </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mobile#LimitExceededException": {
      "type": "structure",
      "members": {
        "retryAfterSeconds": {
          "target": "com.amazonaws.mobile#ErrorMessage",
          "traits": {
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            There are too many AWS Mobile Hub projects in the account or the account has\n            exceeded the maximum number of resources in some AWS service. You should create\n            another sub-account using AWS Organizations or remove some resources and retry\n            your request.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.mobile#ListBundles": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#ListBundlesRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#ListBundlesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            List all available bundles.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bundles",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.mobile#ListBundlesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.mobile#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Maximum number of records to list in a single response.\n        </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.mobile#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Pagination token. Set to null to start listing bundles from start.\n            If non-null pagination token is returned in a result, then pass its\n            value in here in another request to list more bundles.\n        </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure to request all available bundles.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ListBundlesResult": {
      "type": "structure",
      "members": {
        "bundleList": {
          "target": "com.amazonaws.mobile#BundleList",
          "traits": {
            "smithy.api#documentation": "<p>\n            A list of bundles.\n        </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.mobile#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Pagination token. If non-null pagination token is returned in a result,\n            then pass its value in another request to fetch more entries.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure contains a list of all available bundles with details.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#ListProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#ListProjectsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Lists projects in AWS Mobile Hub.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.mobile#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.mobile#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Maximum number of records to list in a single response.\n        </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.mobile#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Pagination token. Set to null to start listing projects from start.\n            If non-null pagination token is returned in a result, then pass its\n            value in here in another request to list more projects.\n        </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used to request projects list in AWS Mobile Hub.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ListProjectsResult": {
      "type": "structure",
      "members": {
        "projects": {
          "target": "com.amazonaws.mobile#ProjectSummaries"
        },
        "nextToken": {
          "target": "com.amazonaws.mobile#NextToken"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used for requests to list projects in AWS Mobile Hub.\n        </p>"
      }
    },
    "com.amazonaws.mobile#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#documentation": "<p>\n            Maximum number of records to list in a single response.\n        </p>"
      }
    },
    "com.amazonaws.mobile#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Pagination token. Set to null to start listing records from start.\n            If non-null pagination token is returned in a result, then pass its\n            value in here in another request to list more entries.\n        </p>"
      }
    },
    "com.amazonaws.mobile#NotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            No entity can be found with the specified identifier.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mobile#Platform": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Developer desktop or target mobile app or website platform.\n        </p>",
        "smithy.api#enum": [
          {
            "value": "OSX",
            "name": "OSX"
          },
          {
            "value": "WINDOWS",
            "name": "WINDOWS"
          },
          {
            "value": "LINUX",
            "name": "LINUX"
          },
          {
            "value": "OBJC",
            "name": "OBJC"
          },
          {
            "value": "SWIFT",
            "name": "SWIFT"
          },
          {
            "value": "ANDROID",
            "name": "ANDROID"
          },
          {
            "value": "JAVASCRIPT",
            "name": "JAVASCRIPT"
          }
        ]
      }
    },
    "com.amazonaws.mobile#Platforms": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mobile#Platform"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Developer desktop or mobile app or website platforms.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectDetails": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.mobile#ProjectName"
        },
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId"
        },
        "region": {
          "target": "com.amazonaws.mobile#ProjectRegion"
        },
        "state": {
          "target": "com.amazonaws.mobile#ProjectState"
        },
        "createdDate": {
          "target": "com.amazonaws.mobile#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n            Date the project was created.\n        </p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.mobile#Date",
          "traits": {
            "smithy.api#documentation": "<p>\n            Date of the last modification of the project.\n        </p>"
          }
        },
        "consoleUrl": {
          "target": "com.amazonaws.mobile#ConsoleUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            Website URL for this project in the AWS Mobile Hub console.\n        </p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.mobile#Resources"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Detailed information about an AWS Mobile Hub project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Name of the project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectRegion": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Default region to use for AWS resource creation in the AWS Mobile Hub project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Synchronization state for a project.\n        </p>",
        "smithy.api#enum": [
          {
            "value": "NORMAL",
            "name": "NORMAL"
          },
          {
            "value": "SYNCING",
            "name": "SYNCING"
          },
          {
            "value": "IMPORTING",
            "name": "IMPORTING"
          }
        ]
      }
    },
    "com.amazonaws.mobile#ProjectSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mobile#ProjectSummary"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            List of projects.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ProjectSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.mobile#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>\n            Name of the project.\n        </p>"
          }
        },
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Summary information about an AWS Mobile Hub project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#Resource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.mobile#ResourceType"
        },
        "name": {
          "target": "com.amazonaws.mobile#ResourceName"
        },
        "arn": {
          "target": "com.amazonaws.mobile#ResourceArn"
        },
        "feature": {
          "target": "com.amazonaws.mobile#Feature"
        },
        "attributes": {
          "target": "com.amazonaws.mobile#Attributes"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Information about an instance of an AWS resource associated with a project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            AWS resource name which uniquely identifies the resource in AWS systems.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Name of the AWS resource (e.g., for an Amazon S3 bucket this is the name of the bucket).\n        </p>"
      }
    },
    "com.amazonaws.mobile#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Simplified name for type of AWS resource (e.g., bucket is an Amazon S3 bucket).\n        </p>"
      }
    },
    "com.amazonaws.mobile#Resources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mobile#Resource"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            List of AWS resources associated with a project.\n        </p>"
      }
    },
    "com.amazonaws.mobile#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "retryAfterSeconds": {
          "target": "com.amazonaws.mobile#ErrorMessage",
          "traits": {
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The service is temporarily unavailable. The request should be retried after some\n            time delay.\n        </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.mobile#ShareUrl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            URL which can be shared to allow other AWS users to create their own project\n            in AWS Mobile Hub with the same configuration as the specified project. This\n            URL pertains to a snapshot in time of the project configuration that is created\n            when this API is called. If you want to share additional changes to your project\n            configuration, then you will need to create and share a new snapshot by calling\n            this method again.\n        </p>"
      }
    },
    "com.amazonaws.mobile#SnapshotId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n            Unique identifier for the exported snapshot of the project configuration. This\n            snapshot identifier is included in the share URL.\n        </p>"
      }
    },
    "com.amazonaws.mobile#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "retryAfterSeconds": {
          "target": "com.amazonaws.mobile#ErrorMessage",
          "traits": {
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Too many requests have been received for this AWS account in too short a time. The\n            request should be retried after some time delay.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.mobile#UnauthorizedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.mobile#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Credentials of the caller are insufficient to authorize the request.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.mobile#UpdateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mobile#UpdateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.mobile#UpdateProjectResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.mobile#AccountActionRequiredException"
        },
        {
          "target": "com.amazonaws.mobile#BadRequestException"
        },
        {
          "target": "com.amazonaws.mobile#InternalFailureException"
        },
        {
          "target": "com.amazonaws.mobile#LimitExceededException"
        },
        {
          "target": "com.amazonaws.mobile#NotFoundException"
        },
        {
          "target": "com.amazonaws.mobile#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mobile#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mobile#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Update an existing project.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/update",
          "code": 200
        }
      }
    },
    "com.amazonaws.mobile#UpdateProjectRequest": {
      "type": "structure",
      "members": {
        "contents": {
          "target": "com.amazonaws.mobile#Contents",
          "traits": {
            "smithy.api#documentation": "<p>\n            ZIP or YAML file which contains project configuration to be updated. This should\n            be the contents of the file downloaded from the URL provided in an export project\n            operation.\n        </p>",
            "smithy.api#httpPayload": {}
          }
        },
        "projectId": {
          "target": "com.amazonaws.mobile#ProjectId",
          "traits": {
            "smithy.api#documentation": "<p>\n            Unique project identifier.\n        </p>",
            "smithy.api#httpQuery": "projectId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Request structure used for requests to update project configuration.\n        </p>"
      }
    },
    "com.amazonaws.mobile#UpdateProjectResult": {
      "type": "structure",
      "members": {
        "details": {
          "target": "com.amazonaws.mobile#ProjectDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n            Detailed information about the updated AWS Mobile Hub project.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Result structure used for requests to updated project configuration.\n        </p>"
      }
    }
  }
}