{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mq#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Id for the availability zone.",
            "smithy.api#jsonName": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Name of the availability zone."
      }
    },
    "com.amazonaws.mq#BadRequestException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mq#BrokerEngineType": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "The type of broker engine.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersions": {
          "target": "com.amazonaws.mq#__listOfEngineVersion",
          "traits": {
            "smithy.api#documentation": "The list of engine versions.",
            "smithy.api#jsonName": "engineVersions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Types of broker engines."
      }
    },
    "com.amazonaws.mq#BrokerInstance": {
      "type": "structure",
      "members": {
        "ConsoleURL": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the broker's ActiveMQ Web Console.",
            "smithy.api#jsonName": "consoleURL"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The broker's wire-level protocol endpoints.",
            "smithy.api#jsonName": "endpoints"
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The IP address of the Elastic Network Interface (ENI) attached to the broker.",
            "smithy.api#jsonName": "ipAddress"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about all brokers."
      }
    },
    "com.amazonaws.mq#BrokerInstanceOption": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.mq#__listOfAvailabilityZone",
          "traits": {
            "smithy.api#documentation": "The list of available az.",
            "smithy.api#jsonName": "availabilityZones"
          }
        },
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "The type of broker engine.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The type of broker instance.",
            "smithy.api#jsonName": "hostInstanceType"
          }
        },
        "StorageType": {
          "target": "com.amazonaws.mq#BrokerStorageType",
          "traits": {
            "smithy.api#documentation": "The broker's storage type.",
            "smithy.api#jsonName": "storageType"
          }
        },
        "SupportedDeploymentModes": {
          "target": "com.amazonaws.mq#__listOfDeploymentMode",
          "traits": {
            "smithy.api#documentation": "The list of supported deployment modes.",
            "smithy.api#jsonName": "supportedDeploymentModes"
          }
        },
        "SupportedEngineVersions": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of supported engine versions.",
            "smithy.api#jsonName": "supportedEngineVersions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Option for host instance type."
      }
    },
    "com.amazonaws.mq#BrokerState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The status of the broker.",
        "smithy.api#enum": [
          {
            "value": "CREATION_IN_PROGRESS",
            "name": "CREATION_IN_PROGRESS"
          },
          {
            "value": "CREATION_FAILED",
            "name": "CREATION_FAILED"
          },
          {
            "value": "DELETION_IN_PROGRESS",
            "name": "DELETION_IN_PROGRESS"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "REBOOT_IN_PROGRESS",
            "name": "REBOOT_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.mq#BrokerStorageType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The storage type of the broker.",
        "smithy.api#enum": [
          {
            "value": "EBS",
            "name": "EBS"
          },
          {
            "value": "EFS",
            "name": "EFS"
          }
        ]
      }
    },
    "com.amazonaws.mq#BrokerSummary": {
      "type": "structure",
      "members": {
        "BrokerArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the broker.",
            "smithy.api#jsonName": "brokerArn"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "BrokerName": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#jsonName": "brokerName"
          }
        },
        "BrokerState": {
          "target": "com.amazonaws.mq#BrokerState",
          "traits": {
            "smithy.api#documentation": "The status of the broker.",
            "smithy.api#jsonName": "brokerState"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "The time when the broker was created.",
            "smithy.api#jsonName": "created"
          }
        },
        "DeploymentMode": {
          "target": "com.amazonaws.mq#DeploymentMode",
          "traits": {
            "smithy.api#documentation": "Required. The deployment mode of the broker.",
            "smithy.api#jsonName": "deploymentMode"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The broker's instance type.",
            "smithy.api#jsonName": "hostInstanceType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Amazon Resource Name (ARN) of the broker."
      }
    },
    "com.amazonaws.mq#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The type of change pending for the ActiveMQ user.",
        "smithy.api#enum": [
          {
            "value": "CREATE",
            "name": "CREATE"
          },
          {
            "value": "UPDATE",
            "name": "UPDATE"
          },
          {
            "value": "DELETE",
            "name": "DELETE"
          }
        ]
      }
    },
    "com.amazonaws.mq#Configuration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The ARN of the configuration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration revision.",
            "smithy.api#jsonName": "created"
          }
        },
        "Description": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The description of the configuration.",
            "smithy.api#jsonName": "description"
          }
        },
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "Id": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "id"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.mq#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "Required. The latest revision of the configuration.",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
            "smithy.api#jsonName": "name"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The list of all tags associated with this configuration.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about all configurations."
      }
    },
    "com.amazonaws.mq#ConfigurationId": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "id"
          }
        },
        "Revision": {
          "target": "com.amazonaws.mq#__integer",
          "traits": {
            "smithy.api#documentation": "The revision number of the configuration.",
            "smithy.api#jsonName": "revision"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of information about the configuration."
      }
    },
    "com.amazonaws.mq#ConfigurationRevision": {
      "type": "structure",
      "members": {
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration revision.",
            "smithy.api#jsonName": "created"
          }
        },
        "Description": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The description of the configuration revision.",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.mq#__integer",
          "traits": {
            "smithy.api#documentation": "Required. The revision number of the configuration.",
            "smithy.api#jsonName": "revision"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about the specified configuration revision."
      }
    },
    "com.amazonaws.mq#Configurations": {
      "type": "structure",
      "members": {
        "Current": {
          "target": "com.amazonaws.mq#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "The current configuration of the broker.",
            "smithy.api#jsonName": "current"
          }
        },
        "History": {
          "target": "com.amazonaws.mq#__listOfConfigurationId",
          "traits": {
            "smithy.api#documentation": "The history of configurations applied to the broker.",
            "smithy.api#jsonName": "history"
          }
        },
        "Pending": {
          "target": "com.amazonaws.mq#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "The pending configuration of the broker.",
            "smithy.api#jsonName": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Broker configuration information"
      }
    },
    "com.amazonaws.mq#ConflictException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.mq#CreateBroker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#CreateBrokerRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#CreateBrokerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a broker. Note: This API is asynchronous.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/brokers",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#CreateBrokerRequest": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
            "smithy.api#jsonName": "autoMinorVersionUpgrade"
          }
        },
        "BrokerName": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#jsonName": "brokerName"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.mq#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "A list of information about the configuration.",
            "smithy.api#jsonName": "configuration"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that the requester receives for the created broker. Amazon MQ passes your ID with the API action. Note: We recommend using a Universally Unique Identifier (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application doesn't require idempotency.",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "creatorRequestId"
          }
        },
        "DeploymentMode": {
          "target": "com.amazonaws.mq#DeploymentMode",
          "traits": {
            "smithy.api#documentation": "Required. The deployment mode of the broker.",
            "smithy.api#jsonName": "deploymentMode"
          }
        },
        "EncryptionOptions": {
          "target": "com.amazonaws.mq#EncryptionOptions",
          "traits": {
            "smithy.api#documentation": "Encryption options for the broker.",
            "smithy.api#jsonName": "encryptionOptions"
          }
        },
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The broker's instance type.",
            "smithy.api#jsonName": "hostInstanceType"
          }
        },
        "Logs": {
          "target": "com.amazonaws.mq#Logs",
          "traits": {
            "smithy.api#documentation": "Enables Amazon CloudWatch logging for brokers.",
            "smithy.api#jsonName": "logs"
          }
        },
        "MaintenanceWindowStartTime": {
          "target": "com.amazonaws.mq#WeeklyStartTime",
          "traits": {
            "smithy.api#documentation": "The parameters that determine the WeeklyStartTime.",
            "smithy.api#jsonName": "maintenanceWindowStartTime"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables connections from applications outside of the VPC that hosts the broker's subnets.",
            "smithy.api#jsonName": "publiclyAccessible"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "StorageType": {
          "target": "com.amazonaws.mq#BrokerStorageType",
          "traits": {
            "smithy.api#documentation": "The broker's storage type.",
            "smithy.api#jsonName": "storageType"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of groups (2 maximum) that define which subnets and IP ranges the broker can use from different Availability Zones. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment requires two subnets.",
            "smithy.api#jsonName": "subnetIds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "Create tags when creating the broker.",
            "smithy.api#jsonName": "tags"
          }
        },
        "Users": {
          "target": "com.amazonaws.mq#__listOfUser",
          "traits": {
            "smithy.api#documentation": "Required. The list of ActiveMQ users (persons or applications) who can access queues and topics. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#jsonName": "users"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a broker using the specified properties."
      }
    },
    "com.amazonaws.mq#CreateBrokerResponse": {
      "type": "structure",
      "members": {
        "BrokerArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the broker.",
            "smithy.api#jsonName": "brokerArn"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        }
      }
    },
    "com.amazonaws.mq#CreateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#CreateConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#CreateConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version).",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#CreateConfigurationRequest": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
            "smithy.api#jsonName": "name"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "Create tags when creating the configuration.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new configuration for the specified configuration name. Amazon MQ uses the default configuration (the engine type and version)."
      }
    },
    "com.amazonaws.mq#CreateConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The Amazon Resource Name (ARN) of the configuration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration.",
            "smithy.api#jsonName": "created"
          }
        },
        "Id": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "id"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.mq#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "The latest revision of the configuration.",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
            "smithy.api#jsonName": "name"
          }
        }
      }
    },
    "com.amazonaws.mq#CreateTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#CreateTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Add a tag to a resource.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.mq#CreateTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the resource tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The key-value pair for the resource tag.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A map of the key-value pairs for the resource tag."
      }
    },
    "com.amazonaws.mq#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates an ActiveMQ user.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/brokers/{BrokerId}/users/{Username}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#CreateUserRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConsoleAccess": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
            "smithy.api#jsonName": "consoleAccess"
          }
        },
        "Groups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#jsonName": "groups"
          }
        },
        "Password": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
            "smithy.api#jsonName": "password"
          }
        },
        "Username": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new ActiveMQ user."
      }
    },
    "com.amazonaws.mq#CreateUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mq#DayOfWeek": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MONDAY",
            "name": "MONDAY"
          },
          {
            "value": "TUESDAY",
            "name": "TUESDAY"
          },
          {
            "value": "WEDNESDAY",
            "name": "WEDNESDAY"
          },
          {
            "value": "THURSDAY",
            "name": "THURSDAY"
          },
          {
            "value": "FRIDAY",
            "name": "FRIDAY"
          },
          {
            "value": "SATURDAY",
            "name": "SATURDAY"
          },
          {
            "value": "SUNDAY",
            "name": "SUNDAY"
          }
        ]
      }
    },
    "com.amazonaws.mq#DeleteBroker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DeleteBrokerRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DeleteBrokerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a broker. Note: This API is asynchronous.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/brokers/{BrokerId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DeleteBrokerRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DeleteBrokerResponse": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        }
      }
    },
    "com.amazonaws.mq#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DeleteTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes a tag from a resource.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.mq#DeleteTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the resource tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "An array of tag keys to delete",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an ActiveMQ user.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/brokers/{BrokerId}/users/{Username}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mq#DeploymentMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The deployment mode of the broker.",
        "smithy.api#enum": [
          {
            "value": "SINGLE_INSTANCE",
            "name": "SINGLE_INSTANCE"
          },
          {
            "value": "ACTIVE_STANDBY_MULTI_AZ",
            "name": "ACTIVE_STANDBY_MULTI_AZ"
          }
        ]
      }
    },
    "com.amazonaws.mq#DescribeBroker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeBrokerRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeBrokerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about the specified broker.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/brokers/{BrokerId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerEngineTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeBrokerEngineTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeBrokerEngineTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Describe available engine types and versions.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/broker-engine-types",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerEngineTypesRequest": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Filter response by engine type.",
            "smithy.api#httpQuery": "engineType"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of engine types that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerEngineTypesResponse": {
      "type": "structure",
      "members": {
        "BrokerEngineTypes": {
          "target": "com.amazonaws.mq#__listOfBrokerEngineType",
          "traits": {
            "smithy.api#documentation": "List of available engine types and versions.",
            "smithy.api#jsonName": "brokerEngineTypes"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#__integerMin5Max100",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of engine types that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerInstanceOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeBrokerInstanceOptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeBrokerInstanceOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Describe available broker instance options.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/broker-instance-options",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerInstanceOptionsRequest": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Filter response by engine type.",
            "smithy.api#httpQuery": "engineType"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Filter response by host instance type.",
            "smithy.api#httpQuery": "hostInstanceType"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of instance options that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "StorageType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Filter response by storage type.",
            "smithy.api#httpQuery": "storageType"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerInstanceOptionsResponse": {
      "type": "structure",
      "members": {
        "BrokerInstanceOptions": {
          "target": "com.amazonaws.mq#__listOfBrokerInstanceOption",
          "traits": {
            "smithy.api#documentation": "List of available broker instance options.",
            "smithy.api#jsonName": "brokerInstanceOptions"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#__integerMin5Max100",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of instance options that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeBrokerResponse": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
            "smithy.api#jsonName": "autoMinorVersionUpgrade"
          }
        },
        "BrokerArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the broker.",
            "smithy.api#jsonName": "brokerArn"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "BrokerInstances": {
          "target": "com.amazonaws.mq#__listOfBrokerInstance",
          "traits": {
            "smithy.api#documentation": "A list of information about allocated brokers.",
            "smithy.api#jsonName": "brokerInstances"
          }
        },
        "BrokerName": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#jsonName": "brokerName"
          }
        },
        "BrokerState": {
          "target": "com.amazonaws.mq#BrokerState",
          "traits": {
            "smithy.api#documentation": "The status of the broker.",
            "smithy.api#jsonName": "brokerState"
          }
        },
        "Configurations": {
          "target": "com.amazonaws.mq#Configurations",
          "traits": {
            "smithy.api#documentation": "The list of all revisions for the specified configuration.",
            "smithy.api#jsonName": "configurations"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "The time when the broker was created.",
            "smithy.api#jsonName": "created"
          }
        },
        "DeploymentMode": {
          "target": "com.amazonaws.mq#DeploymentMode",
          "traits": {
            "smithy.api#documentation": "Required. The deployment mode of the broker.",
            "smithy.api#jsonName": "deploymentMode"
          }
        },
        "EncryptionOptions": {
          "target": "com.amazonaws.mq#EncryptionOptions",
          "traits": {
            "smithy.api#documentation": "Encryption options for the broker.",
            "smithy.api#jsonName": "encryptionOptions"
          }
        },
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The broker's instance type.",
            "smithy.api#jsonName": "hostInstanceType"
          }
        },
        "Logs": {
          "target": "com.amazonaws.mq#LogsSummary",
          "traits": {
            "smithy.api#documentation": "The list of information about logs currently enabled and pending to be deployed for the specified broker.",
            "smithy.api#jsonName": "logs"
          }
        },
        "MaintenanceWindowStartTime": {
          "target": "com.amazonaws.mq#WeeklyStartTime",
          "traits": {
            "smithy.api#documentation": "The parameters that determine the WeeklyStartTime.",
            "smithy.api#jsonName": "maintenanceWindowStartTime"
          }
        },
        "PendingEngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The version of the broker engine to upgrade to. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "pendingEngineVersion"
          }
        },
        "PendingHostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The host instance type of the broker to upgrade to. For a list of supported instance types, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide//broker.html#broker-instance-types",
            "smithy.api#jsonName": "pendingHostInstanceType"
          }
        },
        "PendingSecurityGroups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of pending security groups to authorize connections to brokers.",
            "smithy.api#jsonName": "pendingSecurityGroups"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Required. Enables connections from applications outside of the VPC that hosts the broker's subnets.",
            "smithy.api#jsonName": "publiclyAccessible"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "StorageType": {
          "target": "com.amazonaws.mq#BrokerStorageType",
          "traits": {
            "smithy.api#documentation": "The broker's storage type.",
            "smithy.api#jsonName": "storageType"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of groups (2 maximum) that define which subnets and IP ranges the broker can use from different Availability Zones. A SINGLE_INSTANCE deployment requires one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment requires two subnets.",
            "smithy.api#jsonName": "subnetIds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The list of all tags associated with this broker.",
            "smithy.api#jsonName": "tags"
          }
        },
        "Users": {
          "target": "com.amazonaws.mq#__listOfUserSummary",
          "traits": {
            "smithy.api#documentation": "The list of all ActiveMQ usernames for the specified broker.",
            "smithy.api#jsonName": "users"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about the specified configuration.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{ConfigurationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeConfigurationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The ARN of the configuration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration revision.",
            "smithy.api#jsonName": "created"
          }
        },
        "Description": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The description of the configuration.",
            "smithy.api#jsonName": "description"
          }
        },
        "EngineType": {
          "target": "com.amazonaws.mq#EngineType",
          "traits": {
            "smithy.api#documentation": "Required. The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.",
            "smithy.api#jsonName": "engineType"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "Id": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "id"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.mq#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "Required. The latest revision of the configuration.",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
            "smithy.api#jsonName": "name"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The list of all tags associated with this configuration.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeConfigurationRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeConfigurationRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeConfigurationRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns the specified configuration revision for the specified configuration.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{ConfigurationId}/revisions/{ConfigurationRevision}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeConfigurationRevisionRequest": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConfigurationRevision": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The revision of the configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeConfigurationRevisionResponse": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "configurationId"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration.",
            "smithy.api#jsonName": "created"
          }
        },
        "Data": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The base64-encoded XML configuration.",
            "smithy.api#jsonName": "data"
          }
        },
        "Description": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The description of the configuration.",
            "smithy.api#jsonName": "description"
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about an ActiveMQ user.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/brokers/{BrokerId}/users/{Username}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Username": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "ConsoleAccess": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
            "smithy.api#jsonName": "consoleAccess"
          }
        },
        "Groups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#jsonName": "groups"
          }
        },
        "Pending": {
          "target": "com.amazonaws.mq#UserPendingChanges",
          "traits": {
            "smithy.api#documentation": "The status of the changes pending for the ActiveMQ user.",
            "smithy.api#jsonName": "pending"
          }
        },
        "Username": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The username of the ActiveMQ user. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#jsonName": "username"
          }
        }
      }
    },
    "com.amazonaws.mq#EncryptionOptions": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The customer master key (CMK) to use for the AWS Key Management Service (KMS). This key is used to encrypt your data at rest. If not provided, Amazon MQ will use a default CMK to encrypt your data.",
            "smithy.api#jsonName": "kmsKeyId"
          }
        },
        "UseAwsOwnedKey": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables the use of an AWS owned CMK using AWS Key Management Service (KMS).",
            "smithy.api#jsonName": "useAwsOwnedKey",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Encryption options for the broker."
      }
    },
    "com.amazonaws.mq#EngineType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The type of broker engine. Note: Currently, Amazon MQ supports only ActiveMQ.",
        "smithy.api#enum": [
          {
            "value": "ACTIVEMQ",
            "name": "ACTIVEMQ"
          }
        ]
      }
    },
    "com.amazonaws.mq#EngineVersion": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Id for the version.",
            "smithy.api#jsonName": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Id of the engine version."
      }
    },
    "com.amazonaws.mq#ForbiddenException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mq#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mq#ListBrokers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#ListBrokersRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#ListBrokersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a list of all brokers.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/brokers",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#ListBrokersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of brokers that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListBrokersResponse": {
      "type": "structure",
      "members": {
        "BrokerSummaries": {
          "target": "com.amazonaws.mq#__listOfBrokerSummary",
          "traits": {
            "smithy.api#documentation": "A list of information about all brokers.",
            "smithy.api#jsonName": "brokerSummaries"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListConfigurationRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#ListConfigurationRevisionsRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#ListConfigurationRevisionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a list of all revisions for the specified configuration.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{ConfigurationId}/revisions",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#ListConfigurationRevisionsRequest": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of configurations that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListConfigurationRevisionsResponse": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "configurationId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of configuration revisions that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Revisions": {
          "target": "com.amazonaws.mq#__listOfConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "The list of all revisions for the specified configuration.",
            "smithy.api#jsonName": "revisions"
          }
        }
      }
    },
    "com.amazonaws.mq#ListConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#ListConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#ListConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a list of all configurations.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#ListConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of configurations that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListConfigurationsResponse": {
      "type": "structure",
      "members": {
        "Configurations": {
          "target": "com.amazonaws.mq#__listOfConfiguration",
          "traits": {
            "smithy.api#documentation": "The list of all revisions for the specified configuration.",
            "smithy.api#jsonName": "configurations"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum number of configurations that Amazon MQ can return per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#ListTagsRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#ListTagsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Lists tags for a resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#ListTagsRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the resource tag.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#ListTagsResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mq#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The key-value pair for the resource tag.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mq#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#ListUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a list of all ActiveMQ users.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/brokers/{BrokerId}/users",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#ListUsersRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of ActiveMQ users that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mq#ListUsersResponse": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mq#__integerMin5Max100",
          "traits": {
            "smithy.api#documentation": "Required. The maximum number of ActiveMQ users that can be returned per page (20 by default). This value must be an integer from 5 to 100.",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The token that specifies the next page of results Amazon MQ should return. To request the first page, leave nextToken empty.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Users": {
          "target": "com.amazonaws.mq#__listOfUserSummary",
          "traits": {
            "smithy.api#documentation": "Required. The list of all ActiveMQ usernames for the specified broker.",
            "smithy.api#jsonName": "users"
          }
        }
      }
    },
    "com.amazonaws.mq#Logs": {
      "type": "structure",
      "members": {
        "Audit": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
            "smithy.api#jsonName": "audit"
          }
        },
        "General": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables general logging.",
            "smithy.api#jsonName": "general"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of information about logs to be enabled for the specified broker."
      }
    },
    "com.amazonaws.mq#LogsSummary": {
      "type": "structure",
      "members": {
        "Audit": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
            "smithy.api#jsonName": "audit"
          }
        },
        "AuditLogGroup": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The location of the CloudWatch Logs log group where audit logs are sent.",
            "smithy.api#jsonName": "auditLogGroup"
          }
        },
        "General": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables general logging.",
            "smithy.api#jsonName": "general"
          }
        },
        "GeneralLogGroup": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The location of the CloudWatch Logs log group where general logs are sent.",
            "smithy.api#jsonName": "generalLogGroup"
          }
        },
        "Pending": {
          "target": "com.amazonaws.mq#PendingLogs",
          "traits": {
            "smithy.api#documentation": "The list of information about logs pending to be deployed for the specified broker.",
            "smithy.api#jsonName": "pending"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of information about logs currently enabled and pending to be deployed for the specified broker."
      }
    },
    "com.amazonaws.mq#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.mq#NotFoundException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mq#PendingLogs": {
      "type": "structure",
      "members": {
        "Audit": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables audit logging. Every user management action made using JMX or the ActiveMQ Web Console is logged.",
            "smithy.api#jsonName": "audit"
          }
        },
        "General": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables general logging.",
            "smithy.api#jsonName": "general"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The list of information about logs to be enabled for the specified broker."
      }
    },
    "com.amazonaws.mq#RebootBroker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#RebootBrokerRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#RebootBrokerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Reboots a broker. Note: This API is asynchronous.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/brokers/{BrokerId}/reboot",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#RebootBrokerRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mq#RebootBrokerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mq#SanitizationWarning": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the XML attribute that has been sanitized.",
            "smithy.api#jsonName": "attributeName"
          }
        },
        "ElementName": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the XML element that has been sanitized.",
            "smithy.api#jsonName": "elementName"
          }
        },
        "Reason": {
          "target": "com.amazonaws.mq#SanitizationWarningReason",
          "traits": {
            "smithy.api#documentation": "Required. The reason for which the XML elements or attributes were sanitized.",
            "smithy.api#jsonName": "reason"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about the XML element or attribute that was sanitized in the configuration."
      }
    },
    "com.amazonaws.mq#SanitizationWarningReason": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The reason for which the XML elements or attributes were sanitized.",
        "smithy.api#enum": [
          {
            "value": "DISALLOWED_ELEMENT_REMOVED",
            "name": "DISALLOWED_ELEMENT_REMOVED"
          },
          {
            "value": "DISALLOWED_ATTRIBUTE_REMOVED",
            "name": "DISALLOWED_ATTRIBUTE_REMOVED"
          },
          {
            "value": "INVALID_ATTRIBUTE_VALUE_REMOVED",
            "name": "INVALID_ATTRIBUTE_VALUE_REMOVED"
          }
        ]
      }
    },
    "com.amazonaws.mq#UnauthorizedException": {
      "type": "structure",
      "members": {
        "ErrorAttribute": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The attribute which caused the error.",
            "smithy.api#jsonName": "errorAttribute"
          }
        },
        "Message": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The explanation of the error.",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Returns information about an error.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.mq#UpdateBroker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#UpdateBrokerRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#UpdateBrokerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds a pending configuration change to a broker.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/brokers/{BrokerId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#UpdateBrokerRequest": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables automatic upgrades to new minor versions for brokers, as Apache releases the versions. The automatic upgrades occur during the maintenance window of the broker or after a manual broker reboot.",
            "smithy.api#jsonName": "autoMinorVersionUpgrade"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The name of the broker. This value must be unique in your AWS account, 1-50 characters long, must contain only letters, numbers, dashes, and underscores, and must not contain whitespaces, brackets, wildcard characters, or special characters.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.mq#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "A list of information about the configuration.",
            "smithy.api#jsonName": "configuration"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The version of the broker engine. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The host instance type of the broker to upgrade to. For a list of supported instance types, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide//broker.html#broker-instance-types",
            "smithy.api#jsonName": "hostInstanceType"
          }
        },
        "Logs": {
          "target": "com.amazonaws.mq#Logs",
          "traits": {
            "smithy.api#documentation": "Enables Amazon CloudWatch logging for brokers.",
            "smithy.api#jsonName": "logs"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
            "smithy.api#jsonName": "securityGroups"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the broker using the specified properties."
      }
    },
    "com.amazonaws.mq#UpdateBrokerResponse": {
      "type": "structure",
      "members": {
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "The new value of automatic upgrades to new minor version for brokers.",
            "smithy.api#jsonName": "autoMinorVersionUpgrade"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.mq#ConfigurationId",
          "traits": {
            "smithy.api#documentation": "The ID of the updated configuration.",
            "smithy.api#jsonName": "configuration"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The version of the broker engine to upgrade to. For a list of supported engine versions, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide/broker-engine.html",
            "smithy.api#jsonName": "engineVersion"
          }
        },
        "HostInstanceType": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The host instance type of the broker to upgrade to. For a list of supported instance types, see https://docs.aws.amazon.com/amazon-mq/latest/developer-guide//broker.html#broker-instance-types",
            "smithy.api#jsonName": "hostInstanceType"
          }
        },
        "Logs": {
          "target": "com.amazonaws.mq#Logs",
          "traits": {
            "smithy.api#documentation": "The list of information about logs to be enabled for the specified broker.",
            "smithy.api#jsonName": "logs"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of security groups (1 minimum, 5 maximum) that authorizes connections to brokers.",
            "smithy.api#jsonName": "securityGroups"
          }
        }
      }
    },
    "com.amazonaws.mq#UpdateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#UpdateConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#UpdateConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Updates the specified configuration.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/configurations/{ConfigurationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#UpdateConfigurationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Data": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The base64-encoded XML configuration.",
            "smithy.api#jsonName": "data"
          }
        },
        "Description": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The description of the configuration.",
            "smithy.api#jsonName": "description"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updates the specified configuration."
      }
    },
    "com.amazonaws.mq#UpdateConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The Amazon Resource Name (ARN) of the configuration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Created": {
          "target": "com.amazonaws.mq#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "Required. The date and time of the configuration.",
            "smithy.api#jsonName": "created"
          }
        },
        "Id": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The unique ID that Amazon MQ generates for the configuration.",
            "smithy.api#jsonName": "id"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.mq#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "The latest revision of the configuration.",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "Required. The name of the configuration. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters long.",
            "smithy.api#jsonName": "name"
          }
        },
        "Warnings": {
          "target": "com.amazonaws.mq#__listOfSanitizationWarning",
          "traits": {
            "smithy.api#documentation": "The list of the first 20 warnings about the configuration XML elements or attributes that were sanitized.",
            "smithy.api#jsonName": "warnings"
          }
        }
      }
    },
    "com.amazonaws.mq#UpdateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mq#UpdateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.mq#UpdateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mq#BadRequestException"
        },
        {
          "target": "com.amazonaws.mq#ConflictException"
        },
        {
          "target": "com.amazonaws.mq#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mq#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mq#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Updates the information for an ActiveMQ user.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/brokers/{BrokerId}/users/{Username}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mq#UpdateUserRequest": {
      "type": "structure",
      "members": {
        "BrokerId": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID that Amazon MQ generates for the broker.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConsoleAccess": {
          "target": "com.amazonaws.mq#__boolean",
          "traits": {
            "smithy.api#documentation": "Enables access to the the ActiveMQ Web Console for the ActiveMQ user.",
            "smithy.api#jsonName": "consoleAccess"
          }
        },
        "Groups": {
          "target": "com.amazonaws.mq#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters long.",
            "smithy.api#jsonName": "groups"
          }
        },
        "Password": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
            "smithy.api#documentation": "The password of the user. This value must be at least 12 characters long, must contain at least 4 unique characters, and must not contain commas.",
            "smithy.api#jsonName": "password"
          }
        },
        "Username": {
          "target": "com.amazonaws.mq#__string",
          "traits": {
[...]
