{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mturk#AcceptQualificationRequest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#AcceptQualificationRequestRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#AcceptQualificationRequestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>AcceptQualificationRequest</code> operation approves a Worker's request for a Qualification.\n        </p>\n        <p>\n            Only the owner of the Qualification type can grant a Qualification request for that\ttype.\n        </p>\n        <p>\n            A successful request for the <code>AcceptQualificationRequest</code> operation\n            returns with no errors and an empty body.\n        </p>"
      }
    },
    "com.amazonaws.mturk#AcceptQualificationRequestRequest": {
      "type": "structure",
      "members": {
        "QualificationRequestId": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Qualification request, as returned by the <code>GetQualificationRequests</code> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "IntegerValue": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n            The value of the Qualification. You can omit this value if you are using the\n            presence or absence of the Qualification as the basis for a HIT requirement.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#AcceptQualificationRequestResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#ApproveAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ApproveAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ApproveAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>ApproveAssignment</code> operation approves the results of a completed assignment.\n        </p>\n        <p>\n            Approving an assignment initiates two payments from the Requester's Amazon.com account\n        </p>\n        <ul>\n            <li>\n                <p>\n                    The Worker who submitted the results is paid the reward specified in the HIT.\n                </p>\n            </li>\n            <li>\n                <p>\n                    Amazon Mechanical Turk fees are debited.\n                </p>\n            </li>\n         </ul>\n        <p>\n            If the Requester's account does not have adequate funds for these payments,\n            the call to ApproveAssignment returns an exception, and the approval is not processed.\n            You can include an optional feedback message with the approval,\n            which the Worker can see in the Status section of the web site.\n        </p>\n        <p>\n            You can also call this operation for assignments that were previous rejected\n            and approve them by explicitly overriding the previous rejection.\n            This only works on rejected assignments that were submitted within the previous 30 days\n            and only if the assignment's related HIT has not been deleted.\n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#ApproveAssignmentRequest": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The ID of the assignment. The assignment must correspond to a HIT created by the Requester.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "RequesterFeedback": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            A message for the Worker, which the Worker can see in the Status section of the web site.\n        </p>"
          }
        },
        "OverrideRejection": {
          "target": "com.amazonaws.mturk#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n            A flag indicating that an assignment should be approved even if it was previously rejected. Defaults to <code>False</code>.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ApproveAssignmentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#Assignment": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the assignment.</p>"
          }
        },
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Worker who accepted the HIT.</p>"
          }
        },
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the HIT.</p>"
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.mturk#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the assignment.</p>"
          }
        },
        "AutoApprovalTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> If results have been submitted, AutoApprovalTime is the date\n            and time the results of the assignment results are considered\n            Approved automatically if they have not already been explicitly\n            approved or rejected by the Requester. This value is derived from the\n            auto-approval delay specified by the Requester in the HIT. This value\n            is omitted from the assignment if the Worker has not yet submitted\n            results.</p>"
          }
        },
        "AcceptTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The date and time the Worker accepted the assignment.</p>"
          }
        },
        "SubmitTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> If the Worker has submitted results, SubmitTime is the date\n            and time the assignment was submitted. This value is omitted from the\n            assignment if the Worker has not yet submitted results.</p>"
          }
        },
        "ApprovalTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> If the Worker has submitted results and the Requester has\n            approved the results, ApprovalTime is the date and time the Requester\n            approved the results. This value is omitted from the assignment if\n            the Requester has not yet approved the results.</p>"
          }
        },
        "RejectionTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> If the Worker has submitted results and the Requester has\n            rejected the results, RejectionTime is the date and time the\n            Requester rejected the results.</p>"
          }
        },
        "Deadline": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The date and time of the deadline for the assignment. This\n            value is derived from the deadline specification for the HIT and the\n            date and time the Worker accepted the HIT.</p>"
          }
        },
        "Answer": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The Worker's answers submitted for the HIT contained in a\n            QuestionFormAnswers document, if the Worker provides an answer. If\n            the Worker does not provide any answers, Answer may contain a\n            QuestionFormAnswers document, or Answer may be empty.</p>"
          }
        },
        "RequesterFeedback": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The feedback string included with the call to the\n            ApproveAssignment operation or the RejectAssignment operation, if the\n            Requester approved or rejected the assignment and specified feedback.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The Assignment data structure represents a single assignment\n            of a HIT to a Worker. The assignment tracks the Worker's efforts to\n            complete the HIT, and contains the results for later retrieval.\n        </p>"
      }
    },
    "com.amazonaws.mturk#AssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#Assignment"
      }
    },
    "com.amazonaws.mturk#AssignmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Submitted",
            "name": "Submitted"
          },
          {
            "value": "Approved",
            "name": "Approved"
          },
          {
            "value": "Rejected",
            "name": "Rejected"
          }
        ]
      }
    },
    "com.amazonaws.mturk#AssignmentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#AssignmentStatus"
      }
    },
    "com.amazonaws.mturk#AssociateQualificationWithWorker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#AssociateQualificationWithWorkerRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#AssociateQualificationWithWorkerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>AssociateQualificationWithWorker</code> operation gives a Worker a\n            Qualification. <code>AssociateQualificationWithWorker</code> does not require that the Worker\n            submit a Qualification request. It gives the Qualification directly to the Worker.\n        </p>\n\n        <p>\n            You can only assign a Qualification of a Qualification type that you created (using\n            the <code>CreateQualificationType</code> operation).\n        </p>\n\n        <note>\n            <p>\n                Note: <code>AssociateQualificationWithWorker</code> does not affect any pending Qualification\n                requests for the Qualification by the Worker. If you assign a Qualification to a\n                Worker, then later grant a Qualification request made by the Worker, the granting of\n                the request may modify the Qualification score. To resolve a pending Qualification\n                request without affecting the Qualification the Worker already has, reject the\n                request with the <code>RejectQualificationRequest</code> operation.\n            </p>\n        </note>"
      }
    },
    "com.amazonaws.mturk#AssociateQualificationWithWorkerRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Qualification type to use for the assigned Qualification.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The ID of the Worker to whom the Qualification is being assigned.\n            Worker IDs are included with submitted HIT assignments and Qualification requests.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "IntegerValue": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The value of the Qualification to assign.</p>"
          }
        },
        "SendNotification": {
          "target": "com.amazonaws.mturk#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies whether to send a notification email message to the Worker\n            saying that the qualification was assigned to the Worker.\n            Note: this is true by default.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#AssociateQualificationWithWorkerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#BonusPayment": {
      "type": "structure",
      "members": {
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Worker to whom the bonus was paid.</p>"
          }
        },
        "BonusAmount": {
          "target": "com.amazonaws.mturk#CurrencyAmount"
        },
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the assignment associated with this bonus payment.</p>"
          }
        },
        "Reason": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>The Reason text given when the bonus was granted, if any.</p>"
          }
        },
        "GrantTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of when the bonus was granted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a Bonus payment paid to a Worker.</p>"
      }
    },
    "com.amazonaws.mturk#BonusPaymentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#BonusPayment"
      }
    },
    "com.amazonaws.mturk#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.mturk#Comparator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LessThan",
            "name": "LessThan"
          },
          {
            "value": "LessThanOrEqualTo",
            "name": "LessThanOrEqualTo"
          },
          {
            "value": "GreaterThan",
            "name": "GreaterThan"
          },
          {
            "value": "GreaterThanOrEqualTo",
            "name": "GreaterThanOrEqualTo"
          },
          {
            "value": "EqualTo",
            "name": "EqualTo"
          },
          {
            "value": "NotEqualTo",
            "name": "NotEqualTo"
          },
          {
            "value": "Exists",
            "name": "Exists"
          },
          {
            "value": "DoesNotExist",
            "name": "DoesNotExist"
          },
          {
            "value": "In",
            "name": "In"
          },
          {
            "value": "NotIn",
            "name": "NotIn"
          }
        ]
      }
    },
    "com.amazonaws.mturk#CountryParameters": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.mturk#CreateAdditionalAssignmentsForHIT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateAdditionalAssignmentsForHITRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateAdditionalAssignmentsForHITResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>CreateAdditionalAssignmentsForHIT</code>\n            operation increases the maximum number of assignments of an existing HIT.\n        </p>\n        <p>\n            To extend the maximum number of assignments, specify the number of additional assignments.</p>\n        <note>\n            <ul>\n               <li>\n                    <p>HITs created with fewer than 10 assignments cannot be extended to have 10 or more assignments. Attempting to add assignments in a way that brings the total number of assignments for a HIT from fewer than 10 assignments to 10 or more\n                        assignments will result in an\n                        <code>AWS.MechanicalTurk.InvalidMaximumAssignmentsIncrease</code>\n                        exception.</p>\n                </li>\n               <li>\n                    <p>HITs that were created before July 22, 2015 cannot be extended. Attempting to extend HITs that were created before July 22, 2015 will result in an\n                        <code>AWS.MechanicalTurk.HITTooOldForExtension</code>\n                        exception.\n                    </p>\n                </li>\n            </ul>\n        </note>"
      }
    },
    "com.amazonaws.mturk#CreateAdditionalAssignmentsForHITRequest": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT to extend.</p>",
            "smithy.api#required": {}
          }
        },
        "NumberOfAdditionalAssignments": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of additional assignments to request for this HIT.</p>",
            "smithy.api#required": {}
          }
        },
        "UniqueRequestToken": {
          "target": "com.amazonaws.mturk#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A unique identifier for this request, which allows you to retry the call on error\n            without extending the HIT multiple times.\n            This is useful in cases such as network timeouts where it is unclear whether or not\n            the call succeeded on the server. If the extend HIT already exists in the system\n            from a previous call using the same <code>UniqueRequestToken</code>,\n            subsequent calls will return an error with a message containing the request ID.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateAdditionalAssignmentsForHITResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#CreateHIT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateHITRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateHITResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateHIT</code> operation creates a new Human Intelligence Task (HIT).\n            The new HIT is made available for Workers to find and accept on the Amazon Mechanical\n            Turk website. </p>\n        <p>\n            This operation allows you to specify a new HIT by passing in values for the properties of the HIT, such as its title, reward amount and number of assignments. When you pass these values to <code>CreateHIT</code>, a new HIT is created for you, with a new <code>HITTypeID</code>. The HITTypeID can be used to create additional HITs in the future without needing to specify common parameters such as the title, description and reward amount each time.</p>\n        <p> An alternative way to create HITs is to first generate a HITTypeID using the <code>CreateHITType</code> operation and then call the <code>CreateHITWithHITType</code> operation. This is the recommended best practice for Requesters who are creating large numbers of HITs.\n        </p>\n\n        <p>CreateHIT also supports several ways to provide question data: by providing a value\n            for the <code>Question</code> parameter that fully specifies the contents of the HIT, or by providing\n            a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>.\n        </p>\n\n        <note>\n            <p> If a HIT is created with 10 or more maximum assignments, there is an additional fee. For more information, see\n            <a href=\"https://requester.mturk.com/pricing\">Amazon Mechanical Turk Pricing</a>.</p>\n        </note>"
      }
    },
    "com.amazonaws.mturk#CreateHITRequest": {
      "type": "structure",
      "members": {
        "MaxAssignments": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of times the HIT can be accepted and completed before the HIT becomes unavailable.\n        </p>"
          }
        },
        "AutoApprovalDelayInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of seconds after an assignment for the HIT has been submitted,\n            after which the assignment is considered Approved automatically\n            unless the Requester explicitly rejects it.\n        </p>"
          }
        },
        "LifetimeInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            An amount of time, in seconds, after which the HIT is no longer available for users to accept.\n            After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches,\n            even if not all of the assignments for the HIT have been accepted.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "AssignmentDurationInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            The amount of time, in seconds, that a Worker has to complete the HIT after accepting it.\n            If a Worker does not complete the assignment within the specified duration,\n            the assignment is considered abandoned. If the HIT is still active\n            (that is, its lifetime has not elapsed), the assignment becomes available\n            for other users to find and accept.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Reward": {
          "target": "com.amazonaws.mturk#CurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p>\n            The amount of money the Requester will pay a Worker for successfully completing the HIT.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains.\n            On the Amazon Mechanical Turk web site, the HIT title appears in search results,\n            and everywhere the HIT is mentioned.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Keywords": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            One or more words or phrases that describe the HIT, separated by commas.\n            These words are used in searches to find HITs.\n        </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            A general description of the HIT. A description includes detailed information about the kind of task\n            the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded\n            view of search results, and in the HIT and assignment screens. A good description gives the user enough\n            information to evaluate the HIT before accepting it.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Question": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The data the person completing the HIT uses to produce the results.\n        </p>\n        <p>\n            Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure,\n            or an HTMLQuestion data structure. The XML question data must not be larger than\n            64 kilobytes (65,535 bytes) in size, including whitespace.\n        </p>\n        <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>"
          }
        },
        "RequesterAnnotation": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            An arbitrary data field.\n            The RequesterAnnotation parameter lets your application attach arbitrary data\n            to the HIT for tracking purposes.\n            For example, this parameter could be an identifier internal to the Requester's application\n            that corresponds with the HIT.\n        </p>\n        <p>\n            The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT.\n            It is not shown to the Worker, or any other Requester.\n        </p>\n        <p>\n            The RequesterAnnotation parameter may be different for each HIT you submit.\n            It does not affect how your HITs are grouped.\n        </p>"
          }
        },
        "QualificationRequirements": {
          "target": "com.amazonaws.mturk#QualificationRequirementList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Conditions that a Worker's Qualifications must meet in order\n            to accept the HIT. A HIT can have between zero and ten\n            Qualification requirements. All requirements must be met in\n            order for a Worker to accept the HIT. Additionally, other\n            actions can be restricted using the <code>ActionsGuarded</code>\n            field on each <code>QualificationRequirement</code> structure.\n        </p>"
          }
        },
        "UniqueRequestToken": {
          "target": "com.amazonaws.mturk#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A unique identifier for this request which allows you to retry the call\n            on error without creating duplicate HITs.\n            This is useful in cases such as network timeouts where it is unclear whether or not\n            the call succeeded on the server.\n            If the HIT already exists in the system from a previous call using the same UniqueRequestToken,\n            subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error\n            with a message containing the HITId.\n        </p>\n        <note>\n            <p>\n                Note: It is your responsibility to ensure uniqueness of the token.\n                The unique token expires after 24 hours. Subsequent calls using the same\n                UniqueRequestToken made after the 24 hour limit could create duplicate HITs.\n            </p>\n        </note>"
          }
        },
        "AssignmentReviewPolicy": {
          "target": "com.amazonaws.mturk#ReviewPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Assignment-level Review Policy applies to the assignments under the HIT.\n            You can specify for Mechanical Turk to take various actions based on the policy.\n        </p>"
          }
        },
        "HITReviewPolicy": {
          "target": "com.amazonaws.mturk#ReviewPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n            The HIT-level Review Policy applies to the HIT.\n            You can specify for Mechanical Turk to take various actions based on the policy.\n        </p>"
          }
        },
        "HITLayoutId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The HITLayoutId allows you to use a pre-existing HIT design with placeholder values\n            and create an additional HIT by providing those values as HITLayoutParameters.\n        </p>\n        <p>\n            Constraints: Either a Question parameter or a HITLayoutId parameter must be provided.\n        </p>"
          }
        },
        "HITLayoutParameters": {
          "target": "com.amazonaws.mturk#HITLayoutParameterList",
          "traits": {
            "smithy.api#documentation": "<p>\n            If the HITLayoutId is provided, any placeholder values must be filled in with values\n            using the HITLayoutParameter structure. For more information, see HITLayout.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateHITResponse": {
      "type": "structure",
      "members": {
        "HIT": {
          "target": "com.amazonaws.mturk#HIT",
          "traits": {
            "smithy.api#documentation": "<p> Contains the newly created HIT data. For a description of\n            the HIT data structure as it appears in responses, see the HIT Data\n            Structure documentation.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateHITType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateHITTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateHITTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>CreateHITType</code> operation creates a new HIT type. This operation\n            allows you to define a standard set of HIT properties to use when creating HITs.\n            If you register a HIT type with values that match an existing HIT type, the HIT type\n            ID of the existing type will be returned.\n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#CreateHITTypeRequest": {
      "type": "structure",
      "members": {
        "AutoApprovalDelayInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of seconds after an assignment for the HIT has been submitted,\n            after which the assignment is considered Approved automatically\n            unless the Requester explicitly rejects it.\n        </p>"
          }
        },
        "AssignmentDurationInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            The amount of time, in seconds, that a Worker has to complete the HIT after accepting it.\n            If a Worker does not complete the assignment within the specified duration,\n            the assignment is considered abandoned. If the HIT is still active\n            (that is, its lifetime has not elapsed), the assignment becomes available\n            for other users to find and accept.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Reward": {
          "target": "com.amazonaws.mturk#CurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p>\n            The amount of money the Requester will pay a Worker for successfully completing the HIT.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The title of the HIT. A title should be short and descriptive about the kind of task the HIT contains.\n            On the Amazon Mechanical Turk web site, the HIT title appears in search results,\n            and everywhere the HIT is mentioned.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Keywords": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            One or more words or phrases that describe the HIT, separated by commas.\n            These words are used in searches to find HITs.\n        </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            A general description of the HIT. A description includes detailed information about the kind of task\n            the HIT contains. On the Amazon Mechanical Turk web site, the HIT description appears in the expanded\n            view of search results, and in the HIT and assignment screens. A good description gives the user enough\n            information to evaluate the HIT before accepting it.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "QualificationRequirements": {
          "target": "com.amazonaws.mturk#QualificationRequirementList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Conditions that a Worker's Qualifications must meet in order\n            to accept the HIT. A HIT can have between zero and ten\n            Qualification requirements. All requirements must be met in\n            order for a Worker to accept the HIT. Additionally, other\n            actions can be restricted using the <code>ActionsGuarded</code>\n            field on each <code>QualificationRequirement</code> structure.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateHITTypeResponse": {
      "type": "structure",
      "members": {
        "HITTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the newly registered HIT type.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateHITWithHITType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateHITWithHITTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateHITWithHITTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>CreateHITWithHITType</code> operation creates a new Human Intelligence Task (HIT)\n            using an existing HITTypeID generated by the <code>CreateHITType</code> operation.\n        </p>\n        <p>\n            This is an alternative way to create HITs from the <code>CreateHIT</code> operation.\n            This is the recommended best practice for Requesters who are creating large numbers of HITs.\n        </p>\n        <p>CreateHITWithHITType also supports several ways to provide question data:\n            by providing a value for the <code>Question</code> parameter that fully specifies the contents of the HIT,\n            or by providing a <code>HitLayoutId</code> and associated <code>HitLayoutParameters</code>.\n        </p>\n        <note>\n            <p>\n                If a HIT is created with 10 or more maximum assignments, there is an additional fee.\n                For more information, see <a href=\"https://requester.mturk.com/pricing\">Amazon Mechanical Turk Pricing</a>.\n            </p>\n        </note>"
      }
    },
    "com.amazonaws.mturk#CreateHITWithHITTypeRequest": {
      "type": "structure",
      "members": {
        "HITTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The HIT type ID you want to create this HIT with.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxAssignments": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of times the HIT can be accepted and completed before the HIT becomes unavailable.\n        </p>"
          }
        },
        "LifetimeInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n            An amount of time, in seconds, after which the HIT is no longer available for users to accept.\n            After the lifetime of the HIT elapses, the HIT no longer appears in HIT searches,\n            even if not all of the assignments for the HIT have been accepted.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Question": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The data the person completing the HIT uses to produce the results.\n        </p>\n        <p>\n            Constraints: Must be a QuestionForm data structure, an ExternalQuestion data structure,\n            or an HTMLQuestion data structure. The XML question data must not be larger than\n            64 kilobytes (65,535 bytes) in size, including whitespace.\n        </p>\n        <p>Either a Question parameter or a HITLayoutId parameter must be provided.</p>"
          }
        },
        "RequesterAnnotation": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            An arbitrary data field.\n            The RequesterAnnotation parameter lets your application attach arbitrary data\n            to the HIT for tracking purposes.\n            For example, this parameter could be an identifier internal to the Requester's application\n            that corresponds with the HIT.\n        </p>\n        <p>\n            The RequesterAnnotation parameter for a HIT is only visible to the Requester who created the HIT.\n            It is not shown to the Worker, or any other Requester.\n        </p>\n        <p>\n            The RequesterAnnotation parameter may be different for each HIT you submit.\n            It does not affect how your HITs are grouped.\n        </p>"
          }
        },
        "UniqueRequestToken": {
          "target": "com.amazonaws.mturk#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A unique identifier for this request which allows you to retry the call\n            on error without creating duplicate HITs.\n            This is useful in cases such as network timeouts where it is unclear whether or not\n            the call succeeded on the server.\n            If the HIT already exists in the system from a previous call using the same UniqueRequestToken,\n            subsequent calls will return a AWS.MechanicalTurk.HitAlreadyExists error\n            with a message containing the HITId.\n        </p>\n        <note>\n            <p>\n                Note: It is your responsibility to ensure uniqueness of the token.\n                The unique token expires after 24 hours. Subsequent calls using the same\n                UniqueRequestToken made after the 24 hour limit could create duplicate HITs.\n            </p>\n        </note>"
          }
        },
        "AssignmentReviewPolicy": {
          "target": "com.amazonaws.mturk#ReviewPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Assignment-level Review Policy applies to the assignments under the HIT.\n            You can specify for Mechanical Turk to take various actions based on the policy.\n        </p>"
          }
        },
        "HITReviewPolicy": {
          "target": "com.amazonaws.mturk#ReviewPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n            The HIT-level Review Policy applies to the HIT.\n            You can specify for Mechanical Turk to take various actions based on the policy.\n        </p>"
          }
        },
        "HITLayoutId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The HITLayoutId allows you to use a pre-existing HIT design with placeholder values\n            and create an additional HIT by providing those values as HITLayoutParameters.\n        </p>\n        <p>\n            Constraints: Either a Question parameter or a HITLayoutId parameter must be provided.\n        </p>"
          }
        },
        "HITLayoutParameters": {
          "target": "com.amazonaws.mturk#HITLayoutParameterList",
          "traits": {
            "smithy.api#documentation": "<p>\n            If the HITLayoutId is provided, any placeholder values must be filled in with values\n            using the HITLayoutParameter structure. For more information, see HITLayout.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateHITWithHITTypeResponse": {
      "type": "structure",
      "members": {
        "HIT": {
          "target": "com.amazonaws.mturk#HIT",
          "traits": {
            "smithy.api#documentation": "<p> Contains the newly created HIT data. For a description of\n            the HIT data structure as it appears in responses, see the HIT Data\n            Structure documentation.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateQualificationType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateQualificationTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateQualificationTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>CreateQualificationType</code>\n            operation creates a new Qualification type, which is represented by a\n            <code>QualificationType</code>\n            data structure.\n        </p>"
      }
    },
    "com.amazonaws.mturk#CreateQualificationTypeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The name you give to the Qualification type. The type name\n            is used to represent the Qualification to Workers, and to find the\n            type using a Qualification type search. It must be unique across all\n            of your Qualification types.</p>",
            "smithy.api#required": {}
          }
        },
        "Keywords": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>One or more words or phrases that describe the Qualification\n            type, separated by commas. The keywords of a type make the type\n            easier to find during a search.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>A long description for the Qualification type. On the Amazon\n            Mechanical Turk website, the long description is displayed when a\n            Worker examines a Qualification type.</p>",
            "smithy.api#required": {}
          }
        },
        "QualificationTypeStatus": {
          "target": "com.amazonaws.mturk#QualificationTypeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The initial status of the Qualification type.</p>\n        <p>Constraints: Valid values are: Active | Inactive</p>",
            "smithy.api#required": {}
          }
        },
        "RetryDelayInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds that a Worker must wait after\n            requesting a Qualification of the Qualification type before the\n            worker can retry the Qualification request.</p>\n        <p>Constraints: None. If not specified, retries are disabled and\n            Workers can request a Qualification of this type only once, even if\n            the Worker has not been granted the Qualification. It is not possible\n            to disable retries for a Qualification type after it has been created\n            with retries enabled. If you want to disable retries, you must delete\n            existing retry-enabled Qualification type and then create a new\n            Qualification type with retries disabled.</p>"
          }
        },
        "Test": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The questions for the Qualification test a Worker must answer\n            correctly to obtain a Qualification of this type. If this parameter\n            is specified,\n            <code>TestDurationInSeconds</code>\n            must also be specified.\n        </p>\n        <p>Constraints: Must not be longer than 65535 bytes. Must be a\n            QuestionForm data structure. This parameter cannot be specified if\n            AutoGranted is true.</p>\n        <p>Constraints: None. If not specified, the Worker may request\n            the Qualification without answering any questions.</p>"
          }
        },
        "AnswerKey": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>The answers to the Qualification test specified in the Test\n            parameter, in the form of an AnswerKey data structure.</p>\n        <p>Constraints: Must not be longer than 65535 bytes.</p>\n        <p>Constraints: None. If not specified, you must process\n            Qualification requests manually.</p>"
          }
        },
        "TestDurationInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds the Worker has to complete the\n            Qualification test, starting from the time the Worker requests the\n            Qualification.</p>"
          }
        },
        "AutoGranted": {
          "target": "com.amazonaws.mturk#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether requests for the Qualification type are\n            granted immediately, without prompting the Worker with a\n            Qualification test.</p>\n        <p>Constraints: If the Test parameter is specified, this\n            parameter cannot be true.</p>"
          }
        },
        "AutoGrantedValue": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The Qualification value to use for automatically granted\n            Qualifications. This parameter is used only if the AutoGranted\n            parameter is true.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateQualificationTypeResponse": {
      "type": "structure",
      "members": {
        "QualificationType": {
          "target": "com.amazonaws.mturk#QualificationType",
          "traits": {
            "smithy.api#documentation": "<p>The created Qualification type, returned as a\n            QualificationType data structure.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateWorkerBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#CreateWorkerBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#CreateWorkerBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateWorkerBlock</code> operation allows you to prevent a Worker from working on your HITs. For example, you can block a Worker who is producing poor quality work. You can block up to 100,000 Workers.</p>"
      }
    },
    "com.amazonaws.mturk#CreateWorkerBlockRequest": {
      "type": "structure",
      "members": {
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Worker to block.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>A message explaining the reason for blocking the Worker. This parameter enables you to keep track of your Workers. The Worker does not see this message.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#CreateWorkerBlockResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#CurrencyAmount": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A string representing a currency amount.</p>",
        "smithy.api#pattern": "^[0-9]+(\\.)?[0-9]{0,2}$"
      }
    },
    "com.amazonaws.mturk#CustomerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^A[A-Z0-9]+$"
      }
    },
    "com.amazonaws.mturk#CustomerIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#CustomerId"
      }
    },
    "com.amazonaws.mturk#DeleteHIT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#DeleteHITRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#DeleteHITResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>DeleteHIT</code> operation is used to delete HIT that is no longer needed.\n            Only the Requester who created the HIT can delete it.\n        </p>\n        <p>\n            You can only dispose of HITs that are in the <code>Reviewable</code> state,\n            with all of their submitted assignments already either approved or rejected.\n            If you call the DeleteHIT operation on a HIT that is not in the <code>Reviewable</code> state\n            (for example, that has not expired, or still has active assignments),\n            or on a HIT that is Reviewable but without all of its submitted assignments\n            already approved or rejected, the service will return an error.\n        </p>\n        <note>\n            <ul>\n               <li>\n                    <p>\n                        HITs are automatically disposed of after 120 days.\n                    </p>\n                </li>\n               <li>\n                    <p>\n                        After you dispose of a HIT, you can no longer approve the HIT's rejected assignments.\n                    </p>\n                </li>\n               <li>\n                    <p>\n                        Disposed HITs are not returned in results for the ListHITs operation.\n                    </p>\n                </li>\n               <li>\n                    <p>\n                        Disposing HITs can improve the performance of operations such as ListReviewableHITs and ListHITs.\n                    </p>\n                </li>\n            </ul>\n        </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#DeleteHITRequest": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#DeleteHITResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#DeleteQualificationType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#DeleteQualificationTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#DeleteQualificationTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>DeleteQualificationType</code>\n            deletes a Qualification type and deletes any HIT types that are\n            associated with the Qualification type.\n        </p>\n        <p>This operation does not revoke Qualifications already assigned\n            to Workers because the Qualifications might be needed for active HITs.\n            If there are any pending requests for the Qualification type, Amazon\n            Mechanical Turk rejects those requests. After you delete a\n            Qualification type, you can no longer use it to create HITs or HIT\n            types.</p>\n        <note>\n            <p>DeleteQualificationType must wait for all the HITs that use\n                the deleted Qualification type to be deleted before completing. It\n                may take up to 48 hours before DeleteQualificationType completes and\n                the unique name of the Qualification type is available for reuse with\n                CreateQualificationType.</p>\n        </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#DeleteQualificationTypeRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the QualificationType to dispose.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#DeleteQualificationTypeResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#DeleteWorkerBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#DeleteWorkerBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#DeleteWorkerBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteWorkerBlock</code> operation allows you to reinstate a blocked Worker to work on your HITs. This operation reverses the effects of the CreateWorkerBlock operation. You need the Worker ID to use this operation. If the Worker ID is missing or invalid, this operation fails and returns the message “WorkerId is invalid.” If the specified Worker is not blocked, this operation returns successfully.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#DeleteWorkerBlockRequest": {
      "type": "structure",
      "members": {
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Worker to unblock.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>A message that explains the reason for unblocking the Worker. The Worker does not see this message.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#DeleteWorkerBlockResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#DisassociateQualificationFromWorker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#DisassociateQualificationFromWorkerRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#DisassociateQualificationFromWorkerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The \t<code>DisassociateQualificationFromWorker</code>\n            revokes a previously granted Qualification from a user.\n        </p>\n        <p>\n            You can provide a text message explaining why the Qualification was\n            revoked. The user who had the Qualification can see this message.\n        </p>"
      }
    },
    "com.amazonaws.mturk#DisassociateQualificationFromWorkerRequest": {
      "type": "structure",
      "members": {
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Worker who possesses the Qualification to be revoked.</p>",
            "smithy.api#required": {}
          }
        },
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Qualification type of the Qualification to be revoked.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>A text message that explains why the Qualification was revoked. The user who had the Qualification sees this message.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#DisassociateQualificationFromWorkerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Z0-9]+$"
      }
    },
    "com.amazonaws.mturk#EventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AssignmentAccepted",
            "name": "AssignmentAccepted"
          },
          {
            "value": "AssignmentAbandoned",
            "name": "AssignmentAbandoned"
          },
          {
            "value": "AssignmentReturned",
            "name": "AssignmentReturned"
          },
          {
            "value": "AssignmentSubmitted",
            "name": "AssignmentSubmitted"
          },
          {
            "value": "AssignmentRejected",
            "name": "AssignmentRejected"
          },
          {
            "value": "AssignmentApproved",
            "name": "AssignmentApproved"
          },
          {
            "value": "HITCreated",
            "name": "HITCreated"
          },
          {
            "value": "HITExpired",
            "name": "HITExpired"
          },
          {
            "value": "HITReviewable",
            "name": "HITReviewable"
          },
          {
            "value": "HITExtended",
            "name": "HITExtended"
          },
          {
            "value": "HITDisposed",
            "name": "HITDisposed"
          },
          {
            "value": "Ping",
            "name": "Ping"
          }
        ]
      }
    },
    "com.amazonaws.mturk#EventTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#EventType"
      }
    },
    "com.amazonaws.mturk#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.mturk#GetAccountBalance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetAccountBalanceRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetAccountBalanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>GetAccountBalance</code> operation retrieves the Prepaid HITs balance in your Amazon Mechanical Turk account if you are a Prepaid Requester.\n            Alternatively, this operation will retrieve the remaining available AWS Billing usage if you have enabled AWS Billing.\n            Note: If you have enabled AWS Billing and still have a remaining Prepaid HITs balance, this balance can be viewed on the My Account page in the Requester console.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetAccountBalanceRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mturk#GetAccountBalanceResponse": {
      "type": "structure",
      "members": {
        "AvailableBalance": {
          "target": "com.amazonaws.mturk#CurrencyAmount"
        },
        "OnHoldBalance": {
          "target": "com.amazonaws.mturk#CurrencyAmount"
        }
      }
    },
    "com.amazonaws.mturk#GetAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>GetAssignment</code> operation retrieves the details of the specified Assignment.\n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetAssignmentRequest": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Assignment to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#GetAssignmentResponse": {
      "type": "structure",
      "members": {
        "Assignment": {
          "target": "com.amazonaws.mturk#Assignment",
          "traits": {
            "smithy.api#documentation": "<p> The assignment. The response includes one Assignment\n            element.\n        </p>"
          }
        },
        "HIT": {
          "target": "com.amazonaws.mturk#HIT",
          "traits": {
            "smithy.api#documentation": "<p> The HIT associated with this assignment. The response\n            includes one HIT element.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#GetFileUploadURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetFileUploadURLRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetFileUploadURLResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>GetFileUploadURL</code>\n            operation generates and returns a temporary URL. You use the\n            temporary URL to retrieve a file uploaded by a Worker as an answer to\n            a FileUploadAnswer question for a HIT. The temporary URL is generated\n            the instant the GetFileUploadURL operation is called, and is valid\n            for 60 seconds. You can get a temporary file upload URL any time\n            until the HIT is disposed. After the HIT is disposed, any uploaded\n            files are deleted, and cannot be retrieved.\n            \n            Pending Deprecation on December 12, 2017. The Answer Specification  \n            structure will no longer  support the <code>FileUploadAnswer</code>\n            element to be used for the QuestionForm data structure. \n            Instead, we recommend that Requesters who want to create HITs asking \n            Workers to upload files to use Amazon S3.\n            \n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetFileUploadURLRequest": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the assignment that contains the question with a\n            FileUploadAnswer.</p>",
            "smithy.api#required": {}
          }
        },
        "QuestionIdentifier": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the question with a FileUploadAnswer, as\n            specified in the QuestionForm of the HIT.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#GetFileUploadURLResponse": {
      "type": "structure",
      "members": {
        "FileUploadURL": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> A temporary URL for the file that the Worker uploaded for\n            the answer.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#GetHIT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetHITRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetHITResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>GetHIT</code> operation retrieves the details of the specified HIT.\n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetHITRequest": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#GetHITResponse": {
      "type": "structure",
      "members": {
        "HIT": {
          "target": "com.amazonaws.mturk#HIT",
          "traits": {
            "smithy.api#documentation": "<p> Contains the requested HIT data.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#GetQualificationScore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetQualificationScoreRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetQualificationScoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>GetQualificationScore</code>\n            operation returns the value of a Worker's Qualification for a given\n            Qualification type.\n        </p>\n        <p>\n            To get a Worker's Qualification, you must know the Worker's ID. The\n            Worker's ID is included in the assignment data returned by the\n            <code>ListAssignmentsForHIT</code>\n            operation.\n        </p>\n        <p>Only the owner of a Qualification type can query the value of\n            a Worker's Qualification of that type.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetQualificationScoreRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the QualificationType.</p>",
            "smithy.api#required": {}
          }
        },
        "WorkerId": {
          "target": "com.amazonaws.mturk#CustomerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Worker whose Qualification is being updated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#GetQualificationScoreResponse": {
      "type": "structure",
      "members": {
        "Qualification": {
          "target": "com.amazonaws.mturk#Qualification",
          "traits": {
            "smithy.api#documentation": "<p> The Qualification data structure of the Qualification\n            assigned to a user, including the Qualification type and the value\n            (score).\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#GetQualificationType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#GetQualificationTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#GetQualificationTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>GetQualificationType</code>operation retrieves information about a Qualification type using its ID.\n        </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mturk#GetQualificationTypeRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the QualificationType.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mturk#GetQualificationTypeResponse": {
      "type": "structure",
      "members": {
        "QualificationType": {
          "target": "com.amazonaws.mturk#QualificationType",
          "traits": {
            "smithy.api#documentation": "<p> The returned Qualification Type</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#HIT": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the HIT.</p>"
          }
        },
        "HITTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT type of this HIT</p>"
          }
        },
        "HITGroupId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the HIT Group of this HIT.</p>"
          }
        },
        "HITLayoutId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the HIT Layout of this HIT.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The date and time the HIT was created.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The title of the HIT.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> A general description of the HIT.</p>"
          }
        },
        "Question": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The data the Worker completing the HIT uses produce the\n            results. This is either either a QuestionForm, HTMLQuestion or an\n            ExternalQuestion data structure.</p>"
          }
        },
        "Keywords": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> One or more words or phrases that describe the HIT,\n            separated by commas. Search terms similar to the keywords of a HIT\n            are more likely to have the HIT in the search results.</p>"
          }
        },
        "HITStatus": {
          "target": "com.amazonaws.mturk#HITStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the HIT and its assignments. Valid Values are\n            Assignable | Unassignable | Reviewable | Reviewing | Disposed.\n        </p>"
          }
        },
        "MaxAssignments": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of times the HIT can be accepted and completed\n            before the HIT becomes unavailable.\n        </p>"
          }
        },
        "Reward": {
          "target": "com.amazonaws.mturk#CurrencyAmount"
        },
        "AutoApprovalDelayInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, after the Worker submits an\n            assignment for the HIT that the results are automatically approved by\n            Amazon Mechanical Turk. This is the amount of time the Requester has\n            to reject an assignment submitted by a Worker before the assignment\n            is auto-approved and the Worker is paid.\n        </p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.mturk#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the HIT expires.</p>"
          }
        },
        "AssignmentDurationInSeconds": {
          "target": "com.amazonaws.mturk#Long",
          "traits": {
            "smithy.api#documentation": "<p> The length of time, in seconds, that a Worker has to\n            complete the HIT after accepting it.</p>"
          }
        },
        "RequesterAnnotation": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> An arbitrary data field the Requester who created the HIT\n            can use. This field is visible only to the creator of the HIT.</p>"
          }
        },
        "QualificationRequirements": {
          "target": "com.amazonaws.mturk#QualificationRequirementList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Conditions that a Worker's Qualifications must meet in order\n            to accept the HIT. A HIT can have between zero and ten\n            Qualification requirements. All requirements must be met in\n            order for a Worker to accept the HIT. Additionally, other\n            actions can be restricted using the <code>ActionsGuarded</code>\n            field on each <code>QualificationRequirement</code> structure.\n        </p>"
          }
        },
        "HITReviewStatus": {
          "target": "com.amazonaws.mturk#HITReviewStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the review status of the HIT. Valid Values are\n            NotReviewed | MarkedForReview | ReviewedAppropriate |\n            ReviewedInappropriate.</p>"
          }
        },
        "NumberOfAssignmentsPending": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of assignments for this HIT that are being\n            previewed or have been accepted by Workers, but have not yet been\n            submitted, returned, or abandoned.</p>"
          }
        },
        "NumberOfAssignmentsAvailable": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of assignments for this HIT that are available\n            for Workers to accept.</p>"
          }
        },
        "NumberOfAssignmentsCompleted": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of assignments for this HIT that have been\n            approved or rejected.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The HIT data structure represents a single HIT, including\n            all the information necessary for a Worker to accept and complete the\n            HIT.</p>"
      }
    },
    "com.amazonaws.mturk#HITAccessActions": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Accept",
            "name": "Accept"
          },
          {
            "value": "PreviewAndAccept",
            "name": "PreviewAndAccept"
          },
          {
            "value": "DiscoverPreviewAndAccept",
            "name": "DiscoverPreviewAndAccept"
          }
        ]
      }
    },
    "com.amazonaws.mturk#HITLayoutParameter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the parameter in the HITLayout.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p>The value substituted for the parameter referenced in the\n            HITLayout.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The HITLayoutParameter data structure defines parameter\n            values used with a HITLayout. A HITLayout is a reusable Amazon\n            Mechanical Turk project template used to provide Human Intelligence\n            Task (HIT) question data for CreateHIT.\n        </p>"
      }
    },
    "com.amazonaws.mturk#HITLayoutParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#HITLayoutParameter"
      }
    },
    "com.amazonaws.mturk#HITList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#HIT"
      }
    },
    "com.amazonaws.mturk#HITReviewStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NotReviewed",
            "name": "NotReviewed"
          },
          {
            "value": "MarkedForReview",
            "name": "MarkedForReview"
          },
          {
            "value": "ReviewedAppropriate",
            "name": "ReviewedAppropriate"
          },
          {
            "value": "ReviewedInappropriate",
            "name": "ReviewedInappropriate"
          }
        ]
      }
    },
    "com.amazonaws.mturk#HITStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Assignable",
            "name": "Assignable"
          },
          {
            "value": "Unassignable",
            "name": "Unassignable"
          },
          {
            "value": "Reviewable",
            "name": "Reviewable"
          },
          {
            "value": "Reviewing",
            "name": "Reviewing"
          },
          {
            "value": "Disposed",
            "name": "Disposed"
          }
        ]
      }
    },
    "com.amazonaws.mturk#IdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.mturk#Integer": {
      "type": "integer"
    },
    "com.amazonaws.mturk#IntegerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mturk#Integer"
      }
    },
    "com.amazonaws.mturk#ListAssignmentsForHIT": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListAssignmentsForHITRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListAssignmentsForHITResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>ListAssignmentsForHIT</code>\n            operation retrieves completed assignments for a HIT. You can use this\n            operation to retrieve the results for a HIT.\n        </p>\n        <p> You can get assignments for a HIT at any time, even if the\n            HIT is not yet Reviewable. If a HIT requested multiple assignments,\n            and has received some results but has not yet become Reviewable, you\n            can still retrieve the partial results with this operation.\n        </p>\n        <p> Use the AssignmentStatus parameter to control which set of\n            assignments for a HIT are returned. The ListAssignmentsForHIT\n            operation\n            can return submitted assignments awaiting approval, or it can return\n            assignments that have already been approved or rejected. You can set\n            AssignmentStatus=Approved,Rejected to get assignments that have\n            already been approved and rejected together in one result set.\n        </p>\n        <p> Only the Requester who created the HIT can retrieve the\n            assignments for that HIT.\n        </p>\n        <p> Results are sorted and divided into numbered pages and the\n            operation returns a single page of results. You can use the\n            parameters\n            of the operation to control sorting and pagination.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListAssignmentsForHITRequest": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize"
        },
        "AssignmentStatuses": {
          "target": "com.amazonaws.mturk#AssignmentStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assignments to return: Submitted | Approved\n            | Rejected</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListAssignmentsForHITResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of assignments on the page in the filtered\n            results list, equivalent to the number of assignments returned by\n            this call.</p>"
          }
        },
        "Assignments": {
          "target": "com.amazonaws.mturk#AssignmentList",
          "traits": {
            "smithy.api#documentation": "<p> The collection of Assignment data structures returned by\n            this call.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListBonusPayments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListBonusPaymentsRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListBonusPaymentsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>ListBonusPayments</code>\n            operation retrieves the amounts of bonuses you have paid to Workers\n            for a given HIT or assignment.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListBonusPaymentsRequest": {
      "type": "structure",
      "members": {
        "HITId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the HIT associated with the bonus payments to\n            retrieve. If not specified, all bonus payments for all assignments\n            for the given HIT are returned. Either the HITId parameter or the\n            AssignmentId parameter must be specified</p>"
          }
        },
        "AssignmentId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the assignment associated with the bonus payments\n            to retrieve. If specified, only bonus payments for the given\n            assignment are returned. Either the HITId parameter or the\n            AssignmentId parameter must be specified</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize"
        }
      }
    },
    "com.amazonaws.mturk#ListBonusPaymentsResponse": {
      "type": "structure",
      "members": {
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of bonus payments on this page in the filtered\n            results list, equivalent to the number of bonus payments being\n            returned by this call.\n        </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "BonusPayments": {
          "target": "com.amazonaws.mturk#BonusPaymentList",
          "traits": {
            "smithy.api#documentation": "<p>A successful request to the ListBonusPayments operation\n            returns a list of BonusPayment objects.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListHITs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListHITsRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListHITsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>ListHITs</code>\n            operation returns all of a Requester's HITs. The operation returns\n            HITs of any status, except for HITs that have been deleted of with\n            the DeleteHIT operation or that have been auto-deleted.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListHITsForQualificationType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListHITsForQualificationTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListHITsForQualificationTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The <code>ListHITsForQualificationType</code> operation returns the HITs that use\n            the given Qualification type for a Qualification requirement.\n            The operation returns HITs of any status, except for HITs that have been deleted\n            with the <code>DeleteHIT</code> operation or that have been auto-deleted.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListHITsForQualificationTypeRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The ID of the Qualification type to use when querying HITs.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination Token</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize",
          "traits": {
            "smithy.api#documentation": "<p>\n            Limit the number of results returned.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListHITsForQualificationTypeResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of HITs on this page in the filtered results\n            list, equivalent to the number of HITs being returned by this call.\t</p>"
          }
        },
        "HITs": {
          "target": "com.amazonaws.mturk#HITList",
          "traits": {
            "smithy.api#documentation": "<p> The list of HIT elements returned by the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListHITsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize"
        }
      }
    },
    "com.amazonaws.mturk#ListHITsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of HITs on this page in the filtered results list,\n            equivalent to the number of HITs being returned by this call.</p>"
          }
        },
        "HITs": {
          "target": "com.amazonaws.mturk#HITList",
          "traits": {
            "smithy.api#documentation": "<p> The list of HIT elements returned by the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationRequests": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListQualificationRequestsRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListQualificationRequestsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>ListQualificationRequests</code>\n            operation retrieves requests for Qualifications of a particular\n            Qualification type. The owner of the Qualification type calls this\n            operation to poll for pending requests, and accepts them using the\n            AcceptQualification operation.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationRequestsRequest": {
      "type": "structure",
      "members": {
        "QualificationTypeId": {
          "target": "com.amazonaws.mturk#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the QualificationType.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of results to return in a single call.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationRequestsResponse": {
      "type": "structure",
      "members": {
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of Qualification requests on this page in the filtered results list,\n            equivalent to the number of Qualification requests being returned by this call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "QualificationRequests": {
          "target": "com.amazonaws.mturk#QualificationRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The Qualification request. The response includes one\n            QualificationRequest element\n            for each Qualification request returned\n            by the query.</p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mturk#ListQualificationTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.mturk#ListQualificationTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mturk#RequestError"
        },
        {
          "target": "com.amazonaws.mturk#ServiceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The\n            <code>ListQualificationTypes</code>\n            operation returns a list of Qualification types, filtered by\n            an optional search term.\n        </p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationTypesRequest": {
      "type": "structure",
      "members": {
        "Query": {
          "target": "com.amazonaws.mturk#String",
          "traits": {
            "smithy.api#documentation": "<p> A text query against all of the searchable attributes of\n            Qualification types.\n        </p>"
          }
        },
        "MustBeRequestable": {
          "target": "com.amazonaws.mturk#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that only Qualification types that a user can\n            request through the Amazon Mechanical Turk web site, such as by\n            taking a Qualification test, are returned as results of the search.\n            Some Qualification types, such as those assigned automatically by the\n            system, cannot be requested directly by users. If false, all\n            Qualification types, including those managed by the system, are\n            considered. Valid values are True | False.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "MustBeOwnedByCaller": {
          "target": "com.amazonaws.mturk#Boolean",
          "traits": {
            "smithy.api#documentation": "<p> Specifies that only Qualification types that the Requester\n            created are returned. If false, the operation returns all\n            Qualification types.\n        </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "MaxResults": {
          "target": "com.amazonaws.mturk#ResultSize",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of results to return in a single call.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListQualificationTypesResponse": {
      "type": "structure",
      "members": {
        "NumResults": {
          "target": "com.amazonaws.mturk#Integer",
          "traits": {
            "smithy.api#documentation": "<p> The number of Qualification types on this page in the\n            filtered results list, equivalent to the number of types this\n            operation returns.\n        </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mturk#PaginationToken"
        },
        "QualificationTypes": {
          "target": "com.amazonaws.mturk#QualificationTypeList",
          "traits": {
            "smithy.api#documentation": "<p> The list of QualificationType elements returned by the\n            query.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.mturk#ListReviewPolicyResultsForHIT": {
      "type": "operation",
      "input": {
[...]
