{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.mwaa#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to the Airflow Web UI or CLI has been Denied. Please follow the MWAA user guide to setup permissions to access the Web UI and CLI functionality.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mwaa#AirflowConfigurationOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mwaa#ConfigKey"
      },
      "value": {
        "target": "com.amazonaws.mwaa#ConfigValue"
      }
    },
    "com.amazonaws.mwaa#AirflowVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^[0-9a-z.]+$"
      }
    },
    "com.amazonaws.mwaa#AmazonMWAA": {
      "type": "service",
      "version": "2020-07-01",
      "operations": [
        {
          "target": "com.amazonaws.mwaa#CreateCliToken"
        },
        {
          "target": "com.amazonaws.mwaa#CreateEnvironment"
        },
        {
          "target": "com.amazonaws.mwaa#CreateWebLoginToken"
        },
        {
          "target": "com.amazonaws.mwaa#DeleteEnvironment"
        },
        {
          "target": "com.amazonaws.mwaa#GetEnvironment"
        },
        {
          "target": "com.amazonaws.mwaa#ListEnvironments"
        },
        {
          "target": "com.amazonaws.mwaa#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mwaa#PublishMetrics"
        },
        {
          "target": "com.amazonaws.mwaa#TagResource"
        },
        {
          "target": "com.amazonaws.mwaa#UntagResource"
        },
        {
          "target": "com.amazonaws.mwaa#UpdateEnvironment"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MWAA",
          "arnNamespace": "airflow",
          "cloudFormationName": "AmazonMWAA",
          "cloudTrailEventSource": "airflow.amazonaws.com",
          "endpointPrefix": "airflow"
        },
        "aws.auth#sigv4": {
          "name": "airflow"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Managed Workflows for Apache Airflow</fullname>\n        <p>This section contains the Amazon Managed Workflows for Apache Airflow (MWAA) API reference documentation. For more information, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/what-is-mwaa.html\">What Is Amazon MWAA?</a>.</p>",
        "smithy.api#title": "AmazonMWAA"
      }
    },
    "com.amazonaws.mwaa#CloudWatchLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]+)?:logs:[a-z0-9\\-]+:\\d{12}:log-group:\\w+"
      }
    },
    "com.amazonaws.mwaa#ConfigKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-z]+([a-z._]*[a-z]+)?$"
      }
    },
    "com.amazonaws.mwaa#ConfigValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.mwaa#CreateCliToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#CreateCliTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.mwaa#CreateCliTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a CLI token to use Airflow CLI.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "env."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/clitoken/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mwaa#CreateCliTokenRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>Create a CLI token request for a MWAA environment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#CreateCliTokenResponse": {
      "type": "structure",
      "members": {
        "CliToken": {
          "target": "com.amazonaws.mwaa#Token",
          "traits": {
            "smithy.api#documentation": "<p>Create an Airflow CLI login token response for the provided JWT token.</p>",
            "smithy.api#sensitive": {}
          }
        },
        "WebServerHostname": {
          "target": "com.amazonaws.mwaa#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>Create an Airflow CLI login token response for the provided webserver hostname.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#CreateEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#CreateEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/environments/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mwaa#CreateEnvironmentInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.mwaa#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role for your environment. An execution role is an AWS Identity and Access Management (IAM) role that grants MWAA permission to access AWS services and resources used by your environment. For example, <code>arn:aws:iam::123456789:role/my-execution-role</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-create-role.html\">Amazon MWAA Execution role</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceBucketArn": {
          "target": "com.amazonaws.mwaa#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket where your DAG code and supporting files are stored. For example, <code>arn:aws:s3:::my-airflow-bucket-unique-name</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-s3-bucket.html\">Create an Amazon S3 bucket for Amazon MWAA</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DagS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the DAGs folder on your Amazon S3 bucket. For example, <code>dags</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-folder.html\">Adding or updating DAGs</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.mwaa#NetworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The VPC networking components used to secure and enable network traffic between the AWS resources for your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/networking-about.html\">About networking on Amazon MWAA</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "PluginsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>plugins.zip</code> file on your Amazon S3 bucket. For example, <code>plugins.zip</code>. If specified, then the plugins.zip version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-import-plugins.html\">Installing custom plugins</a>.</p>"
          }
        },
        "PluginsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the plugins.zip file on your Amazon S3 bucket. A version must be specified each time a plugins.zip file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
          }
        },
        "RequirementsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>requirements.txt</code> file on your Amazon S3 bucket. For example, <code>requirements.txt</code>. If specified, then a file version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/working-dags-dependencies.html\">Installing Python dependencies</a>.</p>"
          }
        },
        "RequirementsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the requirements.txt file on your Amazon S3 bucket. A version must be specified each time a requirements.txt file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
          }
        },
        "AirflowConfigurationOptions": {
          "target": "com.amazonaws.mwaa#AirflowConfigurationOptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs containing the Apache Airflow configuration options you want to attach to your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-env-variables.html\">Apache Airflow configuration options</a>.</p>",
            "smithy.api#sensitive": {}
          }
        },
        "EnvironmentClass": {
          "target": "com.amazonaws.mwaa#EnvironmentClass",
          "traits": {
            "smithy.api#documentation": "<p>The environment class type. Valid values: <code>mw1.small</code>, <code>mw1.medium</code>, <code>mw1.large</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/environment-class.html\">Amazon MWAA environment class</a>.</p>"
          }
        },
        "MaxWorkers": {
          "target": "com.amazonaws.mwaa#MaxWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. For example, <code>20</code>. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the one worker that is included with your environment, or the number you specify in <code>MinWorkers</code>.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.mwaa#KmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Key Management Service (KMS) key to encrypt the data in your environment. You can use an AWS owned CMK, or a Customer managed CMK (advanced). To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/get-started.html\">Get started with Amazon Managed Workflows for Apache Airflow</a>.</p>"
          }
        },
        "AirflowVersion": {
          "target": "com.amazonaws.mwaa#AirflowVersion",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow version for your environment. For example, <code>v1.10.12</code>. If no value is specified, defaults to the latest version. Valid values: <code>v1.10.12</code>.</p>"
          }
        },
        "LoggingConfiguration": {
          "target": "com.amazonaws.mwaa#LoggingConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send to CloudWatch Logs: <code>DagProcessingLogs</code>, <code>SchedulerLogs</code>, <code>TaskLogs</code>, <code>WebserverLogs</code>, <code>WorkerLogs</code>.</p>"
          }
        },
        "WeeklyMaintenanceWindowStart": {
          "target": "com.amazonaws.mwaa#WeeklyMaintenanceWindowStart",
          "traits": {
            "smithy.api#documentation": "<p>The day and time of the week to start weekly maintenance updates of your environment in the following format: <code>DAY:HH:MM</code>. For example: <code>TUE:03:30</code>. You can specify a start time in 30 minute increments only. Supported input includes the following:</p>\n        <ul>\n            <li>\n                <p>MON|TUE|WED|THU|FRI|SAT|SUN:([01]\\\\d|2[0-3]):(00|30)</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mwaa#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tag pairs you want to associate to your environment. For example, <code>\"Environment\": \"Staging\"</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS resources</a>.</p>"
          }
        },
        "WebserverAccessMode": {
          "target": "com.amazonaws.mwaa#WebserverAccessMode",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow <i>Web server</i> access mode. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-networking.html\">Apache Airflow access modes</a>.</p>"
          }
        },
        "MinWorkers": {
          "target": "com.amazonaws.mwaa#MinWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the worker count you specify in the <code>MinWorkers</code> field. For example, <code>2</code>.</p>"
          }
        },
        "Schedulers": {
          "target": "com.amazonaws.mwaa#Schedulers",
          "traits": {
            "smithy.api#documentation": "<p>The number of Apache Airflow schedulers to run in your environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This section contains the Amazon Managed Workflows for Apache Airflow (MWAA) API reference documentation to create an environment. For more information, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/get-started.html\">Get started with Amazon Managed Workflows for Apache Airflow</a>.</p>"
      }
    },
    "com.amazonaws.mwaa#CreateEnvironmentOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) returned in the response for the environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#CreateWebLoginToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#CreateWebLoginTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.mwaa#CreateWebLoginTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a JWT token to be used to login to Airflow Web UI with claims based Authentication.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "env."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/webtoken/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mwaa#CreateWebLoginTokenRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>Create an Airflow Web UI login token request for a MWAA environment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#CreateWebLoginTokenResponse": {
      "type": "structure",
      "members": {
        "WebToken": {
          "target": "com.amazonaws.mwaa#Token",
          "traits": {
            "smithy.api#documentation": "<p>Create an Airflow Web UI login token response for the provided JWT token.</p>",
            "smithy.api#sensitive": {}
          }
        },
        "WebServerHostname": {
          "target": "com.amazonaws.mwaa#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>Create an Airflow Web UI login token response for the provided webserver hostname.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.mwaa#DeleteEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#DeleteEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#DeleteEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/environments/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mwaa#DeleteEnvironmentInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#DeleteEnvironmentOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mwaa#Dimension": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Internal only API.</p>"
      }
    },
    "com.amazonaws.mwaa#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#Dimension"
      }
    },
    "com.amazonaws.mwaa#Environment": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.mwaa#EnvironmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Amazon MWAA environment. Valid values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>CREATING</code> - Indicates the request to create the environment is in progress.</p>\n            </li>\n            <li>\n                <p>\n                  <code>CREATE_FAILED</code> - Indicates the request to create the environment failed, and the environment could not be created.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AVAILABLE</code> - Indicates the request was successful and the environment is ready to use.</p>\n            </li>\n            <li>\n                <p>\n                  <code>UPDATING</code> - Indicates the request to update the environment is in progress.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DELETING</code> - Indicates the request to delete the environment is in progress.</p>\n            </li>\n            <li>\n                <p>\n                  <code>DELETED</code> - Indicates the request to delete the environment is complete, and the environment has been deleted.</p>\n            </li>\n            <li>\n                <p>\n                  <code>UNAVAILABLE</code> - Indicates the request failed, but the environment was unable to rollback and is not in a stable state.</p>\n            </li>\n            <li>\n                <p>\n                  <code>UPDATE_FAILED</code> - Indicates the request to update the environment failed, and the environment has rolled back successfully and is ready to use.</p>\n            </li>\n         </ul>\n        <p>We recommend reviewing our troubleshooting guide for a list of common errors and their solutions. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/troubleshooting.html\">Amazon MWAA troubleshooting</a>.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon MWAA environment.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mwaa#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The day and time the environment was created.</p>"
          }
        },
        "WebserverUrl": {
          "target": "com.amazonaws.mwaa#WebserverUrl",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow <i>Web server</i> host name for the Amazon MWAA environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/access-airflow-ui.html\">Accessing the Apache Airflow UI</a>.</p>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.mwaa#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role in IAM that allows MWAA to access AWS resources in your environment. For example, <code>arn:aws:iam::123456789:role/my-execution-role</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-create-role.html\">Amazon MWAA Execution role</a>.</p>"
          }
        },
        "ServiceRoleArn": {
          "target": "com.amazonaws.mwaa#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the service-linked role of the environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-slr.html\">Amazon MWAA Service-linked role</a>.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.mwaa#KmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service (KMS) encryption key used to encrypt the data in your environment.</p>"
          }
        },
        "AirflowVersion": {
          "target": "com.amazonaws.mwaa#AirflowVersion",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow version on your environment. For example, <code>v1.10.12</code>.</p>"
          }
        },
        "SourceBucketArn": {
          "target": "com.amazonaws.mwaa#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket where your DAG code and supporting files are stored. For example, <code>arn:aws:s3:::my-airflow-bucket-unique-name</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-s3-bucket.html\">Create an Amazon S3 bucket for Amazon MWAA</a>.</p>"
          }
        },
        "DagS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the DAGs folder on your Amazon S3 bucket. For example, <code>dags</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-folder.html\">Adding or updating DAGs</a>.</p>"
          }
        },
        "PluginsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>plugins.zip</code> file on your Amazon S3 bucket. For example, <code>plugins.zip</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-import-plugins.html\">Installing custom plugins</a>.</p>"
          }
        },
        "PluginsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the plugins.zip file on your Amazon S3 bucket. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-import-plugins.html\">Installing custom plugins</a>.</p>"
          }
        },
        "RequirementsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>requirements.txt</code> file on your Amazon S3 bucket. For example, <code>requirements.txt</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/working-dags-dependencies.html\">Installing Python dependencies</a>.</p>"
          }
        },
        "RequirementsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the requirements.txt file on your Amazon S3 bucket. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/working-dags-dependencies.html\">Installing Python dependencies</a>.</p>"
          }
        },
        "AirflowConfigurationOptions": {
          "target": "com.amazonaws.mwaa#AirflowConfigurationOptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs containing the Apache Airflow configuration options attached to your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-env-variables.html\">Apache Airflow configuration options</a>.</p>"
          }
        },
        "EnvironmentClass": {
          "target": "com.amazonaws.mwaa#EnvironmentClass",
          "traits": {
            "smithy.api#documentation": "<p>The environment class type. Valid values: <code>mw1.small</code>, <code>mw1.medium</code>, <code>mw1.large</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/environment-class.html\">Amazon MWAA environment class</a>.</p>"
          }
        },
        "MaxWorkers": {
          "target": "com.amazonaws.mwaa#MaxWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workers that run in your environment. For example, <code>20</code>.</p>"
          }
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.mwaa#NetworkConfiguration"
        },
        "LoggingConfiguration": {
          "target": "com.amazonaws.mwaa#LoggingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow logs being sent to CloudWatch Logs: <code>DagProcessingLogs</code>, <code>SchedulerLogs</code>, <code>TaskLogs</code>, <code>WebserverLogs</code>, <code>WorkerLogs</code>.</p>"
          }
        },
        "LastUpdate": {
          "target": "com.amazonaws.mwaa#LastUpdate"
        },
        "WeeklyMaintenanceWindowStart": {
          "target": "com.amazonaws.mwaa#WeeklyMaintenanceWindowStart",
          "traits": {
            "smithy.api#documentation": "<p>The day and time of the week that weekly maintenance updates are scheduled. For example: <code>TUE:03:30</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mwaa#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tag pairs associated to your environment. For example, <code>\"Environment\": \"Staging\"</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS resources</a>.</p>"
          }
        },
        "WebserverAccessMode": {
          "target": "com.amazonaws.mwaa#WebserverAccessMode",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow <i>Web server</i> access mode. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-networking.html\">Apache Airflow access modes</a>.</p>"
          }
        },
        "MinWorkers": {
          "target": "com.amazonaws.mwaa#MinWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of workers that run in your environment. For example, <code>2</code>.</p>"
          }
        },
        "Schedulers": {
          "target": "com.amazonaws.mwaa#Schedulers",
          "traits": {
            "smithy.api#documentation": "<p>The number of Apache Airflow schedulers that run in your Amazon MWAA environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>"
      }
    },
    "com.amazonaws.mwaa#EnvironmentArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]+)?:airflow:[a-z0-9\\-]+:\\d{12}:environment/\\w+"
      }
    },
    "com.amazonaws.mwaa#EnvironmentClass": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.mwaa#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#EnvironmentName"
      }
    },
    "com.amazonaws.mwaa#EnvironmentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 80
        },
        "smithy.api#pattern": "^[a-zA-Z][0-9a-zA-Z-_]*$"
      }
    },
    "com.amazonaws.mwaa#EnvironmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "UNAVAILABLE",
            "name": "UNAVAILABLE"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.mwaa#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.mwaa#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.mwaa#GetEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#GetEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#GetEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/environments/{Name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mwaa#GetEnvironmentInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#GetEnvironmentOutput": {
      "type": "structure",
      "members": {
        "Environment": {
          "target": "com.amazonaws.mwaa#Environment",
          "traits": {
            "smithy.api#documentation": "<p>An object containing all available details about the environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#Hostname": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9])$"
      }
    },
    "com.amazonaws.mwaa#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]+)?:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
      }
    },
    "com.amazonaws.mwaa#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>InternalServerException: An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mwaa#KmsKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^(((arn:aws(-[a-z]+)?:kms:[a-z]{2}-[a-z]+-\\d:\\d+:)?key\\/)?[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}|(arn:aws(-[a-z]+)?:kms:[a-z]{2}-[a-z]+-\\d:\\d+:)?alias/.+)$"
      }
    },
    "com.amazonaws.mwaa#LastUpdate": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.mwaa#UpdateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the last update on the environment. Valid values: <code>SUCCESS</code>, <code>PENDING</code>, <code>FAILED</code>.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mwaa#UpdateCreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The day and time of the last update on the environment.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.mwaa#UpdateError",
          "traits": {
            "smithy.api#documentation": "<p>The error that was encountered during the last update of the environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the last update on the environment, and any errors that were encountered.</p>"
      }
    },
    "com.amazonaws.mwaa#ListEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#ListEnvironmentsInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#ListEnvironmentsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Amazon Managed Workflows for Apache Airflow (MWAA) environments.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/environments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Environments",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mwaa#ListEnvironmentsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mwaa#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the next page of the results.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to retrieve per page. For example, <code>5</code> environments per page.</p>",
            "smithy.api#httpQuery": "MaxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 25
            }
          }
        }
      }
    },
    "com.amazonaws.mwaa#ListEnvironmentsOutput": {
      "type": "structure",
      "members": {
        "Environments": {
          "target": "com.amazonaws.mwaa#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "<p>Returns the list of Amazon MWAA environments.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mwaa#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the next page of the results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the key-value tag pairs associated to the Amazon Managed Workflows for Apache Airflow (MWAA) environment. For example, <code>\"Environment\": \"Staging\"</code>. </p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mwaa#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon MWAA environment. For example, <code>arn:aws:airflow:us-east-1:123456789012:environment/MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mwaa#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tag pairs associated to your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS resources</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#LoggingConfiguration": {
      "type": "structure",
      "members": {
        "DagProcessingLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfiguration"
        },
        "SchedulerLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfiguration"
        },
        "WebserverLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfiguration"
        },
        "WorkerLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfiguration"
        },
        "TaskLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send to CloudWatch Logs: <code>DagProcessingLogs</code>, <code>SchedulerLogs</code>, <code>TaskLogs</code>, <code>WebserverLogs</code>, <code>WorkerLogs</code>.</p>"
      }
    },
    "com.amazonaws.mwaa#LoggingConfigurationInput": {
      "type": "structure",
      "members": {
        "DagProcessingLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfigurationInput"
        },
        "SchedulerLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfigurationInput"
        },
        "WebserverLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfigurationInput"
        },
        "WorkerLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfigurationInput"
        },
        "TaskLogs": {
          "target": "com.amazonaws.mwaa#ModuleLoggingConfigurationInput"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send to CloudWatch Logs: <code>DagProcessingLogs</code>, <code>SchedulerLogs</code>, <code>TaskLogs</code>, <code>WebserverLogs</code>, <code>WorkerLogs</code>.</p>"
      }
    },
    "com.amazonaws.mwaa#LoggingEnabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.mwaa#LoggingLevel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "CRITICAL"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "WARNING",
            "name": "WARNING"
          },
          {
            "value": "INFO",
            "name": "INFO"
          },
          {
            "value": "DEBUG",
            "name": "DEBUG"
          }
        ]
      }
    },
    "com.amazonaws.mwaa#MaxWorkers": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.mwaa#MetricData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#MetricDatum"
      }
    },
    "com.amazonaws.mwaa#MetricDatum": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.mwaa#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        },
        "Value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        },
        "Unit": {
          "target": "com.amazonaws.mwaa#Unit"
        },
        "StatisticValues": {
          "target": "com.amazonaws.mwaa#StatisticSet",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Internal only API.</p>"
      }
    },
    "com.amazonaws.mwaa#MinWorkers": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.mwaa#ModuleLoggingConfiguration": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.mwaa#LoggingEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to enable the Apache Airflow log type (e.g. <code>DagProcessingLogs</code>) in CloudWatch Logs.</p>"
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.mwaa#LoggingLevel",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send for the log type (e.g. <code>DagProcessingLogs</code>) to CloudWatch Logs. Valid values: <code>CRITICAL</code>, <code>ERROR</code>, <code>WARNING</code>, <code>INFO</code>.</p>"
          }
        },
        "CloudWatchLogGroupArn": {
          "target": "com.amazonaws.mwaa#CloudWatchLogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the CloudWatch Logs group where the Apache Airflow log type (e.g. <code>DagProcessingLogs</code>) is published. For example, <code>arn:aws:logs:us-east-1:123456789012:log-group:airflow-MyMWAAEnvironment-MwaaEnvironment-DAGProcessing:*</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the type of logs to send for the Apache Airflow log type (e.g. <code>DagProcessingLogs</code>). Valid values: <code>CloudWatchLogGroupArn</code>, <code>Enabled</code>, <code>LogLevel</code>.</p>"
      }
    },
    "com.amazonaws.mwaa#ModuleLoggingConfigurationInput": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.mwaa#LoggingEnabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to enable the Apache Airflow log type (e.g. <code>DagProcessingLogs</code>) in CloudWatch Logs.</p>",
            "smithy.api#required": {}
          }
        },
        "LogLevel": {
          "target": "com.amazonaws.mwaa#LoggingLevel",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send for the log type (e.g. <code>DagProcessingLogs</code>) to CloudWatch Logs. Valid values: <code>CRITICAL</code>, <code>ERROR</code>, <code>WARNING</code>, <code>INFO</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the type of logs to send for the Apache Airflow log type (e.g. <code>DagProcessingLogs</code>). Valid values: <code>CloudWatchLogGroupArn</code>, <code>Enabled</code>, <code>LogLevel</code>.</p>"
      }
    },
    "com.amazonaws.mwaa#NetworkConfiguration": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "target": "com.amazonaws.mwaa#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of 2 subnet IDs. <b>Required</b> to create an environment. Must be private subnets in two different availability zones. A subnet must be attached to the same VPC as the security group.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.mwaa#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of 1 or more security group IDs. Accepts up to 5 security group IDs. A security group must be attached to the same VPC as the subnets. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/vpc-security.html\">Security in your VPC on Amazon MWAA</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC networking components used to secure and enable network traffic between the AWS resources for your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/networking-about.html\">About networking on Amazon MWAA</a>.</p>"
      }
    },
    "com.amazonaws.mwaa#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.mwaa#PublishMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#PublishMetricsInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#PublishMetricsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "An operation for publishing metrics from the customers to the Ops plane.",
        "smithy.api#endpoint": {
          "hostPrefix": "ops."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/metrics/environments/{EnvironmentName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mwaa#PublishMetricsInput": {
      "type": "structure",
      "members": {
        "EnvironmentName": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>Publishes environment metric data to Amazon CloudWatch.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MetricData": {
          "target": "com.amazonaws.mwaa#MetricData",
          "traits": {
            "smithy.api#documentation": "<p>Publishes metric data points to Amazon CloudWatch. CloudWatch associates the data points with the specified metrica.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#PublishMetricsOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mwaa#RelativePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.mwaa#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ResourceNotFoundException: The resource is not available.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mwaa#S3BucketArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1224
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]+)?:s3:::[a-z0-9.\\-]+$"
      }
    },
    "com.amazonaws.mwaa#S3ObjectVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.mwaa#Schedulers": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "max": 5
        }
      }
    },
    "com.amazonaws.mwaa#SecurityGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^sg-[a-zA-Z0-9\\-._]+$"
      }
    },
    "com.amazonaws.mwaa#SecurityGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#SecurityGroupId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.mwaa#StatisticSet": {
      "type": "structure",
      "members": {
        "SampleCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        },
        "Sum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        },
        "Minimum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        },
        "Maximum": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Internal only API.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Internal only API.</p>"
      }
    },
    "com.amazonaws.mwaa#SubnetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^subnet-[a-zA-Z0-9\\-._]+$"
      }
    },
    "com.amazonaws.mwaa#SubnetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.mwaa#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.mwaa#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mwaa#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50
        }
      }
    },
    "com.amazonaws.mwaa#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mwaa#TagKey"
      },
      "value": {
        "target": "com.amazonaws.mwaa#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.mwaa#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#TagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#TagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates key-value tag pairs to your Amazon Managed Workflows for Apache Airflow (MWAA) environment. </p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mwaa#TagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon MWAA environment. For example, <code>arn:aws:airflow:us-east-1:123456789012:environment/MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mwaa#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tag pairs you want to associate to your environment. For example, <code>\"Environment\": \"Staging\"</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS resources</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#TagResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mwaa#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.mwaa#Token": {
      "type": "string"
    },
    "com.amazonaws.mwaa#Unit": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Unit",
        "smithy.api#enum": [
          {
            "value": "Seconds",
            "name": "SECONDS"
          },
          {
            "value": "Microseconds",
            "name": "MICROSECONDS"
          },
          {
            "value": "Milliseconds",
            "name": "MILLISECONDS"
          },
          {
            "value": "Bytes",
            "name": "BYTES"
          },
          {
            "value": "Kilobytes",
            "name": "KILOBYTES"
          },
          {
            "value": "Megabytes",
            "name": "MEGABYTES"
          },
          {
            "value": "Gigabytes",
            "name": "GIGABYTES"
          },
          {
            "value": "Terabytes",
            "name": "TERABYTES"
          },
          {
            "value": "Bits",
            "name": "BITS"
          },
          {
            "value": "Kilobits",
            "name": "KILOBITS"
          },
          {
            "value": "Megabits",
            "name": "MEGABITS"
          },
          {
            "value": "Gigabits",
            "name": "GIGABITS"
          },
          {
            "value": "Terabits",
            "name": "TERABITS"
          },
          {
            "value": "Percent",
            "name": "PERCENT"
          },
          {
            "value": "Count",
            "name": "COUNT"
          },
          {
            "value": "Bytes/Second",
            "name": "BYTES_PER_SECOND"
          },
          {
            "value": "Kilobytes/Second",
            "name": "KILOBYTES_PER_SECOND"
          },
          {
            "value": "Megabytes/Second",
            "name": "MEGABYTES_PER_SECOND"
          },
          {
            "value": "Gigabytes/Second",
            "name": "GIGABYTES_PER_SECOND"
          },
          {
            "value": "Terabytes/Second",
            "name": "TERABYTES_PER_SECOND"
          },
          {
            "value": "Bits/Second",
            "name": "BITS_PER_SECOND"
          },
          {
            "value": "Kilobits/Second",
            "name": "KILOBITS_PER_SECOND"
          },
          {
            "value": "Megabits/Second",
            "name": "MEGABITS_PER_SECOND"
          },
          {
            "value": "Gigabits/Second",
            "name": "GIGABITS_PER_SECOND"
          },
          {
            "value": "Terabits/Second",
            "name": "TERABITS_PER_SECOND"
          },
          {
            "value": "Count/Second",
            "name": "COUNT_PER_SECOND"
          },
          {
            "value": "None",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mwaa#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#UntagResourceInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#UntagResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes key-value tag pairs associated to your Amazon Managed Workflows for Apache Airflow (MWAA) environment. For example, <code>\"Environment\": \"Staging\"</code>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mwaa#UntagResourceInput": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon MWAA environment. For example, <code>arn:aws:airflow:us-east-1:123456789012:environment/MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.mwaa#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tag pair you want to remove. For example, <code>\"Environment\": \"Staging\"</code>. </p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mwaa#UntagResourceOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mwaa#UpdateCreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.mwaa#UpdateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mwaa#UpdateEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.mwaa#UpdateEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.mwaa#InternalServerException"
        },
        {
          "target": "com.amazonaws.mwaa#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mwaa#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates an Amazon Managed Workflows for Apache Airflow (MWAA) environment.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/environments/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mwaa#UpdateEnvironmentInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mwaa#EnvironmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your Amazon MWAA environment. For example, <code>MyMWAAEnvironment</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.mwaa#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the execution role in IAM that allows MWAA to access AWS resources in your environment. For example, <code>arn:aws:iam::123456789:role/my-execution-role</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-create-role.html\">Amazon MWAA Execution role</a>.</p>"
          }
        },
        "AirflowVersion": {
          "target": "com.amazonaws.mwaa#AirflowVersion",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow version for your environment. For example, <code>v1.10.12</code>. If no value is specified, defaults to the latest version. Valid values: <code>v1.10.12</code>.</p>"
          }
        },
        "SourceBucketArn": {
          "target": "com.amazonaws.mwaa#S3BucketArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket where your DAG code and supporting files are stored. For example, <code>arn:aws:s3:::my-airflow-bucket-unique-name</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/mwaa-s3-bucket.html\">Create an Amazon S3 bucket for Amazon MWAA</a>.</p>"
          }
        },
        "DagS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the DAGs folder on your Amazon S3 bucket. For example, <code>dags</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-folder.html\">Adding or updating DAGs</a>.</p>"
          }
        },
        "PluginsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>plugins.zip</code> file on your Amazon S3 bucket. For example, <code>plugins.zip</code>. If specified, then the plugins.zip version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-dag-import-plugins.html\">Installing custom plugins</a>.</p>"
          }
        },
        "PluginsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the plugins.zip file on your Amazon S3 bucket. A version must be specified each time a plugins.zip file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
          }
        },
        "RequirementsS3Path": {
          "target": "com.amazonaws.mwaa#RelativePath",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the <code>requirements.txt</code> file on your Amazon S3 bucket. For example, <code>requirements.txt</code>. If specified, then a file version is required. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/working-dags-dependencies.html\">Installing Python dependencies</a>.</p>"
          }
        },
        "RequirementsS3ObjectVersion": {
          "target": "com.amazonaws.mwaa#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the requirements.txt file on your Amazon S3 bucket. A version must be specified each time a requirements.txt file is updated. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/versioning-workflows.html\">How S3 Versioning works</a>.</p>"
          }
        },
        "AirflowConfigurationOptions": {
          "target": "com.amazonaws.mwaa#AirflowConfigurationOptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs containing the Apache Airflow configuration options you want to attach to your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-env-variables.html\">Apache Airflow configuration options</a>.</p>",
            "smithy.api#sensitive": {}
          }
        },
        "EnvironmentClass": {
          "target": "com.amazonaws.mwaa#EnvironmentClass",
          "traits": {
            "smithy.api#documentation": "<p>The environment class type. Valid values: <code>mw1.small</code>, <code>mw1.medium</code>, <code>mw1.large</code>. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/environment-class.html\">Amazon MWAA environment class</a>.</p>"
          }
        },
        "MaxWorkers": {
          "target": "com.amazonaws.mwaa#MaxWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. For example, <code>20</code>. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the one worker that is included with your environment, or the number you specify in <code>MinWorkers</code>.</p>"
          }
        },
        "NetworkConfiguration": {
          "target": "com.amazonaws.mwaa#UpdateNetworkConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>The VPC networking components used to secure and enable network traffic between the AWS resources for your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/networking-about.html\">About networking on Amazon MWAA</a>.</p>"
          }
        },
        "LoggingConfiguration": {
          "target": "com.amazonaws.mwaa#LoggingConfigurationInput",
          "traits": {
            "smithy.api#documentation": "<p>Defines the Apache Airflow logs to send to CloudWatch Logs: <code>DagProcessingLogs</code>, <code>SchedulerLogs</code>, <code>TaskLogs</code>, <code>WebserverLogs</code>, <code>WorkerLogs</code>.</p>"
          }
        },
        "WeeklyMaintenanceWindowStart": {
          "target": "com.amazonaws.mwaa#WeeklyMaintenanceWindowStart",
          "traits": {
            "smithy.api#documentation": "<p>The day and time of the week to start weekly maintenance updates of your environment in the following format: <code>DAY:HH:MM</code>. For example: <code>TUE:03:30</code>. You can specify a start time in 30 minute increments only. Supported input includes the following:</p>\n        <ul>\n            <li>\n                <p>MON|TUE|WED|THU|FRI|SAT|SUN:([01]\\\\d|2[0-3]):(00|30)</p>\n            </li>\n         </ul>"
          }
        },
        "WebserverAccessMode": {
          "target": "com.amazonaws.mwaa#WebserverAccessMode",
          "traits": {
            "smithy.api#documentation": "<p>The Apache Airflow <i>Web server</i> access mode. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/configuring-networking.html\">Apache Airflow access modes</a>.</p>"
          }
        },
        "MinWorkers": {
          "target": "com.amazonaws.mwaa#MinWorkers",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of workers that you want to run in your environment. MWAA scales the number of Apache Airflow workers up to the number you specify in the <code>MaxWorkers</code> field. When there are no more tasks running, and no more in the queue, MWAA disposes of the extra workers leaving the worker count you specify in the <code>MinWorkers</code> field. For example, <code>2</code>.</p>"
          }
        },
        "Schedulers": {
          "target": "com.amazonaws.mwaa#Schedulers",
          "traits": {
            "smithy.api#documentation": "<p>The number of Apache Airflow schedulers to run in your Amazon MWAA environment.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#UpdateEnvironmentOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mwaa#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon MWAA environment. For example, <code>arn:aws:airflow:us-east-1:123456789012:environment/MyMWAAEnvironment</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.mwaa#UpdateError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.mwaa#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code that corresponds to the error with the last update.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.mwaa#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message that corresponds to the error code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the error encountered with the last update: <code>ErrorCode</code>, <code>ErrorMessage</code>.</p>"
      }
    },
    "com.amazonaws.mwaa#UpdateNetworkConfigurationInput": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.mwaa#SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of 1 or more security group IDs. Accepts up to 5 security group IDs. A security group must be attached to the same VPC as the subnets. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/vpc-security.html\">Security in your VPC on Amazon MWAA</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC networking components used to secure and enable network traffic between the AWS resources for your environment. To learn more, see <a href=\"https://docs.aws.amazon.com/mwaa/latest/userguide/networking-about.html\">About networking on Amazon MWAA</a>.</p>"
      }
    },
    "com.amazonaws.mwaa#UpdateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.mwaa#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ValidationException: The provided input is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mwaa#WebserverAccessMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRIVATE_ONLY",
            "name": "PRIVATE_ONLY"
          },
          {
            "value": "PUBLIC_ONLY",
            "name": "PUBLIC_ONLY"
          }
        ]
      }
    },
    "com.amazonaws.mwaa#WebserverUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^https://.+$"
      }
    },
    "com.amazonaws.mwaa#WeeklyMaintenanceWindowStart": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        },
        "smithy.api#pattern": "(MON|TUE|WED|THU|FRI|SAT|SUN):([01]\\d|2[0-3]):(00|30)"
      }
    }
  }
}
