{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.neptunegraph#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Raised in case of an authentication or authorization failure.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.neptunegraph#AmazonNeptuneGraph": {
      "type": "service",
      "version": "2023-11-29",
      "operations": [
        {
          "target": "com.amazonaws.neptunegraph#CancelQuery"
        },
        {
          "target": "com.amazonaws.neptunegraph#ExecuteQuery"
        },
        {
          "target": "com.amazonaws.neptunegraph#GetGraphSummary"
        },
        {
          "target": "com.amazonaws.neptunegraph#GetQuery"
        },
        {
          "target": "com.amazonaws.neptunegraph#ListQueries"
        },
        {
          "target": "com.amazonaws.neptunegraph#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.neptunegraph#TagResource"
        },
        {
          "target": "com.amazonaws.neptunegraph#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.neptunegraph#GraphResource"
        },
        {
          "target": "com.amazonaws.neptunegraph#PrivateGraphEndpointResource"
        },
        {
          "target": "com.amazonaws.neptunegraph#SnapshotResource"
        },
        {
          "target": "com.amazonaws.neptunegraph#TaskResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Neptune Graph",
          "arnNamespace": "neptune-graph",
          "cloudTrailEventSource": "neptune-graph.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "neptune-graph"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "maxAge": 86400,
          "additionalAllowedHeaders": [
            "*",
            "Authorization",
            "Date",
            "X-Amz-Date",
            "X-Amz-Security-Token",
            "X-Amz-Target",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-errormessage",
            "x-amzn-trace-id",
            "x-amz-apigw-id",
            "date"
          ]
        },
        "smithy.api#documentation": "<p>Neptune Analytics is a new analytics database engine for Amazon Neptune that helps customers get to \n    insights faster by quickly processing large amounts of graph data, invoking popular graph analytic \n    algorithms in low-latency queries, and getting analytics results in seconds.</p>",
        "smithy.api#title": "Amazon Neptune Graph",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "ApiType": {
              "required": true,
              "documentation": "Parameter to determine whether current API is a control plane or dataplane API",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "ControlPlane"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://neptune-graph-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "DataPlane"
                                  ]
                                }
                              ],
                              "error": "Invalid Configuration: fips endpoint is not supported for this API",
                              "type": "error"
                            },
                            {
                              "conditions": [],
                              "error": "Invalid Configuration: Unknown ApiType",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "ControlPlane"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://neptune-graph-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "DataPlane"
                                  ]
                                }
                              ],
                              "error": "Invalid Configuration: fips endpoint is not supported for this API",
                              "type": "error"
                            },
                            {
                              "conditions": [],
                              "error": "Invalid Configuration: Unknown ApiType",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "ControlPlane"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://neptune-graph.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "ApiType"
                                    },
                                    "DataPlane"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://neptune-graph.{Region}.on.aws",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "error": "Invalid Configuration: Unknown ApiType",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "ApiType"
                            },
                            "ControlPlane"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://neptune-graph.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "ApiType"
                            },
                            "DataPlane"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://{Region}.neptune-graph.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "error": "Invalid Configuration: Unknown ApiType",
                      "type": "error"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "Region and CP ApiType are provided",
              "expect": {
                "endpoint": {
                  "url": "https://mycustomDomain.com"
                }
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "ControlPlane",
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Region and DP ApiType are provided",
              "expect": {
                "endpoint": {
                  "url": "https://mycustomDomain.com"
                }
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "DataPlane",
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Region and invalid ApiType are provided",
              "expect": {
                "endpoint": {
                  "url": "https://mycustomDomain.com"
                }
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "someInvalidApiType",
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "Only invalid ApiType is provided",
              "expect": {
                "endpoint": {
                  "url": "https://mycustomDomain.com"
                }
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "someInvalidApiType"
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-1.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://us-east-1.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-2.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-east-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-east-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://us-east-2.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-west-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-west-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-west-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-west-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-west-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-west-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-west-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-west-2.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: us-west-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: us-west-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://us-west-2.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-1.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://eu-west-1.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-2, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-2",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-2, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-2.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-2, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-2.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-west-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-west-2, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://eu-west-2.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-central-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-central-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-central-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-central-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-central-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-central-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-central-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-central-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-central-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-central-1.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: eu-central-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: eu-central-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://eu-central-1.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-southeast-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-southeast-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-southeast-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-southeast-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-southeast-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-southeast-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-southeast-1.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-southeast-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-southeast-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://ap-southeast-1.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-northeast-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-northeast-1, useFipsEndpoint: true, useDualStackEndpoint: true",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-northeast-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-northeast-1, useFipsEndpoint: true, useDualStackEndpoint: false",
              "expect": {
                "error": "Invalid Configuration: fips endpoint is not supported for this API"
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-northeast-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-northeast-1, useFipsEndpoint: false, useDualStackEndpoint: true",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-northeast-1.on.aws"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Validate CP endpoint in region: ap-northeast-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://neptune-graph.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "ControlPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate DP endpoint in region: ap-northeast-1, useFipsEndpoint: false, useDualStackEndpoint: false",
              "expect": {
                "endpoint": {
                  "url": "https://ap-northeast-1.neptune-graph.amazonaws.com"
                }
              },
              "params": {
                "ApiType": "DataPlane",
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Validate When no region is provided",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              },
              "params": {
                "ApiType": "DataPlane"
              }
            },
            {
              "documentation": "Validate When invalid/unknown ApiType provided",
              "expect": {
                "error": "Invalid Configuration: Unknown ApiType"
              },
              "params": {
                "Region": "us-east-1",
                "ApiType": "someUnknownValue"
              }
            },
            {
              "documentation": "Both Fips and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "Fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://mycustomDomain.com",
                "ApiType": "ControlPlane",
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.neptunegraph#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+$"
      }
    },
    "com.amazonaws.neptunegraph#BlankNodeHandling": {
      "type": "enum",
      "members": {
        "CONVERT_TO_IRI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "convertToIri"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CancelExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CancelExportTaskInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CancelExportTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Cancel the specified export task.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/exporttasks/{taskIdentifier}"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CancelExportTaskInput": {
      "type": "structure",
      "members": {
        "taskIdentifier": {
          "target": "com.amazonaws.neptunegraph#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the export task.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CancelExportTaskOutput": {
      "type": "structure",
      "members": {
        "graphId": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The source graph identifier of the cancelled export task.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.neptunegraph#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that will allow the exporting of data to the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "taskId": {
          "target": "com.amazonaws.neptunegraph#ExportTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the export task.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#ExportTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the export task. The status is <code>CANCELLING</code> when the \n      export task is cancelled.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.neptunegraph#ExportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the cancelled export task.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI of the cancelled export task where data will be exported to.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#required": {}
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.neptunegraph#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key identifier of the cancelled export task.</p>",
            "smithy.api#required": {}
          }
        },
        "parquetType": {
          "target": "com.amazonaws.neptunegraph#ParquetType",
          "traits": {
            "smithy.api#documentation": "<p>The parquet type of the cancelled export task.</p>"
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the export task has this status value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#CancelImportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CancelImportTaskInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CancelImportTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Deletes the specified import task.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/importtasks/{taskIdentifier}"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CancelImportTaskInput": {
      "type": "structure",
      "members": {
        "taskIdentifier": {
          "target": "com.amazonaws.neptunegraph#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the import task.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CancelImportTaskOutput": {
      "type": "structure",
      "members": {
        "graphId": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.neptunegraph#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the import task.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path,\n      or can point to a Neptune database endpoint or snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.neptunegraph#Format",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies\n      the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin\n      CSV format</a> or <code>OPENCYPHER</code>, which identies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher\n      load format</a>.</p>"
          }
        },
        "parquetType": {
          "target": "com.amazonaws.neptunegraph#ParquetType",
          "traits": {
            "smithy.api#documentation": "<p>The parquet type of the cancelled import task.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.neptunegraph#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#ImportTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the task. Status is CANCELLING when the import task is cancelled.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#CancelQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CancelQueryInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Cancels a specified query.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{graphIdentifier}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/queries/{queryId}",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "DataPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CancelQueryInput": {
      "type": "structure",
      "members": {
        "graphIdentifier": {
          "target": "com.amazonaws.neptunegraph#GraphIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "graphIdentifier",
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the query to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.neptunegraph#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the conflict exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Raised when a conflict is encountered.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.neptunegraph#ConflictExceptionReason": {
      "type": "enum",
      "members": {
        "CONCURRENT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENT_MODIFICATION"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CreateGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CreateGraphInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CreateGraphOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates a new Neptune Analytics graph.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/graphs"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphInput": {
      "type": "structure",
      "members": {
        "graphName": {
          "target": "com.amazonaws.neptunegraph#GraphName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the new Neptune Analytics graph to be created.</p>\n         <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its\n      first character must be a letter. It cannot end with a hyphen or contain two\n      consecutive hyphens. Only lowercase letters are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.neptunegraph#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Adds metadata tags to the new graph.\n        These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
          }
        },
        "publicConnectivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs is IAM authenticated.\n       (<code>true</code> to enable, or <code>false</code> to disable.</p>"
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.neptunegraph#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a KMS key to use to encrypt data in the new graph.</p>"
          }
        },
        "vectorSearchConfiguration": {
          "target": "com.amazonaws.neptunegraph#VectorSearchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of dimensions for vector embeddings that will be loaded into the graph.\n      The value is specified as <code>dimension=</code>value. Max = 65,535</p>"
          }
        },
        "replicaCount": {
          "target": "com.amazonaws.neptunegraph#ReplicaCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas in other AZs. Min =0, Max = 2, Default = 1.</p>\n         <important>\n            <p>\n        Additional charges equivalent to the m-NCUs selected for the graph apply for each replica.\n      </p>\n         </important>"
          }
        },
        "deletionProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether or not to enable deletion protection on the graph. The graph can’t be deleted when deletion protection is enabled.\n      (<code>true</code> or <code>false</code>).</p>"
          }
        },
        "provisionedMemory": {
          "target": "com.amazonaws.neptunegraph#ProvisionedMemory",
          "traits": {
            "smithy.api#documentation": "<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Min = 16</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the graph.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.neptunegraph#GraphName",
          "traits": {
            "smithy.api#documentation": "<p>The graph name. For example: <code>my-graph-1</code>.</p>\n         <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its\n      first character must be a letter. It cannot end with a hyphen or contain two\n      consecutive hyphens. Only lowercase letters are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the graph.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#GraphStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the graph.</p>"
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason the status was given.</p>"
          }
        },
        "createTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the graph was created.</p>"
          }
        },
        "provisionedMemory": {
          "target": "com.amazonaws.neptunegraph#ProvisionedMemory",
          "traits": {
            "smithy.api#documentation": "<p>The provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph.</p>\n         <p>Min = 16</p>"
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The graph endpoint.</p>"
          }
        },
        "publicConnectivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs is IAM authenticated.</p>\n         <note>\n            <p>If enabling public connectivity for the first time, there will be a delay while it is enabled.</p>\n         </note>"
          }
        },
        "vectorSearchConfiguration": {
          "target": "com.amazonaws.neptunegraph#VectorSearchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The vector-search configuration for the graph, which specifies the vector dimension\n      to use in the vector index, if any.</p>"
          }
        },
        "replicaCount": {
          "target": "com.amazonaws.neptunegraph#ReplicaCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas in other AZs.</p>\n         <p>Default: If not specified, the default value is 1.</p>"
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.neptunegraph#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the KMS key used to encrypt data in the new graph.</p>"
          }
        },
        "sourceSnapshotId": {
          "target": "com.amazonaws.neptunegraph#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the source graph.</p>"
          }
        },
        "deletionProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the graph has deletion protection enabled.\n      The graph can't be deleted when deletion protection is enabled.</p>"
          }
        },
        "buildNumber": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The build number of the graph software.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CreateGraphSnapshotInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CreateGraphSnapshotOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates a snapshot of the specific graph.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/snapshots"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphSnapshotInput": {
      "type": "structure",
      "members": {
        "graphIdentifier": {
          "target": "com.amazonaws.neptunegraph#GraphIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotName": {
          "target": "com.amazonaws.neptunegraph#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot name. For example: <code>my-snapshot-1</code>.</p>\n         <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its\n      first character must be a letter. It cannot end with a hyphen or contain two\n      consecutive hyphens. Only lowercase letters are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.neptunegraph#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Adds metadata tags to the new graph.\n        These tags can also be used with cost allocation reporting, or used in a Condition statement in an IAM policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphSnapshotOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.neptunegraph#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot created.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.neptunegraph#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot created.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the snapshot created.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceGraphId": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The Id of the Neptune Analytics graph from which the snapshot is created.</p>"
          }
        },
        "snapshotCreateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot creation time</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#SnapshotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the snapshot.</p>"
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.neptunegraph#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key used to encrypt and decrypt graph data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphUsingImportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CreateGraphUsingImportTaskInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CreateGraphUsingImportTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates a new Neptune Analytics graph and imports data into it, either from Amazon Simple Storage Service (S3) or from a Neptune database\n    or a Neptune database snapshot.</p>\n         <p>The data can be loaded from files in S3 that in either the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin CSV\n      format</a> or the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher\n      load format</a>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/importtasks"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphUsingImportTaskInput": {
      "type": "structure",
      "members": {
        "graphName": {
          "target": "com.amazonaws.neptunegraph#GraphName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the new Neptune Analytics graph to be created.</p>\n         <p>The name must contain from 1 to 63 letters, numbers, or hyphens, and its\n      first character must be a letter. It cannot end with a hyphen or contain two\n      consecutive hyphens. Only lowercase letters are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.neptunegraph#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Adds metadata tags to the new graph. These tags can also be used with cost allocation\n     reporting, or used in a Condition statement in an IAM policy.</p>"
          }
        },
        "publicConnectivity": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not the graph can be reachable over the internet. All access to graphs is IAM authenticated.\n       (<code>true</code> to enable, or <code>false</code> to disable).</p>"
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.neptunegraph#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a KMS key to use to encrypt data imported into the new graph.</p>"
          }
        },
        "vectorSearchConfiguration": {
          "target": "com.amazonaws.neptunegraph#VectorSearchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of dimensions for vector embeddings that will be loaded into the graph.\n    The value is specified as <code>dimension=</code>value. Max = 65,535 </p>"
          }
        },
        "replicaCount": {
          "target": "com.amazonaws.neptunegraph#ReplicaCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of replicas in other AZs to provision on the new graph after import. Default = 0, Min = 0, Max = 2.</p>\n         <important>\n            <p>\n        Additional charges equivalent to the m-NCUs selected for the graph apply for each replica.\n      </p>\n         </important>"
          }
        },
        "deletionProtection": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether or not to enable deletion protection on the graph. The graph can’t be deleted when deletion protection is enabled.\n      (<code>true</code> or <code>false</code>).</p>"
          }
        },
        "importOptions": {
          "target": "com.amazonaws.neptunegraph#ImportOptions",
          "traits": {
            "smithy.api#documentation": "<p>Contains options for controlling the import process. For example, if the <code>failOnError</code> key\n      is set to <code>false</code>, the import skips problem data and attempts to continue (whereas if set to\n    <code>true</code>, the default, or if omitted, the import operation halts immediately when an error is\n      encountered.</p>"
          }
        },
        "maxProvisionedMemory": {
          "target": "com.amazonaws.neptunegraph#ProvisionedMemory",
          "traits": {
            "smithy.api#documentation": "<p>The maximum provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Default: 1024,\n       or the approved upper limit for your account.</p>\n         <p> If both the minimum and maximum values are specified, the final\n    <code>provisioned-memory</code> will be chosen per the actual size of your imported data. If neither value is specified, \n     128 m-NCUs are used.</p>"
          }
        },
        "minProvisionedMemory": {
          "target": "com.amazonaws.neptunegraph#ProvisionedMemory",
          "traits": {
            "smithy.api#documentation": "<p>The minimum provisioned memory-optimized Neptune Capacity Units (m-NCUs) to use for the graph. Default: 16</p>"
          }
        },
        "failOnError": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, the task halts when an import error is encountered. If set to <code>false</code>,\n      the task skips the data that caused the error and continues if possible.</p>"
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path,\n      or can point to a Neptune database endpoint or snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.neptunegraph#Format",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies\n      the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin\n        CSV format</a>, <code>OPEN_CYPHER</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher\n          load format</a>, or <code>ntriples</code>, which identifies the\n      <a href=\"https://docs.aws.amazon.com/neptune-analytics/latest/userguide/using-rdf-data.html\">RDF n-triples</a> format.</p>"
          }
        },
        "parquetType": {
          "target": "com.amazonaws.neptunegraph#ParquetType",
          "traits": {
            "smithy.api#documentation": "<p>The parquet type of the import task.</p>"
          }
        },
        "blankNodeHandling": {
          "target": "com.amazonaws.neptunegraph#BlankNodeHandling",
          "traits": {
            "smithy.api#documentation": "<p>The method to handle blank nodes in the dataset. Currently, only <code>convertToIri</code> is supported, \n      meaning blank nodes are converted to unique IRIs at load time. Must be provided when format is <code>ntriples</code>. \n      For more information, see <a href=\"https://docs.aws.amazon.com/neptune-analytics/latest/userguide/using-rdf-data.html#rdf-handling\">Handling RDF values</a>.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.neptunegraph#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CreateGraphUsingImportTaskOutput": {
      "type": "structure",
      "members": {
        "graphId": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.neptunegraph#TaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the import task.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A URL identifying to the location of the data to be imported. This can be an Amazon S3 path,\n      or can point to a Neptune database endpoint or snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.neptunegraph#Format",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of S3 data to be imported. Valid values are <code>CSV</code>, which identifies\n      the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-gremlin.html\">Gremlin\n      CSV format</a>, <code>OPENCYPHER</code>, which identifies the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load-tutorial-format-opencypher.html\">openCypher\n      load format</a>, or <code>ntriples</code>, which identifies the\n     <a href=\"https://docs.aws.amazon.com/neptune-analytics/latest/userguide/using-rdf-data.html\">RDF n-triples</a> format.</p>"
          }
        },
        "parquetType": {
          "target": "com.amazonaws.neptunegraph#ParquetType",
          "traits": {
            "smithy.api#documentation": "<p>The parquet type of the import task.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.neptunegraph#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that will allow access to the data that is to be imported.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#ImportTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the import task.</p>",
            "smithy.api#required": {}
          }
        },
        "importOptions": {
          "target": "com.amazonaws.neptunegraph#ImportOptions",
          "traits": {
            "smithy.api#documentation": "<p>Contains options for controlling the import process. For example, if the <code>failOnError</code> key\n      is set to <code>false</code>, the import skips problem data and attempts to continue (whereas if set to\n    <code>true</code>, the default, or if omitted, the import operation halts immediately when an error is\n      encountered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#CreatePrivateGraphEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#CreatePrivateGraphEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#CreatePrivateGraphEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Create a private graph endpoint to allow private access from to the graph from within\n    a VPC. You can attach security groups to the private graph endpoint.</p>\n         <note>\n            <p>VPC endpoint charges apply.</p>\n         </note>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/graphs/{graphIdentifier}/endpoints/"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#CreatePrivateGraphEndpointInput": {
      "type": "structure",
      "members": {
        "graphIdentifier": {
          "target": "com.amazonaws.neptunegraph#GraphIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vpcId": {
          "target": "com.amazonaws.neptunegraph#VpcId",
          "traits": {
            "smithy.api#documentation": "<p> The VPC in which the private graph endpoint needs to be created.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.neptunegraph#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Subnets in which private graph endpoint ENIs are created.</p>"
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.neptunegraph#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>Security groups to be attached to the private graph endpoint..</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#CreatePrivateGraphEndpointOutput": {
      "type": "structure",
      "members": {
        "vpcId": {
          "target": "com.amazonaws.neptunegraph#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>VPC in which the private graph endpoint is created.</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.neptunegraph#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>Subnets in which the private graph endpoint ENIs are created. </p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.neptunegraph#PrivateGraphEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the private graph endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcEndpointId": {
          "target": "com.amazonaws.neptunegraph#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint ID of the prviate grpah endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.neptunegraph#DeleteGraph": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptunegraph#DeleteGraphInput"
      },
      "output": {
        "target": "com.amazonaws.neptunegraph#DeleteGraphOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptunegraph#ConflictException"
        },
        {
          "target": "com.amazonaws.neptunegraph#InternalServerException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ThrottlingException"
        },
        {
          "target": "com.amazonaws.neptunegraph#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Deletes the specified graph. Graphs cannot be deleted if delete-protection is enabled.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/graphs/{graphIdentifier}"
        },
        "smithy.rules#staticContextParams": {
          "ApiType": {
            "value": "ControlPlane"
          }
        }
      }
    },
    "com.amazonaws.neptunegraph#DeleteGraphInput": {
      "type": "structure",
      "members": {
        "graphIdentifier": {
          "target": "com.amazonaws.neptunegraph#GraphIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Neptune Analytics graph.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "skipSnapshot": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether a final graph snapshot is created before the graph is deleted.\n      If <code>true</code> is specified, no graph snapshot is created. If <code>false</code>\n      is specified, a graph snapshot is created before the graph is deleted.</p>",
            "smithy.api#httpQuery": "skipSnapshot",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.neptunegraph#DeleteGraphOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.neptunegraph#GraphId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the graph.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.neptunegraph#GraphName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the graph.</p>",
[...]
