{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.neptune#AddRoleToDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#AddRoleToDBClusterMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterRoleAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterRoleQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Identity and Access Management (IAM) role from an\n      Neptune DB cluster.</p>"
      }
    },
    "com.amazonaws.neptune#AddRoleToDBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB cluster to associate the IAM role with.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster,\n      for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#AddSourceIdentifierToSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#AddSourceIdentifierToSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#AddSourceIdentifierToSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#SourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#SubscriptionNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a source identifier to an existing event notification subscription.</p>"
      }
    },
    "com.amazonaws.neptune#AddSourceIdentifierToSubscriptionMessage": {
      "type": "structure",
      "members": {
        "SourceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source to be added.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be\n          supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be\n          supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must\n          be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be\n          supplied.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event notification subscription you want to add a source identifier\n      to.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#AddSourceIdentifierToSubscriptionResult": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.neptune#EventSubscription"
        }
      }
    },
    "com.amazonaws.neptune#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#AddTagsToResourceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSnapshotNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds metadata tags to an Amazon Neptune resource. These tags can also be used with cost\n      allocation reporting to track cost associated with Amazon Neptune resources, or used in a\n      Condition statement in an IAM policy for Amazon Neptune.</p>"
      }
    },
    "com.amazonaws.neptune#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Neptune resource that the tags are added to. This value is an Amazon Resource\n      Name (ARN). For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an\n      Amazon Resource Name (ARN)</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Amazon Neptune resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#AmazonRDSv19": {
      "type": "service",
      "version": "2014-10-31",
      "operations": [
        {
          "target": "com.amazonaws.neptune#AddRoleToDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#AddSourceIdentifierToSubscription"
        },
        {
          "target": "com.amazonaws.neptune#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.neptune#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.neptune#CopyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#CopyDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.neptune#CopyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBInstance"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#CreateDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.neptune#CreateEventSubscription"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBInstance"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#DeleteDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.neptune#DeleteEventSubscription"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBClusterParameterGroups"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBClusterParameters"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBClusters"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBClusterSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBClusterSnapshots"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBEngineVersions"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBInstances"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBParameterGroups"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBParameters"
        },
        {
          "target": "com.amazonaws.neptune#DescribeDBSubnetGroups"
        },
        {
          "target": "com.amazonaws.neptune#DescribeEngineDefaultClusterParameters"
        },
        {
          "target": "com.amazonaws.neptune#DescribeEngineDefaultParameters"
        },
        {
          "target": "com.amazonaws.neptune#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.neptune#DescribeEvents"
        },
        {
          "target": "com.amazonaws.neptune#DescribeEventSubscriptions"
        },
        {
          "target": "com.amazonaws.neptune#DescribeOrderableDBInstanceOptions"
        },
        {
          "target": "com.amazonaws.neptune#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.neptune#DescribeValidDBInstanceModifications"
        },
        {
          "target": "com.amazonaws.neptune#FailoverDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBClusterSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBInstance"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#ModifyDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.neptune#ModifyEventSubscription"
        },
        {
          "target": "com.amazonaws.neptune#PromoteReadReplicaDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#RebootDBInstance"
        },
        {
          "target": "com.amazonaws.neptune#RemoveRoleFromDBCluster"
        },
        {
          "target": "com.amazonaws.neptune#RemoveSourceIdentifierFromSubscription"
        },
        {
          "target": "com.amazonaws.neptune#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.neptune#ResetDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#ResetDBParameterGroup"
        },
        {
          "target": "com.amazonaws.neptune#RestoreDBClusterFromSnapshot"
        },
        {
          "target": "com.amazonaws.neptune#RestoreDBClusterToPointInTime"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Neptune",
          "arnNamespace": "rds",
          "cloudFormationName": "Neptune",
          "cloudTrailEventSource": "v20141031.admin.rds"
        },
        "aws.auth#sigv4": {
          "name": "rds"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon Neptune</fullname>\n         <p>Amazon Neptune is a fast, reliable, fully-managed graph database service that makes it\n      easy to build and run applications that work with highly connected datasets. The core of\n      Amazon Neptune is a purpose-built, high-performance graph database engine optimized for\n      storing billions of relationships and querying the graph with milliseconds latency. Amazon\n      Neptune supports popular graph models Property Graph and W3C's RDF, and their respective query\n      languages Apache TinkerPop Gremlin and SPARQL, allowing you to easily build queries that\n      efficiently navigate highly connected datasets. Neptune powers graph use cases such as\n      recommendation engines, fraud detection, knowledge graphs, drug discovery, and network\n      security.</p>\n\n         <p>This interface reference for Amazon Neptune contains documentation for a programming or\n      command line interface you can use to manage Amazon Neptune. Note that Amazon Neptune is\n      asynchronous, which means that some interfaces might require techniques such as polling or\n      callback functions to determine when a command has been applied. In this reference, the\n      parameter descriptions indicate whether a command is applied immediately, on the next instance\n      reboot, or during the maintenance window. The reference structure is as follows, and we list\n      following some related topics from the user guide.</p>",
        "smithy.api#title": "Amazon Neptune",
        "smithy.api#xmlNamespace": {
          "uri": "http://rds.amazonaws.com/doc/2014-10-31/"
        }
      }
    },
    "com.amazonaws.neptune#ApplyMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "immediate"
          },
          {
            "value": "pending-reboot"
          }
        ]
      }
    },
    "com.amazonaws.neptune#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#ApplyPendingMaintenanceActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>"
      }
    },
    "com.amazonaws.neptune#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ApplyAction": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n         <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in\n      request of type <code>immediate</code> can't be undone.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during the next\n          maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in\n          requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies\n      to. For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an\n      Amazon Resource Name (ARN)</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#ApplyPendingMaintenanceActionResult": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.neptune#ResourcePendingMaintenanceActions"
        }
      }
    },
    "com.amazonaws.neptune#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.neptune#String",
        "traits": {
          "smithy.api#xmlName": "AttributeValue"
        }
      }
    },
    "com.amazonaws.neptune#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.neptune#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the details of the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specified CIDRIP or EC2 security group is not authorized for the specified DB security group.</p>\n         <p>Neptune may not also be authorized via IAM to perform necessary actions on your behalf.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.neptune#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the availability zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an Availability Zone.</p>"
      }
    },
    "com.amazonaws.neptune#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.neptune#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.neptune#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.neptune#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.neptune#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.neptune#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.neptune#CertificateNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.neptune#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the details of the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>CertificateIdentifier</i> does not refer to an existing certificate.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.neptune#CharacterSet": {
      "type": "structure",
      "members": {
        "CharacterSetDescription": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the character set.</p>"
          }
        },
        "CharacterSetName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the character set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a character set.</p>"
      }
    },
    "com.amazonaws.neptune#CloudwatchLogsExportConfiguration": {
      "type": "structure",
      "members": {
        "DisableLogTypes": {
          "target": "com.amazonaws.neptune#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to disable.</p>"
          }
        },
        "EnableLogTypes": {
          "target": "com.amazonaws.neptune#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to enable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration setting for the log types to be enabled for export\n      to CloudWatch Logs for a specific DB instance or DB cluster.</p>\n\n         <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays\n      determine which logs will be exported (or not exported) to CloudWatch Logs.</p>"
      }
    },
    "com.amazonaws.neptune#CopyDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CopyDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CopyDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB cluster parameter group.</p>"
      }
    },
    "com.amazonaws.neptune#CopyDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.\n      For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an\n      Amazon Resource Name (ARN)</a>.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid DB cluster parameter group.</p>\n            </li>\n            <li>\n               <p>If the source DB cluster parameter group is in the same AWS Region as the copy,\n          specify a valid DB parameter group identifier, for example\n          <code>my-db-cluster-param-group</code>, or a valid ARN.</p>\n            </li>\n            <li>\n               <p>If the source DB parameter group is in a different AWS Region than the copy, specify a\n          valid DB cluster parameter group ARN, for example\n          <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the copied DB cluster parameter group.</p>"
          }
        },
        "TargetDBClusterParameterGroupDescription": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB cluster parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Cannot be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-param-group1</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#CopyDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.neptune#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.neptune#CopyDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CopyDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CopyDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.neptune#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.neptune#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a snapshot of a DB cluster.</p>\n         <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot,\n      <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the\n      shared DB cluster snapshot.</p>\n         <p>You can't copy from one AWS Region to another.</p>"
      }
    },
    "com.amazonaws.neptune#CopyDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "CopyTags": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>True to copy all tags from the source DB cluster snapshot to the target DB cluster\n      snapshot, and otherwise false. The default is false.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon\n      Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key.</p>\n\n         <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a\n      value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you\n      don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is\n      encrypted with the same KMS key as the source DB cluster snapshot.</p>\n\n         <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then\n      you must specify a value for <code>KmsKeyId</code>.</p>\n         <p> KMS encryption keys are specific to the AWS Region that they are created in, and you\n      can't use encryption keys from one AWS Region in another AWS Region.</p>\n\n         <p>You cannot encrypt an unencrypted DB cluster snapshot when you copy it. If you try to\n      copy an unencrypted DB cluster snapshot and specify a value for the KmsKeyId parameter, an\n      error is returned.</p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Not currently supported.</p>"
          }
        },
        "SourceDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot to copy. This parameter is not\n      case-sensitive.</p>\n         <p>You can't copy from one AWS Region to another.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid system snapshot in the \"available\" state.</p>\n            </li>\n            <li>\n               <p>Specify a valid DB snapshot identifier.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new DB cluster snapshot copy.</p>"
          }
        },
        "TargetDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster\n      snapshot. This parameter is not case-sensitive.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot2</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#CopyDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.neptune#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.neptune#CopyDBParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CopyDBParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CopyDBParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB parameter group.</p>"
      }
    },
    "com.amazonaws.neptune#CopyDBParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBParameterGroupIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or ARN for the source DB parameter group. For information about creating\n      an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an\n      Amazon Resource Name (ARN)</a>.</p>\n\n         <p>Constraints:</p>\n\n         <ul>\n            <li>\n               <p>Must specify a valid DB parameter group.</p>\n            </li>\n            <li>\n               <p>Must specify a valid DB parameter group identifier, for example\n        <code>my-db-param-group</code>, or a valid ARN.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the copied DB parameter group.</p>"
          }
        },
        "TargetDBParameterGroupDescription": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBParameterGroupIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Cannot be null, empty, or blank.</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n\n         <p>Example: <code>my-db-parameter-group</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.neptune#CopyDBParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBParameterGroup": {
          "target": "com.amazonaws.neptune#DBParameterGroup"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBClusterMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBClusterResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBClusterAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#InsufficientStorageClusterCapacityFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBSubnetGroupStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.neptune#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.neptune#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.neptune#StorageQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Neptune DB cluster.</p>\n         <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB\n      cluster as a Read Replica of another DB cluster or Amazon Neptune DB instance.</p>"
      }
    },
    "com.amazonaws.neptune#CreateDBClusterMessage": {
      "type": "structure",
      "members": {
        "AvailabilityZones": {
          "target": "com.amazonaws.neptune#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 Availability Zones that instances in the DB cluster can be created\n      in.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which automated backups are retained. You must specify a minimum\n      value of 1.</p>\n         <p>Default: 1</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be a value from 1 to 35</p>\n            </li>\n         </ul>"
          }
        },
        "CharacterSetName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the DB cluster parameter group to associate with this DB cluster. If this\n      argument is omitted, the default is used.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If supplied, must match the name of an existing DBClusterParameterGroup.</p>\n            </li>\n         </ul>"
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>A DB subnet group to associate with this DB cluster.</p>\n         <p>Constraints: Must match the name of an existing DBSubnetGroup. Must not be default.</p>\n         <p>Example: <code>mySubnetgroup</code>\n         </p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for your database of up to 64 alpha-numeric characters. If you do not provide a\n      name, Amazon Neptune will not create a database in the DB cluster you are creating.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the DB cluster has deletion protection enabled.\n      The database can't be deleted when deletion protection is enabled. By default,\n      deletion protection is disabled.\n    </p>"
          }
        },
        "EnableCloudwatchLogsExports": {
          "target": "com.amazonaws.neptune#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types that need to be enabled for exporting to CloudWatch Logs.</p>"
          }
        },
        "EnableIAMDatabaseAuthentication": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>True to enable mapping of AWS Identity and Access Management (IAM) accounts to database\n      accounts, and otherwise false.</p>\n         <p>Default: <code>false</code>\n         </p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine to be used for this DB cluster.</p>\n         <p>Valid Values: <code>neptune</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the database engine to use. Currently, setting this\n      parameter has no effect.</p>\n         <p>Example: <code>1.0.1</code>\n         </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key identifier for an encrypted DB cluster.</p>\n         <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If\n      you are creating a DB cluster with the same AWS account that owns the KMS encryption key used\n      to encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN for the\n      KMS encryption key.</p>\n         <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p>\n         <ul>\n            <li>\n               <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then\n          Amazon Neptune will use the encryption key used to encrypt the source. Otherwise, Amazon\n          Neptune will use your default encryption key.</p>\n            </li>\n            <li>\n               <p>If the <code>StorageEncrypted</code> parameter is true and\n          <code>ReplicationSourceIdentifier</code> is not specified, then Amazon Neptune will use\n          your default encryption key.</p>\n            </li>\n         </ul>\n         <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a\n      different default encryption key for each AWS Region.</p>\n         <p>If you create a Read Replica of an encrypted DB cluster in another AWS Region, you must\n      set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This\n      key is used to encrypt the Read Replica in that AWS Region.</p>"
          }
        },
        "MasterUserPassword": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The password for the master database user. This password can contain any printable ASCII\n      character except \"/\", \"\"\", or \"@\".</p>\n         <p>Constraints: Must contain from 8 to 41 characters.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the master user for the DB cluster.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be 1 to 16 letters or numbers.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot be a reserved word for the chosen database engine.</p>\n            </li>\n         </ul>"
          }
        },
        "OptionGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which the instances in the DB cluster accept connections.</p>\n         <p> Default: <code>8182</code>\n         </p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is not currently supported.</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range during which automated backups are created if automated backups are\n      enabled using the <code>BackupRetentionPeriod</code> parameter.</p>\n         <p>The default is a 30-minute window selected at random from an 8-hour block of time for each\n      AWS Region. To see the time blocks available, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred\n      Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i>\n         </p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p>\n            </li>\n            <li>\n               <p>Must be in Universal Coordinated Time (UTC).</p>\n            </li>\n            <li>\n               <p>Must not conflict with the preferred maintenance window.</p>\n            </li>\n            <li>\n               <p>Must be at least 30 minutes.</p>\n            </li>\n         </ul>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated\n      Time (UTC).</p>\n         <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n         </p>\n         <p>The default is a 30-minute window selected at random from an 8-hour block of time for each\n      AWS Region, occurring on a random day of the week. To see the time blocks available, see\n      <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/AdjustingTheMaintenanceWindow.html\"> Adjusting the Preferred\n      Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i>\n         </p>\n         <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p>\n         <p>Constraints: Minimum 30-minute window.</p>"
          }
        },
        "ReplicationSourceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source DB instance or DB cluster if this DB cluster\n      is created as a Read Replica.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster is encrypted.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new DB cluster.</p>"
          }
        },
        "VpcSecurityGroupIds": {
          "target": "com.amazonaws.neptune#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with this DB cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB cluster parameter group.</p>\n         <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB\n      cluster.</p>\n         <p> A DB cluster parameter group is initially created with the default\n      parameters for the database engine used by instances in the DB cluster.\n      To provide custom values for any of the parameters, you must modify the\n      group after creating it using <a>ModifyDBClusterParameterGroup</a>.\n      Once you've created a DB cluster parameter group, you need to associate it\n      with your DB cluster using <a>ModifyDBCluster</a>.\n      When you associate a new DB cluster parameter group with a running DB cluster,\n      you need to reboot the DB instances in the DB cluster without failover for the\n      new DB cluster parameter group and associated settings to take effect.</p>\n         <important>\n            <p>After you create a DB cluster parameter group, you should wait at least\n        5 minutes before creating your first DB cluster that uses that DB cluster\n        parameter group as the default parameter group. This allows Amazon Neptune\n        to fully complete the create action before the DB cluster parameter group\n        is used as the default for a new DB cluster. This is especially important for\n        parameters that are critical when creating the default database for a DB\n        cluster, such as the character set for the default database defined by the\n        <code>character_set_database</code> parameter. You can use the <i>Parameter\n        Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon Neptune\n        console</a> or the <a>DescribeDBClusterParameters</a>\n        command to verify that your DB cluster parameter group has been created or modified.</p>\n         </important>"
      }
    },
    "com.amazonaws.neptune#CreateDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB cluster parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must match the name of an existing DBClusterParameterGroup.</p>\n            </li>\n         </ul>\n         <note>\n            <p>This value is stored as a lowercase string.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster parameter group family name. A DB cluster parameter group can be associated\n      with one and only one DB cluster parameter group family, and can be applied only to a DB\n      cluster running a database engine and engine version compatible with that DB cluster parameter\n      group family.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the new DB cluster parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.neptune#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBClusterResult": {
      "type": "structure",
      "members": {
        "DBCluster": {
          "target": "com.amazonaws.neptune#DBCluster"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.neptune#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a DB cluster.</p>"
      }
    },
    "com.amazonaws.neptune#CreateDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster to create a snapshot for. This parameter is not\n      case-sensitive.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must match the identifier of an existing DBCluster.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase\n      string.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster1-snapshot1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the DB cluster snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.neptune#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBInstanceMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBInstanceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#AuthorizationNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBInstanceAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#DomainNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#InstanceQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#InsufficientDBInstanceCapacityFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.neptune#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.neptune#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.neptune#OptionGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "target": "com.amazonaws.neptune#StorageQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#StorageTypeNotSupportedFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB instance.</p>"
      }
    },
    "com.amazonaws.neptune#CreateDBInstanceMessage": {
      "type": "structure",
      "members": {
        "AllocatedStorage": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage (in gibibytes) to allocate for the DB instance.</p>\n         <p>Type: Integer</p>\n         <p>Not applicable. Neptune cluster volumes automatically grow as the amount of data in your\n      database increases, though you are only charged for the space that you use in a Neptune\n      cluster volume.</p>"
          }
        },
        "AutoMinorVersionUpgrade": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that minor engine upgrades are applied automatically to the DB instance during\n      the maintenance window.</p>\n         <p>Default: <code>true</code>\n         </p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p> The EC2 Availability Zone that the DB instance is created in</p>\n         <p>Default: A random, system-chosen Availability Zone in the endpoint's AWS Region.</p>\n         <p> Example: <code>us-east-1d</code>\n         </p>\n         <p> Constraint: The AvailabilityZone parameter can't be specified if the MultiAZ parameter is\n      set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as\n      the current endpoint.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which automated backups are\n      retained.</p>\n         <p>Not applicable. The retention period for automated backups is managed by the DB cluster.\n      For more information, see <a>CreateDBCluster</a>.</p>\n         <p>Default: 1</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be a value from 0 to 35</p>\n            </li>\n            <li>\n               <p>Cannot be set to 0 if the DB instance is a source to Read Replicas</p>\n            </li>\n         </ul>"
          }
        },
        "CharacterSetName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "CopyTagsToSnapshot": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>True to copy all tags from the DB instance to snapshots of the DB instance, and otherwise\n      false. The default is false.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster that the instance will belong to.</p>\n         <p>For information on creating a DB cluster, see <a>CreateDBCluster</a>.</p>\n         <p>Type: String</p>"
          }
        },
        "DBInstanceClass": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute and memory capacity of the DB instance, for example, <code>db.m4.large</code>.\n      Not all DB instance classes are available in all AWS Regions.</p>",
            "smithy.api#required": {}
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB instance identifier. This parameter is stored as a lowercase string.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>mydbinstance</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DBName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Not supported.</p>"
          }
        },
        "DBParameterGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB parameter group to associate with this DB instance. If this argument is\n      omitted, the default DBParameterGroup for the specified engine is used.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be 1 to 255 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>"
          }
        },
        "DBSecurityGroups": {
          "target": "com.amazonaws.neptune#DBSecurityGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DB security groups to associate with this DB instance.</p>\n         <p>Default: The default DB security group for the database engine.</p>"
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>A DB subnet group to associate with this DB instance.</p>\n         <p>If there is no DB subnet group, then it is a non-VPC DB instance.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the DB instance has deletion protection enabled.\n      The database can't be deleted when deletion protection is enabled. By default,\n      deletion protection is disabled.\n      \n    </p>\n         <p>You can enable or disable deletion protection for the DB cluster.\n      For more information, see <a>CreateDBCluster</a>. DB instances in a DB\n      cluster can be deleted even when deletion protection is enabled for the DB cluster.\n    </p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the Active Directory Domain to create the instance in.</p>"
          }
        },
        "DomainIAMRoleName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the IAM role to be used when making API calls to the Directory\n      Service.</p>"
          }
        },
        "EnableCloudwatchLogsExports": {
          "target": "com.amazonaws.neptune#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types that need to be enabled for exporting to CloudWatch Logs.</p>"
          }
        },
        "EnableIAMDatabaseAuthentication": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>True to enable AWS Identity and Access Management (IAM) authentication for Neptune.</p>\n         <p>Default: <code>false</code>\n         </p>"
          }
        },
        "EnablePerformanceInsights": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine to be used for this instance.</p>\n         <p>Valid Values: <code>neptune</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the database engine to use. Currently, setting this\n      parameter has no effect.</p>"
          }
        },
        "Iops": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The amount of Provisioned IOPS (input/output operations per second) to be initially\n      allocated for the DB instance.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key identifier for an encrypted DB instance.</p>\n         <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If\n      you are creating a DB instance with the same AWS account that owns the KMS encryption key used\n      to encrypt the new DB instance, then you can use the KMS key alias instead of the ARN for the\n      KM encryption key.</p>\n         <p>Not applicable. The KMS key identifier is managed by the DB cluster. For more information,\n      see <a>CreateDBCluster</a>.</p>\n         <p>If the <code>StorageEncrypted</code> parameter is true, and you do not specify a value for\n      the <code>KmsKeyId</code> parameter, then Amazon Neptune will use your default encryption key.\n      AWS KMS creates the default encryption key for your AWS account. Your AWS account has a\n      different default encryption key for each AWS Region.</p>"
          }
        },
        "LicenseModel": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>License model information for this DB instance.</p>\n         <p> Valid values: <code>license-included</code> | <code>bring-your-own-license</code> |\n      <code>general-public-license</code>\n         </p>"
          }
        },
        "MasterUserPassword": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The password for the master user. The password can include any printable ASCII character\n      except \"/\", \"\"\", or \"@\".</p>\n         <p> Not used.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the master user. Not used.</p>"
          }
        },
        "MonitoringInterval": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The interval, in seconds, between points when Enhanced Monitoring metrics are collected\n      for the DB instance. To disable collecting Enhanced Monitoring metrics, specify 0. The default\n      is 0.</p>\n         <p>If <code>MonitoringRoleArn</code> is specified, then you must also set\n      <code>MonitoringInterval</code> to a value other than 0.</p>\n         <p>Valid Values: <code>0, 1, 5, 10, 15, 30, 60</code>\n         </p>"
          }
        },
        "MonitoringRoleArn": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM role that permits Neptune to send enhanced monitoring metrics to\n      Amazon CloudWatch Logs. For example,\n      <code>arn:aws:iam:123456789012:role/emaccess</code>.</p>\n         <p>If <code>MonitoringInterval</code> is set to a value other than 0, then you must supply a\n      <code>MonitoringRoleArn</code> value.</p>"
          }
        },
        "MultiAZ": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if the DB instance is a Multi-AZ deployment. You can't set the AvailabilityZone\n      parameter if the MultiAZ parameter is set to true.</p>"
          }
        },
        "OptionGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "PerformanceInsightsKMSKeyId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which the database accepts connections.</p>\n         <p>Not applicable. The port is managed by the DB cluster. For more information, see <a>CreateDBCluster</a>.</p>\n         <p> Default: <code>8182</code>\n         </p>\n         <p>Type: Integer</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p> The daily time range during which automated backups are created.</p>\n         <p>Not applicable. The daily time range for creating automated backups is managed by the DB\n      cluster. For more information, see <a>CreateDBCluster</a>.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The time range each week during which system maintenance can occur, in Universal\n      Coordinated Time (UTC).</p>\n         <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code>\n         </p>\n         <p>The default is a 30-minute window selected at random from an 8-hour block of time for each\n      AWS Region, occurring on a random day of the week.</p>\n         <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p>\n         <p>Constraints: Minimum 30-minute window.</p>"
          }
        },
        "PromotionTier": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the order in which an Read Replica is promoted to the primary\n      instance after a failure of the existing primary instance.\n      </p>\n         <p>Default: 1</p>\n         <p>Valid Values: 0 - 15</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>This flag should no longer be used.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB instance is encrypted.</p>\n         <p>Not applicable. The encryption for DB instances is managed by the DB cluster. For more\n      information, see <a>CreateDBCluster</a>.</p>\n         <p>Default: false</p>"
          }
        },
        "StorageType": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the storage type to be associated with the DB instance.</p>\n         <p>Not applicable. Storage is managed by the DB Cluster.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the new instance.</p>"
          }
        },
        "TdeCredentialArn": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN from the key store with which to associate the instance for TDE encryption.</p>"
          }
        },
        "TdeCredentialPassword": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The password for the given ARN from the key store in order to access the device.</p>"
          }
        },
        "Timezone": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The time zone of the DB instance.</p>"
          }
        },
        "VpcSecurityGroupIds": {
          "target": "com.amazonaws.neptune#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with this DB instance.</p>\n         <p>Not applicable. The associated list of EC2 VPC security groups is managed by the DB\n      cluster. For more information, see <a>CreateDBCluster</a>.</p>\n         <p>Default: The default EC2 VPC security group for the DB subnet group's VPC.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBInstanceResult": {
      "type": "structure",
      "members": {
        "DBInstance": {
          "target": "com.amazonaws.neptune#DBInstance"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB parameter group.</p>\n\n         <p>A DB parameter group is initially created with the default parameters for the database\n      engine used by the DB instance. To provide custom values for any of the parameters, you must\n      modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once\n      you've created a DB parameter group, you need to associate it with your DB instance using\n      <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a\n      running DB instance, you need to reboot the DB instance without failover for the new DB\n      parameter group and associated settings to take effect.</p>\n\n         <important>\n            <p>After you create a DB parameter group, you should wait at least 5 minutes before\n        creating your first DB instance that uses that DB parameter group as the default parameter\n        group. This allows Amazon Neptune to fully complete the create action before the parameter\n        group is used as the default for a new DB instance. This is especially important for\n        parameters that are critical when creating the default database for a DB instance, such as\n        the character set for the default database defined by the\n        <code>character_set_database</code> parameter. You can use the <i>Parameter\n        Groups</i> option of the Amazon Neptune console or the\n        <i>DescribeDBParameters</i> command to verify that your DB parameter group has\n        been created or modified.</p>\n         </important>"
      }
    },
    "com.amazonaws.neptune#CreateDBParameterGroupMessage": {
      "type": "structure",
      "members": {
        "DBParameterGroupFamily": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB parameter group family name. A DB parameter group can be associated with one and\n      only one DB parameter group family, and can be applied only to a DB instance running a\n      database engine and engine version compatible with that DB parameter group family.</p>",
            "smithy.api#required": {}
          }
        },
        "DBParameterGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be 1 to 255 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Cannot end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n         <note>\n            <p>This value is stored as a lowercase string.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the new DB parameter group.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBParameterGroup": {
          "target": "com.amazonaws.neptune#DBParameterGroup"
        }
      }
    },
    "com.amazonaws.neptune#CreateDBSubnetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateDBSubnetGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateDBSubnetGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetGroupQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#DBSubnetQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#InvalidSubnet"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at\n      least two AZs in the AWS Region.</p>"
      }
    },
    "com.amazonaws.neptune#CreateDBSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "DBSubnetGroupDescription": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the DB subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the DB subnet group. This value is stored as a lowercase string.</p>\n         <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces,\n      or hyphens. Must not be default.</p>\n         <p>Example: <code>mySubnetgroup</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.neptune#SubnetIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 Subnet IDs for the DB subnet group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the new DB subnet group.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateDBSubnetGroupResult": {
      "type": "structure",
      "members": {
        "DBSubnetGroup": {
          "target": "com.amazonaws.neptune#DBSubnetGroup"
        }
      }
    },
    "com.amazonaws.neptune#CreateEventSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.neptune#CreateEventSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.neptune#CreateEventSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.neptune#EventSubscriptionQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.neptune#SNSInvalidTopicFault"
        },
        {
          "target": "com.amazonaws.neptune#SNSNoAuthorizationFault"
        },
        {
          "target": "com.amazonaws.neptune#SNSTopicArnNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#SourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.neptune#SubscriptionAlreadyExistFault"
        },
        {
          "target": "com.amazonaws.neptune#SubscriptionCategoryNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an event notification subscription. This action requires a topic ARN (Amazon\n      Resource Name) created by either the Neptune console, the SNS console, or the SNS API. To\n      obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The\n      ARN is displayed in the SNS console.</p>\n         <p>You can specify the type of source (SourceType) you want to be notified of, provide a list\n      of Neptune sources (SourceIds) that triggers the events, and provide a list of event\n      categories (EventCategories) for events you want to be notified of. For example, you can\n      specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories\n      = Availability, Backup.</p>\n         <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and\n      SourceIdentifier = myDBInstance1, you are notified of all the db-instance events for the\n      specified source. If you specify a SourceType but do not specify a SourceIdentifier, you\n      receive notice of the events for that source type for all your Neptune sources. If you do not\n      specify either the SourceType nor the SourceIdentifier, you are notified of events generated\n      from all Neptune sources belonging to your customer account.</p>"
      }
    },
    "com.amazonaws.neptune#CreateEventSubscriptionMessage": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p> A Boolean value; set to <b>true</b> to activate the\n      subscription, set to <b>false</b> to create the subscription but not\n      active it.</p>"
          }
        },
        "EventCategories": {
          "target": "com.amazonaws.neptune#EventCategoriesList",
          "traits": {
            "smithy.api#documentation": "<p> A list of event categories for a SourceType that you want to subscribe to. You can see a\n      list of the categories for a given SourceType by using the\n      <b>DescribeEventCategories</b> action.</p>"
          }
        },
        "SnsTopicArn": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the SNS topic created for event notification. The ARN is\n      created by Amazon SNS when you create a topic and subscribe to it.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceIds": {
          "target": "com.amazonaws.neptune#SourceIdsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of identifiers of the event sources for which events are returned. If not\n      specified, then all sources are included in the response. An identifier must begin with a\n      letter and must contain only ASCII letters, digits, and hyphens; it can't end with a hyphen or\n      contain two consecutive hyphens.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If SourceIds are supplied, SourceType must also be provided.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be\n          supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be\n          supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must\n          be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be\n          supplied.</p>\n            </li>\n         </ul>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of source that is generating the events. For example, if you want to be notified\n      of events generated by a DB instance, you would set this parameter to db-instance. if this\n      value is not specified, all events are returned.</p>\n         <p>Valid values: <code>db-instance</code> | <code>db-cluster</code> |\n      <code>db-parameter-group</code> | <code>db-security-group</code> | <code>db-snapshot</code> |\n      <code>db-cluster-snapshot</code>\n         </p>"
          }
        },
        "SubscriptionName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subscription.</p>\n         <p>Constraints: The name must be less than 255 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.neptune#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be applied to the new event subscription.</p>"
          }
        }
      }
    },
    "com.amazonaws.neptune#CreateEventSubscriptionResult": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.neptune#EventSubscription"
        }
      }
    },
    "com.amazonaws.neptune#DBCluster": {
      "type": "structure",
      "members": {
        "AllocatedStorage": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>AllocatedStorage</code> always returns 1, because Neptune DB cluster storage size is\n      not fixed, but instead automatically adjusts as needed.</p>"
          }
        },
        "AssociatedRoles": {
          "target": "com.amazonaws.neptune#DBClusterRoles",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of the AWS Identity and Access Management (IAM) roles that are associated\n      with the DB cluster. IAM roles that are associated with a DB cluster grant permission for the\n      DB cluster to access other AWS services on your behalf.</p>"
          }
        },
        "AvailabilityZones": {
          "target": "com.amazonaws.neptune#AvailabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>Provides the list of EC2 Availability Zones that instances in the DB cluster can be\n      created in.</p>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days for which automatic DB snapshots are retained.</p>"
          }
        },
        "CharacterSetName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "CloneGroupId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the clone group to which the DB cluster is associated.</p>"
          }
        },
        "ClusterCreateTime": {
          "target": "com.amazonaws.neptune#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time when the DB cluster was created, in Universal Coordinated Time\n      (UTC).</p>"
          }
        },
        "DBClusterArn": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the DB cluster.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains a user-supplied DB cluster identifier. This identifier is the unique key that\n      identifies a DB cluster.</p>"
          }
        },
        "DBClusterMembers": {
          "target": "com.amazonaws.neptune#DBClusterMemberList",
          "traits": {
            "smithy.api#documentation": "<p>Provides the list of instances that make up the DB cluster.</p>"
          }
        },
        "DBClusterOptionGroupMemberships": {
          "target": "com.amazonaws.neptune#DBClusterOptionGroupMemberships",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>(Not supported by Neptune)</i>\n         </p>"
          }
        },
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the DB cluster parameter group for the DB cluster.</p>"
          }
        },
        "DBSubnetGroup": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies information on the subnet group associated with the DB cluster, including the\n      name, description, and subnets in the subnet group.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the name of the initial database of this DB cluster that was provided at create\n      time, if one was specified when the DB cluster was created. This same name is returned for the\n      life of the DB cluster.</p>"
          }
        },
        "DbClusterResourceId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region-unique, immutable identifier for the DB cluster. This identifier is found\n      in AWS CloudTrail log entries whenever the AWS KMS key for the DB cluster is accessed.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.neptune#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if the DB cluster has deletion protection enabled.\n      The database can't be deleted when deletion protection is enabled.\n    </p>"
          }
        },
        "EarliestRestorableTime": {
          "target": "com.amazonaws.neptune#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the earliest time to which a database can be restored with point-in-time\n      restore.</p>"
          }
        },
        "EnabledCloudwatchLogsExports": {
          "target": "com.amazonaws.neptune#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of log types that this DB cluster is configured to export to CloudWatch Logs.</p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the connection endpoint for the primary instance of the DB cluster.</p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the name of the database engine to be used for this DB cluster.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the database engine version.</p>"
          }
        },
        "HostedZoneId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>"
          }
        },
        "IAMDatabaseAuthenticationEnabled": {
          "target": "com.amazonaws.neptune#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if mapping of AWS Identity and Access Management (IAM) accounts to database accounts\n      is enabled, and otherwise false.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the\n      encrypted DB cluster.</p>"
          }
        },
        "LatestRestorableTime": {
          "target": "com.amazonaws.neptune#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the latest time to which a database can be restored with point-in-time\n      restore.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Contains the master username for the DB cluster.</p>"
          }
        },
        "MultiAZ": {
          "target": "com.amazonaws.neptune#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster has instances in multiple Availability Zones.</p>"
          }
        },
        "PercentProgress": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the progress of the operation as a percentage.</p>"
          }
        },
        "Port": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the port that the database engine is listening on.</p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the daily time range during which automated backups are created if automated\n      backups are enabled, as determined by the <code>BackupRetentionPeriod</code>.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the weekly time range during which system maintenance can occur, in Universal\n      Coordinated Time (UTC).</p>"
          }
        },
        "ReadReplicaIdentifiers": {
          "target": "com.amazonaws.neptune#ReadReplicaIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Contains one or more identifiers of the Read Replicas associated with this DB\n      cluster.</p>"
          }
        },
        "ReaderEndpoint": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>The reader endpoint for the DB cluster. The reader endpoint for a DB cluster load-balances\n      connections across the Read Replicas that are available in a DB cluster. As clients request\n      new connections to the reader endpoint, Neptune distributes the connection requests among the\n      Read Replicas in the DB cluster. This functionality can help balance your read workload across\n      multiple Read Replicas in your DB cluster.</p>\n         <p>If a failover occurs, and the Read Replica that you are connected to is promoted to be the\n      primary instance, your connection is dropped. To continue sending your read workload to other\n      Read Replicas in the cluster, you can then reconnect to the reader endpoint.</p>"
          }
        },
        "ReplicationSourceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Not supported by Neptune.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the current state of this DB cluster.</p>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.neptune#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the DB cluster is encrypted.</p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "com.amazonaws.neptune#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of VPC security groups that the DB cluster belongs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of an Amazon Neptune DB cluster.</p>\n         <p>This data type is used as a response element in the <a>DescribeDBClusters</a> action.</p>"
      }
    },
    "com.amazonaws.neptune#DBClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.neptune#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the details of the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User already has a DB cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.neptune#DBClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.neptune#DBCluster",
        "traits": {
          "smithy.api#xmlName": "DBCluster"
        }
      }
    },
    "com.amazonaws.neptune#DBClusterMember": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroupStatus": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the DB cluster parameter group for this member of the DB\n      cluster.</p>"
          }
        },
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.neptune#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the instance identifier for this member of the DB cluster.</p>"
          }
        },
        "IsClusterWriter": {
          "target": "com.amazonaws.neptune#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Value that is <code>true</code> if the cluster member is the primary instance for the DB\n      cluster and <code>false</code> otherwise.</p>"
          }
        },
        "PromotionTier": {
          "target": "com.amazonaws.neptune#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the order in which a Read Replica is promoted to the primary\n      instance after a failure of the existing primary instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an instance that is part of a DB cluster.</p>"
      }
    },
    "com.amazonaws.neptune#DBClusterMemberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.neptune#DBClusterMember",
        "traits": {
          "smithy.api#xmlName": "DBClusterMember"
        }
      }
    },
    "com.amazonaws.neptune#DBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusters": {
          "target": "com.amazonaws.neptune#DBClusterList",
          "traits": {
[...]
