{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.networkmanager#AWSLocation": {
      "type": "structure",
      "members": {
        "Zone": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Zone that the device is located in. Specify the ID of an Availability Zone, Local\n            Zone, Wavelength Zone, or an Outpost.</p>"
          }
        },
        "SubnetArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the subnet that the device is located in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a location in Amazon Web Services.</p>"
      }
    },
    "com.amazonaws.networkmanager#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a customer gateway with a device and optionally, with a link. If you\n            specify a link, it must be associated with the specified device. </p>\n        <p>You can only associate customer gateways that are connected to a VPN attachment on a\n            transit gateway. The transit gateway must be registered in your global network. When\n            you register a transit gateway, customer gateways that are connected to the transit\n            gateway are automatically included in the global network. To list customer gateways\n            that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by\n                <code>transit-gateway-id</code>.</p>\n        <p>You cannot associate a customer gateway with more than one device and link. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociation": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The customer gateway association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkResponse": {
      "type": "structure",
      "members": {
        "LinkAssociation": {
          "target": "com.amazonaws.networkmanager#LinkAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The link association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a transit gateway Connect peer with a device, and optionally, with a link. If you\n            specify a link, it must be associated with the specified device. </p>\n        <p>You can only associate transit gateway Connect peers that have been created on a\n            transit gateway that's registered in your global network.</p>\n        <p>You cannot associate a transit gateway Connect peer with more than one device and link. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-connect-peer-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayConnectPeerArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Connect peer.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayConnectPeerAssociation": {
          "target": "com.amazonaws.networkmanager#TransitGatewayConnectPeerAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway Connect peer association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Bandwidth": {
      "type": "structure",
      "members": {
        "UploadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Upload speed in Mbps.</p>"
          }
        },
        "DownloadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Download speed in Mbps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes bandwidth information.</p>"
      }
    },
    "com.amazonaws.networkmanager#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.networkmanager#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict processing the request. Updating or deleting the resource can\n            cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.networkmanager#Connection": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>"
          }
        },
        "ConnectionArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the first device in the connection.</p>"
          }
        },
        "ConnectedDeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the second device in the connection.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the first device in the connection.</p>"
          }
        },
        "ConnectedLinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the second device in the connection.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the connection.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connection was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectionHealth": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.networkmanager#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The connection type.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkmanager#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The connection status.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the status was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes connection health.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Connection"
      }
    },
    "com.amazonaws.networkmanager#ConnectionState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UP",
            "name": "UP"
          },
          {
            "value": "DOWN",
            "name": "DOWN"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BGP",
            "name": "BGP"
          },
          {
            "value": "IPSEC",
            "name": "IPSEC"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connection between two devices. The devices can be a physical or virtual appliance that connects to a third-party appliance in a VPC, or a physical appliance that connects to another physical appliance in an on-premises network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/connections",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectionRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the first device in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectedDeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the second device in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the first device.</p>"
          }
        },
        "ConnectedLinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the second device.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the connection.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.networkmanager#Connection",
          "traits": {
            "smithy.api#documentation": "<p>Information about the connection.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new device in a global network. If you specify both a site ID and a\n            location, the location of the site is used for visualization in the Network Manager console.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AWSLocation": {
          "target": "com.amazonaws.networkmanager#AWSLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services location of the device, if applicable. For an on-premises device, you can omit this parameter.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the device.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device.</p>"
          }
        },
        "Vendor": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The vendor of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The model of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the device.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.networkmanager#Device",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the global network.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkResponse": {
      "type": "structure",
      "members": {
        "GlobalNetwork": {
          "target": "com.amazonaws.networkmanager#GlobalNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global network object.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new link for a specified site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/links",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the link.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the link.</p>\n        <p>Constraints: Maximum length of 128 characters. Cannot include the following characters: | \\ ^</p>"
          }
        },
        "Bandwidth": {
          "target": "com.amazonaws.networkmanager#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p> The upload speed and download speed in Mbps. </p>",
            "smithy.api#required": {}
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the link.</p>\n        <p>Constraints: Maximum length of 128 characters. Cannot include the following characters: | \\ ^</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkResponse": {
      "type": "structure",
      "members": {
        "Link": {
          "target": "com.amazonaws.networkmanager#Link",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new site in a global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of your site.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The site location. This information is used for visualization in the Network Manager console. If you specify the address, the latitude and longitude are automatically calculated.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>Address</code>: The physical address of the site.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Latitude</code>: The latitude of the site. </p>\n            </li>\n            <li>\n               <p>\n                  <code>Longitude</code>: The longitude of the site.</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteResponse": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.networkmanager#Site",
          "traits": {
            "smithy.api#documentation": "<p>Information about the site.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociation": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The association state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the association between a customer gateway, a device, and a link.</p>"
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation"
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "DELETED",
            "name": "deleted"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.networkmanager#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified connection in your global network.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/connections/{ConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.networkmanager#Connection",
          "traits": {
            "smithy.api#documentation": "<p>Information about the connection.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing device. You must first disassociate the device from any links and\n            customer gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteDeviceRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.networkmanager#Device",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteGlobalNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteGlobalNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing global network. You must first delete all global network objects\n            (devices, links, and sites) and deregister all transit gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetworkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetworkResponse": {
      "type": "structure",
      "members": {
        "GlobalNetwork": {
          "target": "com.amazonaws.networkmanager#GlobalNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global network.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing link. You must first disassociate the link from any devices and\n            customer gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/links/{LinkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLinkResponse": {
      "type": "structure",
      "members": {
        "Link": {
          "target": "com.amazonaws.networkmanager#Link",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing site. The site cannot be associated with any device or link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSiteRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSiteResponse": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.networkmanager#Site",
          "traits": {
            "smithy.api#documentation": "<p>Information about the site.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeregisterTransitGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeregisterTransitGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters a transit gateway from your global network. This action does not delete\n            your transit gateway, or modify any of its attachments. This action removes any customer gateway associations.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-registrations/{TransitGatewayArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGatewayRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the transit gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGatewayResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayRegistration": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistration",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway registration information.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DescribeGlobalNetworksRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DescribeGlobalNetworksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more global networks. By default, all global networks are\n            described. To describe the objects in your global network, you must use the appropriate\n                <code>Get*</code> action. For example, to list the transit gateways in your global\n            network, use <a>GetTransitGatewayRegistrations</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworksRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of one or more global networks. The maximum is 10.</p>",
            "smithy.api#httpQuery": "globalNetworkIds"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworksResponse": {
      "type": "structure",
      "members": {
        "GlobalNetworks": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global networks.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Device": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>"
          }
        },
        "DeviceArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "AWSLocation": {
          "target": "com.amazonaws.networkmanager#AWSLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services location of the device.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the device.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device type.</p>"
          }
        },
        "Vendor": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device vendor.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device model.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device serial number.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The site location.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The site ID.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the site was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#DeviceState",
          "traits": {
            "smithy.api#documentation": "<p>The device state.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the device.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a device.</p>"
      }
    },
    "com.amazonaws.networkmanager#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Device"
      }
    },
    "com.amazonaws.networkmanager#DeviceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DisassociateCustomerGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DisassociateCustomerGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a customer gateway from a device and a link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations/{CustomerGatewayArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGatewayResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociation": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the customer gateway association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DisassociateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DisassociateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates an existing device from a link. You must first disassociate any customer\n            gateways that are associated with the link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpQuery": "deviceId",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpQuery": "linkId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLinkResponse": {
      "type": "structure",
      "members": {
        "LinkAssociation": {
          "target": "com.amazonaws.networkmanager#LinkAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateTransitGatewayConnectPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DisassociateTransitGatewayConnectPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DisassociateTransitGatewayConnectPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a transit gateway Connect peer from a device and link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-connect-peer-associations/{TransitGatewayConnectPeerArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateTransitGatewayConnectPeerRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayConnectPeerArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the transit gateway Connect peer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateTransitGatewayConnectPeerResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayConnectPeerAssociation": {
          "target": "com.amazonaws.networkmanager#TransitGatewayConnectPeerAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway Connect peer association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ExceptionContextKey": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#ExceptionContextMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.networkmanager#ExceptionContextKey"
      },
      "value": {
        "target": "com.amazonaws.networkmanager#ExceptionContextValue"
      }
    },
    "com.amazonaws.networkmanager#ExceptionContextValue": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#FilterMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.networkmanager#FilterName"
      },
      "value": {
        "target": "com.amazonaws.networkmanager#FilterValues"
      }
    },
    "com.amazonaws.networkmanager#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-zA-Z\\.-]*$"
      }
    },
    "com.amazonaws.networkmanager#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$"
      }
    },
    "com.amazonaws.networkmanager#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#FilterValue"
      }
    },
    "com.amazonaws.networkmanager#GetConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more of your connections in a global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/connections",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetConnectionsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectionIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more connection IDs.</p>",
            "smithy.api#httpQuery": "connectionIds"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpQuery": "deviceId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetConnectionsResponse": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.networkmanager#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the connections.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the association information for customer gateways that are associated with\n            devices and links in your global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CustomerGatewayArns": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more customer gateway Amazon Resource Names (ARNs). The maximum is 10.</p>",
            "smithy.api#httpQuery": "customerGatewayArns"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociations": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The customer gateway associations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more of your devices in a global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/devices",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevicesRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more device IDs. The maximum is 10.</p>",
            "smithy.api#httpQuery": "deviceIds"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpQuery": "siteId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevicesResponse": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.networkmanager#DeviceList",
          "traits": {
            "smithy.api#documentation": "<p>The devices.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetLinkAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetLinkAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the link associations for a device or a link. Either the device ID or the link ID\n            must be specified.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociationsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpQuery": "deviceId"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpQuery": "linkId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociationsResponse": {
      "type": "structure",
      "members": {
        "LinkAssociations": {
          "target": "com.amazonaws.networkmanager#LinkAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The link associations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetLinksRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetLinksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more links in a specified global network.</p>\n        <p>If you specify the site ID, you cannot specify the type or provider in the same request. You can specify the type and provider in the same request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/links",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinksRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more link IDs. The maximum is 10.</p>",
            "smithy.api#httpQuery": "linkIds"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpQuery": "siteId"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The link type.</p>",
            "smithy.api#httpQuery": "type"
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The link provider.</p>",
            "smithy.api#httpQuery": "provider"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinksResponse": {
      "type": "structure",
      "members": {
        "Links": {
          "target": "com.amazonaws.networkmanager#LinkList",
          "traits": {
            "smithy.api#documentation": "<p>The links.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceCounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourceCountsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourceCountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the count of network resources, by resource type, for the specified global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/network-resource-count",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceCountsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>\n         <p>The following are the supported resource types for Direct Connect:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>dxcon</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>dx-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>dx-vif</code>\n               </p>\n            </li>\n         </ul>\n        \n        <p>The following are the supported resource types for Network Manager:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>connection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>device</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>link</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>site</code>\n               </p>\n            </li>\n         </ul>\n\n        <p>The following are the supported resource types for Amazon VPC:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>customer-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-attachment</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-connect-peer</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-route-table</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>vpn-connection</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "resourceType"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceCountsResponse": {
      "type": "structure",
      "members": {
        "NetworkResourceCounts": {
          "target": "com.amazonaws.networkmanager#NetworkResourceCountList",
          "traits": {
            "smithy.api#documentation": "<p>The count of resources.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceRelationships": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourceRelationshipsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourceRelationshipsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the network resource relationships for the specified global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/network-resource-relationships",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceRelationshipsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RegisteredGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the registered gateway.</p>",
            "smithy.api#httpQuery": "registeredGatewayArn"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region.</p>",
            "smithy.api#httpQuery": "awsRegion"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpQuery": "accountId"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>\n        <p>The following are the supported resource types for Direct Connect:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>dxcon</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>dx-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>dx-vif</code>\n               </p>\n            </li>\n         </ul>\n        \n        <p>The following are the supported resource types for Network Manager:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>connection</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>device</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>link</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>site</code>\n               </p>\n            </li>\n         </ul>\n\n        <p>The following are the supported resource types for Amazon VPC:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>customer-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-attachment</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-connect-peer</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>transit-gateway-route-table</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>vpn-connection</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "resourceType"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the gateway.</p>",
            "smithy.api#httpQuery": "resourceArn"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourceRelationshipsResponse": {
      "type": "structure",
      "members": {
        "Relationships": {
          "target": "com.amazonaws.networkmanager#RelationshipList",
          "traits": {
            "smithy.api#documentation": "<p>The resource relationships.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetNetworkResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the network resources for the specified global network.</p>\n         <p>The results include information from the corresponding Describe call for the resource, minus any sensitive information such as pre-shared keys.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/network-resources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetNetworkResourcesRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RegisteredGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the gateway.</p>",
            "smithy.api#httpQuery": "registeredGatewayArn"
          }
        },
        "AwsRegion": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region.</p>",
            "smithy.api#httpQuery": "awsRegion"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpQuery": "accountId"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>\n         <p>The following are the supported resource types for Direct Connect:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>dxcon</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/directconnect/latest/APIReference/API_Connection.html\">Connection</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>dx-gateway</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/directconnect/latest/APIReference/API_DirectConnectGateway.html\">DirectConnectGateway</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>dx-vif</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/directconnect/latest/APIReference/API_VirtualInterface.html\">VirtualInterface</a>.</p>\n            </li>\n         </ul>\n        \n         <p>The following are the supported resource types for Network Manager:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>connection</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/networkmanager/latest/APIReference/API_Connection.html\">Connection</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>device</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/networkmanager/latest/APIReference/API_Device.html\">Device</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>link</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/networkmanager/latest/APIReference/API_Link.html\">Link</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>site</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/networkmanager/latest/APIReference/API_Site.html\">Site</a>.</p>\n            </li>\n         </ul>\n        \n         <p>The following are the supported resource types for Amazon VPC:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>customer-gateway</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_CustomerGateway.html\">CustomerGateway</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>transit-gateway</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TransitGateway.html\">TransitGateway</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>transit-gateway-attachment</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TransitGatewayAttachment.html\">TransitGatewayAttachment</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>transit-gateway-connect-peer</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TransitGatewayConnectPeer.html\">TransitGatewayConnectPeer</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>transit-gateway-route-table</code> - The definition model is\n                    <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_TransitGatewayRouteTable.html\">TransitGatewayRouteTable</a
[...]
