{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.networkmanager#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a customer gateway with a device and optionally, with a link. If you\n            specify a link, it must be associated with the specified device. </p>\n        <p>You can only associate customer gateways that are connected to a VPN attachment on a\n            transit gateway. The transit gateway must be registered in your global network. When\n            you register a transit gateway, customer gateways that are connected to the transit\n            gateway are automatically included in the global network. To list customer gateways\n            that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by\n                <code>transit-gateway-id</code>.</p>\n        <p>You cannot associate a customer gateway with more than one device and link. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see\n                <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociation": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The customer gateway association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkResponse": {
      "type": "structure",
      "members": {
        "LinkAssociation": {
          "target": "com.amazonaws.networkmanager#LinkAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The link association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Bandwidth": {
      "type": "structure",
      "members": {
        "DownloadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Download speed in Mbps.</p>"
          }
        },
        "UploadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Upload speed in Mbps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes bandwidth information.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict processing the request. Updating or deleting the resource can\n            cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.networkmanager#CreateDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new device in a global network. If you specify both a site ID and a\n            location, the location of the site is used for visualization in the Network Manager console.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the device.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the device.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The model of the device.</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the device.</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device.</p>"
          }
        },
        "Vendor": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The vendor of the device.</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.networkmanager#Device",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the global network.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkResponse": {
      "type": "structure",
      "members": {
        "GlobalNetwork": {
          "target": "com.amazonaws.networkmanager#GlobalNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global network object.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new link for a specified site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/links",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkRequest": {
      "type": "structure",
      "members": {
        "Bandwidth": {
          "target": "com.amazonaws.networkmanager#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p> The upload speed and download speed in Mbps. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the link.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the link.</p>\n        <p>Constraints: Cannot include the following characters: | \\ ^</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the link.</p>\n        <p>Constraints: Cannot include the following characters: | \\ ^</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkResponse": {
      "type": "structure",
      "members": {
        "Link": {
          "target": "com.amazonaws.networkmanager#Link",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new site in a global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of your site.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The site location. This information is used for visualization in the Network Manager console. If you specify the address, the latitude and longitude are automatically calculated.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>Address</code>: The physical address of the site.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Latitude</code>: The latitude of the site. </p>\n            </li>\n            <li>\n               <p>\n                  <code>Longitude</code>: The longitude of the site.</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteResponse": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.networkmanager#Site",
          "traits": {
            "smithy.api#documentation": "<p>Information about the site.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociation": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The association state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the association between a customer gateway, a device, and a link.</p>"
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation"
      }
    },
    "com.amazonaws.networkmanager#CustomerGatewayAssociationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "DELETED",
            "name": "deleted"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.networkmanager#DeleteDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing device. You must first disassociate the device from any links and\n            customer gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.networkmanager#Device",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteGlobalNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteGlobalNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing global network. You must first delete all global network objects\n            (devices, links, and sites) and deregister all transit gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetworkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteGlobalNetworkResponse": {
      "type": "structure",
      "members": {
        "GlobalNetwork": {
          "target": "com.amazonaws.networkmanager#GlobalNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global network.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing link. You must first disassociate the link from any devices and\n            customer gateways.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/links/{LinkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteLinkResponse": {
      "type": "structure",
      "members": {
        "Link": {
          "target": "com.amazonaws.networkmanager#Link",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeleteSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeleteSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing site. The site cannot be associated with any device or link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSiteRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeleteSiteResponse": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.networkmanager#Site",
          "traits": {
            "smithy.api#documentation": "<p>Information about the site.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DeregisterTransitGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DeregisterTransitGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters a transit gateway from your global network. This action does not delete\n            your transit gateway, or modify any of its attachments. This action removes any customer gateway associations.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-registrations/{TransitGatewayArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGatewayRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the transit gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DeregisterTransitGatewayResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayRegistration": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistration",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway registration information.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DescribeGlobalNetworksRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DescribeGlobalNetworksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes one or more global networks. By default, all global networks are\n            described. To describe the objects in your global network, you must use the appropriate\n                <code>Get*</code> action. For example, to list the transit gateways in your global\n            network, use <a>GetTransitGatewayRegistrations</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworksRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of one or more global networks. The maximum is 10.</p>",
            "smithy.api#httpQuery": "globalNetworkIds"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DescribeGlobalNetworksResponse": {
      "type": "structure",
      "members": {
        "GlobalNetworks": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global networks.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Device": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the site was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the device.</p>"
          }
        },
        "DeviceArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The site location.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device model.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device serial number.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The site ID.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#DeviceState",
          "traits": {
            "smithy.api#documentation": "<p>The device state.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the device.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device type.</p>"
          }
        },
        "Vendor": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device vendor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a device.</p>"
      }
    },
    "com.amazonaws.networkmanager#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Device"
      }
    },
    "com.amazonaws.networkmanager#DeviceState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DisassociateCustomerGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DisassociateCustomerGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a customer gateway from a device and a link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations/{CustomerGatewayArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway. For more information, see\n                <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateCustomerGatewayResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociation": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the customer gateway association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#DisassociateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#DisassociateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates an existing device from a link. You must first disassociate any customer\n            gateways that are associated with the link.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLinkRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpQuery": "deviceId",
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpQuery": "linkId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#DisassociateLinkResponse": {
      "type": "structure",
      "members": {
        "LinkAssociation": {
          "target": "com.amazonaws.networkmanager#LinkAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the association information for customer gateways that are associated with\n            devices and links in your global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayArns": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more customer gateway Amazon Resource Names (ARNs). For more information, see\n                <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>. The maximum is 10.</p>",
            "smithy.api#httpQuery": "customerGatewayArns"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetCustomerGatewayAssociationsResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociations": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The customer gateway associations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more of your devices in a global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/devices",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevicesRequest": {
      "type": "structure",
      "members": {
        "DeviceIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more device IDs. The maximum is 10.</p>",
            "smithy.api#httpQuery": "deviceIds"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpQuery": "siteId"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetDevicesResponse": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.networkmanager#DeviceList",
          "traits": {
            "smithy.api#documentation": "<p>The devices.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetLinkAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetLinkAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the link associations for a device or a link. Either the device ID or the link ID\n            must be specified.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociationsRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpQuery": "deviceId"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#httpQuery": "linkId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinkAssociationsResponse": {
      "type": "structure",
      "members": {
        "LinkAssociations": {
          "target": "com.amazonaws.networkmanager#LinkAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>The link associations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetLinksRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetLinksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more links in a specified global network.</p>\n        <p>If you specify the site ID, you cannot specify the type or provider in the same request. You can specify the type and provider in the same request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/links",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinksRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LinkIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more link IDs. The maximum is 10.</p>",
            "smithy.api#httpQuery": "linkIds"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The link provider.</p>",
            "smithy.api#httpQuery": "provider"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#httpQuery": "siteId"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The link type.</p>",
            "smithy.api#httpQuery": "type"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetLinksResponse": {
      "type": "structure",
      "members": {
        "Links": {
          "target": "com.amazonaws.networkmanager#LinkList",
          "traits": {
            "smithy.api#documentation": "<p>The links.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetSites": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetSitesRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetSitesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about one or more of your sites in a global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/sites",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetSitesRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "SiteIds": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more site IDs. The maximum is 10.</p>",
            "smithy.api#httpQuery": "siteIds"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetSitesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "Sites": {
          "target": "com.amazonaws.networkmanager#SiteList",
          "traits": {
            "smithy.api#documentation": "<p>The sites.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetTransitGatewayRegistrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#GetTransitGatewayRegistrationsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#GetTransitGatewayRegistrationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the transit gateway registrations in a specified\n            global network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-registrations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.networkmanager#GetTransitGatewayRegistrationsRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.networkmanager#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "TransitGatewayArns": {
          "target": "com.amazonaws.networkmanager#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of one or more transit gateways. The maximum is\n            10.</p>",
            "smithy.api#httpQuery": "transitGatewayArns"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GetTransitGatewayRegistrationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "TransitGatewayRegistrations": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistrationList",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway registrations.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#GlobalNetwork": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the global network was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the global network.</p>"
          }
        },
        "GlobalNetworkArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the global network.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the global network.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the global network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a global network.</p>"
      }
    },
    "com.amazonaws.networkmanager#GlobalNetworkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#GlobalNetwork"
      }
    },
    "com.amazonaws.networkmanager#GlobalNetworkState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.networkmanager#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.networkmanager#RetryAfterSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when to retry the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has failed due to an internal error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.networkmanager#Link": {
      "type": "structure",
      "members": {
        "Bandwidth": {
          "target": "com.amazonaws.networkmanager#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth for the link.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the link was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the link.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "LinkArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the link.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the link.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#LinkState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the link.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the link.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a link.</p>"
      }
    },
    "com.amazonaws.networkmanager#LinkAssociation": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The device ID for the link association.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "LinkAssociationState": {
          "target": "com.amazonaws.networkmanager#LinkAssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the association.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the association between a device and a link.</p>"
      }
    },
    "com.amazonaws.networkmanager#LinkAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#LinkAssociation"
      }
    },
    "com.amazonaws.networkmanager#LinkAssociationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "DELETED",
            "name": "deleted"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#LinkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Link"
      }
    },
    "com.amazonaws.networkmanager#LinkState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for a specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkmanager#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "TagList": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Location": {
      "type": "structure",
      "members": {
        "Address": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The physical address.</p>"
          }
        },
        "Latitude": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The latitude.</p>"
          }
        },
        "Longitude": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The longitude.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a location.</p>"
      }
    },
    "com.amazonaws.networkmanager#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.networkmanager#NetworkManager": {
      "type": "service",
      "version": "2019-07-05",
      "operations": [
        {
          "target": "com.amazonaws.networkmanager#AssociateCustomerGateway"
        },
        {
          "target": "com.amazonaws.networkmanager#AssociateLink"
        },
        {
          "target": "com.amazonaws.networkmanager#CreateDevice"
        },
        {
          "target": "com.amazonaws.networkmanager#CreateGlobalNetwork"
        },
        {
          "target": "com.amazonaws.networkmanager#CreateLink"
        },
        {
          "target": "com.amazonaws.networkmanager#CreateSite"
        },
        {
          "target": "com.amazonaws.networkmanager#DeleteDevice"
        },
        {
          "target": "com.amazonaws.networkmanager#DeleteGlobalNetwork"
        },
        {
          "target": "com.amazonaws.networkmanager#DeleteLink"
        },
        {
          "target": "com.amazonaws.networkmanager#DeleteSite"
        },
        {
          "target": "com.amazonaws.networkmanager#DeregisterTransitGateway"
        },
        {
          "target": "com.amazonaws.networkmanager#DescribeGlobalNetworks"
        },
        {
          "target": "com.amazonaws.networkmanager#DisassociateCustomerGateway"
        },
        {
          "target": "com.amazonaws.networkmanager#DisassociateLink"
        },
        {
          "target": "com.amazonaws.networkmanager#GetCustomerGatewayAssociations"
        },
        {
          "target": "com.amazonaws.networkmanager#GetDevices"
        },
        {
          "target": "com.amazonaws.networkmanager#GetLinkAssociations"
        },
        {
          "target": "com.amazonaws.networkmanager#GetLinks"
        },
        {
          "target": "com.amazonaws.networkmanager#GetSites"
        },
        {
          "target": "com.amazonaws.networkmanager#GetTransitGatewayRegistrations"
        },
        {
          "target": "com.amazonaws.networkmanager#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.networkmanager#RegisterTransitGateway"
        },
        {
          "target": "com.amazonaws.networkmanager#TagResource"
        },
        {
          "target": "com.amazonaws.networkmanager#UntagResource"
        },
        {
          "target": "com.amazonaws.networkmanager#UpdateDevice"
        },
        {
          "target": "com.amazonaws.networkmanager#UpdateGlobalNetwork"
        },
        {
          "target": "com.amazonaws.networkmanager#UpdateLink"
        },
        {
          "target": "com.amazonaws.networkmanager#UpdateSite"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "NetworkManager",
          "arnNamespace": "networkmanager",
          "cloudFormationName": "NetworkManager",
          "cloudTrailEventSource": "V2019_07_05.networkmanager.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "networkmanager"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Transit Gateway Network Manager (Network Manager) enables you to create a global network, in which you can monitor your\n            AWS and on-premises networks that are built around transit gateways.</p>",
        "smithy.api#title": "AWS Network Manager"
      }
    },
    "com.amazonaws.networkmanager#RegisterTransitGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#RegisterTransitGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#RegisterTransitGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers a transit gateway in your global network. The transit gateway can be in any\n            AWS Region, but it must be owned by the same AWS account that owns the global network.\n            You cannot register a transit gateway in more than one global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-registrations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#RegisterTransitGatewayRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the transit gateway. For more information, see\n                <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazonec2.html#amazonec2-resources-for-iam-policies\">Resources Defined by Amazon EC2</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#RegisterTransitGatewayResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayRegistration": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the transit gateway registration.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ResourceARN": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource could not be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.networkmanager#RetryAfterSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.networkmanager#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "LimitCode": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The limit code.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>"
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The service code.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A service limit was exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.networkmanager#Site": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the site was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the site.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the site.</p>"
          }
        },
        "SiteArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the site.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#SiteState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the site.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the site.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a site.</p>"
      }
    },
    "com.amazonaws.networkmanager#SiteList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Site"
      }
    },
    "com.amazonaws.networkmanager#SiteState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "UPDATING",
            "name": "updating"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#String": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#StringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#String"
      }
    },
    "com.amazonaws.networkmanager#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.networkmanager#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The tag key.</p>\n        <p>Length Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.networkmanager#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The tag value.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a tag.</p>"
      }
    },
    "com.amazonaws.networkmanager#TagKey": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#TagKey"
      }
    },
    "com.amazonaws.networkmanager#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Tag"
      }
    },
    "com.amazonaws.networkmanager#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Tags a specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkmanager#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the specified resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.networkmanager#TagValue": {
      "type": "string"
    },
    "com.amazonaws.networkmanager#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.networkmanager#RetryAfterSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Indicates when to retry the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.networkmanager#TransitGatewayRegistration": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistrationStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The state of the transit gateway registration.</p>"
          }
        },
        "TransitGatewayArn": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the transit gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the registration of a transit gateway to a global network.</p>"
      }
    },
    "com.amazonaws.networkmanager#TransitGatewayRegistrationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#TransitGatewayRegistration"
      }
    },
    "com.amazonaws.networkmanager#TransitGatewayRegistrationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "pending"
          },
          {
            "value": "AVAILABLE",
            "name": "available"
          },
          {
            "value": "DELETING",
            "name": "deleting"
          },
          {
            "value": "DELETED",
            "name": "deleted"
          },
          {
            "value": "FAILED",
            "name": "failed"
          }
        ]
      }
    },
    "com.amazonaws.networkmanager#TransitGatewayRegistrationStateReason": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.networkmanager#TransitGatewayRegistrationState",
          "traits": {
            "smithy.api#documentation": "<p>The code for the state reason.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The message for the state reason.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of a transit gateway registration.</p>"
      }
    },
    "com.amazonaws.networkmanager#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes tags from a specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkmanager#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.networkmanager#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys to remove from the specified resource.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.networkmanager#UpdateDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#UpdateDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#UpdateDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the details for an existing device. To remove information for any of the\n            parameters, specify an empty string.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/global-networks/{GlobalNetworkId}/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#UpdateDeviceRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the device.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location"
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#String",
          "traits": {
[...]
