{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.networkfirewall#ActionDefinition": {
      "type": "structure",
      "members": {
        "PublishMetricAction": {
          "target": "com.amazonaws.networkfirewall#PublishMetricAction",
          "traits": {
            "smithy.api#documentation": "<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the\n         matching packet. This setting defines a CloudWatch dimension value to be published.</p>\n         <p>You can pair this custom action with any of the standard stateless rule actions. For\n         example, you could pair this in a rule action with the standard action that forwards the\n         packet for stateful inspection. Then, when a packet matches the rule, Network Firewall\n         publishes metrics for the packet and forwards it. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom action to use in stateless rule actions settings. This is used in <a>CustomAction</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.networkfirewall#Address": {
      "type": "structure",
      "members": {
        "AddressDefinition": {
          "target": "com.amazonaws.networkfirewall#AddressDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specify an IP address or a block of IP addresses in Classless Inter-Domain Routing (CIDR) notation. Network Firewall supports all address ranges for IPv4 and IPv6. </p>\n         <p>Examples: </p>\n         <ul>\n            <li>\n               <p>To configure Network Firewall to inspect for the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for IP addresses from 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p>\n            </li>\n         </ul>\n         <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless\n         Inter-Domain Routing</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single IP address specification. This is used in the <a>MatchAttributes</a>\n         source and destination specifications.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AddressDefinition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^([a-fA-F\\d:\\.]+($|/\\d{1,3}))$"
      }
    },
    "com.amazonaws.networkfirewall#Addresses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#Address"
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AssociateFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AssociateFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a <a>FirewallPolicy</a> to a <a>Firewall</a>. </p>\n         <p>A firewall policy defines how to monitor and manage your VPC network traffic, using a\n         collection of inspection rule groups and other settings. Each firewall requires one\n         firewall policy association, and you can use the same firewall policy for multiple\n         firewalls. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AssociateSubnetsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AssociateSubnetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified subnets in the Amazon VPC to the firewall. You can specify one\n         subnet for each of the Availability Zones that the VPC spans. </p>\n         <p>This request creates an Network Firewall firewall endpoint in each of the subnets. To\n         enable the firewall's protections, you must also modify the VPC's route tables for each\n         subnet's Availability Zone, to redirect the traffic that's coming into and going out of the\n         zone through the firewall endpoint. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnetsRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets that you want to associate with the firewall. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnetsResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets that are associated with the firewall. </p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#Attachment": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "target": "com.amazonaws.networkfirewall#AzSubnet",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subnet that you've specified to be used for a firewall\n         endpoint. </p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.networkfirewall#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the firewall endpoint that Network Firewall has instantiated in the\n         subnet. You use this to identify the firewall endpoint in the VPC route tables, when you\n         redirect the VPC traffic through the endpoint. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkfirewall#AttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the firewall endpoint in the subnet. This value reflects both the\n         instantiation of the endpoint in the VPC subnet and the sync states that are reported in\n         the <code>Config</code> settings. When this value is <code>READY</code>, the endpoint is\n         available and configured properly to handle network traffic. When the endpoint isn't\n         available for traffic, this value will reflect its state, for example\n         <code>CREATING</code> or <code>DELETING</code>.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.networkfirewall#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>If Network Firewall fails to create or delete the firewall endpoint in the subnet, it populates this with the reason for the failure and how to resolve it. Depending on the error, it can take as many as 15 minutes to populate this field. For more information about the errors and solutions available for this field, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/firewall-troubleshooting-endpoint-failures.html\">Troubleshooting firewall endpoint failures</a> in the <i>Network Firewall Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration and status for a single subnet that you've specified for use by the\n         Network Firewall firewall. This is part of the <a>FirewallStatus</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AttachmentStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#AzSubnet": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^subnet-[0-9a-f]+$"
      }
    },
    "com.amazonaws.networkfirewall#AzSubnets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AzSubnet"
      }
    },
    "com.amazonaws.networkfirewall#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.networkfirewall#CIDRCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000000
        }
      }
    },
    "com.amazonaws.networkfirewall#CIDRSummary": {
      "type": "structure",
      "members": {
        "AvailableCIDRCount": {
          "target": "com.amazonaws.networkfirewall#CIDRCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of CIDR blocks available for use by the IP set references in a firewall.</p>"
          }
        },
        "UtilizedCIDRCount": {
          "target": "com.amazonaws.networkfirewall#CIDRCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of CIDR blocks used by the IP set references in a firewall.</p>"
          }
        },
        "IPSetReferences": {
          "target": "com.amazonaws.networkfirewall#IPSetMetadataMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of the IP set references used by a firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarizes the CIDR blocks used by the IP set references in a firewall. Network Firewall calculates the number of CIDRs by taking an aggregated count of all CIDRs used by the IP sets you are referencing.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CapacityUsageSummary": {
      "type": "structure",
      "members": {
        "CIDRs": {
          "target": "com.amazonaws.networkfirewall#CIDRSummary",
          "traits": {
            "smithy.api#documentation": "<p>Describes the capacity usage of the CIDR blocks used by the IP set references in a firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capacity usage summary of the resources used by the <a>ReferenceSets</a> in a firewall.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CollectionMember_String": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ConfigurationSyncState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_SYNC"
          }
        },
        "CAPACITY_CONSTRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_CONSTRAINED"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Network Firewall <a>Firewall</a> and accompanying <a>FirewallStatus</a> for a VPC. </p>\n         <p>The firewall defines the configuration settings for an Network Firewall firewall. The settings that you can define at creation include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p>\n         <p>After you create a firewall, you can provide additional settings, like the logging configuration. </p>\n         <p>To update the settings for a firewall, you use the operations that apply to the settings\n         themselves, for example <a>UpdateLoggingConfiguration</a>, <a>AssociateSubnets</a>, and <a>UpdateFirewallDeleteProtection</a>. </p>\n         <p>To manage a firewall's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p>\n         <p>To retrieve information about firewalls, use <a>ListFirewalls</a> and <a>DescribeFirewall</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the firewall policy for the firewall according to the specifications. </p>\n         <p>An Network Firewall firewall policy defines the behavior of a firewall, in a collection of\n         stateless and stateful rule groups and other settings. You can use one firewall policy for\n         multiple firewalls. </p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicy": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The rule groups and policy actions to use in the firewall policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall policy.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p>\n         <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully,\n         but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with\n         dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have\n         the required permissions to run the request and that your request parameters are valid. </p>\n         <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your firewall policy resources.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p>\n         <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyResponse": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallRequest": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a>FirewallPolicy</a> that you want to\n         use for the firewall.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.networkfirewall#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the VPC where Network Firewall should create the firewall. </p>\n         <p>You can't change this setting after you create the firewall. </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The public subnets to use for your Network Firewall firewalls. Each subnet must belong to a\n         different Availability Zone in the VPC. Network Firewall creates a firewall endpoint in each\n         subnet. </p>",
            "smithy.api#required": {}
          }
        },
        "DeleteProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates\n         that the firewall is protected against deletion. Use this setting to protect against\n         accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>"
          }
        },
        "SubnetChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against changes to the subnet associations.\n         Use this setting to protect against\n         accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "FirewallPolicyChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against a change to the firewall policy association.\n         Use this setting to protect against\n         accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your firewall resources.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallResponse": {
      "type": "structure",
      "members": {
        "Firewall": {
          "target": "com.amazonaws.networkfirewall#Firewall",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>"
          }
        },
        "FirewallStatus": {
          "target": "com.amazonaws.networkfirewall#FirewallStatus",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified stateless or stateful rule group, which includes the rules for\n         network traffic inspection, a capacity setting, and tags. </p>\n         <p>You provide your rule group specification in your request using either\n            <code>RuleGroup</code> or <code>Rules</code>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroupRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroup": {
          "target": "com.amazonaws.networkfirewall#RuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the rule group rules. </p>\n         <note>\n            <p>You must provide either this rule group setting or a <code>Rules</code> setting, but not both. </p>\n         </note>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.networkfirewall#RulesString",
          "traits": {
            "smithy.api#documentation": "<p>A string containing stateful rule group rules specifications in Suricata flat format, with one rule\nper line. Use this to import your existing Suricata compatible rule groups. </p>\n         <note>\n            <p>You must provide either this rules setting or a populated <code>RuleGroup</code> setting, but not both. </p>\n         </note>\n         <p>You can provide your rule group specification in Suricata flat format through this setting when you create or update your rule group. The call\nresponse returns a <a>RuleGroup</a> object that Network Firewall has populated from your string. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the rule group. </p>"
          }
        },
        "Capacity": {
          "target": "com.amazonaws.networkfirewall#RuleCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation.\n      When you update a rule group, you are limited to this capacity. When you reference a rule group\n      from a firewall policy, Network Firewall reserves this capacity for the rule group. </p>\n         <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling\n      <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p>\n         <note>\n            <p>You can't change or exceed this capacity when you update the rule group, so leave\n            room for your rule group to grow. </p>\n         </note>\n         <p>\n            <b>Capacity for a stateless rule group</b>\n         </p>\n         <p>For a stateless rule group, the capacity required is the sum of the capacity\n         requirements of the individual rules that you expect to have in the rule group. </p>\n         <p>To calculate the capacity requirement of a single rule, multiply the capacity\n         requirement values of each of the rule's match settings:</p>\n         <ul>\n            <li>\n               <p>A match setting with no criteria specified has a value of 1. </p>\n            </li>\n            <li>\n               <p>A match setting with <code>Any</code> specified has a value of 1. </p>\n            </li>\n            <li>\n               <p>All other match settings have a value equal to the number of elements provided in\n               the setting. For example, a protocol setting [\"UDP\"] and a source setting\n               [\"10.0.0.0/24\"] each have a value of 1. A protocol setting [\"UDP\",\"TCP\"] has a value\n               of 2. A source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"] has a value of 3.\n            </p>\n            </li>\n         </ul>\n         <p>A rule with no criteria specified in any of its match settings has a capacity\n         requirement of 1. A rule with protocol setting [\"UDP\",\"TCP\"], source setting\n         [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"], and a single specification or no specification\n         for each of the other match settings has a capacity requirement of 6. </p>\n         <p>\n            <b>Capacity for a stateful rule group</b>\n         </p>\n         <p>For\n         a stateful rule group, the minimum capacity required is the number of individual rules that\n         you expect to have in the rule group. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p>\n         <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully,\n         but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with\n         dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have\n         the required permissions to run the request and that your request parameters are valid. </p>\n         <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your rule group resources.</p>"
          }
        },
        "SourceMetadata": {
          "target": "com.amazonaws.networkfirewall#SourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains metadata about the rule group that your own rule group is copied from. You can use the metadata to keep track of updates made to the originating rule group.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroupResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p>\n         <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroupResponse": {
          "target": "com.amazonaws.networkfirewall#RuleGroupResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#CustomAction": {
      "type": "structure",
      "members": {
        "ActionName": {
          "target": "com.amazonaws.networkfirewall#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the custom action. You can't change the name of a custom action after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "ActionDefinition": {
          "target": "com.amazonaws.networkfirewall#ActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The custom action associated with the action name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional, non-standard action to use for stateless packet handling. You can define\n         this in addition to the standard action that you must specify. </p>\n         <p>You define and name the custom actions that you want to be able to use, and then you\n         reference them by name in your actions settings. </p>\n         <p>You can use custom actions in the following places: </p>\n         <ul>\n            <li>\n               <p>In a rule group's <a>StatelessRulesAndCustomActions</a> specification.\n               The custom actions are available for use by name inside the\n                  <code>StatelessRulesAndCustomActions</code> where you define them. You can use\n               them for your stateless rule actions to specify what to do with a packet that matches\n               the rule's match attributes. </p>\n            </li>\n            <li>\n               <p>In a <a>FirewallPolicy</a> specification, in\n                  <code>StatelessCustomActions</code>. The custom actions are available for use\n               inside the policy where you define them. You can use them for the policy's default\n               stateless actions settings to specify what to do with packets that don't match any of\n               the policy's stateless rules. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.networkfirewall#CustomActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#CustomAction"
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>Firewall</a> and its <a>FirewallStatus</a>.\n       This operation requires the firewall's <code>DeleteProtection</code> flag to be\n            <code>FALSE</code>. You can't revert this operation. </p>\n         <p>You can check whether a firewall is\n         in use by reviewing the route tables for the Availability Zones where you have\n         firewall subnet mappings. Retrieve the subnet mappings by calling <a>DescribeFirewall</a>.\n         You define and update the route tables through Amazon VPC. As needed, update the route tables for the\n         zones to remove the firewall endpoints. When the route tables no longer use the firewall endpoints,\n         you can remove the firewall safely.</p>\n         <p>To delete a firewall, remove the delete protection if you need to using <a>UpdateFirewallDeleteProtection</a>,\n         then delete the firewall by calling <a>DeleteFirewall</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>FirewallPolicy</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "FirewallPolicyResponse": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>The object containing the definition of the <a>FirewallPolicyResponse</a>\n         that you asked to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallRequest": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallResponse": {
      "type": "structure",
      "members": {
        "Firewall": {
          "target": "com.amazonaws.networkfirewall#Firewall"
        },
        "FirewallStatus": {
          "target": "com.amazonaws.networkfirewall#FirewallStatus"
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidResourcePolicyException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group or firewall policy whose resource policy you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.networkfirewall#DeleteRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>RuleGroup</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteRuleGroupRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "RuleGroupArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>\n         <note>\n            <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DeleteRuleGroupResponse": {
      "type": "structure",
      "members": {
        "RuleGroupResponse": {
          "target": "com.amazonaws.networkfirewall#RuleGroupResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data objects for the specified firewall. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data objects for the specified firewall policy. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p>\n         <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyResponse": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicy": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The policy for the specified firewall policy. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewallRequest": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeFirewallResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "Firewall": {
          "target": "com.amazonaws.networkfirewall#Firewall",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>"
          }
        },
        "FirewallStatus": {
          "target": "com.amazonaws.networkfirewall#FirewallStatus",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the logging configuration for the specified firewall. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "LoggingConfiguration": {
          "target": "com.amazonaws.networkfirewall#LoggingConfiguration"
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group or firewall policy whose resource policy you want to retrieve. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.networkfirewall#PolicyString",
          "traits": {
            "smithy.api#documentation": "<p>The IAM policy for the resource. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data objects for the specified rule group. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroupMetadata": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DescribeRuleGroupMetadataRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DescribeRuleGroupMetadataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>High-level information about a rule group, returned by operations like create and describe.\n         You can use the information provided in the metadata to retrieve and manage a rule group.\n         You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>.\n      </p>"
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroupMetadataRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "RuleGroupArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>\n         <note>\n            <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroupMetadataResponse": {
      "type": "structure",
      "members": {
        "RuleGroupArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>Returns the metadata objects for the specified rule group.\n      </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>\n         <note>\n            <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p>\n         </note>"
          }
        },
        "Capacity": {
          "target": "com.amazonaws.networkfirewall#RuleCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation.\n      When you update a rule group, you are limited to this capacity. When you reference a rule group\n      from a firewall policy, Network Firewall reserves this capacity for the rule group. </p>\n         <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling\n      <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p>"
          }
        },
        "StatefulRuleOptions": {
          "target": "com.amazonaws.networkfirewall#StatefulRuleOptions"
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.networkfirewall#LastUpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>The last time that the rule group was changed.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroupRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "RuleGroupArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>\n         <note>\n            <p>This setting is required for requests that do not include the <code>RuleGroupARN</code>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DescribeRuleGroupResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p>\n         <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroup": {
          "target": "com.amazonaws.networkfirewall#RuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>The object that defines the rules in a rule group. This, along with <a>RuleGroupResponse</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>\n         <p>Network Firewall uses a rule group to inspect and control network traffic.\n    You define stateless rule groups to inspect individual packets and you define stateful rule groups to inspect packets in the context of their\n    traffic flow. </p>\n         <p>To use a rule group, you include it by reference in an Network Firewall firewall policy, then you use the policy in a firewall. You can reference a rule group from\n    more than one firewall policy, and you can use a firewall policy in more than one firewall. </p>"
          }
        },
        "RuleGroupResponse": {
          "target": "com.amazonaws.networkfirewall#RuleGroupResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.networkfirewall#Destination": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.networkfirewall#Dimension": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.networkfirewall#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value to use in the custom metric dimension.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value to use in an Amazon CloudWatch custom metric dimension. This is used in the\n            <code>PublishMetrics</code>\n            <a>CustomAction</a>. A CloudWatch custom metric dimension is a name/value pair that's\n         part of the identity of a metric. </p>\n         <p>Network Firewall sets the dimension name to <code>CustomAction</code> and you provide the\n         dimension value. </p>\n         <p>For more information about CloudWatch custom metric dimensions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html#usingDimensions\">Publishing Custom Metrics</a> in the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/WhatIsCloudWatch.html\">Amazon CloudWatch User\n            Guide</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#DimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_ ]+$"
      }
    },
    "com.amazonaws.networkfirewall#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.networkfirewall#DisassociateSubnets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DisassociateSubnetsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DisassociateSubnetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified subnet associations from the firewall. This removes the\n          firewall endpoints from the subnets and removes any network filtering protections that the endpoints\n          were providing.\n      </p>"
      }
    },
    "com.amazonaws.networkfirewall#DisassociateSubnetsRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.networkfirewall#AzSubnets",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers for the subnets that you want to disassociate. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#DisassociateSubnetsResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets that are associated with the firewall. </p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.networkfirewall#KeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Key Management Service (KMS) customer managed key. You can use any of the key identifiers that KMS supports, unless you're using a key that's managed by another account. If you're using a key managed by another account, then specify the key ARN. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id\">Key ID</a> in the <i>Amazon Web Services KMS Developer Guide</i>.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services KMS key to use for encryption of your Network Firewall resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains optional Amazon Web Services Key Management Service (KMS) encryption settings for your Network Firewall resources. Your data is encrypted by default with an Amazon Web Services owned key that Amazon Web Services owns and manages for you. You can use either the Amazon Web Services owned key, or provide your own customer managed key. To learn more about KMS encryption of your Network Firewall resources, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-encryption-at-rest.html\">Encryption at rest with Amazon Web Services Key Managment Service</a> in the <i>Network Firewall Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#EncryptionType": {
      "type": "enum",
      "members": {
        "CUSTOMER_KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_KMS"
          }
        },
        "AWS_OWNED_KMS_KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_OWNED_KMS_KEY"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#EndpointId": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#Firewall": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>\n         <p>The relationship of firewall to firewall policy is many to one. Each firewall requires\n         one firewall policy association, and you can use the same firewall policy for multiple\n         firewalls. </p>",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.networkfirewall#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the VPC where the firewall is in use. </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The public subnets that Network Firewall is using for the firewall. Each subnet must belong\n         to a different Availability Zone. </p>",
            "smithy.api#required": {}
          }
        },
        "DeleteProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates\n         that the firewall is protected against deletion. Use this setting to protect against\n         accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>"
          }
        },
        "SubnetChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against changes to the subnet associations.\n         Use this setting to protect against\n         accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "FirewallPolicyChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against a change to the firewall policy association.\n         Use this setting to protect against\n         accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall.</p>"
          }
        },
        "FirewallId": {
          "target": "com.amazonaws.networkfirewall#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the firewall. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains the Amazon Web Services KMS encryption configuration settings for your firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The firewall defines the configuration settings for an Network Firewall firewall. These settings include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p>\n         <p>The status of the firewall, for example whether it's ready to filter network traffic,\n         is provided in the corresponding <a>FirewallStatus</a>. You can retrieve both\n         objects by calling <a>DescribeFirewall</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#FirewallMetadata": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>High-level information about a firewall, returned by operations like create and\n         describe. You can use the information provided in the metadata to retrieve and manage a\n         firewall.</p>"
      }
    },
    "com.amazonaws.networkfirewall#FirewallPolicies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#FirewallPolicyMetadata"
      }
    },
    "com.amazonaws.networkfirewall#FirewallPolicy": {
      "type": "structure",
      "members": {
        "StatelessRuleGroupReferences": {
          "target": "com.amazonaws.networkfirewall#StatelessRuleGroupReferences",
          "traits": {
            "smithy.api#documentation": "<p>References to the stateless rule groups that are used in the policy. These define the\n         matching criteria in stateless rules. </p>"
          }
        },
        "StatelessDefaultActions": {
          "target": "com.amazonaws.networkfirewall#StatelessActions",
          "traits": {
            "smithy.api#documentation": "<p>The actions to take on a packet if it doesn't match any of the stateless rules in the\n         policy. If you want non-matching packets to be forwarded for stateful inspection, specify\n            <code>aws:forward_to_sfe</code>. </p>\n         <p>You must specify one of the standard actions: <code>aws:pass</code>,\n            <code>aws:drop</code>, or <code>aws:forward_to_sfe</code>. In addition, you can specify\n         custom actions that are compatible with your standard section choice.</p>\n         <p>For example, you could specify <code>[\"aws:pass\"]</code> or you could specify\n            <code>[\"aws:pass\", “customActionName”]</code>. For information about compatibility, see\n         the custom action descriptions under <a>CustomAction</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "StatelessFragmentDefaultActions": {
          "target": "com.amazonaws.networkfirewall#StatelessActions",
          "traits": {
            "smithy.api#documentation": "<p>The actions to take on a fragmented UDP packet if it doesn't match any of the stateless\n      rules in the policy. Network Firewall only manages UDP packet fragments and silently drops packet fragments for other protocols.\n      If you want non-matching fragmented UDP packets to be forwarded for\n         stateful inspection, specify <code>aws:forward_to_sfe</code>. </p>\n         <p>You must specify one of the standard actions: <code>aws:pass</code>,\n            <code>aws:drop</code>, or <code>aws:forward_to_sfe</code>. In addition, you can specify\n         custom actions that are compatible with your standard section choice.</p>\n         <p>For example, you could specify <code>[\"aws:pass\"]</code> or you could specify\n            <code>[\"aws:pass\", “customActionName”]</code>. For information about compatibility, see\n         the custom action descriptions under <a>CustomAction</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "StatelessCustomActions": {
          "target": "com.amazonaws.networkfirewall#CustomActions",
          "traits": {
            "smithy.api#documentation": "<p>The custom action definitions that are available for use in the firewall policy's\n            <code>StatelessDefaultActions</code> setting. You name each custom action that you\n         define, and then you can use it by name in your default actions specifications.</p>"
          }
        },
        "StatefulRuleGroupReferences": {
          "target": "com.amazonaws.networkfirewall#StatefulRuleGroupReferences",
          "traits": {
            "smithy.api#documentation": "<p>References to the stateful rule groups that are used in the policy. These define the\n         inspection criteria in stateful rules. </p>"
          }
        },
        "StatefulDefaultActions": {
          "target": "com.amazonaws.networkfirewall#StatefulActions",
          "traits": {
            "smithy.api#documentation": "<p>The default actions to take on a packet that doesn't match any stateful rules. The stateful default action is optional,\n         and is only valid when using the strict rule order.</p>\n         <p>Valid values of the stateful default action:</p>\n         <ul>\n            <li>\n               <p>aws:drop_strict</p>\n            </li>\n            <li>\n               <p>aws:drop_established</p>\n            </li>\n            <li>\n               <p>aws:alert_strict</p>\n            </li>\n            <li>\n               <p>aws:alert_established</p>\n            </li>\n         </ul>\n         <p>For more information, see\n         <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/suricata-rule-evaluation-order.html#suricata-strict-rule-evaluation-order.html\">Strict evaluation order</a> in the <i>Network Firewall Developer Guide</i>.\n      </p>"
          }
        },
        "StatefulEngineOptions": {
          "target": "com.amazonaws.networkfirewall#StatefulEngineOptions",
          "traits": {
            "smithy.api#documentation": "<p>Additional options governing how Network Firewall handles stateful rules. The stateful\n       rule groups that you use in your policy must have stateful rule options settings that are compatible with these settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The firewall policy defines the behavior of a firewall using a collection of stateless\n         and stateful rule groups and other settings. You can use one firewall policy for multiple\n         firewalls. </p>\n         <p>This, along with <a>FirewallPolicyResponse</a>, define the policy.\n         You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#FirewallPolicyMetadata": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>High-level information about a firewall policy, returned by operations like create and\n         describe. You can use the information provided in the metadata to retrieve and manage a\n         firewall policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#FirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>\n         <note>\n            <p>If this response is for a create request that had <code>DryRun</code> set to\n               <code>TRUE</code>, then this ARN is a placeholder that isn't attached to a valid\n            resource.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyId": {
          "target": "com.amazonaws.networkfirewall#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the firewall policy. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall policy.</p>"
          }
        },
        "FirewallPolicyStatus": {
          "target": "com.amazonaws.networkfirewall#ResourceStatus",
          "traits": {
[...]
