{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.networkfirewall#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.networkfirewall#AZSyncState": {
      "type": "structure",
      "members": {
        "Attachment": {
          "target": "com.amazonaws.networkfirewall#Attachment"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the firewall endpoint defined by a <code>VpcEndpointAssociation</code>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AcceptNetworkFirewallTransitGatewayAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AcceptNetworkFirewallTransitGatewayAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AcceptNetworkFirewallTransitGatewayAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a transit gateway attachment request for Network Firewall. When you accept the attachment request, Network Firewall creates the necessary routing components to enable traffic flow between the transit gateway and firewall endpoints.</p>\n         <p>You must accept a transit gateway attachment to complete the creation of a transit gateway-attached firewall, unless auto-accept is enabled on the transit gateway. After acceptance, use <a>DescribeFirewall</a> to verify the firewall status.</p>\n         <p>To reject an attachment instead of accepting it, use <a>RejectNetworkFirewallTransitGatewayAttachment</a>.</p>\n         <note>\n            <p>It can take several minutes for the attachment acceptance to complete and the firewall to become available.</p>\n         </note>"
      }
    },
    "com.amazonaws.networkfirewall#AcceptNetworkFirewallTransitGatewayAttachmentRequest": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique identifier of the transit gateway attachment to accept. This ID is returned in the response when creating a transit gateway-attached firewall.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#AcceptNetworkFirewallTransitGatewayAttachmentResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the transit gateway attachment that was accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "TransitGatewayAttachmentStatus": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the transit gateway attachment. Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The attachment is being created</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The attachment is being deleted</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The attachment has been deleted</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The attachment creation has failed and cannot be recovered</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - The attachment is in an error state that might be recoverable</p>\n            </li>\n            <li>\n               <p>\n                  <code>READY</code> - The attachment is active and processing traffic</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING_ACCEPTANCE</code> - The attachment is waiting to be accepted</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTING</code> - The attachment is in the process of being rejected</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The attachment has been rejected</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#ActionDefinition": {
      "type": "structure",
      "members": {
        "PublishMetricAction": {
          "target": "com.amazonaws.networkfirewall#PublishMetricAction",
          "traits": {
            "smithy.api#documentation": "<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the\n         matching packet. This setting defines a CloudWatch dimension value to be published.</p>\n         <p>You can pair this custom action with any of the standard stateless rule actions. For\n         example, you could pair this in a rule action with the standard action that forwards the\n         packet for stateful inspection. Then, when a packet matches the rule, Network Firewall\n         publishes metrics for the packet and forwards it. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom action to use in stateless rule actions settings. This is used in <a>CustomAction</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.networkfirewall#Address": {
      "type": "structure",
      "members": {
        "AddressDefinition": {
          "target": "com.amazonaws.networkfirewall#AddressDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Specify an IP address or a block of IP addresses in Classless Inter-Domain Routing (CIDR) notation. Network Firewall supports all address ranges for IPv4 and IPv6. </p>\n         <p>Examples: </p>\n         <ul>\n            <li>\n               <p>To configure Network Firewall to inspect for the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p>\n            </li>\n            <li>\n               <p>To configure Network Firewall to inspect for IP addresses from 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p>\n            </li>\n         </ul>\n         <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless\n         Inter-Domain Routing</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single IP address specification. This is used in the <a>MatchAttributes</a> source and destination specifications.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AddressDefinition": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^([a-fA-F\\d:\\.]+($|/\\d{1,3}))$"
      }
    },
    "com.amazonaws.networkfirewall#Addresses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#Address"
      }
    },
    "com.amazonaws.networkfirewall#Age": {
      "type": "integer"
    },
    "com.amazonaws.networkfirewall#AnalysisReport": {
      "type": "structure",
      "members": {
        "AnalysisReportId": {
          "target": "com.amazonaws.networkfirewall#AnalysisReportId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the query that ran when you requested an analysis report. </p>"
          }
        },
        "AnalysisType": {
          "target": "com.amazonaws.networkfirewall#EnabledAnalysisType",
          "traits": {
            "smithy.api#documentation": "<p>The type of traffic that will be used to generate a report. </p>"
          }
        },
        "ReportTime": {
          "target": "com.amazonaws.networkfirewall#ReportTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the analysis report was ran. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkfirewall#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the analysis report you specify. Statuses include <code>RUNNING</code>, <code>COMPLETED</code>, or <code>FAILED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A report that captures key activity from the last 30 days of network traffic monitored by your firewall.</p>\n         <p>You can generate up to one report per traffic type, per 30 day period. For example, when you successfully create an HTTP traffic report, \n         you cannot create another HTTP traffic report until 30 days pass. Alternatively, if you generate a report that combines metrics on both HTTP \n         and HTTPS traffic, you cannot create another report for either traffic type until 30 days pass.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisReportId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisReportNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.networkfirewall#AnalysisReportResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AnalysisTypeReportResult"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisReports": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AnalysisReport"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisResult": {
      "type": "structure",
      "members": {
        "IdentifiedRuleIds": {
          "target": "com.amazonaws.networkfirewall#RuleIdList",
          "traits": {
            "smithy.api#documentation": "<p>The priority number of the stateless rules identified in the analysis.</p>"
          }
        },
        "IdentifiedType": {
          "target": "com.amazonaws.networkfirewall#IdentifiedType",
          "traits": {
            "smithy.api#documentation": "<p>The types of rule configurations that Network Firewall analyzes your rule groups for. Network Firewall analyzes stateless rule groups for the following types of rule configurations:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STATELESS_RULE_FORWARDING_ASYMMETRICALLY</code>\n               </p>\n               <p>Cause: One or more stateless rules with the action <code>pass</code> or <code>forward</code> are forwarding traffic asymmetrically. Specifically, the rule's set of source IP addresses  or their associated port numbers, don't match the set of destination IP addresses or their associated port numbers.</p>\n               <p>To mitigate: Make sure that there's an existing return path. For example, if the rule allows traffic from source 10.1.0.0/24 to destination 20.1.0.0/24, you should allow return traffic from source 20.1.0.0/24 to destination 10.1.0.0/24.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STATELESS_RULE_CONTAINS_TCP_FLAGS</code>\n               </p>\n               <p>Cause: At least one stateless rule with the action <code>pass</code> or<code>forward</code> contains TCP flags that are inconsistent in the forward and return directions.</p>\n               <p>To mitigate: Prevent asymmetric routing issues caused by TCP flags by following these actions:</p>\n               <ul>\n                  <li>\n                     <p>Remove unnecessary TCP flag inspections from the rules.</p>\n                  </li>\n                  <li>\n                     <p>If you need to inspect TCP flags, check that the rules correctly account for changes in TCP flags throughout the TCP connection cycle, for example <code>SYN</code> and <code>ACK</code> flags used in a 3-way TCP handshake.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "AnalysisDetail": {
          "target": "com.amazonaws.networkfirewall#CollectionMember_String",
          "traits": {
            "smithy.api#documentation": "<p>Provides analysis details for the identified rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The analysis result for Network Firewall's stateless rule group analyzer. Every time you call <a>CreateRuleGroup</a>, <a>UpdateRuleGroup</a>, or <a>DescribeRuleGroup</a> on a stateless rule group, Network Firewall analyzes the stateless rule groups in your account and identifies the rules that might adversely effect your firewall's functionality. For example, if Network Firewall detects a rule that's routing traffic asymmetrically, which impacts the service's ability to properly process traffic, the service includes the rule in a list of analysis results.</p>\n         <p>The <code>AnalysisResult</code> data type is not related to traffic analysis reports you generate using <a>StartAnalysisReport</a>. For information on traffic analysis report results, see <a>AnalysisTypeReportResult</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AnalysisResult"
      }
    },
    "com.amazonaws.networkfirewall#AnalysisTypeReportResult": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazonaws.networkfirewall#CollectionMember_String",
          "traits": {
            "smithy.api#documentation": "<p>The type of traffic captured by the analysis report.</p>"
          }
        },
        "FirstAccessed": {
          "target": "com.amazonaws.networkfirewall#FirstAccessed",
          "traits": {
            "smithy.api#documentation": "<p>The date and time any domain was first accessed (within the last 30 day period).</p>"
          }
        },
        "LastAccessed": {
          "target": "com.amazonaws.networkfirewall#LastAccessed",
          "traits": {
            "smithy.api#documentation": "<p>The date and time any domain was last accessed (within the last 30 day period).</p>"
          }
        },
        "Domain": {
          "target": "com.amazonaws.networkfirewall#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The most frequently accessed domains.</p>"
          }
        },
        "Hits": {
          "target": "com.amazonaws.networkfirewall#Hits",
          "traits": {
            "smithy.api#documentation": "<p>The number of attempts made to access a observed domain.</p>"
          }
        },
        "UniqueSources": {
          "target": "com.amazonaws.networkfirewall#UniqueSources",
          "traits": {
            "smithy.api#documentation": "<p>The number of unique source IP addresses that connected to a domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results of a <code>COMPLETED</code> analysis report generated with <a>StartAnalysisReport</a>.</p>\n         <p>For an example of traffic analysis report results, see the response syntax of <a>GetAnalysisReportResults</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateAvailabilityZones": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AssociateAvailabilityZonesRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AssociateAvailabilityZonesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified Availability Zones with a transit gateway-attached firewall. For each Availability Zone, Network Firewall creates a firewall endpoint to process traffic. You can specify one or more Availability Zones where you want to deploy the firewall.</p>\n         <p>After adding Availability Zones, you must update your transit gateway route tables to direct traffic through the new firewall endpoints. Use <a>DescribeFirewall</a> to monitor the status of the new endpoints.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateAvailabilityZonesRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "AvailabilityZoneMappings": {
          "target": "com.amazonaws.networkfirewall#AvailabilityZoneMappings",
          "traits": {
            "smithy.api#documentation": "<p>Required. The Availability Zones where you want to create firewall endpoints. You must specify at least one Availability Zone.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociateAvailabilityZonesResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "AvailabilityZoneMappings": {
          "target": "com.amazonaws.networkfirewall#AvailabilityZoneMappings",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zones where Network Firewall created firewall endpoints. Each mapping specifies an Availability Zone where the firewall processes traffic.</p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AssociateFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AssociateFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a <a>FirewallPolicy</a> to a <a>Firewall</a>. </p>\n         <p>A firewall policy defines how to monitor and manage your VPC network traffic, using a\n         collection of inspection rule groups and other settings. Each firewall requires one\n         firewall policy association, and you can use the same firewall policy for multiple\n         firewalls. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociateFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#AssociateSubnetsRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#AssociateSubnetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidTokenException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified subnets in the Amazon VPC to the firewall. You can specify one\n         subnet for each of the Availability Zones that the VPC spans. </p>\n         <p>This request creates an Network Firewall firewall endpoint in each of the subnets. To\n         enable the firewall's protections, you must also modify the VPC's route tables for each\n         subnet's Availability Zone, to redirect the traffic that's coming into and going out of the\n         zone through the firewall endpoint. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnetsRequest": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets that you want to associate with the firewall. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociateSubnetsResponse": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>"
          }
        },
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the subnets that are associated with the firewall. </p>"
          }
        },
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p>\n         <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p>\n         <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#AssociationSyncState": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.networkfirewall#AvailabilityZone"
      },
      "value": {
        "target": "com.amazonaws.networkfirewall#AZSyncState"
      }
    },
    "com.amazonaws.networkfirewall#Attachment": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "target": "com.amazonaws.networkfirewall#AzSubnet",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the subnet that you've specified to be used for a firewall endpoint. </p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.networkfirewall#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the firewall endpoint that Network Firewall has instantiated in the\n         subnet. You use this to identify the firewall endpoint in the VPC route tables, when you\n         redirect the VPC traffic through the endpoint. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkfirewall#AttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the firewall endpoint instantiation in the subnet. </p>\n         <p>When this value is <code>READY</code>, the endpoint is available to handle network traffic. Otherwise,\n         this value reflects its state, for example <code>CREATING</code> or <code>DELETING</code>.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.networkfirewall#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>If Network Firewall fails to create or delete the firewall endpoint in the subnet, it populates this with the reason for the error or failure and how to resolve it. \n         A <code>FAILED</code> status indicates a non-recoverable state, and a <code>ERROR</code> status indicates an issue that you can fix. \n         Depending on the error, it can take as many as 15 minutes to populate this field. For more information about the causes for failiure or errors and solutions available for this field, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/firewall-troubleshooting-endpoint-failures.html\">Troubleshooting firewall endpoint failures</a> in the <i>Network Firewall Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition and status of the firewall endpoint for a single subnet. In each configured subnet, Network Firewall instantiates a firewall\n         endpoint to handle network traffic. </p>\n         <p>This data type is used for any firewall endpoint type: </p>\n         <ul>\n            <li>\n               <p>For <code>Firewall.SubnetMappings</code>, this <code>Attachment</code> is part of the <code>FirewallStatus</code> sync states information. You define firewall subnets using <code>CreateFirewall</code> and <code>AssociateSubnets</code>. </p>\n            </li>\n            <li>\n               <p>For <code>VpcEndpointAssociation</code>, this <code>Attachment</code> is part of the <code>VpcEndpointAssociationStatus</code> sync states information. You define these subnets using <code>CreateVpcEndpointAssociation</code>. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.networkfirewall#AttachmentId": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#AttachmentStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "SCALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALING"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#AvailabilityZoneMapping": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.networkfirewall#AvailabilityZoneMappingString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Availability Zone where the firewall endpoint is located. For example, <code>us-east-2a</code>. The Availability Zone must be in the same Region as the transit gateway.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between an Availability Zone and a firewall endpoint for a transit gateway-attached firewall. Each mapping represents where the firewall can process traffic. You use these mappings when calling <a>CreateFirewall</a>, <a>AssociateAvailabilityZones</a>, and <a>DisassociateAvailabilityZones</a>.</p>\n         <p>To retrieve the current Availability Zone mappings for a firewall, use <a>DescribeFirewall</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#AvailabilityZoneMappingString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.networkfirewall#AvailabilityZoneMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AvailabilityZoneMapping"
      }
    },
    "com.amazonaws.networkfirewall#AvailabilityZoneMetadata": {
      "type": "structure",
      "members": {
        "IPAddressType": {
          "target": "com.amazonaws.networkfirewall#IPAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The IP address type of the Firewall subnet in the Availability Zone. You can't change the IP address type after you create the subnet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>High-level information about an Availability Zone where the firewall has an endpoint defined. </p>"
      }
    },
    "com.amazonaws.networkfirewall#AzSubnet": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^subnet-[0-9a-f]+$"
      }
    },
    "com.amazonaws.networkfirewall#AzSubnets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#AzSubnet"
      }
    },
    "com.amazonaws.networkfirewall#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.networkfirewall#ByteCount": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.networkfirewall#CIDRCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000000
        }
      }
    },
    "com.amazonaws.networkfirewall#CIDRSummary": {
      "type": "structure",
      "members": {
        "AvailableCIDRCount": {
          "target": "com.amazonaws.networkfirewall#CIDRCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of CIDR blocks available for use by the IP set references in a firewall.</p>"
          }
        },
        "UtilizedCIDRCount": {
          "target": "com.amazonaws.networkfirewall#CIDRCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of CIDR blocks used by the IP set references in a firewall.</p>"
          }
        },
        "IPSetReferences": {
          "target": "com.amazonaws.networkfirewall#IPSetMetadataMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of the IP set references used by a firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarizes the CIDR blocks used by the IP set references in a firewall. Network Firewall calculates the number of CIDRs by taking an aggregated count of all CIDRs used by the IP sets you are referencing.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CapacityUsageSummary": {
      "type": "structure",
      "members": {
        "CIDRs": {
          "target": "com.amazonaws.networkfirewall#CIDRSummary",
          "traits": {
            "smithy.api#documentation": "<p>Describes the capacity usage of the CIDR blocks used by the IP set references in a firewall.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capacity usage summary of the resources used by the <a>ReferenceSets</a> in a firewall.</p>"
      }
    },
    "com.amazonaws.networkfirewall#Certificates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#TlsCertificateData"
      }
    },
    "com.amazonaws.networkfirewall#CheckCertificateRevocationStatusActions": {
      "type": "structure",
      "members": {
        "RevokedStatusAction": {
          "target": "com.amazonaws.networkfirewall#RevocationCheckAction",
          "traits": {
            "smithy.api#documentation": "<p>Configures how Network Firewall processes traffic when it determines that the certificate presented by the server in the SSL/TLS connection has a revoked status.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>PASS</b> - Allow the connection to continue, and pass subsequent packets to the stateful engine for inspection.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DROP</b> - Network Firewall closes the connection and drops subsequent packets for that connection.</p>\n            </li>\n            <li>\n               <p>\n                  <b>REJECT</b> - Network Firewall sends a TCP reject packet back to your client. The service closes the connection and drops subsequent packets for that connection. <code>REJECT</code> is available only for TCP traffic.</p>\n            </li>\n         </ul>"
          }
        },
        "UnknownStatusAction": {
          "target": "com.amazonaws.networkfirewall#RevocationCheckAction",
          "traits": {
            "smithy.api#documentation": "<p>Configures how Network Firewall processes traffic when it determines that the certificate presented by the server in the SSL/TLS connection has an unknown status, or a status that cannot be determined for any other reason, including when the service is unable to connect to the OCSP and CRL endpoints for the certificate.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>PASS</b> - Allow the connection to continue, and pass subsequent packets to the stateful engine for inspection.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DROP</b> - Network Firewall closes the connection and drops subsequent packets for that connection.</p>\n            </li>\n            <li>\n               <p>\n                  <b>REJECT</b> - Network Firewall sends a TCP reject packet back to your client. The service closes the connection and drops subsequent packets for that connection. <code>REJECT</code> is available only for TCP traffic.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the actions to take on the SSL/TLS connection if the certificate presented by the server in the connection has a revoked or unknown status.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CollectionMember_String": {
      "type": "string"
    },
    "com.amazonaws.networkfirewall#ConfigurationSyncState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_SYNC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_SYNC"
          }
        },
        "CAPACITY_CONSTRAINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPACITY_CONSTRAINED"
          }
        }
      }
    },
    "com.amazonaws.networkfirewall#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Network Firewall <a>Firewall</a> and accompanying <a>FirewallStatus</a> for a VPC. </p>\n         <p>The firewall defines the configuration settings for an Network Firewall firewall. The settings that you can define at creation include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p>\n         <p>After you create a firewall, you can provide additional settings, like the logging configuration. </p>\n         <p>To update the settings for a firewall, you use the operations that apply to the settings\n         themselves, for example <a>UpdateLoggingConfiguration</a>, <a>AssociateSubnets</a>, and <a>UpdateFirewallDeleteProtection</a>. </p>\n         <p>To manage a firewall's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p>\n         <p>To retrieve information about firewalls, use <a>ListFirewalls</a> and <a>DescribeFirewall</a>.</p>\n         <p>To generate a report on the last 30 days of traffic monitored by a firewall, use <a>StartAnalysisReport</a>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the firewall policy for the firewall according to the specifications. </p>\n         <p>An Network Firewall firewall policy defines the behavior of a firewall, in a collection of\n         stateless and stateful rule groups and other settings. You can use one firewall policy for\n         multiple firewalls. </p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicy": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The rule groups and policy actions to use in the firewall policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall policy.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p>\n         <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully,\n         but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with\n         dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have\n         the required permissions to run the request and that your request parameters are valid. </p>\n         <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your firewall policy resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p>\n         <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyResponse": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallRequest": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <a>FirewallPolicy</a> that you want to\n         use for the firewall.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.networkfirewall#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the VPC where Network Firewall should create the firewall. </p>\n         <p>You can't change this setting after you create the firewall. </p>"
          }
        },
        "SubnetMappings": {
          "target": "com.amazonaws.networkfirewall#SubnetMappings",
          "traits": {
            "smithy.api#documentation": "<p>The public subnets to use for your Network Firewall firewalls. Each subnet must belong to a\n         different Availability Zone in the VPC. Network Firewall creates a firewall endpoint in each\n         subnet. </p>"
          }
        },
        "DeleteProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates\n         that the firewall is protected against deletion. Use this setting to protect against\n         accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>"
          }
        },
        "SubnetChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against changes to the subnet associations.\n         Use this setting to protect against\n         accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "FirewallPolicyChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A setting indicating whether the firewall is protected against a change to the firewall policy association.\n         Use this setting to protect against\n         accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your firewall resources.</p>"
          }
        },
        "EnabledAnalysisTypes": {
          "target": "com.amazonaws.networkfirewall#EnabledAnalysisTypes",
          "traits": {
            "smithy.api#documentation": "<p>An optional setting indicating the specific traffic analysis types to enable on the firewall. </p>"
          }
        },
        "TransitGatewayId": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>Required when creating a transit gateway-attached firewall. The unique identifier of the transit gateway to attach to this firewall. You can provide either a transit gateway from your account or one that has been shared with you through Resource Access Manager.</p>\n         <important>\n            <p>After creating the firewall, you cannot change the transit gateway association. To use a different transit gateway, you must create a new firewall.</p>\n         </important>\n         <p>For information about creating firewalls, see <a>CreateFirewall</a>. For specific guidance about transit gateway-attached firewalls, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/tgw-firewall-considerations.html\">Considerations for transit gateway-attached firewalls</a> in the <i>Network Firewall Developer Guide</i>.</p>"
          }
        },
        "AvailabilityZoneMappings": {
          "target": "com.amazonaws.networkfirewall#AvailabilityZoneMappings",
          "traits": {
            "smithy.api#documentation": "<p>Required. The Availability Zones where you want to create firewall endpoints for a transit gateway-attached firewall. You must specify at least one Availability Zone. Consider enabling the firewall in every Availability Zone where you have workloads to maintain Availability Zone isolation.</p>\n         <p>You can modify Availability Zones later using <a>AssociateAvailabilityZones</a> or <a>DisassociateAvailabilityZones</a>, but this may briefly disrupt traffic. The <code>AvailabilityZoneChangeProtection</code> setting controls whether you can make these modifications.</p>"
          }
        },
        "AvailabilityZoneChangeProtection": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Optional. A setting indicating whether the firewall is protected against changes to its Availability Zone configuration. When set to <code>TRUE</code>, you cannot add or remove Availability Zones without first disabling this protection using <a>UpdateAvailabilityZoneChangeProtection</a>.</p>\n         <p>Default value: <code>FALSE</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateFirewallResponse": {
      "type": "structure",
      "members": {
        "Firewall": {
          "target": "com.amazonaws.networkfirewall#Firewall",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>"
          }
        },
        "FirewallStatus": {
          "target": "com.amazonaws.networkfirewall#FirewallStatus",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p>\n         <p>The firewall status indicates a combined status. It indicates whether all subnets are up-to-date with the latest firewall configurations, which is based on the sync states config values, and also whether all subnets have their endpoints fully enabled, based on their sync states attachment values. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the specified stateless or stateful rule group, which includes the rules for\n         network traffic inspection, a capacity setting, and tags. </p>\n         <p>You provide your rule group specification in your request using either\n            <code>RuleGroup</code> or <code>Rules</code>.</p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroupRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroup": {
          "target": "com.amazonaws.networkfirewall#RuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>An object that defines the rule group rules. </p>\n         <note>\n            <p>You must provide either this rule group setting or a <code>Rules</code> setting, but not both. </p>\n         </note>"
          }
        },
        "Rules": {
          "target": "com.amazonaws.networkfirewall#RulesString",
          "traits": {
            "smithy.api#documentation": "<p>A string containing stateful rule group rules specifications in Suricata flat format, with one rule\nper line. Use this to import your existing Suricata compatible rule groups. </p>\n         <note>\n            <p>You must provide either this rules setting or a populated <code>RuleGroup</code> setting, but not both. </p>\n         </note>\n         <p>You can provide your rule group specification in Suricata flat format through this setting when you create or update your rule group. The call\nresponse returns a <a>RuleGroup</a> object that Network Firewall has populated from your string. </p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkfirewall#RuleGroupType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains\nstateless rules. If it is stateful, it contains stateful rules. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the rule group. </p>"
          }
        },
        "Capacity": {
          "target": "com.amazonaws.networkfirewall#RuleCapacity",
          "traits": {
            "smithy.api#documentation": "<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation.\n      When you update a rule group, you are limited to this capacity. When you reference a rule group\n      from a firewall policy, Network Firewall reserves this capacity for the rule group. </p>\n         <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling\n      <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p>\n         <note>\n            <p>You can't change or exceed this capacity when you update the rule group, so leave\n            room for your rule group to grow. </p>\n         </note>\n         <p>\n            <b>Capacity for a stateless rule group</b>\n         </p>\n         <p>For a stateless rule group, the capacity required is the sum of the capacity\n         requirements of the individual rules that you expect to have in the rule group. </p>\n         <p>To calculate the capacity requirement of a single rule, multiply the capacity\n         requirement values of each of the rule's match settings:</p>\n         <ul>\n            <li>\n               <p>A match setting with no criteria specified has a value of 1. </p>\n            </li>\n            <li>\n               <p>A match setting with <code>Any</code> specified has a value of 1. </p>\n            </li>\n            <li>\n               <p>All other match settings have a value equal to the number of elements provided in\n               the setting. For example, a protocol setting [\"UDP\"] and a source setting\n               [\"10.0.0.0/24\"] each have a value of 1. A protocol setting [\"UDP\",\"TCP\"] has a value\n               of 2. A source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"] has a value of 3.\n            </p>\n            </li>\n         </ul>\n         <p>A rule with no criteria specified in any of its match settings has a capacity\n         requirement of 1. A rule with protocol setting [\"UDP\",\"TCP\"], source setting\n         [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"], and a single specification or no specification\n         for each of the other match settings has a capacity requirement of 6. </p>\n         <p>\n            <b>Capacity for a stateful rule group</b>\n         </p>\n         <p>For a stateful rule group, the minimum capacity required is the number of individual rules that\n         you expect to have in the rule group. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p>\n         <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully,\n         but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with\n         dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have\n         the required permissions to run the request and that your request parameters are valid. </p>\n         <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for encryption of your rule group resources.</p>"
          }
        },
        "SourceMetadata": {
          "target": "com.amazonaws.networkfirewall#SourceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains metadata about the rule group that your own rule group is copied from. You can use the metadata to keep track of updates made to the originating rule group.</p>"
          }
        },
        "AnalyzeRuleGroup": {
          "target": "com.amazonaws.networkfirewall#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want Network Firewall to analyze the stateless rules in the rule group for rule behavior such as asymmetric routing. If set to <code>TRUE</code>, Network Firewall runs the analysis and then creates the rule group for you. To run the stateless rule group analyzer without creating the rule group, set <code>DryRun</code> to <code>TRUE</code>.</p>"
          }
        },
        "SummaryConfiguration": {
          "target": "com.amazonaws.networkfirewall#SummaryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains a <code>RuleOptions</code> array of strings. \n         You use <code>RuleOptions</code> to determine which of the following <a>RuleSummary</a> values are returned in response to <code>DescribeRuleGroupSummary</code>.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Metadata</code> - returns</p>\n            </li>\n            <li>\n               <p>\n                  <code>Msg</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>SID</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateRuleGroupResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p>\n         <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "RuleGroupResponse": {
          "target": "com.amazonaws.networkfirewall#RuleGroupResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateTLSInspectionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateTLSInspectionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateTLSInspectionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Network Firewall TLS inspection configuration. Network Firewall uses TLS inspection configurations to decrypt your firewall's inbound and outbound SSL/TLS traffic. After decryption, Network Firewall inspects the traffic according to your firewall policy's stateful rules, and then re-encrypts it before sending it to its destination. You can enable inspection of your firewall's inbound traffic, outbound traffic, or both. To use TLS inspection with your firewall, you must first import or provision certificates using ACM, create a TLS inspection configuration, add that configuration to a new firewall policy, and then associate that policy with your firewall.</p>\n         <p>To update the settings for a TLS inspection configuration, use <a>UpdateTLSInspectionConfiguration</a>.</p>\n         <p>To manage a TLS inspection configuration's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p>\n         <p>To retrieve information about TLS inspection configurations, use <a>ListTLSInspectionConfigurations</a> and <a>DescribeTLSInspectionConfiguration</a>.</p>\n         <p>\n              For more information about TLS inspection configurations, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/tls-inspection.html\">Inspecting SSL/TLS traffic with TLS\ninspection configurations</a> in the <i>Network Firewall Developer Guide</i>.\n            </p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateTLSInspectionConfigurationRequest": {
      "type": "structure",
      "members": {
        "TLSInspectionConfigurationName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the TLS inspection configuration. You can't change the name of a TLS inspection configuration after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "TLSInspectionConfiguration": {
          "target": "com.amazonaws.networkfirewall#TLSInspectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The object that defines a TLS inspection configuration. This, along with <a>TLSInspectionConfigurationResponse</a>, define the TLS inspection configuration. You can retrieve all objects for a TLS inspection configuration by calling <a>DescribeTLSInspectionConfiguration</a>. </p>\n         <p>Network Firewall uses a TLS inspection configuration to decrypt traffic. Network Firewall re-encrypts the traffic before sending it to its destination.</p>\n         <p>To use a TLS inspection configuration, you add it to a new Network Firewall firewall policy, then you apply the firewall policy to a firewall. Network Firewall acts as a proxy service to decrypt and inspect the traffic traveling through your firewalls. You can reference a TLS inspection configuration from more than one firewall policy, and you can use a firewall policy in more than one firewall. For more information about using TLS inspection configurations, see \n    <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/tls-inspection.html\">Inspecting SSL/TLS traffic with TLS\ninspection configurations</a> in the <i>Network Firewall Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the TLS inspection configuration. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.networkfirewall#EncryptionConfiguration"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateTLSInspectionConfigurationResponse": {
      "type": "structure",
      "members": {
        "UpdateToken": {
          "target": "com.amazonaws.networkfirewall#UpdateToken",
          "traits": {
            "smithy.api#documentation": "<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the TLS inspection configuration. The token marks the state of the TLS inspection configuration resource at the time of the request. </p>\n         <p>To make changes to the TLS inspection configuration, you provide the token in your request. Network Firewall uses the token to ensure that the TLS inspection configuration hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the TLS inspection configuration again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>",
            "smithy.api#required": {}
          }
        },
        "TLSInspectionConfigurationResponse": {
          "target": "com.amazonaws.networkfirewall#TLSInspectionConfigurationResponse",
          "traits": {
            "smithy.api#documentation": "<p>The high-level properties of a TLS inspection configuration. This, along with the <a>TLSInspectionConfiguration</a>, define the TLS inspection configuration. You can retrieve all objects for a TLS inspection configuration by calling <a>DescribeTLSInspectionConfiguration</a>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateVpcEndpointAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#CreateVpcEndpointAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#CreateVpcEndpointAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#LimitExceededException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a firewall endpoint for an Network Firewall firewall. This type of firewall endpoint is independent of the firewall endpoints that you specify in the <code>Firewall</code> itself, and you define it in addition to those endpoints after the firewall has been created. You can define a VPC endpoint association using a different VPC than the one you used in the firewall specifications. </p>"
      }
    },
    "com.amazonaws.networkfirewall#CreateVpcEndpointAssociationRequest": {
      "type": "structure",
      "members": {
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.networkfirewall#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the VPC where you want to create a firewall endpoint. </p>",
            "smithy.api#required": {}
          }
        },
        "SubnetMapping": {
          "target": "com.amazonaws.networkfirewall#SubnetMapping",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkfirewall#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the VPC endpoint association. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkfirewall#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key:value pairs to associate with the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#CreateVpcEndpointAssociationResponse": {
      "type": "structure",
      "members": {
        "VpcEndpointAssociation": {
          "target": "com.amazonaws.networkfirewall#VpcEndpointAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for the VPC endpoint association. These settings include the firewall and the VPC and subnet to use for the firewall endpoint. </p>"
          }
        },
        "VpcEndpointAssociationStatus": {
          "target": "com.amazonaws.networkfirewall#VpcEndpointAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the current status of a <a>VpcEndpointAssociation</a>. You can retrieve this \nby calling <a>DescribeVpcEndpointAssociation</a> and providing the VPC endpoint association ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#CustomAction": {
      "type": "structure",
      "members": {
        "ActionName": {
          "target": "com.amazonaws.networkfirewall#ActionName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the custom action. You can't change the name of a custom action after you create it.</p>",
            "smithy.api#required": {}
          }
        },
        "ActionDefinition": {
          "target": "com.amazonaws.networkfirewall#ActionDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The custom action associated with the action name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional, non-standard action to use for stateless packet handling. You can define\n         this in addition to the standard action that you must specify. </p>\n         <p>You define and name the custom actions that you want to be able to use, and then you\n         reference them by name in your actions settings. </p>\n         <p>You can use custom actions in the following places: </p>\n         <ul>\n            <li>\n               <p>In a rule group's <a>StatelessRulesAndCustomActions</a> specification.\n               The custom actions are available for use by name inside the\n                  <code>StatelessRulesAndCustomActions</code> where you define them. You can use\n               them for your stateless rule actions to specify what to do with a packet that matches\n               the rule's match attributes. </p>\n            </li>\n            <li>\n               <p>In a <a>FirewallPolicy</a> specification, in\n                  <code>StatelessCustomActions</code>. The custom actions are available for use\n               inside the policy where you define them. You can use them for the policy's default\n               stateless actions settings to specify what to do with packets that don't match any of\n               the policy's stateless rules. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.networkfirewall#CustomActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkfirewall#CustomAction"
      }
    },
    "com.amazonaws.networkfirewall#DeepThreatInspection": {
      "type": "boolean"
    },
    "com.amazonaws.networkfirewall#DeleteFirewall": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>Firewall</a> and its <a>FirewallStatus</a>.\n       This operation requires the firewall's <code>DeleteProtection</code> flag to be\n            <code>FALSE</code>. You can't revert this operation. </p>\n         <p>You can check whether a firewall is\n         in use by reviewing the route tables for the Availability Zones where you have\n         firewall subnet mappings. Retrieve the subnet mappings by calling <a>DescribeFirewall</a>.\n         You define and update the route tables through Amazon VPC. As needed, update the route tables for the\n         zones to remove the firewall endpoints. When the route tables no longer use the firewall endpoints,\n         you can remove the firewall safely.</p>\n         <p>To delete a firewall, remove the delete protection if you need to using <a>UpdateFirewallDeleteProtection</a>,\n         then delete the firewall by calling <a>DeleteFirewall</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteFirewallPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>FirewallPolicy</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicyRequest": {
      "type": "structure",
      "members": {
        "FirewallPolicyName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallPolicyArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall policy.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallPolicyResponse": {
      "type": "structure",
      "members": {
        "FirewallPolicyResponse": {
          "target": "com.amazonaws.networkfirewall#FirewallPolicyResponse",
          "traits": {
            "smithy.api#documentation": "<p>The object containing the definition of the <a>FirewallPolicyResponse</a>\n         that you asked to delete. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallRequest": {
      "type": "structure",
      "members": {
        "FirewallName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        },
        "FirewallArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall.</p>\n         <p>You must specify the ARN or the name, and you can specify both. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteFirewallResponse": {
      "type": "structure",
      "members": {
        "Firewall": {
          "target": "com.amazonaws.networkfirewall#Firewall"
        },
        "FirewallStatus": {
          "target": "com.amazonaws.networkfirewall#FirewallStatus"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteNetworkFirewallTransitGatewayAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteNetworkFirewallTransitGatewayAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteNetworkFirewallTransitGatewayAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a transit gateway attachment from a Network Firewall. Either the firewall owner or the transit gateway owner can delete the attachment.</p>\n         <important>\n            <p>After you delete a transit gateway attachment, traffic will no longer flow through the firewall endpoints.</p>\n         </important>\n         <p>After you initiate the delete operation, use <a>DescribeFirewall</a> to monitor the deletion status.</p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteNetworkFirewallTransitGatewayAttachmentRequest": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique identifier of the transit gateway attachment to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteNetworkFirewallTransitGatewayAttachmentResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayAttachmentId": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the transit gateway attachment that was deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "TransitGatewayAttachmentStatus": {
          "target": "com.amazonaws.networkfirewall#TransitGatewayAttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the transit gateway attachment deletion process.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The attachment is being created</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The attachment is being deleted</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The attachment has been deleted</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The attachment creation has failed and cannot be recovered</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - The attachment is in an error state that might be recoverable</p>\n            </li>\n            <li>\n               <p>\n                  <code>READY</code> - The attachment is active and processing traffic</p>\n            </li>\n            <li>\n               <p>\n                  <code>PENDING_ACCEPTANCE</code> - The attachment is waiting to be accepted</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTING</code> - The attachment is in the process of being rejected</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The attachment has been rejected</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidResourcePolicyException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.networkfirewall#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the rule group or firewall policy whose resource policy you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkfirewall#DeleteRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkfirewall#DeleteRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.networkfirewall#DeleteRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkfirewall#InternalServerError"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidOperationException"
        },
        {
          "target": "com.amazonaws.networkfirewall#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkfirewall#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkfirewall#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified <a>RuleGroup</a>. </p>"
      }
    },
    "com.amazonaws.networkfirewall#DeleteRuleGroupRequest": {
      "type": "structure",
      "members": {
        "RuleGroupName": {
          "target": "com.amazonaws.networkfirewall#ResourceName",
          "traits": {
[...]
