{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.networkmanager#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#AWSLocation": {
      "type": "structure",
      "members": {
        "Zone": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The Zone that the device is located in. Specify the ID of an Availability Zone, Local\n            Zone, Wavelength Zone, or an Outpost.</p>"
          }
        },
        "SubnetArn": {
          "target": "com.amazonaws.networkmanager#SubnetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the subnet that the device is located in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a location in Amazon Web Services.</p>"
      }
    },
    "com.amazonaws.networkmanager#AcceptAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AcceptAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AcceptAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a core network attachment request. </p>\n         <p>Once the attachment request is accepted by a core network owner, the attachment is\n         created and connected to a core network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/attachments/{AttachmentId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AcceptAttachmentRequest": {
      "type": "structure",
      "members": {
        "AttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AcceptAttachmentResponse": {
      "type": "structure",
      "members": {
        "Attachment": {
          "target": "com.amazonaws.networkmanager#Attachment",
          "traits": {
            "smithy.api#documentation": "<p>The response to the attachment request. </p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.networkmanager#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.networkmanager#AccountStatus": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.networkmanager#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an account within the Amazon Web Services Organization.</p>"
          }
        },
        "SLRDeploymentStatus": {
          "target": "com.amazonaws.networkmanager#SLRDeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of SLR deployment for the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the current status of an account within an Amazon Web Services Organization, including service-linked roles (SLRs).</p>"
      }
    },
    "com.amazonaws.networkmanager#AccountStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#AccountStatus"
      }
    },
    "com.amazonaws.networkmanager#Action": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateConnectPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateConnectPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateConnectPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a core network Connect peer with a device and optionally, with a link. </p>\n         <p>If you specify a link, it must be associated with the specified device. You can only\n         associate core network Connect peers that have been created on a core network Connect\n         attachment on a core network. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/connect-peer-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateConnectPeerRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of your global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectPeerId": {
          "target": "com.amazonaws.networkmanager#ConnectPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Connect peer.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateConnectPeerResponse": {
      "type": "structure",
      "members": {
        "ConnectPeerAssociation": {
          "target": "com.amazonaws.networkmanager#ConnectPeerAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The response to the Connect peer request.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a customer gateway with a device and optionally, with a link. If you\n            specify a link, it must be associated with the specified device. </p>\n        <p>You can only associate customer gateways that are connected to a VPN attachment on a\n            transit gateway or core network registered in your global network. When you register a\n            transit gateway or core network, customer gateways that are connected to the transit\n            gateway are automatically included in the global network. To list customer gateways\n            that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by\n                <code>transit-gateway-id</code>.</p>\n        <p>You cannot associate a customer gateway with more than one device and link. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/customer-gateway-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayRequest": {
      "type": "structure",
      "members": {
        "CustomerGatewayArn": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateCustomerGatewayResponse": {
      "type": "structure",
      "members": {
        "CustomerGatewayAssociation": {
          "target": "com.amazonaws.networkmanager#CustomerGatewayAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The customer gateway association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/link-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateLinkResponse": {
      "type": "structure",
      "members": {
        "LinkAssociation": {
          "target": "com.amazonaws.networkmanager#LinkAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The link association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a transit gateway Connect peer with a device, and optionally, with a link. If you\n            specify a link, it must be associated with the specified device. </p>\n        <p>You can only associate transit gateway Connect peers that have been created on a\n            transit gateway that's registered in your global network.</p>\n        <p>You cannot associate a transit gateway Connect peer with more than one device and link. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/transit-gateway-connect-peer-associations",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TransitGatewayConnectPeerArn": {
          "target": "com.amazonaws.networkmanager#TransitGatewayConnectPeerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Connect peer.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AssociateTransitGatewayConnectPeerResponse": {
      "type": "structure",
      "members": {
        "TransitGatewayConnectPeerAssociation": {
          "target": "com.amazonaws.networkmanager#TransitGatewayConnectPeerAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The transit gateway Connect peer association.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Attachment": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "CoreNetworkArn": {
          "target": "com.amazonaws.networkmanager#CoreNetworkArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a core network.</p>"
          }
        },
        "AttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.networkmanager#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment account owner.</p>"
          }
        },
        "AttachmentType": {
          "target": "com.amazonaws.networkmanager#AttachmentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of attachment.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#AttachmentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the attachment.</p>"
          }
        },
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the edge is located.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.networkmanager#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The attachment resource ARN.</p>"
          }
        },
        "AttachmentPolicyRuleNumber": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The policy rule number associated with the attachment.</p>"
          }
        },
        "SegmentName": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the segment attachment.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the attachment.</p>"
          }
        },
        "ProposedSegmentChange": {
          "target": "com.amazonaws.networkmanager#ProposedSegmentChange",
          "traits": {
            "smithy.api#documentation": "<p>The attachment to move from one segment to another.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the attachment was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the attachment was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network attachment.</p>"
      }
    },
    "com.amazonaws.networkmanager#AttachmentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^attachment-([0-9a-f]{8,17})$"
      }
    },
    "com.amazonaws.networkmanager#AttachmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Attachment"
      }
    },
    "com.amazonaws.networkmanager#AttachmentState": {
      "type": "enum",
      "members": {
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "PENDING_ATTACHMENT_ACCEPTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ATTACHMENT_ACCEPTANCE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "PENDING_NETWORK_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_NETWORK_UPDATE"
          }
        },
        "PENDING_TAG_ACCEPTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_TAG_ACCEPTANCE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#AttachmentType": {
      "type": "enum",
      "members": {
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        },
        "SITE_TO_SITE_VPN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SITE_TO_SITE_VPN"
          }
        },
        "VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC"
          }
        },
        "TRANSIT_GATEWAY_ROUTE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSIT_GATEWAY_ROUTE_TABLE"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#Bandwidth": {
      "type": "structure",
      "members": {
        "UploadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Upload speed in Mbps.</p>"
          }
        },
        "DownloadSpeed": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Download speed in Mbps.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes bandwidth information.</p>"
      }
    },
    "com.amazonaws.networkmanager#BgpOptions": {
      "type": "structure",
      "members": {
        "PeerAsn": {
          "target": "com.amazonaws.networkmanager#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Peer ASN of the BGP.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the BGP options.</p>"
      }
    },
    "com.amazonaws.networkmanager#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.networkmanager#ChangeAction": {
      "type": "enum",
      "members": {
        "ADD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD"
          }
        },
        "MODIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MODIFY"
          }
        },
        "REMOVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVE"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ChangeSetState": {
      "type": "enum",
      "members": {
        "PENDING_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_GENERATION"
          }
        },
        "FAILED_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_GENERATION"
          }
        },
        "READY_TO_EXECUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY_TO_EXECUTE"
          }
        },
        "EXECUTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTING"
          }
        },
        "EXECUTION_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXECUTION_SUCCEEDED"
          }
        },
        "OUT_OF_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUT_OF_DATE"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ChangeStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ChangeType": {
      "type": "enum",
      "members": {
        "CORE_NETWORK_SEGMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORE_NETWORK_SEGMENT"
          }
        },
        "CORE_NETWORK_EDGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORE_NETWORK_EDGE"
          }
        },
        "ATTACHMENT_MAPPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT_MAPPING"
          }
        },
        "ATTACHMENT_ROUTE_PROPAGATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT_ROUTE_PROPAGATION"
          }
        },
        "ATTACHMENT_ROUTE_STATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT_ROUTE_STATIC"
          }
        },
        "CORE_NETWORK_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORE_NETWORK_CONFIGURATION"
          }
        },
        "SEGMENTS_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENTS_CONFIGURATION"
          }
        },
        "SEGMENT_ACTIONS_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENT_ACTIONS_CONFIGURATION"
          }
        },
        "ATTACHMENT_POLICIES_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTACHMENT_POLICIES_CONFIGURATION"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict processing the request. Updating or deleting the resource can\n            cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.networkmanager#ConnectAttachment": {
      "type": "structure",
      "members": {
        "Attachment": {
          "target": "com.amazonaws.networkmanager#Attachment",
          "traits": {
            "smithy.api#documentation": "<p>The attachment details.</p>"
          }
        },
        "TransportAttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the transport attachment.</p>"
          }
        },
        "Options": {
          "target": "com.amazonaws.networkmanager#ConnectAttachmentOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for connecting an attachment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network Connect attachment.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectAttachmentOptions": {
      "type": "structure",
      "members": {
        "Protocol": {
          "target": "com.amazonaws.networkmanager#TunnelProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol used for the attachment connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network Connect attachment options.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeer": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "ConnectAttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment to connect.</p>"
          }
        },
        "ConnectPeerId": {
          "target": "com.amazonaws.networkmanager#ConnectPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Connect peer.</p>"
          }
        },
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Connect peer Regions where edges are located.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#ConnectPeerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the Connect peer.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the Connect peer was created.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.networkmanager#ConnectPeerConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the Connect peer.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value tags associated with the Connect peer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network Connect peer.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerAssociation": {
      "type": "structure",
      "members": {
        "ConnectPeerId": {
          "target": "com.amazonaws.networkmanager#ConnectPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Connect peer.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device to connect to.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#ConnectPeerAssociationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the Connect peer association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network Connect peer association.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConnectPeerAssociation"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerAssociationState": {
      "type": "enum",
      "members": {
        "pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "deleted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerBgpConfiguration": {
      "type": "structure",
      "members": {
        "CoreNetworkAsn": {
          "target": "com.amazonaws.networkmanager#Long",
          "traits": {
            "smithy.api#documentation": "<p>The ASN of the Coret Network.</p>"
          }
        },
        "PeerAsn": {
          "target": "com.amazonaws.networkmanager#Long",
          "traits": {
            "smithy.api#documentation": "<p>The ASN of the Connect peer.</p>"
          }
        },
        "CoreNetworkAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>The address of a core network.</p>"
          }
        },
        "PeerAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>The address of a core network Connect peer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network BGP configuration.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerBgpConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConnectPeerBgpConfiguration"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerConfiguration": {
      "type": "structure",
      "members": {
        "CoreNetworkAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of a core network.</p>"
          }
        },
        "PeerAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the Connect peer.</p>"
          }
        },
        "InsideCidrBlocks": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The inside IP addresses used for a Connect peer configuration.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.networkmanager#TunnelProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol used for a Connect peer configuration.</p>"
          }
        },
        "BgpConfigurations": {
          "target": "com.amazonaws.networkmanager#ConnectPeerBgpConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The Connect peer BGP configurations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network Connect peer configuration.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^connect-peer-([0-9a-f]{8,17})$"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConnectPeerId"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerSummary": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "ConnectAttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a Connect peer attachment.</p>"
          }
        },
        "ConnectPeerId": {
          "target": "com.amazonaws.networkmanager#ConnectPeerId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a Connect peer.</p>"
          }
        },
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the edge is located.</p>"
          }
        },
        "ConnectPeerState": {
          "target": "com.amazonaws.networkmanager#ConnectPeerState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a Connect peer.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when a Connect peer was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value tags associated with the Connect peer summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary description of a Connect peer.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectPeerSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConnectPeerSummary"
      }
    },
    "com.amazonaws.networkmanager#Connection": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.networkmanager#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection.</p>"
          }
        },
        "ConnectionArn": {
          "target": "com.amazonaws.networkmanager#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the first device in the connection.</p>"
          }
        },
        "ConnectedDeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the second device in the connection.</p>"
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the first device in the connection.</p>"
          }
        },
        "ConnectedLinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the second device in the connection.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the connection.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connection was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the connection.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a connection.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#ConnectionHealth": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.networkmanager#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The connection type.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkmanager#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The connection status.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the status was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes connection health.</p>"
      }
    },
    "com.amazonaws.networkmanager#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#ConnectionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConnectionId"
      }
    },
    "com.amazonaws.networkmanager#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#Connection"
      }
    },
    "com.amazonaws.networkmanager#ConnectionState": {
      "type": "enum",
      "members": {
        "pending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "updating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ConnectionStatus": {
      "type": "enum",
      "members": {
        "UP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UP"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWN"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ConnectionType": {
      "type": "enum",
      "members": {
        "BGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BGP"
          }
        },
        "IPSEC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IPSEC"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#ConstrainedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#ConstrainedStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#ConstrainedString"
      }
    },
    "com.amazonaws.networkmanager#CoreNetwork": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network that your core network is a part of. </p>"
          }
        },
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "CoreNetworkArn": {
          "target": "com.amazonaws.networkmanager#CoreNetworkArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a core network.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of a core network.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when a core network was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#CoreNetworkState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of a core network.</p>"
          }
        },
        "Segments": {
          "target": "com.amazonaws.networkmanager#CoreNetworkSegmentList",
          "traits": {
            "smithy.api#documentation": "<p>The segments within a core network.</p>"
          }
        },
        "Edges": {
          "target": "com.amazonaws.networkmanager#CoreNetworkEdgeList",
          "traits": {
            "smithy.api#documentation": "<p>The edges within a core network.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value tags associated with a core network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChange": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.networkmanager#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of change.</p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.networkmanager#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take for a core network.</p>"
          }
        },
        "Identifier": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier.</p>"
          }
        },
        "PreviousValues": {
          "target": "com.amazonaws.networkmanager#CoreNetworkChangeValues",
          "traits": {
            "smithy.api#documentation": "<p>The previous values for a core network.</p>"
          }
        },
        "NewValues": {
          "target": "com.amazonaws.networkmanager#CoreNetworkChangeValues",
          "traits": {
            "smithy.api#documentation": "<p>The new value for a core network</p>"
          }
        },
        "IdentifierPath": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the path for a change within the changeset. For example, the <code>IdentifierPath</code> for a core network segment change might be <code>\"CORE_NETWORK_SEGMENT/us-east-1/devsegment\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details describing a core network change.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChangeEvent": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.networkmanager#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Describes the type of change event. </p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.networkmanager#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>The action taken for the change event.</p>"
          }
        },
        "IdentifierPath": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>Uniquely identifies the path for a change within the changeset. For example, the <code>IdentifierPath</code> for a core network segment change might be <code>\"CORE_NETWORK_SEGMENT/us-east-1/devsegment\"</code>.</p>"
          }
        },
        "EventTime": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for an event change in status.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.networkmanager#ChangeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the core network change event.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.networkmanager#CoreNetworkChangeEventValues",
          "traits": {
            "smithy.api#documentation": "<p>Details of the change event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network change event. This can be a change to a segment, attachment, route, etc.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChangeEventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkChangeEvent"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChangeEventValues": {
      "type": "structure",
      "members": {
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The edge location for the core network change event.</p>"
          }
        },
        "SegmentName": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The segment name if the change event is associated with a segment.</p>"
          }
        },
        "AttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment if the change event is associated with an attachment.  </p>"
          }
        },
        "Cidr": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>STATIC_ROUTE</code> event, this is the IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network change event.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkChange"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkChangeValues": {
      "type": "structure",
      "members": {
        "SegmentName": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The names of the segments in a core network.</p>"
          }
        },
        "EdgeLocations": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCodeList",
          "traits": {
            "smithy.api#documentation": "<p>The Regions where edges are located in a core network. </p>"
          }
        },
        "Asn": {
          "target": "com.amazonaws.networkmanager#Long",
          "traits": {
            "smithy.api#documentation": "<p>The ASN of a core network.</p>"
          }
        },
        "Cidr": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses used for a core network.</p>"
          }
        },
        "DestinationIdentifier": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the destination.</p>"
          }
        },
        "InsideCidrBlocks": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The inside IP addresses used for core network change values.</p>"
          }
        },
        "SharedSegments": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The shared segments for a core network change value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network change.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkEdge": {
      "type": "structure",
      "members": {
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Region where a core network edge is located.</p>"
          }
        },
        "Asn": {
          "target": "com.amazonaws.networkmanager#Long",
          "traits": {
            "smithy.api#documentation": "<p>The ASN of a core network edge.</p>"
          }
        },
        "InsideCidrBlocks": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The inside IP addresses used for core network edges.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network edge.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkEdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkEdge"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^core-network-([0-9a-f]{8,17})$"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicy": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "PolicyVersionId": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy version.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyAlias",
          "traits": {
            "smithy.api#documentation": "<p>Whether a core network policy is the current LIVE policy or the most recently submitted policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of a core network policy.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when a core network policy was created.</p>"
          }
        },
        "ChangeSetState": {
          "target": "com.amazonaws.networkmanager#ChangeSetState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a core network policy.</p>"
          }
        },
        "PolicyErrors": {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Describes any errors in a core network policy.</p>"
          }
        },
        "PolicyDocument": {
          "target": "com.amazonaws.networkmanager#SynthesizedJsonCoreNetworkPolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>Describes a core network policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network policy. You can have only one LIVE Core Policy.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyAlias": {
      "type": "enum",
      "members": {
        "LIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIVE"
          }
        },
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATEST"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyDocument": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000000
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with a core network policy error.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with a core network policy error code.</p>",
            "smithy.api#required": {}
          }
        },
        "Path": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#documentation": "<p>The JSON path where the error was discovered in the policy document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an error in a core network policy.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkPolicyError"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.networkmanager#ServerSideString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Describes a core network policy exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network policy exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyVersion": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "PolicyVersionId": {
          "target": "com.amazonaws.networkmanager#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the policy version.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyAlias",
          "traits": {
            "smithy.api#documentation": "<p>Whether a core network policy is the current policy or the most recently submitted policy.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of a core network policy version.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.networkmanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when a core network policy version was created.</p>"
          }
        },
        "ChangeSetState": {
          "target": "com.amazonaws.networkmanager#ChangeSetState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the policy version change set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network policy version.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkPolicyVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkPolicyVersion"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkSegment": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a core network segment.</p>"
          }
        },
        "EdgeLocations": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCodeList",
          "traits": {
            "smithy.api#documentation": "<p>The Regions where the edges are located.</p>"
          }
        },
        "SharedSegments": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The shared segments of a core network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a core network segment, which are dedicated routes. Only attachments within this segment can communicate with each other.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkSegmentEdgeIdentifier": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "SegmentName": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the segment edge.</p>"
          }
        },
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the segment edge is located.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns details about a core network edge.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkSegmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkSegment"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkSummary": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network.</p>"
          }
        },
        "CoreNetworkArn": {
          "target": "com.amazonaws.networkmanager#CoreNetworkArn",
          "traits": {
            "smithy.api#documentation": "<p>a core network ARN.</p>"
          }
        },
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The global network ID.</p>"
          }
        },
        "OwnerAccountId": {
          "target": "com.amazonaws.networkmanager#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account owner.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.networkmanager#CoreNetworkState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a core network.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of a core network.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tags associated with a core network summary.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns summary information about a core network.</p>"
      }
    },
    "com.amazonaws.networkmanager#CoreNetworkSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkmanager#CoreNetworkSummary"
      }
    },
    "com.amazonaws.networkmanager#CreateConnectAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateConnectAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateConnectAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a core network Connect attachment from a specified core network attachment. </p>\n         <p>A core network Connect attachment is a GRE-based tunnel attachment that you can use to\n         establish a connection between a core network and an appliance. A core network Connect\n         attachment uses an existing VPC attachment as the underlying transport mechanism.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/connect-attachments",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectAttachmentRequest": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network where you want to create the attachment. </p>",
            "smithy.api#required": {}
          }
        },
        "EdgeLocation": {
          "target": "com.amazonaws.networkmanager#ExternalRegionCode",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the edge is located.</p>",
            "smithy.api#required": {}
          }
        },
        "TransportAttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the attachment between the two connections.</p>",
            "smithy.api#required": {}
          }
        },
        "Options": {
          "target": "com.amazonaws.networkmanager#ConnectAttachmentOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for creating an attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value tags associated with the request.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.networkmanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectAttachmentResponse": {
      "type": "structure",
      "members": {
        "ConnectAttachment": {
          "target": "com.amazonaws.networkmanager#ConnectAttachment",
          "traits": {
            "smithy.api#documentation": "<p>The response to a Connect attachment request.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectPeer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateConnectPeerRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateConnectPeerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a core network Connect peer for a specified core network connect attachment between a core network and an appliance.\n         The peer address and transit gateway address must be the same IP address family (IPv4 or IPv6).</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/connect-peers",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectPeerRequest": {
      "type": "structure",
      "members": {
        "ConnectAttachmentId": {
          "target": "com.amazonaws.networkmanager#AttachmentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the connection attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "CoreNetworkAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>A Connect peer core network address.</p>"
          }
        },
        "PeerAddress": {
          "target": "com.amazonaws.networkmanager#IPAddress",
          "traits": {
            "smithy.api#documentation": "<p>The Connect peer address.</p>",
            "smithy.api#required": {}
          }
        },
        "BgpOptions": {
          "target": "com.amazonaws.networkmanager#BgpOptions",
          "traits": {
            "smithy.api#documentation": "<p>The Connect peer BGP options.</p>"
          }
        },
        "InsideCidrBlocks": {
          "target": "com.amazonaws.networkmanager#ConstrainedStringList",
          "traits": {
            "smithy.api#documentation": "<p>The inside IP addresses used for BGP peering.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the peer request.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.networkmanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectPeerResponse": {
      "type": "structure",
      "members": {
        "ConnectPeer": {
          "target": "com.amazonaws.networkmanager#ConnectPeer",
          "traits": {
            "smithy.api#documentation": "<p>The response to the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connection between two devices. The devices can be a physical or virtual appliance that connects to a third-party appliance in a VPC, or a physical appliance that connects to another physical appliance in an on-premises network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/connections",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectionRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the first device in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectedDeviceId": {
          "target": "com.amazonaws.networkmanager#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the second device in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "LinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the first device.</p>"
          }
        },
        "ConnectedLinkId": {
          "target": "com.amazonaws.networkmanager#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the link for the second device.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the connection.</p>\n        <p>Length Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.networkmanager#Connection",
          "traits": {
            "smithy.api#documentation": "<p>Information about the connection.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateCoreNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateCoreNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateCoreNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a core network as part of your global network, and optionally, with a core network policy.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/core-networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateCoreNetworkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network that a core network will be a part of. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The description of a core network.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value tags associated with a core network request.</p>"
          }
        },
        "PolicyDocument": {
          "target": "com.amazonaws.networkmanager#CoreNetworkPolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The policy document for creating a core network.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.networkmanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token associated with a core network request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateCoreNetworkResponse": {
      "type": "structure",
      "members": {
        "CoreNetwork": {
          "target": "com.amazonaws.networkmanager#CoreNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Returns details about a core network.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new device in a global network. If you specify both a site ID and a\n            location, the location of the site is used for visualization in the Network Manager console.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AWSLocation": {
          "target": "com.amazonaws.networkmanager#AWSLocation",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services location of the device, if applicable. For an on-premises device, you can omit this parameter.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the device.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device.</p>"
          }
        },
        "Vendor": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The vendor of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The model of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the device.</p>\n        <p>Constraints: Maximum length of 128 characters.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The location of the device.</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateDeviceResponse": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.networkmanager#Device",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateGlobalNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new, empty global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the global network.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateGlobalNetworkResponse": {
      "type": "structure",
      "members": {
        "GlobalNetwork": {
          "target": "com.amazonaws.networkmanager#GlobalNetwork",
          "traits": {
            "smithy.api#documentation": "<p>Information about the global network object.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new link for a specified site.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/links",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the link.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the link.</p>\n        <p>Constraints: Maximum length of 128 characters. Cannot include the following characters: | \\ ^</p>"
          }
        },
        "Bandwidth": {
          "target": "com.amazonaws.networkmanager#Bandwidth",
          "traits": {
            "smithy.api#documentation": "<p> The upload speed and download speed in Mbps. </p>",
            "smithy.api#required": {}
          }
        },
        "Provider": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the link.</p>\n        <p>Constraints: Maximum length of 128 characters. Cannot include the following characters: | \\ ^</p>"
          }
        },
        "SiteId": {
          "target": "com.amazonaws.networkmanager#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the site.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateLinkResponse": {
      "type": "structure",
      "members": {
        "Link": {
          "target": "com.amazonaws.networkmanager#Link",
          "traits": {
            "smithy.api#documentation": "<p>Information about the link.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new site in a global network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-networks/{GlobalNetworkId}/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteRequest": {
      "type": "structure",
      "members": {
        "GlobalNetworkId": {
          "target": "com.amazonaws.networkmanager#GlobalNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.networkmanager#ConstrainedString",
          "traits": {
            "smithy.api#documentation": "<p>A description of your site.</p>\n        <p>Constraints: Maximum length of 256 characters.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.networkmanager#Location",
          "traits": {
            "smithy.api#documentation": "<p>The site location. This information is used for visualization in the Network Manager console. If you specify the address, the latitude and longitude are automatically calculated.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>Address</code>: The physical address of the site.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Latitude</code>: The latitude of the site. </p>\n            </li>\n            <li>\n               <p>\n                  <code>Longitude</code>: The longitude of the site.</p>\n            </li>\n         </ul>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the resource during creation.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteResponse": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.networkmanager#Site",
          "traits": {
            "smithy.api#documentation": "<p>Information about the site.</p>"
          }
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteToSiteVpnAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkmanager#CreateSiteToSiteVpnAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.networkmanager#CreateSiteToSiteVpnAttachmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkmanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkmanager#ConflictException"
        },
        {
          "target": "com.amazonaws.networkmanager#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkmanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkmanager#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkmanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Web Services site-to-site VPN attachment on an edge location of a core network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/site-to-site-vpn-attachments",
          "code": 200
        }
      }
    },
    "com.amazonaws.networkmanager#CreateSiteToSiteVpnAttachmentRequest": {
      "type": "structure",
      "members": {
        "CoreNetworkId": {
          "target": "com.amazonaws.networkmanager#CoreNetworkId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a core network where you're creating a site-to-site VPN attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "VpnConnectionArn": {
          "target": "com.amazonaws.networkmanager#VpnConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN identifying the VPN attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.networkmanager#TagList",
          "traits": {
[...]
