{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.networkflowmonitor#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient permission to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.networkflowmonitor#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.networkflowmonitor#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:.*$"
      }
    },
    "com.amazonaws.networkflowmonitor#AvailabilityZone": {
      "type": "string"
    },
    "com.amazonaws.networkflowmonitor#AwsRegion": {
      "type": "string"
    },
    "com.amazonaws.networkflowmonitor#Component": {
      "type": "string"
    },
    "com.amazonaws.networkflowmonitor#ComponentType": {
      "type": "string"
    },
    "com.amazonaws.networkflowmonitor#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource is in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.networkflowmonitor#CreateMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#CreateMonitorInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#CreateMonitorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ConflictException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a monitor"
        },
        "smithy.api#documentation": "<p>Create a monitor for specific network flows between local and remote resources, so that you can monitor network performance for one or several of your workloads. For each monitor, Network Flow Monitor publishes detailed end-to-end performance metrics and a network health indicator (NHI) that informs you whether there were Amazon Web Services network issues for one or more of the network flows tracked by a monitor, during a time period that you choose. </p>",
        "smithy.api#http": {
          "uri": "/monitors",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.networkflowmonitor#CreateMonitorInput": {
      "type": "structure",
      "members": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor. </p>",
            "smithy.api#required": {}
          }
        },
        "localResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorLocalResources",
          "traits": {
            "smithy.api#documentation": "<p>The local resources to monitor. A local resource in a workload is the location of the host, or hosts, where the Network Flow Monitor agent is installed. For example, if a workload consists of an interaction between a web service and a backend database (for example, Amazon Dynamo DB), the subnet with the EC2 instance that hosts the web service, which also runs the agent, is the local resource.</p> <p>Be aware that all local resources must belong to the current Region.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "remoteResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorRemoteResources",
          "traits": {
            "smithy.api#documentation": "<p>The remote resources to monitor. A remote resource is the other endpoint in the bi-directional flow of a workload, with a local resource. For example, Amazon Dynamo DB can be a remote resource.</p> <p>When you specify remote resources, be aware that specific combinations of resources are allowed and others are not, including the following constraints:</p> <ul> <li> <p>All remote resources that you specify must all belong to a single Region.</p> </li> <li> <p>If you specify Amazon Web Services services as remote resources, any other remote resources that you specify must be in the current Region.</p> </li> <li> <p>When you specify a remote resource for another Region, you can only specify the <code>Region</code> resource type. You cannot specify a subnet, VPC, or Availability Zone in another Region.</p> </li> <li> <p>If you leave the <code>RemoteResources</code> parameter empty, the monitor will include all network flows that terminate in the current Region.</p> </li> </ul>"
          }
        },
        "scopeArn": {
          "target": "com.amazonaws.networkflowmonitor#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the scope for the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.networkflowmonitor#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters that you specify to make an idempotent API request. Don't reuse the same client token for other API requests.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a monitor. You can add a maximum of 200 tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#CreateMonitorOutput": {
      "type": "structure",
      "members": {
        "monitorArn": {
          "target": "com.amazonaws.networkflowmonitor#MonitorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor. </p>",
            "smithy.api#required": {}
          }
        },
        "monitorStatus": {
          "target": "com.amazonaws.networkflowmonitor#MonitorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a monitor. The status can be one of the following</p> <ul> <li> <p> <code>PENDING</code>: The monitor is in the process of being created.</p> </li> <li> <p> <code>ACTIVE</code>: The monitor is active.</p> </li> <li> <p> <code>INACTIVE</code>: The monitor is inactive.</p> </li> <li> <p> <code>ERROR</code>: Monitor creation failed due to an error.</p> </li> <li> <p> <code>DELETING</code>: The monitor is in the process of being deleted.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "localResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorLocalResources",
          "traits": {
            "smithy.api#documentation": "<p>The local resources to monitor. A local resource in a workload is the location of hosts where the Network Flow Monitor agent is installed. </p>",
            "smithy.api#required": {}
          }
        },
        "remoteResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorRemoteResources",
          "traits": {
            "smithy.api#documentation": "<p>The remote resources to monitor. A remote resource is the other endpoint specified for the network flow of a workload, with a local resource. For example, Amazon Dynamo DB can be a remote resource. </p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.networkflowmonitor#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the monitor was created.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.networkflowmonitor#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that the monitor was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a monitor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#CreateScope": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#CreateScopeInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#CreateScopeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ConflictException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a scope"
        },
        "smithy.api#documentation": "<p>In Network Flow Monitor, you specify a scope for the service to generate metrics for. By using the scope, Network Flow Monitor can generate a topology of all the resources to measure performance metrics for. When you create a scope, you enable permissions for Network Flow Monitor.</p> <p>A scope is a Region-account pair or multiple Region-account pairs. Network Flow Monitor uses your scope to determine all the resources (the topology) where Network Flow Monitor will gather network flow performance metrics for you. To provide performance metrics, Network Flow Monitor uses the data that is sent by the Network Flow Monitor agents you install on the resources.</p> <p>To define the Region-account pairs for your scope, the Network Flow Monitor API uses the following constucts, which allow for future flexibility in defining scopes:</p> <ul> <li> <p> <i>Targets</i>, which are arrays of targetResources.</p> </li> <li> <p> <i>Target resources</i>, which are Region-targetIdentifier pairs.</p> </li> <li> <p> <i>Target identifiers</i>, made up of a targetID (currently always an account ID) and a targetType (currently always an account). </p> </li> </ul>",
        "smithy.api#http": {
          "uri": "/scopes",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.networkflowmonitor#CreateScopeInput": {
      "type": "structure",
      "members": {
        "targets": {
          "target": "com.amazonaws.networkflowmonitor#TargetResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The targets to define the scope to be monitored. A target is an array of targetResources, which are currently Region-account pairs, defined by targetResource constructs.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.networkflowmonitor#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters that you specify to make an idempotent API request. Don't reuse the same client token for other API requests.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a scope. You can add a maximum of 200 tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#CreateScopeOutput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get metrics for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.networkflowmonitor#ScopeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for a scope. The status can be one of the following: <code>SUCCEEDED</code>, <code>IN_PROGRESS</code>, <code>FAILED</code>, <code>DEACTIVATING</code>, or <code>DEACTIVATED</code>.</p> <p>A status of <code>DEACTIVATING</code> means that you've requested a scope to be deactivated and Network Flow Monitor is in the process of deactivating the scope. A status of <code>DEACTIVATED</code> means that the deactivating process is complete.</p>",
            "smithy.api#required": {}
          }
        },
        "scopeArn": {
          "target": "com.amazonaws.networkflowmonitor#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the scope.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a scope.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#DeleteMonitorInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#DeleteMonitorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ConflictException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a monitor"
        },
        "smithy.api#documentation": "<p>Deletes a monitor in Network Flow Monitor.</p>",
        "smithy.api#http": {
          "uri": "/monitors/{monitorName}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteMonitorInput": {
      "type": "structure",
      "members": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteMonitorOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteScope": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#DeleteScopeInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#DeleteScopeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ConflictException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a scope"
        },
        "smithy.api#documentation": "<p>Deletes a scope that has been defined.</p>",
        "smithy.api#http": {
          "uri": "/scopes/{scopeId}",
          "method": "DELETE"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteScopeInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DeleteScopeOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#DestinationCategory": {
      "type": "enum",
      "members": {
        "INTRA_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTRA_AZ"
          }
        },
        "INTER_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTER_AZ"
          }
        },
        "INTER_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTER_VPC"
          }
        },
        "UNCLASSIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNCLASSIFIED"
          }
        },
        "AMAZON_S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_S3"
          }
        },
        "AMAZON_DYNAMODB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_DYNAMODB"
          }
        },
        "INTER_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTER_REGION"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#GetMonitor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetMonitorInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetMonitorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get information about a monitor"
        },
        "smithy.api#documentation": "<p>Gets information about a monitor in Network Flow Monitor based on a monitor name. The information returned includes the Amazon Resource Name (ARN), create time, modified time, resources included in the monitor, and status information.</p>",
        "smithy.api#http": {
          "uri": "/monitors/{monitorName}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetMonitorInput": {
      "type": "structure",
      "members": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetMonitorOutput": {
      "type": "structure",
      "members": {
        "monitorArn": {
          "target": "com.amazonaws.networkflowmonitor#MonitorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "monitorStatus": {
          "target": "com.amazonaws.networkflowmonitor#MonitorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a monitor. The status can be one of the following</p> <ul> <li> <p> <code>PENDING</code>: The monitor is in the process of being created.</p> </li> <li> <p> <code>ACTIVE</code>: The monitor is active.</p> </li> <li> <p> <code>INACTIVE</code>: The monitor is inactive.</p> </li> <li> <p> <code>ERROR</code>: Monitor creation failed due to an error.</p> </li> <li> <p> <code>DELETING</code>: The monitor is in the process of being deleted.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "localResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorLocalResources",
          "traits": {
            "smithy.api#documentation": "<p>The local resources to monitor. A local resource in a workload is the location of the hosts where the Network Flow Monitor agent is installed. </p>",
            "smithy.api#required": {}
          }
        },
        "remoteResources": {
          "target": "com.amazonaws.networkflowmonitor#MonitorRemoteResources",
          "traits": {
            "smithy.api#documentation": "<p>The remote resources to monitor. A remote resource is the other endpoint specified for the network flow of a workload, with a local resource. For example, Amazon Dynamo DB can be a remote resource. </p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.networkflowmonitor#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the monitor was created.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedAt": {
          "target": "com.amazonaws.networkflowmonitor#Iso8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the monitor was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a monitor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributorsInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the results of a query that retrieves top contributors data for a monitor"
        },
        "smithy.api#documentation": "<p>Return the data for a query with the Network Flow Monitor query interface. You specify the query that you want to return results for by providing a query ID and a monitor name. This query returns the top contributors for a specific monitor.</p> <p>Create a query ID for this call by calling the corresponding API call to start the query, <code>StartQueryMonitorTopContributors</code>. Use the scope ID that was returned for your account by <code>CreateScope</code>.</p> <p>Top contributors in Network Flow Monitor are network flows with the highest values for a specific metric type. Top contributors can be across all workload insights, for a given scope, or for a specific monitor. Use the applicable call for the top contributors that you want to be returned.</p>",
        "smithy.api#http": {
          "uri": "/monitors/{monitorName}/topContributorsQueries/{queryId}/results",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "topContributors"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributorsInput": {
      "type": "structure",
      "members": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to create a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributorsOutput": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.amazonaws.networkflowmonitor#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The units for a metric returned by the query.</p>"
          }
        },
        "topContributors": {
          "target": "com.amazonaws.networkflowmonitor#MonitorTopContributorsRowList",
          "traits": {
            "smithy.api#documentation": "<p>The top contributor network flows overall for a specific metric type, for example, the number of retransmissions.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the results of a query that retrieves top contributors for workload insights"
        },
        "smithy.api#documentation": "<p>Return the data for a query with the Network Flow Monitor query interface. You specify the query that you want to return results for by providing a query ID and a monitor name.</p> <p>This query returns the top contributors for a scope for workload insights. Workload insights provide a high level view of network flow performance data collected by agents. To return the data for the top contributors, see <code>GetQueryResultsWorkloadInsightsTopContributorsData</code>.</p> <p>Create a query ID for this call by calling the corresponding API call to start the query, <code>StartQueryWorkloadInsightsTopContributors</code>. Use the scope ID that was returned for your account by <code>CreateScope</code>.</p> <p>Top contributors in Network Flow Monitor are network flows with the highest values for a specific metric type. Top contributors can be across all workload insights, for a given scope, or for a specific monitor. Use the applicable call for the top contributors that you want to be returned.</p>",
        "smithy.api#http": {
          "uri": "/workloadInsights/{scopeId}/topContributorsQueries/{queryId}/results",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "topContributors"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsDataInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the results of a query that retrieves top contributors data points for workload insights"
        },
        "smithy.api#documentation": "<p>Return the data for a query with the Network Flow Monitor query interface. Specify the query that you want to return results for by providing a query ID and a scope ID.</p> <p>This query returns the data for top contributors for workload insights for a specific scope. Workload insights provide a high level view of network flow performance data collected by agents for a scope. To return just the top contributors, see <code>GetQueryResultsWorkloadInsightsTopContributors</code>.</p> <p>Create a query ID for this call by calling the corresponding API call to start the query, <code>StartQueryWorkloadInsightsTopContributorsData</code>. Use the scope ID that was returned for your account by <code>CreateScope</code>.</p> <p>Top contributors in Network Flow Monitor are network flows with the highest values for a specific metric type. Top contributors can be across all workload insights, for a given scope, or for a specific monitor. Use the applicable call for the top contributors that you want to be returned.</p> <p>The top contributor network flows overall are for a specific metric type, for example, the number of retransmissions.</p>",
        "smithy.api#http": {
          "uri": "/workloadInsights/{scopeId}/topContributorsDataQueries/{queryId}/results",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "datapoints"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsDataInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to create a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsDataOutput": {
      "type": "structure",
      "members": {
        "unit": {
          "target": "com.amazonaws.networkflowmonitor#MetricUnit",
          "traits": {
            "smithy.api#documentation": "<p>The units for a metric returned by the query.</p>",
            "smithy.api#required": {}
          }
        },
        "datapoints": {
          "target": "com.amazonaws.networkflowmonitor#WorkloadInsightsTopContributorsDataPoints",
          "traits": {
            "smithy.api#documentation": "<p>The datapoints returned by the query.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to create a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryResultsWorkloadInsightsTopContributorsOutput": {
      "type": "structure",
      "members": {
        "topContributors": {
          "target": "com.amazonaws.networkflowmonitor#WorkloadInsightsTopContributorsRowList",
          "traits": {
            "smithy.api#documentation": "<p>The top contributor network flows overall for a specific metric type, for example, the number of retransmissions.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributorsInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the status of a query that retrieves top contributors data for a monitor"
        },
        "smithy.api#documentation": "<p>Returns the current status of a query for the Network Flow Monitor query interface, for a specified query ID and monitor. This call returns the query status for the top contributors for a monitor.</p> <p>When you create a query, use this call to check the status of the query to make sure that it has has <code>SUCCEEDED</code> before you review the results. Use the same query ID that you used for the corresponding API call to start (create) the query, <code>StartQueryMonitorTopContributors</code>.</p> <p>When you run a query, use this call to check the status of the query to make sure that the query has <code>SUCCEEDED</code> before you review the results.</p>",
        "smithy.api#http": {
          "uri": "/monitors/{monitorName}/topContributorsQueries/{queryId}/status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributorsInput": {
      "type": "structure",
      "members": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to start a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributorsOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.networkflowmonitor#QueryStatus",
          "traits": {
            "smithy.api#documentation": "<p>When you run a query, use this call to check the status of the query to make sure that the query has <code>SUCCEEDED</code> before you review the results.</p> <ul> <li> <p> <code>QUEUED</code>: The query is scheduled to run.</p> </li> <li> <p> <code>RUNNING</code>: The query is in progress but not complete.</p> </li> <li> <p> <code>SUCCEEDED</code>: The query completed sucessfully.</p> </li> <li> <p> <code>FAILED</code>: The query failed due to an error.</p> </li> <li> <p> <code>CANCELED</code>: The query was canceled.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the status of a query that retrieves top contributors for workload insights"
        },
        "smithy.api#documentation": "<p>Return the data for a query with the Network Flow Monitor query interface. Specify the query that you want to return results for by providing a query ID and a monitor name. This query returns the top contributors for workload insights.</p> <p>When you start a query, use this call to check the status of the query to make sure that it has has <code>SUCCEEDED</code> before you review the results. Use the same query ID that you used for the corresponding API call to start the query, <code>StartQueryWorkloadInsightsTopContributors</code>.</p> <p>Top contributors in Network Flow Monitor are network flows with the highest values for a specific metric type. Top contributors can be across all workload insights, for a given scope, or for a specific monitor. Use the applicable call for the top contributors that you want to be returned.</p>",
        "smithy.api#http": {
          "uri": "/workloadInsights/{scopeId}/topContributorsQueries/{queryId}/status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsDataInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get the status of a query that retrieves top contributors data points for workload insights"
        },
        "smithy.api#documentation": "<p>Returns the current status of a query for the Network Flow Monitor query interface, for a specified query ID and monitor. This call returns the query status for the top contributors data for workload insights.</p> <p>When you start a query, use this call to check the status of the query to make sure that it has has <code>SUCCEEDED</code> before you review the results. Use the same query ID that you used for the corresponding API call to start the query, <code>StartQueryWorkloadInsightsTopContributorsData</code>.</p> <p>Top contributors in Network Flow Monitor are network flows with the highest values for a specific metric type. Top contributors can be across all workload insights, for a given scope, or for a specific monitor. Use the applicable call for the top contributors that you want to be returned.</p> <p>The top contributor network flows overall are for a specific metric type, for example, the number of retransmissions.</p>",
        "smithy.api#http": {
          "uri": "/workloadInsights/{scopeId}/topContributorsDataQueries/{queryId}/status",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsDataInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account. A scope ID is returned from a <code>CreateScope</code> API call.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to start a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsDataOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.networkflowmonitor#QueryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a query for top contributors data.</p> <ul> <li> <p> <code>QUEUED</code>: The query is scheduled to run.</p> </li> <li> <p> <code>RUNNING</code>: The query is in progress but not complete.</p> </li> <li> <p> <code>SUCCEEDED</code>: The query completed sucessfully.</p> </li> <li> <p> <code>FAILED</code>: The query failed due to an error.</p> </li> <li> <p> <code>CANCELED</code>: The query was canceled.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "queryId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the query. A query ID is an internally-generated identifier for a specific query returned from an API call to start a query.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetQueryStatusWorkloadInsightsTopContributorsOutput": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.networkflowmonitor#QueryStatus",
          "traits": {
            "smithy.api#documentation": "<p>When you run a query, use this call to check the status of the query to make sure that the query has <code>SUCCEEDED</code> before you review the results.</p> <ul> <li> <p> <code>QUEUED</code>: The query is scheduled to run.</p> </li> <li> <p> <code>RUNNING</code>: The query is in progress but not complete.</p> </li> <li> <p> <code>SUCCEEDED</code>: The query completed sucessfully.</p> </li> <li> <p> <code>FAILED</code>: The query failed due to an error.</p> </li> <li> <p> <code>CANCELED</code>: The query was canceled.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetScope": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#GetScopeInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#GetScopeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get information about a scope"
        },
        "smithy.api#documentation": "<p>Gets information about a scope, including the name, status, tags, and target details. The scope in Network Flow Monitor is an account.</p>",
        "smithy.api#http": {
          "uri": "/scopes/{scopeId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetScopeInput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account. A scope ID is returned from a <code>CreateScope</code> API call.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#GetScopeOutput": {
      "type": "structure",
      "members": {
        "scopeId": {
          "target": "com.amazonaws.networkflowmonitor#ScopeId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the scope that includes the resources you want to get data results for. A scope ID is an internally-generated identifier that includes all the resources for a specific root account. A scope ID is returned from a <code>CreateScope</code> API call.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.networkflowmonitor#ScopeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for a scope. The status can be one of the following: <code>SUCCEEDED</code>, <code>IN_PROGRESS</code>, <code>FAILED</code>, <code>DEACTIVATING</code>, or <code>DEACTIVATED</code>.</p> <p>A status of <code>DEACTIVATING</code> means that you've requested a scope to be deactivated and Network Flow Monitor is in the process of deactivating the scope. A status of <code>DEACTIVATED</code> means that the deactivating process is complete.</p>",
            "smithy.api#required": {}
          }
        },
        "scopeArn": {
          "target": "com.amazonaws.networkflowmonitor#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the scope.</p>",
            "smithy.api#required": {}
          }
        },
        "targets": {
          "target": "com.amazonaws.networkflowmonitor#TargetResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The targets to define the scope to be monitored. A target is an array of targetResources, which are currently Region-account pairs, defined by targetResource constructs.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a scope.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#InstanceArn": {
      "type": "string"
    },
    "com.amazonaws.networkflowmonitor#InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^i-[a-zA-Z0-9]{8,32}$"
      }
    },
    "com.amazonaws.networkflowmonitor#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.networkflowmonitor#Iso8601Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.networkflowmonitor#KubernetesMetadata": {
      "type": "structure",
      "members": {
        "localServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name for a local resource.</p>"
          }
        },
        "localPodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pod for a local resource.</p>"
          }
        },
        "localPodNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the pod for a local resource.</p>"
          }
        },
        "remoteServiceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The service name for a remote resource.</p>"
          }
        },
        "remotePodName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pod for a remote resource.</p>"
          }
        },
        "remotePodNamespace": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the pod for a remote resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Meta data about Kubernetes resources.</p>"
      }
    },
    "com.amazonaws.networkflowmonitor#Limit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.networkflowmonitor#ListMonitors": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#ListMonitorsInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#ListMonitorsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list all monitors in an account and their statuses"
        },
        "smithy.api#documentation": "<p>List all monitors in an account. Optionally, you can list only monitors that have a specific status, by using the <code>STATUS</code> parameter.</p>",
        "smithy.api#http": {
          "uri": "/monitors",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "monitors"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListMonitors",
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.networkflowmonitor#ListMonitorsInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.networkflowmonitor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "monitorStatus": {
          "target": "com.amazonaws.networkflowmonitor#MonitorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a monitor. The status can be one of the following</p> <ul> <li> <p> <code>PENDING</code>: The monitor is in the process of being created.</p> </li> <li> <p> <code>ACTIVE</code>: The monitor is active.</p> </li> <li> <p> <code>INACTIVE</code>: The monitor is inactive.</p> </li> <li> <p> <code>ERROR</code>: Monitor creation failed due to an error.</p> </li> <li> <p> <code>DELETING</code>: The monitor is in the process of being deleted.</p> </li> </ul>",
            "smithy.api#httpQuery": "monitorStatus"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListMonitorsOutput": {
      "type": "structure",
      "members": {
        "monitors": {
          "target": "com.amazonaws.networkflowmonitor#MonitorList",
          "traits": {
            "smithy.api#documentation": "<p>The monitors that are in an account.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListScopes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#ListScopesInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#ListScopesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get all scopes for an account"
        },
        "smithy.api#documentation": "<p>List all the scopes for an account.</p>",
        "smithy.api#http": {
          "uri": "/scopes",
          "method": "GET"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "scopes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListScopesInput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.networkflowmonitor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of query results that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListScopesOutput": {
      "type": "structure",
      "members": {
        "scopes": {
          "target": "com.amazonaws.networkflowmonitor#ScopeSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The scopes returned by the call.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.networkflowmonitor#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.networkflowmonitor#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.networkflowmonitor#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ConflictException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#InternalServerException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ThrottlingException"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list the tags for a resource"
        },
        "smithy.api#documentation": "<p>Returns all the tags for a resource.</p>",
        "smithy.api#http": {
          "uri": "/tags/{resourceArn}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.networkflowmonitor#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.networkflowmonitor#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.api#data": "tagging",
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.networkflowmonitor#ScopeResource",
            "ids": {
              "scopeId": "resourceArn"
            }
          },
          {
            "resource": "com.amazonaws.networkflowmonitor#MonitorResource",
            "ids": {
              "monitorName": "resourceArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.networkflowmonitor#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.networkflowmonitor#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags for a resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.networkflowmonitor#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MetricUnit": {
      "type": "enum",
      "members": {
        "SECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seconds"
          }
        },
        "MICROSECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microseconds"
          }
        },
        "MILLISECONDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Milliseconds"
          }
        },
        "BYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes"
          }
        },
        "KILOBYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kilobytes"
          }
        },
        "MEGABYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Megabytes"
          }
        },
        "GIGABYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gigabytes"
          }
        },
        "TERABYTES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terabytes"
          }
        },
        "BITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bits"
          }
        },
        "KILOBITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kilobits"
          }
        },
        "MEGABITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Megabits"
          }
        },
        "GIGABITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gigabits"
          }
        },
        "TERABITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terabits"
          }
        },
        "PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Percent"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "BYTES_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bytes/Second"
          }
        },
        "KILOBYTES_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kilobytes/Second"
          }
        },
        "MEGABYTES_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Megabytes/Second"
          }
        },
        "GIGABYTES_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gigabytes/Second"
          }
        },
        "TERABYTES_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terabytes/Second"
          }
        },
        "BITS_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Bits/Second"
          }
        },
        "KILOBITS_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Kilobits/Second"
          }
        },
        "MEGABITS_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Megabits/Second"
          }
        },
        "GIGABITS_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gigabits/Second"
          }
        },
        "TERABITS_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Terabits/Second"
          }
        },
        "COUNT_PER_SECOND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count/Second"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "None"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 512
        },
        "smithy.api#pattern": "^arn:.*$"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkflowmonitor#MonitorSummary"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorLocalResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.networkflowmonitor#MonitorLocalResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the local resource. Valid values are <code>AWS::EC2::VPC</code> <code>AWS::AvailabilityZone</code>, <code>AWS::EC2::Subnet</code>, or <code>AWS::Region</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the local resource. For a VPC or subnet, this identifier is the VPC Amazon Resource Name (ARN) or subnet ARN. For an Availability Zone, this identifier is the AZ name, for example, us-west-2b.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A local resource is the host where the agent is installed. Local resources can be a a subnet, a VPC, an Availability Zone, or an Amazon Web Services service.</p>"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorLocalResourceType": {
      "type": "enum",
      "members": {
        "AWS_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::VPC"
          }
        },
        "AWS_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::AvailabilityZone"
          }
        },
        "AWS_SUBNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::Subnet"
          }
        },
        "AWS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::Region"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorLocalResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkflowmonitor#MonitorLocalResource"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorMetric": {
      "type": "enum",
      "members": {
        "ROUND_TRIP_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUND_TRIP_TIME"
          }
        },
        "TIMEOUTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMEOUTS"
          }
        },
        "RETRANSMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETRANSMISSIONS"
          }
        },
        "DATA_TRANSFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_TRANSFERRED"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorRemoteResource": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.networkflowmonitor#MonitorRemoteResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the remote resource. Valid values are <code>AWS::EC2::VPC</code> <code>AWS::AvailabilityZone</code>, <code>AWS::EC2::Subnet</code>, <code>AWS::AWSService</code>, or <code>AWS::Region</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the remote resource. For a VPC or subnet, this identifier is the VPC Amazon Resource Name (ARN) or subnet ARN. For an Availability Zone, this identifier is the AZ name, for example, us-west-2b. For an Amazon Web Services Region , this identifier is the Region name, for example, us-west-2. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A remote resource is the other endpoint in a network flow. That is, one endpoint is the local resource and the other is the remote resource. Remote resources can be a a subnet, a VPC, an Availability Zone, an Amazon Web Services service, or an Amazon Web Services Region.</p> <p>When a remote resource is an Amazon Web Services Region, Network Flow Monitor provides network performance measurements up to the edge of the Region that you specify.</p>"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorRemoteResourceType": {
      "type": "enum",
      "members": {
        "AWS_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::VPC"
          }
        },
        "AWS_AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::AvailabilityZone"
          }
        },
        "AWS_SUBNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::Subnet"
          }
        },
        "AWS_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::AWSService"
          }
        },
        "AWS_REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::Region"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorRemoteResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkflowmonitor#MonitorRemoteResource"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorResource": {
      "type": "resource",
      "identifiers": {
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.networkflowmonitor#CreateMonitor"
      },
      "read": {
        "target": "com.amazonaws.networkflowmonitor#GetMonitor"
      },
      "update": {
        "target": "com.amazonaws.networkflowmonitor#UpdateMonitor"
      },
      "delete": {
        "target": "com.amazonaws.networkflowmonitor#DeleteMonitor"
      },
      "list": {
        "target": "com.amazonaws.networkflowmonitor#ListMonitors"
      },
      "operations": [
        {
          "target": "com.amazonaws.networkflowmonitor#GetQueryResultsMonitorTopContributors"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#GetQueryStatusMonitorTopContributors"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#StartQueryMonitorTopContributors"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#StopQueryMonitorTopContributors"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "monitor/{monitorName}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "monitor"
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorSummary": {
      "type": "structure",
      "members": {
        "monitorArn": {
          "target": "com.amazonaws.networkflowmonitor#MonitorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "monitorName": {
          "target": "com.amazonaws.networkflowmonitor#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the monitor.</p>",
            "smithy.api#required": {}
          }
        },
        "monitorStatus": {
          "target": "com.amazonaws.networkflowmonitor#MonitorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a monitor. The status can be one of the following</p> <ul> <li> <p> <code>PENDING</code>: The monitor is in the process of being created.</p> </li> <li> <p> <code>ACTIVE</code>: The monitor is active.</p> </li> <li> <p> <code>INACTIVE</code>: The monitor is inactive.</p> </li> <li> <p> <code>ERROR</code>: Monitor creation failed due to an error.</p> </li> <li> <p> <code>DELETING</code>: The monitor is in the process of being deleted.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about a monitor, including the ARN, the name, and the status.</p>"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorTopContributorsRow": {
      "type": "structure",
      "members": {
        "localIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the local resource for a top contributor network flow.</p>"
          }
        },
        "snatIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The secure network address translation (SNAT) IP address for a top contributor network flow.</p>"
          }
        },
        "localInstanceId": {
          "target": "com.amazonaws.networkflowmonitor#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The instance identifier for the local resource for a top contributor network flow.</p>"
          }
        },
        "localVpcId": {
          "target": "com.amazonaws.networkflowmonitor#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID for a top contributor network flow for the local resource.</p>"
          }
        },
        "localRegion": {
          "target": "com.amazonaws.networkflowmonitor#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for the local resource for a top contributor network flow.</p>"
          }
        },
        "localAz": {
          "target": "com.amazonaws.networkflowmonitor#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone for the local resource for a top contributor network flow.</p>"
          }
        },
        "localSubnetId": {
          "target": "com.amazonaws.networkflowmonitor#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The subnet ID for the local resource for a top contributor network flow.</p>"
          }
        },
        "targetPort": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The target port.</p>"
          }
        },
        "destinationCategory": {
          "target": "com.amazonaws.networkflowmonitor#DestinationCategory",
          "traits": {
            "smithy.api#documentation": "<p>The destination category for a top contributors row. Destination categories can be one of the following: </p> <ul> <li> <p> <code>INTRA_AZ</code>: Top contributor network flows within a single Availability Zone</p> </li> <li> <p> <code>INTER_AZ</code>: Top contributor network flows between Availability Zones</p> </li> <li> <p> <code>INTER_REGION</code>: Top contributor network flows between Regions (to the edge of another Region)</p> </li> <li> <p> <code>INTER_VPC</code>: Top contributor network flows between VPCs</p> </li> <li> <p> <code>AWS_SERVICES</code>: Top contributor network flows to or from Amazon Web Services services</p> </li> <li> <p> <code>UNCLASSIFIED</code>: Top contributor network flows that do not have a bucket classification</p> </li> </ul>"
          }
        },
        "remoteVpcId": {
          "target": "com.amazonaws.networkflowmonitor#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID for a top contributor network flow for the remote resource.</p>"
          }
        },
        "remoteRegion": {
          "target": "com.amazonaws.networkflowmonitor#AwsRegion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for the remote resource for a top contributor network flow.</p>"
          }
        },
        "remoteAz": {
          "target": "com.amazonaws.networkflowmonitor#AvailabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone for the remote resource for a top contributor network flow.</p>"
          }
        },
        "remoteSubnetId": {
          "target": "com.amazonaws.networkflowmonitor#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The subnet ID for the remote resource for a top contributor network flow.</p>"
          }
        },
        "remoteInstanceId": {
          "target": "com.amazonaws.networkflowmonitor#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The instance identifier for the remote resource for a top contributor network flow.</p>"
          }
        },
        "remoteIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the remote resource for a top contributor network flow.</p>"
          }
        },
        "dnatIp": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The destination network address translation (DNAT) IP address for a top contributor network flow.</p>"
          }
        },
        "value": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The value of the metric for a top contributor network flow.</p>"
          }
        },
        "traversedConstructs": {
          "target": "com.amazonaws.networkflowmonitor#TraversedConstructsList",
          "traits": {
            "smithy.api#documentation": "<p>The constructs traversed by a network flow.</p>"
          }
        },
        "kubernetesMetadata": {
          "target": "com.amazonaws.networkflowmonitor#KubernetesMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Meta data about Kubernetes resources.</p>"
          }
        },
        "localInstanceArn": {
          "target": "com.amazonaws.networkflowmonitor#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a local resource.</p>"
          }
        },
        "localSubnetArn": {
          "target": "com.amazonaws.networkflowmonitor#SubnetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a local subnet.</p>"
          }
        },
        "localVpcArn": {
          "target": "com.amazonaws.networkflowmonitor#VpcArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a local VPC.</p>"
          }
        },
        "remoteInstanceArn": {
          "target": "com.amazonaws.networkflowmonitor#InstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a remote resource.</p>"
          }
        },
        "remoteSubnetArn": {
          "target": "com.amazonaws.networkflowmonitor#SubnetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a remote subnet.</p>"
          }
        },
        "remoteVpcArn": {
          "target": "com.amazonaws.networkflowmonitor#VpcArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a remote VPC.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of information for a top contributor network flow in a monitor. In a monitor, Network Flow Monitor returns information about the network flows for top contributors for each metric. Top contributors are network flows with the top values for each metric type.</p>"
      }
    },
    "com.amazonaws.networkflowmonitor#MonitorTopContributorsRowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.networkflowmonitor#MonitorTopContributorsRow"
      }
    },
    "com.amazonaws.networkflowmonitor#NetworkFlowMonitor": {
      "type": "service",
      "version": "2023-04-19",
      "operations": [
        {
          "target": "com.amazonaws.networkflowmonitor#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#TagResource"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.networkflowmonitor#MonitorResource"
        },
        {
          "target": "com.amazonaws.networkflowmonitor#ScopeResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "NetworkFlowMonitor",
          "arnNamespace": "networkflowmonitor",
          "cloudTrailEventSource": "networkflowmonitor.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "networkflowmonitor"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tag key-value pairs attached to the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tag key-value pairs in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by the tag keys in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": ["Content-Type", "X-Amz-Requested-Operation"]
        },
        "smithy.api#documentation": "<p>Network Flow Monitor is a feature of Amazon CloudWatch Network Monitoring that provides visibility into the performance of network flows for your Amazon Web Services workloads, between instances in subnets, as well as to and from Amazon Web Services. Lightweight agents that you install on the instances capture performance metrics for your network flows, such as packet loss and latency, and send them to the Network Flow Monitor backend. Then, you can view and analyze metrics from the top contributors for each metric type, to help troubleshoot issues.</p> <p>In addition, when you create a monitor, Network Flow Monitor provides a network health indicator (NHI) that informs you whether there were Amazon Web Services network issues for one or more of the network flows tracked by a monitor, during a time period that you choose. By using this value, you can independently determine if the Amazon Web Services network is impacting your workload during a specific time frame, to help you focus troubleshooting efforts.</p> <p>To learn more about Network Flow Monitor, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-NetworkFlowMonitor.html\">Network Flow Monitor User Guide</a> in the Amazon CloudWatch User Guide.</p>",
        "smithy.api#title": "Network Flow Monitor",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://networkflowmonitor-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://networkflowmonitor.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
[...]
