{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.nimble#AcceptEulas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#AcceptEulasRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#AcceptEulasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to accept EULAs",
        "smithy.api#documentation": "<p>Accept EULAs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/eula-acceptances",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#AcceptEulasRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "eulaIds": {
          "target": "com.amazonaws.nimble#EulaIdList",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#AcceptEulasResponse": {
      "type": "structure",
      "members": {
        "eulaAcceptances": {
          "target": "com.amazonaws.nimble#EulaAcceptanceList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of EULA acceptances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#AccessDeniedException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>A more specific error code.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.nimble#ExceptionContext",
          "traits": {
            "smithy.api#documentation": "<p>The exception context.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform this operation. Check your IAM\n            policies, and ensure that you are using the correct access keys.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the LDAP attribute.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value for the LDAP attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An LDAP attribute of an Active Directory computer account, in the form of a name:value\n            pair.</p>"
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttribute"
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of LDAP attributes to apply to Active Directory computer accounts that\n            are created for streaming sessions.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name for the LDAP attribute.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 40
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value for the LDAP attribute.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryConfiguration": {
      "type": "structure",
      "members": {
        "computerAttributes": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of custom attributes for an Active Directory computer.</p>"
          }
        },
        "directoryId": {
          "target": "com.amazonaws.nimble#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this studio\n            component.</p>"
          }
        },
        "organizationalUnitDistinguishedName": {
          "target": "com.amazonaws.nimble#ActiveDirectoryOrganizationalUnitDistinguishedName",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished name (DN) and organizational unit (OU) of an Active Directory\n            computer.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a Directory Service for Microsoft Active Directory studio resource.</p>"
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryDnsIpAddress": {
      "type": "string"
    },
    "com.amazonaws.nimble#ActiveDirectoryDnsIpAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#ActiveDirectoryDnsIpAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryOrganizationalUnitDistinguishedName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the\n            computer account in.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.nimble#AutomaticTerminationMode": {
      "type": "enum",
      "members": {
        "DEACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEACTIVATED"
          }
        },
        "ACTIVATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATED"
          }
        }
      }
    },
    "com.amazonaws.nimble#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#ComputeFarmConfiguration": {
      "type": "structure",
      "members": {
        "activeDirectoryUser": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Active Directory user that is used on ComputeFarm worker\n            instances.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.nimble#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the ComputeFarm that is accessed by the studio component\n            resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a render farm that is associated with a studio resource.</p>"
      }
    },
    "com.amazonaws.nimble#ConflictException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>A more specific error code.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.nimble#ExceptionContext",
          "traits": {
            "smithy.api#documentation": "<p>The exception context.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another operation is in progress. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a launch profile",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#requiredActions": [
          "ec2:CreateNetworkInterface",
          "ec2:RunInstances",
          "ec2:DescribeSubnets",
          "ec2:DescribeRouteTables",
          "ec2:DescribeNetworkAcls",
          "ec2:DescribeVpcEndpoints",
          "ec2:DescribeNatGateways"
        ],
        "smithy.api#documentation": "<p>Create a launch profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#LaunchProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "ec2SubnetIds": {
          "target": "com.amazonaws.nimble#EC2SubnetIdList",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>Specifies the IDs of the EC2 subnets where streaming sessions will be accessible from.\n            These subnets must support the specified instance types. </p>",
            "smithy.api#required": {}
          }
        },
        "launchProfileProtocolVersions": {
          "target": "com.amazonaws.nimble#LaunchProfileProtocolVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid\n            version is \"2021-03-31\".</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#LaunchProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the launch profile.</p>",
            "smithy.api#required": {}
          }
        },
        "streamConfiguration": {
          "target": "com.amazonaws.nimble#StreamConfigurationCreate",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A configuration for a streaming session.</p>",
            "smithy.api#required": {}
          }
        },
        "studioComponentIds": {
          "target": "com.amazonaws.nimble#LaunchProfileStudioComponentIdList",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifiers for a collection of studio components that can be used with this\n            launch profile.</p>",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key-value pairs, that apply to this\n            resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.nimble#StudioResource"
          }
        ]
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#CreateStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a streaming image",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#requiredActions": [
          "ec2:ModifyInstanceAttribute",
          "ec2:ModifySnapshotAttribute",
          "ec2:RegisterImage",
          "ec2:DescribeImages",
          "ec2:DescribeSnapshots"
        ],
        "smithy.api#documentation": "<p>Creates a streaming image resource in a studio.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingImageRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#StreamingImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the streaming image.</p>"
          }
        },
        "ec2ImageId": {
          "target": "com.amazonaws.nimble#EC2ImageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an EC2 machine image with which to create this streaming image.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#StreamingImageName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for a streaming image resource.</p>",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>A collection of labels, in the form of key-value pairs, that apply to this\n            resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.nimble#StudioResource"
          }
        ]
      }
    },
    "com.amazonaws.nimble#CreateStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#CreateStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a streaming session",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#requiredActions": [
          "ec2:CreateNetworkInterface",
          "ec2:CreateNetworkInterfacePermission",
          "nimble:GetLaunchProfileInitialization",
          "nimble:GetLaunchProfile",
          "nimble:ListEulaAcceptances"
        ],
        "smithy.api#documentation": "<p>Creates a streaming session in a studio.</p>\n        <p>After invoking this operation, you must poll GetStreamingSession until the streaming\n            session is in the <code>READY</code> state.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ec2InstanceType": {
          "target": "com.amazonaws.nimble#StreamingInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 Instance type used for the streaming session.</p>"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#required": {}
          }
        },
        "ownedBy": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the user that owns the streaming session. The user that owns the\n            session will be logging into the session and interacting with the virtual\n            workstation.</p>"
          }
        },
        "streamingImageId": {
          "target": "com.amazonaws.nimble#StreamingImageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the streaming image.</p>"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key-value pairs, that apply to this\n            resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.nimble#LaunchProfileResource"
          }
        ]
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a streaming session stream",
        "aws.iam#conditionKeys": ["nimble:requesterPrincipalId"],
        "smithy.api#documentation": "<p>Creates a streaming session stream for a streaming session.</p>\n        <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId\n            to poll the resource until it is in the <code>READY</code> state.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStreamRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "expirationInSeconds": {
          "target": "com.amazonaws.nimble#StreamingSessionStreamExpirationInSeconds",
          "traits": {
            "smithy.api#default": 120,
            "smithy.api#documentation": "<p>The expiration time in seconds.</p>"
          }
        },
        "sessionId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The streaming session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.nimble#StreamingSessionResource"
          }
        ]
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "target": "com.amazonaws.nimble#StreamingSessionStream",
          "traits": {
            "smithy.api#documentation": "<p>The stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#CreateStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a studio",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#requiredActions": ["sso:CreateManagedApplicationInstance", "iam:PassRole"],
        "smithy.api#documentation": "<p>Create a new studio.</p>\n        <p>When creating a studio, two IAM roles must be provided: the admin role\n            and the user role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p>\n        <p>The user role must have the <code>AmazonNimbleStudio-StudioUser</code> managed policy\n            attached for the portal to function properly.</p>\n        <p>The admin role must have the <code>AmazonNimbleStudio-StudioAdmin</code> managed\n            policy attached for the portal to function properly.</p>\n        <p>You may optionally specify a KMS key in the\n            <code>StudioEncryptionConfiguration</code>.</p>\n        <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other\n            data you provide are always encrypted at rest using an KMS key. By default, this key is\n            owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key\n            when calling <code>CreateStudio</code> to encrypt this data using a key you own and\n            manage.</p>\n        <p>When providing an KMS key during studio creation, Nimble Studio creates KMS\n            grants in your account to provide your studio user and admin roles access to these KMS\n            keys.</p>\n        <p>If you delete this grant, the studio will no longer be accessible to your portal\n            users.</p>\n        <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a studio component. A studio component designates a network resource to which a launch profile will provide access",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#requiredActions": [
          "ec2:DescribeSecurityGroups",
          "fsx:DescribeFileSystems",
          "ds:DescribeDirectories",
          "iam:PassRole"
        ],
        "smithy.api#documentation": "<p>Creates a studio component resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/studio-components",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStudioComponentRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.nimble#StudioComponentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the studio component, based on component type.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#StudioComponentDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "ec2SecurityGroupIds": {
          "target": "com.amazonaws.nimble#StudioComponentSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 security groups that control access to the studio component.</p>"
          }
        },
        "initializationScripts": {
          "target": "com.amazonaws.nimble#StudioComponentInitializationScriptList",
          "traits": {
            "smithy.api#documentation": "<p>Initialization scripts for studio components.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#StudioComponentName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the studio component.</p>",
            "smithy.api#required": {}
          }
        },
        "scriptParameters": {
          "target": "com.amazonaws.nimble#StudioComponentScriptParameterKeyValueList",
          "traits": {
            "smithy.api#documentation": "<p>Parameters for the studio component scripts.</p>"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "com.amazonaws.nimble#StudioComponentSubtype",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The specific subtype of a studio component.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>A collection of labels, in the form of key-value pairs, that apply to this\n            resource.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.nimble#StudioComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the studio component.</p>",
            "smithy.api#required": {}
          }
        },
        "secureInitializationRoleArn": {
          "target": "com.amazonaws.nimble#RoleArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>An IAM role attached to Studio Component when the system initialization\n            script runs which give the studio component access to Amazon Web Services resources when\n            the system initialization script runs.</p>"
          }
        },
        "runtimeRoleArn": {
          "target": "com.amazonaws.nimble#RoleArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>An IAM role attached to a Studio Component that gives the studio\n            component access to Amazon Web Services resources at anytime while the instance is\n            running. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.nimble#StudioResource"
          }
        ]
      }
    },
    "com.amazonaws.nimble#CreateStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.nimble#StudioComponent",
          "traits": {
            "smithy.api#documentation": "<p>Information about the studio component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#CreateStudioRequest": {
      "type": "structure",
      "members": {
        "adminRoleArn": {
          "target": "com.amazonaws.nimble#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that studio admins will assume when logging in to the\n                Nimble Studio portal.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.nimble#StudioDisplayName",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A friendly name for the studio.</p>",
            "smithy.api#required": {}
          }
        },
        "studioEncryptionConfiguration": {
          "target": "com.amazonaws.nimble#StudioEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The studio encryption configuration.</p>"
          }
        },
        "studioName": {
          "target": "com.amazonaws.nimble#StudioName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The studio name that is used in the URL of the Nimble Studio portal when accessed\n            by Nimble Studio users.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key-value pairs, that apply to this\n            resource.</p>"
          }
        },
        "userRoleArn": {
          "target": "com.amazonaws.nimble#RoleArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The IAM role that studio users will assume when logging in to the\n                Nimble Studio portal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#CreateStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.nimble#Studio",
          "traits": {
            "smithy.api#documentation": "<p>Information about a studio.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a launch profile",
        "smithy.api#documentation": "<p>Permanently delete a launch profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a launch profile member",
        "smithy.api#documentation": "<p>Delete a user from launch profile membership.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a streaming image",
        "aws.iam#requiredActions": [
          "ec2:ModifyInstanceAttribute",
          "ec2:ModifySnapshotAttribute",
          "ec2:DeregisterImage",
          "ec2:DeleteSnapshot"
        ],
        "smithy.api#documentation": "<p>Delete streaming image.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImageRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "streamingImageId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a streaming session",
        "aws.iam#conditionKeys": ["nimble:requesterPrincipalId"],
        "aws.iam#requiredActions": ["ec2:DeleteNetworkInterface"],
        "smithy.api#documentation": "<p>Deletes streaming session resource.</p>\n        <p>After invoking this operation, use GetStreamingSession to poll the resource until it\n            transitions to a <code>DELETED</code> state.</p>\n        <p>A streaming session will count against your streaming session quota until it is marked\n                <code>DELETED</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The streaming session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a studio",
        "aws.iam#requiredActions": ["sso:DeleteManagedApplicationInstance"],
        "smithy.api#documentation": "<p>Delete a studio resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a studio component",
        "smithy.api#documentation": "<p>Deletes a studio component resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponentRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "studioComponentId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio component ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.nimble#StudioComponent",
          "traits": {
            "smithy.api#documentation": "<p>Information about the studio component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a studio member",
        "smithy.api#documentation": "<p>Delete a user from studio membership.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioMemberRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioMemberResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If you don’t specify a client token, the Amazon Web Services SDK automatically\n            generates a client token and uses it for the request to ensure idempotency.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#DeleteStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.nimble#Studio",
          "traits": {
            "smithy.api#documentation": "<p>Information about a studio.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#DirectoryId": {
      "type": "string"
    },
    "com.amazonaws.nimble#EC2ImageId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami-[0-9A-z]+$"
      }
    },
    "com.amazonaws.nimble#EC2SubnetId": {
      "type": "string"
    },
    "com.amazonaws.nimble#EC2SubnetIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#EC2SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.nimble#Eula": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The EULA content.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO timestamp in seconds for when the resource was created.</p>"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.nimble#EulaId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#EulaName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the EULA.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO timestamp in seconds for when the resource was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a EULA resource.</p>"
      }
    },
    "com.amazonaws.nimble#EulaAcceptance": {
      "type": "structure",
      "members": {
        "acceptedAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ISO timestamp in seconds for when the EULA was accepted.</p>"
          }
        },
        "acceptedBy": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the person who accepted the EULA.</p>"
          }
        },
        "accepteeId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the acceptee.</p>"
          }
        },
        "eulaAcceptanceId": {
          "target": "com.amazonaws.nimble#EulaAcceptanceId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA acceptance ID.</p>"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.nimble#EulaId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The acceptance of a EULA, required to use Amazon-provided streaming images.</p>"
      }
    },
    "com.amazonaws.nimble#EulaAcceptanceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The EULA acceptance ID.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.nimble#EulaAcceptanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#EulaAcceptance"
      }
    },
    "com.amazonaws.nimble#EulaAcceptanceResource": {
      "type": "resource",
      "identifiers": {
        "eulaAcceptanceId": {
          "target": "com.amazonaws.nimble#EulaAcceptanceId"
        }
      },
      "create": {
        "target": "com.amazonaws.nimble#AcceptEulas"
      },
      "list": {
        "target": "com.amazonaws.nimble#ListEulaAcceptances"
      },
      "traits": {
        "aws.api#arn": {
          "template": "eula-acceptance/{eulaAcceptanceId}"
        },
        "aws.iam#conditionKeys": [
          "aws:ResourceTag/${TagKey}",
          "aws:RequestTag/${TagKey}",
          "aws:TagKeys",
          "nimble:studioId"
        ],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "eula-acceptance"
        },
        "smithy.api#documentation": "Represents the acceptance of a EULA, specific to a studio"
      }
    },
    "com.amazonaws.nimble#EulaId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Represents a EULA resource.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.nimble#EulaIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#String"
      }
    },
    "com.amazonaws.nimble#EulaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#Eula"
      }
    },
    "com.amazonaws.nimble#EulaName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#EulaResource": {
      "type": "resource",
      "identifiers": {
        "eulaId": {
          "target": "com.amazonaws.nimble#String"
        }
      },
      "read": {
        "target": "com.amazonaws.nimble#GetEula"
      },
      "list": {
        "target": "com.amazonaws.nimble#ListEulas"
      },
      "traits": {
        "aws.api#arn": {
          "template": "eula/{eulaId}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "eula"
        },
        "smithy.api#documentation": "Represents a EULA that is required to be accepted before the use of certain streaming images"
      }
    },
    "com.amazonaws.nimble#ExceptionContext": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.nimble#String"
      },
      "value": {
        "target": "com.amazonaws.nimble#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>ExceptionContext is a set of key-value pairs that provide you with more information\n            about the error that occurred. For example, when the service returns a 404\n            ResourceNotFound error, ExceptionContext will contain the key `resourceId` with the\n            value of resource that was not found.</p>\n        <p>\n            <code>ExceptionContext</code> allows scripts and other programmatic clients to provide\n            better error handling.</p>"
      }
    },
    "com.amazonaws.nimble#GetEula": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetEulaRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetEulaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a EULA",
        "smithy.api#documentation": "<p>Get EULA.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/eulas/{eulaId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.nimble#GetEulaRequest": {
      "type": "structure",
      "members": {
        "eulaId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetEulaResponse": {
      "type": "structure",
      "members": {
        "eula": {
          "target": "com.amazonaws.nimble#Eula",
          "traits": {
            "smithy.api#documentation": "<p>The EULA.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a launch profile",
        "smithy.api#documentation": "<p>Get a launch profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "LaunchProfileReady": {
            "documentation": "Wait until a LaunchProfile is Ready. Use this after invoking CreateLaunchProfile or UpdateLaunchProfile",
            "minDelay": 5,
            "maxDelay": 750,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "launchProfile.state",
                    "expected": "READY",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "launchProfile.state",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "launchProfile.state",
                    "expected": "UPDATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "LaunchProfileDeleted": {
            "documentation": "Wait until a LaunchProfile is Deleted. Use this after invoking DeleteLaunchProfile",
            "minDelay": 5,
            "maxDelay": 750,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "launchProfile.state",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "launchProfile.state",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a launch profile's details, which includes the summary of studio components and streaming images used by the launch profile",
        "smithy.api#documentation": "<p>Launch profile details include the launch profile resource and summary information of\n            resources that are used by, or available to, the launch profile. This includes the name\n            and description of all studio components used by the launch profiles, and the name and\n            description of streaming images that can be used with this launch profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetailsRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetailsResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>"
          }
        },
        "streamingImages": {
          "target": "com.amazonaws.nimble#StreamingImageList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of streaming images.</p>"
          }
        },
        "studioComponentSummaries": {
          "target": "com.amazonaws.nimble#StudioComponentSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of studio component summaries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitialization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileInitializationRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileInitializationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a launch profile initialization. A launch profile initialization is a dereferenced version of a launch profile, including attached studio component connection information",
        "aws.iam#requiredActions": ["ec2:DescribeSecurityGroups", "fsx:DescribeFileSystems", "ds:DescribeDirectories"],
        "smithy.api#documentation": "<p>Get a launch profile initialization.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitializationRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "launchProfileProtocolVersions": {
          "target": "com.amazonaws.nimble#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile protocol versions supported by the client.</p>",
            "smithy.api#httpQuery": "launchProfileProtocolVersions",
            "smithy.api#required": {}
          }
        },
        "launchPurpose": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The launch purpose.</p>",
            "smithy.api#httpQuery": "launchPurpose",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The platform where this Launch Profile will be used, either Windows or Linux.</p>",
            "smithy.api#httpQuery": "platform",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitializationResponse": {
      "type": "structure",
      "members": {
        "launchProfileInitialization": {
          "target": "com.amazonaws.nimble#LaunchProfileInitialization",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile initialization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a launch profile member",
        "smithy.api#documentation": "<p>Get a user persona in launch profile membership.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID. This currently supports a IAM Identity Center UserId. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.amazonaws.nimble#LaunchProfileMembership",
          "traits": {
            "smithy.api#documentation": "<p>The member.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the launch profile used to control access from the streaming session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The launch profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a streaming image",
        "smithy.api#documentation": "<p>Get streaming image.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "StreamingImageReady": {
            "documentation": "Wait until a StreamingImage is Ready. Use this after invoking CreateStreamingImage or UpdateStreamingImage",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "streamingImage.state",
                    "expected": "READY",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "streamingImage.state",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "streamingImage.state",
                    "expected": "UPDATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "StreamingImageDeleted": {
            "documentation": "Wait until a StreamingImage Deleted. Use this after invoking DeleteStreamingImage",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "streamingImage.state",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "streamingImage.state",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingImageRequest": {
      "type": "structure",
      "members": {
        "streamingImageId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The streaming image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a streaming session",
        "aws.iam#conditionKeys": ["nimble:requesterPrincipalId"],
        "smithy.api#documentation": "<p>Gets StreamingSession resource.</p>\n        <p>Invoke this operation to poll for a streaming session state while creating or deleting\n            a session.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "StreamingSessionReady": {
            "minDelay": 10,
            "maxDelay": 1800,
            "documentation": "Wait until a StreamingSession is ready. Use this after invoking CreateStreamingSession, StartStreamingSession",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "READY",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "CREATE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "START_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "StreamingSessionStopped": {
            "minDelay": 5,
            "maxDelay": 900,
            "documentation": "Wait until a StreamingSessionStopped. Use this after invoking StopStreamingSession",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "STOPPED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "STOP_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "StreamingSessionDeleted": {
            "minDelay": 5,
            "maxDelay": 900,
            "documentation": "Wait until a StreamingSessionDeleted. Use this after invoking DeleteStreamingSession",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "session.state",
                    "expected": "DELETE_FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingSessionBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingSessionBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a streaming session backup",
        "aws.iam#conditionKeys": ["nimble:requesterPrincipalId"],
        "smithy.api#documentation": "<p>Gets <code>StreamingSessionBackup</code> resource.</p>\n        <p>Invoke this operation to poll for a streaming session backup while stopping a\n            streaming session.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-session-backups/{backupId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionBackupRequest": {
      "type": "structure",
      "members": {
        "backupId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionBackupResponse": {
      "type": "structure",
      "members": {
        "streamingSessionBackup": {
          "target": "com.amazonaws.nimble#StreamingSessionBackup",
          "traits": {
            "smithy.api#documentation": "<p>Information about the streaming session backup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The streaming session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#String",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingSessionStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingSessionStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to get a streaming session",
        "aws.iam#conditionKeys": ["nimble:requesterPrincipalId"],
        "smithy.api#documentation": "<p>Gets a StreamingSessionStream for a streaming session.</p>\n        <p>Invoke this operation to poll the resource after invoking\n                <code>CreateStreamingSessionStream</code>.</p>\n        <p>After the <code>StreamingSessionStream</code> changes to the <code>READY</code> state,\n            the url property will contain a stream to be used with the DCV streaming client.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
          "code": 200
        },
        "smithy.api#readonly": {},
[...]
