{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.nimble#AcceptEulas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#AcceptEulasRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#AcceptEulasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accept EULAs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/eula-acceptances",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#AcceptEulasRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "eulaIds": {
          "target": "com.amazonaws.nimble#EulaIdList",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>",
            "smithy.api#jsonName": "eulaIds"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of EULA acceptances.</p>"
      }
    },
    "com.amazonaws.nimble#AcceptEulasResponse": {
      "type": "structure",
      "members": {
        "eulaAcceptances": {
          "target": "com.amazonaws.nimble#EulaAcceptanceList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of EULA acceptances.</p>",
            "smithy.api#jsonName": "eulaAcceptances"
          }
        }
      }
    },
    "com.amazonaws.nimble#AccessDeniedException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A more specific error code.</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.nimble#ExceptionContext",
          "traits": {
            "smithy.api#documentation": "<p>The exception context.</p>",
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the LDAP attribute.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "value": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value for the LDAP attribute.</p>",
            "smithy.api#jsonName": "value"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An LDAP attribute of an Active Directory computer account, in the form of a name:value pair.</p>"
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttribute"
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of LDAP attributes to apply to Active Directory computer accounts that are created for streaming sessions.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name for the LDAP attribute.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 40
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryComputerAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value for the LDAP attribute.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryConfiguration": {
      "type": "structure",
      "members": {
        "computerAttributes": {
          "target": "com.amazonaws.nimble#ActiveDirectoryComputerAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of custom attributes for an Active Directory computer.</p>",
            "smithy.api#jsonName": "computerAttributes"
          }
        },
        "directoryId": {
          "target": "com.amazonaws.nimble#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The directory ID of the Directory Service for Microsoft Active Directory to access using this studio component.</p>",
            "smithy.api#jsonName": "directoryId"
          }
        },
        "organizationalUnitDistinguishedName": {
          "target": "com.amazonaws.nimble#ActiveDirectoryOrganizationalUnitDistinguishedName",
          "traits": {
            "smithy.api#documentation": "<p>The distinguished name (DN) and organizational unit (OU) of an Active Directory computer.</p>",
            "smithy.api#jsonName": "organizationalUnitDistinguishedName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a Microsoft Active Directory (Microsoft AD) studio resource.</p>"
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryDnsIpAddress": {
      "type": "string"
    },
    "com.amazonaws.nimble#ActiveDirectoryDnsIpAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#ActiveDirectoryDnsIpAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.nimble#ActiveDirectoryOrganizationalUnitDistinguishedName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.nimble#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#ComputeFarmConfiguration": {
      "type": "structure",
      "members": {
        "activeDirectoryUser": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Active Directory user that is used on ComputeFarm worker instances.</p>",
            "smithy.api#jsonName": "activeDirectoryUser"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the ComputeFarm that is accessed by the studio component resource.</p>",
            "smithy.api#jsonName": "endpoint"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a render farm that is associated with a studio resource.</p>"
      }
    },
    "com.amazonaws.nimble#ConflictException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A more specific error code.</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.nimble#ExceptionContext",
          "traits": {
            "smithy.api#documentation": "<p>The exception context.</p>",
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a launch profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#LaunchProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "ec2SubnetIds": {
          "target": "com.amazonaws.nimble#EC2SubnetIdList",
          "traits": {
            "smithy.api#jsonName": "ec2SubnetIds",
            "smithy.api#required": {}
          }
        },
        "launchProfileProtocolVersions": {
          "target": "com.amazonaws.nimble#LaunchProfileProtocolVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
            "smithy.api#jsonName": "launchProfileProtocolVersions",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#LaunchProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the launch profile.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "streamConfiguration": {
          "target": "com.amazonaws.nimble#StreamConfigurationCreate",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for a streaming session.</p>",
            "smithy.api#jsonName": "streamConfiguration",
            "smithy.api#required": {}
          }
        },
        "studioComponentIds": {
          "target": "com.amazonaws.nimble#LaunchProfileStudioComponentIdList",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>",
            "smithy.api#jsonName": "studioComponentIds",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of launch profiles.</p>"
      }
    },
    "com.amazonaws.nimble#CreateLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>",
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a streaming image resource in a studio.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingImageRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#StreamingImageDescription",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the streaming image.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "ec2ImageId": {
          "target": "com.amazonaws.nimble#EC2ImageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an EC2 machine image with which to create this streaming image.</p>",
            "smithy.api#jsonName": "ec2ImageId",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#StreamingImageName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for a streaming image resource.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of streaming images.</p>"
      }
    },
    "com.amazonaws.nimble#CreateStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a streaming session in a studio.</p> <p>After invoking this operation, you must poll GetStreamingSession until the streaming session is in state READY.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ec2InstanceType": {
          "target": "com.amazonaws.nimble#StreamingInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 Instance type used for the streaming session.</p>",
            "smithy.api#jsonName": "ec2InstanceType"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "ownedBy": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the user that owns the streaming session.</p>",
            "smithy.api#jsonName": "ownedBy"
          }
        },
        "streamingImageId": {
          "target": "com.amazonaws.nimble#StreamingImageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the streaming image.</p>",
            "smithy.api#jsonName": "streamingImageId"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of streaming sessions.</p>"
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>",
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStreamingSessionStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a streaming session stream for a streaming session.</p> <p>After invoking this API, invoke GetStreamingSessionStream with the returned streamId to poll the resource until it is in state READY.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStreamRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "expirationInSeconds": {
          "target": "com.amazonaws.nimble#StreamingSessionStreamExpirationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time in seconds.</p>",
            "smithy.api#jsonName": "expirationInSeconds"
          }
        },
        "sessionId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list collection streams.</p>"
      }
    },
    "com.amazonaws.nimble#CreateStreamingSessionStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "target": "com.amazonaws.nimble#StreamingSessionStream",
          "traits": {
            "smithy.api#documentation": "<p>The stream.</p>",
            "smithy.api#jsonName": "stream"
          }
        }
      }
    },
    "com.amazonaws.nimble#CreateStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new Studio.</p> <p>When creating a Studio, two IAM roles must be provided: the admin role and the user Role. These roles are assumed by your users when they log in to the Nimble Studio portal.</p> <p>The user role must have the AmazonNimbleStudio-StudioUser managed policy attached for the portal to function properly.</p> <p>The Admin Role must have the AmazonNimbleStudio-StudioAdmin managed policy attached for the portal to function properly.</p> <p>You may optionally specify a KMS key in the StudioEncryptionConfiguration.</p> <p>In Nimble Studio, resource names, descriptions, initialization scripts, and other data you provide are always encrypted at rest using an KMS key. By default, this key is owned by Amazon Web Services and managed on your behalf. You may provide your own KMS key when calling CreateStudio to encrypt this data using a key you own and manage.</p> <p>When providing an KMS key during studio creation, Nimble Studio creates KMS grants in your account to provide your studio user and admin roles access to these KMS keys.</p> <p>If you delete this grant, the studio will no longer be accessible to your portal users.</p> <p>If you delete the studio KMS key, your studio will no longer be accessible.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#CreateStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#CreateStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a studio component resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-08-01/studios/{studioId}/studio-components",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#CreateStudioComponentRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.nimble#StudioComponentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the studio component, based on component type.</p>",
            "smithy.api#jsonName": "configuration"
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#StudioComponentDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "ec2SecurityGroupIds": {
          "target": "com.amazonaws.nimble#StudioComponentSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 security groups that control access to the studio component.</p>",
            "smithy.api#jsonName": "ec2SecurityGroupIds"
          }
        },
        "initializationScripts": {
          "target": "com.amazonaws.nimble#StudioComponentInitializationScriptList",
          "traits": {
            "smithy.api#documentation": "<p>Initialization scripts for studio components.</p>",
            "smithy.api#jsonName": "initializationScripts"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#StudioComponentName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the studio component.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "scriptParameters": {
          "target": "com.amazonaws.nimble#StudioComponentScriptParameterKeyValueList",
          "traits": {
            "smithy.api#documentation": "<p>Parameters for the studio component scripts.</p>",
            "smithy.api#jsonName": "scriptParameters"
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "subtype": {
          "target": "com.amazonaws.nimble#StudioComponentSubtype",
          "traits": {
            "smithy.api#documentation": "<p>The specific subtype of a studio component.</p>",
            "smithy.api#jsonName": "subtype"
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "type": {
          "target": "com.amazonaws.nimble#StudioComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the studio component.</p>",
            "smithy.api#jsonName": "type",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The studio components.</p>"
      }
    },
    "com.amazonaws.nimble#CreateStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.nimble#StudioComponent",
          "traits": {
            "smithy.api#documentation": "<p>Information about the studio component.</p>",
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.nimble#CreateStudioRequest": {
      "type": "structure",
      "members": {
        "adminRoleArn": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that Studio Admins will assume when logging in to the Nimble Studio portal.</p>",
            "smithy.api#jsonName": "adminRoleArn",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.nimble#StudioDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the studio.</p>",
            "smithy.api#jsonName": "displayName",
            "smithy.api#required": {}
          }
        },
        "studioEncryptionConfiguration": {
          "target": "com.amazonaws.nimble#StudioEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The studio encryption configuration.</p>",
            "smithy.api#jsonName": "studioEncryptionConfiguration"
          }
        },
        "studioName": {
          "target": "com.amazonaws.nimble#StudioName",
          "traits": {
            "smithy.api#documentation": "<p>The studio name that is used in the URL of the Nimble Studio portal when accessed by Nimble Studio users.</p>",
            "smithy.api#jsonName": "studioName",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "userRoleArn": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role that Studio Users will assume when logging in to the Nimble Studio portal.</p>",
            "smithy.api#jsonName": "userRoleArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of studio resources.</p>"
      }
    },
    "com.amazonaws.nimble#CreateStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.nimble#Studio",
          "traits": {
            "smithy.api#documentation": "<p>Information about a studio.</p>",
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently delete a launch profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a user from launch profile membership.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.nimble#DeleteLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>",
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete streaming image.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImageRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "streamingImageId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image.</p>",
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes streaming session resource.</p> <p>After invoking this operation, use GetStreamingSession to poll the resource until it transitions to a DELETED state.</p> <p>A streaming session will count against your streaming session quota until it is marked DELETED.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>",
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a studio resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a studio component resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponentRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "studioComponentId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio component ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.nimble#StudioComponent",
          "traits": {
            "smithy.api#documentation": "<p>Information about the studio component.</p>",
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#DeleteStudioMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#DeleteStudioMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a user from studio membership.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioMemberRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioMemberResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.nimble#DeleteStudioRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.nimble#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To make an idempotent API request using one of these actions, specify a client token in the request. You should not reuse the same client token for other API requests. If you retry a request that completed successfully using the same client token and the same parameters, the retry succeeds without performing any further actions. If you retry a successful request using the same client token, but one or more of the parameters are different, the retry fails with a ValidationException error.</p>",
            "smithy.api#httpHeader": "X-Amz-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#DeleteStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.nimble#Studio",
          "traits": {
            "smithy.api#documentation": "<p>Information about a studio.</p>",
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.nimble#DirectoryId": {
      "type": "string"
    },
    "com.amazonaws.nimble#EC2ImageId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami-[0-9A-z]+$"
      }
    },
    "com.amazonaws.nimble#EC2SubnetId": {
      "type": "string"
    },
    "com.amazonaws.nimble#EC2SubnetIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#EC2SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.nimble#Eula": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The EULA content.</p>",
            "smithy.api#jsonName": "content"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.nimble#EulaId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>",
            "smithy.api#jsonName": "eulaId"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#EulaName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the EULA.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>",
            "smithy.api#jsonName": "updatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a EULA resource.</p>"
      }
    },
    "com.amazonaws.nimble#EulaAcceptance": {
      "type": "structure",
      "members": {
        "acceptedAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the EULA was accepted.</p>",
            "smithy.api#jsonName": "acceptedAt"
          }
        },
        "acceptedBy": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the person who accepted the EULA.</p>",
            "smithy.api#jsonName": "acceptedBy"
          }
        },
        "accepteeId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the acceptee.</p>",
            "smithy.api#jsonName": "accepteeId"
          }
        },
        "eulaAcceptanceId": {
          "target": "com.amazonaws.nimble#EulaAcceptanceId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA acceptance ID.</p>",
            "smithy.api#jsonName": "eulaAcceptanceId"
          }
        },
        "eulaId": {
          "target": "com.amazonaws.nimble#EulaId",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>",
            "smithy.api#jsonName": "eulaId"
          }
        }
      }
    },
    "com.amazonaws.nimble#EulaAcceptanceId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The EULA acceptance ID.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.nimble#EulaAcceptanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#EulaAcceptance"
      }
    },
    "com.amazonaws.nimble#EulaId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Represents a EULA resource.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.nimble#EulaIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#__string"
      }
    },
    "com.amazonaws.nimble#EulaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.nimble#Eula"
      }
    },
    "com.amazonaws.nimble#EulaName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.nimble#ExceptionContext": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.nimble#__string"
      },
      "value": {
        "target": "com.amazonaws.nimble#__string"
      },
      "traits": {
        "smithy.api#documentation": "<p>ExceptionContext is a set of key-value pairs that provide you with more information about the error that occurred. For example, when the service returns a 404 ResourceNotFound error, ExceptionContext will contain the key `resourceId` with the value of resource that was not found.</p> <p>ExceptionContext enables scripts and other programmatic clients to provide for better error handling.</p>"
      }
    },
    "com.amazonaws.nimble#GetEula": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetEulaRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetEulaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get Eula.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/eulas/{eulaId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetEulaRequest": {
      "type": "structure",
      "members": {
        "eulaId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The EULA ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetEulaResponse": {
      "type": "structure",
      "members": {
        "eula": {
          "target": "com.amazonaws.nimble#Eula",
          "traits": {
            "smithy.api#documentation": "<p>The EULA.</p>",
            "smithy.api#jsonName": "eula"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a launch profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Launch profile details include the launch profile resource and summary information of resources that are used by, or available to, the launch profile. This includes the name and description of all studio components used by the launch profiles, and the name and description of streaming images that can be used with this launch profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/details",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetailsRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileDetailsResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>",
            "smithy.api#jsonName": "launchProfile"
          }
        },
        "streamingImages": {
          "target": "com.amazonaws.nimble#StreamingImageList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of streaming images.</p>",
            "smithy.api#jsonName": "streamingImages"
          }
        },
        "studioComponentSummaries": {
          "target": "com.amazonaws.nimble#StudioComponentSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of studio component summaries.</p>",
            "smithy.api#jsonName": "studioComponentSummaries"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitialization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileInitializationRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileInitializationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a launch profile initialization.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/init",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitializationRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "launchProfileProtocolVersions": {
          "target": "com.amazonaws.nimble#multiValueQueryStringList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of launch profile protocol versions.</p>",
            "smithy.api#httpQuery": "launchProfileProtocolVersions",
            "smithy.api#required": {}
          }
        },
        "launchPurpose": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch purpose.</p>",
            "smithy.api#httpQuery": "launchPurpose",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The platform.</p>",
            "smithy.api#httpQuery": "platform",
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileInitializationResponse": {
      "type": "structure",
      "members": {
        "launchProfileInitialization": {
          "target": "com.amazonaws.nimble#LaunchProfileInitialization",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile initialization.</p>",
            "smithy.api#jsonName": "launchProfileInitialization"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetLaunchProfileMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetLaunchProfileMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a user persona in launch profile membership.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/launch-profiles/{launchProfileId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMemberRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileMemberResponse": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.amazonaws.nimble#LaunchProfileMembership",
          "traits": {
            "smithy.api#documentation": "<p>The member.</p>",
            "smithy.api#jsonName": "member"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileRequest": {
      "type": "structure",
      "members": {
        "launchProfileId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetLaunchProfileResponse": {
      "type": "structure",
      "members": {
        "launchProfile": {
          "target": "com.amazonaws.nimble#LaunchProfile",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile.</p>",
            "smithy.api#jsonName": "launchProfile"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingImageRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get streaming image.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-images/{streamingImageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingImageRequest": {
      "type": "structure",
      "members": {
        "streamingImageId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingImageResponse": {
      "type": "structure",
      "members": {
        "streamingImage": {
          "target": "com.amazonaws.nimble#StreamingImage",
          "traits": {
            "smithy.api#documentation": "<p>The streaming image.</p>",
            "smithy.api#jsonName": "streamingImage"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets StreamingSession resource.</p> <p>Invoke this operation to poll for a streaming session state while creating or deleting a session.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.nimble#StreamingSession",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>",
            "smithy.api#jsonName": "session"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStreamingSessionStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStreamingSessionStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a StreamingSessionStream for a streaming session.</p> <p>Invoke this operation to poll the resource after invoking CreateStreamingSessionStream.</p> <p>After the StreamingSessionStream changes to the state READY, the url property will contain a stream to be used with the DCV streaming client.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/streaming-sessions/{sessionId}/streams/{streamId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionStreamRequest": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The session ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "streamId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The stream ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStreamingSessionStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "target": "com.amazonaws.nimble#StreamingSessionStream",
          "traits": {
            "smithy.api#documentation": "<p>The stream.</p>",
            "smithy.api#jsonName": "stream"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudio": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStudioRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStudioResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a Studio resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStudioComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStudioComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStudioComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a studio component resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/studio-components/{studioComponentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStudioComponentRequest": {
      "type": "structure",
      "members": {
        "studioComponentId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio component ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudioComponentResponse": {
      "type": "structure",
      "members": {
        "studioComponent": {
          "target": "com.amazonaws.nimble#StudioComponent",
          "traits": {
            "smithy.api#documentation": "<p>Information about the studio component.</p>",
            "smithy.api#jsonName": "studioComponent"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudioMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.nimble#GetStudioMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.nimble#GetStudioMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.nimble#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.nimble#ConflictException"
        },
        {
          "target": "com.amazonaws.nimble#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.nimble#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.nimble#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.nimble#ThrottlingException"
        },
        {
          "target": "com.amazonaws.nimble#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get a user's membership in a studio.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-08-01/studios/{studioId}/membership/{principalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.nimble#GetStudioMemberRequest": {
      "type": "structure",
      "members": {
        "principalId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudioMemberResponse": {
      "type": "structure",
      "members": {
        "member": {
          "target": "com.amazonaws.nimble#StudioMembership",
          "traits": {
            "smithy.api#documentation": "<p>The member.</p>",
            "smithy.api#jsonName": "member"
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudioRequest": {
      "type": "structure",
      "members": {
        "studioId": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The studio ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.nimble#GetStudioResponse": {
      "type": "structure",
      "members": {
        "studio": {
          "target": "com.amazonaws.nimble#Studio",
          "traits": {
            "smithy.api#documentation": "<p>Information about a studio.</p>",
            "smithy.api#jsonName": "studio"
          }
        }
      }
    },
    "com.amazonaws.nimble#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A more specific error code.</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "context": {
          "target": "com.amazonaws.nimble#ExceptionContext",
          "traits": {
            "smithy.api#documentation": "<p>The exception context.</p>",
            "smithy.api#jsonName": "context"
          }
        },
        "message": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.nimble#LaunchProfile": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "createdBy": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the user that created the launch profile.</p>",
            "smithy.api#jsonName": "createdBy"
          }
        },
        "description": {
          "target": "com.amazonaws.nimble#LaunchProfileDescription",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the launch profile.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "ec2SubnetIds": {
          "target": "com.amazonaws.nimble#EC2SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifiers for a collection of EC2 subnets.</p>",
            "smithy.api#jsonName": "ec2SubnetIds"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#LaunchProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "launchProfileProtocolVersions": {
          "target": "com.amazonaws.nimble#LaunchProfileProtocolVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
            "smithy.api#jsonName": "launchProfileProtocolVersions"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#LaunchProfileName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the launch profile.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "state": {
          "target": "com.amazonaws.nimble#LaunchProfileState",
          "traits": {
            "smithy.api#documentation": "<p>The current state.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.nimble#LaunchProfileStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code.</p>",
            "smithy.api#jsonName": "statusCode"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The status message for the launch profile.</p>",
            "smithy.api#jsonName": "statusMessage"
          }
        },
        "streamConfiguration": {
          "target": "com.amazonaws.nimble#StreamConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for a streaming session.</p>",
            "smithy.api#jsonName": "streamConfiguration"
          }
        },
        "studioComponentIds": {
          "target": "com.amazonaws.nimble#LaunchProfileStudioComponentIdList",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifiers for a collection of studio components that can be used with this launch profile.</p>",
            "smithy.api#jsonName": "studioComponentIds"
          }
        },
        "tags": {
          "target": "com.amazonaws.nimble#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of labels, in the form of key:value pairs, that apply to this resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.nimble#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix epoch timestamp in seconds for when the resource was updated.</p>",
            "smithy.api#jsonName": "updatedAt"
          }
        },
        "updatedBy": {
          "target": "com.amazonaws.nimble#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user ID of the user that most recently updated the resource.</p>",
            "smithy.api#jsonName": "updatedBy"
          }
        }
      }
    },
    "com.amazonaws.nimble#LaunchProfileDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.nimble#LaunchProfileId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 22
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.nimble#LaunchProfileInitialization": {
      "type": "structure",
      "members": {
        "activeDirectory": {
          "target": "com.amazonaws.nimble#LaunchProfileInitializationActiveDirectory",
          "traits": {
            "smithy.api#documentation": "<p>A LaunchProfileInitializationActiveDirectory resource.</p>",
            "smithy.api#jsonName": "activeDirectory"
          }
        },
        "ec2SecurityGroupIds": {
          "target": "com.amazonaws.nimble#LaunchProfileSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 security groups that control access to the studio component.</p>",
            "smithy.api#jsonName": "ec2SecurityGroupIds"
          }
        },
        "launchProfileId": {
          "target": "com.amazonaws.nimble#LaunchProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The launch profile ID.</p>",
            "smithy.api#jsonName": "launchProfileId"
          }
        },
        "launchProfileProtocolVersion": {
          "target": "com.amazonaws.nimble#LaunchProfileProtocolVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the protocol that is used by the launch profile. The only valid version is \"2021-03-31\".</p>",
            "smithy.api#jsonName": "launchProfileProtocolVersion"
          }
        },
        "launchPurpose": {
          "target": "com.amazonaws.nimble#LaunchPurpose",
          "traits": {
            "smithy.api#documentation": "<p>The launch purpose.</p>",
            "smithy.api#jsonName": "launchPurpose"
          }
        },
        "name": {
          "target": "com.amazonaws.nimble#LaunchProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the launch profile.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "platform": {
          "target": "com.amazonaws.nimble#LaunchProfilePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the launch platform, either WINDOWS or LINUX.</p>",
            "smithy.api#jsonName": "platform"
          }
        },
        "systemInitializationScripts": {
          "target": "com.amazonaws.nimble#LaunchProfileInitializationScriptList",
          "traits": {
            "smithy.api#documentation": "<p>The system initializtion scripts.</p>",
            "smithy.api#jsonName": "systemInitializationScripts"
          }
        },
        "userInitializationScripts": {
          "target": "com.amazonaws.nimble#LaunchProfileInitializationScriptList",
          "traits": {
            "smithy.api#documentation": "<p>The user initializtion scripts.</p>",
            "smithy.api#jsonName": "userInitializationScripts"
          }
        }
      }
    },
    "com.amazonaws.nimble#LaunchProfileInitializationActiveDirectory": {
      "type": "structure",
      "members": {
        "computerAttributes": {
[...]
