{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.notificationscontacts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.notificationscontacts#ActivateEmailContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#ActivateEmailContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#ActivateEmailContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to activate the email contact associated with the given ARN if the provided code is valid"
        },
        "smithy.api#documentation": "<p>Activates an email contact using an activation code. This code is in the activation email sent to the email address associated with this email contact.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/emailcontacts/{arn}/activate/{code}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notificationscontacts#ActivateEmailContactRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.notificationscontacts#Token",
          "traits": {
            "smithy.api#documentation": "<p>The activation code for this email contact.</p>\n         <p>An email contact has a maximum of five activation attempts. Activation codes expire after 12 hours and are generated by the <a href=\"https://docs.aws.amazon.com/notificationscontacts/latest/APIReference/API_SendActivationCode.html\">SendActivationCode</a> API action.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#ActivateEmailContactResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.notificationscontacts#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID that prompted the conflict error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.notificationscontacts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type that prompted the conflict error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.notificationscontacts#CreateEmailContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#CreateEmailContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#CreateEmailContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an email contact"
        },
        "smithy.api#documentation": "<p>Creates an email contact for the provided email address.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/2022-09-19/emailcontacts"
        }
      }
    },
    "com.amazonaws.notificationscontacts#CreateEmailContactRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.notificationscontacts#EmailContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the email contact.</p>",
            "smithy.api#required": {}
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.notificationscontacts#EmailContactAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address this email contact points to. The activation email and any subscribed emails are sent here.</p>\n         <note>\n            <p>This email address can't receive emails until it's activated.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.notificationscontacts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#CreateEmailContactResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#CreationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notificationscontacts#DeleteEmailContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#DeleteEmailContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#DeleteEmailContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an email contact associated with the given ARN"
        },
        "smithy.api#documentation": "<p>Deletes an email contact.</p>\n         <note>\n            <p>Deleting an email contact removes it from all associated notification configurations.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/emailcontacts/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notificationscontacts#DeleteEmailContactRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#DeleteEmailContactResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#EmailContact": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the email contact.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.notificationscontacts#EmailContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the email contact.</p>",
            "smithy.api#required": {}
          }
        },
        "address": {
          "target": "com.amazonaws.notificationscontacts#SensitiveEmailContactAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email address this email contact points to. The activation email and any subscribed emails are sent here.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notificationscontacts#EmailContactStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the email contact. Only activated email contacts receive emails.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notificationscontacts#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.notificationscontacts#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time the resource was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An email contact.</p>"
      }
    },
    "com.amazonaws.notificationscontacts#EmailContactAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 254
        },
        "smithy.api#pattern": "^(.+)@(.+)$"
      }
    },
    "com.amazonaws.notificationscontacts#EmailContactArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.notificationscontacts#NotificationsContacts",
          "resource": "com.amazon.aws.services.notifications.contacts.orchestration.service#EmailContact"
        },
        "smithy.api#pattern": "^arn:aws:notifications-contacts::[0-9]{12}:emailcontact/[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notificationscontacts#EmailContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[\\w-.~]+",
        "smithy.api#sensitive": {},
        "smithy.api#suppress": ["PatternTrait"]
      }
    },
    "com.amazonaws.notificationscontacts#EmailContactResource": {
      "type": "resource",
      "identifiers": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn"
        }
      },
      "create": {
        "target": "com.amazonaws.notificationscontacts#CreateEmailContact"
      },
      "read": {
        "target": "com.amazonaws.notificationscontacts#GetEmailContact"
      },
      "delete": {
        "target": "com.amazonaws.notificationscontacts#DeleteEmailContact"
      },
      "list": {
        "target": "com.amazonaws.notificationscontacts#ListEmailContacts"
      },
      "operations": [
        {
          "target": "com.amazonaws.notificationscontacts#ActivateEmailContact"
        },
        {
          "target": "com.amazonaws.notificationscontacts#SendActivationCode"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "{arn}",
          "absolute": true,
          "noRegion": true
        },
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notificationscontacts#EmailContactStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "inactive",
            "name": "INACTIVE"
          },
          {
            "value": "active",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.notificationscontacts#EmailContacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notificationscontacts#EmailContact"
      }
    },
    "com.amazonaws.notificationscontacts#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.notificationscontacts#GetEmailContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#GetEmailContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#GetEmailContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get an email contact associated with the given ARN"
        },
        "smithy.api#documentation": "<p>Returns an email contact.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/emailcontacts/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notificationscontacts#GetEmailContactRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the email contact to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#GetEmailContactResponse": {
      "type": "structure",
      "members": {
        "emailContact": {
          "target": "com.amazonaws.notificationscontacts#EmailContact",
          "traits": {
            "smithy.api#documentation": "<p>The email contact for the provided email address.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.notificationscontacts#ListEmailContacts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#ListEmailContactsRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#ListEmailContactsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list email contacts"
        },
        "smithy.api#documentation": "<p>Lists all email contacts created under the Account.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/emailcontacts"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "emailContacts"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListEmailContactsSuccess",
            "params": {
              "maxResults": 1
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.notificationscontacts#ListEmailContactsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response. If more results exist than the specified MaxResults value, a token is included in the response so that the remaining results can be retrieved.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#ListEmailContactsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional token returned from a prior request. Use this token for pagination of results from this action. If this parameter is specified, the response includes only results beyond the token, up to the value specified by MaxResults.</p>"
          }
        },
        "emailContacts": {
          "target": "com.amazonaws.notificationscontacts#EmailContacts",
          "traits": {
            "smithy.api#documentation": "<p>A list of email contacts.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get tags for a resource"
        },
        "smithy.api#documentation": "<p>Lists all of the tags associated with the Amazon Resource Name (ARN) that you specify. The resource can be a user, server, or role.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notificationscontacts#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN you specified to list the tags of.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.notificationscontacts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs that are assigned to a resource, usually for the purpose of grouping and searching for items. Tags are metadata that you define.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#NotificationsContacts": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.notificationscontacts#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.notificationscontacts#TagResource"
        },
        {
          "target": "com.amazonaws.notificationscontacts#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.notificationscontacts#EmailContactResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "NotificationsContacts",
          "arnNamespace": "notifications-contacts",
          "endpointPrefix": "notifications-contacts",
          "cloudTrailEventSource": "notifications-contacts.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "notifications-contacts"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix"
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": ["x-amzn-errortype", "x-amzn-requestid", "x-amzn-trace-id"],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>AWS User Notifications Contacts is a service that allows you to create and manage email contacts for AWS User Notifications. The AWS User Notifications Contacts API Reference provides descriptions, API request parameters, and the JSON response for all email contact related API actions.</p>",
        "smithy.api#title": "AWS User Notifications Contacts",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://notifications-contacts-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://notifications-contacts.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-iso-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isob-east-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "eu-isoe-west-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-isof-south-1"
                      }
                    ]
                  },
                  "url": "https://notifications-contacts.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.notificationscontacts#QuotaCode": {
      "type": "string"
    },
    "com.amazonaws.notificationscontacts#ResourceId": {
      "type": "string"
    },
    "com.amazonaws.notificationscontacts#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.notificationscontacts#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that wasn't found.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.notificationscontacts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that wasn't found.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request references a resource which does not exist. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.notificationscontacts#ResourceType": {
      "type": "string"
    },
    "com.amazonaws.notificationscontacts#SendActivationCode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#SendActivationCodeRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#SendActivationCodeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ConflictException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to send an activation link to the email associated with the given ARN"
        },
        "smithy.api#documentation": "<p>Sends an activation email to the email address associated with the specified email contact.</p>\n         <note>\n            <p>It might take a few minutes for the activation email to arrive. If it doesn't arrive, check in your spam folder or try sending another activation email.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/2022-10-31/emailcontacts/{arn}/activate/send"
        }
      }
    },
    "com.amazonaws.notificationscontacts#SendActivationCodeRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#SendActivationCodeResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#SensitiveEmailContactAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 254
        },
        "smithy.api#pattern": "^(.+)@(.+)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.notificationscontacts#ServiceCode": {
      "type": "string"
    },
    "com.amazonaws.notificationscontacts#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.notificationscontacts#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that exceeds the service quota.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.notificationscontacts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that exceeds the service quota.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.notificationscontacts#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the service quota exceeded in <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">Service Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "quotaCode": {
          "target": "com.amazonaws.notificationscontacts#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the service quota in <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">Service Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Request would cause a service quota to be exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.notificationscontacts#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!aws:).{1,128}$"
      }
    },
    "com.amazonaws.notificationscontacts#TagKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notificationscontacts#TagKey"
      }
    },
    "com.amazonaws.notificationscontacts#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.notificationscontacts#TagKey"
      },
      "value": {
        "target": "com.amazonaws.notificationscontacts#TagValue"
      },
      "traits": {
        "smithy.api#documentation": "Map of tags assigned to a resource",
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.notificationscontacts#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to tag a resource"
        },
        "smithy.api#documentation": "<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Taggable resources in AWS User Notifications Contacts include email contacts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notificationscontacts#TagResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.notificationscontacts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to apply to the configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#TagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.notificationscontacts#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.notificationscontacts#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the service being throttled.</p>"
          }
        },
        "quotaCode": {
          "target": "com.amazonaws.notificationscontacts#QuotaCode",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the quota that is being throttled.</p>"
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds a client should wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.notificationscontacts#Token": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 7
        },
        "smithy.api#pattern": "^[a-z0-9]{7}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.notificationscontacts#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notificationscontacts#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.notificationscontacts#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notificationscontacts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#InternalServerException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notificationscontacts#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove tags from a resource"
        },
        "smithy.api#documentation": "<p>Detaches a key-value pair from a resource, as identified by its Amazon Resource Name (ARN). Taggable resources in AWS User Notifications Contacts include email contacts..</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notificationscontacts#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notificationscontacts#EmailContactArn",
          "traits": {
            "smithy.api#documentation": "<p>The value of the resource that will have the tag removed. An Amazon Resource Name (ARN) is an identifier for a specific AWS resource, such as a server, user, or role.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.notificationscontacts#TagKeys",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of tag keys that you want to remove from the specified resources.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notificationscontacts#UntagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notificationscontacts#UpdateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notificationscontacts#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notificationscontacts#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.notificationscontacts#ValidationExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why your input is considered invalid.</p>",
            "smithy.api#required": {}
          }
        },
        "fieldList": {
          "target": "com.amazonaws.notificationscontacts#ValidationExceptionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The list of input fields that are invalid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified by an AWS service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.notificationscontacts#ValidationExceptionField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The field name where the invalid entry was detected.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message with the reason for the validation exception error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Stores information about a field passed inside a request that resulted in an exception.</p>"
      }
    },
    "com.amazonaws.notificationscontacts#ValidationExceptionFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notificationscontacts#ValidationExceptionField"
      }
    },
    "com.amazonaws.notificationscontacts#ValidationExceptionReason": {
      "type": "enum",
      "members": {
        "FIELD_VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "fieldValidationFailed"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "other"
          }
        }
      }
    }
  }
}
