{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.notifications#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.notifications#AccessStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.amazonaws.notifications#AccountContactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ACCOUNT_PRIMARY",
            "value": "ACCOUNT_PRIMARY",
            "documentation": "    Primary Contact managed by AWS Account Management Service.\n"
          },
          {
            "name": "ACCOUNT_ALTERNATE_BILLING",
            "value": "ACCOUNT_ALTERNATE_BILLING",
            "documentation": "    Alternate Billing Contact managed by AWS Account Management Service.\n"
          },
          {
            "name": "ACCOUNT_ALTERNATE_OPERATIONS",
            "value": "ACCOUNT_ALTERNATE_OPERATIONS",
            "documentation": "    Alternate Operations Contact managed by AWS Account Management Service.\n"
          },
          {
            "name": "ACCOUNT_ALTERNATE_SECURITY",
            "value": "ACCOUNT_ALTERNATE_SECURITY",
            "documentation": "    Alternate Security Contact managed by AWS Account Management Service.\n"
          }
        ]
      }
    },
    "com.amazonaws.notifications#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.notifications#AggregatedNotificationRegions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#Region"
      }
    },
    "com.amazonaws.notifications#AggregationDetail": {
      "type": "structure",
      "members": {
        "summarizationDimensions": {
          "target": "com.amazonaws.notifications#SummarizationDimensionDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties used to summarize aggregated events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides detailed information about the dimensions used for aggregation.</p>"
      }
    },
    "com.amazonaws.notifications#AggregationDuration": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LONG",
            "value": "LONG",
            "documentation": "Aggregate notifications for long periods of time (12 hours)"
          },
          {
            "name": "SHORT",
            "value": "SHORT",
            "documentation": "Aggregate notifications for short periods of time (5 mins)"
          },
          {
            "name": "NONE",
            "value": "NONE",
            "documentation": "Do not aggregate notifications sourced from a notification configuration"
          }
        ]
      }
    },
    "com.amazonaws.notifications#AggregationEventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "AGGREGATE",
            "value": "AGGREGATE"
          },
          {
            "name": "CHILD",
            "value": "CHILD"
          },
          {
            "name": "NONE",
            "value": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.notifications#AggregationKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of aggregation key.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the value associated with the aggregation key name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Key-value collection that indicate how notifications are grouped.</p>"
      }
    },
    "com.amazonaws.notifications#AggregationKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#AggregationKey"
      }
    },
    "com.amazonaws.notifications#AggregationSummary": {
      "type": "structure",
      "members": {
        "eventCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the number of events associated with the aggregation key.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregatedBy": {
          "target": "com.amazonaws.notifications#AggregationKeys",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the criteria or rules by which notifications have been grouped together.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregatedAccounts": {
          "target": "com.amazonaws.notifications#SummarizationDimensionOverview",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the Amazon Web Services accounts in the aggregation key.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregatedRegions": {
          "target": "com.amazonaws.notifications#SummarizationDimensionOverview",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the Amazon Web Services Regions in the aggregation key.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregatedOrganizationalUnits": {
          "target": "com.amazonaws.notifications#SummarizationDimensionOverview",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the collection of organizational units that are involved in the aggregation key.</p>"
          }
        },
        "additionalSummarizationDimensions": {
          "target": "com.amazonaws.notifications#SummarizationDimensionOverviews",
          "traits": {
            "smithy.api#documentation": "<p>List of additional dimensions used to group and summarize data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides additional information about the aggregation key.</p>"
      }
    },
    "com.amazonaws.notifications#Arn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:[^:]*:[^:]*:[^:]*:.*$"
      }
    },
    "com.amazonaws.notifications#AssociateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#AssociateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#AssociateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a new Channel with a particular NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Associates a delivery <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/managing-delivery-channels.html\">Channel</a> with a particular <code>NotificationConfiguration</code>. Supported Channels include Chatbot,\nthe Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/channels/associate/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#AssociateChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to associate with the <code>NotificationConfiguration</code>.</p>\n         <p>Supported ARNs include Chatbot, the Console Mobile Application, and notifications-contacts.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>NotificationConfiguration</code> to associate with the\n         Channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#AssociateChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAccountContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#AssociateManagedNotificationAccountContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#AssociateManagedNotificationAccountContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate an Account contact\n    to a particular Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Associates an Account Contact with a particular <code>ManagedNotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "PUT",
          "uri": "/contacts/associate-managed-notification/{contactIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAccountContactRequest": {
      "type": "structure",
      "members": {
        "contactIdentifier": {
          "target": "com.amazonaws.notifications#AccountContactType",
          "traits": {
            "smithy.api#documentation": "<p>A unique value of an Account Contact Type to associate with the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> to associate with the Account Contact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAccountContactResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAdditionalChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#AssociateManagedNotificationAdditionalChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#AssociateManagedNotificationAdditionalChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a Channel\n    to a particular Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Associates an additional Channel with a particular <code>ManagedNotificationConfiguration</code>.</p>\n         <p>Supported Channels include Chatbot, the Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "PUT",
          "uri": "/channels/associate-managed-notification/{channelArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAdditionalChannelRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to associate with the <code>ManagedNotificationConfiguration</code>.</p>\n         <p>Supported ARNs include Chatbot, the Console Mobile Application, and email (notifications-contacts).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> to associate with the additional Channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#AssociateManagedNotificationAdditionalChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#Channel": {
      "type": "resource",
      "identifiers": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn"
        },
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn"
        }
      },
      "put": {
        "target": "com.amazonaws.notifications#AssociateChannel"
      },
      "delete": {
        "target": "com.amazonaws.notifications#DisassociateChannel"
      },
      "list": {
        "target": "com.amazonaws.notifications#ListChannels"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notifications#ChannelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:aws:(chatbot|consoleapp|notifications-contacts):[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-_.@]+/[a-zA-Z0-9/_.@:-]+$"
      }
    },
    "com.amazonaws.notifications#ChannelAssociationOverrideOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ENABLED",
            "value": "ENABLED",
            "documentation": "    AWS User Notification service users can associate or disassociate a Channel with a notification configuration.\n"
          },
          {
            "name": "DISABLED",
            "value": "DISABLED",
            "documentation": "    AWS User Notification service users can not associate or disassociate a Channel with a notification configuration.\n"
          }
        ]
      }
    },
    "com.amazonaws.notifications#ChannelIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ACCOUNT_PRIMARY|ACCOUNT_ALTERNATE_BILLING|ACCOUNT_ALTERNATE_OPERATIONS|ACCOUNT_ALTERNATE_SECURITY|arn:aws:(chatbot|consoleapp|notifications-contacts):[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-_.@]+/[a-zA-Z0-9/_.@:-]+$"
      }
    },
    "com.amazonaws.notifications#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "MOBILE",
            "value": "MOBILE",
            "documentation": "    AWS Console Mobile App sends notifications to mobile devices. Link:https://aws.amazon.com/console/mobile/\n"
          },
          {
            "name": "CHATBOT",
            "value": "CHATBOT",
            "documentation": "    Chatbot sends notifications to group platforms, like Slack or Chime. Link:https://aws.amazon.com/chatbot/\n"
          },
          {
            "name": "EMAIL",
            "value": "EMAIL",
            "documentation": "    Email sends notifications to email addresses.\n"
          },
          {
            "name": "ACCOUNT_CONTACT",
            "value": "ACCOUNT_CONTACT",
            "documentation": "    User Notification Service sends notifications to Account Managed contacts.\n"
          }
        ]
      }
    },
    "com.amazonaws.notifications#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#ChannelArn"
      }
    },
    "com.amazonaws.notifications#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.notifications#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID that prompted the conflict error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.notifications#CreateEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#CreateEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#CreateEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new EventRule, associating it with a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/glossary.html\">\n               <code>EventRule</code>\n            </a> that\n         is associated with a specified <code>NotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/event-rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#CreateEventRuleRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code> associated\n         with this <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only Amazon Web Services service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type to match.</p>\n         <p>Must match one of the valid Amazon EventBridge event types. For example, EC2 Instance State-change Notification and Amazon CloudWatch Alarm State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this\n            <code>EventRule</code> receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>"
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions that send events to this\n         <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#CreateEventRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an <code>EventRule</code>'s status by Region. Regions are mapped to <code>EventRuleStatusSummary</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#CreateNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#CreateNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Creates a new <code>NotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/notification-configurations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.notifications#NotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>NotificationConfiguration</code>. Supports RFC 3986's unreserved characters.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#NotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationDuration": {
          "target": "com.amazonaws.notifications#AggregationDuration",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation preference of the <code>NotificationConfiguration</code>.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>LONG</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for long periods of time (12 hours).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SHORT</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for short periods of time (5 minutes).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NONE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Don't aggregate notifications.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.notifications#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of this <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#CreationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notifications#DeleteEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeleteEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeleteEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an EventRule"
        },
        "smithy.api#documentation": "<p>Deletes an <code>EventRule</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/event-rules/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeleteEventRuleRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>EventRule</code> to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeleteEventRuleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeleteNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeleteNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Deletes a <code>NotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/notification-configurations/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code> to\n         delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHub": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeregisterNotificationHubRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeregisterNotificationHubResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to deregister a NotificationHub"
        },
        "smithy.api#documentation": "<p>Deregisters a <code>NotificationConfiguration</code> in the specified Region.</p>\n         <note>\n            <p>You can't deregister the last <code>NotificationHub</code> in the account.\n               <code>NotificationEvents</code> stored in the deregistered <code>NotificationConfiguration</code> are no\n            longer be visible. Recreating a new <code>NotificationConfiguration</code> in the same Region restores access\n            to those <code>NotificationEvents</code>.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/notification-hubs/{notificationHubRegion}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHubRequest": {
      "type": "structure",
      "members": {
        "notificationHubRegion": {
          "target": "com.amazonaws.notifications#Region",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NotificationConfiguration</code> Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHubResponse": {
      "type": "structure",
      "members": {
        "notificationHubRegion": {
          "target": "com.amazonaws.notifications#Region",
          "traits": {
            "smithy.api#documentation": "<p>The <code>NotificationConfiguration</code> Region.</p>",
            "smithy.api#required": {}
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.notifications#NotificationHubStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>NotificationConfiguration</code> status information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#Dimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The key-value pair of properties for an event.</p>"
      }
    },
    "com.amazonaws.notifications#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.notifications#DisableNotificationsAccessForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DisableNotificationsAccessForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DisableNotificationsAccessForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to disable Service Trust for AWS User Notifications",
          "requiredActions": ["organizations:DisableAWSServiceAccess"]
        },
        "smithy.api#documentation": "<p>Disables service trust between User Notifications and Amazon Web Services Organizations.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/organization/access"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DisableNotificationsAccessForOrganizationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DisableNotificationsAccessForOrganizationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DisassociateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DisassociateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DisassociateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove a Channel from a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Disassociates a Channel from a specified <code>NotificationConfiguration</code>. Supported Channels include Chatbot, the Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/channels/disassociate/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DisassociateChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to disassociate.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>NotificationConfiguration</code> to disassociate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DisassociateChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAccountContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DisassociateManagedNotificationAccountContactRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DisassociateManagedNotificationAccountContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove an Account contact from a Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Disassociates an Account Contact with a particular <code>ManagedNotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/contacts/disassociate-managed-notification/{contactIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAccountContactRequest": {
      "type": "structure",
      "members": {
        "contactIdentifier": {
          "target": "com.amazonaws.notifications#AccountContactType",
          "traits": {
            "smithy.api#documentation": "<p>The unique value of an Account Contact Type to associate with the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> to associate with the Account Contact.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAccountContactResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAdditionalChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DisassociateManagedNotificationAdditionalChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DisassociateManagedNotificationAdditionalChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove a Channel from a Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Disassociates an additional Channel from a particular <code>ManagedNotificationConfiguration</code>.</p>\n         <p>Supported Channels include Chatbot, the Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "PUT",
          "uri": "/channels/disassociate-managed-notification/{channelArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAdditionalChannelRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to associate with the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Managed Notification Configuration to associate with the additional Channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DisassociateManagedNotificationAdditionalChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#EnableNotificationsAccessForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#EnableNotificationsAccessForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#EnableNotificationsAccessForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to enable Service Trust for AWS User Notifications",
          "requiredActions": ["organizations:EnableAWSServiceAccess", "iam:CreateServiceLinkedRole"]
        },
        "smithy.api#documentation": "<p>Enables service trust between User Notifications and Amazon Web Services Organizations.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/organization/access"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#EnableNotificationsAccessForOrganizationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#EnableNotificationsAccessForOrganizationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.notifications#EventRule": {
      "type": "resource",
      "identifiers": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn"
        }
      },
      "put": {
        "target": "com.amazonaws.notifications#UpdateEventRule"
      },
      "create": {
        "target": "com.amazonaws.notifications#CreateEventRule"
      },
      "read": {
        "target": "com.amazonaws.notifications#GetEventRule"
      },
      "delete": {
        "target": "com.amazonaws.notifications#DeleteEventRule"
      },
      "list": {
        "target": "com.amazonaws.notifications#ListEventRules"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{arn}",
          "absolute": true
        },
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notifications#EventRuleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.notifications#Notifications",
          "resource": "com.amazonaws.notifications#EventRule"
        },
        "smithy.api#pattern": "^arn:aws:notifications::[0-9]{12}:configuration/[a-z0-9]{27}/rule/[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notifications#EventRuleEventPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.notifications#EventRuleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "EventRule is processing events. Any call can be executed."
          },
          {
            "name": "INACTIVE",
            "value": "INACTIVE",
            "documentation": "EventRule is in a bad state and may not be processing events. Any call can be executed."
          },
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "This EventRule is being created. Only GET/LIST calls can be executed."
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "documentation": "This EventRule is being updated. Only GET/LIST calls can be executed."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "This EventRule is being deleted. Only GET/LIST calls can be executed."
          }
        ]
      }
    },
    "com.amazonaws.notifications#EventRuleStatusReason": {
      "type": "string"
    },
    "com.amazonaws.notifications#EventRuleStatusSummary": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.notifications#EventRuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the <code>EventRule</code>.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The <code>EventRule</code> can process events.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The <code>EventRule</code> may be unable to process events.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CREATING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The <code>EventRule</code> is being created.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>UPDATING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The <code>EventRule</code> is being updated.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The <code>EventRule</code> is being deleted.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.notifications#EventRuleStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable reason for <code>EventRuleStatus</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides additional information about the current <code>EventRule</code> status.</p>"
      }
    },
    "com.amazonaws.notifications#EventRuleStructure": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>EventRule</code>. CloudFormation stack generates this ARN and\n         then uses this ARN to associate with the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the <code>NotificationConfiguration</code> associated with this <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The event source this rule should match with the EventBridge event sources. It must match with atleast one of the valid EventBridge event sources. Only Amazon Web Services service sourced events are supported. \n         For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>\n               Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type this rule should match with the EventBridge events. It must match with atleast one of the valid EventBridge event types. For example, Amazon EC2 Instance State change Notification and Amazon CloudWatch State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>\n            Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this <code>EventRule</code> receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions that send events to this <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "managedRules": {
          "target": "com.amazonaws.notifications#ManagedRuleArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon EventBridge Managed Rule ARNs associated with this <code>EventRule</code>.</p>\n         <note>\n            <p>These are created by User Notifications within your account so your <code>EventRules</code> can function.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an <code>EventRule</code>'s status by Region. Regions are mapped to <code>EventRuleStatusSummary</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a complete list of fields related to an <code>EventRule</code>.</p>"
      }
    },
    "com.amazonaws.notifications#EventRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#EventRuleStructure"
      }
    },
    "com.amazonaws.notifications#EventStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "HEALTHY",
            "value": "HEALTHY"
          },
          {
            "name": "UNHEALTHY",
            "value": "UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.notifications#EventType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([a-zA-Z0-9 \\-\\(\\)])+$"
      }
    },
    "com.amazonaws.notifications#GetEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get an EventRule"
        },
        "smithy.api#documentation": "<p>Returns a specified <code>EventRule</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/event-rules/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetEventRuleRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>EventRule</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetEventRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the <code>EventRule</code> was created.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only Amazon Web Services service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type to match.</p>\n         <p>Must match one of the valid Amazon EventBridge event types. For example, EC2 Instance State-change Notification and Amazon CloudWatch Alarm State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from Amazon Web Services services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this <code>EventRule</code> receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions that send events to this <code>EventRule</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "managedRules": {
          "target": "com.amazonaws.notifications#ManagedRuleArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of managed rules from EventBridge that are associated with this\n         <code>EventRule</code>.</p>\n         <note>\n            <p>These are created by User Notifications within your account so this <code>EventRule</code> functions.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an <code>EventRule</code>'s status by Region. Regions are mapped to <code>EventRuleStatusSummary</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationChildEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetManagedNotificationChildEventRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetManagedNotificationChildEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a Managed Notification Child Event"
        },
        "smithy.api#documentation": "<p>Returns the child event of a specific given <code>ManagedNotificationEvent</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/managed-notification-child-events/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationChildEventRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationChildEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationChildEvent</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.notifications#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>The locale code of the language used for the retrieved <code>ManagedNotificationChildEvent</code>. The default locale is English <code>en_US</code>.</p>",
            "smithy.api#httpQuery": "locale"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationChildEventResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationChildEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> associated with the <code>ManagedNotificationChildEvent</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the <code>ManagedNotificationChildEvent</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.notifications#ManagedNotificationChildEvent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the <code>ManagedNotificationChildEvent</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetManagedNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetManagedNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Returns a specified <code>ManagedNotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/managed-notification-configurations/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>ManagedNotificationConfiguration</code> resource.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "category": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The category of the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "subCategory": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The subCategory of the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetManagedNotificationEventRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetManagedNotificationEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a Managed NotificationEvent"
        },
        "smithy.api#documentation": "<p>Returns a specified <code>ManagedNotificationEvent</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/managed-notification-events/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationEventRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationEvent</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.notifications#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>The locale code of the language used for the retrieved <code>ManagedNotificationEvent</code>. The default locale is English <code>(en_US)</code>.</p>",
            "smithy.api#httpQuery": "locale"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetManagedNotificationEventResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ManagedNotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>ManagedNotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the <code>ManagedNotificationEvent</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.notifications#ManagedNotificationEvent",
          "traits": {
            "smithy.api#documentation": "<p>The content of the <code>ManagedNotificationEvent</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Returns a specified <code>NotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-configurations/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.notifications#NotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#NotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationDuration": {
          "target": "com.amazonaws.notifications#AggregationDuration",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation preference of the <code>NotificationConfiguration</code>.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>LONG</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for long periods of time (12 hours).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SHORT</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for short periods of time (5 minutes).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NONE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Don't aggregate notifications.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetNotificationEventRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetNotificationEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a NotificationEvent"
        },
        "smithy.api#documentation": "<p>Returns a specified <code>NotificationEvent</code>.</p>\n         <important>\n            <p>User Notifications stores notifications in the individual Regions you register as notification hubs and the Region of the source event rule. <code>GetNotificationEvent</code> only returns notifications stored in the same Region in which the action is called.\n\t  User Notifications doesn't backfill notifications to new Regions selected as notification hubs. For this reason, we recommend that you make calls in your oldest registered notification hub. \n\t  For more information, see <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/notification-hubs.html\">Notification hubs</a> in the <i>Amazon Web Services User Notifications User Guide</i>.</p>\n         </important>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-events/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEventRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationEvent</code> to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.notifications#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>The locale code of the language used for the retrieved <code>NotificationEvent</code>. The default locale is English <code>en_US</code>.</p>",
            "smithy.api#httpQuery": "locale"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEventResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the <code>NotificationEvent</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.notifications#NotificationEventSchema",
          "traits": {
            "smithy.api#documentation": "<p>The content of the <code>NotificationEvent</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationsAccessForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetNotificationsAccessForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetNotificationsAccessForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to read Service Trust for AWS User Notifications"
        },
        "smithy.api#documentation": "<p>Returns the AccessStatus of Service Trust Enablement for User Notifications and Amazon Web Services Organizations.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/organization/access"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationsAccessForOrganizationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationsAccessForOrganizationResponse": {
      "type": "structure",
      "members": {
        "notificationsAccessForOrganization": {
          "target": "com.amazonaws.notifications#NotificationsAccessForOrganization",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccessStatus</code> of Service Trust Enablement for User Notifications to Amazon Web Services Organizations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.notifications#LastActivationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notifications#ListChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListChannelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list Channels by NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Returns a list of Channels for a <code>NotificationConfiguration</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/channels"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "channels"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListChannelsRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#httpQuery": "notificationConfigurationArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. The default value is 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous\n         ListNotificationEvents call. <code>NextToken</code> uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "channels": {
          "target": "com.amazonaws.notifications#Channels",
          "traits": {
            "smithy.api#documentation": "<p>A list of Channels.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListEventRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListEventRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListEventRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list EventRules"
        },
        "smithy.api#documentation": "<p>Returns a list of <code>EventRules</code> according to specified filters, in reverse chronological order (newest first).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/event-rules"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "eventRules"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListEventRulesRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>NotificationConfiguration</code>.</p>",
            "smithy.api#httpQuery": "notificationConfigurationArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. The default value is 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous\n            <code>ListEventRules</code> call. Next token uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListEventRulesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "eventRules": {
          "target": "com.amazonaws.notifications#EventRules",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>EventRules</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListManagedNotificationChannelAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListManagedNotificationChannelAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListManagedNotificationChannelAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list Account contacts and Channels associated with a Managed Notification Configuration"
        },
        "smithy.api#documentation": "<p>Returns a list of Account contacts and Channels associated with a <code>ManagedNotificationConfiguration</code>, in paginated format.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/channels/list-managed-notification-channel-associations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "channelAssociations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListManagedNotificationChannelAssociationsRequest": {
      "type": "structure",
      "members": {
        "managedNotificationConfigurationArn": {
          "target": "com.amazonaws.notifications#ManagedNotificationConfigurationOsArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the <code>ManagedNotificationConfiguration</code> to match.</p>",
            "smithy.api#httpQuery": "managedNotificationConfigurationArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. Defaults to 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous <code>ListManagedNotificationChannelAssociations</code> call.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListManagedNotificationChannelAssociationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
[...]
