{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.notifications#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.notifications#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.notifications#AggregationDuration": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LONG",
            "value": "LONG",
            "documentation": "Aggregate notifications for long periods of time (12 hours)"
          },
          {
            "name": "SHORT",
            "value": "SHORT",
            "documentation": "Aggregate notifications for short periods of time (5 mins)"
          },
          {
            "name": "NONE",
            "value": "NONE",
            "documentation": "Do not aggregate notifications sourced from a notification configuration"
          }
        ]
      }
    },
    "com.amazonaws.notifications#AggregationEventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "AGGREGATE",
            "value": "AGGREGATE"
          },
          {
            "name": "CHILD",
            "value": "CHILD"
          },
          {
            "name": "NONE",
            "value": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.notifications#Arn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:[^:]*:[^:]*:[^:]*:.*$"
      }
    },
    "com.amazonaws.notifications#AssociateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#AssociateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#AssociateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a new Channel with a particular NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Associates a delivery <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/managing-delivery-channels.html\">Channel</a> with a particular NotificationConfiguration. Supported Channels include AWS Chatbot,\nthe AWS Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/channels/associate/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#AssociateChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to associate with the NotificationConfiguration.</p>\n         <p>Supported ARNs include AWS Chatbot, the Console Mobile Application, and notifications-contacts.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the NotificationConfiguration to associate with the Channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#AssociateChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#Channel": {
      "type": "resource",
      "identifiers": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn"
        },
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn"
        }
      },
      "put": {
        "target": "com.amazonaws.notifications#AssociateChannel"
      },
      "delete": {
        "target": "com.amazonaws.notifications#DisassociateChannel"
      },
      "list": {
        "target": "com.amazonaws.notifications#ListChannels"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notifications#ChannelArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:aws:(chatbot|consoleapp|notifications-contacts):[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-_.@]+/[a-zA-Z0-9/_.@:-]+$"
      }
    },
    "com.amazonaws.notifications#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#ChannelArn"
      }
    },
    "com.amazonaws.notifications#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.notifications#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID that prompted the conflict error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.notifications#CreateEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#CreateEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#CreateEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a new EventRule, associating it with a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/glossary.html\">EventRule</a> that is associated with a specified Notification Configuration.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/event-rules"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#CreateEventRuleRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationConfiguration associated with this EventRule.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only AWS service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type to match.</p>\n         <p>Must match one of the valid Amazon EventBridge event types. For example, EC2 Instance State-change Notification and AWS CloudWatch Alarm State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this EventRule receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>"
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Regions that send events to this EventRule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#CreateEventRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an EventRule's status by Region. Regions are mapped to EventRuleStatusSummary.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#CreateNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#CreateNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Creates a new NotificationConfiguration.</p>",
        "smithy.api#http": {
          "code": 201,
          "method": "POST",
          "uri": "/notification-configurations"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.notifications#NotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the NotificationConfiguration. Supports RFC 3986's unreserved characters.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#NotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationDuration": {
          "target": "com.amazonaws.notifications#AggregationDuration",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation preference of the NotificationConfiguration.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>LONG</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for long periods of time (12 hours).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SHORT</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for short periods of time (5 minutes).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NONE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Don't aggregate notifications.</p>\n                           <p>No delay in delivery.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.notifications#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags assigned to a resource. A tag is a string-to-string map of key-value pairs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#CreateNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this NotificationConfiguration.</p>\n         <p>The status should always be <code>INACTIVE</code> when part of the CreateNotificationConfiguration response.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>ACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>PARTIALLY_ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Some EventRules are <code>ACTIVE</code> and some are <code>INACTIVE</code>.</p>\n                        </li>\n                        <li>\n                           <p>Any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>INACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>This NotificationConfiguration is being deleted.</p>\n                        </li>\n                        <li>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#CreationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notifications#DeleteEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeleteEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeleteEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an EventRule"
        },
        "smithy.api#documentation": "<p>Deletes an EventRule.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/event-rules/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeleteEventRuleRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the EventRule to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeleteEventRuleResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeleteNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeleteNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Deletes a NotificationConfiguration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/notification-configurations/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationConfiguration to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeleteNotificationConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHub": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DeregisterNotificationHubRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DeregisterNotificationHubResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#ConflictException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to deregister a NotificationHub"
        },
        "smithy.api#documentation": "<p>Deregisters a NotificationHub in the specified Region.</p>\n         <note>\n            <p>You can't deregister the last NotificationHub in the account. NotificationEvents stored in the deregistered NotificationHub are no longer be visible. Recreating a new NotificationHub in the same Region restores access to those NotificationEvents.</p>\n         </note>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/notification-hubs/{notificationHubRegion}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHubRequest": {
      "type": "structure",
      "members": {
        "notificationHubRegion": {
          "target": "com.amazonaws.notifications#Region",
          "traits": {
            "smithy.api#documentation": "<p>The NotificationHub Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DeregisterNotificationHubResponse": {
      "type": "structure",
      "members": {
        "notificationHubRegion": {
          "target": "com.amazonaws.notifications#Region",
          "traits": {
            "smithy.api#documentation": "<p>The NotificationHub Region.</p>",
            "smithy.api#required": {}
          }
        },
        "statusSummary": {
          "target": "com.amazonaws.notifications#NotificationHubStatusSummary",
          "traits": {
            "smithy.api#documentation": "<p>NotificationHub status information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#Dimension": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The key-value pair of properties for an event.</p>"
      }
    },
    "com.amazonaws.notifications#Dimensions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#Dimension"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.notifications#DisassociateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#DisassociateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#DisassociateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove a Channel from a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Disassociates a Channel from a specified NotificationConfiguration. Supported Channels include AWS Chatbot, the AWS Console Mobile Application, and emails (notifications-contacts).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/channels/disassociate/{arn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.notifications#DisassociateChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to disassociate.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the NotificationConfiguration to disassociate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#DisassociateChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.notifications#EventRule": {
      "type": "resource",
      "identifiers": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn"
        }
      },
      "put": {
        "target": "com.amazonaws.notifications#UpdateEventRule"
      },
      "create": {
        "target": "com.amazonaws.notifications#CreateEventRule"
      },
      "read": {
        "target": "com.amazonaws.notifications#GetEventRule"
      },
      "delete": {
        "target": "com.amazonaws.notifications#DeleteEventRule"
      },
      "list": {
        "target": "com.amazonaws.notifications#ListEventRules"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{arn}",
          "absolute": true
        },
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notifications#EventRuleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.notifications#Notifications",
          "resource": "com.amazonaws.notifications#EventRule"
        },
        "smithy.api#pattern": "^arn:aws:notifications::[0-9]{12}:configuration/[a-z0-9]{27}/rule/[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notifications#EventRuleEventPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.notifications#EventRuleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "EventRule is processing events. Any call can be executed."
          },
          {
            "name": "INACTIVE",
            "value": "INACTIVE",
            "documentation": "EventRule is in a bad state and may not be processing events. Any call can be executed."
          },
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "This EventRule is being created. Only GET/LIST calls can be executed."
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "documentation": "This EventRule is being updated. Only GET/LIST calls can be executed."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "This EventRule is being deleted. Only GET/LIST calls can be executed."
          }
        ]
      }
    },
    "com.amazonaws.notifications#EventRuleStatusReason": {
      "type": "string"
    },
    "com.amazonaws.notifications#EventRuleStatusSummary": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.notifications#EventRuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the EventRule.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The EventRule can process events.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The EventRule may be unable to process events.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CREATING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The EventRule is being created.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>UPDATING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The EventRule is being updated.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>The EventRule is being deleted.</p>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.notifications#EventRuleStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable reason for EventRuleStatus.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes EventRule status information.</p>"
      }
    },
    "com.amazonaws.notifications#EventRuleStructure": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the NotificationConfiguration associated with this EventRule.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only AWS service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type to match.</p>\n         <p>Must match one of the valid Amazon EventBridge event types. For example, EC2 Instance State-change Notification and AWS CloudWatch Alarm State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this EventRule receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Regions that send events to this EventRule.</p>",
            "smithy.api#required": {}
          }
        },
        "managedRules": {
          "target": "com.amazonaws.notifications#ManagedRuleArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon EventBridge Managed Rule ARNs associated with this EventRule.</p>\n         <note>\n            <p>These are created by AWS User Notifications within your account so your EventRules can function.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an EventRule's status by Region. Regions are mapped to EventRuleStatusSummary.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a complete list of fields related to an EventRule.</p>"
      }
    },
    "com.amazonaws.notifications#EventRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#EventRuleStructure"
      }
    },
    "com.amazonaws.notifications#EventStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "HEALTHY",
            "value": "HEALTHY"
          },
          {
            "name": "UNHEALTHY",
            "value": "UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.notifications#EventType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([a-zA-Z0-9 \\-\\(\\)])+$"
      }
    },
    "com.amazonaws.notifications#GetEventRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetEventRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetEventRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get an EventRule"
        },
        "smithy.api#documentation": "<p>Returns a specified EventRule.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/event-rules/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetEventRuleRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the EventRule to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetEventRuleResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#EventRuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the EventRule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only AWS service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.notifications#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The event type to match.</p>\n         <p>Must match one of the valid Amazon EventBridge event types. For example, EC2 Instance State-change Notification and AWS CloudWatch Alarm State Change. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "eventPattern": {
          "target": "com.amazonaws.notifications#EventRuleEventPattern",
          "traits": {
            "smithy.api#documentation": "<p>An additional event pattern used to further filter the events this EventRule receives.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-event-patterns.html\">Amazon EventBridge event patterns</a> in the <i>Amazon EventBridge User Guide.</i>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "regions": {
          "target": "com.amazonaws.notifications#Regions",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Regions that send events to this EventRule.</p>",
            "smithy.api#required": {}
          }
        },
        "managedRules": {
          "target": "com.amazonaws.notifications#ManagedRuleArns",
          "traits": {
            "smithy.api#documentation": "<p>A list of managed rules from EventBridge that are are associated with this EventRule.</p>\n         <note>\n            <p>These are created by AWS User Notifications within your account so this EventRule functions.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "statusSummaryByRegion": {
          "target": "com.amazonaws.notifications#StatusSummaryByRegion",
          "traits": {
            "smithy.api#documentation": "<p>A list of an EventRule's status by Region. Regions are mapped to EventRuleStatusSummary.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Returns a specified NotificationConfiguration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-configurations/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationConfiguration to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.notifications#NotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#NotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this NotificationConfiguration.</p>\n         <p>The status should always be <code>INACTIVE</code> when part of the CreateNotificationConfiguration response.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>ACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>PARTIALLY_ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Some EventRules are <code>ACTIVE</code> and some are <code>INACTIVE</code>.</p>\n                        </li>\n                        <li>\n                           <p>Any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>INACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>This NotificationConfiguration is being deleted. Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                        <li>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationDuration": {
          "target": "com.amazonaws.notifications#AggregationDuration",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation preference of the NotificationConfiguration.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>LONG</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for long periods of time (12 hours).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SHORT</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for short periods of time (5 minutes).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NONE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Don't aggregate notifications.</p>\n                           <p>No delay in delivery.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#GetNotificationEventRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#GetNotificationEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get a NotificationEvent"
        },
        "smithy.api#documentation": "<p>Returns a specified NotificationEvent.</p>\n         <important>\n            <p>User Notifications stores notifications in the individual Regions you register as notification hubs and the Region of the source event rule. GetNotificationEvent only returns notifications stored in the same Region in which the action is called.\n\t  User Notifications doesn't backfill notifications to new Regions selected as notification hubs. For this reason, we recommend that you make calls in your oldest registered notification hub. \n\t  For more information, see <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/notification-hubs.html\">Notification hubs</a> in the <i>AWS User Notifications User Guide</i>.</p>\n         </important>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-events/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEventRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationEvent to return.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.notifications#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>The locale code of the language used for the retrieved NotificationEvent. The default locale is English <code>en_US</code>.</p>",
            "smithy.api#httpQuery": "locale"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#GetNotificationEventResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the NotificationEvent.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.notifications#NotificationEventSchema",
          "traits": {
            "smithy.api#documentation": "<p>The content of the NotificationEvent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.notifications#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.notifications#LastActivationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.notifications#ListChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListChannelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list Channels by NotificationConfiguration"
        },
        "smithy.api#documentation": "<p>Returns a list of Channels for a NotificationConfiguration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/channels"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "channels"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListChannelsRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationConfiguration.</p>",
            "smithy.api#httpQuery": "notificationConfigurationArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. The default value is 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous ListNotificationEvents call. NextToken uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "channels": {
          "target": "com.amazonaws.notifications#Channels",
          "traits": {
            "smithy.api#documentation": "<p>A list of Channels.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListEventRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListEventRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListEventRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list EventRules"
        },
        "smithy.api#documentation": "<p>Returns a list of EventRules according to specified filters, in reverse chronological order (newest first).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/event-rules"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "eventRules"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListEventRulesRequest": {
      "type": "structure",
      "members": {
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the NotificationConfiguration.</p>",
            "smithy.api#httpQuery": "notificationConfigurationArn",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. The default value is 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous ListEventRules call. Next token uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListEventRulesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "eventRules": {
          "target": "com.amazonaws.notifications#EventRules",
          "traits": {
            "smithy.api#documentation": "<p>A list of EventRules.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListNotificationConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListNotificationConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list NotificationConfigurations"
        },
        "smithy.api#documentation": "<p>Returns a list of abbreviated NotificationConfigurations according to specified filters, in reverse chronological order (newest first).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-configurations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "notificationConfigurations"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListNotificationConfigurationsSuccess",
            "params": {
              "status": "ACTIVE",
              "maxResults": 3
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.notifications#ListNotificationConfigurationsRequest": {
      "type": "structure",
      "members": {
        "eventRuleSource": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only AWS service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#httpQuery": "eventRuleSource"
          }
        },
        "channelArn": {
          "target": "com.amazonaws.notifications#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Channel to match.</p>",
            "smithy.api#httpQuery": "channelArn"
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The NotificationConfiguration status to match.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>ACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>PARTIALLY_ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Some EventRules are <code>ACTIVE</code> and some are <code>INACTIVE</code>. Any call can be run.</p>\n                        </li>\n                        <li>\n                           <p>Any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>INACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>This NotificationConfiguration is being deleted.</p>\n                        </li>\n                        <li>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#httpQuery": "status"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. Defaults to 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous ListEventRules call. Next token uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationConfigurationsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "notificationConfigurations": {
          "target": "com.amazonaws.notifications#NotificationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The NotificationConfigurations in the account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListNotificationEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListNotificationEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list NotificationEvents"
        },
        "smithy.api#documentation": "<p>Returns a list of NotificationEvents according to specified filters, in reverse chronological order (newest first).</p>\n         <important>\n            <p>User Notifications stores notifications in the individual Regions you register as notification hubs and the Region of the source event rule. ListNotificationEvents only returns notifications stored in the same Region in which the action is called.\n\t  User Notifications doesn't backfill notifications to new Regions selected as notification hubs. For this reason, we recommend that you make calls in your oldest registered notification hub.\n\t  For more information, see <a href=\"https://docs.aws.amazon.com/notifications/latest/userguide/notification-hubs.html\">Notification hubs</a> in the <i>AWS User Notifications User Guide</i>.</p>\n         </important>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-events"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "notificationEvents"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListNotificationEventsSuccess",
            "params": {
              "includeChildEvents": true,
              "maxResults": 3
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.notifications#ListNotificationEventsRequest": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The earliest time of events to return from this call.</p>",
            "smithy.api#httpQuery": "startTime",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Latest time of events to return from this call.</p>",
            "smithy.api#httpQuery": "endTime",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "locale": {
          "target": "com.amazonaws.notifications#LocaleCode",
          "traits": {
            "smithy.api#documentation": "<p>The locale code of the language used for the retrieved NotificationEvent. The default locale is English <code>(en_US)</code>.</p>",
            "smithy.api#httpQuery": "locale"
          }
        },
        "source": {
          "target": "com.amazonaws.notifications#Source",
          "traits": {
            "smithy.api#documentation": "<p>The matched event source.</p>\n         <p>Must match one of the valid EventBridge sources. Only AWS service sourced events are supported. For example, <code>aws.ec2</code> and <code>aws.cloudwatch</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event.html#eb-service-event-delivery-level\">Event delivery from AWS services</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
            "smithy.api#httpQuery": "source"
          }
        },
        "includeChildEvents": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Include aggregated child events in the result.</p>",
            "smithy.api#httpQuery": "includeChildEvents"
          }
        },
        "aggregateNotificationEventArn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the aggregatedNotificationEventArn to match.</p>",
            "smithy.api#httpQuery": "aggregateNotificationEventArn"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned in this call. Defaults to 20.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The start token for paginated calls. Retrieved from the response of a previous ListEventRules call. Next token uses Base64 encoding.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationEventsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        },
        "notificationEvents": {
          "target": "com.amazonaws.notifications#NotificationEvents",
          "traits": {
            "smithy.api#documentation": "<p>The list of notification events.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationHubs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListNotificationHubsRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListNotificationHubsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list NotificationHubs"
        },
        "smithy.api#documentation": "<p>Returns a list of NotificationHubs.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/notification-hubs"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "notificationHubs"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListNotificationHubsSuccess",
            "params": {
              "maxResults": 3
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.notifications#ListNotificationHubsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to list in a single response.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 3,
              "max": 3
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. Set to null to start listing notification hubs from the start.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListNotificationHubsResponse": {
      "type": "structure",
      "members": {
        "notificationHubs": {
          "target": "com.amazonaws.notifications#NotificationHubs",
          "traits": {
            "smithy.api#documentation": "<p>The NotificationHubs in the account.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.notifications#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token. If a non-null pagination token is returned in a result, pass its value in another request to retrieve more entries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.notifications#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.notifications#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.notifications#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.notifications#InternalServerException"
        },
        {
          "target": "com.amazonaws.notifications#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.notifications#ThrottlingException"
        },
        {
          "target": "com.amazonaws.notifications#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to get tags for a resource"
        },
        "smithy.api#documentation": "<p>Returns a list of tags for a specified Amazon Resource Name (ARN).</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/tag-editor/latest/userguide/tagging.html\">Tagging your AWS resources</a> in the <i>Tagging AWS Resources User Guide</i>.</p>\n         <note>\n            <p>This is only supported for NotificationConfigurations.</p>\n         </note>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{arn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.notifications#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) to use to list tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.notifications#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.notifications#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags for the specified ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.notifications#LocaleCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "de_DE",
            "value": "de_DE",
            "documentation": "German (Germany)"
          },
          {
            "name": "en_CA",
            "value": "en_CA",
            "documentation": "English (Canada)"
          },
          {
            "name": "en_US",
            "value": "en_US",
            "documentation": "English (United States). This is the default locale."
          },
          {
            "name": "en_UK",
            "value": "en_UK",
            "documentation": "English (United Kingdom)"
          },
          {
            "name": "es_ES",
            "value": "es_ES",
            "documentation": "Spanish (Spain)"
          },
          {
            "name": "fr_CA",
            "value": "fr_CA",
            "documentation": "French (Canada)"
          },
          {
            "name": "fr_FR",
            "value": "fr_FR",
            "documentation": "French (France)"
          },
          {
            "name": "id_ID",
            "value": "id_ID",
            "documentation": "Bahasa Indonesian (Indonesia)"
          },
          {
            "name": "it_IT",
            "value": "it_IT",
            "documentation": "Italian (Italy)"
          },
          {
            "name": "ja_JP",
            "value": "ja_JP",
            "documentation": "Japanese (Japan)"
          },
          {
            "name": "ko_KR",
            "value": "ko_KR",
            "documentation": "Korean (Korea)"
          },
          {
            "name": "pt_BR",
            "value": "pt_BR",
            "documentation": "Portuguese (Brazil)"
          },
          {
            "name": "tr_TR",
            "value": "tr_TR",
            "documentation": "Turkish (Turkey)"
          },
          {
            "name": "zh_CN",
            "value": "zh_CN",
            "documentation": "Chinese (China)"
          },
          {
            "name": "zh_TW",
            "value": "zh_TW",
            "documentation": "Chinese (Taiwan)"
          }
        ],
        "smithy.api#suppress": ["EnumTrait"]
      }
    },
    "com.amazonaws.notifications#ManagedRuleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:aws:events:[a-z-\\d]{2,25}:\\d{12}:rule\\/[a-zA-Z-\\d]{1,1024}$"
      }
    },
    "com.amazonaws.notifications#ManagedRuleArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#ManagedRuleArn"
      }
    },
    "com.amazonaws.notifications#Media": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#MediaElement"
      }
    },
    "com.amazonaws.notifications#MediaElement": {
      "type": "structure",
      "members": {
        "mediaId": {
          "target": "com.amazonaws.notifications#MediaId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the media.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.notifications#MediaElementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of media.</p>",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "com.amazonaws.notifications#Url",
          "traits": {
            "smithy.api#documentation": "<p>The url of the media.</p>",
            "smithy.api#required": {}
          }
        },
        "caption": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>The caption of the media.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a media element.</p>"
      }
    },
    "com.amazonaws.notifications#MediaElementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "IMAGE",
            "value": "IMAGE"
          }
        ]
      }
    },
    "com.amazonaws.notifications#MediaId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.notifications#MessageComponents": {
      "type": "structure",
      "members": {
        "headline": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>A sentence long summary. For example, titles or an email subject line.</p>"
          }
        },
        "paragraphSummary": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>A paragraph long or multiple sentence summary. For example, AWS Chatbot notifications.</p>"
          }
        },
        "completeDescription": {
          "target": "com.amazonaws.notifications#TextPartReference",
          "traits": {
            "smithy.api#documentation": "<p>A complete summary with all possible relevant information.</p>"
          }
        },
        "dimensions": {
          "target": "com.amazonaws.notifications#Dimensions",
          "traits": {
            "smithy.api#documentation": "<p>A list of properties in key-value pairs. Pairs are shown in order of importance from most important to least important. Channels may limit the number of dimensions shown to the notification viewer.</p>\n         <note>\n            <p>Included dimensions, keys, and values are subject to change.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the components of a notification message.</p>"
      }
    },
    "com.amazonaws.notifications#MessageComponentsSummary": {
      "type": "structure",
      "members": {
        "headline": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A sentence long summary. For example, titles or an email subject line.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the headline message component.</p>"
      }
    },
    "com.amazonaws.notifications#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[\\w+-/=]+$"
      }
    },
    "com.amazonaws.notifications#NotificationConfiguration": {
      "type": "resource",
      "identifiers": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn"
        }
      },
      "put": {
        "target": "com.amazonaws.notifications#UpdateNotificationConfiguration"
      },
      "create": {
        "target": "com.amazonaws.notifications#CreateNotificationConfiguration"
      },
      "read": {
        "target": "com.amazonaws.notifications#GetNotificationConfiguration"
      },
      "delete": {
        "target": "com.amazonaws.notifications#DeleteNotificationConfiguration"
      },
      "list": {
        "target": "com.amazonaws.notifications#ListNotificationConfigurations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "{arn}",
          "absolute": true
        },
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.notifications#NotificationConfigurationArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.notifications#Notifications",
          "resource": "com.amazonaws.notifications#NotificationConfiguration"
        },
        "smithy.api#pattern": "^arn:aws:notifications::[0-9]{12}:configuration/[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notifications#NotificationConfigurationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[^\\u0001-\\u001F\\u007F-\\u009F]*$"
      }
    },
    "com.amazonaws.notifications#NotificationConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9_\\-]+$"
      }
    },
    "com.amazonaws.notifications#NotificationConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "All of the EventRules are in ACTIVE Status. Any call can be executed."
          },
          {
            "name": "PARTIALLY_ACTIVE",
            "value": "PARTIALLY_ACTIVE",
            "documentation": "Some EventRules are in ACTIVE Status and some are INACTIVE. Any call can be executed."
          },
          {
            "name": "INACTIVE",
            "value": "INACTIVE",
            "documentation": "All of the EventRules are in INACTIVE Status. Any call can be executed."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "This NotificationConfiguration is being deleted. Only GET/LIST calls can be executed."
          }
        ]
      }
    },
    "com.amazonaws.notifications#NotificationConfigurationStructure": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.notifications#NotificationConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the NotificationConfiguration. Supports RFC 3986's unreserved characters.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.notifications#NotificationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.notifications#NotificationConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this NotificationConfiguration.</p>\n         <p>The status should always be INACTIVE when part of the CreateNotificationConfiguration response.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>ACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>PARTIALLY_ACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Some EventRules are <code>ACTIVE</code> and some are <code>INACTIVE</code>.</p>\n                        </li>\n                        <li>\n                           <p>Any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>INACTIVE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>All EventRules are <code>INACTIVE</code> and any call can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>This NotificationConfiguration is being deleted. Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                        <li>\n                           <p>Only <code>GET</code> and <code>LIST</code> calls can be run.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationDuration": {
          "target": "com.amazonaws.notifications#AggregationDuration",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation preference of the NotificationConfiguration.</p>\n         <ul>\n            <li>\n               <p>Values:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>LONG</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for long periods of time (12 hours).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SHORT</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Aggregate notifications for short periods of time (5 minutes).</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                     <p>\n                        <code>NONE</code>\n                     </p>\n                     <ul>\n                        <li>\n                           <p>Don't aggregate notifications.</p>\n                           <p>No delay in delivery.</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the complete list of fields for a NotificationConfiguration.</p>"
      }
    },
    "com.amazonaws.notifications#NotificationConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.notifications#NotificationConfigurationStructure"
      }
    },
    "com.amazonaws.notifications#NotificationEventArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazonaws.notifications#Notifications",
          "resource": "com.amazonaws.notifications#NotificationEventSchema"
        },
        "smithy.api#pattern": "^arn:[-.a-z0-9]{1,63}:notifications:[-.a-z0-9]{1,63}:[0-9]{12}:configuration/[a-z0-9]{27}/event/[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notifications#NotificationEventId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z0-9]{27}$"
      }
    },
    "com.amazonaws.notifications#NotificationEventOverview": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.notifications#NotificationEventArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationConfigurationArn": {
          "target": "com.amazonaws.notifications#NotificationConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the NotificationConfiguration.</p>",
            "smithy.api#required": {}
          }
        },
        "relatedAccount": {
          "target": "com.amazonaws.notifications#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account name containing the NotificationHub.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.notifications#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the NotificationEvent.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationEvent": {
          "target": "com.amazonaws.notifications#NotificationEventSummary",
          "traits": {
            "smithy.api#documentation": "<p>Refers to a NotificationEventSummary object.</p>\n         <p>Similar in structure to <code>content</code> in the GetNotificationEvent response.</p>",
            "smithy.api#required": {}
          }
        },
        "aggregationEventType": {
          "target": "com.amazonaws.notifications#AggregationEventType",
          "traits": {
[...]
