{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.novaact#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action. Verify your IAM permissions and try again.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.novaact#ActError": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error that occurred.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10000
            },
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type or category of error that occurred.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information when an act fails to execute successfully.</p>"
      }
    },
    "com.amazonaws.novaact#ActResource": {
      "type": "resource",
      "identifiers": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName"
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString"
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString"
        },
        "actId": {
          "target": "com.amazonaws.novaact#UuidString"
        }
      },
      "create": {
        "target": "com.amazonaws.novaact#CreateAct"
      },
      "list": {
        "target": "com.amazonaws.novaact#ListActs"
      },
      "operations": [
        {
          "target": "com.amazonaws.novaact#InvokeActStep"
        },
        {
          "target": "com.amazonaws.novaact#UpdateAct"
        }
      ]
    },
    "com.amazonaws.novaact#ActStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "PENDING_CLIENT_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLIENT_ACTION"
          }
        },
        "PENDING_HUMAN_ACTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_HUMAN_ACTION"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      }
    },
    "com.amazonaws.novaact#ActSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#ActSummary"
      }
    },
    "com.amazonaws.novaact#ActSummary": {
      "type": "structure",
      "members": {
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run containing this act.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session containing this act.</p>",
            "smithy.api#required": {}
          }
        },
        "actId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the act.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.novaact#ActStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current execution status of the act.</p>",
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "com.amazonaws.novaact#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the act started execution.</p>",
            "smithy.api#required": {}
          }
        },
        "endedAt": {
          "target": "com.amazonaws.novaact#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the act completed execution, if applicable.</p>"
          }
        },
        "traceLocation": {
          "target": "com.amazonaws.novaact#TraceLocation",
          "traits": {
            "smithy.api#documentation": "<p>The location where trace information for this act is stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an act, including its status and execution timing.</p>"
      }
    },
    "com.amazonaws.novaact#AmazonNovaAgentsDataPlane": {
      "type": "service",
      "version": "2025-08-22",
      "resources": [
        {
          "target": "com.amazonaws.novaact#ActResource"
        },
        {
          "target": "com.amazonaws.novaact#ModelResource"
        },
        {
          "target": "com.amazonaws.novaact#ServiceLinkedRoleResource"
        },
        {
          "target": "com.amazonaws.novaact#SessionResource"
        },
        {
          "target": "com.amazonaws.novaact#WorkflowDefinitionResource"
        },
        {
          "target": "com.amazonaws.novaact#WorkflowRunResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Nova Act",
          "arnNamespace": "nova-act",
          "endpointPrefix": "nova-act"
        },
        "aws.auth#sigv4": {
          "name": "nova-act"
        },
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The Nova Act service provides a REST API for managing AI-powered workflow automation. It enables users to create workflow definitions, execute workflow runs, manage sessions, and orchestrate acts (individual AI tasks) with tool integrations.</p>",
        "smithy.api#title": "Nova Act Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://nova-act-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                false
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://nova-act-fips.{Region}.{PartitionResult#dnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://nova-act.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://nova-act.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eusc-de-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.eusc-de-east-1.amazonaws.eu"
                }
              },
              "params": {
                "Region": "eusc-de-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://nova-act.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.novaact#Call": {
      "type": "structure",
      "members": {
        "callId": {
          "target": "com.amazonaws.novaact#CallId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this tool call, used to match results back to requests.</p>",
            "smithy.api#required": {}
          }
        },
        "input": {
          "target": "com.amazonaws.novaact#SensitiveDocument",
          "traits": {
            "smithy.api#documentation": "<p>The input parameters for the tool call, formatted according to the tool's schema.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tool to invoke, following the pattern 'tool.{toolName}' or 'browser.{browserAction}'.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request for the client to execute a specific tool with given parameters.</p>"
      }
    },
    "com.amazonaws.novaact#CallId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.novaact#CallResult": {
      "type": "structure",
      "members": {
        "callId": {
          "target": "com.amazonaws.novaact#CallId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the tool call that this result corresponds to.</p>"
          }
        },
        "content": {
          "target": "com.amazonaws.novaact#CallResultContents",
          "traits": {
            "smithy.api#documentation": "<p>The content returned by the tool execution, which can include text or other media types.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result returned from executing a tool call.</p>"
      }
    },
    "com.amazonaws.novaact#CallResultContent": {
      "type": "union",
      "members": {
        "text": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Text content returned from the tool execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content returned from a tool call execution.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#CallResultContents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#CallResultContent"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.novaact#CallResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#CallResult"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.novaact#Calls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#Call"
      }
    },
    "com.amazonaws.novaact#ClientInfo": {
      "type": "structure",
      "members": {
        "compatibilityVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The compatibility version of the client, used to ensure API compatibility.</p>",
            "smithy.api#required": {}
          }
        },
        "sdkVersion": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the SDK being used by the client.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the client making API requests, used for compatibility checking.</p>"
      }
    },
    "com.amazonaws.novaact#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 33,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}$"
      }
    },
    "com.amazonaws.novaact#CloudWatchLogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_/.-]+$"
      }
    },
    "com.amazonaws.novaact#CompatibilityInformation": {
      "type": "structure",
      "members": {
        "clientCompatibilityVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The client compatibility version that was requested.</p>",
            "smithy.api#required": {}
          }
        },
        "supportedModelIds": {
          "target": "com.amazonaws.novaact#ModelIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of model IDs that are supported for the client compatibility version.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about compatibility requirements or recommendations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about client compatibility and supported model versions.</p>"
      }
    },
    "com.amazonaws.novaact#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The requested operation conflicts with the current state of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that caused the conflict.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that caused the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.novaact#CreateAct": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#CreateActRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#CreateActResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new AI task (act) within a session that can interact with tools and perform specific actions.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}/sessions/{sessionId}/acts",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#CreateActRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run containing the session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session to create the act in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "task": {
          "target": "com.amazonaws.novaact#Task",
          "traits": {
            "smithy.api#documentation": "<p>The task description that defines what the act should accomplish.</p>",
            "smithy.api#required": {}
          }
        },
        "toolSpecs": {
          "target": "com.amazonaws.novaact#ToolSpecs",
          "traits": {
            "smithy.api#documentation": "<p>A list of tool specifications that the act can invoke to complete its task.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.novaact#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#CreateActResponse": {
      "type": "structure",
      "members": {
        "actId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created act.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.novaact#ActStatus",
          "traits": {
            "smithy.api#documentation": "<p>The initial status of the act after creation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#CreateSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#CreateSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#CreateSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new session context within a workflow run to manage conversation state and acts.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}/sessions",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#CreateSessionRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the workflow run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run to create the session in.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.novaact#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#CreateSessionResponse": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#CreateWorkflowDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#CreateWorkflowDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new workflow definition template that can be used to execute multiple workflow runs.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/workflow-definitions",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowDefinitionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition. Must be unique within your account and region.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.novaact#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the workflow definition's purpose and functionality.</p>"
          }
        },
        "exportConfig": {
          "target": "com.amazonaws.novaact#WorkflowExportConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for exporting workflow execution data to Amazon Simple Storage Service.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.novaact#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowDefinitionResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the workflow definition after creation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#CreateWorkflowRunRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#CreateWorkflowRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new execution instance of a workflow definition with specified parameters.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowRunRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition to execute.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AI model to use for workflow execution.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.novaact#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.novaact#CloudWatchLogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch log group name for storing workflow execution logs.</p>"
          }
        },
        "clientInfo": {
          "target": "com.amazonaws.novaact#ClientInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the client making the request, including compatibility version and SDK version.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#CreateWorkflowRunResponse": {
      "type": "structure",
      "members": {
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the created workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.novaact#WorkflowRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The initial status of the workflow run after creation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#DateTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#DeleteWorkflowDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#DeleteWorkflowDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workflow definition and all associated resources. This operation cannot be undone.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workflow-definitions/{workflowDefinitionName}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowDefinitionRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowDefinitionResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the workflow definition after deletion request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#DeleteWorkflowRunRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#DeleteWorkflowRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Terminates and cleans up a workflow run, stopping all associated acts and sessions.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowRunRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the workflow run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#DeleteWorkflowRunResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.novaact#WorkflowRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the workflow run after deletion request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#GetWorkflowDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#GetWorkflowDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details and configuration of a specific workflow definition.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflow-definitions/{workflowDefinitionName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowDefinitionRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowDefinitionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the workflow definition.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.novaact#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the workflow definition was created.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.novaact#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the workflow definition.</p>"
          }
        },
        "exportConfig": {
          "target": "com.amazonaws.novaact#WorkflowExportConfig",
          "traits": {
            "smithy.api#documentation": "<p>The export configuration for the workflow definition.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the workflow definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#GetWorkflowRunRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#GetWorkflowRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current state, configuration, and execution details of a workflow run.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowRunRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the workflow run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#GetWorkflowRunResponse": {
      "type": "structure",
      "members": {
        "workflowRunArn": {
          "target": "com.amazonaws.novaact#WorkflowRunArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.novaact#WorkflowRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current execution status of the workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "com.amazonaws.novaact#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the workflow run started execution.</p>",
            "smithy.api#required": {}
          }
        },
        "endedAt": {
          "target": "com.amazonaws.novaact#DateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the workflow run completed execution, if applicable.</p>"
          }
        },
        "modelId": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AI model being used for this workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.novaact#CloudWatchLogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The CloudWatch log group name for this workflow run's logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The service encountered an internal error. Try again later.</p>",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "reason": {
          "target": "com.amazonaws.novaact#InternalServerExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the internal server error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Please try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.novaact#InternalServerExceptionReason": {
      "type": "enum",
      "members": {
        "INVALID_MODEL_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InvalidModelGeneration"
          }
        },
        "TOKEN_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RequestTokenLimitExceeded"
          }
        }
      }
    },
    "com.amazonaws.novaact#InvokeActStep": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#InvokeActStepRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#InvokeActStepResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Executes the next step of an act, processing tool call results and returning new tool calls if needed.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}/sessions/{sessionId}/acts/{actId}/invoke-step/",
          "code": 200
        }
      }
    },
    "com.amazonaws.novaact#InvokeActStepRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the act.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run containing the act.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session containing the act.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "actId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the act to invoke the next step for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "callResults": {
          "target": "com.amazonaws.novaact#CallResults",
          "traits": {
            "smithy.api#documentation": "<p>The results from previous tool calls that the act requested.</p>",
            "smithy.api#required": {}
          }
        },
        "previousStepId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the previous step, used for tracking execution flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#InvokeActStepResponse": {
      "type": "structure",
      "members": {
        "calls": {
          "target": "com.amazonaws.novaact#Calls",
          "traits": {
            "smithy.api#documentation": "<p>A list of tool calls that the act wants to execute in this step.</p>",
            "smithy.api#required": {}
          }
        },
        "stepId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this execution step.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#ListActs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#ListActsRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#ListActsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all acts within a specific session with their current status and execution details.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflow-definitions/{workflowDefinitionName}/acts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "actSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#ListActsRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the session.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run containing the session.</p>",
            "smithy.api#httpQuery": "workflowRunId"
          }
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session to list acts for.</p>",
            "smithy.api#httpQuery": "sessionId"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.novaact#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of acts to return in a single response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.novaact#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order for the returned acts (ascending or descending).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#ListActsResponse": {
      "type": "structure",
      "members": {
        "actSummaries": {
          "target": "com.amazonaws.novaact#ActSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of summary information for acts in the session.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#ListModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#ListModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#ListModelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all available AI models that can be used for workflow execution, including their status and compatibility information.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/models",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListModelsSuccess",
            "params": {
              "clientCompatibilityVersion": 1
            },
            "vendorParams": {
              "region": "us-east-1"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.novaact#ListModelsRequest": {
      "type": "structure",
      "members": {
        "clientCompatibilityVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The client compatibility version to filter models by compatibility.</p>",
            "smithy.api#httpQuery": "clientCompatibilityVersion",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#ListModelsResponse": {
      "type": "structure",
      "members": {
        "modelSummaries": {
          "target": "com.amazonaws.novaact#ModelSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of available AI models with their status and compatibility information.</p>",
            "smithy.api#required": {}
          }
        },
        "modelAliases": {
          "target": "com.amazonaws.novaact#ModelAliases",
          "traits": {
            "smithy.api#documentation": "<p>A list of model aliases that provide stable references to model versions.</p>",
            "smithy.api#required": {}
          }
        },
        "compatibilityInformation": {
          "target": "com.amazonaws.novaact#CompatibilityInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information about client compatibility and supported models.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#ListSessions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#ListSessionsRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#ListSessionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all sessions within a specific workflow run.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs/{workflowRunId}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "sessionSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#ListSessionsRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition containing the workflow run.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the workflow run to list sessions for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.novaact#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of sessions to return in a single response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.novaact#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order for the returned sessions (ascending or descending).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#ListSessionsResponse": {
      "type": "structure",
      "members": {
        "sessionSummaries": {
          "target": "com.amazonaws.novaact#SessionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of summary information for sessions in the workflow run.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowDefinitions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#ListWorkflowDefinitionsRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#ListWorkflowDefinitionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all workflow definitions in your account with optional filtering and pagination.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflow-definitions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "workflowDefinitionSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowDefinitionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.novaact#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workflow definitions to return in a single response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.novaact#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order for the returned workflow definitions (ascending or descending).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowDefinitionsResponse": {
      "type": "structure",
      "members": {
        "workflowDefinitionSummaries": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of summary information for workflow definitions.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowRuns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.novaact#ListWorkflowRunsRequest"
      },
      "output": {
        "target": "com.amazonaws.novaact#ListWorkflowRunsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.novaact#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.novaact#ConflictException"
        },
        {
          "target": "com.amazonaws.novaact#InternalServerException"
        },
        {
          "target": "com.amazonaws.novaact#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.novaact#ThrottlingException"
        },
        {
          "target": "com.amazonaws.novaact#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all workflow runs for a specific workflow definition with optional filtering and pagination.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflow-definitions/{workflowDefinitionName}/workflow-runs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "workflowRunSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowRunsRequest": {
      "type": "structure",
      "members": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workflow definition to list workflow runs for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.novaact#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workflow runs to return in a single response.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.novaact#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order for the returned workflow runs (ascending or descending).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.novaact#ListWorkflowRunsResponse": {
      "type": "structure",
      "members": {
        "workflowRunSummaries": {
          "target": "com.amazonaws.novaact#WorkflowRunSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of summary information for workflow runs.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.novaact#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.novaact#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.novaact#ModelAlias": {
      "type": "structure",
      "members": {
        "aliasName": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the model alias.</p>",
            "smithy.api#required": {}
          }
        },
        "latestModelId": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The model ID that this alias currently points to.</p>",
            "smithy.api#required": {}
          }
        },
        "resolvedModelId": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The resolved model ID after alias resolution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An alias that provides a stable reference to a model version.</p>"
      }
    },
    "com.amazonaws.novaact#ModelAliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#ModelAlias"
      }
    },
    "com.amazonaws.novaact#ModelId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.novaact#ModelIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#ModelId"
      }
    },
    "com.amazonaws.novaact#ModelLifecycle": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.novaact#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current lifecycle status of the model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lifecycle information for an AI model.</p>"
      }
    },
    "com.amazonaws.novaact#ModelResource": {
      "type": "resource",
      "identifiers": {
        "modelId": {
          "target": "com.amazonaws.novaact#ModelId"
        }
      },
      "list": {
        "target": "com.amazonaws.novaact#ListModels"
      }
    },
    "com.amazonaws.novaact#ModelStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "LEGACY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEGACY"
          }
        },
        "DEPRECATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPRECATED"
          }
        },
        "PREVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW"
          }
        }
      }
    },
    "com.amazonaws.novaact#ModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#ModelSummary"
      }
    },
    "com.amazonaws.novaact#ModelSummary": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.novaact#ModelId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the model.</p>",
            "smithy.api#required": {}
          }
        },
        "modelLifecycle": {
          "target": "com.amazonaws.novaact#ModelLifecycle",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle information for the model.</p>",
            "smithy.api#required": {}
          }
        },
        "minimumCompatibilityVersion": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum client compatibility version required to use this model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an available AI model.</p>"
      }
    },
    "com.amazonaws.novaact#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S*$"
      }
    },
    "com.amazonaws.novaact#NonBlankString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]+$"
      }
    },
    "com.amazonaws.novaact#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The specified resource was not found.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that wasn't found.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that wasn't found.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.novaact#S3BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9][a-z0-9.-]*[a-z0-9]$"
      }
    },
    "com.amazonaws.novaact#S3KeyPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "A prefix for S3 object keys that will be prepended to 'step_{N}.json'.\nMust follow S3 object key naming guidelines and cannot end with a forward slash\nas it will be directly concatenated with the filename.",
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9!\\-_.*'()]+(?:/[a-zA-Z0-9!\\-_.*'()]+)*$"
      }
    },
    "com.amazonaws.novaact#SensitiveDocument": {
      "type": "document",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#SensitiveString": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#ServiceLinkedRoleResource": {
      "type": "resource"
    },
    "com.amazonaws.novaact#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The request would exceed one or more service quotas for your account.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that exceeded the quota.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that exceeded the quota.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The service code for the quota that was exceeded.</p>",
            "smithy.api#required": {}
          }
        },
        "quotaCode": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The code for the specific quota that was exceeded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would exceed a service quota limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.novaact#SessionResource": {
      "type": "resource",
      "identifiers": {
        "workflowDefinitionName": {
          "target": "com.amazonaws.novaact#WorkflowDefinitionName"
        },
        "workflowRunId": {
          "target": "com.amazonaws.novaact#UuidString"
        },
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString"
        }
      },
      "create": {
        "target": "com.amazonaws.novaact#CreateSession"
      },
      "list": {
        "target": "com.amazonaws.novaact#ListSessions"
      }
    },
    "com.amazonaws.novaact#SessionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.novaact#SessionSummary"
      }
    },
    "com.amazonaws.novaact#SessionSummary": {
      "type": "structure",
      "members": {
        "sessionId": {
          "target": "com.amazonaws.novaact#UuidString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a session within a workflow run.</p>"
      }
    },
    "com.amazonaws.novaact#SortOrder": {
      "type": "enum",
      "members": {
        "ASC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ascending"
          }
        },
        "DESC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Descending"
          }
        }
      }
    },
    "com.amazonaws.novaact#Task": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The service code where throttling occurred.</p>"
          }
        },
        "quotaCode": {
          "target": "com.amazonaws.novaact#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The quota code related to the throttling.</p>"
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the throttled request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was throttled due to too many requests. Please try again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.novaact#ToolDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#ToolInputSchema": {
      "type": "union",
      "members": {
        "json": {
          "target": "com.amazonaws.novaact#ToolInputSchemaDocument",
          "traits": {
            "smithy.api#documentation": "<p>The JSON schema that defines the expected input format for the tool.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The schema definition for tool input parameters.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.novaact#ToolInputSchemaDocument": {
      "type": "document"
    },
    "com.amazonaws.novaact#ToolName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.novaact#ToolSpec": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.novaact#ToolName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the tool that acts will use to invoke it.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.novaact#ToolDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of what the tool does and how it should be used.</p>",
            "smithy.api#required": {}
          }
        },
        "inputSchema": {
          "target": "com.amazonaws.novaact#ToolInputSchema",
          "traits": {
            "smithy.api#documentation": "<p>The JSON schema that defines the expected input format for the tool.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
