{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.observabilityadmin#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "amznErrorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the exception.\n    </p>",
            "smithy.api#httpHeader": "x-amzn-ErrorType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Indicates you don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management for Amazon Web Services resources</a> in the IAM user guide.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.observabilityadmin#AccountIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.observabilityadmin#AccountIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#AccountIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationFailureReason": {
      "type": "enum",
      "members": {
        "TRUSTED_ACCESS_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUSTED_ACCESS_NOT_ENABLED"
          }
        },
        "DESTINATION_ACCOUNT_NOT_IN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_ACCOUNT_NOT_IN_ORGANIZATION"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRule": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleSource",
          "traits": {
            "smithy.api#documentation": "<p>Configuration determining the source of the telemetry data to be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleDestination",
          "traits": {
            "smithy.api#documentation": "<p>Configuration determining where the telemetry data should be centralized, backed up, as well as encryption configuration for the primary and backup destinations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines how telemetry data should be centralized across an Amazon Web Services Organization, including source and destination configurations.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleDestination": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination region to which telemetry data should be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Account": {
          "target": "com.amazonaws.observabilityadmin#AccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The destination account (within the organization) to which the telemetry data should be centralized.</p>"
          }
        },
        "DestinationLogsConfiguration": {
          "target": "com.amazonaws.observabilityadmin#DestinationLogsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Log specific configuration for centralization destination log groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying the primary destination for centralized telemetry data.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSource": {
      "type": "structure",
      "members": {
        "Regions": {
          "target": "com.amazonaws.observabilityadmin#Regions",
          "traits": {
            "smithy.api#documentation": "<p>The list of source regions from which telemetry data should be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.observabilityadmin#SourceFilterString",
          "traits": {
            "smithy.api#documentation": "<p>The organizational scope from which telemetry data should be centralized, specified using organization id, accounts or organizational unit ids.</p>"
          }
        },
        "SourceLogsConfiguration": {
          "target": "com.amazonaws.observabilityadmin#SourceLogsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Log specific configuration for centralization source log groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying the source of telemetry data to be centralized.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#CentralizationRuleSummary"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSummary": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the organization centralization rule.</p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization centralization rule.</p>"
          }
        },
        "CreatorAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Account that created the organization centralization rule.</p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was created.</p>"
          }
        },
        "CreatedRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region where the organization centralization rule was created.</p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was last updated.</p>"
          }
        },
        "RuleHealth": {
          "target": "com.amazonaws.observabilityadmin#RuleHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the organization centralization rule.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#CentralizationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why an organization centralization rule is marked UNHEALTHY.</p>"
          }
        },
        "DestinationAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination account of the organization centralization rule.</p>"
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination region of the organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a centralization rule's key properties and status.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The requested operation conflicts with the current state of the specified resource or with another request.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a centralization rule that applies across an Amazon Web Services Organization. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateCentralizationRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the organization-wide centralization rule being created.</p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRule",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the organization-wide centralization rule, including the source configuration and the destination configuration to centralize telemetry data across the organization.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to associate with the organization telemetry rule resource for categorization and management purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a telemetry rule that defines how telemetry should be configured for Amazon Web Services resources in your account. The rule specifies which resources should have telemetry enabled and how that telemetry data should be collected based on resource type, telemetry type, and selection criteria.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateTelemetryRule"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a telemetry rule that applies across an Amazon Web Services Organization. This operation can only be called by the organization's management account or a delegated administrator account.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateTelemetryRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>\n      A unique name for the organization-wide telemetry rule being created.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p>\n      The configuration details for the organization-wide telemetry rule, including the resource type, telemetry type, destination configuration, and selection criteria for which resources the rule applies to across the organization.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      The key-value pairs to associate with the organization telemetry rule resource for categorization and management purposes.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the created organization telemetry rule.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>\n      A unique name for the telemetry rule being created.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p>\n      The configuration details for the telemetry rule, including the resource type, telemetry type, destination configuration, and selection criteria for which resources the rule applies to.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      The key-value pairs to associate with the telemetry rule resource for categorization and management purposes.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the created telemetry rule.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an organization-wide centralization rule. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteCentralizationRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (name or ARN) of the organization centralization rule to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRuleInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes a telemetry rule from your account. Any telemetry configurations previously created by the rule will remain but no new resources will be configured by this rule.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteTelemetryRule"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes an organization-wide telemetry rule. This operation can only be called by the organization's management account or a delegated administrator account.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteTelemetryRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The identifier (name or ARN) of the organization telemetry rule to delete.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The identifier (name or ARN) of the telemetry rule to delete.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DestinationLogsConfiguration": {
      "type": "structure",
      "members": {
        "LogsEncryptionConfiguration": {
          "target": "com.amazonaws.observabilityadmin#LogsEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for centralization destination log groups.</p>"
          }
        },
        "BackupConfiguration": {
          "target": "com.amazonaws.observabilityadmin#LogsBackupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration defining the backup region and an optional KMS key for the backup destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for centralization destination log groups, including encryption and backup settings.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#DestinationType": {
      "type": "enum",
      "members": {
        "CLOUDWATCH_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud-watch-logs"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#EncryptedLogGroupStrategy": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#EncryptionConflictResolutionStrategy": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#EncryptionStrategy": {
      "type": "enum",
      "members": {
        "CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED"
          }
        },
        "AWS_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_OWNED"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific organization centralization rule. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetCentralizationRuleForOrganization"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (name or ARN) of the organization centralization rule to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the organization centralization rule.</p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization centralization rule.</p>"
          }
        },
        "CreatorAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Account that created the organization centralization rule.</p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was created.</p>"
          }
        },
        "CreatedRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region where the organization centralization rule was created.</p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was last updated.</p>"
          }
        },
        "RuleHealth": {
          "target": "com.amazonaws.observabilityadmin#RuleHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the organization centralization rule.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#CentralizationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why an organization centralization rule is marked UNHEALTHY.</p>"
          }
        },
        "CentralizationRule": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRule",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns the current onboarding status of the telemetry config feature, including the status of the feature and reason the feature failed to start or stop.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryEvaluationStatus"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTelemetryEvaluationStatus",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganization": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      This returns the onboarding status of the telemetry configuration feature for the organization. It can only be called by a Management Account of an Amazon Web Services Organization or an assigned Delegated Admin Account of Amazon CloudWatch telemetry config.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryEvaluationStatusForOrganization"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTelemetryEvaluationStatusForOrganization",
            "params": {},
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.observabilityadmin#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganizationOutput": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.observabilityadmin#Status",
          "traits": {
            "smithy.api#documentation": "<p>\n      The onboarding status of the telemetry config feature for the organization.\n    </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>\n      This field describes the reason for the failure status. The field will only be populated if <code>Status</code> is <code>FAILED_START</code> or <code>FAILED_STOP</code>.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusOutput": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.observabilityadmin#Status",
          "traits": {
            "smithy.api#documentation": "<p>\n      The onboarding status of the telemetry config feature.\n    </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>\n      Describes the reason for the failure status. The field will only be populated if <code>Status</code> is <code>FAILED_START</code> or <code>FAILED_STOP</code>.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Retrieves the details of a specific telemetry rule in your account.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryRule"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Retrieves the details of a specific organization telemetry rule. This operation can only be called by the organization's management account or a delegated administrator account.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryRuleForOrganization"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The identifier (name or ARN) of the organization telemetry rule to retrieve.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the organization telemetry rule.\n    </p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the organization telemetry rule.\n    </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n      The timestamp when the organization telemetry rule was created.\n    </p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n      The timestamp when the organization telemetry rule was last updated.\n    </p>"
          }
        },
        "TelemetryRule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p>\n      The configuration details of the organization telemetry rule.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The identifier (name or ARN) of the telemetry rule to retrieve.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the telemetry rule.\n    </p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the telemetry rule.\n    </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n      The timestamp when the telemetry rule was created.\n    </p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>\n      The timestamp when the telemetry rule was last updated.\n    </p>"
          }
        },
        "TelemetryRule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p>\n      The configuration details of the telemetry rule.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "amznErrorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the exception.\n    </p>",
            "smithy.api#httpHeader": "x-amzn-ErrorType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Indicates the request has failed to process because of an unknown server error, exception, or failure.\n    </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all centralization rules in your organization. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListCentralizationRulesForOrganization"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "CentralizationRuleSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string to filter organization centralization rules whose names begin with the specified prefix.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            }
          }
        },
        "AllRegions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag determining whether to return organization centralization rules from all regions or only the current region.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of organization centralization rules to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. A previous call generates this token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationOutput": {
      "type": "structure",
      "members": {
        "CentralizationRuleSummaries": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of centralization rule summaries.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to resume pagination of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns a list of telemetry configurations for Amazon Web Services resources supported by telemetry config. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/telemetry-config-cloudwatch.html\">Auditing CloudWatch telemetry configurations</a>.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListResourceTelemetry"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns a list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the organization.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListResourceTelemetryForOrganization"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationInput": {
      "type": "structure",
      "members": {
        "AccountIdentifiers": {
          "target": "com.amazonaws.observabilityadmin#AccountIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of Amazon Web Services accounts used to filter the resources to those associated with the specified accounts.\n    </p>"
          }
        },
        "ResourceIdentifierPrefix": {
          "target": "com.amazonaws.observabilityadmin#ResourceIdentifierPrefix",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string used to filter resources in the organization which have a <code>ResourceIdentifier</code> starting with the <code>ResourceIdentifierPrefix</code>.\n    </p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.observabilityadmin#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>\n    A list of resource types used to filter resources in the organization. If this parameter is provided, the resources will be returned in the same order used in the request.\n    </p>"
          }
        },
        "TelemetryConfigurationState": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>\n      A key-value pair to filter resources in the organization based on the telemetry type and the state of the telemetry configuration. The key is the telemetry type and the value is the state.\n    </p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      A key-value pair to filter resources in the organization based on tags associated with the resource. Fore more information about tags, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/what-are-tags.html\">What are tags?</a>\n         </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>\n      A number field used to limit the number of results within the returned list.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of items to return. A previous call provides this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationOutput": {
      "type": "structure",
      "members": {
        "TelemetryConfigurations": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the organization.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of items to return. A previous call provides this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryInput": {
      "type": "structure",
      "members": {
        "ResourceIdentifierPrefix": {
          "target": "com.amazonaws.observabilityadmin#ResourceIdentifierPrefix",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string used to filter resources which have a <code>ResourceIdentifier</code> starting with the <code>ResourceIdentifierPrefix</code>.\n    </p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.observabilityadmin#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of resource types used to filter resources supported by telemetry config. If this parameter is provided, the resources will be returned in the same order used in the request.\n    </p>"
          }
        },
        "TelemetryConfigurationState": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>\n      A key-value pair to filter resources based on the telemetry type and the state of the telemetry configuration. The key is the telemetry type and the value is the state.\n    </p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>\n      A key-value pair to filter resources based on tags associated with the resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/what-are-tags.html\">What are tags?</a>\n         </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>\n      A number field used to limit the number of results within the returned list.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of items to return. A previous call generates this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryOutput": {
      "type": "structure",
      "members": {
        "TelemetryConfigurations": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the caller's account.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of items to return. A previous call generates this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Lists all tags attached to the specified telemetry rule resource.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTagsForResource"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the telemetry rule resource whose tags you want to list.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapOutput",
          "traits": {
            "smithy.api#documentation": "<p>\n      The list of tags associated with the telemetry rule resource.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Lists all telemetry rules in your account. You can filter the results by specifying a rule name prefix.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTelemetryRules"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryRuleSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Lists all telemetry rules in your organization. This operation can only be called by the organization's management account or a delegated administrator account.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTelemetryRulesForOrganization"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryRuleSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string to filter organization telemetry rules whose names begin with the specified prefix.\n    </p>"
          }
        },
        "SourceAccountIds": {
          "target": "com.amazonaws.observabilityadmin#AccountIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>\n      The list of account IDs to filter organization telemetry rules by their source accounts.\n    </p>"
          }
        },
        "SourceOrganizationUnitIds": {
          "target": "com.amazonaws.observabilityadmin#OrganizationUnitIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>\n      The list of organizational unit IDs to filter organization telemetry rules by their source organizational units.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>\n      The maximum number of organization telemetry rules to return in a single call.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of results. A previous call generates this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganizationOutput": {
      "type": "structure",
      "members": {
        "TelemetryRuleSummaries": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRuleSummaries",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of organization telemetry rule summaries.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      A token to resume pagination of results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesInput": {
      "type": "structure",
      "members": {
        "RuleNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      A string to filter telemetry rules whose names begin with the specified prefix.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>\n      The maximum number of telemetry rules to return in a single call.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      The token for the next set of results. A previous call generates this token.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryRulesOutput": {
      "type": "structure",
      "members": {
        "TelemetryRuleSummaries": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRuleSummaries",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of telemetry rule summaries.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      A token to resume pagination of results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#LogsBackupConfiguration": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>Logs specific backup destination region within the primary destination account to which log data should be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>KMS Key arn belonging to the primary destination account and backup region, to encrypt newly created central log groups in the backup destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for backing up centralized log data to a secondary region.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#LogsEncryptionConfiguration": {
      "type": "structure",
      "members": {
        "EncryptionStrategy": {
          "target": "com.amazonaws.observabilityadmin#EncryptionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Configuration that determines the encryption strategy of the destination log groups. CUSTOMER_MANAGED uses the configured KmsKeyArn to encrypt newly created destination log groups.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>KMS Key arn belonging to the primary destination account and region, to encrypt newly created central log groups in the primary destination.</p>"
          }
        },
        "EncryptionConflictResolutionStrategy": {
          "target": "com.amazonaws.observabilityadmin#EncryptionConflictResolutionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Conflict resolution strategy for centralization if the encryption strategy is set to CUSTOMER_MANAGED and the destination log group is encrypted with an AWS_OWNED KMS Key. ALLOW lets centralization go through while SKIP prevents centralization into the destination log group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for encrypting centralized log groups. This configuration is only applied to destination log groups for which the corresponding source log groups are encrypted using Customer Managed KMS Keys.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#LogsFilterString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.observabilityadmin#NextToken": {
      "type": "string"
    },
    "com.amazonaws.observabilityadmin#ObservabilityAdmin": {
      "type": "service",
      "version": "2018-05-10",
      "operations": [
        {
          "target": "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#CreateTelemetryRule"
        },
        {
          "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRule"
        },
        {
          "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatus"
        },
        {
          "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#GetTelemetryRule"
        },
        {
          "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetry"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListTelemetryRules"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ListTelemetryRulesForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#StartTelemetryEvaluation"
        },
        {
          "target": "com.amazonaws.observabilityadmin#StartTelemetryEvaluationForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#StopTelemetryEvaluation"
        },
        {
          "target": "com.amazonaws.observabilityadmin#StopTelemetryEvaluationForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TagResource"
        },
        {
          "target": "com.amazonaws.observabilityadmin#UntagResource"
        },
        {
          "target": "com.amazonaws.observabilityadmin#UpdateCentralizationRuleForOrganization"
        },
        {
          "target": "com.amazonaws.observabilityadmin#UpdateTelemetryRule"
        },
        {
          "target": "com.amazonaws.observabilityadmin#UpdateTelemetryRuleForOrganization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ObservabilityAdmin",
          "arnNamespace": "observabilityadmin"
        },
        "aws.auth#sigv4": {
          "name": "observabilityadmin"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>\n      You can use Amazon CloudWatch Observability Admin to discover and understand the state of telemetry configuration in CloudWatch for your Amazon Web Services Organization or account. This simplifies the process of auditing your telemetry collection configurations across multiple resource types within your Amazon Web Services Organization or account. By providing a consolidated view, it allows you to easily review and manage telemetry settings, helping you ensure proper monitoring and data collection across your Amazon Web Services environment. \n      For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/telemetry-config-cloudwatch.html\">Auditing CloudWatch telemetry conﬁgurations</a> in the CloudWatch User Guide.</p>\n         <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/auth-and-access-control-cw.html\">Identity and access management for Amazon CloudWatch</a> in the CloudWatch User Guide.</p>",
        "smithy.api#title": "CloudWatch Observability Admin Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://observabilityadmin-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://observabilityadmin-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://observabilityadmin.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://observabilityadmin.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://observabilityadmin.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.observabilityadmin#OrganizationUnitIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ou-[0-9a-z]{4,32}-[a-z0-9]{8,32}$"
      }
    },
    "com.amazonaws.observabilityadmin#OrganizationUnitIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#OrganizationUnitIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.observabilityadmin#Region": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.observabilityadmin#Regions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#Region"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.observabilityadmin#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws([a-z0-9\\-]+)?:([a-zA-Z0-9\\-]+):([a-z0-9\\-]+)?:([0-9]{12})?:(.+)$"
      }
    },
    "com.amazonaws.observabilityadmin#ResourceIdentifier": {
      "type": "string"
    },
    "com.amazonaws.observabilityadmin#ResourceIdentifierPrefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 768
        }
      }
    },
    "com.amazonaws.observabilityadmin#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      The specified resource (such as a telemetry rule) could not be found.\n    </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.observabilityadmin#ResourceType": {
      "type": "enum",
      "members": {
        "AWS_EC2_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::Instance"
          }
        },
        "AWS_EC2_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::EC2::VPC"
          }
        },
        "AWS_LAMDBA_FUNCTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS::Lambda::Function"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#ResourceTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#ResourceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.observabilityadmin#RetentionPeriodInDays": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 3653
        }
      }
    },
    "com.amazonaws.observabilityadmin#RuleHealth": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Healthy"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unhealthy"
          }
        },
        "PROVISIONING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioning"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#RuleIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.observabilityadmin#RuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[0-9A-Za-z-_.#/]+$"
      }
    },
    "com.amazonaws.observabilityadmin#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
[...]
