{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.observabilityadmin#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "amznErrorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the exception. </p>",
            "smithy.api#httpHeader": "x-amzn-ErrorType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Indicates you don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management for Amazon Web Services resources</a> in the IAM user guide. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.observabilityadmin#AccountIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.observabilityadmin#AccountIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#AccountIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.observabilityadmin#Action": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "BLOCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCK"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "CAPTCHA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAPTCHA"
          }
        },
        "CHALLENGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHALLENGE"
          }
        },
        "EXCLUDED_AS_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDED_AS_COUNT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Enumeration of WAF actions that can be matched in filter conditions. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#ActionCondition": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.observabilityadmin#Action",
          "traits": {
            "smithy.api#documentation": "<p> The WAF action to match against (ALLOW, BLOCK, COUNT, CAPTCHA, CHALLENGE, EXCLUDED_AS_COUNT). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Condition that matches based on the specific WAF action taken on the request. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#AdvancedEventSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional, descriptive name for an advanced event selector, such as \"Log data events for only two S3 buckets\".</p>"
          }
        },
        "FieldSelectors": {
          "target": "com.amazonaws.observabilityadmin#FieldSelectors",
          "traits": {
            "smithy.api#documentation": "<p>Contains all selector statements in an advanced event selector.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Advanced event selectors let you create fine-grained selectors for management, data, and network activity events.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#AdvancedEventSelectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#AdvancedEventSelector"
      }
    },
    "com.amazonaws.observabilityadmin#AdvancedFieldSelector": {
      "type": "structure",
      "members": {
        "Field": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the field to use for selection. </p>",
            "smithy.api#required": {}
          }
        },
        "Equals": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value equals the specified value. </p>"
          }
        },
        "StartsWith": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value starts with the specified value. </p>"
          }
        },
        "EndsWith": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value ends with the specified value. </p>"
          }
        },
        "NotEquals": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value does not equal the specified value. </p>"
          }
        },
        "NotStartsWith": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value does not start with the specified value. </p>"
          }
        },
        "NotEndsWith": {
          "target": "com.amazonaws.observabilityadmin#StringList",
          "traits": {
            "smithy.api#documentation": "<p> Matches if the field value does not end with the specified value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Defines criteria for selecting resources based on field values. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#AwsResourceExplorerManagedViewArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws([a-z0-9\\-]+)?:resource-explorer-2:([a-z0-9\\-]+)?:([0-9]{12})?:managed-view/(.+)$"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationFailureReason": {
      "type": "enum",
      "members": {
        "TRUSTED_ACCESS_NOT_ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUSTED_ACCESS_NOT_ENABLED"
          }
        },
        "DESTINATION_ACCOUNT_NOT_IN_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESTINATION_ACCOUNT_NOT_IN_ORGANIZATION"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRule": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleSource",
          "traits": {
            "smithy.api#documentation": "<p>Configuration determining the source of the telemetry data to be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleDestination",
          "traits": {
            "smithy.api#documentation": "<p>Configuration determining where the telemetry data should be centralized, backed up, as well as encryption configuration for the primary and backup destinations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines how telemetry data should be centralized across an Amazon Web Services Organization, including source and destination configurations.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleDestination": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination region to which telemetry data should be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Account": {
          "target": "com.amazonaws.observabilityadmin#AccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The destination account (within the organization) to which the telemetry data should be centralized.</p>"
          }
        },
        "DestinationLogsConfiguration": {
          "target": "com.amazonaws.observabilityadmin#DestinationLogsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Log specific configuration for centralization destination log groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying the primary destination for centralized telemetry data.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSource": {
      "type": "structure",
      "members": {
        "Regions": {
          "target": "com.amazonaws.observabilityadmin#Regions",
          "traits": {
            "smithy.api#documentation": "<p>The list of source regions from which telemetry data should be centralized.</p>",
            "smithy.api#required": {}
          }
        },
        "Scope": {
          "target": "com.amazonaws.observabilityadmin#SourceFilterString",
          "traits": {
            "smithy.api#documentation": "<p>The organizational scope from which telemetry data should be centralized, specified using organization id, accounts or organizational unit ids.</p>"
          }
        },
        "SourceLogsConfiguration": {
          "target": "com.amazonaws.observabilityadmin#SourceLogsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Log specific configuration for centralization source log groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration specifying the source of telemetry data to be centralized.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#CentralizationRuleSummary"
      }
    },
    "com.amazonaws.observabilityadmin#CentralizationRuleSummary": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the organization centralization rule.</p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization centralization rule.</p>"
          }
        },
        "CreatorAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Account that created the organization centralization rule.</p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was created.</p>"
          }
        },
        "CreatedRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region where the organization centralization rule was created.</p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was last updated.</p>"
          }
        },
        "RuleHealth": {
          "target": "com.amazonaws.observabilityadmin#RuleHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the organization centralization rule.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#CentralizationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why an organization centralization rule is marked UNHEALTHY.</p>"
          }
        },
        "DestinationAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination account of the organization centralization rule.</p>"
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The primary destination region of the organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a centralization rule's key properties and status.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#CloudtrailParameters": {
      "type": "structure",
      "members": {
        "AdvancedEventSelectors": {
          "target": "com.amazonaws.observabilityadmin#AdvancedEventSelectors",
          "traits": {
            "smithy.api#documentation": "<p> The advanced event selectors to use for filtering Amazon Web Services CloudTrail events. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Parameters specific to Amazon Web Services CloudTrail telemetry configuration. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#Condition": {
      "type": "structure",
      "members": {
        "ActionCondition": {
          "target": "com.amazonaws.observabilityadmin#ActionCondition",
          "traits": {
            "smithy.api#documentation": "<p> Matches log records based on the WAF rule action taken (ALLOW, BLOCK, COUNT, etc.). </p>"
          }
        },
        "LabelNameCondition": {
          "target": "com.amazonaws.observabilityadmin#LabelNameCondition",
          "traits": {
            "smithy.api#documentation": "<p> Matches log records based on WAF rule labels applied to the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A single condition that can match based on WAF rule action or label name. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#Conditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#Condition"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of conditions for filter matching, with at least one condition required. </p>",
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.observabilityadmin#ConfigurationSummary": {
      "type": "structure",
      "members": {
        "Sources": {
          "target": "com.amazonaws.observabilityadmin#Sources",
          "traits": {
            "smithy.api#documentation": "<p>The list of data sources configured in the pipeline.</p>"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.observabilityadmin#DataSources",
          "traits": {
            "smithy.api#documentation": "<p>The list of data sources that provide telemetry data to the pipeline.</p>"
          }
        },
        "Processors": {
          "target": "com.amazonaws.observabilityadmin#Processors",
          "traits": {
            "smithy.api#documentation": "<p>The list of processors configured in the pipeline for data transformation.</p>"
          }
        },
        "ProcessorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of processors configured in the pipeline.</p>"
          }
        },
        "Sinks": {
          "target": "com.amazonaws.observabilityadmin#Sinks",
          "traits": {
            "smithy.api#documentation": "<p>The list of destinations where processed data is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of pipeline configuration components including sources, processors, and destinations.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The identifier of the resource which is in conflict with the requested operation. </p>"
          }
        },
        "ResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The type of the resource which is in conflict with the requested operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The requested operation conflicts with the current state of the specified resource or with another request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a centralization rule that applies across an Amazon Web Services Organization. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateCentralizationRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the organization-wide centralization rule being created.</p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRule",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the organization-wide centralization rule, including the source configuration and the destination configuration to centralize telemetry data across the organization.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to associate with the organization telemetry rule resource for categorization and management purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateCentralizationRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateS3TableIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateS3TableIntegrationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateS3TableIntegrationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an integration between CloudWatch and S3 Tables for analytics. This integration enables querying CloudWatch telemetry data using analytics engines like Amazon Athena, Amazon Redshift, and Apache Spark.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateS3TableIntegration"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateS3TableIntegrationInput": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.observabilityadmin#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the S3 Table integration, including the encryption algorithm and KMS key settings.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants permissions for the S3 Table integration to access necessary resources.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to associate with the S3 Table integration resource for categorization and management purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateS3TableIntegrationOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created S3 Table integration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryPipelineInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryPipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": [
            "iam:PassRole",
            "logs:PutPipelineRule",
            "observabilityadmin:TagResource",
            "observabilityadmin:ListTagsForResource",
            "observabilityadmin:GetTelemetryPipeline"
          ]
        },
        "smithy.api#documentation": "<p>Creates a telemetry pipeline for processing and transforming telemetry data. The pipeline defines how data flows from sources through processors to destinations, enabling data transformation and delivering capabilities. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateTelemetryPipeline"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryPipelineInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipelineName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the telemetry pipeline to create. The name must be unique within your account.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipelineConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration that defines how the telemetry pipeline processes data, including sources, processors, and destinations. For more information about pipeline components, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/pipeline-components-reference.html\">Amazon CloudWatch User Guide</a> </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to associate with the telemetry pipeline resource for categorization and management purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryPipelineOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created telemetry pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a telemetry rule that defines how telemetry should be configured for Amazon Web Services resources in your account. The rule specifies which resources should have telemetry enabled and how that telemetry data should be collected based on resource type, telemetry type, and selection criteria. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateTelemetryRule"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a telemetry rule that applies across an Amazon Web Services Organization. This operation can only be called by the organization's management account or a delegated administrator account. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateTelemetryRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p> A unique name for the organization-wide telemetry rule being created. </p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p> The configuration details for the organization-wide telemetry rule, including the resource type, telemetry type, destination configuration, and selection criteria for which resources the rule applies to across the organization. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p> The key-value pairs to associate with the organization telemetry rule resource for categorization and management purposes. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the created organization telemetry rule. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p> A unique name for the telemetry rule being created. </p>",
            "smithy.api#required": {}
          }
        },
        "Rule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p> The configuration details for the telemetry rule, including the resource type, telemetry type, destination configuration, and selection criteria for which resources the rule applies to. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p> The key-value pairs to associate with the telemetry rule resource for categorization and management purposes. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#CreateTelemetryRuleOutput": {
      "type": "structure",
      "members": {
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the created telemetry rule. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#DataSource": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source. For CloudWatch Logs sources, this corresponds to the <code>data_source_name</code> from the log event metadata. For third-party sources, this is either the configured <code>data_source_name</code> or defaults to the plugin name if not specified.</p>"
          }
        },
        "Type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source. For CloudWatch Logs sources, this corresponds to the <code>data_source_type</code> from the log event metadata. For third-party sources, this field is empty.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a data source associated with the telemetry pipeline. For CloudWatch Logs sources, this includes both a name and type extracted from the log event metadata. For third-party sources (such as S3), this includes only a name, with the type field left empty.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#DataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#DataSource"
      }
    },
    "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an organization-wide centralization rule. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteCentralizationRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (name or ARN) of the organization centralization rule to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteS3TableIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteS3TableIntegrationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InvalidStateException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an S3 Table integration and its associated data. This operation removes the connection between CloudWatch Observability Admin and S3 Tables.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteS3TableIntegration",
          "code": 204
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteS3TableIntegrationInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 Table integration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryPipelineInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryPipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ConflictException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["logs:DeletePipelineRule", "observabilityadmin:GetTelemetryPipeline"]
        },
        "smithy.api#documentation": "<p>Deletes a telemetry pipeline and its associated resources. This operation stops data processing and removes the pipeline configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteTelemetryPipeline"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryPipelineInput": {
      "type": "structure",
      "members": {
        "PipelineIdentifier": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipelineIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the telemetry pipeline to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryPipelineOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRuleInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a telemetry rule from your account. Any telemetry configurations previously created by the rule will remain but no new resources will be configured by this rule. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteTelemetryRule"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an organization-wide telemetry rule. This operation can only be called by the organization's management account or a delegated administrator account. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteTelemetryRuleForOrganization"
        }
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> The identifier (name or ARN) of the organization telemetry rule to delete. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DeleteTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> The identifier (name or ARN) of the telemetry rule to delete. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#DestinationLogsConfiguration": {
      "type": "structure",
      "members": {
        "LogsEncryptionConfiguration": {
          "target": "com.amazonaws.observabilityadmin#LogsEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for centralization destination log groups.</p>"
          }
        },
        "BackupConfiguration": {
          "target": "com.amazonaws.observabilityadmin#LogsBackupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration defining the backup region and an optional KMS key for the backup destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for centralization destination log groups, including encryption and backup settings.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#DestinationType": {
      "type": "enum",
      "members": {
        "CLOUDWATCH_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "cloud-watch-logs"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#ELBLoadBalancerLoggingParameters": {
      "type": "structure",
      "members": {
        "OutputFormat": {
          "target": "com.amazonaws.observabilityadmin#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p> The format for ELB access log entries (plain text or JSON format). </p>"
          }
        },
        "FieldDelimiter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The delimiter character used to separate fields in ELB access log entries when using plain text format. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Configuration parameters for ELB load balancer logging, including output format and field delimiter settings. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#EncryptedLogGroupStrategy": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#Encryption": {
      "type": "structure",
      "members": {
        "SseAlgorithm": {
          "target": "com.amazonaws.observabilityadmin#SSEAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm used for encrypting data in the S3 Table integration.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key used for encryption when using customer-managed keys.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the encryption configuration for S3 Table integrations, including the encryption algorithm and KMS key settings.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#EncryptionConflictResolutionStrategy": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "SKIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIP"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#EncryptionStrategy": {
      "type": "enum",
      "members": {
        "CUSTOMER_MANAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_MANAGED"
          }
        },
        "AWS_OWNED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_OWNED"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#FailureReason": {
      "type": "string"
    },
    "com.amazonaws.observabilityadmin#FieldMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.observabilityadmin#FieldSelectors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#AdvancedFieldSelector"
      }
    },
    "com.amazonaws.observabilityadmin#FieldToMatch": {
      "type": "structure",
      "members": {
        "SingleHeader": {
          "target": "com.amazonaws.observabilityadmin#SingleHeader",
          "traits": {
            "smithy.api#documentation": "<p> Redacts a specific header field by name from WAF logs. </p>"
          }
        },
        "UriPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> Redacts the URI path from WAF logs. </p>"
          }
        },
        "QueryString": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> Redacts the entire query string from WAF logs. </p>"
          }
        },
        "Method": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> Redacts the HTTP method from WAF logs. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Specifies a field in the request to redact from WAF logs, such as headers, query parameters, or body content. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#Filter": {
      "type": "structure",
      "members": {
        "Behavior": {
          "target": "com.amazonaws.observabilityadmin#FilterBehavior",
          "traits": {
            "smithy.api#documentation": "<p> The action to take for log records matching this filter (KEEP or DROP). </p>"
          }
        },
        "Requirement": {
          "target": "com.amazonaws.observabilityadmin#FilterRequirement",
          "traits": {
            "smithy.api#documentation": "<p> Whether the log record must meet all conditions (MEETS_ALL) or any condition (MEETS_ANY) to match this filter. </p>"
          }
        },
        "Conditions": {
          "target": "com.amazonaws.observabilityadmin#Conditions",
          "traits": {
            "smithy.api#documentation": "<p> The list of conditions that determine if a log record matches this filter. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A single filter condition that specifies behavior, requirement, and matching conditions for WAF log records. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#FilterBehavior": {
      "type": "enum",
      "members": {
        "KEEP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEEP"
          }
        },
        "DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DROP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Enumeration of filter actions: KEEP to include log records, DROP to exclude them. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#FilterRequirement": {
      "type": "enum",
      "members": {
        "MEETS_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_ALL"
          }
        },
        "MEETS_ANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEETS_ANY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Enumeration of condition matching requirements: MEETS_ALL requires all conditions to match, MEETS_ANY requires at least one. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#Filter"
      },
      "traits": {
        "smithy.api#documentation": "<p> A list of filter conditions, with at least one filter required. </p>",
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific organization centralization rule. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetCentralizationRuleForOrganization"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (name or ARN) of the organization centralization rule to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetCentralizationRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the organization centralization rule.</p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization centralization rule.</p>"
          }
        },
        "CreatorAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Account that created the organization centralization rule.</p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was created.</p>"
          }
        },
        "CreatedRegion": {
          "target": "com.amazonaws.observabilityadmin#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services region where the organization centralization rule was created.</p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the organization centralization rule was last updated.</p>"
          }
        },
        "RuleHealth": {
          "target": "com.amazonaws.observabilityadmin#RuleHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the organization centralization rule.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#CentralizationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason why an organization centralization rule is marked UNHEALTHY.</p>"
          }
        },
        "CentralizationRule": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRule",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the organization centralization rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetS3TableIntegration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetS3TableIntegrationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetS3TableIntegrationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a specific S3 Table integration, including its configuration, status, and metadata.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetS3TableIntegration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetS3TableIntegrationInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 Table integration to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetS3TableIntegrationOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 Table integration.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used by the S3 Table integration.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.observabilityadmin#IntegrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the S3 Table integration.</p>"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.observabilityadmin#Encryption",
          "traits": {
            "smithy.api#documentation": "<p>The encryption configuration for the S3 Table integration.</p>"
          }
        },
        "DestinationTableBucketArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 bucket used as the destination for the table data.</p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the S3 Table integration was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEnrichmentStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryEnrichmentStatusOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns the current status of the resource tags for telemetry feature, which enhances telemetry data with additional resource metadata from Resource Explorer. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryEnrichmentStatus"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEnrichmentStatusOutput": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.observabilityadmin#TelemetryEnrichmentStatus",
          "traits": {
            "smithy.api#documentation": "<p> The current status of the resource tags for telemetry feature (<code>Running</code>, <code>Stopped</code>, or <code>Impaired</code>). </p>"
          }
        },
        "AwsResourceExplorerManagedViewArn": {
          "target": "com.amazonaws.observabilityadmin#AwsResourceExplorerManagedViewArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the Resource Explorer managed view used for resource tags for telemetry, if the feature is enabled. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatus": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns the current onboarding status of the telemetry config feature, including the status of the feature and reason the feature failed to start or stop. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryEvaluationStatus"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTelemetryEvaluationStatus",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganization": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> This returns the onboarding status of the telemetry configuration feature for the organization. It can only be called by a Management Account of an Amazon Web Services Organization or an assigned Delegated Admin Account of Amazon CloudWatch telemetry config. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryEvaluationStatusForOrganization"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetTelemetryEvaluationStatusForOrganization",
            "params": {},
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.observabilityadmin#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusForOrganizationOutput": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.observabilityadmin#Status",
          "traits": {
            "smithy.api#documentation": "<p> The onboarding status of the telemetry config feature for the organization. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p> This field describes the reason for the failure status. The field will only be populated if <code>Status</code> is <code>FAILED_START</code> or <code>FAILED_STOP</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryEvaluationStatusOutput": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.observabilityadmin#Status",
          "traits": {
            "smithy.api#documentation": "<p> The onboarding status of the telemetry config feature. </p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.observabilityadmin#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p> Describes the reason for the failure status. The field will only be populated if <code>Status</code> is <code>FAILED_START</code> or <code>FAILED_STOP</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryPipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryPipelineInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryPipelineOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["observabilityadmin:ListTagsForResource"]
        },
        "smithy.api#documentation": "<p>Retrieves information about a specific telemetry pipeline, including its configuration, status, and metadata.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryPipeline"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryPipelineInput": {
      "type": "structure",
      "members": {
        "PipelineIdentifier": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipelineIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier (name or ARN) of the telemetry pipeline to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryPipelineOutput": {
      "type": "structure",
      "members": {
        "Pipeline": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipeline",
          "traits": {
            "smithy.api#documentation": "<p>The complete telemetry pipeline resource information, including configuration, status, and metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the details of a specific telemetry rule in your account. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryRule"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves the details of a specific organization telemetry rule. This operation can only be called by the organization's management account or a delegated administrator account. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetTelemetryRuleForOrganization"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> The identifier (name or ARN) of the organization telemetry rule to retrieve. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleForOrganizationOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the organization telemetry rule. </p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the organization telemetry rule. </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp when the organization telemetry rule was created. </p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp when the organization telemetry rule was last updated. </p>"
          }
        },
        "TelemetryRule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p> The configuration details of the organization telemetry rule. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleInput": {
      "type": "structure",
      "members": {
        "RuleIdentifier": {
          "target": "com.amazonaws.observabilityadmin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> The identifier (name or ARN) of the telemetry rule to retrieve. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#GetTelemetryRuleOutput": {
      "type": "structure",
      "members": {
        "RuleName": {
          "target": "com.amazonaws.observabilityadmin#RuleName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the telemetry rule. </p>"
          }
        },
        "RuleArn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the telemetry rule. </p>"
          }
        },
        "CreatedTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp when the telemetry rule was created. </p>"
          }
        },
        "LastUpdateTimeStamp": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p> The timestamp when the telemetry rule was last updated. </p>"
          }
        },
        "TelemetryRule": {
          "target": "com.amazonaws.observabilityadmin#TelemetryRule",
          "traits": {
            "smithy.api#documentation": "<p> The configuration details of the telemetry rule. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#IntegrationStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.observabilityadmin#IntegrationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.observabilityadmin#IntegrationSummary"
      }
    },
    "com.amazonaws.observabilityadmin#IntegrationSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the S3 Table integration.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.observabilityadmin#IntegrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the S3 Table integration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about an S3 Table integration for listing operations.</p>"
      }
    },
    "com.amazonaws.observabilityadmin#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "amznErrorType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The name of the exception. </p>",
            "smithy.api#httpHeader": "x-amzn-ErrorType"
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Indicates the request has failed to process because of an unknown server error, exception, or failure. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.observabilityadmin#InvalidStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The requested operation cannot be completed on the specified resource in the current state. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.observabilityadmin#LabelNameCondition": {
      "type": "structure",
      "members": {
        "LabelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p> The label name to match, supporting alphanumeric characters, underscores, hyphens, and colons. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            },
            "smithy.api#pattern": "^[0-9A-Za-z_\\-:]+$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Condition that matches based on WAF rule labels, with label names limited to 1024 characters. </p>"
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all centralization rules in your organization. This operation can only be called by the organization's management account or a delegated administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListCentralizationRulesForOrganization"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "CentralizationRuleSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationInput": {
      "type": "structure",
      "members": {
        "RuleNamePrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A string to filter organization centralization rules whose names begin with the specified prefix.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            }
          }
        },
        "AllRegions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag determining whether to return organization centralization rules from all regions or only the current region.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of organization centralization rules to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. A previous call generates this token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListCentralizationRulesForOrganizationOutput": {
      "type": "structure",
      "members": {
        "CentralizationRuleSummaries": {
          "target": "com.amazonaws.observabilityadmin#CentralizationRuleSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of centralization rule summaries.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to resume pagination of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns a list of telemetry configurations for Amazon Web Services resources supported by telemetry config. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/telemetry-config-cloudwatch.html\">Auditing CloudWatch telemetry configurations</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListResourceTelemetry"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns a list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the organization. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListResourceTelemetryForOrganization"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "TelemetryConfigurations"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationInput": {
      "type": "structure",
      "members": {
        "AccountIdentifiers": {
          "target": "com.amazonaws.observabilityadmin#AccountIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p> A list of Amazon Web Services accounts used to filter the resources to those associated with the specified accounts. </p>"
          }
        },
        "ResourceIdentifierPrefix": {
          "target": "com.amazonaws.observabilityadmin#ResourceIdentifierPrefix",
          "traits": {
            "smithy.api#documentation": "<p> A string used to filter resources in the organization which have a <code>ResourceIdentifier</code> starting with the <code>ResourceIdentifierPrefix</code>. </p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.observabilityadmin#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p> A list of resource types used to filter resources in the organization. If this parameter is provided, the resources will be returned in the same order used in the request. </p>"
          }
        },
        "TelemetryConfigurationState": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p> A key-value pair to filter resources in the organization based on the telemetry type and the state of the telemetry configuration. The key is the telemetry type and the value is the state. </p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p> A key-value pair to filter resources in the organization based on tags associated with the resource. Fore more information about tags, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/what-are-tags.html\">What are tags?</a> </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p> A number field used to limit the number of results within the returned list. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token for the next set of items to return. A previous call provides this token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryForOrganizationOutput": {
      "type": "structure",
      "members": {
        "TelemetryConfigurations": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p> A list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the organization. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token for the next set of items to return. A previous call provides this token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryInput": {
      "type": "structure",
      "members": {
        "ResourceIdentifierPrefix": {
          "target": "com.amazonaws.observabilityadmin#ResourceIdentifierPrefix",
          "traits": {
            "smithy.api#documentation": "<p> A string used to filter resources which have a <code>ResourceIdentifier</code> starting with the <code>ResourceIdentifierPrefix</code>. </p>"
          }
        },
        "ResourceTypes": {
          "target": "com.amazonaws.observabilityadmin#ResourceTypes",
          "traits": {
            "smithy.api#documentation": "<p> A list of resource types used to filter resources supported by telemetry config. If this parameter is provided, the resources will be returned in the same order used in the request. </p>"
          }
        },
        "TelemetryConfigurationState": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p> A key-value pair to filter resources based on the telemetry type and the state of the telemetry configuration. The key is the telemetry type and the value is the state. </p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.observabilityadmin#TagMapInput",
          "traits": {
            "smithy.api#documentation": "<p> A key-value pair to filter resources based on tags associated with the resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/what-are-tags.html\">What are tags?</a> </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListResourceTelemetryMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p> A number field used to limit the number of results within the returned list. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token for the next set of items to return. A previous call generates this token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListResourceTelemetryOutput": {
      "type": "structure",
      "members": {
        "TelemetryConfigurations": {
          "target": "com.amazonaws.observabilityadmin#TelemetryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p> A list of telemetry configurations for Amazon Web Services resources supported by telemetry config in the caller's account. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token for the next set of items to return. A previous call generates this token. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListS3TableIntegrations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListS3TableIntegrationsInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListS3TableIntegrationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all S3 Table integrations in your account. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListS3TableIntegrations"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "IntegrationSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListS3TableIntegrationsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListS3TableIntegrationsMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of S3 Table integrations to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. A previous call generates this token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListS3TableIntegrationsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListS3TableIntegrationsOutput": {
      "type": "structure",
      "members": {
        "IntegrationSummaries": {
          "target": "com.amazonaws.observabilityadmin#IntegrationSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of S3 Table integration summaries containing key information about each integration.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to resume pagination of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Lists all tags attached to the specified resource. Supports telemetry rule resources and telemetry pipeline resources. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTagsForResource"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.observabilityadmin#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the telemetry rule resource whose tags you want to list. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.observabilityadmin#TagMapOutput",
          "traits": {
            "smithy.api#documentation": "<p> The list of tags associated with the telemetry rule resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryPipelines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryPipelinesInput"
      },
      "output": {
        "target": "com.amazonaws.observabilityadmin#ListTelemetryPipelinesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.observabilityadmin#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#InternalServerException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.observabilityadmin#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "requiredActions": ["observabilityadmin:ListTagsForResource"]
        },
        "smithy.api#documentation": "<p>Returns a list of telemetry pipelines in your account. Returns up to 100 results. If more than 100 telemetry pipelines exist, include the <code>NextToken</code> value from the response to retrieve the next set of results.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListTelemetryPipelines"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "PipelineSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryPipelinesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.observabilityadmin#ListTelemetryPipelinesMaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of telemetry pipelines to return in a single call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.observabilityadmin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. A previous call generates this token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryPipelinesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.observabilityadmin#ListTelemetryPipelinesOutput": {
      "type": "structure",
      "members": {
        "PipelineSummaries": {
          "target": "com.amazonaws.observabilityadmin#TelemetryPipelineSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of telemetry pipeline summaries containing key information about each pipeline.</p>"
          }
[...]
