{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.omics#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.omics#ActivateReadSetFilter": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.omics#ReadSetActivationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The filter's status.</p>"
          }
        },
        "createdAfter": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The filter's start date.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBefore": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The filter's end date.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A read set activation job filter.</p>"
      }
    },
    "com.amazonaws.omics#ActivateReadSetJobItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ActivationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetActivationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "completionTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A read set activation job.</p>"
      }
    },
    "com.amazonaws.omics#ActivateReadSetJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#ActivateReadSetJobItem"
      }
    },
    "com.amazonaws.omics#ActivateReadSetSourceItem": {
      "type": "structure",
      "members": {
        "readSetId": {
          "target": "com.amazonaws.omics#ReadSetId",
          "traits": {
            "smithy.api#documentation": "<p>The source's read set ID.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetActivationJobItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The source's status.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#JobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The source's status message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A source for a read set activation job.</p>"
      }
    },
    "com.amazonaws.omics#ActivateReadSetSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#ActivateReadSetSourceItem"
      }
    },
    "com.amazonaws.omics#ActivationJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.omics#AnnotationImportItemDetail": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.omics#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The source file's location in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "jobStatus": {
          "target": "com.amazonaws.omics#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The item's job status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an imported annotation item.</p>"
      }
    },
    "com.amazonaws.omics#AnnotationImportItemDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#AnnotationImportItemDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.omics#AnnotationImportItemSource": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.omics#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The source file's location in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A source for an annotation import job.</p>"
      }
    },
    "com.amazonaws.omics#AnnotationImportItemSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#AnnotationImportItemSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.omics#AnnotationImportJob": {
      "type": "resource",
      "identifiers": {
        "jobId": {
          "target": "com.amazonaws.omics#ResourceId"
        }
      },
      "create": {
        "target": "com.amazonaws.omics#StartAnnotationImportJob"
      },
      "read": {
        "target": "com.amazonaws.omics#GetAnnotationImportJob"
      },
      "delete": {
        "target": "com.amazonaws.omics#CancelAnnotationImportJob"
      },
      "list": {
        "target": "com.amazonaws.omics#ListAnnotationImportJobs"
      }
    },
    "com.amazonaws.omics#AnnotationImportJobItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job's destination annotation store.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.omics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The job's service role ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.omics#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "completionTime": {
          "target": "com.amazonaws.omics#CompletionTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>"
          }
        },
        "runLeftNormalization": {
          "target": "com.amazonaws.omics#RunLeftNormalization",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The job's left normalization setting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An annotation import job.</p>"
      }
    },
    "com.amazonaws.omics#AnnotationImportJobItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#AnnotationImportJobItem"
      }
    },
    "com.amazonaws.omics#AnnotationStore": {
      "type": "resource",
      "identifiers": {
        "name": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.omics#CreateAnnotationStore"
      },
      "read": {
        "target": "com.amazonaws.omics#GetAnnotationStore"
      },
      "update": {
        "target": "com.amazonaws.omics#UpdateAnnotationStore"
      },
      "delete": {
        "target": "com.amazonaws.omics#DeleteAnnotationStore"
      },
      "list": {
        "target": "com.amazonaws.omics#ListAnnotationStores"
      }
    },
    "com.amazonaws.omics#AnnotationStoreItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The store's genome reference.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        },
        "storeArn": {
          "target": "com.amazonaws.omics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The store's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#required": {}
          }
        },
        "storeFormat": {
          "target": "com.amazonaws.omics#StoreFormat",
          "traits": {
            "smithy.api#documentation": "<p>The store's file format.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.omics#StoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>The store's description.</p>",
            "smithy.api#required": {}
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>The store's server-side encryption (SSE) settings.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>The store's creation time.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.omics#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>When the store was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The store's status message.</p>",
            "smithy.api#required": {}
          }
        },
        "storeSizeBytes": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The store's size in bytes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An annotation store.</p>"
      }
    },
    "com.amazonaws.omics#AnnotationStoreItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#AnnotationStoreItem"
      }
    },
    "com.amazonaws.omics#AnnotationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GENERIC",
            "name": "GENERIC",
            "documentation": "Generic text file. No genomic information"
          },
          {
            "value": "CHR_POS",
            "name": "CHR_POS",
            "documentation": "Contains contig and 1-base position"
          },
          {
            "value": "CHR_POS_REF_ALT",
            "name": "CHR_POS_REF_ALT",
            "documentation": "Contains contig, 1-base position, ref and alt allele information"
          },
          {
            "value": "CHR_START_END_ONE_BASE",
            "name": "CHR_START_END_ONE_BASE",
            "documentation": "Contains contig, start, and end positions. Coordinates are 1-based"
          },
          {
            "value": "CHR_START_END_REF_ALT_ONE_BASE",
            "name": "CHR_START_END_REF_ALT_ONE_BASE",
            "documentation": "Contains contig, start, end, ref and alt allele information. Coordinates are 1-based"
          },
          {
            "value": "CHR_START_END_ZERO_BASE",
            "name": "CHR_START_END_ZERO_BASE",
            "documentation": "Contains contig, start, and end positions. Coordinates are 0-based"
          },
          {
            "value": "CHR_START_END_REF_ALT_ZERO_BASE",
            "name": "CHR_START_END_REF_ALT_ZERO_BASE",
            "documentation": "Contains contig, start, end, ref and alt allele information. Coordinates are 0-based"
          }
        ]
      }
    },
    "com.amazonaws.omics#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:([^:\n]*):([^:\n]*):([^:\n]*):([0-9]{12}):([^:\n]*)$"
      }
    },
    "com.amazonaws.omics#BatchDeleteReadSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#BatchDeleteReadSetRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#BatchDeleteReadSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more read sets.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sequencestore/{sequenceStoreId}/readset/batch/delete"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#BatchDeleteReadSetRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.omics#ReadSetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The read sets' IDs.</p>",
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The read sets' sequence store ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#BatchDeleteReadSetResponse": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.omics#ReadSetBatchErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors returned by individual delete operations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CancelAnnotationImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CancelAnnotationImportRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CancelAnnotationImportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an annotation import job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/import/annotation/{jobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#CancelAnnotationImportRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CancelAnnotationImportResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CancelRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CancelRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a run.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/run/{id}/cancel",
          "code": 202
        }
      }
    },
    "com.amazonaws.omics#CancelRunRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#RunId",
          "traits": {
            "smithy.api#documentation": "<p>The run's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CancelVariantImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CancelVariantImportRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CancelVariantImportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a variant import job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/import/variant/{jobId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#CancelVariantImportRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CancelVariantImportResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$"
      }
    },
    "com.amazonaws.omics#CommentChar": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.omics#CompletionTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.omics#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request cannot be applied to the target resource in its current state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.omics#CreateAnnotationStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateAnnotationStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateAnnotationStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an annotation store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/annotationStore",
          "code": 200
        }
      }
    },
    "com.amazonaws.omics#CreateAnnotationStoreRequest": {
      "type": "structure",
      "members": {
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The genome reference for the store's annotations.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the store.</p>",
            "smithy.api#pattern": "^([a-z]){1}([a-z0-9_]){2,254}$"
          }
        },
        "description": {
          "target": "com.amazonaws.omics#StoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the store.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the store.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
          }
        },
        "storeFormat": {
          "target": "com.amazonaws.omics#StoreFormat",
          "traits": {
            "smithy.api#documentation": "<p>The annotation file format of the store.</p>",
            "smithy.api#required": {}
          }
        },
        "storeOptions": {
          "target": "com.amazonaws.omics#StoreOptions",
          "traits": {
            "smithy.api#documentation": "<p>File parsing options for the annotation store.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateAnnotationStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The store's genome reference.</p>"
          }
        },
        "storeFormat": {
          "target": "com.amazonaws.omics#StoreFormat",
          "traits": {
            "smithy.api#documentation": "<p>The annotation file format of the store.</p>"
          }
        },
        "storeOptions": {
          "target": "com.amazonaws.omics#StoreOptions",
          "traits": {
            "smithy.api#documentation": "<p>The store's file parsing options.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>When the store was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreateReferenceStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateReferenceStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateReferenceStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a reference store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/referencestore"
        }
      }
    },
    "com.amazonaws.omics#CreateReferenceStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.omics#ReferenceStoreName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the store.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.omics#ReferenceStoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the store.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the store.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.omics#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateReferenceStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ReferenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.omics#ReferenceStoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The store's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.omics#ReferenceStoreName",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.omics#ReferenceStoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>The store's description.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>The store's SSE settings.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the store was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreateRunGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateRunGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateRunGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a run group.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runGroup",
          "code": 201
        }
      }
    },
    "com.amazonaws.omics#CreateRunGroupRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.omics#RunGroupName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the group.</p>"
          }
        },
        "maxCpus": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of CPUs to use in the group.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100000
            }
          }
        },
        "maxRuns": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of concurrent runs for the group.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100000
            }
          }
        },
        "maxDuration": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>A max duration for the group.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100000
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the group.</p>"
          }
        },
        "requestId": {
          "target": "com.amazonaws.omics#RunGroupRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A request ID for the group.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateRunGroupResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.omics#RunGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The group's ARN.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.omics#RunGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The group's ID.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the run group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreateSequenceStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateSequenceStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateSequenceStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a sequence store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sequencestore"
        }
      }
    },
    "com.amazonaws.omics#CreateSequenceStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.omics#SequenceStoreName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the store.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.omics#SequenceStoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the store.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the store.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.omics#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>To ensure that requests don't run multiple times, specify a unique token for each request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateSequenceStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.omics#SequenceStoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The store's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.omics#SequenceStoreName",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.omics#SequenceStoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>The store's description.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>The store's SSE settings.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the store was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreateVariantStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateVariantStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateVariantStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a variant store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/variantStore",
          "code": 200
        }
      }
    },
    "com.amazonaws.omics#CreateVariantStoreRequest": {
      "type": "structure",
      "members": {
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The genome reference for the store's variants.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A name for the store.</p>",
            "smithy.api#pattern": "^([a-z]){1}([a-z0-9_]){2,254}$"
          }
        },
        "description": {
          "target": "com.amazonaws.omics#StoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the store.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the store.</p>"
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>Server-side encryption (SSE) settings for the store.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateVariantStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The store's genome reference.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>When the store was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreateWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#CreateWorkflowRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#CreateWorkflowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a workflow.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workflow",
          "code": 201
        }
      }
    },
    "com.amazonaws.omics#CreateWorkflowRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.omics#WorkflowName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the workflow.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.omics#WorkflowDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the workflow.</p>"
          }
        },
        "engine": {
          "target": "com.amazonaws.omics#WorkflowEngine",
          "traits": {
            "smithy.api#documentation": "<p>An engine for the workflow.</p>"
          }
        },
        "definitionZip": {
          "target": "smithy.api#Blob",
          "traits": {
            "smithy.api#documentation": "<p>A ZIP archive for the workflow.</p>"
          }
        },
        "definitionUri": {
          "target": "com.amazonaws.omics#WorkflowDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The URI of a definition for the workflow.</p>"
          }
        },
        "main": {
          "target": "com.amazonaws.omics#WorkflowMain",
          "traits": {
            "smithy.api#documentation": "<p>The path of the main definition file for the workflow.</p>"
          }
        },
        "parameterTemplate": {
          "target": "com.amazonaws.omics#WorkflowParameterTemplate",
          "traits": {
            "smithy.api#documentation": "<p>A parameter template for the workflow.</p>"
          }
        },
        "storageCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>A storage capacity for the workflow.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 100000
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the workflow.</p>"
          }
        },
        "requestId": {
          "target": "com.amazonaws.omics#WorkflowRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A request ID for the workflow.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#CreateWorkflowResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.omics#WorkflowArn",
          "traits": {
            "smithy.api#documentation": "<p>The workflow's ARN.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.omics#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The workflow's ID.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.omics#WorkflowStatus",
          "traits": {
            "smithy.api#documentation": "<p>The workflow's status.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The workflow's tags.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#CreationTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.omics#DeleteAnnotationStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteAnnotationStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#DeleteAnnotationStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an annotation store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/annotationStore/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteAnnotationStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to force deletion.</p>",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteAnnotationStoreResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#DeleteReference": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteReferenceRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#DeleteReferenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a genome reference.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/referencestore/{referenceStoreId}/reference/{id}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteReferenceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>The reference's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "referenceId"
          }
        },
        "referenceStoreId": {
          "target": "com.amazonaws.omics#ReferenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The reference's store ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteReferenceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#DeleteReferenceStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteReferenceStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#DeleteReferenceStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a genome reference store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/referencestore/{id}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteReferenceStoreRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ReferenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "referenceStoreId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteReferenceStoreResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#DeleteRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workflow run.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/run/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteRunGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteRunGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workflow run group.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/runGroup/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteRunGroupRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#RunGroupId",
          "traits": {
            "smithy.api#documentation": "<p>The run group's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteRunRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#RunId",
          "traits": {
            "smithy.api#documentation": "<p>The run's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteSequenceStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteSequenceStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#DeleteSequenceStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a sequence store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sequencestore/{id}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteSequenceStoreRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The sequence store's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "sequenceStoreId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteSequenceStoreResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#DeleteVariantStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteVariantStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#DeleteVariantStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a variant store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/variantStore/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteVariantStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "force": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to force deletion.</p>",
            "smithy.api#httpQuery": "force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#DeleteVariantStoreResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#DeleteWorkflow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#DeleteWorkflowRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workflow.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "workflows-"
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workflow/{id}",
          "code": 202
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.omics#DeleteWorkflowRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#WorkflowId",
          "traits": {
            "smithy.api#documentation": "<p>The workflow's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#Encoding": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.omics#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KMS",
            "name": "KMS",
            "documentation": "KMS"
          }
        ]
      }
    },
    "com.amazonaws.omics#EscapeChar": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.omics#EscapeQuotes": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.omics#ExportJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.omics#ExportReadSet": {
      "type": "structure",
      "members": {
        "readSetId": {
          "target": "com.amazonaws.omics#ReadSetId",
          "traits": {
            "smithy.api#documentation": "<p>The set's ID.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A read set.</p>"
      }
    },
    "com.amazonaws.omics#ExportReadSetDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ReadSetId",
          "traits": {
            "smithy.api#documentation": "<p>The set's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetExportJobItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The set's status.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#JobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The set's status message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a read set.</p>"
      }
    },
    "com.amazonaws.omics#ExportReadSetDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#ExportReadSetDetail"
      }
    },
    "com.amazonaws.omics#ExportReadSetFilter": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.omics#ReadSetExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>A status to filter on.</p>"
          }
        },
        "createdAfter": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The filter's start date.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "createdBefore": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The filter's end date.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An read set export job filter.</p>"
      }
    },
    "com.amazonaws.omics#ExportReadSetJobDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.omics#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>The job's destination in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "completionTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a read set export job.</p>"
      }
    },
    "com.amazonaws.omics#ExportReadSetJobDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#ExportReadSetJobDetail"
      }
    },
    "com.amazonaws.omics#ExportReadSetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.omics#ExportReadSet"
      }
    },
    "com.amazonaws.omics#FileInformation": {
      "type": "structure",
      "members": {
        "totalParts": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The file's total parts.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 10000
            }
          }
        },
        "partSize": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The file's part size.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 5368709120
            }
          }
        },
        "contentLength": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The file's content length.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 5497558138880
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a file.</p>"
      }
    },
    "com.amazonaws.omics#FileType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FASTQ",
            "name": "FASTQ"
          },
          {
            "value": "BAM",
            "name": "BAM"
          },
          {
            "value": "CRAM",
            "name": "CRAM"
          }
        ]
      }
    },
    "com.amazonaws.omics#FormatOptions": {
      "type": "union",
      "members": {
        "tsvOptions": {
          "target": "com.amazonaws.omics#TsvOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for a TSV file.</p>"
          }
        },
        "vcfOptions": {
          "target": "com.amazonaws.omics#VcfOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for a VCF file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Formatting options for a file.</p>"
      }
    },
    "com.amazonaws.omics#FormatToHeader": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.omics#FormatToHeaderKey"
      },
      "value": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 0,
            "max": 1000
          }
        }
      }
    },
    "com.amazonaws.omics#FormatToHeaderKey": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CHR",
            "name": "CHR"
          },
          {
            "value": "START",
            "name": "START"
          },
          {
            "value": "END",
            "name": "END"
          },
          {
            "value": "REF",
            "name": "REF"
          },
          {
            "value": "ALT",
            "name": "ALT"
          },
          {
            "value": "POS",
            "name": "POS"
          }
        ]
      }
    },
    "com.amazonaws.omics#GeneratedFrom": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[\\p{L}||\\p{M}||\\p{Z}||\\p{S}||\\p{N}||\\p{P}]+$"
      }
    },
    "com.amazonaws.omics#GetAnnotationImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetAnnotationImportRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetAnnotationImportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an annotation import job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/import/annotation/{jobId}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "AnnotationImportJobCreated": {
            "documentation": "Wait until an annotation import is completed",
            "minDelay": 30,
            "maxDelay": 600,
            "acceptors": [
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "SUBMITTED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "IN_PROGRESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CANCELLED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "COMPLETED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.omics#GetAnnotationImportRequest": {
      "type": "structure",
      "members": {
        "jobId": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#GetAnnotationImportResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationName": {
          "target": "com.amazonaws.omics#StoreName",
          "traits": {
            "smithy.api#documentation": "<p>The job's destination annotation store.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.omics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The job's service role ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#JobStatusMsg",
          "traits": {
            "smithy.api#documentation": "<p>The job's status message.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.omics#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "completionTime": {
          "target": "com.amazonaws.omics#CompletionTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>",
            "smithy.api#required": {}
          }
        },
        "items": {
          "target": "com.amazonaws.omics#AnnotationImportItemDetails",
          "traits": {
            "smithy.api#documentation": "<p>The job's imported items.</p>",
            "smithy.api#required": {}
          }
        },
        "runLeftNormalization": {
          "target": "com.amazonaws.omics#RunLeftNormalization",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The job's left normalization setting.</p>",
            "smithy.api#required": {}
          }
        },
        "formatOptions": {
          "target": "com.amazonaws.omics#FormatOptions",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#GetAnnotationStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetAnnotationStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetAnnotationStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an annotation store.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "analytics-"
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/annotationStore/{name}",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "AnnotationStoreCreated": {
            "documentation": "Wait until an annotation store is created",
            "minDelay": 30,
            "maxDelay": 600,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CREATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "UPDATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "AnnotationStoreDeleted": {
            "documentation": "Wait until an annotation store is deleted.",
            "minDelay": 30,
            "maxDelay": 600,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.omics#GetAnnotationStoreRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#GetAnnotationStoreResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The store's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "reference": {
          "target": "com.amazonaws.omics#ReferenceItem",
          "traits": {
            "smithy.api#documentation": "<p>The store's genome reference.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#StoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The store's status.</p>",
            "smithy.api#required": {}
          }
        },
        "storeArn": {
          "target": "com.amazonaws.omics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The store's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The store's name.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.omics#StoreDescription",
          "traits": {
            "smithy.api#documentation": "<p>The store's description.</p>",
            "smithy.api#required": {}
          }
        },
        "sseConfig": {
          "target": "com.amazonaws.omics#SseConfig",
          "traits": {
            "smithy.api#documentation": "<p>The store's server-side encryption (SSE) settings.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.omics#CreationTime",
          "traits": {
            "smithy.api#documentation": "<p>When the store was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateTime": {
          "target": "com.amazonaws.omics#UpdateTime",
          "traits": {
            "smithy.api#documentation": "<p>When the store was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.omics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The store's tags.</p>",
            "smithy.api#required": {}
          }
        },
        "storeOptions": {
          "target": "com.amazonaws.omics#StoreOptions",
          "traits": {
            "smithy.api#documentation": "<p>The store's parsing options.</p>"
          }
        },
        "storeFormat": {
          "target": "com.amazonaws.omics#StoreFormat",
          "traits": {
            "smithy.api#documentation": "<p>The store's annotation file format.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A status message.</p>",
            "smithy.api#required": {}
          }
        },
        "storeSizeBytes": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The store's size in bytes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#GetReadSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetReadSetRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetReadSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#ConflictException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RangeNotSatisfiableException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a file from a read set.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "storage-"
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sequencestore/{sequenceStoreId}/readset/{id}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.omics#GetReadSetActivationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetReadSetActivationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetReadSetActivationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a read set activation job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sequencestore/{sequenceStoreId}/activationjob/{id}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ReadSetActivationJobCompleted": {
            "documentation": "Wait until a job is completed.",
            "minDelay": 30,
            "maxDelay": 600,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "COMPLETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "SUBMITTED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "IN_PROGRESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CANCELLING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CANCELLED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "COMPLETED_WITH_FAILURES",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.omics#GetReadSetActivationJobRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ActivationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#GetReadSetActivationJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ActivationJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetActivationJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#JobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The job's status message.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "completionTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "sources": {
          "target": "com.amazonaws.omics#ActivateReadSetSourceList",
          "traits": {
            "smithy.api#documentation": "<p>The job's sources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#GetReadSetExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetReadSetExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetReadSetExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
          "target": "com.amazonaws.omics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a read set export job.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "control-storage-"
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sequencestore/{sequenceStoreId}/exportjob/{id}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ReadSetExportJobCompleted": {
            "documentation": "Wait until a job is completed.",
            "minDelay": 30,
            "maxDelay": 600,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "COMPLETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "SUBMITTED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "IN_PROGRESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CANCELLING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "CANCELLED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "COMPLETED_WITH_FAILURES",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.omics#GetReadSetExportJobRequest": {
      "type": "structure",
      "members": {
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.omics#ExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.omics#GetReadSetExportJobResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.omics#ExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "sequenceStoreId": {
          "target": "com.amazonaws.omics#SequenceStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The job's sequence store ID.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.omics#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>The job's destination in Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.omics#ReadSetExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.omics#JobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The job's status message.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "completionTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the job completed.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "readSets": {
          "target": "com.amazonaws.omics#ExportReadSetDetailList",
          "traits": {
            "smithy.api#documentation": "<p>The job's read sets.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.omics#GetReadSetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.omics#GetReadSetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.omics#GetReadSetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.omics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.omics#InternalServerException"
        },
        {
          "target": "com.amazonaws.omics#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.omics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.omics#ThrottlingException"
        },
        {
[...]
