{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.opensearch#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html\" target=\"_blank\">Identifiers for IAM Entities\n    </a> in <i>Using AWS Identity and Access Management</i> for more information.\n    </p>",
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.opensearch#AWSDomainInformation": {
      "type": "structure",
      "members": {
        "OwnerId": {
          "target": "com.amazonaws.opensearch#OwnerId"
        },
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Region": {
          "target": "com.amazonaws.opensearch#Region"
        }
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AcceptInboundConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AcceptInboundConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the remote domain owner to accept an inbound cross-cluster connection request.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.opensearch#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the inbound connection you want to accept.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>AcceptInboundConnection</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.opensearch#InboundConnection",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>InboundConnection</a>\n      </code>\n      of the accepted inbound connection.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of an\n      <code>\n        <a>AcceptInboundConnection</a>\n      </code>\n      operation. Contains details about the accepted inbound connection.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.opensearch#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.opensearch#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The access policy configured for the domain. Access policies can be resource-based, IP-based, or\n      IAM-based. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-access-policies\" target=\"_blank\">\n        Configuring access policies</a>for more information.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access policy for the domain. See <code>OptionStatus</code> for the status\n      information that's included.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those\n      rules.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AddTagsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches tags to an existing domain. Tags are a set of case-sensitive key value pairs. An\n      domain can have up to 10 tags. See\n      <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains.html#managedomains-awsresorcetagging\" target=\"_blank\">\n        Tagging Amazon OpenSearch Service domains</a> for more information.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.opensearch#ARN",
          "traits": {
            "smithy.api#documentation": "<p>Specify the <code>ARN</code> of the domain you want to add tags to.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.opensearch#TagList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>Tag</code> to add to the domain.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>AddTags</a>\n      </code>\n      operation. Specifies the tags to attach to the domain.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdditionalLimit": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.amazonaws.opensearch#LimitName",
          "traits": {
            "smithy.api#documentation": "<p>\n      Additional limit is specific to a given InstanceType and for each of its\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      etc.\n      <br></br>\n      Attributes and their details:\n      <br></br>\n      <ul>\n        <li>MaximumNumberOfDataNodesSupported</li>\n        This attribute is present on the master node only to specify how\n        much data nodes up to which given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        can support as master node.\n        <li>MaximumNumberOfDataNodesWithoutMasterNode</li>\n        This attribute is present on data node only to specify how much\n        data nodes of given\n        <code>\n          <a>ESPartitionInstanceType</a>\n        </code>\n        up to which you don't need any master nodes to govern them.\n      </ul>\n    </p>"
          }
        },
        "LimitValues": {
          "target": "com.amazonaws.opensearch#LimitValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n      Value for a given\n      <code>\n        <a>AdditionalLimit$LimitName</a>\n      </code>\n      .\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      List of limits that are specific to a given InstanceType and for each of its\n      <code>\n        <a>InstanceRole</a>\n      </code>\n      .\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdditionalLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AdditionalLimit"
      }
    },
    "com.amazonaws.opensearch#AdvancedOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.opensearch#String"
      },
      "value": {
        "target": "com.amazonaws.opensearch#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>Exposes select native OpenSearch configuration values from <code>opensearch.yml</code>. Currently, the\n      following advanced options are available:\n    </p>\n    <ul>\n      <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring\n        access to individual sub-resources. By default, the value is <code>true</code>.\n        See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters\n        </a> for more information.\n      </li>\n      <li>Option to specify the percentage of heap space allocated to field data. By default, this setting is\n        unbounded.\n      </li>\n    </ul>\n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">\n      Advanced cluster parameters</a>.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p>The status of advanced options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The <code>OptionStatus</code> for advanced options for the specified domain.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the advanced options for the specified domain. Currently, the following advanced options\n      are available:\n    </p>\n    <ul>\n      <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring\n        access to individual sub-resources. By default, the value is <code>true</code>.\n        See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters\n        </a> for more information.\n      </li>\n      <li>Option to specify the percentage of heap space allocated to field data. By default, this setting is\n        unbounded.\n      </li>\n    </ul>\n    <p>For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">\n      Advanced cluster parameters</a>.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.opensearch#SAMLOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Describes the SAML application configured for a domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The advanced security configuration: whether advanced security is enabled, whether the internal\n      database option is enabled.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptionsInput": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if advanced security is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "MasterUserOptions": {
          "target": "com.amazonaws.opensearch#MasterUserOptions",
          "traits": {
            "smithy.api#documentation": "<p>Credentials for the master user: username and password, ARN, or both.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.opensearch#SAMLOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>The SAML application configuration for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The advanced security configuration: whether advanced security is enabled, whether the internal\n      database option is enabled, master username and password (if internal database is enabled), and master user ARN\n      (if IAM is enabled).\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AdvancedSecurityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Advanced security options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the advanced security options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of advanced security options for the specified domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AmazonOpenSearchService": {
      "type": "service",
      "version": "2021-01-01",
      "operations": [
        {
          "target": "com.amazonaws.opensearch#AcceptInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#AddTags"
        },
        {
          "target": "com.amazonaws.opensearch#AssociatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#CancelServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.opensearch#CreateDomain"
        },
        {
          "target": "com.amazonaws.opensearch#CreateOutboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#CreatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteDomain"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteOutboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#DeletePackage"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomain"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainAutoTunes"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainConfig"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomains"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeInboundConnections"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeInstanceTypeLimits"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeOutboundConnections"
        },
        {
          "target": "com.amazonaws.opensearch#DescribePackages"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeReservedInstanceOfferings"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeReservedInstances"
        },
        {
          "target": "com.amazonaws.opensearch#DissociatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#GetCompatibleVersions"
        },
        {
          "target": "com.amazonaws.opensearch#GetPackageVersionHistory"
        },
        {
          "target": "com.amazonaws.opensearch#GetUpgradeHistory"
        },
        {
          "target": "com.amazonaws.opensearch#GetUpgradeStatus"
        },
        {
          "target": "com.amazonaws.opensearch#ListDomainNames"
        },
        {
          "target": "com.amazonaws.opensearch#ListDomainsForPackage"
        },
        {
          "target": "com.amazonaws.opensearch#ListInstanceTypeDetails"
        },
        {
          "target": "com.amazonaws.opensearch#ListPackagesForDomain"
        },
        {
          "target": "com.amazonaws.opensearch#ListTags"
        },
        {
          "target": "com.amazonaws.opensearch#ListVersions"
        },
        {
          "target": "com.amazonaws.opensearch#PurchaseReservedInstanceOffering"
        },
        {
          "target": "com.amazonaws.opensearch#RejectInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#RemoveTags"
        },
        {
          "target": "com.amazonaws.opensearch#StartServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateDomainConfig"
        },
        {
          "target": "com.amazonaws.opensearch#UpdatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#UpgradeDomain"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "OpenSearch",
          "arnNamespace": "es",
          "cloudFormationName": "OpenSearch",
          "cloudTrailEventSource": "opensearch.amazonaws.com",
          "endpointPrefix": "es"
        },
        "aws.auth#sigv4": {
          "name": "es"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon OpenSearch Configuration Service</fullname>\n    <p>Use the Amazon OpenSearch configuration API to create, configure, and manage Amazon OpenSearch Service domains.</p>\n    <p>For sample code that uses the configuration API, see the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/opensearch-configuration-samples.html\">\n      Amazon OpenSearch Service Developer Guide</a>.\n      The guide also contains <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/request-signing.html\">\n        sample\n        code for sending signed HTTP requests to the OpenSearch APIs</a>.\n    </p>\n    <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com.\n      For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints,\n      see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#service-regions\" target=\"_blank\">Regions and Endpoints</a>.\n    </p>",
        "smithy.api#title": "Amazon OpenSearch Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://es.amazonaws.com/doc/2021-01-01/"
        }
      }
    },
    "com.amazonaws.opensearch#AssociatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AssociatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AssociatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a package with an Amazon OpenSearch Service domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/packages/associate/{PackageID}/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AssociatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.opensearch#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>Internal ID of the package to associate with a domain. Use <code>DescribePackages</code> to find\n      this value.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain to associate the package with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the request parameters to the\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AssociatePackageResponse": {
      "type": "structure",
      "members": {
        "DomainPackageDetails": {
          "target": "com.amazonaws.opensearch#DomainPackageDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      <code>DomainPackageDetails</code>\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the response returned by\n      <code>\n        <a>AssociatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTune": {
      "type": "structure",
      "members": {
        "AutoTuneType": {
          "target": "com.amazonaws.opensearch#AutoTuneType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Auto-Tune type. Valid value is SCHEDULED_ACTION.</p>"
          }
        },
        "AutoTuneDetails": {
          "target": "com.amazonaws.opensearch#AutoTuneDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies details about the Auto-Tune action. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune type and Auto-Tune action details.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneDate": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The timestamp of the Auto-Tune action scheduled for the domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneDesiredState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.opensearch#AutoTuneDetails": {
      "type": "structure",
      "members": {
        "ScheduledAutoTuneDetails": {
          "target": "com.amazonaws.opensearch#ScheduledAutoTuneDetails"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies details about the Auto-Tune action. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AutoTune"
      }
    },
    "com.amazonaws.opensearch#AutoTuneMaintenanceSchedule": {
      "type": "structure",
      "members": {
        "StartAt": {
          "target": "com.amazonaws.opensearch#StartAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the Auto-Tune maintenance schedule starts.</p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.opensearch#Duration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies maintenance schedule duration: duration value and duration unit. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        },
        "CronExpressionForRecurrence": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression for a recurring maintenance schedule. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune maintenance schedule. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AutoTuneMaintenanceSchedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptions": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.opensearch#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>"
          }
        },
        "RollbackOnDisable": {
          "target": "com.amazonaws.opensearch#RollbackOnDisable",
          "traits": {
            "smithy.api#documentation": "<p>The rollback state while disabling Auto-Tune for the domain. Valid values are NO_ROLLBACK and DEFAULT_ROLLBACK.\n    </p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of maintenance schedules. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain, rollback state when disabling\n      Auto-Tune options and list of maintenance schedules.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsInput": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.opensearch#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of maintenance schedules. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsOutput": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.opensearch#AutoTuneState",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AutoTuneState</code> for the domain.\n    </p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message while enabling or disabling Auto-Tune.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune options: the Auto-Tune desired state for the domain and list of maintenance schedules.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AutoTuneOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies Auto-Tune options for the domain.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#AutoTuneStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Auto-Tune options for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune status for the domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune state for the domain. For valid states see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service</a>.\n    </p>",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLE_IN_PROGRESS",
            "name": "ENABLE_IN_PROGRESS"
          },
          {
            "value": "DISABLE_IN_PROGRESS",
            "name": "DISABLE_IN_PROGRESS"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_SCHEDULED",
            "name": "DISABLED_AND_ROLLBACK_SCHEDULED"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_IN_PROGRESS",
            "name": "DISABLED_AND_ROLLBACK_IN_PROGRESS"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_COMPLETE",
            "name": "DISABLED_AND_ROLLBACK_COMPLETE"
          },
          {
            "value": "DISABLED_AND_ROLLBACK_ERROR",
            "name": "DISABLED_AND_ROLLBACK_ERROR"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.opensearch#AutoTuneStatus": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.opensearch#UpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the Auto-Tune options creation date.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdateDate": {
          "target": "com.amazonaws.opensearch#UpdateTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the Auto-Tune options were last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdateVersion": {
          "target": "com.amazonaws.opensearch#UIntValue",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the Auto-Tune options.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.opensearch#AutoTuneState",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AutoTuneState</code> for the domain.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message while enabling or disabling Auto-Tune.</p>"
          }
        },
        "PendingDeletion": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the domain is being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the current Auto-Tune status for the domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Auto-Tune type. Valid value is SCHEDULED_ACTION.</p>",
        "smithy.api#enum": [
          {
            "value": "SCHEDULED_ACTION",
            "name": "SCHEDULED_ACTION"
          }
        ]
      }
    },
    "com.amazonaws.opensearch#BackendRole": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.opensearch#BaseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.opensearch#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred while processing the request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.opensearch#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.opensearch#CancelServiceSoftwareUpdate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#CancelServiceSoftwareUpdateRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#CancelServiceSoftwareUpdateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a scheduled service software update for an Amazon OpenSearch Service domain. You can only perform this operation before\n      the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/serviceSoftwareUpdate/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#CancelServiceSoftwareUpdateRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to stop the latest service software update on.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>CancelServiceSoftwareUpdate</a>\n      </code>\n      operation. Specifies the name of the domain that you wish to cancel a service software update on.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CancelServiceSoftwareUpdateResponse": {
      "type": "structure",
      "members": {
        "ServiceSoftwareOptions": {
          "target": "com.amazonaws.opensearch#ServiceSoftwareOptions",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the OpenSearch service software update.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CancelServiceSoftwareUpdate</code> operation. Contains the status of the\n      update.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CloudWatchLogsLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>ARN of the Cloudwatch log group to publish logs to.</p>",
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.opensearch#ClusterConfig": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.opensearch#OpenSearchPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for an OpenSearch cluster. UltraWarm instance types are not supported for data instances.\n    </p>"
          }
        },
        "InstanceCount": {
          "target": "com.amazonaws.opensearch#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>The number of instances in the specified domain cluster.</p>"
          }
        },
        "DedicatedMasterEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains.html#managedomains-dedicatedmasternodes\" target=\"_blank\">Dedicated master nodes in Amazon OpenSearch Service \n    </a> for more information.\n    </p>"
          }
        },
        "ZoneAwarenessEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value to indicate whether zone awareness is enabled. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-multiaz.html\" target=\"_blank\">Configuring a multi-AZ domain in Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        },
        "ZoneAwarenessConfig": {
          "target": "com.amazonaws.opensearch#ZoneAwarenessConfig",
          "traits": {
            "smithy.api#documentation": "<p>The zone awareness configuration for a domain when zone awareness is enabled.</p>"
          }
        },
        "DedicatedMasterType": {
          "target": "com.amazonaws.opensearch#OpenSearchPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for a dedicated master node.</p>"
          }
        },
        "DedicatedMasterCount": {
          "target": "com.amazonaws.opensearch#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>Total number of dedicated master nodes, active and on standby, for the cluster.</p>"
          }
        },
        "WarmEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to enable UltraWarm storage.</p>"
          }
        },
        "WarmType": {
          "target": "com.amazonaws.opensearch#OpenSearchWarmPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type for the OpenSearch cluster's warm nodes.</p>"
          }
        },
        "WarmCount": {
          "target": "com.amazonaws.opensearch#IntegerClass",
          "traits": {
            "smithy.api#documentation": "<p>The number of UltraWarm nodes in the cluster.</p>"
          }
        },
        "ColdStorageOptions": {
          "target": "com.amazonaws.opensearch#ColdStorageOptions"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the domain cluster, such as the type and number of instances.</p>"
      }
    },
    "com.amazonaws.opensearch#ClusterConfigStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#ClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p>The cluster configuration for the specified domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The cluster configuration status for the specified domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration status for the specified domain.</p>"
      }
    },
    "com.amazonaws.opensearch#CognitoOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The option to enable Cognito for OpenSearch Dashboards authentication.</p>"
          }
        },
        "UserPoolId": {
          "target": "com.amazonaws.opensearch#UserPoolId",
          "traits": {
            "smithy.api#documentation": "<p>The Cognito user pool ID for OpenSearch Dashboards authentication.</p>"
          }
        },
        "IdentityPoolId": {
          "target": "com.amazonaws.opensearch#IdentityPoolId",
          "traits": {
            "smithy.api#documentation": "<p>The Cognito identity pool ID for OpenSearch Dashboards authentication.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.opensearch#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN that provides OpenSearch permissions for accessing Cognito resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for OpenSearch Dashboards authentication. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/cognito-auth.html\" target=\"_blank\">Configuring Amazon Cognito authentication for OpenSearch Dashboards</a>.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CognitoOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Cognito options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Cognito options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the Cognito options for the specified domain.</p>"
      }
    },
    "com.amazonaws.opensearch#ColdStorageOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearch#CommitMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 160
        }
      }
    },
    "com.amazonaws.opensearch#CompatibleVersionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#CompatibleVersionsMap"
      }
    },
    "com.amazonaws.opensearch#CompatibleVersionsMap": {
      "type": "structure",
      "members": {
        "SourceVersion": {
          "target": "com.amazonaws.opensearch#VersionString",
          "traits": {
            "smithy.api#documentation": "<p>The current version of OpenSearch a domain is on.</p>"
          }
        },
        "TargetVersions": {
          "target": "com.amazonaws.opensearch#VersionList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A map from an\n      <code>\n        <a>EngineVersion</a>\n      </code>\n      to a list of compatible\n      <code>\n        <a>EngineVersion</a>\n      </code>\n      s to which the domain can be upgraded.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.opensearch#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because the client attempts to remove a resource that is currently in use. Returns HTTP status code 409.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.opensearch#ConnectionAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.opensearch#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 256
        },
        "smithy.api#pattern": "^[a-z][a-z0-9\\-]+$"
      }
    },
    "com.amazonaws.opensearch#ConnectionStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.opensearch#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#CreateDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon OpenSearch Service domain. For more information,\n      see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html\" target=\"_blank\">Creating and managing Amazon OpenSearch Service domains\n      </a> in the <i>Amazon OpenSearch Service Developer Guide</i>.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/domain",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon OpenSearch Service domain you're creating. Domain names are unique across the domains owned by\n      an account within an AWS region. Domain names must start with a lowercase letter and can contain the following\n      characters: a-z (lowercase), 0-9, and - (hyphen).\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.opensearch#VersionString",
          "traits": {
            "smithy.api#documentation": "<p>String of format Elasticsearch_X.Y or OpenSearch_X.Y to specify the engine version for the Amazon OpenSearch Service domain.\n      For example, \"OpenSearch_1.0\" or \"Elasticsearch_7.9\". For more information,\n      see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomains\" target=\"_blank\">Creating and managing Amazon OpenSearch Service domains\n      </a>.\n    </p>"
          }
        },
        "ClusterConfig": {
          "target": "com.amazonaws.opensearch#ClusterConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration options for a domain. Specifies the instance type and number of instances in the\n      domain.\n    </p>"
          }
        },
        "EBSOptions": {
          "target": "com.amazonaws.opensearch#EBSOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to enable, disable, and specify the type and size of EBS storage volumes.</p>"
          }
        },
        "AccessPolicies": {
          "target": "com.amazonaws.opensearch#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>IAM access policy as a JSON-formatted string.</p>"
          }
        },
        "SnapshotOptions": {
          "target": "com.amazonaws.opensearch#SnapshotOptions",
          "traits": {
            "smithy.api#documentation": "<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours.</p>"
          }
        },
        "VPCOptions": {
          "target": "com.amazonaws.opensearch#VPCOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the subnets and security groups for a VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/vpc.html\" target=\"_blank\">Launching your Amazon OpenSearch Service domains using a VPC\n    </a>.\n    </p>"
          }
        },
        "CognitoOptions": {
          "target": "com.amazonaws.opensearch#CognitoOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify the Cognito user and identity pools for OpenSearch Dashboards authentication. For more information, see <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/cognito-auth.html\" target=\"_blank\">Configuring Amazon Cognito authentication for OpenSearch Dashboards</a>.\n    </p>"
          }
        },
        "EncryptionAtRestOptions": {
          "target": "com.amazonaws.opensearch#EncryptionAtRestOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for encryption of data at rest.</p>"
          }
        },
        "NodeToNodeEncryptionOptions": {
          "target": "com.amazonaws.opensearch#NodeToNodeEncryptionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Node-to-node encryption options.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.amazonaws.opensearch#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access\n      to individual sub-resources. By default, the value is <code>true</code>.\n      See <a href=\"http://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\" target=\"_blank\">Advanced cluster parameters\n      </a> for more information.\n    </p>"
          }
        },
        "LogPublishingOptions": {
          "target": "com.amazonaws.opensearch#LogPublishingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type\n      of OpenSearch log.\n    </p>"
          }
        },
        "DomainEndpointOptions": {
          "target": "com.amazonaws.opensearch#DomainEndpointOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to specify configurations that will be applied to the domain endpoint.</p>"
          }
        },
        "AdvancedSecurityOptions": {
          "target": "com.amazonaws.opensearch#AdvancedSecurityOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies advanced security options.</p>"
          }
        },
        "TagList": {
          "target": "com.amazonaws.opensearch#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Tag</code> added during domain creation.\n    </p>"
          }
        },
        "AutoTuneOptions": {
          "target": "com.amazonaws.opensearch#AutoTuneOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies Auto-Tune options.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearch#CreateDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.opensearch#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the newly created domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>CreateDomain</code> operation. Contains the status of the newly created\n      Amazon OpenSearch Service domain.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CreateOutboundConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#CreateOutboundConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#CreateOutboundConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new cross-cluster connection from a local OpenSearch domain to a remote OpenSearch domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/cc/outboundConnection",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#CreateOutboundConnectionRequest": {
      "type": "structure",
      "members": {
        "LocalDomainInfo": {
          "target": "com.amazonaws.opensearch#DomainInformationContainer",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>AWSDomainInformation</a>\n      </code>\n      for the local OpenSearch domain.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "RemoteDomainInfo": {
          "target": "com.amazonaws.opensearch#DomainInformationContainer",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>AWSDomainInformation</a>\n      </code>\n      for the remote OpenSearch domain.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionAlias": {
          "target": "com.amazonaws.opensearch#ConnectionAlias",
          "traits": {
            "smithy.api#documentation": "<p>The connection alias used used by the customer for this cross-cluster connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>CreateOutboundConnection</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CreateOutboundConnectionResponse": {
      "type": "structure",
      "members": {
        "LocalDomainInfo": {
          "target": "com.amazonaws.opensearch#DomainInformationContainer",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>AWSDomainInformation</a>\n      </code>\n      for the local OpenSearch domain.\n    </p>"
          }
        },
        "RemoteDomainInfo": {
          "target": "com.amazonaws.opensearch#DomainInformationContainer",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>AWSDomainInformation</a>\n      </code>\n      for the remote OpenSearch domain.\n    </p>"
          }
        },
        "ConnectionAlias": {
          "target": "com.amazonaws.opensearch#ConnectionAlias",
          "traits": {
            "smithy.api#documentation": "<p>The connection alias provided during the create connection request.</p>"
          }
        },
        "ConnectionStatus": {
          "target": "com.amazonaws.opensearch#OutboundConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>OutboundConnectionStatus</a>\n      </code>\n      for the newly created connection.\n    </p>"
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.opensearch#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID for the created outbound connection, which is used for subsequent operations on the connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a\n      <code>\n        <a>CreateOutboundConnection</a>\n      </code>\n      request. Contains the details about the newly created cross-cluster connection.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CreatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#CreatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#CreatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a package for use with Amazon OpenSearch Service domains.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/packages",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#CreatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageName": {
          "target": "com.amazonaws.opensearch#PackageName",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the package.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageType": {
          "target": "com.amazonaws.opensearch#PackageType",
          "traits": {
            "smithy.api#documentation": "<p>Type of package. Currently supports only TXT-DICTIONARY.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageDescription": {
          "target": "com.amazonaws.opensearch#PackageDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the package.</p>"
          }
        },
        "PackageSource": {
          "target": "com.amazonaws.opensearch#PackageSource",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 location from which to import the package.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for request parameters to the\n      <code>\n        <a>CreatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CreatePackageResponse": {
      "type": "structure",
      "members": {
        "PackageDetails": {
          "target": "com.amazonaws.opensearch#PackageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the package.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the response returned by the\n      <code>\n        <a>CreatePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.opensearch#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DeleteDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Permanently deletes the specified domain and all of its data. Once a domain is deleted, it cannot\n      be recovered.\n    </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain you want to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DeleteDomain</a>\n      </code>\n      operation. Specifies the name of the domain you want to delete.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.opensearch#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domain being deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DeleteDomain</code> request. Contains the status of the pending deletion, or\n      a \"domain not found\" error if the domain and all of its resources have been deleted.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeleteInboundConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DeleteInboundConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DeleteInboundConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the remote domain owner to delete an existing inbound cross-cluster connection.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DeleteInboundConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.opensearch#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the inbound connection to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DeleteInboundConnection</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeleteInboundConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.opensearch#InboundConnection",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>InboundConnection</a>\n      </code>\n      of the deleted inbound connection.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a\n      <code>\n        <a>DeleteInboundConnection</a>\n      </code>\n      operation. Contains details about the deleted inbound connection.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeleteOutboundConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DeleteOutboundConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DeleteOutboundConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the local domain owner to delete an existing outbound cross-cluster connection.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2021-01-01/opensearch/cc/outboundConnection/{ConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DeleteOutboundConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.opensearch#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the outbound connection you want to permanently delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DeleteOutboundConnection</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeleteOutboundConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.opensearch#OutboundConnection",
          "traits": {
            "smithy.api#documentation": "<p>The\n      <code>\n        <a>OutboundConnection</a>\n      </code>\n      of the deleted outbound connection.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a\n      <code>\n        <a>DeleteOutboundConnection</a>\n      </code>\n      operation. Contains details about the deleted outbound connection.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeletePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DeletePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DeletePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the package.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2021-01-01/packages/{PackageID}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DeletePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.opensearch#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>The internal ID of the package you want to delete. Use <code>DescribePackages</code> to find this value.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the request parameters to the\n      <code>\n        <a>DeletePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeletePackageResponse": {
      "type": "structure",
      "members": {
        "PackageDetails": {
          "target": "com.amazonaws.opensearch#PackageDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      <code>PackageDetails</code>\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the response parameters to the\n      <code>\n        <a>DeletePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DeploymentCloseDateTimeStamp": {
      "type": "timestamp"
    },
    "com.amazonaws.opensearch#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING_UPDATE",
            "name": "PENDING_UPDATE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "NOT_ELIGIBLE",
            "name": "NOT_ELIGIBLE"
          },
          {
            "value": "ELIGIBLE",
            "name": "ELIGIBLE"
          }
        ]
      }
    },
    "com.amazonaws.opensearch#DescribeDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified domain, including the domain ID,\n      domain endpoint, and domain ARN.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DescribeDomainAutoTunes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeDomainAutoTunesRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeDomainAutoTunesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides scheduled Auto-Tune action details for the domain, such as Auto-Tune action type,\n      description, severity, and scheduled date.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}/autoTunes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opensearch#DescribeDomainAutoTunesRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name for which you want Auto-Tune action details.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opensearch#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is sent in case the earlier API call results contain the NextToken. Used for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>DescribeDomainAutoTunes</code> operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainAutoTunesResponse": {
      "type": "structure",
      "members": {
        "AutoTunes": {
          "target": "com.amazonaws.opensearch#AutoTuneList",
          "traits": {
            "smithy.api#documentation": "<p>The list of setting adjustments that Auto-Tune has made to the domain. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>An identifier to allow retrieval of paginated results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomainAutoTunes</code> request. See <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\" target=\"_blank\">\n      Auto-Tune for Amazon OpenSearch Service\n    </a> for more information.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeDomainConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeDomainConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides cluster configuration information about the specified domain, such as the state, creation\n      date, update version, and update date for cluster options.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}/config",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DescribeDomainConfigRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain you want to get information about.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>DescribeDomainConfig</code> operation. Specifies the\n      domain name for which you want configuration information.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainConfigResponse": {
      "type": "structure",
      "members": {
        "DomainConfig": {
          "target": "com.amazonaws.opensearch#DomainConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the domain requested in the <code>DescribeDomainConfig</code> request.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomainConfig</code> request. Contains the configuration information of\n      the requested domain.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain for which you want information.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DescribeDomain</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainResponse": {
      "type": "structure",
      "members": {
        "DomainStatus": {
          "target": "com.amazonaws.opensearch#DomainStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomain</code> request. Contains the status of the domain specified in\n      the request.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomains": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeDomainsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeDomainsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns domain configuration information about the specified domains, including the domain ID,\n      domain endpoint, and domain ARN.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/domain-info",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DescribeDomainsRequest": {
      "type": "structure",
      "members": {
        "DomainNames": {
          "target": "com.amazonaws.opensearch#DomainNameList",
          "traits": {
            "smithy.api#documentation": "<p>The domains for which you want information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DescribeDomains</a>\n      </code>\n      operation. By default, the API returns the status of all domains.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeDomainsResponse": {
      "type": "structure",
      "members": {
        "DomainStatusList": {
          "target": "com.amazonaws.opensearch#DomainStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domains requested in the <code>DescribeDomains</code> request.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the specified domains\n      or all domains owned by the account.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeInboundConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeInboundConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeInboundConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InvalidPaginationTokenException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the inbound cross-cluster connections for a remote domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/cc/inboundConnection/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opensearch#DescribeInboundConnectionsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.opensearch#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of filters used to match properties for inbound cross-cluster connections.\n      Available\n      <code>\n        <a>Filter</a>\n      </code>\n      values are:\n      <ul>\n        <li>connection-id</li>\n        <li>local-domain-info.domain-name</li>\n        <li>local-domain-info.owner-id</li>\n        <li>local-domain-info.region</li>\n        <li>remote-domain-info.domain-name</li>\n      </ul>\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opensearch#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received\n      NextToken to paginate the remaining results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DescribeInboundConnections</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeInboundConnectionsResponse": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.opensearch#InboundConnections",
          "traits": {
            "smithy.api#documentation": "<p>A list of\n      <code>\n        <a>InboundConnection</a>\n      </code>\n      matching the specified filter criteria.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received\n      NextToken to paginate the remaining results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a\n      <code>\n        <a>DescribeInboundConnections</a>\n      </code>\n      request. Contains a list of connections matching the filter criteria.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeInstanceTypeLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeInstanceTypeLimitsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeInstanceTypeLimitsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#InvalidTypeException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Describe the limits for a given instance type and OpenSearch or Elasticsearch version.\n      When modifying an existing domain, specify the\n      <code>\n        <a>DomainName</a>\n      </code>\n      to see which limits you can modify.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2021-01-01/opensearch/instanceTypeLimits/{EngineVersion}/{InstanceType}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#DescribeInstanceTypeLimitsRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the domain you want to modify. Only include this value if you're\n      querying OpenSearch\n      <code>\n        <a>Limits</a>\n      </code>\n      for an existing domain.\n    </p>",
            "smithy.api#httpQuery": "domainName"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.opensearch#OpenSearchPartitionInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The instance type for an OpenSearch cluster for which OpenSearch\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.opensearch#VersionString",
          "traits": {
            "smithy.api#documentation": "<p>\n      Version of OpenSearch for which\n      <code>\n        <a>Limits</a>\n      </code>\n      are needed.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters to the\n      <code>\n        <a>DescribeInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeInstanceTypeLimitsResponse": {
      "type": "structure",
      "members": {
        "LimitsByRole": {
          "target": "com.amazonaws.opensearch#LimitsByRole"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the parameters received from the\n      <code>\n        <a>DescribeInstanceTypeLimits</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeOutboundConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeOutboundConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeOutboundConnectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InvalidPaginationTokenException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the outbound cross-cluster connections for a local domain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/cc/outboundConnection/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opensearch#DescribeOutboundConnectionsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.opensearch#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of filters used to match properties for outbound cross-cluster connections.\n      Available\n      <code>\n        <a>Filter</a>\n      </code>\n      names for this operation are:\n      <ul>\n        <li>connection-id</li>\n        <li>remote-domain-info.domain-name</li>\n        <li>remote-domain-info.owner-id</li>\n        <li>remote-domain-info.region</li>\n        <li>local-domain-info.domain-name</li>\n      </ul>\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opensearch#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is sent in case the earlier API call results contain the NextToken parameter. Used for pagination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the\n      <code>\n        <a>DescribeOutboundConnections</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeOutboundConnectionsResponse": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.opensearch#OutboundConnections",
          "traits": {
            "smithy.api#documentation": "<p>A list of\n      <code>\n        <a>OutboundConnection</a>\n      </code>\n      matching the specified filter criteria.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more results are available and NextToken is present, make the next request to the same API with the received\n      NextToken to paginate the remaining results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a\n      <code>\n        <a>DescribeOutboundConnections</a>\n      </code>\n      request. Contains the list of connections matching the filter criteria.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribePackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribePackagesRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribePackagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes all packages available to Amazon OpenSearch Service domains. Includes options for filtering, limiting the number of results,\n      and pagination.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/packages/describe",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opensearch#DescribePackagesFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.opensearch#DescribePackagesFilterName",
          "traits": {
            "smithy.api#documentation": "<p>Any field from <code>PackageDetails</code>.\n    </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.opensearch#DescribePackagesFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of values for the specified field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter to apply to the <code>DescribePackage</code> response.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribePackagesFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#DescribePackagesFilter"
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of <code>DescribePackagesFilter</code> to filter the packages included in a <code>DescribePackages</code> response.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribePackagesFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PackageID",
            "name": "PackageID"
          },
          {
            "value": "PackageName",
            "name": "PackageName"
          },
          {
            "value": "PackageStatus",
            "name": "PackageStatus"
          }
        ]
      }
    },
    "com.amazonaws.opensearch#DescribePackagesFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$"
      }
    },
    "com.amazonaws.opensearch#DescribePackagesFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#DescribePackagesFilterValue"
      }
    },
    "com.amazonaws.opensearch#DescribePackagesRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.opensearch#DescribePackagesFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Only returns packages that match the <code>DescribePackagesFilterList</code> values.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opensearch#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Limits results to a maximum number of packages.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided,\n      returns results for the next page.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the request parameters to the\n      <code>\n        <a>DescribePackage</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribePackagesResponse": {
      "type": "structure",
      "members": {
        "PackageDetailsList": {
          "target": "com.amazonaws.opensearch#PackageDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>List of <code>PackageDetails</code> objects.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opensearch#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Container for the response returned by the\n      <code>\n        <a>DescribePackages</a>\n      </code>\n      operation.\n    </p>"
      }
    },
    "com.amazonaws.opensearch#DescribeReservedInstanceOfferings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#DescribeReservedInstanceOfferingsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#DescribeReservedInstanceOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists available reserved OpenSearch instance offerings.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2021-01-01/opensearch/reservedInstanceOfferings",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opensearch#DescribeReservedInstanceOfferingsRequest": {
      "type": "structure",
      "members": {
        "ReservedInstanceOfferingId": {
          "target": "com.amazonaws.opensearch#GUID",
          "traits": {
            "smithy.api#documentation": "<p>The offering identifier filter value. Use this parameter to show only the available offering that matches the\n      specified reservation identifier.\n    </p>",
            "smithy.api#httpQuery": "offeringId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opensearch#MaxResults",
          "traits": {
[...]
