{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.opensearchserverless#AccessPolicy": {
      "type": "resource",
      "identifiers": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType"
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName"
        }
      },
      "put": {
        "target": "com.amazonaws.opensearchserverless#CreateAccessPolicy"
      },
      "read": {
        "target": "com.amazonaws.opensearchserverless#GetAccessPolicy"
      },
      "update": {
        "target": "com.amazonaws.opensearchserverless#UpdateAccessPolicy"
      },
      "delete": {
        "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicy"
      },
      "list": {
        "target": "com.amazonaws.opensearchserverless#ListAccessPolicies"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "AccessPolicy"
        }
      }
    },
    "com.amazonaws.opensearchserverless#AccessPolicyDetail": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of access policy.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy.</p>"
          }
        },
        "policyVersion": {
          "target": "com.amazonaws.opensearchserverless#PolicyVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the policy.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.opensearchserverless#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the policy.</p>"
          }
        },
        "policy": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The JSON policy document without any whitespaces.</p>"
          }
        },
        "createdDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The date the policy was created.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the policy was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an OpenSearch Serverless access policy.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#AccessPolicyStats": {
      "type": "structure",
      "members": {
        "DataPolicyCount": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of data access policies in the current account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Statistics for an OpenSearch Serverless access policy.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#AccessPolicySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#AccessPolicySummary"
      }
    },
    "com.amazonaws.opensearchserverless#AccessPolicySummary": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of access policy. Currently the only available type is <code>data</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access policy.</p>"
          }
        },
        "policyVersion": {
          "target": "com.amazonaws.opensearchserverless#PolicyVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the policy.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.opensearchserverless#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the access policy.</p>"
          }
        },
        "createdDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Epoch time when the access policy was created.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the data access policy.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#AccessPolicyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "data",
            "value": "data",
            "documentation": "data policy type"
          }
        ]
      }
    },
    "com.amazonaws.opensearchserverless#AccountSettingsDetail": {
      "type": "structure",
      "members": {
        "capacityLimits": {
          "target": "com.amazonaws.opensearchserverless#CapacityLimits"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>OpenSearch Serverless-related information for the current account.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#BatchGetCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#BatchGetCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns attributes for one or more collections, including the collection endpoint and\n            the OpenSearch Dashboards endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and\n                managing Amazon OpenSearch Serverless collections</a>.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetCollectionRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.opensearchserverless#CollectionIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of collection IDs. You can't provide names and IDs in the same request. The ID\n            is part of the collection endpoint. You can also retrieve it using the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/ServerlessAPIReference/API_ListCollections.html\">ListCollections</a> API.</p>"
          }
        },
        "names": {
          "target": "com.amazonaws.opensearchserverless#CollectionNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of collection names. You can't provide names and IDs in the same request.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetCollectionResponse": {
      "type": "structure",
      "members": {
        "collectionDetails": {
          "target": "com.amazonaws.opensearchserverless#CollectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about each collection.</p>"
          }
        },
        "collectionErrorDetails": {
          "target": "com.amazonaws.opensearchserverless#CollectionErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Error information for the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetVpcEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#BatchGetVpcEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#BatchGetVpcEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns attributes for one or more VPC endpoints associated with the current account.\n            For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetVpcEndpointRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of VPC endpoint identifiers.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#BatchGetVpcEndpointResponse": {
      "type": "structure",
      "members": {
        "vpcEndpointDetails": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the specified VPC endpoint.</p>"
          }
        },
        "vpcEndpointErrorDetails": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Error information for a failed request.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CapacityLimits": {
      "type": "structure",
      "members": {
        "maxIndexingCapacityInOCU": {
          "target": "com.amazonaws.opensearchserverless#IndexingCapacityValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum indexing capacity for collections.</p>"
          }
        },
        "maxSearchCapacityInOCU": {
          "target": "com.amazonaws.opensearchserverless#SearchCapacityValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum search capacity for collections.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The maximum capacity limits for all OpenSearch Serverless collections, in OpenSearch Compute Units\n            (OCUs). These limits are used to scale your collections based on the current workload.\n            For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-overview.html#serverless-scaling\">Autoscaling</a>.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.opensearchserverless#Collection": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId"
        }
      },
      "create": {
        "target": "com.amazonaws.opensearchserverless#CreateCollection"
      },
      "update": {
        "target": "com.amazonaws.opensearchserverless#UpdateCollection"
      },
      "delete": {
        "target": "com.amazonaws.opensearchserverless#DeleteCollection"
      },
      "list": {
        "target": "com.amazonaws.opensearchserverless#ListCollections"
      },
      "traits": {
        "aws.api#arn": {
          "template": "collection/{id}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Collection"
        }
      }
    },
    "com.amazonaws.opensearchserverless#CollectionDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the collection.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the collection.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#CollectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the collection.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.opensearchserverless#CollectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of collection.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the collection.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Web Services KMS key used to encrypt the collection.</p>"
          }
        },
        "createdDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Epoch time when the collection was created.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
          }
        },
        "collectionEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Collection-specific endpoint used to submit index, search, and data upload requests to\n            an OpenSearch Serverless collection.</p>"
          }
        },
        "dashboardEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Collection-specific endpoint used to access OpenSearch Dashboards.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about each OpenSearch Serverless collection, including the collection endpoint and the\n            OpenSearch Dashboards endpoint.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#CollectionDetail"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionErrorDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>If the request contains collection IDs, the response includes the IDs provided in the\n            request.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>If the request contains collection names, the response includes the names provided in\n            the request.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error. For example, <code>The specified Collection is not\n                found.</code>\n         </p>"
          }
        },
        "errorCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code for the request. For example, <code>NOT_FOUND</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information for an OpenSearch Serverless request.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionErrorDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#CollectionErrorDetail"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionFilters": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the collection.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#CollectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the collection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of filter keys that you can use for LIST, UPDATE, and DELETE requests to OpenSearch Serverless\n            collections.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 40
        },
        "smithy.api#pattern": "^[a-z0-9]{3,40}$"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#CollectionId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.opensearchserverless#CollectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 32
        },
        "smithy.api#pattern": "^[a-z][a-z0-9-]+$"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#CollectionName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.opensearchserverless#CollectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "Creating collection resource"
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "Deleting collection resource"
          },
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "Collection resource is ready to use"
          },
          {
            "name": "FAILED",
            "value": "FAILED",
            "documentation": "Collection resource create or delete failed"
          }
        ]
      }
    },
    "com.amazonaws.opensearchserverless#CollectionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearchserverless#CollectionSummary"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the collection.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#CollectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the collection.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about each OpenSearch Serverless collection.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CollectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SEARCH",
            "value": "SEARCH",
            "documentation": "Search collection type"
          },
          {
            "name": "TIMESERIES",
            "value": "TIMESERIES",
            "documentation": "Timeseries collection type"
          }
        ]
      }
    },
    "com.amazonaws.opensearchserverless#ConfigDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.opensearchserverless#ConfigName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 32
        },
        "smithy.api#pattern": "^[a-z][a-z0-9-]+$"
      }
    },
    "com.amazonaws.opensearchserverless#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When creating a collection, thrown when a collection with the same name already exists\n            or is being created. When deleting a collection, thrown when the collection is not in\n            the ACTIVE or FAILED state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.opensearchserverless#CreateAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#CreateAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#CreateAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data access policy for OpenSearch Serverless. Access policies limit access to collections\n            and the resources within them, and allow a user to access that data irrespective of the\n            access mechanism or network source. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data access\n                control for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#CreateAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.opensearchserverless#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the policy. Typically used to store information about the permissions\n            defined in the policy.</p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.opensearchserverless#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The JSON policy document to use as the content for the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateAccessPolicyResponse": {
      "type": "structure",
      "members": {
        "accessPolicyDetail": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the created access policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#CreateCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#CreateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and\n                managing Amazon OpenSearch Serverless collections</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#CreateCollectionDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the collection.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#CollectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the collection.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.opensearchserverless#CollectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of collection.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the collection.</p>"
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key with which to encrypt the collection.</p>"
          }
        },
        "createdDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The Epoch time when the collection was created.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the collection was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the created OpenSearch Serverless collection.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CreateCollectionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the collection.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.opensearchserverless#CollectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of collection.</p>"
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the collection.</p>",
            "smithy.api#length": {
              "max": 1000
            }
          }
        },
        "tags": {
          "target": "com.amazonaws.opensearchserverless#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An arbitrary set of tags (key–value pairs) to associate with the OpenSearch Serverless collection.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateCollectionResponse": {
      "type": "structure",
      "members": {
        "createCollectionDetail": {
          "target": "com.amazonaws.opensearchserverless#CreateCollectionDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the collection.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#CreateSecurityConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#CreateSecurityConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies a security configuration for OpenSearch Serverless. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML\n                authentication for Amazon OpenSearch Serverless</a>. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityConfigRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#ConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.opensearchserverless#ConfigDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the security configuration.</p>"
          }
        },
        "samlOptions": {
          "target": "com.amazonaws.opensearchserverless#SamlConfigOptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes SAML options in in the form of a key-value map.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityConfigResponse": {
      "type": "structure",
      "members": {
        "securityConfigDetail": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the created security configuration. </p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#CreateSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#CreateSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a security policy to be used by one or more OpenSearch Serverless collections. Security\n            policies provide access to a collection and its OpenSearch Dashboards endpoint from\n            public networks or specific VPC endpoints. They also allow you to secure a collection\n            with a KMS encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access\n                for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at\n                rest for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security policy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.opensearchserverless#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the policy. Typically used to store information about the permissions\n            defined in the policy.</p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.opensearchserverless#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The JSON policy document to use as the content for the new policy.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateSecurityPolicyResponse": {
      "type": "structure",
      "members": {
        "securityPolicyDetail": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the created security policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateVpcEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an OpenSearch Serverless-managed interface VPC endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access\n                Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#CreateVpcEndpointDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the endpoint.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status in the endpoint creation process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creation details for an OpenSearch Serverless-managed interface endpoint. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#CreateVpcEndpointRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the interface endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcId": {
          "target": "com.amazonaws.opensearchserverless#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC from which you'll access OpenSearch Serverless.</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.opensearchserverless#SubnetIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one or more subnets from which you'll access OpenSearch Serverless.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.opensearchserverless#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the security groups that define the ports, protocols, and\n            sources for inbound traffic that you are authorizing into your endpoint.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#CreateVpcEndpointResponse": {
      "type": "structure",
      "members": {
        "createVpcEndpointDetail": {
          "target": "com.amazonaws.opensearchserverless#CreateVpcEndpointDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the created interface VPC endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#DeleteAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data\n                access control for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#DeleteAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteAccessPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.opensearchserverless#DeleteCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#DeleteCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#DeleteCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless collection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and\n                managing Amazon OpenSearch Serverless collections</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#DeleteCollectionDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collection.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#CollectionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the collection.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#CollectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the collection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a deleted OpenSearch Serverless collection.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#DeleteCollectionRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the collection. For example, <code>1iu5usc406kd</code>. The\n            ID is part of the collection endpoint. You can also retrieve it using the <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/ServerlessAPIReference/API_ListCollections.html\">ListCollections</a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteCollectionResponse": {
      "type": "structure",
      "members": {
        "deleteCollectionDetail": {
          "target": "com.amazonaws.opensearchserverless#DeleteCollectionDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the deleted collection.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#DeleteSecurityConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#DeleteSecurityConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a security configuration for OpenSearch Serverless. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML\n                authentication for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigId",
          "traits": {
            "smithy.api#documentation": "<p>The security configuration identifier. For SAML the ID will be\n                <code>saml/&lt;accountId&gt;/&lt;idpProviderName&gt;</code>. For example,\n                <code>saml/123456789123/OKTADev</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityConfigResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#DeleteSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#DeleteSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless security policy.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteSecurityPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.opensearchserverless#DeleteVpcEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an OpenSearch Serverless-managed interface endpoint. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.opensearchserverless#DeleteVpcEndpointDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the endpoint.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the endpoint deletion process.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletion details for an OpenSearch Serverless-managed interface endpoint.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#DeleteVpcEndpointRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The VPC endpoint identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.opensearchserverless#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#DeleteVpcEndpointResponse": {
      "type": "structure",
      "members": {
        "deleteVpcEndpointDetail": {
          "target": "com.amazonaws.opensearchserverless#DeleteVpcEndpointDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the deleted endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#GetAccessPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#GetAccessPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an OpenSearch Serverless access policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-data-access.html\">Data\n            access control for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#GetAccessPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>Tye type of policy. Currently the only supported value is <code>data</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetAccessPolicyResponse": {
      "type": "structure",
      "members": {
        "accessPolicyDetail": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the requested access policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetAccountSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#GetAccountSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#GetAccountSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns account-level settings related to OpenSearch Serverless.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#GetAccountSettingsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.opensearchserverless#GetAccountSettingsResponse": {
      "type": "structure",
      "members": {
        "accountSettingsDetail": {
          "target": "com.amazonaws.opensearchserverless#AccountSettingsDetail",
          "traits": {
            "smithy.api#documentation": "<p>OpenSearch Serverless-related details for the current account.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetPoliciesStats": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#GetPoliciesStatsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#GetPoliciesStatsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns statistical information about your OpenSearch Serverless access policies, security\n            configurations, and security policies.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#GetPoliciesStatsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.opensearchserverless#GetPoliciesStatsResponse": {
      "type": "structure",
      "members": {
        "AccessPolicyStats": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyStats",
          "traits": {
            "smithy.api#documentation": "<p>Information about the data access policies in your account.</p>"
          }
        },
        "SecurityPolicyStats": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyStats",
          "traits": {
            "smithy.api#documentation": "<p>Information about the security policies in your account.</p>"
          }
        },
        "SecurityConfigStats": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigStats",
          "traits": {
            "smithy.api#documentation": "<p>Information about the security configurations in your account.</p>"
          }
        },
        "TotalPolicyCount": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of OpenSearch Serverless security policies and configurations in your\n            account.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#GetSecurityConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#GetSecurityConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an OpenSearch Serverless security configuration. For more information, see\n                <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML\n                authentication for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityConfigRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the security configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityConfigResponse": {
      "type": "structure",
      "members": {
        "securityConfigDetail": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the requested security configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#GetSecurityPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#GetSecurityPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a configured OpenSearch Serverless security policy. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-network.html\">Network access\n            for Amazon OpenSearch Serverless</a> and <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-encryption.html\">Encryption at\n                rest for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityPolicyRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security policy.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.opensearchserverless#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security policy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#GetSecurityPolicyResponse": {
      "type": "structure",
      "members": {
        "securityPolicyDetail": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details about the requested security policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#IndexingCapacityValue": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 2
        }
      }
    },
    "com.amazonaws.opensearchserverless#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown when an error internal to the service occurs while processing a request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.opensearchserverless#ListAccessPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListAccessPoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListAccessPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a list of OpenSearch Serverless access policies.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "maxResults": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#ListAccessPoliciesRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of access policy.</p>",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.opensearchserverless#ResourceFilter",
          "traits": {
            "smithy.api#documentation": "<p>Resource filters (can be collection or indexes) that policies can apply to.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If your initial <code>ListAccessPolicies</code> operation returns a\n                <code>nextToken</code>, you can include the returned <code>nextToken</code> in\n            subsequent <code>ListAccessPolicies</code> operations, which returns results in the next\n            page. </p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can\n            use <code>nextToken</code> to get the next page of results. The default is 20.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListAccessPoliciesResponse": {
      "type": "structure",
      "members": {
        "accessPolicySummaries": {
          "target": "com.amazonaws.opensearchserverless#AccessPolicySummaries",
          "traits": {
            "smithy.api#documentation": "<p>Details about the requested access policies.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value\n            of <code>nextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListCollections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListCollectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListCollectionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all OpenSearch Serverless collections. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-manage.html\">Creating and\n                managing Amazon OpenSearch Serverless collections</a>.</p>\n        <note>\n            <p>Make sure to include an empty request body {} if you don't include any collection\n                filters in the request.</p>\n        </note>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "maxResults": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#ListCollectionsRequest": {
      "type": "structure",
      "members": {
        "collectionFilters": {
          "target": "com.amazonaws.opensearchserverless#CollectionFilters",
          "traits": {
            "smithy.api#documentation": "<p>List of filter names and values that you can use for requests.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If your initial <code>ListCollections</code> operation returns a <code>nextToken</code>,\n            you can include the returned <code>nextToken</code> in subsequent <code>ListCollections</code> operations,\n            which returns results in the next page.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return. Default is 20. You can use\n                <code>nextToken</code> to get the next page of results.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListCollectionsResponse": {
      "type": "structure",
      "members": {
        "collectionSummaries": {
          "target": "com.amazonaws.opensearchserverless#CollectionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Details about each collection.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When <code>nextToken</code> is returned, there are more results available. \n            The value of <code>nextToken</code> is a unique pagination token for each page. \n            Make the call again using the returned token to retrieve the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityConfigs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListSecurityConfigsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListSecurityConfigsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about configured OpenSearch Serverless security configurations. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-saml.html\">SAML\n                authentication for Amazon OpenSearch Serverless</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "maxResults": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityConfigsRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigType",
          "traits": {
            "smithy.api#documentation": "<p>The type of security configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If your initial <code>ListSecurityConfigs</code> operation returns a\n                <code>nextToken</code>, you can include the returned <code>nextToken</code> in\n            subsequent <code>ListSecurityConfigs</code> operations, which returns results in the\n            next page. </p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can\n            use <code>nextToken</code> to get the next page of results. The default is 20.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityConfigsResponse": {
      "type": "structure",
      "members": {
        "securityConfigSummaries": {
          "target": "com.amazonaws.opensearchserverless#SecurityConfigSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Details about the security configurations in your account.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value\n            of <code>nextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityPolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListSecurityPoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListSecurityPoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about configured OpenSearch Serverless security policies.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "maxResults": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityPoliciesRequest": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy.</p>",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.opensearchserverless#ResourceFilter",
          "traits": {
            "smithy.api#documentation": "<p>Resource filters (can be collection or indexes) that policies can apply to. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If your initial <code>ListSecurityPolicies</code> operation returns a\n                <code>nextToken</code>, you can include the returned <code>nextToken</code> in\n            subsequent <code>ListSecurityPolicies</code> operations, which returns results in the\n            next page. </p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can\n            use <code>nextToken</code> to get the next page of results. The default is 20.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListSecurityPoliciesResponse": {
      "type": "structure",
      "members": {
        "securityPolicySummaries": {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicySummaries",
          "traits": {
            "smithy.api#documentation": "<p>Details about the security policies in your account.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value\n            of <code>nextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the tags for an OpenSearch Serverless resource. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/tag-collection.html\">Tagging Amazon OpenSearch Serverless collections</a>.</p>"
      }
    },
    "com.amazonaws.opensearchserverless#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.opensearchserverless#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource. The resource must be active (not in\n            the <code>DELETING</code> state), and must be owned by the account ID included in the\n            request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.opensearchserverless#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListVpcEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearchserverless#ListVpcEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearchserverless#ListVpcEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearchserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the OpenSearch Serverless-managed interface VPC endpoints associated with the current\n            account. For more information, see\n            <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-vpc.html\">Access Amazon OpenSearch Serverless using an interface endpoint</a>.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "maxResults": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.opensearchserverless#ListVpcEndpointsRequest": {
      "type": "structure",
      "members": {
        "vpcEndpointFilters": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointFilters",
          "traits": {
            "smithy.api#documentation": "<p>Filter the results according to the current status of the VPC endpoint. Possible\n            statuses are <code>CREATING</code>, <code>DELETING</code>, <code>UPDATING</code>,\n                <code>ACTIVE</code>, and <code>FAILED</code>.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If your initial <code>ListVpcEndpoints</code> operation returns a\n                <code>nextToken</code>, you can include the returned <code>nextToken</code> in\n            subsequent <code>ListVpcEndpoints</code> operations, which returns results in the next\n            page. </p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter that specifies the maximum number of results to return. You can\n            use <code>nextToken</code> to get the next page of results. The default is 20.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#ListVpcEndpointsResponse": {
      "type": "structure",
      "members": {
        "vpcEndpointSummaries": {
          "target": "com.amazonaws.opensearchserverless#VpcEndpointSummaries",
          "traits": {
            "smithy.api#documentation": "<p>Details about each VPC endpoint, including the name and current status.</p>"
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>When <code>nextToken</code> is returned, there are more results available. The value\n            of <code>nextToken</code> is a unique pagination token for each page. Make the call\n            again using the returned token to retrieve the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.opensearchserverless#OpenSearchServerless": {
      "type": "service",
      "version": "2021-11-01",
      "operations": [
        {
          "target": "com.amazonaws.opensearchserverless#BatchGetCollection"
        },
        {
          "target": "com.amazonaws.opensearchserverless#BatchGetVpcEndpoint"
        },
        {
          "target": "com.amazonaws.opensearchserverless#CreateSecurityPolicy"
        },
        {
          "target": "com.amazonaws.opensearchserverless#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.opensearchserverless#GetPoliciesStats"
        },
        {
          "target": "com.amazonaws.opensearchserverless#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.opensearchserverless#TagResource"
        },
        {
          "target": "com.amazonaws.opensearchserverless#UntagResource"
        },
        {
          "target": "com.amazonaws.opensearchserverless#UpdateAccountSettings"
        },
        {
          "target": "com.amazonaws.opensearchserverless#UpdateVpcEndpoint"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.opensearchserverless#AccessPolicy"
        },
        {
          "target": "com.amazonaws.opensearchserverless#Collection"
        },
        {
          "target": "com.amazonaws.opensearchserverless#SecurityConfig"
        },
        {
          "target": "com.amazonaws.opensearchserverless#SecurityPolicy"
        },
        {
          "target": "com.amazonaws.opensearchserverless#VpcEndpoint"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "OpenSearchServerless",
          "arnNamespace": "aoss"
        },
        "aws.auth#sigv4": {
          "name": "aoss"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>Use the Amazon OpenSearch Serverless API to create, configure, and manage OpenSearch Serverless collections and\n            security policies.</p>\n        <p>OpenSearch Serverless is an on-demand, pre-provisioned serverless configuration for\n            Amazon OpenSearch Service. OpenSearch Serverless removes the operational complexities of provisioning,\n            configuring, and tuning your OpenSearch clusters. It enables you to easily search and\n            analyze petabytes of data without having to worry about the underlying infrastructure\n            and data management.</p>\n        <p> To learn more about OpenSearch Serverless, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/serverless-overview.html\">What is\n                Amazon OpenSearch Serverless?</a>\n         </p>",
        "smithy.api#title": "OpenSearch Service Serverless",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://aoss-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://aoss-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://aoss.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://aoss.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://aoss.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
[...]
