{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.opensearch#AIMLOptionsInput": {
      "type": "structure",
      "members": {
        "NaturalLanguageQueryGenerationOptions": {
          "target": "com.amazonaws.opensearch#NaturalLanguageQueryGenerationOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Container for parameters required for natural language query generation on the specified\n   domain.</p>"
          }
        },
        "S3VectorsEngine": {
          "target": "com.amazonaws.opensearch#S3VectorsEngine",
          "traits": {
            "smithy.api#documentation": "<p>Container for parameters required to enable S3 vectors engine features on the specified domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for parameters required to enable all machine learning features.</p>"
      }
    },
    "com.amazonaws.opensearch#AIMLOptionsOutput": {
      "type": "structure",
      "members": {
        "NaturalLanguageQueryGenerationOptions": {
          "target": "com.amazonaws.opensearch#NaturalLanguageQueryGenerationOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Container for parameters required for natural language query generation on the specified\n   domain.</p>"
          }
        },
        "S3VectorsEngine": {
          "target": "com.amazonaws.opensearch#S3VectorsEngine",
          "traits": {
            "smithy.api#documentation": "<p>Container for parameters representing the state of S3 vectors engine features on the specified domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for parameters representing the state of machine learning features on the\n   specified domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AIMLOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AIMLOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Machine learning options on the specified domain.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of machine learning options on the specified domain.</p>"
      }
    },
    "com.amazonaws.opensearch#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the domain. See <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/index.html\">Identifiers for IAM Entities </a> in <i>Using\n     Amazon Web Services Identity and Access Management</i> for more information. </p>",
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.opensearch#AWSAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.opensearch#AWSDomainInformation": {
      "type": "structure",
      "members": {
        "OwnerId": {
          "target": "com.amazonaws.opensearch#OwnerId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the domain owner.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Region": {
          "target": "com.amazonaws.opensearch#Region",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the domain is located.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon OpenSearch Service domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AWSServicePrincipal": {
      "type": "enum",
      "members": {
        "application_opensearchservice_amazonaws_com": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application.opensearchservice.amazonaws.com"
          }
        }
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AcceptInboundConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AcceptInboundConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allows the destination Amazon OpenSearch Service domain owner to accept an inbound\n   cross-cluster search connection request. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search\n    for Amazon OpenSearch Service</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.opensearch#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the inbound connection to accept.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>AcceptInboundConnection</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AcceptInboundConnectionResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.opensearch#InboundConnection",
          "traits": {
            "smithy.api#documentation": "<p>Information about the accepted inbound connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the accepted inbound connection.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.opensearch#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occurred because you don't have permissions to access the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.opensearch#AccessPoliciesStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#PolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The access policy configured for the domain. Access policies can be resource-based,\n   IP-based, or IAM-based. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-access-policies\">Configuring access policies</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access policy for the domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configured access rules for the domain's search endpoint, and the current status of\n   those rules.</p>"
      }
    },
    "com.amazonaws.opensearch#ActionSeverity": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        }
      }
    },
    "com.amazonaws.opensearch#ActionStatus": {
      "type": "enum",
      "members": {
        "PENDING_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_UPDATE"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "NOT_ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ELIGIBLE"
          }
        },
        "ELIGIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELIGIBLE"
          }
        }
      }
    },
    "com.amazonaws.opensearch#ActionType": {
      "type": "enum",
      "members": {
        "SERVICE_SOFTWARE_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_SOFTWARE_UPDATE"
          }
        },
        "JVM_HEAP_SIZE_TUNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JVM_HEAP_SIZE_TUNING"
          }
        },
        "JVM_YOUNG_GEN_TUNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JVM_YOUNG_GEN_TUNING"
          }
        }
      }
    },
    "com.amazonaws.opensearch#AddDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AddDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AddDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#DependencyFailureException"
        },
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new direct-query data source to the specified domain. For more information, see\n    <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/direct-query-s3-creating.html\">Creating Amazon\n    OpenSearch Service data source integrations with Amazon S3</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}/dataSource",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AddDataSourceRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain to add the data source to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.opensearch#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceType": {
          "target": "com.amazonaws.opensearch#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.opensearch#DataSourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>AddDataSource</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AddDataSourceResponse": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A message associated with creation of the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of an <code>AddDataSource</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AddDirectQueryDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AddDirectQueryDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AddDirectQueryDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Adds a new data source in Amazon OpenSearch Service so that you can perform direct queries\n   on external data. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/directQueryDataSource",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AddDirectQueryDataSourceRequest": {
      "type": "structure",
      "members": {
        "DataSourceName": {
          "target": "com.amazonaws.opensearch#DirectQueryDataSourceName",
          "traits": {
            "smithy.api#documentation": "<p> A unique, user-defined label to identify the data source within your OpenSearch Service\n   environment. </p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceType": {
          "target": "com.amazonaws.opensearch#DirectQueryDataSourceType",
          "traits": {
            "smithy.api#documentation": "<p> The supported Amazon Web Services service that you want to use as the source for direct\n   queries in OpenSearch Service. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.opensearch#DirectQueryDataSourceDescription",
          "traits": {
            "smithy.api#documentation": "<p> An optional text field for providing additional context and details about the data source.\n  </p>"
          }
        },
        "OpenSearchArns": {
          "target": "com.amazonaws.opensearch#DirectQueryOpenSearchARNList",
          "traits": {
            "smithy.api#documentation": "<p> A list of Amazon Resource Names (ARNs) for the OpenSearch collections that are associated\n   with the direct query data source. </p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.opensearch#TagList"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AddDirectQueryDataSourceResponse": {
      "type": "structure",
      "members": {
        "DataSourceArn": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p> The unique, system-generated identifier that represents the data source. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AddTagsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches tags to an existing Amazon OpenSearch Service domain, data source, or application. </p>\n         <p>Tags are a set of case-sensitive key-value pairs. A domain, data source, or application can\n   have up to 10 tags. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-awsresourcetagging.html\">Tagging\n    Amazon OpenSearch Service resources</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AddTagsRequest": {
      "type": "structure",
      "members": {
        "ARN": {
          "target": "com.amazonaws.opensearch#ARN",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) for the OpenSearch Service domain, data source, or application to\n   which you want to attach resource tags.</p>",
            "smithy.api#required": {}
          }
        },
        "TagList": {
          "target": "com.amazonaws.opensearch#TagList",
          "traits": {
            "smithy.api#documentation": "<p>List of resource tags.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the parameters to the <code>AddTags</code> operation. Specifies the tags to\n   attach to the domain, data source, or application.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AdditionalLimit": {
      "type": "structure",
      "members": {
        "LimitName": {
          "target": "com.amazonaws.opensearch#LimitName",
          "traits": {
            "smithy.api#documentation": "<ul>\n            <li>\n               <p>\n                  <code>MaximumNumberOfDataNodesSupported</code> - This attribute only applies to master\n     nodes and specifies the maximum number of data nodes of a given instance type a master node can\n     support.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumNumberOfDataNodesWithoutMasterNode</code> - This attribute only applies to\n     data nodes and specifies the maximum number of data nodes of a given instance type can exist\n     without a master node governing them.</p>\n            </li>\n         </ul>"
          }
        },
        "LimitValues": {
          "target": "com.amazonaws.opensearch#LimitValueList",
          "traits": {
            "smithy.api#documentation": "<p> The values of the additional instance type limits.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> List of limits that are specific to a given instance type.</p>"
      }
    },
    "com.amazonaws.opensearch#AdditionalLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AdditionalLimit"
      }
    },
    "com.amazonaws.opensearch#AdvancedOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.opensearch#String"
      },
      "value": {
        "target": "com.amazonaws.opensearch#String"
      },
      "traits": {
        "smithy.api#documentation": "<p>Exposes native OpenSearch configuration values from <code>opensearch.yml</code>. The\n   following advanced options are available: </p>\n         <ul>\n            <li>\n               <p>Allows references to indexes in an HTTP request body. Must be <code>false</code> when\n     configuring access to individual sub-resources. Default is <code>true</code>.</p>\n            </li>\n            <li>\n               <p>Specifies the percentage of heap space allocated to field data. Default is\n     unbounded.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">Advanced cluster parameters</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p>The status of advanced options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of advanced options for the specified domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status of the advanced options for the specified domain. The following options are\n   available: </p>\n         <ul>\n            <li>\n               <p>\n                  <code>\"rest.action.multi.allow_explicit_index\": \"true\" | \"false\"</code> - Note the use of\n     a string rather than a boolean. Specifies whether explicit references to indexes are allowed\n     inside the body of HTTP requests. If you want to configure access policies for domain\n     sub-resources, such as specific indexes and domain APIs, you must disable this property.\n     Default is true.</p>\n            </li>\n            <li>\n               <p>\n                  <code>\"indices.fielddata.cache.size\": \"80\" </code> - Note the use of a string rather than\n     a boolean. Specifies the percentage of heap space allocated to field data. Default is\n     unbounded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>\"indices.query.bool.max_clause_count\": \"1024\"</code> - Note the use of a string\n     rather than a boolean. Specifies the maximum number of clauses allowed in a Lucene boolean\n     query. Default is 1,024. Queries with more than the permitted number of clauses result in a\n      <code>TooManyClauses</code> error.</p>\n            </li>\n            <li>\n               <p>\n                  <code>\"override_main_response_version\": \"true\" | \"false\"</code> - Note the use of a string\n     rather than a boolean. Specifies whether the domain reports its version as 7.10 to allow\n     Elasticsearch OSS clients and plugins to continue working with it. Default is false when\n     creating a domain and true when upgrading a domain.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">Advanced cluster parameters</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptions": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if fine-grained access control is enabled.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the internal user database is enabled.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.opensearch#SAMLOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Container for information about the SAML configuration for OpenSearch Dashboards.</p>"
          }
        },
        "JWTOptions": {
          "target": "com.amazonaws.opensearch#JWTOptionsOutput",
          "traits": {
            "smithy.api#documentation": "<p>Container for information about the JWT configuration of the Amazon OpenSearch\n   Service.</p>"
          }
        },
        "AnonymousAuthDisableDate": {
          "target": "com.amazonaws.opensearch#DisableTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Date and time when the migration period will be disabled. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling\n    fine-grained access control on an existing domain</a>.</p>"
          }
        },
        "AnonymousAuthEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if a 30-day migration period is enabled, during which administrators can create role\n   mappings. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling\n    fine-grained access control on an existing domain</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for fine-grained access control settings.</p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptionsInput": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to enable fine-grained access control.</p>"
          }
        },
        "InternalUserDatabaseEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to enable the internal user database.</p>"
          }
        },
        "MasterUserOptions": {
          "target": "com.amazonaws.opensearch#MasterUserOptions",
          "traits": {
            "smithy.api#documentation": "<p>Container for information about the master user.</p>"
          }
        },
        "SAMLOptions": {
          "target": "com.amazonaws.opensearch#SAMLOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Container for information about the SAML configuration for OpenSearch Dashboards.</p>"
          }
        },
        "JWTOptions": {
          "target": "com.amazonaws.opensearch#JWTOptionsInput",
          "traits": {
            "smithy.api#documentation": "<p>Container for information about the JWT configuration of the Amazon OpenSearch Service.\n  </p>"
          }
        },
        "AnonymousAuthEnabled": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True to enable a 30-day migration period during which administrators can create role\n   mappings. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling\n    fine-grained access control on an existing domain</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options for enabling and configuring fine-grained access control. For more information, see\n    <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html\">Fine-grained access control in Amazon OpenSearch Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AdvancedSecurityOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AdvancedSecurityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Container for fine-grained access control settings.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#OptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the fine-grained access control settings for a domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of fine-grained access control settings for a domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AmazonOpenSearchService": {
      "type": "service",
      "version": "2021-01-01",
      "operations": [
        {
          "target": "com.amazonaws.opensearch#AcceptInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#AddDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#AddDirectQueryDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#AddTags"
        },
        {
          "target": "com.amazonaws.opensearch#AssociatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#AssociatePackages"
        },
        {
          "target": "com.amazonaws.opensearch#AuthorizeVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.opensearch#CancelDomainConfigChange"
        },
        {
          "target": "com.amazonaws.opensearch#CancelServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.opensearch#CreateApplication"
        },
        {
          "target": "com.amazonaws.opensearch#CreateDomain"
        },
        {
          "target": "com.amazonaws.opensearch#CreateOutboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#CreatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#CreateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteApplication"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteDirectQueryDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteDomain"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteOutboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#DeletePackage"
        },
        {
          "target": "com.amazonaws.opensearch#DeleteVpcEndpoint"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomain"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainAutoTunes"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainChangeProgress"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainConfig"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainHealth"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomainNodes"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDomains"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeDryRunProgress"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeInboundConnections"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeInstanceTypeLimits"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeOutboundConnections"
        },
        {
          "target": "com.amazonaws.opensearch#DescribePackages"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeReservedInstanceOfferings"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeReservedInstances"
        },
        {
          "target": "com.amazonaws.opensearch#DescribeVpcEndpoints"
        },
        {
          "target": "com.amazonaws.opensearch#DissociatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#DissociatePackages"
        },
        {
          "target": "com.amazonaws.opensearch#GetApplication"
        },
        {
          "target": "com.amazonaws.opensearch#GetCompatibleVersions"
        },
        {
          "target": "com.amazonaws.opensearch#GetDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#GetDirectQueryDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#GetDomainMaintenanceStatus"
        },
        {
          "target": "com.amazonaws.opensearch#GetPackageVersionHistory"
        },
        {
          "target": "com.amazonaws.opensearch#GetUpgradeHistory"
        },
        {
          "target": "com.amazonaws.opensearch#GetUpgradeStatus"
        },
        {
          "target": "com.amazonaws.opensearch#ListApplications"
        },
        {
          "target": "com.amazonaws.opensearch#ListDataSources"
        },
        {
          "target": "com.amazonaws.opensearch#ListDirectQueryDataSources"
        },
        {
          "target": "com.amazonaws.opensearch#ListDomainMaintenances"
        },
        {
          "target": "com.amazonaws.opensearch#ListDomainNames"
        },
        {
          "target": "com.amazonaws.opensearch#ListDomainsForPackage"
        },
        {
          "target": "com.amazonaws.opensearch#ListInstanceTypeDetails"
        },
        {
          "target": "com.amazonaws.opensearch#ListPackagesForDomain"
        },
        {
          "target": "com.amazonaws.opensearch#ListScheduledActions"
        },
        {
          "target": "com.amazonaws.opensearch#ListTags"
        },
        {
          "target": "com.amazonaws.opensearch#ListVersions"
        },
        {
          "target": "com.amazonaws.opensearch#ListVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.opensearch#ListVpcEndpoints"
        },
        {
          "target": "com.amazonaws.opensearch#ListVpcEndpointsForDomain"
        },
        {
          "target": "com.amazonaws.opensearch#PurchaseReservedInstanceOffering"
        },
        {
          "target": "com.amazonaws.opensearch#RejectInboundConnection"
        },
        {
          "target": "com.amazonaws.opensearch#RemoveTags"
        },
        {
          "target": "com.amazonaws.opensearch#RevokeVpcEndpointAccess"
        },
        {
          "target": "com.amazonaws.opensearch#StartDomainMaintenance"
        },
        {
          "target": "com.amazonaws.opensearch#StartServiceSoftwareUpdate"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateApplication"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateDirectQueryDataSource"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateDomainConfig"
        },
        {
          "target": "com.amazonaws.opensearch#UpdatePackage"
        },
        {
          "target": "com.amazonaws.opensearch#UpdatePackageScope"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateScheduledAction"
        },
        {
          "target": "com.amazonaws.opensearch#UpdateVpcEndpoint"
        },
        {
          "target": "com.amazonaws.opensearch#UpgradeDomain"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "OpenSearch",
          "arnNamespace": "es",
          "cloudFormationName": "OpenSearch",
          "cloudTrailEventSource": "opensearch.amazonaws.com",
          "endpointPrefix": "es"
        },
        "aws.auth#sigv4": {
          "name": "es"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Use the Amazon OpenSearch Service configuration API to create, configure, and manage\n   OpenSearch Service domains. The endpoint for configuration service requests is Region specific:\n    es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a\n   current list of supported Regions and endpoints, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#service-regions\">Amazon Web Services service\n   endpoints</a>.</p>",
        "smithy.api#title": "Amazon OpenSearch Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://es.amazonaws.com/doc/2021-01-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://es-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://es-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://aos.{Region}.api.aws",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-cn",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://aos.{Region}.api.amazonwebservices.com.cn",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://aos.{Region}.api.aws",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://es.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://es.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aos.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aos.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://aos.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://es-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.opensearch#AppConfig": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.opensearch#AppConfigType",
          "traits": {
            "smithy.api#documentation": "<p>The configuration item to set, such as the admin role for the OpenSearch application.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.opensearch#AppConfigValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to the configuration key, such as an IAM user ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration settings for an OpenSearch application. For more information, see see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/application.html\">Using the\n    OpenSearch user interface in Amazon OpenSearch Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AppConfigType": {
      "type": "enum",
      "members": {
        "OpensearchDashboardAdminUsers": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opensearchDashboards.dashboardAdmin.users"
          }
        },
        "OpensearchDashboardAdminGroups": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "opensearchDashboards.dashboardAdmin.groups"
          }
        }
      }
    },
    "com.amazonaws.opensearch#AppConfigValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.opensearch#AppConfigs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AppConfig"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.opensearch#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 30
        },
        "smithy.api#pattern": "^[a-z][a-z0-9\\-]+$"
      }
    },
    "com.amazonaws.opensearch#ApplicationStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.opensearch#ApplicationStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#ApplicationStatus"
      }
    },
    "com.amazonaws.opensearch#ApplicationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#ApplicationSummary"
      }
    },
    "com.amazonaws.opensearch#ApplicationSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.opensearch#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of an OpenSearch application.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.opensearch#ARN"
        },
        "name": {
          "target": "com.amazonaws.opensearch#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an OpenSearch application.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL of an OpenSearch application.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.opensearch#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of an OpenSearch application. Possible values: <code>CREATING</code>,\n    <code>UPDATING</code>, <code>DELETING</code>, <code>FAILED</code>, <code>ACTIVE</code>, and\n    <code>DELETED</code>.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.opensearch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when an OpenSearch application was created.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.opensearch#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the last update to an OpenSearch application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Basic details of an OpenSearch application.</p>"
      }
    },
    "com.amazonaws.opensearch#AssociatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AssociatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AssociatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a package with an Amazon OpenSearch Service domain. For more information, see\n    <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/packages/associate/{PackageID}/{DomainName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AssociatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageID": {
          "target": "com.amazonaws.opensearch#PackageID",
          "traits": {
            "smithy.api#documentation": "<p>Internal ID of the package to associate with a domain. Use <code>DescribePackages</code> to\n   find this value. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain to associate the package with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PrerequisitePackageIDList": {
          "target": "com.amazonaws.opensearch#PackageIDList",
          "traits": {
            "smithy.api#documentation": "<p>A list of package IDs that must be associated with the domain before the package specified\n   in the request can be associated.</p>"
          }
        },
        "AssociationConfiguration": {
          "target": "com.amazonaws.opensearch#PackageAssociationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for associating a package with an Amazon OpenSearch Service domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the request parameters to the <code>AssociatePackage</code> operation.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AssociatePackageResponse": {
      "type": "structure",
      "members": {
        "DomainPackageDetails": {
          "target": "com.amazonaws.opensearch#DomainPackageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about a package that is associated with a domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for the response returned by the <code>AssociatePackage</code> operation.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AssociatePackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AssociatePackagesRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AssociatePackagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#ConflictException"
        },
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Operation in the Amazon OpenSearch Service API for associating multiple packages with a\n   domain simultaneously.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/packages/associateMultiple",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AssociatePackagesRequest": {
      "type": "structure",
      "members": {
        "PackageList": {
          "target": "com.amazonaws.opensearch#PackageDetailsForAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of packages and their prerequisites to be associated with a domain.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AssociatePackagesResponse": {
      "type": "structure",
      "members": {
        "DomainPackageDetailsList": {
          "target": "com.amazonaws.opensearch#DomainPackageDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>List of information about packages that are associated with a domain. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AuthorizeVpcEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opensearch#AuthorizeVpcEndpointAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.opensearch#AuthorizeVpcEndpointAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opensearch#BaseException"
        },
        {
          "target": "com.amazonaws.opensearch#DisabledOperationException"
        },
        {
          "target": "com.amazonaws.opensearch#InternalException"
        },
        {
          "target": "com.amazonaws.opensearch#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opensearch#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opensearch#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides access to an Amazon OpenSearch Service domain through the use of an interface VPC\n   endpoint.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2021-01-01/opensearch/domain/{DomainName}/authorizeVpcEndpointAccess",
          "code": 200
        }
      }
    },
    "com.amazonaws.opensearch#AuthorizeVpcEndpointAccessRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.opensearch#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the OpenSearch Service domain to provide access to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Account": {
          "target": "com.amazonaws.opensearch#AWSAccount",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID to grant access to.</p>"
          }
        },
        "Service": {
          "target": "com.amazonaws.opensearch#AWSServicePrincipal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service SP to grant access to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opensearch#AuthorizeVpcEndpointAccessResponse": {
      "type": "structure",
      "members": {
        "AuthorizedPrincipal": {
          "target": "com.amazonaws.opensearch#AuthorizedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon Web Services account or service that was provided access to the\n   domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opensearch#AuthorizedPrincipal": {
      "type": "structure",
      "members": {
        "PrincipalType": {
          "target": "com.amazonaws.opensearch#PrincipalType",
          "traits": {
            "smithy.api#documentation": "<p>The type of principal.</p>"
          }
        },
        "Principal": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM principal</a> that\n   is allowed access to the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon Web Services account or service that has access to an Amazon\n   OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
      }
    },
    "com.amazonaws.opensearch#AuthorizedPrincipalList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AuthorizedPrincipal"
      }
    },
    "com.amazonaws.opensearch#AutoTune": {
      "type": "structure",
      "members": {
        "AutoTuneType": {
          "target": "com.amazonaws.opensearch#AutoTuneType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Auto-Tune action.</p>"
          }
        },
        "AutoTuneDetails": {
          "target": "com.amazonaws.opensearch#AutoTuneDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about an Auto-Tune action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Auto-Tune action. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch\n    Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneDate": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The timestamp of the Auto-Tune action scheduled for the domain.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneDesiredState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneDetails": {
      "type": "structure",
      "members": {
        "ScheduledAutoTuneDetails": {
          "target": "com.amazonaws.opensearch#ScheduledAutoTuneDetails",
          "traits": {
            "smithy.api#documentation": "<p>Container for details about a scheduled Auto-Tune action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies details about a scheduled Auto-Tune action. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for\n    Amazon OpenSearch Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AutoTune"
      }
    },
    "com.amazonaws.opensearch#AutoTuneMaintenanceSchedule": {
      "type": "structure",
      "members": {
        "StartAt": {
          "target": "com.amazonaws.opensearch#StartAt",
          "traits": {
            "smithy.api#documentation": "<p>The Epoch timestamp at which the Auto-Tune maintenance schedule starts.</p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.opensearch#Duration",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the maintenance schedule. For example, <code>\"Duration\": {\"Value\": 2,\n    \"Unit\": \"HOURS\"}</code>.</p>"
          }
        },
        "CronExpressionForRecurrence": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>A cron expression for a recurring maintenance schedule during which Auto-Tune can deploy\n   changes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This object is deprecated. Use the domain's <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak window</a> to\n    schedule Auto-Tune optimizations. For migration instructions, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html#off-peak-migrate\">Migrating from\n     Auto-Tune maintenance windows</a>.</p>\n         </note>\n         <p>The Auto-Tune maintenance schedule. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch\n    Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opensearch#AutoTuneMaintenanceSchedule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptions": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.opensearch#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>Whether Auto-Tune is enabled or disabled.</p>"
          }
        },
        "RollbackOnDisable": {
          "target": "com.amazonaws.opensearch#RollbackOnDisable",
          "traits": {
            "smithy.api#documentation": "<p>When disabling Auto-Tune, specify <code>NO_ROLLBACK</code> to retain all prior Auto-Tune\n   settings or <code>DEFAULT_ROLLBACK</code> to revert to the OpenSearch Service defaults. If you\n   specify <code>DEFAULT_ROLLBACK</code>, you must include a <code>MaintenanceSchedule</code> in the\n   request. Otherwise, OpenSearch Service is unable to perform the rollback.</p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>DEPRECATED. Use <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak window</a>\n   instead.</p>\n         <p>A list of maintenance schedules during which Auto-Tune can deploy changes.</p>"
          }
        },
        "UseOffPeakWindow": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to use the domain's <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/APIReference/API_OffPeakWindow.html\">off-peak window</a> to\n   deploy configuration changes on the domain rather than a maintenance schedule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Auto-Tune settings when updating a domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for\n    Amazon OpenSearch Service</a>.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsInput": {
      "type": "structure",
      "members": {
        "DesiredState": {
          "target": "com.amazonaws.opensearch#AutoTuneDesiredState",
          "traits": {
            "smithy.api#documentation": "<p>Whether Auto-Tune is enabled or disabled.</p>"
          }
        },
        "MaintenanceSchedules": {
          "target": "com.amazonaws.opensearch#AutoTuneMaintenanceScheduleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of maintenance schedules during which Auto-Tune can deploy changes. Maintenance\n   windows are deprecated and have been replaced with <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak windows</a>.</p>"
          }
        },
        "UseOffPeakWindow": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to schedule Auto-Tune optimizations that require blue/green deployments during the\n   domain's configured daily off-peak window.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options for configuring Auto-Tune. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch\n    Service</a>\n         </p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsOutput": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.opensearch#AutoTuneState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of Auto-Tune on the domain.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.opensearch#String",
          "traits": {
            "smithy.api#documentation": "<p>Any errors that occurred while enabling or disabling Auto-Tune.</p>"
          }
        },
        "UseOffPeakWindow": {
          "target": "com.amazonaws.opensearch#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the domain's off-peak window will be used to deploy Auto-Tune changes rather than a\n   maintenance schedule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Auto-Tune settings for a domain, displayed when enabling or disabling Auto-Tune.</p>"
      }
    },
    "com.amazonaws.opensearch#AutoTuneOptionsStatus": {
      "type": "structure",
      "members": {
        "Options": {
          "target": "com.amazonaws.opensearch#AutoTuneOptions",
          "traits": {
            "smithy.api#documentation": "<p>Auto-Tune settings for updating a domain.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.opensearch#AutoTuneStatus",
          "traits": {
[...]
