{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.opsworkscm#AWSOpsWorksCMResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws.*:opsworks-cm:.*:[0-9]{12}:"
      }
    },
    "com.amazonaws.opsworkscm#AccountAttribute": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The attribute name. The following are supported attribute names.\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <i>ServerLimit:</i> The number of current servers/maximum number of servers allowed. By default, you can have a \n        maximum of 10 servers.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <i>ManualBackupLimit:</i> The number of current manual backups/maximum number of backups allowed. By default, \n        you can have a maximum \n        of 50 manual backups saved.\n      </p>\n            </li>\n         </ul>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.opsworkscm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n      The maximum allowed value.\n    </p>"
          }
        },
        "Used": {
          "target": "com.amazonaws.opsworkscm#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n      The current usage, such as the current number of servers that are associated with the account.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Stores account attributes.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#AccountAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opsworkscm#AccountAttribute"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A list of individual account attributes.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#AssociateNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#AssociateNodeRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#AssociateNodeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Associates a new node with the server. For more information about how to disassociate a node, see <a>DisassociateNode</a>.</p>\n         <p>\n      On a Chef server: This command is an alternative to  <code>knife bootstrap</code>.</p>\n         <p>\n        Example (Chef): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>CHEF_ORGANIZATION</i>,Value=default\" \"Name=<i>CHEF_AUTOMATE_NODE_PUBLIC_KEY</i>,Value=<i>public-key-pem</i>\"</code>\n         </p>\n         <p>\n      On a Puppet server, this command is an alternative to the <code>puppet cert sign</code> command that signs a Puppet node CSR.\n    </p>\n         <p>\n        Example (Puppet): <code>aws opsworks-cm associate-node --server-name <i>MyServer</i> --node-name <i>MyManagedNode</i> --engine-attributes \"Name=<i>PUPPET_NODE_CSR</i>,Value=<i>csr-pem</i>\"</code>\n         </p>\n         <p>\n      A node can can only be associated with servers that are in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown.\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid.\n      The AssociateNode API call can be integrated into Auto Scaling configurations, CloudFormation templates, or the user data \n      of a server's instance.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#AssociateNodeRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server with which to associate the node.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NodeName": {
          "target": "com.amazonaws.opsworkscm#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the node.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EngineAttributes": {
          "target": "com.amazonaws.opsworkscm#EngineAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Engine attributes used for associating the node.\n    </p>\n         <p class=\"title\">\n            <b>Attributes accepted in a AssociateNode request for Chef</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CHEF_ORGANIZATION</code>: The Chef organization\n          with which the node is associated. By default only one organization\n          named <code>default</code> can exist.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>CHEF_AUTOMATE_NODE_PUBLIC_KEY</code>: A PEM-formatted public key. This key is required for the <code>chef-client</code> agent to access the Chef API.\n    </p>\n            </li>\n         </ul>\n         <p class=\"title\">\n            <b>Attributes accepted in a AssociateNode request for Puppet</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PUPPET_NODE_CSR</code>: A PEM-formatted certificate-signing request (CSR) that is created by the node.\n    </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#AssociateNodeResponse": {
      "type": "structure",
      "members": {
        "NodeAssociationStatusToken": {
          "target": "com.amazonaws.opsworkscm#NodeAssociationStatusToken",
          "traits": {
            "smithy.api#documentation": "<p>Contains a token which can be passed to the <code>DescribeNodeAssociationStatus</code> API call to get the status of the association request.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Z][A-Z0-9_]*$"
      }
    },
    "com.amazonaws.opsworkscm#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.opsworkscm#Backup": {
      "type": "structure",
      "members": {
        "BackupArn": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the backup.\n    </p>"
          }
        },
        "BackupId": {
          "target": "com.amazonaws.opsworkscm#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The generated ID of the backup. Example: <code>myServerName-yyyyMMddHHmmssSSS</code>\n         </p>"
          }
        },
        "BackupType": {
          "target": "com.amazonaws.opsworkscm#BackupType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The backup type. Valid values are <code>automated</code> or <code>manual</code>.\n    </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.opsworkscm#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      The time stamp when the backup was created in the database. Example: <code>2016-07-29T13:38:47.520Z</code>\n         </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      A user-provided description for a manual backup. This field is empty for automated backups.\n    </p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The engine type that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "EngineModel": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The engine model that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The engine version that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "InstanceProfileArn": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The EC2 instance profile ARN that is obtained from the server when the backup is created. Because this value is stored,\n      you are not required to provide the InstanceProfileArn again if you restore a backup.\n    </p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The instance type that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "KeyPair": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The key pair that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.opsworkscm#TimeWindowDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The preferred backup period that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.opsworkscm#TimeWindowDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The preferred maintenance period that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "S3DataSize": {
          "target": "com.amazonaws.opsworkscm#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>\n      This field is deprecated and is no longer used.\n    </p>"
          }
        },
        "S3DataUrl": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>\n      This field is deprecated and is no longer used.\n    </p>"
          }
        },
        "S3LogUrl": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon S3 URL of the backup's log file.\n    </p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.opsworkscm#Strings",
          "traits": {
            "smithy.api#documentation": "<p>\n      The security group IDs that are obtained from the server when the backup is created.\n    </p>"
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>\n      The name of the server from which the backup was made.\n    </p>"
          }
        },
        "ServiceRoleArn": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The service role ARN that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.opsworkscm#BackupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a backup while in progress.\n    </p>"
          }
        },
        "StatusDescription": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      An informational message about backup status.\n    </p>"
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.opsworkscm#Strings",
          "traits": {
            "smithy.api#documentation": "<p>\n      The subnet IDs that are obtained from the server when the backup is created.\n    </p>"
          }
        },
        "ToolsVersion": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The version of OpsWorks CM-specific tools that is obtained from the server when the backup is created.\n    </p>"
          }
        },
        "UserArn": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      The user ARN of the requester for manual backups. This field is empty for automated backups.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a single backup.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#BackupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 79
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9\\-\\.\\:]*$"
      }
    },
    "com.amazonaws.opsworkscm#BackupRetentionCountDefinition": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.opsworkscm#BackupStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "OK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OK"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.opsworkscm#BackupType": {
      "type": "enum",
      "members": {
        "AUTOMATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATED"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.amazonaws.opsworkscm#Backups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opsworkscm#Backup"
      }
    },
    "com.amazonaws.opsworkscm#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.opsworkscm#CreateBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#CreateBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#CreateBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates an application-level backup of a server. While the\n      server is in the <code>BACKING_UP</code> state, the server cannot be\n      changed, and no additional backup can be created.\n    </p>\n         <p>\n      Backups can be created for servers in <code>RUNNING</code>, <code>HEALTHY</code>, and <code>UNHEALTHY</code> states. \n      By default, you can create a maximum of 50\n      manual backups.\n    </p>\n         <p>\n      This operation is asynchronous.\n    </p>\n         <p>\n      A <code>LimitExceededException</code> is thrown when the maximum number of manual backups is reached.\n      An <code>InvalidStateException</code> is thrown when the server is not in any of the following states: RUNNING, HEALTHY, or UNHEALTHY.\n      A <code>ResourceNotFoundException</code> is thrown when the server is not found.\n      A <code>ValidationException</code> is thrown when parameters of the request are not valid.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#CreateBackupRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server that you want to back up.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n      A user-defined description of the backup.\n    </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.opsworkscm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values to attach to an OpsWorks CM server backup.</p>\n         <ul>\n            <li>\n               <p>The key cannot be empty.</p>\n            </li>\n            <li>\n               <p>The key can be a maximum of 127 characters, and can contain only Unicode letters, numbers, or separators, or the \n        following special characters: <code>+ - = . _ : /</code>\n               </p>\n            </li>\n            <li>\n               <p>The value can be a maximum 255 characters, and contain only Unicode letters, numbers, or separators, or the \n        following special characters: <code>+ - = . _ : /</code>\n               </p>\n            </li>\n            <li>\n               <p>Leading and trailing white spaces are trimmed from both the key and value.</p>\n            </li>\n            <li>\n               <p>A maximum of 50 user-applied tags is allowed for tag-supported OpsWorks CM resources.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#CreateBackupResponse": {
      "type": "structure",
      "members": {
        "Backup": {
          "target": "com.amazonaws.opsworkscm#Backup",
          "traits": {
            "smithy.api#documentation": "<p>Backup created by request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#CreateServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#CreateServerRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#CreateServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#LimitExceededException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates and immedately starts a new server. The server is ready to use when it is in the <code>HEALTHY</code> state. By \n      default, you can create a maximum of 10 servers.\n    </p>\n         <p>\n      This operation is asynchronous.\n    </p>\n         <p>\n      A <code>LimitExceededException</code> is thrown when you have created the maximum number of servers (10). A \n      <code>ResourceAlreadyExistsException</code>\n      is thrown when a server with the same name already exists in the account. A <code>ResourceNotFoundException</code> is thrown when \n      you\n      specify a backup ID that is not valid or is for a backup that does not exist. A <code>ValidationException</code> is thrown when \n      parameters\n      of the request are not valid.\n    </p>\n         <p>\n      If you do not specify a security group by adding the <code>SecurityGroupIds</code> parameter, OpsWorks creates a new \n      security group.\n    </p>\n         <p>\n            <i>Chef Automate:</i> The default security group opens the Chef server to the world on TCP port 443. If \n      a KeyName is present, OpsWorks enables SSH access. SSH is also open to the world on TCP port 22.\n    </p>\n         <p>\n            <i>Puppet Enterprise:</i> The default security group opens TCP ports 22, 443, 4433, 8140, 8142, 8143, and 8170. If a KeyName is present, OpsWorks enables SSH access. SSH is also open to the world on TCP port 22.\n    </p>\n         <p>By default, your server is accessible from any IP address. We\n      recommend that you update your security group rules to allow\n      access from known IP addresses and address ranges only. To edit security group rules, open Security Groups\n      in the navigation pane of the EC2 management console.\n    </p>\n         <p>To specify your own domain for a server, and provide your own self-signed or CA-signed certificate and private key, \n      specify values for <code>CustomDomain</code>, \n      <code>CustomCertificate</code>, and <code>CustomPrivateKey</code>.</p>"
      }
    },
    "com.amazonaws.opsworkscm#CreateServerRequest": {
      "type": "structure",
      "members": {
        "AssociatePublicIpAddress": {
          "target": "com.amazonaws.opsworkscm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n        Associate a public IP address with a server that you are launching. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>.\n      </p>"
          }
        },
        "CustomDomain": {
          "target": "com.amazonaws.opsworkscm#CustomDomain",
          "traits": {
            "smithy.api#documentation": "<p>An optional public endpoint of a server, such as <code>https://aws.my-company.com</code>. To access the server, create a CNAME DNS record in your preferred DNS service that points the custom \n      domain to the endpoint that is generated when the server is created (the value of the CreateServer Endpoint attribute). You cannot access the server by using the \n      generated <code>Endpoint</code> value if the server is using a custom domain. If you specify a custom domain, you must also specify values for <code>CustomCertificate</code> \n      and <code>CustomPrivateKey</code>.</p>"
          }
        },
        "CustomCertificate": {
          "target": "com.amazonaws.opsworkscm#CustomCertificate",
          "traits": {
            "smithy.api#documentation": "<p>A PEM-formatted HTTPS certificate. The value can be be a single, self-signed certificate, or a certificate chain. If you specify a \n      custom certificate, you must also specify values for <code>CustomDomain</code> and <code>CustomPrivateKey</code>. The following are requirements for the <code>CustomCertificate</code> value:</p>\n         <ul>\n            <li>\n               <p>You can provide either a self-signed, custom certificate, or the full certificate chain.</p>\n            </li>\n            <li>\n               <p>The certificate must be a valid X509 certificate, or a certificate chain in PEM format.</p>\n            </li>\n            <li>\n               <p>The certificate must be valid at the time of upload. A certificate can't be used before its validity period begins (the certificate's <code>NotBefore</code> date), or after it expires \n        (the certificate's <code>NotAfter</code> date).</p>\n            </li>\n            <li>\n               <p>The certificate’s common name or subject alternative names (SANs), if present, must match the value of <code>CustomDomain</code>.</p>\n            </li>\n            <li>\n               <p>The certificate must match the value of <code>CustomPrivateKey</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "CustomPrivateKey": {
          "target": "com.amazonaws.opsworkscm#CustomPrivateKey",
          "traits": {
            "smithy.api#documentation": "<p>A private key in PEM format for connecting to the server by using HTTPS. The private key must not be encrypted; it cannot be protected by a password or passphrase. \n      If you specify a custom private key, you must also specify values for <code>CustomDomain</code> and <code>CustomCertificate</code>.</p>"
          }
        },
        "DisableAutomatedBackup": {
          "target": "com.amazonaws.opsworkscm#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n        Enable or disable scheduled backups. Valid values are <code>true</code> or <code>false</code>. The default value is <code>true</code>.\n      </p>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The configuration management engine to use. Valid values include <code>ChefAutomate</code> and <code>Puppet</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "EngineModel": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The engine model of the server. Valid values in this release include <code>Monolithic</code> for Puppet and <code>Single</code> for Chef.\n      </p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The major release version of the engine that you want to use. For a Chef server, the valid value for EngineVersion \n        is currently <code>2</code>. For a Puppet server, valid values are <code>2019</code> or <code>2017</code>.\n      </p>"
          }
        },
        "EngineAttributes": {
          "target": "com.amazonaws.opsworkscm#EngineAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Optional engine attributes on a specified server.\n    </p>\n         <p class=\"title\">\n            <b>Attributes accepted in a Chef createServer request:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CHEF_AUTOMATE_PIVOTAL_KEY</code>: A\n      base64-encoded RSA public key. The corresponding private key is required to\n      access the Chef API. When no CHEF_AUTOMATE_PIVOTAL_KEY is set, a private key is\n      generated and returned in the response.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>CHEF_AUTOMATE_ADMIN_PASSWORD</code>:\n      The password for the administrative user in the Chef Automate web-based dashboard. The\n      password length is a minimum of eight characters, and a maximum of 32. The\n      password can contain letters, numbers, and special characters\n      (!/@#$%^&+=_). The password must contain at least one lower case letter, one upper\n      case letter, one number, and one special character. When no CHEF_AUTOMATE_ADMIN_PASSWORD is set, one is\n      generated and returned in the response.</p>\n            </li>\n         </ul>\n         <p class=\"title\">\n            <b>Attributes accepted in a Puppet createServer request:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PUPPET_ADMIN_PASSWORD</code>: To work with the Puppet Enterprise console, a password must use ASCII characters.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PUPPET_R10K_REMOTE</code>: The r10k remote is the URL of your control repository \n        (for example, ssh://git@your.git-repo.com:user/control-repo.git). Specifying an r10k remote opens TCP port 8170.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PUPPET_R10K_PRIVATE_KEY</code>: If you are using a private Git repository, add \n        PUPPET_R10K_PRIVATE_KEY to specify a PEM-encoded private SSH key.</p>\n            </li>\n         </ul>"
          }
        },
        "BackupRetentionCount": {
          "target": "com.amazonaws.opsworkscm#BackupRetentionCountDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n        The number of automated backups that you want to keep. Whenever a new backup is created, OpsWorks CM deletes the oldest backups if this number is exceeded.\n        The default value is <code>1</code>.\n      </p>"
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>\n        The name of the server. The server name must be unique within your Amazon Web Services account, within each region.\n        Server names must start with a letter; then letters, numbers, or hyphens (-) are allowed, up to a maximum of 40 characters.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "InstanceProfileArn": {
          "target": "com.amazonaws.opsworkscm#InstanceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>\n        The ARN of the instance profile that your Amazon EC2\n        instances use. The OpsWorks console typically creates\n        the instance profile for you</p>",
            "smithy.api#required": {}
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The Amazon EC2 instance type to use. For example, <code>m5.large</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "KeyPair": {
          "target": "com.amazonaws.opsworkscm#KeyPair",
          "traits": {
            "smithy.api#documentation": "<p>\n        The Amazon EC2 key pair to set for the instance. This parameter is optional; if desired, you may specify this parameter to connect to your instances by using SSH.\n      </p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.opsworkscm#TimeWindowDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The start time for a one-hour period each week during which OpsWorks CM performs maintenance on the instance.\n      Valid values must be specified in the following format: <code>DDD:HH:MM</code>. <code>MM</code> must be specified as <code>00</code>. The specified time is in coordinated universal time (UTC).\n      The default value is a random one-hour period on Tuesday, Wednesday, or Friday. See <code>TimeWindowDefinition</code> for more information.\n    </p>\n         <p>\n            <b>Example:</b>\n            <code>Mon:08:00</code>,\n      which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.)\n    </p>"
          }
        },
        "PreferredBackupWindow": {
          "target": "com.amazonaws.opsworkscm#TimeWindowDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The start time for a one-hour period during which OpsWorks CM backs up application-level data on your server\n      if automated backups are enabled. Valid values must be specified in one of the following formats:\n    </p>\n         <ul>\n            <li>\n               <p>\n                  <code>HH:MM</code> for daily backups</p>\n            </li>\n            <li>\n               <p>\n                  <code>DDD:HH:MM</code> for weekly backups</p>\n            </li>\n         </ul>\n         <p>\n            <code>MM</code> must be specified as <code>00</code>. The specified time is in coordinated universal time (UTC). The default value is a random, daily start time.</p>\n         <p>\n            <b>Example:</b>\n            <code>08:00</code>, which represents a daily start time of 08:00 UTC.</p>\n         <p>\n            <b>Example:</b>\n            <code>Mon:08:00</code>, which represents a start time of every Monday at 08:00 UTC. (8:00 a.m.)</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.opsworkscm#Strings",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of security group IDs to attach to the Amazon EC2 instance. If you add this parameter, the specified security groups\n      must be within the VPC that is specified by <code>SubnetIds</code>.\n    </p>\n         <p>\n      If you do not specify this parameter, OpsWorks CM creates one new security group that uses TCP ports 22 and 443, open to\n      0.0.0.0/0 (everyone).\n    </p>"
          }
        },
        "ServiceRoleArn": {
          "target": "com.amazonaws.opsworkscm#ServiceRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>\n      The service role that the OpsWorks CM service backend uses to work with your account.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.opsworkscm#Strings",
          "traits": {
            "smithy.api#documentation": "<p>\n      The IDs of subnets in which to launch the server EC2 instance.\n    </p>\n         <p>\n      Amazon EC2-Classic customers: This field is required. All servers must run within a VPC. The VPC must have \"Auto Assign Public IP\" enabled.\n    </p>\n         <p>\n      EC2-VPC customers: This field is optional. If you do not specify subnet IDs, your EC2 instances are created in a default subnet that \n      is selected by Amazon EC2. If you specify subnet IDs, the VPC must have \"Auto Assign Public IP\" enabled.\n    </p>\n         <p>For more information about supported Amazon EC2 platforms, see\n      <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported Platforms</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.opsworkscm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map that contains tag keys and tag values to attach to an OpsWorks for Chef Automate or OpsWorks for Puppet Enterprise server.</p>\n         <ul>\n            <li>\n               <p>The key cannot be empty.</p>\n            </li>\n            <li>\n               <p>The key can be a maximum of 127 characters, and can contain only Unicode letters, numbers, or separators, or the following special characters: <code>+ - = . _ : / @</code>\n               </p>\n            </li>\n            <li>\n               <p>The value can be a maximum 255 characters, and contain only Unicode letters, numbers, or separators, or the following special characters: <code>+ - = . _ : / @</code>\n               </p>\n            </li>\n            <li>\n               <p>Leading and trailing spaces are trimmed from both the key and value.</p>\n            </li>\n            <li>\n               <p>A maximum of 50 user-applied tags is allowed for any OpsWorks CM server.</p>\n            </li>\n         </ul>"
          }
        },
        "BackupId": {
          "target": "com.amazonaws.opsworkscm#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>\n      If you specify this field, OpsWorks CM creates the server by using the backup represented by BackupId.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#CreateServerResponse": {
      "type": "structure",
      "members": {
        "Server": {
          "target": "com.amazonaws.opsworkscm#Server",
          "traits": {
            "smithy.api#documentation": "<p>The server that is created by the request.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#CustomCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2097152
        },
        "smithy.api#pattern": "^(?s)\\s*-----BEGIN CERTIFICATE-----.+-----END CERTIFICATE-----\\s*$"
      }
    },
    "com.amazonaws.opsworkscm#CustomDomain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 253
        },
        "smithy.api#pattern": "^(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$"
      }
    },
    "com.amazonaws.opsworkscm#CustomPrivateKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^(?ms)\\s*^-----BEGIN (?-s:.*)PRIVATE KEY-----$.*?^-----END (?-s:.*)PRIVATE KEY-----$\\s*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.opsworkscm#DeleteBackup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DeleteBackupRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DeleteBackupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes a backup. You can delete both manual and automated backups. This operation is asynchronous.\n    </p>\n         <p>\n      An <code>InvalidStateException</code> is thrown when a backup deletion is already in progress.\n      A <code>ResourceNotFoundException</code> is thrown when the backup does not exist.\n      A <code>ValidationException</code> is thrown when parameters of the request are not valid.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#DeleteBackupRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.opsworkscm#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the backup to delete. Run the DescribeBackups command to get a list of backup IDs.\n      Backup IDs are in the format <code>ServerName-yyyyMMddHHmmssSSS</code>.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DeleteBackupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DeleteServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DeleteServerRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DeleteServerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Deletes the server and the underlying CloudFormation stacks\n      (including the server's EC2 instance). When you run this command, the server state is updated\n      to <code>DELETING</code>. After the server is deleted, it is no longer returned by\n      <code>DescribeServer</code> requests. If the CloudFormation stack cannot be deleted, the server cannot be deleted.\n    </p>\n         <p>\n      This operation is asynchronous.\n    </p>\n         <p>\n      An <code>InvalidStateException</code> is thrown when a server deletion is already in progress.\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist.\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>\n         <p>\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#DeleteServerRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the server to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DeleteServerResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeAccountAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DescribeAccountAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DescribeAccountAttributesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Describes your OpsWorks CM account attributes.\n    </p>\n         <p>\n      This operation is synchronous.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#DescribeAccountAttributesRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeAccountAttributesResponse": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.opsworkscm#AccountAttributes",
          "traits": {
            "smithy.api#documentation": "<p>\n      The attributes that are currently set for the account.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeBackups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DescribeBackupsRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DescribeBackupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Describes backups. The results are ordered by time, with newest backups first.\n      If you do not specify a BackupId or ServerName, the command returns all backups.\n    </p>\n         <p>\n      This operation is synchronous.\n    </p>\n         <p>\n      A <code>ResourceNotFoundException</code> is thrown when the backup does not exist.\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Backups",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opsworkscm#DescribeBackupsRequest": {
      "type": "structure",
      "members": {
        "BackupId": {
          "target": "com.amazonaws.opsworkscm#BackupId",
          "traits": {
            "smithy.api#documentation": "<p>Describes a single backup.\n    </p>"
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>Returns backups for the server with the specified ServerName.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeBackups</code> requests.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opsworkscm#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeBackups</code> requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeBackupsResponse": {
      "type": "structure",
      "members": {
        "Backups": {
          "target": "com.amazonaws.opsworkscm#Backups",
          "traits": {
            "smithy.api#documentation": "<p>Contains the response to a <code>DescribeBackups</code> request.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeBackups</code> requests.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Describes events for a specified server. Results are ordered by time, with newest events first.\n    </p>\n         <p>\n      This operation is synchronous.\n    </p>\n         <p>\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist.\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ServerEvents",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opsworkscm#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server for which you want to view events.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is a string that is returned in some command responses. It indicates that\n      not all entries have been returned, and that you must run at least one more request to get remaining\n      items. To get remaining results, call <code>DescribeEvents</code> again, and assign the token from the previous\n      results as the value of the <code>nextToken</code> parameter. If there are no more results,\n      the response object's <code>nextToken</code> parameter value is <code>null</code>.\n      Setting a <code>nextToken</code> value that was not returned in\n      your previous results causes an <code>InvalidNextTokenException</code> to occur.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opsworkscm#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>To receive a paginated response, use this parameter to specify the maximum number\n      of results to be returned with a single call. If the number of available results exceeds\n      this maximum, the response includes a <code>NextToken</code> value that you can assign to the <code>NextToken</code>\n      request parameter to get the next set of results.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "ServerEvents": {
          "target": "com.amazonaws.opsworkscm#ServerEvents",
          "traits": {
            "smithy.api#documentation": "<p>Contains the response to a <code>DescribeEvents</code> request.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is a string that is returned in some command responses. It indicates that\n      not all entries have been returned, and that you must run at least one more request to get remaining\n      items. To get remaining results, call <code>DescribeEvents</code> again, and assign the token from the previous\n      results as the value of the <code>nextToken</code> parameter. If there are no more results,\n      the response object's <code>nextToken</code> parameter value is <code>null</code>.\n      Setting a <code>nextToken</code> value that was not returned in\n      your previous results causes an <code>InvalidNextTokenException</code> to occur.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeNodeAssociationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DescribeNodeAssociationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DescribeNodeAssociationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Returns the current status of an existing association or disassociation request.\n    </p>\n         <p>\n      A <code>ResourceNotFoundException</code> is thrown when no recent association or disassociation request with the specified token is found,\n      or when the server does not exist. A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>",
        "smithy.waiters#waitable": {
          "NodeAssociated": {
            "documentation": "Wait until node is associated or disassociated.",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "NodeAssociationStatus",
                    "expected": "SUCCESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "NodeAssociationStatus",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 15
          }
        }
      }
    },
    "com.amazonaws.opsworkscm#DescribeNodeAssociationStatusRequest": {
      "type": "structure",
      "members": {
        "NodeAssociationStatusToken": {
          "target": "com.amazonaws.opsworkscm#NodeAssociationStatusToken",
          "traits": {
            "smithy.api#documentation": "<p>The token returned in either the AssociateNodeResponse or the DisassociateNodeResponse.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server from which to disassociate the node.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeNodeAssociationStatusResponse": {
      "type": "structure",
      "members": {
        "NodeAssociationStatus": {
          "target": "com.amazonaws.opsworkscm#NodeAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association or disassociation request.\n    </p>\n         <p class=\"title\">\n            <b>Possible values:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCESS</code>: The association or disassociation succeeded.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The association or disassociation failed.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code>: The association or disassociation is still in progress.\n      </p>\n            </li>\n         </ul>"
          }
        },
        "EngineAttributes": {
          "target": "com.amazonaws.opsworkscm#EngineAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes specific to the node association. \n      In Puppet, the attribute PUPPET_NODE_CERT contains the signed certificate (the result of the CSR).\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeServers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DescribeServersRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DescribeServersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Lists all configuration management servers that are identified with your account.\n      Only the stored results from Amazon DynamoDB\n      are returned. OpsWorks CM does not query other services.\n    </p>\n         <p>\n      This operation is synchronous.\n    </p>\n         <p>\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist.\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Servers",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opsworkscm#DescribeServersRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>Describes the server with the specified ServerName.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeServers</code> requests.\n    </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opsworkscm#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeServers</code> requests.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DescribeServersResponse": {
      "type": "structure",
      "members": {
        "Servers": {
          "target": "com.amazonaws.opsworkscm#Servers",
          "traits": {
            "smithy.api#documentation": "<p>Contains the response to a <code>DescribeServers</code> request.</p>\n         <p>\n            <i>For Chef Automate servers:</i>  If <code>DescribeServersResponse$Servers$EngineAttributes</code> includes \n      CHEF_MAJOR_UPGRADE_AVAILABLE, you can upgrade the Chef Automate server to Chef Automate 2. To be eligible for upgrade, a server running \n      Chef Automate 1 must have had at least one successful maintenance run after November 1, 2019.</p>\n         <p>\n            <i>For Puppet servers:</i>\n            <code>DescribeServersResponse$Servers$EngineAttributes</code> contains\n      the following two responses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PUPPET_API_CA_CERT</code>, the PEM-encoded CA certificate that is used by the Puppet API over TCP port number 8140. \n        The CA certificate is also used to sign node certificates.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PUPPET_API_CRL</code>, a certificate revocation list. The certificate revocation list is for internal \n        maintenance purposes only. For more information about the Puppet certificate revocation list, see \n        <a href=\"https://puppet.com/docs/puppet/5.5/man/certificate_revocation_list.html\">Man Page: puppet certificate_revocation_list</a> in the Puppet documentation.</p>\n            </li>\n         </ul>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>This is not currently implemented for <code>DescribeServers</code> requests.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#DisassociateNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#DisassociateNodeRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#DisassociateNodeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Disassociates a node from an OpsWorks CM server, and removes the node from the server's managed nodes. After a node is disassociated,\n      the node key pair is no longer valid for accessing the configuration manager's API. For more information about how to associate a node, see <a>AssociateNode</a>.\n    </p>\n         <p>A node can can only be disassociated from a server that is in a <code>HEALTHY</code> state. Otherwise, an <code>InvalidStateException</code> is thrown.\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist.\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#DisassociateNodeRequest": {
      "type": "structure",
      "members": {
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server from which to disassociate the node.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "NodeName": {
          "target": "com.amazonaws.opsworkscm#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the client node.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "EngineAttributes": {
          "target": "com.amazonaws.opsworkscm#EngineAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Engine attributes that are used for disassociating the node. No attributes are required for Puppet.\n    </p>\n         <p class=\"title\">\n            <b>Attributes required in a DisassociateNode request for Chef</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CHEF_ORGANIZATION</code>: The Chef organization\n          with which the node was associated. By default only one organization\n          named <code>default</code> can exist.\n      </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#DisassociateNodeResponse": {
      "type": "structure",
      "members": {
        "NodeAssociationStatusToken": {
          "target": "com.amazonaws.opsworkscm#NodeAssociationStatusToken",
          "traits": {
            "smithy.api#documentation": "<p>Contains a token which can be passed to the\n      <code>DescribeNodeAssociationStatus</code> API call to get the status of\n      the disassociation request.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#EngineAttribute": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.opsworkscm#EngineAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the engine attribute.\n    </p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.opsworkscm#EngineAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the engine attribute.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A name and value pair that is specific to the engine of the server.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#EngineAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.opsworkscm#EngineAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.opsworkscm#EngineAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.opsworkscm#EngineAttribute"
      }
    },
    "com.amazonaws.opsworkscm#ExportServerEngineAttribute": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#ExportServerEngineAttributeRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#ExportServerEngineAttributeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#InvalidStateException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Exports a specified server engine attribute as a base64-encoded string. For example, you can export user data that you can \n      use in EC2 to associate nodes with a server.\n    </p>\n         <p>\n      This operation is synchronous.\n    </p>\n         <p>\n      A <code>ValidationException</code> is raised when parameters of the request are not valid.\n      A <code>ResourceNotFoundException</code> is thrown when the server does not exist.\n      An <code>InvalidStateException</code> is thrown when the server is in any of the following states: CREATING, TERMINATED,\n      FAILED or DELETING.\n    </p>"
      }
    },
    "com.amazonaws.opsworkscm#ExportServerEngineAttributeRequest": {
      "type": "structure",
      "members": {
        "ExportAttributeName": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the export attribute. Currently, the supported export attribute is <code>Userdata</code>. \n      This exports a user data script that includes parameters and values provided in the <code>InputAttributes</code> list.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the server from which you are exporting the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "InputAttributes": {
          "target": "com.amazonaws.opsworkscm#EngineAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The list of engine attributes. The list type is <code>EngineAttribute</code>. An <code>EngineAttribute</code> list item \n      is a pair that includes an attribute name and its value. For the <code>Userdata</code> ExportAttributeName, the following are \n      supported engine attribute names.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>RunList</b> In Chef, a list of roles or recipes that are run in the specified order. \n        In Puppet, this parameter is ignored.</p>\n            </li>\n            <li>\n               <p>\n                  <b>OrganizationName</b> In Chef, an organization name. OpsWorks for Chef Automate \n        always creates the organization <code>default</code>. In Puppet, this parameter is ignored.</p>\n            </li>\n            <li>\n               <p>\n                  <b>NodeEnvironment</b> In Chef, a node environment (for example, development, staging, or one-box). \n        In Puppet, this parameter is ignored.</p>\n            </li>\n            <li>\n               <p>\n                  <b>NodeClientVersion</b> In Chef, the version of the Chef engine (three numbers separated \n        by dots, such as 13.8.5). If this attribute is empty, OpsWorks for Chef Automate uses the most current version. In Puppet, \n        this parameter is ignored.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#ExportServerEngineAttributeResponse": {
      "type": "structure",
      "members": {
        "EngineAttribute": {
          "target": "com.amazonaws.opsworkscm#EngineAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The requested engine attribute pair with attribute name and value.</p>"
          }
        },
        "ServerName": {
          "target": "com.amazonaws.opsworkscm#ServerName",
          "traits": {
            "smithy.api#documentation": "<p>The server name used in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#InstanceProfileArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^arn:aws:iam::[0-9]{12}:instance-profile/"
      }
    },
    "com.amazonaws.opsworkscm#Integer": {
      "type": "integer"
    },
    "com.amazonaws.opsworkscm#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>Error or informational message that can contain more detail about a nextToken failure.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This occurs when the provided nextToken is not valid.\n    </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.opsworkscm#InvalidStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>Error or informational message that provides more detail if a resource is\n      in a state that is not valid for performing a specified action.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource is in a state that does not allow you to perform a specified action.\n    </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.opsworkscm#KeyPair": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.opsworkscm#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.opsworkscm#String",
          "traits": {
            "smithy.api#documentation": "<p>Error or informational message that the maximum allowed number of servers or backups has been exceeded.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit of servers or backups has been reached.\n    </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.opsworkscm#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.opsworkscm#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.opsworkscm#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.opsworkscm#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.opsworkscm#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags that are applied to the specified OpsWorks for Chef Automate or\n      OpsWorks for Puppet Enterprise servers or backups.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Tags",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.opsworkscm#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.opsworkscm#AWSOpsWorksCMResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of an OpsWorks for Chef Automate or OpsWorks for Puppet Enterprise server for which you want to show applied tags. For example, \n        <code>arn:aws:opsworks-cm:us-west-2:123456789012:server/test-owcm-server/EXAMPLE-66b0-4196-8274-d1a2bEXAMPLE</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>NextToken is a string that is returned in some command responses. It indicates that\n        not all entries have been returned, and that you must run at least one more request to get remaining\n        items. To get remaining results, call <code>ListTagsForResource</code> again, and assign the token from the previous\n        results as the value of the <code>nextToken</code> parameter. If there are no more results,\n        the response object's <code>nextToken</code> parameter value is <code>null</code>.\n        Setting a <code>nextToken</code> value that was not returned in\n        your previous results causes an <code>InvalidNextTokenException</code> to occur.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.opsworkscm#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>To receive a paginated response, use this parameter to specify the maximum number\n        of results to be returned with a single call. If the number of available results exceeds\n        this maximum, the response includes a <code>NextToken</code> value that you can assign to the <code>NextToken</code>\n        request parameter to get the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.opsworkscm#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.opsworkscm#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags that have been applied to the resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.opsworkscm#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token that you can use as the value of <code>NextToken</code> in subsequent calls to the API to show more results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.opsworkscm#MaintenanceStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.opsworkscm#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.opsworkscm#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.opsworkscm#NodeAssociationStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of the association or disassociation request.\n    </p>\n         <p class=\"title\">\n            <b>Possible values:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>SUCCESS</code>: The association or disassociation succeeded.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code>: The association or disassociation failed.\n      </p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code>: The association or disassociation is still in progress.\n      </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.opsworkscm#NodeAssociationStatusToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^(?s)"
      }
    },
    "com.amazonaws.opsworkscm#NodeName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The node name that is used by <code>chef-client</code> or <code>puppet-agent</code>for a new node. We recommend to use a unique FQDN as hostname. For more information, see the\n      <a href=\"https://docs.aws.amazon.com/https:/docs.chef.io/nodes.html#about-node-names\">Chef</a> or \n      <a href=\"https://docs.aws.amazon.com/https:/docs.puppet.com/puppet/4.10/man/agent.html\">Puppet</a> documentation.\n    </p>",
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^[\\-\\p{Alnum}_:.]+$"
      }
    },
    "com.amazonaws.opsworkscm#OpsWorksCM_V2016_11_01": {
      "type": "service",
      "version": "2016-11-01",
      "operations": [
        {
          "target": "com.amazonaws.opsworkscm#AssociateNode"
        },
        {
          "target": "com.amazonaws.opsworkscm#CreateBackup"
        },
        {
          "target": "com.amazonaws.opsworkscm#CreateServer"
        },
        {
          "target": "com.amazonaws.opsworkscm#DeleteBackup"
        },
        {
          "target": "com.amazonaws.opsworkscm#DeleteServer"
        },
        {
          "target": "com.amazonaws.opsworkscm#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.opsworkscm#DescribeBackups"
        },
        {
          "target": "com.amazonaws.opsworkscm#DescribeEvents"
        },
        {
          "target": "com.amazonaws.opsworkscm#DescribeNodeAssociationStatus"
        },
        {
          "target": "com.amazonaws.opsworkscm#DescribeServers"
        },
        {
          "target": "com.amazonaws.opsworkscm#DisassociateNode"
        },
        {
          "target": "com.amazonaws.opsworkscm#ExportServerEngineAttribute"
        },
        {
          "target": "com.amazonaws.opsworkscm#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.opsworkscm#RestoreServer"
        },
        {
          "target": "com.amazonaws.opsworkscm#StartMaintenance"
        },
        {
          "target": "com.amazonaws.opsworkscm#TagResource"
        },
        {
          "target": "com.amazonaws.opsworkscm#UntagResource"
        },
        {
          "target": "com.amazonaws.opsworkscm#UpdateServer"
        },
        {
          "target": "com.amazonaws.opsworkscm#UpdateServerEngineAttributes"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "OpsWorksCM",
          "arnNamespace": "opsworks-cm",
          "cloudFormationName": "OpsWorksCM",
          "cloudTrailEventSource": "opsworkscm.amazonaws.com",
          "endpointPrefix": "opsworks-cm"
        },
        "aws.auth#sigv4": {
          "name": "opsworks-cm"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>OpsWorks CM</fullname>\n         <important>\n            <p>The OpsWorks services have reached end of life and have been disabled for both new and existing customers. \n        We strongly recommend customers migrate their workloads to other solutions as soon as possible. If you have questions about migration, reach out to the Amazon Web ServicesSupport Team on <a href=\"https://repost.aws/\">Amazon Web Services re:Post</a> or through <a href=\"https://aws.amazon.com/support\">Amazon Web Services Premium Support</a>.</p>\n         </important>\n         <p>OpsWorks CM is a service that runs and manages\n      configuration management servers. You can use OpsWorks CM to create and manage OpsWorks for Chef Automate and \n      OpsWorks for Puppet Enterprise servers, and add or remove\n      nodes for the servers to manage.</p>\n         <p>\n            <b>Glossary of terms</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Server</b>: A configuration management server that can be \n        highly-available. The configuration management server runs on\n        an Amazon Elastic Compute Cloud (EC2) instance, and may use various other Amazon Web Services services, such as Amazon Relational Database Service \n        (RDS) and Elastic Load Balancing. A server is a generic abstraction over the configuration\n        manager that you want to use, much like Amazon RDS. In OpsWorks CM, you do not start\n      or stop servers. After you create servers, they continue to run until they are deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Engine</b>: The engine is the specific configuration manager \n        that you want to use. Valid values in this release include <code>ChefAutomate</code> and <code>Puppet</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Backup</b>: This\n      is an application-level backup of the data that the configuration manager\n      stores. OpsWorks CM\n      creates an S3 bucket for backups when you launch the first\n      server. A backup maintains a snapshot of a server's configuration-related\n      attributes at the time the backup starts.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Events</b>:\n      Events are always related to a server. Events are written\n      during server creation, when health checks run, when backups\n      are created, when system maintenance is performed, etc. When you delete a server, the server's events are\n      also deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Account attributes</b>:\n        Every account has attributes that are assigned in the OpsWorks CM\n      database. These attributes store information about configuration limits (servers,\n      backups, etc.) and your customer account.\n      </p>\n            </li>\n         </ul>\n         <p>\n            <b>Endpoints</b>\n         </p>\n         <p>OpsWorks CM supports the following endpoints, all HTTPS. You must connect to one of the following endpoints. \n      Your servers\n      can only be accessed or managed within the endpoint in which they are created.</p>\n         <ul>\n            <li>\n               <p>opsworks-cm.us-east-1.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.us-east-2.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.us-west-1.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.us-west-2.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.ap-northeast-1.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.ap-southeast-1.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.ap-southeast-2.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.eu-central-1.amazonaws.com</p>\n            </li>\n            <li>\n               <p>opsworks-cm.eu-west-1.amazonaws.com</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/opsworks-service.html\">OpsWorks endpoints and quotas</a> in the Amazon Web Services General Reference.</p>\n         <p>\n            <b>Throttling limits</b>\n         </p>\n         <p>All API operations allow for five requests per second with a burst of 10 requests per second.</p>",
        "smithy.api#title": "AWS OpsWorks CM",
        "smithy.api#xmlNamespace": {
          "uri": "http://opsworks-cm.amazonaws.com/doc/2016-11-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://opsworks-cm-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://opsworks-cm-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://opsworks-cm.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://opsworks-cm.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://opsworks-cm-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
[...]
