{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.organizations#AWSOrganizationsNotInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your account isn't a member of an organization. To make this request, you must use the\n            credentials of an account that belongs to an organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#AWSOrganizationsV20161128": {
      "type": "service",
      "version": "2016-11-28",
      "operations": [
        {
          "target": "com.amazonaws.organizations#AcceptHandshake"
        },
        {
          "target": "com.amazonaws.organizations#AttachPolicy"
        },
        {
          "target": "com.amazonaws.organizations#CancelHandshake"
        },
        {
          "target": "com.amazonaws.organizations#CloseAccount"
        },
        {
          "target": "com.amazonaws.organizations#CreateAccount"
        },
        {
          "target": "com.amazonaws.organizations#CreateGovCloudAccount"
        },
        {
          "target": "com.amazonaws.organizations#CreateOrganization"
        },
        {
          "target": "com.amazonaws.organizations#CreateOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#CreatePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DeclineHandshake"
        },
        {
          "target": "com.amazonaws.organizations#DeleteOrganization"
        },
        {
          "target": "com.amazonaws.organizations#DeleteOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#DeletePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DeregisterDelegatedAdministrator"
        },
        {
          "target": "com.amazonaws.organizations#DescribeAccount"
        },
        {
          "target": "com.amazonaws.organizations#DescribeCreateAccountStatus"
        },
        {
          "target": "com.amazonaws.organizations#DescribeEffectivePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DescribeHandshake"
        },
        {
          "target": "com.amazonaws.organizations#DescribeOrganization"
        },
        {
          "target": "com.amazonaws.organizations#DescribeOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#DescribePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DescribeResourcePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DetachPolicy"
        },
        {
          "target": "com.amazonaws.organizations#DisableAWSServiceAccess"
        },
        {
          "target": "com.amazonaws.organizations#DisablePolicyType"
        },
        {
          "target": "com.amazonaws.organizations#EnableAllFeatures"
        },
        {
          "target": "com.amazonaws.organizations#EnableAWSServiceAccess"
        },
        {
          "target": "com.amazonaws.organizations#EnablePolicyType"
        },
        {
          "target": "com.amazonaws.organizations#InviteAccountToOrganization"
        },
        {
          "target": "com.amazonaws.organizations#LeaveOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListAccounts"
        },
        {
          "target": "com.amazonaws.organizations#ListAccountsForParent"
        },
        {
          "target": "com.amazonaws.organizations#ListAWSServiceAccessForOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListChildren"
        },
        {
          "target": "com.amazonaws.organizations#ListCreateAccountStatus"
        },
        {
          "target": "com.amazonaws.organizations#ListDelegatedAdministrators"
        },
        {
          "target": "com.amazonaws.organizations#ListDelegatedServicesForAccount"
        },
        {
          "target": "com.amazonaws.organizations#ListHandshakesForAccount"
        },
        {
          "target": "com.amazonaws.organizations#ListHandshakesForOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListOrganizationalUnitsForParent"
        },
        {
          "target": "com.amazonaws.organizations#ListParents"
        },
        {
          "target": "com.amazonaws.organizations#ListPolicies"
        },
        {
          "target": "com.amazonaws.organizations#ListPoliciesForTarget"
        },
        {
          "target": "com.amazonaws.organizations#ListRoots"
        },
        {
          "target": "com.amazonaws.organizations#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.organizations#ListTargetsForPolicy"
        },
        {
          "target": "com.amazonaws.organizations#MoveAccount"
        },
        {
          "target": "com.amazonaws.organizations#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.organizations#RegisterDelegatedAdministrator"
        },
        {
          "target": "com.amazonaws.organizations#RemoveAccountFromOrganization"
        },
        {
          "target": "com.amazonaws.organizations#TagResource"
        },
        {
          "target": "com.amazonaws.organizations#UntagResource"
        },
        {
          "target": "com.amazonaws.organizations#UpdateOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#UpdatePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Organizations",
          "arnNamespace": "organizations",
          "cloudFormationName": "Organizations",
          "cloudTrailEventSource": "organizations.amazonaws.com",
          "endpointPrefix": "organizations"
        },
        "aws.auth#sigv4": {
          "name": "organizations"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Organizations is a web service that enables you to consolidate your multiple\n            Amazon Web Services accounts into an <i>organization</i> and centrally manage your\n            accounts and their resources.</p>\n        <p>This guide provides descriptions of the Organizations operations. For more\n            information about using this service, see the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_introduction.html\">Organizations User Guide</a>.</p>\n        <p>\n            <b>Support and feedback for Organizations</b>\n         </p>\n        <p>We welcome your feedback. Send your comments to <a href=\"mailto:feedback-awsorganizations@amazon.com\">feedback-awsorganizations@amazon.com</a> or post your feedback and questions in\n            the <a href=\"http://forums.aws.amazon.com/forum.jspa?forumID=219\">Organizations support forum</a>. For\n            more information about the Amazon Web Services support forums, see <a href=\"http://forums.aws.amazon.com/help.jspa\">Forums Help</a>.</p>\n        <p>\n            <b>Endpoint to call When using the CLI or the Amazon Web Services\n                SDK</b>\n         </p>\n        <p>For the current release of Organizations, specify the <code>us-east-1</code> region\n            for all Amazon Web Services API and CLI calls made from the commercial Amazon Web Services Regions outside of\n            China. If calling from one of the Amazon Web Services Regions in China, then specify\n                <code>cn-northwest-1</code>. You can do this in the CLI by using these parameters\n            and commands:</p>\n        <ul>\n            <li>\n                <p>Use the following parameter with each command to specify both the endpoint and\n                    its region:</p>\n                <p>\n                  <code>--endpoint-url https://organizations.us-east-1.amazonaws.com</code>\n                    <i>(from commercial Amazon Web Services Regions outside of China)</i>\n               </p>\n                <p>or</p>\n                <p>\n                  <code>--endpoint-url\n                        https://organizations.cn-northwest-1.amazonaws.com.cn</code>\n                    <i>(from Amazon Web Services Regions in China)</i>\n               </p>\n            </li>\n            <li>\n                <p>Use the default endpoint, but configure your default region with this\n                    command:</p>\n                <p>\n                  <code>aws configure set default.region us-east-1</code>\n                    <i>(from commercial Amazon Web Services Regions outside of China)</i>\n               </p>\n                <p>or</p>\n                <p>\n                  <code>aws configure set default.region cn-northwest-1</code>\n                    <i>(from Amazon Web Services Regions in China)</i>\n               </p>\n            </li>\n            <li>\n                <p>Use the following parameter with each command to specify the endpoint:</p>\n                <p>\n                  <code>--region us-east-1</code>\n                    <i>(from commercial Amazon Web Services Regions outside of China)</i>\n               </p>\n                <p>or</p>\n                <p>\n                  <code>--region cn-northwest-1</code>\n                    <i>(from Amazon Web Services Regions in China)</i>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Recording API Requests</b>\n        </p>\n        <p>Organizations supports CloudTrail, a service that records Amazon Web Services API calls for your\n            Amazon Web Services account and delivers log files to an Amazon S3 bucket. By using information collected\n            by CloudTrail, you can determine which requests the Organizations service received, who made the\n            request and when, and so on. For more about Organizations and its support for CloudTrail, see\n                <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_incident-response.html#orgs_cloudtrail-integration\">Logging\n                Organizations Events with CloudTrail</a> in the <i>Organizations User Guide</i>.\n            To learn more about CloudTrail, including how to turn it on and find your log files, see the\n                <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">CloudTrail User Guide</a>.</p>",
        "smithy.api#title": "AWS Organizations",
        "smithy.api#xmlNamespace": {
          "uri": "http://organizations.amazonaws.com/doc/2016-11-28/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.us-east-1.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://organizations.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-northwest-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://organizations.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-northwest-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-us-gov"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations.us-gov-west-1.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "organizations"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://organizations.us-gov-west-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-gov-west-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://organizations-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "aws-global"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://organizations-fips.us-east-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "aws-us-gov-global"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://organizations.us-gov-west-1.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://organizations-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://organizations.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://organizations.us-east-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://organizations.cn-northwest-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-northwest-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-us-gov-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://organizations.us-gov-west-1.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-gov-west-1",
                              "signingName": "organizations"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://organizations.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "organizations",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://organizations.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "aws-cn-global",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "organizations",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://organizations.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-us-gov-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "organizations",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://organizations.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-us-gov-global",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.organizations#AcceptHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#AcceptHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#AcceptHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a response to the originator of a handshake agreeing to the action proposed by\n            the handshake request.</p>\n        <p>You can only call this operation by the following principals when they also have the\n            relevant IAM permissions:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>Invitation to join</b> or <b>Approve all features request</b> handshakes: only a principal from\n                    the member account.</p>\n                <p>The user who calls the API for an invitation to join must have the\n                        <code>organizations:AcceptHandshake</code> permission. If you enabled all\n                    features in the organization, the user must also have the\n                        <code>iam:CreateServiceLinkedRole</code> permission so that Organizations can\n                    create the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For\n                    more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integration_services.html#orgs_integration_service-linked-roles\">Organizations and Service-Linked Roles</a> in the\n                        <i>Organizations User Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Enable all features final confirmation</b>\n                    handshake: only a principal from the management account.</p>\n                <p>For more information about invitations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_invites.html\">Inviting an\n                        Amazon Web Services account to join your organization</a> in the\n                        <i>Organizations User Guide.</i> For more information about requests to\n                    enable all features in the organization, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling all features in your organization</a> in\n                    the <i>Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n        <p>After you accept a handshake, it continues to appear in the results of relevant APIs\n            for only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazonaws.organizations#AcceptHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazonaws.organizations#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to accept.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#AcceptHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazonaws.organizations#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the accepted handshake.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that\n            is making the request must have at least one IAM permissions policy attached that\n            grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the\n                <i>IAM User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccessDeniedForDependencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazonaws.organizations#AccessDeniedForDependencyExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation that you attempted requires you to have the\n                <code>iam:CreateServiceLinkedRole</code> for\n                <code>organizations.amazonaws.com</code> permission so that Organizations can create the\n            required service-linked role. You don't have that permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccessDeniedForDependencyExceptionReason": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE"
          }
        }
      }
    },
    "com.amazonaws.organizations#Account": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.organizations#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the account.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.organizations#AccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account.</p>\n        <p>For more information about ARNs in Organizations, see <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsorganizations.html#awsorganizations-resources-for-iam-policies\">ARN \n    Formats Supported by Organizations</a> in the <i>Amazon Web Services Service Authorization Reference</i>.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.organizations#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address associated with the Amazon Web Services account.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that represents a\n            standard internet email address.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.organizations#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the account.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of any of the characters in the ASCII \n    character range.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.organizations#AccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account in the organization.</p>"
          }
        },
        "JoinedMethod": {
          "target": "com.amazonaws.organizations#AccountJoinedMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method by which the account joined the organization.</p>"
          }
        },
        "JoinedTimestamp": {
          "target": "com.amazonaws.organizations#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the account became a part of the organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Web Services account that is a member of an\n            organization.</p>"
      }
    },
    "com.amazonaws.organizations#AccountAlreadyClosedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You attempted to close an account that is already closed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AccountAlreadyRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified account is already a delegated administrator for this Amazon Web Services\n            service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AccountArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:organizations::\\d{12}:account\\/o-[a-z0-9]{10,32}\\/\\d{12}$"
      }
    },
    "com.amazonaws.organizations#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.organizations#AccountJoinedMethod": {
      "type": "enum",
      "members": {
        "INVITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITED"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        }
      }
    },
    "com.amazonaws.organizations#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.organizations#AccountNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> We can't find an Amazon Web Services account with the <code>AccountId</code> that you specified, or\n            the account whose credentials you used to make this request isn't a member of an\n            organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#AccountNotRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified account is not a delegated administrator for this Amazon Web Services service. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AccountOwnerNotVerifiedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't invite an existing account to your organization until you verify that you\n            own the email address associated with the management account. For more information, see\n                <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_create.html#about-email-verification\">Email Address\n                Verification</a> in the <i>Organizations User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccountStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "SUSPENDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUSPENDED"
          }
        },
        "PENDING_CLOSURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_CLOSURE"
          }
        }
      }
    },
    "com.amazonaws.organizations#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#Account"
      }
    },
    "com.amazonaws.organizations#ActionType": {
      "type": "enum",
      "members": {
        "INVITE_ACCOUNT_TO_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVITE"
          }
        },
        "ENABLE_ALL_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLE_ALL_FEATURES"
          }
        },
        "APPROVE_ALL_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVE_ALL_FEATURES"
          }
        },
        "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE"
          }
        }
      }
    },
    "com.amazonaws.organizations#AlreadyInOrganizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This account is already a member of an organization. An account can belong to only one\n            organization at a time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#AttachPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#DuplicatePolicyAttachmentException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyChangesInProgressException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyTypeNotEnabledException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TargetNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy to a root, an organizational unit (OU), or an individual account.\n            How the policy affects accounts depends on the type of policy. Refer to the\n                <i>Organizations User Guide</i> for information about each policy type:</p>\n        <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_ai-opt-out.html\">AISERVICES_OPT_OUT_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_backup.html\">BACKUP_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html\">SERVICE_CONTROL_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_tag-policies.html\">TAG_POLICY</a>\n               </p>\n            </li>\n         </ul> \n        <p>This operation can be called only from the organization's management account.</p>"
      }
    },
    "com.amazonaws.organizations#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.organizations#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the policy that you want to attach to the target. You\n            can get the ID for the policy by calling the <a>ListPolicies</a>\n            operation.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a policy ID string requires \"p-\" followed \n    by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.organizations#PolicyTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the root, OU, or account that you want to attach the\n            policy to. You can get the ID by calling the <a>ListRoots</a>, <a>ListOrganizationalUnitsForParent</a>, or <a>ListAccounts</a>\n            operations.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a target ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Root</b> - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or \n          digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Account</b> - A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with \"ou-\" followed by from 4 to 32 \n          lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lowercase letters or digits.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#AwsManagedPolicy": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.organizations#CancelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CancelHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CancelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a handshake. Canceling a handshake sets the handshake state to\n                <code>CANCELED</code>.</p>\n        <p>This operation can be called only from the account that originated the handshake. The recipient of the handshake can't cancel it, but can use <a>DeclineHandshake</a> instead. After a handshake is canceled, the recipient\n            can no longer respond to that handshake.</p>\n        <p>After you cancel a handshake, it continues to appear in the results of relevant APIs\n            for only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazonaws.organizations#CancelHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazonaws.organizations#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to cancel. You can get the\n            ID from the <a>ListHandshakesForOrganization</a> operation.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#CancelHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazonaws.organizations#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the handshake that you canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#Child": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.organizations#ChildId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of this child entity.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a child ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Account</b> - A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with\n          \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that \n          contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional \n          lowercase letters or digits.</p>\n            </li>\n         </ul>"
          }
        },
        "Type": {
          "target": "com.amazonaws.organizations#ChildType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this child entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a list of child entities, either OUs or accounts.</p>"
      }
    },
    "com.amazonaws.organizations#ChildId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": "^(\\d{12})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
      }
    },
    "com.amazonaws.organizations#ChildNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can't find an organizational unit (OU) or Amazon Web Services account with the\n                <code>ChildId</code> that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#ChildType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT"
          }
        },
        "ORGANIZATIONAL_UNIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORGANIZATIONAL_UNIT"
          }
        }
      }
    },
    "com.amazonaws.organizations#Children": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#Child"
      }
    },
    "com.amazonaws.organizations#CloseAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CloseAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AccountAlreadyClosedException"
        },
        {
          "target": "com.amazonaws.organizations#AccountNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConflictException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Closes an Amazon Web Services member account within an organization. You can't close the management\n            account with this API. This is an asynchronous request that Amazon Web Services performs in the\n            background. Because <code>CloseAccount</code> operates asynchronously, it can return a\n            successful completion message even though account closure might still be in progress.\n            You need to wait a few minutes before the account is fully closed. To check the status\n            of the request, do one of the following:</p>\n        <ul>\n            <li>\n                <p>Use the <code>AccountId</code> that you sent in the <code>CloseAccount</code>\n                    request to provide as a parameter to the <a>DescribeAccount</a>\n                    operation. </p>\n                <p>While the close account request is in progress, Account status will indicate\n                    PENDING_CLOSURE. When the close account request completes, the status will\n                    change to SUSPENDED. </p>\n            </li>\n            <li>\n                <p>Check the CloudTrail log for the <code>CloseAccountResult</code> event that gets\n                    published after the account closes successfully. For information on using CloudTrail\n                    with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_security_incident-response.html#orgs_cloudtrail-integration\">Logging and monitoring in Organizations</a> in the\n                        <i>Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <ul>\n               <li>\n                    <p>You can only close 10% of active member accounts within a rolling 30 day\n                        period. This quota is not bound by a calendar month, but starts when you\n                        close an account. Within 30 days of that initial account closure, you can't\n                        exceed the 10% account closure limit.</p>\n                </li>\n               <li>\n                    <p>To reinstate a closed account, contact Amazon Web Services Support within the 90-day\n                        grace period while the account is in SUSPENDED status. </p>\n                </li>\n               <li>\n                    <p>If the Amazon Web Services account you attempt to close is linked to an Amazon Web Services GovCloud\n                        (US) account, the <code>CloseAccount</code> request will close both\n                        accounts. To learn important pre-closure details, see <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/Closing-govcloud-account.html\">\n                            Closing an Amazon Web Services GovCloud (US) account</a> in the <i>\n                            Amazon Web Services GovCloud User Guide</i>.</p>\n                </li>\n            </ul>\n        </note>\n        <p>For more information about closing accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing an\n                Amazon Web Services account</a> in the <i>Organizations User Guide.</i>\n         </p>"
      }
    },
    "com.amazonaws.organizations#CloseAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.organizations#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the Amazon Web Services account Id for the current <code>CloseAccount</code> API request.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The target of the operation is currently being modified by a different request. Try\n            again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because it conflicts with the current state of the specified\n            resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#ConstraintViolationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazonaws.organizations#ConstraintViolationExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Performing this operation violates a minimum or maximum value limit. For example,\n            attempting to remove the last service control policy (SCP) from an OU or root, inviting\n            or creating too many accounts to the organization, or attaching too many policies to an\n            account, OU, or root. This exception includes a reason that contains additional\n            information about the violated limit:</p>\n        <note>\n            <p>Some of the reasons in the following list might not be applicable to this specific\n                API or operation.</p>\n        </note>\n        <ul>\n            <li>\n                <p>ACCOUNT_CANNOT_LEAVE_ORGANIZATION: You attempted to remove the management\n                    account from the organization. You can't remove the management account. Instead,\n                    after you remove all member accounts, delete the organization itself.</p>\n            </li>\n            <li>\n                <p>ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION: You attempted to remove an\n                    account from the organization that doesn't yet have enough information to exist\n                    as a standalone account. This account requires you to first complete phone\n                    verification. Follow the steps at <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#orgs_manage_accounts_remove-from-master\">Removing a member account from your organization</a> in the\n                        <i>Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of\n                    accounts that you can create in one day.</p>\n            </li>\n            <li>\n                <p>ACCOUNT_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the limit on the number\n                    of accounts in an organization. If you need more accounts, contact <a href=\"https://docs.aws.amazon.com/support/home#/\">Amazon Web Services Support</a> to\n                    request an increase in your limit. </p>\n                <p>Or the number of invitations that you tried to send would cause you to exceed\n                    the limit of accounts in your organization. Send fewer invitations or contact\n                    Amazon Web Services Support to request an increase in the number of accounts.</p>\n                <note>\n                    <p>Deleted and closed accounts still count toward your limit.</p>\n                </note>\n                <important>\n                    <p>If you get this exception when running a command immediately after\n                        creating the organization, wait one hour and try again. After an hour, if\n                        the command continues to fail with this error, contact <a href=\"https://docs.aws.amazon.com/support/home#/\">Amazon Web Services\n                        Support</a>.</p>\n                </important>\n            </li>\n            <li>\n                <p>CANNOT_REGISTER_MASTER_AS_DELEGATED_ADMINISTRATOR: You attempted to register\n                    the management account of the organization as a delegated administrator for an\n                    Amazon Web Services service integrated with Organizations. You can designate only a member account as a\n                    delegated administrator.</p>\n            </li>\n            <li>\n                <p>CANNOT_CLOSE_MANAGEMENT_ACCOUNT: You attempted to close the management\n                    account. To close the management account for the organization, you must first\n                    either remove or close all member accounts in the organization. Follow standard\n                    account closure process using root credentials.​ </p>\n            </li>\n            <li>\n                <p>CANNOT_REMOVE_DELEGATED_ADMINISTRATOR_FROM_ORG: You attempted to remove an\n                    account that is registered as a delegated administrator for a service integrated\n                    with your organization. To complete this operation, you must first deregister\n                    this account as a delegated administrator. </p>\n            </li>\n            <li>\n                <p>CLOSE_ACCOUNT_QUOTA_EXCEEDED: You have exceeded close account quota for the\n                    past 30 days. </p>\n            </li>\n            <li>\n                <p>CLOSE_ACCOUNT_REQUESTS_LIMIT_EXCEEDED: You attempted to exceed the number of\n                    accounts that you can close at a time. ​ </p>\n            </li>\n            <li>\n                <p>CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION: To create an\n                    organization in the specified region, you must enable all features mode.</p>\n            </li>\n            <li>\n                <p>DELEGATED_ADMINISTRATOR_EXISTS_FOR_THIS_SERVICE: You attempted to register an\n                    Amazon Web Services account as a delegated administrator for an Amazon Web Services service that already has\n                    a delegated administrator. To complete this operation, you must first deregister\n                    any existing delegated administrators for this service.</p>\n            </li>\n            <li>\n                <p>EMAIL_VERIFICATION_CODE_EXPIRED: The email verification code is only valid for\n                    a limited period of time. You must resubmit the request and generate a new\n                    verfication code.</p>\n            </li>\n            <li>\n                <p>HANDSHAKE_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of\n                    handshakes that you can send in one day.</p>\n            </li>\n            <li>\n                <p>INVALID_PAYMENT_INSTRUMENT: You cannot remove an account because no supported\n                    payment method is associated with the account. Amazon Web Services does not support cards\n                    issued by financial institutions in Russia or Belarus. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-general.html\">Managing your\n                        Amazon Web Services payments</a>.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE: To create an account in\n                    this organization, you first must migrate the organization's management account\n                    to the marketplace that corresponds to the management account's address. For\n                    example, accounts with India addresses must be associated with the AISPL\n                    marketplace. All accounts in an organization must be associated with the same\n                    marketplace.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_MISSING_BUSINESS_LICENSE: Applies only to the Amazon Web Services /> Regions\n                    in China. To create an organization, the master must have a valid business\n                    license. For more information, contact customer support.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_MISSING_CONTACT_INFO: To complete this operation, you must\n                    first provide a valid contact address and phone number for the management\n                    account. Then try the operation again.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED: To complete this operation, the\n                    management account must have an associated account in the Amazon Web Services GovCloud\n                    (US-West) Region. For more information, see <a hre
[...]
