{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your account isn't a member of an organization. To make this request, you must use the\n      credentials of an account that belongs to an organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.awsorganizations.v20161128#AWSOrganizationsV20161128": {
      "type": "service",
      "version": "2016-11-28",
      "operations": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AcceptHandshake"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AttachPolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CancelHandshake"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccount"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreateGovCloudAccount"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreateOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnit"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreatePolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DeclineHandshake"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DeleteOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DeleteOrganizationalUnit"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DeletePolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeAccount"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatus"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeEffectivePolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeHandshake"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribeOrganizationalUnit"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DescribePolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DetachPolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DisableAWSServiceAccess"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DisablePolicyType"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#EnableAWSServiceAccess"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#EnableAllFeatures"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#EnablePolicyType"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InviteAccountToOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#LeaveOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListAWSServiceAccessForOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListAccounts"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListAccountsForParent"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListChildren"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListCreateAccountStatus"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListHandshakesForAccount"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListHandshakesForOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListOrganizationalUnitsForParent"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListParents"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListPolicies"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListPoliciesForTarget"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListRoots"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListTagsForResource"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ListTargetsForPolicy"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#MoveAccount"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#RemoveAccountFromOrganization"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TagResource"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UntagResource"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UpdateOrganizationalUnit"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UpdatePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Organizations",
          "arnNamespace": "organizations",
          "cloudFormationName": "Organizations",
          "cloudTrailEventSource": "v20161128.awsorganizations.amazon.com"
        },
        "smithy.api#documentation": "<fullname>AWS Organizations</fullname>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Organizations",
        "smithy.api#xmlNamespace": {
          "uri": "http://organizations.amazonaws.com/doc/2016-11-28/"
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AcceptHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#AcceptHandshakeRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#AcceptHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a response to the originator of a handshake agreeing to the action proposed by the\n      handshake request. </p>\n         <p>This operation can be called only by the following principals when they also have the\n      relevant IAM permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Invitation to join</b> or <b>Approve\n            all features request</b> handshakes: only a principal from the member account. </p>\n               <p>The user who calls the API for an invitation to join must have the\n            <code>organizations:AcceptHandshake</code> permission. If you enabled all features in\n          the organization, the user must also have the <code>iam:CreateServiceLinkedRole</code>\n          permission so that AWS Organizations can create the required service-linked role named\n            <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integration_services.html#orgs_integration_service-linked-roles\">AWS Organizations and Service-Linked Roles</a> in the\n          <i>AWS Organizations User Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Enable all features final confirmation</b> handshake:\n          only a principal from the master account.</p>\n               <p>For more information about invitations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_invites.html\">Inviting an\n            AWS Account to Join Your Organization</a> in the\n            <i>AWS Organizations User Guide.</i> For more information about requests to enable all\n          features in the organization, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling All Features in Your Organization</a> in the\n            <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p>After you accept a handshake, it continues to appear in the results of relevant APIs for\n      only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#AcceptHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to accept.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AcceptHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazon.awsorganizations.v20161128#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the accepted handshake.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is\n      making the request must have at least one IAM permissions policy attached that grants the\n      required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the\n        <i>IAM User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazon.awsorganizations.v20161128#AccessDeniedForDependencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedForDependencyExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation that you attempted requires you to have the\n        <code>iam:CreateServiceLinkedRole</code> for <code>organizations.amazonaws.com</code>\n      permission so that AWS Organizations can create the required service-linked role. You don't have that\n      permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazon.awsorganizations.v20161128#AccessDeniedForDependencyExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE": {
            "name": "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#Account": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazon.awsorganizations.v20161128#AccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account.</p>\n         <p>For more information about ARNs in Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_permissions.html#orgs-permissions-arns\">ARN Formats Supported by\n    Organizations</a> in the <i>AWS Organizations User Guide</i>.</p>"
          }
        },
        "Email": {
          "target": "com.amazon.awsorganizations.v20161128#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address associated with the AWS account.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that represents a\n      standard internet email address.</p>"
          }
        },
        "Id": {
          "target": "com.amazon.awsorganizations.v20161128#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the account.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>"
          }
        },
        "JoinedMethod": {
          "target": "com.amazon.awsorganizations.v20161128#AccountJoinedMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method by which the account joined the organization.</p>"
          }
        },
        "JoinedTimestamp": {
          "target": "com.amazon.awsorganizations.v20161128#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the account became a part of the organization.</p>"
          }
        },
        "Name": {
          "target": "com.amazon.awsorganizations.v20161128#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the account.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of any of the characters in the ASCII \n    character range.</p>"
          }
        },
        "Status": {
          "target": "com.amazon.awsorganizations.v20161128#AccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account in the organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an AWS account that is a member of an organization.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:organizations::\\d{12}:account\\/o-[a-z0-9]{10,32}\\/\\d{12}"
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountJoinedMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INVITED": {
            "name": "INVITED"
          },
          "CREATED": {
            "name": "CREATED"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[\\u0020-\\u007E]+",
        "smithy.api#sensitive": true
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> We can't find an AWS account with the <code>AccountId</code> that you specified. Or the\n      account whose credentials you used to make this request isn't a member of an\n      organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountOwnerNotVerifiedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't invite an existing account to your organization until you verify that you own\n      the email address associated with the master account. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_create.html#about-email-verification\">Email Address\n        Verification</a> in the <i>AWS Organizations User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazon.awsorganizations.v20161128#AccountStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "SUSPENDED": {
            "name": "SUSPENDED"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsorganizations.v20161128#Account"
      }
    },
    "com.amazon.awsorganizations.v20161128#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INVITE": {
            "name": "INVITE_ACCOUNT_TO_ORGANIZATION"
          },
          "ENABLE_ALL_FEATURES": {
            "name": "ENABLE_ALL_FEATURES"
          },
          "APPROVE_ALL_FEATURES": {
            "name": "APPROVE_ALL_FEATURES"
          },
          "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE": {
            "name": "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AlreadyInOrganizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This account is already a member of an organization. An account can belong to only one\n      organization at a time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.awsorganizations.v20161128#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#AttachPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DuplicatePolicyAttachmentException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyChangesInProgressException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyTypeNotEnabledException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TargetNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy to a root, an organizational unit (OU), or an individual account.</p>\n         <p>How the policy affects accounts depends on the type of policy:</p>\n         <ul>\n            <li>\n               <p>For more information about attaching SCPs, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_about-scps.html\">How SCPs\n            Work</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>For information about attaching tag policies, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies-inheritance.html\">How\n            Policy Inheritance Works</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the policy that you want to attach to the target. You can\n      get the ID for the policy by calling the <a>ListPolicies</a> operation.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a policy ID string requires \"p-\" followed \n    by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_).</p>",
            "smithy.api#required": true
          }
        },
        "TargetId": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the root, OU, or account that you want to attach the policy\n      to. You can get the ID by calling the <a>ListRoots</a>, <a>ListOrganizationalUnitsForParent</a>, or <a>ListAccounts</a>\n      operations.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a target ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Root</b> - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or \n          digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Account</b> - A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with \"ou-\" followed by from 4 to 32 \n          lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lowercase letters or digits.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#AwsManagedPolicy": {
      "type": "boolean"
    },
    "com.amazon.awsorganizations.v20161128#CancelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CancelHandshakeRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CancelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a handshake. Canceling a handshake sets the handshake state to\n        <code>CANCELED</code>. </p>\n         <p>This operation can be called only from the account that originated the handshake. The recipient of the handshake can't cancel it, but can use <a>DeclineHandshake</a> instead. After a handshake is canceled, the recipient can no\n      longer respond to that handshake.</p>\n         <p>After you cancel a handshake, it continues to appear in the results of relevant APIs for\n      only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CancelHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to cancel. You can get the ID\n      from the <a>ListHandshakesForOrganization</a> operation.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CancelHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazon.awsorganizations.v20161128#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the handshake that you canceled.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#Child": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazon.awsorganizations.v20161128#ChildId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of this child entity.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a child ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>Account: A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>Organizational unit (OU): A string that begins with \"ou-\" followed by from 4 to 32 \n          lower-case letters or digits (the ID of the root that contains the OU). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lower-case letters or digits.</p>\n            </li>\n         </ul>"
          }
        },
        "Type": {
          "target": "com.amazon.awsorganizations.v20161128#ChildType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this child entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a list of child entities, either OUs or accounts.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#ChildId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{12})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
      }
    },
    "com.amazon.awsorganizations.v20161128#ChildNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can't find an organizational unit (OU) or AWS account with the <code>ChildId</code>\n      that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.awsorganizations.v20161128#ChildType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCOUNT": {
            "name": "ACCOUNT"
          },
          "ORGANIZATIONAL_UNIT": {
            "name": "ORGANIZATIONAL_UNIT"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#Children": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsorganizations.v20161128#Child"
      }
    },
    "com.amazon.awsorganizations.v20161128#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The target of the operation is currently being modified by a different request. Try again\n      later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.awsorganizations.v20161128#ConstraintViolationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Performing this operation violates a minimum or maximum value limit. Examples include\n      attempting to remove the last service control policy (SCP) from an OU or root, or  attaching\n      too many policies to an account, OU, or root. This exception includes a reason that contains\n      additional information about the violated limit.</p>\n         <p>Some of the reasons in the following list might not be applicable to this specific API or\n      operation:</p>\n         <ul>\n            <li>\n               <p>ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA: You attempted to remove an account from the\n          organization that doesn't yet have enough information to exist as a standalone account.\n          This account requires you to first agree to the AWS Customer Agreement. Follow the steps\n          at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To\n            leave an organization when all required account information has not yet been\n            provided</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION: You attempted to remove an account\n          from the organization that doesn't yet have enough information to exist as a standalone\n          account. This account requires you to first complete phone verification. Follow the steps\n          at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To\n            leave an organization when all required account information has not yet been\n            provided</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of accounts\n          that you can create in one day.</p>\n            </li>\n            <li>\n               <p>ACCOUNT_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the limit on the number of\n          accounts in an organization. If you need more accounts, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a> to request an increase in your\n          limit. </p>\n               <p>Or the number of invitations that you tried to send would cause you to exceed the\n          limit of accounts in your organization. Send fewer invitations or contact AWS Support to\n          request an increase in the number of accounts.</p>\n               <note>\n                  <p>Deleted and closed accounts still count toward your limit.</p>\n               </note>\n               <important>\n                  <p>If you get receive this exception when running a command immediately after creating\n            the organization, wait one hour and try again. If after an hour it continues to fail\n            with this error, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS\n            Support</a>.</p>\n               </important>\n            </li>\n            <li>\n               <p>HANDSHAKE_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of handshakes that\n          you can send in one day.</p>\n            </li>\n            <li>\n               <p>MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE: To create an account in this\n          organization, you first must migrate the organization's master account to the marketplace\n          that corresponds to the master account's address. For example, accounts with India\n          addresses must be associated with the AISPL marketplace. All accounts in an organization\n          must be associated with the same marketplace.</p>\n            </li>\n            <li>\n               <p>MASTER_ACCOUNT_MISSING_CONTACT_INFO: To complete this operation, you must first\n          provide contact a valid address and phone number for the master account. Then try the\n          operation again.</p>\n            </li>\n            <li>\n               <p>MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED: To complete this operation, the master account\n          must have an associated account in the AWS GovCloud (US-West) Region. For more\n          information, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in the \n          <i>AWS GovCloud User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED: To create an organization with this master\n          account, you first must associate a valid payment instrument, such as a credit card, with\n          the account. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To leave an\n            organization when all required account information has not yet been provided</a> in\n          the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED: You attempted to exceed the number of\n          policies of a certain type that can be attached to an entity at one time.</p>\n            </li>\n            <li>\n               <p>MAX_TAG_LIMIT_EXCEEDED: You have exceeded the number of tags allowed on this resource.\n        </p>\n            </li>\n            <li>\n               <p>MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED: To complete this operation with this\n          member account, you first must associate a valid payment instrument, such as a credit\n          card, with the account. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To leave an\n            organization when all required account information has not yet been provided</a> in\n          the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n               <p>MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED: You attempted to detach a policy from an\n          entity, which would cause the entity to have fewer than the minimum number of policies of\n          the required type.</p>\n            </li>\n            <li>\n               <p>OU_DEPTH_LIMIT_EXCEEDED: You attempted to create an OU tree that is too many levels\n          deep.</p>\n            </li>\n            <li>\n               <p>ORGANIZATION_NOT_IN_ALL_FEATURES_MODE: You attempted to perform an operation that\n          requires the organization to be configured to support all features. An organization that\n          supports only consolidated billing features can't perform this operation.</p>\n            </li>\n            <li>\n               <p>OU_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the number of OUs that you can have\n          in an organization.</p>\n            </li>\n            <li>\n               <p>POLICY_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the number of policies that you\n          can have in an organization.</p>\n            </li>\n            <li>\n               <p>TAG_POLICY_VIOLATION: Tags associated with the resource must be compliant with the tag policy that’s in effect for the account. For more information,\n          see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_tag-policies.html\">Tag Policies</a> in\n          the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazon.awsorganizations.v20161128#ConstraintViolationExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCOUNT_NUMBER_LIMIT_EXCEEDED": {
            "name": "ACCOUNT_NUMBER_LIMIT_EXCEEDED"
          },
          "HANDSHAKE_RATE_LIMIT_EXCEEDED": {
            "name": "HANDSHAKE_RATE_LIMIT_EXCEEDED"
          },
          "OU_NUMBER_LIMIT_EXCEEDED": {
            "name": "OU_NUMBER_LIMIT_EXCEEDED"
          },
          "OU_DEPTH_LIMIT_EXCEEDED": {
            "name": "OU_DEPTH_LIMIT_EXCEEDED"
          },
          "POLICY_NUMBER_LIMIT_EXCEEDED": {
            "name": "POLICY_NUMBER_LIMIT_EXCEEDED"
          },
          "POLICY_CONTENT_LIMIT_EXCEEDED": {
            "name": "POLICY_CONTENT_LIMIT_EXCEEDED"
          },
          "MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED": {
            "name": "MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED"
          },
          "MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED": {
            "name": "MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED"
          },
          "ACCOUNT_CANNOT_LEAVE_ORGANIZATION": {
            "name": "ACCOUNT_CANNOT_LEAVE_ORGANIZATION"
          },
          "ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA": {
            "name": "ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA"
          },
          "ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION": {
            "name": "ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION"
          },
          "MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED": {
            "name": "MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED"
          },
          "MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED": {
            "name": "MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED"
          },
          "ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED": {
            "name": "ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED"
          },
          "MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE": {
            "name": "MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE"
          },
          "MASTER_ACCOUNT_MISSING_CONTACT_INFO": {
            "name": "MASTER_ACCOUNT_MISSING_CONTACT_INFO"
          },
          "MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED": {
            "name": "MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED"
          },
          "ORGANIZATION_NOT_IN_ALL_FEATURES_MODE": {
            "name": "ORGANIZATION_NOT_IN_ALL_FEATURES_MODE"
          },
          "CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION": {
            "name": "CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION"
          },
          "EMAIL_VERIFICATION_CODE_EXPIRED": {
            "name": "EMAIL_VERIFICATION_CODE_EXPIRED"
          },
          "WAIT_PERIOD_ACTIVE": {
            "name": "WAIT_PERIOD_ACTIVE"
          },
          "MAX_TAG_LIMIT_EXCEEDED": {
            "name": "MAX_TAG_LIMIT_EXCEEDED"
          },
          "TAG_POLICY_VIOLATION": {
            "name": "TAG_POLICY_VIOLATION"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#FinalizingOrganizationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS account that is automatically a member of the organization whose\n      credentials made the request. This is an asynchronous request that AWS performs in the\n      background. Because <code>CreateAccount</code> operates asynchronously, it can return a\n      successful completion message even though account initialization might still be in progress.\n      You might need to wait a few minutes before you can successfully access the account. To check\n      the status of the request, do one of the following:</p>\n         <ul>\n            <li>\n               <p>Use the <code>OperationId</code> response element from this operation to provide as a\n          parameter to the <a>DescribeCreateAccountStatus</a> operation.</p>\n            </li>\n            <li>\n               <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For information on\n          using AWS CloudTrail with AWS Organizations, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring\n            the Activity in Your Organization</a> in the \n          <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p></p>\n         <p>The user who calls the API to create an account must have the\n        <code>organizations:CreateAccount</code> permission. If you enabled all features in the\n      organization, AWS Organizations creates the required service-linked role named\n        <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">AWS Organizations\n        and Service-Linked Roles</a> in the <i>AWS Organizations User Guide</i>.</p>\n         <p>AWS Organizations preconfigures the new member account with a role (named\n        <code>OrganizationAccountAccessRole</code> by default) that grants users in the master\n      account administrator permissions in the new member account. Principals in the master account\n      can assume the role. AWS Organizations clones the company name and address information for the new\n      account from the organization's master account.</p>\n         <p>This operation can be called only from the organization's master account.</p>\n         <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating an AWS\n        \n        Account in Your Organization</a> in the <i>AWS Organizations User Guide.</i>\n         </p>\n         <important>\n            <ul>\n               <li>\n                  <p>When you create an account in an organization, the information required for the\n            account to operate as a standalone account is <i>not</i> automatically\n            collected. For example, information about the payment method and signing the end user\n            license agreement (EULA) is not collected. If you must remove an account from your\n            organization later, you can do so only after you provide the missing information. Follow\n            the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\"> To leave\n              an organization as a member account</a> in the\n              <i>AWS Organizations User Guide</i>.</p>\n               </li>\n               <li>\n                  <p>If you get an exception that indicates that you exceeded your account limits for the\n            organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS\n            Support</a>.</p>\n               </li>\n               <li>\n                  <p>If you get an exception that indicates that the operation failed because your\n            organization is still initializing, wait one hour and then try again. If the error\n            persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a>.</p>\n               </li>\n               <li>\n                  <p>Using <code>CreateAccount</code> to create multiple temporary accounts isn't\n            recommended. You can only close an account from the Billing and Cost Management Console,\n            and you must be signed in as the root user. For information on the requirements and\n            process for closing an account, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing an AWS Account</a> in\n            the <i>AWS Organizations User Guide</i>.</p>\n               </li>\n            </ul>\n         </important>\n         <note>\n            <p>When you create a member account with this operation, you can choose whether to create\n        the account with the <b>IAM User and Role Access to Billing\n          Information</b> switch enabled. If you enable it, IAM users and roles that have\n        appropriate permissions can view billing information for the account. If you disable it,\n        only the account root user can access billing information. For information about how to\n        disable this switch for an account, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html\">Granting Access to Your Billing Information and\n          Tools</a>.</p>\n         </note>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountFailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCOUNT_LIMIT_EXCEEDED": {
            "name": "ACCOUNT_LIMIT_EXCEEDED"
          },
          "EMAIL_ALREADY_EXISTS": {
            "name": "EMAIL_ALREADY_EXISTS"
          },
          "INVALID_ADDRESS": {
            "name": "INVALID_ADDRESS"
          },
          "INVALID_EMAIL": {
            "name": "INVALID_EMAIL"
          },
          "CONCURRENT_ACCOUNT_MODIFICATION": {
            "name": "CONCURRENT_ACCOUNT_MODIFICATION"
          },
          "INTERNAL_FAILURE": {
            "name": "INTERNAL_FAILURE"
          },
          "GOVCLOUD_ACCOUNT_ALREADY_EXISTS": {
            "name": "GOVCLOUD_ACCOUNT_ALREADY_EXISTS"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazon.awsorganizations.v20161128#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the member account.</p>",
            "smithy.api#required": true
          }
        },
        "Email": {
          "target": "com.amazon.awsorganizations.v20161128#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the owner to assign to the new member account. This email address\n      must not already be associated with another AWS account. You must use a valid email address\n      to complete account creation. You can't access the root user of the account or remove an\n      account that was created with an invalid email address.</p>",
            "smithy.api#required": true
          }
        },
        "IamUserAccessToBilling": {
          "target": "com.amazon.awsorganizations.v20161128#IAMUserAccessToBilling",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>ALLOW</code>, the new account enables IAM users to access account\n      billing information <i>if</i> they have the required permissions. If set to\n        <code>DENY</code>, only the root user of the new account can access account billing\n      information. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html#ControllingAccessWebsite-Activate\">Activating Access to\n        the Billing and Cost Management Console</a> in the\n      <i>AWS Billing and Cost Management User Guide</i>.</p>\n         <p>If you don't specify this parameter, the value defaults to <code>ALLOW</code>. This value\n      allows IAM users and roles with the required permissions to access billing information for\n      the new account.</p>"
          }
        },
        "RoleName": {
          "target": "com.amazon.awsorganizations.v20161128#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>(Optional)</p>\n         <p>The name of an IAM role that AWS Organizations automatically preconfigures in the new member\n      account. This role trusts the master account, allowing users in the master account to assume\n      the role, as permitted by the master account administrator. The role has administrator\n      permissions in the new member account.</p>\n         <p>If you don't specify this parameter, the role name defaults to\n        <code>OrganizationAccountAccessRole</code>.</p>\n         <p>For more information about how to use this role to access the member account, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_access.html#orgs_manage_accounts_create-cross-account-role\">Accessing and Administering the Member Accounts in Your Organization</a> in the\n        <i>AWS Organizations User Guide</i>. Also see steps 2 and 3 in <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html\">Tutorial: Delegate Access Across\n        AWS Accounts Using IAM Roles</a> in the <i>IAM User Guide.</i>\n         </p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> that \n    is used to validate this parameter. The pattern can include uppercase \n    letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^car-[a-z0-9]{8,32}$"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "CreateAccountStatus": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the request to create an account. This response\n      structure might not be fully populated when you first receive it because account creation is\n      an asynchronous process. You can pass the returned <code>CreateAccountStatus</code> ID as a\n      parameter to <a>DescribeCreateAccountStatus</a> to get status about the progress of\n      the request at later times. You can also check the AWS CloudTrail log for the\n        <code>CreateAccountResult</code> event. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring the Activity in Your Organization</a>\n      in the <i>AWS Organizations User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountStates": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsorganizations.v20161128#CreateAccountState"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountStatus": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazon.awsorganizations.v20161128#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>If the account was created successfully, the unique identifier (ID) of the new\n      account.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>"
          }
        },
        "AccountName": {
          "target": "com.amazon.awsorganizations.v20161128#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The account name given to the account when it was created.</p>"
          }
        },
        "CompletedTimestamp": {
          "target": "com.amazon.awsorganizations.v20161128#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the account was created and the request completed.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the request failed, a description of the reason for the failure.</p>\n         <ul>\n            <li>\n               <p>ACCOUNT_LIMIT_EXCEEDED: The account could not be created because you have reached the\n          limit on the number of accounts in your organization.</p>\n            </li>\n            <li>\n               <p>EMAIL_ALREADY_EXISTS: The account could not be created because another AWS account\n          with that email address already exists.</p>\n            </li>\n            <li>\n               <p>GOVCLOUD_ACCOUNT_ALREADY_EXISTS: The account in the AWS GovCloud (US) Region could not\n          be created because this Region already includes an account with that email address.</p>\n            </li>\n            <li>\n               <p>INVALID_ADDRESS: The account could not be created because the address you provided is\n          not valid.</p>\n            </li>\n            <li>\n               <p>INVALID_EMAIL: The account could not be created because the email address you provided\n          is not valid.</p>\n            </li>\n            <li>\n               <p>INTERNAL_FAILURE: The account could not be created because of an internal failure. Try\n          again later. If the problem persists, contact AWS Support.</p>\n            </li>\n         </ul>"
          }
        },
        "GovCloudAccountId": {
          "target": "com.amazon.awsorganizations.v20161128#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>If the account was created successfully, the unique identifier (ID) of the new account in\n      the AWS GovCloud (US) Region.</p>"
          }
        },
        "Id": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) that references this request. You get this value from the\n      response of the initial <a>CreateAccount</a> request to create the account.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a create account request ID string \n    requires \"car-\" followed by from 8 to 32 lower-case letters or digits.</p>"
          }
        },
        "RequestedTimestamp": {
          "target": "com.amazon.awsorganizations.v20161128#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the request was made for the account creation.</p>"
          }
        },
        "State": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the status about a <a>CreateAccount</a> or <a>CreateGovCloudAccount</a> request to create an AWS account or an AWS GovCloud\n      (US) account in an organization.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountStatusNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazon.awsorganizations.v20161128#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can't find a create account request with the <code>CreateAccountRequestId</code> that\n      you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateAccountStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazon.awsorganizations.v20161128#CreateAccountStatus"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateGovCloudAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CreateGovCloudAccountRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CreateGovCloudAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#FinalizingOrganizationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action is available if all of the following are true:</p>\n         <ul>\n            <li>\n               <p>You're authorized to create accounts in the AWS GovCloud (US) Region. For more\n          information on the AWS GovCloud (US) Region, see the <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/welcome.html\">\n                     <i>AWS GovCloud User Guide</i>.</a>\n               </p>\n            </li>\n            <li>\n               <p>You already have an account in the AWS GovCloud (US) Region that is associated with\n          your master account in the commercial Region. </p>\n            </li>\n            <li>\n               <p>You call this action from the master account of your organization in the commercial\n          Region.</p>\n            </li>\n            <li>\n               <p>You have the <code>organizations:CreateGovCloudAccount</code> permission. AWS Organizations\n          creates the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more\n          information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">AWS Organizations and Service-Linked Roles</a> in the\n          <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p>AWS automatically enables AWS CloudTrail for AWS GovCloud (US) accounts, but you should also do\n      the following:</p>\n         <ul>\n            <li>\n               <p>Verify that AWS CloudTrail is enabled to store logs.</p>\n            </li>\n            <li>\n               <p>Create an S3 bucket for AWS CloudTrail log storage.</p>\n               <p>For more information, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/verifying-cloudtrail.html\">Verifying AWS CloudTrail Is Enabled</a> in the <i>AWS GovCloud User Guide</i>.\n        </p>\n            </li>\n         </ul>\n         <p>You call this action from the master account of your organization in the commercial Region\n      to create a standalone AWS account in the AWS GovCloud (US) Region. After the account is\n      created, the master account of an organization in the AWS GovCloud (US) Region can invite it\n      to that organization. For more information on inviting standalone accounts in the AWS\n      GovCloud (US) to join an organization, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in the \n      <i>AWS GovCloud User Guide.</i>\n         </p>\n         <p>Calling <code>CreateGovCloudAccount</code> is an asynchronous request that AWS performs\n      in the background. Because <code>CreateGovCloudAccount</code> operates asynchronously, it can\n      return a successful completion message even though account initialization might still be in\n      progress. You might need to wait a few minutes before you can successfully access the account.\n      To check the status of the request, do one of the following:</p>\n         <ul>\n            <li>\n               <p>Use the <code>OperationId</code> response element from this operation to provide as a\n          parameter to the <a>DescribeCreateAccountStatus</a> operation.</p>\n            </li>\n            <li>\n               <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For information on\n          using AWS CloudTrail with Organizations, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring the\n            Activity in Your Organization</a> in the \n          <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p></p>\n         <p>When you call the <code>CreateGovCloudAccount</code> action, you create two accounts: a\n      standalone account in the AWS GovCloud (US) Region and an associated account in the\n      commercial Region for billing and support purposes. The account in the commercial Region is\n      automatically a member of the organization whose credentials made the request. Both accounts\n      are associated with the same email address.</p>\n         <p>A role is created in the new account in the commercial Region that allows the master\n      account in the organization in the commercial Region to assume it. An AWS GovCloud (US)\n      account is then created and associated with the commercial account that you just created. A\n      role is created in the new AWS GovCloud (US) account. This role can be assumed by the AWS\n      GovCloud (US) account that is associated with the master account of the commercial\n      organization. For more information and to view a diagram that explains how account access\n      works, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in\n      the \n      <i>AWS GovCloud User Guide.</i>\n         </p>\n      \n      \n         <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating an AWS\n        Account in Your Organization</a> in the <i>AWS Organizations User Guide.</i>\n         </p>\n         <important>\n            <ul>\n               <li>\n                  <p>You can create an account in an organization using the AWS Organizations console, API, or CLI\n            commands. When you do, the information required for the account to operate as a\n            standalone account, such as a payment method, is <i>not</i> automatically\n            collected. If you must remove an account from your organization later, you can do so\n            only after you provide the missing information. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\"> To leave\n              an organization as a member account</a> in the\n              <i>AWS Organizations User Guide.</i>\n                  </p>\n               </li>\n               <li>\n                  <p>If you get an exception that indicates that you exceeded your account limits for the\n            organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS\n            Support</a>.</p>\n               </li>\n               <li>\n                  <p>If you get an exception that indicates that the operation failed because your\n            organization is still initializing, wait one hour and then try again. If the error\n            persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a>.</p>\n               </li>\n               <li>\n                  <p>Using <code>CreateGovCloudAccount</code> to create multiple temporary accounts isn't\n            recommended. You can only close an account from the AWS Billing and Cost Management\n            console, and you must be signed in as the root user. For information on the requirements\n            and process for closing an account, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing an AWS Account</a> in\n            the <i>AWS Organizations User Guide</i>.</p>\n               </li>\n            </ul>\n         </important>\n         <note>\n            <p>When you create a member account with this operation, you can choose whether to create\n        the account with the <b>IAM User and Role Access to Billing\n          Information</b> switch enabled. If you enable it, IAM users and roles that have\n        appropriate permissions can view billing information for the account. If you disable it,\n        only the account root user can access billing information. For information about how to\n        disable this switch for an account, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html\">Granting Access to Your Billing Information and\n          Tools</a>.</p>\n         </note>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateGovCloudAccountRequest": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazon.awsorganizations.v20161128#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the member account.</p>",
            "smithy.api#required": true
          }
        },
        "Email": {
          "target": "com.amazon.awsorganizations.v20161128#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the owner to assign to the new member account in the commercial\n      Region. This email address must not already be associated with another AWS account. You must\n      use a valid email address to complete account creation. You can't access the root user of the\n      account or remove an account that was created with an invalid email address. Like all request\n      parameters for <code>CreateGovCloudAccount</code>, the request for the email address for the\n      AWS GovCloud (US) account originates from the commercial Region. It does not come from the\n      AWS GovCloud (US) Region.</p>",
            "smithy.api#required": true
          }
        },
        "IamUserAccessToBilling": {
          "target": "com.amazon.awsorganizations.v20161128#IAMUserAccessToBilling",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>ALLOW</code>, the new linked account in the commercial Region enables\n      IAM users to access account billing information <i>if</i> they have the\n      required permissions. If set to <code>DENY</code>, only the root user of the new account can\n      access account billing information. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html#ControllingAccessWebsite-Activate\">Activating Access to\n        the Billing and Cost Management Console</a> in the\n        <i>AWS Billing and Cost Management User Guide.</i>\n         </p>\n         <p>If you don't specify this parameter, the value defaults to <code>ALLOW</code>, and IAM\n      users and roles with the required permissions can access billing information for the new\n      account.</p>"
          }
        },
        "RoleName": {
          "target": "com.amazon.awsorganizations.v20161128#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>(Optional)</p>\n         <p>The name of an IAM role that AWS Organizations automatically preconfigures in the new member\n      accounts in both the AWS GovCloud (US) Region and in the commercial Region. This role trusts\n      the master account, allowing users in the master account to assume the role, as permitted by\n      the master account administrator. The role has administrator permissions in the new member\n      account.</p>\n         <p>If you don't specify this parameter, the role name defaults to\n        <code>OrganizationAccountAccessRole</code>.</p>\n         <p>For more information about how to use this role to access the member account, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_access.html#orgs_manage_accounts_create-cross-account-role\">Accessing and Administering the Member Accounts in Your Organization</a> in the\n        <i>AWS Organizations User Guide</i>. See also steps 2 and 3 in <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html\">Tutorial: Delegate Access Across\n        AWS Accounts Using IAM Roles</a> in the\n      <i>IAM User Guide.</i>\n         </p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> that \n    is used to validate this parameter. The pattern can include uppercase \n    letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateGovCloudAccountResponse": {
      "type": "structure",
      "members": {
        "CreateAccountStatus": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountStatus"
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CreateOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AlreadyInOrganizationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS organization. The account whose user is calling the\n        <code>CreateOrganization</code> operation automatically becomes the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/orgs_getting-started_concepts.html#account\">master\n        account</a> of the new organization.</p>\n         <p>This operation must be called using credentials from the account that is to become the new\n      organization's master account. The principal must also have the relevant IAM\n      permissions.</p>\n         <p>By default (or if you set the <code>FeatureSet</code> parameter to <code>ALL</code>), the\n      new organization is created with all features enabled. In addition, service control policies\n      are automatically enabled in the root. If you instead create the organization supporting only\n      the consolidated billing features, no policy types are enabled by default, and you can't use\n      organization policies.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "FeatureSet": {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationFeatureSet",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the feature set supported by the new organization. Each feature set supports\n      different levels of functionality.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CONSOLIDATED_BILLING</code>: All member accounts have their bills consolidated\n          to and paid by the master account. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#feature-set-cb-only\">Consolidated\n            billing</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n               <p> The consolidated billing feature subset isn't available for organizations in the\n          AWS GovCloud (US) Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ALL</code>: In addition to all the features that consolidated billing feature\n          set supports, the master account can also apply any policy type to any member account in\n          the organization. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#feature-set-all\">All\n            features</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganizationResponse": {
      "type": "structure",
      "members": {
        "Organization": {
          "target": "com.amazon.awsorganizations.v20161128#Organization",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created organization.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnitRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DuplicateOrganizationalUnitException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ParentNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an organizational unit (OU) within a root or parent OU. An OU is a container for\n      accounts that enables you to organize your accounts to apply policies according to your\n      business requirements. The number of levels deep that you can nest OUs is dependent upon the\n      policy types enabled for that root. For service control policies, the limit is five. </p>\n         <p>For more information about OUs, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html\">Managing Organizational Units</a> in the\n        <i>AWS Organizations User Guide.</i>\n         </p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnitRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationalUnitName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name to assign to the new OU.</p>",
            "smithy.api#required": true
          }
        },
        "ParentId": {
          "target": "com.amazon.awsorganizations.v20161128#ParentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the parent root or OU that you want to create the new OU\n      in.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a parent ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Root</b> - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or \n          digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with \"ou-\" followed by from 4 to 32\n          lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lowercase letters or digits.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreateOrganizationalUnitResponse": {
      "type": "structure",
      "members": {
        "OrganizationalUnit": {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationalUnit",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created OU.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#CreatePolicyRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#CreatePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConstraintViolationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#DuplicatePolicyException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyTypeNotAvailableForOrganizationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a policy of a specified type that you can attach to a root, an organizational unit\n      (OU), or an individual AWS account.</p>\n         <p>For more information about policies and their use, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies.html\">Managing Organization\n        Policies</a>.</p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#CreatePolicyRequest": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyContent",
          "traits": {
            "smithy.api#documentation": "<p>The policy content to add to the new policy. For example, you could create a <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html\">service control\n        policy</a> (SCP) that specifies the permissions that administrators in attached accounts\n      can delegate to their users, groups, and roles. The string for this SCP must be JSON text. For\n      more information about the SCP syntax, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_reference_scp-syntax.html\">Service Control\n        Policy Syntax</a> in the <i>AWS Organizations User Guide.</i>\n         </p>",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description to assign to the policy.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name to assign to the policy.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of any of the characters in the ASCII \n    character range.</p>",
            "smithy.api#required": true
          }
        },
        "Type": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy to create.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#CreatePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazon.awsorganizations.v20161128#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created policy.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DeclineHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DeclineHandshakeRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#DeclineHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Declines a handshake request. This sets the handshake state to <code>DECLINED</code> and\n      effectively deactivates the request.</p>\n         <p>This operation can be called only from the account that received the handshake. The originator of the handshake can use <a>CancelHandshake</a>\n      instead. The originator can't reactivate a declined request, but can reinitiate the process\n      with a new handshake request.</p>\n         <p>After you decline a handshake, it continues to appear in the results of relevant API\n      operations for only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DeclineHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazon.awsorganizations.v20161128#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to decline. You can get the ID\n      from the <a>ListHandshakesForAccount</a> operation.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DeclineHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazon.awsorganizations.v20161128#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the declined handshake. The state is updated to\n      show the value <code>DECLINED</code>.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DeleteOrganization": {
      "type": "operation",
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationNotEmptyException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the organization. You can delete an organization only by using credentials from\n      the master account. The organization must be empty of member accounts.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DeleteOrganizationalUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DeleteOrganizationalUnitRequest"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationalUnitNotEmptyException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationalUnitNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an organizational unit (OU) from a root or another OU. You must first remove all\n      accounts and child OUs from the OU that you want to delete.</p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DeleteOrganizationalUnitRequest": {
      "type": "structure",
      "members": {
        "OrganizationalUnitId": {
          "target": "com.amazon.awsorganizations.v20161128#OrganizationalUnitId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the organizational unit that you want to delete. You can get\n      the ID from the <a>ListOrganizationalUnitsForParent</a> operation.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an organizational unit ID string requires \n    \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that contains the \n    OU). This string is followed by a second \"-\" dash and from 8 to 32 additional lowercase letters or \n    digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DeletePolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ConcurrentModificationException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#PolicyNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified policy from your organization. Before you perform this operation,\n      you must first detach the policy from all organizational units (OUs), roots, and\n      accounts.</p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DeletePolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazon.awsorganizations.v20161128#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the policy that you want to delete. You can get the ID from\n      the <a>ListPolicies</a> or <a>ListPoliciesForTarget</a>\n      operations.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a policy ID string requires \"p-\" followed \n    by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_).</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeAccountRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccountNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves AWS Organizations related information about the specified account.</p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeAccountRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazon.awsorganizations.v20161128#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the AWS account that you want information about. You can\n      get the ID from the <a>ListAccounts</a> or <a>ListAccountsForParent</a>\n      operations.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeAccountResponse": {
      "type": "structure",
      "members": {
        "Account": {
          "target": "com.amazon.awsorganizations.v20161128#Account",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains information about the requested account.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatusRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazon.awsorganizations.v20161128#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#AccessDeniedException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountStatusNotFoundException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#InvalidInputException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#ServiceException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#TooManyRequestsException"
        },
        {
          "target": "com.amazon.awsorganizations.v20161128#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current status of an asynchronous request to create an account.</p>\n         <p>This operation can be called only from the organization's master account.</p>"
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatusRequest": {
      "type": "structure",
      "members": {
        "CreateAccountRequestId": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountRequestId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>operationId</code> that uniquely identifies the request. You can get\n      the ID from the response to an earlier <a>CreateAccount</a> request, or from the\n        <a>ListCreateAccountStatus</a> operation.</p>\n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a create account request ID string \n    requires \"car-\" followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeCreateAccountStatusResponse": {
      "type": "structure",
      "members": {
        "CreateAccountStatus": {
          "target": "com.amazon.awsorganizations.v20161128#CreateAccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the current status of an account creation request.</p>"
          }
        }
      }
    },
    "com.amazon.awsorganizations.v20161128#DescribeEffectivePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeEffectivePolicyRequest"
      },
      "output": {
        "target": "com.amazon.awsorganizations.v20161128#DescribeEffectivePolicyResponse"
      },
[...]
