{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.organizations#AWSOrganizationsNotInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your account isn't a member of an organization. To make this request, you must use the\n            credentials of an account that belongs to an organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#AWSOrganizationsV20161128": {
      "type": "service",
      "version": "2016-11-28",
      "operations": [
        {
          "target": "com.amazonaws.organizations#AcceptHandshake"
        },
        {
          "target": "com.amazonaws.organizations#AttachPolicy"
        },
        {
          "target": "com.amazonaws.organizations#CancelHandshake"
        },
        {
          "target": "com.amazonaws.organizations#CreateAccount"
        },
        {
          "target": "com.amazonaws.organizations#CreateGovCloudAccount"
        },
        {
          "target": "com.amazonaws.organizations#CreateOrganization"
        },
        {
          "target": "com.amazonaws.organizations#CreateOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#CreatePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DeclineHandshake"
        },
        {
          "target": "com.amazonaws.organizations#DeleteOrganization"
        },
        {
          "target": "com.amazonaws.organizations#DeleteOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#DeletePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DeregisterDelegatedAdministrator"
        },
        {
          "target": "com.amazonaws.organizations#DescribeAccount"
        },
        {
          "target": "com.amazonaws.organizations#DescribeCreateAccountStatus"
        },
        {
          "target": "com.amazonaws.organizations#DescribeEffectivePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DescribeHandshake"
        },
        {
          "target": "com.amazonaws.organizations#DescribeOrganization"
        },
        {
          "target": "com.amazonaws.organizations#DescribeOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#DescribePolicy"
        },
        {
          "target": "com.amazonaws.organizations#DetachPolicy"
        },
        {
          "target": "com.amazonaws.organizations#DisableAWSServiceAccess"
        },
        {
          "target": "com.amazonaws.organizations#DisablePolicyType"
        },
        {
          "target": "com.amazonaws.organizations#EnableAllFeatures"
        },
        {
          "target": "com.amazonaws.organizations#EnableAWSServiceAccess"
        },
        {
          "target": "com.amazonaws.organizations#EnablePolicyType"
        },
        {
          "target": "com.amazonaws.organizations#InviteAccountToOrganization"
        },
        {
          "target": "com.amazonaws.organizations#LeaveOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListAccounts"
        },
        {
          "target": "com.amazonaws.organizations#ListAccountsForParent"
        },
        {
          "target": "com.amazonaws.organizations#ListAWSServiceAccessForOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListChildren"
        },
        {
          "target": "com.amazonaws.organizations#ListCreateAccountStatus"
        },
        {
          "target": "com.amazonaws.organizations#ListDelegatedAdministrators"
        },
        {
          "target": "com.amazonaws.organizations#ListDelegatedServicesForAccount"
        },
        {
          "target": "com.amazonaws.organizations#ListHandshakesForAccount"
        },
        {
          "target": "com.amazonaws.organizations#ListHandshakesForOrganization"
        },
        {
          "target": "com.amazonaws.organizations#ListOrganizationalUnitsForParent"
        },
        {
          "target": "com.amazonaws.organizations#ListParents"
        },
        {
          "target": "com.amazonaws.organizations#ListPolicies"
        },
        {
          "target": "com.amazonaws.organizations#ListPoliciesForTarget"
        },
        {
          "target": "com.amazonaws.organizations#ListRoots"
        },
        {
          "target": "com.amazonaws.organizations#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.organizations#ListTargetsForPolicy"
        },
        {
          "target": "com.amazonaws.organizations#MoveAccount"
        },
        {
          "target": "com.amazonaws.organizations#RegisterDelegatedAdministrator"
        },
        {
          "target": "com.amazonaws.organizations#RemoveAccountFromOrganization"
        },
        {
          "target": "com.amazonaws.organizations#TagResource"
        },
        {
          "target": "com.amazonaws.organizations#UntagResource"
        },
        {
          "target": "com.amazonaws.organizations#UpdateOrganizationalUnit"
        },
        {
          "target": "com.amazonaws.organizations#UpdatePolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Organizations",
          "arnNamespace": "organizations",
          "cloudFormationName": "Organizations",
          "cloudTrailEventSource": "organizations.amazonaws.com",
          "endpointPrefix": "organizations"
        },
        "aws.auth#sigv4": {
          "name": "organizations"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Organizations</fullname>",
        "smithy.api#title": "AWS Organizations",
        "smithy.api#xmlNamespace": {
          "uri": "http://organizations.amazonaws.com/doc/2016-11-28/"
        }
      }
    },
    "com.amazonaws.organizations#AcceptHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#AcceptHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#AcceptHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a response to the originator of a handshake agreeing to the action proposed by\n            the handshake request.</p>\n        <p>This operation can be called only by the following principals when they also have the\n            relevant IAM permissions:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>Invitation to join</b> or <b>Approve all features request</b> handshakes: only a principal from\n                    the member account.</p>\n                <p>The user who calls the API for an invitation to join must have the\n                        <code>organizations:AcceptHandshake</code> permission. If you enabled all\n                    features in the organization, the user must also have the\n                        <code>iam:CreateServiceLinkedRole</code> permission so that AWS Organizations can\n                    create the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For\n                    more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integration_services.html#orgs_integration_service-linked-roles\">AWS Organizations and Service-Linked Roles</a> in the\n                        <i>AWS Organizations User Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                  <b>Enable all features final confirmation</b>\n                    handshake: only a principal from the management account.</p>\n                <p>For more information about invitations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_invites.html\">Inviting an AWS Account to Join Your Organization</a> in the\n                        <i>AWS Organizations User Guide.</i> For more information about requests to\n                    enable all features in the organization, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling All Features in Your Organization</a> in\n                    the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n        <p>After you accept a handshake, it continues to appear in the results of relevant APIs\n            for only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazonaws.organizations#AcceptHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazonaws.organizations#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to accept.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#AcceptHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazonaws.organizations#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the accepted handshake.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that\n            is making the request must have at least one IAM permissions policy attached that\n            grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the\n                <i>IAM User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccessDeniedForDependencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazonaws.organizations#AccessDeniedForDependencyExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation that you attempted requires you to have the\n                <code>iam:CreateServiceLinkedRole</code> for\n                <code>organizations.amazonaws.com</code> permission so that AWS Organizations can create the\n            required service-linked role. You don't have that permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccessDeniedForDependencyExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE",
            "name": "ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE"
          }
        ]
      }
    },
    "com.amazonaws.organizations#Account": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.organizations#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the account.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.organizations#AccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account.</p>\n        <p>For more information about ARNs in Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_permissions.html#orgs-permissions-arns\">ARN Formats Supported by\n    Organizations</a> in the <i>AWS Organizations User Guide</i>.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.organizations#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address associated with the AWS account.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that represents a\n            standard internet email address.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.organizations#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the account.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of any of the characters in the ASCII \n    character range.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.organizations#AccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the account in the organization.</p>"
          }
        },
        "JoinedMethod": {
          "target": "com.amazonaws.organizations#AccountJoinedMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method by which the account joined the organization.</p>"
          }
        },
        "JoinedTimestamp": {
          "target": "com.amazonaws.organizations#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the account became a part of the organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an AWS account that is a member of an\n            organization.</p>"
      }
    },
    "com.amazonaws.organizations#AccountAlreadyRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified account is already a delegated administrator for this AWS\n            service.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AccountArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:organizations::\\d{12}:account\\/o-[a-z0-9]{10,32}\\/\\d{12}"
      }
    },
    "com.amazonaws.organizations#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.organizations#AccountJoinedMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVITED",
            "name": "INVITED"
          },
          {
            "value": "CREATED",
            "name": "CREATED"
          }
        ]
      }
    },
    "com.amazonaws.organizations#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "[\\u0020-\\u007E]+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.organizations#AccountNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> We can't find an AWS account with the <code>AccountId</code> that you specified, or\n            the account whose credentials you used to make this request isn't a member of an\n            organization.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#AccountNotRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified account is not a delegated administrator for this AWS service. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AccountOwnerNotVerifiedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't invite an existing account to your organization until you verify that you\n            own the email address associated with the management account. For more information, see\n                <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_create.html#about-email-verification\">Email\n                Address Verification</a> in the <i>AWS Organizations User Guide.</i>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.organizations#AccountStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "SUSPENDED",
            "name": "SUSPENDED"
          }
        ]
      }
    },
    "com.amazonaws.organizations#Accounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#Account"
      }
    },
    "com.amazonaws.organizations#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVITE",
            "name": "INVITE_ACCOUNT_TO_ORGANIZATION"
          },
          {
            "value": "ENABLE_ALL_FEATURES",
            "name": "ENABLE_ALL_FEATURES"
          },
          {
            "value": "APPROVE_ALL_FEATURES",
            "name": "APPROVE_ALL_FEATURES"
          },
          {
            "value": "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE",
            "name": "ADD_ORGANIZATIONS_SERVICE_LINKED_ROLE"
          }
        ]
      }
    },
    "com.amazonaws.organizations#AlreadyInOrganizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This account is already a member of an organization. An account can belong to only one\n            organization at a time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#AttachPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#DuplicatePolicyAttachmentException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyChangesInProgressException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyTypeNotEnabledException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TargetNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy to a root, an organizational unit (OU), or an individual account.\n            How the policy affects accounts depends on the type of policy. Refer to the\n                <i>AWS Organizations User Guide</i> for information about each policy type:</p>\n        <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_ai-opt-out.html\">AISERVICES_OPT_OUT_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_backup.html\">BACKUP_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html\">SERVICE_CONTROL_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_tag-policies.html\">TAG_POLICY</a>\n               </p>\n            </li>\n         </ul>  \n         <p>This operation can be called only from the organization's management account.</p>"
      }
    },
    "com.amazonaws.organizations#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "PolicyId": {
          "target": "com.amazonaws.organizations#PolicyId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the policy that you want to attach to the target. You\n            can get the ID for the policy by calling the <a>ListPolicies</a>\n            operation.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a policy ID string requires \"p-\" followed \n    by from 8 to 128 lowercase or uppercase letters, digits, or the underscore character (_).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetId": {
          "target": "com.amazonaws.organizations#PolicyTargetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the root, OU, or account that you want to attach the\n            policy to. You can get the ID by calling the <a>ListRoots</a>, <a>ListOrganizationalUnitsForParent</a>, or <a>ListAccounts</a>\n            operations.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a target ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Root</b> - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or \n          digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Account</b> - A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with \"ou-\" followed by from 4 to 32 \n          lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lowercase letters or digits.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#AwsManagedPolicy": {
      "type": "boolean"
    },
    "com.amazonaws.organizations#CancelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CancelHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CancelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a handshake. Canceling a handshake sets the handshake state to\n                <code>CANCELED</code>.</p>\n        <p>This operation can be called only from the account that originated the handshake. The recipient of the handshake can't cancel it, but can use <a>DeclineHandshake</a> instead. After a handshake is canceled, the recipient\n            can no longer respond to that handshake.</p>\n        <p>After you cancel a handshake, it continues to appear in the results of relevant APIs\n            for only 30 days. After that, it's deleted.</p>"
      }
    },
    "com.amazonaws.organizations#CancelHandshakeRequest": {
      "type": "structure",
      "members": {
        "HandshakeId": {
          "target": "com.amazonaws.organizations#HandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the handshake that you want to cancel. You can get the\n            ID from the <a>ListHandshakesForOrganization</a> operation.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for  handshake ID string requires \"h-\" \n    followed by from 8 to 32 lowercase letters or digits.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.organizations#CancelHandshakeResponse": {
      "type": "structure",
      "members": {
        "Handshake": {
          "target": "com.amazonaws.organizations#Handshake",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the handshake that you canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#Child": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.organizations#ChildId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of this child entity.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a child ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Account</b> - A string that consists of exactly 12 digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with\n          \"ou-\" followed by from 4 to 32 lowercase letters or digits (the ID of the root that \n          contains the OU). This string is followed by a second \"-\" dash and from 8 to 32 additional \n          lowercase letters or digits.</p>\n            </li>\n         </ul>"
          }
        },
        "Type": {
          "target": "com.amazonaws.organizations#ChildType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this child entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a list of child entities, either OUs or accounts.</p>"
      }
    },
    "com.amazonaws.organizations#ChildId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#pattern": "^(\\d{12})|(ou-[0-9a-z]{4,32}-[a-z0-9]{8,32})$"
      }
    },
    "com.amazonaws.organizations#ChildNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can't find an organizational unit (OU) or AWS account with the\n                <code>ChildId</code> that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#ChildType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT",
            "name": "ACCOUNT"
          },
          {
            "value": "ORGANIZATIONAL_UNIT",
            "name": "ORGANIZATIONAL_UNIT"
          }
        ]
      }
    },
    "com.amazonaws.organizations#Children": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#Child"
      }
    },
    "com.amazonaws.organizations#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The target of the operation is currently being modified by a different request. Try\n            again later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#ConstraintViolationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        },
        "Reason": {
          "target": "com.amazonaws.organizations#ConstraintViolationExceptionReason"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Performing this operation violates a minimum or maximum value limit. For example,\n            attempting to remove the last service control policy (SCP) from an OU or root, inviting\n            or creating too many accounts to the organization, or attaching too many policies to an\n            account, OU, or root. This exception includes a reason that contains additional\n            information about the violated limit:</p>\n        <note>\n            <p>Some of the reasons in the following list might not be applicable to this specific\n                API or operation.</p>\n        </note>\n        <ul>\n            <li>\n                <p>ACCOUNT_CANNOT_LEAVE_ORGANIZAION: You attempted to remove the\n                    management account from the organization. You can't remove the management account.\n                    Instead, after you remove all member accounts, delete the organization\n                    itself.</p>\n            </li>\n            <li>\n                <p>ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA: You attempted to remove an account from the\n                    organization that doesn't yet have enough information to exist as a standalone\n                    account. This account requires you to first agree to the AWS Customer\n                    Agreement. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#orgs_manage_accounts_remove-from-master\">Removing a member account from your organization</a>in the\n                        <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION: You attempted to remove an\n                    account from the organization that doesn't yet have enough information to exist\n                    as a standalone account. This account requires you to first complete phone\n                    verification. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#orgs_manage_accounts_remove-from-master\">Removing a member account from your organization</a> in the\n                        <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of\n                    accounts that you can create in one day.</p>\n            </li>\n            <li>\n                <p>ACCOUNT_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the limit on the number\n                    of accounts in an organization. If you need more accounts, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a> to request an increase\n                    in your limit. </p>\n                <p>Or the number of invitations that you tried to send would cause you to exceed\n                    the limit of accounts in your organization. Send fewer invitations or contact\n                    AWS Support to request an increase in the number of accounts.</p>\n                <note>\n                    <p>Deleted and closed accounts still count toward your limit.</p>\n                </note>\n                <important>\n                    <p>If you get this exception when running a command immediately after\n                        creating the organization, wait one hour and try again. After an hour, if\n                        the command continues to fail with this error, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a>.</p>\n                </important>\n            </li>\n            <li>\n                <p>CANNOT_REGISTER_MASTER_AS_DELEGATED_ADMINISTRATOR: You attempted to register\n                    the management account of the organization as a delegated administrator for an\n                    AWS service integrated with Organizations. You can designate only a member\n                    account as a delegated administrator.</p>\n            </li>\n            <li>\n                <p>CANNOT_REMOVE_DELEGATED_ADMINISTRATOR_FROM_ORG: You attempted to remove an\n                    account that is registered as a delegated administrator for a service integrated\n                    with your organization. To complete this operation, you must first deregister\n                    this account as a delegated administrator. </p>\n            </li>\n            <li>\n                <p>CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION: To create an\n                    organization in the specified region, you must enable all features mode.</p>\n            </li>\n            <li>\n                <p>DELEGATED_ADMINISTRATOR_EXISTS_FOR_THIS_SERVICE: You attempted to register an\n                    AWS account as a delegated administrator for an AWS service that already has a\n                    delegated administrator. To complete this operation, you must first deregister\n                    any existing delegated administrators for this service.</p>\n            </li>\n            <li>\n                <p>EMAIL_VERIFICATION_CODE_EXPIRED: The email verification code is only valid for\n                    a limited period of time. You must resubmit the request and generate a new\n                    verfication code.</p>\n            </li>\n            <li>\n                <p>HANDSHAKE_RATE_LIMIT_EXCEEDED: You attempted to exceed the number of\n                    handshakes that you can send in one day.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE: To create an account in\n                    this organization, you first must migrate the organization's management account\n                    to the marketplace that corresponds to the management account's address. For\n                    example, accounts with India addresses must be associated with the AISPL\n                    marketplace. All accounts in an organization must be associated with the same\n                    marketplace.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_MISSING_BUSINESS_LICENSE: Applies only to the AWS Regions in\n                    China. To create an organization, the master must have an valid business\n                    license. For more information, contact customer support.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_MISSING_CONTACT_INFO: To complete this operation, you must\n                    first provide a valid contact address and phone number for the\n                    management account. Then try the operation again.</p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED: To complete this operation, the\n                    management account must have an associated account in the AWS GovCloud\n                    (US-West) Region. For more information, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in\n                    the \n                    <i>AWS GovCloud User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED: To create an organization with\n                    this management account, you first must associate a valid payment instrument,\n                    such as a credit card, with the account. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To leave an organization when all required account information has not yet\n                        been provided</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>MAX_DELEGATED_ADMINISTRATORS_FOR_SERVICE_LIMIT_EXCEEDED: You attempted to\n                    register more delegated administrators than allowed for the service principal.\n                </p>\n            </li>\n            <li>\n                <p>MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED: You attempted to exceed the number\n                    of policies of a certain type that can be attached to an entity at one\n                    time.</p>\n            </li>\n            <li>\n                <p>MAX_TAG_LIMIT_EXCEEDED: You have exceeded the number of tags allowed on this\n                    resource. </p>\n            </li>\n            <li>\n                <p>MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED: To complete this operation with\n                    this member account, you first must associate a valid payment instrument, such\n                    as a credit card, with the account. Follow the steps at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\">To leave an organization when all required account information has not yet\n                        been provided</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n            <li>\n                <p>MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED: You attempted to detach a policy\n                    from an entity that would cause the entity to have fewer than the minimum number\n                    of policies of a certain type required.</p>\n            </li>\n            <li>\n                <p>ORGANIZATION_NOT_IN_ALL_FEATURES_MODE: You attempted to perform an operation\n                    that requires the organization to be configured to support all features. An\n                    organization that supports only consolidated billing features can't perform this\n                    operation.</p>\n            </li>\n            <li>\n                <p>OU_DEPTH_LIMIT_EXCEEDED: You attempted to create an OU tree that is too many\n                    levels deep.</p>\n            </li>\n            <li>\n                <p>OU_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the number of OUs that you\n                    can have in an organization.</p>\n            </li>\n            <li>\n                <p>POLICY_CONTENT_LIMIT_EXCEEDED: You attempted to create a policy that is larger\n                    than the maximum size.</p>\n            </li>\n            <li>\n                <p>POLICY_NUMBER_LIMIT_EXCEEDED: You attempted to exceed the number of policies\n                    that you can have in an organization.</p>\n            </li>\n            <li>\n                <p>TAG_POLICY_VIOLATION: You attempted to create or update a resource with tags\n                    that are not compliant with the tag policy requirements for this account.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.organizations#ConstraintViolationExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT_NUMBER_LIMIT_EXCEEDED",
            "name": "ACCOUNT_NUMBER_LIMIT_EXCEEDED"
          },
          {
            "value": "HANDSHAKE_RATE_LIMIT_EXCEEDED",
            "name": "HANDSHAKE_RATE_LIMIT_EXCEEDED"
          },
          {
            "value": "OU_NUMBER_LIMIT_EXCEEDED",
            "name": "OU_NUMBER_LIMIT_EXCEEDED"
          },
          {
            "value": "OU_DEPTH_LIMIT_EXCEEDED",
            "name": "OU_DEPTH_LIMIT_EXCEEDED"
          },
          {
            "value": "POLICY_NUMBER_LIMIT_EXCEEDED",
            "name": "POLICY_NUMBER_LIMIT_EXCEEDED"
          },
          {
            "value": "POLICY_CONTENT_LIMIT_EXCEEDED",
            "name": "POLICY_CONTENT_LIMIT_EXCEEDED"
          },
          {
            "value": "MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED",
            "name": "MAX_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED"
          },
          {
            "value": "MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED",
            "name": "MIN_POLICY_TYPE_ATTACHMENT_LIMIT_EXCEEDED"
          },
          {
            "value": "ACCOUNT_CANNOT_LEAVE_ORGANIZATION",
            "name": "ACCOUNT_CANNOT_LEAVE_ORGANIZATION"
          },
          {
            "value": "ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA",
            "name": "ACCOUNT_CANNOT_LEAVE_WITHOUT_EULA"
          },
          {
            "value": "ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION",
            "name": "ACCOUNT_CANNOT_LEAVE_WITHOUT_PHONE_VERIFICATION"
          },
          {
            "value": "MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED",
            "name": "MASTER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED"
          },
          {
            "value": "MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED",
            "name": "MEMBER_ACCOUNT_PAYMENT_INSTRUMENT_REQUIRED"
          },
          {
            "value": "ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED",
            "name": "ACCOUNT_CREATION_RATE_LIMIT_EXCEEDED"
          },
          {
            "value": "MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE",
            "name": "MASTER_ACCOUNT_ADDRESS_DOES_NOT_MATCH_MARKETPLACE"
          },
          {
            "value": "MASTER_ACCOUNT_MISSING_CONTACT_INFO",
            "name": "MASTER_ACCOUNT_MISSING_CONTACT_INFO"
          },
          {
            "value": "MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED",
            "name": "MASTER_ACCOUNT_NOT_GOVCLOUD_ENABLED"
          },
          {
            "value": "ORGANIZATION_NOT_IN_ALL_FEATURES_MODE",
            "name": "ORGANIZATION_NOT_IN_ALL_FEATURES_MODE"
          },
          {
            "value": "CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION",
            "name": "CREATE_ORGANIZATION_IN_BILLING_MODE_UNSUPPORTED_REGION"
          },
          {
            "value": "EMAIL_VERIFICATION_CODE_EXPIRED",
            "name": "EMAIL_VERIFICATION_CODE_EXPIRED"
          },
          {
            "value": "WAIT_PERIOD_ACTIVE",
            "name": "WAIT_PERIOD_ACTIVE"
          },
          {
            "value": "MAX_TAG_LIMIT_EXCEEDED",
            "name": "MAX_TAG_LIMIT_EXCEEDED"
          },
          {
            "value": "TAG_POLICY_VIOLATION",
            "name": "TAG_POLICY_VIOLATION"
          },
          {
            "value": "MAX_DELEGATED_ADMINISTRATORS_FOR_SERVICE_LIMIT_EXCEEDED",
            "name": "MAX_DELEGATED_ADMINISTRATORS_FOR_SERVICE_LIMIT_EXCEEDED"
          },
          {
            "value": "CANNOT_REGISTER_MASTER_AS_DELEGATED_ADMINISTRATOR",
            "name": "CANNOT_REGISTER_MASTER_AS_DELEGATED_ADMINISTRATOR"
          },
          {
            "value": "CANNOT_REMOVE_DELEGATED_ADMINISTRATOR_FROM_ORG",
            "name": "CANNOT_REMOVE_DELEGATED_ADMINISTRATOR_FROM_ORG"
          },
          {
            "value": "DELEGATED_ADMINISTRATOR_EXISTS_FOR_THIS_SERVICE",
            "name": "DELEGATED_ADMINISTRATOR_EXISTS_FOR_THIS_SERVICE"
          },
          {
            "value": "MASTER_ACCOUNT_MISSING_BUSINESS_LICENSE",
            "name": "MASTER_ACCOUNT_MISSING_BUSINESS_LICENSE"
          }
        ]
      }
    },
    "com.amazonaws.organizations#CreateAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CreateAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CreateAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#FinalizingOrganizationException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS account that is automatically a member of the organization whose\n            credentials made the request. This is an asynchronous request that AWS performs in the\n            background. Because <code>CreateAccount</code> operates asynchronously, it can return a\n            successful completion message even though account initialization might still be in\n            progress. You might need to wait a few minutes before you can successfully access the\n            account. To check the status of the request, do one of the following:</p>\n        <ul>\n            <li>\n                <p>Use the <code>Id</code> member of the <code>CreateAccountStatus</code>\n                    response element from this operation to provide as a parameter to the <a>DescribeCreateAccountStatus</a> operation.</p>\n            </li>\n            <li>\n                <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For\n                    information on using AWS CloudTrail with AWS Organizations, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring the Activity in Your\n                        Organization</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n        <p>The user who calls the API to create an account must have the\n                <code>organizations:CreateAccount</code> permission. If you enabled all features in\n            the organization, AWS Organizations creates the required service-linked role named\n                <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">AWS Organizations and Service-Linked Roles</a> in the\n                <i>AWS Organizations User Guide</i>.</p>\n        <p>If the request includes tags, then the requester must have the\n                <code>organizations:TagResource</code> permission.</p>\n        <p>AWS Organizations preconfigures the new member account with a role (named\n                <code>OrganizationAccountAccessRole</code> by default) that grants users in the\n            management account administrator permissions in the new member account. Principals in the\n            management account can assume the role. AWS Organizations clones the company name and address\n            information for the new account from the organization's management account.</p>\n        <p>This operation can be called only from the organization's management account.</p>\n        <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating\n                an AWS Account in Your Organization</a> in the\n                <i>AWS Organizations User Guide.</i>\n         </p>\n        <important>\n            <ul>\n               <li>\n                    <p>When you create an account in an organization using the AWS Organizations console,\n                        API, or CLI commands, the information required for the account to operate as\n                        a standalone account, such as a payment method and signing the end user\n                        license agreement (EULA) is <i>not</i> automatically\n                        collected. If you must remove an account from your organization later, you\n                        can do so only after you provide the missing information. Follow the steps\n                        at <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\"> To leave an organization as a member account</a> in the\n                            <i>AWS Organizations User Guide</i>.</p>\n                </li>\n               <li>\n                    <p>If you get an exception that indicates that you exceeded your account\n                        limits for the organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a>.</p>\n                </li>\n               <li>\n                    <p>If you get an exception that indicates that the operation failed because\n                        your organization is still initializing, wait one hour and then try again.\n                        If the error persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS\n                            Support</a>.</p>\n                </li>\n               <li>\n                    <p>Using <code>CreateAccount</code> to create multiple temporary accounts\n                        isn't recommended. You can only close an account from the Billing and Cost\n                        Management Console, and you must be signed in as the root user. For\n                        information on the requirements and process for closing an account, see\n                            <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing an\n                            AWS Account</a> in the\n                        <i>AWS Organizations User Guide</i>.</p>\n                </li>\n            </ul>\n        </important>\n        <note>\n            <p>When you create a member account with this operation, you can choose whether to\n                create the account with the <b>IAM User and Role Access to\n                    Billing Information</b> switch enabled. If you enable it, IAM users and\n                roles that have appropriate permissions can view billing information for the\n                account. If you disable it, only the account root user can access billing\n                information. For information about how to disable this switch for an account, see\n                    <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html\">Granting\n                    Access to Your Billing Information and Tools</a>.</p>\n        </note>"
      }
    },
    "com.amazonaws.organizations#CreateAccountFailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT_LIMIT_EXCEEDED",
            "name": "ACCOUNT_LIMIT_EXCEEDED"
          },
          {
            "value": "EMAIL_ALREADY_EXISTS",
            "name": "EMAIL_ALREADY_EXISTS"
          },
          {
            "value": "INVALID_ADDRESS",
            "name": "INVALID_ADDRESS"
          },
          {
            "value": "INVALID_EMAIL",
            "name": "INVALID_EMAIL"
          },
          {
            "value": "CONCURRENT_ACCOUNT_MODIFICATION",
            "name": "CONCURRENT_ACCOUNT_MODIFICATION"
          },
          {
            "value": "INTERNAL_FAILURE",
            "name": "INTERNAL_FAILURE"
          },
          {
            "value": "GOVCLOUD_ACCOUNT_ALREADY_EXISTS",
            "name": "GOVCLOUD_ACCOUNT_ALREADY_EXISTS"
          },
          {
            "value": "MISSING_BUSINESS_VALIDATION",
            "name": "MISSING_BUSINESS_VALIDATION"
          },
          {
            "value": "MISSING_PAYMENT_INSTRUMENT",
            "name": "MISSING_PAYMENT_INSTRUMENT"
          }
        ]
      }
    },
    "com.amazonaws.organizations#CreateAccountRequest": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.organizations#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the owner to assign to the new member account. This email address\n            must not already be associated with another AWS account. You must use a valid email\n            address to complete account creation. You can't access the root user of the account or\n            remove an account that was created with an invalid email address.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountName": {
          "target": "com.amazonaws.organizations#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the member account.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleName": {
          "target": "com.amazonaws.organizations#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>(Optional)</p>\n        <p>The name of an IAM role that AWS Organizations automatically preconfigures in the new member\n            account. This role trusts the management account, allowing users in the management account\n            to assume the role, as permitted by the management account administrator. The role has\n            administrator permissions in the new member account.</p>\n        <p>If you don't specify this parameter, the role name defaults to\n                <code>OrganizationAccountAccessRole</code>.</p>\n        <p>For more information about how to use this role to access the member account, see the\n            following links:</p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_access.html#orgs_manage_accounts_create-cross-account-role\">Accessing and Administering the Member Accounts in Your\n                        Organization</a> in the <i>AWS Organizations User Guide</i>\n               </p>\n            </li>\n            <li>\n                <p>Steps 2 and 3 in <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html\">Tutorial:\n                        Delegate Access Across AWS Accounts Using IAM Roles</a> in the\n                        <i>IAM User Guide</i>\n               </p>\n            </li>\n         </ul>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> that \n    is used to validate this parameter. The pattern can include uppercase \n    letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-</p>"
          }
        },
        "IamUserAccessToBilling": {
          "target": "com.amazonaws.organizations#IAMUserAccessToBilling",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>ALLOW</code>, the new account enables IAM users to access account\n            billing information <i>if</i> they have the required permissions. If set\n            to <code>DENY</code>, only the root user of the new account can access account billing\n            information. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html#ControllingAccessWebsite-Activate\">Activating\n                Access to the Billing and Cost Management Console</a> in the\n                <i>AWS Billing and Cost Management User Guide</i>.</p>\n        <p>If you don't specify this parameter, the value defaults to <code>ALLOW</code>, and\n            IAM users and roles with the required permissions can access billing information for\n            the new account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.organizations#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you want to attach to the newly created account. For each tag in\n            the list, you must specify both a tag key and a value. You can set the value to an empty\n            string, but you can't set it to <code>null</code>. For more information about tagging,\n            see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_tagging.html\">Tagging AWS\n                Organizations resources</a> in the AWS Organizations User Guide.</p>\n        <note>\n            <p>If any one of the tags is invalid or if you exceed the allowed number of tags for\n                an account, then the entire request fails and the account is not created.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateAccountRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 36
        },
        "smithy.api#pattern": "^car-[a-z0-9]{8,32}$"
      }
    },
    "com.amazonaws.organizations#CreateAccountResponse": {
      "type": "structure",
      "members": {
        "CreateAccountStatus": {
          "target": "com.amazonaws.organizations#CreateAccountStatus",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the request to create an account. This\n            response structure might not be fully populated when you first receive it because\n            account creation is an asynchronous process. You can pass the returned\n                <code>CreateAccountStatus</code> ID as a parameter to <a>DescribeCreateAccountStatus</a> to get status about the progress of the\n            request at later times. You can also check the AWS CloudTrail log for the\n                <code>CreateAccountResult</code> event. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring the Activity in Your\n                Organization</a> in the <i>AWS Organizations User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateAccountState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.organizations#CreateAccountStates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#CreateAccountState"
      }
    },
    "com.amazonaws.organizations#CreateAccountStatus": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.organizations#CreateAccountRequestId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) that references this request. You get this value from the\n            response of the initial <a>CreateAccount</a> request to create the\n            account.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a create account request ID string \n    requires \"car-\" followed by from 8 to 32 lowercase letters or digits.</p>"
          }
        },
        "AccountName": {
          "target": "com.amazonaws.organizations#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The account name given to the account when it was created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.organizations#CreateAccountState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>"
          }
        },
        "RequestedTimestamp": {
          "target": "com.amazonaws.organizations#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the request was made for the account creation.</p>"
          }
        },
        "CompletedTimestamp": {
          "target": "com.amazonaws.organizations#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the account was created and the request completed.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.organizations#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>If the account was created successfully, the unique identifier (ID) of the new\n            account.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12\n    digits.</p>"
          }
        },
        "GovCloudAccountId": {
          "target": "com.amazonaws.organizations#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>If the account was created successfully, the unique identifier (ID) of the new account\n            in the AWS GovCloud (US) Region.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.organizations#CreateAccountFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the request failed, a description of the reason for the failure.</p>\n        <ul>\n            <li>\n                <p>ACCOUNT_LIMIT_EXCEEDED: The account could not be created because you have\n                    reached the limit on the number of accounts in your organization.</p>\n            </li>\n            <li>\n                <p>CONCURRENT_ACCOUNT_MODIFICATION: You already submitted a request with the same\n                    information.</p>\n            </li>\n            <li>\n                <p>EMAIL_ALREADY_EXISTS: The account could not be created because another AWS\n                    account with that email address already exists.</p>\n            </li>\n            <li>\n                <p>GOVCLOUD_ACCOUNT_ALREADY_EXISTS: The account in the AWS GovCloud (US) Region\n                    could not be created because this Region already includes an account with that\n                    email address.</p>\n            </li>\n            <li>\n                <p>INVALID_ADDRESS: The account could not be created because the address you\n                    provided is not valid.</p>\n            </li>\n            <li>\n                <p>INVALID_EMAIL: The account could not be created because the email address you\n                    provided is not valid.</p>\n            </li>\n            <li>\n                <p>INTERNAL_FAILURE: The account could not be created because of an internal\n                    failure. Try again later. If the problem persists, contact Customer\n                    Support.</p>\n            </li>\n            <li>\n                <p>MISSING_BUSINESS_VALIDATION: The AWS account that owns your organization has\n                    not received Business Validation.</p>\n            </li>\n            <li>\n                <p> MISSING_PAYMENT_INSTRUMENT: You must configure the management account with a\n                    valid payment method, such as a credit card.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the status about a <a>CreateAccount</a> or <a>CreateGovCloudAccount</a> request to create an AWS account or an AWS\n            GovCloud (US) account in an organization.</p>"
      }
    },
    "com.amazonaws.organizations#CreateAccountStatusNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.organizations#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We can't find an create account request with the <code>CreateAccountRequestId</code>\n            that you specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.organizations#CreateAccountStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.organizations#CreateAccountStatus"
      }
    },
    "com.amazonaws.organizations#CreateGovCloudAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CreateGovCloudAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CreateGovCloudAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#FinalizingOrganizationException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action is available if all of the following are true:</p>\n        <ul>\n            <li>\n                <p>You're authorized to create accounts in the AWS GovCloud (US) Region. For\n                    more information on the AWS GovCloud (US) Region, see the <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/welcome.html\">\n                     <i>AWS GovCloud User Guide</i>.</a>\n               </p>\n            </li>\n            <li>\n                <p>You already have an account in the AWS GovCloud (US) Region that is paired\n                    with a management account of an organization in the commercial Region.</p>\n            </li>\n            <li>\n                <p>You call this action from the management account of your organization in the\n                    commercial Region.</p>\n            </li>\n            <li>\n                <p>You have the <code>organizations:CreateGovCloudAccount</code> permission.\n                </p>\n            </li>\n         </ul>\n        <p>AWS Organizations automatically creates the required service-linked role named\n                <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">AWS Organizations and Service-Linked Roles</a> in the\n                <i>AWS Organizations User Guide.</i>\n         </p>\n        <p>AWS automatically enables AWS CloudTrail for AWS GovCloud (US) accounts, but you should also\n            do the following:</p>\n        <ul>\n            <li>\n                <p>Verify that AWS CloudTrail is enabled to store logs.</p>\n            </li>\n            <li>\n                <p>Create an S3 bucket for AWS CloudTrail log storage.</p>\n                <p>For more information, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/verifying-cloudtrail.html\">Verifying AWS CloudTrail Is\n                        Enabled</a> in the <i>AWS GovCloud User Guide</i>.\n                </p>\n            </li>\n         </ul>\n        <p>If the request includes tags, then the requester must have the\n                <code>organizations:TagResource</code> permission. The tags are attached to the\n            commercial account associated with the GovCloud account, rather than the GovCloud\n            account itself. To add tags to the GovCloud account, call the <a>TagResource</a> operation in the GovCloud Region after the new GovCloud\n            account exists.</p>\n        <p>You call this action from the management account of your organization in the commercial\n            Region to create a standalone AWS account in the AWS GovCloud (US) Region. After the\n            account is created, the management account of an organization in the AWS GovCloud (US)\n            Region can invite it to that organization. For more information on inviting standalone\n            accounts in the AWS GovCloud (US) to join an organization, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in the\n                <i>AWS GovCloud User Guide.</i>\n         </p>\n        <p>Calling <code>CreateGovCloudAccount</code> is an asynchronous request that AWS\n            performs in the background. Because <code>CreateGovCloudAccount</code> operates\n            asynchronously, it can return a successful completion message even though account\n            initialization might still be in progress. You might need to wait a few minutes before\n            you can successfully access the account. To check the status of the request, do one of\n            the following:</p>\n        <ul>\n            <li>\n                <p>Use the <code>OperationId</code> response element from this operation to\n                    provide as a parameter to the <a>DescribeCreateAccountStatus</a>\n                    operation.</p>\n            </li>\n            <li>\n                <p>Check the AWS CloudTrail log for the <code>CreateAccountResult</code> event. For\n                    information on using AWS CloudTrail with Organizations, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_monitoring.html\">Monitoring the Activity in Your\n                        Organization</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>\n        <p></p>\n        <p>When you call the <code>CreateGovCloudAccount</code> action, you create two accounts:\n            a standalone account in the AWS GovCloud (US) Region and an associated account in the\n            commercial Region for billing and support purposes. The account in the commercial Region\n            is automatically a member of the organization whose credentials made the request. Both\n            accounts are associated with the same email address.</p>\n        <p>A role is created in the new account in the commercial Region that allows the\n            management account in the organization in the commercial Region to assume it. An AWS\n            GovCloud (US) account is then created and associated with the commercial account that\n            you just created. A role is also created in the new AWS GovCloud (US) account that can\n            be assumed by the AWS GovCloud (US) account that is associated with the\n            management account of the commercial organization. For more information and to view a\n            diagram that explains how account access works, see <a href=\"http://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">AWS Organizations</a> in the\n                <i>AWS GovCloud User Guide.</i>\n         </p>\n        \n        \n        <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating\n                an AWS Account in Your Organization</a> in the\n                <i>AWS Organizations User Guide.</i>\n         </p>\n        <important>\n            <ul>\n               <li>\n                    <p>When you create an account in an organization using the AWS Organizations console,\n                        API, or CLI commands, the information required for the account to operate as\n                        a standalone account is <i>not</i> automatically collected.\n                        This includes a payment method and signing the end user license agreement\n                        (EULA). If you must remove an account from your organization later, you can\n                        do so only after you provide the missing information. Follow the steps at\n                            <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_remove.html#leave-without-all-info\"> To leave an organization as a member account</a> in the\n                            <i>AWS Organizations User Guide.</i>\n                  </p>\n                </li>\n               <li>\n                    <p>If you get an exception that indicates that you exceeded your account\n                        limits for the organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS Support</a>.</p>\n                </li>\n               <li>\n                    <p>If you get an exception that indicates that the operation failed because\n                        your organization is still initializing, wait one hour and then try again.\n                        If the error persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">AWS\n                            Support</a>.</p>\n                </li>\n               <li>\n                    <p>Using <code>CreateGovCloudAccount</code> to create multiple temporary\n                        accounts isn't recommended. You can only close an account from the AWS\n                        Billing and Cost Management console, and you must be signed in as the root\n                        user. For information on the requirements and process for closing an\n                        account, see <a href=\"http://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing an AWS Account</a> in the\n                            <i>AWS Organizations User Guide</i>.</p>\n                </li>\n            </ul>\n        </important>\n        <note>\n            <p>When you create a member account with this operation, you can choose whether to\n                create the account with the <b>IAM User and Role Access to\n                    Billing Information</b> switch enabled. If you enable it, IAM users and\n                roles that have appropriate permissions can view billing information for the\n                account. If you disable it, only the account root user can access billing\n                information. For information about how to disable this switch for an account, see\n                    <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html\">Granting\n                    Access to Your Billing Information and Tools</a>.</p>\n        </note>"
      }
    },
    "com.amazonaws.organizations#CreateGovCloudAccountRequest": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.organizations#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the owner to assign to the new member account in the commercial\n            Region. This email address must not already be associated with another AWS account.\n            You must use a valid email address to complete account creation. You can't access the\n            root user of the account or remove an account that was created with an invalid email\n            address. Like all request parameters for <code>CreateGovCloudAccount</code>, the request\n            for the email address for the AWS GovCloud (US) account originates from the commercial\n            Region, not from the AWS GovCloud (US) Region.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountName": {
          "target": "com.amazonaws.organizations#AccountName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the member account.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleName": {
          "target": "com.amazonaws.organizations#RoleName",
          "traits": {
            "smithy.api#documentation": "<p>(Optional)</p>\n        <p>The name of an IAM role that AWS Organizations automatically preconfigures in the new member\n            accounts in both the AWS GovCloud (US) Region and in the commercial Region. This role\n            trusts the management account, allowing users in the management account to assume the\n            role, as permitted by the management account administrator. The role has administrator\n            permissions in the new member account.</p>\n        <p>If you don't specify this parameter, the role name defaults to\n                <code>OrganizationAccountAccessRole</code>.</p>\n        <p>For more information about how to use this role to access the member account, see\n                <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_access.html#orgs_manage_accounts_create-cross-account-role\">Accessing and Administering the Member Accounts in Your Organization</a> in the\n                <i>AWS Organizations User Guide</i> and steps 2 and 3 in <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/tutorial_cross-account-with-roles.html\">Tutorial: Delegate Access Across AWS Accounts Using IAM Roles</a> in the\n                <i>IAM User Guide.</i>\n         </p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> that \n    is used to validate this parameter. The pattern can include uppercase \n    letters, lowercase letters, digits with no spaces, and any of the following characters: =,.@-</p>"
          }
        },
        "IamUserAccessToBilling": {
          "target": "com.amazonaws.organizations#IAMUserAccessToBilling",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>ALLOW</code>, the new linked account in the commercial Region enables\n            IAM users to access account billing information <i>if</i> they have the\n            required permissions. If set to <code>DENY</code>, only the root user of the new account\n            can access account billing information. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html#ControllingAccessWebsite-Activate\">Activating\n                Access to the Billing and Cost Management Console</a> in the\n                <i>AWS Billing and Cost Management User Guide.</i>\n         </p>\n        <p>If you don't specify this parameter, the value defaults to <code>ALLOW</code>, and\n            IAM users and roles with the required permissions can access billing information for\n            the new account.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.organizations#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you want to attach to the newly created account. These tags are\n            attached to the commercial account associated with the GovCloud account, and not to the\n            GovCloud account itself. To add tags to the actual GovCloud account, call the <a>TagResource</a> operation in the GovCloud region after the new GovCloud\n            account exists.</p>\n        <p>For each tag in the list, you must specify both a tag key and a value. You can set the\n            value to an empty string, but you can't set it to <code>null</code>. For more\n            information about tagging, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_tagging.html\">Tagging AWS Organizations resources</a>\n            in the AWS Organizations User Guide.</p>\n        <note>\n            <p>If any one of the tags is invalid or if you exceed the allowed number of tags for\n                an account, then the entire request fails and the account is not created.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateGovCloudAccountResponse": {
      "type": "structure",
      "members": {
        "CreateAccountStatus": {
          "target": "com.amazonaws.organizations#CreateAccountStatus"
        }
      }
    },
    "com.amazonaws.organizations#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CreateOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AccessDeniedForDependencyException"
        },
        {
          "target": "com.amazonaws.organizations#AlreadyInOrganizationException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS organization. The account whose user is calling the\n                <code>CreateOrganization</code> operation automatically becomes the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">management account</a> of the new organization.</p>\n        <p>This operation must be called using credentials from the account that is to become the\n            new organization's management account. The principal must also have the relevant IAM\n            permissions.</p>\n        <p>By default (or if you set the <code>FeatureSet</code> parameter to <code>ALL</code>),\n            the new organization is created with all features enabled and service control policies\n            automatically enabled in the root. If you instead choose to create the organization\n            supporting only the consolidated billing features by setting the <code>FeatureSet</code>\n            parameter to <code>CONSOLIDATED_BILLING\"</code>, no policy types are enabled by default,\n            and you can't use organization policies</p>"
      }
    },
    "com.amazonaws.organizations#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "FeatureSet": {
          "target": "com.amazonaws.organizations#OrganizationFeatureSet",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the feature set supported by the new organization. Each feature set supports\n            different levels of functionality.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>CONSOLIDATED_BILLING</code>: All member accounts have their bills\n                    consolidated to and paid by the management account. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#feature-set-cb-only\">Consolidated billing</a> in the\n                    <i>AWS Organizations User Guide.</i>\n               </p>\n                <p> The consolidated billing feature subset isn't available for organizations in\n                    the AWS GovCloud (US) Region.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ALL</code>: In addition to all the features supported by the\n                    consolidated billing feature set, the management account can also apply any\n                    policy type to any member account in the organization. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#feature-set-all\">All\n                        features</a> in the <i>AWS Organizations User Guide.</i>\n               </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateOrganizationResponse": {
      "type": "structure",
      "members": {
        "Organization": {
          "target": "com.amazonaws.organizations#Organization",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateOrganizationalUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CreateOrganizationalUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CreateOrganizationalUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#DuplicateOrganizationalUnitException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#ParentNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an organizational unit (OU) within a root or parent OU. An OU is a container\n            for accounts that enables you to organize your accounts to apply policies according to\n            your business requirements. The number of levels deep that you can nest OUs is dependent\n            upon the policy types enabled for that root. For service control policies, the limit is\n            five.</p>\n        <p>For more information about OUs, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html\">Managing Organizational Units</a> in the\n                <i>AWS Organizations User Guide.</i>\n         </p>\n        <p>If the request includes tags, then the requester must have the\n                <code>organizations:TagResource</code> permission.</p>\n        <p>This operation can be called only from the organization's management account.</p>"
      }
    },
    "com.amazonaws.organizations#CreateOrganizationalUnitRequest": {
      "type": "structure",
      "members": {
        "ParentId": {
          "target": "com.amazonaws.organizations#ParentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ID) of the parent root or OU that you want to create the new OU\n            in.</p> \n         <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for a parent ID string requires one of the \n    following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Root</b> - A string that begins with \"r-\" followed by from 4 to 32 lowercase letters or \n          digits.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Organizational unit (OU)</b> - A string that begins with \"ou-\" followed by from 4 to 32\n          lowercase letters or digits (the ID of the root that the OU is in). This string is followed by a second \n          \"-\" dash and from 8 to 32 additional lowercase letters or digits.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.organizations#OrganizationalUnitName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name to assign to the new OU.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.organizations#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you want to attach to the newly created OU. For each tag in the\n            list, you must specify both a tag key and a value. You can set the value to an empty\n            string, but you can't set it to <code>null</code>. For more information about tagging,\n            see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_tagging.html\">Tagging AWS\n                Organizations resources</a> in the AWS Organizations User Guide.</p>\n        <note>\n            <p>If any one of the tags is invalid or if you exceed the allowed number of tags for\n                an OU, then the entire request fails and the OU is not created.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreateOrganizationalUnitResponse": {
      "type": "structure",
      "members": {
        "OrganizationalUnit": {
          "target": "com.amazonaws.organizations#OrganizationalUnit",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created OU.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#CreatePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#CreatePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#AWSOrganizationsNotInUseException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#ConstraintViolationException"
        },
        {
          "target": "com.amazonaws.organizations#DuplicatePolicyException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
          "target": "com.amazonaws.organizations#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.organizations#PolicyTypeNotAvailableForOrganizationException"
        },
        {
          "target": "com.amazonaws.organizations#ServiceException"
        },
        {
          "target": "com.amazonaws.organizations#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.organizations#UnsupportedAPIEndpointException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a policy of a specified type that you can attach to a root, an organizational\n            unit (OU), or an individual AWS account.</p>\n        <p>For more information about policies and their use, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies.html\">Managing\n                Organization Policies</a>.</p>\n        <p>If the request includes tags, then the requester must have the\n                <code>organizations:TagResource</code> permission.</p>\n        <p>This operation can be called only from the organization's management account.</p>"
      }
    },
    "com.amazonaws.organizations#CreatePolicyRequest": {
      "type": "structure",
      "members": {
        "Content": {
          "target": "com.amazonaws.organizations#PolicyContent",
          "traits": {
            "smithy.api#documentation": "<p>The policy text content to add to the new policy. The text that you supply must adhere\n            to the rules of the policy type you specify in the <code>Type</code> parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.organizations#PolicyDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description to assign to the policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.organizations#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name to assign to the policy.</p>\n        <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> \n    that is used to validate this parameter is a string of any of the characters in the ASCII \n    character range.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.organizations#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of policy to create. You can specify one of the following values:</p>\n        <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_ai-opt-out.html\">AISERVICES_OPT_OUT_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_backup.html\">BACKUP_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html\">SERVICE_CONTROL_POLICY</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_tag-policies.html\">TAG_POLICY</a>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.organizations#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags that you want to attach to the newly created policy. For each tag in\n            the list, you must specify both a tag key and a value. You can set the value to an empty\n            string, but you can't set it to <code>null</code>. For more information about tagging,\n            see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_tagging.html\">Tagging AWS\n                Organizations resources</a> in the AWS Organizations User Guide.</p>\n        <note>\n            <p>If any one of the tags is invalid or if you exceed the allowed number of tags for\n                a policy, then the entire request fails and the policy is not created.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.organizations#CreatePolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.organizations#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains details about the newly created policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.organizations#DeclineHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.organizations#DeclineHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.organizations#DeclineHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.organizations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.organizations#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeAlreadyInStateException"
        },
        {
          "target": "com.amazonaws.organizations#HandshakeNotFoundException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidHandshakeTransitionException"
        },
        {
          "target": "com.amazonaws.organizations#InvalidInputException"
        },
        {
[...]
