{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.outposts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.outposts#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.outposts#Address": {
      "type": "structure",
      "members": {
        "ContactName": {
          "target": "com.amazonaws.outposts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact.</p>"
          }
        },
        "ContactPhoneNumber": {
          "target": "com.amazonaws.outposts#ContactPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact.</p>"
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.outposts#AddressLine1",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the address.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.outposts#AddressLine2",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the address.</p>"
          }
        },
        "AddressLine3": {
          "target": "com.amazonaws.outposts#AddressLine3",
          "traits": {
            "smithy.api#documentation": "<p>The third line of the address.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.outposts#City",
          "traits": {
            "smithy.api#documentation": "<p>The city for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.outposts#StateOrRegion",
          "traits": {
            "smithy.api#documentation": "<p>The state for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "DistrictOrCounty": {
          "target": "com.amazonaws.outposts#DistrictOrCounty",
          "traits": {
            "smithy.api#documentation": "<p>The district or county for the address.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.outposts#PostalCode",
          "traits": {
            "smithy.api#documentation": "<p>The postal code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.outposts#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-3166 two-letter country code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "Municipality": {
          "target": "com.amazonaws.outposts#Municipality",
          "traits": {
            "smithy.api#documentation": "<p>The municipality for the address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about an address.\n    </p>"
      }
    },
    "com.amazonaws.outposts#AddressLine1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine2": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressType": {
      "type": "enum",
      "members": {
        "SHIPPING_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING_ADDRESS"
          }
        },
        "OPERATING_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_ADDRESS"
          }
        }
      }
    },
    "com.amazonaws.outposts#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1011
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:([a-z\\d-]+)/)[a-z]{2,8}-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#AssetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(\\w+)$"
      }
    },
    "com.amazonaws.outposts#AssetInfo": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the asset.\n    </p>"
          }
        },
        "RackId": {
          "target": "com.amazonaws.outposts#RackId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The rack ID of the asset. \n    </p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.outposts#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of the asset.\n    </p>"
          }
        },
        "ComputeAttributes": {
          "target": "com.amazonaws.outposts#ComputeAttributes",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about compute hardware assets. \n    </p>"
          }
        },
        "AssetLocation": {
          "target": "com.amazonaws.outposts#AssetLocation",
          "traits": {
            "smithy.api#documentation": "<p>\n      The position of an asset in a rack. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about hardware assets.\n    </p>"
      }
    },
    "com.amazonaws.outposts#AssetListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetInfo"
      }
    },
    "com.amazonaws.outposts#AssetLocation": {
      "type": "structure",
      "members": {
        "RackElevation": {
          "target": "com.amazonaws.outposts#RackElevation",
          "traits": {
            "smithy.api#documentation": "<p>\n      The position of an asset in a rack measured in rack units.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about the position of the asset in a rack. \n    </p>"
      }
    },
    "com.amazonaws.outposts#AssetState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "RETIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRING"
          }
        }
      }
    },
    "com.amazonaws.outposts#AssetType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE"
          }
        }
      }
    },
    "com.amazonaws.outposts#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^([a-zA-Z]+-){1,3}([a-zA-Z]+)?(\\d+[a-zA-Z]?)?$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z]+\\d-[a-zA-Z]+\\d$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZoneId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#CIDR": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 9,
          "max": 18
        },
        "smithy.api#pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}/[0-9]{1,2}$"
      }
    },
    "com.amazonaws.outposts#CIDRList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CIDR"
      }
    },
    "com.amazonaws.outposts#CancelOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CancelOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CancelOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified order for an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders/{OrderId}/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CancelOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the order.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#CancelOrderOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#CatalogItem": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the catalog item.\n    </p>"
          }
        },
        "ItemStatus": {
          "target": "com.amazonaws.outposts#CatalogItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of a catalog item.\n    </p>"
          }
        },
        "EC2Capacities": {
          "target": "com.amazonaws.outposts#EC2CapacityListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the EC2 capacity of an item.\n    </p>"
          }
        },
        "PowerKva": {
          "target": "com.amazonaws.outposts#CatalogItemPowerKva",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the power draw of an item.\n    </p>"
          }
        },
        "WeightLbs": {
          "target": "com.amazonaws.outposts#CatalogItemWeightLbs",
          "traits": {
            "smithy.api#documentation": "<p> The weight of the item in pounds. </p>"
          }
        },
        "SupportedUplinkGbps": {
          "target": "com.amazonaws.outposts#SupportedUplinkGbpsListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The uplink speed this catalog item requires for the \n      connection to the Region.\n    </p>"
          }
        },
        "SupportedStorage": {
          "target": "com.amazonaws.outposts#SupportedStorageList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The supported storage options for the catalog item.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about a catalog item. </p>"
      }
    },
    "com.amazonaws.outposts#CatalogItemClass": {
      "type": "enum",
      "members": {
        "RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RACK"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        }
      }
    },
    "com.amazonaws.outposts#CatalogItemClassList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItemClass"
      }
    },
    "com.amazonaws.outposts#CatalogItemListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItem"
      }
    },
    "com.amazonaws.outposts#CatalogItemPowerKva": {
      "type": "float"
    },
    "com.amazonaws.outposts#CatalogItemStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DISCONTINUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONTINUED"
          }
        }
      }
    },
    "com.amazonaws.outposts#CatalogItemWeightLbs": {
      "type": "integer"
    },
    "com.amazonaws.outposts#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#CityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#City"
      }
    },
    "com.amazonaws.outposts#ComputeAssetState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ISOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISOLATED"
          }
        },
        "RETIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRING"
          }
        }
      }
    },
    "com.amazonaws.outposts#ComputeAttributes": {
      "type": "structure",
      "members": {
        "HostId": {
          "target": "com.amazonaws.outposts#HostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The host ID of the Dedicated Host on the asset.\n    </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.outposts#ComputeAssetState",
          "traits": {
            "smithy.api#documentation": "<p>The state.</p>\n         <ul>\n            <li>\n               <p>ACTIVE - The asset is available and can provide capacity for new compute resources.</p>\n            </li>\n            <li>\n               <p>ISOLATED - The asset is undergoing maintenance and can't provide capacity for new compute resources.\n            Existing compute resources on the asset are not affected.</p>\n            </li>\n            <li>\n               <p>RETIRING - The underlying hardware for the asset is degraded. Capacity for new compute resources is reduced.\n            Amazon Web Services sends notifications for resources that must be stopped before the asset can be replaced.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about compute hardware assets.\n    </p>"
      }
    },
    "com.amazonaws.outposts#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        },
        "ResourceId": {
          "target": "com.amazonaws.outposts#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource causing the conflict.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.outposts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource causing the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.outposts#ConnectionDetails": {
      "type": "structure",
      "members": {
        "ClientPublicKey": {
          "target": "com.amazonaws.outposts#WireGuardPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>\n      The public key of the client.\n    </p>"
          }
        },
        "ServerPublicKey": {
          "target": "com.amazonaws.outposts#WireGuardPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>\n      The public key of the server.\n    </p>"
          }
        },
        "ServerEndpoint": {
          "target": "com.amazonaws.outposts#ServerEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>\n      The endpoint for the server.\n    </p>"
          }
        },
        "ClientTunnelAddress": {
          "target": "com.amazonaws.outposts#CIDR",
          "traits": {
            "smithy.api#documentation": "<p>\n      The client tunnel address. \n    </p>"
          }
        },
        "ServerTunnelAddress": {
          "target": "com.amazonaws.outposts#CIDR",
          "traits": {
            "smithy.api#documentation": "<p>\n      The server tunnel address.\n    </p>"
          }
        },
        "AllowedIps": {
          "target": "com.amazonaws.outposts#CIDRList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The allowed IP addresses.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n    Information about a connection. \n    </p>"
      }
    },
    "com.amazonaws.outposts#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9+/=]{1,1024}$"
      }
    },
    "com.amazonaws.outposts#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#ContactPhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.outposts#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CountryCode"
      }
    },
    "com.amazonaws.outposts#CreateOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOrderInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "LineItems": {
          "target": "com.amazonaws.outposts#LineItemRequestListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The line items that make up the order.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment terms.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order",
          "traits": {
            "smithy.api#documentation": "<p>Information about this order.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Outpost.</p>\n         <p>You can specify either an Availability one or an AZ ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/outposts",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the Outpost.</p>"
          }
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of hardware for this Outpost.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a site for an Outpost.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateSiteInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#SiteName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Notes": {
          "target": "com.amazonaws.outposts#SiteNotes",
          "traits": {
            "smithy.api#documentation": "<p>Additional information that you provide about site access requirements, electrician\n      scheduling, personal protective equipment, or regulation of equipment materials that could\n      affect your installation process. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      The tags to apply to a site.\n    </p>"
          }
        },
        "OperatingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      The location to install and power on the hardware. This address might be \n      different from the shipping address.\n    </p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      The location to ship the hardware. This address might be different \n      from the operating address.\n    </p>"
          }
        },
        "RackPhysicalProperties": {
          "target": "com.amazonaws.outposts#RackPhysicalProperties",
          "traits": {
            "smithy.api#documentation": "<p> Information about the physical and logistical details for the rack at this site.\n      For more information\n      about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network \n        readiness checklist</a> in the Amazon Web Services Outposts User Guide.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpostOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#DeleteSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified site.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#DeleteSiteOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#DeviceSerialNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(\\w+)$"
      }
    },
    "com.amazonaws.outposts#DistrictOrCounty": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#EC2Capacity": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.outposts#Family",
          "traits": {
            "smithy.api#documentation": "<p>\n      The family of the EC2 capacity.\n    </p>"
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.outposts#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>\n      The maximum size of the EC2 capacity.\n    </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#Quantity",
          "traits": {
            "smithy.api#documentation": "<p>\n      The quantity of the EC2 capacity.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about EC2 capacity. </p>"
      }
    },
    "com.amazonaws.outposts#EC2CapacityListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#EC2Capacity"
      }
    },
    "com.amazonaws.outposts#EC2FamilyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#Family"
      }
    },
    "com.amazonaws.outposts#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#Family": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^[a-z0-9]+$"
      }
    },
    "com.amazonaws.outposts#FiberOpticCableType": {
      "type": "enum",
      "members": {
        "SINGLE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_MODE"
          }
        },
        "MULTI_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_MODE"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetCatalogItemInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetCatalogItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified catalog item.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog/item/{CatalogItemId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItemInput": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItemOutput": {
      "type": "structure",
      "members": {
        "CatalogItem": {
          "target": "com.amazonaws.outposts#CatalogItem",
          "traits": {
            "smithy.api#documentation": "<p>Information about this catalog item.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>\n      Amazon Web Services uses this action to install Outpost servers.</p>\n         </note>\n         <p>\n      Gets information about the specified connection.\n    </p>\n         <p>\n      Use CloudTrail to monitor this action or Amazon Web Services managed policy for Amazon Web Services Outposts to secure it. For \n      more information, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/security-iam-awsmanpol.html\">\n      Amazon Web Services managed policies for Amazon Web Services Outposts</a> and <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/logging-using-cloudtrail.html\">\n      Logging Amazon Web Services Outposts API calls with Amazon Web Services CloudTrail</a> in the <i>Amazon Web Services Outposts User Guide</i>.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/connections/{ConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.outposts#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the connection.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetConnectionResponse": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.outposts#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the connection.\n    </p>"
          }
        },
        "ConnectionDetails": {
          "target": "com.amazonaws.outposts#ConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n     Information about the connection.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orders/{OrderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the order.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the instance types for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}/instanceTypes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesOutput": {
      "type": "structure",
      "members": {
        "InstanceTypes": {
          "target": "com.amazonaws.outposts#InstanceTypeListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#GetSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost site.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteAddressInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteAddressOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Gets the site address of the specified site.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}/address",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddressInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the address you request. </p>",
            "smithy.api#httpQuery": "AddressType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddressOutput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the address you receive. </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the address.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      }
    },
    "com.amazonaws.outposts#HostId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[A-Za-z0-9-]*$"
      }
    },
    "com.amazonaws.outposts#HostIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#HostId"
      }
    },
    "com.amazonaws.outposts#ISO8601Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.outposts#InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeItem": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#InstanceTypeItem"
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the instance types.</p>"
      }
    },
    "com.amazonaws.outposts#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.outposts#LifeCycleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The life cycle status.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[ A-Za-z]+$"
      }
    },
    "com.amazonaws.outposts#LifeCycleStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LifeCycleStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#LineItem": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the catalog item.\n    </p>"
          }
        },
        "LineItemId": {
          "target": "com.amazonaws.outposts#LineItemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the line item.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#LineItemQuantity",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The quantity of the line item.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#LineItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the line item.</p>"
          }
        },
        "ShipmentInformation": {
          "target": "com.amazonaws.outposts#ShipmentInformation",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about a line item shipment.\n    </p>"
          }
        },
        "AssetInformationList": {
          "target": "com.amazonaws.outposts#LineItemAssetInformationList",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about assets.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a line item.</p>"
      }
    },
    "com.amazonaws.outposts#LineItemAssetInformation": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the asset.\n    </p>"
          }
        },
        "MacAddressList": {
          "target": "com.amazonaws.outposts#MacAddressList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The MAC addresses of the asset.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about a line item asset.\n    </p>"
      }
    },
    "com.amazonaws.outposts#LineItemAssetInformationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LineItemAssetInformation"
      }
    },
    "com.amazonaws.outposts#LineItemId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ooi-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#LineItemListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LineItem"
      }
    },
    "com.amazonaws.outposts#LineItemQuantity": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.outposts#LineItemRequest": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog item.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#LineItemQuantity",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The quantity of a line item request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a line item request.</p>"
      }
    },
    "com.amazonaws.outposts#LineItemRequestListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LineItemRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.outposts#LineItemStatus": {
      "type": "enum",
      "members": {
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "BUILDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUILDING"
          }
        },
        "SHIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPED"
          }
        },
        "DELIVERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELIVERED"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "INSTALLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.amazonaws.outposts#LineItemStatusCounts": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.outposts#LineItemStatus"
      },
      "value": {
        "target": "com.amazonaws.outposts#LineItemQuantity"
      }
    },
    "com.amazonaws.outposts#ListAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListAssetsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListAssetsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the hardware assets for the specified Outpost.</p>\n         <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match \n all of the specified filters. For a filter where you can specify multiple values, the results include \n items that match any of the values that you specify for the filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostIdentifier}/assets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListAssetsInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "HostIdFilter": {
          "target": "com.amazonaws.outposts#HostIdList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by the host ID of a Dedicated Host.</p>",
            "smithy.api#httpQuery": "HostIdFilter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "StatusFilter": {
          "target": "com.amazonaws.outposts#StatusList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by state.</p>",
            "smithy.api#httpQuery": "StatusFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListAssetsOutput": {
      "type": "structure",
      "members": {
        "Assets": {
          "target": "com.amazonaws.outposts#AssetListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the hardware assets.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListCatalogItemsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListCatalogItemsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the items in the catalog.</p>\n         <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match \n all of the specified filters. For a filter where you can specify multiple values, the results include \n items that match any of the values that you specify for the filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog/items",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListCatalogItemsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "ItemClassFilter": {
          "target": "com.amazonaws.outposts#CatalogItemClassList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by item class.</p>",
            "smithy.api#httpQuery": "ItemClassFilter"
          }
        },
        "SupportedStorageFilter": {
          "target": "com.amazonaws.outposts#SupportedStorageList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by storage option.</p>",
            "smithy.api#httpQuery": "SupportedStorageFilter"
          }
        },
        "EC2FamilyFilter": {
          "target": "com.amazonaws.outposts#EC2FamilyList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by EC2 family (for example, M5).</p>",
            "smithy.api#httpQuery": "EC2FamilyFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListCatalogItemsOutput": {
      "type": "structure",
      "members": {
        "CatalogItems": {
          "target": "com.amazonaws.outposts#CatalogItemListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the catalog items.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListOrders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListOrdersInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListOrdersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Outpost orders for your Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/list-orders",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListOrdersInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifierFilter": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpQuery": "OutpostIdentifierFilter"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListOrdersOutput": {
      "type": "structure",
      "members": {
        "Orders": {
          "target": "com.amazonaws.outposts#OrderSummaryListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the orders. \n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListOutposts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListOutpostsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListOutpostsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Outposts for your Amazon Web Services account.</p>\n         <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match \n all of the specified filters. For a filter where you can specify multiple values, the results include \n items that match any of the values that you specify for the filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "LifeCycleStatusFilter": {
          "target": "com.amazonaws.outposts#LifeCycleStatusList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by the lifecycle status.</p>",
            "smithy.api#httpQuery": "LifeCycleStatusFilter"
          }
        },
        "AvailabilityZoneFilter": {
          "target": "com.amazonaws.outposts#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by Availability Zone (for example, <code>us-east-1a</code>).</p>",
            "smithy.api#httpQuery": "AvailabilityZoneFilter"
          }
        },
        "AvailabilityZoneIdFilter": {
          "target": "com.amazonaws.outposts#AvailabilityZoneIdList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by AZ ID (for example, <code>use1-az1</code>).</p>",
            "smithy.api#httpQuery": "AvailabilityZoneIdFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsOutput": {
      "type": "structure",
      "members": {
        "Outposts": {
          "target": "com.amazonaws.outposts#outpostListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListSites": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListSitesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListSitesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Outpost sites for your Amazon Web Services account. Use filters to return specific results.</p>\n         <p>Use filters to return specific results. If you specify multiple filters, the results include only the resources that match \n all of the specified filters. For a filter where you can specify multiple values, the results include \n items that match any of the values that you specify for the filter.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListSitesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "OperatingAddressCountryCodeFilter": {
          "target": "com.amazonaws.outposts#CountryCodeList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by country code.</p>",
            "smithy.api#httpQuery": "OperatingAddressCountryCodeFilter"
          }
        },
        "OperatingAddressStateOrRegionFilter": {
          "target": "com.amazonaws.outposts#StateOrRegionList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by state or region.</p>",
            "smithy.api#httpQuery": "OperatingAddressStateOrRegionFilter"
          }
        },
        "OperatingAddressCityFilter": {
          "target": "com.amazonaws.outposts#CityList",
          "traits": {
            "smithy.api#documentation": "<p>Filters the results by city.</p>",
            "smithy.api#httpQuery": "OperatingAddressCityFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListSitesOutput": {
      "type": "structure",
      "members": {
        "Sites": {
          "target": "com.amazonaws.outposts#siteListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.outposts#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The resource tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#MacAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 17,
          "max": 17
        },
        "smithy.api#pattern": "^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$"
      }
    },
    "com.amazonaws.outposts#MacAddressList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#MacAddress"
      }
    },
    "com.amazonaws.outposts#MaxResults1000": {
      "type": "integer",
      "traits": {
        "smithy.api#documentation": "<p>The maximum page size.</p>",
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.outposts#MaxSize": {
      "type": "string"
    },
    "com.amazonaws.outposts#MaximumSupportedWeightLbs": {
      "type": "enum",
      "members": {
        "NO_LIMIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_LIMIT"
          }
        },
        "MAX_1400_LBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_1400_LBS"
          }
        },
        "MAX_1600_LBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_1600_LBS"
          }
        },
        "MAX_1800_LBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_1800_LBS"
          }
        },
        "MAX_2000_LBS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX_2000_LBS"
          }
        }
      }
    },
    "com.amazonaws.outposts#Municipality": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 180
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#NetworkInterfaceDeviceIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.outposts#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.outposts#OpticalStandard": {
      "type": "enum",
      "members": {
        "OPTIC_10GBASE_SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_10GBASE_SR"
          }
        },
        "OPTIC_10GBASE_IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_10GBASE_IR"
          }
        },
        "OPTIC_10GBASE_LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_10GBASE_LR"
          }
        },
        "OPTIC_40GBASE_SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_40GBASE_SR"
          }
        },
        "OPTIC_40GBASE_ESR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_40GBASE_ESR"
          }
        },
        "OPTIC_40GBASE_IR4_LR4L": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_40GBASE_IR4_LR4L"
          }
        },
        "OPTIC_40GBASE_LR4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_40GBASE_LR4"
          }
        },
        "OPTIC_100GBASE_SR4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_100GBASE_SR4"
          }
        },
        "OPTIC_100GBASE_CWDM4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_100GBASE_CWDM4"
          }
        },
        "OPTIC_100GBASE_LR4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_100GBASE_LR4"
          }
        },
        "OPTIC_100G_PSM4_MSA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_100G_PSM4_MSA"
          }
        },
        "OPTIC_1000BASE_LX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_1000BASE_LX"
          }
        },
        "OPTIC_1000BASE_SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPTIC_1000BASE_SX"
          }
        }
      }
    },
    "com.amazonaws.outposts#Order": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostIdOnly",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost in the order.\n    </p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the order.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#OrderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the order.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PREPARING</code> - Order is received and being prepared.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Order is either being built, shipped, or installed. To get more\n          details, see the line item status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Order is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> - Order is cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - Customer should contact support.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The following status are deprecated: <code>RECEIVED</code>, <code>PENDING</code>,\n          <code>PROCESSING</code>, <code>INSTALLING</code>, and <code>FULFILLED</code>. </p>\n         </note>"
          }
        },
        "LineItems": {
          "target": "com.amazonaws.outposts#LineItemListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The line items for the order</p>"
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option for the order.</p>"
          }
        },
        "OrderSubmissionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The submission date for the order.</p>"
          }
        },
        "OrderFulfilledDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment date of the order.</p>"
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment term.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an order.</p>"
      }
    },
    "com.amazonaws.outposts#OrderId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^oo-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OrderStatus": {
      "type": "enum",
      "members": {
        "RECEIVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "PROCESSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROCESSING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        },
        "FULFILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULFILLED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.outposts#OrderSummary": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostIdOnly",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the order.\n    </p>"
          }
        },
        "OrderType": {
          "target": "com.amazonaws.outposts#OrderType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of order. \n    </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#OrderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the order.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PREPARING</code> - Order is received and is being prepared.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Order is either being built, shipped, or installed. For more\n          information, see the <code>LineItem</code> status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Order is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> - Order is cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - Customer should contact support.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The following statuses are deprecated: <code>RECEIVED</code>, <code>PENDING</code>,\n          <code>PROCESSING</code>, <code>INSTALLING</code>, and <code>FULFILLED</code>. </p>\n         </note>"
          }
        },
        "LineItemCountsByStatus": {
          "target": "com.amazonaws.outposts#LineItemStatusCounts",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of all line items in the order. \n    </p>"
          }
        },
        "OrderSubmissionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      The submission date for the order. \n    </p>"
          }
        },
        "OrderFulfilledDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      The fulfilment date for the order.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A summary of line items in your order.\n    </p>"
      }
    },
    "com.amazonaws.outposts#OrderSummaryListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#OrderSummary"
      }
    },
    "com.amazonaws.outposts#OrderType": {
      "type": "enum",
      "members": {
        "OUTPOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST"
          }
        },
        "REPLACEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REPLACEMENT"
          }
        }
      }
    },
    "com.amazonaws.outposts#Outpost": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.outposts#OwnerId"
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "LifeCycleStatus": {
          "target": "com.amazonaws.outposts#LifeCycleStatus"
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The Outpost tags.</p>"
          }
        },
        "SiteArn": {
          "target": "com.amazonaws.outposts#SiteArn"
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The hardware type. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Outpost.</p>"
      }
    },
    "com.amazonaws.outposts#OutpostArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the Outpost.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#OutpostId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostIdOnly": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#OutpostsOlafService": {
      "type": "service",
      "version": "2019-12-03",
      "operations": [
        {
          "target": "com.amazonaws.outposts#CancelOrder"
        },
        {
          "target": "com.amazonaws.outposts#CreateOrder"
        },
        {
          "target": "com.amazonaws.outposts#CreateOutpost"
        },
        {
          "target": "com.amazonaws.outposts#CreateSite"
        },
        {
          "target": "com.amazonaws.outposts#DeleteOutpost"
        },
        {
          "target": "com.amazonaws.outposts#DeleteSite"
        },
        {
          "target": "com.amazonaws.outposts#GetCatalogItem"
        },
        {
          "target": "com.amazonaws.outposts#GetConnection"
        },
        {
          "target": "com.amazonaws.outposts#GetOrder"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpost"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpostInstanceTypes"
        },
        {
          "target": "com.amazonaws.outposts#GetSite"
        },
        {
          "target": "com.amazonaws.outposts#GetSiteAddress"
        },
        {
          "target": "com.amazonaws.outposts#ListAssets"
        },
        {
          "target": "com.amazonaws.outposts#ListCatalogItems"
        },
        {
          "target": "com.amazonaws.outposts#ListOrders"
        },
        {
          "target": "com.amazonaws.outposts#ListOutposts"
        },
        {
          "target": "com.amazonaws.outposts#ListSites"
        },
        {
          "target": "com.amazonaws.outposts#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.outposts#StartConnection"
        },
        {
          "target": "com.amazonaws.outposts#TagResource"
        },
        {
          "target": "com.amazonaws.outposts#UntagResource"
        },
        {
          "target": "com.amazonaws.outposts#UpdateOutpost"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSite"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSiteAddress"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSiteRackPhysicalProperties"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Outposts",
          "arnNamespace": "outposts",
          "cloudFormationName": "Outposts",
          "cloudTrailEventSource": "outposts.amazonaws.com",
          "endpointPrefix": "outposts"
        },
        "aws.auth#sigv4": {
          "name": "outposts"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Web Services Outposts is a fully managed service that extends Amazon Web Services infrastructure, APIs, and tools\n      to customer premises. By providing local access to Amazon Web Services managed infrastructure, Amazon Web Services Outposts\n      enables customers to build and run applications on premises using the same programming\n      interfaces as in Amazon Web Services Regions, while using local compute and storage resources for lower\n      latency and local data processing needs.</p>",
        "smithy.api#title": "AWS Outposts",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://outposts-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://outposts-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
[...]
