{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.outposts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.outposts#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the AWS account.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        }
      }
    },
    "com.amazonaws.outposts#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-z\\d-]+"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[a-z]+[0-9]+-az[0-9]+"
      }
    },
    "com.amazonaws.outposts#CreateOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/outposts",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostInput": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#GetOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the instance types for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}/instanceTypes",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesOutput": {
      "type": "structure",
      "members": {
        "InstanceTypes": {
          "target": "com.amazonaws.outposts#InstanceTypeListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeItem": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#InstanceTypeItem"
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the instance types.</p>"
      }
    },
    "com.amazonaws.outposts#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.outposts#LifeCycleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The life cycle status.</p>"
      }
    },
    "com.amazonaws.outposts#ListOutposts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListOutpostsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListOutpostsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the Outposts for your AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "Outposts": {
          "target": "com.amazonaws.outposts#outpostListDefinition"
        }
      }
    },
    "com.amazonaws.outposts#ListSites": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListSitesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListSitesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the sites for the specified AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListSitesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListSitesOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "Sites": {
          "target": "com.amazonaws.outposts#siteListDefinition"
        }
      }
    },
    "com.amazonaws.outposts#MaxResults1000": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The maximum page size.</p>",
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.outposts#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.outposts#Outpost": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "LifeCycleStatus": {
          "target": "com.amazonaws.outposts#LifeCycleStatus"
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId"
        },
        "OwnerId": {
          "target": "com.amazonaws.outposts#OwnerId"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Outpost.</p>"
      }
    },
    "com.amazonaws.outposts#OutpostArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Outpost description.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#OutpostId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#OutpostsOlafService": {
      "type": "service",
      "version": "2019-12-03",
      "operations": [
        {
          "target": "com.amazonaws.outposts#CreateOutpost"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpost"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpostInstanceTypes"
        },
        {
          "target": "com.amazonaws.outposts#ListOutposts"
        },
        {
          "target": "com.amazonaws.outposts#ListSites"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Outposts",
          "arnNamespace": "outposts",
          "cloudFormationName": "Outposts",
          "cloudTrailEventSource": "model.service.olaf.outposts.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "outposts"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>AWS Outposts is a fully-managed service that extends AWS infrastructure, \n      APIs, and tools to customer premises. By providing local access to AWS-managed \n      infrastructure, AWS Outposts enables customers to build and run applications \n      on premises using the same programming interfaces as in AWS Regions, while \n      using local compute and storage resources for lower latency and local data \n      processing needs.</p>",
        "smithy.api#title": "AWS Outposts"
      }
    },
    "com.amazonaws.outposts#OwnerId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The AWS account ID of the Outpost owner.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "\\d{12}"
      }
    },
    "com.amazonaws.outposts#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded a service quota.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.outposts#Site": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.outposts#AccountId"
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Name": {
          "target": "com.amazonaws.outposts#SiteName"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a site.</p>"
      }
    },
    "com.amazonaws.outposts#SiteDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#SiteId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "os-[a-f0-9]{17}"
      }
    },
    "com.amazonaws.outposts#SiteName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#Token": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The pagination token.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1005
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.outposts#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.outposts#outpostListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#Outpost"
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the Outposts.</p>"
      }
    },
    "com.amazonaws.outposts#siteListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#Site"
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the sites.</p>"
      }
    }
  }
}
