{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.outposts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.outposts#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.outposts#Address": {
      "type": "structure",
      "members": {
        "ContactName": {
          "target": "com.amazonaws.outposts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact.</p>"
          }
        },
        "ContactPhoneNumber": {
          "target": "com.amazonaws.outposts#ContactPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact.</p>"
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.outposts#AddressLine1",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the address.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.outposts#AddressLine2",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the address.</p>"
          }
        },
        "AddressLine3": {
          "target": "com.amazonaws.outposts#AddressLine3",
          "traits": {
            "smithy.api#documentation": "<p>The third line of the address.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.outposts#City",
          "traits": {
            "smithy.api#documentation": "<p>The city for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.outposts#StateOrRegion",
          "traits": {
            "smithy.api#documentation": "<p>The state for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "DistrictOrCounty": {
          "target": "com.amazonaws.outposts#DistrictOrCounty",
          "traits": {
            "smithy.api#documentation": "<p>The district or county for the address.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.outposts#PostalCode",
          "traits": {
            "smithy.api#documentation": "<p>The postal code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.outposts#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-3166 two-letter country code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "Municipality": {
          "target": "com.amazonaws.outposts#Municipality",
          "traits": {
            "smithy.api#documentation": "<p>The municipality for the address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      Information about an address.\n    </p>"
      }
    },
    "com.amazonaws.outposts#AddressLine1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine2": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SHIPPING_ADDRESS",
            "name": "SHIPPING_ADDRESS"
          },
          {
            "value": "OPERATING_ADDRESS",
            "name": "OPERATING_ADDRESS"
          }
        ]
      }
    },
    "com.amazonaws.outposts#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1011
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:([a-z\\d-]+)/)[a-z]{2,8}-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^([a-zA-Z]+-){1,3}([a-zA-Z]+)?(\\d+[a-zA-Z]?)?$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z]+\\d-[a-zA-Z]+\\d$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZoneId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#CancelOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CancelOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CancelOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Cancels an order for an Outpost. \n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders/{OrderId}/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CancelOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the order to cancel.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#CancelOrderOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#CatalogItem": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the catalog item.\n    </p>"
          }
        },
        "ItemStatus": {
          "target": "com.amazonaws.outposts#CatalogItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of a catalog item.\n    </p>"
          }
        },
        "EC2Capacities": {
          "target": "com.amazonaws.outposts#EC2CapacityListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the EC2 capacity of an item.\n    </p>"
          }
        },
        "PowerKva": {
          "target": "com.amazonaws.outposts#CatalogItemPowerKva",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the power draw of an item.\n    </p>"
          }
        },
        "WeightLbs": {
          "target": "com.amazonaws.outposts#CatalogItemWeightLbs",
          "traits": {
            "smithy.api#documentation": "<p> The weight of the item in pounds. </p>"
          }
        },
        "SupportedUplinkGbps": {
          "target": "com.amazonaws.outposts#SupportedUplinkGbpsListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      The uplink speed this catalog item requires for the \n      connection to the Region.\n    </p>"
          }
        },
        "SupportedStorage": {
          "target": "com.amazonaws.outposts#SupportedStorageList",
          "traits": {
            "smithy.api#documentation": "<p>\n      The supported storage options for the catalog item.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about a catalog item. </p>"
      }
    },
    "com.amazonaws.outposts#CatalogItemClass": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RACK",
            "name": "RACK"
          },
          {
            "value": "SERVER",
            "name": "SERVER"
          }
        ]
      }
    },
    "com.amazonaws.outposts#CatalogItemClassList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItemClass"
      }
    },
    "com.amazonaws.outposts#CatalogItemListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItem"
      }
    },
    "com.amazonaws.outposts#CatalogItemPowerKva": {
      "type": "float",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.outposts#CatalogItemStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "DISCONTINUED",
            "name": "DISCONTINUED"
          }
        ]
      }
    },
    "com.amazonaws.outposts#CatalogItemWeightLbs": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.outposts#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#CityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#City"
      }
    },
    "com.amazonaws.outposts#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        },
        "ResourceId": {
          "target": "com.amazonaws.outposts#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource causing the conflict.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.outposts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource causing the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.outposts#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#ContactPhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.outposts#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CountryCode"
      }
    },
    "com.amazonaws.outposts#CreateOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOrderInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "LineItems": {
          "target": "com.amazonaws.outposts#LineItemRequestListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The line items that make up the order.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option for the order.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment terms for the order.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order",
          "traits": {
            "smithy.api#documentation": "<p>Information about this order.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Outpost.</p>\n         <p>You can specify <code>AvailabilityZone</code> or <code>AvailabilityZoneId</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/outposts",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the Outpost.</p>"
          }
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of hardware for this Outpost.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a site for an Outpost.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateSiteInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#SiteName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Notes": {
          "target": "com.amazonaws.outposts#SiteNotes",
          "traits": {
            "smithy.api#documentation": "<p>Additional information that you provide about site access requirements, electrician\n      scheduling, personal protective equipment, or regulation of equipment materials that could\n      affect your installation process. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      The tags to apply to a site.\n    </p>"
          }
        },
        "OperatingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      The location to install and power on the hardware. This address might be \n      different from the shipping address.\n    </p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      The location to ship the hardware. This address might be different \n      from the operating address.\n    </p>"
          }
        },
        "RackPhysicalProperties": {
          "target": "com.amazonaws.outposts#RackPhysicalProperties",
          "traits": {
            "smithy.api#documentation": "<p> Information about the physical and logistical details for the rack at this site.\n      For more information\n      about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network \n        readiness checklist</a> in the Amazon Web Services Outposts User Guide.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#CreateSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the Outpost.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpostOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#DeleteSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the site.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#DeleteSiteOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#DistrictOrCounty": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#EC2Capacity": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.outposts#Family",
          "traits": {
            "smithy.api#documentation": "<p>\n      The family of the EC2 capacity.\n    </p>"
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.outposts#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p>\n      The maximum size of the EC2 capacity.\n    </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#Quantity",
          "traits": {
            "smithy.api#documentation": "<p>\n      The quantity of the EC2 capacity.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about EC2 capacity. </p>"
      }
    },
    "com.amazonaws.outposts#EC2CapacityListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#EC2Capacity"
      }
    },
    "com.amazonaws.outposts#EC2FamilyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#Family"
      }
    },
    "com.amazonaws.outposts#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#Family": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^[a-z0-9]+$"
      }
    },
    "com.amazonaws.outposts#FiberOpticCableType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SINGLE_MODE",
            "name": "SINGLE_MODE"
          },
          {
            "value": "MULTI_MODE",
            "name": "MULTI_MODE"
          }
        ]
      }
    },
    "com.amazonaws.outposts#GetCatalogItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetCatalogItemInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetCatalogItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a catalog item.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog/item/{CatalogItemId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItemInput": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItemOutput": {
      "type": "structure",
      "members": {
        "CatalogItem": {
          "target": "com.amazonaws.outposts#CatalogItem",
          "traits": {
            "smithy.api#documentation": "<p>Information about this catalog item.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orders/{OrderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the order.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the instance types for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}/instanceTypes",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesOutput": {
      "type": "structure",
      "members": {
        "InstanceTypes": {
          "target": "com.amazonaws.outposts#InstanceTypeListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#GetSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Gets information about the specified Outpost site.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteAddressInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteAddressOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Gets the site address.\n    </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}/address",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddressInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p> The type of the address you request. </p>",
            "smithy.api#httpQuery": "AddressType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddressOutput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p> The type of the address you receive. </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the address.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#GetSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      }
    },
    "com.amazonaws.outposts#ISO8601Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.outposts#InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeItem": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#InstanceTypeItem"
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the instance types.</p>"
      }
    },
    "com.amazonaws.outposts#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.outposts#LifeCycleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The life cycle status.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[ A-Za-z]+$"
      }
    },
    "com.amazonaws.outposts#LifeCycleStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LifeCycleStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#LineItem": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the catalog item.\n    </p>"
          }
        },
        "LineItemId": {
          "target": "com.amazonaws.outposts#LineItemId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the line item.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#LineItemQuantity",
          "traits": {
            "smithy.api#documentation": "<p>The quantity of the line item.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#LineItemStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the line item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a line item.</p>"
      }
    },
    "com.amazonaws.outposts#LineItemId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ooi-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#LineItemListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LineItem"
      }
    },
    "com.amazonaws.outposts#LineItemQuantity": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.outposts#LineItemRequest": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog item.</p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#LineItemQuantity",
          "traits": {
            "smithy.api#documentation": "<p>The quantity of a line item request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a line item request.</p>"
      }
    },
    "com.amazonaws.outposts#LineItemRequestListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#LineItemRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.outposts#LineItemStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PREPARING",
            "name": "PREPARING"
          },
          {
            "value": "BUILDING",
            "name": "BUILDING"
          },
          {
            "value": "SHIPPED",
            "name": "SHIPPED"
          },
          {
            "value": "DELIVERED",
            "name": "DELIVERED"
          },
          {
            "value": "INSTALLING",
            "name": "INSTALLING"
          },
          {
            "value": "INSTALLED",
            "name": "INSTALLED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.outposts#LineItemStatusCounts": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.outposts#LineItemStatus"
      },
      "value": {
        "target": "com.amazonaws.outposts#LineItemQuantity"
      }
    },
    "com.amazonaws.outposts#ListCatalogItems": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListCatalogItemsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListCatalogItemsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Use to create a list of every item in the catalog. Add filters to your request to return a\n      more specific list of results. Use filters to match an item class, storage\n      option, or EC2 family. </p>\n         <p>If you specify multiple filters, the filters are joined with an <code>AND</code>, and\n      the request returns only results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog/items",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListCatalogItemsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "ItemClassFilter": {
          "target": "com.amazonaws.outposts#CatalogItemClassList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for the class of items in the catalog.\n    </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "ItemClassFilter"
          }
        },
        "SupportedStorageFilter": {
          "target": "com.amazonaws.outposts#SupportedStorageList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for the storage options of items in the catalog.\n    </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "SupportedStorageFilter"
          }
        },
        "EC2FamilyFilter": {
          "target": "com.amazonaws.outposts#EC2FamilyList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for EC2 family options for items in the catalog.\n    </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "EC2FamilyFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListCatalogItemsOutput": {
      "type": "structure",
      "members": {
        "CatalogItems": {
          "target": "com.amazonaws.outposts#CatalogItemListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Information about the catalog items.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListOrders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListOrdersInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListOrdersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a list of the Outpost orders for your Amazon Web Services account. You can filter your request by Outpost to \n      return a more specific list of results. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/list-orders",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListOrdersInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifierFilter": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpQuery": "OutpostIdentifierFilter"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListOrdersOutput": {
      "type": "structure",
      "members": {
        "Orders": {
          "target": "com.amazonaws.outposts#OrderSummaryListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the orders. \n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListOutposts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListOutpostsInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListOutpostsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a list of the Outposts for your Amazon Web Services account. Add filters to your request to return\n      a more specific list of results. Use filters to match an Outpost lifecycle status,\n      Availability Zone (<code>us-east-1a</code>), and AZ ID (<code>use1-az1</code>). </p>\n    \n         <p>If you specify multiple filters, the filters are joined with an <code>AND</code>, and the request returns only \n      results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "LifeCycleStatusFilter": {
          "target": "com.amazonaws.outposts#LifeCycleStatusList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for the lifecycle status of the Outpost. \n    </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "LifeCycleStatusFilter"
          }
        },
        "AvailabilityZoneFilter": {
          "target": "com.amazonaws.outposts#AvailabilityZoneList",
          "traits": {
            "smithy.api#documentation": "<p> A filter for the Availability Zone (<code>us-east-1a</code>) of the Outpost. </p>\n    \n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "AvailabilityZoneFilter"
          }
        },
        "AvailabilityZoneIdFilter": {
          "target": "com.amazonaws.outposts#AvailabilityZoneIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for the AZ IDs (<code>use1-az1</code>) of the Outpost.\n    </p>\n    \n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "AvailabilityZoneIdFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListOutpostsOutput": {
      "type": "structure",
      "members": {
        "Outposts": {
          "target": "com.amazonaws.outposts#outpostListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListSites": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListSitesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListSitesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a list of the Outpost sites for your Amazon Web Services account. Add operating address filters to your request to\n      return a more specific list of results. Use filters to match site city, country code, or state/region of the \n      operating address. </p>\n    \n         <p>If you specify multiple filters, the filters are joined with an <code>AND</code>, and the request returns only \n      results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#ListSitesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "OperatingAddressCountryCodeFilter": {
          "target": "com.amazonaws.outposts#CountryCodeList",
          "traits": {
            "smithy.api#documentation": "<p> A filter for the country code of the Outpost site. </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "OperatingAddressCountryCodeFilter"
          }
        },
        "OperatingAddressStateOrRegionFilter": {
          "target": "com.amazonaws.outposts#StateOrRegionList",
          "traits": {
            "smithy.api#documentation": "<p> A filter for the state/region of the Outpost site. </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "OperatingAddressStateOrRegionFilter"
          }
        },
        "OperatingAddressCityFilter": {
          "target": "com.amazonaws.outposts#CityList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A filter for the city of the Outpost site. \n    </p>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>",
            "smithy.api#httpQuery": "OperatingAddressCityFilter"
          }
        }
      }
    },
    "com.amazonaws.outposts#ListSitesOutput": {
      "type": "structure",
      "members": {
        "Sites": {
          "target": "com.amazonaws.outposts#siteListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.outposts#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The resource tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#MaxResults1000": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#documentation": "<p>The maximum page size.</p>",
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.outposts#MaxSize": {
      "type": "string"
    },
    "com.amazonaws.outposts#MaximumSupportedWeightLbs": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NO_LIMIT",
            "name": "NO_LIMIT"
          },
          {
            "value": "MAX_1400_LBS",
            "name": "MAX_1400_LBS"
          },
          {
            "value": "MAX_1600_LBS",
            "name": "MAX_1600_LBS"
          },
          {
            "value": "MAX_1800_LBS",
            "name": "MAX_1800_LBS"
          },
          {
            "value": "MAX_2000_LBS",
            "name": "MAX_2000_LBS"
          }
        ]
      }
    },
    "com.amazonaws.outposts#Municipality": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 180
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.outposts#OpticalStandard": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPTIC_10GBASE_SR",
            "name": "OPTIC_10GBASE_SR"
          },
          {
            "value": "OPTIC_10GBASE_IR",
            "name": "OPTIC_10GBASE_IR"
          },
          {
            "value": "OPTIC_10GBASE_LR",
            "name": "OPTIC_10GBASE_LR"
          },
          {
            "value": "OPTIC_40GBASE_SR",
            "name": "OPTIC_40GBASE_SR"
          },
          {
            "value": "OPTIC_40GBASE_ESR",
            "name": "OPTIC_40GBASE_ESR"
          },
          {
            "value": "OPTIC_40GBASE_IR4_LR4L",
            "name": "OPTIC_40GBASE_IR4_LR4L"
          },
          {
            "value": "OPTIC_40GBASE_LR4",
            "name": "OPTIC_40GBASE_LR4"
          },
          {
            "value": "OPTIC_100GBASE_SR4",
            "name": "OPTIC_100GBASE_SR4"
          },
          {
            "value": "OPTIC_100GBASE_CWDM4",
            "name": "OPTIC_100GBASE_CWDM4"
          },
          {
            "value": "OPTIC_100GBASE_LR4",
            "name": "OPTIC_100GBASE_LR4"
          },
          {
            "value": "OPTIC_100G_PSM4_MSA",
            "name": "OPTIC_100G_PSM4_MSA"
          },
          {
            "value": "OPTIC_1000BASE_LX",
            "name": "OPTIC_1000BASE_LX"
          },
          {
            "value": "OPTIC_1000BASE_SX",
            "name": "OPTIC_1000BASE_SX"
          }
        ]
      }
    },
    "com.amazonaws.outposts#Order": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostIdOnly",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost in the order.\n    </p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the order.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#OrderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the order.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PREPARING</code> - Order is received and being prepared.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Order is either being built, shipped, or installed. To get more\n          details, see the <code>LineItem</code> status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Order is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> - Order is cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - Customer should contact support.</p>\n            </li>\n         </ul>\n    \n         <note>\n            <p>The following status are deprecated: <code>RECEIVED</code>, <code>PENDING</code>,\n          <code>PROCESSING</code>, <code>INSTALLING</code>, and <code>FULFILLED</code>. </p>\n         </note>"
          }
        },
        "LineItems": {
          "target": "com.amazonaws.outposts#LineItemListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The line items for the order</p>"
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option for the order.</p>"
          }
        },
        "OrderSubmissionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The submission date for the order.</p>"
          }
        },
        "OrderFulfilledDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment date of the order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an order.</p>"
      }
    },
    "com.amazonaws.outposts#OrderId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^oo-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OrderStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RECEIVED",
            "name": "RECEIVED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "PROCESSING",
            "name": "PROCESSING"
          },
          {
            "value": "INSTALLING",
            "name": "INSTALLING"
          },
          {
            "value": "FULFILLED",
            "name": "FULFILLED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "PREPARING",
            "name": "PREPARING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.outposts#OrderSummary": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostIdOnly",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the order.\n    </p>"
          }
        },
        "OrderType": {
          "target": "com.amazonaws.outposts#OrderType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of order. \n    </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.outposts#OrderStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the order.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PREPARING</code> - Order is received and is being prepared.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Order is either being built, shipped, or installed. For more\n          information, see the <code>LineItem</code> status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - Order is complete.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> - Order is cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ERROR</code> - Customer should contact support.</p>\n            </li>\n         </ul>\n    \n         <note>\n            <p>The following statuses are deprecated: <code>RECEIVED</code>, <code>PENDING</code>,\n          <code>PROCESSING</code>, <code>INSTALLING</code>, and <code>FULFILLED</code>. </p>\n         </note>"
          }
        },
        "LineItemCountsByStatus": {
          "target": "com.amazonaws.outposts#LineItemStatusCounts",
          "traits": {
            "smithy.api#documentation": "<p>\n      The status of all line items in the order. \n    </p>"
          }
        },
        "OrderSubmissionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      Submission date for the order. \n    </p>"
          }
        },
        "OrderFulfilledDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n      Fulfilment date for the order.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A summary of line items in your order.\n    </p>"
      }
    },
    "com.amazonaws.outposts#OrderSummaryListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#OrderSummary"
      }
    },
    "com.amazonaws.outposts#OrderType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OUTPOST",
            "name": "OUTPOST"
          },
          {
            "value": "REPLACEMENT",
            "name": "REPLACEMENT"
          }
        ]
      }
    },
    "com.amazonaws.outposts#Outpost": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the Outpost.\n    </p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.outposts#OwnerId"
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "LifeCycleStatus": {
          "target": "com.amazonaws.outposts#LifeCycleStatus"
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The Outpost tags.</p>"
          }
        },
        "SiteArn": {
          "target": "com.amazonaws.outposts#SiteArn"
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The hardware type. \n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Outpost.</p>"
      }
    },
    "com.amazonaws.outposts#OutpostArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the Outpost.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#OutpostId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostIdOnly": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:outpost/)?op-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#OutpostName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the Outpost.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#OutpostsOlafService": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "Outposts",
          "arnNamespace": "outposts",
          "cloudFormationName": "Outposts",
          "cloudTrailEventSource": "outposts.amazonaws.com",
          "endpointPrefix": "outposts"
        },
        "aws.auth#sigv4": {
          "name": "outposts"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Web Services Outposts is a fully managed service that extends Amazon Web Services infrastructure, APIs, and tools\n      to customer premises. By providing local access to Amazon Web Services managed infrastructure, Amazon Web Services Outposts\n      enables customers to build and run applications on premises using the same programming\n      interfaces as in Amazon Web Services Regions, while using local compute and storage resources for lower\n      latency and local data processing needs.</p>",
        "smithy.api#title": "AWS Outposts"
      },
      "version": "2019-12-03",
      "operations": [
        {
          "target": "com.amazonaws.outposts#CancelOrder"
        },
        {
          "target": "com.amazonaws.outposts#CreateOrder"
        },
        {
          "target": "com.amazonaws.outposts#CreateOutpost"
        },
        {
          "target": "com.amazonaws.outposts#CreateSite"
        },
        {
          "target": "com.amazonaws.outposts#DeleteOutpost"
        },
        {
          "target": "com.amazonaws.outposts#DeleteSite"
        },
        {
          "target": "com.amazonaws.outposts#GetCatalogItem"
        },
        {
          "target": "com.amazonaws.outposts#GetOrder"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpost"
        },
        {
          "target": "com.amazonaws.outposts#GetOutpostInstanceTypes"
        },
        {
          "target": "com.amazonaws.outposts#GetSite"
        },
        {
          "target": "com.amazonaws.outposts#GetSiteAddress"
        },
        {
          "target": "com.amazonaws.outposts#ListCatalogItems"
        },
        {
          "target": "com.amazonaws.outposts#ListOrders"
        },
        {
          "target": "com.amazonaws.outposts#ListOutposts"
        },
        {
          "target": "com.amazonaws.outposts#ListSites"
        },
        {
          "target": "com.amazonaws.outposts#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.outposts#TagResource"
        },
        {
          "target": "com.amazonaws.outposts#UntagResource"
        },
        {
          "target": "com.amazonaws.outposts#UpdateOutpost"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSite"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSiteAddress"
        },
        {
          "target": "com.amazonaws.outposts#UpdateSiteRackPhysicalProperties"
        }
      ]
    },
    "com.amazonaws.outposts#OwnerId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Outpost owner.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.outposts#PaymentOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALL_UPFRONT",
            "name": "ALL_UPFRONT"
          },
          {
            "value": "NO_UPFRONT",
            "name": "NO_UPFRONT"
          },
          {
            "value": "PARTIAL_UPFRONT",
            "name": "PARTIAL_UPFRONT"
          }
        ]
      }
    },
    "com.amazonaws.outposts#PaymentTerm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "THREE_YEARS",
            "name": "THREE_YEARS"
          }
        ]
      }
    },
    "com.amazonaws.outposts#PostalCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^[a-zA-Z0-9 -]+$"
      }
    },
    "com.amazonaws.outposts#PowerConnector": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "L6_30P",
            "name": "L6_30P"
          },
          {
            "value": "IEC309",
            "name": "IEC309"
          },
          {
            "value": "AH530P7W",
            "name": "AH530P7W"
          },
          {
            "value": "AH532P6W",
            "name": "AH532P6W"
          }
        ]
      }
    },
    "com.amazonaws.outposts#PowerDrawKva": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "POWER_5_KVA",
            "name": "POWER_5_KVA"
          },
          {
            "value": "POWER_10_KVA",
            "name": "POWER_10_KVA"
          },
          {
            "value": "POWER_15_KVA",
            "name": "POWER_15_KVA"
          }
        ]
      }
    },
    "com.amazonaws.outposts#PowerFeedDrop": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ABOVE_RACK",
            "name": "ABOVE_RACK"
          },
          {
            "value": "BELOW_RACK",
            "name": "BELOW_RACK"
          }
        ]
      }
    },
    "com.amazonaws.outposts#PowerPhase": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SINGLE_PHASE",
            "name": "SINGLE_PHASE"
          },
          {
            "value": "THREE_PHASE",
            "name": "THREE_PHASE"
          }
        ]
      }
    },
    "com.amazonaws.outposts#Quantity": {
      "type": "string"
    },
    "com.amazonaws.outposts#RackPhysicalProperties": {
      "type": "structure",
      "members": {
        "PowerDrawKva": {
          "target": "com.amazonaws.outposts#PowerDrawKva",
          "traits": {
            "smithy.api#documentation": "<p>The power draw available at the hardware placement position for the rack. </p>"
          }
        },
        "PowerPhase": {
          "target": "com.amazonaws.outposts#PowerPhase",
          "traits": {
            "smithy.api#documentation": "<p>The power option that you can provide for hardware.</p>"
          }
        },
        "PowerConnector": {
          "target": "com.amazonaws.outposts#PowerConnector",
          "traits": {
            "smithy.api#documentation": "<p>The power connector for the hardware. </p>"
          }
        },
        "PowerFeedDrop": {
          "target": "com.amazonaws.outposts#PowerFeedDrop",
          "traits": {
            "smithy.api#documentation": "<p>The position of the power feed.</p>"
          }
        },
        "UplinkGbps": {
          "target": "com.amazonaws.outposts#UplinkGbps",
          "traits": {
            "smithy.api#documentation": "<p>The uplink speed the rack supports for the connection to the Region. </p>"
          }
        },
        "UplinkCount": {
          "target": "com.amazonaws.outposts#UplinkCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of uplinks each Outpost network device.</p>"
          }
        },
        "FiberOpticCableType": {
          "target": "com.amazonaws.outposts#FiberOpticCableType",
          "traits": {
            "smithy.api#documentation": "<p>The type of fiber used to attach the Outpost to the network. </p>"
          }
        },
        "OpticalStandard": {
          "target": "com.amazonaws.outposts#OpticalStandard",
          "traits": {
            "smithy.api#documentation": "<p>The type of optical standard used to attach the Outpost to the network. This field is\n      dependent on uplink speed, fiber type, and distance to the upstream device. For more information\n      about networking requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#facility-networking\">Network</a> \n        in the Amazon Web Services Outposts User Guide.\n        </p>"
          }
        },
        "MaximumSupportedWeightLbs": {
          "target": "com.amazonaws.outposts#MaximumSupportedWeightLbs",
          "traits": {
            "smithy.api#documentation": "<p>The maximum rack weight that this site can support. <code>NO_LIMIT</code> is over 2000 lbs\n      (907 kg). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the physical and logistical details for racks at sites.\n      For more information\n      about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network \n        readiness checklist</a> in the Amazon Web Services Outposts User Guide.\n        </p>"
      }
    },
    "com.amazonaws.outposts#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OUTPOST",
            "name": "OUTPOST"
          },
          {
            "value": "ORDER",
            "name": "ORDER"
          }
        ]
      }
    },
    "com.amazonaws.outposts#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded a service quota.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.outposts#Site": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "AccountId": {
          "target": "com.amazonaws.outposts#AccountId"
        },
        "Name": {
          "target": "com.amazonaws.outposts#SiteName"
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The site tags.</p>"
          }
        },
        "SiteArn": {
          "target": "com.amazonaws.outposts#SiteArn"
        },
        "Notes": {
          "target": "com.amazonaws.outposts#SiteNotes",
          "traits": {
            "smithy.api#documentation": "<p>\n      Notes about a site. \n    </p>"
          }
        },
        "OperatingAddressCountryCode": {
          "target": "com.amazonaws.outposts#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ISO-3166 two-letter country code where the hardware is installed and powered on.\n    </p>"
          }
        },
        "OperatingAddressStateOrRegion": {
          "target": "com.amazonaws.outposts#StateOrRegion",
          "traits": {
            "smithy.api#documentation": "<p> State or region where the hardware is installed and powered on. </p>"
          }
        },
        "OperatingAddressCity": {
          "target": "com.amazonaws.outposts#City",
          "traits": {
            "smithy.api#documentation": "<p>\n      City where the hardware is installed and powered on.\n    </p>"
          }
        },
        "RackPhysicalProperties": {
          "target": "com.amazonaws.outposts#RackPhysicalProperties",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about the physical and logistical details for a rack at the site.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a site.</p>"
      }
    },
    "com.amazonaws.outposts#SiteArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:site/(os-[a-f0-9]{17})$"
      }
    },
    "com.amazonaws.outposts#SiteDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1001
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#SiteId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>\n      The ID of the site.\n    </p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:site/)?(os-[a-f0-9]{17})$"
      }
    },
    "com.amazonaws.outposts#SiteName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The name of the site.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S ]+$"
      }
    },
    "com.amazonaws.outposts#SiteNotes": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#SkuCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^OR-[A-Z0-9]{7}$"
      }
    },
    "com.amazonaws.outposts#StateOrRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#StateOrRegionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#StateOrRegion"
      }
    },
    "com.amazonaws.outposts#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#SupportedHardwareType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RACK",
            "name": "RACK"
          },
          {
            "value": "SERVER",
            "name": "SERVER"
          }
        ]
      }
    },
    "com.amazonaws.outposts#SupportedStorageEnum": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EBS",
            "name": "EBS"
          },
          {
            "value": "S3",
            "name": "S3"
          }
        ]
      }
    },
    "com.amazonaws.outposts#SupportedStorageList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#SupportedStorageEnum"
      }
    },
    "com.amazonaws.outposts#SupportedUplinkGbps": {
      "type": "integer"
    },
    "com.amazonaws.outposts#SupportedUplinkGbpsListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#SupportedUplinkGbps"
      }
    },
    "com.amazonaws.outposts#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.outposts#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.outposts#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.outposts#TagKey"
      },
      "value": {
        "target": "com.amazonaws.outposts#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.outposts#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.outposts#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#Token": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The pagination token.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1005
        },
        "smithy.api#pattern": "^(\\d+)##(\\S+)$"
      }
    },
    "com.amazonaws.outposts#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes tags from the specified resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.outposts#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.outposts#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.outposts#UpdateOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#UpdateOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#UpdateOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Updates an Outpost.\n    </p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#UpdateOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the Outpost.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName"
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of hardware for this Outpost.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#UpdateOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      }
    },
    "com.amazonaws.outposts#UpdateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#UpdateSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#UpdateSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Updates the site. \n    </p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#UpdateSiteAddressInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#UpdateSiteAddressOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Updates the site address. \n    </p>\n         <p>\n      To update a site address\n      with an order <code>IN_PROGRESS</code>, you must wait for the order \n      to complete or cancel the order. \n    </p>\n         <p>You \n      can update the operating address before you place an order at the \n      site, or after all Outposts that belong to the site have been deactivated.\n    </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/sites/{SiteId}/address",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteAddressInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of the address.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "Address": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      The address for the site.\n    </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteAddressOutput": {
      "type": "structure",
      "members": {
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>\n      The type of the address.\n    </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p>\n      Information about an address. \n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID or the Amazon Resource Name (ARN) of the site.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.outposts#SiteName"
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Notes": {
          "target": "com.amazonaws.outposts#SiteNotes",
          "traits": {
            "smithy.api#documentation": "<p>\n      Notes about a site.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteRackPhysicalProperties": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#UpdateSiteRackPhysicalPropertiesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#UpdateSiteRackPhysicalPropertiesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Update the physical and logistical details for a rack at a site. For more information\n      about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network \n        readiness checklist</a> in the Amazon Web Services Outposts User Guide.\n         </p>\n         <p>To update a rack at a site with an order of <code>IN_PROGRESS</code>, you must wait for\n      the order to complete or cancel the order.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/sites/{SiteId}/rackPhysicalProperties",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#UpdateSiteRackPhysicalPropertiesInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
[...]
