{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.outposts#AWSServiceName": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "ELASTICACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELASTICACHE"
          }
        },
        "ELB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ELB"
          }
        },
        "RDS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RDS"
          }
        },
        "ROUTE53": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROUTE53"
          }
        }
      }
    },
    "com.amazonaws.outposts#AWSServiceNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AWSServiceName"
      }
    },
    "com.amazonaws.outposts#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.outposts#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.outposts#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AccountId"
      }
    },
    "com.amazonaws.outposts#Address": {
      "type": "structure",
      "members": {
        "ContactName": {
          "target": "com.amazonaws.outposts#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact.</p>",
            "smithy.api#required": {}
          }
        },
        "ContactPhoneNumber": {
          "target": "com.amazonaws.outposts#ContactPhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact, including the country code (for example,\n      <code>+12065550100</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.outposts#AddressLine1",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the address.</p>",
            "smithy.api#required": {}
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.outposts#AddressLine2",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the address.</p>"
          }
        },
        "AddressLine3": {
          "target": "com.amazonaws.outposts#AddressLine3",
          "traits": {
            "smithy.api#documentation": "<p>The third line of the address.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.outposts#City",
          "traits": {
            "smithy.api#documentation": "<p>The city for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.outposts#StateOrRegion",
          "traits": {
            "smithy.api#documentation": "<p>The state for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "DistrictOrCounty": {
          "target": "com.amazonaws.outposts#DistrictOrCounty",
          "traits": {
            "smithy.api#documentation": "<p>The district or county for the address.</p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.outposts#PostalCode",
          "traits": {
            "smithy.api#documentation": "<p>The postal code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.outposts#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The ISO-3166 two-letter country code for the address.</p>",
            "smithy.api#required": {}
          }
        },
        "Municipality": {
          "target": "com.amazonaws.outposts#Municipality",
          "traits": {
            "smithy.api#documentation": "<p>The municipality for the address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about an address. </p>"
      }
    },
    "com.amazonaws.outposts#AddressLine1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 180
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine2": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressLine3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#AddressType": {
      "type": "enum",
      "members": {
        "SHIPPING_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHIPPING_ADDRESS"
          }
        },
        "OPERATING_ADDRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATING_ADDRESS"
          }
        }
      }
    },
    "com.amazonaws.outposts#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1011
        },
        "smithy.api#pattern": "^(arn:aws([a-z-]+)?:outposts:[a-z\\d-]+:\\d{12}:([a-z\\d-]+)/)[a-z]{2,8}-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#AssetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(\\w+)$"
      }
    },
    "com.amazonaws.outposts#AssetIdInput": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^\\d{10}$"
      }
    },
    "com.amazonaws.outposts#AssetIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetId"
      }
    },
    "com.amazonaws.outposts#AssetInfo": {
      "type": "structure",
      "members": {
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the asset. An Outpost asset can be a single server within an Outposts rack or\n      an Outposts server configuration.</p>"
          }
        },
        "RackId": {
          "target": "com.amazonaws.outposts#RackId",
          "traits": {
            "smithy.api#documentation": "<p> The rack ID of the asset. </p>"
          }
        },
        "AssetType": {
          "target": "com.amazonaws.outposts#AssetType",
          "traits": {
            "smithy.api#documentation": "<p> The type of the asset. </p>"
          }
        },
        "ComputeAttributes": {
          "target": "com.amazonaws.outposts#ComputeAttributes",
          "traits": {
            "smithy.api#documentation": "<p> Information about compute hardware assets. </p>"
          }
        },
        "AssetLocation": {
          "target": "com.amazonaws.outposts#AssetLocation",
          "traits": {
            "smithy.api#documentation": "<p> The position of an asset in a rack. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about hardware assets. </p>"
      }
    },
    "com.amazonaws.outposts#AssetInstance": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.outposts#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the instance.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.outposts#OutpostInstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of instance.</p>"
          }
        },
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset. An Outpost asset can be a single server within an Outposts rack or an\n      Outposts server configuration.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.outposts#AccountId"
        },
        "AwsServiceName": {
          "target": "com.amazonaws.outposts#AWSServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service name of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.outposts#AssetInstanceCapacityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetInstanceTypeCapacity"
      }
    },
    "com.amazonaws.outposts#AssetInstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetInstance"
      }
    },
    "com.amazonaws.outposts#AssetInstanceTypeCapacity": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The type of instance.</p>",
            "smithy.api#required": {}
          }
        },
        "Count": {
          "target": "com.amazonaws.outposts#InstanceTypeCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of each instance type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capacity for each instance type.</p>"
      }
    },
    "com.amazonaws.outposts#AssetListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetInfo"
      }
    },
    "com.amazonaws.outposts#AssetLocation": {
      "type": "structure",
      "members": {
        "RackElevation": {
          "target": "com.amazonaws.outposts#RackElevation",
          "traits": {
            "smithy.api#documentation": "<p> The position of an asset in a rack measured in rack units. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about the position of the asset in a rack. </p>"
      }
    },
    "com.amazonaws.outposts#AssetState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "RETIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRING"
          }
        },
        "ISOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISOLATED"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.amazonaws.outposts#AssetType": {
      "type": "enum",
      "members": {
        "COMPUTE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPUTE"
          }
        },
        "STORAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STORAGE"
          }
        },
        "POWERSHELF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POWERSHELF"
          }
        },
        "SWITCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SWITCH"
          }
        },
        "NETWORKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORKING"
          }
        }
      }
    },
    "com.amazonaws.outposts#AssetTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AssetType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#AutoFillIdempotencyToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^([a-zA-Z]+-){1,3}([a-zA-Z]+)?(\\d+[a-zA-Z]?)?$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The ID of the Availability Zone.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z]+\\d-[a-zA-Z]+\\d$"
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZoneId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#AvailabilityZone"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.outposts#BlockingInstance": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.outposts#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the blocking instance.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.outposts#AccountId"
        },
        "AwsServiceName": {
          "target": "com.amazonaws.outposts#AWSServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service name that owns the specified blocking instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A running Amazon EC2 instance that can be stopped to free up capacity needed to run the\n      capacity task.</p>"
      }
    },
    "com.amazonaws.outposts#BlockingInstancesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#BlockingInstance"
      }
    },
    "com.amazonaws.outposts#BlockingResourceType": {
      "type": "enum",
      "members": {
        "EC2_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2_INSTANCE"
          }
        },
        "OUTPOST_RAM_SHARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST_RAM_SHARE"
          }
        },
        "LGW_ROUTING_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LGW_ROUTING_DOMAIN"
          }
        },
        "LGW_ROUTE_TABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LGW_ROUTE_TABLE"
          }
        },
        "LGW_VIRTUAL_INTERFACE_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LGW_VIRTUAL_INTERFACE_GROUP"
          }
        },
        "OUTPOST_ORDER_CANCELLABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST_ORDER_CANCELLABLE"
          }
        },
        "OUTPOST_ORDER_INTERVENTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OUTPOST_ORDER_INTERVENTION_REQUIRED"
          }
        }
      }
    },
    "com.amazonaws.outposts#BlockingResourceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#BlockingResourceType"
      }
    },
    "com.amazonaws.outposts#CIDR": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 9,
          "max": 18
        },
        "smithy.api#pattern": "^([0-9]{1,3}\\.){3}[0-9]{1,3}/[0-9]{1,2}$"
      }
    },
    "com.amazonaws.outposts#CIDRList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CIDR"
      }
    },
    "com.amazonaws.outposts#CancelCapacityTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CancelCapacityTaskInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CancelCapacityTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the capacity task.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/outposts/{OutpostIdentifier}/capacity/{CapacityTaskId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CancelCapacityTaskInput": {
      "type": "structure",
      "members": {
        "CapacityTaskId": {
          "target": "com.amazonaws.outposts#CapacityTaskId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the capacity task that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>ID or ARN of the Outpost associated with the capacity task that you want to cancel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CancelCapacityTaskOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CancelOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CancelOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CancelOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the specified order for an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders/{OrderId}/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CancelOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the order. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CancelOrderOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CapacitySummary": {
      "type": "structure",
      "members": {
        "ExistingCapacities": {
          "target": "com.amazonaws.outposts#QuoteCapacityList",
          "traits": {
            "smithy.api#documentation": "<p>The existing capacities on the Outpost before the quote is fulfilled.</p>"
          }
        },
        "FinalCapacities": {
          "target": "com.amazonaws.outposts#QuoteCapacityList",
          "traits": {
            "smithy.api#documentation": "<p>The final capacities on the Outpost after the quote is fulfilled.</p>"
          }
        },
        "CapacityChange": {
          "target": "com.amazonaws.outposts#QuoteCapacityList",
          "traits": {
            "smithy.api#documentation": "<p>The change in capacity between the existing and final state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the capacity changes for a quote option.</p>"
      }
    },
    "com.amazonaws.outposts#CapacityTaskFailure": {
      "type": "structure",
      "members": {
        "Reason": {
          "target": "com.amazonaws.outposts#CapacityTaskStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the specified capacity task failed.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.outposts#CapacityTaskFailureType",
          "traits": {
            "smithy.api#documentation": "<p>The type of failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capacity tasks that failed.</p>"
      }
    },
    "com.amazonaws.outposts#CapacityTaskFailureType": {
      "type": "enum",
      "members": {
        "UNSUPPORTED_CAPACITY_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_CAPACITY_CONFIGURATION"
          }
        },
        "UNEXPECTED_ASSET_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNEXPECTED_ASSET_STATE"
          }
        },
        "BLOCKING_INSTANCES_NOT_EVACUATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKING_INSTANCES_NOT_EVACUATED"
          }
        },
        "INTERNAL_SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_SERVER_ERROR"
          }
        },
        "RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_NOT_FOUND"
          }
        }
      }
    },
    "com.amazonaws.outposts#CapacityTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 21,
          "max": 21
        },
        "smithy.api#pattern": "^cap-[a-f0-9]{17}$"
      }
    },
    "com.amazonaws.outposts#CapacityTaskList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CapacityTaskSummary"
      }
    },
    "com.amazonaws.outposts#CapacityTaskStatus": {
      "type": "enum",
      "members": {
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUESTED"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "WAITING_FOR_EVACUATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING_FOR_EVACUATION"
          }
        },
        "CANCELLATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLATION_IN_PROGRESS"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        }
      }
    },
    "com.amazonaws.outposts#CapacityTaskStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CapacityTaskStatus"
      }
    },
    "com.amazonaws.outposts#CapacityTaskStatusReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.outposts#CapacityTaskSummary": {
      "type": "structure",
      "members": {
        "CapacityTaskId": {
          "target": "com.amazonaws.outposts#CapacityTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the specified capacity task.</p>"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Outpost associated with the specified capacity task.</p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Outposts order of the host associated with the capacity task.</p>"
          }
        },
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset. An Outpost asset can be a single server within an Outposts rack or an\n      Outposts server configuration.</p>"
          }
        },
        "CapacityTaskStatus": {
          "target": "com.amazonaws.outposts#CapacityTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the capacity task.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the specified capacity task was created.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the specified capacity task successfully ran.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the specified capacity was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the capacity task.</p>"
      }
    },
    "com.amazonaws.outposts#CatalogItem": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the catalog item. </p>"
          }
        },
        "ItemStatus": {
          "target": "com.amazonaws.outposts#CatalogItemStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of a catalog item. </p>"
          }
        },
        "EC2Capacities": {
          "target": "com.amazonaws.outposts#EC2CapacityListDefinition",
          "traits": {
            "smithy.api#documentation": "<p> Information about the EC2 capacity of an item. </p>"
          }
        },
        "PowerKva": {
          "target": "com.amazonaws.outposts#CatalogItemPowerKva",
          "traits": {
            "smithy.api#documentation": "<p> Information about the power draw of an item. </p>"
          }
        },
        "WeightLbs": {
          "target": "com.amazonaws.outposts#CatalogItemWeightLbs",
          "traits": {
            "smithy.api#documentation": "<p> The weight of the item in pounds. </p>"
          }
        },
        "SupportedUplinkGbps": {
          "target": "com.amazonaws.outposts#SupportedUplinkGbpsListDefinition",
          "traits": {
            "smithy.api#documentation": "<p> The uplink speed this catalog item requires for the connection to the Region. </p>"
          }
        },
        "SupportedStorage": {
          "target": "com.amazonaws.outposts#SupportedStorageList",
          "traits": {
            "smithy.api#documentation": "<p> The supported storage options for the catalog item. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about a catalog item. </p>"
      }
    },
    "com.amazonaws.outposts#CatalogItemClass": {
      "type": "enum",
      "members": {
        "RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RACK"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        }
      }
    },
    "com.amazonaws.outposts#CatalogItemClassList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItemClass"
      }
    },
    "com.amazonaws.outposts#CatalogItemListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CatalogItem"
      }
    },
    "com.amazonaws.outposts#CatalogItemPowerKva": {
      "type": "float"
    },
    "com.amazonaws.outposts#CatalogItemStatus": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "DISCONTINUED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONTINUED"
          }
        }
      }
    },
    "com.amazonaws.outposts#CatalogItemWeightLbs": {
      "type": "integer"
    },
    "com.amazonaws.outposts#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#CityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#City"
      }
    },
    "com.amazonaws.outposts#ComputeAssetState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "ISOLATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISOLATED"
          }
        },
        "RETIRING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RETIRING"
          }
        },
        "INSTALLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTALLING"
          }
        }
      }
    },
    "com.amazonaws.outposts#ComputeAttributes": {
      "type": "structure",
      "members": {
        "HostId": {
          "target": "com.amazonaws.outposts#HostId",
          "traits": {
            "smithy.api#documentation": "<p> The host ID of the Dedicated Host on the asset. </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.outposts#ComputeAssetState",
          "traits": {
            "smithy.api#documentation": "<p>The state.</p>\n         <ul>\n            <li>\n               <p>ACTIVE - The asset is available and can provide capacity for new compute\n          resources.</p>\n            </li>\n            <li>\n               <p>ISOLATED - The asset is undergoing maintenance and can't provide capacity for new\n          compute resources. Existing compute resources on the asset are not affected.</p>\n            </li>\n            <li>\n               <p>RETIRING - The underlying hardware for the asset is degraded. Capacity for new compute\n          resources is reduced. Amazon Web Services sends notifications for resources that must be stopped before\n          the asset can be replaced.</p>\n            </li>\n            <li>\n               <p>INSTALLING - The asset is being installed and can't yet provide capacity for new compute\n          resources.</p>\n            </li>\n         </ul>"
          }
        },
        "InstanceFamilies": {
          "target": "com.amazonaws.outposts#InstanceFamilies",
          "traits": {
            "smithy.api#documentation": "<p>A list of the names of instance families that are currently associated with a given\n      asset.</p>"
          }
        },
        "InstanceTypeCapacities": {
          "target": "com.amazonaws.outposts#AssetInstanceCapacityList",
          "traits": {
            "smithy.api#documentation": "<p>The instance type capacities configured for this asset. This can be changed through a\n      capacity task.</p>"
          }
        },
        "MaxVcpus": {
          "target": "com.amazonaws.outposts#VCPUCount",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of vCPUs possible for the specified asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about compute hardware assets. </p>"
      }
    },
    "com.amazonaws.outposts#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.outposts#ErrorMessage"
        },
        "ResourceId": {
          "target": "com.amazonaws.outposts#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource causing the conflict.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.outposts#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource causing the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.outposts#ConnectionDetails": {
      "type": "structure",
      "members": {
        "ClientPublicKey": {
          "target": "com.amazonaws.outposts#WireGuardPublicKey",
          "traits": {
            "smithy.api#documentation": "<p> The public key of the client. </p>"
          }
        },
        "ServerPublicKey": {
          "target": "com.amazonaws.outposts#WireGuardPublicKey",
          "traits": {
            "smithy.api#documentation": "<p> The public key of the server. </p>"
          }
        },
        "ServerEndpoint": {
          "target": "com.amazonaws.outposts#ServerEndpoint",
          "traits": {
            "smithy.api#documentation": "<p> The endpoint for the server. </p>"
          }
        },
        "ClientTunnelAddress": {
          "target": "com.amazonaws.outposts#CIDR",
          "traits": {
            "smithy.api#documentation": "<p> The client tunnel address. </p>"
          }
        },
        "ServerTunnelAddress": {
          "target": "com.amazonaws.outposts#CIDR",
          "traits": {
            "smithy.api#documentation": "<p> The server tunnel address. </p>"
          }
        },
        "AllowedIps": {
          "target": "com.amazonaws.outposts#CIDRList",
          "traits": {
            "smithy.api#documentation": "<p> The allowed IP addresses. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about a connection. </p>"
      }
    },
    "com.amazonaws.outposts#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9+/=]{1,1024}$"
      }
    },
    "com.amazonaws.outposts#ConstraintValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#ContactPhoneNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^\\+[1-9][0-9]{1,18}$"
      }
    },
    "com.amazonaws.outposts#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[A-Z]{2}$"
      }
    },
    "com.amazonaws.outposts#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#CountryCode"
      }
    },
    "com.amazonaws.outposts#CreateOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an order for an Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/orders",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOrderInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p> The ID or the Amazon Resource Name (ARN) of the Outpost. </p>",
            "smithy.api#required": {}
          }
        },
        "QuoteIdentifier": {
          "target": "com.amazonaws.outposts#QuoteIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the quote to use for the order.</p>"
          }
        },
        "QuoteOptionIdentifier": {
          "target": "com.amazonaws.outposts#QuoteOptionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the quote option to use for the order.</p>"
          }
        },
        "LineItems": {
          "target": "com.amazonaws.outposts#LineItemRequestListDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The line items that make up the order.</p>"
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment terms.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CreateOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order",
          "traits": {
            "smithy.api#documentation": "<p>Information about this order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CreateOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Outpost.</p>\n         <p>You can specify either an Availability one or an AZ ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/outposts",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateOutpostInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#OutpostName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#OutpostDescription"
        },
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or the Amazon Resource Name (ARN) of the site. </p>",
            "smithy.api#required": {}
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.outposts#AvailabilityZone"
        },
        "AvailabilityZoneId": {
          "target": "com.amazonaws.outposts#AvailabilityZoneId"
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to the Outpost.</p>"
          }
        },
        "SupportedHardwareType": {
          "target": "com.amazonaws.outposts#SupportedHardwareType",
          "traits": {
            "smithy.api#documentation": "<p> The type of hardware for this Outpost. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CreateOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CreateQuote": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateQuoteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateQuoteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a quote for an Outpost. A quote provides pricing and configuration options based\n      on the requested capacity. You can optionally associate the quote with an existing Outpost or\n      create a standalone quote by specifying only the country code and requested capacities.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/quotes",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateQuoteInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost to associate with the quote. If not specified, the quote is\n      created without an Outpost association.</p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.outposts#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The country code for the Outpost site location.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestedCapacities": {
          "target": "com.amazonaws.outposts#QuoteCapacityList",
          "traits": {
            "smithy.api#documentation": "<p>The capacity requirements for the quote. Each entry specifies a capacity type (such as\n      Amazon EC2), the unit, and the quantity. For Amazon EC2, the quantity is the number of additional\n      instances to add to the Outpost. For Amazon EBS and Amazon S3, the quantity is the total desired\n      end-state capacity of the Outpost.</p>",
            "smithy.api#required": {}
          }
        },
        "RequestedConstraints": {
          "target": "com.amazonaws.outposts#QuoteConstraintList",
          "traits": {
            "smithy.api#documentation": "<p>The physical constraints for the quote, such as maximum number of racks, maximum power\n      draw per rack, or maximum weight per rack.</p>"
          }
        },
        "RequestedPaymentOptions": {
          "target": "com.amazonaws.outposts#PaymentOptionList",
          "traits": {
            "smithy.api#documentation": "<p>The payment options to include in the quote pricing. If not specified, all available\n      payment options are returned.</p>"
          }
        },
        "RequestedPaymentTerms": {
          "target": "com.amazonaws.outposts#PaymentTermList",
          "traits": {
            "smithy.api#documentation": "<p>The payment terms to include in the quote pricing. If not specified, all available\n      payment terms are returned.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#QuoteDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the quote.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CreateQuoteOutput": {
      "type": "structure",
      "members": {
        "Quote": {
          "target": "com.amazonaws.outposts#Quote",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quote.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CreateRenewal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateRenewalInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateRenewalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a renewal contract for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/renewals",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateRenewalInput": {
      "type": "structure",
      "members": {
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option.</p>",
            "smithy.api#required": {}
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment term.</p>",
            "smithy.api#required": {}
          }
        },
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.outposts#AutoFillIdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n      request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CreateRenewalOutput": {
      "type": "structure",
      "members": {
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option.</p>"
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment term.</p>"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostIdOnly",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Outpost.</p>"
          }
        },
        "UpfrontPrice": {
          "target": "com.amazonaws.outposts#NullableFloat",
          "traits": {
            "smithy.api#documentation": "<p>The upfront price of the renewal.</p>"
          }
        },
        "MonthlyRecurringPrice": {
          "target": "com.amazonaws.outposts#NullableFloat",
          "traits": {
            "smithy.api#documentation": "<p>The monthly recurring price of the renewal.</p>"
          }
        },
        "Currency": {
          "target": "com.amazonaws.outposts#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The currency of the renewal price.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CreateSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#CreateSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#CreateSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a site for an Outpost. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sites",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#CreateSiteInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.outposts#SiteName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.outposts#SiteDescription"
        },
        "Notes": {
          "target": "com.amazonaws.outposts#SiteNotes",
          "traits": {
            "smithy.api#documentation": "<p>Additional information that you provide about site access requirements, electrician\n      scheduling, personal protective equipment, or regulation of equipment materials that could\n      affect your installation process. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.outposts#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags to apply to a site. </p>"
          }
        },
        "OperatingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p> The location to install and power on the hardware. This address might be different from\n      the shipping address. </p>"
          }
        },
        "ShippingAddress": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p> The location to ship the hardware. This address might be different from the operating\n      address. </p>"
          }
        },
        "RackPhysicalProperties": {
          "target": "com.amazonaws.outposts#RackPhysicalProperties",
          "traits": {
            "smithy.api#documentation": "<p> Information about the physical and logistical details for the rack at this site.\n      For more information\n      about hardware requirements for racks, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/outposts-requirements.html#checklist\">Network \n        readiness checklist</a> in the Amazon Web Services Outposts User Guide.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#CreateSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#CurrencyCode": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        }
      }
    },
    "com.amazonaws.outposts#DecommissionRequestStatus": {
      "type": "enum",
      "members": {
        "SKIPPED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKIPPED"
          }
        },
        "BLOCKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLOCKED"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUESTED"
          }
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or ARN of the Outpost. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#DeleteOutpostOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#DeleteQuote": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteQuoteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteQuoteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified quote.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/quotes/{QuoteIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteQuoteInput": {
      "type": "structure",
      "members": {
        "QuoteIdentifier": {
          "target": "com.amazonaws.outposts#QuoteIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the quote.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#DeleteQuoteOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#DeleteSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#DeleteSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#DeleteSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#ConflictException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified site.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#DeleteSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or the Amazon Resource Name (ARN) of the site. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#DeleteSiteOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#DetailedInstanceTypeItem": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The instance type.</p>"
          }
        },
        "VCPUs": {
          "target": "com.amazonaws.outposts#VCPUCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of default VCPUs in the instance type.</p>"
          }
        },
        "MemoryInMib": {
          "target": "com.amazonaws.outposts#MemoryInMib",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The memory size of the instance type, in MiB.</p>"
          }
        },
        "NetworkPerformance": {
          "target": "com.amazonaws.outposts#NetworkPerformance",
          "traits": {
            "smithy.api#documentation": "<p>The network performance of the instance type.</p>"
          }
        },
        "FormFactorConfigs": {
          "target": "com.amazonaws.outposts#FormFactorConfigList",
          "traits": {
            "smithy.api#documentation": "<p>The supported form factor and Outpost generation configurations for the instance\n      type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an instance type that can be ordered for an Outpost, including\n      hardware specifications and supported form factors.</p>"
      }
    },
    "com.amazonaws.outposts#DetailedInstanceTypeListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#DetailedInstanceTypeItem"
      }
    },
    "com.amazonaws.outposts#DeviceSerialNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(\\w+)$"
      }
    },
    "com.amazonaws.outposts#DistrictOrCounty": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 60
        },
        "smithy.api#pattern": "^\\S[\\S ]*$"
      }
    },
    "com.amazonaws.outposts#DryRun": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.outposts#EC2Capacity": {
      "type": "structure",
      "members": {
        "Family": {
          "target": "com.amazonaws.outposts#Family",
          "traits": {
            "smithy.api#documentation": "<p> The family of the EC2 capacity. </p>"
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.outposts#MaxSize",
          "traits": {
            "smithy.api#documentation": "<p> The maximum size of the EC2 capacity. </p>"
          }
        },
        "Quantity": {
          "target": "com.amazonaws.outposts#Quantity",
          "traits": {
            "smithy.api#documentation": "<p> The quantity of the EC2 capacity. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Information about EC2 capacity. </p>"
      }
    },
    "com.amazonaws.outposts#EC2CapacityListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#EC2Capacity"
      }
    },
    "com.amazonaws.outposts#EC2FamilyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#Family"
      }
    },
    "com.amazonaws.outposts#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S \\n]+$"
      }
    },
    "com.amazonaws.outposts#Family": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^[a-z0-9]+[a-z0-9-]*[a-z0-9]+$"
      }
    },
    "com.amazonaws.outposts#FiberOpticCableType": {
      "type": "enum",
      "members": {
        "SINGLE_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_MODE"
          }
        },
        "MULTI_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MULTI_MODE"
          }
        }
      }
    },
    "com.amazonaws.outposts#FormFactor": {
      "type": "enum",
      "members": {
        "RACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RACK"
          }
        },
        "SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER"
          }
        }
      }
    },
    "com.amazonaws.outposts#FormFactorConfig": {
      "type": "structure",
      "members": {
        "FormFactor": {
          "target": "com.amazonaws.outposts#FormFactor",
          "traits": {
            "smithy.api#documentation": "<p>The form factor. Valid values are <code>RACK</code> for rack-based Outposts and\n      <code>SERVER</code> for server-based Outposts.</p>"
          }
        },
        "OutpostGeneration": {
          "target": "com.amazonaws.outposts#OutpostGeneration",
          "traits": {
            "smithy.api#documentation": "<p>The Outpost generation. Valid values are <code>GENERATION_1</code> for first-generation\n      rack deployments and <code>GENERATION_2</code> for second-generation rack deployments. This\n      value is not set for server form factors.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A supported form factor and Outpost generation configuration for an instance type.</p>"
      }
    },
    "com.amazonaws.outposts#FormFactorConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#FormFactorConfig"
      }
    },
    "com.amazonaws.outposts#GetCapacityTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetCapacityTaskInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetCapacityTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details of the specified capacity task.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostIdentifier}/capacity/{CapacityTaskId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetCapacityTaskInput": {
      "type": "structure",
      "members": {
        "CapacityTaskId": {
          "target": "com.amazonaws.outposts#CapacityTaskId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the capacity task.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>ID or ARN of the Outpost associated with the specified capacity task.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetCapacityTaskOutput": {
      "type": "structure",
      "members": {
        "CapacityTaskId": {
          "target": "com.amazonaws.outposts#CapacityTaskId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the capacity task.</p>"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the Outpost associated with the specified capacity task.</p>"
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the Amazon Web Services Outposts order associated with the specified capacity task.</p>"
          }
        },
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Outpost asset. An Outpost asset can be a single server within an Outposts\n      rack or an Outposts server configuration.</p>"
          }
        },
        "RequestedInstancePools": {
          "target": "com.amazonaws.outposts#RequestedInstancePools",
          "traits": {
            "smithy.api#documentation": "<p>List of instance pools requested in the capacity task.</p>"
          }
        },
        "InstancesToExclude": {
          "target": "com.amazonaws.outposts#InstancesToExclude",
          "traits": {
            "smithy.api#documentation": "<p>Instances that the user specified they cannot stop in order to free up the capacity needed\n      to run the capacity task.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.outposts#DryRun",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Performs a dry run to determine if you are above or below instance capacity.</p>"
          }
        },
        "CapacityTaskStatus": {
          "target": "com.amazonaws.outposts#CapacityTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the capacity task.</p>\n         <p>A capacity task can have one of the following statuses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>REQUESTED</code> - The capacity task was created and is awaiting the next step\n          by Amazon Web Services Outposts.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - The capacity task is running and cannot be\n          cancelled.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The capacity task could not be completed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - The capacity task has completed successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WAITING_FOR_EVACUATION</code> - The capacity task requires capacity to run. You\n          must stop the recommended EC2 running instances to free up capacity for the task to\n          run.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLATION_IN_PROGRESS</code> - The capacity task has been cancelled and is in\n          the process of cleaning up resources.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CANCELLED</code> - The capacity task is cancelled.</p>\n            </li>\n         </ul>"
          }
        },
        "Failed": {
          "target": "com.amazonaws.outposts#CapacityTaskFailure",
          "traits": {
            "smithy.api#documentation": "<p>Reason why the capacity task failed.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the capacity task was created.</p>"
          }
        },
        "CompletionDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the capacity task ran successfully.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.outposts#ISO8601Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the capacity task was last modified.</p>"
          }
        },
        "TaskActionOnBlockingInstances": {
          "target": "com.amazonaws.outposts#TaskActionOnBlockingInstances",
          "traits": {
            "smithy.api#documentation": "<p>User-specified option in case an instance is blocking the capacity task from running.\n      Shows one of the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>WAIT_FOR_EVACUATION</code> - Checks every 10 minutes over 48 hours to determine\n          if instances have stopped and capacity is available to complete the task.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAIL_TASK</code> - The capacity task fails.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetCatalogItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetCatalogItemInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetCatalogItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified catalog item.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog/item/{CatalogItemId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetCatalogItemInput": {
      "type": "structure",
      "members": {
        "CatalogItemId": {
          "target": "com.amazonaws.outposts#SkuCode",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetCatalogItemOutput": {
      "type": "structure",
      "members": {
        "CatalogItem": {
          "target": "com.amazonaws.outposts#CatalogItem",
          "traits": {
            "smithy.api#documentation": "<p>Information about this catalog item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>\n      Amazon Web Services uses this action to install Outpost servers.</p>\n         </note>\n         <p> Gets information about the specified connection. </p>\n         <p>\n      Use CloudTrail to monitor this action or Amazon Web Services managed policy for Amazon Web Services Outposts to secure it. For \n      more information, see <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/security-iam-awsmanpol.html\">\n      Amazon Web Services managed policies for Amazon Web Services Outposts</a> and <a href=\"https://docs.aws.amazon.com/outposts/latest/userguide/logging-using-cloudtrail.html\">\n      Logging Amazon Web Services Outposts API calls with Amazon Web Services CloudTrail</a> in the <i>Amazon Web Services Outposts User Guide</i>.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/connections/{ConnectionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetConnectionRequest": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.outposts#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the connection. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetConnectionResponse": {
      "type": "structure",
      "members": {
        "ConnectionId": {
          "target": "com.amazonaws.outposts#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the connection. </p>"
          }
        },
        "ConnectionDetails": {
          "target": "com.amazonaws.outposts#ConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p> Information about the connection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOrderInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOrderOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified order.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/orders/{OrderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOrderInput": {
      "type": "structure",
      "members": {
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the order.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetOrderOutput": {
      "type": "structure",
      "members": {
        "Order": {
          "target": "com.amazonaws.outposts#Order"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetOutpost": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostBillingInformation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostBillingInformationInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostBillingInformationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets current and historical billing information about the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outpost/{OutpostIdentifier}/billing-information",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Subscriptions",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostBillingInformationInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostBillingInformationOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "Subscriptions": {
          "target": "com.amazonaws.outposts#SubscriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The subscription details for the specified Outpost.</p>"
          }
        },
        "ContractEndDate": {
          "target": "com.amazonaws.outposts#String",
          "traits": {
            "smithy.api#documentation": "<p>The date the current contract term ends for the specified Outpost. You must start the\n      renewal or decommission process at least 5 business days before the current term for your\n      Amazon Web Services Outposts ends. Failing to complete these steps at least 5 business days before the current term\n      ends might result in unanticipated charges.</p>"
          }
        },
        "PaymentTerm": {
          "target": "com.amazonaws.outposts#PaymentTerm",
          "traits": {
            "smithy.api#documentation": "<p>The payment term.</p>"
          }
        },
        "PaymentOption": {
          "target": "com.amazonaws.outposts#PaymentOption",
          "traits": {
            "smithy.api#documentation": "<p>The payment option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostInstanceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the instance types for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostId}/instanceTypes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "InstanceTypes",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesInput": {
      "type": "structure",
      "members": {
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or ARN of the Outpost. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostInstanceTypesOutput": {
      "type": "structure",
      "members": {
        "InstanceTypes": {
          "target": "com.amazonaws.outposts#InstanceTypeListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        },
        "OutpostId": {
          "target": "com.amazonaws.outposts#OutpostId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Outpost. </p>"
          }
        },
        "OutpostArn": {
          "target": "com.amazonaws.outposts#OutpostArn"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostOutput": {
      "type": "structure",
      "members": {
        "Outpost": {
          "target": "com.amazonaws.outposts#Outpost"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostSupportedInstanceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetOutpostSupportedInstanceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetOutpostSupportedInstanceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the instance types that an Outpost can support in <code>InstanceTypeCapacity</code>.\n      This will generally include instance types that are not currently configured and therefore\n      cannot be launched with the current Outpost capacity configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outposts/{OutpostIdentifier}/supportedInstanceTypes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "InstanceTypes",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.outposts#GetOutpostSupportedInstanceTypesInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OrderId": {
          "target": "com.amazonaws.outposts#OrderId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Amazon Web Services Outposts order.</p>",
            "smithy.api#httpQuery": "OrderId"
          }
        },
        "AssetId": {
          "target": "com.amazonaws.outposts#AssetIdInput",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Outpost asset. An Outpost asset can be a single server within an Outposts\n      rack or an Outposts server configuration.</p>",
            "smithy.api#httpQuery": "AssetId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.outposts#MaxResults1000",
          "traits": {
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token",
          "traits": {
            "smithy.api#httpQuery": "NextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetOutpostSupportedInstanceTypesOutput": {
      "type": "structure",
      "members": {
        "InstanceTypes": {
          "target": "com.amazonaws.outposts#InstanceTypeListDefinition"
        },
        "NextToken": {
          "target": "com.amazonaws.outposts#Token"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetQuote": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetQuoteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetQuoteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified quote.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/quotes/{QuoteIdentifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetQuoteInput": {
      "type": "structure",
      "members": {
        "QuoteIdentifier": {
          "target": "com.amazonaws.outposts#QuoteIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the quote.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetQuoteOutput": {
      "type": "structure",
      "members": {
        "Quote": {
          "target": "com.amazonaws.outposts#Quote",
          "traits": {
            "smithy.api#documentation": "<p>Information about the quote.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetRenewalPricing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetRenewalPricingInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetRenewalPricingOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets all available renewal pricing options for the specified Outpost.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/outpost/{OutpostIdentifier}/renewal-pricing",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetRenewalPricingInput": {
      "type": "structure",
      "members": {
        "OutpostIdentifier": {
          "target": "com.amazonaws.outposts#OutpostIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID or ARN of the Outpost.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetRenewalPricingOutput": {
      "type": "structure",
      "members": {
        "PricingResult": {
          "target": "com.amazonaws.outposts#PricingResult",
          "traits": {
            "smithy.api#documentation": "<p>The result of the pricing request.</p>"
          }
        },
        "PricingOptions": {
          "target": "com.amazonaws.outposts#PricingOptionList",
          "traits": {
            "smithy.api#documentation": "<p>The pricing options for the specified Outpost.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the specified Outpost site.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.outposts#GetSiteAddressInput"
      },
      "output": {
        "target": "com.amazonaws.outposts#GetSiteAddressOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.outposts#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.outposts#InternalServerException"
        },
        {
          "target": "com.amazonaws.outposts#NotFoundException"
        },
        {
          "target": "com.amazonaws.outposts#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets the site address of the specified site. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sites/{SiteId}/address",
          "code": 200
        }
      }
    },
    "com.amazonaws.outposts#GetSiteAddressInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or the Amazon Resource Name (ARN) of the site. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the address you request. </p>",
            "smithy.api#httpQuery": "AddressType",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetSiteAddressOutput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId"
        },
        "AddressType": {
          "target": "com.amazonaws.outposts#AddressType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the address you receive. </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.outposts#Address",
          "traits": {
            "smithy.api#documentation": "<p> Information about the address. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#GetSiteInput": {
      "type": "structure",
      "members": {
        "SiteId": {
          "target": "com.amazonaws.outposts#SiteId",
          "traits": {
            "smithy.api#documentation": "<p> The ID or the Amazon Resource Name (ARN) of the site. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.outposts#GetSiteOutput": {
      "type": "structure",
      "members": {
        "Site": {
          "target": "com.amazonaws.outposts#Site"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.outposts#HostId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[A-Za-z0-9-]*$"
      }
    },
    "com.amazonaws.outposts#HostIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#HostId"
      }
    },
    "com.amazonaws.outposts#ISO8601Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.outposts#InstanceFamilies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#InstanceFamilyName"
      }
    },
    "com.amazonaws.outposts#InstanceFamilyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^(?:.{1,200}/)?(?:[a-z0-9-_A-Z])+$"
      }
    },
    "com.amazonaws.outposts#InstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 11,
          "max": 32
        },
        "smithy.api#pattern": "^i-[0-9a-z]+$"
      }
    },
    "com.amazonaws.outposts#InstanceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.outposts#InstanceId"
      }
    },
    "com.amazonaws.outposts#InstanceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The instance type.</p>"
      }
    },
    "com.amazonaws.outposts#InstanceTypeCapacity": {
      "type": "structure",
      "members": {
        "InstanceType": {
          "target": "com.amazonaws.outposts#InstanceTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the hosts.</p>",
            "smithy.api#required": {}
          }
        },
        "Count": {
          "target": "com.amazonaws.outposts#InstanceTypeCount",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of instances for the specified instance type.</p>",
[...]
