{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.panorama#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requestor does not have permission to access the target action or resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.panorama#AlternateSoftwareMetadata": {
      "type": "structure",
      "members": {
        "Version": {
          "target": "com.amazonaws.panorama#Version",
          "traits": {
            "smithy.api#documentation": "<p>The appliance software version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a beta appliance software update.</p>"
      }
    },
    "com.amazonaws.panorama#AlternateSoftwares": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#AlternateSoftwareMetadata"
      }
    },
    "com.amazonaws.panorama#ApplicationInstance": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.panorama#ApplicationInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's name.</p>"
          }
        },
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>"
          }
        },
        "DefaultRuntimeContextDevice": {
          "target": "com.amazonaws.panorama#DefaultRuntimeContextDevice",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        },
        "DefaultRuntimeContextDeviceName": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's description.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#ApplicationInstanceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's status.</p>"
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.panorama#ApplicationInstanceHealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's health status.</p>"
          }
        },
        "StatusDescription": {
          "target": "com.amazonaws.panorama#ApplicationInstanceStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's status description.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the application instance was created.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.panorama#ApplicationInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ARN.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's tags.</p>"
          }
        },
        "RuntimeContextStates": {
          "target": "com.amazonaws.panorama#ReportedRuntimeContextStates",
          "traits": {
            "smithy.api#documentation": "<p>The application's state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An application instance on a device.</p>"
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceHealthStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "NOT_AVAILABLE",
            "name": "NOT_AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPLOYMENT_PENDING",
            "name": "DEPLOYMENT_PENDING"
          },
          {
            "value": "DEPLOYMENT_REQUESTED",
            "name": "DEPLOYMENT_REQUESTED"
          },
          {
            "value": "DEPLOYMENT_IN_PROGRESS",
            "name": "DEPLOYMENT_IN_PROGRESS"
          },
          {
            "value": "DEPLOYMENT_ERROR",
            "name": "DEPLOYMENT_ERROR"
          },
          {
            "value": "DEPLOYMENT_SUCCEEDED",
            "name": "DEPLOYMENT_SUCCEEDED"
          },
          {
            "value": "REMOVAL_PENDING",
            "name": "REMOVAL_PENDING"
          },
          {
            "value": "REMOVAL_REQUESTED",
            "name": "REMOVAL_REQUESTED"
          },
          {
            "value": "REMOVAL_IN_PROGRESS",
            "name": "REMOVAL_IN_PROGRESS"
          },
          {
            "value": "REMOVAL_FAILED",
            "name": "REMOVAL_FAILED"
          },
          {
            "value": "REMOVAL_SUCCEEDED",
            "name": "REMOVAL_SUCCEEDED"
          },
          {
            "value": "DEPLOYMENT_FAILED",
            "name": "DEPLOYMENT_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.panorama#ApplicationInstanceStatusDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#ApplicationInstances": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#ApplicationInstance"
      }
    },
    "com.amazonaws.panorama#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.panorama#Bucket": {
      "type": "string"
    },
    "com.amazonaws.panorama#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.panorama#Certificates": {
      "type": "blob"
    },
    "com.amazonaws.panorama#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource's type.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorId": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID for the error.</p>"
          }
        },
        "ErrorArguments": {
          "target": "com.amazonaws.panorama#ConflictExceptionErrorArgumentList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attributes that led to the exception and their values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The target resource is in use.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.panorama#ConflictExceptionErrorArgument": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#documentation": "<p>The error argument's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#documentation": "<p>The error argument's value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflict exception error argument.</p>"
      }
    },
    "com.amazonaws.panorama#ConflictExceptionErrorArgumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#ConflictExceptionErrorArgument"
      }
    },
    "com.amazonaws.panorama#ConnectionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STATIC_IP",
            "name": "STATIC_IP"
          },
          {
            "value": "DHCP",
            "name": "DHCP"
          }
        ]
      }
    },
    "com.amazonaws.panorama#CreateApplicationInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#CreateApplicationInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#CreateApplicationInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an application instance and deploys it to a device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/application-instances",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#CreateApplicationInstanceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.panorama#ApplicationInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the application instance.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the application instance.</p>"
          }
        },
        "ManifestPayload": {
          "target": "com.amazonaws.panorama#ManifestPayload",
          "traits": {
            "smithy.api#documentation": "<p>The application's manifest document.</p>",
            "smithy.api#required": {}
          }
        },
        "ManifestOverridesPayload": {
          "target": "com.amazonaws.panorama#ManifestOverridesPayload",
          "traits": {
            "smithy.api#documentation": "<p>Setting overrides for the application manifest.</p>"
          }
        },
        "ApplicationInstanceIdToReplace": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an application instance to replace with the new instance.</p>"
          }
        },
        "RuntimeRoleArn": {
          "target": "com.amazonaws.panorama#RuntimeRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a runtime role for the application instance.</p>"
          }
        },
        "DefaultRuntimeContextDevice": {
          "target": "com.amazonaws.panorama#DefaultRuntimeContextDevice",
          "traits": {
            "smithy.api#documentation": "<p>A device's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the application instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#CreateApplicationInstanceResponse": {
      "type": "structure",
      "members": {
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreateJobForDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#CreateJobForDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#CreateJobForDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a job to run on a device. A job can update a device's software or reboot it.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#CreateJobForDevicesRequest": {
      "type": "structure",
      "members": {
        "DeviceIds": {
          "target": "com.amazonaws.panorama#DeviceIdList",
          "traits": {
            "smithy.api#documentation": "<p>ID of target device.</p>",
            "smithy.api#required": {}
          }
        },
        "DeviceJobConfig": {
          "target": "com.amazonaws.panorama#DeviceJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for a software update job.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.panorama#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The type of job to run.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreateJobForDevicesResponse": {
      "type": "structure",
      "members": {
        "Jobs": {
          "target": "com.amazonaws.panorama#JobList",
          "traits": {
            "smithy.api#documentation": "<p>A list of jobs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreateNodeFromTemplateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#CreateNodeFromTemplateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#CreateNodeFromTemplateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a camera stream node.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/packages/template-job",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#CreateNodeFromTemplateJobRequest": {
      "type": "structure",
      "members": {
        "TemplateType": {
          "target": "com.amazonaws.panorama#TemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The type of node.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputPackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>An output package name for the node.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputPackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>An output package version for the node.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeName": {
          "target": "com.amazonaws.panorama#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the node.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeDescription": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the node.</p>"
          }
        },
        "TemplateParameters": {
          "target": "com.amazonaws.panorama#TemplateParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>Template parameters for the node.</p>",
            "smithy.api#required": {}
          }
        },
        "JobTags": {
          "target": "com.amazonaws.panorama#JobTagsList",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the job.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#CreateNodeFromTemplateJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreatePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#CreatePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#CreatePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a package and storage location in an Amazon S3 access point.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/packages",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#CreatePackageImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#CreatePackageImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#CreatePackageImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports a node package.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/packages/import-jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#CreatePackageImportJobRequest": {
      "type": "structure",
      "members": {
        "JobType": {
          "target": "com.amazonaws.panorama#PackageImportJobType",
          "traits": {
            "smithy.api#documentation": "<p>A job type for the package import job.</p>",
            "smithy.api#required": {}
          }
        },
        "InputConfig": {
          "target": "com.amazonaws.panorama#PackageImportJobInputConfig",
          "traits": {
            "smithy.api#documentation": "<p>An input config for the package import job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.panorama#PackageImportJobOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>An output config for the package import job.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.panorama#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A client token for the package import job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobTags": {
          "target": "com.amazonaws.panorama#JobTagsList",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the package import job.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#CreatePackageImportJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreatePackageRequest": {
      "type": "structure",
      "members": {
        "PackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the package.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the package.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#CreatePackageResponse": {
      "type": "structure",
      "members": {
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The package's ID.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.panorama#NodePackageArn",
          "traits": {
            "smithy.api#documentation": "<p>The package's ARN.</p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.panorama#StorageLocation",
          "traits": {
            "smithy.api#documentation": "<p>The package's storage location.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#CreatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.panorama#CurrentSoftware": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#DefaultGateway": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.panorama#DefaultRuntimeContextDevice": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#DeleteDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DeleteDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DeleteDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a device.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DeleteDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DeleteDeviceResponse": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DeletePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DeletePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DeletePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a package.</p>\n         <note>\n            <p>To delete a package, you need permission to call <code>s3:DeleteObject</code> in addition to permissions for\n        the AWS Panorama API.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/packages/{PackageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DeletePackageRequest": {
      "type": "structure",
      "members": {
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The package's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ForceDelete": {
          "target": "com.amazonaws.panorama#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Delete the package even if it has artifacts stored in its access point. Deletes the package's artifacts from\n      Amazon S3.</p>",
            "smithy.api#httpQuery": "ForceDelete"
          }
        }
      }
    },
    "com.amazonaws.panorama#DeletePackageResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.panorama#DeregisterPackageVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DeregisterPackageVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DeregisterPackageVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deregisters a package version.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/packages/{PackageId}/versions/{PackageVersion}/patch/{PatchVersion}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DeregisterPackageVersionRequest": {
      "type": "structure",
      "members": {
        "OwnerAccount": {
          "target": "com.amazonaws.panorama#PackageOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>An owner account.</p>",
            "smithy.api#httpQuery": "OwnerAccount"
          }
        },
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>A package ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>A package version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PatchVersion": {
          "target": "com.amazonaws.panorama#NodePackagePatchVersion",
          "traits": {
            "smithy.api#documentation": "<p>A patch version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "UpdatedLatestPatchVersion": {
          "target": "com.amazonaws.panorama#NodePackagePatchVersion",
          "traits": {
            "smithy.api#documentation": "<p>If the version was marked latest, the new version to maker as latest.</p>",
            "smithy.api#httpQuery": "UpdatedLatestPatchVersion"
          }
        }
      }
    },
    "com.amazonaws.panorama#DeregisterPackageVersionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.panorama#DescribeApplicationInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeApplicationInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeApplicationInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an application instance on a device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/application-instances/{ApplicationInstanceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeApplicationInstanceDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeApplicationInstanceDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeApplicationInstanceDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an application instance's configuration manifest.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/application-instances/{ApplicationInstanceId}/details",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeApplicationInstanceDetailsRequest": {
      "type": "structure",
      "members": {
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeApplicationInstanceDetailsResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.panorama#ApplicationInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's description.</p>"
          }
        },
        "DefaultRuntimeContextDevice": {
          "target": "com.amazonaws.panorama#DefaultRuntimeContextDevice",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's default runtime context device.</p>"
          }
        },
        "ManifestPayload": {
          "target": "com.amazonaws.panorama#ManifestPayload",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's configuration manifest.</p>"
          }
        },
        "ManifestOverridesPayload": {
          "target": "com.amazonaws.panorama#ManifestOverridesPayload",
          "traits": {
            "smithy.api#documentation": "<p>Parameter overrides for the configuration manifest.</p>"
          }
        },
        "ApplicationInstanceIdToReplace": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application instance that this instance replaced.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the application instance was created.</p>"
          }
        },
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeApplicationInstanceRequest": {
      "type": "structure",
      "members": {
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeApplicationInstanceResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.panorama#ApplicationInstanceName",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's description.</p>"
          }
        },
        "DefaultRuntimeContextDevice": {
          "target": "com.amazonaws.panorama#DefaultRuntimeContextDevice",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        },
        "DefaultRuntimeContextDeviceName": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's bane.</p>"
          }
        },
        "ApplicationInstanceIdToReplace": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the application instance that this instance replaced.</p>"
          }
        },
        "RuntimeRoleArn": {
          "target": "com.amazonaws.panorama#RuntimeRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's runtime role ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#ApplicationInstanceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's status.</p>"
          }
        },
        "HealthStatus": {
          "target": "com.amazonaws.panorama#ApplicationInstanceHealthStatus",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's health status.</p>"
          }
        },
        "StatusDescription": {
          "target": "com.amazonaws.panorama#ApplicationInstanceStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's status description.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the application instance was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The application instance was updated.</p>"
          }
        },
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.panorama#ApplicationInstanceArn",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ARN.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's tags.</p>"
          }
        },
        "RuntimeContextStates": {
          "target": "com.amazonaws.panorama#ReportedRuntimeContextStates",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's state.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeDeviceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeDeviceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeDeviceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a device job.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jobs/{JobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeDeviceJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeDeviceJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        },
        "DeviceArn": {
          "target": "com.amazonaws.panorama#DeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The device's ARN.</p>"
          }
        },
        "DeviceName": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's name.</p>"
          }
        },
        "DeviceType": {
          "target": "com.amazonaws.panorama#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device's type.</p>"
          }
        },
        "ImageVersion": {
          "target": "com.amazonaws.panorama#ImageVersion",
          "traits": {
            "smithy.api#documentation": "<p>For an OTA job, the target version of the device software.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#UpdateProgress",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#UpdateCreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.panorama#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The job's type.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeDeviceResponse": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's name.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.panorama#DeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The device's ARN.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The device's description.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.panorama#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device's type.</p>"
          }
        },
        "DeviceConnectionStatus": {
          "target": "com.amazonaws.panorama#DeviceConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The device's connection status.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#CreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the device was created.</p>"
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.panorama#DeviceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The device's provisioning status.</p>"
          }
        },
        "LatestSoftware": {
          "target": "com.amazonaws.panorama#LatestSoftware",
          "traits": {
            "smithy.api#documentation": "<p>The latest software version available for the device.</p>"
          }
        },
        "CurrentSoftware": {
          "target": "com.amazonaws.panorama#CurrentSoftware",
          "traits": {
            "smithy.api#documentation": "<p>The device's current software version.</p>"
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.panorama#DeviceSerialNumber",
          "traits": {
            "smithy.api#documentation": "<p>The device's serial number.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The device's tags.</p>"
          }
        },
        "NetworkingConfiguration": {
          "target": "com.amazonaws.panorama#NetworkPayload",
          "traits": {
            "smithy.api#documentation": "<p>The device's networking configuration.</p>"
          }
        },
        "CurrentNetworkingStatus": {
          "target": "com.amazonaws.panorama#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The device's networking status.</p>"
          }
        },
        "LeaseExpirationTime": {
          "target": "com.amazonaws.panorama#LeaseExpirationTime",
          "traits": {
            "smithy.api#documentation": "<p>The device's lease expiration time.</p>"
          }
        },
        "AlternateSoftwares": {
          "target": "com.amazonaws.panorama#AlternateSoftwares",
          "traits": {
            "smithy.api#documentation": "<p>Beta software releases available for the device.</p>"
          }
        },
        "LatestAlternateSoftware": {
          "target": "com.amazonaws.panorama#LatestAlternateSoftware",
          "traits": {
            "smithy.api#documentation": "<p>The most recent beta software release.</p>"
          }
        },
        "Brand": {
          "target": "com.amazonaws.panorama#DeviceBrand",
          "traits": {
            "smithy.api#documentation": "<p>The device's maker.</p>"
          }
        },
        "LatestDeviceJob": {
          "target": "com.amazonaws.panorama#LatestDeviceJob",
          "traits": {
            "smithy.api#documentation": "<p>A device's latest job. Includes the target image version, and the job status.</p>"
          }
        },
        "DeviceAggregatedStatus": {
          "target": "com.amazonaws.panorama#DeviceAggregatedStatus",
          "traits": {
            "smithy.api#documentation": "<p>A device's aggregated status. Including the device's connection status, provisioning status, and lease status.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeNodeRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeNodeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a node.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/nodes/{NodeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeNodeFromTemplateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribeNodeFromTemplateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribeNodeFromTemplateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a job to create a camera stream node.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packages/template-job/{JobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribeNodeFromTemplateJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeNodeFromTemplateJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#NodeFromTemplateJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.panorama#NodeFromTemplateJobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The job's status message.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#CreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.panorama#LastUpdatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputPackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>The job's output package name.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputPackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The job's output package version.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeName": {
          "target": "com.amazonaws.panorama#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The node's name.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeDescription": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The node's description.</p>"
          }
        },
        "TemplateType": {
          "target": "com.amazonaws.panorama#TemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The job's template type.</p>",
            "smithy.api#required": {}
          }
        },
        "TemplateParameters": {
          "target": "com.amazonaws.panorama#TemplateParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The job's template parameters.</p>",
            "smithy.api#required": {}
          }
        },
        "JobTags": {
          "target": "com.amazonaws.panorama#JobTagsList",
          "traits": {
            "smithy.api#documentation": "<p>The job's tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeNodeRequest": {
      "type": "structure",
      "members": {
        "NodeId": {
          "target": "com.amazonaws.panorama#NodeId",
          "traits": {
            "smithy.api#documentation": "<p>The node's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OwnerAccount": {
          "target": "com.amazonaws.panorama#PackageOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the node's owner.</p>",
            "smithy.api#httpQuery": "OwnerAccount"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribeNodeResponse": {
      "type": "structure",
      "members": {
        "NodeId": {
          "target": "com.amazonaws.panorama#NodeId",
          "traits": {
            "smithy.api#documentation": "<p>The node's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.panorama#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The node's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Category": {
          "target": "com.amazonaws.panorama#NodeCategory",
          "traits": {
            "smithy.api#documentation": "<p>The node's category.</p>",
            "smithy.api#required": {}
          }
        },
        "OwnerAccount": {
          "target": "com.amazonaws.panorama#PackageOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the node's owner.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>The node's package name.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The node's package ID.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageArn": {
          "target": "com.amazonaws.panorama#NodePackageArn",
          "traits": {
            "smithy.api#documentation": "<p>The node's ARN.</p>"
          }
        },
        "PackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The node's package version.</p>",
            "smithy.api#required": {}
          }
        },
        "PatchVersion": {
          "target": "com.amazonaws.panorama#NodePackagePatchVersion",
          "traits": {
            "smithy.api#documentation": "<p>The node's patch version.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeInterface": {
          "target": "com.amazonaws.panorama#NodeInterface",
          "traits": {
            "smithy.api#documentation": "<p>The node's interface.</p>",
            "smithy.api#required": {}
          }
        },
        "AssetName": {
          "target": "com.amazonaws.panorama#NodeAssetName",
          "traits": {
            "smithy.api#documentation": "<p>The node's asset name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>The node's description.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the node was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the node was updated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribePackageRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribePackageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a package.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packages/metadata/{PackageId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribePackageImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribePackageImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a package import job.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packages/import-jobs/{JobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageImportJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageImportJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.panorama#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The job's client token.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.panorama#PackageImportJobType",
          "traits": {
            "smithy.api#documentation": "<p>The job's type.</p>",
            "smithy.api#required": {}
          }
        },
        "InputConfig": {
          "target": "com.amazonaws.panorama#PackageImportJobInputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The job's input config.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.panorama#PackageImportJobOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The job's output config.</p>",
            "smithy.api#required": {}
          }
        },
        "Output": {
          "target": "com.amazonaws.panorama#PackageImportJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The job's output.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#CreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.panorama#LastUpdatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#PackageImportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job's status.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.panorama#PackageImportJobStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The job's status message.</p>",
            "smithy.api#required": {}
          }
        },
        "JobTags": {
          "target": "com.amazonaws.panorama#JobTagsList",
          "traits": {
            "smithy.api#documentation": "<p>The job's tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageRequest": {
      "type": "structure",
      "members": {
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The package's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageResponse": {
      "type": "structure",
      "members": {
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The package's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>The package's name.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.panorama#NodePackageArn",
          "traits": {
            "smithy.api#documentation": "<p>The package's ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.panorama#StorageLocation",
          "traits": {
            "smithy.api#documentation": "<p>The package's storage location.</p>",
            "smithy.api#required": {}
          }
        },
        "ReadAccessPrincipalArns": {
          "target": "com.amazonaws.panorama#PrincipalArnsList",
          "traits": {
            "smithy.api#documentation": "<p>ARNs of accounts that have read access to the package.</p>"
          }
        },
        "WriteAccessPrincipalArns": {
          "target": "com.amazonaws.panorama#PrincipalArnsList",
          "traits": {
            "smithy.api#documentation": "<p>ARNs of accounts that have write access to the package.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>When the package was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The package's tags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#DescribePackageVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#DescribePackageVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a package version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packages/metadata/{PackageId}/versions/{PackageVersion}",
          "code": 200
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageVersionRequest": {
      "type": "structure",
      "members": {
        "OwnerAccount": {
          "target": "com.amazonaws.panorama#PackageOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The version's owner account.</p>",
            "smithy.api#httpQuery": "OwnerAccount"
          }
        },
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The version's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version's version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PatchVersion": {
          "target": "com.amazonaws.panorama#NodePackagePatchVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version's patch version.</p>",
            "smithy.api#httpQuery": "PatchVersion"
          }
        }
      }
    },
    "com.amazonaws.panorama#DescribePackageVersionResponse": {
      "type": "structure",
      "members": {
        "OwnerAccount": {
          "target": "com.amazonaws.panorama#PackageOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the version's owner.</p>"
          }
        },
        "PackageId": {
          "target": "com.amazonaws.panorama#NodePackageId",
          "traits": {
            "smithy.api#documentation": "<p>The version's ID.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageArn": {
          "target": "com.amazonaws.panorama#NodePackageArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the package.</p>"
          }
        },
        "PackageName": {
          "target": "com.amazonaws.panorama#NodePackageName",
          "traits": {
            "smithy.api#documentation": "<p>The version's name.</p>",
            "smithy.api#required": {}
          }
        },
        "PackageVersion": {
          "target": "com.amazonaws.panorama#NodePackageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version's version.</p>",
            "smithy.api#required": {}
          }
        },
        "PatchVersion": {
          "target": "com.amazonaws.panorama#NodePackagePatchVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version's patch version.</p>",
            "smithy.api#required": {}
          }
        },
        "IsLatestPatch": {
          "target": "com.amazonaws.panorama#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the version is the latest available.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#PackageVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The version's status.</p>",
            "smithy.api#required": {}
          }
        },
        "StatusDescription": {
          "target": "com.amazonaws.panorama#PackageVersionStatusDescription",
          "traits": {
            "smithy.api#documentation": "<p>The version's status description.</p>"
          }
        },
        "RegisteredTime": {
          "target": "com.amazonaws.panorama#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The version's registered time.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.panorama#DesiredState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "REMOVED",
            "name": "REMOVED"
          }
        ]
      }
    },
    "com.amazonaws.panorama#Device": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The device's ID.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The device's name.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#CreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the device was created.</p>"
          }
        },
        "ProvisioningStatus": {
          "target": "com.amazonaws.panorama#DeviceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The device's provisioning status.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.panorama#LastUpdatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the device was updated.</p>"
          }
        },
        "LeaseExpirationTime": {
          "target": "com.amazonaws.panorama#LeaseExpirationTime",
          "traits": {
            "smithy.api#documentation": "<p>The device's lease expiration time.</p>"
          }
        },
        "Brand": {
          "target": "com.amazonaws.panorama#DeviceBrand",
          "traits": {
            "smithy.api#documentation": "<p>The device's maker.</p>"
          }
        },
        "CurrentSoftware": {
          "target": "com.amazonaws.panorama#CurrentSoftware",
          "traits": {
            "smithy.api#documentation": "<p>A device's current software.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.panorama#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the device.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The device's tags.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.panorama#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device's type.</p>"
          }
        },
        "LatestDeviceJob": {
          "target": "com.amazonaws.panorama#LatestDeviceJob",
          "traits": {
            "smithy.api#documentation": "<p>A device's latest job. Includes the target image version, and the update job status.</p>"
          }
        },
        "DeviceAggregatedStatus": {
          "target": "com.amazonaws.panorama#DeviceAggregatedStatus",
          "traits": {
            "smithy.api#documentation": "<p>A device's aggregated status. Including the device's connection status, provisioning status, and lease status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A device.</p>"
      }
    },
    "com.amazonaws.panorama#DeviceAggregatedStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "AWAITING_PROVISIONING",
            "name": "AWAITING_PROVISIONING"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "ONLINE",
            "name": "ONLINE"
          },
          {
            "value": "OFFLINE",
            "name": "OFFLINE"
          },
          {
            "value": "LEASE_EXPIRED",
            "name": "LEASE_EXPIRED"
          },
          {
            "value": "UPDATE_NEEDED",
            "name": "UPDATE_NEEDED"
          },
          {
            "value": "REBOOTING",
            "name": "REBOOTING"
          }
        ]
      }
    },
    "com.amazonaws.panorama#DeviceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#DeviceBrand": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_PANORAMA",
            "name": "AWS_PANORAMA"
          },
          {
            "value": "LENOVO",
            "name": "LENOVO"
          }
        ]
      }
    },
    "com.amazonaws.panorama#DeviceConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ONLINE",
            "name": "ONLINE"
          },
          {
            "value": "OFFLINE",
            "name": "OFFLINE"
          },
          {
            "value": "AWAITING_CREDENTIALS",
            "name": "AWAITING_CREDENTIALS"
          },
          {
            "value": "NOT_AVAILABLE",
            "name": "NOT_AVAILABLE"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.panorama#DeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#DeviceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#DeviceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.panorama#DeviceJob": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "target": "com.amazonaws.panorama#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the target device</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the target device.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.panorama#CreatedTime",
          "traits": {
            "smithy.api#documentation": "<p>When the job was created.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.panorama#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The job's type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A job that runs on a device.</p>"
      }
    },
    "com.amazonaws.panorama#DeviceJobConfig": {
      "type": "structure",
      "members": {
        "OTAJobConfig": {
          "target": "com.amazonaws.panorama#OTAJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for an over-the-air (OTA) upgrade. Required for OTA jobs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A job's configuration.</p>"
      }
    },
    "com.amazonaws.panorama#DeviceJobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#DeviceJob"
      }
    },
    "com.amazonaws.panorama#DeviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#Device"
      }
    },
    "com.amazonaws.panorama#DeviceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#DeviceReportedStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "STOP_ERROR",
            "name": "STOP_ERROR"
          },
          {
            "value": "REMOVAL_FAILED",
            "name": "REMOVAL_FAILED"
          },
          {
            "value": "REMOVAL_IN_PROGRESS",
            "name": "REMOVAL_IN_PROGRESS"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "INSTALL_ERROR",
            "name": "INSTALL_ERROR"
          },
          {
            "value": "LAUNCHED",
            "name": "LAUNCHED"
          },
          {
            "value": "LAUNCH_ERROR",
            "name": "LAUNCH_ERROR"
          },
          {
            "value": "INSTALL_IN_PROGRESS",
            "name": "INSTALL_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.panorama#DeviceSerialNumber": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{1,20}$"
      }
    },
    "com.amazonaws.panorama#DeviceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWAITING_PROVISIONING",
            "name": "AWAITING_PROVISIONING"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.panorama#DeviceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PANORAMA_APPLIANCE_DEVELOPER_KIT",
            "name": "PANORAMA_APPLIANCE_DEVELOPER_KIT"
          },
          {
            "value": "PANORAMA_APPLIANCE",
            "name": "PANORAMA_APPLIANCE"
          }
        ]
      }
    },
    "com.amazonaws.panorama#Dns": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.panorama#DnsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#Dns"
      }
    },
    "com.amazonaws.panorama#EthernetPayload": {
      "type": "structure",
      "members": {
        "ConnectionType": {
          "target": "com.amazonaws.panorama#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>How the device gets an IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "StaticIpConnectionInfo": {
          "target": "com.amazonaws.panorama#StaticIpConnectionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Network configuration for a static IP connection.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A device's network configuration.</p>"
      }
    },
    "com.amazonaws.panorama#EthernetStatus": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "target": "com.amazonaws.panorama#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The device's IP address.</p>"
          }
        },
        "ConnectionStatus": {
          "target": "com.amazonaws.panorama#NetworkConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The device's connection status.</p>"
          }
        },
        "HwAddress": {
          "target": "com.amazonaws.panorama#HwAddress",
          "traits": {
            "smithy.api#documentation": "<p>The device's physical address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A device's Ethernet status.</p>"
      }
    },
    "com.amazonaws.panorama#HwAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#ImageVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^.+$"
      }
    },
    "com.amazonaws.panorama#InputPortList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#NodeInputPort"
      }
    },
    "com.amazonaws.panorama#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.panorama#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.panorama#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of seconds a client should wait before retrying the call.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.panorama#IotThingName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#IpAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d))(:(6553[0-5]|655[0-2]\\d|65[0-4]\\d{2}|6[0-4]\\d{3}|[1-5]\\d{4}|[1-9]\\d{0,3}))?$"
      }
    },
    "com.amazonaws.panorama#IpAddressOrServerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "(^([a-z0-9]+(-[a-z0-9]+)*\\.)+[a-z]{2,}$)|(^((25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d)\\.(25[0-5]|2[0-4]\\d|1\\d\\d|[1-9]?\\d))(:(6553[0-5]|655[0-2]\\d|65[0-4]\\d{2}|6[0-4]\\d{3}|[1-5]\\d{4}|[1-9]\\d{0,3}))?$)"
      }
    },
    "com.amazonaws.panorama#Job": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.panorama#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The job's ID.</p>"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The target device's ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A job for a device.</p>"
      }
    },
    "com.amazonaws.panorama#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-\\_]+$"
      }
    },
    "com.amazonaws.panorama#JobList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#Job"
      }
    },
    "com.amazonaws.panorama#JobResourceTags": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.panorama#JobResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The job's type.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.panorama#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The job's tags.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Tags for a job.</p>"
      }
    },
    "com.amazonaws.panorama#JobResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PACKAGE",
            "name": "PACKAGE"
          }
        ]
      }
    },
    "com.amazonaws.panorama#JobTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.panorama#JobResourceTags"
      }
    },
    "com.amazonaws.panorama#JobType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OTA",
            "name": "OTA"
          },
          {
            "value": "REBOOT",
            "name": "REBOOT"
          }
        ]
      }
    },
    "com.amazonaws.panorama#LastUpdatedTime": {
      "type": "timestamp"
    },
    "com.amazonaws.panorama#LatestAlternateSoftware": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#LatestDeviceJob": {
      "type": "structure",
      "members": {
        "ImageVersion": {
          "target": "com.amazonaws.panorama#ImageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The target version of the device software.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.panorama#UpdateProgress",
          "traits": {
            "smithy.api#documentation": "<p>Status of the latest device job.</p>"
          }
        },
        "JobType": {
          "target": "com.amazonaws.panorama#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The job's type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the latest device job.</p>"
      }
    },
    "com.amazonaws.panorama#LatestSoftware": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.panorama#LeaseExpirationTime": {
      "type": "timestamp"
    },
    "com.amazonaws.panorama#ListApplicationInstanceDependencies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#ListApplicationInstanceDependenciesRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#ListApplicationInstanceDependenciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of application instance dependencies.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/application-instances/{ApplicationInstanceId}/package-dependencies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstanceDependenciesRequest": {
      "type": "structure",
      "members": {
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instance's ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.panorama#MaxSize25",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of application instance dependencies to return in one page of results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token from a previous request to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstanceDependenciesResponse": {
      "type": "structure",
      "members": {
        "PackageObjects": {
          "target": "com.amazonaws.panorama#PackageObjects",
          "traits": {
            "smithy.api#documentation": "<p>A list of package objects.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token that's included if more results are available.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstanceNodeInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#ListApplicationInstanceNodeInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#ListApplicationInstanceNodeInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of application node instances.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/application-instances/{ApplicationInstanceId}/node-instances",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstanceNodeInstancesRequest": {
      "type": "structure",
      "members": {
        "ApplicationInstanceId": {
          "target": "com.amazonaws.panorama#ApplicationInstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The node instances' application instance ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.panorama#MaxSize25",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of node instances to return in one page of results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token from a previous request to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstanceNodeInstancesResponse": {
      "type": "structure",
      "members": {
        "NodeInstances": {
          "target": "com.amazonaws.panorama#NodeInstances",
          "traits": {
            "smithy.api#documentation": "<p>A list of node instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token that's included if more results are available.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#ListApplicationInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#ListApplicationInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of application instances.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/application-instances",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstancesRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The application instances' device ID.</p>",
            "smithy.api#httpQuery": "deviceId"
          }
        },
        "StatusFilter": {
          "target": "com.amazonaws.panorama#StatusFilter",
          "traits": {
            "smithy.api#documentation": "<p>Only include instances with a specific status.</p>",
            "smithy.api#httpQuery": "statusFilter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.panorama#MaxSize25",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of application instances to return in one page of results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token from a previous request to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListApplicationInstancesResponse": {
      "type": "structure",
      "members": {
        "ApplicationInstances": {
          "target": "com.amazonaws.panorama#ApplicationInstances",
          "traits": {
            "smithy.api#documentation": "<p>A list of application instances.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token that's included if more results are available.</p>"
          }
        }
      }
    },
    "com.amazonaws.panorama#ListDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#ListDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#ListDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of devices.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.panorama#ListDevicesJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.panorama#ListDevicesJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.panorama#ListDevicesJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.panorama#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.panorama#ConflictException"
        },
        {
          "target": "com.amazonaws.panorama#InternalServerException"
        },
        {
          "target": "com.amazonaws.panorama#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.panorama#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of jobs.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/jobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.panorama#ListDevicesJobsRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.panorama#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>Filter results by the job's target device ID.</p>",
            "smithy.api#httpQuery": "DeviceId"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.panorama#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token from a previous request to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.panorama#MaxSize25",
          "traits": {
            "smithy.api#default": 0,
[...]
