{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the access denial.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to insufficient permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedExceptionReason": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AllocationCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^\\d{4}-\\d{2}-\\d{2}$"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AttributionSortBy": {
      "type": "enum",
      "members": {
        "LAST_MODIFIED_DATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastModifiedDate"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#AttributionSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the revenue attribution.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the revenue attribution.</p>"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the revenue attribution belongs to.</p>"
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the revenue attribution.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        },
        "TenancyModel": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TenancyModel",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy model for this revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "MarketplaceProduct": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product attributes associated with this attribution, if set.</p>"
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the revenue attribution was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the revenue attribution was last modified.</p>"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The latest revision of the revenue attribution resource.</p>"
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The date from which this revenue attribution is effective, derived from the earliest allocation start date (YYYY-MM-DD).</p>"
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The date until which this revenue attribution is effective, derived from the latest allocation end date (YYYY-MM-DD).</p>"
          }
        },
        "TotalActiveRevenueAttributionAllocationCount": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of allocations under this revenue attribution whose Status is ACTIVE.</p>"
          }
        },
        "TotalRevenueAttributionAllocationCount": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of allocations under this revenue attribution, counting both ACTIVE and INACTIVE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary representation of a revenue attribution returned in list operations.</p>"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#Catalog": {
      "type": "resource",
      "identifiers": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShare"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttribution"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "catalog/{Catalog}"
        },
        "aws.iam#conditionKeys": ["partnercentral:Catalog"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "catalog"
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CatalogName": {
      "type": "enum",
      "members": {
        "AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS"
          }
        },
        "SANDBOX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sandbox"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]{1,64}$"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ConflictExceptionReason": {
      "type": "enum",
      "members": {
        "CONFLICT_CLIENT_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT_CLIENT_TOKEN"
          }
        },
        "CONCURRENT_MODIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONCURRENT_MODIFICATION"
          }
        },
        "RESOURCE_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_ALREADY_EXISTS"
          }
        },
        "REVISION_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVISION_MISMATCH"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a new marketplace revenue share resource in the specified catalog.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateMarketplaceRevenueShare",
            "input": {
              "Catalog": "AWS",
              "ProductId": "prod-abc123def4567"
            },
            "output": {
              "ProductId": "prod-abc123def4567",
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/marketplace-revenue-share/prod-abc123def4567"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/CreateMarketplaceRevenueShare"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Creates a new marketplace revenue share allocation for the specified product.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateMarketplaceRevenueShareAllocation",
            "input": {
              "Catalog": "AWS",
              "ProductId": "prod-abc123def4567",
              "EffectiveFrom": "2026-07-01",
              "RevenueSharePercent": "15.50"
            },
            "output": {
              "MarketplaceRevenueShareAllocationId": "mrsa-abc123def4567",
              "ProductId": "prod-abc123def4567",
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/marketplace-revenue-share-allocation/mrsa-abc123def4567",
              "EffectiveFrom": "2026-07-01",
              "RevenueSharePercent": "15.50",
              "Status": "ACTIVE"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/CreateMarketplaceRevenueShareAllocation"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog in which to create the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier for the parent revenue share.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MarketplaceProductId"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique token to ensure idempotency of the create request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective start date for the allocation. Must be the first day of a month.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective end date for the allocation. Must be the last day of a month (YYYY-MM-DD). Omit for open-ended allocations.</p>"
          }
        },
        "RevenueSharePercent": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueSharePercent",
          "traits": {
            "smithy.api#documentation": "<p>The revenue share percentage for this allocation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocationOutput": {
      "type": "structure",
      "members": {
        "MarketplaceRevenueShareAllocationId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the newly created allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the AWS Marketplace product.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective start date of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective end date of the allocation, or null if open-ended.</p>"
          }
        },
        "RevenueSharePercent": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueSharePercent",
          "traits": {
            "smithy.api#documentation": "<p>The revenue share percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the allocation was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the allocation was last modified.</p>"
          }
        },
        "LatestMarketplaceRevenueShareRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The latest revision of the parent marketplace revenue share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog in which to create the marketplace revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique token to ensure idempotency of the create request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier for this revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareTagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the marketplace revenue share upon creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareOutput": {
      "type": "structure",
      "members": {
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier of the newly created revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created marketplace revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the marketplace revenue share belongs to.</p>"
          }
        },
        "ProductCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product code.</p>"
          }
        },
        "ProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the AWS Marketplace product.</p>"
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the marketplace revenue share was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the marketplace revenue share was last modified.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the newly created marketplace revenue share.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateRevenueAttribution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateRevenueAttributionInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateRevenueAttributionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a new revenue attribution record in the specified catalog.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateRevenueAttribution",
            "input": {
              "Catalog": "AWS",
              "Name": "My Revenue Attribution",
              "TenancyModel": "MULTI_TENANT"
            },
            "output": {
              "Id": "ra-0a1b2c3d4e5f6",
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/revenue-attribution/ra-0a1b2c3d4e5f6",
              "TenancyModel": "MULTI_TENANT"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/CreateRevenueAttribution"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateRevenueAttributionFailure",
            "params": {
              "Catalog": "AWS",
              "ClientToken": "test-token",
              "Name": "TestAttribution",
              "TenancyModel": "MULTI_TENANT"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateRevenueAttributionInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog in which to create the revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique token to ensure idempotency of the create request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the revenue attribution. Must be unique within the catalog and the partner's account.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            },
            "smithy.api#pattern": "^[\\x20-\\x7E]+$",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the revenue attribution.</p>",
            "smithy.api#length": {
              "max": 1024
            },
            "smithy.api#pattern": "^[\\x20-\\x7E]*$"
          }
        },
        "TenancyModel": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TenancyModel",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy model for this revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique product identifier in AWS Marketplace. Accepts a product entity ID (e.g., prod-abc123def4567) or a product ARN.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            },
            "smithy.api#pattern": "^[\\w\\-:/.]+$"
          }
        },
        "Tags": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the revenue attribution upon creation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CreateRevenueAttributionOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the newly created revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the revenue attribution.</p>"
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the revenue attribution.</p>"
          }
        },
        "TenancyModel": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TenancyModel",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy model for this revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "MarketplaceProduct": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>The associated AWS Marketplace product listing, if set at creation.</p>"
          }
        },
        "Revision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the newly created attribution resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CustomerAwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#CustomerAwsAccountIdFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CustomerAwsAccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#EntityIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\w\\-:/.]+$"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#EntityIdentifierFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#EntityType": {
      "type": "enum",
      "members": {
        "OFFER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFFER"
          }
        },
        "OPPORTUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPPORTUNITY"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#EntityTypeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#FieldValidationCode": {
      "type": "enum",
      "members": {
        "REQUIRED_FIELD_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_FIELD_MISSING"
          }
        },
        "DUPLICATE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_VALUE"
          }
        },
        "INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VALUE"
          }
        },
        "INVALID_STRING_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_STRING_FORMAT"
          }
        },
        "TOO_MANY_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_VALUES"
          }
        },
        "ACTION_NOT_PERMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_NOT_PERMITTED"
          }
        },
        "INVALID_ENUM_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ENUM_VALUE"
          }
        },
        "INVALID_NUMBER_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_NUMBER_FORMAT"
          }
        },
        "INVALID_STRING_LENGTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_STRING_LENGTH"
          }
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Retrieves the details of a specific marketplace revenue share.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetMarketplaceRevenueShare",
            "input": {
              "Catalog": "AWS",
              "ProductId": "prod-abc123def4567"
            },
            "output": {
              "ProductId": "prod-abc123def4567",
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/marketplace-revenue-share/prod-abc123def4567",
              "Catalog": "AWS"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetMarketplaceRevenueShare"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Retrieves the details of a specific marketplace revenue share allocation.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetMarketplaceRevenueShareAllocation",
            "input": {
              "Catalog": "AWS",
              "ProductId": "prod-abc123def4567",
              "MarketplaceRevenueShareAllocationId": "mrsa-abc123def4567"
            },
            "output": {
              "MarketplaceRevenueShareAllocationId": "mrsa-abc123def4567",
              "ProductId": "prod-abc123def4567",
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/marketplace-revenue-share-allocation/mrsa-abc123def4567",
              "EffectiveFrom": "2026-07-01",
              "RevenueSharePercent": "15.50",
              "Status": "ACTIVE"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetMarketplaceRevenueShareAllocation"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the allocation belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier of the parent revenue share.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MarketplaceProductId"
          }
        },
        "MarketplaceRevenueShareAllocationId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the allocation to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "MarketplaceRevenueShareRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the parent marketplace revenue share at which to retrieve the allocation. Omit to return the latest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocationOutput": {
      "type": "structure",
      "members": {
        "MarketplaceRevenueShareAllocationId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the AWS Marketplace product.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective start date of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The effective end date of the allocation, or null if open-ended.</p>"
          }
        },
        "RevenueSharePercent": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueSharePercent",
          "traits": {
            "smithy.api#documentation": "<p>The revenue share percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the allocation.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the allocation was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the allocation was last modified.</p>"
          }
        },
        "LatestMarketplaceRevenueShareRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The latest revision of the parent marketplace revenue share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the marketplace revenue share belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier of the revenue share to retrieve.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MarketplaceProductId"
          }
        },
        "Revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the marketplace revenue share to retrieve. Omit to return the latest revision.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareOutput": {
      "type": "structure",
      "members": {
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier of the revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the marketplace revenue share.</p>",
            "smithy.api#required": {}
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the marketplace revenue share belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product code.</p>"
          }
        },
        "ProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the AWS Marketplace product.</p>"
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the marketplace revenue share was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the marketplace revenue share was last modified.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the retrieved marketplace revenue share.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "LatestRevision": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The latest revision number of the marketplace revenue share.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "TotalActiveMarketplaceRevenueShareAllocationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of active allocations under this marketplace revenue share.</p>"
          }
        },
        "TotalMarketplaceRevenueShareAllocationCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of allocations under this marketplace revenue share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttribution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Retrieves the details of a specific revenue attribution.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetRevenueAttribution",
            "input": {
              "Catalog": "AWS",
              "Identifier": "ra-0a1b2c3d4e5f6"
            },
            "output": {
              "Arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/revenue-attribution/ra-0a1b2c3d4e5f6",
              "Id": "ra-0a1b2c3d4e5f6",
              "Catalog": "AWS",
              "TenancyModel": "MULTI_TENANT"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetRevenueAttribution"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetRevenueAttributionFailure",
            "params": {
              "Catalog": "AWS",
              "Identifier": "ra-0a1b2c3d4e5f6"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Retrieves a single allocation by its RevenueAttributionAllocationId. Supports optional point-in-time version queries.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetRevenueAttributionAllocation",
            "input": {
              "Catalog": "AWS",
              "RevenueAttributionIdentifier": "ra-0a1b2c3d4e5f6",
              "RevenueAttributionAllocationId": "alloc-abc123def4567"
            },
            "output": {
              "RevenueAttributionAllocationId": "alloc-abc123def4567",
              "RevenueAttributionIdentifier": "ra-0a1b2c3d4e5f6",
              "EntityType": "OFFER",
              "EntityIdentifier": "offer-abc123",
              "CustomerAwsAccountId": "123456789012",
              "RevenueSharePercent": "15.50",
              "EffectiveFrom": "2026-07-01",
              "EffectiveUntil": "2026-07-31",
              "Status": "ACTIVE",
              "CreatedDate": 1719792000,
              "LastModifiedDate": 1719792000,
              "RevenueAttributionRevision": "1",
              "RevenueAttributionLatestRevision": "1"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetRevenueAttributionAllocation"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that contains the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionIdentifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The revenue attribution identifier.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "RevenueAttributionId"
          }
        },
        "RevenueAttributionAllocationId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The allocation identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>Point-in-time revision number to query.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationOutput": {
      "type": "structure",
      "members": {
        "RevenueAttributionAllocationId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>Unique allocation identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionIdentifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The revenue attribution identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityType": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the associated deal entity.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityIdentifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the associated deal entity.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the associated deal entity.</p>"
          }
        },
        "CustomerAwsAccountId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CustomerAwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The customer AWS account ID for this associated deal entity.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueSharePercent": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueSharePercent",
          "traits": {
            "smithy.api#documentation": "<p>Revenue share percentage.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>First day of the effective month.</p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Last day of the effective month.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current allocation status.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the allocation was first created.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the allocation was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision of this allocation version.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionLatestRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The latest committed revision.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationsTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationsTaskInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationsTaskOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Retrieves the current status of a previously submitted allocations task. When COMPLETE, includes the latest revision. When FAILED, includes error details.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetRevenueAttributionAllocationsTask",
            "input": {
              "Catalog": "AWS",
              "RevenueAttributionIdentifier": "ra-0a1b2c3d4e5f6"
            },
            "output": {
              "TaskId": "raatask-abc123def4567",
              "Status": "COMPLETE",
              "Catalog": "AWS",
              "RevenueAttributionArn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/revenue-attribution/ra-0a1b2c3d4e5f6",
              "StartedAt": 1719792000,
              "TotalRevenueAttributionAllocationRecords": 1
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetRevenueAttributionAllocationsTask"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationsTaskInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that contains the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionIdentifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The revenue attribution identifier.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "RevenueAttributionId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionAllocationsTaskOutput": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the asynchronous task.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current task status.</p>",
            "smithy.api#required": {}
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog used for this task.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the revenue attribution resource.</p>",
            "smithy.api#required": {}
          }
        },
        "StartedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When processing started.</p>",
            "smithy.api#required": {}
          }
        },
        "EndedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When processing ended. Only present when COMPLETE or FAILED.</p>"
          }
        },
        "TotalRevenueAttributionAllocationRecords": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Total revenue attribution allocation records in the batch.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable description, if provided at creation.</p>"
          }
        },
        "RevenueAttributionLatestRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision number assigned to this batch. Only present when COMPLETE.</p>"
          }
        },
        "ErrorDetailList": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationErrorDetailList",
          "traits": {
            "smithy.api#documentation": "<p>All errors discovered during async processing. Only present when FAILED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the revenue attribution belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the revenue attribution to retrieve. Accepts a direct ID or ARN.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "RevenueAttributionId"
          }
        },
        "Revision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the attribution to retrieve. Omit to return the latest revision.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#GetRevenueAttributionOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that the revenue attribution belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the revenue attribution.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the revenue attribution.</p>",
            "smithy.api#length": {
              "max": 1024
            }
          }
        },
        "TenancyModel": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TenancyModel",
          "traits": {
            "smithy.api#documentation": "<p>The tenancy model for this revenue attribution.</p>",
            "smithy.api#required": {}
          }
        },
        "MarketplaceProduct": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>The associated AWS Marketplace product listing, if set.</p>"
          }
        },
        "CreatedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the revenue attribution was created.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the revenue attribution was last modified.</p>"
          }
        },
        "Revision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the retrieved attribution.</p>"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>The latest revision of the attribution.</p>"
          }
        },
        "EffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The date from which this revenue attribution is effective, derived from the earliest allocation start date (YYYY-MM-DD).</p>"
          }
        },
        "EffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>The date until which this revenue attribution is effective, derived from the latest allocation end date (YYYY-MM-DD).</p>"
          }
        },
        "TotalActiveRevenueAttributionAllocationCount": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of allocations under this revenue attribution whose Status is ACTIVE.</p>"
          }
        },
        "TotalRevenueAttributionAllocationCount": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of allocations under this revenue attribution, counting both ACTIVE and INACTIVE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry your request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocationsInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Returns a paginated list of allocations under a marketplace revenue share, with optional filtering by status and effective date range. Supports historical reads at a specific share revision.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListMarketplaceRevenueShareAllocations",
            "input": {
              "Catalog": "AWS",
              "ProductId": "prod-abc123def4567"
            },
            "output": {
              "MarketplaceRevenueShareAllocationSummaries": []
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListMarketplaceRevenueShareAllocations"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "MarketplaceRevenueShareAllocationSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocationsInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog containing the allocations.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product identifier for the parent revenue share.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "MarketplaceProductId"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filter by allocation status.</p>"
          }
        },
        "AfterEffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Inclusive lower bound for EffectiveFrom date filter.</p>"
          }
        },
        "BeforeEffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Exclusive upper bound for EffectiveFrom date filter (half-open range).</p>"
          }
        },
        "SortBy": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationSortField",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort marketplace revenue share allocations by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The direction to sort results. Defaults to DESCENDING.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results per page.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from a previous response.</p>"
          }
        },
        "MarketplaceRevenueShareRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>Optional share revision for historical list. Returns allocations as they existed at this revision.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocationsOutput": {
      "type": "structure",
      "members": {
        "MarketplaceRevenueShareAllocationSummaries": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of allocation summaries for the current page.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token for the next page. Absent if no more results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShares": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueSharesInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueSharesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of marketplace revenue shares with optional filters.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListMarketplaceRevenueShares",
            "input": {
              "Catalog": "AWS",
              "MaxResults": 10
            },
            "output": {
              "MarketplaceRevenueShareSummaries": []
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListMarketplaceRevenueShares"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "MarketplaceRevenueShareSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueSharesInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog to list marketplace revenue shares from.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductIds": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductIdList",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include shares with these product identifiers.</p>"
          }
        },
        "ProductCodes": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ProductCodeList",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include shares with these product codes.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for pagination. Use the value returned in the previous response to retrieve the next page.</p>"
          }
        },
        "SortBy": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort marketplace revenue shares by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The direction to sort results.</p>"
          }
        },
        "CreatedAfter": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include marketplace revenue shares created after this timestamp.</p>"
          }
        },
        "CreatedBefore": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include marketplace revenue shares created before this timestamp.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueSharesOutput": {
      "type": "structure",
      "members": {
        "MarketplaceRevenueShareSummaries": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of marketplace revenue share summaries.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for pagination. Present if there are more results available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionAllocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionAllocationsInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionAllocationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Returns a paginated list of committed allocations with support for filtering by entity, customer, status, or date range.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListRevenueAttributionAllocations",
            "input": {
              "Catalog": "AWS",
              "RevenueAttributionIdentifier": "ra-0a1b2c3d4e5f6"
            },
            "output": {
              "RevenueAttributionAllocationSummaries": []
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListRevenueAttributionAllocations"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "RevenueAttributionAllocationSummaries"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionAllocationsInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog that contains the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "RevenueAttributionIdentifier": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The revenue attribution identifier to query.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "RevenueAttributionId"
          }
        },
        "EntityTypeFilters": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityTypeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by deal entity types.</p>"
          }
        },
        "EntityIdentifierFilters": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#EntityIdentifierFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by deal entity identifiers.</p>"
          }
        },
        "CustomerAwsAccountIdFilters": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CustomerAwsAccountIdFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by customer AWS account IDs for associated deal entities.</p>"
          }
        },
        "StatusFilter": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Filter by allocation status.</p>"
          }
        },
        "AfterEffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Inclusive lower bound for EffectiveFrom date filter.</p>"
          }
        },
        "BeforeEffectiveFrom": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Exclusive upper bound for EffectiveFrom date filter (half-open range).</p>"
          }
        },
        "AfterEffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Inclusive lower bound for EffectiveUntil date filter.</p>"
          }
        },
        "BeforeEffectiveUntil": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AllocationEffectiveDateString",
          "traits": {
            "smithy.api#documentation": "<p>Exclusive upper bound for EffectiveUntil date filter (half-open range).</p>"
          }
        },
        "SortBy": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationSortField",
          "traits": {
            "smithy.api#documentation": "<p>Field to sort by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Sort direction. Defaults to ASCENDING.</p>"
          }
        },
        "RevenueAttributionRevision": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevisionToken",
          "traits": {
            "smithy.api#documentation": "<p>Point-in-time revision number to query.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum results per page.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 500
            }
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from previous response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionAllocationsOutput": {
      "type": "structure",
      "members": {
        "RevenueAttributionAllocationSummaries": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionAllocationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Paginated list of allocations matching filters.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for next page. Absent if no more results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionsInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a paginated list of revenue attributions with optional filters.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListRevenueAttributions",
            "input": {
              "Catalog": "AWS"
            },
            "output": {
              "RevenueAttributionSummaries": []
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListRevenueAttributions"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "RevenueAttributionSummaries"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListRevenueAttributionsFailure",
            "params": {
              "Catalog": "AWS",
              "MaxResults": 1
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionsInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog to list revenue attributions from.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifiers": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include revenue attributions with the specified identifiers.</p>"
          }
        },
        "CreatedAfter": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include revenue attributions created after this timestamp.</p>"
          }
        },
        "CreatedBefore": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include revenue attributions created before this timestamp.</p>"
          }
        },
        "SortBy": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AttributionSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort revenue attributions by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The direction to sort results.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for pagination. Use the value returned in the previous response to retrieve the next page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListRevenueAttributionsOutput": {
      "type": "structure",
      "members": {
        "RevenueAttributionSummaries": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttributionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The list of revenue attribution summaries.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for pagination. Present if there are more results available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Returns the tags associated with the specified resource.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListTagsForResource"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListTagsForResourceFailureRevenueAttribution",
            "params": {
              "resourceArn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/revenue-attribution/ra-0a1b2c3d4e5f6"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          },
          {
            "id": "ListTagsForResourceFailureMarketplaceRevenueShare",
            "params": {
              "resourceArn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/marketplace-revenue-share/prod-0a1b2c3d4e5f6"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to list tags for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.partnercentralrevenuemeasurement#RevenueAttribution",
            "ids": {
              "Catalog": "resourceArn",
              "RevenueAttributionId": "resourceArn"
            }
          },
          {
            "resource": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShare",
            "ids": {
              "Catalog": "resourceArn",
              "MarketplaceProductId": "resourceArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 18,
          "max": 18
        },
        "smithy.api#pattern": "^prod-[a-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductSummary": {
      "type": "structure",
      "members": {
        "ProductId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The product identifier provided at attribution creation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            },
            "smithy.api#pattern": "^[\\w\\-:/.]+$"
          }
        },
        "ProductCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Marketplace product code resolved using the product identifier.</p>"
          }
        },
        "ProductName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the AWS Marketplace product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Read-time AWS Marketplace product attributes returned in revenue attribution responses, including service-resolved fields.</p>"
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShare": {
      "type": "resource",
      "identifiers": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CatalogName"
        },
        "MarketplaceProductId": {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceProductId"
        }
      },
      "create": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShare"
      },
      "read": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShare"
      },
      "list": {
        "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShares"
      },
      "operations": [
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#CreateMarketplaceRevenueShareAllocation"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#GetMarketplaceRevenueShareAllocation"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#ListMarketplaceRevenueShareAllocations"
        },
        {
          "target": "com.amazonaws.partnercentralrevenuemeasurement#UpdateMarketplaceRevenueShareAllocation"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "catalog/{Catalog}/marketplace-revenue-share/{MarketplaceProductId}"
        },
        "aws.api#taggable": {},
        "aws.iam#conditionKeys": ["partnercentral:Catalog"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "marketplace-revenue-share"
        }
      }
    },
    "com.amazonaws.partnercentralrevenuemeasurement#MarketplaceRevenueShareAllocationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 18,
          "max": 18
        },
        "smithy.api#pattern": "^mrsa-[A-Za-z0-9]{13}$"
      }
    },
[...]
