{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.partnercentralchannel#AcceptChannelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a pending channel handshake request from another AWS account.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for AcceptChannelHandshake",
            "input": {
              "catalog": "AWS",
              "identifier": "ch-4fj3bd2o3vb91"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91",
                "status": "ACCEPTED"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/AcceptChannelHandshake",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the accepted handshake.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accepted handshake.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the accepted handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an accepted channel handshake.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the handshake request.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the channel handshake to accept.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeResponse": {
      "type": "structure",
      "members": {
        "channelHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#AcceptChannelHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the accepted channel handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the access denial.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the access denial.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to insufficient permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.partnercentralchannel#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralchannel#AccountId"
      }
    },
    "com.amazonaws.partnercentralchannel#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.partnercentralchannel#AssociatedResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 17
        },
        "smithy.api#pattern": "^(pma|rs)-[a-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralchannel#AssociatedResourceIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 1011
        },
        "smithy.api#pattern": "^((arn:[a-z-]+:partnercentral:[a-z0-9-]+:[0-9]{12}:catalog/[a-zA-Z]+/program-management-account/pma-[a-z0-9]{13}(/relationship/rs-[a-z0-9]{13})?)|(pma|rs)-[a-z0-9]{13})$"
      }
    },
    "com.amazonaws.partnercentralchannel#AssociatedResourceIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralchannel#AssociatedResourceIdentifier"
      }
    },
    "com.amazonaws.partnercentralchannel#AssociationType": {
      "type": "enum",
      "members": {
        "DOWNSTREAM_SELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOWNSTREAM_SELLER"
          }
        },
        "END_CUSTOMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_CUSTOMER"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#AssociationTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralchannel#AssociationType"
      }
    },
    "com.amazonaws.partnercentralchannel#CancelChannelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#CancelChannelHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#CancelChannelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a pending channel handshake request.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CancelChannelHandshake",
            "input": {
              "catalog": "AWS",
              "identifier": "ch-4fj3bd2o3vb91"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91",
                "status": "CANCELED"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/CancelChannelHandshake",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CancelChannelHandshakeDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the canceled handshake.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the canceled handshake.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the canceled handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a canceled channel handshake.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#CancelChannelHandshakeRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the handshake request.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the channel handshake to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CancelChannelHandshakeResponse": {
      "type": "structure",
      "members": {
        "channelHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#CancelChannelHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the canceled channel handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^ch-[a-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakeIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 1011
        },
        "smithy.api#pattern": "^(arn:[a-z-]+:partnercentral:[a-z0-9-]+:[0-9]{12}:catalog/[a-zA-Z]+/channel-handshake/)?ch-[a-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakePayload": {
      "type": "union",
      "members": {
        "startServicePeriodPayload": {
          "target": "com.amazonaws.partnercentralchannel#StartServicePeriodPayload",
          "traits": {
            "smithy.api#documentation": "<p>Payload for starting a service period handshake.</p>"
          }
        },
        "revokeServicePeriodPayload": {
          "target": "com.amazonaws.partnercentralchannel#RevokeServicePeriodPayload",
          "traits": {
            "smithy.api#documentation": "<p>Payload for revoking a service period handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the payload data for different types of channel handshakes.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakeResource": {
      "type": "resource",
      "identifiers": {
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.partnercentralchannel#CreateChannelHandshake"
      },
      "list": {
        "target": "com.amazonaws.partnercentralchannel#ListChannelHandshakes"
      },
      "operations": [
        {
          "target": "com.amazonaws.partnercentralchannel#AcceptChannelHandshake"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#CancelChannelHandshake"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#RejectChannelHandshake"
        }
      ]
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakeSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeSummary"
      }
    },
    "com.amazonaws.partnercentralchannel#ChannelHandshakeSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the handshake.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the handshake.</p>"
          }
        },
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier associated with the handshake.</p>"
          }
        },
        "handshakeType": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the handshake.</p>"
          }
        },
        "ownerAccountId": {
          "target": "com.amazonaws.partnercentralchannel#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the handshake owner.</p>"
          }
        },
        "senderAccountId": {
          "target": "com.amazonaws.partnercentralchannel#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the handshake sender.</p>"
          }
        },
        "senderDisplayName": {
          "target": "com.amazonaws.partnercentralchannel#PartnerProfileDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the handshake sender.</p>"
          }
        },
        "receiverAccountId": {
          "target": "com.amazonaws.partnercentralchannel#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the handshake receiver.</p>"
          }
        },
        "associatedResourceId": {
          "target": "com.amazonaws.partnercentralchannel#AssociatedResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource associated with the handshake.</p>"
          }
        },
        "detail": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the handshake.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.partnercentralchannel#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the handshake was created.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.partnercentralchannel#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the handshake was last updated.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a channel handshake.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the conflict.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that caused the conflict.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that caused the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.partnercentralchannel#Coverage": {
      "type": "enum",
      "members": {
        "ENTIRE_ORGANIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENTIRE_ORGANIZATION"
          }
        },
        "MANAGEMENT_ACCOUNT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_ACCOUNT_ONLY"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#CreateChannelHandshake": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#CreateChannelHandshakeRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#CreateChannelHandshakeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new channel handshake request to establish a partnership with another AWS account.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateChannelHandshake - START_SERVICE_PERIOD with Minimum Notice Period",
            "input": {
              "handshakeType": "START_SERVICE_PERIOD",
              "catalog": "AWS",
              "associatedResourceIdentifier": "rs-abc123def456g",
              "payload": {
                "startServicePeriodPayload": {
                  "programManagementAccountIdentifier": "pma-abcdef123456g",
                  "servicePeriodType": "MINIMUM_NOTICE_PERIOD",
                  "minimumNoticeDays": "14",
                  "note": "Optional Note"
                }
              },
              "clientToken": "clientToken"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91"
              }
            }
          },
          {
            "title": "Example for CreateChannelHandshake - START_SERVICE_PERIOD with Fixed Commitment Period",
            "input": {
              "handshakeType": "START_SERVICE_PERIOD",
              "catalog": "AWS",
              "associatedResourceIdentifier": "rs-abc123def456g",
              "payload": {
                "startServicePeriodPayload": {
                  "programManagementAccountIdentifier": "pma-abcdef123456g",
                  "servicePeriodType": "FIXED_COMMITMENT_PERIOD",
                  "endDate": "2026-07-01T00:00:00Z",
                  "note": "Optional Note"
                }
              },
              "clientToken": "clientToken"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91"
              }
            }
          },
          {
            "title": "Example for CreateChannelHandshake - REVOKE_SERVICE_PERIOD",
            "input": {
              "handshakeType": "REVOKE_SERVICE_PERIOD",
              "catalog": "AWS",
              "associatedResourceIdentifier": "rs-abc123def456g",
              "payload": {
                "revokeServicePeriodPayload": {
                  "programManagementAccountIdentifier": "pma-abcdef123456g",
                  "note": "Optional Note"
                }
              },
              "clientToken": "clientToken"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91"
              }
            }
          },
          {
            "title": "Example for CreateChannelHandshake - PROGRAM_MANAGEMENT_ACCOUNT",
            "input": {
              "handshakeType": "PROGRAM_MANAGEMENT_ACCOUNT",
              "catalog": "AWS",
              "associatedResourceIdentifier": "pma-123abc456def7",
              "clientToken": "clientToken"
            },
            "output": {
              "channelHandshakeDetail": {
                "id": "ch-4fj3bd2o3vb91",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/CreateChannelHandshake",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateChannelHandshakeDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created handshake.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a newly created channel handshake.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#CreateChannelHandshakeRequest": {
      "type": "structure",
      "members": {
        "handshakeType": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of handshake to create (e.g., start service period, revoke service period).</p>",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the handshake request.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedResourceIdentifier": {
          "target": "com.amazonaws.partnercentralchannel#AssociatedResourceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource associated with this handshake.</p>",
            "smithy.api#required": {}
          }
        },
        "payload": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakePayload",
          "traits": {
            "smithy.api#documentation": "<p>The payload containing specific details for the handshake type.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.partnercentralchannel#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.partnercentralchannel#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with the channel handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateChannelHandshakeResponse": {
      "type": "structure",
      "members": {
        "channelHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#CreateChannelHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the created channel handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateProgramManagementAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new program management account for managing partner relationships.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateProgramManagementAccount",
            "input": {
              "catalog": "AWS",
              "program": "SOLUTION_PROVIDER",
              "displayName": "TestDisplayName",
              "accountId": "111122223333",
              "clientToken": "clientToken"
            },
            "output": {
              "programManagementAccountDetail": {
                "id": "pma-u8ic702rtzng8",
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/CreateProgramManagementAccount",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateProgramManagementAccountFailure",
            "params": {
              "catalog": "AWS",
              "displayName": "TestAccount",
              "program": "SOLUTION_PROVIDER",
              "accountId": "000000000000"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountDetail": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created program management account.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created program management account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a newly created program management account.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the program management account.</p>",
            "smithy.api#required": {}
          }
        },
        "program": {
          "target": "com.amazonaws.partnercentralchannel#Program",
          "traits": {
            "smithy.api#documentation": "<p>The program type for the management account.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the program management account.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "com.amazonaws.partnercentralchannel#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID to associate with the program management account.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.partnercentralchannel#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.partnercentralchannel#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with the program management account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountResponse": {
      "type": "structure",
      "members": {
        "programManagementAccountDetail": {
          "target": "com.amazonaws.partnercentralchannel#CreateProgramManagementAccountDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the created program management account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateRelationship": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#CreateRelationshipRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#CreateRelationshipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new partner relationship between accounts.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for CreateRelationship",
            "input": {
              "catalog": "AWS",
              "associationType": "DOWNSTREAM_SELLER",
              "programManagementAccountIdentifier": "pma-u8ic702rtzng8",
              "associatedAccountId": "987654321012",
              "displayName": "TestDisplayName",
              "resaleAccountModel": "END_CUSTOMER",
              "sector": "COMMERCIAL",
              "clientToken": "clientToken"
            },
            "output": {
              "relationshipDetail": {
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8/relationship/rs-l9o4fj3b5zb91",
                "id": "rs-l9o4fj3b5zb91"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/CreateRelationship",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateRelationshipFailure",
            "params": {
              "catalog": "AWS",
              "associationType": "END_CUSTOMER",
              "programManagementAccountIdentifier": "pma-1234567890123",
              "associatedAccountId": "000000000000",
              "displayName": "TestRelationship",
              "sector": "COMMERCIAL"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralchannel#CreateRelationshipDetail": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.partnercentralchannel#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created relationship.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about a newly created relationship.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#CreateRelationshipRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.partnercentralchannel#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association for the relationship (e.g., reseller, distributor).</p>",
            "smithy.api#required": {}
          }
        },
        "programManagementAccountIdentifier": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the program management account for this relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedAccountId": {
          "target": "com.amazonaws.partnercentralchannel#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID to associate in this relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "resaleAccountModel": {
          "target": "com.amazonaws.partnercentralchannel#ResaleAccountModel",
          "traits": {
            "smithy.api#documentation": "<p>The resale account model for the relationship.</p>"
          }
        },
        "sector": {
          "target": "com.amazonaws.partnercentralchannel#Sector",
          "traits": {
            "smithy.api#documentation": "<p>The business sector for the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.partnercentralchannel#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.partnercentralchannel#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to associate with the relationship.</p>"
          }
        },
        "requestedSupportPlan": {
          "target": "com.amazonaws.partnercentralchannel#SupportPlan",
          "traits": {
            "smithy.api#documentation": "<p>The support plan requested for this relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#CreateRelationshipResponse": {
      "type": "structure",
      "members": {
        "relationshipDetail": {
          "target": "com.amazonaws.partnercentralchannel#CreateRelationshipDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the created relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteProgramManagementAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#DeleteProgramManagementAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#DeleteProgramManagementAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a program management account.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for DeleteProgramManagementAccount",
            "input": {
              "catalog": "AWS",
              "identifier": "pma-u8ic702rtzng8",
              "clientToken": "clientToken"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "uri": "/DeleteProgramManagementAccount",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteProgramManagementAccountRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the program management account.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the program management account to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.partnercentralchannel#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteProgramManagementAccountResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteRelationship": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#DeleteRelationshipRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#DeleteRelationshipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a partner relationship.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for DeleteRelationship",
            "input": {
              "catalog": "AWS",
              "programManagementAccountIdentifier": "pma-u8ic702rtzng8",
              "identifier": "rs-l9o4fj3b5zb91",
              "clientToken": "clientToken"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "uri": "/DeleteRelationship",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteRelationshipRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the relationship to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "programManagementAccountIdentifier": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the program management account associated with the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.partnercentralchannel#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#DeleteRelationshipResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#GetRelationship": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#GetRelationshipRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#GetRelationshipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details of a specific partner relationship.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for GetRelationship",
            "input": {
              "catalog": "AWS",
              "programManagementAccountIdentifier": "pma-u8ic702rtzng8",
              "identifier": "rs-l9o4fj3b5zb91"
            },
            "output": {
              "relationshipDetail": {
                "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8/relationship/rs-l9o4fj3b5zb91",
                "id": "rs-l9o4fj3b5zb91",
                "revision": "3",
                "associationType": "DOWNSTREAM_SELLER",
                "programManagementAccountId": "pma-u8ic702rtzng8",
                "associatedAccountId": "987654321012",
                "displayName": "TestDisplayName",
                "resaleAccountModel": "END_CUSTOMER",
                "sector": "COMMERCIAL",
                "createdAt": "2024-04-29T16:18:16Z",
                "updatedAt": "2024-05-02T16:18:16Z"
              }
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/GetRelationship",
          "method": "POST",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralchannel#GetRelationshipRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "programManagementAccountIdentifier": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the program management account associated with the relationship.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the relationship to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#GetRelationshipResponse": {
      "type": "structure",
      "members": {
        "relationshipDetail": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details of the requested relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#HandshakeDetail": {
      "type": "union",
      "members": {
        "startServicePeriodHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#StartServicePeriodHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details for a start service period handshake.</p>"
          }
        },
        "revokeServicePeriodHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#RevokeServicePeriodHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details for a revoke service period handshake.</p>"
          }
        },
        "programManagementAccountHandshakeDetail": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountHandshakeDetail",
          "traits": {
            "smithy.api#documentation": "<p>Details for a program management account handshake.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about different types of handshakes.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#HandshakeStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACCEPTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPTED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        },
        "EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRED"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#HandshakeStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralchannel#HandshakeStatus"
      }
    },
    "com.amazonaws.partnercentralchannel#HandshakeType": {
      "type": "enum",
      "members": {
        "START_SERVICE_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_SERVICE_PERIOD"
          }
        },
        "REVOKE_SERVICE_PERIOD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOKE_SERVICE_PERIOD"
          }
        },
        "PROGRAM_MANAGEMENT_ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROGRAM_MANAGEMENT_ACCOUNT"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the internal server error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred while processing the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListChannelHandshakes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#ListChannelHandshakesRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#ListChannelHandshakesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists channel handshakes based on specified criteria.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListChannelHandshakes - START_SERVICE_PERIOD",
            "input": {
              "handshakeType": "START_SERVICE_PERIOD",
              "catalog": "AWS",
              "participantType": "SENDER",
              "statuses": ["ACCEPTED"],
              "associatedResourceIdentifiers": ["rs-123abc456def7"],
              "handshakeTypeFilters": {
                "startServicePeriodTypeFilters": {
                  "servicePeriodTypes": ["FIXED_COMMITMENT_PERIOD"]
                }
              },
              "handshakeTypeSort": {
                "startServicePeriodTypeSort": {
                  "sortBy": "UpdatedAt",
                  "sortOrder": "Descending"
                }
              }
            },
            "output": {
              "items": [
                {
                  "id": "ch-4fj3bd2o3vb91",
                  "arn": "arn:aws:partnercentral:us-east-1:111122223333:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91",
                  "catalog": "AWS",
                  "handshakeType": "START_SERVICE_PERIOD",
                  "ownerAccountId": "111122223333",
                  "senderAccountId": "111122224444",
                  "receiverAccountId": "333322221111",
                  "associatedResourceId": "rs-u8ic702rtfew1",
                  "detail": {
                    "startServicePeriodHandshakeDetail": {
                      "servicePeriodType": "MINIMUM_NOTICE_PERIOD",
                      "minimumNoticeDays": "14",
                      "note": "Optional_Note"
                    }
                  },
                  "createdAt": "2025-04-29T16:18:16.000Z",
                  "updatedAt": "2025-05-02T16:18:16.000Z",
                  "status": "PENDING"
                },
                {
                  "id": "ch-4fj3bd2o3vb92",
                  "arn": "arn:aws:partnercentral:us-east-1:111122223333:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb92",
                  "catalog": "AWS",
                  "handshakeType": "START_SERVICE_PERIOD",
                  "ownerAccountId": "111122223333",
                  "senderAccountId": "111122224444",
                  "receiverAccountId": "333322221111",
                  "associatedResourceId": "rs-u8ic702rtfew1",
                  "detail": {
                    "startServicePeriodHandshakeDetail": {
                      "servicePeriodType": "FIXED_COMMITMENT_PERIOD",
                      "startDate": "2025-02-02T00:00:00.000Z",
                      "endDate": "2027-03-31T00:00:00.000Z",
                      "note": "Optional_Note"
                    }
                  },
                  "createdAt": "2025-02-28T16:18:16.000Z",
                  "updatedAt": "2025-03-02T16:18:16.000Z",
                  "status": "PENDING"
                }
              ],
              "nextToken": "nextToken"
            }
          },
          {
            "title": "Example for ListChannelHandshakes - REVOKE_SERVICE_PERIOD",
            "input": {
              "handshakeType": "REVOKE_SERVICE_PERIOD",
              "catalog": "AWS",
              "participantType": "SENDER",
              "statuses": ["ACCEPTED"],
              "associatedResourceIdentifiers": ["rs-123abc456def7"],
              "handshakeTypeFilters": {
                "revokeServicePeriodTypeFilters": {
                  "servicePeriodTypes": ["MINIMUM_NOTICE_PERIOD"]
                }
              },
              "handshakeTypeSort": {
                "revokeServicePeriodTypeSort": {
                  "sortBy": "UpdatedAt",
                  "sortOrder": "Descending"
                }
              }
            },
            "output": {
              "items": [
                {
                  "id": "ch-4fj3bd2o3vb91",
                  "arn": "arn:aws:partnercentral:us-east-1:111122223333:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91",
                  "catalog": "AWS",
                  "handshakeType": "REVOKE_SERVICE_PERIOD",
                  "ownerAccountId": "111122223333",
                  "senderAccountId": "111122224444",
                  "receiverAccountId": "333322221111",
                  "associatedResourceId": "rs-u8ic702rtfew1",
                  "detail": {
                    "revokeServicePeriodHandshakeDetail": {
                      "servicePeriodType": "MINIMUM_NOTICE_PERIOD",
                      "minimumNoticeDays": "14",
                      "note": "Optional_Note"
                    }
                  },
                  "createdAt": "2025-04-29T16:18:16.000Z",
                  "updatedAt": "2025-05-02T16:18:16.000Z",
                  "status": "PENDING"
                }
              ],
              "nextToken": "nextToken"
            }
          },
          {
            "title": "Example for ListChannelHandshakes - PROGRAM_MANAGEMENT_ACCOUNT",
            "input": {
              "handshakeType": "PROGRAM_MANAGEMENT_ACCOUNT",
              "catalog": "AWS",
              "participantType": "SENDER",
              "statuses": ["ACCEPTED"],
              "associatedResourceIdentifiers": ["pma-123abc456def7"],
              "handshakeTypeFilters": {
                "programManagementAccountTypeFilters": {
                  "programs": ["SOLUTION_PROVIDER"]
                }
              },
              "handshakeTypeSort": {
                "programManagementAccountTypeSort": {
                  "sortBy": "UpdatedAt",
                  "sortOrder": "Descending"
                }
              },
              "maxResults": 20,
              "nextToken": "nextToken"
            },
            "output": {
              "items": [
                {
                  "id": "ch-4fj3bd2o3vb91",
                  "arn": "arn:aws:partnercentral:us-east-1:111122223333:catalog/AWS/channel-handshake/ch-4fj3bd2o3vb91",
                  "catalog": "AWS",
                  "handshakeType": "PROGRAM_MANAGEMENT_ACCOUNT",
                  "ownerAccountId": "111122223333",
                  "senderAccountId": "111122223333",
                  "receiverAccountId": "333322221111",
                  "associatedResourceId": "pma-u8ic702rtfew1",
                  "detail": {
                    "programManagementAccountHandshakeDetail": {
                      "program": "SOLUTION_PROVIDER"
                    }
                  },
                  "createdAt": "2025-02-28T16:18:16.000Z",
                  "updatedAt": "2025-03-02T16:18:16.000Z",
                  "status": "PENDING"
                }
              ],
              "nextToken": "nextToken"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/ListChannelHandshakes",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListChannelHandshakesRequest": {
      "type": "structure",
      "members": {
        "handshakeType": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeType",
          "traits": {
            "smithy.api#documentation": "<p>Filter results by handshake type.</p>",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier to filter handshakes.</p>",
            "smithy.api#required": {}
          }
        },
        "participantType": {
          "target": "com.amazonaws.partnercentralchannel#ParticipantType",
          "traits": {
            "smithy.api#documentation": "<p>Filter by participant type (sender or receiver).</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 20,
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "statuses": {
          "target": "com.amazonaws.partnercentralchannel#HandshakeStatusList",
          "traits": {
            "smithy.api#documentation": "<p>Filter results by handshake status.</p>"
          }
        },
        "associatedResourceIdentifiers": {
          "target": "com.amazonaws.partnercentralchannel#AssociatedResourceIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by associated resource identifiers.</p>"
          }
        },
        "handshakeTypeFilters": {
          "target": "com.amazonaws.partnercentralchannel#ListChannelHandshakesTypeFilters",
          "traits": {
            "smithy.api#documentation": "<p>Type-specific filters for handshakes.</p>"
          }
        },
        "handshakeTypeSort": {
          "target": "com.amazonaws.partnercentralchannel#ListChannelHandshakesTypeSort",
          "traits": {
            "smithy.api#documentation": "<p>Type-specific sorting options for handshakes.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListChannelHandshakesResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeSummaries",
          "traits": {
            "smithy.api#documentation": "<p>List of channel handshakes matching the criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListChannelHandshakesTypeFilters": {
      "type": "union",
      "members": {
        "startServicePeriodTypeFilters": {
          "target": "com.amazonaws.partnercentralchannel#StartServicePeriodTypeFilters",
          "traits": {
            "smithy.api#documentation": "<p>Filters specific to start service period handshakes.</p>"
          }
        },
        "revokeServicePeriodTypeFilters": {
          "target": "com.amazonaws.partnercentralchannel#RevokeServicePeriodTypeFilters",
          "traits": {
            "smithy.api#documentation": "<p>Filters specific to revoke service period handshakes.</p>"
          }
        },
        "programManagementAccountTypeFilters": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountTypeFilters",
          "traits": {
            "smithy.api#documentation": "<p>Filters specific to program management account handshakes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Type-specific filters for listing channel handshakes.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ListChannelHandshakesTypeSort": {
      "type": "union",
      "members": {
        "startServicePeriodTypeSort": {
          "target": "com.amazonaws.partnercentralchannel#StartServicePeriodTypeSort",
          "traits": {
            "smithy.api#documentation": "<p>Sorting options specific to start service period handshakes.</p>"
          }
        },
        "revokeServicePeriodTypeSort": {
          "target": "com.amazonaws.partnercentralchannel#RevokeServicePeriodTypeSort",
          "traits": {
            "smithy.api#documentation": "<p>Sorting options specific to revoke service period handshakes.</p>"
          }
        },
        "programManagementAccountTypeSort": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountTypeSort",
          "traits": {
            "smithy.api#documentation": "<p>Sorting options specific to program management account handshakes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Type-specific sorting options for listing channel handshakes.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ListProgramManagementAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists program management accounts based on specified criteria.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListProgramManagementAccounts",
            "input": {
              "catalog": "AWS",
              "maxResults": 20,
              "programs": ["SOLUTION_PROVIDER"],
              "displayNames": ["TestDisplayName"],
              "accountIds": ["111122223333"],
              "statuses": ["PENDING"],
              "sort": {
                "sortBy": "UpdatedAt",
                "sortOrder": "Descending"
              }
            },
            "output": {
              "items": [
                {
                  "id": "pma-u8ic702rtzng8",
                  "revision": "4",
                  "program": "SOLUTION_PROVIDER",
                  "displayName": "TestDisplayName",
                  "catalog": "AWS",
                  "accountId": "111122223333",
                  "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8",
                  "createdAt": "2024-04-29T08:52:46.397Z",
                  "updatedAt": "2024-05-02T16:18:16.432Z",
                  "status": "PENDING"
                }
              ],
              "nextToken": "nextToken"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/ListProgramManagementAccounts",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListProgramManagementAccountsSuccess",
            "params": {
              "catalog": "AWS",
              "maxResults": 1
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier to filter accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 20,
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "displayNames": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountDisplayNameList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by display names.</p>"
          }
        },
        "programs": {
          "target": "com.amazonaws.partnercentralchannel#ProgramList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by program types.</p>"
          }
        },
        "accountIds": {
          "target": "com.amazonaws.partnercentralchannel#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by AWS account IDs.</p>"
          }
        },
        "statuses": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountStatusList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by program management account statuses.</p>"
          }
        },
        "sort": {
          "target": "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsSortBase",
          "traits": {
            "smithy.api#documentation": "<p>Sorting options for the results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountSummaries",
          "traits": {
            "smithy.api#documentation": "<p>List of program management accounts matching the criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsSortBase": {
      "type": "structure",
      "members": {
        "sortOrder": {
          "target": "com.amazonaws.partnercentralchannel#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>",
            "smithy.api#required": {}
          }
        },
        "sortBy": {
          "target": "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsSortName",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort by.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Base sorting configuration for program management accounts.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ListProgramManagementAccountsSortName": {
      "type": "enum",
      "members": {
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdatedAt"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#ListRelationships": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#ListRelationshipsRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#ListRelationshipsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists partner relationships based on specified criteria.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListRelationships",
            "input": {
              "catalog": "AWS",
              "maxResults": 100,
              "associatedAccountIds": ["123456789012"],
              "associationTypes": ["DOWNSTREAM_SELLER"],
              "displayNames": ["TestDisplayName"],
              "programManagementAccountIdentifiers": ["pma-u8ic702rtzng8"],
              "sort": {
                "sortBy": "UpdatedAt",
                "sortOrder": "Descending"
              },
              "nextToken": "nextToken"
            },
            "output": {
              "items": [
                {
                  "arn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8/relationship/rs-l9o4fj3b5zb91",
                  "id": "rs-l9o4fj3b5zb91",
                  "revision": "3",
                  "associationType": "DOWNSTREAM_SELLER",
                  "programManagementAccountId": "pma-u8ic702rtzng8",
                  "associatedAccountId": "987654321012",
                  "displayName": "TestDisplayName",
                  "createdAt": "2024-04-29T16:18:16Z",
                  "updatedAt": "2024-05-02T16:18:16Z"
                }
              ],
              "nextToken": "nextToken"
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/ListRelationships",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListRelationshipsSuccess",
            "params": {
              "catalog": "AWS",
              "maxResults": 1
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralchannel#ListRelationshipsRequest": {
      "type": "structure",
      "members": {
        "catalog": {
          "target": "com.amazonaws.partnercentralchannel#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier to filter relationships.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": 20,
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "associatedAccountIds": {
          "target": "com.amazonaws.partnercentralchannel#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by associated AWS account IDs.</p>"
          }
        },
        "associationTypes": {
          "target": "com.amazonaws.partnercentralchannel#AssociationTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by association types.</p>"
          }
        },
        "displayNames": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipDisplayNameList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by display names.</p>"
          }
        },
        "programManagementAccountIdentifiers": {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Filter by program management account identifiers.</p>"
          }
        },
        "sort": {
          "target": "com.amazonaws.partnercentralchannel#ListRelationshipsSortBase",
          "traits": {
            "smithy.api#documentation": "<p>Sorting options for the results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListRelationshipsResponse": {
      "type": "structure",
      "members": {
        "items": {
          "target": "com.amazonaws.partnercentralchannel#RelationshipSummaries",
          "traits": {
            "smithy.api#documentation": "<p>List of relationships matching the criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.partnercentralchannel#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Token for retrieving the next page of results, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListRelationshipsSortBase": {
      "type": "structure",
      "members": {
        "sortOrder": {
          "target": "com.amazonaws.partnercentralchannel#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>",
            "smithy.api#required": {}
          }
        },
        "sortBy": {
          "target": "com.amazonaws.partnercentralchannel#ListRelationshipsSortName",
          "traits": {
            "smithy.api#documentation": "<p>The field to sort by.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Base sorting configuration for relationships.</p>"
      }
    },
    "com.amazonaws.partnercentralchannel#ListRelationshipsSortName": {
      "type": "enum",
      "members": {
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UpdatedAt"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralchannel#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralchannel#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists tags associated with a specific resource.</p>",
        "smithy.api#examples": [
          {
            "title": "Example for ListTagsForResource",
            "input": {
              "resourceArn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-u8ic702rtzng8"
            },
            "output": {
              "tags": [
                {
                  "key": "ExampleKey",
                  "value": "ExampleValue"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "uri": "/ListTagsForResource",
          "method": "POST",
          "code": 200
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListTagsForResourceFailure",
            "params": {
              "resourceArn": "arn:aws:partnercentral:us-east-1:123456789012:catalog/AWS/program-management-account/pma-1234567890123"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralchannel#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.partnercentralchannel#TaggableArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to list tags for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralchannel#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.partnercentralchannel#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs associated with the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralchannel#MinimumNoticeDays": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^[0-9]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[^\\x00-\\x1F\\x7F\\x20]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#Note": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^[^\\x00-\\x1F\\x7F]*$"
      }
    },
    "com.amazonaws.partnercentralchannel#ParticipantType": {
      "type": "enum",
      "members": {
        "SENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SENDER"
          }
        },
        "RECEIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVER"
          }
        }
      }
    },
    "com.amazonaws.partnercentralchannel#PartnerCentralChannel": {
      "type": "service",
      "version": "2024-03-18",
      "operations": [
        {
          "target": "com.amazonaws.partnercentralchannel#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#TagResource"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.partnercentralchannel#ChannelHandshakeResource"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ProgramManagementAccountResource"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#RelationshipResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.partnercentralchannel#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralchannel#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "PartnerCentral Channel",
          "endpointPrefix": "partnercentral-channel",
          "arnNamespace": "partnercentral",
          "cloudTrailEventSource": "partnercentral-channel.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "partnercentral-channel"
        },
        "aws.auth#sigv4a": {
          "name": "partnercentral-channel"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "aws_recommended"
        },
        "aws.iam#defineConditionKeys": {
          "partnercentral:Catalog": {
            "type": "String",
            "relativeDocumentation": "page.html#Catalog",
            "documentation": "Catalog"
          },
          "partnercentral:ChannelHandshakeType": {
            "type": "String",
            "relativeDocumentation": "page.html#ChannelHandshakeType",
            "documentation": "ChannelHandshakeType"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags that are passed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by the tags associated with the resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by a list of tag keys that are allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#auth": ["aws.auth#sigv4a", "aws.auth#sigv4"],
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>AWS Partner Central Channel service for managing partner relationships, handshakes, and program management accounts.</p>",
        "smithy.api#title": "Partner Central Channel API",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {
                      "authSchemes": [
                        {
                          "name": "sigv4a",
                          "signingRegionSet": ["*"]
                        },
                        {
                          "name": "sigv4"
                        }
                      ]
                    },
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                false
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://partnercentral-channel.us-gov.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingRegionSet": ["*"]
                                },
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "stringEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "name"
                                  ]
                                },
                                "aws-us-gov"
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://partnercentral-channel-fips.us-gov.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingRegionSet": ["*"]
                                },
                                {
                                  "name": "sigv4",
                                  "signingRegion": "us-gov-west-1"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://partnercentral-channel-fips.global.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingRegionSet": ["*"]
                                },
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://partnercentral-channel.global.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4a",
                                  "signingRegionSet": ["*"]
                                },
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4a",
                        "signingRegionSet": ["*"]
                      },
                      {
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4a",
                        "signingRegionSet": ["*"]
                      },
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://partnercentral-channel-fips.global.api.aws"
                }
              },
              "params": {
[...]
