{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.partnercentralbenefits#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the access denial.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown when the caller does not have sufficient permissions to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.partnercentralbenefits#AccessDetails": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the access privileges or permissions granted by this benefit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about access-based benefit fulfillment, such as service permissions or feature access.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#AmendBenefitApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#AmendBenefitApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#AmendBenefitApplicationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Modifies an existing benefit application by applying amendments to specific fields while maintaining revision control.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/AmendBenefitApplication"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#AmendBenefitApplicationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog the application belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotent processing of the amendment request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#pattern": "^[a-zA-Z0-9-]{1,64}$",
            "smithy.api#required": {}
          }
        },
        "Revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The current revision number of the benefit application to ensure optimistic concurrency control.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application to be amended.</p>",
            "smithy.api#required": {}
          }
        },
        "AmendmentReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive reason explaining why the benefit application is being amended.</p>",
            "smithy.api#length": {
              "max": 1000
            },
            "smithy.api#required": {}
          }
        },
        "Amendments": {
          "target": "com.amazonaws.partnercentralbenefits#AmendmentList",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific field amendments to apply to the benefit application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#AmendBenefitApplicationOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#Amendment": {
      "type": "structure",
      "members": {
        "FieldPath": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The JSON path or field identifier specifying which field in the benefit application to modify.</p>",
            "smithy.api#required": {}
          }
        },
        "NewValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The new value to set for the specified field in the benefit application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a specific change to be made to a benefit application field.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#AmendmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#Amendment"
      }
    },
    "com.amazonaws.partnercentralbenefits#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.+)$"
      }
    },
    "com.amazonaws.partnercentralbenefits#Arns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#Arn"
      }
    },
    "com.amazonaws.partnercentralbenefits#AssociateBenefitApplicationResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#AssociateBenefitApplicationResourceInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#AssociateBenefitApplicationResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Links an AWS resource to an existing benefit application for tracking and management purposes.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/AssociateBenefitApplicationResource"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#AssociateBenefitApplicationResourceInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog the application belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "BenefitApplicationIdentifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application to associate the resource with.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.partnercentralbenefits#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS resource to associate with the benefit application.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1600
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#AssociateBenefitApplicationResourceOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application after the resource association.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit application after the resource association.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The updated revision number of the benefit application after the resource association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#AssociatedResource": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.partnercentralbenefits#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of AWS resource (e.g., EC2 instance, S3 bucket, Lambda function).</p>"
          }
        },
        "ResourceIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is no longer used",
              "since": "Oct 08 2025"
            },
            "smithy.api#documentation": "<p>The unique identifier of the AWS resource within its service.</p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.partnercentralbenefits#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the AWS resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an AWS resource that is associated with a benefit application for tracking and management.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#AssociatedResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#AssociatedResource"
      }
    },
    "com.amazonaws.partnercentralbenefits#Attributes": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.partnercentralbenefits#Benefit": {
      "type": "resource",
      "identifiers": {
        "BenefitId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitId"
        },
        "CatalogName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.api#arn": {
          "template": "catalog/{CatalogName}/benefit/ben-{BenefitId}",
          "noAccount": true
        },
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:Programs",
          "partnercentral:FulfillmentTypes"
        ],
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocation": {
      "type": "resource",
      "identifiers": {
        "BenefitAllocationId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationId"
        },
        "CatalogName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.api#arn": {
          "template": "catalog/{CatalogName}/benefit-allocation/benalloc-{BenefitAllocationId}"
        },
        "aws.iam#conditionKeys": ["partnercentral:Catalog", "partnercentral:FulfillmentTypes"],
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:.+benalloc-[0-9a-z]{14})$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^benalloc-[0-9a-z]{14}$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:.+|benalloc-[0-9a-z]{14})$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        },
        "FULFILLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULFILLED"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationStatus"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationSummary"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitAllocationSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit allocation.</p>"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit allocation belongs to.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit allocation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the benefit allocation.</p>"
          }
        },
        "StatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional information explaining the current status of the benefit allocation.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationName",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit allocation.</p>"
          }
        },
        "BenefitId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit that this allocation is based on.</p>"
          }
        },
        "BenefitApplicationId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit application that resulted in this allocation.</p>"
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment types used for this benefit allocation.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation was created.</p>"
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation expires.</p>"
          }
        },
        "ApplicableBenefitIds": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitIds",
          "traits": {
            "smithy.api#documentation": "<p>The identifiers of the benefits applicable for this allocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary view of a benefit allocation containing key information for list operations.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplication": {
      "type": "resource",
      "identifiers": {
        "BenefitApplicationId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId"
        },
        "CatalogName": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.api#arn": {
          "template": "catalog/{CatalogName}/benefit-application/benappl-{BenefitApplicationId}"
        },
        "aws.iam#conditionKeys": ["partnercentral:Catalog"],
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^benappl-[0-9a-z]{14}$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:.+|benappl-[0-9a-z]{14})$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationStage": {
      "type": "string"
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationStatus": {
      "type": "enum",
      "members": {
        "PENDING_SUBMISSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_SUBMISSION"
          }
        },
        "IN_REVIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_REVIEW"
          }
        },
        "ACTION_REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_REQUIRED"
          }
        },
        "APPROVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPROVED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationSummary"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitApplicationSummary": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit application belongs to.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit application.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit application.</p>"
          }
        },
        "BenefitId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit being requested in this application.</p>"
          }
        },
        "Programs": {
          "target": "com.amazonaws.partnercentralbenefits#Programs",
          "traits": {
            "smithy.api#documentation": "<p>The AWS partner programs associated with this benefit application.</p>"
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment types requested for this benefit application.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current processing status of the benefit application.</p>"
          }
        },
        "Stage": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationStage",
          "traits": {
            "smithy.api#documentation": "<p>The current stage in the benefit application processing workflow..</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit application was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit application was last updated.</p>"
          }
        },
        "BenefitApplicationDetails": {
          "target": "com.amazonaws.partnercentralbenefits#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes and metadata associated with the benefit application.</p>"
          }
        },
        "AssociatedResources": {
          "target": "com.amazonaws.partnercentralbenefits#Arns",
          "traits": {
            "smithy.api#documentation": "<p>AWS resources that are associated with this benefit application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary view of a benefit application containing key information for list operations.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(arn:.+|ben-[0-9a-z]{14})$"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitId"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitId"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitStatuses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitStatus"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#BenefitSummary"
      }
    },
    "com.amazonaws.partnercentralbenefits#BenefitSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit.</p>",
            "smithy.api#pattern": "^ben-[0-9a-z]{14}$"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit belongs to.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit.</p>"
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            }
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the benefit and its purpose.</p>",
            "smithy.api#length": {
              "max": 1000
            }
          }
        },
        "Programs": {
          "target": "com.amazonaws.partnercentralbenefits#Programs",
          "traits": {
            "smithy.api#documentation": "<p>The AWS partner programs that this benefit is associated with.</p>"
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The available fulfillment types for this benefit.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the benefit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary view of a benefit containing key information for list operations.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#CancelBenefitApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#CancelBenefitApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#CancelBenefitApplicationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Cancels a benefit application that is currently in progress, preventing further processing.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/CancelBenefitApplication"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#CancelBenefitApplicationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog the application belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotent processing of the cancellation request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#pattern": "^[a-zA-Z0-9-]{1,64}$",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive reason explaining why the benefit application is being cancelled.</p>",
            "smithy.api#length": {
              "max": 1000
            },
            "smithy.api#pattern": "^[\\s\\S]{1,1000}$"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#CancelBenefitApplicationOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#CatalogName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
      }
    },
    "com.amazonaws.partnercentralbenefits#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown when the request conflicts with the current state of the resource, such as attempting to modify a resource that has been changed by another process.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.partnercentralbenefits#ConsumableDetails": {
      "type": "structure",
      "members": {
        "AllocatedAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of the consumable benefit that has been allocated.</p>"
          }
        },
        "RemainingAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The remaining amount of the consumable benefit that is still available for use.</p>"
          }
        },
        "UtilizedAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The amount of the consumable benefit that has already been used.</p>"
          }
        },
        "IssuanceDetails": {
          "target": "com.amazonaws.partnercentralbenefits#IssuanceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about how the consumable benefit was issued and distributed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about consumable benefit fulfillment, such as usage quotas or service limits.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#Contact": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.partnercentralbenefits#ContactEmail",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the contact person.</p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.partnercentralbenefits#ContactFirstName",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the contact person.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.partnercentralbenefits#ContactLastName",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the contact person.</p>"
          }
        },
        "BusinessTitle": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The business title or role of the contact person within the organization.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 80
            }
          }
        },
        "Phone": {
          "target": "com.amazonaws.partnercentralbenefits#ContactPhone",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact person.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents contact information for a partner representative.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#ContactEmail": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 80
        },
        "smithy.api#pattern": "^[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#ContactFirstName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 80
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#ContactLastName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 80
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#ContactPhone": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#Contacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#Contact"
      }
    },
    "com.amazonaws.partnercentralbenefits#CreateBenefitApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#CreateBenefitApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#CreateBenefitApplicationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:RequestTag/${TagKey}",
          "aws:TagKeys"
        ],
        "smithy.api#documentation": "<p>Creates a new benefit application for a partner to request access to AWS benefits and programs.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/CreateBenefitApplication"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#CreateBenefitApplicationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog to create the application in.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotent processing of the creation request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#pattern": "^[!-~]{1,64}$",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the benefit application.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the benefit application and its intended use.</p>"
          }
        },
        "BenefitIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit being requested in this application.</p>",
            "smithy.api#pattern": "^(arn:.+|ben-[0-9a-z]{14})$",
            "smithy.api#required": {}
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of fulfillment requested for this benefit application (e.g., credits, access, disbursement).</p>"
          }
        },
        "BenefitApplicationDetails": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information and requirements specific to the benefit being requested.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.partnercentralbenefits#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs to categorize and organize the benefit application.</p>",
            "smithy.api#length": {
              "max": 200
            }
          }
        },
        "AssociatedResources": {
          "target": "com.amazonaws.partnercentralbenefits#Arns",
          "traits": {
            "smithy.api#documentation": "<p>AWS resources that are associated with this benefit application.</p>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "PartnerContacts": {
          "target": "com.amazonaws.partnercentralbenefits#Contacts",
          "traits": {
            "smithy.api#documentation": "<p>Contact information for partner representatives responsible for this benefit application.</p>",
            "smithy.api#length": {
              "max": 1
            }
          }
        },
        "FileDetails": {
          "target": "com.amazonaws.partnercentralbenefits#FileInputDetails",
          "traits": {
            "smithy.api#documentation": "<p>Supporting documents and files attached to the benefit application.</p>",
            "smithy.api#length": {
              "max": 30
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#CreateBenefitApplicationOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the newly created benefit application.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created benefit application.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The initial revision number of the newly created benefit application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#CreditCode": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID that the credit code is associated with or can be applied to.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The monetary value of the credit code.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsCreditCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The actual credit code string that can be redeemed in the AWS billing console.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the credit code (e.g., active, redeemed, expired).</p>",
            "smithy.api#required": {}
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the credit code was issued.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the credit code expires and can no longer be redeemed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an AWS credit code that can be applied to an AWS account for billing purposes.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#CreditCodes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#CreditCode"
      }
    },
    "com.amazonaws.partnercentralbenefits#CreditDetails": {
      "type": "structure",
      "members": {
        "AllocatedAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The total amount of credits that have been allocated for this benefit.</p>",
            "smithy.api#required": {}
          }
        },
        "IssuedAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The amount of credits that have actually been issued and are available for use.</p>",
            "smithy.api#required": {}
          }
        },
        "Codes": {
          "target": "com.amazonaws.partnercentralbenefits#CreditCodes",
          "traits": {
            "smithy.api#documentation": "<p>A list of credit codes that have been generated for this benefit allocation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about credit-based benefit fulfillment, including AWS promotional credits.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#CurrencyCode": {
      "type": "enum",
      "members": {
        "AED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AED"
          }
        },
        "AMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMD"
          }
        },
        "ARS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARS"
          }
        },
        "AUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUD"
          }
        },
        "AWG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWG"
          }
        },
        "AZN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZN"
          }
        },
        "BBD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BBD"
          }
        },
        "BDT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BDT"
          }
        },
        "BGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BGN"
          }
        },
        "BMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BMD"
          }
        },
        "BND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BND"
          }
        },
        "BOB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BOB"
          }
        },
        "BRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BRL"
          }
        },
        "BSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BSD"
          }
        },
        "BYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BYR"
          }
        },
        "BZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZD"
          }
        },
        "CAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CAD"
          }
        },
        "CHF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CHF"
          }
        },
        "CLP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLP"
          }
        },
        "CNY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNY"
          }
        },
        "COP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COP"
          }
        },
        "CRC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CRC"
          }
        },
        "CZK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZK"
          }
        },
        "DKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DKK"
          }
        },
        "DOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOP"
          }
        },
        "EEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EEK"
          }
        },
        "EGP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EGP"
          }
        },
        "EUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EUR"
          }
        },
        "GBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GBP"
          }
        },
        "GEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GEL"
          }
        },
        "GHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHS"
          }
        },
        "GTQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GTQ"
          }
        },
        "GYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GYD"
          }
        },
        "HKD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HKD"
          }
        },
        "HNL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HNL"
          }
        },
        "HRK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HRK"
          }
        },
        "HTG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTG"
          }
        },
        "HUF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HUF"
          }
        },
        "IDR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDR"
          }
        },
        "ILS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ILS"
          }
        },
        "INR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INR"
          }
        },
        "ISK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISK"
          }
        },
        "JMD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JMD"
          }
        },
        "JPY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPY"
          }
        },
        "KES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KES"
          }
        },
        "KHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KHR"
          }
        },
        "KRW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KRW"
          }
        },
        "KYD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KYD"
          }
        },
        "KZT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZT"
          }
        },
        "LBP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LBP"
          }
        },
        "LKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LKR"
          }
        },
        "LTL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LTL"
          }
        },
        "LVL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LVL"
          }
        },
        "MAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAD"
          }
        },
        "MNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MNT"
          }
        },
        "MOP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOP"
          }
        },
        "MUR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUR"
          }
        },
        "MVR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MVR"
          }
        },
        "MXN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MXN"
          }
        },
        "MYR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MYR"
          }
        },
        "NAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAD"
          }
        },
        "NGN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NGN"
          }
        },
        "NIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NIO"
          }
        },
        "NOK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOK"
          }
        },
        "NZD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZD"
          }
        },
        "PAB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PAB"
          }
        },
        "PEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PEN"
          }
        },
        "PHP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PHP"
          }
        },
        "PKR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PKR"
          }
        },
        "PLN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLN"
          }
        },
        "PYG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PYG"
          }
        },
        "QAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QAR"
          }
        },
        "RON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RON"
          }
        },
        "RUB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUB"
          }
        },
        "SAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAR"
          }
        },
        "SEK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEK"
          }
        },
        "SGD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SGD"
          }
        },
        "SIT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIT"
          }
        },
        "SKK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SKK"
          }
        },
        "THB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THB"
          }
        },
        "TND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TND"
          }
        },
        "TRY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRY"
          }
        },
        "TTD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TTD"
          }
        },
        "TWD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TWD"
          }
        },
        "TZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZS"
          }
        },
        "UAH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UAH"
          }
        },
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        },
        "UYU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UYU"
          }
        },
        "UZS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZS"
          }
        },
        "VND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VND"
          }
        },
        "XAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XAF"
          }
        },
        "XCD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XCD"
          }
        },
        "XOF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XOF"
          }
        },
        "XPF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XPF"
          }
        },
        "ZAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZAR"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#DisassociateBenefitApplicationResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#DisassociateBenefitApplicationResourceInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#DisassociateBenefitApplicationResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Removes the association between an AWS resource and a benefit application.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/DisassociateBenefitApplicationResource"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#DisassociateBenefitApplicationResourceInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog the application belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "BenefitApplicationIdentifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application to disassociate the resource from.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.partnercentralbenefits#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AWS resource to disassociate from the benefit application.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1600
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#DisassociateBenefitApplicationResourceOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application after the resource disassociation.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit application after the resource disassociation.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The updated revision number of the benefit application after the resource disassociation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#DisbursementDetails": {
      "type": "structure",
      "members": {
        "DisbursedAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The total amount that has been disbursed for this benefit allocation.</p>"
          }
        },
        "IssuanceDetails": {
          "target": "com.amazonaws.partnercentralbenefits#IssuanceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about how the disbursement was issued and processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about disbursement-based benefit fulfillment, such as direct payments or reimbursements.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#FileDetail": {
      "type": "structure",
      "members": {
        "FileURI": {
          "target": "com.amazonaws.partnercentralbenefits#FileURI",
          "traits": {
            "smithy.api#documentation": "<p>The URI or location where the file is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "BusinessUseCase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The business purpose or use case that this file supports in the benefit application.</p>"
          }
        },
        "FileName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The original name of the uploaded file.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "FileStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The current processing status of the file (e.g., uploaded, processing, approved, rejected).</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 50
            }
          }
        },
        "FileStatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for that particulat file status.</p>"
          }
        },
        "FileType": {
          "target": "com.amazonaws.partnercentralbenefits#FileType",
          "traits": {
            "smithy.api#documentation": "<p>The type or category of the file (e.g., document, image, spreadsheet).</p>"
          }
        },
        "CreatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user who uploaded the file.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            }
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the file was uploaded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents detailed information about a file attached to a benefit application.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#FileDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#FileDetail"
      }
    },
    "com.amazonaws.partnercentralbenefits#FileInput": {
      "type": "structure",
      "members": {
        "FileURI": {
          "target": "com.amazonaws.partnercentralbenefits#FileURI",
          "traits": {
            "smithy.api#documentation": "<p>The URI or location where the file should be stored or has been uploaded.</p>",
            "smithy.api#required": {}
          }
        },
        "BusinessUseCase": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The business purpose or use case that this file supports in the benefit application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents input information for uploading a file to a benefit application.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#FileInputDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#FileInput"
      }
    },
    "com.amazonaws.partnercentralbenefits#FileType": {
      "type": "enum",
      "members": {
        "DOC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/msword"
          }
        },
        "DOCX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
          }
        },
        "XLSX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          }
        },
        "PPTX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
          }
        },
        "PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "application/pdf"
          }
        },
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/png"
          }
        },
        "JPG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/jpeg"
          }
        },
        "SVG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/svg+xml"
          }
        },
        "CSV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text/csv"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#FileURI": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        },
        "smithy.api#pattern": "^(s3://|https://).*"
      }
    },
    "com.amazonaws.partnercentralbenefits#FulfillmentDetails": {
      "type": "union",
      "members": {
        "DisbursementDetails": {
          "target": "com.amazonaws.partnercentralbenefits#DisbursementDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about disbursement-based fulfillment, if applicable to this benefit allocation.</p>"
          }
        },
        "ConsumableDetails": {
          "target": "com.amazonaws.partnercentralbenefits#ConsumableDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about consumable-based fulfillment, if applicable to this benefit allocation.</p>"
          }
        },
        "CreditDetails": {
          "target": "com.amazonaws.partnercentralbenefits#CreditDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about credit-based fulfillment, if applicable to this benefit allocation.</p>"
          }
        },
        "AccessDetails": {
          "target": "com.amazonaws.partnercentralbenefits#AccessDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about access-based fulfillment, if applicable to this benefit allocation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains comprehensive information about how a benefit allocation is fulfilled across different fulfillment types.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#FulfillmentType": {
      "type": "enum",
      "members": {
        "CREDITS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDITS"
          }
        },
        "CASH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CASH"
          }
        },
        "ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS"
          }
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#FulfillmentTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralbenefits#FulfillmentType"
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific benefit available in the partner catalog.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetBenefit"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitAllocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitAllocationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitAllocationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific benefit allocation that has been granted to a partner.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetBenefitAllocation"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitAllocationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog to query.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit allocation to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitAllocationOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit allocation.</p>"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit allocation belongs to.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit allocation.</p>"
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit allocation.</p>"
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the benefit allocation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the benefit allocation (e.g., active, expired, consumed).</p>"
          }
        },
        "StatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional information explaining the current status of the benefit allocation.</p>"
          }
        },
        "BenefitApplicationId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit application that resulted in this allocation.</p>"
          }
        },
        "BenefitId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit that this allocation is based on.</p>"
          }
        },
        "FulfillmentType": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentType",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment type used for this benefit allocation.</p>"
          }
        },
        "ApplicableBenefitIds": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>A list of benefit identifiers that this allocation can be applied to.</p>"
          }
        },
        "FulfillmentDetail": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about how the benefit allocation is fulfilled.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation was last updated.</p>"
          }
        },
        "StartsAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation becomes active and usable.</p>"
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit allocation expires and is no longer usable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitApplicationInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#GetBenefitApplicationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs",
          "aws:ResourceTag/${TagKey}"
        ],
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific benefit application.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/GetBenefitApplication"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitApplicationInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog to query.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitApplicationOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit application.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralbenefits#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit application.</p>"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit application belongs to.</p>"
          }
        },
        "BenefitId": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the benefit being requested in this application.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit application.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the benefit application.</p>"
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment types requested for this benefit application.</p>"
          }
        },
        "BenefitApplicationDetails": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information and requirements specific to the benefit being requested.</p>"
          }
        },
        "Programs": {
          "target": "com.amazonaws.partnercentralbenefits#Programs",
          "traits": {
            "smithy.api#documentation": "<p>The AWS partner programs associated with this benefit application.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current processing status of the benefit application.</p>"
          }
        },
        "Stage": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationStage",
          "traits": {
            "smithy.api#documentation": "<p>The current stage in the benefit application processing workflow.</p>"
          }
        },
        "StatusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Additional information explaining the current status of the benefit application.</p>",
            "smithy.api#length": {
              "max": 1000
            }
          }
        },
        "StatusReasonCode": {
          "target": "com.amazonaws.partnercentralbenefits#StatusReasonCode",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is no longer used",
              "since": "Nov 08 2025"
            },
            "smithy.api#documentation": "<p>A standardized code representing the reason for the current status.</p>"
          }
        },
        "StatusReasonCodes": {
          "target": "com.amazonaws.partnercentralbenefits#StatusReasonCodes",
          "traits": {
            "smithy.api#documentation": "<p>The list of standardized codes representing the reason for the current status.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit application was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the benefit application was last updated.</p>"
          }
        },
        "Revision": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The current revision number of the benefit application.</p>"
          }
        },
        "AssociatedResources": {
          "target": "com.amazonaws.partnercentralbenefits#Arns",
          "traits": {
            "smithy.api#documentation": "<p>AWS resources that are associated with this benefit application.</p>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "PartnerContacts": {
          "target": "com.amazonaws.partnercentralbenefits#Contacts",
          "traits": {
            "smithy.api#documentation": "<p>Contact information for partner representatives responsible for this benefit application.</p>"
          }
        },
        "FileDetails": {
          "target": "com.amazonaws.partnercentralbenefits#FileDetails",
          "traits": {
            "smithy.api#documentation": "<p>Supporting documents and files attached to the benefit application.</p>",
            "smithy.api#length": {
              "max": 30
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that specifies which benefit catalog to query.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit to retrieve.</p>",
            "smithy.api#pattern": "^(arn:.+|ben-[0-9a-z]{14})$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#GetBenefitOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the benefit.</p>",
            "smithy.api#pattern": "^ben-[0-9a-z]{14}$"
          }
        },
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the benefit belongs to.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the benefit.</p>"
          }
        },
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the benefit.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            }
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the benefit and its purpose.</p>",
            "smithy.api#length": {
              "max": 1000
            }
          }
        },
        "Programs": {
          "target": "com.amazonaws.partnercentralbenefits#Programs",
          "traits": {
            "smithy.api#documentation": "<p>The AWS partner programs that this benefit is associated with.</p>"
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The available fulfillment types for this benefit (e.g., credits, access, disbursement).</p>"
          }
        },
        "BenefitRequestSchema": {
          "target": "smithy.api#Document",
          "traits": {
            "smithy.api#documentation": "<p>The schema definition that describes the required fields for requesting this benefit.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the benefit (e.g., active, inactive, deprecated).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the internal server error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Thrown when an unexpected error occurs on the server side during request processing.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.partnercentralbenefits#IssuanceDetail": {
      "type": "structure",
      "members": {
        "IssuanceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for this specific issuance.</p>"
          }
        },
        "IssuanceAmount": {
          "target": "com.amazonaws.partnercentralbenefits#MonetaryValue",
          "traits": {
            "smithy.api#documentation": "<p>The monetary amount or value that was issued in this specific issuance.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.partnercentralbenefits#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this specific issuance was processed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents detailed information about a specific issuance of benefit value.</p>"
      }
    },
    "com.amazonaws.partnercentralbenefits#ListBenefitAllocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#ListBenefitAllocationsInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#ListBenefitAllocationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["partnercentral:Catalog", "partnercentral:FulfillmentTypes"],
        "smithy.api#documentation": "<p>Retrieves a paginated list of benefit allocations based on specified filter criteria.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListBenefitAllocations"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "BenefitAllocationSummaries"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#ListBenefitAllocationsInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier to filter benefit allocations by catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit allocations by specific fulfillment types.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 2
            }
          }
        },
        "BenefitIdentifiers": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit allocations by specific benefit identifiers.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1
            }
          }
        },
        "BenefitApplicationIdentifiers": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitApplicationIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit allocations by specific benefit application identifiers.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1
            }
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationStatusList",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit allocations by their current status.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1
            }
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of benefit allocations to return in a single response.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token to retrieve the next set of results from a previous request.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#pattern": "^[\\s\\S]*$"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#ListBenefitAllocationsOutput": {
      "type": "structure",
      "members": {
        "BenefitAllocationSummaries": {
          "target": "com.amazonaws.partnercentralbenefits#BenefitAllocationSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of benefit allocation summaries matching the specified criteria.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token to retrieve the next set of results, if more results are available.</p>",
            "smithy.api#length": {
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralbenefits#ListBenefitApplications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralbenefits#ListBenefitApplicationsInput"
      },
      "output": {
        "target": "com.amazonaws.partnercentralbenefits#ListBenefitApplicationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralbenefits#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralbenefits#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": [
          "partnercentral:Catalog",
          "partnercentral:FulfillmentTypes",
          "partnercentral:Programs"
        ],
        "smithy.api#documentation": "<p>Retrieves a paginated list of benefit applications based on specified filter criteria.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/ListBenefitApplications"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "BenefitApplicationSummaries"
        }
      }
    },
    "com.amazonaws.partnercentralbenefits#ListBenefitApplicationsInput": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralbenefits#CatalogName",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier to filter benefit applications by catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "Programs": {
          "target": "com.amazonaws.partnercentralbenefits#Programs",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit applications by specific AWS partner programs.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1
            }
          }
        },
        "FulfillmentTypes": {
          "target": "com.amazonaws.partnercentralbenefits#FulfillmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>Filter benefit applications by specific fulfillment types.</p>",
            "smithy.api#length": {
[...]
