{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.partnercentralselling#AWSPartnerCentralSelling": {
      "type": "service",
      "version": "2022-07-26",
      "resources": [
        {
          "target": "com.amazonaws.partnercentralselling#EngagementByAcceptingInvitationTask"
        },
        {
          "target": "com.amazonaws.partnercentralselling#EngagementFromOpportunityTask"
        },
        {
          "target": "com.amazonaws.partnercentralselling#EngagementInvitation"
        },
        {
          "target": "com.amazonaws.partnercentralselling#Opportunity"
        },
        {
          "target": "com.amazonaws.partnercentralselling#Solution"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "PartnerCentral Selling",
          "endpointPrefix": "partnercentral-selling",
          "arnNamespace": "partnercentral",
          "cloudTrailEventSource": "partnercentral-selling.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "partnercentral-selling"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "partnercentral:RelatedEntityType": {
            "type": "String",
            "relativeDocumentation": "page.html#RelatedEntityType",
            "documentation": "Filters access by entity types for Opportunity association. Accepted values: [Solutions, AwsProducts, AwsMarketplaceOffers]"
          },
          "partnercentral:Catalog": {
            "type": "String",
            "relativeDocumentation": "page.html#Catalog",
            "documentation": "Filters access by a specific Catalog. Accepted values: [AWS, Sandbox]"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<fullname>AWS Partner Central API for Selling</fullname>\n         <p>\n            <b>AWS Partner Central API for Selling Reference Guide</b>\n         </p>\n         <p>This Amazon Web Services (AWS) Partner Central API reference is\n      designed to help <a href=\"http://aws.amazon.com/partners/programs/\">AWS\n        Partners</a> integrate Customer Relationship Management (CRM)\n      systems with AWS Partner Central. Partners can automate interactions with\n      AWS Partner Central, which helps to ensure effective engagements in joint\n      business activities.</p>\n         <p>The API provides standard AWS API functionality. Access it by\n      either using API <a href=\"https://docs.aws.amazon.com/partner-central/latest/selling-api/API_Operations.html\">Actions</a> or by using an AWS SDK that's tailored to your\n      programming language or platform. For more information, see <a href=\"http://aws.amazon.com/getting-started\">Getting Started with\n        AWS</a> and <a href=\"http://aws.amazon.com/developer/tools/\">Tools to Build on AWS</a>.</p>\n         <p class=\"title\">\n            <b>Features offered by AWS Partner Central API</b>\n         </p>\n         <ol>\n            <li>\n               <p>\n                  <b>Opportunity management:</b>\n          Manages coselling opportunities through API actions such as\n            <code>CreateOpportunity</code>, <code>UpdateOpportunity</code>,\n            <code>ListOpportunities</code>, <code>GetOpportunity</code>, and\n            <code>AssignOpportunity</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AWS referral management:</b>\n          Manages referrals shared by AWS using actions such as\n            <code>ListEngagementInvitations</code>,\n            <code>GetEngagementInvitation</code>,\n            <code>StartEngagementByAcceptingInvitation</code>, and\n            <code>RejectEngagementInvitation</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Entity association:</b>\n          Associates related entities such as <i>AWS Products</i>,\n            <i>Partner Solutions</i>, and <i>AWS\n            Marketplace Private Offers</i> with opportunities using the\n          actions <code>AssociateOpportunity</code>, and\n            <code>DisassociateOpportunity</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>View AWS opportunity\n            details:</b> Retrieves real-time summaries of AWS\n          opportunities using the <code>GetAWSOpportunitySummary</code>\n          action.</p>\n            </li>\n            <li>\n               <p>\n                  <b>List solutions:</b> Provides\n          list APIs for listing partner offers using\n          <code>ListSolutions</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Event subscription:</b>\n          Subscribe to real-time opportunity updates through AWS EventBridge by\n          using actions such as <i>Opportunity Created</i>,\n            <i>Opportunity Updated</i>, <i>Engagement\n            Invitation Accepted</i>, <i>Engagement Invitation\n            Rejected</i>, and <i>Engagement Invitation\n            Created</i>.</p>\n            </li>\n         </ol>",
        "smithy.api#title": "Partner Central Selling API",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://partnercentral-selling-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://partnercentral-selling.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-isoe-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.eu-isoe-west-1.cloud.adc-e.uk"
                }
              },
              "params": {
                "Region": "eu-isoe-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling-fips.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isof-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://partnercentral-selling.us-isof-south-1.csp.hci.ic.gov"
                }
              },
              "params": {
                "Region": "us-isof-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.partnercentralselling#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This error occurs when you don't have permission to perform the\n            requested action.\n        </p>\n         <p>You don’t have access to this action or resource. Review IAM policies or contact your AWS administrator for assistance.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.partnercentralselling#Account": {
      "type": "structure",
      "members": {
        "Industry": {
          "target": "com.amazonaws.partnercentralselling#Industry",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the industry the end <code>Customer</code> belongs to that's associated with the <code>Opportunity</code>. It refers to the category or sector where the customer's business operates. This is a required field.\n        </p>"
          }
        },
        "OtherIndustry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s industry associated with the <code>Opportunity</code>, when the selected value in the <code>Industry</code> field is <code>Other</code>.\n        </p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        },
        "CompanyName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s company name associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 120
            },
            "smithy.api#required": {}
          }
        },
        "WebsiteUrl": {
          "target": "com.amazonaws.partnercentralselling#WebsiteUrl",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies the end customer's company website URL associated with the <code>Opportunity</code>. This value is crucial to map the customer within the Amazon Web Services CRM system. This field is required in all cases except when the opportunity is related to national security.\n        </p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.partnercentralselling#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>Customer</code> Amazon Web Services account ID associated with the <code>Opportunity</code>.\n        </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.partnercentralselling#Address",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.\n        </p>"
          }
        },
        "Duns": {
          "target": "com.amazonaws.partnercentralselling#DunsNumber",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the <code>Customer</code> DUNS number, if available.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the <code>Customer</code>'s account details associated with the <code>Opportunity</code>.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#AccountReceiver": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.partnercentralselling#Alias",
          "traits": {
            "smithy.api#documentation": "<p>Represents the alias of the partner account receiving the Engagement Invitation, making it easier to identify and track the recipient in reports or logs.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.partnercentralselling#AwsAccount",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the AWS account ID of the partner who received the Engagement Invitation. This is a unique identifier for managing engagements with specific AWS accounts.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the account details of the partner who received the Engagement Invitation, including the AWS account ID and company name.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AccountSummary": {
      "type": "structure",
      "members": {
        "Industry": {
          "target": "com.amazonaws.partnercentralselling#Industry",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which industry the end <code>Customer</code> belongs to associated with the <code>Opportunity</code>.\n            It refers to the category or sector that the customer's business operates in.\n        </p>\n         <p>To submit a value outside the picklist, use\n            <code>Other</code>.\n        </p>\n         <p>Conditionally mandatory if <code>Other</code> is selected for Industry Vertical in LOVs.\n        </p>"
          }
        },
        "OtherIndustry": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s industry associated with the <code>\n            Opportunity</code>, when the selected value in the <code>Industry</code> field is <code>Other</code>. This field is relevant\n            when the customer's industry doesn't fall under the predefined picklist values and requires a custom\n            description.\n        </p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        },
        "CompanyName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s company name associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 120
            },
            "smithy.api#required": {}
          }
        },
        "WebsiteUrl": {
          "target": "com.amazonaws.partnercentralselling#WebsiteUrl",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end customer's company website URL associated with the <code>Opportunity</code>. This\n            value is crucial to map the customer within the Amazon Web Services CRM system.\n        </p>"
          }
        },
        "Address": {
          "target": "com.amazonaws.partnercentralselling#AddressSummary",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains an <code>Account</code>'s subset of fields.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#Address": {
      "type": "structure",
      "members": {
        "City": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s city associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s postal code associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 20
            }
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s state or region associated with the <code>Opportunity</code>.\n        </p>\n         <p>Valid values: <code>Alabama | Alaska | American Samoa | Arizona | Arkansas | California | Colorado | Connecticut | Delaware | Dist. of Columbia | Federated States of Micronesia | Florida | Georgia | Guam | Hawaii | Idaho | Illinois | Indiana | Iowa | Kansas | Kentucky | Louisiana | Maine | Marshall Islands | Maryland | Massachusetts | Michigan | Minnesota | Mississippi | Missouri | Montana | Nebraska | Nevada | New Hampshire | New Jersey | New Mexico | New York | North Carolina | North Dakota | Northern Mariana Islands | Ohio | Oklahoma | Oregon | Palau | Pennsylvania | Puerto Rico | Rhode Island | South Carolina | South Dakota | Tennessee | Texas | Utah | Vermont | Virginia | Virgin Islands | Washington | West Virginia | Wisconsin | Wyoming | APO/AE | AFO/FPO | FPO, AP</code>\n         </p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.partnercentralselling#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s country associated with the <code>Opportunity</code>.\n        </p>"
          }
        },
        "StreetAddress": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s street address associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#AddressPart": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralselling#AddressSummary": {
      "type": "structure",
      "members": {
        "City": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s city associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s postal code associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 20
            }
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.partnercentralselling#AddressPart",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s state or region associated with the <code>Opportunity</code>.\n        </p>\n         <p>Valid values: <code>Alabama | Alaska | American Samoa | Arizona | Arkansas | California | Colorado | Connecticut | Delaware | Dist. of Columbia | Federated States of Micronesia | Florida | Georgia | Guam | Hawaii | Idaho | Illinois | Indiana | Iowa | Kansas | Kentucky | Louisiana | Maine | Marshall Islands | Maryland | Massachusetts | Michigan | Minnesota | Mississippi | Missouri | Montana | Nebraska | Nevada | New Hampshire | New Jersey | New Mexico | New York | North Carolina | North Dakota | Northern Mariana Islands | Ohio | Oklahoma | Oregon | Palau | Pennsylvania | Puerto Rico | Rhode Island | South Carolina | South Dakota | Tennessee | Texas | Utah | Vermont | Virginia | Virgin Islands | Washington | West Virginia | Wisconsin | Wyoming | APO/AE | AFO/FPO | FPO, AP</code>\n         </p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.partnercentralselling#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the end <code>Customer</code>'s country associated with the <code>Opportunity</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains an <code>Address</code> object's subset of fields.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#Alias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 80
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{Z}]+$"
      }
    },
    "com.amazonaws.partnercentralselling#ApnPrograms": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.partnercentralselling#AssignOpportunity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralselling#AssignOpportunityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralselling#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["partnercentral:Catalog"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to assign Opportunities on AWS Partner Central"
        },
        "smithy.api#documentation": "<p>\n            Enables you to reassign an existing <code>Opportunity</code> to another user within your\n            Partner Central account. The specified user receives the opportunity, and it appears on their\n            Partner Central dashboard, allowing them to take necessary actions or proceed with the opportunity.\n        </p>\n         <p>\n            This is useful for distributing opportunities to the appropriate team members\n            or departments within your organization, ensuring that each opportunity is handled by the right person. By default, the opportunity owner is the one who creates it. Currently, there's no API to enumerate the list of available users.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/AssignOpportunity",
          "code": 200
        }
      }
    },
    "com.amazonaws.partnercentralselling#AssignOpportunityRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralselling#CatalogIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies the catalog associated with the request. This field takes a string value from a predefined list:\n            <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity\n            is assigned in. Use <code>AWS</code> to assign real opportunities in the Amazon Web Services catalog,\n            and <code>Sandbox</code> for testing in secure, isolated environments.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralselling#OpportunityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n            Requires the <code>Opportunity</code>'s unique identifier when you want to\n            assign it to another user. Provide the correct identifier so the intended opportunity is\n            reassigned.\n        </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "Identifier"
          }
        },
        "Assignee": {
          "target": "com.amazonaws.partnercentralselling#AssigneeContact",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the user or team member responsible for managing the assigned opportunity. This field identifies the <i>Assignee</i> based on the partner's internal team structure. Ensure that the email address is associated with a registered user in your Partner Central account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralselling#AssigneeContact": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.partnercentralselling#Email",
          "traits": {
            "smithy.api#documentation": "<p>Provides the email address of the assignee. This email is used for communications and notifications related to the opportunity.</p>",
            "smithy.api#required": {}
          }
        },
        "FirstName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the first name of the assignee managing the opportunity. The system automatically retrieves this value from the user profile by referencing the associated email address.</p>",
            "smithy.api#length": {
              "max": 80
            },
            "smithy.api#required": {}
          }
        },
        "LastName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the last name of the assignee managing the opportunity. The system automatically retrieves this value from the user profile by referencing the associated email address.</p>",
            "smithy.api#length": {
              "max": 80
            },
            "smithy.api#required": {}
          }
        },
        "BusinessTitle": {
          "target": "com.amazonaws.partnercentralselling#JobTitle",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the business title of the assignee managing the opportunity. This helps clarify the individual's role and responsibilities within the organization. Use the value <code>PartnerAccountManager</code> to update details of the opportunity owner.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the contact details of the individual assigned to manage the opportunity within the partner organization. This helps to ensure that there is a point of contact for the opportunity's progress.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AssociateOpportunity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralselling#AssociateOpportunityRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralselling#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralselling#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["partnercentral:RelatedEntityType", "partnercentral:Catalog"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate Opportunities on AWS Partner Central with other entities"
        },
        "smithy.api#documentation": "<p>\n            Enables you to create a formal association between an <code>Opportunity</code> and various\n            related entities, enriching the context and details of the opportunity for better collaboration and\n            decision making. You can associate an opportunity with the following entity types:\n        </p>\n         <ul>\n            <li>\n               <p>\n                    Partner Solution:\n                    A software product or consulting practice created and delivered by Partners. Partner Solutions help customers address business challenges using Amazon Web Services services.\n                </p>\n            </li>\n            <li>\n               <p>\n                    Amazon Web Services Products:\n                    Amazon Web Services offers many products and services that provide scalable, reliable, and cost-effective infrastructure solutions. For the latest list of Amazon Web Services products, see <a href=\"https://github.com/aws-samples/partner-crm-integration-samples/blob/main/resources/aws_products.json\">Amazon Web Services products</a>.\n                </p>\n            </li>\n            <li>\n               <p>\n                    Amazon Web Services Marketplace private offer:\n                    Allows Amazon Web Services Marketplace sellers to extend custom pricing and terms to individual Amazon Web Services customers. Sellers can negotiate custom prices, payment schedules, and end user license terms through private offers, enabling Amazon Web Services customers to acquire software solutions tailored to their specific needs. For more information, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/buyer-private-offers.html\">Private offers in Amazon Web Services Marketplace</a>.\n                </p>\n            </li>\n         </ul>\n         <p>To obtain identifiers for these entities, use the following methods:</p>\n         <ul>\n            <li>\n               <p>Solution: Use the <code>ListSolutions</code> operation.</p>\n            </li>\n            <li>\n               <p>\n                  AWS Products: For the latest list of Amazon Web Services products, see <a href=\"https://github.com/aws-samples/partner-crm-integration-samples/blob/main/resources/aws_products.json\">Amazon Web Services products</a>.\n                </p>\n            </li>\n            <li>\n               <p>\n                  Amazon Web Services Marketplace private offer: Use the <a href=\"https://docs.aws.amazon.com/marketplace/latest/APIReference/catalog-apis.html\">Using the Amazon Web Services Marketplace Catalog API</a> to list entities. Specifically, use the <code>ListEntities</code> operation to retrieve a list of private offers. The request returns the details of available private offers. For more information, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/API_ListEntities.html\">ListEntities</a>.\n                </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/AssociateOpportunity",
          "code": 200
        }
      }
    },
    "com.amazonaws.partnercentralselling#AssociateOpportunityRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralselling#CatalogIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies the catalog associated with the request. This field takes a string value from a predefined list:\n            <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity\n            association is made in. Use <code>AWS</code> to associate opportunities in the Amazon Web Services catalog,\n            and <code>Sandbox</code> for testing in secure, isolated environments.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "OpportunityIdentifier": {
          "target": "com.amazonaws.partnercentralselling#OpportunityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Requires the <code>Opportunity</code>'s unique identifier when you want to\n            associate it with a related entity. Provide the correct identifier so the intended opportunity is\n            updated with the association.\n        </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "Identifier"
          }
        },
        "RelatedEntityType": {
          "target": "com.amazonaws.partnercentralselling#RelatedEntityType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the entity type that you're associating with the <code>\n            Opportunity</code>. This helps to categorize and properly process the association.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "RelatedEntityIdentifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Requires the related entity's unique identifier when you want to associate it with the <code>\n            Opportunity</code>. For Amazon Web Services Marketplace entities, provide the Amazon Resource Name (ARN). Use the <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html\">\n            Amazon Web Services Marketplace API</a> to obtain the ARN.\n        </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 255
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralselling#AwsAccount": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralselling#AwsAccountIdOrLabel": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(aws|[0-9]{12})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralselling#AwsClosedLostReason": {
      "type": "enum",
      "members": {
        "ADMINISTRATIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Administrative"
          }
        },
        "BUSINESS_ASSOCIATE_AGREEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business Associate Agreement"
          }
        },
        "COMPANY_ACQUIRED_DISSOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Company Acquired/Dissolved"
          }
        },
        "COMPETITIVE_OFFERING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Competitive Offering"
          }
        },
        "CUSTOMER_DATA_REQUIREMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer Data Requirement"
          }
        },
        "CUSTOMER_DEFICIENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer Deficiency"
          }
        },
        "CUSTOMER_EXPERIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer Experience"
          }
        },
        "DELAY_CANCELLATION_OF_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delay / Cancellation of Project"
          }
        },
        "DUPLICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duplicate"
          }
        },
        "DUPLICATE_OPPORTUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duplicate Opportunity"
          }
        },
        "EXECUTIVE_BLOCKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Executive Blocker"
          }
        },
        "FAILED_VETTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed Vetting"
          }
        },
        "FEATURE_LIMITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Feature Limitation"
          }
        },
        "FINANCIAL_COMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Financial/Commercial"
          }
        },
        "INSUFFICIENT_AMAZON_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insufficient Amazon Value"
          }
        },
        "INSUFFICIENT_AWS_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Insufficient AWS Value"
          }
        },
        "INTERNATIONAL_CONSTRAINTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "International Constraints"
          }
        },
        "LEGAL_TAX_REGULATORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Legal / Tax / Regulatory"
          }
        },
        "LEGAL_TERMS_AND_CONDITIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Legal Terms and Conditions"
          }
        },
        "LOST_TO_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor"
          }
        },
        "LOST_TO_COMPETITOR_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Google"
          }
        },
        "LOST_TO_COMPETITOR_MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Microsoft"
          }
        },
        "LOST_TO_COMPETITOR_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Other"
          }
        },
        "LOST_TO_COMPETITOR_RACKSPACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Rackspace"
          }
        },
        "LOST_TO_COMPETITOR_SOFTLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - SoftLayer"
          }
        },
        "LOST_TO_COMPETITOR_VMWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - VMWare"
          }
        },
        "NO_CUSTOMER_REFERENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Customer Reference"
          }
        },
        "NO_INTEGRATION_RESOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Integration Resources"
          }
        },
        "NO_OPPORTUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Opportunity"
          }
        },
        "NO_PERCEIVED_VALUE_OF_MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Perceived Value of MP"
          }
        },
        "NO_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Response"
          }
        },
        "NOT_COMMITTED_TO_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Committed to AWS"
          }
        },
        "NO_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Update"
          }
        },
        "ON_PREMISES_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On Premises Deployment"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "OTHER_DETAILS_IN_DESCRIPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other (Details in Description)"
          }
        },
        "PARTNER_GAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partner Gap"
          }
        },
        "PAST_DUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Past Due"
          }
        },
        "PEOPLE_RELATIONSHIP_GOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "People/Relationship/Governance"
          }
        },
        "PLATFORM_TECHNOLOGY_LIMITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Platform Technology Limitation"
          }
        },
        "PREFERENCE_FOR_COMPETITOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Preference for Competitor"
          }
        },
        "PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Price"
          }
        },
        "PRODUCT_TECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Product/Technology"
          }
        },
        "PRODUCT_NOT_ON_AWS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Product Not on AWS"
          }
        },
        "SECURITY_COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security / Compliance"
          }
        },
        "SELF_SERVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Self-Service"
          }
        },
        "TECHNICAL_LIMITATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Technical Limitations"
          }
        },
        "TERM_SHEET_IMPASSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Term Sheet Impasse"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#AwsFundingUsed": {
      "type": "enum",
      "members": {
        "YES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Yes"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#AwsMarketplaceOfferIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:aws-marketplace:[a-z]{1,2}-[a-z]*-\\d+:\\d{12}:AWSMarketplace/Offer/.*$"
      }
    },
    "com.amazonaws.partnercentralselling#AwsMarketplaceOfferIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralselling#AwsMarketplaceOfferIdentifier"
      }
    },
    "com.amazonaws.partnercentralselling#AwsMemberBusinessTitle": {
      "type": "enum",
      "members": {
        "AWS_SALES_REP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSSalesRep"
          }
        },
        "AWS_ACCOUNT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWSAccountOwner"
          }
        },
        "WWPSPDM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WWPSPDM"
          }
        },
        "PDM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PDM"
          }
        },
        "PSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PSM"
          }
        },
        "ISVSM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISVSM"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityCustomer": {
      "type": "structure",
      "members": {
        "Contacts": {
          "target": "com.amazonaws.partnercentralselling#CustomerContactsList",
          "traits": {
            "smithy.api#documentation": "<p>Provides a list of customer contacts involved in the opportunity. These contacts may include decision makers, influencers, and other stakeholders within the customer's organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the customer associated with the AWS opportunity. This field captures key details about the customer that are necessary for managing the opportunity.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityInsights": {
      "type": "structure",
      "members": {
        "NextBestActions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides recommendations from AWS on the next best actions to take in order to move the opportunity forward and increase the likelihood of success.</p>"
          }
        },
        "EngagementScore": {
          "target": "com.amazonaws.partnercentralselling#EngagementScore",
          "traits": {
            "smithy.api#documentation": "<p>Represents a score assigned by AWS to indicate the level of engagement and potential success for the opportunity. This score helps partners prioritize their efforts.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains insights provided by AWS for the opportunity, offering recommendations and analysis that can help the partner optimize their engagement and strategy.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityLifeCycle": {
      "type": "structure",
      "members": {
        "TargetCloseDate": {
          "target": "com.amazonaws.partnercentralselling#Date",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the expected date by which the opportunity is projected to close. This field helps in planning resources and timelines for both the partner and AWS.</p>"
          }
        },
        "ClosedLostReason": {
          "target": "com.amazonaws.partnercentralselling#AwsClosedLostReason",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the reason why an opportunity was marked as <code>Closed Lost</code>. This helps in understanding the context behind the lost opportunity and aids in refining future strategies.</p>"
          }
        },
        "Stage": {
          "target": "com.amazonaws.partnercentralselling#AwsOpportunityStage",
          "traits": {
            "smithy.api#documentation": "<p>Represents the current stage of the opportunity in its lifecycle, such as <code>Qualification</code>, <code>Validation</code>, or <code>Closed Won</code>. This helps in understanding the opportunity's progress.</p>"
          }
        },
        "NextSteps": {
          "target": "com.amazonaws.partnercentralselling#PiiString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the immediate next steps required to progress the opportunity. These steps are based on AWS guidance and the current stage of the opportunity.</p>",
            "smithy.api#length": {
              "max": 255
            }
          }
        },
        "NextStepsHistory": {
          "target": "com.amazonaws.partnercentralselling#ProfileNextStepsHistories",
          "traits": {
            "smithy.api#documentation": "<p>Provides a historical log of previous next steps that were taken to move the opportunity forward. This helps in tracking the decision-making process and identifying any delays or obstacles encountered.</p>",
            "smithy.api#length": {
              "max": 50
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Tracks the lifecycle of the AWS opportunity, including stages such as qualification, validation, and closure. This field helps partners understand the current status and progression of the opportunity.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityProject": {
      "type": "structure",
      "members": {
        "ExpectedCustomerSpend": {
          "target": "com.amazonaws.partnercentralselling#ExpectedCustomerSpendList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the expected spending by the customer over the course of the project. This value helps partners and AWS estimate the financial impact of the opportunity. Use the <a href=\"https://calculator.aws/#/\">AWS Pricing Calculator</a> to create an estimate of the customer’s total spend. If only annual recurring revenue (ARR) is available, distribute it across 12 months to provide an average monthly value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Captures details about the project associated with the opportunity, including objectives, scope, and customer requirements.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityRelatedEntities": {
      "type": "structure",
      "members": {
        "AwsProducts": {
          "target": "com.amazonaws.partnercentralselling#AwsProductIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS products associated with the opportunity. This field helps track the specific products that are part of the proposed solution.</p>"
          }
        },
        "Solutions": {
          "target": "com.amazonaws.partnercentralselling#SolutionIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the partner solutions related to the opportunity. These solutions represent the partner's offerings that are being positioned as part of the overall AWS opportunity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents other entities related to the AWS opportunity, such as AWS products, partner solutions, and marketplace offers. These associations help build a complete picture of the solution being sold.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityStage": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Not Started"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "In Progress"
          }
        },
        "PROSPECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Prospect"
          }
        },
        "ENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Engaged"
          }
        },
        "IDENTIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Identified"
          }
        },
        "QUALIFY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Qualify"
          }
        },
        "RESEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Research"
          }
        },
        "SELLER_ENGAGED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seller Engaged"
          }
        },
        "EVALUATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Evaluating"
          }
        },
        "SELLER_REGISTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Seller Registered"
          }
        },
        "TERM_SHEET_NEGOTIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Term Sheet Negotiation"
          }
        },
        "CONTRACT_NEGOTIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Contract Negotiation"
          }
        },
        "ONBOARDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Onboarding"
          }
        },
        "BUILDING_INTEGRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building Integration"
          }
        },
        "QUALIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Qualified"
          }
        },
        "ON_HOLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On-hold"
          }
        },
        "TECHNICAL_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Technical Validation"
          }
        },
        "BUSINESS_VALIDATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Business Validation"
          }
        },
        "COMMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Committed"
          }
        },
        "LAUNCHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Launched"
          }
        },
        "DEFERRED_TO_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deferred to Partner"
          }
        },
        "CLOSED_LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed Lost"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "CLOSED_INCOMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Closed Incomplete"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#AwsOpportunityTeamMembersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralselling#AwsTeamMember"
      }
    },
    "com.amazonaws.partnercentralselling#AwsProductIdentifier": {
      "type": "string"
    },
    "com.amazonaws.partnercentralselling#AwsProductIdentifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralselling#AwsProductIdentifier"
      }
    },
    "com.amazonaws.partnercentralselling#AwsSubmission": {
      "type": "structure",
      "members": {
        "InvolvementType": {
          "target": "com.amazonaws.partnercentralselling#SalesInvolvementType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of AWS involvement in the opportunity, such as coselling, deal support, or technical consultation. This helps categorize the nature of AWS participation.</p>",
            "smithy.api#required": {}
          }
        },
        "Visibility": {
          "target": "com.amazonaws.partnercentralselling#Visibility",
          "traits": {
            "smithy.api#documentation": "<p>Determines who can view AWS involvement in the opportunity. Typically, this field is set to <code>Full</code> for most cases, but it may be restricted based on special program requirements or confidentiality needs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates the level of AWS involvement in the opportunity. This field helps track AWS participation throughout the engagement, such as providing technical support, deal assistance, and sales support.</p>"
      }
    },
    "com.amazonaws.partnercentralselling#AwsTeamMember": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.partnercentralselling#Email",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the Amazon Web Services team member's email address.\n        </p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the Amazon Web Services team member's first name.\n        </p>",
            "smithy.api#length": {
              "max": 80
            }
          }
        },
        "LastName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the Amazon Web Services team member's last name.\n        </p>",
            "smithy.api#length": {
              "max": 80
            }
          }
        },
        "BusinessTitle": {
          "target": "com.amazonaws.partnercentralselling#AwsMemberBusinessTitle",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies the Amazon Web Services team member's business title and indicates their organizational role.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Represents an Amazon Web Services team member for the engagement. This structure includes details such as name, email, and business title.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#CatalogIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.partnercentralselling#Channel": {
      "type": "enum",
      "members": {
        "AWS_MARKETING_CENTRAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS Marketing Central"
          }
        },
        "CONTENT_SYNDICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Content Syndication"
          }
        },
        "DISPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Display"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Email"
          }
        },
        "LIVE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Live Event"
          }
        },
        "OUT_OF_HOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Out Of Home (OOH)"
          }
        },
        "PRINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Print"
          }
        },
        "SEARCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Search"
          }
        },
        "SOCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Social"
          }
        },
        "TELEMARKETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Telemarketing"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "VIDEO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Video"
          }
        },
        "VIRTUAL_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Virtual Event"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralselling#Channel"
      }
    },
    "com.amazonaws.partnercentralselling#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[!-~]{1,64}$"
      }
    },
    "com.amazonaws.partnercentralselling#ClosedLostReason": {
      "type": "enum",
      "members": {
        "CUSTOMER_DEFICIENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer Deficiency"
          }
        },
        "DELAY_CANCELLATION_OF_PROJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Delay / Cancellation of Project"
          }
        },
        "LEGAL_TAX_REGULATORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Legal / Tax / Regulatory"
          }
        },
        "LOST_TO_COMPETITOR_GOOGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Google"
          }
        },
        "LOST_TO_COMPETITOR_MICROSOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Microsoft"
          }
        },
        "LOST_TO_COMPETITOR_SOFTLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - SoftLayer"
          }
        },
        "LOST_TO_COMPETITOR_VMWARE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - VMWare"
          }
        },
        "LOST_TO_COMPETITOR_OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Lost to Competitor - Other"
          }
        },
        "NO_OPPORTUNITY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Opportunity"
          }
        },
        "ON_PREMISES_DEPLOYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On Premises Deployment"
          }
        },
        "PARTNER_GAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Partner Gap"
          }
        },
        "PRICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Price"
          }
        },
        "SECURITY_COMPLIANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Security / Compliance"
          }
        },
        "TECHNICAL_LIMITATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Technical Limitations"
          }
        },
        "CUSTOMER_EXPERIENCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Customer Experience"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "PEOPLERELATIONSHIPGOVERNANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "People/Relationship/Governance"
          }
        },
        "PRODUCTTECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Product/Technology"
          }
        },
        "FINANCIALCOMMERCIAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Financial/Commercial"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#CompanyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 120
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N}\\p{P}\\p{Z}]+$"
      }
    },
    "com.amazonaws.partnercentralselling#CompanyWebsiteUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 255
        },
        "smithy.api#pattern": "^((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralselling#CompetitorName": {
      "type": "enum",
      "members": {
        "ORACLE_CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Oracle Cloud"
          }
        },
        "ON_PREM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "On-Prem"
          }
        },
        "CO_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Co-location"
          }
        },
        "AKAMAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Akamai"
          }
        },
        "ALICLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AliCloud"
          }
        },
        "GOOGLE_CLOUD_PLATFORM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Google Cloud Platform"
          }
        },
        "IBM_SOFTLAYER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IBM Softlayer"
          }
        },
        "MICROSOFT_AZURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Microsoft Azure"
          }
        },
        "OTHER_COST_OPTIMIZATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other- Cost Optimization"
          }
        },
        "NO_COMPETITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "No Competition"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "*Other"
          }
        }
      }
    },
    "com.amazonaws.partnercentralselling#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This error occurs when the request can’t be processed due to a conflict with the target resource's current state, which could result from updating or deleting the resource.\n        </p>\n         <p>Suggested action: Fetch the latest state of the resource, verify the state, and retry the request.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.partnercentralselling#Contact": {
      "type": "structure",
      "members": {
        "Email": {
          "target": "com.amazonaws.partnercentralselling#Email",
          "traits": {
            "smithy.api#documentation": "<p>The contact's email address associated with the <code>Opportunity</code>.\n        </p>"
          }
        },
        "FirstName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>The contact's first name associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 80
            }
          }
        },
        "LastName": {
          "target": "com.amazonaws.partnercentralselling#Name",
          "traits": {
            "smithy.api#documentation": "<p>The contact's last name associated with the <code>Opportunity</code>.\n        </p>",
            "smithy.api#length": {
              "max": 80
            }
          }
        },
        "BusinessTitle": {
          "target": "com.amazonaws.partnercentralselling#JobTitle",
          "traits": {
            "smithy.api#documentation": "<p>The partner contact's title (job title or role) associated with the <code>Opportunity</code>. <code>BusinessTitle</code> supports either <code>PartnerAccountManager</code> or <code>OpportunityOwner</code>.\n        </p>"
          }
        },
        "Phone": {
          "target": "com.amazonaws.partnercentralselling#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The contact's phone number associated with the <code>Opportunity</code>.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a <code>Customer Partner</code>'s contact details.\n        </p>"
      }
    },
    "com.amazonaws.partnercentralselling#CountryCode": {
      "type": "enum",
      "members": {
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BV"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HM"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
[...]
