{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.partnercentralaccount#AcceptConnectionInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#AcceptConnectionInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#AcceptConnectionInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a connection invitation from another partner, establishing a formal partnership connection between the two parties.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#AcceptConnectionInvitationRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection invitation to accept.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#AcceptConnectionInvitationResponse": {
      "type": "structure",
      "members": {
        "Connection": {
          "target": "com.amazonaws.partnercentralaccount#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The details of the accepted connection between the two partners.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The specific reason for the access denial.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to insufficient permissions. The caller does not have the required permissions to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.partnercentralaccount#AccessDeniedExceptionReason": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        },
        "INCOMPATIBLE_BENEFIT_AWS_PARTNER_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_BENEFIT_AWS_PARTNER_STATE"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#AccessType": {
      "type": "enum",
      "members": {
        "ALLOW_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_ALL"
          }
        },
        "DENY_ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY_ALL"
          }
        },
        "ALLOW_BY_DEFAULT_DENY_SOME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW_BY_DEFAULT_DENY_SOME"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#AccountSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.partnercentralaccount#UnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name associated with the AWS account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an AWS account.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#AllianceLeadContact": {
      "type": "structure",
      "members": {
        "FirstName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The first name of the alliance lead contact person.</p>",
            "smithy.api#required": {}
          }
        },
        "LastName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The last name of the alliance lead contact person.</p>",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the alliance lead contact person.</p>",
            "smithy.api#required": {}
          }
        },
        "BusinessTitle": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The business title or role of the alliance lead contact person.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains contact information for the primary alliance lead responsible for partnership activities.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#AssociateAwsTrainingCertificationEmailDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#AssociateAwsTrainingCertificationEmailDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#AssociateAwsTrainingCertificationEmailDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an email domain with AWS training and certification for the partner account, enabling automatic verification of employee certifications.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralaccount#AssociateAwsTrainingCertificationEmailDomainRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address used to verify domain ownership for AWS training and certification association.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailVerificationCode": {
          "target": "com.amazonaws.partnercentralaccount#EmailVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>The verification code sent to the email address to confirm domain ownership.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#AssociateAwsTrainingCertificationEmailDomainResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.partnercentralaccount#BusinessValidationCode": {
      "type": "enum",
      "members": {
        "INCOMPATIBLE_CONNECTION_INVITATION_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_CONNECTION_INVITATION_REQUEST"
          }
        },
        "INCOMPATIBLE_LEGAL_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_LEGAL_NAME"
          }
        },
        "INCOMPATIBLE_KNOW_YOUR_BUSINESS_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_KNOW_YOUR_BUSINESS_STATUS"
          }
        },
        "INCOMPATIBLE_IDENTITY_VERIFICATION_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_IDENTITY_VERIFICATION_STATUS"
          }
        },
        "INVALID_ACCOUNT_LINKING_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ACCOUNT_LINKING_STATUS"
          }
        },
        "INVALID_ACCOUNT_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ACCOUNT_STATE"
          }
        },
        "INCOMPATIBLE_DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_DOMAIN"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#BusinessValidationError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the business validation error.</p>",
            "smithy.api#required": {}
          }
        },
        "Code": {
          "target": "com.amazonaws.partnercentralaccount#BusinessValidationCode",
          "traits": {
            "smithy.api#documentation": "<p>A code identifying the specific business validation error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a business rule validation error that occurred during an operation.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#CancelConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#CancelConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an existing connection between partners, terminating the partnership relationship.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnectionInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#CancelConnectionInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#CancelConnectionInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a pending connection invitation before it has been accepted or rejected.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnectionInvitationRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection invitation to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnectionInvitationResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation was canceled.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the canceled connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the canceled connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection associated with the canceled invitation.</p>"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection that was being invited for.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was originally created.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was last updated (canceled).</p>",
            "smithy.api#required": {}
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation would have expired if not canceled.</p>"
          }
        },
        "OtherParticipantIdentifier": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the other participant who was invited to connect.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantType": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of participant (inviter or invitee) in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the connection invitation (canceled).</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationMessage": {
          "target": "com.amazonaws.partnercentralaccount#UnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The message that was included with the original connection invitation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            },
            "smithy.api#required": {}
          }
        },
        "InviterEmail": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InviterName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnectionRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection to cancel (e.g., reseller, distributor, technology partner).</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for canceling the connection, providing context for the termination.</p>",
            "smithy.api#length": {
              "max": 256
            },
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CancelConnectionResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection was canceled.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the canceled connection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the canceled connection.</p>",
            "smithy.api#required": {}
          }
        },
        "OtherParticipantAccountId": {
          "target": "com.amazonaws.partnercentralaccount#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the other participant in the canceled connection.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection was last updated (canceled).</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTypes": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeDetailMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of connection types that were active before cancellation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CancelProfileUpdateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#CancelProfileUpdateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#CancelProfileUpdateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an in-progress profile update task, stopping any pending changes to the partner profile.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#CancelProfileUpdateTaskRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "TaskId": {
          "target": "com.amazonaws.partnercentralaccount#ProfileTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the profile update task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CancelProfileUpdateTaskResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the canceled profile update task.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "TaskId": {
          "target": "com.amazonaws.partnercentralaccount#ProfileTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the canceled profile update task.</p>",
            "smithy.api#required": {}
          }
        },
        "TaskDetails": {
          "target": "com.amazonaws.partnercentralaccount#TaskDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the profile update task that was canceled.</p>",
            "smithy.api#required": {}
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the profile update task was started.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#ProfileTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the profile update task (canceled).</p>",
            "smithy.api#required": {}
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the profile update task was ended (canceled).</p>"
          }
        },
        "ErrorDetailList": {
          "target": "com.amazonaws.partnercentralaccount#ErrorDetailList",
          "traits": {
            "smithy.api#documentation": "<p>A list of error details if any errors occurred during the profile update task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.partnercentralaccount#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.partnercentralaccount#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The specific reason for the conflict.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource. This typically occurs when trying to create a resource that already exists or modify a resource that has been changed by another process.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.partnercentralaccount#ConflictExceptionReason": {
      "type": "enum",
      "members": {
        "CONFLICT_CLIENT_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICT_CLIENT_TOKEN"
          }
        },
        "DUPLICATE_PARTNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_PARTNER"
          }
        },
        "INCOMPATIBLE_PROFILE_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_PROFILE_STATE"
          }
        },
        "INCOMPATIBLE_PARTNER_PROFILE_TASK_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_PARTNER_PROFILE_TASK_STATE"
          }
        },
        "DUPLICATE_CONNECTION_INVITATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_CONNECTION_INVITATION"
          }
        },
        "INCOMPATIBLE_CONNECTION_INVITATION_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_CONNECTION_INVITATION_STATE"
          }
        },
        "INCOMPATIBLE_CONNECTION_INVITATION_RECEIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_CONNECTION_INVITATION_RECEIVER"
          }
        },
        "DUPLICATE_CONNECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_CONNECTION"
          }
        },
        "INCOMPATIBLE_CONNECTION_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_CONNECTION_STATE"
          }
        },
        "INCOMPATIBLE_CONNECTION_PREFERENCES_REVISION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCOMPATIBLE_CONNECTION_PREFERENCES_REVISION"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#Connection": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier that the connection belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Resource Name (ARN) of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "OtherParticipantAccountId": {
          "target": "com.amazonaws.partnercentralaccount#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the other participant in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTypes": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeDetailMap",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Base structure containing common connection properties.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*::catalog/[a-zA-Z]+/connection/pac-[A-Za-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^pac-[A-Za-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionInvitation": {
      "type": "resource",
      "identifiers": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog"
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId"
        }
      },
      "create": {
        "target": "com.amazonaws.partnercentralaccount#CreateConnectionInvitation"
      },
      "read": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionInvitation"
      },
      "list": {
        "target": "com.amazonaws.partnercentralaccount#ListConnectionInvitations"
      },
      "operations": [
        {
          "target": "com.amazonaws.partnercentralaccount#AcceptConnectionInvitation"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#CancelConnectionInvitation"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#RejectConnectionInvitation"
        }
      ]
    },
    "com.amazonaws.partnercentralaccount#ConnectionInvitationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*::catalog/[a-zA-Z]+/connection-invitation/pacinv-[A-Za-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionInvitationId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^pacinv-[A-Za-z0-9]{13}$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionInvitationSummary": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection associated with this invitation.</p>"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection being requested in the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was created.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation will expire.</p>"
          }
        },
        "OtherParticipantIdentifier": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the other participant in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantType": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of participant (inviter or invitee) in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary view of a connection invitation containing key information without full details.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionInvitationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationSummary"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionPreferences": {
      "type": "resource",
      "identifiers": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog"
        }
      },
      "read": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionPreferences"
      },
      "operations": [
        {
          "target": "com.amazonaws.partnercentralaccount#UpdateConnectionPreferences"
        }
      ]
    },
    "com.amazonaws.partnercentralaccount#ConnectionPreferencesArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[a-zA-Z0-9-]+:partnercentral:[a-z0-9\\-]*:[0-9]{12}:catalog/[a-zA-Z]+/connection-preferences$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionResource": {
      "type": "resource",
      "identifiers": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog"
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId"
        }
      },
      "read": {
        "target": "com.amazonaws.partnercentralaccount#GetConnection"
      },
      "list": {
        "target": "com.amazonaws.partnercentralaccount#ListConnections"
      },
      "operations": [
        {
          "target": "com.amazonaws.partnercentralaccount#CancelConnection"
        }
      ]
    },
    "com.amazonaws.partnercentralaccount#ConnectionSummary": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "OtherParticipantAccountId": {
          "target": "com.amazonaws.partnercentralaccount#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the other participant in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTypes": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeSummaryMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of connection types and their summary information for this connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary view of an active connection between partners containing key information.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionSummary"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionType": {
      "type": "enum",
      "members": {
        "OPPORTUNITY_COLLABORATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPPORTUNITY_COLLABORATION"
          }
        },
        "SUBSIDIARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSIDIARY"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeDetail": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this connection type was created.</p>",
            "smithy.api#required": {}
          }
        },
        "InviterEmail": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the person who initiated this connection type.</p>",
            "smithy.api#required": {}
          }
        },
        "InviterName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who initiated this connection type.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of this connection type.</p>",
            "smithy.api#required": {}
          }
        },
        "CanceledAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this connection type was cancelled, if applicable.</p>"
          }
        },
        "CanceledBy": {
          "target": "com.amazonaws.partnercentralaccount#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the participant who cancelled this connection type.</p>"
          }
        },
        "OtherParticipant": {
          "target": "com.amazonaws.partnercentralaccount#Participant",
          "traits": {
            "smithy.api#documentation": "<p>Information about the other participant in this connection type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about a specific connection type within a connection.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeDetailMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionType"
      },
      "value": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionTypeDetail"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[a-zA-Z_-]+(:[a-zA-Z]+)?$"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeStatus": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CANCELED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELED"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeSummary": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of this connection type (active, canceled, etc.).</p>",
            "smithy.api#required": {}
          }
        },
        "OtherParticipant": {
          "target": "com.amazonaws.partnercentralaccount#Participant",
          "traits": {
            "smithy.api#documentation": "<p>Information about the other participant in this connection type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a specific connection type between partners.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ConnectionTypeSummaryMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionType"
      },
      "value": {
        "target": "com.amazonaws.partnercentralaccount#ConnectionTypeSummary"
      }
    },
    "com.amazonaws.partnercentralaccount#CreateConnectionInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#CreateConnectionInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#CreateConnectionInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new connection invitation to establish a partnership with another organization.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#CreateConnectionInvitationRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection being requested (e.g., reseller, distributor, technology partner).</p>",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the person to send the connection invitation to.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "com.amazonaws.partnercentralaccount#UnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>A custom message to include with the connection invitation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            },
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person sending the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ReceiverIdentifier": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization or partner to invite for connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CreateConnectionInvitationResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection associated with this invitation.</p>"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection being requested in the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was created.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation will expire if not responded to.</p>"
          }
        },
        "OtherParticipantIdentifier": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization or partner being invited.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantType": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of participant (inviter or invitee) in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the connection invitation (pending, accepted, rejected, etc.).</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationMessage": {
          "target": "com.amazonaws.partnercentralaccount#UnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The custom message included with the connection invitation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            },
            "smithy.api#required": {}
          }
        },
        "InviterEmail": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InviterName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CreatePartner": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#CreatePartnerRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#CreatePartnerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new partner account in the AWS Partner Network with the specified details and configuration.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CreatePartnerRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the partner account will be created.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LegalName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The legal name of the organization becoming a partner.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimarySolutionType": {
          "target": "com.amazonaws.partnercentralaccount#PrimarySolutionType",
          "traits": {
            "smithy.api#documentation": "<p>The primary type of solution or service the partner provides (e.g., consulting, software, managed services).</p>",
            "smithy.api#required": {}
          }
        },
        "AllianceLeadContact": {
          "target": "com.amazonaws.partnercentralaccount#AllianceLeadContact",
          "traits": {
            "smithy.api#documentation": "<p>The primary contact person for alliance and partnership matters.</p>",
            "smithy.api#required": {}
          }
        },
        "EmailVerificationCode": {
          "target": "com.amazonaws.partnercentralaccount#EmailVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>The verification code sent to the alliance lead contact's email to confirm account creation.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.partnercentralaccount#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the partner account for organization and billing purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#CreatePartnerResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the partner account was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "LegalName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The legal name of the partner organization.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the partner account was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Profile": {
          "target": "com.amazonaws.partnercentralaccount#PartnerProfile",
          "traits": {
            "smithy.api#documentation": "<p>The partner profile information including display name, description, and other public details.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsTrainingCertificationEmailDomains": {
          "target": "com.amazonaws.partnercentralaccount#PartnerDomainList",
          "traits": {
            "smithy.api#documentation": "<p>The list of verified email domains associated with AWS training and certification credentials for the partner organization.</p>"
          }
        },
        "AllianceLeadContact": {
          "target": "com.amazonaws.partnercentralaccount#AllianceLeadContact",
          "traits": {
            "smithy.api#documentation": "<p>The alliance lead contact information for the partner account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.partnercentralaccount#DisassociateAwsTrainingCertificationEmailDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#DisassociateAwsTrainingCertificationEmailDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#DisassociateAwsTrainingCertificationEmailDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ConflictException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between an email domain and AWS training and certification for the partner account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.partnercentralaccount#DisassociateAwsTrainingCertificationEmailDomainRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.partnercentralaccount#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.partnercentralaccount#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name to disassociate from AWS training and certification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#DisassociateAwsTrainingCertificationEmailDomainResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(\\.[a-zA-Z0-9]([a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
      }
    },
    "com.amazonaws.partnercentralaccount#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 320
        },
        "smithy.api#pattern": "^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
      }
    },
    "com.amazonaws.partnercentralaccount#EmailVerificationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 6
        },
        "smithy.api#pattern": "^[0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.partnercentralaccount#ErrorDetail": {
      "type": "structure",
      "members": {
        "Locale": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The locale or language code for the error message.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "Reason": {
          "target": "com.amazonaws.partnercentralaccount#ProfileValidationErrorReason",
          "traits": {
            "smithy.api#documentation": "<p>A machine-readable code or reason for the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains detailed information about an error that occurred during an operation.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#ErrorDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.partnercentralaccount#ErrorDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.partnercentralaccount#FieldValidationCode": {
      "type": "enum",
      "members": {
        "REQUIRED_FIELD_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED_FIELD_MISSING"
          }
        },
        "DUPLICATE_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_VALUE"
          }
        },
        "INVALID_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_VALUE"
          }
        },
        "INVALID_STRING_FORMAT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_STRING_FORMAT"
          }
        },
        "TOO_MANY_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOO_MANY_VALUES"
          }
        },
        "ACTION_NOT_PERMITTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_NOT_PERMITTED"
          }
        },
        "INVALID_ENUM_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_ENUM_VALUE"
          }
        }
      }
    },
    "com.amazonaws.partnercentralaccount#FieldValidationError": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field that failed validation.</p>",
            "smithy.api#required": {}
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the field validation error.</p>",
            "smithy.api#required": {}
          }
        },
        "Code": {
          "target": "com.amazonaws.partnercentralaccount#FieldValidationCode",
          "traits": {
            "smithy.api#documentation": "<p>A code identifying the specific field validation error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a field-level validation error that occurred during an operation.</p>"
      }
    },
    "com.amazonaws.partnercentralaccount#GetAllianceLeadContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetAllianceLeadContactRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetAllianceLeadContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the alliance lead contact information for a partner account.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetAllianceLeadContactRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetAllianceLeadContactResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "AllianceLeadContact": {
          "target": "com.amazonaws.partnercentralaccount#AllianceLeadContact",
          "traits": {
            "smithy.api#documentation": "<p>The alliance lead contact information including name, email, and business title.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific connection between partners.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific connection invitation.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionInvitationRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection invitation to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionInvitationResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection invitation exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionInvitationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionId": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the connection associated with this invitation.</p>"
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection being requested in the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was created.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpiresAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection invitation will expire.</p>"
          }
        },
        "OtherParticipantIdentifier": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the other participant in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "ParticipantType": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of participant (inviter or invitee) in the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InvitationMessage": {
          "target": "com.amazonaws.partnercentralaccount#UnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The custom message included with the connection invitation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 256
            },
            "smithy.api#required": {}
          }
        },
        "InviterEmail": {
          "target": "com.amazonaws.partnercentralaccount#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "InviterName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who sent the connection invitation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionPreferences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionPreferencesRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetConnectionPreferencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the connection preferences for a partner account, including access settings and exclusions.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionPreferencesRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionPreferencesResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionPreferencesArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection preferences.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessType": {
          "target": "com.amazonaws.partnercentralaccount#AccessType",
          "traits": {
            "smithy.api#documentation": "<p>The access type setting for connections (e.g., open, restricted, invitation-only).</p>",
            "smithy.api#required": {}
          }
        },
        "ExcludedParticipantIds": {
          "target": "com.amazonaws.partnercentralaccount#ParticipantIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of participant IDs that are excluded from connection requests or interactions.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection preferences were last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "Revision": {
          "target": "com.amazonaws.partnercentralaccount#Revision",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the connection preferences for optimistic locking.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetConnectionResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier where the connection exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "OtherParticipantAccountId": {
          "target": "com.amazonaws.partnercentralaccount#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the other participant in the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the connection was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTypes": {
          "target": "com.amazonaws.partnercentralaccount#ConnectionTypeDetailMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of connection types active between the partners.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetPartner": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetPartnerRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetPartnerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves detailed information about a specific partner account.</p>",
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetPartnerFailsWithInvalidIdentifier",
            "params": {
              "Catalog": "AWS",
              "Identifier": "partner-0123456789abc"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.partnercentralaccount#GetPartnerRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetPartnerResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "LegalName": {
          "target": "com.amazonaws.partnercentralaccount#SensitiveUnicodeString",
          "traits": {
            "smithy.api#documentation": "<p>The legal name of the partner organization.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the partner account was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Profile": {
          "target": "com.amazonaws.partnercentralaccount#PartnerProfile",
          "traits": {
            "smithy.api#documentation": "<p>The partner profile information including display name, description, and other public details.</p>",
            "smithy.api#required": {}
          }
        },
        "AwsTrainingCertificationEmailDomains": {
          "target": "com.amazonaws.partnercentralaccount#PartnerDomainList",
          "traits": {
            "smithy.api#documentation": "<p>The list of verified email domains associated with AWS training and certification credentials for the partner organization.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileUpdateTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetProfileUpdateTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetProfileUpdateTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a specific profile update task.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileUpdateTaskRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileUpdateTaskResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the profile update task.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "TaskId": {
          "target": "com.amazonaws.partnercentralaccount#ProfileTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the profile update task.</p>",
            "smithy.api#required": {}
          }
        },
        "TaskDetails": {
          "target": "com.amazonaws.partnercentralaccount#TaskDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the profile update task including what changes are being made.</p>",
            "smithy.api#required": {}
          }
        },
        "StartedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the profile update task was started.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.partnercentralaccount#ProfileTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the profile update task (in progress, completed, failed, etc.).</p>",
            "smithy.api#required": {}
          }
        },
        "EndedAt": {
          "target": "com.amazonaws.partnercentralaccount#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the profile update task was completed or failed.</p>"
          }
        },
        "ErrorDetailList": {
          "target": "com.amazonaws.partnercentralaccount#ErrorDetailList",
          "traits": {
            "smithy.api#documentation": "<p>A list of error details if any errors occurred during the profile update task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileVisibility": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.partnercentralaccount#GetProfileVisibilityRequest"
      },
      "output": {
        "target": "com.amazonaws.partnercentralaccount#GetProfileVisibilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.partnercentralaccount#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#InternalServerException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ThrottlingException"
        },
        {
          "target": "com.amazonaws.partnercentralaccount#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the visibility settings for a partner profile, determining who can see the profile information.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileVisibilityRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.partnercentralaccount#PartnerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.partnercentralaccount#GetProfileVisibilityResponse": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.partnercentralaccount#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The catalog identifier for the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.partnercentralaccount#PartnerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.partnercentralaccount#PartnerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner account.</p>",
            "smithy.api#required": {}
          }
        },
        "Visibility": {
          "target": "com.amazonaws.partnercentralaccount#ProfileVisibility",
          "traits": {
            "smithy.api#documentation": "<p>The visibility setting for the partner profile (public, private, restricted, etc.).</p>",
            "smithy.api#required": {}
          }
        },
        "ProfileId": {
          "target": "com.amazonaws.partnercentralaccount#PartnerProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the partner profile.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.partnercentralaccount#IndustrySegment": {
      "type": "enum",
      "members": {
        "AGRICULTURE_MINING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGRICULTURE_MINING"
          }
        },
        "BIOTECHNOLOGY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIOTECHNOLOGY"
          }
        },
        "BUSINESS_CONSUMER_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_CONSUMER_SERVICES"
          }
        },
        "BUSINESS_SERV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BUSINESS_SERV"
          }
        },
        "COMMUNICATIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMUNICATIONS"
          }
        },
        "COMPUTER_HARDWARE": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
