{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.paymentcryptographydata#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals3",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#AsymmetricEncryptionAttributes": {
      "type": "structure",
      "members": {
        "PaddingType": {
          "target": "com.amazonaws.paymentcryptographydata#PaddingType",
          "traits": {
            "smithy.api#documentation": "<p>The padding to be included with the data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for plaintext encryption using asymmetric keys.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardGenerationAttributes": {
      "type": "union",
      "members": {
        "AmexCardSecurityCodeVersion1": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1"
        },
        "AmexCardSecurityCodeVersion2": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
          }
        },
        "CardVerificationValue1": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue1",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>"
          }
        },
        "CardVerificationValue2": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Value (CVV2) for the payment card.</p>"
          }
        },
        "CardHolderVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>"
          }
        },
        "DynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        },
        "DynamicCardVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate CDynamic Card Verification Value (dCVV) for the payment card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue": {
      "type": "structure",
      "members": {
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from a point of sale terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationAttributes": {
      "type": "union",
      "members": {
        "AmexCardSecurityCodeVersion1": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1"
        },
        "AmexCardSecurityCodeVersion2": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify a Card Security Code (CSC2) for an AMEX payment card.</p>"
          }
        },
        "CardVerificationValue1": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue1",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV) for the payment card.</p>"
          }
        },
        "CardVerificationValue2": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV2) for the payment card.</p>"
          }
        },
        "CardHolderVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify a cardholder verification value for the payment card.</p>"
          }
        },
        "DynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        },
        "DynamicCardVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Value (dCVV) for the payment card.</p>"
          }
        },
        "DiscoverDynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DiscoverDynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are requried to verify Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationValue1": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals3",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the payment card. This is different from Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to verify CVV (Card Verification Value) for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationValue2": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV2) for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramAuthResponse": {
      "type": "union",
      "members": {
        "ArpcMethod1": {
          "target": "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod1",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method1 after ARQC verification is successful.</p>"
          }
        },
        "ArpcMethod2": {
          "target": "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod2",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method2 after ARQC verification is successful.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for Authorization Response Cryptogram (ARPC) generation after Authorization Request Cryptogram (ARQC) verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod1": {
      "type": "structure",
      "members": {
        "AuthResponseCode": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The auth code used to calculate APRC after ARQC verification is successful. This is the same auth code used for ARQC generation outside of Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method1 after ARQC verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod2": {
      "type": "structure",
      "members": {
        "CardStatusUpdate": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals8",
          "traits": {
            "smithy.api#documentation": "<p>The data indicating whether the issuer approves or declines an online transaction using an EMV chip card.</p>",
            "smithy.api#required": {}
          }
        },
        "ProprietaryAuthenticationData": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween1And16",
          "traits": {
            "smithy.api#documentation": "<p>The proprietary authentication data used by issuer for communication during online transaction using an EMV chip card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method2 after ARQC verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#DecryptDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#DecryptDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decrypts ciphertext data to plaintext using symmetric, asymmetric, or DUKPT data encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/decrypt-data.html\">Decrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>You can use an encryption key generated within Amazon Web Services Payment Cryptography, or you can import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Decrypt</code>. In asymmetric decryption, Amazon Web Services Payment Cryptography decrypts the ciphertext using the private component of the asymmetric encryption key pair. For data encryption outside of Amazon Web Services Payment Cryptography, you can export the public component of the asymmetric key pair by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a>.</p>\n         <p>For symmetric and DUKPT decryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For asymmetric decryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. When you use DUKPT, for <code>TDES</code> algorithm, the ciphertext data length must be a multiple of 16 bytes. For <code>AES</code> algorithm, the ciphertext data length must be a multiple of 32 bytes.</p>\n         <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>EncryptData</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/keys/{KeyIdentifier}/decrypt",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for ciphertext decryption.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CipherText": {
          "target": "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4096",
          "traits": {
            "smithy.api#documentation": "<p>The ciphertext to decrypt.</p>",
            "smithy.api#required": {}
          }
        },
        "DecryptionAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key type and attributes for ciphertext decryption.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for ciphertext decryption.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "PlainText": {
          "target": "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4096",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted plaintext data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#DiscoverDynamicCardVerificationCode": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number that is generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify dCVC (Dynamic Card Verification Code).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween10And24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type derived using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are used for Derived Unique Key Per Transaction (DUKPT) derivation algorithm.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptDerivationAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween10And24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptKeyDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type derived using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code>\n         </p>"
          }
        },
        "DukptKeyVariant": {
          "target": "com.amazonaws.paymentcryptographydata#DukptKeyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The type of use of DUKPT, which can be for incoming data decryption, outgoing data encryption, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters required for encryption or decryption of data using DUKPT.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptDerivationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TDES_2KEY",
            "name": "TDES_2KEY"
          },
          {
            "value": "TDES_3KEY",
            "name": "TDES_3KEY"
          },
          {
            "value": "AES_128",
            "name": "AES_128"
          },
          {
            "value": "AES_192",
            "name": "AES_192"
          },
          {
            "value": "AES_256",
            "name": "AES_256"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptEncryptionAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween10And24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "Mode": {
          "target": "com.amazonaws.paymentcryptographydata#DukptEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The block cipher mode of operation. Block ciphers are designed to encrypt a block of data of fixed size, for example, 128 bits. The size of the input block is usually same as the size of the encrypted output block, while the key length can be different. A mode of operation describes how to repeatedly apply a cipher's single-block operation to securely transform amounts of data larger than a block.</p>\n         <p>The default is CBC.</p>"
          }
        },
        "DukptKeyDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type encrypted using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code>\n         </p>"
          }
        },
        "DukptKeyVariant": {
          "target": "com.amazonaws.paymentcryptographydata#DukptKeyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The type of use of DUKPT, which can be incoming data decryption, outgoing data encryption, or both.</p>"
          }
        },
        "InitializationVector": {
          "target": "com.amazonaws.paymentcryptographydata#HexLength16Or32",
          "traits": {
            "smithy.api#documentation": "<p>An input to cryptographic primitive used to provide the intial state. Typically the <code>InitializationVector</code> must have a random or psuedo-random value, but sometimes it only needs to be unpredictable or unique. If you don't provide a value, Amazon Web Services Payment Cryptography generates a random value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to encrypt plaintext data using DUKPT.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptEncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ECB",
            "name": "ECB"
          },
          {
            "value": "CBC",
            "name": "CBC"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptKeyVariant": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BIDIRECTIONAL",
            "name": "BIDIRECTIONAL"
          },
          {
            "value": "REQUEST",
            "name": "REQUEST"
          },
          {
            "value": "RESPONSE",
            "name": "RESPONSE"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode": {
      "type": "structure",
      "members": {
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "TrackData": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And160",
          "traits": {
            "smithy.api#documentation": "<p>The data on the two tracks of magnetic cards used for financial transactions. This includes the cardholder name, PAN, expiration date, bank ID (BIN) and several other numbers the issuing bank uses to validate the data received.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Dynamic Card Verification Value (dCVV).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue": {
      "type": "structure",
      "members": {
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals3",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the payment card. This is different from Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Dynamic Card Verification Value (dCVV).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#EncryptDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#EncryptDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Encrypts plaintext data to ciphertext using symmetric, asymmetric, or DUKPT data encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/encrypt-data.html\">Encrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>You can generate an encryption key within Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. You can import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Encrypt</code>. In asymmetric encryption, plaintext is encrypted using public component. You can import the public component of an asymmetric key pair created outside Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>). </p>\n         <p>for symmetric and DUKPT encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For asymmetric encryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. To encrypt using DUKPT, you must already have a DUKPT key in your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code>, or you can generate a new DUKPT key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>.</p>\n         <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DecryptData</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ReEncryptData</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/keys/{KeyIdentifier}/encrypt",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for plaintext encryption.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PlainText": {
          "target": "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4064",
          "traits": {
            "smithy.api#documentation": "<p>The plaintext to be encrypted.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key type and attributes for plaintext encryption.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for plaintext encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "CipherText": {
          "target": "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4096",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted ciphertext.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes": {
      "type": "union",
      "members": {
        "Symmetric": {
          "target": "com.amazonaws.paymentcryptographydata#SymmetricEncryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required to perform encryption and decryption using symmetric keys.</p>"
          }
        },
        "Asymmetric": {
          "target": "com.amazonaws.paymentcryptographydata#AsymmetricEncryptionAttributes"
        },
        "Dukpt": {
          "target": "com.amazonaws.paymentcryptographydata#DukptEncryptionAttributes"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to perform encryption and decryption operations.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ECB",
            "name": "ECB"
          },
          {
            "value": "CBC",
            "name": "CBC"
          },
          {
            "value": "CFB",
            "name": "CFB"
          },
          {
            "value": "CFB1",
            "name": "CFB1"
          },
          {
            "value": "CFB8",
            "name": "CFB8"
          },
          {
            "value": "CFB64",
            "name": "CFB64"
          },
          {
            "value": "CFB128",
            "name": "CFB128"
          },
          {
            "value": "OFB",
            "name": "OFB"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates card-related validation data using algorithms such as Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC). For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-card-data.html\">Generate card data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>This operation generates a CVV or CSC value that is printed on a payment credit or debit card during card production. The CVV or CSC, PAN (Primary Account Number) and expiration date of the card are required to check its validity during transaction processing. To begin this operation, a CVK (Card Verification Key) encryption key is required. You can use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> to establish a CVK within Amazon Web Services Payment Cryptography. The <code>KeyModesOfUse</code> should be set to <code>Generate</code> and <code>Verify</code> for a CVK encryption key. </p>\n         <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>VerifyCardValidationData</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cardvalidationdata/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the CVK encryption key that Amazon Web Services Payment Cryptography uses to generate card data.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween12And19",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card that associates the card with a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#CardGenerationAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm for generating CVV or CSC values for the card within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationDataLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween3And5Type",
          "traits": {
            "smithy.api#documentation": "<p>The length of the CVV or CSC to be generated. The default value is 3.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the CVK encryption key that Amazon Web Services Payment Cryptography uses to generate CVV or CSC.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween3And5",
          "traits": {
            "smithy.api#documentation": "<p>The CVV or CSC value that Amazon Web Services Payment Cryptography generates for the card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMac": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a Message Authentication Code (MAC) cryptogram within Amazon Web Services Payment Cryptography. </p>\n         <p>You can use this operation when keys won't be shared but mutual data is present on both ends for validation. In this case, known data values are used to generate a MAC on both ends for comparision without sending or receiving data in ciphertext or plaintext. You can use this operation to generate a DUPKT, HMAC or EMV MAC by setting generation attributes and algorithm to the associated values. The MAC generation encryption key must have valid values for <code>KeyUsage</code> such as <code>TR31_M7_HMAC_KEY</code> for HMAC generation, and they key must have <code>KeyModesOfUse</code> set to <code>Generate</code> and <code>Verify</code>.</p>\n         <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>VerifyMac</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/mac/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the MAC generation encryption key.</p>",
            "smithy.api#required": {}
          }
        },
        "MessageData": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4096",
          "traits": {
            "smithy.api#documentation": "<p>The data for which a MAC is under generation.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#MacAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and data values to use for MAC generation within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        },
        "MacLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The length of a MAC under generation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for MAC generation.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "Mac": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween4And128",
          "traits": {
            "smithy.api#documentation": "<p>The MAC cryptogram generated within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GeneratePinDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GeneratePinDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates pin-related data such as PIN, PIN Verification Value (PVV), PIN Block, and PIN Offset during new card issuance or reissuance. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-pin-data.html\">Generate PIN data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>PIN data is never transmitted in clear to or from Amazon Web Services Payment Cryptography. This operation generates PIN, PVV, or PIN Offset and then encrypts it using Pin Encryption Key (PEK) to create an <code>EncryptedPinBlock</code> for transmission from Amazon Web Services Payment Cryptography. This operation uses a separate Pin Verification Key (PVK) for VISA PVV generation. </p>\n         <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>GenerateCardValidationData</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>TranslatePinData</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>VerifyPinData</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pindata/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinDataInput": {
      "type": "structure",
      "members": {
        "GenerationKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses for pin data generation.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses to encrypt the PIN Block.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#PinGenerationAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and values to use for PIN, PVV, or PIN Offset generation.</p>",
            "smithy.api#required": {}
          }
        },
        "PinDataLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And12",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The length of PIN under generation.</p>"
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween12And19",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card that associates the card with a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "PinBlockFormat": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockFormatForPinData",
          "traits": {
            "smithy.api#documentation": "<p>The PIN encoding format for pin data generation as specified in ISO 9564. Amazon Web Services Payment Cryptography supports <code>ISO_Format_0</code> and <code>ISO_Format_3</code>.</p>\n         <p>The <code>ISO_Format_0</code> PIN block format is equivalent to the ANSI X9.8, VISA-1, and ECI-1 PIN block formats. It is similar to a VISA-4 PIN block format. It supports a PIN from 4 to 12 digits in length.</p>\n         <p>The <code>ISO_Format_3</code> PIN block format is the same as <code>ISO_Format_0</code> except that the fill digits are random values from 10 to 15.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinDataOutput": {
      "type": "structure",
      "members": {
        "GenerationKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the pin data generation key that Amazon Web Services Payment Cryptography uses for PIN, PVV or PIN Offset generation.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses for encrypted pin block generation.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed. Amazon Web Services Payment Cryptography calculates the KCV by using standard algorithms, typically by encrypting 8 or 16 bytes or \"00\" or \"01\" and then truncating the result to the first 3 bytes, or 6 hex digits, of the resulting cryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween16And32",
          "traits": {
            "smithy.api#documentation": "<p>The PIN block encrypted under PEK from Amazon Web Services Payment Cryptography. The encrypted PIN block is a composite of PAN (Primary Account Number) and PIN (Personal Identification Number), generated in accordance with ISO 9564 standard.</p>",
            "smithy.api#required": {}
          }
        },
        "PinData": {
          "target": "com.amazonaws.paymentcryptographydata#PinData",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and values Amazon Web Services Payment Cryptography uses for pin data generation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4064": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 4064
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And4096": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 4096
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLength16Or32": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F]{16}|[0-9a-fA-F]{32})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween10And24": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 24
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween16And32": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween1And16": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And1024": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And160": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 160
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4096": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 4096
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 8
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween4And128": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        },
        "smithy.api#pattern": "^[0-9A-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals16": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals2": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals4": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals8": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 8
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624NaturalPin": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 natural PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinFromOffset": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        },
        "PinOffset": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And12",
          "traits": {
            "smithy.api#documentation": "<p>The PIN offset value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 PIN from offset PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinOffset": {
      "type": "structure",
      "members": {
        "EncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween16And32",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted PIN block data. According to ISO 9564 standard, a PIN Block is an encoded representation of a payment card Personal Account Number (PAN) and the cardholder Personal Identification Number (PIN).</p>",
            "smithy.api#required": {}
          }
        },
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Pparameters that are required to generate or verify Ibm3624 PIN offset PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinVerification": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        },
        "PinOffset": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And12",
          "traits": {
            "smithy.api#documentation": "<p>The PIN offset value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 PIN verification PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624RandomPin": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 random PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween0And9": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 9
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween3And5Type": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 3,
          "max": 5
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And12": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 4,
          "max": 12
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And16": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 4,
          "max": 16
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.paymentcryptographydata#KeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 70,
          "max": 150
        },
        "smithy.api#pattern": "^arn:aws:payment-cryptography:[a-z]{2}-[a-z]{1,16}-[0-9]+:[0-9]{12}:key/[0-9a-zA-Z]{16,64}$"
      }
    },
    "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 322
        },
        "smithy.api#pattern": "^arn:aws:payment-cryptography:[a-z]{2}-[a-z]{1,16}-[0-9]+:[0-9]{12}:(key/[0-9a-zA-Z]{16,64}|alias/[a-zA-Z0-9/_-]+)$|^alias/[a-zA-Z0-9/_-]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#KeyCheckValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#MacAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ISO9797_ALGORITHM1",
            "name": "ISO9797_ALGORITHM1"
          },
          {
            "value": "ISO9797_ALGORITHM3",
            "name": "ISO9797_ALGORITHM3"
          },
          {
            "value": "CMAC",
            "name": "CMAC"
          },
          {
            "value": "HMAC_SHA224",
            "name": "HMAC_SHA224"
          },
          {
            "value": "HMAC_SHA256",
            "name": "HMAC_SHA256"
          },
          {
            "value": "HMAC_SHA384",
            "name": "HMAC_SHA384"
          },
          {
            "value": "HMAC_SHA512",
            "name": "HMAC_SHA512"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#MacAlgorithmDukpt": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween10And24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptKeyVariant": {
          "target": "com.amazonaws.paymentcryptographydata#DukptKeyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The type of use of DUKPT, which can be MAC generation, MAC verification, or both.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type derived using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters required for DUKPT MAC generation and verification.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#MacAlgorithmEmv": {
      "type": "structure",
      "members": {
        "MajorKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#MajorKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The method to use when deriving the master key for EMV MAC generation or verification.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthBetween12And19",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card and associates the card to a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "SessionKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#SessionKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The method of deriving a session key for EMV MAC generation or verification.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionKeyDerivationValue": {
          "target": "com.amazonaws.paymentcryptographydata#SessionKeyDerivationValue",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required to generate session key for EMV generation and verification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for EMV MAC generation and verification.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#MacAttributes": {
      "type": "union",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.paymentcryptographydata#MacAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The encryption algorithm for MAC generation or verification.</p>"
          }
        },
        "EmvMac": {
          "target": "com.amazonaws.paymentcryptographydata#MacAlgorithmEmv",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for MAC generation or verification using EMV MAC algorithm.</p>"
          }
        },
        "DukptIso9797Algorithm1": {
          "target": "com.amazonaws.paymentcryptographydata#MacAlgorithmDukpt",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for MAC generation or verification using DUKPT ISO 9797 algorithm1.</p>"
          }
        },
        "DukptIso9797Algorithm3": {
          "target": "com.amazonaws.paymentcryptographydata#MacAlgorithmDukpt",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for MAC generation or verification using DUKPT ISO 9797 algorithm2.</p>"
          }
        },
        "DukptCmac": {
          "target": "com.amazonaws.paymentcryptographydata#MacAlgorithmDukpt",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for MAC generation or verification using DUKPT CMAC algorithm.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for DUKPT, HMAC, or EMV MAC generation or verification.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#MajorKeyDerivationMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EMV_OPTION_A",
            "name": "EMV_OPTION_A"
          },
          {
            "value": "EMV_OPTION_B",
            "name": "EMV_OPTION_B"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthBetween12And19": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 19
        },
        "smithy.api#pattern": "^[0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthBetween3And5": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 5
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And12": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthBetween4And16": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthEquals16": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthEquals3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#NumberLengthEquals4": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#PaddingType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PKCS1",
            "name": "PKCS1"
          },
          {
            "value": "OAEP_SHA1",
            "name": "OAEP_SHA1"
          },
          {
            "value": "OAEP_SHA256",
            "name": "OAEP_SHA256"
          },
          {
            "value": "OAEP_SHA512",
            "name": "OAEP_SHA512"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptographydata#PaymentCryptographyDataPlane": {
      "type": "service",
      "version": "2022-02-03",
      "operations": [
        {
          "target": "com.amazonaws.paymentcryptographydata#DecryptData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#EncryptData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#GenerateCardValidationData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#GenerateMac"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#GeneratePinData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ReEncryptData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#TranslatePinData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#VerifyAuthRequestCryptogram"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#VerifyCardValidationData"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#VerifyMac"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#VerifyPinData"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "aws.api#service": {
          "sdkId": "Payment Cryptography Data",
          "endpointPrefix": "dataplane.payment-cryptography"
        },
        "aws.auth#sigv4": {
          "name": "payment-cryptography"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>You use the Amazon Web Services Payment Cryptography Data Plane to manage how encryption keys are used for payment-related transaction processing and associated cryptographic operations. You can encrypt, decrypt, generate, verify, and translate payment-related cryptographic operations in Amazon Web Services Payment Cryptography. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/data-operations.html\">Data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>To manage your encryption keys, you use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/Welcome.html\">Amazon Web Services Payment Cryptography Control Plane</a>. You can create, import, export, share, manage, and delete keys. You can also manage Identity and Access Management (IAM) policies for keys. </p>",
        "smithy.api#title": "Payment Cryptography Data Plane",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://dataplane.payment-cryptography-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://dataplane.payment-cryptography-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://dataplane.payment-cryptography.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://dataplane.payment-cryptography.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://dataplane.payment-cryptography-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
[...]
