{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.paymentcryptographydata#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.paymentcryptographydata#AmexAttributes": {
      "type": "structure",
      "members": {
        "MajorKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#MajorKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The method to use when deriving the master key for a payment card using Amex derivation.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN) of the cardholder.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN). Typically 00 is used, if no value is provided by the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter of the current transaction that is provided by the terminal during transaction processing.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthorizationRequestKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyArn</code> of the issuer master key for cryptogram (IMK-AC) for the payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentPinAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#CurrentPinAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted pinblock of the old pin stored on the chip card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using Amex derivation method.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#ServiceCodeType",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the AMEX payment card. This is different from the Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#ApplicationCryptogramType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#AsymmetricEncryptionAttributes": {
      "type": "structure",
      "members": {
        "PaddingType": {
          "target": "com.amazonaws.paymentcryptographydata#PaddingType",
          "traits": {
            "smithy.api#documentation": "<p>The padding to be included with the data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for plaintext encryption using asymmetric keys.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#AuthRequestCryptogramType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#AuthResponseValueType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#CardExpiryDateType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#CardGenerationAttributes": {
      "type": "union",
      "members": {
        "AmexCardSecurityCodeVersion1": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1"
        },
        "AmexCardSecurityCodeVersion2": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate a Card Security Code (CSC2) for an AMEX payment card.</p>"
          }
        },
        "CardVerificationValue1": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue1",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Value (CVV) for the payment card.</p>"
          }
        },
        "CardVerificationValue2": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Value (CVV2) for the payment card.</p>"
          }
        },
        "CardHolderVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>"
          }
        },
        "DynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        },
        "DynamicCardVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to generate CDynamic Card Verification Value (dCVV) for the payment card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue": {
      "type": "structure",
      "members": {
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from a point of sale terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to generate a cardholder verification value for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationAttributes": {
      "type": "union",
      "members": {
        "AmexCardSecurityCodeVersion1": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion1"
        },
        "AmexCardSecurityCodeVersion2": {
          "target": "com.amazonaws.paymentcryptographydata#AmexCardSecurityCodeVersion2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify a Card Security Code (CSC2) for an AMEX payment card.</p>"
          }
        },
        "CardVerificationValue1": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue1",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV) for the payment card.</p>"
          }
        },
        "CardVerificationValue2": {
          "target": "com.amazonaws.paymentcryptographydata#CardVerificationValue2",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV2) for the payment card.</p>"
          }
        },
        "CardHolderVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#CardHolderVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify a cardholder verification value for the payment card.</p>"
          }
        },
        "DynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        },
        "DynamicCardVerificationValue": {
          "target": "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Value (dCVV) for the payment card.</p>"
          }
        },
        "DiscoverDynamicCardVerificationCode": {
          "target": "com.amazonaws.paymentcryptographydata#DiscoverDynamicCardVerificationCode",
          "traits": {
            "smithy.api#documentation": "<p>Card data parameters that are required to verify CDynamic Card Verification Code (dCVC) for the payment card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are requried to verify Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationValue1": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#ServiceCodeType",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the payment card. This is different from Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to verify CVV (Card Verification Value) for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CardVerificationValue2": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Card data parameters that are required to verify Card Verification Value (CVV2) for the payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CertificateType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        },
        "smithy.api#pattern": "^[^\\[;\\]<>]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#CipherTextType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 4224
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#CommandMessageDataType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 1024
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramAuthResponse": {
      "type": "union",
      "members": {
        "ArpcMethod1": {
          "target": "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod1",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method1 after ARQC verification is successful.</p>"
          }
        },
        "ArpcMethod2": {
          "target": "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod2",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method2 after ARQC verification is successful.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for Authorization Response Cryptogram (ARPC) generation after Authorization Request Cryptogram (ARQC) verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod1": {
      "type": "structure",
      "members": {
        "AuthResponseCode": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The auth code used to calculate APRC after ARQC verification is successful. This is the same auth code used for ARQC generation outside of Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method1 after ARQC verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CryptogramVerificationArpcMethod2": {
      "type": "structure",
      "members": {
        "CardStatusUpdate": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals8",
          "traits": {
            "smithy.api#documentation": "<p>The data indicating whether the issuer approves or declines an online transaction using an EMV chip card.</p>",
            "smithy.api#required": {}
          }
        },
        "ProprietaryAuthenticationData": {
          "target": "com.amazonaws.paymentcryptographydata#ProprietaryAuthenticationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The proprietary authentication data used by issuer for communication during online transaction using an EMV chip card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required for ARPC response generation using method2 after ARQC verification is successful.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#CurrentPinAttributes": {
      "type": "structure",
      "members": {
        "CurrentPinPekIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyArn</code> of the current PIN PEK.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentEncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted pinblock of the current pin stored on the chip card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameter values of the current PIN to be changed on the EMV chip card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DecimalizationTableType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 16
        },
        "smithy.api#pattern": "^[0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#DecryptDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#DecryptDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decrypts ciphertext data to plaintext using a symmetric (TDES, AES), asymmetric (RSA), or derived (DUKPT or EMV) encryption key scheme. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/decrypt-data.html\">Decrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>You can use an decryption key generated within Amazon Web Services Payment Cryptography, or you can import your own decryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Decrypt</code>. In asymmetric decryption, Amazon Web Services Payment Cryptography decrypts the ciphertext using the private component of the asymmetric encryption key pair. For data encryption outside of Amazon Web Services Payment Cryptography, you can export the public component of the asymmetric key pair by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a>.</p> <p>This operation also supports dynamic keys, allowing you to pass a dynamic decryption key as a TR-31 WrappedKeyBlock. This can be used when key material is frequently rotated, such as during every card transaction, and there is need to avoid importing short-lived keys into Amazon Web Services Payment Cryptography. To decrypt using dynamic keys, the <code>keyARN</code> is the Key Encryption Key (KEK) of the TR-31 wrapped decryption key material. The incoming wrapped key shall have a key purpose of D0 with a mode of use of B or D. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/use-cases-acquirers-dynamickeys.html\">Using Dynamic Keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>For symmetric and DUKPT decryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For EMV decryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> algorithms. For asymmetric decryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. </p> <p>When you use TDES or TDES DUKPT, the ciphertext data length must be a multiple of 8 bytes. For AES or AES DUKPT, the ciphertext data length must be a multiple of 16 bytes. For RSA, it sould be equal to the key size unless padding is enabled.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>EncryptData</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/keys/{KeyIdentifier}/decrypt",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for ciphertext decryption.</p> <p>When a WrappedKeyBlock is provided, this value will be the identifier to the key wrapping key. Otherwise, it is the key identifier used to perform the operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CipherText": {
          "target": "com.amazonaws.paymentcryptographydata#CipherTextType",
          "traits": {
            "smithy.api#documentation": "<p>The ciphertext to decrypt.</p>",
            "smithy.api#required": {}
          }
        },
        "DecryptionAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key type and attributes for ciphertext decryption.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappedKey": {
          "target": "com.amazonaws.paymentcryptographydata#WrappedKey",
          "traits": {
            "smithy.api#documentation": "<p>The WrappedKeyBlock containing the encryption key for ciphertext decryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#DecryptDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for ciphertext decryption.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>",
            "smithy.api#required": {}
          }
        },
        "PlainText": {
          "target": "com.amazonaws.paymentcryptographydata#PlainTextOutputType",
          "traits": {
            "smithy.api#documentation": "<p>The decrypted plaintext data in hexBinary format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#DerivationMethodAttributes": {
      "type": "union",
      "members": {
        "EmvCommon": {
          "target": "com.amazonaws.paymentcryptographydata#EmvCommonAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using Emv common derivation method.</p>"
          }
        },
        "Amex": {
          "target": "com.amazonaws.paymentcryptographydata#AmexAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using Amex derivation method.</p>"
          }
        },
        "Visa": {
          "target": "com.amazonaws.paymentcryptographydata#VisaAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a a payment card using Visa derivation method.</p>"
          }
        },
        "Emv2000": {
          "target": "com.amazonaws.paymentcryptographydata#Emv2000Attributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using Emv2000 derivation method.</p>"
          }
        },
        "Mastercard": {
          "target": "com.amazonaws.paymentcryptographydata#MasterCardAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using Mastercard derivation method.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters to derive the payment card specific confidentiality and integrity keys.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DiscoverDynamicCardVerificationCode": {
      "type": "structure",
      "members": {
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number that is generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify dCVC (Dynamic Card Verification Code).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLength16Or20Or24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type derived using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are used for Derived Unique Key Per Transaction (DUKPT) derivation algorithm.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptDerivationAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLength16Or20Or24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "DukptKeyDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type derived using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code> </p>"
          }
        },
        "DukptKeyVariant": {
          "target": "com.amazonaws.paymentcryptographydata#DukptKeyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The type of use of DUKPT, which can be for incoming data decryption, outgoing data encryption, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters required for encryption or decryption of data using DUKPT.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptDerivationType": {
      "type": "enum",
      "members": {
        "TDES_2KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TDES_2KEY"
          }
        },
        "TDES_3KEY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TDES_3KEY"
          }
        },
        "AES_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128"
          }
        },
        "AES_192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_192"
          }
        },
        "AES_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_256"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptEncryptionAttributes": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLength16Or20Or24",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier known as Key Serial Number (KSN) that comes from an encrypting device using DUKPT encryption method. The KSN is derived from the encrypting device unique identifier and an internal transaction counter.</p>",
            "smithy.api#required": {}
          }
        },
        "Mode": {
          "target": "com.amazonaws.paymentcryptographydata#DukptEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The block cipher method to use for encryption.</p> <p>The default is CBC.</p>"
          }
        },
        "DukptKeyDerivationType": {
          "target": "com.amazonaws.paymentcryptographydata#DukptDerivationType",
          "traits": {
            "smithy.api#documentation": "<p>The key type encrypted using DUKPT from a Base Derivation Key (BDK) and Key Serial Number (KSN). This must be less than or equal to the strength of the BDK. For example, you can't use <code>AES_128</code> as a derivation type for a BDK of <code>AES_128</code> or <code>TDES_2KEY</code> </p>"
          }
        },
        "DukptKeyVariant": {
          "target": "com.amazonaws.paymentcryptographydata#DukptKeyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The type of use of DUKPT, which can be incoming data decryption, outgoing data encryption, or both.</p>"
          }
        },
        "InitializationVector": {
          "target": "com.amazonaws.paymentcryptographydata#InitializationVectorType",
          "traits": {
            "smithy.api#documentation": "<p>An input used to provide the intial state. If no value is provided, Amazon Web Services Payment Cryptography defaults it to zero.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to encrypt plaintext data using DUKPT.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptEncryptionMode": {
      "type": "enum",
      "members": {
        "ECB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECB"
          }
        },
        "CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBC"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#DukptKeyVariant": {
      "type": "enum",
      "members": {
        "BIDIRECTIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIDIRECTIONAL"
          }
        },
        "REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUEST"
          }
        },
        "RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESPONSE"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#DynamicCardVerificationCode": {
      "type": "structure",
      "members": {
        "UnpredictableNumber": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8",
          "traits": {
            "smithy.api#documentation": "<p>A random number generated by the issuer.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "TrackData": {
          "target": "com.amazonaws.paymentcryptographydata#TrackDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data on the two tracks of magnetic cards used for financial transactions. This includes the cardholder name, PAN, expiration date, bank ID (BIN) and several other numbers the issuing bank uses to validate the data received.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Dynamic Card Verification Value (dCVV).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#DynamicCardVerificationValue": {
      "type": "structure",
      "members": {
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN).</p>",
            "smithy.api#required": {}
          }
        },
        "CardExpiryDate": {
          "target": "com.amazonaws.paymentcryptographydata#CardExpiryDateType",
          "traits": {
            "smithy.api#documentation": "<p>The expiry date of a payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceCode": {
          "target": "com.amazonaws.paymentcryptographydata#ServiceCodeType",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the payment card. This is different from Card Security Code (CSC).</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter value that comes from the terminal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Dynamic Card Verification Value (dCVV).</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EcdhDerivationAttributes": {
      "type": "structure",
      "members": {
        "CertificateAuthorityPublicKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyArn</code> of the certificate that signed the client's <code>PublicKeyCertificate</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicKeyCertificate": {
          "target": "com.amazonaws.paymentcryptographydata#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The client's public key certificate in PEM format (base64 encoded) to use for ECDH key derivation.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyAlgorithm": {
          "target": "com.amazonaws.paymentcryptographydata#SymmetricKeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The key algorithm of the derived ECDH key.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyDerivationFunction": {
          "target": "com.amazonaws.paymentcryptographydata#KeyDerivationFunction",
          "traits": {
            "smithy.api#documentation": "<p>The key derivation function to use for deriving a key using ECDH.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyDerivationHashAlgorithm": {
          "target": "com.amazonaws.paymentcryptographydata#KeyDerivationHashAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The hash type to use for deriving a key using ECDH.</p>",
            "smithy.api#required": {}
          }
        },
        "SharedInformation": {
          "target": "com.amazonaws.paymentcryptographydata#SharedInformation",
          "traits": {
            "smithy.api#documentation": "<p>A byte string containing information that binds the ECDH derived key to the two parties involved or to the context of the key.</p> <p>It may include details like identities of the two parties deriving the key, context of the operation, session IDs, and optionally a nonce. It must not contain zero bytes, and re-using shared information for multiple ECDH key derivations is not recommended.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters required to establish ECDH based key exchange.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Emv2000Attributes": {
      "type": "structure",
      "members": {
        "MajorKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#MajorKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The method to use when deriving the master key for the payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN) of the cardholder.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN). Typically 00 is used, if no value is provided by the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationTransactionCounter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals4",
          "traits": {
            "smithy.api#documentation": "<p>The transaction counter of the current transaction that is provided by the terminal during transaction processing.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for a payment card using EMV2000 deruv.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EmvCommonAttributes": {
      "type": "structure",
      "members": {
        "MajorKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#MajorKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The method to use when deriving the master key for the payment card.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN) of the cardholder.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN). Typically 00 is used, if no value is provided by the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationCryptogram": {
          "target": "com.amazonaws.paymentcryptographydata#ApplicationCryptogramType",
          "traits": {
            "smithy.api#documentation": "<p>The application cryptogram for the current transaction that is provided by the terminal during transaction processing.</p>",
            "smithy.api#required": {}
          }
        },
        "Mode": {
          "target": "com.amazonaws.paymentcryptographydata#EmvEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The block cipher method to use for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "PinBlockPaddingType": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockPaddingType",
          "traits": {
            "smithy.api#documentation": "<p>The padding to be added to the PIN block prior to encryption.</p> <p>Padding type should be <code>ISO_IEC_7816_4</code>, if <code>PinBlockLengthPosition</code> is set to <code>FRONT_OF_PIN_BLOCK</code>. No padding is required, if <code>PinBlockLengthPosition</code> is set to <code>NONE</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PinBlockLengthPosition": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockLengthPosition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if PIN block length should be added to front of the pin block. </p> <p>If value is set to <code>FRONT_OF_PIN_BLOCK</code>, then PIN block padding type should be <code>ISO_IEC_7816_4</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters to derive the confidentiality and integrity keys for an Emv common payment card.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EmvEncryptionAttributes": {
      "type": "structure",
      "members": {
        "MajorKeyDerivationMode": {
          "target": "com.amazonaws.paymentcryptographydata#EmvMajorKeyDerivationMode",
          "traits": {
            "smithy.api#documentation": "<p>The EMV derivation mode to use for ICC master key derivation as per EMV version 4.3 book 2.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card and associates the card to a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "PanSequenceNumber": {
          "target": "com.amazonaws.paymentcryptographydata#NumberLengthEquals2",
          "traits": {
            "smithy.api#documentation": "<p>A number that identifies and differentiates payment cards with the same Primary Account Number (PAN). Typically 00 is used, if no value is provided by the terminal.</p>",
            "smithy.api#required": {}
          }
        },
        "SessionDerivationData": {
          "target": "com.amazonaws.paymentcryptographydata#SessionDerivationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The derivation value used to derive the ICC session key. It is typically the application transaction counter value padded with zeros or previous ARQC value padded with zeros as per EMV version 4.3 book 2.</p>",
            "smithy.api#required": {}
          }
        },
        "Mode": {
          "target": "com.amazonaws.paymentcryptographydata#EmvEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The block cipher method to use for encryption.</p>"
          }
        },
        "InitializationVector": {
          "target": "com.amazonaws.paymentcryptographydata#InitializationVectorType",
          "traits": {
            "smithy.api#documentation": "<p>An input used to provide the intial state. If no value is provided, Amazon Web Services Payment Cryptography defaults it to zero.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for plaintext encryption using EMV keys.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EmvEncryptionMode": {
      "type": "enum",
      "members": {
        "ECB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECB"
          }
        },
        "CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBC"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#EmvMajorKeyDerivationMode": {
      "type": "enum",
      "members": {
        "EMV_OPTION_A": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMV_OPTION_A"
          }
        },
        "EMV_OPTION_B": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMV_OPTION_B"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#EncryptDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#EncryptDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Encrypts plaintext data to ciphertext using a symmetric (TDES, AES), asymmetric (RSA), or derived (DUKPT or EMV) encryption key scheme. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/encrypt-data.html\">Encrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>You can generate an encryption key within Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. You can import your own encryption key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>.</p> <p>For this operation, the key must have <code>KeyModesOfUse</code> set to <code>Encrypt</code>. In asymmetric encryption, plaintext is encrypted using public component. You can import the public component of an asymmetric key pair created outside Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. </p> <p>This operation also supports dynamic keys, allowing you to pass a dynamic encryption key as a TR-31 WrappedKeyBlock. This can be used when key material is frequently rotated, such as during every card transaction, and there is need to avoid importing short-lived keys into Amazon Web Services Payment Cryptography. To encrypt using dynamic keys, the <code>keyARN</code> is the Key Encryption Key (KEK) of the TR-31 wrapped encryption key material. The incoming wrapped key shall have a key purpose of D0 with a mode of use of B or D. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/use-cases-acquirers-dynamickeys.html\">Using Dynamic Keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>For symmetric and DUKPT encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> and <code>AES</code> algorithms. For EMV encryption, Amazon Web Services Payment Cryptography supports <code>TDES</code> algorithms.For asymmetric encryption, Amazon Web Services Payment Cryptography supports <code>RSA</code>. </p> <p>When you use TDES or TDES DUKPT, the plaintext data length must be a multiple of 8 bytes. For AES or AES DUKPT, the plaintext data length must be a multiple of 16 bytes. For RSA, it sould be equal to the key size unless padding is enabled.</p> <p>To encrypt using DUKPT, you must already have a BDK (Base Derivation Key) key in your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code>, or you can generate a new DUKPT key by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. To encrypt using EMV, you must already have an IMK (Issuer Master Key) key in your account with <code>KeyModesOfUse</code> set to <code>DeriveKey</code>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>DecryptData</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetPublicKeyCertificate.html\">GetPublicCertificate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> <li> <p> <a>ReEncryptData</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/keys/{KeyIdentifier}/encrypt",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for plaintext encryption.</p> <p>When a WrappedKeyBlock is provided, this value will be the identifier to the key wrapping key. Otherwise, it is the key identifier used to perform the operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PlainText": {
          "target": "com.amazonaws.paymentcryptographydata#PlainTextType",
          "traits": {
            "smithy.api#documentation": "<p>The plaintext to be encrypted.</p> <note> <p>For encryption using asymmetric keys, plaintext data length is constrained by encryption key strength that you define in <code>KeyAlgorithm</code> and padding type that you define in <code>AsymmetricEncryptionAttributes</code>. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/encrypt-data.html\">Encrypt data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "EncryptionAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The encryption key type and attributes for plaintext encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappedKey": {
          "target": "com.amazonaws.paymentcryptographydata#WrappedKey",
          "traits": {
            "smithy.api#documentation": "<p>The WrappedKeyBlock containing the encryption key for plaintext encryption.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for plaintext encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>"
          }
        },
        "CipherText": {
          "target": "com.amazonaws.paymentcryptographydata#CipherTextType",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted ciphertext.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptedPinBlockType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptionDecryptionAttributes": {
      "type": "union",
      "members": {
        "Symmetric": {
          "target": "com.amazonaws.paymentcryptographydata#SymmetricEncryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters that are required to perform encryption and decryption using symmetric keys.</p>"
          }
        },
        "Asymmetric": {
          "target": "com.amazonaws.paymentcryptographydata#AsymmetricEncryptionAttributes"
        },
        "Dukpt": {
          "target": "com.amazonaws.paymentcryptographydata#DukptEncryptionAttributes"
        },
        "Emv": {
          "target": "com.amazonaws.paymentcryptographydata#EmvEncryptionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Parameters for plaintext encryption using EMV keys.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to perform encryption and decryption operations.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#EncryptionMode": {
      "type": "enum",
      "members": {
        "ECB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECB"
          }
        },
        "CBC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBC"
          }
        },
        "CFB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFB"
          }
        },
        "CFB1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFB1"
          }
        },
        "CFB8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFB8"
          }
        },
        "CFB64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFB64"
          }
        },
        "CFB128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CFB128"
          }
        },
        "OFB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFB"
          }
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates card-related validation data using algorithms such as Card Verification Values (CVV/CVV2), Dynamic Card Verification Values (dCVV/dCVV2), or Card Security Codes (CSC). For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-card-data.html\">Generate card data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>This operation generates a CVV or CSC value that is printed on a payment credit or debit card during card production. The CVV or CSC, PAN (Primary Account Number) and expiration date of the card are required to check its validity during transaction processing. To begin this operation, a CVK (Card Verification Key) encryption key is required. You can use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> to establish a CVK within Amazon Web Services Payment Cryptography. The <code>KeyModesOfUse</code> should be set to <code>Generate</code> and <code>Verify</code> for a CVK encryption key. </p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> </p> </li> <li> <p> <a>VerifyCardValidationData</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cardvalidationdata/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the CVK encryption key that Amazon Web Services Payment Cryptography uses to generate card data.</p>",
            "smithy.api#required": {}
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card that associates the card with a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#CardGenerationAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm for generating CVV or CSC values for the card within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationDataLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween3And5Type",
          "traits": {
            "smithy.api#documentation": "<p>The length of the CVV or CSC to be generated. The default value is 3.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateCardValidationDataOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the CVK encryption key that Amazon Web Services Payment Cryptography uses to generate CVV or CSC.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>",
            "smithy.api#required": {}
          }
        },
        "ValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#ValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The CVV or CSC value that Amazon Web Services Payment Cryptography generates for the card.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMac": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates a Message Authentication Code (MAC) cryptogram within Amazon Web Services Payment Cryptography. </p> <p>You can use this operation to authenticate card-related data by using known data values to generate MAC for data validation between the sending and receiving parties. This operation uses message data, a secret encryption key and MAC algorithm to generate a unique MAC value for transmission. The receiving party of the MAC must use the same message data, secret encryption key and MAC algorithm to reproduce another MAC value for comparision.</p> <p>You can use this operation to generate a DUPKT, CMAC, HMAC or EMV MAC by setting generation attributes and algorithm to the associated values. The MAC generation encryption key must have valid values for <code>KeyUsage</code> such as <code>TR31_M7_HMAC_KEY</code> for HMAC generation, and they key must have <code>KeyModesOfUse</code> set to <code>Generate</code> and <code>Verify</code>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>VerifyMac</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/mac/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacEmvPinChange": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacEmvPinChangeInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GenerateMacEmvPinChangeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates an issuer script mac for EMV payment cards that use offline PINs as the cardholder verification method (CVM).</p> <p>This operation generates an authenticated issuer script response by appending the incoming message data (APDU command) with the target encrypted PIN block in ISO2 format. The command structure and method to send the issuer script update to the card is not defined by this operation and is typically determined by the applicable payment card scheme.</p> <p>The primary inputs to this operation include the incoming new encrypted pinblock, PIN encryption key (PEK), issuer master key (IMK), primary account number (PAN), and the payment card derivation method.</p> <p>The operation uses two issuer master keys - secure messaging for confidentiality (IMK-SMC) and secure messaging for integrity (IMK-SMI). The SMC key is used to internally derive a key to secure the pin, while SMI key is used to internally derive a key to authenticate the script reponse as per the <a href=\"https://www.emvco.com/specifications/\">EMV 4.4 - Book 2 - Security and Key Management</a> specification. </p> <p>This operation supports Amex, EMV2000, EMVCommon, Mastercard and Visa derivation methods, each requiring specific input parameters. Users must follow the specific derivation method and input parameters defined by the respective payment card scheme.</p> <note> <p>Use <a>GenerateMac</a> operation when sending a script update to an EMV card that does not involve PIN change. When assigning IAM permissions, it is important to understand that <a>EncryptData</a> using EMV keys and <a>GenerateMac</a> perform similar functions to this command.</p> </note> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>EncryptData</a> </p> </li> <li> <p> <a>GenerateMac</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/macemvpinchange/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacEmvPinChangeInput": {
      "type": "structure",
      "members": {
        "NewPinPekIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK protecting the incoming new encrypted PIN block.</p>",
            "smithy.api#required": {}
          }
        },
        "NewEncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockLengthEquals16",
          "traits": {
            "smithy.api#documentation": "<p>The incoming new encrypted PIN block data for offline pin change on an EMV card.</p>",
            "smithy.api#required": {}
          }
        },
        "PinBlockFormat": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockFormatForEmvPinChange",
          "traits": {
            "smithy.api#documentation": "<p>The PIN encoding format of the incoming new encrypted PIN block as specified in ISO 9564.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingIntegrityKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the issuer master key (IMK-SMI) used to authenticate the issuer script response.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingConfidentialityKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the issuer master key (IMK-SMC) used to protect the PIN block data in the issuer script response.</p>",
            "smithy.api#required": {}
          }
        },
        "MessageData": {
          "target": "com.amazonaws.paymentcryptographydata#CommandMessageDataType",
          "traits": {
            "smithy.api#documentation": "<p>The message data is the APDU command from the card reader or terminal. The target encrypted PIN block, after translation to ISO2 format, is appended to this message data to generate an issuer script response.</p>",
            "smithy.api#required": {}
          }
        },
        "DerivationMethodAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#DerivationMethodAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and data values to derive payment card specific confidentiality and integrity keys.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacEmvPinChangeOutput": {
      "type": "structure",
      "members": {
        "NewPinPekArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns the <code>keyArn</code> of the PEK protecting the incoming new encrypted PIN block.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingIntegrityKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns the <code>keyArn</code> of the IMK-SMI used by the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingConfidentialityKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns the <code>keyArn</code> of the IMK-SMC used by the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "Mac": {
          "target": "com.amazonaws.paymentcryptographydata#PinChangeMacOutputType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the mac of the issuer script containing message data and appended target encrypted pin block in ISO2 format.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptedPinBlockType",
          "traits": {
            "smithy.api#documentation": "<p>Returns the incoming new encrpted PIN block.</p>",
            "smithy.api#required": {}
          }
        },
        "NewPinPekKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the PEK uprotecting the incoming new encrypted PIN block.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingIntegrityKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the SMI issuer master key used by the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "SecureMessagingConfidentialityKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the SMC issuer master key used by the operation.</p>",
            "smithy.api#required": {}
          }
        },
        "VisaAmexDerivationOutputs": {
          "target": "com.amazonaws.paymentcryptographydata#VisaAmexDerivationOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The attribute values used for Amex and Visa derivation methods.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the MAC generation encryption key.</p>",
            "smithy.api#required": {}
          }
        },
        "MessageData": {
          "target": "com.amazonaws.paymentcryptographydata#MessageDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data for which a MAC is under generation. This value must be hexBinary.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#MacAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and data values to use for MAC generation within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        },
        "MacLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And16",
          "traits": {
            "smithy.api#documentation": "<p>The length of a MAC under generation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GenerateMacOutput": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the encryption key that Amazon Web Services Payment Cryptography uses for MAC generation.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>",
            "smithy.api#required": {}
          }
        },
        "Mac": {
          "target": "com.amazonaws.paymentcryptographydata#MacOutputType",
          "traits": {
            "smithy.api#documentation": "<p>The MAC cryptogram generated within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptographydata#GeneratePinDataInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptographydata#GeneratePinDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptographydata#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptographydata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates pin-related data such as PIN, PIN Verification Value (PVV), PIN Block, and PIN Offset during new card issuance or reissuance. For more information, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/generate-pin-data.html\">Generate PIN data</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>PIN data is never transmitted in clear to or from Amazon Web Services Payment Cryptography. This operation generates PIN, PVV, or PIN Offset and then encrypts it using Pin Encryption Key (PEK) to create an <code>EncryptedPinBlock</code> for transmission from Amazon Web Services Payment Cryptography. This operation uses a separate Pin Verification Key (PVK) for VISA PVV generation. </p> <p>Using ECDH key exchange, you can receive cardholder selectable PINs into Amazon Web Services Payment Cryptography. The ECDH derived key protects the incoming PIN block. You can also use it for reveal PIN, wherein the generated PIN block is protected by the ECDH derived key before transmission from Amazon Web Services Payment Cryptography. For more information on establishing ECDH derived keys, see the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/create-keys.html\">Generating keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p>For information about valid keys for this operation, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> and <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/crypto-ops-validkeys-ops.html\">Key types for specific data operations</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p> <p> <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p> <p> <b>Related operations:</b> </p> <ul> <li> <p> <a>GenerateCardValidationData</a> </p> </li> <li> <p> <a>TranslatePinData</a> </p> </li> <li> <p> <a>VerifyPinData</a> </p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pindata/generate",
          "code": 200
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinDataInput": {
      "type": "structure",
      "members": {
        "GenerationKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses for pin data generation.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses to encrypt the PIN Block. For ECDH, it is the <code>keyARN</code> of the asymmetric ECC key.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationAttributes": {
          "target": "com.amazonaws.paymentcryptographydata#PinGenerationAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and values to use for PIN, PVV, or PIN Offset generation.</p>",
            "smithy.api#required": {}
          }
        },
        "PinDataLength": {
          "target": "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And12",
          "traits": {
            "smithy.api#documentation": "<p>The length of PIN under generation.</p>"
          }
        },
        "PrimaryAccountNumber": {
          "target": "com.amazonaws.paymentcryptographydata#PrimaryAccountNumberType",
          "traits": {
            "smithy.api#documentation": "<p>The Primary Account Number (PAN), a unique identifier for a payment credit or debit card that associates the card with a specific account holder.</p>",
            "smithy.api#required": {}
          }
        },
        "PinBlockFormat": {
          "target": "com.amazonaws.paymentcryptographydata#PinBlockFormatForPinData",
          "traits": {
            "smithy.api#documentation": "<p>The PIN encoding format for pin data generation as specified in ISO 9564. Amazon Web Services Payment Cryptography supports <code>ISO_Format_0</code> and <code>ISO_Format_3</code>.</p> <p>The <code>ISO_Format_0</code> PIN block format is equivalent to the ANSI X9.8, VISA-1, and ECI-1 PIN block formats. It is similar to a VISA-4 PIN block format. It supports a PIN from 4 to 12 digits in length.</p> <p>The <code>ISO_Format_3</code> PIN block format is the same as <code>ISO_Format_0</code> except that the fill digits are random values from 10 to 15.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionWrappedKey": {
          "target": "com.amazonaws.paymentcryptographydata#WrappedKey"
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#GeneratePinDataOutput": {
      "type": "structure",
      "members": {
        "GenerationKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the pin data generation key that Amazon Web Services Payment Cryptography uses for PIN, PVV or PIN Offset generation.</p>",
            "smithy.api#required": {}
          }
        },
        "GenerationKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyArn": {
          "target": "com.amazonaws.paymentcryptographydata#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>keyARN</code> of the PEK that Amazon Web Services Payment Cryptography uses for encrypted pin block generation. For ECDH, it is the <code>keyARN</code> of the asymmetric ECC key.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionKeyCheckValue": {
          "target": "com.amazonaws.paymentcryptographydata#KeyCheckValue",
          "traits": {
            "smithy.api#documentation": "<p>The key check value (KCV) of the encryption key. The KCV is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p> <p>Amazon Web Services Payment Cryptography computes the KCV according to the CMAC specification.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptedPinBlockType",
          "traits": {
            "smithy.api#documentation": "<p>The PIN block encrypted under PEK from Amazon Web Services Payment Cryptography. The encrypted PIN block is a composite of PAN (Primary Account Number) and PIN (Personal Identification Number), generated in accordance with ISO 9564 standard.</p>",
            "smithy.api#required": {}
          }
        },
        "PinData": {
          "target": "com.amazonaws.paymentcryptographydata#PinData",
          "traits": {
            "smithy.api#documentation": "<p>The attributes and values Amazon Web Services Payment Cryptography uses for pin data generation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexEvenLengthBetween16And32": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLength16Or20Or24": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 24
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F]{16}|[0-9a-fA-F]{20}|[0-9a-fA-F]{24})$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And4": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthBetween2And8": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 8
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals1": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        },
        "smithy.api#pattern": "^[0-9A-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals4": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#HexLengthEquals8": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 8
        },
        "smithy.api#pattern": "^[0-9a-fA-F]+$"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624NaturalPin": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#DecimalizationTableType",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#PinValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 natural PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinFromOffset": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#DecimalizationTableType",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#PinValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        },
        "PinOffset": {
          "target": "com.amazonaws.paymentcryptographydata#PinOffsetType",
          "traits": {
            "smithy.api#documentation": "<p>The PIN offset value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 PIN from offset PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinOffset": {
      "type": "structure",
      "members": {
        "EncryptedPinBlock": {
          "target": "com.amazonaws.paymentcryptographydata#EncryptedPinBlockType",
          "traits": {
            "smithy.api#documentation": "<p>The encrypted PIN block data. According to ISO 9564 standard, a PIN Block is an encoded representation of a payment card Personal Account Number (PAN) and the cardholder Personal Identification Number (PIN).</p>",
            "smithy.api#required": {}
          }
        },
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#DecimalizationTableType",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#PinValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Pparameters that are required to generate or verify Ibm3624 PIN offset PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624PinVerification": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#DecimalizationTableType",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#PinValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        },
        "PinOffset": {
          "target": "com.amazonaws.paymentcryptographydata#PinOffsetType",
          "traits": {
            "smithy.api#documentation": "<p>The PIN offset value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 PIN verification PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#Ibm3624RandomPin": {
      "type": "structure",
      "members": {
        "DecimalizationTable": {
          "target": "com.amazonaws.paymentcryptographydata#DecimalizationTableType",
          "traits": {
            "smithy.api#documentation": "<p>The decimalization table to use for IBM 3624 PIN algorithm. The table is used to convert the algorithm intermediate result from hexadecimal characters to decimal.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationDataPadCharacter": {
          "target": "com.amazonaws.paymentcryptographydata#HexLengthEquals1",
          "traits": {
            "smithy.api#documentation": "<p>The padding character for validation data.</p>",
            "smithy.api#required": {}
          }
        },
        "PinValidationData": {
          "target": "com.amazonaws.paymentcryptographydata#PinValidationDataType",
          "traits": {
            "smithy.api#documentation": "<p>The unique data for cardholder identification.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters that are required to generate or verify Ibm3624 random PIN.</p>"
      }
    },
    "com.amazonaws.paymentcryptographydata#InitializationVectorType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F]{16}|[0-9a-fA-F]{32})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween0And6": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween3And5Type": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 3,
          "max": 5
        }
      }
    },
    "com.amazonaws.paymentcryptographydata#IntegerRangeBetween4And12": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 4,
[...]
