{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.paymentcryptography#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.paymentcryptography#Alias": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that you can use to refer to a key. The value must begin with <code>alias/</code>.</p>\n         <important>\n            <p>Do not include confidential or sensitive information in this field. This field may be displayed in plaintext in CloudTrail logs and other output.</p>\n         </important>",
            "smithy.api#required": {}
          }
        },
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptography#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key associated with the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an alias.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 256
        },
        "smithy.api#pattern": "^alias/[a-zA-Z0-9/_-]+$"
      }
    },
    "com.amazonaws.paymentcryptography#AliasResource": {
      "type": "resource",
      "identifiers": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName"
        }
      },
      "put": {
        "target": "com.amazonaws.paymentcryptography#CreateAlias"
      },
      "read": {
        "target": "com.amazonaws.paymentcryptography#GetAlias"
      },
      "update": {
        "target": "com.amazonaws.paymentcryptography#UpdateAlias"
      },
      "delete": {
        "target": "com.amazonaws.paymentcryptography#DeleteAlias"
      },
      "list": {
        "target": "com.amazonaws.paymentcryptography#ListAliases"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "Alias",
          "additionalSchemas": ["com.amazonaws.paymentcryptography#Alias"]
        },
        "smithy.api#noReplace": {},
        "smithy.api#suppress": ["UnstableTrait"]
      }
    },
    "com.amazonaws.paymentcryptography#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.paymentcryptography#Alias"
      }
    },
    "com.amazonaws.paymentcryptography#CertificateType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32768
        },
        "smithy.api#pattern": "^[^\\[;\\]<>]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.paymentcryptography#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This request can cause an inconsistent state for the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.paymentcryptography#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#CreateAliasInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#CreateAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates an <i>alias</i>, or a friendly name, for an Amazon Web Services Payment Cryptography key. You can use an alias to identify a key in the console and when you call cryptographic operations such as <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/DataAPIReference/API_EncryptData.html\">EncryptData</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/DataAPIReference/API_DecryptData.html\">DecryptData</a>.</p>\n         <p>You can associate the alias with any key in the same Amazon Web Services Region. Each alias is associated with only one key at a time, but a key can have multiple aliases. You can't create an alias without a key. The alias must be unique in the account and Amazon Web Services Region, but you can create another alias with the same name in a different Amazon Web Services Region.</p>\n         <p>To change the key that's associated with the alias, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>. To delete the alias, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a>. These operations don't affect the underlying key. To get the alias that you created, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a>.</p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.paymentcryptography#CreateAliasInput": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create",
            "smithy.api#documentation": "<p>A friendly name that you can use to refer to a key. An alias must begin with <code>alias/</code> followed by a name, for example <code>alias/ExampleAlias</code>. It can contain only alphanumeric characters, forward slashes (/), underscores (_), and dashes (-).</p>\n         <important>\n            <p>Don't include personal, confidential or sensitive information in this field. This field may be displayed in plaintext in CloudTrail logs and other output.</p>\n         </important>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptography#KeyArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key to associate with the alias.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#CreateAliasOutput": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.paymentcryptography#Alias",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The alias for the key.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#CreateKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#CreateKeyInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#CreateKeyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates an Amazon Web Services Payment Cryptography key, a logical representation of a cryptographic key, that is unique in your account and Amazon Web Services Region. You use keys for cryptographic functions such as encryption and decryption. </p>\n         <p>In addition to the key material used in cryptographic operations, an Amazon Web Services Payment Cryptography key includes metadata such as the key ARN, key usage, key origin, creation date, description, and key state.</p>\n         <p>When you create a key, you specify both immutable and mutable data about the key. The immutable data contains key attributes that define the scope and cryptographic operations that you can perform using the key, for example key class (example: <code>SYMMETRIC_KEY</code>), key algorithm (example: <code>TDES_2KEY</code>), key usage (example: <code>TR31_P0_PIN_ENCRYPTION_KEY</code>) and key modes of use (example: <code>Encrypt</code>). For information about valid combinations of key attributes, see <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-validattributes.html\">Understanding key attributes</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. The mutable data contained within a key includes usage timestamp and key deletion timestamp and can be modified after creation.</p>\n         <p>Amazon Web Services Payment Cryptography binds key attributes to keys using key blocks when you store or export them. Amazon Web Services Payment Cryptography stores the key contents wrapped and never stores or transmits them in the clear. </p>\n         <p>\n            <b>Cross-account use</b>: This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetKey.html\">GetKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListKeys.html\">ListKeys</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.paymentcryptography#CreateKeyInput": {
      "type": "structure",
      "members": {
        "KeyAttributes": {
          "target": "com.amazonaws.paymentcryptography#KeyAttributes",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The role of the key, the algorithm it supports, and the cryptographic operations allowed with the key. This data is immutable after the key is created.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "KeyCheckValueAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyCheckValueAlgorithm",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The algorithm that Amazon Web Services Payment Cryptography uses to calculate the key check value (KCV). It is used to validate the key integrity.</p>\n         <p>For TDES keys, the KCV is computed by encrypting 8 bytes, each with value of zero, with the key to be checked and retaining the 3 highest order bytes of the encrypted result. For AES keys, the KCV is computed using a CMAC algorithm where the input data is 16 bytes of zero and retaining the 3 highest order bytes of the encrypted result.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "Exportable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies whether the key is exportable from the service.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Specifies whether to enable the key. If the key is enabled, it is activated for use within the service. If the key is not enabled, then it is created but not activated. The default value is enabled.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "Tags": {
          "target": "com.amazonaws.paymentcryptography#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Assigns one or more tags to the Amazon Web Services Payment Cryptography key. Use this parameter to tag a key when it is created. To tag an existing Amazon Web Services Payment Cryptography key, use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_TagResource.html\">TagResource</a> operation.</p>\n         <p>Each tag consists of a tag key and a tag value. Both the tag key and the tag value are required, but the tag value can be an empty (null) string. You can't have more than one tag on an Amazon Web Services Payment Cryptography key with the same tag key. </p>\n         <important>\n            <p>Don't include personal, confidential or sensitive information in this field. This field may be displayed in plaintext in CloudTrail logs and other output.</p>\n         </important>\n         <note>\n            <p>Tagging or untagging an Amazon Web Services Payment Cryptography key can allow or deny permission to the key.</p>\n         </note>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#CreateKeyOutput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.paymentcryptography#Key",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The key material that contains all the key attributes.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#DeleteAliasInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#DeleteAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Deletes the alias, but doesn't affect the underlying key.</p>\n         <p>Each key can have multiple aliases. To get the aliases of all keys, use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a> operation. To change the alias of a key, first use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a> to delete the current alias and then use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a> to create a new alias. To associate an existing alias with a different key, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetAlias.html\">GetAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteAliasInput": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that you can use to refer Amazon Web Services Payment Cryptography key. This value must begin with <code>alias/</code> followed by a name, such as <code>alias/ExampleAlias</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteAliasOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#DeleteKeyInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#DeleteKeyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Deletes the key material and metadata associated with Amazon Web Services Payment Cryptography key.</p>\n         <p>Key deletion is irreversible. After a key is deleted, you can't perform cryptographic operations using the key. For example, you can't decrypt data that was encrypted by a deleted Amazon Web Services Payment Cryptography key, and the data may become unrecoverable. Because key deletion is destructive, Amazon Web Services Payment Cryptography has a safety mechanism to prevent accidental deletion of a key. When you call this operation, Amazon Web Services Payment Cryptography disables the specified key but doesn't delete it until after a waiting period set using <code>DeleteKeyInDays</code>. The default waiting period is 7 days. During the waiting period, the <code>KeyState</code> is <code>DELETE_PENDING</code>. After the key is deleted, the <code>KeyState</code> is <code>DELETE_COMPLETE</code>.</p>\n         <p>You should delete a key only when you are sure that you don't need to use it anymore and no other parties are utilizing this key. If you aren't sure, consider deactivating it instead by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a>.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_RestoreKey.html\">RestoreKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StartKeyUsage.html\">StartKeyUsage</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_StopKeyUsage.html\">StopKeyUsage</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteKeyInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key that is scheduled for deletion.</p>",
            "smithy.api#required": {}
          }
        },
        "DeleteKeyInDays": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The waiting period for key deletion. The default value is seven days.</p>",
            "smithy.api#range": {
              "min": 3,
              "max": 180
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#DeleteKeyOutput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.paymentcryptography#Key",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key that is scheduled for deletion.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#EvenHexLengthBetween16And32": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 32
        },
        "smithy.api#pattern": "^(?:[0-9a-fA-F][0-9a-fA-F])+$"
      }
    },
    "com.amazonaws.paymentcryptography#ExportAttributes": {
      "type": "structure",
      "members": {
        "ExportDukptInitialKey": {
          "target": "com.amazonaws.paymentcryptography#ExportDukptInitialKey",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for IPEK export.</p>"
          }
        },
        "KeyCheckValueAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyCheckValueAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that Amazon Web Services Payment Cryptography uses to calculate the key check value (KCV). It is used to validate the key integrity. Specify KCV for IPEK export only.</p>\n         <p>For TDES keys, the KCV is computed by encrypting 8 bytes, each with value of zero, with the key to be checked and retaining the 3 highest order bytes of the encrypted result. For AES keys, the KCV is computed using a CMAC algorithm where the input data is 16 bytes of zero and retaining the 3 highest order bytes of the encrypted result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attributes for IPEK generation during export.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportDukptInitialKey": {
      "type": "structure",
      "members": {
        "KeySerialNumber": {
          "target": "com.amazonaws.paymentcryptography#HexLength20Or24",
          "traits": {
            "smithy.api#documentation": "<p>The KSN for IPEK generation using DUKPT. </p>\n         <p>KSN must be padded before sending to Amazon Web Services Payment Cryptography. KSN hex length should be 20 for a TDES_2KEY key or 24 for an AES key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for IPEK generation during export.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#ExportKeyInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#ExportKeyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Exports a key from Amazon Web Services Payment Cryptography.</p>\n         <p>Amazon Web Services Payment Cryptography simplifies key exchange by replacing the existing paper-based approach with a modern electronic approach. With <code>ExportKey</code> you can export symmetric keys using either symmetric and asymmetric key exchange mechanisms. Using this operation, you can share your Amazon Web Services Payment Cryptography generated keys with other service partners to perform cryptographic operations outside of Amazon Web Services Payment Cryptography </p>\n         <p>For symmetric key exchange, Amazon Web Services Payment Cryptography uses the ANSI X9 TR-31 norm in accordance with PCI PIN guidelines. And for asymmetric key exchange, Amazon Web Services Payment Cryptography supports ANSI X9 TR-34 norm and RSA wrap and unwrap key exchange mechanism. Asymmetric key exchange methods are typically used to establish bi-directional trust between the two parties exhanging keys and are used for initial key exchange such as Key Encryption Key (KEK). After which you can export working keys using symmetric method to perform various cryptographic operations within Amazon Web Services Payment Cryptography.</p>\n         <p>The TR-34 norm is intended for exchanging 3DES keys only and keys are imported in a WrappedKeyBlock format. Key attributes (such as KeyUsage, KeyAlgorithm, KeyModesOfUse, Exportability) are contained within the key block. With RSA wrap and unwrap, you can exchange both 3DES and AES-128 keys. The keys are imported in a WrappedKeyCryptogram format and you will need to specify the key attributes during import. </p>\n         <p>You can also use <code>ExportKey</code> functionality to generate and export an IPEK (Initial Pin Encryption Key) from Amazon Web Services Payment Cryptography using either TR-31 or TR-34 export key exchange. IPEK is generated from BDK (Base Derivation Key) and <code>ExportDukptInitialKey</code> attribute KSN (<code>KeySerialNumber</code>). The generated IPEK does not persist within Amazon Web Services Payment Cryptography and has to be re-generated each time during export.</p>\n         <p>For key exchange using TR-31 or TR-34 key blocks, you can also export optional blocks within the key block header which contain additional attribute information about the key. The <code>KeyVersion</code> within <code>KeyBlockHeaders</code> indicates the version of the key within the key block. Furthermore, <code>KeyExportability</code> within <code>KeyBlockHeaders</code> can be used to further restrict exportability of the key after export from Amazon Web Services Payment Cryptography.</p>\n         <p>The <code>OptionalBlocks</code> contain the additional data related to the key. For information on data type that can be included within optional blocks, refer to <a href=\"https://webstore.ansi.org/standards/ascx9/ansix91432022\">ASC X9.143-2022</a>.</p>\n         <note>\n            <p>Data included in key block headers is signed but transmitted in clear text. Sensitive or confidential information should not be included in optional blocks. Refer to ASC X9.143-2022 standard for information on allowed data type.</p>\n         </note>\n         <p>\n            <b>To export initial keys (KEK) or IPEK using TR-34</b>\n         </p>\n         <p>Using this operation, you can export initial key using TR-34 asymmetric key exchange. You can only export KEK generated within Amazon Web Services Payment Cryptography. In TR-34 terminology, the sending party of the key is called Key Distribution Host (KDH) and the receiving party of the key is called Key Receiving Device (KRD). During key export process, KDH is Amazon Web Services Payment Cryptography which initiates key export and KRD is the user receiving the key.</p>\n         <p>To initiate TR-34 key export, the KRD must obtain an export token by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a>. This operation also generates a key pair for the purpose of key export, signs the key and returns back the signing public key certificate (also known as KDH signing certificate) and root certificate chain. The KDH uses the private key to sign the the export payload and the signing public key certificate is provided to KRD to verify the signature. The KRD can import the root certificate into its Hardware Security Module (HSM), as required. The export token and the associated KDH signing certificate expires after 7 days. </p>\n         <p>Next the KRD generates a key pair for the the purpose of encrypting the KDH key and provides the public key cerificate (also known as KRD wrapping certificate) back to KDH. The KRD will also import the root cerificate chain into Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> for <code>RootCertificatePublicKey</code>. The KDH, Amazon Web Services Payment Cryptography, will use the KRD wrapping cerificate to encrypt (wrap) the key under export and signs it with signing private key to generate a TR-34 WrappedKeyBlock. For more information on TR-34 key export, see section <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-export.html\">Exporting symmetric keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>. </p>\n         <p>Set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ExportAttributes</code>: Specify export attributes in case of IPEK export. This parameter is optional for KEK export.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ExportKeyIdentifier</code>: The <code>KeyARN</code> of the KEK or BDK (in case of IPEK) under export.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: Use <code>Tr34KeyBlock</code> parameters.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed the KRD wrapping key certificate.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ExportToken</code>: Obtained from KDH by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WrappingKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the KRD wrapping key Amazon Web Services Payment Cryptography uses for encryption of the TR-34 export payload. This certificate must be signed by the root certificate (CertificateAuthorityPublicKeyIdentifier) imported into Amazon Web Services Payment Cryptography.</p>\n            </li>\n         </ul>\n         <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the KEK or IPEK as a TR-34 WrappedKeyBlock. </p>\n         <p>\n            <b>To export initial keys (KEK) or IPEK using RSA Wrap and Unwrap</b>\n         </p>\n         <p>Using this operation, you can export initial key using asymmetric RSA wrap and unwrap key exchange method. To initiate export, generate an asymmetric key pair on the receiving HSM and obtain the public key certificate in PEM format (base64 encoded) for the purpose of wrapping and the root certifiate chain. Import the root certificate into Amazon Web Services Payment Cryptography by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a> for <code>RootCertificatePublicKey</code>.</p>\n         <p>Next call <code>ExportKey</code> and set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed wrapping key certificate.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: Set to <code>KeyCryptogram</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WrappingKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) obtained by the receiving HSM and signed by the root certificate (CertificateAuthorityPublicKeyIdentifier) imported into Amazon Web Services Payment Cryptography. The receiving HSM uses its private key component to unwrap the WrappedKeyCryptogram.</p>\n            </li>\n         </ul>\n         <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the WrappedKeyCryptogram. </p>\n         <p>\n            <b>To export working keys or IPEK using TR-31</b>\n         </p>\n         <p>Using this operation, you can export working keys or IPEK using TR-31 symmetric key exchange. In TR-31, you must use an initial key such as KEK to encrypt or wrap the key under export. To establish a KEK, you can use <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a> or <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. </p>\n         <p>Set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ExportAttributes</code>: Specify export attributes in case of IPEK export. This parameter is optional for KEK export.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ExportKeyIdentifier</code>: The <code>KeyARN</code> of the KEK or BDK (in case of IPEK) under export.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: Use <code>Tr31KeyBlock</code> parameters.</p>\n            </li>\n         </ul>\n         <p>When this operation is successful, Amazon Web Services Payment Cryptography returns the working key or IPEK as a TR-31 WrappedKeyBlock.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportKeyCryptogram": {
      "type": "structure",
      "members": {
        "CertificateAuthorityPublicKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the certificate chain that signs the wrapping key certificate during RSA wrap and unwrap key export.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingKeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The wrapping key certificate in PEM format (base64 encoded). Amazon Web Services Payment Cryptography uses this certificate to wrap the key under export.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingSpec": {
          "target": "com.amazonaws.paymentcryptography#WrappingKeySpec",
          "traits": {
            "smithy.api#documentation": "<p>The wrapping spec for the key under export.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material export using asymmetric RSA wrap and unwrap key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportKeyInput": {
      "type": "structure",
      "members": {
        "KeyMaterial": {
          "target": "com.amazonaws.paymentcryptography#ExportKeyMaterial",
          "traits": {
            "smithy.api#documentation": "<p>The key block format type, for example, TR-34 or TR-31, to use during key material export.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key under export from Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportAttributes": {
          "target": "com.amazonaws.paymentcryptography#ExportAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes for IPEK generation during export.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#ExportKeyMaterial": {
      "type": "union",
      "members": {
        "Tr31KeyBlock": {
          "target": "com.amazonaws.paymentcryptography#ExportTr31KeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material export using symmetric TR-31 key exchange method.</p>"
          }
        },
        "Tr34KeyBlock": {
          "target": "com.amazonaws.paymentcryptography#ExportTr34KeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material export using the asymmetric TR-34 key exchange method.</p>"
          }
        },
        "KeyCryptogram": {
          "target": "com.amazonaws.paymentcryptography#ExportKeyCryptogram",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material export using asymmetric RSA wrap and unwrap key exchange method</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material export from Amazon Web Services Payment Cryptography using TR-31 or TR-34 or RSA wrap and unwrap key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportKeyOutput": {
      "type": "structure",
      "members": {
        "WrappedKey": {
          "target": "com.amazonaws.paymentcryptography#WrappedKey",
          "traits": {
            "smithy.api#documentation": "<p>The key material under export as a TR-34 WrappedKeyBlock or a TR-31 WrappedKeyBlock. or a RSA WrappedKeyCryptogram.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#ExportTokenId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^export-token-[0-9a-zA-Z]{16,64}$"
      }
    },
    "com.amazonaws.paymentcryptography#ExportTr31KeyBlock": {
      "type": "structure",
      "members": {
        "WrappingKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the the wrapping key. This key encrypts or wraps the key under export for TR-31 key block generation.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyBlockHeaders": {
          "target": "com.amazonaws.paymentcryptography#KeyBlockHeaders",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata for export associated with the key material. This data is signed but transmitted in clear text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material export using symmetric TR-31 key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ExportTr34KeyBlock": {
      "type": "structure",
      "members": {
        "CertificateAuthorityPublicKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the certificate chain that signs the wrapping key certificate during TR-34 key export.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingKeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the wrapping key certificate. Amazon Web Services Payment Cryptography uses this certificate to wrap the key under export.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportToken": {
          "target": "com.amazonaws.paymentcryptography#ExportTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The export token to initiate key export from Amazon Web Services Payment Cryptography. It also contains the signing key certificate that will sign the wrapped key during TR-34 key block generation. Call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a> to receive an export token. It expires after 7 days. You can use the same export token to export multiple keys from the same service account.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyBlockFormat": {
          "target": "com.amazonaws.paymentcryptography#Tr34KeyBlockFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of key block that Amazon Web Services Payment Cryptography will use during key export.</p>",
            "smithy.api#required": {}
          }
        },
        "RandomNonce": {
          "target": "com.amazonaws.paymentcryptography#EvenHexLengthBetween16And32",
          "traits": {
            "smithy.api#documentation": "<p>A random number value that is unique to the TR-34 key block generated using 2 pass. The operation will fail, if a random nonce value is not provided for a TR-34 key block generated using 2 pass.</p>"
          }
        },
        "KeyBlockHeaders": {
          "target": "com.amazonaws.paymentcryptography#KeyBlockHeaders",
          "traits": {
            "smithy.api#documentation": "<p>Optional metadata for export associated with the key material. This data is signed but transmitted in clear text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material export using the asymmetric TR-34 key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#GetAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetAliasInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Gets the Amazon Web Services Payment Cryptography key associated with the alias.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateAlias.html\">CreateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteAlias.html\">DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListAliases.html\">ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_UpdateAlias.html\">UpdateAlias</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetAliasInput": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.paymentcryptography#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The alias of the Amazon Web Services Payment Cryptography key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetAliasOutput": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.paymentcryptography#Alias",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The alias of the Amazon Web Services Payment Cryptography key.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetKeyInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetKeyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Gets the key material for an Amazon Web Services Payment Cryptography key, including the immutable and mutable data specified when the key was created.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_DeleteKey.html\">DeleteKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ListKeys.html\">ListKeys</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetKeyInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the Amazon Web Services Payment Cryptography key.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetKeyOutput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.paymentcryptography#Key",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The key material, including the immutable and mutable data for the key.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForExport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetParametersForExportInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetParametersForExportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Gets the export token and the signing key certificate to initiate a TR-34 key export from Amazon Web Services Payment Cryptography.</p>\n         <p>The signing key certificate signs the wrapped key under export within the TR-34 key payload. The export token and signing key certificate must be in place and operational before calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a>. The export token expires in 7 days. You can use the same export token to export multiple keys from your service account.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForExportInput": {
      "type": "structure",
      "members": {
        "KeyMaterialType": {
          "target": "com.amazonaws.paymentcryptography#KeyMaterialType",
          "traits": {
            "smithy.api#documentation": "<p>The key block format type (for example, TR-34 or TR-31) to use during key material export. Export token is only required for a TR-34 key export, <code>TR34_KEY_BLOCK</code>. Export token is not required for TR-31 key export.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningKeyAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The signing key algorithm to generate a signing key certificate. This certificate signs the wrapped key under export within the TR-34 key block. <code>RSA_2048</code> is the only signing key algorithm allowed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForExportOutput": {
      "type": "structure",
      "members": {
        "SigningKeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The signing key certificate in PEM format (base64 encoded) of the public key for signature within the TR-34 key block. The certificate expires after 7 days.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningKeyCertificateChain": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The root certificate authority (CA) that signed the signing key certificate in PEM format (base64 encoded).</p>",
            "smithy.api#required": {}
          }
        },
        "SigningKeyAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm of the signing key certificate for use in TR-34 key block generation. <code>RSA_2048</code> is the only signing key algorithm allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportToken": {
          "target": "com.amazonaws.paymentcryptography#ExportTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The export token to initiate key export from Amazon Web Services Payment Cryptography. The export token expires after 7 days. You can use the same export token to export multiple keys from the same service account.</p>",
            "smithy.api#required": {}
          }
        },
        "ParametersValidUntilTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The validity period of the export token.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForImport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetParametersForImportInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetParametersForImportOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Gets the import token and the wrapping key certificate in PEM format (base64 encoded) to initiate a TR-34 WrappedKeyBlock or a RSA WrappedKeyCryptogram import into Amazon Web Services Payment Cryptography.</p>\n         <p>The wrapping key certificate wraps the key under import. The import token and wrapping key certificate must be in place and operational before calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>. The import token expires in 7 days. You can use the same import token to import multiple keys into your service account.</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForExport.html\">GetParametersForExport</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ImportKey.html\">ImportKey</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForImportInput": {
      "type": "structure",
      "members": {
        "KeyMaterialType": {
          "target": "com.amazonaws.paymentcryptography#KeyMaterialType",
          "traits": {
            "smithy.api#documentation": "<p>The method to use for key material import. Import token is only required for TR-34 WrappedKeyBlock (<code>TR34_KEY_BLOCK</code>) and RSA WrappedKeyCryptogram (<code>KEY_CRYPTOGRAM</code>).</p>\n         <p>Import token is not required for TR-31, root public key cerificate or trusted public key certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingKeyAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The wrapping key algorithm to generate a wrapping key certificate. This certificate wraps the key under import.</p>\n         <p>At this time, <code>RSA_2048</code> is the allowed algorithm for TR-34 WrappedKeyBlock import. Additionally, <code>RSA_2048</code>, <code>RSA_3072</code>, <code>RSA_4096</code> are the allowed algorithms for RSA WrappedKeyCryptogram import.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetParametersForImportOutput": {
      "type": "structure",
      "members": {
        "WrappingKeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The wrapping key certificate in PEM format (base64 encoded) of the wrapping key for use within the TR-34 key block. The certificate expires in 7 days.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingKeyCertificateChain": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Payment Cryptography root certificate authority (CA) that signed the wrapping key certificate in PEM format (base64 encoded).</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingKeyAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm of the wrapping key for use within TR-34 WrappedKeyBlock or RSA WrappedKeyCryptogram.</p>",
            "smithy.api#required": {}
          }
        },
        "ImportToken": {
          "target": "com.amazonaws.paymentcryptography#ImportTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The import token to initiate key import into Amazon Web Services Payment Cryptography. The import token expires after 7 days. You can use the same import token to import multiple keys to the same service account.</p>",
            "smithy.api#required": {}
          }
        },
        "ParametersValidUntilTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The validity period of the import token.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetPublicKeyCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#GetPublicKeyCertificateInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#GetPublicKeyCertificateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Gets the public key certificate of the asymmetric key pair that exists within Amazon Web Services Payment Cryptography.</p>\n         <p>Unlike the private key of an asymmetric key, which never leaves Amazon Web Services Payment Cryptography unencrypted, callers with <code>GetPublicKeyCertificate</code> permission can download the public key certificate of the asymmetric key. You can share the public key certificate to allow others to encrypt messages and verify signatures outside of Amazon Web Services Payment Cryptography</p>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetPublicKeyCertificateInput": {
      "type": "structure",
      "members": {
        "KeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the asymmetric key pair.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#GetPublicKeyCertificateOutput": {
      "type": "structure",
      "members": {
        "KeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The public key component of the asymmetric key pair in a certificate PEM format (base64 encoded). It is signed by the root certificate authority (CA). The certificate expires in 90 days.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCertificateChain": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The root certificate authority (CA) that signed the public key certificate in PEM format (base64 encoded) of the asymmetric key pair.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#HexLength20Or24": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 24
        },
        "smithy.api#pattern": "^[0-9A-F]{20}$|^[0-9A-F]{24}$"
      }
    },
    "com.amazonaws.paymentcryptography#ImportKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.paymentcryptography#ImportKeyInput"
      },
      "output": {
        "target": "com.amazonaws.paymentcryptography#ImportKeyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.paymentcryptography#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ConflictException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#InternalServerException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ThrottlingException"
        },
        {
          "target": "com.amazonaws.paymentcryptography#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Imports symmetric keys and public key certificates in PEM format (base64 encoded) into Amazon Web Services Payment Cryptography.</p>\n         <p>Amazon Web Services Payment Cryptography simplifies key exchange by replacing the existing paper-based approach with a modern electronic approach. With <code>ImportKey</code> you can import symmetric keys using either symmetric and asymmetric key exchange mechanisms.</p>\n         <p>For symmetric key exchange, Amazon Web Services Payment Cryptography uses the ANSI X9 TR-31 norm in accordance with PCI PIN guidelines. And for asymmetric key exchange, Amazon Web Services Payment Cryptography supports ANSI X9 TR-34 norm and RSA wrap and unwrap key exchange mechanisms. Asymmetric key exchange methods are typically used to establish bi-directional trust between the two parties exhanging keys and are used for initial key exchange such as Key Encryption Key (KEK) or Zone Master Key (ZMK). After which you can import working keys using symmetric method to perform various cryptographic operations within Amazon Web Services Payment Cryptography.</p>\n         <p>The TR-34 norm is intended for exchanging 3DES keys only and keys are imported in a WrappedKeyBlock format. Key attributes (such as KeyUsage, KeyAlgorithm, KeyModesOfUse, Exportability) are contained within the key block. With RSA wrap and unwrap, you can exchange both 3DES and AES-128 keys. The keys are imported in a WrappedKeyCryptogram format and you will need to specify the key attributes during import. </p>\n         <p>You can also import a <i>root public key certificate</i>, used to sign other public key certificates, or a <i>trusted public key certificate</i> under an already established root public key certificate.</p>\n         <p>\n            <b>To import a public root key certificate</b>\n         </p>\n         <p>You can also import a <i>root public key certificate</i>, used to sign other public key certificates, or a <i>trusted public key certificate</i> under an already established root public key certificate.</p>\n         <p>\n            <b>To import a public root key certificate</b>\n         </p>\n         <p>Using this operation, you can import the public component (in PEM cerificate format) of your private root key. You can use the imported public root key certificate for digital signatures, for example signing wrapping key or signing key in TR-34, within your Amazon Web Services Payment Cryptography account.</p>\n         <p>Set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: <code>RootCertificatePublicKey</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyClass</code>: <code>PUBLIC_KEY</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyModesOfUse</code>: <code>Verify</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyUsage</code>: <code>TR31_S0_ASYMMETRIC_KEY_FOR_DIGITAL_SIGNATURE</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>PublicKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the private root key under import.</p>\n            </li>\n         </ul>\n         <p>\n            <b>To import a trusted public key certificate</b>\n         </p>\n         <p>The root public key certificate must be in place and operational before you import a trusted public key certificate. Set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: <code>TrustedCertificatePublicKey</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>CertificateAuthorityPublicKeyIdentifier</code>: <code>KeyArn</code> of the <code>RootCertificatePublicKey</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KeyModesOfUse</code> and <code>KeyUsage</code>: Corresponding to the cryptographic operations such as wrap, sign, or encrypt that you will allow the trusted public key certificate to perform.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PublicKeyCertificate</code>: The trusted public key certificate in PEM format (base64 encoded) under import.</p>\n            </li>\n         </ul>\n         <p>\n            <b>To import initial keys (KEK or ZMK or similar) using TR-34</b>\n         </p>\n         <p>Using this operation, you can import initial key using TR-34 asymmetric key exchange. In TR-34 terminology, the sending party of the key is called Key Distribution Host (KDH) and the receiving party of the key is called Key Receiving Device (KRD). During the key import process, KDH is the user who initiates the key import and KRD is Amazon Web Services Payment Cryptography who receives the key.</p>\n         <p>To initiate TR-34 key import, the KDH must obtain an import token by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>. This operation generates an encryption keypair for the purpose of key import, signs the key and returns back the wrapping key certificate (also known as KRD wrapping certificate) and the root certificate chain. The KDH must trust and install the KRD wrapping certificate on its HSM and use it to encrypt (wrap) the KDH key during TR-34 WrappedKeyBlock generation. The import token and associated KRD wrapping certificate expires after 7 days.</p>\n         <p>Next the KDH generates a key pair for the purpose of signing the encrypted KDH key and provides the public certificate of the signing key to Amazon Web Services Payment Cryptography. The KDH will also need to import the root certificate chain of the KDH signing certificate by calling <code>ImportKey</code> for <code>RootCertificatePublicKey</code>. For more information on TR-34 key import, see section <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/userguide/keys-import.html\">Importing symmetric keys</a> in the <i>Amazon Web Services Payment Cryptography User Guide</i>.</p>\n         <p>Set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: Use <code>Tr34KeyBlock</code> parameters.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CertificateAuthorityPublicKeyIdentifier</code>: The <code>KeyARN</code> of the certificate chain that signed the KDH signing key certificate.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ImportToken</code>: Obtained from KRD by calling <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WrappedKeyBlock</code>: The TR-34 wrapped key material from KDH. It contains the KDH key under import, wrapped with KRD wrapping certificate and signed by KDH signing private key. This TR-34 key block is typically generated by the KDH Hardware Security Module (HSM) outside of Amazon Web Services Payment Cryptography.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SigningKeyCertificate</code>: The public key certificate in PEM format (base64 encoded) of the KDH signing key generated under the root certificate (CertificateAuthorityPublicKeyIdentifier) imported in Amazon Web Services Payment Cryptography.</p>\n            </li>\n         </ul>\n         <p>\n            <b>To import initial keys (KEK or ZMK or similar) using RSA Wrap and Unwrap</b>\n         </p>\n         <p>Using this operation, you can import initial key using asymmetric RSA wrap and unwrap key exchange method. To initiate import, call <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a> with <code>KeyMaterial</code> set to <code>KEY_CRYPTOGRAM</code> to generate an import token. This operation also generates an encryption keypair for the purpose of key import, signs the key and returns back the wrapping key certificate in PEM format (base64 encoded) and its root certificate chain. The import token and associated KRD wrapping certificate expires after 7 days. </p>\n         <p>You must trust and install the wrapping certificate and its certificate chain on the sending HSM and use it to wrap the key under export for WrappedKeyCryptogram generation. Next call <code>ImportKey</code> with <code>KeyMaterial</code> set to <code>KEY_CRYPTOGRAM</code> and provide the <code>ImportToken</code> and <code>KeyAttributes</code> for the key under import.</p>\n         <p>\n            <b>To import working keys using TR-31</b>\n         </p>\n         <p>Amazon Web Services Payment Cryptography uses TR-31 symmetric key exchange norm to import working keys. A KEK must be established within Amazon Web Services Payment Cryptography by using TR-34 key import or by using <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_CreateKey.html\">CreateKey</a>. To initiate a TR-31 key import, set the following parameters:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>KeyMaterial</code>: Use <code>Tr31KeyBlock</code> parameters.</p>\n            </li>\n            <li>\n               <p>\n                  <code>WrappedKeyBlock</code>: The TR-31 wrapped key material. It contains the key under import, encrypted using KEK. The TR-31 key block is typically generated by a HSM outside of Amazon Web Services Payment Cryptography. </p>\n            </li>\n            <li>\n               <p>\n                  <code>WrappingKeyIdentifier</code>: The <code>KeyArn</code> of the KEK that Amazon Web Services Payment Cryptography uses to decrypt or unwrap the key under import.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Cross-account use:</b> This operation can't be used across different Amazon Web Services accounts.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_ExportKey.html\">ExportKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_GetParametersForImport.html\">GetParametersForImport</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.paymentcryptography#ImportKeyCryptogram": {
      "type": "structure",
      "members": {
        "KeyAttributes": {
          "target": "com.amazonaws.paymentcryptography#KeyAttributes",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Exportable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the key is exportable from the service.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappedKeyCryptogram": {
          "target": "com.amazonaws.paymentcryptography#WrappedKeyCryptogram",
          "traits": {
            "smithy.api#documentation": "<p>The RSA wrapped key cryptogram under import.</p>",
            "smithy.api#required": {}
          }
        },
        "ImportToken": {
          "target": "com.amazonaws.paymentcryptography#ImportTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The import token that initiates key import using the asymmetric RSA wrap and unwrap key exchange method into AWS Payment Cryptography. It expires after 7 days. You can use the same import token to import multiple keys to the same service account.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappingSpec": {
          "target": "com.amazonaws.paymentcryptography#WrappingKeySpec",
          "traits": {
            "smithy.api#documentation": "<p>The wrapping spec for the wrapped key cryptogram.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material import using asymmetric RSA wrap and unwrap key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ImportKeyInput": {
      "type": "structure",
      "members": {
        "KeyMaterial": {
          "target": "com.amazonaws.paymentcryptography#ImportKeyMaterial",
          "traits": {
            "smithy.api#documentation": "<p>The key or public key certificate type to use during key material import, for example TR-34 or RootCertificatePublicKey.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValueAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyCheckValueAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that Amazon Web Services Payment Cryptography uses to calculate the key check value (KCV). It is used to validate the key integrity.</p>\n         <p>For TDES keys, the KCV is computed by encrypting 8 bytes, each with value of zero, with the key to be checked and retaining the 3 highest order bytes of the encrypted result. For AES keys, the KCV is computed using a CMAC algorithm where the input data is 16 bytes of zero and retaining the 3 highest order bytes of the encrypted result.</p>"
          }
        },
        "Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether import key is enabled.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.paymentcryptography#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags to the Amazon Web Services Payment Cryptography key. Use this parameter to tag a key when it is imported. To tag an existing Amazon Web Services Payment Cryptography key, use the <a href=\"https://docs.aws.amazon.com/payment-cryptography/latest/APIReference/API_TagResource.html\">TagResource</a> operation.</p>\n         <p>Each tag consists of a tag key and a tag value. Both the tag key and the tag value are required, but the tag value can be an empty (null) string. You can't have more than one tag on an Amazon Web Services Payment Cryptography key with the same tag key. If you specify an existing tag key with a different tag value, Amazon Web Services Payment Cryptography replaces the current tag value with the specified one.</p>\n         <important>\n            <p>Don't include personal, confidential or sensitive information in this field. This field may be displayed in plaintext in CloudTrail logs and other output.</p>\n         </important>\n         <note>\n            <p>Tagging or untagging an Amazon Web Services Payment Cryptography key can allow or deny permission to the key.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.paymentcryptography#ImportKeyMaterial": {
      "type": "union",
      "members": {
        "RootCertificatePublicKey": {
          "target": "com.amazonaws.paymentcryptography#RootCertificatePublicKey",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for root public key certificate import.</p>"
          }
        },
        "TrustedCertificatePublicKey": {
          "target": "com.amazonaws.paymentcryptography#TrustedCertificatePublicKey",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for trusted public key certificate import.</p>"
          }
        },
        "Tr31KeyBlock": {
          "target": "com.amazonaws.paymentcryptography#ImportTr31KeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material import using symmetric TR-31 key exchange method.</p>"
          }
        },
        "Tr34KeyBlock": {
          "target": "com.amazonaws.paymentcryptography#ImportTr34KeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material import using the asymmetric TR-34 key exchange method.</p>"
          }
        },
        "KeyCryptogram": {
          "target": "com.amazonaws.paymentcryptography#ImportKeyCryptogram",
          "traits": {
            "smithy.api#documentation": "<p>Parameter information for key material import using asymmetric RSA wrap and unwrap key exchange method.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material import into Amazon Web Services Payment Cryptography using TR-31 or TR-34 or RSA wrap and unwrap key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ImportKeyOutput": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.paymentcryptography#Key",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key material imported within Amazon Web Services Payment Cryptography.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.paymentcryptography#ImportTokenId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^import-token-[0-9a-zA-Z]{16,64}$"
      }
    },
    "com.amazonaws.paymentcryptography#ImportTr31KeyBlock": {
      "type": "structure",
      "members": {
        "WrappingKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the key that will decrypt or unwrap a TR-31 key block during import.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappedKeyBlock": {
          "target": "com.amazonaws.paymentcryptography#Tr31WrappedKeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>The TR-31 wrapped key block to import.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material import using symmetric TR-31 key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#ImportTr34KeyBlock": {
      "type": "structure",
      "members": {
        "CertificateAuthorityPublicKeyIdentifier": {
          "target": "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>KeyARN</code> of the certificate chain that signs the signing key certificate during TR-34 key import.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningKeyCertificate": {
          "target": "com.amazonaws.paymentcryptography#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The public key component in PEM certificate format of the private key that signs the KDH TR-34 WrappedKeyBlock.</p>",
            "smithy.api#required": {}
          }
        },
        "ImportToken": {
          "target": "com.amazonaws.paymentcryptography#ImportTokenId",
          "traits": {
            "smithy.api#documentation": "<p>The import token that initiates key import using the asymmetric TR-34 key exchange method into Amazon Web Services Payment Cryptography. It expires after 7 days. You can use the same import token to import multiple keys to the same service account.</p>",
            "smithy.api#required": {}
          }
        },
        "WrappedKeyBlock": {
          "target": "com.amazonaws.paymentcryptography#Tr34WrappedKeyBlock",
          "traits": {
            "smithy.api#documentation": "<p>The TR-34 wrapped key block to import.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyBlockFormat": {
          "target": "com.amazonaws.paymentcryptography#Tr34KeyBlockFormat",
          "traits": {
            "smithy.api#documentation": "<p>The key block format to use during key import. The only value allowed is <code>X9_TR34_2012</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "RandomNonce": {
          "target": "com.amazonaws.paymentcryptography#EvenHexLengthBetween16And32",
          "traits": {
            "smithy.api#documentation": "<p>A random number value that is unique to the TR-34 key block generated using 2 pass. The operation will fail, if a random nonce value is not provided for a TR-34 key block generated using 2 pass.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameter information for key material import using the asymmetric TR-34 key exchange method.</p>"
      }
    },
    "com.amazonaws.paymentcryptography#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.paymentcryptography#Key": {
      "type": "structure",
      "members": {
        "KeyArn": {
          "target": "com.amazonaws.paymentcryptography#KeyArn",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the key.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "KeyAttributes": {
          "target": "com.amazonaws.paymentcryptography#KeyAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The role of the key, the algorithm it supports, and the cryptographic operations allowed with the key. This data is immutable after the key is created.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyCheckValue": {
          "target": "com.amazonaws.paymentcryptography#KeyCheckValue",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The key check value (KCV) is used to check if all parties holding a given key have the same key or to detect that a key has changed.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "KeyCheckValueAlgorithm": {
          "target": "com.amazonaws.paymentcryptography#KeyCheckValueAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>The algorithm that Amazon Web Services Payment Cryptography uses to calculate the key check value (KCV). It is used to validate the key integrity.</p>\n         <p>For TDES keys, the KCV is computed by encrypting 8 bytes, each with value of zero, with the key to be checked and retaining the 3 highest order bytes of the encrypted result. For AES keys, the KCV is computed using a CMAC algorithm where the input data is 16 bytes of zero and retaining the 3 highest order bytes of the encrypted result.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the key is enabled. </p>",
            "smithy.api#required": {}
          }
        },
        "Exportable": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the key is exportable. This data is immutable after the key is created.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyState": {
          "target": "com.amazonaws.paymentcryptography#KeyState",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The state of key that is being created or deleted.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "KeyOrigin": {
          "target": "com.amazonaws.paymentcryptography#KeyOrigin",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The source of the key material. For keys created within Amazon Web Services Payment Cryptography, the value is <code>AWS_PAYMENT_CRYPTOGRAPHY</code>. For keys imported into Amazon Web Services Payment Cryptography, the value is <code>EXTERNAL</code>.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time when the key was created.</p>",
            "smithy.api#required": {},
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "UsageStartTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time after which Amazon Web Services Payment Cryptography will start using the key material for cryptographic operations.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "UsageStopTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time after which Amazon Web Services Payment Cryptography will stop using the key material for cryptographic operations.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "DeletePendingTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time after which Amazon Web Services Payment Cryptography will delete the key. This value is present only when <code>KeyState</code> is <code>DELETE_PENDING</code> and the key is scheduled for deletion.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        },
        "DeleteTimestamp": {
          "target": "com.amazonaws.paymentcryptography#Timestamp",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The date and time after which Amazon Web Services Payment Cryptography will delete the key. This value is present only when when the <code>KeyState</code> is <code>DELETE_COMPLETE</code> and the Amazon Web Services Payment Cryptography key is deleted.</p>",
            "smithy.api#suppress": ["UnstableTrait"]
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata about an Amazon Web Services Payment Cryptography key.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.paymentcryptography#KeyResource",
            "service": "com.amazonaws.paymentcryptography#PaymentCryptographyControlPlane",
            "ids": {
              "KeyIdentifier": "KeyArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptography#KeyAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TDES_2KEY",
            "name": "TDES_2KEY"
          },
          {
            "value": "TDES_3KEY",
            "name": "TDES_3KEY"
          },
          {
            "value": "AES_128",
            "name": "AES_128"
          },
          {
            "value": "AES_192",
            "name": "AES_192"
          },
          {
            "value": "AES_256",
            "name": "AES_256"
          },
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_3072",
            "name": "RSA_3072"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "ECC_NIST_P256",
            "name": "ECC_NIST_P256"
          },
          {
            "value": "ECC_NIST_P384",
            "name": "ECC_NIST_P384"
          }
        ]
      }
    },
    "com.amazonaws.paymentcryptography#KeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 70,
          "max": 150
        },
        "smithy.api#pattern": "^arn:aws:payment-cryptography:[a-z]{2}-[a-z]{1,16}-[0-9]+:[0-9]{12}:key/[0-9a-zA-Z]{16,64}$"
      }
    },
    "com.amazonaws.paymentcryptography#KeyArnOrKeyAliasType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 322
        },
[...]
