{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pcaconnectorad#AccessControlEntry": {
      "type": "structure",
      "members": {
        "GroupDisplayName": {
          "target": "com.amazonaws.pcaconnectorad#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>"
          }
        },
        "GroupSecurityIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with\n         \"S-\".</p>"
          }
        },
        "AccessRights": {
          "target": "com.amazonaws.pcaconnectorad#AccessRights",
          "traits": {
            "smithy.api#documentation": "<p>Permissions to allow or deny an Active Directory group to enroll or autoenroll certificates issued\n         against a template.</p>"
          }
        },
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Access Control Entry was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Access Control Entry was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> An access control entry allows or denies Active Directory groups based on their security\n         identifiers (SIDs) from enrolling and/or autoenrolling with the template.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#AccessControlEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcaconnectorad#AccessControlEntrySummary"
      }
    },
    "com.amazonaws.pcaconnectorad#AccessControlEntrySummary": {
      "type": "structure",
      "members": {
        "GroupDisplayName": {
          "target": "com.amazonaws.pcaconnectorad#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>"
          }
        },
        "GroupSecurityIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with\n         \"S-\".</p>"
          }
        },
        "AccessRights": {
          "target": "com.amazonaws.pcaconnectorad#AccessRights",
          "traits": {
            "smithy.api#documentation": "<p>Allow or deny an Active Directory group from enrolling and autoenrolling certificates issued against\n         a template.</p>"
          }
        },
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Access Control Entry was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Access Control Entry was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of group access control entries that allow or deny Active Directory groups based on their\n         security identifiers (SIDs) from enrolling and/or autofenrolling with the template.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can receive this error if you attempt to create a resource share when you don't have\n         the required permissions. This can be caused by insufficient permissions in policies\n         attached to your Amazon Web Services Identity and Access Management (IAM) principal. It can also happen\n         because of restrictions in place from an Amazon Web Services Organizations service control policy (SCP)\n         that affects your Amazon Web Services account. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.pcaconnectorad#AccessRight": {
      "type": "enum",
      "members": {
        "ALLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALLOW"
          }
        },
        "DENY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DENY"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#AccessRights": {
      "type": "structure",
      "members": {
        "Enroll": {
          "target": "com.amazonaws.pcaconnectorad#AccessRight",
          "traits": {
            "smithy.api#documentation": "<p>Allow or deny an Active Directory group from enrolling certificates issued against a\n         template.</p>"
          }
        },
        "AutoEnroll": {
          "target": "com.amazonaws.pcaconnectorad#AccessRight",
          "traits": {
            "smithy.api#documentation": "<p>Allow or deny an Active Directory group from autoenrolling certificates issued against a template.\n         The Active Directory group must be allowed to enroll to allow autoenrollment</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Allow or deny permissions for an Active Directory group to enroll or autoenroll certificates for a\n         template.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ApplicationPolicies": {
      "type": "structure",
      "members": {
        "Critical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Marks the application policy extension as critical.</p>"
          }
        },
        "Policies": {
          "target": "com.amazonaws.pcaconnectorad#ApplicationPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>Application policies describe what the certificate can be used for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Application policies describe what the certificate can be used for.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ApplicationPolicy": {
      "type": "union",
      "members": {
        "PolicyType": {
          "target": "com.amazonaws.pcaconnectorad#ApplicationPolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of application policy</p>"
          }
        },
        "PolicyObjectIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#CustomObjectIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The object identifier (OID) of an application policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Application policies describe what the certificate can be used for.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ApplicationPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcaconnectorad#ApplicationPolicy"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.pcaconnectorad#ApplicationPolicyType": {
      "type": "enum",
      "members": {
        "ALL_APPLICATION_POLICIES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL_APPLICATION_POLICIES"
          }
        },
        "ANY_PURPOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_PURPOSE"
          }
        },
        "ATTESTATION_IDENTITY_KEY_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ATTESTATION_IDENTITY_KEY_CERTIFICATE"
          }
        },
        "CERTIFICATE_REQUEST_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CERTIFICATE_REQUEST_AGENT"
          }
        },
        "CLIENT_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_AUTHENTICATION"
          }
        },
        "CODE_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODE_SIGNING"
          }
        },
        "CTL_USAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CTL_USAGE"
          }
        },
        "DIGITAL_RIGHTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIGITAL_RIGHTS"
          }
        },
        "DIRECTORY_SERVICE_EMAIL_REPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_SERVICE_EMAIL_REPLICATION"
          }
        },
        "DISALLOWED_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISALLOWED_LIST"
          }
        },
        "DNS_SERVER_TRUST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_SERVER_TRUST"
          }
        },
        "DOCUMENT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_ENCRYPTION"
          }
        },
        "DOCUMENT_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOCUMENT_SIGNING"
          }
        },
        "DYNAMIC_CODE_GENERATOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DYNAMIC_CODE_GENERATOR"
          }
        },
        "EARLY_LAUNCH_ANTIMALWARE_DRIVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EARLY_LAUNCH_ANTIMALWARE_DRIVER"
          }
        },
        "EMBEDDED_WINDOWS_SYSTEM_COMPONENT_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMBEDDED_WINDOWS_SYSTEM_COMPONENT_VERIFICATION"
          }
        },
        "ENCLAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCLAVE"
          }
        },
        "ENCRYPTING_FILE_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTING_FILE_SYSTEM"
          }
        },
        "ENDORSEMENT_KEY_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDORSEMENT_KEY_CERTIFICATE"
          }
        },
        "FILE_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_RECOVERY"
          }
        },
        "HAL_EXTENSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HAL_EXTENSION"
          }
        },
        "IP_SECURITY_END_SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_SECURITY_END_SYSTEM"
          }
        },
        "IP_SECURITY_IKE_INTERMEDIATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_SECURITY_IKE_INTERMEDIATE"
          }
        },
        "IP_SECURITY_TUNNEL_TERMINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_SECURITY_TUNNEL_TERMINATION"
          }
        },
        "IP_SECURITY_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IP_SECURITY_USER"
          }
        },
        "ISOLATED_USER_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISOLATED_USER_MODE"
          }
        },
        "KDC_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KDC_AUTHENTICATION"
          }
        },
        "KERNEL_MODE_CODE_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KERNEL_MODE_CODE_SIGNING"
          }
        },
        "KEY_PACK_LICENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_PACK_LICENSES"
          }
        },
        "KEY_RECOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_RECOVERY"
          }
        },
        "KEY_RECOVERY_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_RECOVERY_AGENT"
          }
        },
        "LICENSE_SERVER_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LICENSE_SERVER_VERIFICATION"
          }
        },
        "LIFETIME_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIFETIME_SIGNING"
          }
        },
        "MICROSOFT_PUBLISHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSOFT_PUBLISHER"
          }
        },
        "MICROSOFT_TIME_STAMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSOFT_TIME_STAMPING"
          }
        },
        "MICROSOFT_TRUST_LIST_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MICROSOFT_TRUST_LIST_SIGNING"
          }
        },
        "OCSP_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OCSP_SIGNING"
          }
        },
        "OEM_WINDOWS_SYSTEM_COMPONENT_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OEM_WINDOWS_SYSTEM_COMPONENT_VERIFICATION"
          }
        },
        "PLATFORM_CERTIFICATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLATFORM_CERTIFICATE"
          }
        },
        "PREVIEW_BUILD_SIGNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREVIEW_BUILD_SIGNING"
          }
        },
        "PRIVATE_KEY_ARCHIVAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATE_KEY_ARCHIVAL"
          }
        },
        "PROTECTED_PROCESS_LIGHT_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_PROCESS_LIGHT_VERIFICATION"
          }
        },
        "PROTECTED_PROCESS_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROTECTED_PROCESS_VERIFICATION"
          }
        },
        "QUALIFIED_SUBORDINATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUALIFIED_SUBORDINATION"
          }
        },
        "REVOKED_LIST_SIGNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REVOKED_LIST_SIGNER"
          }
        },
        "ROOT_PROGRAM_AUTO_UPDATE_CA_REVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_PROGRAM_AUTO_UPDATE_CA_REVOCATION"
          }
        },
        "ROOT_PROGRAM_AUTO_UPDATE_END_REVOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_PROGRAM_AUTO_UPDATE_END_REVOCATION"
          }
        },
        "ROOT_PROGRAM_NO_OSCP_FAILOVER_TO_CRL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_PROGRAM_NO_OSCP_FAILOVER_TO_CRL"
          }
        },
        "ROOT_LIST_SIGNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROOT_LIST_SIGNER"
          }
        },
        "SECURE_EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURE_EMAIL"
          }
        },
        "SERVER_AUTHENTICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_AUTHENTICATION"
          }
        },
        "SMART_CARD_LOGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART_CARD_LOGIN"
          }
        },
        "SPC_ENCRYPTED_DIGEST_RETRY_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPC_ENCRYPTED_DIGEST_RETRY_COUNT"
          }
        },
        "SPC_RELAXED_PE_MARKER_CHECK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPC_RELAXED_PE_MARKER_CHECK"
          }
        },
        "TIME_STAMPING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_STAMPING"
          }
        },
        "WINDOWS_HARDWARE_DRIVER_ATTESTED_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_HARDWARE_DRIVER_ATTESTED_VERIFICATION"
          }
        },
        "WINDOWS_HARDWARE_DRIVER_EXTENDED_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_HARDWARE_DRIVER_EXTENDED_VERIFICATION"
          }
        },
        "WINDOWS_HARDWARE_DRIVER_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_HARDWARE_DRIVER_VERIFICATION"
          }
        },
        "WINDOWS_HELLO_RECOVERY_KEY_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_HELLO_RECOVERY_KEY_ENCRYPTION"
          }
        },
        "WINDOWS_KITS_COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_KITS_COMPONENT"
          }
        },
        "WINDOWS_RT_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_RT_VERIFICATION"
          }
        },
        "WINDOWS_SOFTWARE_EXTENSION_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SOFTWARE_EXTENSION_VERIFICATION"
          }
        },
        "WINDOWS_STORE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_STORE"
          }
        },
        "WINDOWS_SYSTEM_COMPONENT_VERIFICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SYSTEM_COMPONENT_VERIFICATION"
          }
        },
        "WINDOWS_TCB_COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_TCB_COMPONENT"
          }
        },
        "WINDOWS_THIRD_PARTY_APPLICATION_COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_THIRD_PARTY_APPLICATION_COMPONENT"
          }
        },
        "WINDOWS_UPDATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_UPDATE"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#CertificateAuthorityArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w-]+:acm-pca:[\\w-]+:[0-9]+:certificate-authority\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.pcaconnectorad#CertificateValidity": {
      "type": "structure",
      "members": {
        "ValidityPeriod": {
          "target": "com.amazonaws.pcaconnectorad#ValidityPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Information describing the end of the validity period of the certificate. This parameter\n         sets the “Not After” date for the certificate. Certificate validity is the period of time\n         during which a certificate is valid. Validity can be expressed as an explicit date and time\n         when the certificate expires, or as a span of time after issuance, stated in days, months,\n         or years. For more information, see Validity in RFC 5280. This value is unaffected when\n         ValidityNotBefore is also specified. For example, if Validity is set to 20 days in the\n         future, the certificate will expire 20 days from issuance time regardless of the\n         ValidityNotBefore value.</p>",
            "smithy.api#required": {}
          }
        },
        "RenewalPeriod": {
          "target": "com.amazonaws.pcaconnectorad#ValidityPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Renewal period is the period of time before certificate expiration when a new\n         certificate will be requested.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information describing the end of the validity period of the certificate. This parameter\n         sets the “Not After” date for the certificate. Certificate validity is the period of time\n         during which a certificate is valid. Validity can be expressed as an explicit date and time\n         when the certificate expires, or as a span of time after issuance, stated in days, months,\n         or years. For more information, see Validity in RFC 5280. This value is unaffected when\n         ValidityNotBefore is also specified. For example, if Validity is set to 20 days in the\n         future, the certificate will expire 20 days from issuance time regardless of the\n         ValidityNotBefore value.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ClientCompatibilityV2": {
      "type": "enum",
      "members": {
        "WINDOWS_SERVER_2003": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2003"
          }
        },
        "WINDOWS_SERVER_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2008"
          }
        },
        "WINDOWS_SERVER_2008_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2008_R2"
          }
        },
        "WINDOWS_SERVER_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012"
          }
        },
        "WINDOWS_SERVER_2012_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012_R2"
          }
        },
        "WINDOWS_SERVER_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2016"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ClientCompatibilityV3": {
      "type": "enum",
      "members": {
        "WINDOWS_SERVER_2008": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2008"
          }
        },
        "WINDOWS_SERVER_2008_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2008_R2"
          }
        },
        "WINDOWS_SERVER_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012"
          }
        },
        "WINDOWS_SERVER_2012_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012_R2"
          }
        },
        "WINDOWS_SERVER_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2016"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ClientCompatibilityV4": {
      "type": "enum",
      "members": {
        "WINDOWS_SERVER_2012": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012"
          }
        },
        "WINDOWS_SERVER_2012_R2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2012_R2"
          }
        },
        "WINDOWS_SERVER_2016": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WINDOWS_SERVER_2016"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]+$"
      }
    },
    "com.amazonaws.pcaconnectorad#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type, which can be one of <code>Connector</code>, <code>Template</code>, <code>TemplateGroupAccessControlEntry</code>, <code>ServicePrincipalName</code>, or <code>DirectoryRegistration</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This request cannot be completed for one of the following reasons because the requested\n         resource was being concurrently modified by another request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.pcaconnectorad#Connector": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>. </p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.pcaconnectorad#CertificateAuthorityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate authority being used. </p>"
          }
        },
        "CertificateEnrollmentPolicyServerEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Certificate enrollment endpoint for Active Directory domain-joined objects reach out to when\n         requesting certificates.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Active Directory.</p>"
          }
        },
        "VpcInformation": {
          "target": "com.amazonaws.pcaconnectorad#VpcInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information of the VPC and security group(s) used with the connector.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the connector. Status can be creating, active, deleting, or failed.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the connector status if the status is failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connector was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connector was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services Private CA Connector for Active Directory is a service that links your Active Directory with Amazon Web Services Private CA. The connector brokers the\n         exchange of certificates from Amazon Web Services Private CA to domain-joined users and machines managed with\n         Active Directory.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w-]+:pca-connector-ad:[\\w-]+:[0-9]+:connector\\/[0-9a-f]{8}(-[0-9a-f]{4}){3}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcaconnectorad#ConnectorSummary"
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorResource": {
      "type": "resource",
      "identifiers": {
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn"
        }
      },
      "create": {
        "target": "com.amazonaws.pcaconnectorad#CreateConnector"
      },
      "read": {
        "target": "com.amazonaws.pcaconnectorad#GetConnector"
      },
      "delete": {
        "target": "com.amazonaws.pcaconnectorad#DeleteConnector"
      },
      "list": {
        "target": "com.amazonaws.pcaconnectorad#ListConnectors"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "Connector"
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorStatusReason": {
      "type": "enum",
      "members": {
        "DIRECTORY_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_ACCESS_DENIED"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        },
        "PRIVATECA_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATECA_ACCESS_DENIED"
          }
        },
        "PRIVATECA_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIVATECA_RESOURCE_NOT_FOUND"
          }
        },
        "SECURITY_GROUP_NOT_IN_VPC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECURITY_GROUP_NOT_IN_VPC"
          }
        },
        "VPC_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_ACCESS_DENIED"
          }
        },
        "VPC_ENDPOINT_LIMIT_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_ENDPOINT_LIMIT_EXCEEDED"
          }
        },
        "VPC_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VPC_RESOURCE_NOT_FOUND"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#ConnectorSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>"
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.pcaconnectorad#CertificateAuthorityArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the certificate authority being used.</p>"
          }
        },
        "CertificateEnrollmentPolicyServerEndpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Certificate enrollment endpoint for Active Directory domain-joined objects to request\n         certificates.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Active Directory.</p>"
          }
        },
        "VpcInformation": {
          "target": "com.amazonaws.pcaconnectorad#VpcInformation",
          "traits": {
            "smithy.api#documentation": "<p>Information of the VPC and security group(s) used with the connector.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the connector. Status can be creating, active, deleting, or failed.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the connector status if the status is failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connector was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the connector was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary description of the Amazon Web Services Private CA AD connectors belonging to an Amazon Web Services\n         account.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#CreateConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#CreateConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#CreateConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a connector between Amazon Web Services Private CA and an Active Directory. You must specify the private CA,\n         directory ID, and security groups.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/connectors"
        }
      }
    },
    "com.amazonaws.pcaconnectorad#CreateConnectorRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Active Directory.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateAuthorityArn": {
          "target": "com.amazonaws.pcaconnectorad#CertificateAuthorityArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the certificate authority being used.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcInformation": {
          "target": "com.amazonaws.pcaconnectorad#VpcInformation",
          "traits": {
            "smithy.api#documentation": "<p>Security group IDs that describe the inbound and outbound rules.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pcaconnectorad#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pcaconnectorad#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Metadata assigned to a connector consisting of a key-value pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateConnectorResponse": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p>If successful, the Amazon Resource Name (ARN) of the connector for Active Directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateDirectoryRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#CreateDirectoryRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#CreateDirectoryRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a directory registration that authorizes communication between Amazon Web Services Private CA and an\n         Active Directory</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/directoryRegistrations"
        }
      }
    },
    "com.amazonaws.pcaconnectorad#CreateDirectoryRegistrationRequest": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p> The identifier of the Active Directory.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pcaconnectorad#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pcaconnectorad#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Metadata assigned to a directory registration consisting of a key-value pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateDirectoryRegistrationResponse": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateServicePrincipalName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#CreateServicePrincipalNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a service principal name (SPN) for the service account in Active Directory. Kerberos\n         authentication uses SPNs to associate a service instance with a service sign-in\n         account.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateServicePrincipalNameRequest": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pcaconnectorad#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#CreateTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#CreateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Active Directory compatible certificate template. The connectors issues certificates\n         using these templates based on the requester’s Active Directory group membership.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/templates"
        }
      }
    },
    "com.amazonaws.pcaconnectorad#CreateTemplateGroupAccessControlEntry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#CreateTemplateGroupAccessControlEntryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a group access control entry. Allow or deny Active Directory groups from enrolling and/or\n         autoenrolling with the template based on the group security identifiers (SIDs).</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/templates/{TemplateArn}/accessControlEntries"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateTemplateGroupAccessControlEntryRequest": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupSecurityIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with\n         \"S-\".</p>",
            "smithy.api#required": {}
          }
        },
        "GroupDisplayName": {
          "target": "com.amazonaws.pcaconnectorad#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Active Directory group. This name does not need to match the group name in Active Directory.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessRights": {
          "target": "com.amazonaws.pcaconnectorad#AccessRights",
          "traits": {
            "smithy.api#documentation": "<p> Allow or deny permissions for an Active Directory group to enroll or autoenroll certificates for a\n         template.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pcaconnectorad#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateTemplateRequest": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.pcaconnectorad#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the template. The template name must be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "Definition": {
          "target": "com.amazonaws.pcaconnectorad#TemplateDefinition",
          "traits": {
            "smithy.api#documentation": "<p>Template configuration to define the information included in certificates. Define\n         certificate validity and renewal periods, certificate request handling and enrollment\n         options, key usage extensions, application policies, and cryptography settings.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pcaconnectorad#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pcaconnectorad#Tags",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Metadata assigned to a template consisting of a key-value pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CreateTemplateResponse": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>If successful, the Amazon Resource Name (ARN) of the template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CryptoProvidersList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String",
        "traits": {
          "smithy.api#length": {
            "min": 1,
            "max": 100
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.pcaconnectorad#CustomObjectIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^([0-2])\\.([0-9]|([0-3][0-9]))(\\.([0-9]+)){0,126}$"
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#DeleteConnectorRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a connector for Active Directory. You must provide the Amazon Resource Name (ARN) of the\n         connector that you want to delete. You can find the ARN by calling the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_ListConnectors\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_ListConnectors</a>\n         action. Deleting a connector does not deregister your directory with Amazon Web Services Private CA. You can\n         deregister your directory by calling the <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_DeleteDirectoryRegistration\">https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_DeleteDirectoryRegistration</a>\n         action.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/connectors/{ConnectorArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteConnectorRequest": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteDirectoryRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#DeleteDirectoryRegistrationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a directory registration. Deleting a directory registration deauthorizes\n         Amazon Web Services Private CA with the directory. </p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/directoryRegistrations/{DirectoryRegistrationArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteDirectoryRegistrationRequest": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteServicePrincipalName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#DeleteServicePrincipalNameRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the service principal name (SPN) used by a connector to authenticate with your\n         Active Directory.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteServicePrincipalNameRequest": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#DeleteTemplateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a template. Certificates issued using the template are still valid until they\n         are revoked or expired.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/templates/{TemplateArn}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteTemplateGroupAccessControlEntry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#DeleteTemplateGroupAccessControlEntryRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ConflictException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group access control entry.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteTemplateGroupAccessControlEntryRequest": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupSecurityIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with\n         \"S-\".</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DeleteTemplateRequest": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called\n         CreateDirectoryRegistration. </p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Active Directory.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the directory registration.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the directory registration status if the status is\n         failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the directory registration was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the directory registration was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory registration represents the authorization of the connector service with a\n         directory.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^arn:[\\w-]+:pca-connector-ad:[\\w-]+:[0-9]+:directory-registration\\/d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationSummary"
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationResource": {
      "type": "resource",
      "identifiers": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn"
        }
      },
      "create": {
        "target": "com.amazonaws.pcaconnectorad#CreateDirectoryRegistration"
      },
      "read": {
        "target": "com.amazonaws.pcaconnectorad#GetDirectoryRegistration"
      },
      "delete": {
        "target": "com.amazonaws.pcaconnectorad#DeleteDirectoryRegistration"
      },
      "list": {
        "target": "com.amazonaws.pcaconnectorad#ListDirectoryRegistrations"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "DirectoryRegistration"
        }
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatusReason": {
      "type": "enum",
      "members": {
        "DIRECTORY_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_ACCESS_DENIED"
          }
        },
        "DIRECTORY_RESOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_RESOURCE_NOT_FOUND"
          }
        },
        "DIRECTORY_NOT_ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_NOT_ACTIVE"
          }
        },
        "DIRECTORY_NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_NOT_REACHABLE"
          }
        },
        "DIRECTORY_TYPE_NOT_SUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECTORY_TYPE_NOT_SUPPORTED"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#DirectoryRegistrationSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Active Directory.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the directory registration.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationStatusReason",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the directory registration status if the status is\n         failed.</p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the directory registration was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the directory registration was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory registration represents the authorization of the connector service with\n         the Active Directory.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\x20-\\x7E]+$"
      }
    },
    "com.amazonaws.pcaconnectorad#EnrollmentFlagsV2": {
      "type": "structure",
      "members": {
        "IncludeSymmetricAlgorithms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Include symmetric algorithms allowed by the subject.</p>"
          }
        },
        "UserInteractionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Require user interaction when the subject is enrolled and the private key associated\n         with the certificate is used.</p>"
          }
        },
        "RemoveInvalidCertificateFromPersonalStore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Delete expired or revoked certificates instead of archiving them.</p>"
          }
        },
        "NoSecurityExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This flag instructs the CA to not include the security extension\n         szOID_NTDS_CA_SECURITY_EXT (OID:1.3.6.1.4.1.311.25.2), as specified in [MS-WCCE] sections\n         2.2.2.7.7.4 and 3.2.2.6.2.1.4.5.9, in the issued certificate. This addresses a Windows\n         Kerberos elevation-of-privilege vulnerability.</p>"
          }
        },
        "EnableKeyReuseOnNtTokenKeysetStorageFull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allow renewal using the same key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Template configurations for v2 template schema.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#EnrollmentFlagsV3": {
      "type": "structure",
      "members": {
        "IncludeSymmetricAlgorithms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Include symmetric algorithms allowed by the subject.</p>"
          }
        },
        "UserInteractionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Require user interaction when the subject is enrolled and the private key associated\n         with the certificate is used.</p>"
          }
        },
        "RemoveInvalidCertificateFromPersonalStore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Delete expired or revoked certificates instead of archiving them.</p>"
          }
        },
        "NoSecurityExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This flag instructs the CA to not include the security extension\n         szOID_NTDS_CA_SECURITY_EXT (OID:1.3.6.1.4.1.311.25.2), as specified in [MS-WCCE] sections\n         2.2.2.7.7.4 and 3.2.2.6.2.1.4.5.9, in the issued certificate. This addresses a Windows\n         Kerberos elevation-of-privilege vulnerability.</p>"
          }
        },
        "EnableKeyReuseOnNtTokenKeysetStorageFull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allow renewal using the same key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Template configurations for v3 template schema.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#EnrollmentFlagsV4": {
      "type": "structure",
      "members": {
        "IncludeSymmetricAlgorithms": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Include symmetric algorithms allowed by the subject.</p>"
          }
        },
        "UserInteractionRequired": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Require user interaction when the subject is enrolled and the private key associated\n         with the certificate is used.</p>"
          }
        },
        "RemoveInvalidCertificateFromPersonalStore": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Delete expired or revoked certificates instead of archiving them.</p>"
          }
        },
        "NoSecurityExtension": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>This flag instructs the CA to not include the security extension\n         szOID_NTDS_CA_SECURITY_EXT (OID:1.3.6.1.4.1.311.25.2), as specified in [MS-WCCE] sections\n         2.2.2.7.7.4 and 3.2.2.6.2.1.4.5.9, in the issued certificate. This addresses a Windows\n         Kerberos elevation-of-privilege vulnerability.</p>"
          }
        },
        "EnableKeyReuseOnNtTokenKeysetStorageFull": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allow renewal using the same key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Template configurations for v4 template schema.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ExtensionsV2": {
      "type": "structure",
      "members": {
        "KeyUsage": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsage",
          "traits": {
            "smithy.api#documentation": "<p>The key usage extension defines the purpose (e.g., encipherment, signature, certificate\n         signing) of the key contained in the certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationPolicies": {
          "target": "com.amazonaws.pcaconnectorad#ApplicationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Application policies specify what the certificate is used for and its purpose. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Certificate extensions for v2 template schema</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ExtensionsV3": {
      "type": "structure",
      "members": {
        "KeyUsage": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsage",
          "traits": {
            "smithy.api#documentation": "<p>The key usage extension defines the purpose (e.g., encipherment, signature, certificate\n         signing) of the key contained in the certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationPolicies": {
          "target": "com.amazonaws.pcaconnectorad#ApplicationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Application policies specify what the certificate is used for and its purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Certificate extensions for v3 template schema</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#ExtensionsV4": {
      "type": "structure",
      "members": {
        "KeyUsage": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsage",
          "traits": {
            "smithy.api#documentation": "<p>The key usage extension defines the purpose (e.g., encipherment, signature) of the key\n         contained in the certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationPolicies": {
          "target": "com.amazonaws.pcaconnectorad#ApplicationPolicies",
          "traits": {
            "smithy.api#documentation": "<p>Application policies specify what the certificate is used for and its purpose.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Certificate extensions for v4 template schema</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#GeneralFlagsV2": {
      "type": "structure",
      "members": {
        "AutoEnrollment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allows certificate issuance using autoenrollment. Set to TRUE to allow\n         autoenrollment.</p>"
          }
        },
        "MachineType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Defines if the template is for machines or users. Set to TRUE if the template is for\n         machines. Set to FALSE if the template is for users.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>General flags for v2 template schema that defines if the template is for a machine or a\n         user and if the template can be issued using autoenrollment.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#GeneralFlagsV3": {
      "type": "structure",
      "members": {
        "AutoEnrollment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allows certificate issuance using autoenrollment. Set to TRUE to allow\n         autoenrollment.</p>"
          }
        },
        "MachineType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Defines if the template is for machines or users. Set to TRUE if the template is for\n         machines. Set to FALSE if the template is for users</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>General flags for v3 template schema that defines if the template is for a machine or a\n         user and if the template can be issued using autoenrollment.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#GeneralFlagsV4": {
      "type": "structure",
      "members": {
        "AutoEnrollment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Allows certificate issuance using autoenrollment. Set to TRUE to allow\n         autoenrollment.</p>"
          }
        },
        "MachineType": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Defines if the template is for machines or users. Set to TRUE if the template is for\n         machines. Set to FALSE if the template is for users</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>General flags for v4 template schema that defines if the template is for a machine or a\n         user and if the template can be issued using autoenrollment.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#GetConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#GetConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#GetConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about your connector. You specify the connector on input by its ARN\n         (Amazon Resource Name). </p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/connectors/{ConnectorArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetConnectorRequest": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetConnectorResponse": {
      "type": "structure",
      "members": {
        "Connector": {
          "target": "com.amazonaws.pcaconnectorad#Connector",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A structure that contains information about your connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetDirectoryRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#GetDirectoryRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#GetDirectoryRegistrationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains information about your directory registration.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/directoryRegistrations/{DirectoryRegistrationArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetDirectoryRegistrationRequest": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetDirectoryRegistrationResponse": {
      "type": "structure",
      "members": {
        "DirectoryRegistration": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistration",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The directory registration represents the authorization of the connector service with a\n         directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetServicePrincipalName": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#GetServicePrincipalNameRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#GetServicePrincipalNameResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the service principal name that the connector uses to authenticate with\n         Active Directory.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/directoryRegistrations/{DirectoryRegistrationArn}/servicePrincipalNames/{ConnectorArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetServicePrincipalNameRequest": {
      "type": "structure",
      "members": {
        "DirectoryRegistrationArn": {
          "target": "com.amazonaws.pcaconnectorad#DirectoryRegistrationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateDirectoryRegistration.html\">CreateDirectoryRegistration</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConnectorArn": {
          "target": "com.amazonaws.pcaconnectorad#ConnectorArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateConnector.html\">CreateConnector</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetServicePrincipalNameResponse": {
      "type": "structure",
      "members": {
        "ServicePrincipalName": {
          "target": "com.amazonaws.pcaconnectorad#ServicePrincipalName",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The service principal name that the connector uses to authenticate with Active Directory.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#GetTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#GetTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a certificate template that the connector uses to issue certificates from a\n         private CA.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/templates/{TemplateArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplateGroupAccessControlEntry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcaconnectorad#GetTemplateGroupAccessControlEntryRequest"
      },
      "output": {
        "target": "com.amazonaws.pcaconnectorad#GetTemplateGroupAccessControlEntryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcaconnectorad#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcaconnectorad#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the group access control entries for a template.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/templates/{TemplateArn}/accessControlEntries/{GroupSecurityIdentifier}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplateGroupAccessControlEntryRequest": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupSecurityIdentifier": {
          "target": "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Security identifier (SID) of the group object from Active Directory. The SID starts with\n         \"S-\".</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplateGroupAccessControlEntryResponse": {
      "type": "structure",
      "members": {
        "AccessControlEntry": {
          "target": "com.amazonaws.pcaconnectorad#AccessControlEntry",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An access control entry allows or denies an Active Directory group from enrolling and/or\n         autoenrolling with a template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplateRequest": {
      "type": "structure",
      "members": {
        "TemplateArn": {
          "target": "com.amazonaws.pcaconnectorad#TemplateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that was returned when you called <a href=\"https://docs.aws.amazon.com/pca-connector-ad/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GetTemplateResponse": {
      "type": "structure",
      "members": {
        "Template": {
          "target": "com.amazonaws.pcaconnectorad#Template",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A certificate template that the connector uses to issue certificates from a private\n         CA.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcaconnectorad#GroupSecurityIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 256
        },
        "smithy.api#pattern": "^S-[0-9]-([0-9]+-){1,14}[0-9]+$"
      }
    },
    "com.amazonaws.pcaconnectorad#HashAlgorithm": {
      "type": "enum",
      "members": {
        "SHA256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA256"
          }
        },
        "SHA384": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA384"
          }
        },
        "SHA512": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHA512"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure with\n         an internal server. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.pcaconnectorad#KeySpec": {
      "type": "enum",
      "members": {
        "KEY_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KEY_EXCHANGE"
          }
        },
        "SIGNATURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SIGNATURE"
          }
        }
      }
    },
    "com.amazonaws.pcaconnectorad#KeyUsage": {
      "type": "structure",
      "members": {
        "Critical": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Sets the key usage extension to critical.</p>"
          }
        },
        "UsageFlags": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsageFlags",
          "traits": {
            "smithy.api#documentation": "<p>The key usage flags represent the purpose (e.g., encipherment, signature) of the key\n         contained in the certificate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The key usage extension defines the purpose (e.g., encipherment, signature) of the key\n         contained in the certificate.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#KeyUsageFlags": {
      "type": "structure",
      "members": {
        "DigitalSignature": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The digitalSignature is asserted when the subject public key is used for verifying\n         digital signatures.</p>"
          }
        },
        "NonRepudiation": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>NonRepudiation is asserted when the subject public key is used to verify digital\n         signatures.</p>"
          }
        },
        "KeyEncipherment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>KeyEncipherment is asserted when the subject public key is used for enciphering private\n         or secret keys, i.e., for key transport.</p>"
          }
        },
        "DataEncipherment": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>DataEncipherment is asserted when the subject public key is used for directly\n         enciphering raw user data without the use of an intermediate symmetric cipher.</p>"
          }
        },
        "KeyAgreement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>KeyAgreement is asserted when the subject public key is used for key agreement.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The key usage flags represent the purpose (e.g., encipherment, signature) of the key\n         contained in the certificate.</p>"
      }
    },
    "com.amazonaws.pcaconnectorad#KeyUsageProperty": {
      "type": "union",
      "members": {
        "PropertyType": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsagePropertyType",
          "traits": {
            "smithy.api#documentation": "<p>You can specify all key usages using property type ALL. You can use property type or\n         property flags but not both. </p>"
          }
        },
        "PropertyFlags": {
          "target": "com.amazonaws.pcaconnectorad#KeyUsagePropertyFlags",
          "traits": {
            "smithy.api#documentation": "<p>You can specify key usage for encryption, key agreement, and signature. You can use\n         property flags or property type but not both. </p>"
          }
        }
      },
[...]
