{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pcs#AWSParallelComputingService": {
      "type": "service",
      "version": "2023-02-10",
      "operations": [
        {
          "target": "com.amazonaws.pcs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.pcs#TagResource"
        },
        {
          "target": "com.amazonaws.pcs#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.pcs#ClusterResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "PCS",
          "arnNamespace": "pcs"
        },
        "aws.auth#sigv4": {
          "name": "pcs"
        },
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair of a resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair that is allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by a list of tag keys that are allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          },
          "pcs:ResourceName": {
            "type": "String",
            "documentation": "Filters creation of resources with a certain name"
          }
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.protocols#awsJson1_0": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
          ]
        },
        "smithy.api#documentation": "<p>Amazon Web Services Parallel Computing Service (Amazon Web Services PCS) is a managed service that makes it easier for\n         you to run and scale your high performance computing (HPC) workloads,\n         and build scientific and engineering models on Amazon Web Services using Slurm. \n         For more information, see \n         the <a href=\"https://docs.aws.amazon.com/pcs/latest/userguide\">Amazon Web Services Parallel Computing Service\n            User Guide</a>.</p>\n         <p>This reference describes the actions and data types of the service management API. You can use the\n         Amazon Web Services SDKs to call the API actions in software, or use the Command Line Interface (CLI) to call the API\n         actions manually. These API actions manage the service through an Amazon Web Services account.</p>\n         <p>The API actions operate on Amazon Web Services PCS resources. A <i>resource</i> is\n         an entity in Amazon Web Services that you can work with. Amazon Web Services services create resources when you use\n         the features of the service. Examples of Amazon Web Services PCS resources include clusters, compute\n         node groups, and queues. For more information about resources in Amazon Web Services, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/getting-started-terms-and-concepts.html#term-resource\">Resource</a> in the <i>Resource Explorer User Guide</i>. </p>\n         <p>An Amazon Web Services PCS <i>compute node</i> is an Amazon EC2 instance. You don't launch\n         compute nodes directly. Amazon Web Services PCS uses configuration information that you provide to launch\n         compute nodes in your Amazon Web Services account. You receive billing charges for your running compute nodes.\n         Amazon Web Services PCS automatically terminates your compute nodes when you delete the Amazon Web Services PCS resources\n         related to those compute nodes.</p>",
        "smithy.api#title": "AWS Parallel Computing Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://pcs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://pcs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://pcs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://pcs.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://pcs.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.pcs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action.</p>\n         <p>\n            <u>Examples</u>\n         </p>\n         <ul>\n            <li>\n               <p>The launch template instance profile doesn't pass <code>iam:PassRole</code>\n               verification.</p>\n            </li>\n            <li>\n               <p>There is a mismatch between the account ID and cluster ID.</p>\n            </li>\n            <li>\n               <p>The cluster ID doesn't exist.</p>\n            </li>\n            <li>\n               <p>The EC2 instance isn't present.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.pcs#AmiId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami-[a-z0-9]+$"
      }
    },
    "com.amazonaws.pcs#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws*:pcs:.*:[0-9]{12}:.*/[a-z0-9_\\-]+$"
      }
    },
    "com.amazonaws.pcs#BootstrapId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\S]+$"
      }
    },
    "com.amazonaws.pcs#Cluster": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that identifies the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The generated unique ID of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.pcs#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning status of the cluster.</p>\n         <note>\n            <p>The provisioning status doesn't indicate the overall health of the cluster.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "scheduler": {
          "target": "com.amazonaws.pcs#Scheduler",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.amazonaws.pcs#Size",
          "traits": {
            "smithy.api#documentation": "<p>The size of the cluster.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMALL</code>: 32 compute nodes and 256 jobs</p>\n            </li>\n            <li>\n               <p>\n                  <code>MEDIUM</code>: 512 compute nodes and 8192 jobs</p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE</code>: 2048 compute nodes and 16,384 jobs</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "slurmConfiguration": {
          "target": "com.amazonaws.pcs#ClusterSlurmConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
          }
        },
        "networking": {
          "target": "com.amazonaws.pcs#Networking",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "endpoints": {
          "target": "com.amazonaws.pcs#Endpoints",
          "traits": {
            "smithy.api#documentation": "<p>The list of endpoints available for interaction with the scheduler.</p>"
          }
        },
        "errorInfo": {
          "target": "com.amazonaws.pcs#ErrorInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of errors that occurred during cluster provisioning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cluster resource and configuration.</p>"
      }
    },
    "com.amazonaws.pcs#ClusterIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(pcs_[a-zA-Z0-9]+|[A-Za-z][A-Za-z0-9-]{3,40})$"
      }
    },
    "com.amazonaws.pcs#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#ClusterSummary"
      }
    },
    "com.amazonaws.pcs#ClusterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 40
        },
        "smithy.api#pattern": "^(?!pcs_)^[A-Za-z][A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.pcs#ClusterResource": {
      "type": "resource",
      "identifiers": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.pcs#CreateCluster"
      },
      "operations": [
        {
          "target": "com.amazonaws.pcs#DeleteCluster"
        },
        {
          "target": "com.amazonaws.pcs#GetCluster"
        },
        {
          "target": "com.amazonaws.pcs#RegisterComputeNodeGroupInstance"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.pcs#ListClusters"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.pcs#ComputeNodeGroupResource"
        },
        {
          "target": "com.amazonaws.pcs#QueueResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "cluster/{clusterIdentifier}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "cluster"
        }
      }
    },
    "com.amazonaws.pcs#ClusterSlurmConfiguration": {
      "type": "structure",
      "members": {
        "scaleDownIdleTimeInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The time (in seconds) before an idle node is scaled down.</p>\n         <p>Default: <code>600</code>\n         </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "slurmCustomSettings": {
          "target": "com.amazonaws.pcs#SlurmCustomSettings",
          "traits": {
            "smithy.api#documentation": "<p>Additional Slurm-specific configuration that directly maps to Slurm settings.</p>"
          }
        },
        "authKey": {
          "target": "com.amazonaws.pcs#SlurmAuthKey",
          "traits": {
            "smithy.api#documentation": "<p>The shared Slurm key for authentication, also known as the <b>cluster secret</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
      }
    },
    "com.amazonaws.pcs#ClusterSlurmConfigurationRequest": {
      "type": "structure",
      "members": {
        "scaleDownIdleTimeInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The time (in seconds) before an idle node is scaled down.</p>\n         <p>Default: <code>600</code>\n         </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "slurmCustomSettings": {
          "target": "com.amazonaws.pcs#SlurmCustomSettings",
          "traits": {
            "smithy.api#documentation": "<p>Additional Slurm-specific configuration that directly maps to Slurm settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
      }
    },
    "com.amazonaws.pcs#ClusterStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.pcs#ClusterSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that identifies the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The generated unique ID of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.pcs#ClusterStatus",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning status of the cluster.</p>\n         <note>\n            <p>The provisioning status doesn't indicate the overall health of the cluster.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object returned by the <code>ListClusters</code> API action.</p>"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroup": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name that identifies the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The generated unique ID of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the cluster of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning status of the compute node group.</p>\n         <note>\n            <p>The provisioning status doesn't indicate the overall health of the compute node\n            group.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "amiId": {
          "target": "com.amazonaws.pcs#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) that Amazon Web Services PCS uses to launch instances.\n         If not provided, Amazon Web Services PCS uses the AMI ID specified in the custom launch template.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.pcs#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of subnet IDs where instances are provisioned by the compute node group. \n         The subnets must be in the same VPC as the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "purchaseOption": {
          "target": "com.amazonaws.pcs#PurchaseOption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how EC2 instances are purchased on your behalf. Amazon Web Services PCS supports On-Demand\n         and Spot instances. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-purchasing-options.html\">Instance\n         purchasing options</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. If you don't provide this\n         option, it defaults to On-Demand.</p>"
          }
        },
        "customLaunchTemplate": {
          "target": "com.amazonaws.pcs#CustomLaunchTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "iamInstanceProfileArn": {
          "target": "com.amazonaws.pcs#InstanceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM instance \n   profile used to pass an IAM role when launching EC2 instances. The role contained \n   in your instance profile must have the <code>pcs:RegisterComputeNodeGroupInstance</code>\n   permission. The resource identifier of the ARN must start with \n   <code>AWSPCS</code> or it must have <code>/aws-pcs/</code> in its path.</p>\n         <p class=\"title\">\n            <b>Examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>arn:aws:iam::111122223333:instance-profile/AWSPCS-example-role-1</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:iam::111122223333:instance-profile/aws-pcs/example-role-2</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "scalingConfiguration": {
          "target": "com.amazonaws.pcs#ScalingConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "instanceConfigs": {
          "target": "com.amazonaws.pcs#InstanceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 instance configurations that Amazon Web Services PCS can provision in the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "spotOptions": {
          "target": "com.amazonaws.pcs#SpotOptions"
        },
        "slurmConfiguration": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupSlurmConfiguration"
        },
        "errorInfo": {
          "target": "com.amazonaws.pcs#ErrorInfoList",
          "traits": {
            "smithy.api#documentation": "<p>The list of errors that occurred during compute node group provisioning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A compute node group associated with a cluster.</p>"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupConfiguration": {
      "type": "structure",
      "members": {
        "computeNodeGroupId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The compute node group ID for the compute node group configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The compute node group configuration for a queue.</p>"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#ComputeNodeGroupConfiguration"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(pcs_[a-zA-Z0-9]+|[A-Za-z][A-Za-z0-9-]{3,25})$"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#ComputeNodeGroupSummary"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 25
        },
        "smithy.api#pattern": "^(?!pcs_)^[A-Za-z][A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupResource": {
      "type": "resource",
      "identifiers": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier"
        },
        "computeNodeGroupIdentifier": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupIdentifier"
        }
      },
      "create": {
        "target": "com.amazonaws.pcs#CreateComputeNodeGroup"
      },
      "update": {
        "target": "com.amazonaws.pcs#UpdateComputeNodeGroup"
      },
      "operations": [
        {
          "target": "com.amazonaws.pcs#DeleteComputeNodeGroup"
        },
        {
          "target": "com.amazonaws.pcs#GetComputeNodeGroup"
        }
      ],
      "collectionOperations": [
        {
          "target": "com.amazonaws.pcs#ListComputeNodeGroups"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "cluster/{clusterIdentifier}/computenodegroup/{computeNodeGroupIdentifier}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#iamResource": {
          "name": "computenodegroup"
        }
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupSlurmConfiguration": {
      "type": "structure",
      "members": {
        "slurmCustomSettings": {
          "target": "com.amazonaws.pcs#SlurmCustomSettings",
          "traits": {
            "smithy.api#documentation": "<p>Additional Slurm-specific configuration that directly maps to Slurm settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupSlurmConfigurationRequest": {
      "type": "structure",
      "members": {
        "slurmCustomSettings": {
          "target": "com.amazonaws.pcs#SlurmCustomSettings",
          "traits": {
            "smithy.api#documentation": "<p>Additional Slurm-specific configuration that directly maps to Slurm settings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.pcs#ComputeNodeGroupSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name that identifies the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The generated unique ID of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique Amazon Resource Name (ARN) of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the cluster of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was created.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "modifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the resource was modified.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "status": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupStatus",
          "traits": {
            "smithy.api#documentation": "<p>The provisioning status of the compute node group.</p>\n         <note>\n            <p>The provisioning status doesn't indicate the overall health of the compute node\n            group.</p>\n         </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object returned by the <code>ListComputeNodeGroups</code> API action.</p>"
      }
    },
    "com.amazonaws.pcs#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the resource that caused the conflict exception.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>\n         The type or category of the resource that caused the conflict exception.\"\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more\n         than 1 operation on the same resource at the same time.</p>\n         <p>\n            <u>Examples</u>\n         </p>\n         <ul>\n            <li>\n               <p>A cluster with the same name already exists.</p>\n            </li>\n            <li>\n               <p>A cluster isn't in <code>ACTIVE</code> status.</p>\n            </li>\n            <li>\n               <p>A cluster to delete is in an unstable state. For example, because it still has\n                  <code>ACTIVE</code> node groups or queues.</p>\n            </li>\n            <li>\n               <p>A queue already exists in a cluster.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.pcs#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a cluster in your account. Amazon Web Services PCS creates the cluster controller in a\n         service-owned account. The cluster controller communicates with the cluster resources in\n         your account. The subnets and security groups for the cluster must already exist before you\n         use this API action.</p>\n         <note>\n            <p>It takes time for Amazon Web Services PCS to create the cluster. The cluster is in\n         a <code>Creating</code> state until it is ready to use. There can only be 1\n         cluster in a <code>Creating</code> state per Amazon Web Services Region per Amazon Web Services account.\n         <code>CreateCluster</code>\n         fails with a <code>ServiceQuotaExceededException</code> if there is already\n         a cluster in a <code>Creating</code> state.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Cluster"]
      }
    },
    "com.amazonaws.pcs#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "clusterName": {
          "target": "com.amazonaws.pcs#ClusterName",
          "traits": {
            "aws.iam#conditionKeyValue": "pcs:ResourceName",
            "smithy.api#documentation": "<p>A name to identify the cluster. Example: <code>MyCluster</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "scheduler": {
          "target": "com.amazonaws.pcs#SchedulerRequest",
          "traits": {
            "smithy.api#documentation": "<p>The cluster management and job scheduling software associated with the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "size": {
          "target": "com.amazonaws.pcs#Size",
          "traits": {
            "smithy.api#documentation": "<p>A value that determines the maximum number of compute nodes in the cluster and the\n         maximum number of jobs (active and queued).</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SMALL</code>: 32 compute nodes and 256 jobs</p>\n            </li>\n            <li>\n               <p>\n                  <code>MEDIUM</code>: 512 compute nodes and 8192 jobs</p>\n            </li>\n            <li>\n               <p>\n                  <code>LARGE</code>: 2048 compute nodes and 16,384 jobs</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "networking": {
          "target": "com.amazonaws.pcs#NetworkingRequest",
          "traits": {
            "smithy.api#documentation": "<p>The networking configuration used to set up the cluster's control plane.</p>",
            "smithy.api#required": {}
          }
        },
        "slurmConfiguration": {
          "target": "com.amazonaws.pcs#ClusterSlurmConfigurationRequest",
          "traits": {
            "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.pcs#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>1 or more tags added to the resource. Each tag consists of a\n   tag key and tag value. The tag value is optional and can be an empty\n   string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.pcs#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#CreateComputeNodeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#CreateComputeNodeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#CreateComputeNodeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a managed set of compute nodes. You associate a compute node group with a\n         cluster through 1 or more Amazon Web Services PCS queues or as part of the login fleet. A compute node\n         group includes the definition of the compute properties and lifecycle management.\n         Amazon Web Services PCS uses the information you provide to this API action to launch compute nodes in\n         your account. You can only specify subnets in the same Amazon VPC as your cluster. You receive\n         billing charges for the compute nodes that Amazon Web Services PCS launches in your account. You must\n         already have a launch template before you call this API. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">Launch an\n            instance from a launch template</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux\n            Instances</i>.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["ComputeNodeGroup"]
      }
    },
    "com.amazonaws.pcs#CreateComputeNodeGroupRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster to create a compute node group in.</p>",
            "smithy.api#required": {}
          }
        },
        "computeNodeGroupName": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupName",
          "traits": {
            "aws.iam#conditionKeyValue": "pcs:ResourceName",
            "smithy.api#documentation": "<p>A name to identify the cluster. Example: <code>MyCluster</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "amiId": {
          "target": "com.amazonaws.pcs#AmiId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the Amazon Machine Image (AMI) that Amazon Web Services PCS uses to launch compute nodes\n         (Amazon EC2 instances). If you don't provide this value, Amazon Web Services PCS uses the AMI ID specified\n         in the custom launch template.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.pcs#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The list of subnet IDs where the compute node group launches instances.\n         Subnets must be in the same VPC as the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "purchaseOption": {
          "target": "com.amazonaws.pcs#PurchaseOption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how EC2 instances are purchased on your behalf. Amazon Web Services PCS supports On-Demand\n         and Spot instances. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-purchasing-options.html\">Instance\n         purchasing options</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>. If you don't provide this\n         option, it defaults to On-Demand.</p>"
          }
        },
        "customLaunchTemplate": {
          "target": "com.amazonaws.pcs#CustomLaunchTemplate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "iamInstanceProfileArn": {
          "target": "com.amazonaws.pcs#InstanceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM instance \n   profile used to pass an IAM role when launching EC2 instances. The role contained \n   in your instance profile must have the <code>pcs:RegisterComputeNodeGroupInstance</code>\n   permission. The resource identifier of the ARN must start with \n   <code>AWSPCS</code> or it must have <code>/aws-pcs/</code> in its path.</p>\n         <p class=\"title\">\n            <b>Examples</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>arn:aws:iam::111122223333:instance-profile/AWSPCS-example-role-1</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>arn:aws:iam::111122223333:instance-profile/aws-pcs/example-role-2</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "scalingConfiguration": {
          "target": "com.amazonaws.pcs#ScalingConfigurationRequest",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the boundaries of the compute node group auto scaling.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceConfigs": {
          "target": "com.amazonaws.pcs#InstanceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 instance configurations that Amazon Web Services PCS can provision in the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "spotOptions": {
          "target": "com.amazonaws.pcs#SpotOptions"
        },
        "slurmConfiguration": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupSlurmConfigurationRequest",
          "traits": {
            "smithy.api#documentation": "<p>Additional options related to the Slurm scheduler.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.pcs#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>1 or more tags added to the resource. Each tag consists of a\n   tag key and tag value. The tag value is optional and can be an empty\n   string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#CreateComputeNodeGroupResponse": {
      "type": "structure",
      "members": {
        "computeNodeGroup": {
          "target": "com.amazonaws.pcs#ComputeNodeGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#CreateQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#CreateQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#CreateQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Creates a job queue. You must associate 1 or more compute node groups with the queue.\n         You can associate 1 compute node group with multiple queues.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Queue"]
      }
    },
    "com.amazonaws.pcs#CreateQueueRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster for which to create a queue.</p>",
            "smithy.api#required": {}
          }
        },
        "queueName": {
          "target": "com.amazonaws.pcs#QueueName",
          "traits": {
            "aws.iam#conditionKeyValue": "pcs:ResourceName",
            "smithy.api#documentation": "<p>A name to identify the queue.</p>",
            "smithy.api#required": {}
          }
        },
        "computeNodeGroupConfigurations": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of compute node group configurations to associate with the queue. Queues\n         assign jobs to associated compute node groups.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.pcs#RequestTagMap",
          "traits": {
            "smithy.api#documentation": "<p>1 or more tags added to the resource. Each tag consists of a\n   tag key and tag value. The tag value is optional and can be an empty\n   string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#CreateQueueResponse": {
      "type": "structure",
      "members": {
        "queue": {
          "target": "com.amazonaws.pcs#Queue"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#CustomLaunchTemplate": {
      "type": "structure",
      "members": {
        "id": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EC2 launch template to use to provision instances.</p>\n         <p> Example: <code>lt-xxxx</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the EC2 launch template to use to provision instances.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon EC2 launch template Amazon Web Services PCS uses to launch compute nodes.</p>"
      }
    },
    "com.amazonaws.pcs#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a cluster and all its linked resources. You must delete all queues and compute\n         node groups associated with the cluster before you can delete the cluster.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Cluster"]
      }
    },
    "com.amazonaws.pcs#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#DeleteClusterResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#DeleteComputeNodeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#DeleteComputeNodeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#DeleteComputeNodeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a compute node group. You must delete all queues associated with the compute\n         node group first.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["ComputeNodeGroup"]
      }
    },
    "com.amazonaws.pcs#DeleteComputeNodeGroupRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster of the compute node group.</p>",
            "smithy.api#required": {}
          }
        },
        "computeNodeGroupIdentifier": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the compute node group to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#DeleteComputeNodeGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#DeleteQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#DeleteQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#DeleteQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a job queue. If the compute node group associated with this queue isn't\n         associated with any other queues, Amazon Web Services PCS terminates all the compute nodes for this\n         queue.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#tags": ["Queue"]
      }
    },
    "com.amazonaws.pcs#DeleteQueueRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster of the queue.</p>",
            "smithy.api#required": {}
          }
        },
        "queueIdentifier": {
          "target": "com.amazonaws.pcs#QueueIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the queue to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.pcs#SBClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to\n   ensure the idempotency of the request. Idempotency ensures that an API\n   request completes only once. With an idempotent request, if the original \n   request completes successfully, the subsequent retries with the same \n   client token return the result from the original successful request and \n   they have no additional effect. If you don't specify a client token, the \n   CLI and SDK automatically generate 1 for you.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#DeleteQueueResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#Endpoint": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.pcs#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the type of endpoint running at the specific IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "privateIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint's private IP address.</p>\n         <p>Example: <code>2.2.2.2</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "publicIpAddress": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint's public IP address.</p>\n         <p>Example: <code>1.1.1.1</code>\n         </p>"
          }
        },
        "port": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint's connection port number.</p>\n         <p> Example: <code>1234</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An endpoint available for interaction with the scheduler.</p>"
      }
    },
    "com.amazonaws.pcs#EndpointType": {
      "type": "enum",
      "members": {
        "SLURMCTLD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLURMCTLD"
          }
        },
        "SLURMDBD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SLURMDBD"
          }
        }
      }
    },
    "com.amazonaws.pcs#Endpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#Endpoint"
      }
    },
    "com.amazonaws.pcs#ErrorInfo": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The short-form error code.</p>"
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The detailed error information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error that occurred during resource creation.</p>"
      }
    },
    "com.amazonaws.pcs#ErrorInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#ErrorInfo"
      }
    },
    "com.amazonaws.pcs#GetCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#GetClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#GetClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a running cluster in your account. This API action\n         provides networking information, endpoint information for communication with the scheduler,\n         and provisioning status.</p>",
        "smithy.api#readonly": {},
        "smithy.api#tags": ["Cluster"],
        "smithy.test#smokeTests": [
          {
            "id": "GetCluster_AccessDeniedException",
            "params": {
              "clusterIdentifier": "pcs_donotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.pcs#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.pcs#GetClusterRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster of the queue.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#GetClusterResponse": {
      "type": "structure",
      "members": {
        "cluster": {
          "target": "com.amazonaws.pcs#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#GetComputeNodeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#GetComputeNodeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#GetComputeNodeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a compute node group. This API action provides\n         networking information, EC2 instance type, compute node group status, and scheduler (such\n         as Slurm) configuration.</p>",
        "smithy.api#readonly": {},
        "smithy.api#tags": ["ComputeNodeGroup"],
        "smithy.test#smokeTests": [
          {
            "id": "GetComputeNodeGroup_AccessDeniedException",
            "params": {
              "clusterIdentifier": "pcs_donotexist",
              "computeNodeGroupIdentifier": "pcs_donotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.pcs#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.pcs#GetComputeNodeGroupRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "computeNodeGroupIdentifier": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the compute node group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#GetComputeNodeGroupResponse": {
      "type": "structure",
      "members": {
        "computeNodeGroup": {
          "target": "com.amazonaws.pcs#ComputeNodeGroup"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#GetQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#GetQueueRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#GetQueueResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a queue. The information includes the compute node\n         groups that the queue uses to schedule jobs.</p>",
        "smithy.api#readonly": {},
        "smithy.api#tags": ["Queue"],
        "smithy.test#smokeTests": [
          {
            "id": "GetQueueFailure_AccessDeniedException",
            "params": {
              "clusterIdentifier": "pcs_donotexist",
              "queueIdentifier": "pcs_donotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.pcs#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.pcs#GetQueueRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster of the queue.</p>",
            "smithy.api#required": {}
          }
        },
        "queueIdentifier": {
          "target": "com.amazonaws.pcs#QueueIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the queue.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#GetQueueResponse": {
      "type": "structure",
      "members": {
        "queue": {
          "target": "com.amazonaws.pcs#Queue"
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#InstanceConfig": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instance type that Amazon Web Services PCS can provision in the compute node group.</p>\n         <p> Example: <code>t2.xlarge</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An EC2 instance configuration Amazon Web Services PCS uses to launch compute nodes.</p>"
      }
    },
    "com.amazonaws.pcs#InstanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pcs#InstanceConfig"
      }
    },
    "com.amazonaws.pcs#InstanceProfileArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws([a-zA-Z-]{0,10})?:iam::[0-9]{12}:instance-profile/.{1,128}$"
      }
    },
    "com.amazonaws.pcs#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services PCS can't process your request right now. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.pcs#ListClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#ListClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#ListClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of running clusters in your account.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "clusters"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["Cluster"],
        "smithy.test#smokeTests": [
          {
            "id": "ListClustersSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.pcs#ListClustersRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>nextToken</code> is a unique pagination token\n   for each page of results returned. If <code>nextToken</code> is returned, there are more\n   results available. Make the call again using the returned token to retrieve the next page. \n   Keep all other arguments unchanged. Each pagination token expires after 24 hours. \n   Using an expired pagination token returns an <code>HTTP 400 InvalidToken</code> \n   error.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.pcs#MaxResults",
          "traits": {
            "smithy.api#default": 10,
            "smithy.api#documentation": "<p>The maximum number of results that are returned per call.\n   You can use <code>nextToken</code> to obtain further pages of results. The default \n   is 10 results, and the maximum allowed page size is 100 results. A value of 0 uses \n   the default.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#ListClustersResponse": {
      "type": "structure",
      "members": {
        "clusters": {
          "target": "com.amazonaws.pcs#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>The list of clusters.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>nextToken</code> is a unique pagination token\n   for each page of results returned. If <code>nextToken</code> is returned, there are more\n   results available. Make the call again using the returned token to retrieve the next page. \n   Keep all other arguments unchanged. Each pagination token expires after 24 hours. \n   Using an expired pagination token returns an <code>HTTP 400 InvalidToken</code> \n   error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pcs#ListComputeNodeGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pcs#ListComputeNodeGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.pcs#ListComputeNodeGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pcs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pcs#ConflictException"
        },
        {
          "target": "com.amazonaws.pcs#InternalServerException"
        },
        {
          "target": "com.amazonaws.pcs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pcs#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pcs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all compute node groups associated with a cluster.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "computeNodeGroups"
        },
        "smithy.api#readonly": {},
        "smithy.api#tags": ["ComputeNodeGroup"],
        "smithy.test#smokeTests": [
          {
            "id": "ListComputeNodeGroups_AccessDeniedException",
            "params": {
              "clusterIdentifier": "pcs_donotexist"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.pcs#AccessDeniedException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.pcs#ListComputeNodeGroupsRequest": {
      "type": "structure",
      "members": {
        "clusterIdentifier": {
          "target": "com.amazonaws.pcs#ClusterIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name or ID of the cluster to list compute node groups for.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>nextToken</code> is a unique pagination token\n   for each page of results returned. If <code>nextToken</code> is returned, there are more\n   results available. Make the call again using the returned token to retrieve the next page. \n   Keep all other arguments unchanged. Each pagination token expires after 24 hours. \n   Using an expired pagination token returns an <code>HTTP 400 InvalidToken</code> \n   error.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.pcs#MaxResults",
          "traits": {
            "smithy.api#default": 10,
            "smithy.api#documentation": "<p>The maximum number of results that are returned per call.\n   You can use <code>nextToken</code> to obtain further pages of results. The default \n   is 10 results, and the maximum allowed page size is 100 results. A value of 0 uses \n   the default.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pcs#ListComputeNodeGroupsResponse": {
      "type": "structure",
      "members": {
        "computeNodeGroups": {
          "target": "com.amazonaws.pcs#ComputeNodeGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The list of compute node groups for the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
[...]
