{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.personalize#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.personalize#Algorithm": {
      "type": "structure",
      "members": {
        "algorithmArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>"
          }
        },
        "algorithmImage": {
          "target": "com.amazonaws.personalize#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Docker container for the algorithm image.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the algorithm was created.</p>"
          }
        },
        "defaultHyperParameterRanges": {
          "target": "com.amazonaws.personalize#DefaultHyperParameterRanges",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default hyperparameters, their ranges, and whether they\n      are tunable. A tunable hyperparameter can\n      have its value determined during hyperparameter optimization (HPO).</p>"
          }
        },
        "defaultHyperParameters": {
          "target": "com.amazonaws.personalize#HyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default hyperparameters.</p>"
          }
        },
        "defaultResourceConfig": {
          "target": "com.amazonaws.personalize#ResourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default maximum number of training jobs and parallel training jobs.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the algorithm was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role.</p>"
          }
        },
        "trainingInputMode": {
          "target": "com.amazonaws.personalize#TrainingInputMode",
          "traits": {
            "smithy.api#documentation": "<p>The training input mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a custom algorithm.</p>"
      }
    },
    "com.amazonaws.personalize#AlgorithmImage": {
      "type": "structure",
      "members": {
        "dockerURI": {
          "target": "com.amazonaws.personalize#DockerURI",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an algorithm image.</p>"
      }
    },
    "com.amazonaws.personalize#AmazonPersonalize": {
      "type": "service",
      "version": "2018-05-22",
      "operations": [
        {
          "target": "com.amazonaws.personalize#CreateBatchInferenceJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateCampaign"
        },
        {
          "target": "com.amazonaws.personalize#CreateDataset"
        },
        {
          "target": "com.amazonaws.personalize#CreateDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#CreateDatasetImportJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#CreateSchema"
        },
        {
          "target": "com.amazonaws.personalize#CreateSolution"
        },
        {
          "target": "com.amazonaws.personalize#CreateSolutionVersion"
        },
        {
          "target": "com.amazonaws.personalize#DeleteCampaign"
        },
        {
          "target": "com.amazonaws.personalize#DeleteDataset"
        },
        {
          "target": "com.amazonaws.personalize#DeleteDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#DeleteEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#DeleteSchema"
        },
        {
          "target": "com.amazonaws.personalize#DeleteSolution"
        },
        {
          "target": "com.amazonaws.personalize#DescribeAlgorithm"
        },
        {
          "target": "com.amazonaws.personalize#DescribeBatchInferenceJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeCampaign"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDataset"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDatasetImportJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#DescribeFeatureTransformation"
        },
        {
          "target": "com.amazonaws.personalize#DescribeRecipe"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSchema"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSolution"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSolutionVersion"
        },
        {
          "target": "com.amazonaws.personalize#GetSolutionMetrics"
        },
        {
          "target": "com.amazonaws.personalize#ListBatchInferenceJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListCampaigns"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasetGroups"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasetImportJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasets"
        },
        {
          "target": "com.amazonaws.personalize#ListEventTrackers"
        },
        {
          "target": "com.amazonaws.personalize#ListRecipes"
        },
        {
          "target": "com.amazonaws.personalize#ListSchemas"
        },
        {
          "target": "com.amazonaws.personalize#ListSolutions"
        },
        {
          "target": "com.amazonaws.personalize#ListSolutionVersions"
        },
        {
          "target": "com.amazonaws.personalize#UpdateCampaign"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Personalize",
          "arnNamespace": "personalize",
          "cloudFormationName": "Personalize",
          "cloudTrailEventSource": "personalize.services.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "personalize"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Personalize is a machine learning service that makes it easy to add individualized\n      recommendations to customers.</p>",
        "smithy.api#title": "Amazon Personalize"
      }
    },
    "com.amazonaws.personalize#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "arn:([a-z\\d-]+):personalize:.*:.*:.+"
      }
    },
    "com.amazonaws.personalize#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#AutoMLConfig": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "com.amazonaws.personalize#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric to optimize.</p>"
          }
        },
        "recipeList": {
          "target": "com.amazonaws.personalize#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of candidate recipes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in\n      <a>CreateSolution</a>), Amazon Personalize\n      determines which recipe, from the specified list, optimizes the given metric.\n      Amazon Personalize then uses that recipe for the solution.</p>"
      }
    },
    "com.amazonaws.personalize#AutoMLResult": {
      "type": "structure",
      "members": {
        "bestRecipeArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the best recipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in\n      <a>CreateSolution</a>), specifies the recipe that best optimized the\n      specified metric.</p>"
      }
    },
    "com.amazonaws.personalize#AvroSchema": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.personalize#BatchInferenceJob": {
      "type": "structure",
      "members": {
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was created.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch inference job failed, the reason for the failure.</p>"
          }
        },
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch inference\n      job.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job.</p>"
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch inference job.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was last updated.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of recommendations generated by the batch inference job. This number includes\n      the error messages generated for failed input records.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch inference job.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version from which the batch inference job\n      was created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch inference job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobInput": {
      "type": "structure",
      "members": {
        "s3DataSource": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Amazon S3 location that contains your input data. The Amazon S3 bucket must be in the\n      same region as the API endpoint you are calling.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input configuration of a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobOutput": {
      "type": "structure",
      "members": {
        "s3DataDestination": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information on the Amazon S3 bucket in which the batch inference job's output is stored.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output configuration parameters of a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobSummary": {
      "type": "structure",
      "members": {
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was created.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch inference job failed, the reason for the failure.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was last updated.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch inference job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A truncated version of the <a>BatchInferenceJob</a> datatype. The <a>ListBatchInferenceJobs</a> operation returns a list of batch inference job\n      summaries.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#BatchInferenceJobSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.personalize#Campaign": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign. </p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix format) that the campaign was created.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign fails, the reason behind the failure.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix format) that the campaign was last updated.</p>"
          }
        },
        "latestCampaignUpdate": {
          "target": "com.amazonaws.personalize#CampaignUpdateSummary"
        },
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the campaign.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a specific version of the solution.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign.</p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a deployed solution version, otherwise known as a campaign.\n      For more information on campaigns, see <a>CreateCampaign</a>.</p>"
      }
    },
    "com.amazonaws.personalize#CampaignSummary": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign was created.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign fails, the reason behind the failure.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the campaign.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign.</p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a campaign. For a complete listing, call the\n      <a>DescribeCampaign</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#CampaignUpdateSummary": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign update was created.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign update fails, the reason behind the failure.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign update was last updated.</p>"
          }
        },
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that\n      Amazon Personalize will support.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployed solution version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign update.</p>\n         <p>A campaign update can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a campaign update. For a complete listing, call the\n      <a>DescribeCampaign</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#Campaigns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CampaignSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#CategoricalHyperParameterRange": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.personalize#CategoricalValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of the categories for the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and range of a categorical hyperparameter.</p>"
      }
    },
    "com.amazonaws.personalize#CategoricalHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CategoricalHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#CategoricalValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.personalize#CategoricalValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CategoricalValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#ContinuousHyperParameterRange": {
      "type": "structure",
      "members": {
        "maxValue": {
          "target": "com.amazonaws.personalize#ContinuousMaxValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowable value for the hyperparameter.</p>"
          }
        },
        "minValue": {
          "target": "com.amazonaws.personalize#ContinuousMinValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum allowable value for the hyperparameter.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and range of a continuous hyperparameter.</p>"
      }
    },
    "com.amazonaws.personalize#ContinuousHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#ContinuousHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#ContinuousMaxValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": -1000000
        }
      }
    },
    "com.amazonaws.personalize#ContinuousMinValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": -1000000
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateBatchInferenceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateBatchInferenceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch inference job. The operation can handle up to 50 million records and the\n      input file must be in JSON format. For more information, see <a>recommendations-batch</a>.</p>"
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJobRequest": {
      "type": "structure",
      "members": {
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path that leads to the input file to base your recommendations on. The input\n      material must be in JSON format.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job to create.</p>",
            "smithy.api#required": {}
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 bucket where the job's output will be stored.</p>",
            "smithy.api#required": {}
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of recommendations to retreive.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and out\n      Amazon S3 buckets respectively.</p>",
            "smithy.api#required": {}
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version that will be used to generate the\n      batch inference recommendations.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJobResponse": {
      "type": "structure",
      "members": {
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch inference job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateCampaignRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateCampaignResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a campaign by deploying a solution version. When a client calls the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a>\n      and\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetPersonalizedRanking.html\">GetPersonalizedRanking</a>\n      APIs, a campaign is specified in the request.</p>\n\n         <p>\n            <b>Minimum Provisioned TPS and Auto-Scaling</b>\n         </p>\n         <p>A transaction is a single <code>GetRecommendations</code> or\n       <code>GetPersonalizedRanking</code> call. Transactions per second (TPS) is the throughput\n       and unit of billing for Amazon Personalize. The minimum provisioned TPS\n       (<code>minProvisionedTPS</code>) specifies the baseline throughput provisioned by\n       Amazon Personalize, and thus, the minimum billing charge. If your TPS increases beyond\n       <code>minProvisionedTPS</code>, Amazon Personalize auto-scales the provisioned capacity up and down,\n       but never below <code>minProvisionedTPS</code>, to maintain a 70% utilization.\n       There's a short time delay while the capacity is increased that might cause loss of\n       transactions. It's recommended to start with a low <code>minProvisionedTPS</code>, track\n       your usage using Amazon CloudWatch metrics, and then increase the <code>minProvisionedTPS</code>\n       as necessary.</p>\n\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the campaign status, call <a>DescribeCampaign</a>.</p>\n         <note>\n            <p>Wait until the <code>status</code> of the campaign\n        is <code>ACTIVE</code> before asking the campaign for recommendations.</p>\n         </note>\n      \n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListCampaigns</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeCampaign</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateCampaign</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteCampaign</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateCampaignRequest": {
      "type": "structure",
      "members": {
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that\n      Amazon Personalize will support.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the new campaign. The campaign name must be unique within your account.</p>",
            "smithy.api#required": {}
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version to deploy.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateCampaignResponse": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty dataset and adds it to the specified dataset group. Use\n      <a>CreateDatasetImportJob</a> to import your training data to a dataset.</p>\n         <p>There are three types of datasets:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n         </ul>\n         <p>Each dataset type has an associated schema with required field types. Only the\n      <code>Interactions</code> dataset is required in order to train a model (also referred to as\n      creating a solution).</p>\n         <p>A dataset can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the status of the dataset, call <a>DescribeDataset</a>.</p>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateDatasetGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListDatasets</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeDataset</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteDataset</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty dataset group. A dataset group contains related datasets that supply\n      data for training a model. A dataset group can contain at most three datasets,\n      one for each type of dataset:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n         </ul>\n         <p>To train a model (create a solution), a dataset group that contains an\n      <code>Interactions</code> dataset is required. Call <a>CreateDataset</a>\n      to add a dataset to the group.</p>\n         <p>A dataset group can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING</p>\n            </li>\n         </ul>\n         <p>To get the status of the dataset group, call <a>DescribeDatasetGroup</a>.\n      If the status shows as CREATE FAILED, the response includes a\n      <code>failureReason</code> key, which describes why the creation failed.</p>\n         <note>\n            <p>You must wait until the <code>status</code> of the dataset\n        group is <code>ACTIVE</code> before adding a dataset to the group.</p>\n         </note>\n         <p>You can specify an AWS Key Management Service (KMS) key to encrypt the datasets in the group.\n      If you specify a KMS key, you must also include an AWS Identity and Access Management (IAM) role\n      that has permission to access the key.</p>\n         <p class=\"title\">\n            <b>APIs that require a dataset group ARN in the request</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateDataset</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateEventTracker</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSolution</a>\n               </p>\n            </li>\n         </ul>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListDatasetGroups</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeDatasetGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteDatasetGroup</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.personalize#CreateDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "kmsKeyArn": {
          "target": "com.amazonaws.personalize#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a KMS key used to encrypt the datasets.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new dataset group.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that has permissions to access the KMS key. Supplying an\n      IAM role is only valid when also specifying a KMS key.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetGroupResponse": {
      "type": "structure",
      "members": {
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new dataset group.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a job that imports training data from your data source (an Amazon S3 bucket)\n      to an Amazon Personalize dataset. To allow Amazon Personalize to import the training data,\n      you must specify an AWS Identity and Access Management (IAM) role that has permission to read from the data source.</p>\n         <important>\n            <p>The dataset import job replaces any previous data in the dataset.</p>\n         </important>\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A dataset import job can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n         </ul>\n         <p>To get the status of the import job, call <a>DescribeDatasetImportJob</a>,\n      providing the Amazon Resource Name (ARN) of the dataset import job.\n      The dataset import is complete when the status shows as ACTIVE.\n      If the status shows as CREATE FAILED, the response includes a\n      <code>failureReason</code> key, which describes why the job failed.</p>\n         <note>\n            <p>Importing takes time. You must wait until the status\n        shows as ACTIVE before training a model using the dataset.</p>\n         </note>\n      \n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListDatasetImportJobs</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeDatasetImportJob</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.personalize#CreateDatasetImportJobRequest": {
      "type": "structure",
      "members": {
        "dataSource": {
          "target": "com.amazonaws.personalize#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the training data to import.</p>",
            "smithy.api#required": {}
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset that receives the imported data.</p>",
            "smithy.api#required": {}
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the dataset import job.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that has permissions to read from the Amazon S3 data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetImportJobResponse": {
      "type": "structure",
      "members": {
        "datasetImportJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset import job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group to add the dataset to.</p>",
            "smithy.api#required": {}
          }
        },
        "datasetType": {
          "target": "com.amazonaws.personalize#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of dataset.</p>\n         <p>One of the following (case insensitive) values:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the schema to associate with the dataset. The schema defines the dataset\n      fields.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateEventTracker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateEventTrackerRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateEventTrackerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an event tracker that you use when sending event data to the specified dataset\n      group using the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p>\n         <p>When Amazon Personalize creates an event tracker, it also\n      creates an <i>event-interactions</i> dataset in the dataset group associated\n      with the event tracker.\n      The event-interactions dataset stores the event data from the <code>PutEvents</code> call.\n      The contents of this dataset are not available to the user.</p>\n         <note>\n            <p>Only one event tracker can be associated with a dataset group. You will get\n        an error if you call <code>CreateEventTracker</code> using the same dataset group as an\n        existing event tracker.</p>\n         </note>\n         <p>When you send event data you include your tracking ID. The tracking ID identifies\n      the customer and authorizes the customer to send the data.</p>\n         <p>The event tracker can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the status of the event tracker, call <a>DescribeEventTracker</a>.</p>\n         <note>\n            <p>The event tracker must be in the ACTIVE state before using the tracking ID.</p>\n         </note>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListEventTrackers</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventTracker</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteEventTracker</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateEventTrackerRequest": {
      "type": "structure",
      "members": {
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that receives the event data.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the event tracker.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateEventTrackerResponse": {
      "type": "structure",
      "members": {
        "eventTrackerArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the event tracker.</p>"
          }
        },
        "trackingId": {
          "target": "com.amazonaws.personalize#TrackingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the event tracker. Include this ID in requests to the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Personalize schema from the specified schema string. The schema you create\n      must be in Avro JSON format.</p>\n         <p>Amazon Personalize recognizes three schema variants. Each schema is associated with a dataset\n      type and has a set of required field and keywords.\n      You specify a schema when you call <a>CreateDataset</a>.</p>\n      \n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListSchemas</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeSchema</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteSchema</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateSchemaRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the schema.</p>",
            "smithy.api#required": {}
          }
        },
        "schema": {
          "target": "com.amazonaws.personalize#AvroSchema",
          "traits": {
            "smithy.api#documentation": "<p>A schema in Avro JSON format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSchemaResponse": {
      "type": "structure",
      "members": {
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created schema.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSolution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateSolutionRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateSolutionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the configuration for training a model. A trained model is known as\n      a solution. After the configuration is created, you train the model (create a solution)\n      by calling the <a>CreateSolutionVersion</a> operation. Every time you call\n      <code>CreateSolutionVersion</code>, a new version of the solution is created.</p>\n         <p>After creating a solution version, you check its accuracy by calling\n      <a>GetSolutionMetrics</a>. When you are satisfied with the version, you\n      deploy it using <a>CreateCampaign</a>. The campaign provides recommendations\n      to a client through the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p>\n         <p>To train a model, Amazon Personalize requires training data and a recipe. The training data\n      comes from the dataset group that you provide in the request. A recipe specifies\n      the training algorithm and a feature transformation. You can specify one of the predefined\n      recipes provided by Amazon Personalize. Alternatively, you can specify\n      <code>performAutoML</code> and Amazon Personalize will analyze your data and select the\n      optimum USER_PERSONALIZATION recipe for you.</p>\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A solution can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the status of the solution, call <a>DescribeSolution</a>. Wait\n      until the status shows as ACTIVE before calling <code>CreateSolutionVersion</code>.</p>\n      \n      \n      \n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListSolutions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSolutionVersion</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeSolution</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteSolution</a>\n               </p>\n            </li>\n         </ul>\n         <ul>\n            <li>\n               <p>\n                  <a>ListSolutionVersions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeSolutionVersion</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.personalize#CreateSolutionRequest": {
      "type": "structure",
      "members": {
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that provides the training data.</p>",
            "smithy.api#required": {}
          }
        },
        "eventType": {
          "target": "com.amazonaws.personalize#EventType",
          "traits": {
            "smithy.api#documentation": "<p>When your have multiple event types (using an <code>EVENT_TYPE</code> schema field),\n      this parameter specifies which event type (for example, 'click' or 'like') is used for\n      training the model.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the solution.</p>",
            "smithy.api#required": {}
          }
        },
        "performAutoML": {
          "target": "com.amazonaws.personalize#PerformAutoML",
          "traits": {
            "smithy.api#documentation": "<p>Whether to perform automated machine learning (AutoML). The default is <code>false</code>.\n      For this case, you must specify <code>recipeArn</code>.</p>\n         <p>When set to <code>true</code>, Amazon Personalize analyzes your training data and selects\n      the optimal USER_PERSONALIZATION recipe and hyperparameters. In this case, you must omit\n      <code>recipeArn</code>. Amazon Personalize determines the optimal recipe by running tests with\n      different values for the hyperparameters.\n      AutoML lengthens the training process as compared to selecting a specific recipe.</p>"
          }
        },
        "performHPO": {
          "target": "com.amazonaws.personalize#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether to perform hyperparameter optimization (HPO) on the specified or selected recipe.\n      The default is <code>false</code>.</p>\n         <p>When performing AutoML, this parameter is always <code>true</code> and you\n      should not set it to <code>false</code>.</p>"
          }
        },
        "recipeArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the recipe to use for model training. Only specified when\n      <code>performAutoML</code> is false.</p>"
          }
        },
        "solutionConfig": {
          "target": "com.amazonaws.personalize#SolutionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration to use with the solution. When <code>performAutoML</code> is set to\n      true, Amazon Personalize only evaluates the <code>autoMLConfig</code> section\n      of the solution configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSolutionResponse": {
      "type": "structure",
      "members": {
        "solutionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the solution.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSolutionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateSolutionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateSolutionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Trains or retrains an active solution. A solution is created using the <a>CreateSolution</a> operation and must be in the ACTIVE state before calling\n        <code>CreateSolutionVersion</code>. A new version of the solution is created every time you\n      call this operation.</p>\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A solution version can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n         </ul>\n         <p>To get the status of the version, call <a>DescribeSolutionVersion</a>. Wait\n      until the status shows as ACTIVE before calling <code>CreateCampaign</code>.</p>\n         <p>If the status shows as CREATE FAILED, the response includes a <code>failureReason</code>\n      key, which describes why the job failed.</p>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListSolutionVersions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeSolutionVersion</a>\n               </p>\n            </li>\n         </ul>\n         <ul>\n            <li>\n               <p>\n                  <a>ListSolutions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateSolution</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeSolution</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteSolution</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.personalize#CreateSolutionVersionRequest": {
      "type": "structure",
      "members": {
        "solutionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution containing the training configuration\n      information.</p>",
            "smithy.api#required": {}
          }
        },
        "trainingMode": {
          "target": "com.amazonaws.personalize#TrainingMode",
          "traits": {
            "smithy.api#documentation": "<p>The scope of training to be performed when creating the solution version. The\n        <code>FULL</code> option trains the solution version based on the entirety of the input\n      solution's training data, while the <code>UPDATE</code> option processes only the data that\n      has changed in comparison to the input solution. Choose <code>UPDATE</code> when you want to\n      incrementally update your solution version instead of creating an entirely new one.</p>\n         <important>\n            <p>The <code>UPDATE</code> option can only be used when you already have an active solution\n        version created from the input solution using the <code>FULL</code> option and the input\n        solution was trained with the <a>native-recipe-hrnn-coldstart</a> recipe.</p>\n         </important>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateSolutionVersionResponse": {
      "type": "structure",
      "members": {
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new solution version.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#DataSource": {
      "type": "structure",
      "members": {
        "dataLocation": {
          "target": "com.amazonaws.personalize#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 bucket where the data that you want to upload to your dataset is\n      stored. For example: </p>\n         <p>\n            <code>s3://bucket-name/training-data.csv</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the data source that contains the data to upload to a dataset.</p>"
      }
    },
    "com.amazonaws.personalize#Dataset": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time (in Unix time) of the dataset.</p>"
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset that you want metadata for.</p>"
          }
        },
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        },
        "datasetType": {
          "target": "com.amazonaws.personalize#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>One of the following values:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n         </ul>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp that shows when the dataset was updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the associated schema.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset.</p>\n         <p>A dataset can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides metadata for a dataset.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetGroup": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time (in Unix time) of the dataset group.</p>"
          }
        },
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If creating a dataset group fails, provides the reason why.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.personalize#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key used to encrypt the datasets.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The last update date and time (in Unix time) of the dataset group.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset group.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that has permissions to create the dataset group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the dataset group.</p>\n         <p>A dataset group can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dataset group is a collection of related datasets (Interactions, User, and Item). \n      You create a dataset group by calling\n      <a>CreateDatasetGroup</a>. You then create a dataset and add it to a dataset\n      group by calling <a>CreateDataset</a>. The dataset group \n      is used to create and train a solution by calling <a>CreateSolution</a>.\n      A dataset group can contain only one of each type of dataset.</p>\n         <p>You can specify an AWS Key Management Service (KMS) key to encrypt the datasets in the group.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetGroupSummary": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset group was created.</p>"
          }
        },
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If creating a dataset group fails, the reason behind the failure.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset group was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset group.</p>\n         <p>A dataset group can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a dataset group. For a complete listing, call the\n      <a>DescribeDatasetGroup</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DatasetGroupSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#DatasetImportJob": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The creation date and time (in Unix time) of the dataset import job.</p>"
          }
        },
        "dataSource": {
          "target": "com.amazonaws.personalize#DataSource",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the training data to import.</p>"
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset that receives the imported data.</p>"
          }
        },
        "datasetImportJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset import job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a dataset import job fails, provides the reason why.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the import job.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) the dataset was last updated.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that has permissions to read from the Amazon S3 data source.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset import job.</p>\n         <p>A dataset import job can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a job that imports training data from a data source (Amazon S3 bucket)\n      to an Amazon Personalize dataset. For more information, see\n      <a>CreateDatasetImportJob</a>.</p>\n         <p>A dataset import job can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.personalize#DatasetImportJobSummary": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset import job was created.</p>"
          }
        },
        "datasetImportJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a dataset import job fails, the reason behind the failure.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset import job.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset was last updated.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset import job.</p>\n         <p>A dataset import job can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a dataset import job. For a complete listing, call the\n      <a>DescribeDatasetImportJob</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetImportJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DatasetImportJobSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#DatasetSchema": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the schema was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the schema was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "schema": {
          "target": "com.amazonaws.personalize#AvroSchema",
          "traits": {
            "smithy.api#documentation": "<p>The schema.</p>"
          }
        },
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the schema for a dataset. For more information on schemas, see\n      <a>CreateSchema</a>.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetSchemaSummary": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the schema was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the schema was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema.</p>"
          }
        },
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a dataset schema. For a complete listing, call the\n      <a>DescribeSchema</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetSummary": {
      "type": "structure",
      "members": {
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset was created.</p>"
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "datasetType": {
          "target": "com.amazonaws.personalize#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The dataset type. One of the following values:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n            <li>\n               <p>Event-Interactions</p>\n            </li>\n         </ul>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the dataset was last updated.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset.</p>\n         <p>A dataset can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a dataset. For a complete listing, call the\n      <a>DescribeDataset</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#DatasetType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.personalize#Datasets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DatasetSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.personalize#DefaultCategoricalHyperParameterRange": {
      "type": "structure",
      "members": {
        "isTunable": {
          "target": "com.amazonaws.personalize#Tunable",
          "traits": {
            "smithy.api#documentation": "<p>Whether the hyperparameter is tunable.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.personalize#CategoricalValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of the categories for the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and default range of a categorical hyperparameter\n      and whether the hyperparameter is tunable. A tunable hyperparameter can\n      have its value determined during hyperparameter optimization (HPO).</p>"
      }
    },
    "com.amazonaws.personalize#DefaultCategoricalHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DefaultCategoricalHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#DefaultContinuousHyperParameterRange": {
      "type": "structure",
      "members": {
        "isTunable": {
          "target": "com.amazonaws.personalize#Tunable",
          "traits": {
            "smithy.api#documentation": "<p>Whether the hyperparameter is tunable.</p>"
          }
        },
        "maxValue": {
          "target": "com.amazonaws.personalize#ContinuousMaxValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowable value for the hyperparameter.</p>"
          }
        },
        "minValue": {
          "target": "com.amazonaws.personalize#ContinuousMinValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum allowable value for the hyperparameter.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and default range of a continuous hyperparameter\n      and whether the hyperparameter is tunable. A tunable hyperparameter can\n      have its value determined during hyperparameter optimization (HPO).</p>"
      }
    },
    "com.amazonaws.personalize#DefaultContinuousHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DefaultContinuousHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#DefaultHyperParameterRanges": {
      "type": "structure",
      "members": {
        "categoricalHyperParameterRanges": {
          "target": "com.amazonaws.personalize#DefaultCategoricalHyperParameterRanges",
          "traits": {
            "smithy.api#documentation": "<p>The categorical hyperparameters and their default ranges.</p>"
          }
        },
        "continuousHyperParameterRanges": {
          "target": "com.amazonaws.personalize#DefaultContinuousHyperParameterRanges",
          "traits": {
            "smithy.api#documentation": "<p>The continuous hyperparameters and their default ranges.</p>"
          }
        },
        "integerHyperParameterRanges": {
          "target": "com.amazonaws.personalize#DefaultIntegerHyperParameterRanges",
          "traits": {
            "smithy.api#documentation": "<p>The integer-valued hyperparameters and their default ranges.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the hyperparameters and their default ranges.\n    Hyperparameters can be categorical, continuous, or integer-valued.</p>"
      }
    },
    "com.amazonaws.personalize#DefaultIntegerHyperParameterRange": {
      "type": "structure",
      "members": {
        "isTunable": {
          "target": "com.amazonaws.personalize#Tunable",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the hyperparameter is tunable.</p>"
          }
        },
        "maxValue": {
          "target": "com.amazonaws.personalize#IntegerMaxValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowable value for the hyperparameter.</p>"
          }
        },
        "minValue": {
          "target": "com.amazonaws.personalize#IntegerMinValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum allowable value for the hyperparameter.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and default range of a integer-valued hyperparameter\n      and whether the hyperparameter is tunable. A tunable hyperparameter can\n      have its value determined during hyperparameter optimization (HPO).</p>"
      }
    },
    "com.amazonaws.personalize#DefaultIntegerHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#DefaultIntegerHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#DeleteCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteCampaignRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a campaign by deleting the solution deployment. The solution that\n      the campaign is based on is not deleted and can be redeployed when needed. A deleted campaign can no\n      longer be specified in a\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a>\n      request.\n      For more information on campaigns, see <a>CreateCampaign</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteCampaignRequest": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteDatasetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset. You can't delete a dataset if an associated\n      <code>DatasetImportJob</code> or <code>SolutionVersion</code> is in the\n      CREATE PENDING or IN PROGRESS state. For more information on datasets, see\n      <a>CreateDataset</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteDatasetGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataset group. Before you delete a dataset group, you must delete\n      the following:</p>\n         <ul>\n            <li>\n               <p>All associated event trackers.</p>\n            </li>\n            <li>\n               <p>All associated solutions.</p>\n            </li>\n            <li>\n               <p>All datasets in the dataset group.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteDatasetGroupRequest": {
      "type": "structure",
      "members": {
        "datasetGroupArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DeleteEventTracker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteEventTrackerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the event tracker. Does not delete the event-interactions dataset from\n        the associated dataset group. For more\n        information on event trackers, see <a>CreateEventTracker</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteEventTrackerRequest": {
      "type": "structure",
      "members": {
        "eventTrackerArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event tracker to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DeleteSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteSchemaRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a schema. Before deleting a schema, you must delete all\n      datasets referencing the schema. For more information on schemas, see\n      <a>CreateSchema</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteSchemaRequest": {
      "type": "structure",
      "members": {
        "schemaArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the schema to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DeleteSolution": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DeleteSolutionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of a solution and the <code>Solution</code> object itself.\n      Before deleting a solution, you must delete all campaigns based on\n      the solution. To determine what campaigns are using the solution, call\n      <a>ListCampaigns</a> and supply the Amazon Resource Name (ARN) of the solution.\n      You can't delete a solution if an associated <code>SolutionVersion</code> is in the\n      CREATE PENDING or IN PROGRESS state.\n      For more information on solutions, see <a>CreateSolution</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DeleteSolutionRequest": {
      "type": "structure",
      "members": {
        "solutionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the solution to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.personalize#DescribeAlgorithm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#DescribeAlgorithmRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#DescribeAlgorithmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the given algorithm.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#DescribeAlgorithmRequest": {
      "type": "structure",
      "members": {
        "algorithmArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
[...]
