{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.personalize#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.personalize#Algorithm": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm.</p>"
          }
        },
        "algorithmArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>"
          }
        },
        "algorithmImage": {
          "target": "com.amazonaws.personalize#AlgorithmImage",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Docker container for the algorithm image.</p>"
          }
        },
        "defaultHyperParameters": {
          "target": "com.amazonaws.personalize#HyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default hyperparameters.</p>"
          }
        },
        "defaultHyperParameterRanges": {
          "target": "com.amazonaws.personalize#DefaultHyperParameterRanges",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default hyperparameters, their ranges, and whether they\n      are tunable. A tunable hyperparameter can\n      have its value determined during hyperparameter optimization (HPO).</p>"
          }
        },
        "defaultResourceConfig": {
          "target": "com.amazonaws.personalize#ResourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the default maximum number of training jobs and parallel training jobs.</p>"
          }
        },
        "trainingInputMode": {
          "target": "com.amazonaws.personalize#TrainingInputMode",
          "traits": {
            "smithy.api#documentation": "<p>The training input mode.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the algorithm was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the algorithm was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a custom algorithm.</p>"
      }
    },
    "com.amazonaws.personalize#AlgorithmImage": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the algorithm image.</p>"
          }
        },
        "dockerURI": {
          "target": "com.amazonaws.personalize#DockerURI",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an algorithm image.</p>"
      }
    },
    "com.amazonaws.personalize#AmazonPersonalize": {
      "type": "service",
      "version": "2018-05-22",
      "operations": [
        {
          "target": "com.amazonaws.personalize#CreateBatchInferenceJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateBatchSegmentJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateCampaign"
        },
        {
          "target": "com.amazonaws.personalize#CreateDataset"
        },
        {
          "target": "com.amazonaws.personalize#CreateDatasetExportJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#CreateDatasetImportJob"
        },
        {
          "target": "com.amazonaws.personalize#CreateEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#CreateFilter"
        },
        {
          "target": "com.amazonaws.personalize#CreateMetricAttribution"
        },
        {
          "target": "com.amazonaws.personalize#CreateRecommender"
        },
        {
          "target": "com.amazonaws.personalize#CreateSchema"
        },
        {
          "target": "com.amazonaws.personalize#CreateSolution"
        },
        {
          "target": "com.amazonaws.personalize#CreateSolutionVersion"
        },
        {
          "target": "com.amazonaws.personalize#DeleteCampaign"
        },
        {
          "target": "com.amazonaws.personalize#DeleteDataset"
        },
        {
          "target": "com.amazonaws.personalize#DeleteDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#DeleteEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#DeleteFilter"
        },
        {
          "target": "com.amazonaws.personalize#DeleteMetricAttribution"
        },
        {
          "target": "com.amazonaws.personalize#DeleteRecommender"
        },
        {
          "target": "com.amazonaws.personalize#DeleteSchema"
        },
        {
          "target": "com.amazonaws.personalize#DeleteSolution"
        },
        {
          "target": "com.amazonaws.personalize#DescribeAlgorithm"
        },
        {
          "target": "com.amazonaws.personalize#DescribeBatchInferenceJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeBatchSegmentJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeCampaign"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDataset"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDatasetExportJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDatasetGroup"
        },
        {
          "target": "com.amazonaws.personalize#DescribeDatasetImportJob"
        },
        {
          "target": "com.amazonaws.personalize#DescribeEventTracker"
        },
        {
          "target": "com.amazonaws.personalize#DescribeFeatureTransformation"
        },
        {
          "target": "com.amazonaws.personalize#DescribeFilter"
        },
        {
          "target": "com.amazonaws.personalize#DescribeMetricAttribution"
        },
        {
          "target": "com.amazonaws.personalize#DescribeRecipe"
        },
        {
          "target": "com.amazonaws.personalize#DescribeRecommender"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSchema"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSolution"
        },
        {
          "target": "com.amazonaws.personalize#DescribeSolutionVersion"
        },
        {
          "target": "com.amazonaws.personalize#GetSolutionMetrics"
        },
        {
          "target": "com.amazonaws.personalize#ListBatchInferenceJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListBatchSegmentJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListCampaigns"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasetExportJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasetGroups"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasetImportJobs"
        },
        {
          "target": "com.amazonaws.personalize#ListDatasets"
        },
        {
          "target": "com.amazonaws.personalize#ListEventTrackers"
        },
        {
          "target": "com.amazonaws.personalize#ListFilters"
        },
        {
          "target": "com.amazonaws.personalize#ListMetricAttributionMetrics"
        },
        {
          "target": "com.amazonaws.personalize#ListMetricAttributions"
        },
        {
          "target": "com.amazonaws.personalize#ListRecipes"
        },
        {
          "target": "com.amazonaws.personalize#ListRecommenders"
        },
        {
          "target": "com.amazonaws.personalize#ListSchemas"
        },
        {
          "target": "com.amazonaws.personalize#ListSolutions"
        },
        {
          "target": "com.amazonaws.personalize#ListSolutionVersions"
        },
        {
          "target": "com.amazonaws.personalize#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.personalize#StartRecommender"
        },
        {
          "target": "com.amazonaws.personalize#StopRecommender"
        },
        {
          "target": "com.amazonaws.personalize#StopSolutionVersionCreation"
        },
        {
          "target": "com.amazonaws.personalize#TagResource"
        },
        {
          "target": "com.amazonaws.personalize#UntagResource"
        },
        {
          "target": "com.amazonaws.personalize#UpdateCampaign"
        },
        {
          "target": "com.amazonaws.personalize#UpdateMetricAttribution"
        },
        {
          "target": "com.amazonaws.personalize#UpdateRecommender"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Personalize",
          "arnNamespace": "personalize",
          "cloudFormationName": "Personalize",
          "cloudTrailEventSource": "personalize.amazonaws.com",
          "endpointPrefix": "personalize"
        },
        "aws.auth#sigv4": {
          "name": "personalize"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Personalize is a machine learning service that makes it easy to add individualized\n      recommendations to customers.</p>",
        "smithy.api#title": "Amazon Personalize",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://personalize-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://personalize-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://personalize.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://personalize.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://personalize.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.personalize#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:([a-z\\d-]+):personalize:.*:.*:.+$"
      }
    },
    "com.amazonaws.personalize#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#AutoMLConfig": {
      "type": "structure",
      "members": {
        "metricName": {
          "target": "com.amazonaws.personalize#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric to optimize.</p>"
          }
        },
        "recipeList": {
          "target": "com.amazonaws.personalize#ArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of candidate recipes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>), Amazon Personalize\n      determines which recipe, from the specified list, optimizes the given metric.\n      Amazon Personalize then uses that recipe for the solution.</p>"
      }
    },
    "com.amazonaws.personalize#AutoMLResult": {
      "type": "structure",
      "members": {
        "bestRecipeArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the best recipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateSolution.html\">CreateSolution</a>), specifies the recipe that best optimized the\n      specified metric.</p>"
      }
    },
    "com.amazonaws.personalize#AvroSchema": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.personalize#BatchInferenceJob": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job.</p>"
          }
        },
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>"
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the filter used on the batch inference job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch inference job failed, the reason for the failure.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version from which the batch inference job\n      was created.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of recommendations generated by the batch inference job. This number includes\n      the error messages generated for failed input records.</p>"
          }
        },
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch inference\n      job.</p>"
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch inference job.</p>"
          }
        },
        "batchInferenceJobConfig": {
          "target": "com.amazonaws.personalize#BatchInferenceJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>A string to string map of the configuration details of a batch inference job.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch inference job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch inference job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobConfig": {
      "type": "structure",
      "members": {
        "itemExplorationConfig": {
          "target": "com.amazonaws.personalize#HyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>A string to string map specifying the exploration configuration hyperparameters, including <code>explorationWeight</code> and \n      <code>explorationItemAgeCutOff</code>, you want to use to configure the amount of item exploration Amazon Personalize uses when\n      recommending items. \n      See <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/native-recipe-new-item-USER_PERSONALIZATION.html\">User-Personalization</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details of a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobInput": {
      "type": "structure",
      "members": {
        "s3DataSource": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the Amazon S3 location that contains your input data. The Amazon S3 bucket must be in the\n      same region as the API endpoint you are calling.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input configuration of a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobOutput": {
      "type": "structure",
      "members": {
        "s3DataDestination": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information on the Amazon S3 bucket in which the batch inference job's output is stored.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output configuration parameters of a batch inference job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobSummary": {
      "type": "structure",
      "members": {
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch inference job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch inference job was last updated.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch inference job failed, the reason for the failure.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the solution version used by the batch inference job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A truncated version of the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_BatchInferenceJob.html\">BatchInferenceJob</a>. The \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListBatchInferenceJobs.html\">ListBatchInferenceJobs</a> operation returns a list of batch inference job\n      summaries.</p>"
      }
    },
    "com.amazonaws.personalize#BatchInferenceJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#BatchInferenceJobSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#BatchSegmentJob": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch segment job.</p>"
          }
        },
        "batchSegmentJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch segment job.</p>"
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the filter used on the batch segment job.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch segment job failed, the reason for the failure.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version used by the batch segment job to generate batch segments.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of predicted users generated by the batch segment job for each line of input data.</p>"
          }
        },
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchSegmentJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch segment job.</p>"
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchSegmentJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch segment job.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch segment job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch segment job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch segment job was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch segment job last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on a batch segment job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchSegmentJobInput": {
      "type": "structure",
      "members": {
        "s3DataSource": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input configuration of a batch segment job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchSegmentJobOutput": {
      "type": "structure",
      "members": {
        "s3DataDestination": {
          "target": "com.amazonaws.personalize#S3DataConfig",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output configuration parameters of a batch segment job.</p>"
      }
    },
    "com.amazonaws.personalize#BatchSegmentJobSummary": {
      "type": "structure",
      "members": {
        "batchSegmentJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the batch segment job.</p>"
          }
        },
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch segment job.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the batch segment job. The status is one of the following values:</p>\n         <ul>\n            <li>\n               <p>PENDING</p>\n            </li>\n            <li>\n               <p>IN PROGRESS</p>\n            </li>\n            <li>\n               <p>ACTIVE</p>\n            </li>\n            <li>\n               <p>CREATE FAILED</p>\n            </li>\n         </ul>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch segment job was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the batch segment job was last updated.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If the batch segment job failed, the reason for the failure.</p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version used by the batch segment job to generate batch segments.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A truncated version of the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_BatchSegmentJob.html\">BatchSegmentJob</a> datatype. \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListBatchSegmentJobs.html\">ListBatchSegmentJobs</a> operation returns a list of batch segment job\n      summaries.</p>"
      }
    },
    "com.amazonaws.personalize#BatchSegmentJobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#BatchSegmentJobSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.personalize#Campaign": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the campaign.</p>"
          }
        },
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign. </p>"
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a specific version of the solution.</p>"
          }
        },
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second.</p>"
          }
        },
        "campaignConfig": {
          "target": "com.amazonaws.personalize#CampaignConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of a campaign.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign.</p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign fails, the reason behind the failure.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix format) that the campaign was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix format) that the campaign was last updated.</p>"
          }
        },
        "latestCampaignUpdate": {
          "target": "com.amazonaws.personalize#CampaignUpdateSummary"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes the deployment of a solution version.\n      For more information on campaigns, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateCampaign.html\">CreateCampaign</a>.</p>"
      }
    },
    "com.amazonaws.personalize#CampaignConfig": {
      "type": "structure",
      "members": {
        "itemExplorationConfig": {
          "target": "com.amazonaws.personalize#HyperParameters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the exploration configuration hyperparameters, including <code>explorationWeight</code> and \n      <code>explorationItemAgeCutOff</code>, you want to use to configure the amount of item exploration Amazon Personalize uses when\n      recommending items. Provide <code>itemExplorationConfig</code> data only if your solution uses the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/native-recipe-new-item-USER_PERSONALIZATION.html\">User-Personalization</a> recipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details of a campaign.</p>"
      }
    },
    "com.amazonaws.personalize#CampaignSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the campaign.</p>"
          }
        },
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign.</p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign was last updated.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign fails, the reason behind the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a campaign. For a complete listing, call the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#CampaignUpdateSummary": {
      "type": "structure",
      "members": {
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deployed solution version.</p>"
          }
        },
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that\n      Amazon Personalize will support.</p>"
          }
        },
        "campaignConfig": {
          "target": "com.amazonaws.personalize#CampaignConfig"
        },
        "status": {
          "target": "com.amazonaws.personalize#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the campaign update.</p>\n         <p>A campaign update can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.personalize#FailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If a campaign update fails, the reason behind the failure.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign update was created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.personalize#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (in Unix time) that the campaign update was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of the properties of a campaign update. For a complete listing, call the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a> API.</p>"
      }
    },
    "com.amazonaws.personalize#Campaigns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CampaignSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#CategoricalHyperParameterRange": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        },
        "values": {
          "target": "com.amazonaws.personalize#CategoricalValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of the categories for the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and range of a categorical hyperparameter.</p>"
      }
    },
    "com.amazonaws.personalize#CategoricalHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CategoricalHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#CategoricalValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.personalize#CategoricalValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#CategoricalValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#ContinuousHyperParameterRange": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the hyperparameter.</p>"
          }
        },
        "minValue": {
          "target": "com.amazonaws.personalize#ContinuousMinValue",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum allowable value for the hyperparameter.</p>"
          }
        },
        "maxValue": {
          "target": "com.amazonaws.personalize#ContinuousMaxValue",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum allowable value for the hyperparameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the name and range of a continuous hyperparameter.</p>"
      }
    },
    "com.amazonaws.personalize#ContinuousHyperParameterRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalize#ContinuousHyperParameterRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalize#ContinuousMaxValue": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": -1000000
        }
      }
    },
    "com.amazonaws.personalize#ContinuousMinValue": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": -1000000
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateBatchInferenceJobRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateBatchInferenceJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch inference job. The operation can handle up to 50 million records and the\n      input file must be in JSON format. For more information, see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/creating-batch-inference-job.html\">Creating a batch inference job</a>.\n    </p>"
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch inference job to create.</p>",
            "smithy.api#required": {}
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version that will be used to generate the\n      batch inference recommendations.</p>",
            "smithy.api#required": {}
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the filter to apply to the batch inference job. For more information on using\n      filters, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter-batch.html\">Filtering batch recommendations</a>.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of recommendations to retrieve.</p>"
          }
        },
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path that leads to the input file to base your recommendations on. The input\n      material must be in JSON format.</p>",
            "smithy.api#required": {}
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchInferenceJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 bucket where the job's output will be stored.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and output\n      Amazon S3 buckets respectively.</p>",
            "smithy.api#required": {}
          }
        },
        "batchInferenceJobConfig": {
          "target": "com.amazonaws.personalize#BatchInferenceJobConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of a batch inference job.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.personalize#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the batch inference job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchInferenceJobResponse": {
      "type": "structure",
      "members": {
        "batchInferenceJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch inference job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchSegmentJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateBatchSegmentJobRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateBatchSegmentJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a batch segment job. The operation can handle up to 50 million records and the\n      input file must be in JSON format. For more information, see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/recommendations-batch.html\">Getting batch recommendations and user segments</a>.</p>"
      }
    },
    "com.amazonaws.personalize#CreateBatchSegmentJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the batch segment job to create.</p>",
            "smithy.api#required": {}
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version you want the batch segment job to use to generate\n      batch segments.</p>",
            "smithy.api#required": {}
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the filter to apply to the batch segment job. For more information on using\n      filters, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter-batch.html\">Filtering batch recommendations</a>.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalize#NumBatchResults",
          "traits": {
            "smithy.api#documentation": "<p>The number of predicted users generated by the batch segment job for each line of input data.</p>"
          }
        },
        "jobInput": {
          "target": "com.amazonaws.personalize#BatchSegmentJobInput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path for the input data used to generate the batch segment job.</p>",
            "smithy.api#required": {}
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#BatchSegmentJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path for the bucket where the job's output will be stored.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and output\n      Amazon S3 buckets respectively.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.personalize#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the batch segment job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateBatchSegmentJobResponse": {
      "type": "structure",
      "members": {
        "batchSegmentJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the batch segment job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateCampaignRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateCampaignResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a campaign that deploys a solution version. When a client calls the\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a>\n      and\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetPersonalizedRanking.html\">GetPersonalizedRanking</a>\n      APIs, a campaign is specified in the request.</p>\n\n         <p>\n            <b>Minimum Provisioned TPS and Auto-Scaling</b>\n         </p>\n    \n         <p>A transaction is a single <code>GetRecommendations</code> or\n       <code>GetPersonalizedRanking</code> call. Transactions per second (TPS) is the throughput\n       and unit of billing for Amazon Personalize. The minimum provisioned TPS\n       (<code>minProvisionedTPS</code>) specifies the baseline throughput provisioned by\n       Amazon Personalize, and thus, the minimum billing charge. \n    </p>\n         <p>\n       If your TPS increases beyond\n       <code>minProvisionedTPS</code>, Amazon Personalize auto-scales the provisioned capacity up and down,\n       but never below <code>minProvisionedTPS</code>.\n       There's a short time delay while the capacity is increased that might cause loss of\n       transactions.</p>\n         <p>The actual TPS used is calculated as the average requests/second within a 5-minute window.\n      You pay for maximum of either the minimum provisioned TPS or the actual TPS.\n      We recommend starting with a low <code>minProvisionedTPS</code>, track\n       your usage using Amazon CloudWatch metrics, and then increase the <code>minProvisionedTPS</code>\n       as necessary.</p>\n\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A campaign can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the campaign status, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a>.</p>\n         <note>\n            <p>Wait until the <code>status</code> of the campaign\n        is <code>ACTIVE</code> before asking the campaign for recommendations.</p>\n         </note>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListCampaigns.html\">ListCampaigns</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeCampaign.html\">DescribeCampaign</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UpdateCampaign.html\">UpdateCampaign</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteCampaign.html\">DeleteCampaign</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateCampaignRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the new campaign. The campaign name must be unique within your account.</p>",
            "smithy.api#required": {}
          }
        },
        "solutionVersionArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the solution version to deploy.</p>",
            "smithy.api#required": {}
          }
        },
        "minProvisionedTPS": {
          "target": "com.amazonaws.personalize#TransactionsPerSecond",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that\n      Amazon Personalize will support.</p>"
          }
        },
        "campaignConfig": {
          "target": "com.amazonaws.personalize#CampaignConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details of a campaign.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.personalize#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the campaign.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateCampaignResponse": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty dataset and adds it to the specified dataset group.\n      Use <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetImportJob.html\">CreateDatasetImportJob</a> to import your training data to a\n      dataset.</p>\n\n         <p>There are three types of datasets:</p>\n         <ul>\n            <li>\n               <p>Interactions</p>\n            </li>\n            <li>\n               <p>Items</p>\n            </li>\n            <li>\n               <p>Users</p>\n            </li>\n         </ul>\n         <p>Each dataset type has an associated schema with required field types.\n      Only the <code>Interactions</code> dataset is required in order to train a\n      model (also referred to as creating a solution).</p>\n         <p>A dataset can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE\n          FAILED</p>\n            </li>\n            <li>\n               <p>DELETE PENDING > DELETE IN_PROGRESS</p>\n            </li>\n         </ul>\n         <p>To get the status of the dataset, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDataset.html\">DescribeDataset</a>.</p>\n         <p class=\"title\">\n            <b>Related APIs</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_CreateDatasetGroup.html\">CreateDatasetGroup</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_ListDatasets.html\">ListDatasets</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDataset.html\">DescribeDataset</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DeleteDataset.html\">DeleteDataset</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateDatasetExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a job that exports data from your dataset to an Amazon S3 bucket.\n      To allow Amazon Personalize to export the training data, you must specify an\n      service-linked IAM role that gives Amazon Personalize <code>PutObject</code>\n      permissions for your Amazon S3 bucket. For information, see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/export-data.html\">Exporting a dataset</a> in the Amazon Personalize developer guide. </p>\n         <p>\n            <b>Status</b>\n         </p>\n         <p>A dataset export job can be in one of the following states:</p>\n         <ul>\n            <li>\n               <p>CREATE PENDING > CREATE IN_PROGRESS > ACTIVE -or- CREATE\n          FAILED</p>\n            </li>\n         </ul>\n         <p> To get the status of the export job, call <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_DescribeDatasetExportJob.html\">DescribeDatasetExportJob</a>, and specify the Amazon Resource Name\n      (ARN) of the dataset export job. The dataset export is complete when the\n      status shows as ACTIVE. If the status shows as CREATE FAILED, the response\n      includes a <code>failureReason</code> key, which describes why the job\n      failed. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalize#CreateDatasetExportJobRequest": {
      "type": "structure",
      "members": {
        "jobName": {
          "target": "com.amazonaws.personalize#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the dataset export job.</p>",
            "smithy.api#required": {}
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset that contains the data\n      to export.</p>",
            "smithy.api#required": {}
          }
        },
        "ingestionMode": {
          "target": "com.amazonaws.personalize#IngestionMode",
          "traits": {
            "smithy.api#documentation": "<p>The data to export, based on how you imported the data. You can choose\n      to export only <code>BULK</code> data that you imported using a dataset\n      import job, only <code>PUT</code> data that you imported incrementally\n      (using the console, PutEvents, PutUsers and PutItems operations), or\n        <code>ALL</code> for both types. The default value is <code>PUT</code>.\n    </p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.personalize#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that has\n      permissions to add data to your output Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "jobOutput": {
          "target": "com.amazonaws.personalize#DatasetExportJobOutput",
          "traits": {
            "smithy.api#documentation": "<p>The path to the Amazon S3 bucket where the job's output is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.personalize#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/personalize/latest/dev/tagging-resources.html\">tags</a> to apply to the dataset export job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetExportJobResponse": {
      "type": "structure",
      "members": {
        "datasetExportJobArn": {
          "target": "com.amazonaws.personalize#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset export job.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalize#CreateDatasetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalize#CreateDatasetGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.personalize#CreateDatasetGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalize#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalize#LimitExceededException"
        },
        {
          "target": "com.amazonaws.personalize#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.personalize#TooManyTagsException"
        }
      ],
      "traits": {
[...]
