{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.personalizeruntime#AmazonPersonalizeRuntime": {
      "type": "service",
      "version": "2018-05-22",
      "operations": [
        {
          "target": "com.amazonaws.personalizeruntime#GetPersonalizedRanking"
        },
        {
          "target": "com.amazonaws.personalizeruntime#GetRecommendations"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Personalize Runtime",
          "arnNamespace": "personalize",
          "cloudFormationName": "PersonalizeRuntime",
          "cloudTrailEventSource": "personalizeruntime.amazonaws.com",
          "endpointPrefix": "personalize-runtime"
        },
        "aws.auth#sigv4": {
          "name": "personalize"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p></p>",
        "smithy.api#title": "Amazon Personalize Runtime",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://personalize-runtime-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://personalize-runtime-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://personalize-runtime.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://personalize-runtime.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.personalizeruntime#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:([a-z\\d-]+):personalize:.*:.*:.+$"
      }
    },
    "com.amazonaws.personalizeruntime#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 150
        },
        "smithy.api#pattern": "^[A-Za-z\\d_]+$"
      }
    },
    "com.amazonaws.personalizeruntime#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.personalizeruntime#Context": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.personalizeruntime#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.personalizeruntime#AttributeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 150
        }
      }
    },
    "com.amazonaws.personalizeruntime#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.personalizeruntime#FilterAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        },
        "smithy.api#pattern": "^[A-Za-z0-9_]+$"
      }
    },
    "com.amazonaws.personalizeruntime#FilterAttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.personalizeruntime#FilterValues": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.personalizeruntime#FilterAttributeName"
      },
      "value": {
        "target": "com.amazonaws.personalizeruntime#FilterAttributeValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.personalizeruntime#GetPersonalizedRanking": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalizeruntime#GetPersonalizedRankingRequest"
      },
      "output": {
        "target": "com.amazonaws.personalizeruntime#GetPersonalizedRankingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalizeruntime#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalizeruntime#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Re-ranks a list of recommended items for the given user. The first item in the list is\n      deemed the most likely item to be of interest to the user.</p>\n         <note>\n            <p>The solution backing the campaign must have been created using a recipe of type\n        PERSONALIZED_RANKING.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/personalize-ranking",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalizeruntime#GetPersonalizedRankingRequest": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign to use for generating the personalized\n      ranking.</p>",
            "smithy.api#required": {}
          }
        },
        "inputList": {
          "target": "com.amazonaws.personalizeruntime#InputList",
          "traits": {
            "smithy.api#documentation": "<p>A list of items (by <code>itemId</code>) to rank. If an item was not included in the training dataset,\n      the item is appended to the end of the reranked list. The maximum is 500.</p>",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.personalizeruntime#UserID",
          "traits": {
            "smithy.api#documentation": "<p>The user for which you want the campaign to provide a personalized ranking.</p>",
            "smithy.api#required": {}
          }
        },
        "context": {
          "target": "com.amazonaws.personalizeruntime#Context",
          "traits": {
            "smithy.api#documentation": "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes\n      any interaction information that might be relevant when getting a user's recommendations, such\n      as the user's current location or device type.</p>"
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a filter you created to include items or exclude items from recommendations for a given user. \n      For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>"
          }
        },
        "filterValues": {
          "target": "com.amazonaws.personalizeruntime#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case)\n      as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma.\n    </p> \n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n      you must provide values for all parameters that are defined in the expression. For\n      filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of\n      the expression to filter recommendations.</p>\n         <p>For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalizeruntime#GetPersonalizedRankingResponse": {
      "type": "structure",
      "members": {
        "personalizedRanking": {
          "target": "com.amazonaws.personalizeruntime#ItemList",
          "traits": {
            "smithy.api#documentation": "<p>A list of items in order of most likely interest to the user. The maximum is 500.</p>"
          }
        },
        "recommendationId": {
          "target": "com.amazonaws.personalizeruntime#RecommendationID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the recommendation.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalizeruntime#GetRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.personalizeruntime#GetRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.personalizeruntime#GetRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.personalizeruntime#InvalidInputException"
        },
        {
          "target": "com.amazonaws.personalizeruntime#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of recommended items. For campaigns, the campaign's Amazon Resource Name (ARN) is required and the required user and item input depends on the recipe type used to\n      create the solution backing the campaign as follows:</p>\n         <ul>\n            <li>\n               <p>USER_PERSONALIZATION - <code>userId</code> required, <code>itemId</code> not used</p>\n            </li>\n            <li>\n               <p>RELATED_ITEMS - <code>itemId</code> required, <code>userId</code> not used</p>\n            </li>\n         </ul>\n         <note>\n            <p>Campaigns that are backed by a solution created using a recipe of type\n        PERSONALIZED_RANKING use the  API.</p>\n         </note>\n         <p>\n      For recommenders, the recommender's ARN is required and the required item and user input depends on the use case (domain-based recipe) backing the recommender.\n      For information on use case requirements see <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/domain-use-cases.html\">Choosing recommender use cases</a>.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recommendations",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.personalizeruntime#GetRecommendationsRequest": {
      "type": "structure",
      "members": {
        "campaignArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign to use for getting recommendations.</p>"
          }
        },
        "itemId": {
          "target": "com.amazonaws.personalizeruntime#ItemID",
          "traits": {
            "smithy.api#documentation": "<p>The item ID to provide recommendations for.</p>\n         <p>Required for <code>RELATED_ITEMS</code> recipe type.</p>"
          }
        },
        "userId": {
          "target": "com.amazonaws.personalizeruntime#UserID",
          "traits": {
            "smithy.api#documentation": "<p>The user ID to provide recommendations for.</p>\n         <p>Required for <code>USER_PERSONALIZATION</code> recipe type.</p>"
          }
        },
        "numResults": {
          "target": "com.amazonaws.personalizeruntime#NumResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of results to return. The default is 25. The maximum is 500.</p>"
          }
        },
        "context": {
          "target": "com.amazonaws.personalizeruntime#Context",
          "traits": {
            "smithy.api#documentation": "<p>The contextual metadata to use when getting recommendations. Contextual metadata includes\n      any interaction information that might be relevant when getting a user's recommendations, such\n      as the user's current location or device type.</p>"
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the filter to apply to the returned recommendations. For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering Recommendations</a>.</p>\n         <p>When using this parameter, be sure the filter resource is <code>ACTIVE</code>.</p>"
          }
        },
        "filterValues": {
          "target": "com.amazonaws.personalizeruntime#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The values to use when filtering recommendations. For each placeholder parameter in your filter expression, provide the parameter name (in matching case)\n      as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma.\n    </p> \n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n    you must provide values for all parameters that are defined in the expression. For\n    filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>.In this case, Amazon Personalize doesn't use that portion of\n    the expression to filter recommendations.</p>\n         <p>For more information, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>"
          }
        },
        "recommenderArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the recommender to use to get recommendations. Provide a recommender ARN if you\n    created a Domain dataset group with a recommender for a domain use case.</p>"
          }
        },
        "promotions": {
          "target": "com.amazonaws.personalizeruntime#PromotionList",
          "traits": {
            "smithy.api#documentation": "<p>The promotions to apply to the recommendation request. \n      A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalizeruntime#GetRecommendationsResponse": {
      "type": "structure",
      "members": {
        "itemList": {
          "target": "com.amazonaws.personalizeruntime#ItemList",
          "traits": {
            "smithy.api#documentation": "<p>A list of recommendations sorted in descending order by prediction score. There can be a\n      maximum of 500 items in the list.</p>"
          }
        },
        "recommendationId": {
          "target": "com.amazonaws.personalizeruntime#RecommendationID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the recommendation.</p>"
          }
        }
      }
    },
    "com.amazonaws.personalizeruntime#InputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalizeruntime#ItemID"
      }
    },
    "com.amazonaws.personalizeruntime#InvalidInputException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.personalizeruntime#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provide a valid value for the field or parameter.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.personalizeruntime#ItemID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.personalizeruntime#ItemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalizeruntime#PredictedItem"
      }
    },
    "com.amazonaws.personalizeruntime#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
      }
    },
    "com.amazonaws.personalizeruntime#NumResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.personalizeruntime#PercentPromotedItems": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.personalizeruntime#PredictedItem": {
      "type": "structure",
      "members": {
        "itemId": {
          "target": "com.amazonaws.personalizeruntime#ItemID",
          "traits": {
            "smithy.api#documentation": "<p>The recommended item ID.</p>"
          }
        },
        "score": {
          "target": "com.amazonaws.personalizeruntime#Score",
          "traits": {
            "smithy.api#documentation": "<p>A numeric representation of the model's certainty that the item will be the next user\n      selection. For more information on scoring logic, see <a>how-scores-work</a>.</p>"
          }
        },
        "promotionName": {
          "target": "com.amazonaws.personalizeruntime#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the promotion that included the predicted item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that identifies an item.</p>\n         <p>The  and  APIs return a list of\n      <code>PredictedItem</code>s.</p>"
      }
    },
    "com.amazonaws.personalizeruntime#Promotion": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.personalizeruntime#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the promotion.</p>"
          }
        },
        "percentPromotedItems": {
          "target": "com.amazonaws.personalizeruntime#PercentPromotedItems",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The percentage of recommended items to apply the promotion to.</p>"
          }
        },
        "filterArn": {
          "target": "com.amazonaws.personalizeruntime#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the filter used by the promotion. This filter defines the criteria for promoted items. For more information, see \n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/promoting-items.html#promotion-filters\">Promotion filters</a>.</p>"
          }
        },
        "filterValues": {
          "target": "com.amazonaws.personalizeruntime#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The values to use when promoting items.\n      For each placeholder parameter in your promotion's filter expression, provide the parameter name (in matching case) as a key and the filter value(s) as the corresponding value. Separate multiple values for one parameter with a comma. \n    </p>\n         <p>For filter expressions that use an <code>INCLUDE</code> element to include items,\n      you must provide values for all parameters that are defined in the expression. For\n      filters with expressions that use an <code>EXCLUDE</code> element to exclude items, you\n      can omit the <code>filter-values</code>. In this case, Amazon Personalize doesn't use that portion of\n      the expression to filter recommendations.</p>\n         <p>For more information on creating filters, see\n      <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/filter.html\">Filtering recommendations and user segments</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on a promotion. A promotion defines additional business rules that apply to a configurable subset of recommended items.</p>"
      }
    },
    "com.amazonaws.personalizeruntime#PromotionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.personalizeruntime#Promotion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.personalizeruntime#RecommendationID": {
      "type": "string"
    },
    "com.amazonaws.personalizeruntime#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.personalizeruntime#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.personalizeruntime#Score": {
      "type": "double"
    },
    "com.amazonaws.personalizeruntime#UserID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    }
  }
}