{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.pi#DataPoint": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in epoch format, associated with a particular <code>Value</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.pi#Double",
          "traits": {
            "smithy.api#documentation": "<p>The actual value associated with a particular <code>Timestamp</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A timestamp, and a single numerical value, which together represent a measurement at a particular point in time.</p>"
      }
    },
    "com.amazonaws.pi#DataPointsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#DataPoint"
      }
    },
    "com.amazonaws.pi#DescribeDimensionKeys": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pi#DescribeDimensionKeysRequest"
      },
      "output": {
        "target": "com.amazonaws.pi#DescribeDimensionKeysResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pi#InternalServiceError"
        },
        {
          "target": "com.amazonaws.pi#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.pi#NotAuthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For a specific time period, retrieve the top <code>N</code> dimension keys for a\n      metric.</p>\n         <note>\n            <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, \n        only the first 500 bytes are returned.</p>\n         </note>"
      }
    },
    "com.amazonaws.pi#DescribeDimensionKeysRequest": {
      "type": "structure",
      "members": {
        "ServiceType": {
          "target": "com.amazonaws.pi#ServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service for which Performance Insights will return metrics. The only valid value for <i>ServiceType</i> is\n        <code>RDS</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from\n      this data source.</p>\n         <p>To use an Amazon RDS instance as a data source, you specify its <code>DbiResourceId</code> value. For example,\n      specify <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time specifying the beginning of the requested time series data. You must specify a\n        <code>StartTime</code> within the past 7 days. The value specified is <i>inclusive</i>, which means\n      that data points equal to or greater than <code>StartTime</code> are returned.</p>\n         <p>The value for <code>StartTime</code> must be earlier than the value for\n        <code>EndTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time specifying the end of the requested time series data. The value specified is\n        <i>exclusive</i>, which means that data points less than (but not equal to) <code>EndTime</code> are\n      returned.</p>\n         <p>The value for <code>EndTime</code> must be later than the value for\n        <code>StartTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Metric": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a Performance Insights metric to be measured.</p>\n         <p>Valid values for <code>Metric</code> are:</p>\n     \n         <ul>\n            <li>\n               <p>\n                  <code>db.load.avg</code> - a scaled representation of the number of active sessions\n          for the database engine.</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sampledload.avg</code> - the raw number of active sessions for the\n          database engine.</p>\n            </li>\n         </ul>\n         <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> \n          are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> \n          showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. \n          For most use cases, you can query <code>db.load.avg</code> only. </p>",
            "smithy.api#required": {}
          }
        },
        "PeriodInSeconds": {
          "target": "com.amazonaws.pi#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as\n      one second, or as long as one day (86400 seconds).  Valid values are:</p>\n    \n        <ul>\n            <li>\n               <p>\n                  <code>1</code> (one second)</p>\n            </li>\n            <li>\n               <p>\n                  <code>60</code> (one minute)</p>\n            </li>\n            <li>\n               <p>\n                  <code>300</code> (five minutes)</p>\n            </li>\n            <li>\n               <p>\n                  <code>3600</code> (one hour)</p>\n            </li>\n            <li>\n               <p>\n                  <code>86400</code> (twenty-four hours)</p>\n            </li>\n         </ul>\n    \n         <p>If you don't specify <code>PeriodInSeconds</code>, then Performance Insights chooses a value for you, with a goal of returning\n      roughly 100-200 data points in the response.</p>"
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.pi#DimensionGroup",
          "traits": {
            "smithy.api#documentation": "<p>A specification for how to aggregate the data points from a query result. You must specify a valid dimension group.\n      Performance Insights returns all dimensions within this group, unless you provide the names of specific dimensions within this group.\n      You can also request that Performance Insights return a limited number of values for a dimension.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionBy": {
          "target": "com.amazonaws.pi#DimensionGroup",
          "traits": {
            "smithy.api#documentation": "<p>For each dimension specified in \n      <code>GroupBy</code>, specify a secondary dimension to further subdivide the partition keys in the response.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.pi#MetricQueryFilterMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to apply in the request.  Restrictions:</p>\n         <ul>\n            <li>\n               <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> or\n          <code>Partition</code> parameters.</p>\n            </li>\n            <li>\n               <p>A single filter for any other dimension in this dimension group.</p>\n            </li>\n         </ul>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pi#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in the response. \n      If more items exist than the specified <code>MaxRecords</code> value, a pagination \n      token is included in the response so that the remaining \n      results can be retrieved.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If\n      this parameter is specified, the response includes only records beyond the token, up to the\n      value specified by <code>MaxRecords</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.pi#DescribeDimensionKeysResponse": {
      "type": "structure",
      "members": {
        "AlignedStartTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the returned dimension keys, after alignment to a granular boundary (as\n      specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or\n      equal to the value of the user-specified <code>StartTime</code>.</p>"
          }
        },
        "AlignedEndTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the returned dimension keys, after alignment to a granular boundary (as\n      specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than\n      or equal to the value of the user-specified <code>Endtime</code>.</p>"
          }
        },
        "PartitionKeys": {
          "target": "com.amazonaws.pi#ResponsePartitionKeyList",
          "traits": {
            "smithy.api#documentation": "<p>If <code>PartitionBy</code> was present in the request, <code>PartitionKeys</code> contains the breakdown of dimension keys by the specified partitions.</p>"
          }
        },
        "Keys": {
          "target": "com.amazonaws.pi#DimensionKeyDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The dimension keys that were requested.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If\n      this parameter is specified, the response includes only records beyond the token, up to the\n      value specified by <code>MaxRecords</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.pi#DimensionGroup": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension group.  Valid values are:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <code>db</code> - The name of the database to which the client is connected (only Aurora PostgreSQL, RDS\n        PostgreSQL, Aurora MySQL, RDS MySQL, and MariaDB)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.application</code> - The name of the application that is connected to the database (only Aurora\n        PostgreSQL and RDS PostgreSQL)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.host</code> - The host name of the connected client (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.session_type</code> - The type of the current session (only Aurora PostgreSQL and RDS PostgreSQL)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql</code> - The SQL that is currently executing (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql_tokenized</code> - The SQL digest (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.wait_event</code> - The event for which the database backend is waiting  (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.wait_event_type</code> - The type of event for which the database backend is waiting (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.user</code> - The user logged in to the database (all engines)</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.pi#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific dimensions from a dimension group. If this parameter is not present,\n      then it signifies that all of the dimensions in the group were requested, or are present in\n      the response.</p>\n         <p>Valid values for elements in the <code>Dimensions</code> array are:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <code>db.application.name</code> - The name of the application that is connected to the database (only\n      Aurora PostgreSQL and RDS PostgreSQL)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.host.id</code> - The host ID of the connected client (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.host.name</code> - The host name of the connected client (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.name</code> - The name of the database to which the client is connected (only Aurora\n      PostgreSQL, RDS PostgreSQL, Aurora MySQL, RDS MySQL, and MariaDB)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.session_type.name</code> - The type of the current session (only Aurora PostgreSQL and RDS PostgreSQL)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql.id</code> - The SQL ID generated by Performance Insights (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql.db_id</code> - The SQL ID generated by the database (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql.statement</code> - The SQL text that is being executed (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql.tokenized_id</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql_tokenized.id</code> - The SQL digest ID generated by Performance Insights (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql_tokenized.db_id</code> - SQL digest ID generated by the database (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sql_tokenized.statement</code> - The SQL digest text (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.user.id</code> - The ID of the user logged in to the database (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.user.name</code> - The name of the user logged in to the database (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.wait_event.name</code> - The event for which the backend is waiting (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.wait_event.type</code> - The type of event for which the backend is waiting (all engines)</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.wait_event_type.name</code> - The name of the event type for which the backend is waiting (all\n      engines)</p>\n            </li>\n         </ul>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.pi#Limit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to fetch for this dimension group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A logical grouping of Performance Insights metrics for a related subject area. For example, the\n        <code>db.sql</code> dimension group consists of the following dimensions:\n        <code>db.sql.id</code>, <code>db.sql.db_id</code>, <code>db.sql.statement</code>, and\n        <code>db.sql.tokenized_id</code>.</p>\n         <note>\n            <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, \n        only the first 500 bytes are returned.</p>\n         </note>"
      }
    },
    "com.amazonaws.pi#DimensionKeyDescription": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.pi#DimensionMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of name-value pairs for the dimensions in the group.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.pi#Double",
          "traits": {
            "smithy.api#documentation": "<p>The aggregated metric value for the dimension(s), over the requested time range.</p>"
          }
        },
        "Partitions": {
          "target": "com.amazonaws.pi#MetricValuesList",
          "traits": {
            "smithy.api#documentation": "<p>If <code>PartitionBy</code> was specified, <code>PartitionKeys</code> contains the dimensions that were.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of descriptions and aggregated values for\n      each dimension within a dimension group.</p>"
      }
    },
    "com.amazonaws.pi#DimensionKeyDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#DimensionKeyDescription"
      }
    },
    "com.amazonaws.pi#DimensionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.pi#String"
      },
      "value": {
        "target": "com.amazonaws.pi#String"
      }
    },
    "com.amazonaws.pi#Double": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.pi#GetResourceMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pi#GetResourceMetricsRequest"
      },
      "output": {
        "target": "com.amazonaws.pi#GetResourceMetricsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pi#InternalServiceError"
        },
        {
          "target": "com.amazonaws.pi#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.pi#NotAuthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve Performance Insights metrics for a set of data sources, over a time period. You can provide\n      specific dimension groups and dimensions, and provide aggregation and filtering criteria for\n      each group.</p>\n         <note>\n            <p>Each response element returns a maximum of 500 bytes. For larger elements, such as SQL statements, \n               only the first 500 bytes are returned.</p>\n         </note>"
      }
    },
    "com.amazonaws.pi#GetResourceMetricsRequest": {
      "type": "structure",
      "members": {
        "ServiceType": {
          "target": "com.amazonaws.pi#ServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service for which Performance Insights returns metrics. The only valid value for <i>ServiceType</i> is\n        <code>RDS</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from\n      this data source.</p>\n         <p>To use a DB instance as a data source, specify its <code>DbiResourceId</code> value. For example, specify\n        <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricQueries": {
          "target": "com.amazonaws.pi#MetricQueryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of one or more queries to perform. Each query must specify a Performance Insights metric, and\n      can optionally specify aggregation and filtering criteria.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time specifying the beginning of the requested time series data. You can't\n      specify a <code>StartTime</code> that's earlier than 7 days ago. The value specified is\n        <i>inclusive</i> - data points equal to or greater than <code>StartTime</code>\n      will be returned.</p>\n         <p>The value for <code>StartTime</code> must be earlier than the value for <code>EndTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time specifying the end of the requested time series data.  The value specified is \n      <i>exclusive</i> - data points less than (but not equal to) <code>EndTime</code> will be returned.</p>\n         <p>The value for <code>EndTime</code> must be later than the value for <code>StartTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "PeriodInSeconds": {
          "target": "com.amazonaws.pi#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The granularity, in seconds, of the data points returned from Performance Insights. A period can be as short as\n      one second, or as long as one day (86400 seconds).  Valid values are:</p>\n    \n        <ul>\n            <li>\n               <p>\n                  <code>1</code> (one second)</p>\n            </li>\n            <li>\n               <p>\n                  <code>60</code> (one minute)</p>\n            </li>\n            <li>\n               <p>\n                  <code>300</code> (five minutes)</p>\n            </li>\n            <li>\n               <p>\n                  <code>3600</code> (one hour)</p>\n            </li>\n            <li>\n               <p>\n                  <code>86400</code> (twenty-four hours)</p>\n            </li>\n         </ul>\n    \n         <p>If you don't specify <code>PeriodInSeconds</code>, then Performance Insights will choose a value for\n      you, with a goal of returning roughly 100-200 data points in the response.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pi#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in the response. \n      If more items exist than the specified <code>MaxRecords</code> value, a pagination \n      token is included in the response so that the remaining \n      results can be retrieved.\n    </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If\n      this parameter is specified, the response includes only records beyond the token, up to the\n      value specified by <code>MaxRecords</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.pi#GetResourceMetricsResponse": {
      "type": "structure",
      "members": {
        "AlignedStartTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the returned metrics, after alignment to a granular boundary (as\n      specified by <code>PeriodInSeconds</code>). <code>AlignedStartTime</code> will be less than or\n      equal to the value of the user-specified <code>StartTime</code>.</p>"
          }
        },
        "AlignedEndTime": {
          "target": "com.amazonaws.pi#ISOTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the returned metrics, after alignment to a granular boundary (as\n      specified by <code>PeriodInSeconds</code>). <code>AlignedEndTime</code> will be greater than\n      or equal to the value of the user-specified <code>Endtime</code>.</p>"
          }
        },
        "Identifier": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An immutable, AWS Region-unique identifier for a data source. Performance Insights gathers metrics from\n      this data source.</p>\n         <p>To use a DB instance as a data source, you specify its \n      <code>DbiResourceId</code> value - for example:  \n      <code>db-FAIHNTYBKTGAUSUZQYPDS2GW4A</code>\n         </p>"
          }
        },
        "MetricList": {
          "target": "com.amazonaws.pi#MetricKeyDataPointsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of metric results,, where each array element contains all of the data points for a particular dimension.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional pagination token provided by a previous request. If\n      this parameter is specified, the response includes only records beyond the token, up to the\n      value specified by <code>MaxRecords</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.pi#ISOTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.pi#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.pi#InternalServiceError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed due to an unknown error.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.pi#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One of the arguments provided is invalid for this request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.pi#Limit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.pi#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.pi#MetricKeyDataPoints": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.pi#ResponseResourceMetricKey",
          "traits": {
            "smithy.api#documentation": "<p>The dimension(s) to which the data points apply.</p>"
          }
        },
        "DataPoints": {
          "target": "com.amazonaws.pi#DataPointsList",
          "traits": {
            "smithy.api#documentation": "<p>An array of timestamp-value pairs, representing measurements over a period of time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time-ordered series of data points, corresponding to a dimension of a Performance Insights\n      metric.</p>"
      }
    },
    "com.amazonaws.pi#MetricKeyDataPointsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#MetricKeyDataPoints"
      }
    },
    "com.amazonaws.pi#MetricQuery": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a Performance Insights metric to be measured.</p>\n         <p>Valid values for <code>Metric</code> are:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <code>db.load.avg</code> - a scaled representation of the number of active sessions\n          for the database engine.</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sampledload.avg</code> - the raw number of active sessions for the\n          database engine.</p>\n            </li>\n         </ul>\n         <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> \n          are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> \n          showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. \n          For most use cases, you can query <code>db.load.avg</code> only. </p>",
            "smithy.api#required": {}
          }
        },
        "GroupBy": {
          "target": "com.amazonaws.pi#DimensionGroup",
          "traits": {
            "smithy.api#documentation": "<p>A specification for how to aggregate the data points from a query result. You must\n      specify a valid dimension group.  Performance Insights will return all of the dimensions within that group,\n      unless you provide the names of specific dimensions within that group. You can also request\n      that Performance Insights return a limited number of values for a dimension.</p>"
          }
        },
        "Filter": {
          "target": "com.amazonaws.pi#MetricQueryFilterMap",
          "traits": {
            "smithy.api#documentation": "<p>One or more filters to apply in the request.  Restrictions:</p>\n         <ul>\n            <li>\n               <p>Any number of filters by the same dimension, as specified in the <code>GroupBy</code> parameter.</p>\n            </li>\n            <li>\n               <p>A single filter for any other dimension in this dimension group.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single query to be processed. You must provide the metric to query. If no other\n      parameters are specified, Performance Insights returns all of the data points for that metric. You can\n      optionally request that the data points be aggregated by dimension group (\n      <code>GroupBy</code>), and return only those data points that match your criteria (<code>Filter</code>).</p>"
      }
    },
    "com.amazonaws.pi#MetricQueryFilterMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.pi#String"
      },
      "value": {
        "target": "com.amazonaws.pi#String"
      }
    },
    "com.amazonaws.pi#MetricQueryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#MetricQuery"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.pi#MetricValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#Double"
      }
    },
    "com.amazonaws.pi#NotAuthorizedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pi#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user is not authorized to perform this request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.pi#PerformanceInsightsv20180227": {
      "type": "service",
      "version": "2018-02-27",
      "operations": [
        {
          "target": "com.amazonaws.pi#DescribeDimensionKeys"
        },
        {
          "target": "com.amazonaws.pi#GetResourceMetrics"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "PI",
          "arnNamespace": "pi",
          "cloudFormationName": "PI",
          "cloudTrailEventSource": "pi.amazonaws.com",
          "endpointPrefix": "pi"
        },
        "aws.auth#sigv4": {
          "name": "pi"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon RDS Performance Insights</fullname>\n    \n         <p>Amazon RDS Performance Insights enables you to monitor and explore different dimensions of\n      database load based on data captured from a running DB instance. The guide provides detailed\n      information about Performance Insights data types, parameters and errors.</p>\n    \n         <p>When Performance Insights is enabled, the Amazon RDS Performance Insights API provides visibility into the performance of your DB instance. Amazon\n      CloudWatch provides the authoritative source for AWS service-vended monitoring metrics.  Performance Insights offers a domain-specific\n      view of DB load. </p>\n         <p>DB load is measured as Average Active Sessions. Performance Insights provides the data to API consumers as a two-dimensional\n      time-series dataset. The time dimension provides DB load data for each time point in the queried time range. Each time\n      point decomposes overall load in relation to the requested dimensions, measured at that time point. Examples include\n      SQL, Wait event, User, and Host.</p>\n\n         <ul>\n            <li>\n               <p>To learn more about Performance Insights and Amazon Aurora DB instances, go to the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_PerfInsights.html\">Amazon Aurora User Guide</a>.</p>\n            </li>\n            <li>\n               <p>To learn more about Performance Insights and Amazon RDS DB instances, go to the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_PerfInsights.html\">Amazon RDS User Guide</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Performance Insights",
        "smithy.api#xmlNamespace": {
          "uri": "http://pi.amazonaws.com/doc/2018-02-27/"
        }
      }
    },
    "com.amazonaws.pi#ResponsePartitionKey": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.pi#DimensionMap",
          "traits": {
            "smithy.api#documentation": "<p>A dimension map that contains the dimension(s) for this partition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If <code>PartitionBy</code> was specified in a <code>DescribeDimensionKeys</code>\n      request, the dimensions are returned in an array. Each element in the array specifies one\n      dimension. </p>"
      }
    },
    "com.amazonaws.pi#ResponsePartitionKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#ResponsePartitionKey"
      }
    },
    "com.amazonaws.pi#ResponseResourceMetricKey": {
      "type": "structure",
      "members": {
        "Metric": {
          "target": "com.amazonaws.pi#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a Performance Insights metric to be measured.</p>\n         <p>Valid values for <code>Metric</code> are:</p>\n    \n         <ul>\n            <li>\n               <p>\n                  <code>db.load.avg</code> - a scaled representation of the number of active sessions\n          for the database engine.</p>\n            </li>\n            <li>\n               <p>\n                  <code>db.sampledload.avg</code> - the raw number of active sessions for the\n          database engine.</p>\n            </li>\n         </ul>\n         <p>If the number of active sessions is less than an internal Performance Insights threshold, <code>db.load.avg</code> and <code>db.sampledload.avg</code> \n          are the same value. If the number of active sessions is greater than the internal threshold, Performance Insights samples the active sessions, with <code>db.load.avg</code> \n          showing the scaled values, <code>db.sampledload.avg</code> showing the raw values, and <code>db.sampledload.avg</code> less than <code>db.load.avg</code>. \n          For most use cases, you can query <code>db.load.avg</code> only. </p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.pi#DimensionMap",
          "traits": {
            "smithy.api#documentation": "<p>The valid dimensions for the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object describing a Performance Insights metric and one or more dimensions for that metric.</p>"
      }
    },
    "com.amazonaws.pi#ServiceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RDS",
            "name": "RDS"
          }
        ]
      }
    },
    "com.amazonaws.pi#String": {
      "type": "string"
    },
    "com.amazonaws.pi#StringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pi#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    }
  }
}
