{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "Reason": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because you don't have sufficient permissions to access the resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccessDeniedExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INSUFFICIENT_ACCOUNT_REPUTATION",
            "name": "INSUFFICIENT_ACCOUNT_REPUTATION"
          },
          {
            "value": "ACCOUNT_DISABLED",
            "name": "ACCOUNT_DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountAttribute": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the account attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value associated with the account attribute name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Displays the attributes associated with a single Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AccountAttribute"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCOUNT_TIER",
            "name": "ACCOUNT_TIER"
          },
          {
            "value": "DEFAULT_PROTECT_CONFIGURATION_ID",
            "name": "DEFAULT_PROTECT_CONFIGURATION_ID"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountLimit": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimitName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute to apply the account limit to.</p>",
            "smithy.api#required": {}
          }
        },
        "Used": {
          "target": "smithy.api#PrimitiveLong",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The current amount that has been spent, in US dollars.</p>",
            "smithy.api#required": {}
          }
        },
        "Max": {
          "target": "smithy.api#PrimitiveLong",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The Amazon Web Services set limit for that resource type, in US dollars.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current resource quotas associated with an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountLimitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AccountLimit"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AccountLimitName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PHONE_NUMBERS",
            "name": "PHONE_NUMBERS"
          },
          {
            "value": "POOLS",
            "name": "POOLS"
          },
          {
            "value": "CONFIGURATION_SETS",
            "name": "CONFIGURATION_SETS"
          },
          {
            "value": "OPT_OUT_LISTS",
            "name": "OPT_OUT_LISTS"
          },
          {
            "value": "SENDER_IDS",
            "name": "SENDER_IDS"
          },
          {
            "value": "REGISTRATIONS",
            "name": "REGISTRATIONS"
          },
          {
            "value": "REGISTRATION_ATTACHMENTS",
            "name": "REGISTRATION_ATTACHMENTS"
          },
          {
            "value": "VERIFIED_DESTINATION_NUMBERS",
            "name": "VERIFIED_DESTINATION_NUMBERS"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 256
        },
        "smithy.api#pattern": "^arn:[A-Za-z0-9_:/-]+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified origination identity with a pool.</p> <p>If the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.</p> <p>If the origination identity configuration doesn't match the pool's configuration, an error is returned.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityRequest": {
      "type": "structure",
      "members": {
        "PoolId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PoolIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The pool to update with the new Identity. This value can be either the PoolId or PoolArn, and you can find these values using <a>DescribePools</a>.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>",
            "smithy.api#required": {}
          }
        },
        "OriginationIdentity": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The origination identity to use, such as PhoneNumberId, PhoneNumberArn, SenderId, or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn, while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>",
            "smithy.api#required": {}
          }
        },
        "IsoCountryCode": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the origination identity.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateOriginationIdentityResult": {
      "type": "structure",
      "members": {
        "PoolArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the pool that is now associated with the origination identity.</p>"
          }
        },
        "PoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The PoolId of the pool that is now associated with the origination identity.</p>"
          }
        },
        "OriginationIdentityArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The PhoneNumberArn or SenderIdArn of the origination identity.</p>"
          }
        },
        "OriginationIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The PhoneNumberId or SenderId of the origination identity.</p>"
          }
        },
        "IsoCountryCode": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a protect configuration with a configuration set. This replaces the configuration sets current protect configuration. A configuration set can only be associated with one protect configuration at a time. A protect configuration can be associated with multiple configuration sets.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationRequest": {
      "type": "structure",
      "members": {
        "ProtectConfigurationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ConfigurationSet.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AssociateProtectConfigurationResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ConfigurationSet.</p>",
            "smithy.api#required": {}
          }
        },
        "ProtectConfigurationArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ProtectConfigurationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the protect configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AttachmentBody": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1572864
        }
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AttachmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UPLOAD_IN_PROGRESS",
            "name": "UPLOAD_IN_PROGRESS"
          },
          {
            "value": "UPLOAD_COMPLETE",
            "name": "UPLOAD_COMPLETE"
          },
          {
            "value": "UPLOAD_FAILED",
            "name": "UPLOAD_FAILED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AttachmentUploadErrorReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#AttachmentUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination": {
      "type": "structure",
      "members": {
        "IamRoleArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Identity and Access Management role that is able to write event data to an Amazon CloudWatch destination.</p>",
            "smithy.api#required": {}
          }
        },
        "LogGroupArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#LogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon CloudWatch log group that you want to record events in. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the destination configuration to use when publishing message sending events. </p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute to filter on.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.pinpointsmsvoicev2#FilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>An array values to filter for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information for configuration sets that meet a specified criteria.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilter"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "event-destination-name",
            "name": "EVENT_DESTINATION_NAME"
          },
          {
            "value": "matching-event-types",
            "name": "MATCHING_EVENT_TYPES"
          },
          {
            "value": "default-message-type",
            "name": "DEFAULT_MESSAGE_TYPE"
          },
          {
            "value": "default-sender-id",
            "name": "DEFAULT_SENDER_ID"
          },
          {
            "value": "default-message-feedback-enabled",
            "name": "DEFAULT_MESSAGE_FEEDBACK_ENABLED"
          },
          {
            "value": "protect-configuration-id",
            "name": "PROTECT_CONFIGURATION_ID"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Resource Name (ARN) of the ConfigurationSet.</p>",
            "smithy.api#required": {}
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ConfigurationSet.</p>",
            "smithy.api#required": {}
          }
        },
        "EventDestinations": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of EventDestination objects that describe any events to log and where to log them.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultMessageType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive.</p>"
          }
        },
        "DefaultSenderId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
          "traits": {
            "smithy.api#documentation": "<p>The default sender ID used by the ConfigurationSet.</p>"
          }
        },
        "DefaultMessageFeedbackEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if message feedback is enabled.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the ConfigurationSet was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
            "smithy.api#required": {}
          }
        },
        "ProtectConfigurationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the protect configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information related to a given configuration set in your Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetInformation"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9_-]+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9_:/-]+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "Reason": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that caused the exception.</p>"
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time or it could be that the requested action isn't valid for the current state or configuration of the resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ConflictExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_REGISTRATION_VERSION_NOT_ALLOWED",
            "name": "CREATE_REGISTRATION_VERSION_NOT_ALLOWED"
          },
          {
            "value": "DELETION_PROTECTION_ENABLED",
            "name": "DELETION_PROTECTION_ENABLED"
          },
          {
            "value": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
            "name": "DESTINATION_PHONE_NUMBER_NOT_VERIFIED"
          },
          {
            "value": "DESTINATION_PHONE_NUMBER_OPTED_OUT",
            "name": "DESTINATION_PHONE_NUMBER_OPTED_OUT"
          },
          {
            "value": "DISASSOCIATE_REGISTRATION_NOT_ALLOWED",
            "name": "DISASSOCIATE_REGISTRATION_NOT_ALLOWED"
          },
          {
            "value": "DISCARD_REGISTRATION_VERSION_NOT_ALLOWED",
            "name": "DISCARD_REGISTRATION_VERSION_NOT_ALLOWED"
          },
          {
            "value": "EDIT_REGISTRATION_FIELD_VALUES_NOT_ALLOWED",
            "name": "EDIT_REGISTRATION_FIELD_VALUES_NOT_ALLOWED"
          },
          {
            "value": "EVENT_DESTINATION_MISMATCH",
            "name": "EVENT_DESTINATION_MISMATCH"
          },
          {
            "value": "KEYWORD_MISMATCH",
            "name": "KEYWORD_MISMATCH"
          },
          {
            "value": "LAST_PHONE_NUMBER",
            "name": "LAST_PHONE_NUMBER"
          },
          {
            "value": "NUMBER_CAPABILITIES_MISMATCH",
            "name": "NUMBER_CAPABILITIES_MISMATCH"
          },
          {
            "value": "MESSAGE_TYPE_MISMATCH",
            "name": "MESSAGE_TYPE_MISMATCH"
          },
          {
            "value": "NO_ORIGINATION_IDENTITIES_FOUND",
            "name": "NO_ORIGINATION_IDENTITIES_FOUND"
          },
          {
            "value": "OPT_OUT_LIST_MISMATCH",
            "name": "OPT_OUT_LIST_MISMATCH"
          },
          {
            "value": "PHONE_NUMBER_ASSOCIATED_TO_POOL",
            "name": "PHONE_NUMBER_ASSOCIATED_TO_POOL"
          },
          {
            "value": "PHONE_NUMBER_ASSOCIATED_TO_REGISTRATION",
            "name": "PHONE_NUMBER_ASSOCIATED_TO_REGISTRATION"
          },
          {
            "value": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
            "name": "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL"
          },
          {
            "value": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
            "name": "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION"
          },
          {
            "value": "REGISTRATION_ALREADY_SUBMITTED",
            "name": "REGISTRATION_ALREADY_SUBMITTED"
          },
          {
            "value": "REGISTRATION_NOT_COMPLETE",
            "name": "REGISTRATION_NOT_COMPLETE"
          },
          {
            "value": "SENDER_ID_ASSOCIATED_TO_POOL",
            "name": "SENDER_ID_ASSOCIATED_TO_POOL"
          },
          {
            "value": "RESOURCE_ALREADY_EXISTS",
            "name": "RESOURCE_ALREADY_EXISTS"
          },
          {
            "value": "RESOURCE_DELETION_NOT_ALLOWED",
            "name": "RESOURCE_DELETION_NOT_ALLOWED"
          },
          {
            "value": "RESOURCE_MODIFICATION_NOT_ALLOWED",
            "name": "RESOURCE_MODIFICATION_NOT_ALLOWED"
          },
          {
            "value": "RESOURCE_NOT_ACTIVE",
            "name": "RESOURCE_NOT_ACTIVE"
          },
          {
            "value": "RESOURCE_NOT_EMPTY",
            "name": "RESOURCE_NOT_EMPTY"
          },
          {
            "value": "SELF_MANAGED_OPT_OUTS_MISMATCH",
            "name": "SELF_MANAGED_OPT_OUTS_MISMATCH"
          },
          {
            "value": "SUBMIT_REGISTRATION_VERSION_NOT_ALLOWED",
            "name": "SUBMIT_REGISTRATION_VERSION_NOT_ALLOWED"
          },
          {
            "value": "TWO_WAY_CONFIG_MISMATCH",
            "name": "TWO_WAY_CONFIG_MISMATCH"
          },
          {
            "value": "VERIFICATION_CODE_EXPIRED",
            "name": "VERIFICATION_CODE_EXPIRED"
          },
          {
            "value": "VERIFICATION_ALREADY_COMPLETE",
            "name": "VERIFICATION_ALREADY_COMPLETE"
          },
          {
            "value": "PROTECT_CONFIGURATION_IS_ACCOUNT_DEFAULT",
            "name": "PROTECT_CONFIGURATION_IS_ACCOUNT_DEFAULT"
          },
          {
            "value": "PROTECT_CONFIGURATION_ASSOCIATED_WITH_CONFIGURATION_SET",
            "name": "PROTECT_CONFIGURATION_ASSOCIATED_WITH_CONFIGURATION_SET"
          },
          {
            "value": "PROTECT_CONFIGURATION_NOT_ASSOCIATED_WITH_CONFIGURATION_SET",
            "name": "PROTECT_CONFIGURATION_NOT_ASSOCIATED_WITH_CONFIGURATION_SET"
          },
          {
            "value": "DESTINATION_COUNTRY_BLOCKED_BY_PROTECT_CONFIGURATION",
            "name": "DESTINATION_COUNTRY_BLOCKED_BY_PROTECT_CONFIGURATION"
          },
          {
            "value": "DESTINATION_PHONE_NUMBER_BLOCKED_BY_PROTECT_NUMBER_OVERRIDE",
            "name": "DESTINATION_PHONE_NUMBER_BLOCKED_BY_PROTECT_NUMBER_OVERRIDE"
          }
        ]
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ContextKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ContextMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.pinpointsmsvoicev2#ContextKey"
      },
      "value": {
        "target": "com.amazonaws.pinpointsmsvoicev2#ContextValue"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#ContextValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 800
        },
        "smithy.api#pattern": "^(?!\\s)^[\\s\\S]+(?<!\\s)$"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new configuration set. After you create the configuration set, you can add one or more event destinations to it.</p> <p>A configuration set is a set of rules that you apply to the SMS and voice messages that you send.</p> <p>When you send a message, you can optionally specify a single configuration set.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name to use for the new configuration set.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key and value pair tags that's associated with the new configuration set. </p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateConfigurationSetResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the newly created configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new configuration set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key and value pair tags that's associated with the configuration set.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration set was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new event destination in a configuration set.</p> <p>An event destination is a location where you send message events. The event options are Amazon CloudWatch, Amazon Data Firehose, or Amazon SNS. For example, when a message is delivered successfully, you can send information about that event to an event destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic. </p> <p>You can only create one event destination at a time. You must provide a value for a single event destination using either <code>CloudWatchLogsDestination</code>, <code>KinesisFirehoseDestination</code> or <code>SnsDestination</code>. If an event destination isn't provided then an exception is returned.</p> <p>Each configuration set can contain between 0 and 5 event destinations. Each event destination can contain a reference to a single destination, such as a CloudWatch or Firehose destination.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>Either the name of the configuration set or the configuration set ARN to apply event logging to. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "EventDestinationName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name that identifies the event destination.</p>",
            "smithy.api#required": {}
          }
        },
        "MatchingEventTypes": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventTypeList",
          "traits": {
            "smithy.api#documentation": "<p>An array of event types that determine which events to log. If \"ALL\" is used, then AWS End User Messaging SMS and Voice logs every event type.</p> <note> <p>The <code>TEXT_SENT</code> event type is not supported.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLogsDestination": {
          "target": "com.amazonaws.pinpointsmsvoicev2#CloudWatchLogsDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon CloudWatch Logs.</p>"
          }
        },
        "KinesisFirehoseDestination": {
          "target": "com.amazonaws.pinpointsmsvoicev2#KinesisFirehoseDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon Data Firehose.</p>"
          }
        },
        "SnsDestination": {
          "target": "com.amazonaws.pinpointsmsvoicev2#SnsDestination",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about an event destination for logging to Amazon SNS.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateEventDestinationResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set.</p>"
          }
        },
        "EventDestination": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestination",
          "traits": {
            "smithy.api#documentation": "<p>The details of the destination where events are logged.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateOptOutList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new opt-out list.</p> <p>If the opt-out list name already exists, an error is returned.</p> <p>An opt-out list is a list of phone numbers that are opted out, meaning you can't send SMS or voice messages to them. If end user replies with the keyword \"STOP,\" an entry for the phone number is added to the opt-out list. In addition to STOP, your recipients can use any supported opt-out keyword, such as CANCEL or OPTOUT. For a list of supported opt-out keywords, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-manage.html#channels-sms-manage-optout\"> SMS opt out </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListRequest": {
      "type": "structure",
      "members": {
        "OptOutListName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new OptOutList.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the new OptOutList.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateOptOutListResult": {
      "type": "structure",
      "members": {
        "OptOutListArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the OptOutList.</p>"
          }
        },
        "OptOutListName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new OptOutList.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the new OptOutList.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreatePool": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new pool and associates the specified origination identity to the pool. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p> <p>The new pool inherits its configuration from the specified origination identity. This includes keywords, message type, opt-out list, two-way configuration, and self-managed opt-out configuration. Deletion protection isn't inherited from the origination identity and defaults to false.</p> <p>If the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreatePoolRequest": {
      "type": "structure",
      "members": {
        "OriginationIdentity": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrSenderIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p> <p>After the pool is created you can add more origination identities to the pool by using <a href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_AssociateOriginationIdentity.html\">AssociateOriginationIdentity</a>.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>",
            "smithy.api#required": {}
          }
        },
        "IsoCountryCode": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the new pool.</p>",
            "smithy.api#required": {}
          }
        },
        "MessageType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive. After the pool is created the MessageType can't be changed.</p>",
            "smithy.api#required": {}
          }
        },
        "DeletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>By default this is set to false. When set to true the pool can't be deleted. You can change this value using the <a>UpdatePool</a> action.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreatePoolResult": {
      "type": "structure",
      "members": {
        "PoolArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the pool.</p>"
          }
        },
        "PoolId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the pool.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PoolStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the pool.</p> <ul> <li> <p>CREATING: The pool is currently being created and isn't yet available for use.</p> </li> <li> <p>ACTIVE: The pool is active and available for use.</p> </li> <li> <p>DELETING: The pool is being deleted.</p> </li> </ul>"
          }
        },
        "MessageType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of message for the pool to use.</p>"
          }
        },
        "TwoWayEnabled": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>By default this is set to false. When set to true you can receive incoming text messages from your end recipients.</p>"
          }
        },
        "TwoWayChannelArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TwoWayChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the two way channel.</p>"
          }
        },
        "TwoWayChannelRole": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An optional IAM Role Arn for a service to assume, to be able to post inbound SMS messages.</p>"
          }
        },
        "SelfManagedOptOutsEnabled": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>By default this is set to false. When an end recipient sends a message that begins with HELP or STOP to one of your dedicated numbers, AWS End User Messaging SMS and Voice automatically replies with a customizable message and adds the end recipient to the OptOutList. When set to true you're responsible for responding to HELP and STOP requests. You're also responsible for tracking and honoring opt-out requests.</p>"
          }
        },
        "OptOutListName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#OptOutListName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the OptOutList associated with the pool.</p>"
          }
        },
        "SharedRoutesEnabled": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether shared routes are enabled for the pool. Set to false and only origination identities in this pool are used to send messages. </p>"
          }
        },
        "DeletionProtectionEnabled": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>When set to true deletion protection is enabled. By default this is set to false. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) associated with the pool.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new protect configuration. By default all country rule sets for each capability are set to <code>ALLOW</code>. Update the country rule sets using <code>UpdateProtectConfigurationCountryRuleSet</code>. A protect configurations name is stored as a Tag with the key set to <code>Name</code> and value as the name of the protect configuration.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "DeletionProtectionEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to true deletion protection is enabled. By default this is set to false. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key and value pair tags that are associated with the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateProtectConfigurationResult": {
      "type": "structure",
      "members": {
        "ProtectConfigurationArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ProtectConfigurationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the protect configuration was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountDefault": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>This is true if the protect configuration is set as your account default protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "DeletionProtectionEnabled": {
          "target": "smithy.api#PrimitiveBoolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>When set to true deletion protection is enabled. By default this is set to false. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key and value pair tags that are associated with the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new registration based on the <b>RegistrationType</b> field. </p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAssociationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate the registration with an origination identity such as a phone number or sender ID.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAssociationRequest": {
      "type": "structure",
      "members": {
        "RegistrationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the origination identity. For example this could be a <b>PhoneNumberId</b> or <b>SenderId</b>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAssociationResult": {
      "type": "structure",
      "members": {
        "RegistrationArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of registration form. The list of <b>RegistrationTypes</b> can be found using the <a>DescribeRegistrationTypeDefinitions</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the origination identity that is associated with the registration. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the origination identity. For example this could be a <b>PhoneNumberId</b> or <b>SenderId</b>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The registration type or origination identity type.</p>",
            "smithy.api#required": {}
          }
        },
        "IsoCountryCode": {
          "target": "com.amazonaws.pinpointsmsvoicev2#IsoCountryCode",
          "traits": {
            "smithy.api#documentation": "<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number associated with the registration in E.164 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAttachment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAttachmentRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAttachmentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new registration attachment to use for uploading a file or a URL to a file. The maximum file size is 500KB and valid file extensions are PDF, JPEG and PNG. For example, many sender ID registrations require a signed “letter of authorization” (LOA) to be submitted.</p> <p>Use either <code>AttachmentUrl</code> or <code>AttachmentBody</code> to upload your attachment. If both are specified then an exception is returned.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAttachmentRequest": {
      "type": "structure",
      "members": {
        "AttachmentBody": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AttachmentBody",
          "traits": {
            "smithy.api#documentation": "<p>The registration file to upload. The maximum file size is 500KB and valid file extensions are PDF, JPEG and PNG.</p>"
          }
        },
        "AttachmentUrl": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AttachmentUrl",
          "traits": {
            "smithy.api#documentation": "<p>Registration files have to be stored in an Amazon S3 bucket. The URI to use when sending is in the format <code>s3://BucketName/FileName</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the registration attachment.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationAttachmentResult": {
      "type": "structure",
      "members": {
        "RegistrationAttachmentArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the registration attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationAttachmentId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration attachment.</p>",
            "smithy.api#required": {}
          }
        },
        "AttachmentStatus": {
          "target": "com.amazonaws.pinpointsmsvoicev2#AttachmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the registration attachment. </p> <ul> <li> <p> <code>UPLOAD_IN_PROGRESS</code> The attachment is being uploaded.</p> </li> <li> <p> <code>UPLOAD_COMPLETE</code> The attachment has been uploaded.</p> </li> <li> <p> <code>UPLOAD_FAILED</code> The attachment failed to uploaded.</p> </li> <li> <p> <code>DELETED</code> The attachment has been deleted..</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the registration attachment.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the registration attachment was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationRequest": {
      "type": "structure",
      "members": {
        "RegistrationType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of registration form to create. The list of <b>RegistrationTypes</b> can be found using the <a>DescribeRegistrationTypeDefinitions</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the registration.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationResult": {
      "type": "structure",
      "members": {
        "RegistrationArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of registration form to create. The list of <b>RegistrationTypes</b> can be found using the <a>DescribeRegistrationTypeDefinitions</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationStatus": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the registration.</p> <ul> <li> <p> <code>CLOSED</code>: The phone number or sender ID has been deleted and you must also delete the registration for the number.</p> </li> <li> <p> <code>CREATED</code>: Your registration is created but not submitted.</p> </li> <li> <p> <code>COMPLETE</code>: Your registration has been approved and your origination identity has been created.</p> </li> <li> <p> <code>DELETED</code>: The registration has been deleted.</p> </li> <li> <p> <code>PROVISIONING</code>: Your registration has been approved and your origination identity is being created.</p> </li> <li> <p> <code>REQUIRES_AUTHENTICATION</code>: You need to complete email authentication.</p> </li> <li> <p> <code>REQUIRES_UPDATES</code>: You must fix your registration and resubmit it.</p> </li> <li> <p> <code>REVIEWING</code>: Your registration has been accepted and is being reviewed.</p> </li> <li> <p> <code>SUBMITTED</code>: Your registration has been submitted and is awaiting review.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "CurrentVersionNumber": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The current version number of the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "AdditionalAttributes": {
          "target": "com.amazonaws.pinpointsmsvoicev2#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata about a given registration which is specific to that registration type.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the registration.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the registration was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new version of the registration and increase the <b>VersionNumber</b>. The previous version of the registration becomes read-only.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationVersionRequest": {
      "type": "structure",
      "members": {
        "RegistrationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateRegistrationVersionResult": {
      "type": "structure",
      "members": {
        "RegistrationArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The new version number of the registration.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationVersionStatus": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the registration.</p> <ul> <li> <p> <code>APPROVED</code>: Your registration has been approved.</p> </li> <li> <p> <code>ARCHIVED</code>: Your previously approved registration version moves into this status when a more recently submitted version is approved.</p> </li> <li> <p> <code>DENIED</code>: You must fix your registration and resubmit it.</p> </li> <li> <p> <code>DISCARDED</code>: You've abandon this version of their registration to start over with a new version. </p> </li> <li> <p> <code>DRAFT</code>: The initial status of a registration version after it’s created.</p> </li> <li> <p> <code>REQUIRES_AUTHENTICATION</code>: You need to complete email authentication.</p> </li> <li> <p> <code>REVIEWING</code>: Your registration has been accepted and is being reviewed.</p> </li> <li> <p> <code>REVOKED</code>: Your previously approved registration has been revoked.</p> </li> <li> <p> <code>SUBMITTED</code>: Your registration has been submitted.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "RegistrationVersionStatusHistory": {
          "target": "com.amazonaws.pinpointsmsvoicev2#RegistrationVersionStatusHistory",
          "traits": {
            "smithy.api#documentation": "<p>A <b>RegistrationVersionStatusHistory</b> object that contains timestamps for the registration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateVerifiedDestinationNumber": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateVerifiedDestinationNumberRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#CreateVerifiedDestinationNumberResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can only send messages to verified destination numbers when your account is in the sandbox. You can add up to 10 verified destination numbers.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateVerifiedDestinationNumberRequest": {
      "type": "structure",
      "members": {
        "DestinationPhoneNumber": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The verified destination phone number, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the destination number.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#CreateVerifiedDestinationNumberResult": {
      "type": "structure",
      "members": {
        "VerifiedDestinationNumberArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the verified destination phone number.</p>",
            "smithy.api#required": {}
          }
        },
        "VerifiedDestinationNumberId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the verified destination phone number.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationPhoneNumber": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneNumber",
          "traits": {
            "smithy.api#documentation": "<p>The verified destination phone number, in E.164 format.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.pinpointsmsvoicev2#VerificationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the verified destination phone number.</p> <ul> <li> <p> <code>PENDING</code>: The phone number hasn't been verified yet.</p> </li> <li> <p> <code>VERIFIED</code>: The phone number is verified and can receive messages.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pinpointsmsvoicev2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of tags (key and value pairs) to associate with the destination number.</p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the verified phone number was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteAccountDefaultProtectConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteAccountDefaultProtectConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteAccountDefaultProtectConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the current account default protect configuration.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteAccountDefaultProtectConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteAccountDefaultProtectConfigurationResult": {
      "type": "structure",
      "members": {
        "DefaultProtectConfigurationArn": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account default protect configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "DefaultProtectConfigurationId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ProtectConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the account default protect configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing configuration set.</p> <p>A configuration set is a set of rules that you apply to voice and SMS messages that you send. In a configuration set, you can specify a destination for specific types of events related to voice and SMS messages. </p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set or the configuration set ARN that you want to delete. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteConfigurationSetResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted configuration set.</p>"
          }
        },
        "EventDestinations": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of any EventDestination objects that were associated with the deleted configuration set.</p>"
          }
        },
        "DefaultMessageType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The default message type of the configuration set that was deleted.</p>"
          }
        },
        "DefaultSenderId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
          "traits": {
            "smithy.api#documentation": "<p>The default Sender ID of the configuration set that was deleted.</p>"
          }
        },
        "DefaultMessageFeedbackEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the configuration set has message feedback enabled. By default this is set to false. </p>"
          }
        },
        "CreatedTimestamp": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the deleted configuration set was created in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing default message type on a configuration set.</p> <p> A message type is a type of messages that you plan to send. If you send account-related messages or time-sensitive messages such as one-time passcodes, choose <b>Transactional</b>. If you plan to send messages that contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services account. </p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN) to delete the default message type from. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultMessageTypeResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set.</p>"
          }
        },
        "MessageType": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The current message type for the configuration set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderId": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing default sender ID on a configuration set.</p> <p>A default sender ID is the identity that appears on recipients' devices when they receive SMS messages. Support for sender ID capabilities varies by country or region.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set or the configuration set Amazon Resource Name (ARN) to delete the default sender ID from. The ConfigurationSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteDefaultSenderIdResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set.</p>"
          }
        },
        "SenderId": {
          "target": "com.amazonaws.pinpointsmsvoicev2#SenderId",
          "traits": {
            "smithy.api#documentation": "<p>The current sender ID for the configuration set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing event destination.</p> <p>An event destination is a location where you send response information about the messages that you send. For example, when a message is delivered successfully, you can send information about that event to an Amazon CloudWatch destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set or the configuration set's Amazon Resource Name (ARN) to remove the event destination from. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>",
            "smithy.api#required": {}
          }
        },
        "EventDestinationName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the event destination to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteEventDestinationResult": {
      "type": "structure",
      "members": {
        "ConfigurationSetArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
          }
        },
        "ConfigurationSetName": {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConfigurationSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration set the event destination was deleted from.</p>"
          }
        },
        "EventDestination": {
          "target": "com.amazonaws.pinpointsmsvoicev2#EventDestination",
          "traits": {
            "smithy.api#documentation": "<p>The event destination object that was deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteKeyword": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ConflictException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing keyword from an origination phone number or pool.</p> <p>A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, AWS End User Messaging SMS and Voice responds with a customizable message.</p> <p>Keywords \"HELP\" and \"STOP\" can't be deleted or modified.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordRequest": {
      "type": "structure",
      "members": {
        "OriginationIdentity": {
          "target": "com.amazonaws.pinpointsmsvoicev2#PhoneOrPoolIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, PoolId or PoolArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn and <a>DescribePools</a> to find the values of PoolId and PoolArn.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>",
            "smithy.api#required": {}
          }
        },
        "Keyword": {
          "target": "com.amazonaws.pinpointsmsvoicev2#Keyword",
          "traits": {
            "smithy.api#documentation": "<p>The keyword to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteKeywordResult": {
      "type": "structure",
      "members": {
        "OriginationIdentityArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The PhoneNumberArn or PoolArn that the keyword was associated with.</p>"
          }
        },
        "OriginationIdentity": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The PhoneNumberId or PoolId that the keyword was associated with.</p>"
          }
        },
        "Keyword": {
          "target": "com.amazonaws.pinpointsmsvoicev2#Keyword",
          "traits": {
            "smithy.api#documentation": "<p>The keyword that was deleted.</p>"
          }
        },
        "KeywordMessage": {
          "target": "com.amazonaws.pinpointsmsvoicev2#KeywordMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message that was associated with the deleted keyword.</p>"
          }
        },
        "KeywordAction": {
          "target": "com.amazonaws.pinpointsmsvoicev2#KeywordAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that was associated with the deleted keyword.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteMediaMessageSpendLimitOverride": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteMediaMessageSpendLimitOverrideRequest"
      },
      "output": {
        "target": "com.amazonaws.pinpointsmsvoicev2#DeleteMediaMessageSpendLimitOverrideResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pinpointsmsvoicev2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an account-level monthly spending limit override for sending multimedia messages (MMS). Deleting a spend limit override will set the <code>EnforcedLimit</code> to equal the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spend limits (quotas) see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/quotas.html\">Quotas for Server Migration Service</a> in the <i>Server Migration Service User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteMediaMessageSpendLimitOverrideRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pinpointsmsvoicev2#DeleteMediaMessageSpendLimitOverrideResult": {
      "type": "structure",
      "members": {
        "MonthlyLimit": {
          "target": "com.amazonaws.pinpointsmsvoicev2#MonthlyLimit",
          "traits": {
[...]
