{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.pinpoint#ADMChannelRequest": {
      "type": "structure",
      "members": {
        "ClientId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Client ID that you received from Amazon to send messages by using ADM.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientSecret": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Client Secret that you received from Amazon to send messages by using ADM.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable the ADM channel for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the ADM (Amazon Device Messaging) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#ADMChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the ADM channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the ADM channel was enabled.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the ADM channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the ADM channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the ADM channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the ADM channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the ADM channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the ADM channel, this value is ADM.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the ADM channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the ADM (Amazon Device Messaging) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#ADMMessage": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.pinpoint#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action to occur if the recipient taps the push notification. Valid values are:</p> <ul><li><p>OPEN_APP - Your app opens or it becomes the foreground app if it was sent to the background. This is the default action.</p></li> <li><p>DEEP_LINK - Your app opens and displays a designated user interface in the app. This action uses the deep-linking features of the Android platform.</p></li> <li><p>URL - The default mobile browser on the recipient's device opens and loads the web page at a URL that you specify.</p></li></ul>"
          }
        },
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The body of the notification message.</p>"
          }
        },
        "ConsolidationKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>An arbitrary string that indicates that multiple messages are logically the same and that Amazon Device Messaging (ADM) can drop previously enqueued messages in favor of this message.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The JSON data payload to use for the push notification, if the notification is a silent push notification. This payload is added to the data.pinpoint.jsonBody object of the notification.</p>"
          }
        },
        "ExpiresAfter": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that ADM should store the message if the recipient's device is offline. Amazon Pinpoint specifies this value in the expiresAfter parameter when it sends the notification message to ADM.</p>"
          }
        },
        "IconReference": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The icon image name of the asset saved in your app.</p>"
          }
        },
        "ImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the large icon image to display in the content view of the push notification.</p>"
          }
        },
        "ImageUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image to display in the push notification.</p>"
          }
        },
        "MD5": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The base64-encoded, MD5 checksum of the value specified by the Data property. ADM uses the MD5 value to verify the integrity of the data.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for the notification message. If specified, this value overrides all other content for the message.</p>"
          }
        },
        "SilentPush": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the notification is a silent push notification, which is a push notification that doesn't display on a recipient's device. Silent push notifications can be used for cases such as updating an app's configuration or supporting phone home functionality.</p>"
          }
        },
        "SmallImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the small icon image to display in the status bar and the content view of the push notification.</p>"
          }
        },
        "Sound": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The sound to play when the recipient receives the push notification. You can use the default stream or specify the file name of a sound resource that's bundled in your app. On an Android platform, the sound file must reside in /res/raw/.</p>"
          }
        },
        "Substitutions": {
          "target": "com.amazonaws.pinpoint#MapOfListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The default message variables to use in the notification message. You can override the default variables with individual address variables.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The title to display above the notification message on the recipient's device.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL to open in the recipient's default mobile browser, if a recipient taps the push notification and the value of the Action property is URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings for a one-time message that's sent directly to an endpoint through the ADM (Amazon Device Messaging) channel.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.</p>"
          }
        },
        "Certificate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable the APNs channel for the application.</p>"
          }
        },
        "PrivateKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.</p>"
          }
        },
        "TokenKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key to use for APNs tokens.</p>"
          }
        },
        "TokenKeyId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the APNs (Apple Push Notification service) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the APNs channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs channel was enabled.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that Amazon Pinpoint uses to authenticate with APNs for this channel, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "HasTokenKey": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs channel is configured to communicate with APNs by using APNs tokens. To provide an authentication key for APNs tokens, set the TokenKey property of the channel.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the APNs channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the APNs channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the APNs channel, this value is APNS.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the APNs channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the APNs (Apple Push Notification service) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSMessage": {
      "type": "structure",
      "members": {
        "APNSPushType": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of push notification to send. Valid values are:</p> <ul><li><p>alert - For a standard notification that's displayed on recipients' devices and prompts a recipient to interact with the notification.</p></li> <li><p>background - For a silent notification that delivers content in the background and isn't displayed on recipients' devices.</p></li> <li><p>complication - For a notification that contains update information for an app’s complication timeline.</p></li> <li><p>fileprovider - For a notification that signals changes to a File Provider extension.</p></li> <li><p>mdm - For a notification that tells managed devices to contact the MDM server.</p></li> <li><p>voip - For a notification that provides information about an incoming VoIP call.</p></li></ul> <p>Amazon Pinpoint specifies this value in the apns-push-type request header when it sends the notification message to APNs. If you don't specify a value for this property, Amazon Pinpoint sets the value to alert or background automatically, based on the value that you specify for the SilentPush or RawContent property of the message.</p> <p>For more information about the apns-push-type request header, see <a href=\"https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/sending_notification_requests_to_apns\">Sending Notification Requests to APNs</a> on the Apple Developer website.</p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.pinpoint#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action to occur if the recipient taps the push notification. Valid values are:</p> <ul><li><p>OPEN_APP - Your app opens or it becomes the foreground app if it was sent to the background. This is the default action.</p></li> <li><p>DEEP_LINK - Your app opens and displays a designated user interface in the app. This setting uses the deep-linking features of the iOS platform.</p></li> <li><p>URL - The default mobile browser on the recipient's device opens and loads the web page at a URL that you specify.</p></li></ul>"
          }
        },
        "Badge": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The key that indicates whether and how to modify the badge of your app's icon when the recipient receives the push notification. If this key isn't included in the dictionary, the badge doesn't change. To remove the badge, set this value to 0.</p>"
          }
        },
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The body of the notification message.</p>"
          }
        },
        "Category": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key that indicates the notification type for the push notification. This key is a value that's defined by the identifier property of one of your app's registered categories.</p>"
          }
        },
        "CollapseId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>An arbitrary identifier that, if assigned to multiple messages, APNs uses to coalesce the messages into a single push notification instead of delivering each message individually. This value can't exceed 64 bytes.</p> <p>Amazon Pinpoint specifies this value in the apns-collapse-id request header when it sends the notification message to APNs.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The JSON payload to use for a silent push notification. This payload is added to the data.pinpoint.jsonBody object of the notification.</p>"
          }
        },
        "MediaUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image or video to display in the push notification.</p>"
          }
        },
        "PreferredAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication method that you want Amazon Pinpoint to use when authenticating with APNs, CERTIFICATE or TOKEN.</p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>para>5 - Low priority, the notification might be delayed, delivered as part of a group, or throttled.</p>/listitem> <li><p>10 - High priority, the notification is sent immediately. This is the default value. A high priority notification should trigger an alert, play a sound, or badge your app's icon on the recipient's device.</p></li>/para> <p>Amazon Pinpoint specifies this value in the apns-priority request header when it sends the notification message to APNs.</p> <p>The equivalent values for Firebase Cloud Messaging (FCM), formerly Google Cloud Messaging (GCM), are normal, for 5, and high, for 10. If you specify an FCM value for this property, Amazon Pinpoint accepts and converts the value to the corresponding APNs value.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for the notification message. If specified, this value overrides all other content for the message.</p> <note><p>If you specify the raw content of an APNs push notification, the message payload has to include the content-available key. The value of the content-available key has to be an integer, and can only be 0 or 1. If you're sending a standard notification, set the value of content-available to 0. If you're sending a silent (background) notification, set the value of content-available to 1. Additionally, silent notification payloads can't include the alert, badge, or sound keys. For more information, see <a href=\"https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification\">Generating a Remote Notification</a> and <a href=\"https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app\">Pushing Background Updates to Your App</a> on the Apple Developer website.</p></note>"
          }
        },
        "SilentPush": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the notification is a silent push notification. A silent (or background) push notification isn't displayed on recipients' devices. You can use silent push notifications to make small updates to your app, or to display messages in an in-app message center.</p> <p>Amazon Pinpoint uses this property to determine the correct value for the apns-push-type request header when it sends the notification message to APNs. If you specify a value of true for this property, Amazon Pinpoint sets the value for the apns-push-type header field to background.</p> <note><p>If you specify the raw content of an APNs push notification, the message payload has to include the content-available key. For silent (background) notifications, set the value of content-available to 1. Additionally, the message payload for a silent notification can't include the alert, badge, or sound keys. For more information, see <a href=\"https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification\">Generating a Remote Notification</a> and <a href=\"https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/pushing_background_updates_to_your_app\">Pushing Background Updates to Your App</a> on the Apple Developer website.</p> <p>Apple has indicated that they will throttle \"excessive\" background notifications based on current traffic volumes. To prevent your notifications being throttled, Apple recommends that you send no more than 3 silent push notifications to each recipient per hour.</p></note>"
          }
        },
        "Sound": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key for the sound to play when the recipient receives the push notification. The value for this key is the name of a sound file in your app's main bundle or the Library/Sounds folder in your app's data container. If the sound file can't be found or you specify default for the value, the system plays the default alert sound.</p>"
          }
        },
        "Substitutions": {
          "target": "com.amazonaws.pinpoint#MapOfListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The default message variables to use in the notification message. You can override these default variables with individual address variables.</p>"
          }
        },
        "ThreadId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key that represents your app-specific identifier for grouping notifications. If you provide a Notification Content app extension, you can use this value to group your notifications together.</p>"
          }
        },
        "TimeToLive": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that APNs should store and attempt to deliver the push notification, if the service is unable to deliver the notification the first time. If this value is 0, APNs treats the notification as if it expires immediately and the service doesn't store or try to deliver the notification again.</p> <p>Amazon Pinpoint specifies this value in the apns-expiration request header when it sends the notification message to APNs.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The title to display above the notification message on the recipient's device.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL to open in the recipient's default mobile browser, if a recipient taps the push notification and the value of the Action property is URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings for a one-time message that's sent directly to an endpoint through the APNs (Apple Push Notification service) channel.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSPushNotificationTemplate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.pinpoint#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action to occur if a recipient taps a push notification that's based on the message template. Valid values are:</p> <ul><li><p>OPEN_APP - Your app opens or it becomes the foreground app if it was sent to the background. This is the default action.</p></li> <li><p>DEEP_LINK - Your app opens and displays a designated user interface in the app. This setting uses the deep-linking features of the iOS platform.</p></li> <li><p>URL - The default mobile browser on the recipient's device opens and loads the web page at a URL that you specify.</p></li></ul>"
          }
        },
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message body to use in push notifications that are based on the message template.</p>"
          }
        },
        "MediaUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image or video to display in push notifications that are based on the message template.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for push notifications that are based on the message template. If specified, this value overrides all other content for the message template.</p>"
          }
        },
        "Sound": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key for the sound to play when the recipient receives a push notification that's based on the message template. The value for this key is the name of a sound file in your app's main bundle or the Library/Sounds folder in your app's data container. If the sound file can't be found or you specify default for the value, the system plays the default alert sound.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The title to use in push notifications that are based on the message template. This title appears above the notification message on a recipient's device.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL to open in the recipient's default mobile browser, if a recipient taps a push notification that's based on the message template and the value of the Action property is URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies channel-specific content and settings for a message template that can be used in push notifications that are sent through the APNs (Apple Push Notification service) channel.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSSandboxChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.</p>"
          }
        },
        "Certificate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable the APNs sandbox channel for the application.</p>"
          }
        },
        "PrivateKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.</p>"
          }
        },
        "TokenKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key to use for APNs tokens.</p>"
          }
        },
        "TokenKeyId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the APNs (Apple Push Notification service) sandbox channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSSandboxChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the APNs sandbox channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs sandbox channel was enabled.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that Amazon Pinpoint uses to authenticate with the APNs sandbox environment for this channel, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs sandbox channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "HasTokenKey": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs sandbox channel is configured to communicate with APNs by using APNs tokens. To provide an authentication key for APNs tokens, set the TokenKey property of the channel.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the APNs sandbox channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs sandbox channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the APNs sandbox channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs sandbox channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the APNs sandbox channel, this value is APNS_SANDBOX.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the APNs sandbox channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the APNs (Apple Push Notification service) sandbox channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSVoipChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.</p>"
          }
        },
        "Certificate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with APNs by using an APNs certificate.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that you want Amazon Pinpoint to use when authenticating with APNs, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable the APNs VoIP channel for the application.</p>"
          }
        },
        "PrivateKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with APNs.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.</p>"
          }
        },
        "TokenKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key to use for APNs tokens.</p>"
          }
        },
        "TokenKeyId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with APNs by using APNs tokens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the APNs (Apple Push Notification service) VoIP channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSVoipChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the APNs VoIP channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs VoIP channel was enabled.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that Amazon Pinpoint uses to authenticate with APNs for this channel, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "HasTokenKey": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP channel is configured to communicate with APNs by using APNs tokens. To provide an authentication key for APNs tokens, set the TokenKey property of the channel.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the APNs VoIP channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the APNs VoIP channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs VoIP channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the APNs VoIP channel, this value is APNS_VOIP.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the APNs VoIP channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the APNs (Apple Push Notification service) VoIP channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSVoipSandboxChannelRequest": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The bundle identifier that's assigned to your iOS app. This identifier is used for APNs tokens.</p>"
          }
        },
        "Certificate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The APNs client certificate that you received from Apple, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using an APNs certificate.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that you want Amazon Pinpoint to use when authenticating with the APNs sandbox environment for this channel, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP sandbox channel is enabled for the application.</p>"
          }
        },
        "PrivateKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The private key for the APNs client certificate that you want Amazon Pinpoint to use to communicate with the APNs sandbox environment.</p>"
          }
        },
        "TeamId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that's assigned to your Apple developer account team. This identifier is used for APNs tokens.</p>"
          }
        },
        "TokenKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication key to use for APNs tokens.</p>"
          }
        },
        "TokenKeyId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The key identifier that's assigned to your APNs signing key, if you want Amazon Pinpoint to communicate with the APNs sandbox environment by using APNs tokens.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the APNs (Apple Push Notification service) VoIP sandbox channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#APNSVoipSandboxChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the APNs VoIP sandbox channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs VoIP sandbox channel was enabled.</p>"
          }
        },
        "DefaultAuthenticationMethod": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The default authentication method that Amazon Pinpoint uses to authenticate with the APNs sandbox environment for this channel, key or certificate.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP sandbox channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "HasTokenKey": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP sandbox channel is configured to communicate with APNs by using APNs tokens. To provide an authentication key for APNs tokens, set the TokenKey property of the channel.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the APNs VoIP sandbox channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the APNs VoIP sandbox channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the APNs VoIP sandbox channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the APNs VoIP sandbox channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the APNs VoIP sandbox channel, this value is APNS_VOIP_SANDBOX.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the APNs VoIP sandbox channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the APNs (Apple Push Notification service) VoIP sandbox channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#Action": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPEN_APP",
            "name": "OPEN_APP"
          },
          {
            "value": "DEEP_LINK",
            "name": "DEEP_LINK"
          },
          {
            "value": "URL",
            "name": "URL"
          }
        ]
      }
    },
    "com.amazonaws.pinpoint#ActivitiesResponse": {
      "type": "structure",
      "members": {
        "Item": {
          "target": "com.amazonaws.pinpoint#ListOfActivityResponse",
          "traits": {
            "smithy.api#documentation": "<p>An array of responses, one for each activity that was performed by the campaign.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated response. This value is null if there are no additional pages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the activities that were performed by a campaign.</p>"
      }
    },
    "com.amazonaws.pinpoint#Activity": {
      "type": "structure",
      "members": {
        "CUSTOM": {
          "target": "com.amazonaws.pinpoint#CustomMessageActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a custom message activity. This type of activity calls an AWS Lambda function or web hook that sends messages to participants.</p>"
          }
        },
        "ConditionalSplit": {
          "target": "com.amazonaws.pinpoint#ConditionalSplitActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a yes/no split activity. This type of activity sends participants down one of two paths in a journey, based on conditions that you specify.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom description of the activity.</p>"
          }
        },
        "EMAIL": {
          "target": "com.amazonaws.pinpoint#EmailMessageActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for an email activity. This type of activity sends an email message to participants.</p>"
          }
        },
        "Holdout": {
          "target": "com.amazonaws.pinpoint#HoldoutActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a holdout activity. This type of activity stops a journey for a specified percentage of participants.</p>"
          }
        },
        "MultiCondition": {
          "target": "com.amazonaws.pinpoint#MultiConditionalSplitActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a multivariate split activity. This type of activity sends participants down one of as many as five paths (including a default <i>Else</i> path) in a journey, based on conditions that you specify.</p>"
          }
        },
        "PUSH": {
          "target": "com.amazonaws.pinpoint#PushMessageActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a push notification activity. This type of activity sends a push notification to participants.</p>"
          }
        },
        "RandomSplit": {
          "target": "com.amazonaws.pinpoint#RandomSplitActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a random split activity. This type of activity randomly sends specified percentages of participants down one of as many as five paths in a journey, based on conditions that you specify.</p>"
          }
        },
        "SMS": {
          "target": "com.amazonaws.pinpoint#SMSMessageActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for an SMS activity. This type of activity sends a text message to participants.</p>"
          }
        },
        "Wait": {
          "target": "com.amazonaws.pinpoint#WaitActivity",
          "traits": {
            "smithy.api#documentation": "<p>The settings for a wait activity. This type of activity waits for a certain amount of time or until a specific date and time before moving participants to the next activity in a journey.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration and other settings for an activity in a journey.</p>"
      }
    },
    "com.amazonaws.pinpoint#ActivityResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the campaign applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "CampaignId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the campaign that the activity applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "End": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The actual time, in ISO 8601 format, when the activity was marked CANCELLED or COMPLETED.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the activity.</p>",
            "smithy.api#required": {}
          }
        },
        "Result": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the activity succeeded. Possible values are SUCCESS and FAIL.</p>"
          }
        },
        "ScheduledStart": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The scheduled start time, in ISO 8601 format, for the activity.</p>"
          }
        },
        "Start": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The actual start time, in ISO 8601 format, of the activity.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the activity. Possible values are: PENDING, INITIALIZING, RUNNING, PAUSED, CANCELLED, and COMPLETED.</p>"
          }
        },
        "SuccessfulEndpointCount": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of endpoints that the campaign successfully delivered messages to.</p>"
          }
        },
        "TimezonesCompletedCount": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of time zones that were completed.</p>"
          }
        },
        "TimezonesTotalCount": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of unique time zones that are in the segment for the campaign.</p>"
          }
        },
        "TotalEndpointCount": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of endpoints that the campaign attempted to deliver messages to.</p>"
          }
        },
        "TreatmentId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the campaign treatment that the activity applies to. A treatment is a variation of a campaign that's used for A/B testing of a campaign.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an activity that was performed by a campaign.</p>"
      }
    },
    "com.amazonaws.pinpoint#AddressConfiguration": {
      "type": "structure",
      "members": {
        "BodyOverride": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message body to use instead of the default message body. This value overrides the default message body.</p>"
          }
        },
        "ChannelType": {
          "target": "com.amazonaws.pinpoint#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The channel to use when sending the message.</p>"
          }
        },
        "Context": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps custom attributes to attributes for the address and is attached to the message. Attribute names are case sensitive.</p> <p>For a push notification, this payload is added to the data.pinpoint object. For an email or text message, this payload is added to email/SMS delivery receipt event attributes.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for the message. If specified, this value overrides all other values for the message.</p>"
          }
        },
        "Substitutions": {
          "target": "com.amazonaws.pinpoint#MapOfListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A map of the message variables to merge with the variables specified by properties of the DefaultMessage object. The variables specified in this map take precedence over all other variables.</p>"
          }
        },
        "TitleOverride": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message title to use instead of the default message title. This value overrides the default message title.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies address-based configuration settings for a message that's sent directly to an endpoint.</p>"
      }
    },
    "com.amazonaws.pinpoint#Alignment": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LEFT",
            "name": "LEFT"
          },
          {
            "value": "CENTER",
            "name": "CENTER"
          },
          {
            "value": "RIGHT",
            "name": "RIGHT"
          }
        ]
      }
    },
    "com.amazonaws.pinpoint#AndroidPushNotificationTemplate": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.pinpoint#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action to occur if a recipient taps a push notification that's based on the message template. Valid values are:</p> <ul><li><p>OPEN_APP - Your app opens or it becomes the foreground app if it was sent to the background. This is the default action.</p></li> <li><p>DEEP_LINK - Your app opens and displays a designated user interface in the app. This action uses the deep-linking features of the Android platform.</p></li> <li><p>URL - The default mobile browser on the recipient's device opens and loads the web page at a URL that you specify.</p></li></ul>"
          }
        },
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message body to use in a push notification that's based on the message template.</p>"
          }
        },
        "ImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the large icon image to display in the content view of a push notification that's based on the message template.</p>"
          }
        },
        "ImageUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image to display in a push notification that's based on the message template.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for a push notification that's based on the message template. If specified, this value overrides all other content for the message template.</p>"
          }
        },
        "SmallImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the small icon image to display in the status bar and the content view of a push notification that's based on the message template.</p>"
          }
        },
        "Sound": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The sound to play when a recipient receives a push notification that's based on the message template. You can use the default stream or specify the file name of a sound resource that's bundled in your app. On an Android platform, the sound file must reside in /res/raw/.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The title to use in a push notification that's based on the message template. This title appears above the notification message on a recipient's device.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL to open in a recipient's default mobile browser, if a recipient taps a push notification that's based on the message template and the value of the Action property is URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies channel-specific content and settings for a message template that can be used in push notifications that are sent through the ADM (Amazon Device Messaging), Baidu (Baidu Cloud Push), or GCM (Firebase Cloud Messaging, formerly Google Cloud Messaging) channel.</p>"
      }
    },
    "com.amazonaws.pinpoint#ApplicationDateRangeKpiResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the metric applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.pinpoint#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time of the date range that was used to filter the query results, in extended ISO 8601 format. The date range is inclusive.</p>",
            "smithy.api#required": {}
          }
        },
        "KpiName": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric, also referred to as a <i>key performance indicator (KPI)</i>, that the data was retrieved for. This value describes the associated metric and consists of two or more terms, which are comprised of lowercase alphanumeric characters, separated by a hyphen. For a list of possible values, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/analytics-standard-metrics.html\">Amazon Pinpoint Developer Guide</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "KpiResult": {
          "target": "com.amazonaws.pinpoint#BaseKpiResult",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contains the results of the query. Each object contains the value for the metric and metadata about that value.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated response. This value is null for the Application Metrics resource because the resource returns all results in a single page.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.pinpoint#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The first date and time of the date range that was used to filter the query results, in extended ISO 8601 format. The date range is inclusive.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the results of a query that retrieved the data for a standard metric that applies to an application, and provides information about that query.</p>"
      }
    },
    "com.amazonaws.pinpoint#ApplicationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the application. This name is displayed as the <b>Project name</b> on the Amazon Pinpoint console.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A string-to-string map of key-value pairs that identifies the tags that are associated with the application. Each tag consists of a required tag key and an associated tag value.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#ApplicationSettingsResource": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application. This identifier is displayed as the <b>Project ID</b> on the Amazon Pinpoint console.</p>",
            "smithy.api#required": {}
          }
        },
        "CampaignHook": {
          "target": "com.amazonaws.pinpoint#CampaignHook",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the AWS Lambda function to invoke by default as a code hook for campaigns in the application. You can use this hook to customize segments that are used by campaigns in the application.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in ISO 8601 format, when the application's settings were last modified.</p>"
          }
        },
        "Limits": {
          "target": "com.amazonaws.pinpoint#CampaignLimits",
          "traits": {
            "smithy.api#documentation": "<p>The default sending limits for campaigns in the application.</p>"
          }
        },
        "QuietTime": {
          "target": "com.amazonaws.pinpoint#QuietTime",
          "traits": {
            "smithy.api#documentation": "<p>The default quiet time for campaigns in the application. Quiet time is a specific time range when messages aren't sent to endpoints, if all the following conditions are met:</p> <ul><li><p>The EndpointDemographic.Timezone property of the endpoint is set to a valid value.</p></li> <li><p>The current time in the endpoint's time zone is later than or equal to the time specified by the QuietTime.Start property for the application (or a campaign or journey that has custom quiet time settings).</p></li> <li><p>The current time in the endpoint's time zone is earlier than or equal to the time specified by the QuietTime.End property for the application (or a campaign or journey that has custom quiet time settings).</p></li></ul> <p>If any of the preceding conditions isn't met, the endpoint will receive messages from a campaign or journey, even if quiet time is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an application, including the default settings for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#ApplicationsResponse": {
      "type": "structure",
      "members": {
        "Item": {
          "target": "com.amazonaws.pinpoint#ListOfApplicationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An array of responses, one for each application that was returned.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated response. This value is null if there are no additional pages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about all of your applications.</p>"
      }
    },
    "com.amazonaws.pinpoint#AttributeDimension": {
      "type": "structure",
      "members": {
        "AttributeType": {
          "target": "com.amazonaws.pinpoint#AttributeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of segment dimension to use. Valid values are: <ul><li>INCLUSIVE - endpoints that have attributes matching the values are included in the segment.</li><li>EXCLUSIVE - endpoints that have attributes matching the values are excluded in the segment.</li><li>CONTAINS - endpoints that have attributes' substrings match the values are included in the segment.</li><li>BEFORE - endpoints with attributes read as ISO_INSTANT datetimes before the value are included in the segment.</li><li>AFTER - endpoints with attributes read as ISO_INSTANT datetimes after the value are included in the segment.</li><li>ON - endpoints with attributes read as ISO_INSTANT dates on the value are included in the segment. Time is ignored in this comparison.</li><li>BETWEEN - endpoints with attributes read as ISO_INSTANT datetimes between the values are included in the segment.</li></p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.pinpoint#ListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The criteria values to use for the segment dimension. Depending on the value of the AttributeType property, endpoints are included or excluded from the segment if their attribute values match the criteria values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attribute-based criteria for including or excluding endpoints from a segment.</p>"
      }
    },
    "com.amazonaws.pinpoint#AttributeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INCLUSIVE",
            "name": "INCLUSIVE"
          },
          {
            "value": "EXCLUSIVE",
            "name": "EXCLUSIVE"
          },
          {
            "value": "CONTAINS",
            "name": "CONTAINS"
          },
          {
            "value": "BEFORE",
            "name": "BEFORE"
          },
          {
            "value": "AFTER",
            "name": "AFTER"
          },
          {
            "value": "ON",
            "name": "ON"
          },
          {
            "value": "BETWEEN",
            "name": "BETWEEN"
          }
        ]
      }
    },
    "com.amazonaws.pinpoint#AttributesResource": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeType": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of attribute or attributes that were removed from the endpoints. Valid values are:</p> <ul><li><p>endpoint-custom-attributes - Custom attributes that describe endpoints.</p></li> <li><p>endpoint-metric-attributes - Custom metrics that your app reports to Amazon Pinpoint for endpoints.</p></li> <li><p>endpoint-user-attributes - Custom attributes that describe users.</p></li></ul>",
            "smithy.api#required": {}
          }
        },
        "Attributes": {
          "target": "com.amazonaws.pinpoint#ListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array that specifies the names of the attributes that were removed from the endpoints.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the type and the names of attributes that were removed from all the endpoints that are associated with an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message that's returned from the API.</p>"
          }
        },
        "RequestID": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the request or response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an API request or response.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.pinpoint#BaiduChannelRequest": {
      "type": "structure",
      "members": {
        "ApiKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API key that you received from the Baidu Cloud Push service to communicate with the service.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to enable the Baidu channel for the application.</p>"
          }
        },
        "SecretKey": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The secret key that you received from the Baidu Cloud Push service to communicate with the service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the status and settings of the Baidu (Baidu Cloud Push) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#BaiduChannelResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the Baidu channel applies to.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Baidu channel was enabled.</p>"
          }
        },
        "Credential": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The API key that you received from the Baidu Cloud Push service to communicate with the service.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the Baidu channel is enabled for the application.</p>"
          }
        },
        "HasCredential": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>(Not used) This property is retained only for backward compatibility.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) An identifier for the Baidu channel. This property is retained only for backward compatibility.</p>"
          }
        },
        "IsArchived": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the Baidu channel is archived.</p>"
          }
        },
        "LastModifiedBy": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The user who last modified the Baidu channel.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the Baidu channel was last modified.</p>"
          }
        },
        "Platform": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of messaging or notification platform for the channel. For the Baidu channel, this value is BAIDU.</p>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the Baidu channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status and settings of the Baidu (Baidu Cloud Push) channel for an application.</p>"
      }
    },
    "com.amazonaws.pinpoint#BaiduMessage": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.pinpoint#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action to occur if the recipient taps the push notification. Valid values are:</p> <ul><li><p>OPEN_APP - Your app opens or it becomes the foreground app if it was sent to the background. This is the default action.</p></li> <li><p>DEEP_LINK - Your app opens and displays a designated user interface in the app. This action uses the deep-linking features of the Android platform.</p></li> <li><p>URL - The default mobile browser on the recipient's device opens and loads the web page at a URL that you specify.</p></li></ul>"
          }
        },
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The body of the notification message.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The JSON data payload to use for the push notification, if the notification is a silent push notification. This payload is added to the data.pinpoint.jsonBody object of the notification.</p>"
          }
        },
        "IconReference": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The icon image name of the asset saved in your app.</p>"
          }
        },
        "ImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the large icon image to display in the content view of the push notification.</p>"
          }
        },
        "ImageUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of an image to display in the push notification.</p>"
          }
        },
        "RawContent": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for the notification message. If specified, this value overrides all other content for the message.</p>"
          }
        },
        "SilentPush": {
          "target": "com.amazonaws.pinpoint#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the notification is a silent push notification, which is a push notification that doesn't display on a recipient's device. Silent push notifications can be used for cases such as updating an app's configuration or supporting phone home functionality.</p>"
          }
        },
        "SmallImageIconUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the small icon image to display in the status bar and the content view of the push notification.</p>"
          }
        },
        "Sound": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The sound to play when the recipient receives the push notification. You can use the default stream or specify the file name of a sound resource that's bundled in your app. On an Android platform, the sound file must reside in /res/raw/.</p>"
          }
        },
        "Substitutions": {
          "target": "com.amazonaws.pinpoint#MapOfListOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The default message variables to use in the notification message. You can override the default variables with individual address variables.</p>"
          }
        },
        "TimeToLive": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time, in seconds, that the Baidu Cloud Push service should store the message if the recipient's device is offline. The default value and maximum supported time is 604,800 seconds (7 days).</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The title to display above the notification message on the recipient's device.</p>"
          }
        },
        "Url": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL to open in the recipient's default mobile browser, if a recipient taps the push notification and the value of the Action property is URL.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings for a one-time message that's sent directly to an endpoint through the Baidu (Baidu Cloud Push) channel.</p>"
      }
    },
    "com.amazonaws.pinpoint#BaseKpiResult": {
      "type": "structure",
      "members": {
        "Rows": {
          "target": "com.amazonaws.pinpoint#ListOfResultRow",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that provides the results of a query that retrieved the data for a standard metric that applies to an application, campaign, or journey.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the results of a query that retrieved the data for a standard metric that applies to an application, campaign, or journey.</p>"
      }
    },
    "com.amazonaws.pinpoint#ButtonAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LINK",
            "name": "LINK"
          },
          {
            "value": "DEEP_LINK",
            "name": "DEEP_LINK"
          },
          {
            "value": "CLOSE",
            "name": "CLOSE"
          }
        ]
      }
    },
    "com.amazonaws.pinpoint#CampaignCustomMessage": {
      "type": "structure",
      "members": {
        "Data": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The raw, JSON-formatted string to use as the payload for the message. The maximum size is 5 KB.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the contents of a message that's sent through a custom channel to recipients of a campaign.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignDateRangeKpiResponse": {
      "type": "structure",
      "members": {
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the metric applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "CampaignId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the campaign that the metric applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.pinpoint#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time of the date range that was used to filter the query results, in extended ISO 8601 format. The date range is inclusive.</p>",
            "smithy.api#required": {}
          }
        },
        "KpiName": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metric, also referred to as a <i>key performance indicator (KPI)</i>, that the data was retrieved for. This value describes the associated metric and consists of two or more terms, which are comprised of lowercase alphanumeric characters, separated by a hyphen. For a list of possible values, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/analytics-standard-metrics.html\">Amazon Pinpoint Developer Guide</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "KpiResult": {
          "target": "com.amazonaws.pinpoint#BaseKpiResult",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contains the results of the query. Each object contains the value for the metric and metadata about that value.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The string to use in a subsequent request to get the next page of results in a paginated response. This value is null for the Campaign Metrics resource because the resource returns all results in a single page.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.pinpoint#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The first date and time of the date range that was used to filter the query results, in extended ISO 8601 format. The date range is inclusive.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the results of a query that retrieved the data for a standard metric that applies to a campaign, and provides information about that query.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignEmailMessage": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The body of the email for recipients whose email clients don't render HTML content.</p>"
          }
        },
        "FromAddress": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The verified email address to send the email from. The default address is the FromAddress specified for the email channel for the application.</p>"
          }
        },
        "HtmlBody": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The body of the email, in HTML format, for recipients whose email clients render HTML content.</p>"
          }
        },
        "Title": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The subject line, or title, of the email.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the content and \"From\" address for an email message that's sent to recipients of a campaign.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignEventFilter": {
      "type": "structure",
      "members": {
        "Dimensions": {
          "target": "com.amazonaws.pinpoint#EventDimensions",
          "traits": {
            "smithy.api#documentation": "<p>The dimension settings of the event filter for the campaign.</p>",
            "smithy.api#required": {}
          }
        },
        "FilterType": {
          "target": "com.amazonaws.pinpoint#FilterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event that causes the campaign to be sent. Valid values are: SYSTEM, sends the campaign when a system event occurs; and, ENDPOINT, sends the campaign when an endpoint event (<link  linkend=\"apps-application-id-events\">Events</link> resource) occurs.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings for events that cause a campaign to be sent.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignHook": {
      "type": "structure",
      "members": {
        "LambdaFunctionName": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the AWS Lambda function that Amazon Pinpoint invokes to customize a segment for a campaign.</p>"
          }
        },
        "Mode": {
          "target": "com.amazonaws.pinpoint#Mode",
          "traits": {
            "smithy.api#documentation": "<p>The mode that Amazon Pinpoint uses to invoke the AWS Lambda function. Possible values are:</p> <ul><li><p>FILTER - Invoke the function to customize the segment that's used by a campaign.</p></li> <li><p>DELIVERY - (Deprecated) Previously, invoked the function to send a campaign through a custom channel. This functionality is not supported anymore. To send a campaign through a custom channel, use the CustomDeliveryConfiguration and CampaignCustomMessage objects of the campaign.</p></li></ul>"
          }
        },
        "WebUrl": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The web URL that Amazon Pinpoint calls to invoke the AWS Lambda function over HTTPS.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies settings for invoking an AWS Lambda function that customizes a segment for a campaign.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignInAppMessage": {
      "type": "structure",
      "members": {
        "Body": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The message body of the notification, the email body or the text message.</p>"
          }
        },
        "Content": {
          "target": "com.amazonaws.pinpoint#ListOfInAppMessageContent",
          "traits": {
            "smithy.api#documentation": "<p>In-app message content.</p>"
          }
        },
        "CustomConfig": {
          "target": "com.amazonaws.pinpoint#MapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Custom config to be sent to client.</p>"
          }
        },
        "Layout": {
          "target": "com.amazonaws.pinpoint#Layout",
          "traits": {
            "smithy.api#documentation": "<p>In-app message layout.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In-app message configuration.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignLimits": {
      "type": "structure",
      "members": {
        "Daily": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of messages that a campaign can send to a single endpoint during a 24-hour period. For an application, this value specifies the default limit for the number of messages that campaigns and journeys can send to a single endpoint during a 24-hour period. The maximum value is 100.</p>"
          }
        },
        "MaximumDuration": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that a campaign can attempt to deliver a message after the scheduled start time for the campaign. The minimum value is 60 seconds.</p>"
          }
        },
        "MessagesPerSecond": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of messages that a campaign can send each second. For an application, this value specifies the default limit for the number of messages that campaigns can send each second. The minimum value is 50. The maximum value is 20,000.</p>"
          }
        },
        "Total": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of messages that a campaign can send to a single endpoint during the course of the campaign. If a campaign recurs, this setting applies to all runs of the campaign. The maximum value is 100.</p>"
          }
        },
        "Session": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum total number of messages that the campaign can send per user session.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For a campaign, specifies limits on the messages that the campaign can send. For an application, specifies the default limits for messages that campaigns in the application can send.</p>"
      }
    },
    "com.amazonaws.pinpoint#CampaignResponse": {
      "type": "structure",
      "members": {
        "AdditionalTreatments": {
          "target": "com.amazonaws.pinpoint#ListOfTreatmentResource",
          "traits": {
            "smithy.api#documentation": "<p>An array of responses, one for each treatment that you defined for the campaign, in addition to the default treatment.</p>"
          }
        },
        "ApplicationId": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the application that the campaign applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The date, in ISO 8601 format, when the campaign was created.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomDeliveryConfiguration": {
          "target": "com.amazonaws.pinpoint#CustomDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The delivery configuration settings for sending the campaign through a custom channel.</p>"
          }
        },
        "DefaultState": {
          "target": "com.amazonaws.pinpoint#CampaignState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the campaign's default treatment. This value exists only for campaigns that have more than one treatment.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom description of the campaign.</p>"
          }
        },
        "HoldoutPercent": {
          "target": "com.amazonaws.pinpoint#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The allocated percentage of users (segment members) who shouldn't receive messages from the campaign.</p>"
          }
        },
        "Hook": {
          "target": "com.amazonaws.pinpoint#CampaignHook",
          "traits": {
            "smithy.api#documentation": "<p>The settings for the AWS Lambda function to use as a code hook for the campaign. You can use this hook to customize the segment that's used by the campaign.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.pinpoint#__string",
          "traits": {
[...]
