{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pipes#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.pipes#ArnOrJsonPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)$"
      }
    },
    "com.amazonaws.pipes#ArnOrUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^smk://(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9]):[0-9]{1,5}|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.pipes#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.pipes#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "Subnets": {
          "target": "com.amazonaws.pipes#Subnets",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.pipes#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the security groups associated with the task. These security groups must all be in the same VPC. You can specify as many \n         as five security groups. If you do not specify a security group, the default security group for the VPC is used.</p>"
          }
        },
        "AssignPublicIp": {
          "target": "com.amazonaws.pipes#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address. You can specify <code>ENABLED</code> only when \n         <code>LaunchType</code> in <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the task, and whether a public IP address is to be used. \n         This structure is relevant only for ECS tasks that use the <code>awsvpc</code> network mode.</p>"
      }
    },
    "com.amazonaws.pipes#BatchArrayProperties": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.pipes#BatchArraySize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size of the array, if this is an array batch job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. \n         If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an Batch job.</p>"
      }
    },
    "com.amazonaws.pipes#BatchArraySize": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 2,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#BatchContainerOverrides": {
      "type": "structure",
      "members": {
        "Command": {
          "target": "com.amazonaws.pipes#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker image or the task definition.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.pipes#BatchEnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing \n         environment variables from the Docker image or the task definition.</p>\n         <note>\n            <p>Environment variables cannot start with \"<code>Batch</code>\". This naming convention is reserved for variables that Batch sets.</p>\n         </note>"
          }
        },
        "InstanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job.</p>\n         <note>\n            <p>This parameter isn't applicable to single-node container jobs or jobs that run on Fargate resources, and shouldn't be provided.</p>\n         </note>"
          }
        },
        "ResourceRequirements": {
          "target": "com.amazonaws.pipes#BatchResourceRequirementsList",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of resources to assign to a container. This overrides the settings in the job definition. The supported resources include <code>GPU</code>, <code>MEMORY</code>, \n         and <code>VCPU</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are sent to a container.</p>"
      }
    },
    "com.amazonaws.pipes#BatchDependsOn": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchJobDependency"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.pipes#BatchEnvironmentVariable": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key-value pair. For environment variables, this is the name of the environment variable.</p>"
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key-value pair. For environment variables, this is the value of the environment variable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing \n         environment variables from the Docker image or the task definition.</p>\n         <note>\n            <p>Environment variables cannot start with \"<code>Batch</code>\". This naming convention is reserved for variables that Batch sets.</p>\n         </note>"
      }
    },
    "com.amazonaws.pipes#BatchEnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchEnvironmentVariable"
      }
    },
    "com.amazonaws.pipes#BatchJobDependency": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the Batch job that's associated with this dependency.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.pipes#BatchJobDependencyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the job dependency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch job dependency.</p>"
      }
    },
    "com.amazonaws.pipes#BatchJobDependencyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "N_TO_N",
            "name": "N_TO_N"
          },
          {
            "value": "SEQUENTIAL",
            "name": "SEQUENTIAL"
          }
        ]
      }
    },
    "com.amazonaws.pipes#BatchParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirement": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.pipes#BatchResourceRequirementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource to assign to a container. The supported resources include <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The quantity of the specified resource to reserve for the container. The values vary based on the\n         <code>type</code> specified.</p>\n         <dl>\n            <dt>type=\"GPU\"</dt>\n            <dd>\n               <p>The number of physical GPUs to reserve for the container. Make sure that the number of GPUs reserved for all\n                  containers in a job doesn't exceed the number of available GPUs on the compute resource that the job is launched\n                  on.</p>\n               <note>\n                  <p>GPUs aren't available for jobs that are running on Fargate resources.</p>\n               </note>\n            </dd>\n            <dt>type=\"MEMORY\"</dt>\n            <dd>\n               <p>The memory hard limit (in MiB) present to the container. This parameter is supported for jobs that are\n                  running on EC2 resources. If your container attempts to exceed the memory specified, the container is terminated.\n                  This parameter maps to <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">\n                     Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> \n                  and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.\n                  You must specify at least 4 MiB of memory for a job. This is required but can be specified in several places for\n                  multi-node parallel (MNP) jobs. It must be specified for each node at least once. This parameter maps to\n                  <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">\n                     Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the\n                  <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n               <note>\n                  <p>If you're trying to maximize your resource utilization by providing your jobs as much memory as possible for\n                     a particular instance type, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory\n                        management</a> in the <i>Batch User Guide</i>.</p>\n               </note>\n               <p>For jobs that are running on Fargate resources, then <code>value</code> is the hard limit (in MiB), and\n                  must match one of the supported values and the <code>VCPU</code> values must be one of the values supported for\n                  that memory value.</p>\n               <dl>\n                  <dt>value = 512</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 0.25</p>\n                     </dd>\n                  <dt>value = 1024</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 0.25 or 0.5</p>\n                     </dd>\n                  <dt>value = 2048</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 0.25, 0.5, or 1</p>\n                     </dd>\n                  <dt>value = 3072</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 0.5, or 1</p>\n                     </dd>\n                  <dt>value = 4096</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 0.5, 1, or 2</p>\n                     </dd>\n                  <dt>value = 5120, 6144, or 7168</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 1 or 2</p>\n                     </dd>\n                  <dt>value = 8192</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 1, 2, 4, or 8</p>\n                     </dd>\n                  <dt>value = 9216, 10240, 11264, 12288, 13312, 14336, or 15360</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 2 or 4</p>\n                     </dd>\n                  <dt>value = 16384</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 2, 4, or 8</p>\n                     </dd>\n                  <dt>value = 17408, 18432, 19456, 21504, 22528, 23552, 25600, 26624, 27648, 29696, or 30720</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 4</p>\n                     </dd>\n                  <dt>value = 20480, 24576, or 28672</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 4 or 8</p>\n                     </dd>\n                  <dt>value = 36864, 45056, 53248, or 61440</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 8</p>\n                     </dd>\n                  <dt>value = 32768, 40960, 49152, or 57344</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 8 or 16</p>\n                     </dd>\n                  <dt>value = 65536, 73728, 81920, 90112, 98304, 106496, 114688, or 122880</dt>\n                  <dd>\n                        <p>\n                        <code>VCPU</code> = 16</p>\n                     </dd>\n               </dl>\n            </dd>\n            <dt>type=\"VCPU\"</dt>\n            <dd>\n               <p>The number of vCPUs reserved for the container. This parameter maps to <code>CpuShares</code> in the\n                  <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">\n                     Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> \n                  and the <code>--cpu-shares</code> option to\n                  <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. For EC2\n                  resources, you must specify at least one vCPU. This is required but can be specified in several places; it must be\n                  specified for each node at least once.</p>\n               <p>The default for the Fargate On-Demand vCPU resource count quota is 6 vCPUs. For more information about\n                  Fargate quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ecs-service.html#service-quotas-fargate\">Fargate quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>\n               <p>For jobs that are running on Fargate resources, then <code>value</code> must match one of the supported\n                  values and the <code>MEMORY</code> values must be one of the values supported for that <code>VCPU</code> value.\n                  The supported values are 0.25, 0.5, 1, 2, 4, 8, and 16</p>\n               <dl>\n                  <dt>value = 0.25</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 512, 1024, or 2048</p>\n                     </dd>\n                  <dt>value = 0.5</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 1024, 2048, 3072, or 4096</p>\n                     </dd>\n                  <dt>value = 1</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 2048, 3072, 4096, 5120, 6144, 7168, or 8192</p>\n                     </dd>\n                  <dt>value = 2</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 4096, 5120, 6144, 7168, 8192, 9216, 10240, 11264, 12288, 13312, 14336, 15360, or 16384</p>\n                     </dd>\n                  <dt>value = 4</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 8192, 9216, 10240, 11264, 12288, 13312, 14336, 15360, 16384, 17408, 18432, 19456,\n                           20480, 21504, 22528, 23552, 24576, 25600, 26624, 27648, 28672, 29696, or 30720</p>\n                     </dd>\n                  <dt>value = 8</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 16384, 20480, 24576, 28672, 32768, 36864, 40960, 45056, 49152, 53248, 57344, or 61440\n                        </p>\n                     </dd>\n                  <dt>value = 16</dt>\n                  <dd>\n                        <p>\n                        <code>MEMORY</code> = 32768, 40960, 49152, 57344, 65536, 73728, 81920, 90112, 98304, 106496, 114688, or 122880\n                        </p>\n                     </dd>\n               </dl>\n            </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The supported resources include <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>"
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GPU",
            "name": "GPU"
          },
          {
            "value": "MEMORY",
            "name": "MEMORY"
          },
          {
            "value": "VCPU",
            "name": "VCPU"
          }
        ]
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchResourceRequirement"
      }
    },
    "com.amazonaws.pipes#BatchRetryAttempts": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#BatchRetryStrategy": {
      "type": "structure",
      "members": {
        "Attempts": {
          "target": "com.amazonaws.pipes#BatchRetryAttempts",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of times to move a job to the <code>RUNNABLE</code> status. If the value of <code>attempts</code> is greater than one, the job is retried on \n         failure the same number of attempts as the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retry strategy that's associated with a job. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/job_retries.html\">\n         Automated job retries</a> in the <i>Batch User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.pipes#CapacityProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#CapacityProviderStrategyItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "capacityProvider": {
          "target": "com.amazonaws.pipes#CapacityProvider",
          "traits": {
            "smithy.api#documentation": "<p>The short name of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.pipes#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The weight value designates the relative percentage of the total number of tasks launched\n         that should use the specified capacity provider. The weight value is taken into consideration\n         after the base value, if defined, is satisfied.</p>"
          }
        },
        "base": {
          "target": "com.amazonaws.pipes#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The base value designates how many tasks, at a minimum, to run on the specified capacity\n         provider. Only one capacity provider in a capacity provider strategy can have a base defined.\n         If no value is specified, the default value of 0 is used. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CapacityProviderStrategyItem.html\">CapacityProviderStrategyItem</a> in the Amazon ECS API Reference.</p>"
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.pipes#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that caused the exception.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that caused the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An action you attempted resulted in an exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.pipes#CreatePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#CreatePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#CreatePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#ConflictException"
        },
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Create a pipe. Amazon EventBridge Pipes connect event sources to targets and reduces the need for specialized knowledge and integration code.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pipes#CreatePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.pipes#PipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceParameters": {
          "target": "com.amazonaws.pipes#PipeSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a source for your pipe.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        },
        "EnrichmentParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetParameters": {
          "target": "com.amazonaws.pipes#PipeTargetParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a target for your pipe.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.pipes#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that allows the pipe to send data to the target.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#CreatePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#Database": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "// Redshift Database",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#DbUser": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "// Database user name",
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#DeadLetterConfig": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon SQS queue specified as the target for the dead-letter queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>DeadLetterConfig</code> object that contains information about a dead-letter queue configuration.</p>"
      }
    },
    "com.amazonaws.pipes#DeletePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#DeletePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#DeletePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#ConflictException"
        },
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Delete an existing pipe. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pipes#DeletePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#DeletePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeStateDescribeResponse",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#DescribePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#DescribePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#DescribePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to describe a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Get the information about an existing pipe. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#DescribePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#DescribePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.pipes#PipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeStateDescribeResponse",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.pipes#PipeStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the pipe is in its current state.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>"
          }
        },
        "SourceParameters": {
          "target": "com.amazonaws.pipes#PipeSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a source for your pipe.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        },
        "EnrichmentParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>"
          }
        },
        "TargetParameters": {
          "target": "com.amazonaws.pipes#PipeTargetParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a target for your pipe.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.pipes#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that allows the pipe to send data to the target.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#DynamoDBStreamStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsContainerOverride": {
      "type": "structure",
      "members": {
        "Command": {
          "target": "com.amazonaws.pipes#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker image or the task definition. You must also specify a container name.</p>"
          }
        },
        "Cpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of <code>cpu</code> units reserved for the container, instead of the default value from the task definition. You must also specify a container name.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.pipes#EcsEnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can \n         override the existing environment variables from the Docker image or the task definition. You must also specify a container name.</p>"
          }
        },
        "EnvironmentFiles": {
          "target": "com.amazonaws.pipes#EcsEnvironmentFileList",
          "traits": {
            "smithy.api#documentation": "<p>A list of files containing the environment variables to pass to a container, instead of the value from the container definition.</p>"
          }
        },
        "Memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The hard limit (in MiB) of memory to present to the container, instead of the default value from the task definition. \n         If your container attempts to exceed the memory specified here, the container is killed. You must also specify a container name.</p>"
          }
        },
        "MemoryReservation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory to reserve for the container, instead of the default value from the task definition. \n         You must also specify a container name.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container that receives the override. This parameter is required if any override is specified.</p>"
          }
        },
        "ResourceRequirements": {
          "target": "com.amazonaws.pipes#EcsResourceRequirementsList",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container, instead of the default value from the task definition. The only supported resource is a GPU.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are sent to a container. An empty container override can be passed in. An example of an empty \n         container override is <code>{\"containerOverrides\": [ ] }</code>. If a non-empty container override is specified, the <code>name</code> parameter must be included.</p>"
      }
    },
    "com.amazonaws.pipes#EcsContainerOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsContainerOverride"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFile": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.pipes#EcsEnvironmentFileType",
          "traits": {
            "smithy.api#documentation": "<p>The file type to use. The only supported value is <code>s3</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 object containing the environment variable file.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of files containing the environment variables to pass to a container. You can\n         specify up to ten environment files. The file must have a <code>.env</code> file\n         extension. Each line in an environment file should contain an environment variable in\n         <code>VARIABLE=VALUE</code> format. Lines beginning with <code>#</code> are treated\n         as comments and are ignored. For more information about the environment variable file\n         syntax, see <a href=\"https://docs.docker.com/compose/env-file/\">Declare default\n            environment variables in file</a>.</p>\n         <p>If there are environment variables specified using the <code>environment</code>\n            parameter in a container definition, they take precedence over the variables contained\n            within an environment file. If multiple environment files are specified that contain the\n            same variable, they're processed from the top down. We recommend that you use unique\n            variable names. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/taskdef-envfiles.html\">Specifying environment\n               variables</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\n         <p>This parameter is only supported for tasks hosted on Fargate using the\n            following platform versions:</p>\n         <ul>\n            <li>\n               <p>Linux platform version <code>1.4.0</code> or later.</p>\n            </li>\n            <li>\n               <p>Windows platform version <code>1.0.0</code> or later.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsEnvironmentFile"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFileType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "s3",
            "name": "s3"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key-value pair. For environment variables, this is the name of the environment variable.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key-value pair. For environment variables, this is the value of the environment variable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can \n         override the existing environment variables from the Docker image or the task definition. You must also specify a container name.</p>"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsEnvironmentVariable"
      }
    },
    "com.amazonaws.pipes#EcsEphemeralStorage": {
      "type": "structure",
      "members": {
        "sizeInGiB": {
          "target": "com.amazonaws.pipes#EphemeralStorageSize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total amount, in GiB, of ephemeral storage to set for the task. The minimum\n         supported value is <code>21</code> GiB and the maximum supported value is\n         <code>200</code> GiB.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of ephemeral storage to allocate for the task. This parameter is used to\n         expand the total amount of ephemeral storage available, beyond the default amount, for\n         tasks hosted on Fargate. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/userguide/using_data_volumes.html\">Fargate task\n            storage</a> in the <i>Amazon ECS User Guide for Fargate</i>.</p>\n         <note>\n            <p>This parameter is only supported for tasks hosted on Fargate using\n               Linux platform version <code>1.4.0</code> or later. This parameter is not supported\n               for Windows containers on Fargate.</p>\n         </note>"
      }
    },
    "com.amazonaws.pipes#EcsInferenceAcceleratorOverride": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator device name to override for the task. This parameter must match a <code>deviceName</code> specified in the task definition.</p>"
          }
        },
        "deviceType": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator type to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on an Elastic Inference accelerator task override. This parameter is used to\n         override the Elastic Inference accelerator specified in the task definition. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/userguide/ecs-inference.html\">Working with Amazon\n            Elastic Inference on Amazon ECS</a> in the\n         <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#EcsInferenceAcceleratorOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsInferenceAcceleratorOverride"
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirement": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.pipes#EcsResourceRequirementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource to assign to a container. The supported values are\n         <code>GPU</code> or <code>InferenceAccelerator</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The value for the specified resource type.</p>\n         <p>If the <code>GPU</code> type is used, the value is the number of physical\n         <code>GPUs</code> the Amazon ECS container agent reserves for the container. The number\n         of GPUs that's reserved for all containers in a task can't exceed the number of\n         available GPUs on the container instance that the task is launched on.</p>\n         <p>If the <code>InferenceAccelerator</code> type is used, the <code>value</code> matches\n         the <code>deviceName</code> for an InferenceAccelerator specified in a\n         task definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The supported resource\n         types are GPUs and Elastic Inference accelerators. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-gpu.html\">Working with\n            GPUs on Amazon ECS</a> or <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-inference.html\">Working with\n               Amazon Elastic Inference on Amazon ECS</a> in the\n         <i>Amazon Elastic Container Service Developer Guide</i>\n         </p>"
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GPU",
            "name": "GPU"
          },
          {
            "value": "InferenceAccelerator",
            "name": "InferenceAccelerator"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsResourceRequirement"
      }
    },
    "com.amazonaws.pipes#EcsTaskOverride": {
      "type": "structure",
      "members": {
        "ContainerOverrides": {
          "target": "com.amazonaws.pipes#EcsContainerOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>One or more container overrides that are sent to a task.</p>"
          }
        },
        "Cpu": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The cpu override for the task.</p>"
          }
        },
        "EphemeralStorage": {
          "target": "com.amazonaws.pipes#EcsEphemeralStorage",
          "traits": {
            "smithy.api#documentation": "<p>The ephemeral storage setting override for the task.</p>\n         <note>\n            <p>This parameter is only supported for tasks hosted on Fargate that\n            use the following platform versions:</p>\n            <ul>\n               <li>\n                  <p>Linux platform version <code>1.4.0</code> or later.</p>\n               </li>\n               <li>\n                  <p>Windows platform version <code>1.0.0</code> or later.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.pipes#ArnOrJsonPath",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution IAM role override for the task. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_execution_IAM_role.html\">Amazon ECS task\n            execution IAM role</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        },
        "InferenceAcceleratorOverrides": {
          "target": "com.amazonaws.pipes#EcsInferenceAcceleratorOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator override for the task.</p>"
          }
        },
        "Memory": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The memory override for the task.</p>"
          }
        },
        "TaskRoleArn": {
          "target": "com.amazonaws.pipes#ArnOrJsonPath",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that containers in this task can assume. All containers\n         in this task are granted the permissions that are specified in this role. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html\">IAM Role for Tasks</a>\n         in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are associated with a task.</p>"
      }
    },
    "com.amazonaws.pipes#EndpointString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9]):[0-9]{1,5}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EphemeralStorageSize": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 21,
          "max": 200
        }
      }
    },
    "com.amazonaws.pipes#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.pipes#EventBridgeDetailType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventBridgeEndpointId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\-]+[\\.][A-Za-z0-9\\-]+|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventBridgeEventResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#ArnOrJsonPath"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#EventBridgeEventSource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "(?=[/\\.\\-_A-Za-z0-9]+)((?!aws\\.).*)|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#Filter": {
      "type": "structure",
      "members": {
        "Pattern": {
          "target": "com.amazonaws.pipes#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>The event pattern.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter events using an event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event\n         Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#FilterCriteria": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.pipes#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>The event patterns.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of event patterns used to filter events. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event\n         Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.pipes#HeaderKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[!#$%&'*+-.^_`|~0-9a-zA-Z]+|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)$"
      }
    },
    "com.amazonaws.pipes#HeaderParametersMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.pipes#HeaderKey"
      },
      "value": {
        "target": "com.amazonaws.pipes#HeaderValue"
      }
    },
    "com.amazonaws.pipes#HeaderValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[ \\t]*[\\x20-\\x7E]+([ \\t]+[\\x20-\\x7E]+)*[ \\t]*|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#InputTemplate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the action that caused the exception.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception occurs due to unexpected causes.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.pipes#JsonPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*$"
      }
    },
    "com.amazonaws.pipes#KafkaBootstrapServers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EndpointString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.pipes#KafkaTopicName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 249
        },
        "smithy.api#pattern": "^[^.]([a-zA-Z0-9\\-_.]+)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#KinesisPartitionKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#KinesisStreamStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          },
          {
            "value": "AT_TIMESTAMP",
            "name": "AT_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.pipes#LaunchType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          },
          {
            "value": "EXTERNAL",
            "name": "EXTERNAL"
          }
        ]
      }
    },
    "com.amazonaws.pipes#LimitMax10": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#LimitMax100": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.pipes#LimitMax1000": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.pipes#LimitMax10000": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#LimitMin1": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.pipes#ListPipes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#ListPipesRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#ListPipesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to list all pipes in your account",
        "smithy.api#documentation": "<p>Get the pipes associated with this account. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/pipes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "Limit",
          "outputToken": "NextToken",
          "items": "Pipes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#ListPipesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>A value that will return a subset of the pipes associated with this account. For example, <code>\"NamePrefix\": \"ABC\"</code> will return \n         all endpoints with \"ABC\" in the name.</p>",
            "smithy.api#httpQuery": "NamePrefix"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>",
            "smithy.api#httpQuery": "DesiredState"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>",
            "smithy.api#httpQuery": "CurrentState"
          }
        },
        "SourcePrefix": {
          "target": "com.amazonaws.pipes#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The prefix matching the pipe source.</p>",
            "smithy.api#httpQuery": "SourcePrefix"
          }
        },
        "TargetPrefix": {
          "target": "com.amazonaws.pipes#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The prefix matching the pipe target.</p>",
            "smithy.api#httpQuery": "TargetPrefix"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pipes#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. \n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination \n         token will return an HTTP 400 InvalidToken error.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "Limit": {
          "target": "com.amazonaws.pipes#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of pipes to include in the response.</p>",
            "smithy.api#httpQuery": "Limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#ListPipesResponse": {
      "type": "structure",
      "members": {
        "Pipes": {
          "target": "com.amazonaws.pipes#PipeList",
          "traits": {
            "smithy.api#documentation": "<p>The pipes returned by the call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pipes#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. \n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination \n         token will return an HTTP 400 InvalidToken error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to list the tags for a resource",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Displays the tags associated with a pipe.</p>",
        "smithy.api#http": {
          "uri": "/tags/{resourceArn}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe for which you want to view tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.pipes#PipeResource",
            "ids": {
              "Name": "resourceArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.pipes#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        }
      }
    },
    "com.amazonaws.pipes#LogStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#MQBrokerAccessCredentials": {
      "type": "union",
      "members": {
        "BasicAuth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Secrets Manager secret that stores your broker credentials.</p>"
      }
    },
    "com.amazonaws.pipes#MQBrokerQueueName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#MSKAccessCredentials": {
      "type": "union",
      "members": {
        "SaslScram512Auth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        },
        "ClientCertificateTlsAuth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Secrets Manager secret that stores your stream credentials.</p>"
      }
    },
    "com.amazonaws.pipes#MSKStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          }
        ]
      }
    },
    "com.amazonaws.pipes#MaximumBatchingWindowInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 300
        }
      }
    },
    "com.amazonaws.pipes#MaximumRecordAgeInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": -1,
          "max": 604800
        }
      }
    },
    "com.amazonaws.pipes#MaximumRetryAttemptsESM": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": -1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#MessageDeduplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#MessageGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#NetworkConfiguration": {
      "type": "structure",
      "members": {
        "awsvpcConfiguration": {
          "target": "com.amazonaws.pipes#AwsVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure to specify the VPC subnets and security groups for the task, and\n         whether a public IP address is to be used. This structure is relevant only for ECS tasks that\n         use the <code>awsvpc</code> network mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the network configuration for an Amazon ECS task.</p>"
      }
    },
    "com.amazonaws.pipes#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#NotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.pipes#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity that you specified does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.pipes#OnPartialBatchItemFailureStreams": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC_BISECT",
            "name": "AUTOMATIC_BISECT"
          }
        ]
      }
    },
    "com.amazonaws.pipes#OptionalArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": "^$|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.pipes#PathParameter": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$).+|(\\$(\\.[\\w_-]+(\\[(\\d+|\\*)\\])*)*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#PathParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#PathParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.pipes#Pipe": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "aws.cloudformation#cfnAdditionalIdentifier": {},
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.pipes#PipeStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the pipe is in its current state.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a pipe. Amazon EventBridgePipes connect event sources to targets and reduces the need for specialized knowledge and integration code.</p>"
      }
    },
    "com.amazonaws.pipes#PipeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:([a-zA-Z0-9\\-]+):([a-z]|\\d|\\-)*:([0-9]{12})?:(.*)$"
      }
    },
    "com.amazonaws.pipes#PipeDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#PipeEnrichmentHttpParameters": {
      "type": "structure",
      "members": {
        "PathParameterValues": {
          "target": "com.amazonaws.pipes#PathParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The path parameter values to be used to populate API Gateway REST API or EventBridge\n         ApiDestination path wildcards (\"*\").</p>"
          }
        },
        "HeaderParameters": {
          "target": "com.amazonaws.pipes#HeaderParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The headers that need to be sent as part of request invoking the API Gateway REST API or\n         EventBridge ApiDestination.</p>"
          }
        },
        "QueryStringParameters": {
          "target": "com.amazonaws.pipes#QueryStringParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The query string keys/values that need to be sent as part of request invoking the API Gateway \n         REST API or EventBridge ApiDestination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These are custom parameter to be used when the target is an API Gateway REST APIs or\n         EventBridge ApiDestinations. In the latter case, these are merged with any\n         InvocationParameters specified on the Connection, with any values from the Connection taking\n         precedence.</p>"
      }
    },
    "com.amazonaws.pipes#PipeEnrichmentParameters": {
      "type": "structure",
      "members": {
        "InputTemplate": {
          "target": "com.amazonaws.pipes#InputTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Valid JSON text passed to the enrichment. In this case, nothing from the event itself is\n         passed to the enrichment. For more information, see <a href=\"http://www.rfc-editor.org/rfc/rfc7159.txt\">The JavaScript Object Notation (JSON) Data\n            Interchange Format</a>.</p>"
          }
        },
        "HttpParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentHttpParameters",
          "traits": {
            "smithy.api#documentation": "<p>Contains the HTTP parameters to use when the target is a API Gateway REST endpoint or\n         EventBridge ApiDestination.</p>\n         <p>If you specify an API Gateway REST API or EventBridge ApiDestination as a target, you can\n         use this parameter to specify headers, path parameters, and query string keys/values as part\n         of your target invoking request. If you're using ApiDestinations, the corresponding Connection\n         can also have these values configured. In case of any conflicting keys, values from the\n         Connection take precedence.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
      }
    },
    "com.amazonaws.pipes#PipeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#Pipe"
      }
    },
    "com.amazonaws.pipes#PipeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[\\.\\-_A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.pipes#PipeResource": {
      "type": "resource",
      "identifiers": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName"
        }
      },
      "put": {
        "target": "com.amazonaws.pipes#CreatePipe"
      },
      "read": {
        "target": "com.amazonaws.pipes#DescribePipe"
      },
      "update": {
        "target": "com.amazonaws.pipes#UpdatePipe"
      },
      "delete": {
        "target": "com.amazonaws.pipes#DeletePipe"
      },
      "list": {
        "target": "com.amazonaws.pipes#ListPipes"
      },
      "operations": [
        {
          "target": "com.amazonaws.pipes#StartPipe"
        },
        {
          "target": "com.amazonaws.pipes#StopPipe"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "pipe/{Name}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Pipe"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "pipe"
        },
        "smithy.api#documentation": "Represents a pipe that will connect a source to a target through an optional filtering and enrichment step"
      }
    },
    "com.amazonaws.pipes#PipeSourceActiveMQBrokerParameters": {
      "type": "structure",
      "members": {
        "Credentials": {
          "target": "com.amazonaws.pipes#MQBrokerAccessCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials needed to access the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "QueueName": {
          "target": "com.amazonaws.pipes#MQBrokerQueueName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination queue to consume.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using an Active MQ broker as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceDynamoDBStreamParameters": {
      "type": "structure",
      "members": {
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax1000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.pipes#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>Define the target queue to send dead-letter queue events to.</p>"
          }
        },
        "OnPartialBatchItemFailure": {
          "target": "com.amazonaws.pipes#OnPartialBatchItemFailureStreams",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Define how to handle item process failures. <code>AUTOMATIC_BISECT</code> halves each batch and retry each half \nuntil all the records are processed or there is one failed message left in the batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.pipes#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records older than the specified age. The default value is -1, which sets the maximum age to infinite. \nWhen the value is set to infinite, EventBridge never discards old records. </p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.pipes#MaximumRetryAttemptsESM",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records after the specified number of retries. The default value is -1, which sets the maximum number of \nretries to infinite. When MaximumRetryAttempts is infinite, EventBridge retries failed records until the record expires in the event source.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.pipes#LimitMax10",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The number of batches to process concurrently from each shard. The default value is 1.</p>"
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.pipes#DynamoDBStreamStartPosition",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The position in a stream from which to start reading.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using a DynamoDB stream as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceKinesisStreamParameters": {
      "type": "structure",
      "members": {
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.pipes#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>Define the target queue to send dead-letter queue events to.</p>"
          }
        },
        "OnPartialBatchItemFailure": {
          "target": "com.amazonaws.pipes#OnPartialBatchItemFailureStreams",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Define how to handle item process failures. <code>AUTOMATIC_BISECT</code> halves each batch and retry each half \nuntil all the records are processed or there is one failed message left in the batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.pipes#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records older than the specified age. The default value is -1, which sets the maximum age to infinite. \nWhen the value is set to infinite, EventBridge never discards old records. </p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.pipes#MaximumRetryAttemptsESM",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records after the specified number of retries. The default value is -1, which sets the maximum number of \nretries to infinite. When MaximumRetryAttempts is infinite, EventBridge retries failed records until the record expires in the event source.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.pipes#LimitMax10",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The number of batches to process concurrently from each shard. The default value is 1.</p>"
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.pipes#KinesisStreamStartPosition",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The position in a stream from which to start reading.</p>",
            "smithy.api#required": {}
          }
        },
        "StartingPositionTimestamp": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start reading, in Unix time seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using a Kinesis stream as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceManagedStreamingKafkaParameters": {
      "type": "structure",
      "members": {
        "TopicName": {
          "target": "com.amazonaws.pipes#KafkaTopicName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the topic that the pipe will read from.</p>",
            "smithy.api#required": {}
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.pipes#MSKStartPosition",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The position in a stream from which to start reading.</p>"
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        },
        "ConsumerGroupID": {
          "target": "com.amazonaws.pipes#URI",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination queue to consume.</p>"
          }
        },
        "Credentials": {
          "target": "com.amazonaws.pipes#MSKAccessCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials needed to access the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using an MSK stream as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceParameters": {
      "type": "structure",
      "members": {
        "FilterCriteria": {
          "target": "com.amazonaws.pipes#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The collection of event patterns used to filter events. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event\n         Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
          }
        },
        "KinesisStreamParameters": {
          "target": "com.amazonaws.pipes#PipeSourceKinesisStreamParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using a Kinesis stream as a source.</p>"
          }
        },
        "DynamoDBStreamParameters": {
          "target": "com.amazonaws.pipes#PipeSourceDynamoDBStreamParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using a DynamoDB stream as a source.</p>"
          }
        },
        "SqsQueueParameters": {
          "target": "com.amazonaws.pipes#PipeSourceSqsQueueParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using a Amazon SQS stream as a source.</p>"
          }
        },
        "ActiveMQBrokerParameters": {
          "target": "com.amazonaws.pipes#PipeSourceActiveMQBrokerParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using an Active MQ broker as a source.</p>"
          }
        },
        "RabbitMQBrokerParameters": {
          "target": "com.amazonaws.pipes#PipeSourceRabbitMQBrokerParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using a Rabbit MQ broker as a source.</p>"
          }
        },
        "ManagedStreamingKafkaParameters": {
          "target": "com.amazonaws.pipes#PipeSourceManagedStreamingKafkaParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using an MSK stream as a source.</p>"
          }
        },
        "SelfManagedKafkaParameters": {
          "target": "com.amazonaws.pipes#PipeSourceSelfManagedKafkaParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for using a self-managed Apache Kafka stream as a source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters required to set up a source for your pipe.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceRabbitMQBrokerParameters": {
      "type": "structure",
      "members": {
        "Credentials": {
          "target": "com.amazonaws.pipes#MQBrokerAccessCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials needed to access the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "QueueName": {
          "target": "com.amazonaws.pipes#MQBrokerQueueName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination queue to consume.</p>",
            "smithy.api#required": {}
          }
        },
        "VirtualHost": {
          "target": "com.amazonaws.pipes#URI",
          "traits": {
            "smithy.api#documentation": "<p>The name of the virtual host associated with the source broker.</p>"
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using a Rabbit MQ broker as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceSelfManagedKafkaParameters": {
      "type": "structure",
      "members": {
        "TopicName": {
          "target": "com.amazonaws.pipes#KafkaTopicName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the topic that the pipe will read from.</p>",
            "smithy.api#required": {}
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.pipes#SelfManagedKafkaStartPosition",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The position in a stream from which to start reading.</p>"
          }
        },
        "AdditionalBootstrapServers": {
          "target": "com.amazonaws.pipes#KafkaBootstrapServers",
          "traits": {
            "smithy.api#documentation": "<p>An array of server URLs.</p>"
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        },
        "ConsumerGroupID": {
          "target": "com.amazonaws.pipes#URI",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination queue to consume.</p>"
          }
        },
        "Credentials": {
          "target": "com.amazonaws.pipes#SelfManagedKafkaAccessConfigurationCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials needed to access the resource.</p>"
          }
        },
        "ServerRootCaCertificate": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret used for certification.</p>"
          }
        },
        "Vpc": {
          "target": "com.amazonaws.pipes#SelfManagedKafkaAccessConfigurationVpc",
          "traits": {
            "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the stream, and whether a public IP address is to be used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using a self-managed Apache Kafka stream as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeSourceSqsQueueParameters": {
      "type": "structure",
      "members": {
        "BatchSize": {
          "target": "com.amazonaws.pipes#LimitMax10000",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to include in each batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.pipes#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The maximum length of a time to wait for events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for using a Amazon SQS stream as a source.</p>"
      }
    },
    "com.amazonaws.pipes#PipeState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          },
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
[...]
