{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pipes#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?)?:(\\d{12})?:(.+)$"
      }
    },
    "com.amazonaws.pipes#ArnOrJsonPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?)?:(\\d{12})?:(.+)|(\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*)$"
      }
    },
    "com.amazonaws.pipes#ArnOrUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^smk://(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9]):[0-9]{1,5}|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?)?:(\\d{12})?:(.+)$"
      }
    },
    "com.amazonaws.pipes#AssignPublicIp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.pipes#AwsVpcConfiguration": {
      "type": "structure",
      "members": {
        "Subnets": {
          "target": "com.amazonaws.pipes#Subnets",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same\n         VPC. You can specify as many as 16 subnets.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.pipes#SecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the security groups associated with the task. These security groups must all\n         be in the same VPC. You can specify as many as five security groups. If you do not specify\n         a security group, the default security group for the VPC is used.</p>"
          }
        },
        "AssignPublicIp": {
          "target": "com.amazonaws.pipes#AssignPublicIp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address. You\n         can specify <code>ENABLED</code> only when <code>LaunchType</code> in\n            <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the VPC subnets and security groups for the task, and whether a\n         public IP address is to be used. This structure is relevant only for ECS tasks that use the\n            <code>awsvpc</code> network mode.</p>"
      }
    },
    "com.amazonaws.pipes#BatchArrayProperties": {
      "type": "structure",
      "members": {
        "Size": {
          "target": "com.amazonaws.pipes#BatchArraySize",
          "traits": {
            "smithy.api#documentation": "<p>The size of the array, if this is an array batch job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. \n         If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an Batch job.</p>"
      }
    },
    "com.amazonaws.pipes#BatchArraySize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 2,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#BatchContainerOverrides": {
      "type": "structure",
      "members": {
        "Command": {
          "target": "com.amazonaws.pipes#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker\n         image or the task definition.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.pipes#BatchEnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment\n         variables, which are added to the container at launch, or you can override the existing\n         environment variables from the Docker image or the task definition.</p>\n         <note>\n            <p>Environment variables cannot start with \"<code>Batch</code>\". This\n            naming convention is reserved for variables that Batch sets.</p>\n         </note>"
          }
        },
        "InstanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type to use for a multi-node parallel job.</p>\n         <note>\n            <p>This parameter isn't applicable to single-node container jobs or jobs that run on\n            Fargate resources, and shouldn't be provided.</p>\n         </note>"
          }
        },
        "ResourceRequirements": {
          "target": "com.amazonaws.pipes#BatchResourceRequirementsList",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of resources to assign to a container. This overrides the settings\n         in the job definition. The supported resources include <code>GPU</code>,\n            <code>MEMORY</code>, and <code>VCPU</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are sent to a container.</p>"
      }
    },
    "com.amazonaws.pipes#BatchDependsOn": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchJobDependency"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.pipes#BatchEnvironmentVariable": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key-value pair. For environment variables, this is the name of the\n         environment variable.</p>"
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key-value pair. For environment variables, this is the value of the\n         environment variable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment\n         variables, which are added to the container at launch, or you can override the existing\n         environment variables from the Docker image or the task definition.</p>\n         <note>\n            <p>Environment variables cannot start with \"<code>Batch</code>\". This\n            naming convention is reserved for variables that Batch sets.</p>\n         </note>"
      }
    },
    "com.amazonaws.pipes#BatchEnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchEnvironmentVariable"
      }
    },
    "com.amazonaws.pipes#BatchJobDependency": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the Batch job that's associated with this\n         dependency.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.pipes#BatchJobDependencyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the job dependency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents an Batch job dependency.</p>"
      }
    },
    "com.amazonaws.pipes#BatchJobDependencyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "N_TO_N",
            "name": "N_TO_N"
          },
          {
            "value": "SEQUENTIAL",
            "name": "SEQUENTIAL"
          }
        ]
      }
    },
    "com.amazonaws.pipes#BatchParametersMap": {
      "type": "map",
      "key": {
        "target": "smithy.api#String"
      },
      "value": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirement": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.pipes#BatchResourceRequirementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource to assign to a container. The supported resources include\n            <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The quantity of the specified resource to reserve for the container. The values vary\n         based on the <code>type</code> specified.</p>\n         <dl>\n            <dt>type=\"GPU\"</dt>\n            <dd>\n               <p>The number of physical GPUs to reserve for the container. Make sure that the\n                  number of GPUs reserved for all containers in a job doesn't exceed the number of\n                  available GPUs on the compute resource that the job is launched on.</p>\n               <note>\n                  <p>GPUs aren't available for jobs that are running on Fargate\n                     resources.</p>\n               </note>\n            </dd>\n            <dt>type=\"MEMORY\"</dt>\n            <dd>\n               <p>The memory hard limit (in MiB) present to the container. This parameter is\n                  supported for jobs that are running on EC2 resources. If your container attempts\n                  to exceed the memory specified, the container is terminated. This parameter maps\n                  to <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\"> Create a\n                     container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n                  the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. You\n                  must specify at least 4 MiB of memory for a job. This is required but can be\n                  specified in several places for multi-node parallel (MNP) jobs. It must be\n                  specified for each node at least once. This parameter maps to <code>Memory</code>\n                  in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">\n                     Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n                  the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>\n               <note>\n                  <p>If you're trying to maximize your resource utilization by providing your\n                     jobs as much memory as possible for a particular instance type, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html\">Memory management</a> in the <i>Batch User\n                        Guide</i>.</p>\n               </note>\n               <p>For jobs that are running on Fargate resources, then\n                     <code>value</code> is the hard limit (in MiB), and must match one of the\n                  supported values and the <code>VCPU</code> values must be one of the values\n                  supported for that memory value.</p>\n               <dl>\n                  <dt>value = 512</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 0.25</p>\n                  </dd>\n                  <dt>value = 1024</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 0.25 or 0.5</p>\n                  </dd>\n                  <dt>value = 2048</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 0.25, 0.5, or 1</p>\n                  </dd>\n                  <dt>value = 3072</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 0.5, or 1</p>\n                  </dd>\n                  <dt>value = 4096</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 0.5, 1, or 2</p>\n                  </dd>\n                  <dt>value = 5120, 6144, or 7168</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 1 or 2</p>\n                  </dd>\n                  <dt>value = 8192</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 1, 2, 4, or 8</p>\n                  </dd>\n                  <dt>value = 9216, 10240, 11264, 12288, 13312, 14336, or 15360</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 2 or 4</p>\n                  </dd>\n                  <dt>value = 16384</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 2, 4, or 8</p>\n                  </dd>\n                  <dt>value = 17408, 18432, 19456, 21504, 22528, 23552, 25600, 26624, 27648,\n                        29696, or 30720</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 4</p>\n                  </dd>\n                  <dt>value = 20480, 24576, or 28672</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 4 or 8</p>\n                  </dd>\n                  <dt>value = 36864, 45056, 53248, or 61440</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 8</p>\n                  </dd>\n                  <dt>value = 32768, 40960, 49152, or 57344</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 8 or 16</p>\n                  </dd>\n                  <dt>value = 65536, 73728, 81920, 90112, 98304, 106496, 114688, or\n                        122880</dt>\n                  <dd>\n                     <p>\n                        <code>VCPU</code> = 16</p>\n                  </dd>\n               </dl>\n            </dd>\n            <dt>type=\"VCPU\"</dt>\n            <dd>\n               <p>The number of vCPUs reserved for the container. This parameter maps to\n                     <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\"> Create a\n                     container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and\n                  the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each\n                  vCPU is equivalent to 1,024 CPU shares. For EC2 resources, you must specify at\n                  least one vCPU. This is required but can be specified in several places; it must\n                  be specified for each node at least once.</p>\n               <p>The default for the Fargate On-Demand vCPU resource count quota\n                  is 6 vCPUs. For more information about Fargate quotas, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/ecs-service.html#service-quotas-fargate\">Fargate quotas</a> in the <i>Amazon Web Services\n                     General Reference</i>.</p>\n               <p>For jobs that are running on Fargate resources, then\n                     <code>value</code> must match one of the supported values and the\n                     <code>MEMORY</code> values must be one of the values supported for that\n                     <code>VCPU</code> value. The supported values are 0.25, 0.5, 1, 2, 4, 8, and\n                  16</p>\n               <dl>\n                  <dt>value = 0.25</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 512, 1024, or 2048</p>\n                  </dd>\n                  <dt>value = 0.5</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 1024, 2048, 3072, or 4096</p>\n                  </dd>\n                  <dt>value = 1</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 2048, 3072, 4096, 5120, 6144, 7168, or\n                           8192</p>\n                  </dd>\n                  <dt>value = 2</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 4096, 5120, 6144, 7168, 8192, 9216, 10240,\n                           11264, 12288, 13312, 14336, 15360, or 16384</p>\n                  </dd>\n                  <dt>value = 4</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 8192, 9216, 10240, 11264, 12288, 13312, 14336,\n                           15360, 16384, 17408, 18432, 19456, 20480, 21504, 22528, 23552, 24576,\n                           25600, 26624, 27648, 28672, 29696, or 30720</p>\n                  </dd>\n                  <dt>value = 8</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 16384, 20480, 24576, 28672, 32768, 36864, 40960,\n                           45056, 49152, 53248, 57344, or 61440 </p>\n                  </dd>\n                  <dt>value = 16</dt>\n                  <dd>\n                     <p>\n                        <code>MEMORY</code> = 32768, 40960, 49152, 57344, 65536, 73728, 81920,\n                           90112, 98304, 106496, 114688, or 122880 </p>\n                  </dd>\n               </dl>\n            </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The supported resources\n         include <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>"
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GPU",
            "name": "GPU"
          },
          {
            "value": "MEMORY",
            "name": "MEMORY"
          },
          {
            "value": "VCPU",
            "name": "VCPU"
          }
        ]
      }
    },
    "com.amazonaws.pipes#BatchResourceRequirementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#BatchResourceRequirement"
      }
    },
    "com.amazonaws.pipes#BatchRetryAttempts": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#BatchRetryStrategy": {
      "type": "structure",
      "members": {
        "Attempts": {
          "target": "com.amazonaws.pipes#BatchRetryAttempts",
          "traits": {
            "smithy.api#documentation": "<p>The number of times to move a job to the <code>RUNNABLE</code> status. If the value of\n            <code>attempts</code> is greater than one, the job is retried on failure the same number\n         of attempts as the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The retry strategy that's associated with a job. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/job_retries.html\"> Automated job\n            retries</a> in the <i>Batch User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.pipes#CapacityProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategy": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#CapacityProviderStrategyItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItem": {
      "type": "structure",
      "members": {
        "capacityProvider": {
          "target": "com.amazonaws.pipes#CapacityProvider",
          "traits": {
            "smithy.api#documentation": "<p>The short name of the capacity provider.</p>",
            "smithy.api#required": {}
          }
        },
        "weight": {
          "target": "com.amazonaws.pipes#CapacityProviderStrategyItemWeight",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The weight value designates the relative percentage of the total number of tasks\n         launched that should use the specified capacity provider. The weight value is taken into\n         consideration after the base value, if defined, is satisfied.</p>"
          }
        },
        "base": {
          "target": "com.amazonaws.pipes#CapacityProviderStrategyItemBase",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The base value designates how many tasks, at a minimum, to run on the specified capacity\n         provider. Only one capacity provider in a capacity provider strategy can have a base\n         defined. If no value is specified, the default value of 0 is used. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a capacity provider strategy. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CapacityProviderStrategyItem.html\">CapacityProviderStrategyItem</a> in the Amazon ECS API Reference.</p>"
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItemBase": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100000
        }
      }
    },
    "com.amazonaws.pipes#CapacityProviderStrategyItemWeight": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.pipes#CloudwatchLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^(^arn:aws([a-z]|\\-)*:logs:([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?):(\\d{12}):log-group:[\\.\\-_/#A-Za-z0-9]{1,512}(:\\*)?)$"
      }
    },
    "com.amazonaws.pipes#CloudwatchLogsLogDestination": {
      "type": "structure",
      "members": {
        "LogGroupArn": {
          "target": "com.amazonaws.pipes#CloudwatchLogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Resource Name (ARN) for the CloudWatch log group to which EventBridge sends the log records.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs logging configuration settings for the pipe.</p>"
      }
    },
    "com.amazonaws.pipes#CloudwatchLogsLogDestinationParameters": {
      "type": "structure",
      "members": {
        "LogGroupArn": {
          "target": "com.amazonaws.pipes#CloudwatchLogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Resource Name (ARN) for the CloudWatch log group to which EventBridge sends the log records.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs logging configuration settings for the pipe.</p>"
      }
    },
    "com.amazonaws.pipes#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that caused the exception.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that caused the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An action you attempted resulted in an exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.pipes#CreatePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#CreatePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#CreatePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#ConflictException"
        },
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Create a pipe. Amazon EventBridge Pipes connect event sources to targets and reduces\n         the need for specialized knowledge and integration code.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pipes#CreatePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.pipes#PipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceParameters": {
          "target": "com.amazonaws.pipes#PipeSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a source for your pipe.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        },
        "EnrichmentParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetParameters": {
          "target": "com.amazonaws.pipes#PipeTargetParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a target for your pipe.</p>\n         <p>For more information about pipe target parameters, including how to use dynamic path parameters, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes-event-target.html\">Target parameters</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.pipes#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that allows the pipe to send data to the target.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        },
        "LogConfiguration": {
          "target": "com.amazonaws.pipes#PipeLogConfigurationParameters",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>The logging configuration settings for the pipe.</p>"
          }
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.pipes#KmsKeyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMS\n      customer managed key for EventBridge to use, if you choose to use a customer managed key to encrypt pipe data. The identifier can be the key \n      Amazon Resource Name (ARN), KeyId, key alias, or key alias ARN.</p>\n         <p>If you do not specify a customer managed key identifier, EventBridge uses an\n        Amazon Web Services owned key to encrypt pipe data.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/getting-started.html\">Managing keys</a> in the <i>Key Management Service\n                                Developer Guide</i>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#CreatePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#Database": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "// Redshift Database",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#DbUser": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "// Database user name",
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#DeadLetterConfig": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specified target for the dead-letter queue. </p>\n         <p>For Amazon Kinesis stream and Amazon DynamoDB stream sources, specify\n         either an Amazon SNS topic or Amazon SQS queue ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>DeadLetterConfig</code> object that contains information about a dead-letter\n         queue configuration.</p>"
      }
    },
    "com.amazonaws.pipes#DeletePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#DeletePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#DeletePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#ConflictException"
        },
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Delete an existing pipe. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.pipes#DeletePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#DeletePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeStateDescribeResponse",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#DescribePipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#DescribePipeRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#DescribePipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to describe a pipe",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}", "aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "smithy.api#documentation": "<p>Get the information about an existing pipe. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/pipes/{Name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#DescribePipeRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#DescribePipeResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.pipes#PipeDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeStateDescribeResponse",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.pipes#PipeStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the pipe is in its current state.</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>"
          }
        },
        "SourceParameters": {
          "target": "com.amazonaws.pipes#PipeSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a source for your pipe.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        },
        "EnrichmentParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>"
          }
        },
        "TargetParameters": {
          "target": "com.amazonaws.pipes#PipeTargetParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters required to set up a target for your pipe.</p>\n         <p>For more information about pipe target parameters, including how to use dynamic path parameters, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes-event-target.html\">Target parameters</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.pipes#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that allows the pipe to send data to the target.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        },
        "LogConfiguration": {
          "target": "com.amazonaws.pipes#PipeLogConfiguration",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The logging configuration settings for the pipe.</p>"
          }
        },
        "KmsKeyIdentifier": {
          "target": "com.amazonaws.pipes#KmsKeyIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMS\n      customer managed key for EventBridge to use to encrypt pipe data, if one has been specified.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-encryption.html\">Data encryption in EventBridge</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#DimensionMapping": {
      "type": "structure",
      "members": {
        "DimensionValue": {
          "target": "com.amazonaws.pipes#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>Dynamic path to the dimension value in the source event.</p>",
            "smithy.api#required": {}
          }
        },
        "DimensionValueType": {
          "target": "com.amazonaws.pipes#DimensionValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the dimension for the time-series data.</p>",
            "smithy.api#required": {}
          }
        },
        "DimensionName": {
          "target": "com.amazonaws.pipes#DimensionName",
          "traits": {
            "smithy.api#documentation": "<p>The metadata attributes of the time series. For example, the name and Availability Zone\n         of an Amazon EC2 instance or the name of the manufacturer of a wind turbine are\n         dimensions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps source data to a dimension in the target Timestream for LiveAnalytics\n         table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/concepts.html\">Amazon Timestream for LiveAnalytics concepts</a>\n         </p>"
      }
    },
    "com.amazonaws.pipes#DimensionMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#DimensionMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.pipes#DimensionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#DimensionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.pipes#DimensionValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VARCHAR",
            "name": "VARCHAR"
          }
        ]
      }
    },
    "com.amazonaws.pipes#DynamoDBStreamStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsContainerOverride": {
      "type": "structure",
      "members": {
        "Command": {
          "target": "com.amazonaws.pipes#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The command to send to the container that overrides the default command from the Docker\n         image or the task definition. You must also specify a container name.</p>"
          }
        },
        "Cpu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of <code>cpu</code> units reserved for the container, instead of the default\n         value from the task definition. You must also specify a container name.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.pipes#EcsEnvironmentVariableList",
          "traits": {
            "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment\n         variables, which are added to the container at launch, or you can override the existing\n         environment variables from the Docker image or the task definition. You must also specify a\n         container name.</p>"
          }
        },
        "EnvironmentFiles": {
          "target": "com.amazonaws.pipes#EcsEnvironmentFileList",
          "traits": {
            "smithy.api#documentation": "<p>A list of files containing the environment variables to pass to a container, instead of\n         the value from the container definition.</p>"
          }
        },
        "Memory": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The hard limit (in MiB) of memory to present to the container, instead of the default\n         value from the task definition. If your container attempts to exceed the memory specified\n         here, the container is killed. You must also specify a container name.</p>"
          }
        },
        "MemoryReservation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The soft limit (in MiB) of memory to reserve for the container, instead of the default\n         value from the task definition. You must also specify a container name.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container that receives the override. This parameter is required if any\n         override is specified.</p>"
          }
        },
        "ResourceRequirements": {
          "target": "com.amazonaws.pipes#EcsResourceRequirementsList",
          "traits": {
            "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container, instead of the default value\n         from the task definition. The only supported resource is a GPU.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are sent to a container. An empty container override can be passed\n         in. An example of an empty container override is <code>{\"containerOverrides\": [ ] }</code>.\n         If a non-empty container override is specified, the <code>name</code> parameter must be\n         included.</p>"
      }
    },
    "com.amazonaws.pipes#EcsContainerOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsContainerOverride"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFile": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.pipes#EcsEnvironmentFileType",
          "traits": {
            "smithy.api#documentation": "<p>The file type to use. The only supported value is <code>s3</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 object containing the\n         environment variable file.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of files containing the environment variables to pass to a container. You can\n         specify up to ten environment files. The file must have a <code>.env</code> file extension.\n         Each line in an environment file should contain an environment variable in\n            <code>VARIABLE=VALUE</code> format. Lines beginning with <code>#</code> are treated as\n         comments and are ignored. For more information about the environment variable file syntax,\n         see <a href=\"https://docs.docker.com/compose/env-file/\">Declare default environment\n            variables in file</a>.</p>\n         <p>If there are environment variables specified using the <code>environment</code>\n         parameter in a container definition, they take precedence over the variables contained\n         within an environment file. If multiple environment files are specified that contain the\n         same variable, they're processed from the top down. We recommend that you use unique\n         variable names. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/taskdef-envfiles.html\">Specifying environment\n            variables</a> in the <i>Amazon Elastic Container Service Developer\n         Guide</i>.</p>\n         <p>This parameter is only supported for tasks hosted on Fargate using the\n         following platform versions:</p>\n         <ul>\n            <li>\n               <p>Linux platform version <code>1.4.0</code> or later.</p>\n            </li>\n            <li>\n               <p>Windows platform version <code>1.0.0</code> or later.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsEnvironmentFile"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentFileType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "s3",
            "name": "s3"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentVariable": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key-value pair. For environment variables, this is the name of the\n         environment variable.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the key-value pair. For environment variables, this is the value of the\n         environment variable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The environment variables to send to the container. You can add new environment\n         variables, which are added to the container at launch, or you can override the existing\n         environment variables from the Docker image or the task definition. You must also specify a\n         container name.</p>"
      }
    },
    "com.amazonaws.pipes#EcsEnvironmentVariableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsEnvironmentVariable"
      }
    },
    "com.amazonaws.pipes#EcsEphemeralStorage": {
      "type": "structure",
      "members": {
        "sizeInGiB": {
          "target": "com.amazonaws.pipes#EphemeralStorageSize",
          "traits": {
            "smithy.api#documentation": "<p>The total amount, in GiB, of ephemeral storage to set for the task. The minimum\n         supported value is <code>21</code> GiB and the maximum supported value is <code>200</code>\n         GiB.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The amount of ephemeral storage to allocate for the task. This parameter is used to\n         expand the total amount of ephemeral storage available, beyond the default amount, for\n         tasks hosted on Fargate. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/userguide/using_data_volumes.html\">Fargate task storage</a> in the <i>Amazon ECS User Guide\n            for Fargate</i>.</p>\n         <note>\n            <p>This parameter is only supported for tasks hosted on Fargate using\n            Linux platform version <code>1.4.0</code> or later. This parameter is not supported for\n            Windows containers on Fargate.</p>\n         </note>"
      }
    },
    "com.amazonaws.pipes#EcsInferenceAcceleratorOverride": {
      "type": "structure",
      "members": {
        "deviceName": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator device name to override for the task. This parameter\n         must match a <code>deviceName</code> specified in the task definition.</p>"
          }
        },
        "deviceType": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator type to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on an Elastic Inference accelerator task override. This parameter is used to\n         override the Elastic Inference accelerator specified in the task definition. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/userguide/ecs-inference.html\">Working with Amazon Elastic\n            Inference on Amazon ECS</a> in the <i>Amazon Elastic Container Service\n            Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#EcsInferenceAcceleratorOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsInferenceAcceleratorOverride"
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirement": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.pipes#EcsResourceRequirementType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource to assign to a container. The supported values are <code>GPU</code>\n         or <code>InferenceAccelerator</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The value for the specified resource type.</p>\n         <p>If the <code>GPU</code> type is used, the value is the number of physical\n            <code>GPUs</code> the Amazon ECS container agent reserves for the container. The\n         number of GPUs that's reserved for all containers in a task can't exceed the number of\n         available GPUs on the container instance that the task is launched on.</p>\n         <p>If the <code>InferenceAccelerator</code> type is used, the <code>value</code> matches\n         the <code>deviceName</code> for an InferenceAccelerator specified in a task\n         definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type and amount of a resource to assign to a container. The supported resource types\n         are GPUs and Elastic Inference accelerators. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-gpu.html\">Working with\n            GPUs on Amazon ECS</a> or <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-inference.html\">Working with Amazon Elastic\n            Inference on Amazon ECS</a> in the <i>Amazon Elastic Container Service\n            Developer Guide</i>\n         </p>"
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirementType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GPU",
            "name": "GPU"
          },
          {
            "value": "InferenceAccelerator",
            "name": "InferenceAccelerator"
          }
        ]
      }
    },
    "com.amazonaws.pipes#EcsResourceRequirementsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EcsResourceRequirement"
      }
    },
    "com.amazonaws.pipes#EcsTaskOverride": {
      "type": "structure",
      "members": {
        "ContainerOverrides": {
          "target": "com.amazonaws.pipes#EcsContainerOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>One or more container overrides that are sent to a task.</p>"
          }
        },
        "Cpu": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The cpu override for the task.</p>"
          }
        },
        "EphemeralStorage": {
          "target": "com.amazonaws.pipes#EcsEphemeralStorage",
          "traits": {
            "smithy.api#documentation": "<p>The ephemeral storage setting override for the task.</p>\n         <note>\n            <p>This parameter is only supported for tasks hosted on Fargate that use\n            the following platform versions:</p>\n            <ul>\n               <li>\n                  <p>Linux platform version <code>1.4.0</code> or later.</p>\n               </li>\n               <li>\n                  <p>Windows platform version <code>1.0.0</code> or later.</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "ExecutionRoleArn": {
          "target": "com.amazonaws.pipes#ArnOrJsonPath",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the task execution IAM role override for the task. For\n         more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_execution_IAM_role.html\">Amazon ECS\n            task execution IAM role</a> in the <i>Amazon Elastic Container Service Developer\n            Guide</i>.</p>"
          }
        },
        "InferenceAcceleratorOverrides": {
          "target": "com.amazonaws.pipes#EcsInferenceAcceleratorOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>The Elastic Inference accelerator override for the task.</p>"
          }
        },
        "Memory": {
          "target": "com.amazonaws.pipes#String",
          "traits": {
            "smithy.api#documentation": "<p>The memory override for the task.</p>"
          }
        },
        "TaskRoleArn": {
          "target": "com.amazonaws.pipes#ArnOrJsonPath",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that containers in this task can assume.\n         All containers in this task are granted the permissions that are specified in this role.\n         For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html\">IAM Role for Tasks</a> in\n         the <i>Amazon Elastic Container Service Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The overrides that are associated with a task.</p>"
      }
    },
    "com.amazonaws.pipes#EndpointString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9]):[0-9]{1,5}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EphemeralStorageSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 21,
          "max": 200
        }
      }
    },
    "com.amazonaws.pipes#EpochTimeUnit": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MILLISECONDS",
            "name": "MILLISECONDS"
          },
          {
            "value": "SECONDS",
            "name": "SECONDS"
          },
          {
            "value": "MICROSECONDS",
            "name": "MICROSECONDS"
          },
          {
            "value": "NANOSECONDS",
            "name": "NANOSECONDS"
          }
        ]
      }
    },
    "com.amazonaws.pipes#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.pipes#EventBridgeDetailType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventBridgeEndpointId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\-]+[\\.][A-Za-z0-9\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventBridgeEventResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#ArnOrJsonPath"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#EventBridgeEventSource": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "(?=[/\\.\\-_A-Za-z0-9]+)((?!aws\\.).*)|(\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*)",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#EventPattern": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#Filter": {
      "type": "structure",
      "members": {
        "Pattern": {
          "target": "com.amazonaws.pipes#EventPattern",
          "traits": {
            "smithy.api#documentation": "<p>The event pattern.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter events using an event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event\n            Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#FilterCriteria": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.pipes#FilterList",
          "traits": {
            "smithy.api#documentation": "<p>The event patterns.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The collection of event patterns used to filter events.</p>\n         <p>To remove a filter, specify a <code>FilterCriteria</code> object with an empty array of <code>Filter</code> objects.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event\n         Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
      }
    },
    "com.amazonaws.pipes#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.pipes#FirehoseArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^(^arn:aws([a-z]|\\-)*:firehose:([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?):(\\d{12}):deliverystream/[a-zA-Z0-9_.-]{1,64})$"
      }
    },
    "com.amazonaws.pipes#FirehoseLogDestination": {
      "type": "structure",
      "members": {
        "DeliveryStreamArn": {
          "target": "com.amazonaws.pipes#FirehoseArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Firehose delivery stream to which EventBridge delivers the pipe log records.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Data Firehose logging configuration settings for the pipe.</p>"
      }
    },
    "com.amazonaws.pipes#FirehoseLogDestinationParameters": {
      "type": "structure",
      "members": {
        "DeliveryStreamArn": {
          "target": "com.amazonaws.pipes#FirehoseArn",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon Resource Name (ARN) of the Firehose delivery stream to\n         which EventBridge delivers the pipe log records.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Data Firehose logging configuration settings for the pipe.</p>"
      }
    },
    "com.amazonaws.pipes#HeaderKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[!#$%&'*+-.^_`|~0-9a-zA-Z]+|(\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*)$"
      }
    },
    "com.amazonaws.pipes#HeaderParametersMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.pipes#HeaderKey"
      },
      "value": {
        "target": "com.amazonaws.pipes#HeaderValue"
      }
    },
    "com.amazonaws.pipes#HeaderValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^[ \\t]*[\\x20-\\x7E]+([ \\t]+[\\x20-\\x7E]+)*[ \\t]*|(\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#IncludeExecutionData": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#IncludeExecutionDataOption"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.pipes#IncludeExecutionDataOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.pipes#InputTemplate": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#InternalException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the action that caused the\n         exception.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception occurs due to unexpected causes.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.pipes#JsonPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*$"
      }
    },
    "com.amazonaws.pipes#KafkaBootstrapServers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#EndpointString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.pipes#KafkaTopicName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 249
        },
        "smithy.api#pattern": "^[^.]([a-zA-Z0-9\\-_.]+)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#KinesisPartitionKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#KinesisStreamStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          },
          {
            "value": "AT_TIMESTAMP",
            "name": "AT_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.pipes#KmsKeyIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-/:]*$"
      }
    },
    "com.amazonaws.pipes#LaunchType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EC2",
            "name": "EC2"
          },
          {
            "value": "FARGATE",
            "name": "FARGATE"
          },
          {
            "value": "EXTERNAL",
            "name": "EXTERNAL"
          }
        ]
      }
    },
    "com.amazonaws.pipes#LimitMax10": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.pipes#LimitMax100": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.pipes#LimitMax10000": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#LimitMin1": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.pipes#ListPipes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#ListPipesRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#ListPipesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to list all pipes in your account",
        "smithy.api#documentation": "<p>Get the pipes associated with this account. For more information about pipes, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes.html\">Amazon EventBridge Pipes</a> in the Amazon EventBridge User Guide.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/pipes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "Limit",
          "outputToken": "NextToken",
          "items": "Pipes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#ListPipesRequest": {
      "type": "structure",
      "members": {
        "NamePrefix": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>A value that will return a subset of the pipes associated with this account. For\n         example, <code>\"NamePrefix\": \"ABC\"</code> will return all endpoints with \"ABC\" in the\n         name.</p>",
            "smithy.api#httpQuery": "NamePrefix"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>",
            "smithy.api#httpQuery": "DesiredState"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>",
            "smithy.api#httpQuery": "CurrentState"
          }
        },
        "SourcePrefix": {
          "target": "com.amazonaws.pipes#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The prefix matching the pipe source.</p>",
            "smithy.api#httpQuery": "SourcePrefix"
          }
        },
        "TargetPrefix": {
          "target": "com.amazonaws.pipes#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The prefix matching the pipe target.</p>",
            "smithy.api#httpQuery": "TargetPrefix"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pipes#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. \n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination \n         token will return an HTTP 400 InvalidToken error.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "Limit": {
          "target": "com.amazonaws.pipes#LimitMax100",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of pipes to include in the response.</p>",
            "smithy.api#httpQuery": "Limit"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pipes#ListPipesResponse": {
      "type": "structure",
      "members": {
        "Pipes": {
          "target": "com.amazonaws.pipes#PipeList",
          "traits": {
            "smithy.api#documentation": "<p>The pipes returned by the call.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pipes#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. \n         Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination \n         token will return an HTTP 400 InvalidToken error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pipes#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pipes#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.pipes#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pipes#InternalException"
        },
        {
          "target": "com.amazonaws.pipes#NotFoundException"
        },
        {
          "target": "com.amazonaws.pipes#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to list the tags for a resource",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Displays the tags associated with a pipe.</p>",
        "smithy.api#http": {
          "uri": "/tags/{resourceArn}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.pipes#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipe for which you want to view tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.pipes#PipeResource",
            "ids": {
              "Name": "resourceArn"
            }
          }
        ]
      }
    },
    "com.amazonaws.pipes#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.pipes#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of key-value pairs to associate with the pipe.</p>"
          }
        }
      }
    },
    "com.amazonaws.pipes#LogLevel": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "INFO",
            "name": "INFO"
          },
          {
            "value": "TRACE",
            "name": "TRACE"
          }
        ]
      }
    },
    "com.amazonaws.pipes#LogStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#MQBrokerAccessCredentials": {
      "type": "union",
      "members": {
        "BasicAuth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Secrets Manager secret that stores your broker credentials.</p>"
      }
    },
    "com.amazonaws.pipes#MQBrokerQueueName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#MSKAccessCredentials": {
      "type": "union",
      "members": {
        "SaslScram512Auth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        },
        "ClientCertificateTlsAuth": {
          "target": "com.amazonaws.pipes#SecretManagerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Secrets Manager secret.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Secrets Manager secret that stores your stream credentials.</p>"
      }
    },
    "com.amazonaws.pipes#MSKStartPosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
          {
            "value": "LATEST",
            "name": "LATEST"
          }
        ]
      }
    },
    "com.amazonaws.pipes#MaximumBatchingWindowInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 300
        }
      }
    },
    "com.amazonaws.pipes#MaximumRecordAgeInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": -1,
          "max": 604800
        }
      }
    },
    "com.amazonaws.pipes#MaximumRetryAttemptsESM": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": -1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.pipes#MeasureName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.pipes#MeasureValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.pipes#MeasureValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DOUBLE",
            "name": "DOUBLE"
          },
          {
            "value": "BIGINT",
            "name": "BIGINT"
          },
          {
            "value": "VARCHAR",
            "name": "VARCHAR"
          },
          {
            "value": "BOOLEAN",
            "name": "BOOLEAN"
          },
          {
            "value": "TIMESTAMP",
            "name": "TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.pipes#MessageDeduplicationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#MessageGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#MultiMeasureAttributeMapping": {
      "type": "structure",
      "members": {
        "MeasureValue": {
          "target": "com.amazonaws.pipes#MeasureValue",
          "traits": {
            "smithy.api#documentation": "<p>Dynamic path to the measurement attribute in the source event.</p>",
            "smithy.api#required": {}
          }
        },
        "MeasureValueType": {
          "target": "com.amazonaws.pipes#MeasureValueType",
          "traits": {
            "smithy.api#documentation": "<p>Data type of the measurement attribute in the source event.</p>",
            "smithy.api#required": {}
          }
        },
        "MultiMeasureAttributeName": {
          "target": "com.amazonaws.pipes#MultiMeasureAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>Target measure name to be used.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A mapping of a source event data field to a measure in a Timestream for\n         LiveAnalytics record.</p>"
      }
    },
    "com.amazonaws.pipes#MultiMeasureAttributeMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#MultiMeasureAttributeMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#MultiMeasureAttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#MultiMeasureMapping": {
      "type": "structure",
      "members": {
        "MultiMeasureName": {
          "target": "com.amazonaws.pipes#MultiMeasureName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the multiple measurements per record (multi-measure).</p>",
            "smithy.api#required": {}
          }
        },
        "MultiMeasureAttributeMappings": {
          "target": "com.amazonaws.pipes#MultiMeasureAttributeMappings",
          "traits": {
            "smithy.api#documentation": "<p>Mappings that represent multiple source event fields mapped to measures in the same\n            Timestream for LiveAnalytics record.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps multiple measures from the source event to the same Timestream for\n         LiveAnalytics record.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/concepts.html\">Amazon Timestream for LiveAnalytics concepts</a>\n         </p>"
      }
    },
    "com.amazonaws.pipes#MultiMeasureMappings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#MultiMeasureMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.pipes#MultiMeasureName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.pipes#NetworkConfiguration": {
      "type": "structure",
      "members": {
        "awsvpcConfiguration": {
          "target": "com.amazonaws.pipes#AwsVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this structure to specify the VPC subnets and security groups for the task, and\n         whether a public IP address is to be used. This structure is relevant only for ECS tasks\n         that use the <code>awsvpc</code> network mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure specifies the network configuration for an Amazon ECS\n         task.</p>"
      }
    },
    "com.amazonaws.pipes#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#NotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.pipes#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity that you specified does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.pipes#OnPartialBatchItemFailureStreams": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC_BISECT",
            "name": "AUTOMATIC_BISECT"
          }
        ]
      }
    },
    "com.amazonaws.pipes#OptionalArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": "^$|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-]+):([a-z]{2,4}((-gov)|(-de)|(-iso([a-z]?)))?-[a-z]+(-\\d{1})?)?:(\\d{12})?:(.+)$"
      }
    },
    "com.amazonaws.pipes#PathParameter": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$).+|(\\$(\\.[\\w/_-]+(\\[(\\d+|\\*)\\])*)*)$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#PathParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#PathParameter"
      }
    },
    "com.amazonaws.pipes#Pipe": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.pipes#PipeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipe.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.pipes#PipeArn",
          "traits": {
            "aws.cloudformation#cfnAdditionalIdentifier": {},
            "smithy.api#documentation": "<p>The ARN of the pipe.</p>"
          }
        },
        "DesiredState": {
          "target": "com.amazonaws.pipes#RequestedPipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe should be in.</p>"
          }
        },
        "CurrentState": {
          "target": "com.amazonaws.pipes#PipeState",
          "traits": {
            "smithy.api#documentation": "<p>The state the pipe is in.</p>"
          }
        },
        "StateReason": {
          "target": "com.amazonaws.pipes#PipeStateReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the pipe is in its current state.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the pipe was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.pipes#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the pipe was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>"
          }
        },
        "Source": {
          "target": "com.amazonaws.pipes#ArnOrUrl",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source resource.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.pipes#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target resource.</p>"
          }
        },
        "Enrichment": {
          "target": "com.amazonaws.pipes#OptionalArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the enrichment resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a pipe. Amazon EventBridgePipes connect event sources to\n         targets and reduces the need for specialized knowledge and integration code.</p>"
      }
    },
    "com.amazonaws.pipes#PipeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws([a-z]|\\-)*:([a-zA-Z0-9\\-]+):([a-z]|\\d|\\-)*:([0-9]{12})?:(.+)$"
      }
    },
    "com.amazonaws.pipes#PipeDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "^.*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.pipes#PipeEnrichmentHttpParameters": {
      "type": "structure",
      "members": {
        "PathParameterValues": {
          "target": "com.amazonaws.pipes#PathParameterList",
          "traits": {
            "smithy.api#documentation": "<p>The path parameter values to be used to populate API Gateway REST API or EventBridge ApiDestination path wildcards (\"*\").</p>"
          }
        },
        "HeaderParameters": {
          "target": "com.amazonaws.pipes#HeaderParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The headers that need to be sent as part of request invoking the API Gateway REST\n         API or EventBridge ApiDestination.</p>"
          }
        },
        "QueryStringParameters": {
          "target": "com.amazonaws.pipes#QueryStringParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>The query string keys/values that need to be sent as part of request invoking the\n            API Gateway REST API or EventBridge ApiDestination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These are custom parameter to be used when the target is an API Gateway REST APIs\n         or EventBridge ApiDestinations. In the latter case, these are merged with any\n         InvocationParameters specified on the Connection, with any values from the Connection\n         taking precedence.</p>"
      }
    },
    "com.amazonaws.pipes#PipeEnrichmentParameters": {
      "type": "structure",
      "members": {
        "InputTemplate": {
          "target": "com.amazonaws.pipes#InputTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Valid JSON text passed to the enrichment. In this case, nothing from the event itself is\n         passed to the enrichment. For more information, see <a href=\"http://www.rfc-editor.org/rfc/rfc7159.txt\">The JavaScript Object Notation (JSON)\n            Data Interchange Format</a>.</p>\n         <p>To remove an input template, specify an empty string.</p>"
          }
        },
        "HttpParameters": {
          "target": "com.amazonaws.pipes#PipeEnrichmentHttpParameters",
          "traits": {
            "smithy.api#documentation": "<p>Contains the HTTP parameters to use when the target is a API Gateway REST\n         endpoint or EventBridge ApiDestination.</p>\n         <p>If you specify an API Gateway REST API or EventBridge ApiDestination as a\n         target, you can use this parameter to specify headers, path parameters, and query string\n         keys/values as part of your target invoking request. If you're using ApiDestinations, the\n         corresponding Connection can also have these values configured. In case of any conflicting\n         keys, values from the Connection take precedence.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters required to set up enrichment on your pipe.</p>"
      }
    },
    "com.amazonaws.pipes#PipeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pipes#Pipe"
      }
    },
    "com.amazonaws.pipes#PipeLogConfiguration": {
      "type": "structure",
      "members": {
        "S3LogDestination": {
          "target": "com.amazonaws.pipes#S3LogDestination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 logging configuration settings for the pipe.</p>"
          }
        },
        "FirehoseLogDestination": {
          "target": "com.amazonaws.pipes#FirehoseLogDestination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Data Firehose logging configuration settings for the pipe.</p>"
          }
        },
        "CloudwatchLogsLogDestination": {
          "target": "com.amazonaws.pipes#CloudwatchLogsLogDestination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs logging configuration settings for the pipe.</p>"
          }
        },
        "Level": {
          "target": "com.amazonaws.pipes#LogLevel",
          "traits": {
            "smithy.api#documentation": "<p>The level of logging detail to include. This applies to all log destinations for the pipe.</p>"
          }
        },
        "IncludeExecutionData": {
          "target": "com.amazonaws.pipes#IncludeExecutionData",
          "traits": {
            "smithy.api#documentation": "<p>Whether the execution data (specifically, the <code>payload</code>,\n            <code>awsRequest</code>, and <code>awsResponse</code> fields) is included in the log\n         messages for this pipe.</p>\n         <p>This applies to all log destinations for the pipe.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes-logs.html#eb-pipes-logs-execution-data\">Including execution data in logs</a> in the <i>Amazon EventBridge User\n            Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The logging configuration settings for the pipe.</p>"
      }
    },
    "com.amazonaws.pipes#PipeLogConfigurationParameters": {
      "type": "structure",
      "members": {
        "S3LogDestination": {
          "target": "com.amazonaws.pipes#S3LogDestinationParameters",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 logging configuration settings for the pipe.</p>"
          }
        },
        "FirehoseLogDestination": {
          "target": "com.amazonaws.pipes#FirehoseLogDestinationParameters",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Data Firehose logging configuration settings for the pipe.</p>"
          }
        },
        "CloudwatchLogsLogDestination": {
          "target": "com.amazonaws.pipes#CloudwatchLogsLogDestinationParameters",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs logging configuration settings for the pipe.</p>"
          }
        },
        "Level": {
          "target": "com.amazonaws.pipes#LogLevel",
          "traits": {
            "smithy.api#documentation": "<p>The level of logging detail to include. This applies to all log destinations for the pipe.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes-logs.html#eb-pipes-logs-level\">Specifying\n               EventBridge Pipes log level</a> in the <i>Amazon EventBridge User\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludeExecutionData": {
          "target": "com.amazonaws.pipes#IncludeExecutionData",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>ALL</code> to include the execution data (specifically, the\n            <code>payload</code>, <code>awsRequest</code>, and <code>awsResponse</code> fields) in\n         the log messages for this pipe.</p>\n         <p>This applies to all log destinations for the pipe.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-pipes-logs.html#eb-pipes-logs-execution-data\">Including execution data in logs</a> in the <i>Amazon EventBridge User\n            Guide</i>.</p>\n         <p>By default, execution data is not included.</p>"
          }
        }
      },
      "traits": {
[...]
