{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.pricing#AWSPriceListService": {
      "type": "service",
      "version": "2017-10-15",
      "operations": [
        {
          "target": "com.amazonaws.pricing#DescribeServices"
        },
        {
          "target": "com.amazonaws.pricing#GetAttributeValues"
        },
        {
          "target": "com.amazonaws.pricing#GetPriceListFileUrl"
        },
        {
          "target": "com.amazonaws.pricing#GetProducts"
        },
        {
          "target": "com.amazonaws.pricing#ListPriceLists"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Pricing",
          "arnNamespace": "pricing",
          "cloudFormationName": "Pricing",
          "cloudTrailEventSource": "pricelist.amazonaws.com",
          "endpointPrefix": "api.pricing"
        },
        "aws.auth#sigv4": {
          "name": "pricing"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>The Amazon Web Services Price List API is a centralized and convenient way to programmatically\n         query Amazon Web Services for services, products, and pricing information. The Amazon Web Services Price List uses standardized product attributes such as <code>Location</code>,\n            <code>Storage Class</code>, and <code>Operating System</code>, and provides prices at\n         the SKU level. You can use the Amazon Web Services Price List to do the following:</p>\n         <ul>\n            <li>\n               <p>Build cost control and scenario planning tools</p>\n            </li>\n            <li>\n               <p>Reconcile billing data</p>\n            </li>\n            <li>\n               <p>Forecast future spend for budgeting purposes</p>\n            </li>\n            <li>\n               <p>Provide cost benefit analysis that compare your internal workloads with Amazon Web Services</p>\n            </li>\n         </ul>\n         <p>Use <code>GetServices</code> without a service code to retrieve the service codes for\n         all Amazon Web Services services, then <code>GetServices</code> with a service code to\n         retrieve the attribute names for that service. After you have the service code and\n         attribute names, you can use <code>GetAttributeValues</code> to see what values are\n         available for an attribute. With the service code and an attribute name and value, you can\n         use <code>GetProducts</code> to find specific products that you're interested in, such as\n         an <code>AmazonEC2</code> instance, with a <code>Provisioned IOPS</code>\n            <code>volumeType</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/price-changes.html\">Using the\n               Amazon Web Services Price List API</a> in the <i>Billing User\n            Guide</i>.</p>",
        "smithy.api#title": "AWS Price List Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://api.pricing-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://api.pricing-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://api.pricing.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            "aws",
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            }
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://api.pricing.{Region}.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://api.pricing.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.pricing.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.pricing#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>General authentication failure. The request wasn't signed correctly.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.pricing#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#String"
      }
    },
    "com.amazonaws.pricing#AttributeValue": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific value of an <code>attributeName</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values of a given attribute, such as <code>Throughput Optimized HDD</code> or <code>Provisioned\n          IOPS</code> for the <code>Amazon EC2</code>\n            <code>volumeType</code> attribute.</p>"
      }
    },
    "com.amazonaws.pricing#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#AttributeValue"
      }
    },
    "com.amazonaws.pricing#BoxedInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 100,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.pricing#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{3}$"
      }
    },
    "com.amazonaws.pricing#DescribeServices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pricing#DescribeServicesRequest"
      },
      "output": {
        "target": "com.amazonaws.pricing#DescribeServicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pricing#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InternalErrorException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.pricing#NotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the metadata for one service or a list of the metadata for all services. Use\n         this without a service code to get the service codes for all services.\n         Use it with a service code, such as <code>AmazonEC2</code>, to get information specific to \n         that service, such as the attribute \n         names available for that service. For example, some of the attribute names available for EC2 are \n         <code>volumeType</code>, <code>maxIopsVolume</code>, <code>operation</code>,\n         <code>locationType</code>, and <code>instanceCapacity10xlarge</code>.</p>",
        "smithy.api#examples": [
          {
            "title": "To retrieve a list of services and service codes",
            "documentation": "Retrieves the service for the given Service Code.",
            "input": {
              "ServiceCode": "AmazonEC2",
              "FormatVersion": "aws_v1",
              "MaxResults": 1
            },
            "output": {
              "FormatVersion": "aws_v1",
              "NextToken": "abcdefg123",
              "Services": [
                {
                  "AttributeNames": [
                    "volumeType",
                    "maxIopsvolume",
                    "instanceCapacity10xlarge",
                    "locationType",
                    "operation"
                  ],
                  "ServiceCode": "AmazonEC2"
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Services",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.pricing#DescribeServicesRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The code for the service whose information you want to retrieve, such as <code>AmazonEC2</code>.\n          You can use \n         the <code>ServiceCode</code> to filter the results in a <code>GetProducts</code> call.\n      To retrieve a list of all services, leave this blank.</p>"
          }
        },
        "FormatVersion": {
          "target": "com.amazonaws.pricing#FormatVersion",
          "traits": {
            "smithy.api#documentation": "<p>The format version that you want the response to be in.</p>\n         <p>Valid values are: <code>aws_v1</code>\n         </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pricing#BoxedInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results that you want returned in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pricing#DescribeServicesResponse": {
      "type": "structure",
      "members": {
        "Services": {
          "target": "com.amazonaws.pricing#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The service metadata for the service or services in the response.</p>"
          }
        },
        "FormatVersion": {
          "target": "com.amazonaws.pricing#FormatVersion",
          "traits": {
            "smithy.api#documentation": "<p>The format version of the response. For example, <code>aws_v1</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token for the next set of retrievable results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pricing#EffectiveDate": {
      "type": "timestamp"
    },
    "com.amazonaws.pricing#ExpiredNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token expired. Try again without a pagination token.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.pricing#Field": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.pricing#FileFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.pricing#FileFormats": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#FileFormat"
      }
    },
    "com.amazonaws.pricing#Filter": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.pricing#FilterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of filter that you want to use.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>TERM_MATCH</code>: Returns only \n            products that match both the given filter field and the given value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQUALS</code>: Returns products that have a field value exactly matching the provided value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CONTAINS</code>: Returns products where the field value contains the provided value as a substring.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ANY_OF</code>: Returns products where the field value is any of the provided values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE_OF</code>: Returns products where the field value is not any of the provided values.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Field": {
          "target": "com.amazonaws.pricing#Field",
          "traits": {
            "smithy.api#documentation": "<p>The product metadata field that you want to filter on. You can filter by just the \n         service code to see all products for a specific service, filter \n         by just the attribute name to see a specific attribute for multiple services, or use both a service code\n         and an attribute name to retrieve only products that match both fields.</p>\n         <p>Valid values include: <code>ServiceCode</code>, and all attribute names</p>\n         <p>For example, you can filter by the <code>AmazonEC2</code> service code and the \n         <code>volumeType</code> attribute name to get the prices for only Amazon EC2 volumes.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.pricing#Value",
          "traits": {
            "smithy.api#documentation": "<p>The service code or attribute value that you want to filter by. If you're filtering\n         by service code this is the actual service code, such as <code>AmazonEC2</code>. If you're\n         filtering by attribute name, this is the attribute value that you want the returned\n         products to match, such as a <code>Provisioned IOPS</code> volume.</p>\n         <p>For <code>ANY_OF</code> and <code>NONE_OF</code> filter types, you can provide multiple values as a comma-separated string. For example, <code>t2.micro,t2.small,t2.medium</code> or <code>Compute optimized, GPU instance, Micro instances</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The constraints that you want all returned products to match.</p>"
      }
    },
    "com.amazonaws.pricing#FilterType": {
      "type": "enum",
      "members": {
        "TERM_MATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERM_MATCH"
          }
        },
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "ANY_OF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANY_OF"
          }
        },
        "NONE_OF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE_OF"
          }
        }
      }
    },
    "com.amazonaws.pricing#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.pricing#FormatVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.pricing#GetAttributeValues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pricing#GetAttributeValuesRequest"
      },
      "output": {
        "target": "com.amazonaws.pricing#GetAttributeValuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pricing#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InternalErrorException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.pricing#NotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of attribute values. Attributes are similar to the details \n          in a Price List API offer file. For a list of available attributes, see \n         <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/reading-an-offer.html#pps-defs\">Offer File Definitions</a>\n         in the <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-what-is.html\">Billing and Cost Management User Guide</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "To retrieve a list of attribute values",
            "documentation": "This operation returns a list of values available for the given attribute.",
            "input": {
              "ServiceCode": "AmazonEC2",
              "AttributeName": "volumeType",
              "MaxResults": 2
            },
            "output": {
              "NextToken": "GpgauEXAMPLEezucl5LV0w==:7GzYJ0nw0DBTJ2J66EoTIIynE6O1uXwQtTRqioJzQadBnDVgHPzI1en4BUQnPCLpzeBk9RQQAWaFieA4+DapFAGLgk+Z/9/cTw9GldnPOHN98+FdmJP7wKU3QQpQ8MQr5KOeBkIsAqvAQYdL0DkL7tHwPtE5iCEByAmg9gcC/yBU1vAOsf7R3VaNN4M5jMDv3woSWqASSIlBVB6tgW78YL22KhssoItM/jWW+aP6Jqtq4mldxp/ct6DWAl+xLFwHU/CbketimPPXyqHF3/UXDw==",
              "AttributeValues": [
                {
                  "Value": "Throughput Optimized HDD"
                },
                {
                  "Value": "Provisioned IOPS"
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "AttributeValues",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.pricing#GetAttributeValuesRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The service code for the service whose attributes you want to retrieve. For example, if you want \n          the retrieve an EC2 attribute, use <code>AmazonEC2</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeName": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute that you want to retrieve the values for, such as <code>volumeType</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pricing#BoxedInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return in response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pricing#GetAttributeValuesResponse": {
      "type": "structure",
      "members": {
        "AttributeValues": {
          "target": "com.amazonaws.pricing#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>The list of values for an attribute. For example, <code>Throughput Optimized HDD</code> and \n      <code>Provisioned IOPS</code> are two available values for the <code>AmazonEC2</code>\n            <code>volumeType</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pricing#GetPriceListFileUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pricing#GetPriceListFileUrlRequest"
      },
      "output": {
        "target": "com.amazonaws.pricing#GetPriceListFileUrlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pricing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pricing#InternalErrorException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.pricing#NotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>\n               <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b>\n            </i>\n         </p>\n         <p>This returns the URL that you can retrieve your Price List file from. This URL is based\n         on the <code>PriceListArn</code> and <code>FileFormat</code> that you retrieve from the\n            <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>"
      }
    },
    "com.amazonaws.pricing#GetPriceListFileUrlRequest": {
      "type": "structure",
      "members": {
        "PriceListArn": {
          "target": "com.amazonaws.pricing#PriceListArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier that maps to where your Price List files are located.\n            <code>PriceListArn</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>",
            "smithy.api#required": {}
          }
        },
        "FileFormat": {
          "target": "com.amazonaws.pricing#FileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format that you want to retrieve your Price List files in. The\n            <code>FileFormat</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">ListPriceLists</a> response. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pricing#GetPriceListFileUrlResponse": {
      "type": "structure",
      "members": {
        "Url": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL to download your Price List file from. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pricing#GetProducts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pricing#GetProductsRequest"
      },
      "output": {
        "target": "com.amazonaws.pricing#GetProductsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pricing#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InternalErrorException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.pricing#NotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all products that match the filter criteria.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PriceList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.pricing#GetProductsRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The code for the service whose products you want to retrieve. </p>",
            "smithy.api#required": {}
          }
        },
        "Filters": {
          "target": "com.amazonaws.pricing#Filters",
          "traits": {
            "smithy.api#documentation": "<p>The list of filters that limit the returned products. only products that match all filters\n         are returned.</p>"
          }
        },
        "FormatVersion": {
          "target": "com.amazonaws.pricing#FormatVersion",
          "traits": {
            "smithy.api#documentation": "<p>The format version that you want the response to be in.</p>\n         <p>Valid values are: <code>aws_v1</code>\n         </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pricing#BoxedInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pricing#GetProductsResponse": {
      "type": "structure",
      "members": {
        "FormatVersion": {
          "target": "com.amazonaws.pricing#FormatVersion",
          "traits": {
            "smithy.api#documentation": "<p>The format version of the response. For example, aws_v1.</p>"
          }
        },
        "PriceList": {
          "target": "com.amazonaws.pricing#PriceListJsonItems",
          "traits": {
            "smithy.api#documentation": "<p>The list of products that match your filters. The list contains both the product metadata and \n         the price information.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pricing#InternalErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error on the server occurred during the processing of your request. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.pricing#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token is invalid. Try again without a pagination token.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.pricing#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters had an invalid value.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.pricing#ListPriceLists": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.pricing#ListPriceListsRequest"
      },
      "output": {
        "target": "com.amazonaws.pricing#ListPriceListsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.pricing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.pricing#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InternalErrorException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.pricing#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.pricing#NotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.pricing#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>\n               <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b>\n            </i>\n         </p>\n         <p>This returns a list of Price List references that the requester if authorized to view,\n         given a <code>ServiceCode</code>, <code>CurrencyCode</code>, and an\n            <code>EffectiveDate</code>. Use without a <code>RegionCode</code> filter to list Price\n         List references from all available Amazon Web Services Regions. Use with a\n            <code>RegionCode</code> filter to get the Price List reference that's specific to a\n         specific Amazon Web Services Region. You can use the <code>PriceListArn</code> from the\n         response to get your preferred Price List files through the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetPriceListFileUrl.html\">GetPriceListFileUrl</a> API.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PriceLists",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.pricing#ListPriceListsRequest": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.pricing#ServiceCode",
          "traits": {
            "smithy.api#documentation": "<p>The service code or the Savings Plan service code for the attributes that\n         you want to retrieve. For example, to get the list of applicable Amazon EC2 price\n         lists, use <code>AmazonEC2</code>. For a full list of service codes containing On-Demand\n         and Reserved Instance (RI) pricing, use the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_DescribeServices.html#awscostmanagement-pricing_DescribeServices-request-FormatVersion\">DescribeServices</a> API.</p>\n         <p>To retrieve the Reserved Instance and Compute Savings Plan price lists,\n         use <code>ComputeSavingsPlans</code>. </p>\n         <p>To retrieve Machine Learning Savings Plans price lists, use\n            <code>MachineLearningSavingsPlans</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "EffectiveDate": {
          "target": "com.amazonaws.pricing#EffectiveDate",
          "traits": {
            "smithy.api#documentation": "<p>The date that the Price List file prices are effective from. </p>",
            "smithy.api#required": {}
          }
        },
        "RegionCode": {
          "target": "com.amazonaws.pricing#RegionCode",
          "traits": {
            "smithy.api#documentation": "<p>This is used to filter the Price List by Amazon Web Services Region. For example, to get\n         the price list only for the <code>US East (N. Virginia)</code> Region, use\n            <code>us-east-1</code>. If nothing is specified, you retrieve price lists for all\n         applicable Regions. The available <code>RegionCode</code> list can be retrieved from <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetAttributeValues.html\">GetAttributeValues</a> API.</p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.pricing#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The three alphabetical character ISO-4217 currency code that the Price List files are\n         denominated in. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.pricing#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.pricing#ListPriceListsResponse": {
      "type": "structure",
      "members": {
        "PriceLists": {
          "target": "com.amazonaws.pricing#PriceLists",
          "traits": {
            "smithy.api#documentation": "<p>The type of price list references that match your request. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.pricing#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 100,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.pricing#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource can't be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.pricing#PriceList": {
      "type": "structure",
      "members": {
        "PriceListArn": {
          "target": "com.amazonaws.pricing#PriceListArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier that maps to where your Price List files are located.\n            <code>PriceListArn</code> can be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">\n               <code>ListPriceList</code>\n            </a> response. </p>"
          }
        },
        "RegionCode": {
          "target": "com.amazonaws.pricing#RegionCode",
          "traits": {
            "smithy.api#documentation": "<p>This is used to filter the Price List by Amazon Web Services Region. For example, to get\n         the price list only for the <code>US East (N. Virginia)</code> Region, use\n            <code>us-east-1</code>. If nothing is specified, you retrieve price lists for all\n         applicable Regions. The available <code>RegionCode</code> list can be retrieved from <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_GetAttributeValues.html\">\n               <code>GetAttributeValues</code>\n            </a> API. </p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.pricing#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The three alphabetical character ISO-4217 currency code the Price List files are\n         denominated in. </p>"
          }
        },
        "FileFormats": {
          "target": "com.amazonaws.pricing#FileFormats",
          "traits": {
            "smithy.api#documentation": "<p>The format you want to retrieve your Price List files. The <code>FileFormat</code> can\n         be obtained from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_pricing_ListPriceLists.html\">\n               <code>ListPriceList</code>\n            </a> response. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>\n               <b>This feature is in preview release and is subject to change. Your use of Amazon Web Services Price List API is subject to the Beta Service Participation terms of the <a href=\"https://aws.amazon.com/service-terms/\">Amazon Web Services Service Terms</a> (Section 1.10).</b>\n            </i>\n         </p>\n         <p>This is the type of price list references that match your request. </p>"
      }
    },
    "com.amazonaws.pricing#PriceListArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 18,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[A-Za-z0-9][-.A-Za-z0-9]{0,62}:pricing:::price-list/[A-Za-z0-9+_/.-]{1,1023}$"
      }
    },
    "com.amazonaws.pricing#PriceListJsonItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#SynthesizedJsonPriceListJsonItem"
      }
    },
    "com.amazonaws.pricing#PriceLists": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#PriceList"
      }
    },
    "com.amazonaws.pricing#RegionCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.pricing#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource can't be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.pricing#Service": {
      "type": "structure",
      "members": {
        "ServiceCode": {
          "target": "com.amazonaws.pricing#String",
          "traits": {
            "smithy.api#documentation": "<p>The code for the Amazon Web Services service.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeNames": {
          "target": "com.amazonaws.pricing#AttributeNameList",
          "traits": {
            "smithy.api#documentation": "<p>The attributes that are available for this service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata for a service, such as the service code and available attribute names.</p>"
      }
    },
    "com.amazonaws.pricing#ServiceCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.pricing#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.pricing#Service"
      }
    },
    "com.amazonaws.pricing#String": {
      "type": "string"
    },
    "com.amazonaws.pricing#SynthesizedJsonPriceListJsonItem": {
      "type": "string",
      "traits": {
        "smithy.api#mediaType": "application/json"
      }
    },
    "com.amazonaws.pricing#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.pricing#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You've made too many requests exceeding service quotas.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.pricing#Value": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.pricing#errorMessage": {
      "type": "string"
    }
  }
}
