{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.privatenetworks#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have permission to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.privatenetworks#AcknowledgeOrderReceipt": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#AcknowledgeOrderReceiptRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#AcknowledgeOrderReceiptResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Acknowledges that the specified network order was received.</p>",
        "smithy.api#http": {
          "uri": "/v1/orders/acknowledge",
          "method": "POST",
          "code": 200
        }
      }
    },
    "com.amazonaws.privatenetworks#AcknowledgeOrderReceiptRequest": {
      "type": "structure",
      "members": {
        "orderArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the order.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#AcknowledgeOrderReceiptResponse": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.amazonaws.privatenetworks#Order",
          "traits": {
            "smithy.api#documentation": "<p>Information about the order.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#AcknowledgmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACKNOWLEDGING",
            "name": "ACKNOWLEDGING"
          },
          {
            "value": "ACKNOWLEDGED",
            "name": "ACKNOWLEDGED"
          },
          {
            "value": "UNACKNOWLEDGED",
            "name": "UNACKNOWLEDGED"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#ActivateDeviceIdentifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ActivateDeviceIdentifierRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ActivateDeviceIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the specified device identifier.</p>",
        "smithy.api#http": {
          "uri": "/v1/device-identifiers/activate",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#ActivateDeviceIdentifierRequest": {
      "type": "structure",
      "members": {
        "deviceIdentifierArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ActivateDeviceIdentifierResponse": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags on the device identifier. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ActivateNetworkSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ActivateNetworkSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ActivateNetworkSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates the specified network site.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-sites/activate",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#ActivateNetworkSiteRequest": {
      "type": "structure",
      "members": {
        "networkSiteArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
            "smithy.api#required": {}
          }
        },
        "shippingAddress": {
          "target": "com.amazonaws.privatenetworks#Address",
          "traits": {
            "smithy.api#documentation": "<p>The shipping address of the network site.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>"
          }
        },
        "commitmentConfiguration": {
          "target": "com.amazonaws.privatenetworks#CommitmentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Determines the duration and renewal status of the commitment period for all pending radio\n            units.</p>\n         <p>If you include <code>commitmentConfiguration</code> in the\n                <code>ActivateNetworkSiteRequest</code> action, you must specify the\n            following:</p>\n         <ul>\n            <li>\n               <p>The commitment period for the radio unit. You can choose a 60-day, 1-year, or\n                    3-year period.</p>\n            </li>\n            <li>\n               <p>Whether you want your commitment period to automatically renew for one more\n                    year after your current commitment period expires.</p>\n            </li>\n         </ul>\n         <p>For pricing, see <a href=\"http://aws.amazon.com/private5g/pricing\">Amazon Web Services Private 5G\n                Pricing</a>.</p>\n         <p>If you do not include <code>commitmentConfiguration</code> in the\n                <code>ActivateNetworkSiteRequest</code> action, the commitment period is set to\n            60-days.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ActivateNetworkSiteResponse": {
      "type": "structure",
      "members": {
        "networkSite": {
          "target": "com.amazonaws.privatenetworks#NetworkSite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network site.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#Address": {
      "type": "structure",
      "members": {
        "city": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The city for this address.</p>",
            "smithy.api#required": {}
          }
        },
        "company": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The company name for this address.</p>"
          }
        },
        "country": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The country for this address.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The recipient's name for this address.</p>",
            "smithy.api#required": {}
          }
        },
        "phoneNumber": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The recipient's phone number.</p>"
          }
        },
        "postalCode": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The postal code for this address.</p>",
            "smithy.api#required": {}
          }
        },
        "stateOrProvince": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The state or province for this address.</p>",
            "smithy.api#required": {}
          }
        },
        "street1": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The first line of the street address.</p>",
            "smithy.api#required": {}
          }
        },
        "street2": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The second line of the street address.</p>"
          }
        },
        "street3": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The third line of the street address.</p>"
          }
        },
        "emailAddress": {
          "target": "com.amazonaws.privatenetworks#AddressContent",
          "traits": {
            "smithy.api#documentation": "<p>The recipient's email address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an address.</p>"
      }
    },
    "com.amazonaws.privatenetworks#AddressContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.privatenetworks#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:private-networks:[a-z0-9-]+:[^:]*:.*$"
      }
    },
    "com.amazonaws.privatenetworks#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.privatenetworks#CommitmentConfiguration": {
      "type": "structure",
      "members": {
        "commitmentLength": {
          "target": "com.amazonaws.privatenetworks#CommitmentLength",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the commitment period for the radio unit. You can choose a 60-day, 1-year, or 3-year\n            period.</p>",
            "smithy.api#required": {}
          }
        },
        "automaticRenewal": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the commitment period for a radio unit is set to automatically\n            renew for an additional 1 year after your current commitment period expires.</p>\n         <p>Set to <code>True</code>, if you want your commitment period to automatically renew.\n            Set to <code>False</code> if you do not want your commitment to automatically renew.</p>\n         <p>You can do the following:</p>\n         <ul>\n            <li>\n               <p>Set a 1-year commitment to automatically renew for an additional 1 year. The\n                    hourly rate for the additional year will continue to be the same as your\n                    existing 1-year rate.</p>\n            </li>\n            <li>\n               <p>Set a 3-year commitment to automatically renew for an additional 1 year. The\n                    hourly rate for the additional year will continue to be the same as your\n                    existing 3-year rate.</p>\n            </li>\n            <li>\n               <p>Turn off a previously-enabled automatic renewal on a 1-year or 3-year\n                    commitment.</p>\n            </li>\n         </ul>\n         <p>You cannot use the automatic-renewal option for a 60-day\n            commitment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determines the duration and renewal status of the commitment period for a radio\n            unit.</p>\n         <p>For pricing, see <a href=\"http://aws.amazon.com/private5g/pricing\">Amazon Web Services Private 5G\n                Pricing</a>.</p>"
      }
    },
    "com.amazonaws.privatenetworks#CommitmentInformation": {
      "type": "structure",
      "members": {
        "commitmentConfiguration": {
          "target": "com.amazonaws.privatenetworks#CommitmentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The duration and renewal status of the commitment period for the radio unit.</p>",
            "smithy.api#required": {}
          }
        },
        "startAt": {
          "target": "com.amazonaws.privatenetworks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the commitment period started.</p>"
          }
        },
        "expiresOn": {
          "target": "com.amazonaws.privatenetworks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the commitment period ends. If you do not cancel or renew the\n            commitment before the expiration date, you will be billed at the 60-day-commitment\n            rate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Shows the duration, the date and time that the contract started and ends, and the\n            renewal status of the commitment period for the radio unit.</p>"
      }
    },
    "com.amazonaws.privatenetworks#CommitmentLength": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SIXTY_DAYS",
            "value": "SIXTY_DAYS"
          },
          {
            "name": "ONE_YEAR",
            "value": "ONE_YEAR"
          },
          {
            "name": "THREE_YEARS",
            "value": "THREE_YEARS"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#ConfigureAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ConfigureAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ConfigureAccessPointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Configures the specified network resource. </p>\n         <p> Use this action to specify the geographic position of the hardware. You must provide\n            Certified Professional Installer (CPI) credentials in the request so that we can obtain\n            spectrum grants. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/radio-units.html\">Radio units</a> in the\n                    <i>Amazon Web Services Private 5G User Guide</i>. </p>",
        "smithy.api#http": {
          "uri": "/v1/network-resources/configure",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#ConfigureAccessPointRequest": {
      "type": "structure",
      "members": {
        "accessPointArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.amazonaws.privatenetworks#Position",
          "traits": {
            "smithy.api#documentation": "<p>The position of the network resource.</p>"
          }
        },
        "cpiUsername": {
          "target": "com.amazonaws.privatenetworks#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The CPI user name of the CPI user who is certifying the coordinates of the radio\n            unit.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 4096
            }
          }
        },
        "cpiUserId": {
          "target": "com.amazonaws.privatenetworks#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The CPI user ID of the CPI user who is certifying the coordinates of the network\n            resource. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 4096
            }
          }
        },
        "cpiUserPassword": {
          "target": "com.amazonaws.privatenetworks#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The CPI password associated with the CPI certificate in\n            <code>cpiSecretKey</code>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 4096
            }
          }
        },
        "cpiSecretKey": {
          "target": "com.amazonaws.privatenetworks#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A Base64 encoded string of the CPI certificate associated with the CPI user who is\n            certifying the coordinates of the network resource. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100000
            }
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ConfigureAccessPointResponse": {
      "type": "structure",
      "members": {
        "accessPoint": {
          "target": "com.amazonaws.privatenetworks#NetworkResource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#CreateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#CreateNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#CreateNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#LimitExceededException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network.</p>",
        "smithy.api#http": {
          "uri": "/v1/networks",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#CreateNetworkRequest": {
      "type": "structure",
      "members": {
        "networkName": {
          "target": "com.amazonaws.privatenetworks#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network. You can't change the name after you create the\n            network.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.privatenetworks#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the network.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags to apply to the network. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#CreateNetworkResponse": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.amazonaws.privatenetworks#Network",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The network tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#CreateNetworkSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#CreateNetworkSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#CreateNetworkSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a network site.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-sites",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#CreateNetworkSiteRequest": {
      "type": "structure",
      "members": {
        "networkSiteName": {
          "target": "com.amazonaws.privatenetworks#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the site. You can't change the name after you create the site.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.privatenetworks#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the site.</p>"
          }
        },
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "pendingPlan": {
          "target": "com.amazonaws.privatenetworks#SitePlan",
          "traits": {
            "smithy.api#documentation": "<p>Information about the pending plan for this site.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>"
          }
        },
        "availabilityZone": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone that is the parent of this site. You can't change the\n            Availability Zone after you create the site.</p>"
          }
        },
        "availabilityZoneId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Availability Zone that is the parent of this site. You can't change the\n            Availability Zone after you create the site.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags to apply to the network site. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#CreateNetworkSiteResponse": {
      "type": "structure",
      "members": {
        "networkSite": {
          "target": "com.amazonaws.privatenetworks#NetworkSite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network site.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The network site tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeactivateDeviceIdentifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#DeactivateDeviceIdentifierRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#DeactivateDeviceIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deactivates the specified device identifier.</p>",
        "smithy.api#http": {
          "uri": "/v1/device-identifiers/deactivate",
          "method": "POST",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#DeactivateDeviceIdentifierRequest": {
      "type": "structure",
      "members": {
        "deviceIdentifierArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeactivateDeviceIdentifierResponse": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device identifier.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#DeleteNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#DeleteNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified network. You must delete network sites before you delete the\n            network. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/APIReference/API_DeleteNetworkSite.html\">DeleteNetworkSite</a> in the <i>API Reference for Amazon Web Services Private\n                5G</i>.</p>",
        "smithy.api#http": {
          "uri": "/v1/networks/{networkArn}",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetworkRequest": {
      "type": "structure",
      "members": {
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetworkResponse": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.amazonaws.privatenetworks#Network",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetworkSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#DeleteNetworkSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#DeleteNetworkSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified network site. Return the hardware after you delete the network\n            site. You are responsible for minimum charges. For more information, see <a href=\"https://docs.aws.amazon.com/private-networks/latest/userguide/hardware-maintenance.html\">Hardware\n                returns</a> in the <i>Amazon Web Services Private 5G User\n            Guide</i>. </p>",
        "smithy.api#http": {
          "uri": "/v1/network-sites/{networkSiteArn}",
          "method": "DELETE",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetworkSiteRequest": {
      "type": "structure",
      "members": {
        "networkSiteArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.privatenetworks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Run_Instance_Idempotency.html\">How to ensure\n                idempotency</a>.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#DeleteNetworkSiteResponse": {
      "type": "structure",
      "members": {
        "networkSite": {
          "target": "com.amazonaws.privatenetworks#NetworkSite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network site.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifier": {
      "type": "structure",
      "members": {
        "deviceIdentifierArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>"
          }
        },
        "trafficGroupArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the traffic group to which the device identifier\n            belongs.</p>"
          }
        },
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network on which the device identifier\n            appears.</p>"
          }
        },
        "imsi": {
          "target": "com.amazonaws.privatenetworks#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The International Mobile Subscriber Identity of the device identifier.</p>",
            "smithy.api#pattern": "^[0-9]{15}$"
          }
        },
        "iccid": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Integrated Circuit Card Identifier of the device identifier.</p>"
          }
        },
        "vendor": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The vendor of the device identifier.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifierStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the device identifier.</p>"
          }
        },
        "orderArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the order used to purchase the device\n            identifier.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.privatenetworks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of this device identifier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a subscriber of a device that can use a network.</p>"
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifierFilterKeys": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "STATUS",
            "value": "STATUS"
          },
          {
            "name": "ORDER",
            "value": "ORDER"
          },
          {
            "name": "TRAFFIC_GROUP",
            "value": "TRAFFIC_GROUP"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifierFilterValues": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifierFilters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.privatenetworks#DeviceIdentifierFilterKeys"
      },
      "value": {
        "target": "com.amazonaws.privatenetworks#DeviceIdentifierFilterValues"
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.privatenetworks#DeviceIdentifier"
      }
    },
    "com.amazonaws.privatenetworks#DeviceIdentifierStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#E5GNetworkControllerLambda": {
      "type": "service",
      "version": "2021-12-03",
      "operations": [
        {
          "target": "com.amazonaws.privatenetworks#AcknowledgeOrderReceipt"
        },
        {
          "target": "com.amazonaws.privatenetworks#ActivateDeviceIdentifier"
        },
        {
          "target": "com.amazonaws.privatenetworks#ActivateNetworkSite"
        },
        {
          "target": "com.amazonaws.privatenetworks#ConfigureAccessPoint"
        },
        {
          "target": "com.amazonaws.privatenetworks#CreateNetwork"
        },
        {
          "target": "com.amazonaws.privatenetworks#CreateNetworkSite"
        },
        {
          "target": "com.amazonaws.privatenetworks#DeactivateDeviceIdentifier"
        },
        {
          "target": "com.amazonaws.privatenetworks#DeleteNetwork"
        },
        {
          "target": "com.amazonaws.privatenetworks#DeleteNetworkSite"
        },
        {
          "target": "com.amazonaws.privatenetworks#GetDeviceIdentifier"
        },
        {
          "target": "com.amazonaws.privatenetworks#GetNetwork"
        },
        {
          "target": "com.amazonaws.privatenetworks#GetNetworkResource"
        },
        {
          "target": "com.amazonaws.privatenetworks#GetNetworkSite"
        },
        {
          "target": "com.amazonaws.privatenetworks#GetOrder"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListDeviceIdentifiers"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListNetworkResources"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListNetworks"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListNetworkSites"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListOrders"
        },
        {
          "target": "com.amazonaws.privatenetworks#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.privatenetworks#Ping"
        },
        {
          "target": "com.amazonaws.privatenetworks#StartNetworkResourceUpdate"
        },
        {
          "target": "com.amazonaws.privatenetworks#TagResource"
        },
        {
          "target": "com.amazonaws.privatenetworks#UntagResource"
        },
        {
          "target": "com.amazonaws.privatenetworks#UpdateNetworkSite"
        },
        {
          "target": "com.amazonaws.privatenetworks#UpdateNetworkSitePlan"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "PrivateNetworks",
          "arnNamespace": "private-networks"
        },
        "aws.auth#sigv4": {
          "name": "private-networks"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-trace-id"
          ],
          "maxAge": 86400
        },
        "smithy.api#documentation": "<p>Amazon Web Services Private 5G is a managed service that makes it easy to deploy, operate, and scale\n            your own private mobile network at your on-premises location. Private 5G provides the\n            pre-configured hardware and software for mobile networks, helps automate setup, and\n            scales capacity on demand to support additional devices as needed.</p>",
        "smithy.api#title": "AWS Private 5G",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://private-networks-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://private-networks-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://private-networks.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://private-networks.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://private-networks.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.privatenetworks#ElevationReference": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AGL",
            "name": "AGL"
          },
          {
            "value": "AMSL",
            "name": "AMSL"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#ElevationUnit": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FEET",
            "name": "FEET",
            "documentation": "Feet."
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#GetDeviceIdentifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#GetDeviceIdentifierRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#GetDeviceIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified device identifier.</p>",
        "smithy.api#http": {
          "uri": "/v1/device-identifiers/{deviceIdentifierArn}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#GetDeviceIdentifierRequest": {
      "type": "structure",
      "members": {
        "deviceIdentifierArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the device identifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetDeviceIdentifierResponse": {
      "type": "structure",
      "members": {
        "deviceIdentifier": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device identifier.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The device identifier tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#GetNetworkRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#GetNetworkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified network.</p>",
        "smithy.api#http": {
          "uri": "/v1/networks/{networkArn}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkRequest": {
      "type": "structure",
      "members": {
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#GetNetworkResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#GetNetworkResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified network resource.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-resources/{networkResourceArn}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkResourceRequest": {
      "type": "structure",
      "members": {
        "networkResourceArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkResourceResponse": {
      "type": "structure",
      "members": {
        "networkResource": {
          "target": "com.amazonaws.privatenetworks#NetworkResource",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network resource.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The network resource tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkResponse": {
      "type": "structure",
      "members": {
        "network": {
          "target": "com.amazonaws.privatenetworks#Network",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The network tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkSite": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#GetNetworkSiteRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#GetNetworkSiteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified network site.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-sites/{networkSiteArn}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkSiteRequest": {
      "type": "structure",
      "members": {
        "networkSiteArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network site.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetNetworkSiteResponse": {
      "type": "structure",
      "members": {
        "networkSite": {
          "target": "com.amazonaws.privatenetworks#NetworkSite",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network site.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The network site tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetOrder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#GetOrderRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#GetOrderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified order.</p>",
        "smithy.api#http": {
          "uri": "/v1/orders/{orderArn}",
          "method": "GET",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#GetOrderRequest": {
      "type": "structure",
      "members": {
        "orderArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the order.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#GetOrderResponse": {
      "type": "structure",
      "members": {
        "order": {
          "target": "com.amazonaws.privatenetworks#Order",
          "traits": {
            "smithy.api#documentation": "<p>Information about the order.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The order tags. </p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#HealthStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INITIAL",
            "name": "INITIAL"
          },
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          },
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "Description of the error.",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "Advice to clients on when the call can be safely retried.",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an internal error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.privatenetworks#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The limit was exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.privatenetworks#ListDeviceIdentifiers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListDeviceIdentifiersRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListDeviceIdentifiersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists device identifiers. Add filters to your request to return a more specific list\n            of results. Use filters to match the Amazon Resource Name (ARN) of an order, the status\n            of device identifiers, or the ARN of the traffic group.</p>\n         <p>If you specify multiple filters, filters are joined with an OR, and the request\nreturns results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "uri": "/v1/device-identifiers/list",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "startToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "deviceIdentifiers"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListDeviceIdentifiersRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifierFilters",
          "traits": {
            "smithy.api#documentation": "<p>The filters.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ORDER</code> - The Amazon Resource Name (ARN) of the order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STATUS</code> - The status (<code>ACTIVE</code> |\n                    <code>INACTIVE</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>TRAFFIC_GROUP</code> - The Amazon Resource Name (ARN) of the traffic\n                    group.</p>\n            </li>\n         </ul>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>"
          }
        },
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "startToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListDeviceIdentifiersResponse": {
      "type": "structure",
      "members": {
        "deviceIdentifiers": {
          "target": "com.amazonaws.privatenetworks#DeviceIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device identifiers.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListNetworkResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListNetworkResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists network resources. Add filters to your request to return a more specific list of\n            results. Use filters to match the Amazon Resource Name (ARN) of an order or the status\n            of network resources.</p>\n         <p>If you specify multiple filters, filters are joined with an OR, and the request\nreturns results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-resources",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "startToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "networkResources"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkResourcesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.privatenetworks#NetworkResourceFilters",
          "traits": {
            "smithy.api#documentation": "<p>The filters.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ORDER</code> - The Amazon Resource Name (ARN) of the order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STATUS</code> - The status (<code>AVAILABLE</code> |\n                        <code>DELETED</code> | <code>DELETING</code> | <code>PENDING</code> |\n                        <code>PENDING_RETURN</code> | <code>PROVISIONING</code> |\n                        <code>SHIPPED</code>).</p>\n            </li>\n         </ul>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>"
          }
        },
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "startToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkResourcesResponse": {
      "type": "structure",
      "members": {
        "networkResources": {
          "target": "com.amazonaws.privatenetworks#NetworkResourceList",
          "traits": {
            "smithy.api#documentation": "<p>Information about network resources.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkSites": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListNetworkSitesRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListNetworkSitesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists network sites. Add filters to your request to return a more specific list of\n            results. Use filters to match the status of the network site.</p>",
        "smithy.api#http": {
          "uri": "/v1/network-sites/list",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "startToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "networkSites"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkSitesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.privatenetworks#NetworkSiteFilters",
          "traits": {
            "smithy.api#documentation": "<p>The filters. Add filters to your request to return a more specific list of results.\n            Use filters to match the status of the network sites.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STATUS</code> - The status (<code>AVAILABLE</code> |\n                        <code>CREATED</code> | <code>DELETED</code> | <code>DEPROVISIONING</code> |\n                        <code>PROVISIONING</code>).</p>\n            </li>\n         </ul>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>"
          }
        },
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "startToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworkSitesResponse": {
      "type": "structure",
      "members": {
        "networkSites": {
          "target": "com.amazonaws.privatenetworks#NetworkSiteList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the network sites.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListNetworksRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListNetworksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists networks. Add filters to your request to return a more specific list of results.\n            Use filters to match the status of the network.</p>",
        "smithy.api#http": {
          "uri": "/v1/networks/list",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "startToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "networks"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListNetworksRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.privatenetworks#NetworkFilters",
          "traits": {
            "smithy.api#documentation": "<p>The filters.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STATUS</code> - The status (<code>AVAILABLE</code> |\n                        <code>CREATED</code> | <code>DELETED</code> | <code>DEPROVISIONING</code> |\n                        <code>PROVISIONING</code>).</p>\n            </li>\n         </ul>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>"
          }
        },
        "startToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListNetworksResponse": {
      "type": "structure",
      "members": {
        "networks": {
          "target": "com.amazonaws.privatenetworks#NetworkList",
          "traits": {
            "smithy.api#documentation": "<p>The networks.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListOrders": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListOrdersRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListOrdersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists orders. Add filters to your request to return a more specific list of results.\n            Use filters to match the Amazon Resource Name (ARN) of the network site or the status of\n            the order.</p>\n         <p>If you specify multiple filters, filters are joined with an OR, and the request\nreturns results that match all of the specified filters.</p>",
        "smithy.api#http": {
          "uri": "/v1/orders/list",
          "method": "POST",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "startToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "orders"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListOrdersRequest": {
      "type": "structure",
      "members": {
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "startToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        },
        "filters": {
          "target": "com.amazonaws.privatenetworks#OrderFilters",
          "traits": {
            "smithy.api#documentation": "<p>The filters.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NETWORK_SITE</code> - The Amazon Resource Name (ARN) of the network\n                    site.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STATUS</code> - The status (<code>ACKNOWLEDGING</code> |\n                        <code>ACKNOWLEDGED</code> | <code>UNACKNOWLEDGED</code>).</p>\n            </li>\n         </ul>\n         <p>Filter values are case sensitive. If you specify multiple \n         values for a filter, the values are joined with an <code>OR</code>, and the request returns \n         all results that match any of the specified values.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListOrdersResponse": {
      "type": "structure",
      "members": {
        "orders": {
          "target": "com.amazonaws.privatenetworks#OrderList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the orders.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.privatenetworks#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.privatenetworks#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.privatenetworks#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.privatenetworks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.privatenetworks#InternalServerException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.privatenetworks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.privatenetworks#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.privatenetworks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The resource tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.privatenetworks#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z-]*$"
      }
    },
    "com.amazonaws.privatenetworks#NameValuePair": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pair.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a name/value pair.</p>"
      }
    },
    "com.amazonaws.privatenetworks#NameValuePairs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.privatenetworks#NameValuePair"
      }
    },
    "com.amazonaws.privatenetworks#Network": {
      "type": "structure",
      "members": {
        "networkArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "networkName": {
          "target": "com.amazonaws.privatenetworks#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.privatenetworks#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the network.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.privatenetworks#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "statusReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status reason of the network.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.privatenetworks#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of the network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a network.</p>"
      }
    },
    "com.amazonaws.privatenetworks#NetworkFilterKeys": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "STATUS",
            "value": "STATUS"
          }
        ]
      }
    },
    "com.amazonaws.privatenetworks#NetworkFilterValues": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.privatenetworks#NetworkFilters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.privatenetworks#NetworkFilterKeys"
      },
      "value": {
        "target": "com.amazonaws.privatenetworks#NetworkFilterValues"
      }
    },
    "com.amazonaws.privatenetworks#NetworkList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.privatenetworks#Network"
      }
    },
    "com.amazonaws.privatenetworks#NetworkResource": {
      "type": "structure",
      "members": {
        "networkResourceArn": {
          "target": "com.amazonaws.privatenetworks#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network resource.</p>"
          }
        },
        "description": {
[...]
