{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.proton#AcceptEnvironmentAccountConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#AcceptEnvironmentAccountConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#AcceptEnvironmentAccountConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>In a management account, an environment account connection request is accepted. When the environment account connection request is accepted, Proton\n      can use the associated IAM role to provision environment infrastructure resources in the associated environment account.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account\n        connections</a> in the <i>Proton User guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#AcceptEnvironmentAccountConnectionInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentAccountConnectionResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#AcceptEnvironmentAccountConnectionOutput": {
      "type": "structure",
      "members": {
        "environmentAccountConnection": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnection",
          "traits": {
            "smithy.api#documentation": "<p>The environment account connection data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.proton#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There <i>isn't</i> sufficient access for performing this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.proton#AccountSettings": {
      "type": "structure",
      "members": {
        "pipelineServiceRoleArn": {
          "target": "com.amazonaws.proton#RoleArnOrEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service role you want to use for provisioning pipelines. Assumed by Proton for Amazon Web Services-managed provisioning, and by\n      customer-owned automation for self-managed provisioning.</p>"
          }
        },
        "pipelineProvisioningRepository": {
          "target": "com.amazonaws.proton#RepositoryBranch",
          "traits": {
            "smithy.api#documentation": "<p>The linked repository for pipeline provisioning. Required if you have environments configured for self-managed provisioning with services that include\n      pipelines. A linked repository is a repository that has been registered with Proton. For more information, see <a>CreateRepository</a>.</p>"
          }
        },
        "pipelineCodebuildRoleArn": {
          "target": "com.amazonaws.proton#RoleArnOrEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service role that Proton uses for provisioning pipelines. Proton assumes this role for CodeBuild-based\n      provisioning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Proton settings that are used for multiple services in the Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.proton#AccountSettingsResource": {
      "type": "resource",
      "read": {
        "target": "com.amazonaws.proton#GetAccountSettings"
      },
      "update": {
        "target": "com.amazonaws.proton#UpdateAccountSettings"
      }
    },
    "com.amazonaws.proton#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov):[a-zA-Z0-9-]+:[a-zA-Z0-9-]*:\\d{12}:([\\w+=,.@-]+[/:])*[\\w+=,.@-]+$"
      }
    },
    "com.amazonaws.proton#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.proton#AwsProton20200720": {
      "type": "service",
      "version": "2020-07-20",
      "operations": [
        {
          "target": "com.amazonaws.proton#CancelComponentDeployment"
        },
        {
          "target": "com.amazonaws.proton#CancelEnvironmentDeployment"
        },
        {
          "target": "com.amazonaws.proton#CancelServiceInstanceDeployment"
        },
        {
          "target": "com.amazonaws.proton#CancelServicePipelineDeployment"
        },
        {
          "target": "com.amazonaws.proton#GetRepositorySyncStatus"
        },
        {
          "target": "com.amazonaws.proton#GetTemplateSyncStatus"
        },
        {
          "target": "com.amazonaws.proton#ListRepositorySyncDefinitions"
        },
        {
          "target": "com.amazonaws.proton#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.proton#NotifyResourceDeploymentStatusChange"
        },
        {
          "target": "com.amazonaws.proton#TagResource"
        },
        {
          "target": "com.amazonaws.proton#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.proton#AccountSettingsResource"
        },
        {
          "target": "com.amazonaws.proton#ComponentOutputResource"
        },
        {
          "target": "com.amazonaws.proton#ComponentProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#ComponentResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentOutputResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentTemplateResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentTemplateVersionResource"
        },
        {
          "target": "com.amazonaws.proton#RepositoryResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceOutputResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineOutputResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceTemplateResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceTemplateVersionResource"
        },
        {
          "target": "com.amazonaws.proton#TemplateSyncConfigResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Proton",
          "endpointPrefix": "proton"
        },
        "aws.auth#sigv4": {
          "name": "proton"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>This is the Proton Service API Reference. It provides descriptions, syntax and usage examples for each of the <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Operations.html\">actions</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Types.html\">data types</a> for the Proton service.</p>\n         <p>The documentation for each action shows the Query API request parameters and the XML response.</p>\n         <p>Alternatively, you can use the Amazon Web Services CLI to access an API. For more information, see the <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html\">Amazon Web Services Command Line Interface User Guide</a>.</p>\n         <p>The Proton service is a two-pronged automation framework. Administrators create service templates to provide standardized infrastructure\n   and deployment tooling for serverless and container based applications. Developers, in turn, select from the available service templates to\n   automate their application or service deployments.</p>\n         <p>Because administrators define the infrastructure and tooling that Proton deploys and manages, they need permissions to use all of the\n   listed API operations.</p>\n         <p>When developers select a specific infrastructure and tooling set, Proton deploys their applications. To monitor their applications that are\n   running on Proton, developers need permissions to the service <i>create</i>, <i>list</i>,\n    <i>update</i> and <i>delete</i> API operations and the service instance <i>list</i> and\n    <i>update</i> API operations.</p>\n         <p>To learn more about Proton, see the <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/Welcome.html\">Proton User Guide</a>.</p>\n         <p>\n            <b>Ensuring Idempotency</b>\n         </p>\n         <p>When you make a mutating API request, the request typically returns a result before the asynchronous workflows of the operation are complete.\n   Operations might also time out or encounter other server issues before they're complete, even if the request already returned a result. This might\n   make it difficult to determine whether the request succeeded. Moreover, you might need to retry the request multiple times to ensure that the\n   operation completes successfully. However, if the original request and the subsequent retries are successful, the operation occurs multiple times.\n   This means that you might create more resources than you intended.</p>\n         <p>\n            <i>Idempotency</i> ensures that an API request action completes no more than one time. With an idempotent request, if the\n   original request action completes successfully, any subsequent retries complete successfully without performing any further actions. However, the\n   result might contain updated information, such as the current creation status.</p>\n         <p>The following lists of APIs are grouped according to methods that ensure idempotency.</p>\n         <p>\n            <b>Idempotent create APIs with a client token</b>\n         </p>\n         <p>The API actions in this list support idempotency with the use of a <i>client token</i>. The corresponding Amazon Web Services CLI commands\n   also support idempotency using a client token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. To make an\n   idempotent API request using one of these actions, specify a client token in the request. We recommend that you <i>don't</i> reuse\n   the same client token for other API requests. If you don’t provide a client token for these APIs, a default client token is automatically provided\n   by SDKs.</p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request using the same client token and the same parameters, the retry succeeds without performing any further actions other\n   than returning the original resource detail data in the response.</p>\n         <p>If you retry the request using the same client token, but one or more of the parameters are different, the retry throws a\n    <code>ValidationException</code> with an <code>IdempotentParameterMismatch</code> error.</p>\n         <p>Client tokens expire eight hours after a request is made. If you retry the request with the expired token, a new resource is created.</p>\n         <p>If the original resource is deleted and you retry the request, a new resource is created.</p>\n         <p>Idempotent create APIs with a client token:</p>\n         <ul>\n            <li>\n               <p>CreateEnvironmentTemplateVersion</p>\n            </li>\n            <li>\n               <p>CreateServiceTemplateVersion</p>\n            </li>\n            <li>\n               <p>CreateEnvironmentAccountConnection</p>\n            </li>\n         </ul>\n         <p>\n            <b>Idempotent create APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request with an API from this group, and the original resource <i>hasn't</i> been modified, the retry succeeds\n   without performing any further actions other than returning the original resource detail data in the response.</p>\n         <p>If the original resource has been modified, the retry throws a <code>ConflictException</code>.</p>\n         <p>If you retry with different input parameters, the retry throws a <code>ValidationException</code> with an\n    <code>IdempotentParameterMismatch</code> error.</p>\n         <p>Idempotent create APIs:</p>\n         <ul>\n            <li>\n               <p>CreateEnvironmentTemplate</p>\n            </li>\n            <li>\n               <p>CreateServiceTemplate</p>\n            </li>\n            <li>\n               <p>CreateEnvironment</p>\n            </li>\n            <li>\n               <p>CreateService</p>\n            </li>\n         </ul>\n         <p>\n            <b>Idempotent delete APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>When you retry the request with an API from this group and the resource was deleted, its metadata is returned in the response.</p>\n         <p>If you retry and the resource doesn't exist, the response is empty.</p>\n         <p>In both cases, the retry succeeds.</p>\n         <p>Idempotent delete APIs:</p>\n         <ul>\n            <li>\n               <p>DeleteEnvironmentTemplate</p>\n            </li>\n            <li>\n               <p>DeleteEnvironmentTemplateVersion</p>\n            </li>\n            <li>\n               <p>DeleteServiceTemplate</p>\n            </li>\n            <li>\n               <p>DeleteServiceTemplateVersion</p>\n            </li>\n            <li>\n               <p>DeleteEnvironmentAccountConnection</p>\n            </li>\n         </ul>\n         <p>\n            <b>Asynchronous idempotent delete APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request with an API from this group, if the original request delete operation status is <code>DELETE_IN_PROGRESS</code>, the\n   retry returns the resource detail data in the response without performing any further actions.</p>\n         <p>If the original request delete operation is complete, a retry returns an empty response.</p>\n         <p>Asynchronous idempotent delete APIs:</p>\n         <ul>\n            <li>\n               <p>DeleteEnvironment</p>\n            </li>\n            <li>\n               <p>DeleteService</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Proton",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://proton-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://proton-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://proton.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://proton.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ca-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ca-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ca-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ca-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://proton.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.proton#CancelComponentDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelComponentDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelComponentDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel a component deployment (for a component that is in the <code>IN_PROGRESS</code> deployment status).</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>"
      }
    },
    "com.amazonaws.proton#CancelComponentDeploymentInput": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component with the deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ComponentResource",
            "ids": {
              "name": "componentName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelComponentDeploymentOutput": {
      "type": "structure",
      "members": {
        "component": {
          "target": "com.amazonaws.proton#Component",
          "traits": {
            "smithy.api#documentation": "<p>The detailed data of the component with the deployment that is being canceled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CancelEnvironmentDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelEnvironmentDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelEnvironmentDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel an environment deployment on an <a>UpdateEnvironment</a> action, if the deployment is <code>IN_PROGRESS</code>. For more\n      information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-update.html\">Update an environment</a> in the <i>Proton\n        User guide</i>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateEnvironment</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelEnvironmentDeploymentInput": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment with the deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentResource",
            "ids": {
              "name": "environmentName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelEnvironmentDeploymentOutput": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.proton#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The environment summary data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelServiceInstanceDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelServiceInstanceDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel a service instance deployment on an <a>UpdateServiceInstance</a> action, if the deployment is <code>IN_PROGRESS</code>.\n      For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-svc-instance-update.html\">Update a service instance</a> in the\n        <i>Proton User guide</i>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateServiceInstance</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeploymentInput": {
      "type": "structure",
      "members": {
        "serviceInstanceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service instance with the deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service with the service instance deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceInstanceResource",
            "ids": {
              "name": "serviceInstanceName",
              "serviceName": "serviceName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeploymentOutput": {
      "type": "structure",
      "members": {
        "serviceInstance": {
          "target": "com.amazonaws.proton#ServiceInstance",
          "traits": {
            "smithy.api#documentation": "<p>The service instance summary data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelServicePipelineDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelServicePipelineDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel a service pipeline deployment on an <a>UpdateServicePipeline</a> action, if the deployment is <code>IN_PROGRESS</code>.\n      For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-svc-pipeline-update.html\">Update a service pipeline</a> in the\n        <i>Proton User guide</i>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateServicePipeline</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeploymentInput": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service with the service pipeline deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceResource",
            "ids": {
              "name": "serviceName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeploymentOutput": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "com.amazonaws.proton#ServicePipeline",
          "traits": {
            "smithy.api#documentation": "<p>The service pipeline detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]*$"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplate": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The compatible environment template name.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the compatible environment template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compatible environment template data.</p>"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The compatible environment template name.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the compatible environment template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compatible environment template data.</p>"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.proton#CompatibleEnvironmentTemplateInput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.proton#CompatibleEnvironmentTemplate"
      }
    },
    "com.amazonaws.proton#Component": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the component.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.proton#ComponentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Proton environment that this component is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. Provided when a component is attached to a service instance.</p>"
          }
        },
        "serviceInstanceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service instance that this component is attached to. Provided when a component is attached to a service instance.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "lastDeploymentAttemptedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when a deployment of the component was last attempted.</p>"
          }
        },
        "lastDeploymentSucceededAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was last deployed successfully.</p>"
          }
        },
        "deploymentStatus": {
          "target": "com.amazonaws.proton#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The component deployment status.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentStatusMessage": {
          "target": "com.amazonaws.proton#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the component deployment status.</p>"
          }
        },
        "serviceSpec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>The service spec that the component uses to access service inputs. Provided when a component is attached to a service instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed data of an Proton component resource.</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>"
      }
    },
    "com.amazonaws.proton#ComponentArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "resource": "com.amazonaws.proton#ComponentResource"
        }
      }
    },
    "com.amazonaws.proton#ComponentDeploymentUpdateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "CURRENT_VERSION",
            "name": "CURRENT_VERSION"
          }
        ]
      }
    },
    "com.amazonaws.proton#ComponentOutputResource": {
      "type": "resource",
      "identifiers": {
        "componentName": {
          "target": "com.amazonaws.proton#ResourceName"
        },
        "key": {
          "target": "com.amazonaws.proton#OutputKey"
        }
      },
      "list": {
        "target": "com.amazonaws.proton#ListComponentOutputs"
      }
    },
    "com.amazonaws.proton#ComponentProvisionedResourceResource": {
      "type": "resource",
      "identifiers": {
        "componentName": {
          "target": "com.amazonaws.proton#ResourceName"
        },
        "name": {
          "target": "com.amazonaws.proton#ProvisionedResourceName"
        }
      },
      "list": {
        "target": "com.amazonaws.proton#ListComponentProvisionedResources"
      }
    },
    "com.amazonaws.proton#ComponentResource": {
      "type": "resource",
      "identifiers": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.proton#CreateComponent"
      },
      "read": {
        "target": "com.amazonaws.proton#GetComponent"
      },
      "update": {
        "target": "com.amazonaws.proton#UpdateComponent"
      },
      "delete": {
        "target": "com.amazonaws.proton#DeleteComponent"
      },
      "list": {
        "target": "com.amazonaws.proton#ListComponents"
      },
      "traits": {
        "aws.api#arn": {
          "template": "component/{name}"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.proton#ComponentSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.proton#ComponentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Proton environment that this component is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. Provided when a component is attached to a service instance.</p>"
          }
        },
        "serviceInstanceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service instance that this component is attached to. Provided when a component is attached to a service instance.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "lastDeploymentAttemptedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when a deployment of the component was last attempted.</p>"
          }
        },
        "lastDeploymentSucceededAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the component was last deployed successfully.</p>"
          }
        },
        "deploymentStatus": {
          "target": "com.amazonaws.proton#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The component deployment status.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentStatusMessage": {
          "target": "com.amazonaws.proton#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the component deployment status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary data of an Proton component resource.</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>"
      }
    },
    "com.amazonaws.proton#ComponentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.proton#ComponentSummary"
      }
    },
    "com.amazonaws.proton#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.proton#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request <i>couldn't</i> be made due to a conflicting operation or resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.proton#CreateComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateComponentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateComponentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an Proton component. A component is an infrastructure extension for a service instance.</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateComponentInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The customer-provided name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional customer-provided description of the component.</p>"
          }
        },
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service that <code>serviceInstanceName</code> is associated with. If you don't specify this, the component isn't attached to any\n      service instance. Specify both <code>serviceInstanceName</code> and <code>serviceName</code> or neither of them.</p>"
          }
        },
        "serviceInstanceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service instance that you want to attach this component to. If you don't specify this, the component isn't attached to any service\n      instance. Specify both <code>serviceInstanceName</code> and <code>serviceName</code> or neither of them.</p>"
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Proton environment that you want to associate this component with. You must specify this when you don't specify\n        <code>serviceInstanceName</code> and <code>serviceName</code>.</p>"
          }
        },
        "templateFile": {
          "target": "com.amazonaws.proton#TemplateFileContents",
          "traits": {
            "smithy.api#documentation": "<p>A path to the Infrastructure as Code (IaC) file describing infrastructure that a custom component provisions.</p>\n         <note>\n            <p>Components support a single IaC file, even if you use Terraform as your template language.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "manifest": {
          "target": "com.amazonaws.proton#TemplateManifestContents",
          "traits": {
            "smithy.api#documentation": "<p>A path to a manifest file that lists the Infrastructure as Code (IaC) file, template language, and rendering engine for infrastructure that a custom\n      component provisions.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceSpec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>The service spec that you want the component to use to access service inputs. Set this only when you attach the component to a service\n      instance.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton component. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateComponentOutput": {
      "type": "structure",
      "members": {
        "component": {
          "target": "com.amazonaws.proton#Component",
          "traits": {
            "smithy.api#documentation": "<p>The detailed data of the created component.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deploy a new environment. An Proton environment is created from an environment template that defines infrastructure and resources that can be\n      shared across services.</p>\n         <p class=\"title\">\n            <b>You can provision environments using the following methods:</b>\n         </p>\n         <ul>\n            <li>\n               <p>Amazon Web Services-managed provisioning: Proton makes direct calls to provision your resources.</p>\n            </li>\n            <li>\n               <p>Self-managed provisioning: Proton makes pull requests on your repository to provide compiled infrastructure as code (IaC) files that your IaC\n          engine uses to provision resources.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-environments.html\">Environments</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-works-prov-methods.html\">Provisioning methods</a> in the <i>Proton User\n        Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentAccountConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentAccountConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an environment account connection in an environment account so that environment infrastructure resources can be provisioned in the environment\n      account from a management account.</p>\n         <p>An environment account connection is a secure bi-directional connection between a <i>management account</i> and an <i>environment\n        account</i> that maintains authorization and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton User\n        guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnectionInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.proton#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, if two identical requests are made with the same client token, Proton returns the environment account connection that the first\n      request created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "managementAccountId": {
          "target": "com.amazonaws.proton#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the management account that accepts or rejects the environment account connection. You create and manage the Proton environment in this\n      account. If the management account accepts the environment account connection, Proton can use the associated IAM role to provision environment\n      infrastructure resources in the associated environment account.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.proton#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that's created in the environment account. Proton uses this role to provision infrastructure\n      resources in the associated environment account.</p>"
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Proton environment that's created in the associated management account.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment account connection. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton User Guide</i>.</p>"
          }
        },
        "componentRoleArn": {
          "target": "com.amazonaws.proton#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that Proton uses when provisioning directly defined components in the associated\n      environment account. It determines the scope of infrastructure that a component can provision in the account.</p>\n         <p>You must specify <code>componentRoleArn</code> to allow directly defined components to be associated with any environments running in this\n      account.</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>"
          }
        },
        "codebuildRoleArn": {
          "target": "com.amazonaws.proton#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM service role in the environment account. Proton uses this role to provision infrastructure resources\n      using CodeBuild-based provisioning in the associated environment account.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnectionOutput": {
      "type": "structure",
      "members": {
        "environmentAccountConnection": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnection",
          "traits": {
            "smithy.api#documentation": "<p>The environment account connection detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-templates.html\">Environment Templates</a> in the <i>Proton User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMajorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMinorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The minor version of the environment template.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment that's being created and deployed.</p>"
          }
        },
        "spec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>A YAML formatted string that provides inputs as defined in the environment template bundle schema file. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-environments.html\">Environments</a> in the <i>Proton User\n      Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "protonServiceRoleArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Proton service role that allows Proton to make calls to other services on your behalf.</p>\n         <p>To use Amazon Web Services-managed provisioning for the environment, specify either the <code>environmentAccountConnectionId</code> or\n        <code>protonServiceRoleArn</code> parameter and omit the <code>provisioningRepository</code> parameter.</p>"
          }
        },
        "environmentAccountConnectionId": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection that you provide if you're provisioning your environment infrastructure resources to an environment\n      account. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-env-account-connections.html\">Environment account\n        connections</a> in the <i>Proton User guide</i>.</p>\n         <p>To use Amazon Web Services-managed provisioning for the environment, specify either the <code>environmentAccountConnectionId</code> or\n        <code>protonServiceRoleArn</code> parameter and omit the <code>provisioningRepository</code> parameter.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton User Guide</i>.</p>"
          }
        },
        "provisioningRepository": {
          "target": "com.amazonaws.proton#RepositoryBranchInput",
          "traits": {
            "smithy.api#documentation": "<p>The linked repository that you use to host your rendered infrastructure templates for self-managed provisioning. A linked repository is a repository\n      that has been registered with Proton. For more information, see <a>CreateRepository</a>.</p>\n         <p>To use self-managed provisioning for the environment, specify this parameter and omit the <code>environmentAccountConnectionId</code> and\n        <code>protonServiceRoleArn</code> parameters.</p>"
          }
        },
        "componentRoleArn": {
          "target": "com.amazonaws.proton#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that Proton uses when provisioning directly defined components in this environment. It\n      determines the scope of infrastructure that a component can provision.</p>\n         <p>You must specify <code>componentRoleArn</code> to allow directly defined components to be associated with this environment.</p>\n         <p>For more information about components, see\n  <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-components.html\">Proton components</a> in the\n  <i>Proton User Guide</i>.</p>"
          }
        },
        "codebuildRoleArn": {
          "target": "com.amazonaws.proton#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that allows Proton to provision infrastructure using CodeBuild-based provisioning on your\n      behalf.</p>\n         <p>To use CodeBuild-based provisioning for the environment or for any service instance running in the environment, specify either the\n      <code>environmentAccountConnectionId</code> or <code>codebuildRoleArn</code> parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentOutput": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.proton#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The environment detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an environment template for Proton. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ag-templates.html\">Environment Templates</a> in the <i>Proton User Guide</i>.</p>\n         <p>You can create an environment template in one of the two following ways:</p>\n         <ul>\n            <li>\n               <p>Register and publish a <i>standard</i> environment template that instructs Proton to deploy and manage environment\n          infrastructure.</p>\n            </li>\n            <li>\n               <p>Register and publish a <i>customer managed</i> environment template that connects Proton to your existing provisioned\n          infrastructure that you manage. Proton <i>doesn't</i> manage your existing provisioned infrastructure. To create an environment\n          template for customer provisioned and managed infrastructure, include the <code>provisioning</code> parameter and set the value to\n            <code>CUSTOMER_MANAGED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/template-create.html\">Register\n            and publish an environment template</a> in the <i>Proton User Guide</i>.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.proton#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The environment template name as displayed in the developer interface.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment template.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A customer provided encryption key that Proton uses to encrypt data.</p>"
          }
        },
        "provisioning": {
          "target": "com.amazonaws.proton#Provisioning",
          "traits": {
            "smithy.api#documentation": "<p>When included, indicates that the environment template is for customer provisioned and managed infrastructure.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment template. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateOutput": {
      "type": "structure",
      "members": {
        "environmentTemplate": {
          "target": "com.amazonaws.proton#EnvironmentTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The environment template detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateVersionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new major or minor version of an environment template. A major version of an environment template is a version that\n        <i>isn't</i> backwards compatible. A minor version of an environment template is a version that's backwards compatible within its major\n      version.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersionInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.proton#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, if two identical requests are made with the same client token, Proton returns the environment template version that the first\n      request created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the new version of an environment template.</p>"
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>To create a new minor version of the environment template, include <code>major Version</code>.</p>\n         <p>To create a new major and minor version of the environment template, exclude <code>major Version</code>.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.proton#TemplateVersionSourceInput",
          "traits": {
            "smithy.api#documentation": "<p>An object that includes the template bundle S3 bucket path and name for the new version of an template.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment template version. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton User Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersionOutput": {
      "type": "structure",
      "members": {
        "environmentTemplateVersion": {
          "target": "com.amazonaws.proton#EnvironmentTemplateVersion",
          "traits": {
            "smithy.api#documentation": "<p>The environment template detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateRepositoryInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateRepositoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
[...]
