{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.proton#AcceptEnvironmentAccountConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#AcceptEnvironmentAccountConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#AcceptEnvironmentAccountConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>In a management account, an environment account connection request is accepted. When the environment account connection request is accepted, Proton\n      can use the associated IAM role to provision environment infrastructure resources in the associated environment account.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-env-account-connections.html\">Environment account\n        connections</a> in the <i>Proton Administrator guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#AcceptEnvironmentAccountConnectionInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentAccountConnectionResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#AcceptEnvironmentAccountConnectionOutput": {
      "type": "structure",
      "members": {
        "environmentAccountConnection": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnection",
          "traits": {
            "smithy.api#documentation": "<p>The environment account connection data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.proton#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There <i>isn't</i> sufficient access for performing this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.proton#AccountSettings": {
      "type": "structure",
      "members": {
        "pipelineServiceRoleArn": {
          "target": "com.amazonaws.proton#PipelineRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service role you want to use for provisioning pipelines. Assumed by Proton for Amazon Web Services-managed provisioning, and by\n      customer-owned automation for self-managed provisioning.</p>"
          }
        },
        "pipelineProvisioningRepository": {
          "target": "com.amazonaws.proton#RepositoryBranch",
          "traits": {
            "smithy.api#documentation": "<p>The repository configured in the Amazon Web Services account for pipeline provisioning. Required it if you have environments configured for self-managed\n      provisioning with services that include pipelines.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Proton pipeline service role and repository data shared across the Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.proton#AccountSettingsResource": {
      "type": "resource",
      "read": {
        "target": "com.amazonaws.proton#GetAccountSettings"
      },
      "update": {
        "target": "com.amazonaws.proton#UpdateAccountSettings"
      }
    },
    "com.amazonaws.proton#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.proton#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.proton#AwsProton20200720": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "Proton",
          "arnNamespace": "awsproton20200720",
          "cloudFormationName": "AwsProton20200720",
          "cloudTrailEventSource": "awsproton20200720.amazonaws.com",
          "endpointPrefix": "proton"
        },
        "aws.auth#sigv4": {
          "name": "proton"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>This is the Proton Service API Reference. It provides descriptions, syntax and usage examples for each of the <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Operations.html\">actions</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Types.html\">data types</a> for the Proton service.</p>\n         <p>The documentation for each action shows the Query API request parameters and the XML response.</p>\n         <p>Alternatively, you can use the Amazon Web Services CLI to access an API. For more information, see the <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html\">Amazon Web Services Command Line Interface User Guide</a>.</p>\n         <p>The Proton service is a two-pronged automation framework. Administrators create service templates to provide standardized infrastructure\n   and deployment tooling for serverless and container based applications. Developers, in turn, select from the available service templates to\n   automate their application or service deployments.</p>\n         <p>Because administrators define the infrastructure and tooling that Proton deploys and manages, they need permissions to use all of the\n   listed API operations.</p>\n         <p>When developers select a specific infrastructure and tooling set, Proton deploys their applications. To monitor their applications that are\n   running on Proton, developers need permissions to the service <i>create</i>, <i>list</i>,\n    <i>update</i> and <i>delete</i> API operations and the service instance <i>list</i> and\n    <i>update</i> API operations.</p>\n         <p>To learn more about Proton administration, see the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/Welcome.html\">Proton\n    Administrator Guide</a>.</p>\n         <p>To learn more about deploying serverless and containerized applications on Proton, see the <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/Welcome.html\">Proton User Guide</a>.</p>\n         <p>\n            <b>Ensuring Idempotency</b>\n         </p>\n         <p>When you make a mutating API request, the request typically returns a result before the asynchronous workflows of the operation are complete.\n   Operations might also time out or encounter other server issues before they're complete, even if the request already returned a result. This might\n   make it difficult to determine whether the request succeeded. Moreover, you might need to retry the request multiple times to ensure that the\n   operation completes successfully. However, if the original request and the subsequent retries are successful, the operation occurs multiple times.\n   This means that you might create more resources than you intended.</p>\n         <p>\n            <i>Idempotency</i> ensures that an API request action completes no more than one time. With an idempotent request, if the\n   original request action completes successfully, any subsequent retries complete successfully without performing any further actions. However, the\n   result might contain updated information, such as the current creation status.</p>\n         <p>The following lists of APIs are grouped according to methods that ensure idempotency.</p>\n         <p>\n            <b>Idempotent create APIs with a client token</b>\n         </p>\n         <p>The API actions in this list support idempotency with the use of a <i>client token</i>. The corresponding Amazon Web Services CLI commands\n   also support idempotency using a client token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. To make an\n   idempotent API request using one of these actions, specify a client token in the request. We recommend that you <i>don't</i> reuse\n   the same client token for other API requests. If you don’t provide a client token for these APIs, a default client token is automatically provided\n   by SDKs.</p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request using the same client token and the same parameters, the retry succeeds without performing any further actions other\n   than returning the original resource detail data in the response.</p>\n         <p>If you retry the request using the same client token, but one or more of the parameters are different, the retry throws a\n    <code>ValidationException</code> with an <code>IdempotentParameterMismatch</code> error.</p>\n         <p>Client tokens expire eight hours after a request is made. If you retry the request with the expired token, a new resource is created.</p>\n         <p>If the original resource is deleted and you retry the request, a new resource is created.</p>\n         <p>Idempotent create APIs with a client token:</p>\n         <ul>\n            <li>\n               <p>CreateEnvironmentTemplateVersion</p>\n            </li>\n            <li>\n               <p>CreateServiceTemplateVersion</p>\n            </li>\n            <li>\n               <p>CreateEnvironmentAccountConnection</p>\n            </li>\n         </ul>\n         <p>\n            <b>Idempotent create APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request with an API from this group, and the original resource <i>hasn't</i> been modified, the retry succeeds\n   without performing any further actions other than returning the original resource detail data in the response.</p>\n         <p>If the original resource has been modified, the retry throws a <code>ConflictException</code>.</p>\n         <p>If you retry with different input parameters, the retry throws a <code>ValidationException</code> with an\n    <code>IdempotentParameterMismatch</code> error.</p>\n         <p>Idempotent create APIs:</p>\n         <ul>\n            <li>\n               <p>CreateEnvironmentTemplate</p>\n            </li>\n            <li>\n               <p>CreateServiceTemplate</p>\n            </li>\n            <li>\n               <p>CreateEnvironment</p>\n            </li>\n            <li>\n               <p>CreateService</p>\n            </li>\n         </ul>\n         <p>\n            <b>Idempotent delete APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>When you retry the request with an API from this group and the resource was deleted, its metadata is returned in the response.</p>\n         <p>If you retry and the resource doesn't exist, the response is empty.</p>\n         <p>In both cases, the retry succeeds.</p>\n         <p>Idempotent delete APIs:</p>\n         <ul>\n            <li>\n               <p>DeleteEnvironmentTemplate</p>\n            </li>\n            <li>\n               <p>DeleteEnvironmentTemplateVersion</p>\n            </li>\n            <li>\n               <p>DeleteServiceTemplate</p>\n            </li>\n            <li>\n               <p>DeleteServiceTemplateVersion</p>\n            </li>\n            <li>\n               <p>DeleteEnvironmentAccountConnection</p>\n            </li>\n         </ul>\n         <p>\n            <b>Asynchronous idempotent delete APIs</b>\n         </p>\n         <p>Given a request action that has succeeded:</p>\n         <p>If you retry the request with an API from this group, if the original request delete operation status is <code>DELETE_IN_PROGRESS</code>, the\n   retry returns the resource detail data in the response without performing any further actions.</p>\n         <p>If the original request delete operation is complete, a retry returns an empty response.</p>\n         <p>Asynchronous idempotent delete APIs:</p>\n         <ul>\n            <li>\n               <p>DeleteEnvironment</p>\n            </li>\n            <li>\n               <p>DeleteService</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Proton"
      },
      "version": "2020-07-20",
      "operations": [
        {
          "target": "com.amazonaws.proton#CancelEnvironmentDeployment"
        },
        {
          "target": "com.amazonaws.proton#CancelServiceInstanceDeployment"
        },
        {
          "target": "com.amazonaws.proton#CancelServicePipelineDeployment"
        },
        {
          "target": "com.amazonaws.proton#GetRepositorySyncStatus"
        },
        {
          "target": "com.amazonaws.proton#GetTemplateSyncStatus"
        },
        {
          "target": "com.amazonaws.proton#ListRepositorySyncDefinitions"
        },
        {
          "target": "com.amazonaws.proton#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.proton#NotifyResourceDeploymentStatusChange"
        },
        {
          "target": "com.amazonaws.proton#TagResource"
        },
        {
          "target": "com.amazonaws.proton#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.proton#AccountSettingsResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentOutputResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentTemplateResource"
        },
        {
          "target": "com.amazonaws.proton#EnvironmentTemplateVersionResource"
        },
        {
          "target": "com.amazonaws.proton#RepositoryResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceOutputResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceInstanceResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineOutputResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineProvisionedResourceResource"
        },
        {
          "target": "com.amazonaws.proton#ServicePipelineResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceTemplateResource"
        },
        {
          "target": "com.amazonaws.proton#ServiceTemplateVersionResource"
        },
        {
          "target": "com.amazonaws.proton#TemplateSyncConfigResource"
        }
      ]
    },
    "com.amazonaws.proton#CancelEnvironmentDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelEnvironmentDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelEnvironmentDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel an environment deployment on an <a>UpdateEnvironment</a> action, if the deployment is <code>IN_PROGRESS</code>. For more\n      information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-env-update.html\">Update an environment</a> in the <i>Proton\n        Administrator guide</i>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateEnvironment</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelEnvironmentDeploymentInput": {
      "type": "structure",
      "members": {
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment with the deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentResource",
            "ids": {
              "name": "environmentName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelEnvironmentDeploymentOutput": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.proton#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The environment summary data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelServiceInstanceDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelServiceInstanceDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel a service instance deployment on an <a>UpdateServiceInstance</a> action, if the deployment is <code>IN_PROGRESS</code>.\n      For more information, see <i>Update a service instance</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-svc-instance-update.html\">Proton Administrator guide</a> or the <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ug-svc-instance-update.html\">Proton User guide</a>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateServiceInstance</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeploymentInput": {
      "type": "structure",
      "members": {
        "serviceInstanceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service instance with the deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service with the service instance deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceInstanceResource",
            "ids": {
              "name": "serviceInstanceName",
              "serviceName": "serviceName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelServiceInstanceDeploymentOutput": {
      "type": "structure",
      "members": {
        "serviceInstance": {
          "target": "com.amazonaws.proton#ServiceInstance",
          "traits": {
            "smithy.api#documentation": "<p>The service instance summary data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CancelServicePipelineDeploymentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CancelServicePipelineDeploymentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attempts to cancel a service pipeline deployment on an <a>UpdateServicePipeline</a> action, if the deployment is <code>IN_PROGRESS</code>.\n      For more information, see <i>Update a service pipeline</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-svc-pipeline-update.html\">Proton Administrator guide</a> or the <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ug-svc-pipeline-update.html\">Proton User guide</a>.</p>\n         <p>The following list includes potential cancellation scenarios.</p>\n         <ul>\n            <li>\n               <p>If the cancellation attempt succeeds, the resulting deployment state is <code>CANCELLED</code>.</p>\n            </li>\n            <li>\n               <p>If the cancellation attempt fails, the resulting deployment state is <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>If the current <a>UpdateServicePipeline</a> action succeeds before the cancellation attempt starts, the resulting deployment state is\n            <code>SUCCEEDED</code> and the cancellation attempt has no effect.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeploymentInput": {
      "type": "structure",
      "members": {
        "serviceName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service with the service pipeline deployment to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceResource",
            "ids": {
              "name": "serviceName"
            }
          }
        ]
      }
    },
    "com.amazonaws.proton#CancelServicePipelineDeploymentOutput": {
      "type": "structure",
      "members": {
        "pipeline": {
          "target": "com.amazonaws.proton#ServicePipeline",
          "traits": {
            "smithy.api#documentation": "<p>The service pipeline detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]*$"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplate": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The compatible environment template name.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the compatible environment template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compatible environment template data.</p>"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The compatible environment template name.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the compatible environment template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Compatible environment template data.</p>"
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.proton#CompatibleEnvironmentTemplateInput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.proton#CompatibleEnvironmentTemplateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.proton#CompatibleEnvironmentTemplate"
      }
    },
    "com.amazonaws.proton#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.proton#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request <i>couldn't</i> be made due to a conflicting operation or resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.proton#CreateEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deploy a new environment. An Proton environment is created from an environment template that defines infrastructure and resources that can be\n      shared across services.</p>\n         <p class=\"title\">\n            <b>You can provision environments using the following methods:</b>\n         </p>\n         <ul>\n            <li>\n               <p>Amazon Web Services-managed provisioning: Proton makes direct calls to provision your resources.</p>\n            </li>\n            <li>\n               <p>Self-managed provisioning: Proton makes pull requests on your repository to provide compiled infrastructure as code (IaC) files that your IaC\n          engine uses to provision resources.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-environments.html\">Environments</a> and <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-works-prov-methods.html\">Provisioning methods</a> in the <i>Proton Administrator\n        Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentAccountConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentAccountConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an environment account connection in an environment account so that environment infrastructure resources can be provisioned in the environment\n      account from a management account.</p>\n         <p>An environment account connection is a secure bi-directional connection between a <i>management account</i> and an <i>environment\n        account</i> that maintains authorization and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-env-account-connections.html\">Environment account connections</a> in the <i>Proton Administrator\n        guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnectionInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.proton#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, if two identical requests are made with the same client token, Proton returns the environment account connection that the first\n      request created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "managementAccountId": {
          "target": "com.amazonaws.proton#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the management account that accepts or rejects the environment account connection. You create and manage the Proton environment in this\n      account. If the management account accepts the environment account connection, Proton can use the associated IAM role to provision environment\n      infrastructure resources in the associated environment account.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM service role that's created in the environment account. Proton uses this role to provision infrastructure\n      resources in the associated environment account.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Proton environment that's created in the associated management account.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment account connection. A tag is a key-value pair.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton resources and tagging</a> in the\n        <i>Proton Administrator Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentAccountConnectionOutput": {
      "type": "structure",
      "members": {
        "environmentAccountConnection": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnection",
          "traits": {
            "smithy.api#documentation": "<p>The environment account connection detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-templates.html\">Environment Templates</a> in the <i>Proton Administrator Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMajorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMinorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The minor version of the environment template.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment that's being created and deployed.</p>"
          }
        },
        "spec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>A YAML formatted string that provides inputs as defined in the environment template bundle schema file. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-environments.html\">Environments</a> in the <i>Proton Administrator\n      Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "protonServiceRoleArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Proton service role that allows Proton to make calls to other services on your behalf.</p>\n         <p>To use Amazon Web Services-managed provisioning for the environment, specify either the <code>environmentAccountConnectionId</code> or\n        <code>protonServiceRoleArn</code> parameter and omit the <code>provisioningRepository</code> parameter.</p>"
          }
        },
        "environmentAccountConnectionId": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection that you provide if you're provisioning your environment infrastructure resources to an environment\n      account. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-env-account-connections.html\">Environment account\n        connections</a> in the <i>Proton Administrator guide</i>.</p>\n         <p>To use Amazon Web Services-managed provisioning for the environment, specify either the <code>environmentAccountConnectionId</code> or\n        <code>protonServiceRoleArn</code> parameter and omit the <code>provisioningRepository</code> parameter.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        },
        "provisioningRepository": {
          "target": "com.amazonaws.proton#RepositoryBranchInput",
          "traits": {
            "smithy.api#documentation": "<p>The infrastructure repository that you use to host your rendered infrastructure templates for self-managed provisioning.</p>\n         <p>To use self-managed provisioning for the environment, specify this parameter and omit the <code>environmentAccountConnectionId</code> and\n        <code>protonServiceRoleArn</code> parameters.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentOutput": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.proton#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The environment detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an environment template for Proton. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-templates.html\">Environment Templates</a> in the <i>Proton Administrator Guide</i>.</p>\n         <p>You can create an environment template in one of the two following ways:</p>\n         <ul>\n            <li>\n               <p>Register and publish a <i>standard</i> environment template that instructs Proton to deploy and manage environment\n          infrastructure.</p>\n            </li>\n            <li>\n               <p>Register and publish a <i>customer managed</i> environment template that connects Proton to your existing provisioned\n          infrastructure that you manage. Proton <i>doesn't</i> manage your existing provisioned infrastructure. To create an environment\n          template for customer provisioned and managed infrastructure, include the <code>provisioning</code> parameter and set the value to\n            <code>CUSTOMER_MANAGED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/template-create.html\">Register\n            and publish an environment template</a> in the <i>Proton Administrator Guide</i>.</p>\n            </li>\n         </ul>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.proton#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The environment template name as displayed in the developer interface.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the environment template.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A customer provided encryption key that Proton uses to encrypt data.</p>"
          }
        },
        "provisioning": {
          "target": "com.amazonaws.proton#Provisioning",
          "traits": {
            "smithy.api#documentation": "<p>When included, indicates that the environment template is for customer provisioned and managed infrastructure.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment template. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateOutput": {
      "type": "structure",
      "members": {
        "environmentTemplate": {
          "target": "com.amazonaws.proton#EnvironmentTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The environment template detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateVersionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateEnvironmentTemplateVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new major or minor version of an environment template. A major version of an environment template is a version that\n        <i>isn't</i> backwards compatible. A minor version of an environment template is a version that's backwards compatible within its major\n      version.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersionInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.proton#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, if two identical requests are made with the same client token, Proton returns the environment template version that the first\n      request created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the new version of an environment template.</p>"
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>To create a new minor version of the environment template, include <code>major Version</code>.</p>\n         <p>To create a new major and minor version of the environment template, exclude <code>major Version</code>.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.proton#TemplateVersionSourceInput",
          "traits": {
            "smithy.api#documentation": "<p>An object that includes the template bundle S3 bucket path and name for the new version of an template.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton environment template version. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateEnvironmentTemplateVersionOutput": {
      "type": "structure",
      "members": {
        "environmentTemplateVersion": {
          "target": "com.amazonaws.proton#EnvironmentTemplateVersion",
          "traits": {
            "smithy.api#documentation": "<p>The environment template detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateRepositoryInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateRepositoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create and register a link to a repository that can be used with self-managed provisioning (infrastructure or pipelines) or for template sync\n      configurations. When you create a repository link, Proton creates a <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/using-service-linked-roles.html\">service-linked role</a> for you.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-works-prov-methods.html#ag-works-prov-methods-self\">Self-managed provisioning</a>, <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-template-bundles.html\">Template bundles</a>, and\n        <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-template-sync-configs.html\">Template sync configurations</a> in the <i>Proton\n        Administrator Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateRepositoryInput": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.amazonaws.proton#RepositoryProvider",
          "traits": {
            "smithy.api#documentation": "<p>The repository provider.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.proton#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The repository name (for example, <code>myrepos/myrepo</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "connectionArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of your Amazon Web Services CodeStar connection. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/setting-up-for-service.html\">Setting up for Proton</a> in the <i>Proton Administrator\n      Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of your customer Amazon Web Services Key Management Service (Amazon Web Services KMS) key.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton repository. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateRepositoryOutput": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.proton#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The repository detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateServiceInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an Proton service. An Proton service is an instantiation of a service template and often includes several service instances and pipeline.\n      For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-services.html\">Services</a> in the <i>Proton\n        Administrator Guide</i> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ug-service.html\">Services</a> in the <i>Proton\n        User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateServiceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The service name.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the Proton service.</p>"
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template that's used to create the service.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMajorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the service template that was used to create the service.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMinorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The minor version of the service template that was used to create the service.</p>"
          }
        },
        "spec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>A link to a spec file that provides inputs as defined in the service template bundle schema file. The spec file is in YAML format.\n        <i>Don’t</i> include pipeline inputs in the spec if your service template <i>doesn’t</i> include a service pipeline. For\n      more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-create-svc.html.html\">Create a service</a> in the\n        <i>Proton Administrator Guide</i> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/ug-svc-create.html\">Create a\n        service</a> in the <i>Proton User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "repositoryConnectionArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the repository connection. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/setting-up-for-service.html#setting-up-vcontrol\">Set up repository connection</a> in the <i>Proton\n        Administrator Guide</i> and <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/proton-setup.html#setup-repo-connection\">Setting up with\n        Proton</a> in the <i>Proton User Guide</i>. <i>Don't</i> include this parameter if your service template\n        <i>doesn't</i> include a service pipeline.</p>"
          }
        },
        "repositoryId": {
          "target": "com.amazonaws.proton#RepositoryId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the code repository. <i>Don't</i> include this parameter if your service template <i>doesn't</i> include a\n      service pipeline.</p>"
          }
        },
        "branchName": {
          "target": "com.amazonaws.proton#GitBranchName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the code repository branch that holds the code that's deployed in Proton. <i>Don't</i> include this parameter if your\n      service template <i>doesn't</i> include a service pipeline.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton service. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateServiceOutput": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.amazonaws.proton#Service",
          "traits": {
            "smithy.api#documentation": "<p>The service detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateServiceTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateServiceTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateServiceTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a service template. The administrator creates a service template to define standardized infrastructure and an optional CI/CD service pipeline.\n      Developers, in turn, select the service template from Proton. If the selected service template includes a service pipeline definition, they provide a\n      link to their source code repository. Proton then deploys and manages the infrastructure defined by the selected service template. For more\n      information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/managing-svc-templates.html\">Service Templates</a> in the\n        <i>Proton Administrator Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateServiceTemplateInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.proton#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template as displayed in the developer interface.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the service template.</p>"
          }
        },
        "encryptionKey": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>A customer provided encryption key that's used to encrypt data.</p>"
          }
        },
        "pipelineProvisioning": {
          "target": "com.amazonaws.proton#Provisioning",
          "traits": {
            "smithy.api#documentation": "<p>By default, Proton provides a service pipeline for your service. When this parameter is included, it indicates that an Proton service pipeline\n        <i>isn't</i> provided for your service. After it's included, it <i>can't</i> be changed. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-template-bundles.html\">Service template bundles</a> in the <i>Proton Administrator\n        Guide</i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton service template. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateServiceTemplateOutput": {
      "type": "structure",
      "members": {
        "serviceTemplate": {
          "target": "com.amazonaws.proton#ServiceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The service template detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateServiceTemplateVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateServiceTemplateVersionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateServiceTemplateVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new major or minor version of a service template. A major version of a service template is a version that <i>isn't</i> backward\n      compatible. A minor version of a service template is a version that's backward compatible within its major version.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateServiceTemplateVersionInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.proton#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>When included, if two identical requests are made with the same client token, Proton returns the service template version that the first request\n      created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the new version of a service template.</p>"
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>To create a new minor version of the service template, include a <code>major Version</code>.</p>\n         <p>To create a new major and minor version of the service template, <i>exclude</i>\n            <code>major Version</code>.</p>"
          }
        },
        "source": {
          "target": "com.amazonaws.proton#TemplateVersionSourceInput",
          "traits": {
            "smithy.api#documentation": "<p>An object that includes the template bundle S3 bucket path and name for the new version of a service template.</p>",
            "smithy.api#required": {}
          }
        },
        "compatibleEnvironmentTemplates": {
          "target": "com.amazonaws.proton#CompatibleEnvironmentTemplateInputList",
          "traits": {
            "smithy.api#documentation": "<p>An array of compatible environment template objects for the new version of a service template.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.proton#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of metadata items that you can associate with the Proton service template version. A tag is a key-value pair.</p>\n         <p>For more information, see <i>Proton resources and tagging</i> in the <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/resources.html\">Proton Administrator Guide</a> or <a href=\"https://docs.aws.amazon.com/proton/latest/userguide/resources.html\">Proton User Guide</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateServiceTemplateVersionOutput": {
      "type": "structure",
      "members": {
        "serviceTemplateVersion": {
          "target": "com.amazonaws.proton#ServiceTemplateVersion",
          "traits": {
            "smithy.api#documentation": "<p>The service template version summary of detail data that's returned by Proton.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#CreateTemplateSyncConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#CreateTemplateSyncConfigInput"
      },
      "output": {
        "target": "com.amazonaws.proton#CreateTemplateSyncConfigOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Set up a template to create new template versions automatically. When a commit is pushed to your registered <a href=\"https://docs.aws.amazon.com/proton/latest/APIReference/API_Repository.html\">repository</a>, Proton checks for changes to your repository template bundles. If it detects\n      a template bundle change, a new major or minor version of its template is created, if the version doesn’t already exist. For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-template-sync-configs.html\">Template sync configurations</a> in the <i>Proton\n        Administrator Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#CreateTemplateSyncConfigInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your registered template.</p>",
            "smithy.api#required": {}
          }
        },
        "templateType": {
          "target": "com.amazonaws.proton#TemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the registered template.</p>",
            "smithy.api#required": {}
          }
        },
        "repositoryProvider": {
          "target": "com.amazonaws.proton#RepositoryProvider",
          "traits": {
            "smithy.api#documentation": "<p>The provider type for your repository.</p>",
            "smithy.api#required": {}
          }
        },
        "repositoryName": {
          "target": "com.amazonaws.proton#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your repository (for example, <code>myrepos/myrepo</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "branch": {
          "target": "com.amazonaws.proton#GitBranchName",
          "traits": {
            "smithy.api#documentation": "<p>The branch of the registered repository for your template.</p>",
            "smithy.api#required": {}
          }
        },
        "subdirectory": {
          "target": "com.amazonaws.proton#Subdirectory",
          "traits": {
            "smithy.api#documentation": "<p>A repository subdirectory path to your template bundle directory. When included, Proton limits the template bundle search to this repository\n      directory.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#CreateTemplateSyncConfigOutput": {
      "type": "structure",
      "members": {
        "templateSyncConfig": {
          "target": "com.amazonaws.proton#TemplateSyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The template sync configuration detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteEnvironmentInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteEnvironmentOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an environment.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentAccountConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteEnvironmentAccountConnectionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteEnvironmentAccountConnectionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>In an environment account, delete an environment account connection.</p>\n         <p>After you delete an environment account connection that’s in use by an Proton environment, Proton <i>can’t</i> manage the\n      environment infrastructure resources until a new environment account connection is accepted for the environment account and associated environment. You're\n      responsible for cleaning up provisioned resources that remain without an environment connection.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/proton/latest/adminguide/ag-env-account-connections.html\">Environment account\n        connections</a> in the <i>Proton Administrator guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentAccountConnectionInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentAccountConnectionResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentAccountConnectionOutput": {
      "type": "structure",
      "members": {
        "environmentAccountConnection": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnection",
          "traits": {
            "smithy.api#documentation": "<p>The environment account connection detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentOutput": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.proton#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The environment detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteEnvironmentTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteEnvironmentTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If no other major or minor versions of an environment template exist, delete the environment template.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplateInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentTemplateResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplateOutput": {
      "type": "structure",
      "members": {
        "environmentTemplate": {
          "target": "com.amazonaws.proton#EnvironmentTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The environment template detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplateVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteEnvironmentTemplateVersionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteEnvironmentTemplateVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If no other minor versions of an environment template exist, delete a major version of the environment template if it's not the\n        <code>Recommended</code> version. Delete the <code>Recommended</code> version of the environment template if no other major versions or minor versions\n      of the environment template exist. A major version of an environment template is a version that's not backward compatible.</p>\n         <p>Delete a minor version of an environment template if it <i>isn't</i> the <code>Recommended</code> version. Delete a\n        <code>Recommended</code> minor version of the environment template if no other minor versions of the environment template exist. A minor version of an\n      environment template is a version that's backward compatible.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplateVersionInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The environment template major version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "minorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The environment template minor version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#EnvironmentTemplateVersionResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteEnvironmentTemplateVersionOutput": {
      "type": "structure",
      "members": {
        "environmentTemplateVersion": {
          "target": "com.amazonaws.proton#EnvironmentTemplateVersion",
          "traits": {
            "smithy.api#documentation": "<p>The environment template version detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteRepository": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteRepositoryInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteRepositoryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>De-register and unlink your repository.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteRepositoryInput": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.amazonaws.proton#RepositoryProvider",
          "traits": {
            "smithy.api#documentation": "<p>The repository provider.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.proton#RepositoryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#RepositoryResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteRepositoryOutput": {
      "type": "structure",
      "members": {
        "repository": {
          "target": "com.amazonaws.proton#Repository",
          "traits": {
            "smithy.api#documentation": "<p>The repository detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteServiceInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteServiceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a service.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteServiceInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteServiceOutput": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.amazonaws.proton#Service",
          "traits": {
            "smithy.api#documentation": "<p>The service detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteServiceTemplateInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteServiceTemplateOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If no other major or minor versions of the service template exist, delete the service template.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplateInput": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceTemplateResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplateOutput": {
      "type": "structure",
      "members": {
        "serviceTemplate": {
          "target": "com.amazonaws.proton#ServiceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The service template detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplateVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteServiceTemplateVersionInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteServiceTemplateVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>If no other minor versions of a service template exist, delete a major version of the service template if it's not the <code>Recommended</code>\n      version. Delete the <code>Recommended</code> version of the service template if no other major versions or minor versions of the service template exist. A\n      major version of a service template is a version that <i>isn't</i> backwards compatible.</p>\n         <p>Delete a minor version of a service template if it's not the <code>Recommended</code> version. Delete a <code>Recommended</code> minor version of the\n      service template if no other minor versions of the service template exist. A minor version of a service template is a version that's backwards\n      compatible.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplateVersionInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service template.</p>",
            "smithy.api#required": {}
          }
        },
        "majorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The service template major version to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "minorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The service template minor version to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.proton#ServiceTemplateVersionResource"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeleteServiceTemplateVersionOutput": {
      "type": "structure",
      "members": {
        "serviceTemplateVersion": {
          "target": "com.amazonaws.proton#ServiceTemplateVersion",
          "traits": {
            "smithy.api#documentation": "<p>The service template version detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteTemplateSyncConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.proton#DeleteTemplateSyncConfigInput"
      },
      "output": {
        "target": "com.amazonaws.proton#DeleteTemplateSyncConfigOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.proton#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.proton#ConflictException"
        },
        {
          "target": "com.amazonaws.proton#InternalServerException"
        },
        {
          "target": "com.amazonaws.proton#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.proton#ThrottlingException"
        },
        {
          "target": "com.amazonaws.proton#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a template sync configuration.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.proton#DeleteTemplateSyncConfigInput": {
      "type": "structure",
      "members": {
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The template name.</p>",
            "smithy.api#required": {}
          }
        },
        "templateType": {
          "target": "com.amazonaws.proton#TemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The template type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.proton#DeleteTemplateSyncConfigOutput": {
      "type": "structure",
      "members": {
        "templateSyncConfig": {
          "target": "com.amazonaws.proton#TemplateSyncConfig",
          "traits": {
            "smithy.api#documentation": "<p>The template sync configuration detail data that's returned by Proton.</p>"
          }
        }
      }
    },
    "com.amazonaws.proton#DeploymentId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.proton#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "DELETE_COMPLETE",
            "name": "DELETE_COMPLETE"
          },
          {
            "value": "CANCELLING",
            "name": "CANCELLING"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.proton#DeploymentUpdateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "CURRENT_VERSION",
            "name": "CURRENT_VERSION"
          },
          {
            "value": "MINOR_VERSION",
            "name": "MINOR_VERSION"
          },
          {
            "value": "MAJOR_VERSION",
            "name": "MAJOR_VERSION"
          }
        ]
      }
    },
    "com.amazonaws.proton#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.proton#DisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.proton#EmptyNextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 0
        }
      }
    },
    "com.amazonaws.proton#Environment": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.proton#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the environment.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the environment was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastDeploymentAttemptedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when a deployment of the environment was last attempted.</p>",
            "smithy.api#required": {}
          }
        },
        "lastDeploymentSucceededAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the environment was last deployed successfully.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.proton#EnvironmentArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the environment.</p>",
            "smithy.api#required": {}
          }
        },
        "templateName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMajorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The major version of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "templateMinorVersion": {
          "target": "com.amazonaws.proton#TemplateVersionPart",
          "traits": {
            "smithy.api#documentation": "<p>The minor version of the environment template.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentStatus": {
          "target": "com.amazonaws.proton#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The environment deployment status.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentStatusMessage": {
          "target": "com.amazonaws.proton#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>An environment deployment status message.</p>"
          }
        },
        "protonServiceRoleArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Proton service role that allows Proton to make calls to other services on your behalf.</p>"
          }
        },
        "environmentAccountConnectionId": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection that's used to provision infrastructure resources in an environment account.</p>"
          }
        },
        "environmentAccountId": {
          "target": "com.amazonaws.proton#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account that the environment infrastructure resources are provisioned in.</p>"
          }
        },
        "spec": {
          "target": "com.amazonaws.proton#SpecContents",
          "traits": {
            "smithy.api#documentation": "<p>The environment spec.</p>"
          }
        },
        "provisioning": {
          "target": "com.amazonaws.proton#Provisioning",
          "traits": {
            "smithy.api#documentation": "<p>When included, indicates that the environment template is for customer provisioned and managed infrastructure.</p>"
          }
        },
        "provisioningRepository": {
          "target": "com.amazonaws.proton#RepositoryBranch",
          "traits": {
            "smithy.api#documentation": "<p>The infrastructure repository that you use to host your rendered infrastructure templates for self-managed provisioning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The environment detail data. An Proton environment is a set resources shared across an Proton service.</p>"
      }
    },
    "com.amazonaws.proton#EnvironmentAccountConnection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the environment account connection.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.proton#EnvironmentAccountConnectionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the environment account connection.</p>",
            "smithy.api#required": {}
          }
        },
        "managementAccountId": {
          "target": "com.amazonaws.proton#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the management account that's connected to the environment account connection.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentAccountId": {
          "target": "com.amazonaws.proton#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The environment account that's connected to the environment account connection.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.proton#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM service role that's associated with the environment account connection.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentName": {
          "target": "com.amazonaws.proton#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the environment that's associated with the environment account connection.</p>",
[...]
