{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.qapps#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client is not authorized to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.qapps#Action": {
      "type": "enum",
      "members": {
        "READ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "read"
          }
        },
        "WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "write"
          }
        }
      }
    },
    "com.amazonaws.qapps#ActionIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.qapps#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.qapps#AppArn": {
      "type": "string"
    },
    "com.amazonaws.qapps#AppDefinition": {
      "type": "structure",
      "members": {
        "appDefinitionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the app definition schema or specification.</p>",
            "smithy.api#required": {}
          }
        },
        "cards": {
          "target": "com.amazonaws.qapps#CardModelList",
          "traits": {
            "smithy.api#documentation": "<p>The cards that make up the Q App, such as text input, file upload, or query cards.</p>",
            "smithy.api#required": {}
          }
        },
        "canEdit": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating whether the Q App's definition can be edited by the user.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of the Q App, specifying the cards and flow.</p>"
      }
    },
    "com.amazonaws.qapps#AppDefinitionInput": {
      "type": "structure",
      "members": {
        "cards": {
          "target": "com.amazonaws.qapps#CardList",
          "traits": {
            "smithy.api#documentation": "<p>The cards that make up the Q App definition.</p>",
            "smithy.api#required": {}
          }
        },
        "initialPrompt": {
          "target": "com.amazonaws.qapps#InitialPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The initial prompt displayed when the Q App is started.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for defining an Q App.</p>"
      }
    },
    "com.amazonaws.qapps#AppRequiredCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#AppRequiredCapability"
      }
    },
    "com.amazonaws.qapps#AppRequiredCapability": {
      "type": "enum",
      "members": {
        "FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FileUpload"
          }
        },
        "CREATOR_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreatorMode"
          }
        },
        "RETRIEVAL_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RetrievalMode"
          }
        },
        "PLUGIN_MODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PluginMode"
          }
        }
      }
    },
    "com.amazonaws.qapps#AppStatus": {
      "type": "enum",
      "members": {
        "PUBLISHED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISHED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.qapps#AppVersion": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.qapps#AssociateLibraryItemReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#AssociateLibraryItemReviewInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a rating or review for a library item with the user submitting the request. This increments the rating count for the specified library item.</p>",
        "smithy.api#examples": [
          {
            "title": "Increase the rating counter by 1 for the related app for this user",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "libraryItemId": "cb9ecf72-8563-450d-9db9-994f98297316"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.associateItemRating"
        }
      }
    },
    "com.amazonaws.qapps#AssociateLibraryItemReviewInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the library item to associate the review with.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#AssociateQAppWithUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#AssociateQAppWithUserInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a link between the user's identity calling the operation and a specific Q App. This is useful to mark the Q App as a <i>favorite</i> for the user if the user doesn't own the Amazon Q App so they can still run it and see it in their inventory of Q Apps.</p>",
        "smithy.api#examples": [
          {
            "title": "Links an Amazon Q App to the invoker's list of apps",
            "input": {
              "appId": "393e77fb-0a30-4f47-ad30-75d71aeaed8a",
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps.install"
        }
      }
    },
    "com.amazonaws.qapps#AssociateQAppWithUserInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Q App to associate with the user.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#AttributeFilter": {
      "type": "structure",
      "members": {
        "andAllFilters": {
          "target": "com.amazonaws.qapps#AttributeFilters",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
          }
        },
        "orAllFilters": {
          "target": "com.amazonaws.qapps#AttributeFilters",
          "traits": {
            "smithy.api#documentation": "<p> Performs a logical <code>OR</code> operation on all supplied filters. </p>"
          }
        },
        "notFilter": {
          "target": "com.amazonaws.qapps#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters. </p>"
          }
        },
        "equalsTo": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an <i>equals</i> operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code>, <code>longValue</code>, <code>stringListValue</code> and <code>stringValue</code>.</p>"
          }
        },
        "containsAll": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns <code>true</code> when a document contains all the specified document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>stringListValue</code>.</p>"
          }
        },
        "containsAny": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns <code>true</code> when a document contains any of the specified document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>stringListValue</code>.</p>"
          }
        },
        "greaterThan": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a <i>greater than</i> operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>.</p>"
          }
        },
        "greaterThanOrEquals": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a <i>greater than or equals</i> operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>. </p>"
          }
        },
        "lessThan": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a <i>less than</i> operation on two document attributes or metadata fields. Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value types</a>: <code>dateValue</code> and <code>longValue</code>.</p>"
          }
        },
        "lessThanOrEquals": {
          "target": "com.amazonaws.qapps#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a <i>less than or equals</i> operation on two document attributes or metadata fields.Supported for the following <a href=\"https://docs.aws.amazon.com/amazonq/latest/api-reference/API_DocumentAttributeValue.html\">document attribute value type</a>: <code>dateValue</code> and <code>longValue</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The filter criteria used on responses based on document attributes or metadata fields.</p>"
      }
    },
    "com.amazonaws.qapps#AttributeFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#AttributeFilter"
      }
    },
    "com.amazonaws.qapps#BatchCreateCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#BatchCreateCategoryInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates Categories for the Amazon Q Business application environment instance. Web experience users use Categories to tag and filter library items. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/qapps-custom-labels.html\">Custom labels for Amazon Q Apps</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Creates the categories for the library",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "categories": [
                {
                  "id": "549abfe0-f5c4-45a2-bb9b-c05987a49c6d",
                  "title": "HR"
                },
                {
                  "id": "18cbebaa-196a-4aa5-a840-88d548e07f8f",
                  "title": "Marketing"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.createCategories"
        }
      }
    },
    "com.amazonaws.qapps#BatchCreateCategoryInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.qapps#BatchCreateCategoryInputCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of category objects to be created</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#BatchCreateCategoryInputCategory": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier to be associated with a category. If you don't include a value, the category is automatically assigned a unique identifier.</p>"
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the category.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 30
            },
            "smithy.api#pattern": "^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The color to be associated with a category. The color must be a hexadecimal value of either 3 or 6 digits.</p>",
            "smithy.api#length": {
              "min": 4,
              "max": 7
            },
            "smithy.api#pattern": "^#([A-Fa-f0-9]{3}|[A-Fa-f0-9]{6})$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The category object to be created.</p>"
      }
    },
    "com.amazonaws.qapps#BatchCreateCategoryInputCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#BatchCreateCategoryInputCategory"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.qapps#BatchDeleteCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#BatchDeleteCategoryInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes Categories for the Amazon Q Business application environment instance. Web experience users use Categories to tag and filter library items. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/qapps-custom-labels.html\">Custom labels for Amazon Q Apps</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Deletes the categories in the library",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "categories": ["9c871ed4-1c41-4065-aefe-321cd4b61cf8"]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.deleteCategories"
        }
      }
    },
    "com.amazonaws.qapps#BatchDeleteCategoryInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.qapps#DeleteCategoryInputList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IDs of the categories to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#BatchUpdateCategory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#BatchUpdateCategoryInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates Categories for the Amazon Q Business application environment instance. Web experience users use Categories to tag and filter library items. For more information, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/qapps-custom-labels.html\">Custom labels for Amazon Q Apps</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "Updates the categories in the library",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "categories": [
                {
                  "id": "549abfe0-f5c4-45a2-bb9b-c05987a49c6d",
                  "title": "HR Management"
                },
                {
                  "id": "18cbebaa-196a-4aa5-a840-88d548e07f8f",
                  "title": "Sales"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.updateCategories"
        }
      }
    },
    "com.amazonaws.qapps#BatchUpdateCategoryInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.qapps#CategoryListInput",
          "traits": {
            "smithy.api#documentation": "<p>The list of categories to be updated with their new values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#Card": {
      "type": "union",
      "members": {
        "textInput": {
          "target": "com.amazonaws.qapps#TextInputCard",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the text input card.</p>"
          }
        },
        "qQuery": {
          "target": "com.amazonaws.qapps#QQueryCard",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the query card.</p>"
          }
        },
        "qPlugin": {
          "target": "com.amazonaws.qapps#QPluginCard",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the plugin card.</p>"
          }
        },
        "fileUpload": {
          "target": "com.amazonaws.qapps#FileUploadCard",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the file upload card.</p>"
          }
        },
        "formInput": {
          "target": "com.amazonaws.qapps#FormInputCard",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the form input card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A card representing a component or step in an Amazon Q App's flow.</p>"
      }
    },
    "com.amazonaws.qapps#CardInput": {
      "type": "union",
      "members": {
        "textInput": {
          "target": "com.amazonaws.qapps#TextInputCardInput",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the text input card.</p>"
          }
        },
        "qQuery": {
          "target": "com.amazonaws.qapps#QQueryCardInput",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the query input card.</p>"
          }
        },
        "qPlugin": {
          "target": "com.amazonaws.qapps#QPluginCardInput",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the plugin input card.</p>"
          }
        },
        "fileUpload": {
          "target": "com.amazonaws.qapps#FileUploadCardInput",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the file upload input card.</p>"
          }
        },
        "formInput": {
          "target": "com.amazonaws.qapps#FormInputCardInput",
          "traits": {
            "smithy.api#documentation": "<p>A container for the properties of the form input card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties defining an input card in an Amazon Q App.</p>"
      }
    },
    "com.amazonaws.qapps#CardList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#CardInput"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.qapps#CardModelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#Card"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.qapps#CardOutputSource": {
      "type": "enum",
      "members": {
        "APPROVED_SOURCES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "approved-sources"
          }
        },
        "LLM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "llm"
          }
        }
      }
    },
    "com.amazonaws.qapps#CardStatus": {
      "type": "structure",
      "members": {
        "currentState": {
          "target": "com.amazonaws.qapps#ExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "currentValue": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The current value or result associated with the card.</p>",
            "smithy.api#required": {}
          }
        },
        "submissions": {
          "target": "com.amazonaws.qapps#SubmissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of previous submissions, if the card is a form card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current status and value of a card in an active Amazon Q App session.</p>"
      }
    },
    "com.amazonaws.qapps#CardStatusMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qapps#UUID"
      },
      "value": {
        "target": "com.amazonaws.qapps#CardStatus"
      }
    },
    "com.amazonaws.qapps#CardType": {
      "type": "enum",
      "members": {
        "TEXT_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "text-input"
          }
        },
        "Q_QUERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "q-query"
          }
        },
        "FILE_UPLOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "file-upload"
          }
        },
        "Q_PLUGIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "q-plugin"
          }
        },
        "FORM_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "form-input"
          }
        }
      }
    },
    "com.amazonaws.qapps#CardValue": {
      "type": "structure",
      "members": {
        "cardId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value or result associated with the card.</p>",
            "smithy.api#length": {
              "max": 40000
            },
            "smithy.api#required": {}
          }
        },
        "submissionMutation": {
          "target": "com.amazonaws.qapps#SubmissionMutation",
          "traits": {
            "smithy.api#documentation": "<p>The structure that describes how the current form card value is mutated. Only applies for form cards when multiple responses are allowed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value or result associated with a card in a Amazon Q App session.</p>"
      }
    },
    "com.amazonaws.qapps#CardValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#CardValue"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.qapps#CategoriesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#Category"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.qapps#Category": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the category.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The title or name of the category.</p>",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The color of the category</p>"
          }
        },
        "appCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of published Amazon Q Apps associated with a category</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A category used to classify and filter library items for Amazon Q Apps.</p>"
      }
    },
    "com.amazonaws.qapps#CategoryIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#UUID"
      },
      "traits": {
        "smithy.api#length": {
          "max": 3
        }
      }
    },
    "com.amazonaws.qapps#CategoryInput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the category.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the category.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 30
            },
            "smithy.api#pattern": "^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$",
            "smithy.api#required": {}
          }
        },
        "color": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The color of the category, represented as a hexadecimal value of either 3 or 6 digits.</p>",
            "smithy.api#length": {
              "min": 4,
              "max": 7
            },
            "smithy.api#pattern": "^#([A-Fa-f0-9]{3}|[A-Fa-f0-9]{6})$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A label that web experience users associate with a library item. Web experience users use Categories to tag and filter library items.</p>"
      }
    },
    "com.amazonaws.qapps#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#Category"
      },
      "traits": {
        "smithy.api#length": {
          "max": 3
        }
      }
    },
    "com.amazonaws.qapps#CategoryListInput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#CategoryInput"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.qapps#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the resource</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.qapps#ContentTooLargeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the resource</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation could not be completed because the content exceeds the maximum allowed size.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.qapps#ConversationMessage": {
      "type": "structure",
      "members": {
        "body": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The text content of the conversation message.</p>",
            "smithy.api#length": {
              "max": 7000
            },
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qapps#Sender",
          "traits": {
            "smithy.api#documentation": "<p>The type of the conversation message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A message in a conversation, used as input for generating an Amazon Q App definition.</p>"
      }
    },
    "com.amazonaws.qapps#CreateLibraryItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#CreateLibraryItemInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#CreateLibraryItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new library item for an Amazon Q App, allowing it to be discovered and used by other allowed users. </p>",
        "smithy.api#examples": [
          {
            "title": "Create a Library Item",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "appId": "7a11f34b-42d4-4bc8-b668-ae4a788dae1e",
              "appVersion": 6,
              "categories": ["9c871ed4-1c41-4065-aefe-321cd4b61cf8"]
            },
            "output": {
              "libraryItemId": "cb9ecf72-8563-450d-9db9-994f98297316",
              "status": "PUBLISHED",
              "createdAt": "2024-05-21T23:17:27.350Z",
              "createdBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "updatedAt": "2024-05-21T23:17:27.350Z",
              "updatedBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "isVerified": false,
              "ratingCount": 0
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.createItem"
        }
      }
    },
    "com.amazonaws.qapps#CreateLibraryItemInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q App to publish to the library.</p>",
            "smithy.api#required": {}
          }
        },
        "appVersion": {
          "target": "com.amazonaws.qapps#AppVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Q App to publish to the library.</p>",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.qapps#CategoryIdList",
          "traits": {
            "smithy.api#documentation": "<p>The categories to associate with the library item for easier discovery.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#CreateLibraryItemOutput": {
      "type": "structure",
      "members": {
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the new library item.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the new library item, such as \"Published\".</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the library item was created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who created the library item.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the library item was last updated.</p>"
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who last updated the library item.</p>"
          }
        },
        "ratingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of ratings the library item has received from users.</p>",
            "smithy.api#required": {}
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the library item has been verified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#CreatePresignedUrl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#CreatePresignedUrlInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#CreatePresignedUrlOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a presigned URL for an S3 POST operation to upload a file. You can use this URL to set a default file for a <code>FileUploadCard</code> in a Q App definition or to provide a file for a single Q App run. The <code>scope</code> parameter determines how the file will be used, either at the app definition level or the app session level.</p> <note> <p>The IAM permissions are derived from the <code>qapps:ImportDocument</code> action. For more information on the IAM policy for Amazon Q Apps, see <a href=\"https://docs.aws.amazon.com/amazonq/latest/qbusiness-ug/deploy-q-apps-iam-permissions.html\">IAM permissions for using Amazon Q Apps</a>.</p> </note>",
        "smithy.api#examples": [
          {
            "title": "Upload a file to a specific session",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "fileContentsSha256": "wXY7GD8m4fmHhdtuQyBdXzNQpdCseVwBcOBIlzfm+kg=",
              "fileName": "myFile.txt",
              "cardId": "82f69028-22a9-4bea-8727-0eabf58e9fed",
              "appId": "4263767c-d889-4cb2-a8f6-8b649bc66af0",
              "scope": "SESSION",
              "sessionId": "4f0e5b87-9d38-41cd-9eb4-ebce2f2917cc"
            },
            "output": {
              "fileId": "412aa1b4-341c-45af-936d-da52f8a1a3b4",
              "presignedUrl": "https://qapps-uploaded-files-us-east-1-c819fab7cf78c9205158297913deb9e0.s3.us-east-1.amazonaws.com/",
              "presignedUrlFields": {
                "x-amz-server-side-encryption": "aws:kms",
                "x-amz-server-side-encryption-aws-kms-key-id": "0a6a474b-f2ca-46ea-9e72-deea9077d92f",
                "x-amz-server-side-encryption-context": "eyJBUFBMSUNBVElPTl9JRCI6IjAxMjM0NTY3ODkwMSJ9",
                "x-amz-checksum-sha256": "wXY7GD8m4fmHhdtuQyBdXzNQpdCseVwBcOBIlzfm+kg="
              },
              "presignedUrlExpiration": "2024-09-14T00:11:54.232Z"
            }
          },
          {
            "title": "Upload a file into a application",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "fileContentsSha256": "wXY7GD8m4fmHhdtuQyBdXzNQpdCseVwBcOBIlzfm+kg=",
              "fileName": "anApplicationFile.txt",
              "appId": "4263767c-d889-4cb2-a8f6-8b649bc66af0",
              "cardId": "7a11f34b-42d4-4bc8-b668-ae4a788dae1e",
              "scope": "APPLICATION"
            },
            "output": {
              "fileId": "412aa1b4-341c-45af-936d-da52f8a1a3b4",
              "presignedUrl": "https://qapps-uploaded-files-us-east-1-c819fab7cf78c9205158297913deb9e0.s3.us-east-1.amazonaws.com/",
              "presignedUrlFields": {
                "x-amz-server-side-encryption": "aws:kms",
                "x-amz-server-side-encryption-aws-kms-key-id": "0a6a474b-f2ca-46ea-9e72-deea9077d92f",
                "x-amz-server-side-encryption-context": "eyJBUFBMSUNBVElPTl9JRCI6IjAxMjM0NTY3ODkwMSJ9",
                "x-amz-checksum-sha256": "wXY7GD8m4fmHhdtuQyBdXzNQpdCseVwBcOBIlzfm+kg="
              },
              "presignedUrlExpiration": "2024-09-14T00:11:54.232Z"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps.createPresignedUrl"
        }
      }
    },
    "com.amazonaws.qapps#CreatePresignedUrlInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "cardId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the card the file is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App the file is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "fileContentsSha256": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded SHA-256 digest of the contents of the file to be uploaded.</p>",
            "smithy.api#pattern": "^[A-Za-z0-9+/]{43}=$|^[A-Za-z0-9+/]{42}==$|^[A-Za-z0-9+/]{44}$",
            "smithy.api#required": {}
          }
        },
        "fileName": {
          "target": "com.amazonaws.qapps#Filename",
          "traits": {
            "smithy.api#documentation": "<p>The name of the file to be uploaded.</p>",
            "smithy.api#required": {}
          }
        },
        "scope": {
          "target": "com.amazonaws.qapps#DocumentScope",
          "traits": {
            "smithy.api#documentation": "<p>Whether the file is associated with a Q App definition or a specific Q App session.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App session the file is associated with, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#CreatePresignedUrlOutput": {
      "type": "structure",
      "members": {
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the file to be uploaded.</p>",
            "smithy.api#required": {}
          }
        },
        "presignedUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL for a presigned S3 POST operation used to upload a file.</p>",
            "smithy.api#required": {}
          }
        },
        "presignedUrlFields": {
          "target": "com.amazonaws.qapps#PresignedUrlFields",
          "traits": {
            "smithy.api#documentation": "<p>The form fields to include in the presigned S3 POST operation used to upload a file.</p>",
            "smithy.api#required": {}
          }
        },
        "presignedUrlExpiration": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the presigned URL will expire in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#CreateQApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#CreateQAppInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#CreateQAppOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#ContentTooLargeException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Q App based on the provided definition. The Q App definition specifies the cards and flow of the Q App. This operation also calculates the dependencies between the cards by inspecting the references in the prompts. </p>",
        "smithy.api#examples": [
          {
            "title": "A basic application with 1 text input card and 1 output card",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "title": "Color Palette Generator",
              "appDefinition": {
                "cards": [
                  {
                    "textInput": {
                      "type": "text-input",
                      "title": "Color Base",
                      "id": "4cf94d96-8819-45c2-98cc-58c56b35c72f"
                    }
                  },
                  {
                    "qQuery": {
                      "type": "q-query",
                      "title": "Recommended Palette",
                      "id": "18870b94-1e63-40e0-8c12-669c90ac5acc",
                      "prompt": "Recommend me a list of colors that go well with @4cf94d96-8819-45c2-98cc-58c56b35c72f"
                    }
                  }
                ],
                "initialPrompt": "Create an app that recommend a list of colors based on input."
              }
            },
            "output": {
              "appId": "7212ff04-de7b-4831-bd80-45d6975ba1b0",
              "appArn": "arn:aws:qapps:us-west-2:123456789012:app/7212ff04-de7b-4831-bd80-45d6975ba1b0",
              "title": "Color Palette Generator",
              "initialPrompt": "Create an app that recommend a list of colors based on input.",
              "appVersion": 1,
              "status": "DRAFT",
              "createdAt": "2024-05-14T00:11:54.232Z",
              "createdBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "updatedAt": "2024-05-14T00:13:26.168Z",
              "updatedBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "requiredCapabilities": ["CreatorMode"]
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps.create"
        }
      }
    },
    "com.amazonaws.qapps#CreateQAppInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the new Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qapps#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new Q App.</p>"
          }
        },
        "appDefinition": {
          "target": "com.amazonaws.qapps#AppDefinitionInput",
          "traits": {
            "smithy.api#documentation": "<p>The definition of the new Q App, specifying the cards and flow.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qapps#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional tags to associate with the new Q App.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#CreateQAppOutput": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the new Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "appArn": {
          "target": "com.amazonaws.qapps#AppArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the new Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qapps#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new Q App.</p>"
          }
        },
        "initialPrompt": {
          "target": "com.amazonaws.qapps#InitialPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The initial prompt displayed when the Q App is started.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.qapps#AppVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the new Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qapps#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the new Q App, such as \"Created\".</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Q App was created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who created the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Q App was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who last updated the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "requiredCapabilities": {
          "target": "com.amazonaws.qapps#AppRequiredCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities required to run the Q App, such as file upload or third-party integrations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#Default": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 500
        }
      }
    },
    "com.amazonaws.qapps#DeleteCategoryInputList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#UUID"
      },
      "traits": {
        "smithy.api#length": {
          "max": 10
        }
      }
    },
    "com.amazonaws.qapps#DeleteLibraryItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#DeleteLibraryItemInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a library item for an Amazon Q App, removing it from the library so it can no longer be discovered or used by other users.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a library item",
            "input": {
              "instanceId": "3642ba81-344c-42fd-a480-9119a5a5f26b",
              "libraryItemId": "72088fd4-78b6-43da-bfb8-8621323c3cfb"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.deleteItem"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qapps#DeleteLibraryItemInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the library item to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#DeleteQApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#DeleteQAppInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Q App owned by the user. If the Q App was previously published to the library, it is also removed from the library.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete an Amazon Q App",
            "input": {
              "appId": "393e77fb-0a30-4f47-ad30-75d71aeaed8a",
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps.delete"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qapps#DeleteQAppInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#DependencyList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.qapps#DescribeQAppPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#DescribeQAppPermissionsInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#DescribeQAppPermissionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Describes read permissions for a Amazon Q App in Amazon Q Business application environment instance.</p>",
        "smithy.api#examples": [
          {
            "title": "Describe permissions for the app",
            "input": {
              "instanceId": "01793661-ad73-4c7d-8eaa-1c95a10151c2",
              "appId": "fe0acf86-49e5-4def-a0c2-40ce0cafee14"
            },
            "output": {
              "resourceArn": "arn:aws:qapps:us-west-2:111111111111:application/01793661-ad73-4c7d-8eaa-1c95a10151c2/qapp/fe0acf86-49e5-4def-a0c2-40ce0cafee14",
              "appId": "fe0acf86-49e5-4def-a0c2-40ce0cafee14",
              "permissions": [
                {
                  "action": "write",
                  "principal": {
                    "userId": "f8f15330-b091-708b-d46e-adb0d914b699",
                    "email": "user1@example.com"
                  }
                },
                {
                  "action": "read",
                  "principal": {
                    "userId": "c81133d0-10d1-70eb-aaa3-d427ea6fc0f3",
                    "email": "user2@example.com"
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps.describeQAppPermissions"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qapps#DescribeQAppPermissionsInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q App for which to retrieve permissions.</p>",
            "smithy.api#httpQuery": "appId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#DescribeQAppPermissionsOutput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q App for which permissions are returned.</p>"
          }
        },
        "appId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q App for which permissions are returned.</p>"
          }
        },
        "permissions": {
          "target": "com.amazonaws.qapps#PermissionsOutputList",
          "traits": {
            "smithy.api#documentation": "<p>The list of permissions granted for the Amazon Q App.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 500
        }
      }
    },
    "com.amazonaws.qapps#DisassociateLibraryItemReview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#DisassociateLibraryItemReviewInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a rating or review previously submitted by the user for a library item.</p>",
        "smithy.api#examples": [
          {
            "title": "Decrease the rating counter by 1 for the related app for this user",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "libraryItemId": "cb9ecf72-8563-450d-9db9-994f98297316"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/catalog.disassociateItemRating"
        }
      }
    },
    "com.amazonaws.qapps#DisassociateLibraryItemReviewInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the library item to remove the review from.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#DisassociateQAppFromUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#DisassociateQAppFromUserInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a Q App from a user removing the user's access to run the Q App.</p>",
        "smithy.api#examples": [
          {
            "title": "Unlinks an Amazon Q App from the invoker's list of apps",
            "input": {
              "appId": "393e77fb-0a30-4f47-ad30-75d71aeaed8a",
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/apps.uninstall"
        }
      }
    },
    "com.amazonaws.qapps#DisassociateQAppFromUserInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App to disassociate from the user.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#DocumentAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.qapps#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.qapps#DocumentAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document attribute or metadata field.</p>"
      }
    },
    "com.amazonaws.qapps#DocumentAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_][a-zA-Z0-9_-]*$"
      }
    },
    "com.amazonaws.qapps#DocumentAttributeStringListValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qapps#PlatoString"
      }
    },
    "com.amazonaws.qapps#DocumentAttributeStringValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 2048
        }
      }
    },
    "com.amazonaws.qapps#DocumentAttributeValue": {
      "type": "union",
      "members": {
        "stringValue": {
          "target": "com.amazonaws.qapps#DocumentAttributeStringValue",
          "traits": {
            "smithy.api#documentation": "<p>A string.</p>",
            "smithy.api#length": {
              "max": 2048
            }
          }
        },
        "stringListValue": {
          "target": "com.amazonaws.qapps#DocumentAttributeStringListValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings.</p>"
          }
        },
        "longValue": {
          "target": "com.amazonaws.qapps#Long",
          "traits": {
            "smithy.api#documentation": "<p>A long integer value. </p>"
          }
        },
        "dateValue": {
          "target": "com.amazonaws.qapps#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A date expressed as an ISO 8601 string.</p> <p>It's important for the time zone to be included in the <i>ISO 8601 date-time</i> format. For example, 2012-03-25T12:30:10+01:00 is the ISO 8601 date-time format for March 25th 2012 at 12:30PM (plus 10 seconds) in Central European Time. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of a document attribute. You can only provide one value for a document attribute.</p>"
      }
    },
    "com.amazonaws.qapps#DocumentScope": {
      "type": "enum",
      "members": {
        "APPLICATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLICATION"
          }
        },
        "SESSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SESSION"
          }
        }
      }
    },
    "com.amazonaws.qapps#ExecutionStatus": {
      "type": "enum",
      "members": {
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "WAITING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAITING"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        }
      }
    },
    "com.amazonaws.qapps#ExportQAppSessionData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#ExportQAppSessionDataInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#ExportQAppSessionDataOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#ConflictException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports the collected data of a Q App data collection session.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runtime.exportQAppSessionData"
        }
      }
    },
    "com.amazonaws.qapps#ExportQAppSessionDataInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "sessionId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App data collection session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#ExportQAppSessionDataOutput": {
      "type": "structure",
      "members": {
        "csvFileLink": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The link where the exported Q App session data can be downloaded from.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the link for the exported Q App session data expires.</p>",
            "smithy.api#required": {}
          }
        },
        "sessionArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Q App data collection session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#FileUploadCard": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the file upload card.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the file upload card.</p>",
            "smithy.api#required": {}
          }
        },
        "dependencies": {
          "target": "com.amazonaws.qapps#DependencyList",
          "traits": {
            "smithy.api#documentation": "<p>Any dependencies or requirements for the file upload card.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qapps#CardType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the file being uploaded.</p>"
          }
        },
        "fileId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the file associated with the card.</p>"
          }
        },
        "allowOverride": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating if the user can override the default file for the upload card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A card in an Amazon Q App that allows the user to upload a file.</p>"
      }
    },
    "com.amazonaws.qapps#FileUploadCardInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title or label of the file upload card.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the file upload card.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qapps#CardType",
          "traits": {
            "smithy.api#default": "file-upload",
            "smithy.api#documentation": "<p>The type of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "filename": {
          "target": "com.amazonaws.qapps#Filename",
          "traits": {
            "smithy.api#documentation": "<p>The default filename to use for the file upload card.</p>"
          }
        },
        "fileId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of a pre-uploaded file associated with the card.</p>"
          }
        },
        "allowOverride": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag indicating if the user can override the default file for the upload card.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a file upload card. It can optionally receive a <code>filename</code> and <code>fileId</code> to set a default file. If not received, the user must provide the file when the Q App runs.</p>"
      }
    },
    "com.amazonaws.qapps#Filename": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 100
        }
      }
    },
    "com.amazonaws.qapps#FormInputCard": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the form input card.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the form input card.</p>",
            "smithy.api#required": {}
          }
        },
        "dependencies": {
          "target": "com.amazonaws.qapps#DependencyList",
          "traits": {
            "smithy.api#documentation": "<p>Any dependencies or requirements for the form input card.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qapps#CardType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.qapps#FormInputCardMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that defines the form input card data.</p>",
            "smithy.api#required": {}
          }
        },
        "computeMode": {
          "target": "com.amazonaws.qapps#InputCardComputeMode",
          "traits": {
            "smithy.api#documentation": "<p>The compute mode of the form input card. This property determines whether individual participants of a data collection session can submit multiple response or one response. A compute mode of <code>append</code> shall allow participants to submit the same form multiple times with different values. A compute mode of <code>replace</code>code&gt; shall overwrite the current value for each participant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A card in an Amazon Q App that allows the user to submit a response.</p>"
      }
    },
    "com.amazonaws.qapps#FormInputCardInput": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title or label of the form input card.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the form input card.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qapps#CardType",
          "traits": {
            "smithy.api#default": "form-input",
            "smithy.api#documentation": "<p>The type of the card.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.qapps#FormInputCardMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The metadata that defines the form input card data.</p>",
            "smithy.api#required": {}
          }
        },
        "computeMode": {
          "target": "com.amazonaws.qapps#InputCardComputeMode",
          "traits": {
            "smithy.api#documentation": "<p>The compute mode of the form input card. This property determines whether individual participants of a data collection session can submit multiple response or one response. A compute mode of <code>append</code> shall allow participants to submit the same form multiple times with different values. A compute mode of <code>replace</code>code&gt; shall overwrite the current value for each participant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a form input card for an Amazon Q App.</p>"
      }
    },
    "com.amazonaws.qapps#FormInputCardMetadata": {
      "type": "structure",
      "members": {
        "schema": {
          "target": "com.amazonaws.qapps#FormInputCardMetadataSchema",
          "traits": {
            "smithy.api#documentation": "<p>The JSON schema that defines the shape of the response data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The metadata of the form input card.</p>"
      }
    },
    "com.amazonaws.qapps#FormInputCardMetadataSchema": {
      "type": "document"
    },
    "com.amazonaws.qapps#GetLibraryItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#GetLibraryItemInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#GetLibraryItemOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about a library item for an Amazon Q App, including its metadata, categories, ratings, and usage statistics.</p>",
        "smithy.api#examples": [
          {
            "title": "Retrieve a library item",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "libraryItemId": "18cbebaa-196a-4aa5-a840-88d548e07f8f"
            },
            "output": {
              "libraryItemId": "18cbebaa-196a-4aa5-a840-88d548e07f8f",
              "appId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "appVersion": 1,
              "categories": [
                {
                  "id": "9c871ed4-1c41-4065-aefe-321cd4b61cf8",
                  "title": "HR"
                },
                {
                  "id": "fdc4b483-c4e2-44c9-b4b2-6c850bbdb579",
                  "title": "General"
                },
                {
                  "id": "c1c4e374-118c-446f-81fb-cba6225d88da",
                  "title": "IT"
                }
              ],
              "status": "PUBLISHED",
              "ratingCount": 0,
              "isVerified": false,
              "isRatedByUser": false,
              "createdBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "createdAt": "2024-05-08T16:09:56.080Z",
              "updatedBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "updatedAt": "2024-05-08T16:09:56.080Z",
              "userCount": 1
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/catalog.getItem"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qapps#GetLibraryItemInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the library item to retrieve.</p>",
            "smithy.api#httpQuery": "libraryItemId",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q App associated with the library item.</p>",
            "smithy.api#httpQuery": "appId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#GetLibraryItemOutput": {
      "type": "structure",
      "members": {
        "libraryItemId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the library item.</p>",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App associated with the library item.</p>",
            "smithy.api#required": {}
          }
        },
        "appVersion": {
          "target": "com.amazonaws.qapps#AppVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Q App associated with the library item.</p>",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.qapps#CategoryList",
          "traits": {
            "smithy.api#documentation": "<p>The categories associated with the library item for discovery.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the library item, such as \"Published\".</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the library item was created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who created the library item.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the library item was last updated.</p>"
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who last updated the library item.</p>"
          }
        },
        "ratingCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of ratings the library item has received from users.</p>",
            "smithy.api#required": {}
          }
        },
        "isRatedByUser": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the current user has rated the library item.</p>"
          }
        },
        "userCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of users who have associated the Q App with their account.</p>"
          }
        },
        "isVerified": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the library item has been verified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qapps#GetQApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qapps#GetQAppInput"
      },
      "output": {
        "target": "com.amazonaws.qapps#GetQAppOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.qapps#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qapps#InternalServerException"
        },
        {
          "target": "com.amazonaws.qapps#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qapps#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qapps#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.qapps#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the full details of an Q App, including its definition specifying the cards and flow.</p>",
        "smithy.api#examples": [
          {
            "title": "A basic application with 1 text input card and 1 output card",
            "input": {
              "instanceId": "0b95c9c4-89cc-4aa8-9aae-aa91cbec699f",
              "appId": "3d110749-efc3-427c-87e8-15e966e5c168"
            },
            "output": {
              "appId": "7212ff04-de7b-4831-bd80-45d6975ba1b0",
              "appArn": "arn:aws:qapps:us-west-2:123456789012:app/7212ff04-de7b-4831-bd80-45d6975ba1b0",
              "title": "Color Palette Generator",
              "appVersion": 1,
              "status": "DRAFT",
              "appDefinition": {
                "appDefinitionVersion": "1",
                "cards": [
                  {
                    "textInput": {
                      "title": "Color Base",
                      "id": "4cf94d96-8819-45c2-98cc-58c56b35c72f",
                      "type": "text-input",
                      "dependencies": []
                    }
                  },
                  {
                    "qQuery": {
                      "title": "Recommended Palette",
                      "id": "18870b94-1e63-40e0-8c12-669c90ac5acc",
                      "type": "q-query",
                      "prompt": "Recommend me a list of colors that go well with @91e4513d-6981-454a-9329-329c9302eef4 ",
                      "outputSource": "llm",
                      "dependencies": ["91e4513d-6981-454a-9329-329c9302eef4"]
                    }
                  }
                ]
              },
              "createdAt": "2024-05-14T00:11:54.232Z",
              "createdBy": "a841e300-40c1-7062-fa34-5b46dadbbaac",
              "updatedAt": "2024-05-14T00:13:26.168Z",
              "updatedBy": "a841e300-40c1-7062-fa34-5b46dadbbaac"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/apps.get"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qapps#GetQAppInput": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qapps#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Amazon Q Business application environment instance.</p>",
            "smithy.api#httpHeader": "instance-id",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App to retrieve.</p>",
            "smithy.api#httpQuery": "appId",
            "smithy.api#required": {}
          }
        },
        "appVersion": {
          "target": "com.amazonaws.qapps#AppVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Q App.</p>",
            "smithy.api#httpQuery": "appVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qapps#GetQAppOutput": {
      "type": "structure",
      "members": {
        "appId": {
          "target": "com.amazonaws.qapps#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "appArn": {
          "target": "com.amazonaws.qapps#AppArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qapps#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qapps#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Q App.</p>"
          }
        },
        "initialPrompt": {
          "target": "com.amazonaws.qapps#InitialPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The initial prompt displayed when the Q App is started.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.qapps#AppVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qapps#AppStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Q App was created.</p>",
            "smithy.api#required": {}
          }
        },
        "createdBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who created the Q App.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.qapps#QAppsTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Q App was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedBy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user who last updated the Q App.</p>",
            "smithy.api#required": {}
          }
        },
[...]
