{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.qconnect#AIAgent": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "aiAgentId": {
          "target": "com.amazonaws.qconnect#UuidOrArnOrEitherWithQualifier"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAIAgent"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAIAgent"
      },
      "update": {
        "target": "com.amazonaws.qconnect#UpdateAIAgent"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAIAgent"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAIAgents"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#CreateAIAgentVersion"
        },
        {
          "target": "com.amazonaws.qconnect#DeleteAIAgentVersion"
        },
        {
          "target": "com.amazonaws.qconnect#ListAIAgentVersions"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "ai-agent/{assistantId}/{aiAgentId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AIAgentAssociationConfigurationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KNOWLEDGE_BASE",
            "name": "KNOWLEDGE_BASE"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIAgentConfiguration": {
      "type": "union",
      "members": {
        "manualSearchAIAgentConfiguration": {
          "target": "com.amazonaws.qconnect#ManualSearchAIAgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for AI Agents of type <code>MANUAL_SEARCH</code>.</p>"
          }
        },
        "answerRecommendationAIAgentConfiguration": {
          "target": "com.amazonaws.qconnect#AnswerRecommendationAIAgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for AI Agents of type <code>ANSWER_RECOMMENDATION</code>.</p>"
          }
        },
        "selfServiceAIAgentConfiguration": {
          "target": "com.amazonaws.qconnect#SelfServiceAIAgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for AI Agents of type SELF_SERVICE.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A typed union that specifies the configuration based on the type of AI Agent.</p>"
      }
    },
    "com.amazonaws.qconnect#AIAgentConfigurationData": {
      "type": "structure",
      "members": {
        "aiAgentId": {
          "target": "com.amazonaws.qconnect#UuidWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AI Agent to be configured.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A type that specifies the AI Agent ID configuration data when mapping an AI Agents to be\n      used for an AI Agent type on a session or assistant.</p>"
      }
    },
    "com.amazonaws.qconnect#AIAgentConfigurationMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qconnect#AIAgentType"
      },
      "value": {
        "target": "com.amazonaws.qconnect#AIAgentConfigurationData"
      }
    },
    "com.amazonaws.qconnect#AIAgentData": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiAgentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "aiAgentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI agent.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AIAgentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.qconnect#AIAgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Agent was last modified.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AI Agent.</p>"
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "origin": {
          "target": "com.amazonaws.qconnect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the origin of the AI Agent. <code>SYSTEM</code> for a default AI Agent created\n      by Q in Connect or <code>CUSTOMER</code> for an AI Agent created by calling AI Agent creation\n      APIs. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Agent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data for the AI Agent.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIAgent"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIAgentSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiAgentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AIAgentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "aiAgentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI agent.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Agent was last modified.</p>"
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Agent.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.qconnect#AIAgentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the AI Agent.</p>"
          }
        },
        "origin": {
          "target": "com.amazonaws.qconnect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the AI Agent. <code>SYSTEM</code> for a default AI Agent created by Q in\n      Connect or <code>CUSTOMER</code> for an AI Agent created by calling AI Agent creation\n      APIs.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AI Agent.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Agent.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Agent.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIAgent"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIAgentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIAgentSummary"
      }
    },
    "com.amazonaws.qconnect#AIAgentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANUAL_SEARCH",
            "name": "MANUAL_SEARCH"
          },
          {
            "value": "ANSWER_RECOMMENDATION",
            "name": "ANSWER_RECOMMENDATION"
          },
          {
            "value": "SELF_SERVICE",
            "name": "SELF_SERVICE"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIAgentVersionSummariesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIAgentVersionSummary"
      }
    },
    "com.amazonaws.qconnect#AIAgentVersionSummary": {
      "type": "structure",
      "members": {
        "aiAgentSummary": {
          "target": "com.amazonaws.qconnect#AIAgentSummary",
          "traits": {
            "smithy.api#documentation": "<p>The data for the summary of the AI Agent version.</p>"
          }
        },
        "versionNumber": {
          "target": "com.amazonaws.qconnect#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number for this AI Agent version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Agent version.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrail": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "aiGuardrailId": {
          "target": "com.amazonaws.qconnect#UuidOrArnOrEitherWithQualifier"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAIGuardrail"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAIGuardrail"
      },
      "update": {
        "target": "com.amazonaws.qconnect#UpdateAIGuardrail"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAIGuardrail"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAIGuardrails"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#CreateAIGuardrailVersion"
        },
        {
          "target": "com.amazonaws.qconnect#DeleteAIGuardrailVersion"
        },
        {
          "target": "com.amazonaws.qconnect#ListAIGuardrailVersions"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "ai-guardrail/{assistantId}/{aiGuardrailId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AIGuardrailBlockedMessaging": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Messaging for when violations are detected in text",
        "smithy.api#length": {
          "min": 1,
          "max": 500
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#AIGuardrailContentPolicyConfig": {
      "type": "structure",
      "members": {
        "filtersConfig": {
          "target": "com.amazonaws.qconnect#GuardrailContentFiltersConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains the type of the content filter and how strongly it should apply to prompts and\n      model responses.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about how to handle harmful content.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailContextualGroundingPolicyConfig": {
      "type": "structure",
      "members": {
        "filtersConfig": {
          "target": "com.amazonaws.qconnect#GuardrailContextualGroundingFiltersConfig",
          "traits": {
            "smithy.api#documentation": "<p>The filter configuration details for the AI Guardrails contextual grounding policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The policy configuration details for the AI Guardrail's contextual grounding\n      policy.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailData": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiGuardrailArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "aiGuardrailId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "blockedInputMessaging": {
          "target": "com.amazonaws.qconnect#AIGuardrailBlockedMessaging",
          "traits": {
            "smithy.api#documentation": "<p>The message to return when the AI Guardrail blocks a prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "blockedOutputsMessaging": {
          "target": "com.amazonaws.qconnect#AIGuardrailBlockedMessaging",
          "traits": {
            "smithy.api#documentation": "<p>The message to return when the AI Guardrail blocks a model response.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#AIGuardrailDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the AI Guardrail.</p>"
          }
        },
        "topicPolicyConfig": {
          "target": "com.amazonaws.qconnect#AIGuardrailTopicPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about topics that the AI Guardrail should identify and deny.</p>"
          }
        },
        "contentPolicyConfig": {
          "target": "com.amazonaws.qconnect#AIGuardrailContentPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about how to handle harmful content.</p>"
          }
        },
        "wordPolicyConfig": {
          "target": "com.amazonaws.qconnect#AIGuardrailWordPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about the word policy to configured for the AI Guardrail.</p>"
          }
        },
        "sensitiveInformationPolicyConfig": {
          "target": "com.amazonaws.qconnect#AIGuardrailSensitiveInformationPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about PII entities and regular expressions to configure for the AI\n      Guardrail.</p>"
          }
        },
        "contextualGroundingPolicyConfig": {
          "target": "com.amazonaws.qconnect#AIGuardrailContextualGroundingPolicyConfig",
          "traits": {
            "smithy.api#documentation": "<p>The policy configuration details for the AI Guardrail's contextual grounding\n      policy.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Guardrail.</p>"
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Guardrail was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data for the AI Guardrail</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIGuardrail"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIGuardrailDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Description of the guardrail or its version",
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#AIGuardrailSensitiveInformationPolicyConfig": {
      "type": "structure",
      "members": {
        "piiEntitiesConfig": {
          "target": "com.amazonaws.qconnect#GuardrailPiiEntitiesConfig",
          "traits": {
            "smithy.api#documentation": "<p>A list of PII entities to configure to the AI Guardrail.</p>"
          }
        },
        "regexesConfig": {
          "target": "com.amazonaws.qconnect#GuardrailRegexesConfig",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expressions to configure to the AI Guardrail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about PII entities and regular expressions to configure for the AI\n      Guardrail.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailSummariesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIGuardrailSummary"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiGuardrailId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "aiGuardrailArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Guardrail was last modified.</p>"
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Guardrail.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#AIGuardrailDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the AI Guardrail.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Guardrail.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Guardrail.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIGuardrail"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIGuardrailTopicPolicyConfig": {
      "type": "structure",
      "members": {
        "topicsConfig": {
          "target": "com.amazonaws.qconnect#GuardrailTopicsConfig",
          "traits": {
            "smithy.api#documentation": "<p>A list of policies related to topics that the AI Guardrail should deny.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about topics that the AI Guardrail should identify and deny.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailVersionSummariesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIGuardrailVersionSummary"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailVersionSummary": {
      "type": "structure",
      "members": {
        "aiGuardrailSummary": {
          "target": "com.amazonaws.qconnect#AIGuardrailSummary",
          "traits": {
            "smithy.api#documentation": "<p>The data for the summary of the AI Guardrail version.</p>"
          }
        },
        "versionNumber": {
          "target": "com.amazonaws.qconnect#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number for this AI Guardrail version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Guardrail version.</p>"
      }
    },
    "com.amazonaws.qconnect#AIGuardrailWordPolicyConfig": {
      "type": "structure",
      "members": {
        "wordsConfig": {
          "target": "com.amazonaws.qconnect#GuardrailWordsConfig",
          "traits": {
            "smithy.api#documentation": "<p>A list of words to configure for the AI Guardrail.</p>"
          }
        },
        "managedWordListsConfig": {
          "target": "com.amazonaws.qconnect#GuardrailManagedWordListsConfig",
          "traits": {
            "smithy.api#documentation": "<p>A list of managed words to configure for the AI Guardrail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about the word policy to configured for the AI Guardrail.</p>"
      }
    },
    "com.amazonaws.qconnect#AIPrompt": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "aiPromptId": {
          "target": "com.amazonaws.qconnect#UuidOrArnOrEitherWithQualifier"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAIPrompt"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAIPrompt"
      },
      "update": {
        "target": "com.amazonaws.qconnect#UpdateAIPrompt"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAIPrompt"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAIPrompts"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#CreateAIPromptVersion"
        },
        {
          "target": "com.amazonaws.qconnect#DeleteAIPromptVersion"
        },
        {
          "target": "com.amazonaws.qconnect#ListAIPromptVersions"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "ai-prompt/{assistantId}/{aiPromptId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AIPromptAPIFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ANTHROPIC_CLAUDE_MESSAGES",
            "name": "ANTHROPIC_CLAUDE_MESSAGES"
          },
          {
            "value": "ANTHROPIC_CLAUDE_TEXT_COMPLETIONS",
            "name": "ANTHROPIC_CLAUDE_TEXT_COMPLETIONS"
          },
          {
            "value": "MESSAGES",
            "name": "MESSAGES"
          },
          {
            "value": "TEXT_COMPLETIONS",
            "name": "TEXT_COMPLETIONS"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIPromptData": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiPromptId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect AI prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "aiPromptArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Prompt</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AIPromptType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "templateType": {
          "target": "com.amazonaws.qconnect#AIPromptTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the prompt template for this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.qconnect#AIPromptModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the model used for this AI Prompt. The following model Ids are\n      supported:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>anthropic.claude-3-haiku--v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>apac.amazon.nova-lite-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>apac.amazon.nova-micro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>apac.amazon.nova-pro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>apac.anthropic.claude-3-5-sonnet--v2:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>apac.anthropic.claude-3-haiku-20240307-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>eu.amazon.nova-lite-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>eu.amazon.nova-micro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>eu.amazon.nova-pro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>eu.anthropic.claude-3-7-sonnet-20250219-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>eu.anthropic.claude-3-haiku-20240307-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.amazon.nova-lite-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.amazon.nova-micro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.amazon.nova-pro-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.anthropic.claude-3-5-haiku-20241022-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.anthropic.claude-3-7-sonnet-20250219-v1:0</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>us.anthropic.claude-3-haiku-20240307-v1:0</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "apiFormat": {
          "target": "com.amazonaws.qconnect#AIPromptAPIFormat",
          "traits": {
            "smithy.api#documentation": "<p>The API format used for this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "templateConfiguration": {
          "target": "com.amazonaws.qconnect#AIPromptTemplateConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the prompt template for this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Prompt was last modified.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AI Prompt.</p>"
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "origin": {
          "target": "com.amazonaws.qconnect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the AI Prompt. <code>SYSTEM</code> for a default AI Prompt created by Q in\n      Connect or <code>CUSTOMER</code> for an AI Prompt created by calling AI Prompt creation APIs.\n    </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Prompt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data for the AI Prompt</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIPrompt"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIPromptModelIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.qconnect#AIPromptSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs\n      cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "aiPromptId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect AI prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AIPromptType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "aiPromptArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the AI Prompt was last modified.</p>"
          }
        },
        "templateType": {
          "target": "com.amazonaws.qconnect#AIPromptTemplateType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the prompt template for this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "modelId": {
          "target": "com.amazonaws.qconnect#AIPromptModelIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the model used for this AI Prompt. Model Ids supported are:\n        <code>anthropic.claude-3-haiku-20240307-v1:0</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "apiFormat": {
          "target": "com.amazonaws.qconnect#AIPromptAPIFormat",
          "traits": {
            "smithy.api#documentation": "<p>The API format used for this AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "visibilityStatus": {
          "target": "com.amazonaws.qconnect#VisibilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the AI Prompt.</p>",
            "smithy.api#required": {}
          }
        },
        "origin": {
          "target": "com.amazonaws.qconnect#Origin",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the AI Prompt. <code>SYSTEM</code> for a default AI Prompt created by Q in\n      Connect or <code>CUSTOMER</code> for an AI Prompt created by calling AI Prompt creation APIs.\n    </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the AI Prompt.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the AI Prompt.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Prompt.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AIPrompt"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIPromptSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIPromptSummary"
      }
    },
    "com.amazonaws.qconnect#AIPromptTemplateConfiguration": {
      "type": "union",
      "members": {
        "textFullAIPromptEditTemplateConfiguration": {
          "target": "com.amazonaws.qconnect#TextFullAIPromptEditTemplateConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a prompt template that supports full textual prompt configuration\n      using a YAML prompt.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A typed union that specifies the configuration for a prompt template based on its\n      type.</p>"
      }
    },
    "com.amazonaws.qconnect#AIPromptTemplateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TEXT",
            "name": "TEXT"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIPromptType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ANSWER_GENERATION",
            "name": "ANSWER_GENERATION"
          },
          {
            "value": "INTENT_LABELING_GENERATION",
            "name": "INTENT_LABELING_GENERATION"
          },
          {
            "value": "QUERY_REFORMULATION",
            "name": "QUERY_REFORMULATION"
          },
          {
            "value": "SELF_SERVICE_PRE_PROCESSING",
            "name": "SELF_SERVICE_PRE_PROCESSING"
          },
          {
            "value": "SELF_SERVICE_ANSWER_GENERATION",
            "name": "SELF_SERVICE_ANSWER_GENERATION"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AIPromptVersionSummariesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AIPromptVersionSummary"
      }
    },
    "com.amazonaws.qconnect#AIPromptVersionSummary": {
      "type": "structure",
      "members": {
        "aiPromptSummary": {
          "target": "com.amazonaws.qconnect#AIPromptSummary",
          "traits": {
            "smithy.api#documentation": "<p>The date for the summary of the AI Prompt version.</p>"
          }
        },
        "versionNumber": {
          "target": "com.amazonaws.qconnect#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number for this AI Prompt version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the AI Prompt version.</p>"
      }
    },
    "com.amazonaws.qconnect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.qconnect#ActivateMessageTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#ActivateMessageTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#ActivateMessageTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ThrottlingException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a specific version of the Amazon Q in Connect message template. After the\n      version is activated, the previous active version will be deactivated automatically. You can\n      use the <code>$ACTIVE_VERSION</code> qualifier later to reference the version that is in\n      active status.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/activate",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.qconnect#ActivateMessageTemplateRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain\n      the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "messageTemplateId": {
          "target": "com.amazonaws.qconnect#UuidOrArnOrEitherWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the message template. Can be either the ID or the ARN. It cannot contain\n      any qualifier.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionNumber": {
          "target": "com.amazonaws.qconnect#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the message template version to activate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#ActivateMessageTemplateResponse": {
      "type": "structure",
      "members": {
        "messageTemplateArn": {
          "target": "com.amazonaws.qconnect#ArnWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the message template.</p>",
            "smithy.api#required": {}
          }
        },
        "messageTemplateId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the message template.</p>",
            "smithy.api#required": {}
          }
        },
        "versionNumber": {
          "target": "com.amazonaws.qconnect#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the message template version that is activated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qconnect#AgentAttributes": {
      "type": "structure",
      "members": {
        "firstName": {
          "target": "com.amazonaws.qconnect#MessageTemplateAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The agent’s first name as entered in their Amazon Connect user account.</p>"
          }
        },
        "lastName": {
          "target": "com.amazonaws.qconnect#MessageTemplateAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The agent’s last name as entered in their Amazon Connect user account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an agent.</p>"
      }
    },
    "com.amazonaws.qconnect#AmazonConnectGuideAssociationData": {
      "type": "structure",
      "members": {
        "flowId": {
          "target": "com.amazonaws.qconnect#GenericArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of an Amazon Connect flow. Step-by-step guides are a type of flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Content association data for a <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/step-by-step-guided-experiences.html\">step-by-step\n        guide</a>.</p>"
      }
    },
    "com.amazonaws.qconnect#AndConditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#TagCondition"
      }
    },
    "com.amazonaws.qconnect#AnswerRecommendationAIAgentConfiguration": {
      "type": "structure",
      "members": {
        "intentLabelingGenerationAIPromptId": {
          "target": "com.amazonaws.qconnect#UuidWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The AI Prompt identifier for the Intent Labeling prompt used by the\n        <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
          }
        },
        "queryReformulationAIPromptId": {
          "target": "com.amazonaws.qconnect#UuidWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The AI Prompt identifier for the Query Reformulation prompt used by the\n        <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
          }
        },
        "answerGenerationAIPromptId": {
          "target": "com.amazonaws.qconnect#UuidWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The AI Prompt identifier for the Answer Generation prompt used by the\n        <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
          }
        },
        "answerGenerationAIGuardrailId": {
          "target": "com.amazonaws.qconnect#UuidWithQualifier",
          "traits": {
            "smithy.api#documentation": "<p>The AI Guardrail identifier for the Answer Generation Guardrail used by the\n        <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
          }
        },
        "associationConfigurations": {
          "target": "com.amazonaws.qconnect#AssociationConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The association configurations for overriding behavior on this AI Agent.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The locale to which specifies the language and region settings that determine the response\n      language for <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_amazon-q-connect_QueryAssistant.html\">QueryAssistant</a>.</p>\n         <note>\n            <p>Changing this locale to anything other than <code>en_US</code>, <code>en_GB</code>, or\n          <code>en_AU</code> will turn off recommendations triggered by contact transcripts for\n        agent assistance, as this feature is not supported in multiple languages.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for the <code>ANSWER_RECOMMENDATION</code> AI Agent type.</p>"
      }
    },
    "com.amazonaws.qconnect#AppIntegrationsConfiguration": {
      "type": "structure",
      "members": {
        "appIntegrationArn": {
          "target": "com.amazonaws.qconnect#GenericArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n            <code>objectFields</code> is not provided, including at least <code>id</code>,\n            <code>title</code>, <code>updated_at</code>, and <code>draft</code> as source fields.\n        </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://learn.microsoft.com/en-us/sharepoint/dev/sp-add-ins/sharepoint-net-server-csom-jsom-and-rest-api-index\">SharePoint</a>, your AppIntegrations DataIntegration must have a FileConfiguration,\n          including only file extensions that are among <code>docx</code>, <code>pdf</code>,\n            <code>html</code>, <code>htm</code>, and <code>txt</code>. </p>\n            </li>\n            <li>\n               <p> For <a href=\"http://aws.amazon.com/s3/\">Amazon S3</a>, the\n          ObjectConfiguration and FileConfiguration of your AppIntegrations DataIntegration must be null.\n          The <code>SourceURI</code> of your DataIntegration must use the following format:\n            <code>s3://your_s3_bucket_name</code>.</p>\n               <important>\n                  <p>The bucket policy of the corresponding S3 bucket must allow the Amazon Web Services\n            principal <code>app-integrations.amazonaws.com</code> to perform\n              <code>s3:ListBucket</code>, <code>s3:GetObject</code>, and\n              <code>s3:GetBucketLocation</code> against the bucket.</p>\n               </important>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "objectFields": {
          "target": "com.amazonaws.qconnect#ObjectFieldsList",
          "traits": {
            "smithy.api#documentation": "<p>The fields from the source that are made available to your agents in Amazon Q in Connect. Optional if\n      ObjectConfiguration is included in the provided DataIntegration. </p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, you must include at least <code>id</code>, <code>title</code>,\n            <code>updated_at</code>, and <code>draft</code>. </p>\n            </li>\n         </ul>\n         <p>Make sure to include additional fields. These fields are indexed and used to source\n      recommendations. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for Amazon AppIntegrations to automatically ingest content.</p>"
      }
    },
    "com.amazonaws.qconnect#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[a-z-]*?:wisdom:[a-z0-9-]*?:[0-9]{12}:[a-z-]*?/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(?:/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}){0,2}$"
      }
    },
    "com.amazonaws.qconnect#ArnWithQualifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[a-z-]*?:wisdom:[a-z0-9-]*?:[0-9]{12}:[a-z-]*?/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(?:/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}){0,2}(:[A-Z0-9_$]+){0,1}$"
      }
    },
    "com.amazonaws.qconnect#Assistant": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAssistant"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAssistant"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAssistant"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAssistants"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#GetRecommendations"
        },
        {
          "target": "com.amazonaws.qconnect#NotifyRecommendationsReceived"
        },
        {
          "target": "com.amazonaws.qconnect#PutFeedback"
        },
        {
          "target": "com.amazonaws.qconnect#QueryAssistant"
        },
        {
          "target": "com.amazonaws.qconnect#RemoveAssistantAIAgent"
        },
        {
          "target": "com.amazonaws.qconnect#SearchSessions"
        },
        {
          "target": "com.amazonaws.qconnect#UpdateAssistantAIAgent"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.qconnect#AIAgent"
        },
        {
          "target": "com.amazonaws.qconnect#AIGuardrail"
        },
        {
          "target": "com.amazonaws.qconnect#AIPrompt"
        },
        {
          "target": "com.amazonaws.qconnect#AssistantAssociation"
        },
        {
          "target": "com.amazonaws.qconnect#Session"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "assistant/{assistantId}"
        },
        "aws.cloudformation#cfnResource": {},
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AssistantAssociation": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAssistantAssociation"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAssistantAssociation"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAssistantAssociation"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAssistantAssociations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "association/{assistantId}/{assistantAssociationId}"
        },
        "aws.cloudformation#cfnResource": {},
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationData": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#AssistantAssociationOutputData",
          "traits": {
            "smithy.api#documentation": "<p>A union type that currently has a single argument, the knowledge base ID.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the assistant association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AssistantAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationInputData": {
      "type": "union",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data that is input into Amazon Q in Connect as a result of the assistant association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationOutputData": {
      "type": "union",
      "members": {
        "knowledgeBaseAssociation": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseAssociationData",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base where output data is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data that is output as a result of the assistant association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationSummary": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#AssistantAssociationOutputData",
          "traits": {
            "smithy.api#documentation": "<p>The association data.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the assistant association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AssistantAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AssistantAssociationSummary"
      }
    },
    "com.amazonaws.qconnect#AssistantCapabilityConfiguration": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Q in Connect assistant capability. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capability configuration for an Amazon Q in Connect assistant. </p>"
      }
    },
    "com.amazonaws.qconnect#AssistantCapabilityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "V1",
            "name": "V1"
          },
          {
            "value": "V2",
            "name": "V2"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantData": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AssistantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#AssistantStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code>kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect. To use Amazon Q in Connect with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        },
        "integrationConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantIntegrationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
          }
        },
        "capabilityConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant capability. </p>"
          }
        },
        "aiAgentConfiguration": {
          "target": "com.amazonaws.qconnect#AIAgentConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the AI Agents (mapped by AI Agent Type to AI Agent version) that is\n      set on the Amazon Q in Connect Assistant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The assistant data.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantIntegrationConfiguration": {
      "type": "structure",
      "members": {
        "topicIntegrationArn": {
          "target": "com.amazonaws.qconnect#GenericArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the integrated Amazon SNS topic used for streaming chat messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AssistantSummary"
      }
    },
    "com.amazonaws.qconnect#AssistantStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantSummary": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AssistantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#AssistantStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the assistant.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code>kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect. To use Amazon Q in Connect with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        },
        "integrationConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantIntegrationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
          }
        },
        "capabilityConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant capability. </p>"
          }
        },
        "aiAgentConfiguration": {
          "target": "com.amazonaws.qconnect#AIAgentConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the AI Agents (mapped by AI Agent Type to AI Agent version) that is\n      set on the Amazon Q in Connect Assistant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the assistant.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AGENT",
            "name": "AGENT"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssociationConfiguration": {
      "type": "structure",
      "members": {
        "associationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the association for this Association Configuration.</p>"
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AIAgentAssociationConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the association for this Association Configuration.</p>"
          }
        },
        "associationConfigurationData": {
          "target": "com.amazonaws.qconnect#AssociationConfigurationData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the configuration for an Amazon Q in Connect Assistant Association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for an Amazon Q in Connect Assistant Association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssociationConfigurationData": {
      "type": "union",
      "members": {
        "knowledgeBaseAssociationConfigurationData": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseAssociationConfigurationData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the configuration for a <code>KNOWLEDGE_BASE</code> type Amazon Q in Connect\n      Assistant Association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A typed union of the data of the configuration for an Amazon Q in Connect Assistant\n      Association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssociationConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AssociationConfiguration"
      }
    },
    "com.amazonaws.qconnect#AssociationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KNOWLEDGE_BASE",
            "name": "KNOWLEDGE_BASE"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AttachmentFileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{L}\\p{M}\\p{N}_\\s&@()+,;=\\-]+\\.[A-Za-z0-9]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#BedrockFoundationModelConfigurationForParsing": {
      "type": "structure",
      "members": {
        "modelArn": {
          "target": "com.amazonaws.qconnect#BedrockModelArnForParsing",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the foundation model.</p>",
            "smithy.api#required": {}
          }
        },
        "parsingPrompt": {
          "target": "com.amazonaws.qconnect#ParsingPrompt",
          "traits": {
            "smithy.api#documentation": "<p>Instructions for interpreting the contents of a document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for a foundation model used to parse documents for a data source.</p>"
      }
    },
    "com.amazonaws.qconnect#BedrockModelArnForParsing": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/anthropic.claude-3-haiku-20240307-v1:0$"
      }
    },
    "com.amazonaws.qconnect#Channel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#ChannelSubtype": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EMAIL",
            "name": "EMAIL"
          },
          {
            "value": "SMS",
            "name": "SMS"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#Channel"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.qconnect#ChunkingConfiguration": {
      "type": "structure",
      "members": {
        "chunkingStrategy": {
          "target": "com.amazonaws.qconnect#ChunkingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Knowledge base can split your source data into chunks. A chunk refers to an excerpt from a\n      data source that is returned when the knowledge base that it belongs to is queried. You have\n      the following options for chunking your data. If you opt for <code>NONE</code>, then you may\n      want to pre-process your files by splitting them up such that each file corresponds to a\n      chunk.</p>",
            "smithy.api#required": {}
          }
        },
        "fixedSizeChunkingConfiguration": {
          "target": "com.amazonaws.qconnect#FixedSizeChunkingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configurations for when you choose fixed-size chunking. If you set the\n        <code>chunkingStrategy</code> as <code>NONE</code>, exclude this field.</p>"
          }
        },
        "hierarchicalChunkingConfiguration": {
          "target": "com.amazonaws.qconnect#HierarchicalChunkingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Settings for hierarchical document chunking for a data source. Hierarchical chunking\n      splits documents into layers of chunks where the first layer contains large chunks, and the\n      second layer contains smaller chunks derived from the first layer.</p>"
          }
        },
        "semanticChunkingConfiguration": {
          "target": "com.amazonaws.qconnect#SemanticChunkingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Settings for semantic document chunking for a data source. Semantic chunking splits a\n      document into smaller documents based on groups of similar content derived from the text with\n      natural language processing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about how to chunk the documents in the data source. A chunk refers to an excerpt\n      from a data source that is returned when the knowledge base that it belongs to is\n      queried.</p>"
      }
    },
    "com.amazonaws.qconnect#ChunkingStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FIXED_SIZE",
            "name": "FIXED_SIZE"
          },
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "HIERARCHICAL",
            "name": "HIERARCHICAL"
          },
          {
            "value": "SEMANTIC",
            "name": "SEMANTIC"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#CitationSpan": {
      "type": "structure",
      "members": {
        "beginOffsetInclusive": {
          "target": "com.amazonaws.qconnect#CitationSpanOffset",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Where the text with a citation starts in the generated output.</p>"
          }
        },
        "endOffsetExclusive": {
          "target": "com.amazonaws.qconnect#CitationSpanOffset",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Where the text with a citation ends in the generated output.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about where the text with a citation begins and ends in the generated\n      output.</p>"
      }
    },
    "com.amazonaws.qconnect#CitationSpanOffset": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.qconnect#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.qconnect#Configuration": {
      "type": "union",
      "members": {
        "connectConfiguration": {
          "target": "com.amazonaws.qconnect#ConnectConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information of the external data source.</p>"
      }
    },
    "com.amazonaws.qconnect#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n      resource. For example, if you're using a <code>Create</code> API (such as\n        <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the\n      same name) is being created or mutated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.qconnect#ConnectConfiguration": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
      }
    },
    "com.amazonaws.qconnect#ContactAttributeKey": {
      "type": "string"
    },
    "com.amazonaws.qconnect#ContactAttributeKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#ContactAttributeKey"
      },
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.qconnect#ContactAttributeValue": {
      "type": "string"
    },
    "com.amazonaws.qconnect#ContactAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qconnect#ContactAttributeKey"
      },
      "value": {
        "target": "com.amazonaws.qconnect#ContactAttributeValue"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#Content": {
      "type": "resource",
      "identifiers": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateContent"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetContent"
      },
      "update": {
        "target": "com.amazonaws.qconnect#UpdateContent"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteContent"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListContents"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#GetContentSummary"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.qconnect#ContentAssociation"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "content/{knowledgeBaseId}/{contentId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#ContentAssociation": {
      "type": "resource",
      "identifiers": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "contentAssociationId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateContentAssociation"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetContentAssociation"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteContentAssociation"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListContentAssociations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "content-association/{knowledgeBaseId}/{contentId}/{contentAssociationId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#ContentAssociationContents": {
      "type": "union",
      "members": {
        "amazonConnectGuideAssociation": {
          "target": "com.amazonaws.qconnect#AmazonConnectGuideAssociationData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the step-by-step guide association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The contents of a content association.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentAssociationData": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "contentAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#ContentAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#ContentAssociationContents",
          "traits": {
            "smithy.api#documentation": "<p>The content association.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the content association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#ContentAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentAssociationSummary": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "contentAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#ContentAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#ContentAssociationContents",
          "traits": {
            "smithy.api#documentation": "<p>The content association.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a content association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#ContentAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#ContentAssociationSummary"
      }
    },
    "com.amazonaws.qconnect#ContentAssociationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AMAZON_CONNECT_GUIDE",
            "name": "AMAZON_CONNECT_GUIDE"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentData": {
      "type": "structure",
      "members": {
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "revisionId": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content revision.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qconnect#ContentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.qconnect#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#ContentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.qconnect#ContentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Amazon Q in Connect, you can store an external version identifier as metadata to utilize for determining drift.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "linkOutUri": {
          "target": "com.amazonaws.qconnect#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the content.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.qconnect#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "urlExpiry": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time of the URL as an epoch timestamp.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "epoch-seconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the content.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#Content"
          },
          {
            "resource": "com.amazonaws.qconnect#KnowledgeBase"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentDataDetails": {
      "type": "structure",
      "members": {
        "textData": {
          "target": "com.amazonaws.qconnect#TextData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content text data.</p>",
            "smithy.api#required": {}
          }
        },
        "rankingData": {
          "target": "com.amazonaws.qconnect#RankingData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content ranking data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the content data.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentDisposition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ATTACHMENT",
            "name": "ATTACHMENT"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentFeedbackData": {
      "type": "union",
      "members": {
        "generativeContentFeedbackData": {
          "target": "com.amazonaws.qconnect#GenerativeContentFeedbackData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the feedback for a generative target type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the feedback.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qconnect#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.qconnect#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.qconnect#ContentReference": {
      "type": "structure",
      "members": {
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>"
          }
        },
        "knowledgeBaseId": {
[...]
