{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.qconnect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.qconnect#AndConditions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#TagCondition"
      }
    },
    "com.amazonaws.qconnect#AppIntegrationsConfiguration": {
      "type": "structure",
      "members": {
        "appIntegrationArn": {
          "target": "com.amazonaws.qconnect#GenericArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n            <code>objectFields</code> is not provided, including at least <code>id</code>,\n            <code>title</code>, <code>updated_at</code>, and <code>draft</code> as source fields.\n        </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://learn.microsoft.com/en-us/sharepoint/dev/sp-add-ins/sharepoint-net-server-csom-jsom-and-rest-api-index\">SharePoint</a>, your AppIntegrations DataIntegration must have a FileConfiguration,\n          including only file extensions that are among <code>docx</code>, <code>pdf</code>,\n            <code>html</code>, <code>htm</code>, and <code>txt</code>. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://aws.amazon.com/s3/\">Amazon S3</a>, the\n          ObjectConfiguration and FileConfiguration of your AppIntegrations DataIntegration must be null.\n          The <code>SourceURI</code> of your DataIntegration must use the following format:\n            <code>s3://your_s3_bucket_name</code>.</p>\n               <important>\n                  <p>The bucket policy of the corresponding S3 bucket must allow the Amazon Web Services\n            principal <code>app-integrations.amazonaws.com</code> to perform\n              <code>s3:ListBucket</code>, <code>s3:GetObject</code>, and\n              <code>s3:GetBucketLocation</code> against the bucket.</p>\n               </important>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "objectFields": {
          "target": "com.amazonaws.qconnect#ObjectFieldsList",
          "traits": {
            "smithy.api#documentation": "<p>The fields from the source that are made available to your agents in Amazon Q in Connect. Optional if\n      ObjectConfiguration is included in the provided DataIntegration. </p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, you must include at least <code>id</code>, <code>title</code>,\n            <code>updated_at</code>, and <code>draft</code>. </p>\n            </li>\n         </ul>\n         <p>Make sure to include additional fields. These fields are indexed and used to source\n      recommendations. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for Amazon AppIntegrations to automatically ingest content.</p>"
      }
    },
    "com.amazonaws.qconnect#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[a-z-]*?:wisdom:[a-z0-9-]*?:[0-9]{12}:[a-z-]*?/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(?:/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})?$"
      }
    },
    "com.amazonaws.qconnect#Assistant": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAssistant"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAssistant"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAssistant"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAssistants"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#GetRecommendations"
        },
        {
          "target": "com.amazonaws.qconnect#NotifyRecommendationsReceived"
        },
        {
          "target": "com.amazonaws.qconnect#PutFeedback"
        },
        {
          "target": "com.amazonaws.qconnect#QueryAssistant"
        },
        {
          "target": "com.amazonaws.qconnect#SearchSessions"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.qconnect#AssistantAssociation"
        },
        {
          "target": "com.amazonaws.qconnect#Session"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "assistant/{assistantId}"
        },
        "aws.cloudformation#cfnResource": {},
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AssistantAssociation": {
      "type": "resource",
      "identifiers": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateAssistantAssociation"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetAssistantAssociation"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteAssistantAssociation"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListAssistantAssociations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "association/{assistantId}/{assistantAssociationId}"
        },
        "aws.cloudformation#cfnResource": {},
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationData": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#AssistantAssociationOutputData",
          "traits": {
            "smithy.api#documentation": "<p>A union type that currently has a single argument, the knowledge base ID.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the assistant association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AssistantAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationInputData": {
      "type": "union",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data that is input into Amazon Q in Connect as a result of the assistant association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationOutputData": {
      "type": "union",
      "members": {
        "knowledgeBaseAssociation": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseAssociationData",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base where output data is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data that is output as a result of the assistant association.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationSummary": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantAssociationArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "associationData": {
          "target": "com.amazonaws.qconnect#AssistantAssociationOutputData",
          "traits": {
            "smithy.api#documentation": "<p>The association data.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the assistant association.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#AssistantAssociation"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AssistantAssociationSummary"
      }
    },
    "com.amazonaws.qconnect#AssistantCapabilityConfiguration": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Q in Connect assistant capability. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capability configuration for an Amazon Q in Connect assistant. </p>"
      }
    },
    "com.amazonaws.qconnect#AssistantCapabilityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "V1",
            "name": "V1"
          },
          {
            "value": "V2",
            "name": "V2"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantData": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AssistantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#AssistantStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code>kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect. To use Amazon Q in Connect with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        },
        "integrationConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantIntegrationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
          }
        },
        "capabilityConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant capability. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The assistant data.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantIntegrationConfiguration": {
      "type": "structure",
      "members": {
        "topicIntegrationArn": {
          "target": "com.amazonaws.qconnect#GenericArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the integrated Amazon SNS topic used for streaming chat messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#AssistantSummary"
      }
    },
    "com.amazonaws.qconnect#AssistantStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssistantSummary": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "assistantArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AssistantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#AssistantStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the assistant.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code>kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect. To use Amazon Q in Connect with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        },
        "integrationConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantIntegrationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant integration.</p>"
          }
        },
        "capabilityConfiguration": {
          "target": "com.amazonaws.qconnect#AssistantCapabilityConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the Amazon Q in Connect assistant capability. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the assistant.</p>"
      }
    },
    "com.amazonaws.qconnect#AssistantType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AGENT",
            "name": "AGENT"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#AssociationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KNOWLEDGE_BASE",
            "name": "KNOWLEDGE_BASE"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#Channel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#Channel"
      },
      "traits": {
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.qconnect#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        }
      }
    },
    "com.amazonaws.qconnect#Configuration": {
      "type": "union",
      "members": {
        "connectConfiguration": {
          "target": "com.amazonaws.qconnect#ConnectConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information of the external data source.</p>"
      }
    },
    "com.amazonaws.qconnect#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n      resource. For example, if you're using a <code>Create</code> API (such as\n        <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the\n      same name) is being created or mutated.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.qconnect#ConnectConfiguration": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
      }
    },
    "com.amazonaws.qconnect#ContactAttributeKey": {
      "type": "string"
    },
    "com.amazonaws.qconnect#ContactAttributeKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#ContactAttributeKey"
      },
      "traits": {
        "smithy.api#sensitive": {},
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.qconnect#ContactAttributeValue": {
      "type": "string"
    },
    "com.amazonaws.qconnect#ContactAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qconnect#ContactAttributeKey"
      },
      "value": {
        "target": "com.amazonaws.qconnect#ContactAttributeValue"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qconnect#Content": {
      "type": "resource",
      "identifiers": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn"
        }
      },
      "create": {
        "target": "com.amazonaws.qconnect#CreateContent"
      },
      "read": {
        "target": "com.amazonaws.qconnect#GetContent"
      },
      "update": {
        "target": "com.amazonaws.qconnect#UpdateContent"
      },
      "delete": {
        "target": "com.amazonaws.qconnect#DeleteContent"
      },
      "list": {
        "target": "com.amazonaws.qconnect#ListContents"
      },
      "operations": [
        {
          "target": "com.amazonaws.qconnect#GetContentSummary"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "content/{knowledgeBaseId}/{contentId}"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.qconnect#ContentData": {
      "type": "structure",
      "members": {
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "revisionId": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content revision.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qconnect#ContentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.qconnect#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#ContentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.qconnect#ContentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Amazon Q in Connect, you can store an external version identifier as metadata to utilize for determining drift.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "linkOutUri": {
          "target": "com.amazonaws.qconnect#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the content.</p>"
          }
        },
        "url": {
          "target": "com.amazonaws.qconnect#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "urlExpiry": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time of the URL as an epoch timestamp.</p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "epoch-seconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the content.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#Content"
          },
          {
            "resource": "com.amazonaws.qconnect#KnowledgeBase"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentDataDetails": {
      "type": "structure",
      "members": {
        "textData": {
          "target": "com.amazonaws.qconnect#TextData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content text data.</p>",
            "smithy.api#required": {}
          }
        },
        "rankingData": {
          "target": "com.amazonaws.qconnect#RankingData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content ranking data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the content data.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentFeedbackData": {
      "type": "union",
      "members": {
        "generativeContentFeedbackData": {
          "target": "com.amazonaws.qconnect#GenerativeContentFeedbackData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the feedback for a generative target type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the feedback.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qconnect#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.qconnect#NonEmptyString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.qconnect#ContentReference": {
      "type": "structure",
      "members": {
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>"
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base.</p>"
          }
        },
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>"
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reference information about the content.</p>"
      }
    },
    "com.amazonaws.qconnect#ContentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE_IN_PROGRESS",
            "name": "CREATE_IN_PROGRESS"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETE_IN_PROGRESS",
            "name": "DELETE_IN_PROGRESS"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentSummary": {
      "type": "structure",
      "members": {
        "contentArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseArn": {
          "target": "com.amazonaws.qconnect#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "revisionId": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the revision of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qconnect#ContentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.qconnect#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.qconnect#ContentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the content.</p>",
            "smithy.api#required": {}
          }
        },
        "metadata": {
          "target": "com.amazonaws.qconnect#ContentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Amazon Q in Connect, you can store an external version identifier as metadata to utilize for determining drift.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about the content.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.qconnect#Content"
          },
          {
            "resource": "com.amazonaws.qconnect#KnowledgeBase"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ContentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#ContentSummary"
      }
    },
    "com.amazonaws.qconnect#ContentTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.qconnect#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(text/(plain|html|csv))|(application/(pdf|vnd\\.openxmlformats-officedocument\\.wordprocessingml\\.document))|(application/x\\.wisdom-json;source=(salesforce|servicenow|zendesk))$"
      }
    },
    "com.amazonaws.qconnect#CreateAssistant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateAssistantRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateAssistantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Q in Connect assistant.</p>",
        "smithy.api#http": {
          "uri": "/assistants",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateAssistantAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateAssistantAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateAssistantAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between an Amazon Q in Connect assistant and another resource. Currently, the\n      only supported association is with a knowledge base. An assistant can have only a single\n      association.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}/associations",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateAssistantAssociationRequest": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "associationType": {
          "target": "com.amazonaws.qconnect#AssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of association.</p>",
            "smithy.api#required": {}
          }
        },
        "association": {
          "target": "com.amazonaws.qconnect#AssistantAssociationInputData",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the associated resource.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.qconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateAssistantAssociationResponse": {
      "type": "structure",
      "members": {
        "assistantAssociation": {
          "target": "com.amazonaws.qconnect#AssistantAssociationData",
          "traits": {
            "smithy.api#documentation": "<p>The assistant association.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateAssistantRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.qconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.qconnect#AssistantType",
          "traits": {
            "smithy.api#documentation": "<p>The type of assistant.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the assistant.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>The customer managed key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code> kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect. To use Amazon Q in Connect with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateAssistantResponse": {
      "type": "structure",
      "members": {
        "assistant": {
          "target": "com.amazonaws.qconnect#AssistantData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assistant.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateContentRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateContentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates Amazon Q in Connect content. Before to calling this API, use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to upload an asset.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/contents",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateContentRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the content. Each piece of content in a knowledge base must have a unique\n      name. You can retrieve a piece of content using only its knowledge base and its name with the\n        <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_SearchContent.html\">SearchContent</a>\n      API.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qconnect#ContentTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the content. If not set, the title is equal to the name.</p>"
          }
        },
        "overrideLinkOutUri": {
          "target": "com.amazonaws.qconnect#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The URI you want to use for the article. If the knowledge base has a templateUri, setting\n      this argument overrides it for this piece of content.</p>"
          }
        },
        "metadata": {
          "target": "com.amazonaws.qconnect#ContentMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Amazon Q in Connect, you can store an external version identifier as metadata to utilize for determining drift.</p>"
          }
        },
        "uploadId": {
          "target": "com.amazonaws.qconnect#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>A pointer to the uploaded asset. This value is returned by <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateContentResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.qconnect#ContentData",
          "traits": {
            "smithy.api#documentation": "<p>The content.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a knowledge base.</p>\n         <note>\n            <p>When using this API, you cannot reuse <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a>\n        DataIntegrations with external knowledge bases such as Salesforce and ServiceNow. If you do,\n        you'll get an <code>InvalidRequestException</code> error. </p>\n            <p>For example, you're programmatically managing your external knowledge base, and you want\n        to add or remove one of the fields that is being ingested from Salesforce. Do the\n        following:</p>\n            <ol>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_DeleteKnowledgeBase.html\">DeleteKnowledgeBase</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> to recreate the DataIntegration or a create different\n            one.</p>\n               </li>\n               <li>\n                  <p>Call CreateKnowledgeBase.</p>\n               </li>\n            </ol>\n         </note>",
        "smithy.api#http": {
          "uri": "/knowledgeBases",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the knowledge base.</p>",
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseType": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of knowledge base. Only CUSTOM knowledge bases allow you to upload your own content.\n      EXTERNAL knowledge bases support integrations with third-party systems whose content is\n      synchronized automatically. </p>",
            "smithy.api#required": {}
          }
        },
        "sourceConfiguration": {
          "target": "com.amazonaws.qconnect#SourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source of the knowledge base content. Only set this argument for EXTERNAL knowledge\n      bases.</p>"
          }
        },
        "renderingConfiguration": {
          "target": "com.amazonaws.qconnect#RenderingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about how to render the content.</p>"
          }
        },
        "serverSideEncryptionConfiguration": {
          "target": "com.amazonaws.qconnect#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n        <code>kms:DescribeKey</code>, <code>kms:Decrypt</code>, and\n        <code>kms:GenerateDataKey*</code> permissions to the IAM identity using the\n      key to invoke Amazon Q in Connect.</p>\n         <p>For more information about setting up a customer managed key for Amazon Q in Connect, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-q.html\">Enable Amazon Q in Connect for\n        your instance</a>.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "knowledgeBase": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseData",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateQuickResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateQuickResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateQuickResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Q in Connect quick response.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/quickResponses",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateQuickResponseRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#QuickResponseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the quick response.</p>",
            "smithy.api#required": {}
          }
        },
        "content": {
          "target": "com.amazonaws.qconnect#QuickResponseDataProvider",
          "traits": {
            "smithy.api#documentation": "<p>The content of the quick response.</p>",
            "smithy.api#required": {}
          }
        },
        "contentType": {
          "target": "com.amazonaws.qconnect#QuickResponseType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the quick response content.</p>\n         <ul>\n            <li>\n               <p>Use <code>application/x.quickresponse;format=plain</code> for a quick response written\n          in plain text.</p>\n            </li>\n            <li>\n               <p>Use <code>application/x.quickresponse;format=markdown</code> for a quick response\n          written in richtext.</p>\n            </li>\n         </ul>"
          }
        },
        "groupingConfiguration": {
          "target": "com.amazonaws.qconnect#GroupingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the user groups that the quick response is accessible\n      to.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#QuickResponseDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the quick response.</p>"
          }
        },
        "shortcutKey": {
          "target": "com.amazonaws.qconnect#ShortCutKey",
          "traits": {
            "smithy.api#documentation": "<p>The shortcut key of the quick response. The value should be unique across the\n  knowledge base. </p>"
          }
        },
        "isActive": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the quick response is active.</p>"
          }
        },
        "channels": {
          "target": "com.amazonaws.qconnect#Channels",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Connect channels this quick response applies to.</p>"
          }
        },
        "language": {
          "target": "com.amazonaws.qconnect#LanguageCode",
          "traits": {
            "smithy.api#documentation": "<p>The language code value for the language in which the quick response is written. The supported language codes include <code>de_DE</code>, <code>en_US</code>, <code>es_ES</code>,\n  <code>fr_FR</code>, <code>id_ID</code>, <code>it_IT</code>, <code>ja_JP</code>, <code>ko_KR</code>, <code>pt_BR</code>,\n  <code>zh_CN</code>, <code>zh_TW</code>\n         </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#CreateQuickResponseResponse": {
      "type": "structure",
      "members": {
        "quickResponse": {
          "target": "com.amazonaws.qconnect#QuickResponseData",
          "traits": {
            "smithy.api#documentation": "<p>The quick response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qconnect#CreateSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#CreateSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#CreateSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a session. A session is a contextual container used for generating\n      recommendations. Amazon Connect creates a new Amazon Q in Connect session for each contact on which\n      Amazon Q in Connect is enabled.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}/sessions",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#CreateSessionRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.qconnect#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.qconnect#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the session.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.qconnect#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.qconnect#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
          }
        },
        "tagFilter": {
          "target": "com.amazonaws.qconnect#TagFilter",
          "traits": {
            "smithy.api#documentation": "<p>An object that can be used to specify Tag conditions. </p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#CreateSessionResponse": {
      "type": "structure",
      "members": {
        "session": {
          "target": "com.amazonaws.qconnect#SessionData",
          "traits": {
            "smithy.api#documentation": "<p>The session.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#DataDetails": {
      "type": "union",
      "members": {
        "contentData": {
          "target": "com.amazonaws.qconnect#ContentDataDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content data.</p>"
          }
        },
        "generativeData": {
          "target": "com.amazonaws.qconnect#GenerativeDataDetails",
          "traits": {
            "smithy.api#documentation": "<p> Details about the generative data.</p>"
          }
        },
        "sourceContentData": {
          "target": "com.amazonaws.qconnect#SourceContentDataDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the data.</p>"
      }
    },
    "com.amazonaws.qconnect#DataReference": {
      "type": "union",
      "members": {
        "contentReference": {
          "target": "com.amazonaws.qconnect#ContentReference"
        },
        "generativeReference": {
          "target": "com.amazonaws.qconnect#GenerativeReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference information about the generative content.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reference data.</p>"
      }
    },
    "com.amazonaws.qconnect#DataSummary": {
      "type": "structure",
      "members": {
        "reference": {
          "target": "com.amazonaws.qconnect#DataReference",
          "traits": {
            "smithy.api#documentation": "<p>Reference information about the content.</p>",
            "smithy.api#required": {}
          }
        },
        "details": {
          "target": "com.amazonaws.qconnect#DataDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of the data.</p>"
      }
    },
    "com.amazonaws.qconnect#DataSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#DataSummary"
      }
    },
    "com.amazonaws.qconnect#DeleteAssistant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteAssistantRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteAssistantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an assistant.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteAssistantAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteAssistantAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteAssistantAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an assistant association.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteAssistantAssociationRequest": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#DeleteAssistantAssociationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qconnect#DeleteAssistantRequest": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#DeleteAssistantResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qconnect#DeleteContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteContentRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteContentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the content.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteContentRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#DeleteContentResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qconnect#DeleteImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the quick response import job.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/importJobs/{importJobId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteImportJobRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "importJobId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the import job to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#DeleteImportJobResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qconnect#DeleteKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ConflictException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the knowledge base.</p>\n         <note>\n            <p>When you use this API to delete an external knowledge base such as Salesforce or\n        ServiceNow, you must also delete the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a>\n        DataIntegration. This is because you can't reuse the DataIntegration after it's been\n        associated with an external knowledge base. However, you can delete and recreate it. See\n          <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a> and <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> in the <i>Amazon AppIntegrations API\n        Reference</i>.</p>\n         </note>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base to delete content from. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#DeleteKnowledgeBaseResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qconnect#DeleteQuickResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#DeleteQuickResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#DeleteQuickResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a quick response.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
          "method": "DELETE",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.qconnect#DeleteQuickResponseRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base from which the quick response is deleted. The identifier of the knowledge base.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "quickResponseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the quick response to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#DeleteQuickResponseResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qconnect#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\s_.,-]+"
      }
    },
    "com.amazonaws.qconnect#Document": {
      "type": "structure",
      "members": {
        "contentReference": {
          "target": "com.amazonaws.qconnect#ContentReference",
          "traits": {
            "smithy.api#documentation": "<p>A reference to the content resource.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.qconnect#DocumentText",
          "traits": {
            "smithy.api#documentation": "<p>The title of the document.</p>"
          }
        },
        "excerpt": {
          "target": "com.amazonaws.qconnect#DocumentText",
          "traits": {
            "smithy.api#documentation": "<p>The excerpt from the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The document.</p>"
      }
    },
    "com.amazonaws.qconnect#DocumentText": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.qconnect#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>Text in the document.</p>"
          }
        },
        "highlights": {
          "target": "com.amazonaws.qconnect#Highlights",
          "traits": {
            "smithy.api#documentation": "<p>Highlights in the document text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The text of the document.</p>"
      }
    },
    "com.amazonaws.qconnect#ExternalSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AMAZON_CONNECT",
            "name": "AMAZON_CONNECT"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#ExternalSourceConfiguration": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.qconnect#ExternalSource",
          "traits": {
            "smithy.api#documentation": "<p>The type of the external data source.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.qconnect#Configuration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information of the external data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information of the external data source.</p>"
      }
    },
    "com.amazonaws.qconnect#Filter": {
      "type": "structure",
      "members": {
        "field": {
          "target": "com.amazonaws.qconnect#FilterField",
          "traits": {
            "smithy.api#documentation": "<p>The field on which to filter.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.qconnect#FilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for comparing the field’s value with the provided value.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.qconnect#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The desired field value on which to filter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A search filter.</p>"
      }
    },
    "com.amazonaws.qconnect#FilterField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NAME",
            "name": "NAME"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qconnect#Filter"
      }
    },
    "com.amazonaws.qconnect#FilterOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          }
        ]
      }
    },
    "com.amazonaws.qconnect#GenerativeContentFeedbackData": {
      "type": "structure",
      "members": {
        "relevance": {
          "target": "com.amazonaws.qconnect#Relevance",
          "traits": {
            "smithy.api#documentation": "<p>The relevance of the feedback.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The feedback information for a generative target type.</p>"
      }
    },
    "com.amazonaws.qconnect#GenerativeDataDetails": {
      "type": "structure",
      "members": {
        "completion": {
          "target": "com.amazonaws.qconnect#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The LLM response.</p>",
            "smithy.api#required": {}
          }
        },
        "references": {
          "target": "com.amazonaws.qconnect#DataSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The references used to generative the LLM response.</p>",
            "smithy.api#required": {}
          }
        },
        "rankingData": {
          "target": "com.amazonaws.qconnect#RankingData",
          "traits": {
            "smithy.api#documentation": "<p>Details about the generative content ranking data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about generative data.</p>"
      }
    },
    "com.amazonaws.qconnect#GenerativeReference": {
      "type": "structure",
      "members": {
        "modelId": {
          "target": "com.amazonaws.qconnect#LlmModelId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the LLM model. </p>"
          }
        },
        "generationId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p> The identifier of the LLM model. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Reference information about generative content.</p>"
      }
    },
    "com.amazonaws.qconnect#GenericArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[a-z-]+?:[a-z-]+?:[a-z0-9-]*?:([0-9]{12})?:[a-zA-Z0-9-:/]+$"
      }
    },
    "com.amazonaws.qconnect#GetAssistant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetAssistantRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetAssistantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an assistant.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetAssistantAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetAssistantAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetAssistantAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an assistant association.</p>",
        "smithy.api#http": {
          "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetAssistantAssociationRequest": {
      "type": "structure",
      "members": {
        "assistantAssociationId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetAssistantAssociationResponse": {
      "type": "structure",
      "members": {
        "assistantAssociation": {
          "target": "com.amazonaws.qconnect#AssistantAssociationData",
          "traits": {
            "smithy.api#documentation": "<p>The assistant association.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetAssistantRequest": {
      "type": "structure",
      "members": {
        "assistantId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetAssistantResponse": {
      "type": "structure",
      "members": {
        "assistant": {
          "target": "com.amazonaws.qconnect#AssistantData",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assistant.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetContentRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetContentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves content, including a pre-signed URL to download the content.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetContentRequest": {
      "type": "structure",
      "members": {
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetContentResponse": {
      "type": "structure",
      "members": {
        "content": {
          "target": "com.amazonaws.qconnect#ContentData",
          "traits": {
            "smithy.api#documentation": "<p>The content.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetContentSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetContentSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetContentSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves summary information about the content.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/summary",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetContentSummaryRequest": {
      "type": "structure",
      "members": {
        "contentId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetContentSummaryResponse": {
      "type": "structure",
      "members": {
        "contentSummary": {
          "target": "com.amazonaws.qconnect#ContentSummary",
          "traits": {
            "smithy.api#documentation": "<p>The content summary.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the started import job.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/importJobs/{importJobId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetImportJobRequest": {
      "type": "structure",
      "members": {
        "importJobId": {
          "target": "com.amazonaws.qconnect#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the import job to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base that the import job belongs to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#GetImportJobResponse": {
      "type": "structure",
      "members": {
        "importJob": {
          "target": "com.amazonaws.qconnect#ImportJobData",
          "traits": {
            "smithy.api#documentation": "<p>The import job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.qconnect#GetKnowledgeBase": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetKnowledgeBaseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetKnowledgeBaseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the knowledge base.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetKnowledgeBaseRequest": {
      "type": "structure",
      "members": {
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetKnowledgeBaseResponse": {
      "type": "structure",
      "members": {
        "knowledgeBase": {
          "target": "com.amazonaws.qconnect#KnowledgeBaseData",
          "traits": {
            "smithy.api#documentation": "<p>The knowledge base.</p>"
          }
        }
      }
    },
    "com.amazonaws.qconnect#GetQuickResponse": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qconnect#GetQuickResponseRequest"
      },
      "output": {
        "target": "com.amazonaws.qconnect#GetQuickResponseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.qconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qconnect#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the quick response.</p>",
        "smithy.api#http": {
          "uri": "/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
          "method": "GET"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.qconnect#GetQuickResponseRequest": {
      "type": "structure",
      "members": {
        "quickResponseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the quick response.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "knowledgeBaseId": {
          "target": "com.amazonaws.qconnect#UuidOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the knowledge base. This should be a QUICK_RESPONSES type knowledge base.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.qconnect#GetQuickResponseResponse": {
      "type": "structure",
      "members": {
        "quickResponse": {
[...]
