{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.qldb.session#AbortTransactionRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the transaction to abort.</p>"
      }
    },
    "com.amazonaws.qldb.session#AbortTransactionResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the aborted transaction.</p>"
      }
    },
    "com.amazonaws.qldb.session#BadRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.qldb.session#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.qldb.session#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldb.session#CommitDigest": {
      "type": "blob"
    },
    "com.amazonaws.qldb.session#CommitTransactionRequest": {
      "type": "structure",
      "members": {
        "CommitDigest": {
          "target": "com.amazonaws.qldb.session#CommitDigest",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the commit digest for the transaction to commit. For every active\n\t    transaction, the commit digest must be passed. QLDB validates\n\t    <code>CommitDigest</code> and rejects the commit with an error if the\n\t    digest computed on the client does not match the digest computed by QLDB.</p>",
            "smithy.api#required": true
          }
        },
        "TransactionId": {
          "target": "com.amazonaws.qldb.session#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction id of the transaction to commit.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the transaction to commit.</p>"
      }
    },
    "com.amazonaws.qldb.session#CommitTransactionResult": {
      "type": "structure",
      "members": {
        "CommitDigest": {
          "target": "com.amazonaws.qldb.session#CommitDigest",
          "traits": {
            "smithy.api#documentation": "<p>The commit digest of the committed transaction.</p>"
          }
        },
        "TransactionId": {
          "target": "com.amazonaws.qldb.session#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>The transaction id of the committed transaction.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the committed transaction.</p>"
      }
    },
    "com.amazonaws.qldb.session#EndSessionRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to end the session.</p>"
      }
    },
    "com.amazonaws.qldb.session#EndSessionResult": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the ended session.</p>"
      }
    },
    "com.amazonaws.qldb.session#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.qldb.session#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.qldb.session#ExecuteStatementRequest": {
      "type": "structure",
      "members": {
        "Parameters": {
          "target": "com.amazonaws.qldb.session#StatementParameters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the parameters for the parameterized statement in the request.</p>"
          }
        },
        "Statement": {
          "target": "com.amazonaws.qldb.session#Statement",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the statement of the request.</p>",
            "smithy.api#required": true
          }
        },
        "TransactionId": {
          "target": "com.amazonaws.qldb.session#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction id of the request.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to execute a statement.</p>"
      }
    },
    "com.amazonaws.qldb.session#ExecuteStatementResult": {
      "type": "structure",
      "members": {
        "FirstPage": {
          "target": "com.amazonaws.qldb.session#Page",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the first fetched page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the executed statement.</p>"
      }
    },
    "com.amazonaws.qldb.session#FetchPageRequest": {
      "type": "structure",
      "members": {
        "NextPageToken": {
          "target": "com.amazonaws.qldb.session#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the next page token of the page to be fetched.</p>",
            "smithy.api#required": true
          }
        },
        "TransactionId": {
          "target": "com.amazonaws.qldb.session#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction id of the page to be fetched.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details of the page to be fetched.</p>"
      }
    },
    "com.amazonaws.qldb.session#FetchPageResult": {
      "type": "structure",
      "members": {
        "Page": {
          "target": "com.amazonaws.qldb.session#Page",
          "traits": {
            "smithy.api#documentation": "<p>Contains details of the fetched page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the page that was fetched.</p>"
      }
    },
    "com.amazonaws.qldb.session#InvalidSessionException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.qldb.session#ErrorCode"
        },
        "Message": {
          "target": "com.amazonaws.qldb.session#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the session doesn't exist anymore because it timed-out or expired.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldb.session#IonBinary": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        }
      }
    },
    "com.amazonaws.qldb.session#IonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.qldb.session#LedgerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.qldb.session#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb.session#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if a resource limit such as number of active sessions is exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldb.session#OccConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb.session#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned when a transaction cannot be written to the journal due to a failure in the verification phase of Optimistic Concurrency Control.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldb.session#Page": {
      "type": "structure",
      "members": {
        "NextPageToken": {
          "target": "com.amazonaws.qldb.session#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next page.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.qldb.session#ValueHolders",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains values in multiple encoding formats.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of the fetched page.</p>"
      }
    },
    "com.amazonaws.qldb.session#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[A-Za-z-0-9+/=]+$"
      }
    },
    "com.amazonaws.qldb.session#QLDBSession": {
      "type": "service",
      "version": "2019-07-11",
      "operations": [
        {
          "target": "com.amazonaws.qldb.session#SendCommand"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "QLDB Session",
          "arnNamespace": "qldb",
          "cloudFormationName": "QLDBSession",
          "cloudTrailEventSource": "session.qldb.amazonaws.com"
        },
        "smithy.api#documentation": "<p>The transactional data APIs for Amazon QLDB</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.0",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Amazon QLDB Session"
      }
    },
    "com.amazonaws.qldb.session#RateExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb.session#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned when the rate of requests exceeds the allowed throughput.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldb.session#SendCommand": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb.session#SendCommandRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb.session#SendCommandResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb.session#BadRequestException"
        },
        {
          "target": "com.amazonaws.qldb.session#InvalidSessionException"
        },
        {
          "target": "com.amazonaws.qldb.session#LimitExceededException"
        },
        {
          "target": "com.amazonaws.qldb.session#OccConflictException"
        },
        {
          "target": "com.amazonaws.qldb.session#RateExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a command to an Amazon QLDB ledger.</p>"
      }
    },
    "com.amazonaws.qldb.session#SendCommandRequest": {
      "type": "structure",
      "members": {
        "AbortTransaction": {
          "target": "com.amazonaws.qldb.session#AbortTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to abort the current transaction.</p>"
          }
        },
        "CommitTransaction": {
          "target": "com.amazonaws.qldb.session#CommitTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to commit the specified transaction.</p>"
          }
        },
        "EndSession": {
          "target": "com.amazonaws.qldb.session#EndSessionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to end the current session.</p>"
          }
        },
        "ExecuteStatement": {
          "target": "com.amazonaws.qldb.session#ExecuteStatementRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to execute a statement in the specified transaction.</p>"
          }
        },
        "FetchPage": {
          "target": "com.amazonaws.qldb.session#FetchPageRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to fetch a page.</p>"
          }
        },
        "SessionToken": {
          "target": "com.amazonaws.qldb.session#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the session token for the current command. A session token is constant throughout the life of the session.</p>\n         <p>To obtain a session token, run the <code>StartSession</code> command. This <code>SessionToken</code> is\n\t    required for every subsequent command that is issued during the current session.</p>"
          }
        },
        "StartSession": {
          "target": "com.amazonaws.qldb.session#StartSessionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to start a new session. A session token is obtained as part of the\n\t    response.</p>"
          }
        },
        "StartTransaction": {
          "target": "com.amazonaws.qldb.session#StartTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to start a new transaction.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb.session#SendCommandResult": {
      "type": "structure",
      "members": {
        "AbortTransaction": {
          "target": "com.amazonaws.qldb.session#AbortTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the aborted transaction.</p>"
          }
        },
        "CommitTransaction": {
          "target": "com.amazonaws.qldb.session#CommitTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the committed transaction.</p>"
          }
        },
        "EndSession": {
          "target": "com.amazonaws.qldb.session#EndSessionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the ended session.</p>"
          }
        },
        "ExecuteStatement": {
          "target": "com.amazonaws.qldb.session#ExecuteStatementResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the executed statement.</p>"
          }
        },
        "FetchPage": {
          "target": "com.amazonaws.qldb.session#FetchPageResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the fetched page.</p>"
          }
        },
        "StartSession": {
          "target": "com.amazonaws.qldb.session#StartSessionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the started session that includes a session token. This <code>SessionToken</code> is\n\t    required for every subsequent command that is issued during the current session.</p>"
          }
        },
        "StartTransaction": {
          "target": "com.amazonaws.qldb.session#StartTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the started transaction.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb.session#SessionToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[A-Za-z-0-9+/=]+$"
      }
    },
    "com.amazonaws.qldb.session#StartSessionRequest": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb.session#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger to start a new session against.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to start a a new session.</p>"
      }
    },
    "com.amazonaws.qldb.session#StartSessionResult": {
      "type": "structure",
      "members": {
        "SessionToken": {
          "target": "com.amazonaws.qldb.session#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p>Session token of the started session. This <code>SessionToken</code> is\n\t    required for every subsequent command that is issued during the current session.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the started session.</p>"
      }
    },
    "com.amazonaws.qldb.session#StartTransactionRequest": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to start a transaction.</p>"
      }
    },
    "com.amazonaws.qldb.session#StartTransactionResult": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldb.session#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>The transaction id of the started transaction.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the started transaction.</p>"
      }
    },
    "com.amazonaws.qldb.session#Statement": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.qldb.session#StatementParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb.session#ValueHolder"
      }
    },
    "com.amazonaws.qldb.session#TransactionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[A-Za-z-0-9]+$"
      }
    },
    "com.amazonaws.qldb.session#ValueHolder": {
      "type": "structure",
      "members": {
        "IonBinary": {
          "target": "com.amazonaws.qldb.session#IonBinary",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Ion binary value contained in a <code>ValueHolder</code> structure. </p>"
          }
        },
        "IonText": {
          "target": "com.amazonaws.qldb.session#IonText",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that can contains values in multiple encoding formats.</p>"
      }
    },
    "com.amazonaws.qldb.session#ValueHolders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb.session#ValueHolder"
      }
    }
  }
}
