{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.qldb#AmazonQLDB": {
      "type": "service",
      "version": "2019-01-02",
      "operations": [
        {
          "target": "com.amazonaws.qldb#CreateLedger"
        },
        {
          "target": "com.amazonaws.qldb#DeleteLedger"
        },
        {
          "target": "com.amazonaws.qldb#DescribeJournalS3Export"
        },
        {
          "target": "com.amazonaws.qldb#DescribeLedger"
        },
        {
          "target": "com.amazonaws.qldb#ExportJournalToS3"
        },
        {
          "target": "com.amazonaws.qldb#GetBlock"
        },
        {
          "target": "com.amazonaws.qldb#GetDigest"
        },
        {
          "target": "com.amazonaws.qldb#GetRevision"
        },
        {
          "target": "com.amazonaws.qldb#ListJournalS3Exports"
        },
        {
          "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedger"
        },
        {
          "target": "com.amazonaws.qldb#ListLedgers"
        },
        {
          "target": "com.amazonaws.qldb#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.qldb#TagResource"
        },
        {
          "target": "com.amazonaws.qldb#UntagResource"
        },
        {
          "target": "com.amazonaws.qldb#UpdateLedger"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "QLDB",
          "arnNamespace": "qldb",
          "cloudFormationName": "QLDB",
          "cloudTrailEventSource": "v20190102.ledger.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "qldb"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The control plane for Amazon QLDB</p>",
        "smithy.api#title": "Amazon QLDB",
        "smithy.api#xmlNamespace": {
          "uri": "http://ledger.amazonaws.com/doc/2019-01-02/"
        }
      }
    },
    "com.amazonaws.qldb#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        }
      }
    },
    "com.amazonaws.qldb#CreateLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#CreateLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#CreateLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#LimitExceededException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ledger in your AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#CreateLedgerRequest": {
      "type": "structure",
      "members": {
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n         ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to create. The name must be unique among all of\n         your ledgers in the current AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "PermissionsMode": {
          "target": "com.amazonaws.qldb#PermissionsMode",
          "traits": {
            "smithy.api#documentation": "<p>The permissions mode to assign to the ledger that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.qldb#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are\n         case sensitive. Tag values are case sensitive and can be null.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#CreateLedgerResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n         ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#DeleteLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DeleteLedgerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a ledger and all of its contents. This action is irreversible.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ledgers/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DeleteLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DeletionProtection": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3Export": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DescribeJournalS3ExportRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#DescribeJournalS3ExportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a journal export job, including the ledger name, export ID,\n         when it was created, current status, and its start and end time export parameters.</p>\n         <p>If the export job with the given <code>ExportId</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the ledger with the given <code>Name</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}/journal-s3-exports/{ExportId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3ExportRequest": {
      "type": "structure",
      "members": {
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the journal export job that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3ExportResponse": {
      "type": "structure",
      "members": {
        "ExportDescription": {
          "target": "com.amazonaws.qldb#JournalS3ExportDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the journal export job returned by a\n            <code>DescribeJournalS3Export</code> request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DescribeLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#DescribeLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a ledger, including its state and when it was created.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedgerResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n         ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#Digest": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 32
        }
      }
    },
    "com.amazonaws.qldb#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.qldb#ExportJournalToS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ExportJournalToS3Request"
      },
      "output": {
        "target": "com.amazonaws.qldb#ExportJournalToS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports journal contents within a date and time range from a ledger into a specified\n         Amazon Simple Storage Service (Amazon S3) bucket. The data is written as files in Amazon Ion format.</p>\n         <p>If the ledger with the given <code>Name</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the ledger with the given <code>Name</code> is in <code>CREATING</code> status, then\n         throws <code>ResourcePreconditionNotMetException</code>.</p>\n         <p>You can initiate up to two concurrent journal export requests for each ledger. Beyond\n         this limit, journal export requests throw <code>LimitExceededException</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/journal-s3-exports",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#ExportJournalToS3Request": {
      "type": "structure",
      "members": {
        "ExclusiveEndTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive end date and time for the range of journal contents that you want to\n         export.</p>\n         <p>The <code>ExclusiveEndTime</code> must be in <code>ISO 8601</code> date and time format\n         and in Universal Coordinated Time (UTC). For example:\n         <code>2019-06-13T21:36:34Z</code>\n         </p>\n         <p>The <code>ExclusiveEndTime</code> must be less than or equal to the current UTC date and\n         time.</p>",
            "smithy.api#required": {}
          }
        },
        "InclusiveStartTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start date and time for the range of journal contents that you want to\n         export.</p>\n         <p>The <code>InclusiveStartTime</code> must be in <code>ISO 8601</code> date and time\n         format and in Universal Coordinated Time (UTC). For example:\n            <code>2019-06-13T21:36:34Z</code>\n         </p>\n         <p>The <code>InclusiveStartTime</code> must be before <code>ExclusiveEndTime</code>.</p>\n         <p>If you provide an <code>InclusiveStartTime</code> that is before the ledger's\n            <code>CreationDateTime</code>, Amazon QLDB defaults it to the ledger's\n            <code>CreationDateTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a\n         journal export job to do the following:</p>\n         <ul>\n            <li>\n               <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p>\n            </li>\n            <li>\n               <p>(Optional) Use your customer master key (CMK) in AWS Key Management Service (AWS\n               KMS) for server-side encryption of your exported data.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "S3ExportConfiguration": {
          "target": "com.amazonaws.qldb#S3ExportConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the Amazon S3 bucket destination for your export\n         request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#ExportJournalToS3Response": {
      "type": "structure",
      "members": {
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID that QLDB assigns to each journal export job.</p>\n         <p>To describe your export request and check the status of the job, you can use\n            <code>ExportId</code> to call <code>DescribeJournalS3Export</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#ExportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.qldb#GetBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a journal block object at a specified address in a ledger. Also returns a proof\n         of the specified block for verification if <code>DigestTipAddress</code> is\n         provided.</p>\n         <p>If the specified ledger doesn't exist or is in <code>DELETING</code> status, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the specified ledger is in <code>CREATING</code> status, then throws\n            <code>ResourcePreconditionNotMetException</code>.</p>\n         <p>If no block exists with the specified address, then throws\n            <code>InvalidParameterException</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/block",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetBlockRequest": {
      "type": "structure",
      "members": {
        "BlockAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The location of the block that you want to request. An address is an Amazon Ion\n         structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest for which to request a proof. An address\n         is an Amazon Ion structure that has two fields: <code>strandId</code> and\n            <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code>\n         </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetBlockResponse": {
      "type": "structure",
      "members": {
        "Block": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The block data object in Amazon Ion format.</p>",
            "smithy.api#required": {}
          }
        },
        "Proof": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The proof object in Amazon Ion format returned by a <code>GetBlock</code> request. A\n         proof contains the list of hash values required to recalculate the specified digest using a\n         Merkle tree, starting with the specified block.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#GetDigest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetDigestRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetDigestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the digest of a ledger at the latest committed block in the journal. The\n         response includes a 256-bit hash value and a block address.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/digest",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetDigestRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetDigestResponse": {
      "type": "structure",
      "members": {
        "Digest": {
          "target": "com.amazonaws.qldb#Digest",
          "traits": {
            "smithy.api#documentation": "<p>The 256-bit hash value representing the digest returned by a <code>GetDigest</code>\n         request.</p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest that you requested. An address is an\n         Amazon Ion structure that has two fields: <code>strandId</code> and\n         <code>sequenceNo</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a revision data object for a specified document ID and block address. Also\n         returns a proof of the specified revision for verification if <code>DigestTipAddress</code>\n         is provided.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/revision",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetRevisionRequest": {
      "type": "structure",
      "members": {
        "BlockAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The block location of the document revision to be verified. An address is an Amazon Ion\n         structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest for which to request a proof. An address\n         is an Amazon Ion structure that has two fields: <code>strandId</code> and\n            <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code>\n         </p>"
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the document to be verified.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetRevisionResponse": {
      "type": "structure",
      "members": {
        "Proof": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The proof object in Amazon Ion format returned by a <code>GetRevision</code> request. A\n         proof contains the list of hash values that are required to recalculate the specified\n         digest using a Merkle tree, starting with the specified document revision.</p>"
          }
        },
        "Revision": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The document revision data object in Amazon Ion format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ParameterName": {
          "target": "com.amazonaws.qldb#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the invalid parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters in the request aren't valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.qldb#IonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qldb#JournalS3ExportDescription": {
      "type": "structure",
      "members": {
        "ExclusiveEndTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive end date and time for the range of journal contents that are specified in\n         the original export request.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportCreationTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the export job was created. (Epoch time\n         format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>",
            "smithy.api#required": {}
          }
        },
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the journal export job.</p>",
            "smithy.api#required": {}
          }
        },
        "InclusiveStartTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start date and time for the range of journal contents that are specified\n         in the original export request.</p>",
            "smithy.api#required": {}
          }
        },
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a\n         journal export job to do the following:</p>\n         <ul>\n            <li>\n               <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p>\n            </li>\n            <li>\n               <p>(Optional) Use your customer master key (CMK) in AWS Key Management Service (AWS\n               KMS) for server-side encryption of your exported data.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "S3ExportConfiguration": {
          "target": "com.amazonaws.qldb#S3ExportConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.qldb#ExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the journal export job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about a journal export job, including the ledger name, export ID, when\n         it was created, current status, and its start and end time export parameters.</p>"
      }
    },
    "com.amazonaws.qldb#JournalS3ExportList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#JournalS3ExportDescription"
      }
    },
    "com.amazonaws.qldb#LedgerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#LedgerSummary"
      }
    },
    "com.amazonaws.qldb#LedgerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.qldb#LedgerState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.qldb#LedgerSummary": {
      "type": "structure",
      "members": {
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a ledger, including its name, state, and when it was created.</p>"
      }
    },
    "com.amazonaws.qldb#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the limit on the maximum number of resources allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.qldb#ListJournalS3Exports": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of journal export job descriptions for all ledgers that are associated\n         with the current AWS account and Region.</p>\n         <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that\n         you can retrieve all the items by calling <code>ListJournalS3Exports</code> multiple\n         times.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/journal-s3-exports",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedgerResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of journal export job descriptions for a specified ledger.</p>\n         <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that\n         you can retrieve all the items by calling <code>ListJournalS3ExportsForLedger</code>\n         multiple times.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}/journal-s3-exports",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedgerRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single\n            <code>ListJournalS3ExportsForLedger</code> request. (The actual number of results\n         returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListJournalS3ExportsForLedger</code> call, then you should use that value as input\n         here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedgerResponse": {
      "type": "structure",
      "members": {
        "JournalS3Exports": {
          "target": "com.amazonaws.qldb#JournalS3ExportList",
          "traits": {
            "smithy.api#documentation": "<p>The array of journal export job descriptions that are associated with the specified\n         ledger.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<ul>\n            <li>\n               <p>If <code>NextToken</code> is empty, then the last page of results has been\n               processed and there are no more results to be retrieved.</p>\n            </li>\n            <li>\n               <p>If <code>NextToken</code> is <i>not</i> empty, then there are more\n               results available. To retrieve the next page of results, use the value of\n                  <code>NextToken</code> in a subsequent <code>ListJournalS3ExportsForLedger</code>\n               call.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single <code>ListJournalS3Exports</code>\n         request. (The actual number of results returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListJournalS3Exports</code> call, then you should use that value as input\n         here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsResponse": {
      "type": "structure",
      "members": {
        "JournalS3Exports": {
          "target": "com.amazonaws.qldb#JournalS3ExportList",
          "traits": {
            "smithy.api#documentation": "<p>The array of journal export job descriptions for all ledgers that are associated with\n         the current AWS account and Region.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<ul>\n            <li>\n               <p>If <code>NextToken</code> is empty, then the last page of results has been\n               processed and there are no more results to be retrieved.</p>\n            </li>\n            <li>\n               <p>If <code>NextToken</code> is <i>not</i> empty, then there are more\n               results available. To retrieve the next page of results, use the value of\n                  <code>NextToken</code> in a subsequent <code>ListJournalS3Exports</code>\n               call.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListLedgers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListLedgersRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListLedgersResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of ledger summaries that are associated with the current AWS account\n         and Region.</p>\n         <p>This action returns a maximum of 100 items and is paginated so that you can\n         retrieve all the items by calling <code>ListLedgers</code> multiple times.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListLedgersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single <code>ListLedgers</code> request.\n         (The actual number of results returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListLedgers</code> call, then you should use that value as input here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListLedgersResponse": {
      "type": "structure",
      "members": {
        "Ledgers": {
          "target": "com.amazonaws.qldb#LedgerList",
          "traits": {
            "smithy.api#documentation": "<p>The array of ledger summaries that are associated with the current AWS account and\n         Region.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating whether there are more results available:</p>\n         <ul>\n            <li>\n               <p>If <code>NextToken</code> is empty, then the last page of results has been\n               processed and there are no more results to be retrieved.</p>\n            </li>\n            <li>\n               <p>If <code>NextToken</code> is <i>not</i> empty, then there are more\n               results available. To retrieve the next page of results, use the value of\n                  <code>NextToken</code> in a subsequent <code>ListLedgers</code> call.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns all tags for a specified Amazon QLDB resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for which you want to list the tags. For example:</p>\n         <p>\n            <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code>\n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.qldb#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are currently associated with the specified Amazon QLDB resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.qldb#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[A-Za-z-0-9+/=]+$"
      }
    },
    "com.amazonaws.qldb#ParameterName": {
      "type": "string"
    },
    "com.amazonaws.qldb#PermissionsMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW_ALL",
            "name": "ALLOW_ALL"
          }
        ]
      }
    },
    "com.amazonaws.qldb#ResourceAlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceName": {
          "target": "com.amazonaws.qldb#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.qldb#ResourceInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceName": {
          "target": "com.amazonaws.qldb#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource can't be modified at this time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.qldb#ResourceName": {
      "type": "string"
    },
    "com.amazonaws.qldb#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceName": {
          "target": "com.amazonaws.qldb#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource doesn't exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.qldb#ResourcePreconditionNotMetException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceName": {
          "target": "com.amazonaws.qldb#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation failed because a condition wasn't satisfied in advance.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.qldb#ResourceType": {
      "type": "string"
    },
    "com.amazonaws.qldb#S3Bucket": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z-0-9-_.]+$"
      }
    },
    "com.amazonaws.qldb#S3EncryptionConfiguration": {
      "type": "structure",
      "members": {
        "KmsKeyArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for a customer master key (CMK) in AWS Key Management\n         Service (AWS KMS).</p>\n         <p>You must provide a <code>KmsKeyArn</code> if you specify <code>SSE_KMS</code> as the\n            <code>ObjectEncryptionType</code>.</p>\n         <p>\n            <code>KmsKeyArn</code> is not required if you specify <code>SSE_S3</code> as the\n            <code>ObjectEncryptionType</code>.</p>"
          }
        },
        "ObjectEncryptionType": {
          "target": "com.amazonaws.qldb#S3ObjectEncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 object encryption type.</p>\n         <p>To learn more about server-side encryption options in Amazon S3, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/serv-side-encryption.html\">Protecting Data\n            Using Server-Side Encryption</a> in the <i>Amazon S3 Developer\n         Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The encryption settings that are used by a journal export job to write data in an\n         Amazon Simple Storage Service (Amazon S3) bucket.</p>"
      }
    },
    "com.amazonaws.qldb#S3ExportConfiguration": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.qldb#S3Bucket",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket name in which a journal export job writes the journal contents.</p>\n         <p>The bucket name must comply with the Amazon S3 bucket naming conventions. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html\">Bucket Restrictions and\n            Limitations</a> in the <i>Amazon S3 Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionConfiguration": {
          "target": "com.amazonaws.qldb#S3EncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings that are used by a journal export job to write data in an Amazon S3\n         bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "Prefix": {
          "target": "com.amazonaws.qldb#S3Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix for the Amazon S3 bucket in which a journal export job writes the journal\n         contents.</p>\n         <p>The prefix must comply with Amazon S3 key naming rules and restrictions. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html\">Object Key and Metadata</a> in the <i>Amazon S3 Developer\n         Guide</i>.</p>\n         <p>The following are examples of valid <code>Prefix</code> values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>JournalExports-ForMyLedger/Testing/</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>JournalExports</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>My:Tests/</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Simple Storage Service (Amazon S3) bucket location in which a journal export job writes the journal\n         contents.</p>"
      }
    },
    "com.amazonaws.qldb#S3ObjectEncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SSE_KMS",
            "name": "SSE_KMS"
          },
          {
            "value": "SSE_S3",
            "name": "SSE_S3"
          },
          {
            "value": "NO_ENCRYPTION",
            "name": "NO_ENCRYPTION"
          }
        ]
      }
    },
    "com.amazonaws.qldb#S3Prefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.qldb#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.qldb#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.qldb#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to a specified Amazon QLDB resource.</p>\n         <p>A resource can have up to 50 tags. If you try to create more than 50 tags for a\n         resource, your request fails and returns an error.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) to which you want to add the tags. For example:</p>\n         <p>\n            <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code>\n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.qldb#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to add as tags to the specified QLDB resource. Tag keys are case\n         sensitive. If you specify a key that already exists for the resource, your request fails\n         and returns an error. Tag values are case sensitive and can be null.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qldb#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.qldb#Tags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.qldb#TagKey"
      },
      "value": {
        "target": "com.amazonaws.qldb#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.qldb#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.qldb#UniqueId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[A-Za-z-0-9]+$"
      }
    },
    "com.amazonaws.qldb#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags from a specified Amazon QLDB resource. You can specify up to 50\n         tag keys to remove.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) from which you want to remove the tags. For\n         example:</p>\n         <p>\n            <code>arn:aws:qldb:us-east-1:123456789012:ledger/exampleLedger</code>\n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.qldb#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys that you want to remove.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.qldb#UpdateLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#UpdateLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#UpdateLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates properties on a ledger.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/ledgers/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#UpdateLedgerRequest": {
      "type": "structure",
      "members": {
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n         ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#UpdateLedgerResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n         ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n         ledger using the QLDB API or the AWS Command Line Interface (AWS CLI). You can disable it by calling the\n            <code>UpdateLedger</code> operation to set the flag to <code>false</code>. The QLDB\n         console disables deletion protection for you when you use it to delete a ledger.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ValueHolder": {
      "type": "structure",
      "members": {
        "IonText": {
          "target": "com.amazonaws.qldb#IonText",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that can contain an Amazon Ion value in multiple encoding formats.</p>",
        "smithy.api#sensitive": {}
      }
    }
  }
}
