{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.qldbsession#AbortTransactionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the transaction to abort.</p>"
      }
    },
    "com.amazonaws.qldbsession#AbortTransactionResult": {
      "type": "structure",
      "members": {
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the aborted transaction.</p>"
      }
    },
    "com.amazonaws.qldbsession#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.qldbsession#ErrorCode"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the request is malformed or contains an error such as an invalid parameter\n         value or a missing required parameter.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldbsession#CapacityExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned when the request exceeds the processing capacity of the ledger.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.qldbsession#CommitDigest": {
      "type": "blob"
    },
    "com.amazonaws.qldbsession#CommitTransactionRequest": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldbsession#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction ID of the transaction to commit.</p>",
            "smithy.api#required": {}
          }
        },
        "CommitDigest": {
          "target": "com.amazonaws.qldbsession#CommitDigest",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the commit digest for the transaction to commit. For every active transaction,\n         the commit digest must be passed. QLDB validates <code>CommitDigest</code> and rejects\n         the commit with an error if the digest computed on the client does not match the digest\n         computed by QLDB.</p>\n         <p>The purpose of the <code>CommitDigest</code> parameter is to ensure that QLDB commits\n         a transaction if and only if the server has processed the exact set of statements sent by\n         the client, in the same order that client sent them, and with no duplicates.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the transaction to commit.</p>"
      }
    },
    "com.amazonaws.qldbsession#CommitTransactionResult": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldbsession#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>The transaction ID of the committed transaction.</p>"
          }
        },
        "CommitDigest": {
          "target": "com.amazonaws.qldbsession#CommitDigest",
          "traits": {
            "smithy.api#documentation": "<p>The commit digest of the committed transaction.</p>"
          }
        },
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        },
        "ConsumedIOs": {
          "target": "com.amazonaws.qldbsession#IOUsage",
          "traits": {
            "smithy.api#documentation": "<p>Contains metrics about the number of I/O requests that were consumed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the committed transaction.</p>"
      }
    },
    "com.amazonaws.qldbsession#EndSessionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to end the session.</p>"
      }
    },
    "com.amazonaws.qldbsession#EndSessionResult": {
      "type": "structure",
      "members": {
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the ended session.</p>"
      }
    },
    "com.amazonaws.qldbsession#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.qldbsession#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.qldbsession#ExecuteStatementRequest": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldbsession#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction ID of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Statement": {
          "target": "com.amazonaws.qldbsession#Statement",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the statement of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.qldbsession#StatementParameters",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the parameters for the parameterized statement in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to execute a statement.</p>"
      }
    },
    "com.amazonaws.qldbsession#ExecuteStatementResult": {
      "type": "structure",
      "members": {
        "FirstPage": {
          "target": "com.amazonaws.qldbsession#Page",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the first fetched page.</p>"
          }
        },
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        },
        "ConsumedIOs": {
          "target": "com.amazonaws.qldbsession#IOUsage",
          "traits": {
            "smithy.api#documentation": "<p>Contains metrics about the number of I/O requests that were consumed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the executed statement.</p>"
      }
    },
    "com.amazonaws.qldbsession#FetchPageRequest": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldbsession#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transaction ID of the page to be fetched.</p>",
            "smithy.api#required": {}
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.qldbsession#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the next page token of the page to be fetched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details of the page to be fetched.</p>"
      }
    },
    "com.amazonaws.qldbsession#FetchPageResult": {
      "type": "structure",
      "members": {
        "Page": {
          "target": "com.amazonaws.qldbsession#Page",
          "traits": {
            "smithy.api#documentation": "<p>Contains details of the fetched page.</p>"
          }
        },
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        },
        "ConsumedIOs": {
          "target": "com.amazonaws.qldbsession#IOUsage",
          "traits": {
            "smithy.api#documentation": "<p>Contains metrics about the number of I/O requests that were consumed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the page that was fetched.</p>"
      }
    },
    "com.amazonaws.qldbsession#IOUsage": {
      "type": "structure",
      "members": {
        "ReadIOs": {
          "target": "com.amazonaws.qldbsession#ReadIOs",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of read I/O requests that the command made.</p>"
          }
        },
        "WriteIOs": {
          "target": "com.amazonaws.qldbsession#WriteIOs",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of write I/O requests that the command made.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains I/O usage metrics for a command that was invoked.</p>"
      }
    },
    "com.amazonaws.qldbsession#InvalidSessionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        },
        "Code": {
          "target": "com.amazonaws.qldbsession#ErrorCode"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if the session doesn't exist anymore because it timed out or expired.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldbsession#IonBinary": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        }
      }
    },
    "com.amazonaws.qldbsession#IonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.qldbsession#LedgerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.qldbsession#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned if a resource limit such as number of active sessions is exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldbsession#OccConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned when a transaction cannot be written to the journal due to a failure in the\n         verification phase of <i>optimistic concurrency control</i> (OCC).</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldbsession#Page": {
      "type": "structure",
      "members": {
        "Values": {
          "target": "com.amazonaws.qldbsession#ValueHolders",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains values in multiple encoding formats.</p>"
          }
        },
        "NextPageToken": {
          "target": "com.amazonaws.qldbsession#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token of the next page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of the fetched page.</p>"
      }
    },
    "com.amazonaws.qldbsession#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[A-Za-z-0-9+/=]+$"
      }
    },
    "com.amazonaws.qldbsession#ProcessingTimeMilliseconds": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.qldbsession#QLDBSession": {
      "type": "service",
      "version": "2019-07-11",
      "operations": [
        {
          "target": "com.amazonaws.qldbsession#SendCommand"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "QLDB Session",
          "arnNamespace": "qldb",
          "cloudFormationName": "QLDBSession",
          "cloudTrailEventSource": "qldbsession.amazonaws.com",
          "endpointPrefix": "session.qldb"
        },
        "aws.auth#sigv4": {
          "name": "qldb"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>The transactional data APIs for Amazon QLDB</p>\n         <note>\n            <p>Instead of interacting directly with this API, we recommend using the QLDB driver\n            or the QLDB shell to execute data transactions on a ledger.</p>\n            <ul>\n               <li>\n                  <p>If you are working with an AWS SDK, use the QLDB driver. The driver provides\n                  a high-level abstraction layer above this <i>QLDB Session</i> data\n                  plane and manages <code>SendCommand</code> API calls for you. For information and\n                  a list of supported programming languages, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-driver.html\">Getting started\n                     with the driver</a> in the <i>Amazon QLDB Developer\n                  Guide</i>.</p>\n               </li>\n               <li>\n                  <p>If you are working with the AWS Command Line Interface (AWS CLI), use the\n                  QLDB shell. The shell is a command line interface that uses the QLDB driver to\n                  interact with a ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/data-shell.html\">Accessing Amazon QLDB using the\n                     QLDB shell</a>.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#title": "Amazon QLDB Session",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://session.qldb-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://session.qldb-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://session.qldb.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://session.qldb.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://session.qldb.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.qldbsession#RateExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldbsession#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned when the rate of requests exceeds the allowed throughput.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.qldbsession#ReadIOs": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.qldbsession#SendCommand": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldbsession#SendCommandRequest"
      },
      "output": {
        "target": "com.amazonaws.qldbsession#SendCommandResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldbsession#BadRequestException"
        },
        {
          "target": "com.amazonaws.qldbsession#CapacityExceededException"
        },
        {
          "target": "com.amazonaws.qldbsession#InvalidSessionException"
        },
        {
          "target": "com.amazonaws.qldbsession#LimitExceededException"
        },
        {
          "target": "com.amazonaws.qldbsession#OccConflictException"
        },
        {
          "target": "com.amazonaws.qldbsession#RateExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends a command to an Amazon QLDB ledger.</p>\n         <note>\n            <p>Instead of interacting directly with this API, we recommend using the QLDB driver\n            or the QLDB shell to execute data transactions on a ledger.</p>\n            <ul>\n               <li>\n                  <p>If you are working with an AWS SDK, use the QLDB driver. The driver provides\n                  a high-level abstraction layer above this <i>QLDB Session</i> data\n                  plane and manages <code>SendCommand</code> API calls for you. For information and\n                  a list of supported programming languages, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-driver.html\">Getting started\n                     with the driver</a> in the <i>Amazon QLDB Developer\n                  Guide</i>.</p>\n               </li>\n               <li>\n                  <p>If you are working with the AWS Command Line Interface (AWS CLI), use the\n                  QLDB shell. The shell is a command line interface that uses the QLDB driver to\n                  interact with a ledger. For information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/data-shell.html\">Accessing Amazon QLDB using the\n                     QLDB shell</a>.</p>\n               </li>\n            </ul>\n         </note>"
      }
    },
    "com.amazonaws.qldbsession#SendCommandRequest": {
      "type": "structure",
      "members": {
        "SessionToken": {
          "target": "com.amazonaws.qldbsession#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the session token for the current command. A session token is constant\n         throughout the life of the session.</p>\n         <p>To obtain a session token, run the <code>StartSession</code> command. This\n            <code>SessionToken</code> is required for every subsequent command that is issued during\n         the current session.</p>"
          }
        },
        "StartSession": {
          "target": "com.amazonaws.qldbsession#StartSessionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to start a new session. A session token is obtained as part of the\n         response.</p>"
          }
        },
        "StartTransaction": {
          "target": "com.amazonaws.qldbsession#StartTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to start a new transaction.</p>"
          }
        },
        "EndSession": {
          "target": "com.amazonaws.qldbsession#EndSessionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to end the current session.</p>"
          }
        },
        "CommitTransaction": {
          "target": "com.amazonaws.qldbsession#CommitTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to commit the specified transaction.</p>"
          }
        },
        "AbortTransaction": {
          "target": "com.amazonaws.qldbsession#AbortTransactionRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to abort the current transaction.</p>"
          }
        },
        "ExecuteStatement": {
          "target": "com.amazonaws.qldbsession#ExecuteStatementRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to execute a statement in the specified transaction.</p>"
          }
        },
        "FetchPage": {
          "target": "com.amazonaws.qldbsession#FetchPageRequest",
          "traits": {
            "smithy.api#documentation": "<p>Command to fetch a page.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldbsession#SendCommandResult": {
      "type": "structure",
      "members": {
        "StartSession": {
          "target": "com.amazonaws.qldbsession#StartSessionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the started session that includes a session token. This\n            <code>SessionToken</code> is required for every subsequent command that is issued during\n         the current session.</p>"
          }
        },
        "StartTransaction": {
          "target": "com.amazonaws.qldbsession#StartTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the started transaction.</p>"
          }
        },
        "EndSession": {
          "target": "com.amazonaws.qldbsession#EndSessionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the ended session.</p>"
          }
        },
        "CommitTransaction": {
          "target": "com.amazonaws.qldbsession#CommitTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the committed transaction.</p>"
          }
        },
        "AbortTransaction": {
          "target": "com.amazonaws.qldbsession#AbortTransactionResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the aborted transaction.</p>"
          }
        },
        "ExecuteStatement": {
          "target": "com.amazonaws.qldbsession#ExecuteStatementResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the executed statement.</p>"
          }
        },
        "FetchPage": {
          "target": "com.amazonaws.qldbsession#FetchPageResult",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details of the fetched page.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldbsession#SessionToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 1024
        },
        "smithy.api#pattern": "^[A-Za-z-0-9+/=]+$"
      }
    },
    "com.amazonaws.qldbsession#StartSessionRequest": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldbsession#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger to start a new session against.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to start a new session.</p>"
      }
    },
    "com.amazonaws.qldbsession#StartSessionResult": {
      "type": "structure",
      "members": {
        "SessionToken": {
          "target": "com.amazonaws.qldbsession#SessionToken",
          "traits": {
            "smithy.api#documentation": "<p>Session token of the started session. This <code>SessionToken</code> is required for\n         every subsequent command that is issued during the current session.</p>"
          }
        },
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the started session.</p>"
      }
    },
    "com.amazonaws.qldbsession#StartTransactionRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Specifies a request to start a transaction.</p>"
      }
    },
    "com.amazonaws.qldbsession#StartTransactionResult": {
      "type": "structure",
      "members": {
        "TransactionId": {
          "target": "com.amazonaws.qldbsession#TransactionId",
          "traits": {
            "smithy.api#documentation": "<p>The transaction ID of the started transaction.</p>"
          }
        },
        "TimingInformation": {
          "target": "com.amazonaws.qldbsession#TimingInformation",
          "traits": {
            "smithy.api#documentation": "<p>Contains server-side performance information for the command.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details of the started transaction.</p>"
      }
    },
    "com.amazonaws.qldbsession#Statement": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.qldbsession#StatementParameters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldbsession#ValueHolder"
      }
    },
    "com.amazonaws.qldbsession#TimingInformation": {
      "type": "structure",
      "members": {
        "ProcessingTimeMilliseconds": {
          "target": "com.amazonaws.qldbsession#ProcessingTimeMilliseconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time that QLDB spent on processing the command, measured in\n         milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains server-side performance information for a command. Amazon QLDB captures timing\n         information between the times when it receives the request and when it sends the\n         corresponding response.</p>"
      }
    },
    "com.amazonaws.qldbsession#TransactionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 22,
          "max": 22
        },
        "smithy.api#pattern": "^[A-Za-z-0-9]+$"
      }
    },
    "com.amazonaws.qldbsession#ValueHolder": {
      "type": "structure",
      "members": {
        "IonBinary": {
          "target": "com.amazonaws.qldbsession#IonBinary",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Ion binary value contained in a <code>ValueHolder</code> structure.</p>"
          }
        },
        "IonText": {
          "target": "com.amazonaws.qldbsession#IonText",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Ion plaintext value contained in a <code>ValueHolder</code> structure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that can contain a value in multiple encoding formats.</p>"
      }
    },
    "com.amazonaws.qldbsession#ValueHolders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldbsession#ValueHolder"
      }
    },
    "com.amazonaws.qldbsession#WriteIOs": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    }
  }
}