{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.qldb#AmazonQLDB": {
      "type": "service",
      "version": "2019-01-02",
      "operations": [
        {
          "target": "com.amazonaws.qldb#CancelJournalKinesisStream"
        },
        {
          "target": "com.amazonaws.qldb#CreateLedger"
        },
        {
          "target": "com.amazonaws.qldb#DeleteLedger"
        },
        {
          "target": "com.amazonaws.qldb#DescribeJournalKinesisStream"
        },
        {
          "target": "com.amazonaws.qldb#DescribeJournalS3Export"
        },
        {
          "target": "com.amazonaws.qldb#DescribeLedger"
        },
        {
          "target": "com.amazonaws.qldb#ExportJournalToS3"
        },
        {
          "target": "com.amazonaws.qldb#GetBlock"
        },
        {
          "target": "com.amazonaws.qldb#GetDigest"
        },
        {
          "target": "com.amazonaws.qldb#GetRevision"
        },
        {
          "target": "com.amazonaws.qldb#ListJournalKinesisStreamsForLedger"
        },
        {
          "target": "com.amazonaws.qldb#ListJournalS3Exports"
        },
        {
          "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedger"
        },
        {
          "target": "com.amazonaws.qldb#ListLedgers"
        },
        {
          "target": "com.amazonaws.qldb#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.qldb#StreamJournalToKinesis"
        },
        {
          "target": "com.amazonaws.qldb#TagResource"
        },
        {
          "target": "com.amazonaws.qldb#UntagResource"
        },
        {
          "target": "com.amazonaws.qldb#UpdateLedger"
        },
        {
          "target": "com.amazonaws.qldb#UpdateLedgerPermissionsMode"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "QLDB",
          "arnNamespace": "qldb",
          "cloudFormationName": "QLDB",
          "cloudTrailEventSource": "qldb.amazonaws.com",
          "endpointPrefix": "qldb"
        },
        "aws.auth#sigv4": {
          "name": "qldb"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The control plane for Amazon QLDB</p>",
        "smithy.api#title": "Amazon QLDB",
        "smithy.api#xmlNamespace": {
          "uri": "http://ledger.amazonaws.com/doc/2019-01-02/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://qldb-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://qldb-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://qldb.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://qldb.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://qldb.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.qldb#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1600
        }
      }
    },
    "com.amazonaws.qldb#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.qldb#CancelJournalKinesisStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#CancelJournalKinesisStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#CancelJournalKinesisStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Ends a given Amazon QLDB journal stream. Before a stream can be canceled, its current\n         status must be <code>ACTIVE</code>.</p>\n         <p>You can't restart a stream after you cancel it. Canceled QLDB stream resources are\n         subject to a 7-day retention period, so they are automatically deleted after this limit\n         expires.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ledgers/{LedgerName}/journal-kinesis-streams/{StreamId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#CancelJournalKinesisStreamRequest": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StreamId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to be\n         canceled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#CancelJournalKinesisStreamResponse": {
      "type": "structure",
      "members": {
        "StreamId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (Base62-encoded text) of the canceled QLDB journal stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#CreateLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#CreateLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#CreateLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#LimitExceededException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ledger in your Amazon Web Services account in the current Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#CreateLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to create. The name must be unique among all of the\n         ledgers in your Amazon Web Services account in the current Region.</p>\n         <p>Naming constraints for ledger names are defined in <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/limits.html#limits.naming\">Quotas in Amazon QLDB</a>\n         in the <i>Amazon QLDB Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.qldb#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to add as tags to the ledger that you want to create. Tag keys are\n         case sensitive. Tag values are case sensitive and can be null.</p>"
          }
        },
        "PermissionsMode": {
          "target": "com.amazonaws.qldb#PermissionsMode",
          "traits": {
            "smithy.api#documentation": "<p>The permissions mode to assign to the ledger that you want to create. This parameter can\n         have one of the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALLOW_ALL</code>: A legacy permissions mode that enables access control with\n               API-level granularity for ledgers.</p>\n               <p>This mode allows users who have the <code>SendCommand</code> API permission for\n               this ledger to run all PartiQL commands (hence, <code>ALLOW_ALL</code>) on any tables\n               in the specified ledger. This mode disregards any table-level or command-level IAM\n               permissions policies that you create for the ledger.</p>\n            </li>\n            <li>\n               <p>\n                  <code>STANDARD</code>: (<i>Recommended</i>) A permissions mode that\n               enables access control with finer granularity for ledgers, tables, and PartiQL\n               commands.</p>\n               <p>By default, this mode denies all user requests to run any PartiQL commands on any\n               tables in this ledger. To allow PartiQL commands to run, you must create IAM\n               permissions policies for specific table resources and PartiQL actions, in addition to\n               the <code>SendCommand</code> API permission for the ledger. For information, see\n                  <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/getting-started-standard-mode.html\">Getting\n                  started with the standard permissions mode</a> in the <i>Amazon QLDB\n                  Developer Guide</i>.</p>\n            </li>\n         </ul>\n         <note>\n            <p>We strongly recommend using the <code>STANDARD</code> permissions mode to maximize\n            the security of your ledger data.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n      ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n      ledger. You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>.</p>"
          }
        },
        "KmsKey": {
          "target": "com.amazonaws.qldb#KmsKey",
          "traits": {
            "smithy.api#documentation": "<p>The key in Key Management Service (KMS) to use for encryption of data at rest in the ledger. For\n         more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/encryption-at-rest.html\">Encryption at rest</a> in\n         the <i>Amazon QLDB Developer Guide</i>.</p>\n         <p>Use one of the following options to specify this parameter:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AWS_OWNED_KMS_KEY</code>: Use an KMS key that is owned and managed by Amazon Web Services\n               on your behalf.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Undefined</b>: By default, use an Amazon Web Services owned KMS\n               key.</p>\n            </li>\n            <li>\n               <p>\n                  <b>A valid symmetric customer managed KMS key</b>: Use\n               the specified KMS key in your account that you create, own, and manage.</p>\n               <p>Amazon QLDB does not support asymmetric keys. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using symmetric and asymmetric keys</a> in the <i>Key Management Service Developer\n                  Guide</i>.</p>\n            </li>\n         </ul>\n         <p>To specify a customer managed KMS key, you can use its key ID, Amazon Resource Name\n         (ARN), alias name, or alias ARN. When using an alias name, prefix it with\n            <code>\"alias/\"</code>. To specify a key in a different Amazon Web Services account, you must use the key\n         ARN or alias ARN.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN:\n                  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Alias name: <code>alias/ExampleAlias</code>\n               </p>\n            </li>\n            <li>\n               <p>Alias ARN:\n               <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id\">Key identifiers (KeyId)</a> in\n         the <i>Key Management Service Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#CreateLedgerResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "PermissionsMode": {
          "target": "com.amazonaws.qldb#PermissionsMode",
          "traits": {
            "smithy.api#documentation": "<p>The permissions mode of the ledger that you created.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n      ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n      ledger. You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the customer managed KMS key that the ledger uses for encryption at rest. If\n         this parameter is undefined, the ledger uses an Amazon Web Services owned KMS key for encryption.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#DeleteLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DeleteLedgerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a ledger and all of its contents. This action is irreversible.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n      ledger. You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ledgers/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DeleteLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DeletionProtection": {
      "type": "boolean"
    },
    "com.amazonaws.qldb#DescribeJournalKinesisStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DescribeJournalKinesisStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#DescribeJournalKinesisStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a given Amazon QLDB journal stream. The output\n         includes the Amazon Resource Name (ARN), stream name, current status, creation time, and\n         the parameters of the original stream creation request.</p>\n         <p>This action does not return any expired journal streams. For more information, see\n            <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/streams.create.html#streams.create.states.expiration\">Expiration for terminal streams</a> in the <i>Amazon QLDB Developer\n            Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{LedgerName}/journal-kinesis-streams/{StreamId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalKinesisStreamRequest": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StreamId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream to\n         describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalKinesisStreamResponse": {
      "type": "structure",
      "members": {
        "Stream": {
          "target": "com.amazonaws.qldb#JournalKinesisStreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the QLDB journal stream returned by a\n            <code>DescribeJournalS3Export</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3Export": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DescribeJournalS3ExportRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#DescribeJournalS3ExportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a journal export job, including the ledger name, export ID,\n         creation time, current status, and the parameters of the original export creation\n         request.</p>\n         <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer\n         Guide</i>.</p>\n         <p>If the export job with the given <code>ExportId</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the ledger with the given <code>Name</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}/journal-s3-exports/{ExportId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3ExportRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the journal export job to\n         describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeJournalS3ExportResponse": {
      "type": "structure",
      "members": {
        "ExportDescription": {
          "target": "com.amazonaws.qldb#JournalS3ExportDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the journal export job returned by a\n            <code>DescribeJournalS3Export</code> request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#DescribeLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#DescribeLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a ledger, including its state, permissions mode, encryption at\n         rest settings, and when it was created.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#DescribeLedgerResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        },
        "PermissionsMode": {
          "target": "com.amazonaws.qldb#PermissionsMode",
          "traits": {
            "smithy.api#documentation": "<p>The permissions mode of the ledger.</p>"
          }
        },
        "DeletionProtection": {
          "target": "com.amazonaws.qldb#DeletionProtection",
          "traits": {
            "smithy.api#documentation": "<p>The flag that prevents a ledger from being deleted by any user. If not provided on\n      ledger creation, this feature is enabled (<code>true</code>) by default.</p>\n         <p>If deletion protection is enabled, you must first disable it before you can delete the\n      ledger. You can disable it by calling the <code>UpdateLedger</code> operation to set the flag to <code>false</code>.</p>"
          }
        },
        "EncryptionDescription": {
          "target": "com.amazonaws.qldb#LedgerEncryptionDescription",
          "traits": {
            "smithy.api#documentation": "<p>Information about the encryption of data at rest in the ledger. This includes the\n         current status, the KMS key, and when the key became inaccessible (in the case of an\n         error).</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#Digest": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 32
        }
      }
    },
    "com.amazonaws.qldb#EncryptionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "KMS_KEY_INACCESSIBLE",
            "name": "KMS_KEY_INACCESSIBLE"
          }
        ]
      }
    },
    "com.amazonaws.qldb#ErrorCause": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KINESIS_STREAM_NOT_FOUND",
            "name": "KINESIS_STREAM_NOT_FOUND"
          },
          {
            "value": "IAM_PERMISSION_REVOKED",
            "name": "IAM_PERMISSION_REVOKED"
          }
        ]
      }
    },
    "com.amazonaws.qldb#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.qldb#ExportJournalToS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ExportJournalToS3Request"
      },
      "output": {
        "target": "com.amazonaws.qldb#ExportJournalToS3Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports journal contents within a date and time range from a ledger into a specified\n         Amazon Simple Storage Service (Amazon S3) bucket. A journal export job can write the data objects in either the text\n         or binary representation of Amazon Ion format, or in <i>JSON Lines</i> text\n         format.</p>\n         <p>In JSON Lines format, each journal block in the exported data object is a valid JSON\n         object that is delimited by a newline. You can use this format to easily integrate JSON\n         exports with analytics tools such as Glue and Amazon Athena\n         because these services can parse newline-delimited JSON automatically. For more information\n         about the format, see <a href=\"https://jsonlines.org/\">JSON Lines</a>.</p>\n         <p>If the ledger with the given <code>Name</code> doesn't exist, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the ledger with the given <code>Name</code> is in <code>CREATING</code> status, then\n         throws <code>ResourcePreconditionNotMetException</code>.</p>\n         <p>You can initiate up to two concurrent journal export requests for each ledger. Beyond\n         this limit, journal export requests throw <code>LimitExceededException</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/journal-s3-exports",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#ExportJournalToS3Request": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "InclusiveStartTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start date and time for the range of journal contents to export.</p>\n         <p>The <code>InclusiveStartTime</code> must be in <code>ISO 8601</code> date and time\n         format and in Universal Coordinated Time (UTC). For example:\n            <code>2019-06-13T21:36:34Z</code>.</p>\n         <p>The <code>InclusiveStartTime</code> must be before <code>ExclusiveEndTime</code>.</p>\n         <p>If you provide an <code>InclusiveStartTime</code> that is before the ledger's\n            <code>CreationDateTime</code>, Amazon QLDB defaults it to the ledger's\n            <code>CreationDateTime</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ExclusiveEndTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive end date and time for the range of journal contents to export.</p>\n         <p>The <code>ExclusiveEndTime</code> must be in <code>ISO 8601</code> date and time format\n         and in Universal Coordinated Time (UTC). For example:\n         <code>2019-06-13T21:36:34Z</code>.</p>\n         <p>The <code>ExclusiveEndTime</code> must be less than or equal to the current UTC date and\n         time.</p>",
            "smithy.api#required": {}
          }
        },
        "S3ExportConfiguration": {
          "target": "com.amazonaws.qldb#S3ExportConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the Amazon S3 bucket destination for your export\n         request.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a\n         journal export job to do the following:</p>\n         <ul>\n            <li>\n               <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p>\n            </li>\n            <li>\n               <p>(Optional) Use your customer managed key in Key Management Service (KMS) for server-side\n               encryption of your exported data.</p>\n            </li>\n         </ul>\n         <p>To pass a role to QLDB when requesting a journal export, you must have permissions to\n         perform the <code>iam:PassRole</code> action on the IAM role resource. This is required for\n         all journal export requests.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputFormat": {
          "target": "com.amazonaws.qldb#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The output format of your exported journal data. If this parameter is not specified, the\n         exported data defaults to <code>ION_TEXT</code> format.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ExportJournalToS3Response": {
      "type": "structure",
      "members": {
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) that QLDB assigns to each journal export\n         job.</p>\n         <p>To describe your export request and check the status of the job, you can use\n            <code>ExportId</code> to call <code>DescribeJournalS3Export</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#ExportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          }
        ]
      }
    },
    "com.amazonaws.qldb#GetBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetBlockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a block object at a specified address in a journal. Also returns a proof of the\n         specified block for verification if <code>DigestTipAddress</code> is provided.</p>\n         <p>For information about the data contents in a block, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/journal-contents.html\">Journal contents</a> in the\n            <i>Amazon QLDB Developer Guide</i>.</p>\n         <p>If the specified ledger doesn't exist or is in <code>DELETING</code> status, then throws\n            <code>ResourceNotFoundException</code>.</p>\n         <p>If the specified ledger is in <code>CREATING</code> status, then throws\n            <code>ResourcePreconditionNotMetException</code>.</p>\n         <p>If no block exists with the specified address, then throws\n            <code>InvalidParameterException</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/block",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetBlockRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The location of the block that you want to request. An address is an Amazon Ion\n         structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest for which to request a proof. An address\n         is an Amazon Ion structure that has two fields: <code>strandId</code> and\n            <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#GetBlockResponse": {
      "type": "structure",
      "members": {
        "Block": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The block data object in Amazon Ion format.</p>",
            "smithy.api#required": {}
          }
        },
        "Proof": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The proof object in Amazon Ion format returned by a <code>GetBlock</code> request. A\n         proof contains the list of hash values required to recalculate the specified digest using a\n         Merkle tree, starting with the specified block.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#GetDigest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetDigestRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetDigestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the digest of a ledger at the latest committed block in the journal. The\n         response includes a 256-bit hash value and a block address.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/digest",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetDigestRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetDigestResponse": {
      "type": "structure",
      "members": {
        "Digest": {
          "target": "com.amazonaws.qldb#Digest",
          "traits": {
            "smithy.api#documentation": "<p>The 256-bit hash value representing the digest returned by a <code>GetDigest</code>\n         request.</p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest that you requested. An address is an\n         Amazon Ion structure that has two fields: <code>strandId</code> and\n         <code>sequenceNo</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#GetRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#GetRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#GetRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a revision data object for a specified document ID and block address. Also\n         returns a proof of the specified revision for verification if <code>DigestTipAddress</code>\n         is provided.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ledgers/{Name}/revision",
          "code": 200
        }
      }
    },
    "com.amazonaws.qldb#GetRevisionRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "BlockAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The block location of the document revision to be verified. An address is an Amazon Ion\n         structure that has two fields: <code>strandId</code> and <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:14}</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the document to be verified.</p>",
            "smithy.api#required": {}
          }
        },
        "DigestTipAddress": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The latest block location covered by the digest for which to request a proof. An address\n         is an Amazon Ion structure that has two fields: <code>strandId</code> and\n            <code>sequenceNo</code>.</p>\n         <p>For example: <code>{strandId:\"BlFTjlSXze9BIh1KOszcE3\",sequenceNo:49}</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.qldb#GetRevisionResponse": {
      "type": "structure",
      "members": {
        "Proof": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The proof object in Amazon Ion format returned by a <code>GetRevision</code> request. A\n         proof contains the list of hash values that are required to recalculate the specified\n         digest using a Merkle tree, starting with the specified document revision.</p>"
          }
        },
        "Revision": {
          "target": "com.amazonaws.qldb#ValueHolder",
          "traits": {
            "smithy.api#documentation": "<p>The document revision data object in Amazon Ion format.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.qldb#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ParameterName": {
          "target": "com.amazonaws.qldb#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the invalid parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters in the request aren't valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.qldb#IonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.qldb#JournalKinesisStreamDescription": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the QLDB journal stream was created.\n         (Epoch time format is the number of seconds elapsed since 12:00:00 AM January 1, 1970\n         UTC.)</p>"
          }
        },
        "InclusiveStartTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start date and time from which to start streaming journal data.</p>"
          }
        },
        "ExclusiveEndTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive date and time that specifies when the stream ends. If this parameter is\n         undefined, the stream runs indefinitely until you cancel it.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a\n         journal stream to write data records to a Kinesis Data Streams resource.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the QLDB journal stream.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the QLDB journal stream.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.qldb#StreamStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the QLDB journal stream.</p>",
            "smithy.api#required": {}
          }
        },
        "KinesisConfiguration": {
          "target": "com.amazonaws.qldb#KinesisConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the Amazon Kinesis Data Streams destination for a QLDB journal\n         stream.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorCause": {
          "target": "com.amazonaws.qldb#ErrorCause",
          "traits": {
            "smithy.api#documentation": "<p>The error message that describes the reason that a stream has a status of\n            <code>IMPAIRED</code> or <code>FAILED</code>. This is not applicable to streams that\n         have other status values.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.qldb#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name of the QLDB journal stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon QLDB journal stream, including the Amazon Resource Name\n         (ARN), stream name, creation time, current status, and the parameters of the original\n         stream creation request.</p>"
      }
    },
    "com.amazonaws.qldb#JournalKinesisStreamDescriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#JournalKinesisStreamDescription"
      }
    },
    "com.amazonaws.qldb#JournalS3ExportDescription": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportId": {
          "target": "com.amazonaws.qldb#UniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The UUID (represented in Base62-encoded text) of the journal export job.</p>",
            "smithy.api#required": {}
          }
        },
        "ExportCreationTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the export job was created. (Epoch time\n         format is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.qldb#ExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the journal export job.</p>",
            "smithy.api#required": {}
          }
        },
        "InclusiveStartTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The inclusive start date and time for the range of journal contents that was specified\n         in the original export request.</p>",
            "smithy.api#required": {}
          }
        },
        "ExclusiveEndTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The exclusive end date and time for the range of journal contents that was specified in\n         the original export request.</p>",
            "smithy.api#required": {}
          }
        },
        "S3ExportConfiguration": {
          "target": "com.amazonaws.qldb#S3ExportConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that grants QLDB permissions for a\n         journal export job to do the following:</p>\n         <ul>\n            <li>\n               <p>Write objects into your Amazon Simple Storage Service (Amazon S3) bucket.</p>\n            </li>\n            <li>\n               <p>(Optional) Use your customer managed key in Key Management Service (KMS) for server-side\n               encryption of your exported data.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "OutputFormat": {
          "target": "com.amazonaws.qldb#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The output format of the exported journal data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a journal export job, including the ledger name, export ID, creation\n         time, current status, and the parameters of the original export creation request.</p>"
      }
    },
    "com.amazonaws.qldb#JournalS3ExportList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#JournalS3ExportDescription"
      }
    },
    "com.amazonaws.qldb#KinesisConfiguration": {
      "type": "structure",
      "members": {
        "StreamArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Kinesis Data Streams resource.</p>",
            "smithy.api#required": {}
          }
        },
        "AggregationEnabled": {
          "target": "com.amazonaws.qldb#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables QLDB to publish multiple data records in a single Kinesis Data Streams record, increasing the\n         number of records sent per API call.</p>\n         <p>\n            <i>This option is enabled by default.</i> Record aggregation has important\n         implications for processing records and requires de-aggregation in your stream consumer. To\n         learn more, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-concepts.html\">KPL Key Concepts</a> and <a href=\"https://docs.aws.amazon.com/streams/latest/dev/kinesis-kpl-consumer-deaggregation.html\">Consumer De-aggregation</a> in the <i>Amazon Kinesis Data Streams Developer\n         Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration settings of the Amazon Kinesis Data Streams destination for an Amazon QLDB journal\n         stream.</p>"
      }
    },
    "com.amazonaws.qldb#KmsKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        }
      }
    },
    "com.amazonaws.qldb#LedgerEncryptionDescription": {
      "type": "structure",
      "members": {
        "KmsKeyArn": {
          "target": "com.amazonaws.qldb#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer managed KMS key that the ledger uses for\n         encryption at rest. If this parameter is undefined, the ledger uses an Amazon Web Services owned KMS key\n         for encryption.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionStatus": {
          "target": "com.amazonaws.qldb#EncryptionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of encryption at rest for the ledger. This can be one of the following\n         values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code>: Encryption is fully enabled using the specified key.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATING</code>: The ledger is actively processing the specified key\n               change.</p>\n               <p>Key changes in QLDB are asynchronous. The ledger is fully accessible without any\n               performance impact while the key change is being processed. The amount of time it\n               takes to update a key varies depending on the ledger size.</p>\n            </li>\n            <li>\n               <p>\n                  <code>KMS_KEY_INACCESSIBLE</code>: The specified customer managed KMS key is not\n               accessible, and the ledger is impaired. Either the key was disabled or deleted, or\n               the grants on the key were revoked. When a ledger is impaired, it is not accessible\n               and does not accept any read or write requests.</p>\n               <p>An impaired ledger automatically returns to an active state after you restore the\n               grants on the key, or re-enable the key that was disabled. However, deleting a\n               customer managed KMS key is irreversible. After a key is deleted, you can no longer\n               access the ledgers that are protected with that key, and the data becomes\n               unrecoverable permanently.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "InaccessibleKmsKeyDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the KMS key first became inaccessible,\n         in the case of an error. (Epoch time format is the number of seconds that have elapsed\n         since 12:00:00 AM January 1, 1970 UTC.)</p>\n         <p>This parameter is undefined if the KMS key is accessible.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the encryption of data at rest in an Amazon QLDB ledger. This includes\n         the current status, the key in Key Management Service (KMS), and when the key became inaccessible (in\n         the case of an error).</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/encryption-at-rest.html\">Encryption at rest</a> in\n         the <i>Amazon QLDB Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.qldb#LedgerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.qldb#LedgerSummary"
      }
    },
    "com.amazonaws.qldb#LedgerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^(?!^.*--)(?!^[0-9]+$)(?!^-)(?!.*-$)^[A-Za-z0-9-]+$"
      }
    },
    "com.amazonaws.qldb#LedgerState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.qldb#LedgerSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.qldb#LedgerState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the ledger.</p>"
          }
        },
        "CreationDateTime": {
          "target": "com.amazonaws.qldb#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in epoch time format, when the ledger was created. (Epoch time format\n         is the number of seconds elapsed since 12:00:00 AM January 1, 1970 UTC.)</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a ledger, including its name, state, and when it was created.</p>"
      }
    },
    "com.amazonaws.qldb#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.qldb#ErrorMessage"
        },
        "ResourceType": {
          "target": "com.amazonaws.qldb#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the limit on the maximum number of resources allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.qldb#ListJournalKinesisStreamsForLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListJournalKinesisStreamsForLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListJournalKinesisStreamsForLedgerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.qldb#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.qldb#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.qldb#ResourcePreconditionNotMetException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of all Amazon QLDB journal stream descriptors for a given ledger. The\n         output of each stream descriptor includes the same details that are returned by\n            <code>DescribeJournalKinesisStream</code>.</p>\n         <p>This action does not return any expired journal streams. For more information, see\n            <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/streams.create.html#streams.create.states.expiration\">Expiration for terminal streams</a> in the <i>Amazon QLDB Developer\n            Guide</i>.</p>\n         <p>This action returns a maximum of <code>MaxResults</code> items. It is paginated so that\n         you can retrieve all the items by calling <code>ListJournalKinesisStreamsForLedger</code>\n         multiple times.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{LedgerName}/journal-kinesis-streams",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListJournalKinesisStreamsForLedgerRequest": {
      "type": "structure",
      "members": {
        "LedgerName": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single\n            <code>ListJournalKinesisStreamsForLedger</code> request. (The actual number of results\n         returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListJournalKinesisStreamsForLedger</code> call, you should use that value as input\n         here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalKinesisStreamsForLedgerResponse": {
      "type": "structure",
      "members": {
        "Streams": {
          "target": "com.amazonaws.qldb#JournalKinesisStreamDescriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The array of QLDB journal stream descriptors that are associated with the given\n         ledger.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<ul>\n            <li>\n               <p>If <code>NextToken</code> is empty, the last page of results has been processed\n               and there are no more results to be retrieved.</p>\n            </li>\n            <li>\n               <p>If <code>NextToken</code> is <i>not</i> empty, more results are\n               available. To retrieve the next page of results, use the value of\n                  <code>NextToken</code> in a subsequent\n                  <code>ListJournalKinesisStreamsForLedger</code> call.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3Exports": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of journal export job descriptions for all ledgers that are associated\n         with the current Amazon Web Services account and Region.</p>\n         <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that\n         you can retrieve all the items by calling <code>ListJournalS3Exports</code> multiple\n         times.</p>\n         <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer\n         Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/journal-s3-exports",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedger": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedgerRequest"
      },
      "output": {
        "target": "com.amazonaws.qldb#ListJournalS3ExportsForLedgerResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of journal export job descriptions for a specified ledger.</p>\n         <p>This action returns a maximum of <code>MaxResults</code> items, and is paginated so that\n         you can retrieve all the items by calling <code>ListJournalS3ExportsForLedger</code>\n         multiple times.</p>\n         <p>This action does not return any expired export jobs. For more information, see <a href=\"https://docs.aws.amazon.com/qldb/latest/developerguide/export-journal.request.html#export-journal.request.expiration\">Export job expiration</a> in the <i>Amazon QLDB Developer\n         Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ledgers/{Name}/journal-s3-exports",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedgerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.qldb#LedgerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ledger.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single\n            <code>ListJournalS3ExportsForLedger</code> request. (The actual number of results\n         returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListJournalS3ExportsForLedger</code> call, then you should use that value as input\n         here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsForLedgerResponse": {
      "type": "structure",
      "members": {
        "JournalS3Exports": {
          "target": "com.amazonaws.qldb#JournalS3ExportList",
          "traits": {
            "smithy.api#documentation": "<p>The array of journal export job descriptions that are associated with the specified\n         ledger.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<ul>\n            <li>\n               <p>If <code>NextToken</code> is empty, then the last page of results has been\n               processed and there are no more results to be retrieved.</p>\n            </li>\n            <li>\n               <p>If <code>NextToken</code> is <i>not</i> empty, then there are more\n               results available. To retrieve the next page of results, use the value of\n                  <code>NextToken</code> in a subsequent <code>ListJournalS3ExportsForLedger</code>\n               call.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.qldb#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single <code>ListJournalS3Exports</code>\n         request. (The actual number of results returned might be fewer.)</p>",
            "smithy.api#httpQuery": "max_results"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.qldb#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token, indicating that you want to retrieve the next page of results. If\n         you received a value for <code>NextToken</code> in the response from a previous\n            <code>ListJournalS3Exports</code> call, then you should use that value as input\n         here.</p>",
            "smithy.api#httpQuery": "next_token"
          }
        }
      }
    },
    "com.amazonaws.qldb#ListJournalS3ExportsResponse": {
      "type": "structure",
      "members": {
        "JournalS3Exports": {
          "target": "com.amazonaws.qldb#JournalS3ExportList",
          "traits": {
[...]
