{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.services.quicksight.common#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight.common#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to this item. The provided credentials couldn't be\n\t\t\tvalidated. You might not be authorized to carry out the request. Make sure that your\n\t\t\taccount is authorized to use the Amazon QuickSight service, that your policies have the\n\t\t\tcorrect permissions, and that you are using the correct access keys.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.services.quicksight.common#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight.common#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the IAM policy assignment.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The active AWS Identity and Access Management (IAM) policy assignment.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ActiveIAMPolicyAssignment"
      }
    },
    "com.amazonaws.services.quicksight#AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "target": "com.amazonaws.services.quicksight#DashboardBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Availability status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ad hoc (one-time) filtering option.</p>"
      }
    },
    "com.amazonaws.services.quicksight#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)"
      }
    },
    "com.amazonaws.services.quicksight#AmazonElasticsearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.services.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Elasticsearch Service domain.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Elasticsearch Service parameters.</p>"
      }
    },
    "com.amazonaws.services.quicksight.common#Arn": {
      "type": "string"
    },
    "com.amazonaws.services.quicksight#AssignmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DRAFT": {
            "name": "DRAFT"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#AthenaParameters": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.services.quicksight#WorkGroup",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup that Amazon Athena uses.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Athena parameters.</p>"
      }
    },
    "com.amazonaws.services.quicksight#AuroraParameters": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.services.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>Database.</p>",
            "smithy.api#required": true
          }
        },
        "Host": {
          "target": "com.amazonaws.services.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>Host.</p>",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazonaws.services.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "<p>Port.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Aurora parameters.</p>"
      }
    },
    "com.amazonaws.services.quicksight#AuroraPostgreSqlParameters": {
      "type": "structure",
      "members": {
        "Database": {
          "target": "com.amazonaws.services.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>Database.</p>",
            "smithy.api#required": true
          }
        },
        "Host": {
          "target": "com.amazonaws.services.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>Host.</p>",
            "smithy.api#required": true
          }
        },
        "Port": {
          "target": "com.amazonaws.services.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "<p>Port.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Aurora with PostgreSQL compatibility parameters.</p>"
      }
    },
    "com.amazonaws.services.quicksight.common#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.services.quicksight#AwsIotAnalyticsParameters": {
      "type": "structure",
      "members": {
        "DataSetName": {
          "target": "com.amazonaws.services.quicksight#DataSetName",
          "traits": {
            "smithy.api#documentation": "<p>Dataset name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS IoT Analytics parameters.</p>"
      }
    },
    "com.amazonaws.services.quicksight#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.services.quicksight#CalculatedColumn": {
      "type": "structure",
      "members": {
        "ColumnId": {
          "target": "com.amazonaws.services.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify a calculated column. During a dataset update, if the column ID of a\n\t\t\tcalculated column matches that of an existing calculated column, Amazon QuickSight\n\t\t\tpreserves the existing calculated column.</p>",
            "smithy.api#required": true
          }
        },
        "ColumnName": {
          "target": "com.amazonaws.services.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": true
          }
        },
        "Expression": {
          "target": "com.amazonaws.services.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that defines the calculated column.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A calculated column for a dataset.</p>"
      }
    },
    "com.amazonaws.services.quicksight#CalculatedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#CalculatedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CancelIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CancelIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an ongoing ingestion of data into SPICE.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset used in the ingestion.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CancelIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CastColumnTypeOperation": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.services.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": true
          }
        },
        "Format": {
          "target": "com.amazonaws.services.quicksight#TypeCastFormat",
          "traits": {
            "smithy.api#documentation": "<p>When casting a column from string to datetime type, you can supply a string in a format\n\t\t\tsupported by Amazon QuickSight to denote the source data format.</p>"
          }
        },
        "NewColumnType": {
          "target": "com.amazonaws.services.quicksight.common#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>New column data type.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that casts a column to a different type.</p>"
      }
    },
    "com.amazonaws.services.quicksight#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight.common#ColumnDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "STRING": {
            "name": "STRING"
          },
          "INTEGER": {
            "name": "INTEGER"
          },
          "DECIMAL": {
            "name": "DECIMAL"
          },
          "DATETIME": {
            "name": "DATETIME"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroup": {
      "type": "structure",
      "members": {
        "GeoSpatialColumnGroup": {
          "target": "com.amazonaws.services.quicksight#GeoSpatialColumnGroup",
          "traits": {
            "smithy.api#documentation": "<p>Geospatial column group that denotes a hierarchy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Groupings of columns that work together in certain Amazon QuickSight features. This is a\n\t\t\tvariant type structure. For this structure to be valid, only one of the attributes can\n\t\t\tbe non-null.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column group's column schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure describing the name, data type, and geographic role of the columns.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroupColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupSchema": {
      "type": "structure",
      "members": {
        "ColumnGroupColumnSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupColumnSchemaList",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the list of schemas for column group columns.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column group schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The column group schema.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ColumnGroupSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnGroupSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnSchema": {
      "type": "structure",
      "members": {
        "DataType": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column schema.</p>"
          }
        },
        "GeographicRole": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The geographic role of the column schema.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The column schema.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.services.quicksight#ColumnTag": {
      "type": "structure",
      "members": {
        "ColumnGeographicRole": {
          "target": "com.amazonaws.services.quicksight#GeoSpatialDataRole",
          "traits": {
            "smithy.api#documentation": "<p>A geospatial role for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag for a column in a <code>TagColumnOperation</code> structure. This is a variant type\n\t\t\tstructure. For this structure to be valid, only one of the attributes can be\n\t\t\tnon-null.</p>"
      }
    },
    "com.amazonaws.services.quicksight#ColumnTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#ColumnTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.services.quicksight#ConcurrentUpdatingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource is already in a state that indicates an action is happening that must complete\n\t\t\tbefore a new update can be applied.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.services.quicksight.common#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#String"
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight.common#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.services.quicksight#CreateColumnsOperation": {
      "type": "structure",
      "members": {
        "Columns": {
          "target": "com.amazonaws.services.quicksight#CalculatedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Calculated columns to create.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that creates calculated columns. Columns created in one such\n\t\t\toperation form a lexical closure.</p>"
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDashboardRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dashboard from a template. To first create a template, see the CreateTemplate API\n\t\t\toperation.</p>\n\t\t       <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created from\n\t\t\tanalyses. You can share QuickSight dashboards. With the right permissions, you can\n\t\t\tcreate scheduled email reports from them. The <code>CreateDashboard</code>,\n\t\t\t\t<code>DescribeDashboard</code>, and <code>ListDashboardsByUser</code> API operations\n\t\t\tact on the dashboard entity. If you have the correct permissions, you can create a\n\t\t\tdashboard from a template that exists in a different AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboardRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account where you want to create the dashboard.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dashboard, also added to the IAM policy.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DashboardPublishOptions": {
          "target": "com.amazonaws.services.quicksight#DashboardPublishOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for publishing the dashboard when you create it:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t\t          <p>\n                  <code>AvailabilityStatus</code> for <code>AdHocFilteringOption</code> - This status can\n\t\t\t\t\tbe either <code>ENABLED</code> or <code>DISABLED</code>. When this is set to\n\t\t\t\t\t\t<code>DISABLED</code>, QuickSight disables the left filter pane on the\n\t\t\t\t\tpublished dashboard, which can be used for ad hoc (one-time) filtering. This\n\t\t\t\t\toption is <code>ENABLED</code> by default. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>AvailabilityStatus</code> for <code>ExportToCSVOption</code> - This status can be\n\t\t\t\t\teither <code>ENABLED</code> or <code>DISABLED</code>. The visual option to\n\t\t\t\t\texport data to .csv format isn't enabled when this is set to\n\t\t\t\t\t\t<code>DISABLED</code>. This option is <code>ENABLED</code> by default. </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>VisibilityState</code> for <code>SheetControlsOption</code> - This visibility state\n\t\t\t\t\tcan be either <code>COLLAPSED</code> or <code>EXPANDED</code>. The sheet\n\t\t\t\t\tcontrols pane is collapsed by default when set to true. This option is\n\t\t\t\t\t\t<code>COLLAPSED</code> by default. </p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the dashboard.</p>",
            "smithy.api#required": true
          }
        },
        "Parameters": {
          "target": "com.amazonaws.services.quicksight#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the parameters of the dashboard. These are parameter overrides for\n\t\t\ta dashboard. A dashboard can have any type of parameters, and some parameters might\n\t\t\taccept multiple values. You can use the dashboard permissions structure described following to override two string\n\t\t\tparameters that accept multiple values.\n\t\t\t\n\t\t</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the permissions of the dashboard. You can use this structure for\n\t\t\tgranting permissions with principal and action information.</p>"
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.services.quicksight#DashboardSourceEntity",
          "traits": {
            "smithy.api#documentation": "<p>The source entity from which the dashboard is created. The source entity accepts the Amazon\n\t\t\tResource Name (ARN) of the source template or analysis and also references the\n\t\t\treplacement datasets for the placeholders set when creating the template. The\n\t\t\treplacement datasets need to follow the same schema as the datasets for which\n\t\t\tplaceholders were created when creating the template. </p>\n\t\t       <p>If you are creating a dashboard from a source entity in a different AWS account, use the\n\t\t\tARN of the source template.</p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dashboard.</p>"
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the first version of the dashboard being created.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dashboard creation request.</p>"
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dashboard.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        },
        "VersionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dashboard, including the version number\n\t\t\tof the first version that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sets",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Groupings of columns that work together in certain QuickSight features. Currently, only geospatial hierarchy is supported.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>",
            "smithy.api#required": true
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to import the data into SPICE.</p>",
            "smithy.api#required": true
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.services.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Configures the combination and transformation of the data from the physical tables.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the dataset.</p>",
            "smithy.api#required": true
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions on the dataset.</p>"
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.services.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>",
            "smithy.api#required": true
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the data that you want to create.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to create. This ID is unique per AWS Region for each AWS account.</p>"
          }
        },
        "IngestionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the ingestion, which is triggered as a result of dataset creation if the import\n\t\t\tmode is SPICE.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ingestion, which is triggered as a result of dataset creation if the import\n\t\t\tmode is SPICE.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sources",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Credentials": {
          "target": "com.amazonaws.services.quicksight#DataSourceCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials QuickSight that uses to connect to your underlying source. Currently, only\n\t\t\tcredentials based on user name and password are supported.</p>"
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the data source. This ID is unique per AWS Region for each AWS account. </p>",
            "smithy.api#required": true
          }
        },
        "DataSourceParameters": {
          "target": "com.amazonaws.services.quicksight#DataSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that QuickSight uses to connect to your underlying source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the data source.</p>",
            "smithy.api#required": true
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions on the data source.</p>"
          }
        },
        "SslProperties": {
          "target": "com.amazonaws.services.quicksight#SslProperties",
          "traits": {
            "smithy.api#documentation": "<p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your underlying source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the data source.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source. Currently, the supported types for this operation are:\n\t\t\t<code>ATHENA, AURORA, AURORA_POSTGRESQL, MARIADB, MYSQL, POSTGRESQL, PRESTO, REDSHIFT, S3,\n\t\t\tSNOWFLAKE, SPARK, SQLSERVER, TERADATA</code>. \n\t\t\tUse <code>ListDataSources</code> to return a\n\t\t\tlist of all data sources.</p>",
            "smithy.api#required": true
          }
        },
        "VpcConnectionProperties": {
          "target": "com.amazonaws.services.quicksight#VpcConnectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter only when you want QuickSight to use a VPC connection when connecting to\n\t\t\tyour underlying source.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of creating the data source.</p>"
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data source. This ID is unique per AWS Region for each AWS account.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon QuickSight group.</p>\n\t\t       <p>The permissions resource is\n\t\t\t\t\t<code>arn:aws:quicksight:us-east-1:<i><relevant-aws-account-id></i>:group/default/<i><group-name></i>\n            </code>.</p>\n\t\t       <p>The response is a group object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateGroupMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateGroupMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembershipRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "GroupName": {
          "target": "com.amazonaws.services.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group that you want to add the user to.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MemberName": {
          "target": "com.amazonaws.services.quicksight#GroupMemberName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user that you want to add to the group membership.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupMembershipResponse": {
      "type": "structure",
      "members": {
        "GroupMember": {
          "target": "com.amazonaws.services.quicksight#GroupMember",
          "traits": {
            "smithy.api#documentation": "<p>The group member.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#GroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the group that you want to create.</p>"
          }
        },
        "GroupName": {
          "target": "com.amazonaws.services.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the group that you want to create.</p>",
            "smithy.api#required": true
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for this operation. </p>"
      }
    },
    "com.amazonaws.services.quicksight#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.services.quicksight#Group",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for this operation.</p>"
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight#ConcurrentUpdatingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name\n\t\t\t(ARN). This policy will be assigned to specified groups or users of Amazon QuickSight.\n\t\t\tThe users and groups need to be in the same namespace. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assignment. It must be unique within an AWS account.</p>",
            "smithy.api#required": true
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.services.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assignment. Possible values are as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Anything specified in this assignment is used when creating the data\n\t\t\t\t\tsource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - This assignment isn't used when creating the data source.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the\n\t\t\t\t\tdata source.</p>\n            </li>\n         </ul>",
            "smithy.api#required": true
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account where you want to assign an IAM policy to QuickSight users or\n\t\t\tgroups.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Identities": {
          "target": "com.amazonaws.services.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight users, groups, or both that you want to assign the policy to.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.services.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace that contains the assignment.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM policy to apply to the QuickSight users and groups\n\t\t\tspecified in this assignment.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIAMPolicyAssignmentResponse": {
      "type": "structure",
      "members": {
        "AssignmentId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the assignment.</p>"
          }
        },
        "AssignmentName": {
          "target": "com.amazonaws.services.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assignment. This name must be unique within the AWS account.</p>"
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.services.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assignment. Possible values are as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Anything specified in this assignment is used when creating the data\n\t\t\t\tsource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - This assignment isn't used when creating the data source.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the\n\t\t\t\tdata source.</p>\n            </li>\n         </ul>"
          }
        },
        "Identities": {
          "target": "com.amazonaws.services.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight users, groups, or both that the IAM policy is assigned to.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM policy that is applied to the QuickSight users and groups specified in this assignment.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and starts a new SPICE ingestion on a dataset</p>\n\t\t    \n\t\t       <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in\n\t\t\taccess control. For an example, see <a href=\"https://aws.example.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using\n\t\t\t\ttags?</a> in the AWS Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset used in the ingestion.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.services.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>"
          }
        },
        "IngestionStatus": {
          "target": "com.amazonaws.services.quicksight#IngestionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The ingestion status.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a template from an existing QuickSight analysis or template. You can use the resulting\n\t\t\ttemplate to create a dashboard.</p>\n\t\t       <p>A <i>template</i> is an entity in QuickSight that encapsulates the metadata\n\t\t\trequired to create an analysis and that you can use to create s dashboard. A template adds\n\t\t\ta layer of abstraction by using placeholders to replace the dataset associated with the\n\t\t\tanalysis. You can use templates to create dashboards by replacing dataset placeholders\n\t\t\twith datasets that follow the same schema that was used to create the source analysis\n\t\t\tand template.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/templates/{TemplateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.services.quicksight#CreateTemplateAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.services.quicksight.common#ConflictException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#InternalFailureException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#LimitExceededException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#ThrottlingException"
        },
        {
          "target": "com.amazonaws.services.quicksight.common#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a template alias for a template.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.services.quicksight#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to give to the template alias that you're creating. Don't start the\n\t\t\talias name with the <code>$</code> character. Alias names that start with <code>$</code>\n\t\t\tare reserved by QuickSight. </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AWS account that contains the template that you creating an alias for.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the template.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TemplateVersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the template.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateAliasResponse": {
      "type": "structure",
      "members": {
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        },
        "TemplateAlias": {
          "target": "com.amazonaws.services.quicksight#TemplateAlias",
          "traits": {
            "smithy.api#documentation": "<p>Information about the template alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.services.quicksight.common#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the AWS account that the group is in. Currently, you use the ID for the AWS\n\t\t\taccount that contains your Amazon QuickSight account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#TemplateName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the template.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.services.quicksight.common#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions to be set on the template. </p>"
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.services.quicksight#TemplateSourceEntity",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source entity from which this template is being\n\t\t\tcreated. Currently, you can create a template from an analysis or another template. If\n\t\t\tthe ARN is for an analysis, include its dataset references. </p>",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.services.quicksight.common#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the resource.</p>"
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the template that you want to create. This template is unique per AWS Region in\n\t\t\teach AWS account.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the current template version being created. This API operation creates the\n\t\t\tfirst version of the template. Every time <code>UpdateTemplate</code> is called, a new\n\t\t\tversion is created. Each version of the template maintains a description of the version\n\t\t\tin the <code>VersionDescription</code> field.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CreateTemplateResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the template.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The template creation status.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS request ID for this operation.</p>"
          }
        },
        "TemplateId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the template.</p>"
          }
        },
        "VersionArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the template, including the version information of\n\t\t\tthe first version.</p>"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#CredentialPair": {
      "type": "structure",
      "members": {
        "Password": {
          "target": "com.amazonaws.services.quicksight#Password",
          "traits": {
            "smithy.api#documentation": "<p>Password.</p>",
            "smithy.api#required": true
          }
        },
        "Username": {
          "target": "com.amazonaws.services.quicksight#UserName2",
          "traits": {
            "smithy.api#documentation": "<p>User name.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The combination of user name and password that are used as credentials.</p>"
      }
    },
    "com.amazonaws.services.quicksight#CustomSql": {
      "type": "structure",
      "members": {
        "Columns": {
          "target": "com.amazonaws.services.quicksight#InputColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The column schema from the SQL query result set.</p>"
          }
        },
        "DataSourceArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#CustomSqlName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the SQL query result.</p>",
            "smithy.api#required": true
          }
        },
        "SqlQuery": {
          "target": "com.amazonaws.services.quicksight#SqlQuery",
          "traits": {
            "smithy.api#documentation": "<p>The SQL query.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A physical table type built from the results of the custom SQL query.</p>"
      }
    },
    "com.amazonaws.services.quicksight#CustomSqlName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.services.quicksight#Dashboard": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dataset was created.</p>"
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Dashboard ID.</p>"
          }
        },
        "LastPublishedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was published.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dataset.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.services.quicksight#DashboardVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLED": {
            "name": "ENABLED"
          },
          "DISABLED": {
            "name": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardError": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight.common#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Message.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DashboardErrorType",
          "traits": {
            "smithy.api#documentation": "<p>Type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard error.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DATA_SET_NOT_FOUND": {
            "name": "DATA_SET_NOT_FOUND"
          },
          "INTERNAL_FAILURE": {
            "name": "INTERNAL_FAILURE"
          },
          "PARAMETER_VALUE_INCOMPATIBLE": {
            "name": "PARAMETER_VALUE_INCOMPATIBLE"
          },
          "PARAMETER_TYPE_INVALID": {
            "name": "PARAMETER_TYPE_INVALID"
          },
          "PARAMETER_NOT_FOUND": {
            "name": "PARAMETER_NOT_FOUND"
          },
          "COLUMN_TYPE_MISMATCH": {
            "name": "COLUMN_TYPE_MISMATCH"
          },
          "COLUMN_GEOGRAPHIC_ROLE_MISMATCH": {
            "name": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH"
          },
          "COLUMN_REPLACEMENT_MISSING": {
            "name": "COLUMN_REPLACEMENT_MISSING"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+"
      }
    },
    "com.amazonaws.services.quicksight#DashboardPublishOptions": {
      "type": "structure",
      "members": {
        "AdHocFilteringOption": {
          "target": "com.amazonaws.services.quicksight#AdHocFilteringOption",
          "traits": {
            "smithy.api#documentation": "<p>Ad hoc (one-time) filtering option.</p>"
          }
        },
        "ExportToCSVOption": {
          "target": "com.amazonaws.services.quicksight#ExportToCSVOption",
          "traits": {
            "smithy.api#documentation": "<p>Export to .csv option.</p>"
          }
        },
        "SheetControlsOption": {
          "target": "com.amazonaws.services.quicksight#SheetControlsOption",
          "traits": {
            "smithy.api#documentation": "<p>Sheet controls option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard publish options.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardSourceEntity": {
      "type": "structure",
      "members": {
        "SourceTemplate": {
          "target": "com.amazonaws.services.quicksight#DashboardSourceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Source template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard source entity.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardSourceTemplate": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": true
          }
        },
        "DataSetReferences": {
          "target": "com.amazonaws.services.quicksight#DataSetReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>Dataset references.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard source template.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dashboard was created.</p>"
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.services.quicksight.common#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Dashboard ID.</p>"
          }
        },
        "LastPublishedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dashboard was published.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dashboard was updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dashboard.</p>"
          }
        },
        "PublishedVersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>Published version number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard summary.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardUIState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EXPANDED": {
            "name": "EXPANDED"
          },
          "COLLAPSED": {
            "name": "COLLAPSED"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersion": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dashboard version was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.services.quicksight#DashboardErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors.</p>"
          }
        },
        "SourceEntityArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Source entity ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>Version number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard version.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersionSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dashboard version was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.services.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description.</p>"
          }
        },
        "SourceEntityArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Source entity ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.services.quicksight#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>Version number.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dashboard version summary.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DashboardVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DashboardVersionSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSet": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Groupings of columns that work together in certain Amazon QuickSight features. Currently,\n\t\t\tonly geospatial hierarchy is supported.</p>"
          }
        },
        "ConsumedSpiceCapacityInBytes": {
          "target": "com.amazonaws.services.quicksight#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of SPICE capacity used by this dataset. This is 0 if the dataset isn't\n\t\t\timported into SPICE.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dataset was created.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to import the data into SPICE.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was updated.</p>"
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.services.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Configures the combination and transformation of the data from the physical\n\t\t\ttables.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dataset.</p>"
          }
        },
        "OutputColumns": {
          "target": "com.amazonaws.services.quicksight#OutputColumnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of columns after all transforms. These columns are available in templates,\n\t\t\tanalyses, and dashboards.</p>"
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.services.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSetConfiguration": {
      "type": "structure",
      "members": {
        "ColumnGroupSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnGroupSchemaList",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the list of column group schemas.</p>"
          }
        },
        "DataSetSchema": {
          "target": "com.amazonaws.services.quicksight#DataSetSchema",
          "traits": {
            "smithy.api#documentation": "<p>Dataset schema.</p>"
          }
        },
        "Placeholder": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>Placeholder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset configuration.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSetConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetImportMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SPICE": {
            "name": "SPICE"
          },
          "DIRECT_QUERY": {
            "name": "DIRECT_QUERY"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetReference": {
      "type": "structure",
      "members": {
        "DataSetArn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Dataset Amazon Resource Name (ARN).</p>",
            "smithy.api#required": true
          }
        },
        "DataSetPlaceholder": {
          "target": "com.amazonaws.services.quicksight.common#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Dataset placeholder.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset reference.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSetReferenceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetReference"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSetSchema": {
      "type": "structure",
      "members": {
        "ColumnSchemaList": {
          "target": "com.amazonaws.services.quicksight#ColumnSchemaList",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the list of column schemas.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset schema.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSetSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this dataset was created.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.services.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to import the data into SPICE.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this dataset was updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the dataset.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.services.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataset summary.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSetSummary"
      }
    },
    "com.amazonaws.services.quicksight#DataSource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.services.quicksight.common#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this data source was created.</p>"
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.services.quicksight.common#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data source. This ID is unique per AWS Region for each AWS account.</p>"
          }
        },
        "DataSourceParameters": {
          "target": "com.amazonaws.services.quicksight#DataSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that Amazon QuickSight uses to connect to your underlying source. This is a\n\t\t\tvariant type structure. For this structure to be valid, only one of the attributes can\n\t\t\tbe non-null.</p>"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.services.quicksight#DataSourceErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Error information from the last update or the creation of the data source.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.services.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time that this data source was updated.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.services.quicksight.common#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the data source.</p>"
          }
        },
        "SslProperties": {
          "target": "com.amazonaws.services.quicksight#SslProperties",
          "traits": {
            "smithy.api#documentation": "<p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your\n\t\t\tunderlying source.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.services.quicksight.common#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source. This type indicates which database engine the data source\n\t\t\tconnects to.</p>"
          }
        },
        "VpcConnectionProperties": {
          "target": "com.amazonaws.services.quicksight#VpcConnectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>The VPC connection information. You need to use this parameter only when you want\n\t\t\tQuickSight to use a VPC connection when connecting to your underlying source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure of a data source.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSourceCredentials": {
      "type": "structure",
      "members": {
        "CredentialPair": {
          "target": "com.amazonaws.services.quicksight#CredentialPair",
          "traits": {
            "smithy.api#documentation": "<p>Credential pair.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data source credentials.</p>",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.services.quicksight#DataSourceErrorInfo": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.services.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.services.quicksight#DataSourceErrorInfoType",
          "traits": {
            "smithy.api#documentation": "<p>Error type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information for the data source creation or update.</p>"
      }
    },
    "com.amazonaws.services.quicksight#DataSourceErrorInfoType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "TIMEOUT": {
            "name": "TIMEOUT"
          },
          "ENGINE_VERSION_NOT_SUPPORTED": {
            "name": "ENGINE_VERSION_NOT_SUPPORTED"
          },
          "UNKNOWN_HOST": {
            "name": "UNKNOWN_HOST"
          },
          "GENERIC_SQL_FAILURE": {
            "name": "GENERIC_SQL_FAILURE"
          },
          "CONFLICT": {
            "name": "CONFLICT"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.services.quicksight#DataSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.services.quicksight#DataSource"
      }
    },
    "com.amazonaws.services.quicksight#DataSourceParameters": {
      "type": "structure",
      "members": {
        "AmazonElasticsearchParameters": {
          "target": "com.amazonaws.services.quicksight#AmazonElasticsearchParameters",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Elasticsearch Service parameters.</p>"
          }
        },
        "AthenaParameters": {
          "target": "com.amazonaws.services.quicksight#AthenaParameters",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Athena parameters.</p>"
          }
        },
        "AuroraParameters": {
          "target": "com.amazonaws.services.quicksight#AuroraParameters",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Aurora MySQL parameters.</p>"
          }
        },
        "AuroraPostgreSqlParameters": {
          "target": "com.amazonaws.services.quicksight#AuroraPostgreSqlParameters",
          "traits": {
            "smithy.api#documentation": "<p>Aurora PostgreSQL parameters.</p>"
          }
        },
        "AwsIotAnalyticsParameters": {
          "target": "com.amazonaws.services.quicksight#AwsIotAnalyticsParameters",
          "traits": {
            "smithy.api#documentation": "<p>AWS IoT Analytics parameters.</p>"
          }
        },
        "JiraParameters": {
          "target": "com.amazonaws.services.quicksight#JiraParameters",
          "traits": {
            "smithy.api#documentation": "<p>Jira parameters.</p>"
          }
        },
        "MariaDbParameters": {
          "target": "com.amazonaws.services.quicksight#MariaDbParameters",
          "traits": {
            "smithy.api#documentation": "<p>MariaDB parameters.</p>"
          }
        },
        "MySqlParameters": {
          "target": "com.amazonaws.services.quicksight#MySqlParameters",
          "traits": {
            "smithy.api#documentation": "<p>MySQL parameters.</p>"
          }
        },
        "PostgreSqlParameters": {
          "target": "com.amazonaws.services.quicksight#PostgreSqlParameters",
          "traits": {
            "smithy.api#documentation": "<p>PostgreSQL parameters.</p>"
          }
        },
        "PrestoParameters": {
          "target": "com.amazonaws.services.quicksight#PrestoParameters",
          "traits": {
            "smithy.api#documentation": "<p>Presto parameters.</p>"
          }
        },
        "RdsParameters": {
          "target": "com.amazonaws.services.quicksight#RdsParameters",
          "traits": {
            "smithy.api#documentation": "<p>Amazon RDS parameters.</p>"
          }
        },
        "RedshiftParameters": {
[...]
