{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.quicksight#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to this item. The provided credentials couldn't be\n\t\t\tvalidated. You might not be authorized to carry out the request. Make sure that your\n\t\t\taccount is authorized to use the Amazon QuickSight service, that your policies have the\n\t\t\tcorrect permissions, and that you are using the correct credentials.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.quicksight#AccountCustomization": {
      "type": "structure",
      "members": {
        "DefaultTheme": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The default theme for this Amazon QuickSight subscription.</p>"
          }
        },
        "DefaultEmailCustomizationTemplate": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The default email customization template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon QuickSight customizations associated with your Amazon Web Services account or a QuickSight namespace in a specific Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.quicksight#AccountInfo": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The account name that you provided for the Amazon QuickSight subscription in your\n                Amazon Web Services account. You create this name when you sign up for Amazon QuickSight. It's unique over all of Amazon Web Services, and it appears only when\n            users sign in.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.quicksight#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of your Amazon QuickSight account.</p>"
          }
        },
        "NotificationEmail": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The email address that will be used for Amazon QuickSight to send notifications regarding your Amazon Web Services account or Amazon QuickSight subscription.</p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The way that your Amazon QuickSight account is authenticated.</p>"
          }
        },
        "AccountSubscriptionStatus": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of your account subscription.</p>"
          }
        },
        "IAMIdentityCenterInstanceArn": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the IAM Identity Center instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the following account information\n            elements:</p>\n         <ul>\n            <li>\n               <p>Your Amazon QuickSight account name.</p>\n            </li>\n            <li>\n               <p>The edition of Amazon QuickSight that your account is using.</p>\n            </li>\n            <li>\n               <p>The notification email address that is associated with the Amazon QuickSight account.\n            </p>\n            </li>\n            <li>\n               <p>The authentication type of the Amazon QuickSight account.</p>\n            </li>\n            <li>\n               <p>The status of the Amazon QuickSight account's subscription.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.quicksight#AccountName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 62
        },
        "smithy.api#pattern": "^(?!D-|d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*$"
      }
    },
    "com.amazonaws.quicksight#AccountSettings": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The \"account name\" you provided for the Amazon QuickSight subscription in your Amazon Web Services account.\n            You create this name when you sign up for Amazon QuickSight. It is unique in all of Amazon Web Services and\n            it appears only when users sign in.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.quicksight#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon QuickSight that you're currently subscribed to:\n        Enterprise edition or Standard edition.</p>"
          }
        },
        "DefaultNamespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The default Amazon QuickSight namespace for your Amazon Web Services account. </p>"
          }
        },
        "NotificationEmail": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The main notification email for your Amazon QuickSight subscription.</p>"
          }
        },
        "PublicSharingEnabled": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that indicates whether public sharing is turned on for an Amazon QuickSight account. For more information about turning on public sharing, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdatePublicSharingSettings.html\">UpdatePublicSharingSettings</a>.</p>"
          }
        },
        "TerminationProtectionEnabled": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value that determines whether or not an Amazon QuickSight account can be deleted. A <code>True</code> value doesn't allow the account to be deleted and results in an error message if a user tries to make a <code>DeleteAccountSubsctiption</code> request. A <code>False</code> value will allow the ccount to be deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon QuickSight settings associated with your Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.quicksight#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the IAM policy assignment.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The active Identity and Access Management (IAM) policy assignment.</p>"
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ActiveIAMPolicyAssignment"
      }
    },
    "com.amazonaws.quicksight#AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "target": "com.amazonaws.quicksight#DashboardBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Availability status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ad hoc (one-time) filtering option.</p>"
      }
    },
    "com.amazonaws.quicksight#AdditionalDashboardIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.quicksight#AggFunction": {
      "type": "structure",
      "members": {
        "Aggregation": {
          "target": "com.amazonaws.quicksight#AggType",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation of an Agg function.</p>"
          }
        },
        "AggregationFunctionParameters": {
          "target": "com.amazonaws.quicksight#AggFunctionParamMap",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation parameters for an Agg function.</p>"
          }
        },
        "Period": {
          "target": "com.amazonaws.quicksight#TopicTimeGranularity",
          "traits": {
            "smithy.api#documentation": "<p>The period of an Agg function.</p>"
          }
        },
        "PeriodField": {
          "target": "com.amazonaws.quicksight#LimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The period field for an Agg function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of an Agg function.</p>"
      }
    },
    "com.amazonaws.quicksight#AggFunctionParamKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.quicksight#AggFunctionParamMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.quicksight#AggFunctionParamKey"
      },
      "value": {
        "target": "com.amazonaws.quicksight#AggFunctionParamValue"
      }
    },
    "com.amazonaws.quicksight#AggFunctionParamValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.quicksight#AggType": {
      "type": "enum",
      "members": {
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MIN"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "DISTINCT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT_COUNT"
          }
        },
        "STDEV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STDEV"
          }
        },
        "STDEVP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STDEVP"
          }
        },
        "VAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VAR"
          }
        },
        "VARP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VARP"
          }
        },
        "PERCENTILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERCENTILE"
          }
        },
        "MEDIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIAN"
          }
        },
        "PTD_SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_SUM"
          }
        },
        "PTD_MIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_MIN"
          }
        },
        "PTD_MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_MAX"
          }
        },
        "PTD_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_COUNT"
          }
        },
        "PTD_DISTINCT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_DISTINCT_COUNT"
          }
        },
        "PTD_AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PTD_AVERAGE"
          }
        },
        "COLUMN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AggregationFunction": {
      "type": "structure",
      "members": {
        "NumericalAggregationFunction": {
          "target": "com.amazonaws.quicksight#NumericalAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for numerical values.</p>"
          }
        },
        "CategoricalAggregationFunction": {
          "target": "com.amazonaws.quicksight#CategoricalAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for categorical values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COUNT</code>: Aggregate by the total number of values, including duplicates.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISTINCT_COUNT</code>: Aggregate by the total number of distinct values.</p>\n            </li>\n         </ul>"
          }
        },
        "DateAggregationFunction": {
          "target": "com.amazonaws.quicksight#DateAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for date values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COUNT</code>: Aggregate by the total number of values, including duplicates.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISTINCT_COUNT</code>: Aggregate by the total number of distinct values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MIN</code>: Select the smallest date value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MAX</code>: Select the largest date value.</p>\n            </li>\n         </ul>"
          }
        },
        "AttributeAggregationFunction": {
          "target": "com.amazonaws.quicksight#AttributeAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for attributes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation function aggregates values from a dimension or measure.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationFunctionParameters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.quicksight#LimitedString"
      },
      "value": {
        "target": "com.amazonaws.quicksight#LimitedString"
      }
    },
    "com.amazonaws.quicksight#AggregationPartitionBy": {
      "type": "structure",
      "members": {
        "FieldName": {
          "target": "com.amazonaws.quicksight#LimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The field Name for an <code>AggregationPartitionBy</code>.</p>"
          }
        },
        "TimeGranularity": {
          "target": "com.amazonaws.quicksight#TimeGranularity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TimeGranularity</code> for an <code>AggregationPartitionBy</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of an <code>AggregationPartitionBy</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationPartitionByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AggregationPartitionBy"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AggregationSortConfiguration": {
      "type": "structure",
      "members": {
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that determines the sort order of aggregated values.</p>",
            "smithy.api#required": {}
          }
        },
        "SortDirection": {
          "target": "com.amazonaws.quicksight#SortDirection",
          "traits": {
            "smithy.api#documentation": "<p>The sort direction of values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ASC</code>: Sort in ascending order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DESC</code>: Sort in descending order.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "AggregationFunction": {
          "target": "com.amazonaws.quicksight#AggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>The function that aggregates the values in <code>Column</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration options to sort aggregated values.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationSortConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AggregationSortConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)$"
      }
    },
    "com.amazonaws.quicksight#AllSheetsFilterScopeConfiguration": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>An empty object that represents that the <code>AllSheets</code> option is the chosen value for the <code>FilterScopeConfiguration</code> parameter. This structure applies the filter to all visuals on all sheets of an Analysis, Dashboard, or Template.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AltText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[ -ÿ]+$"
      }
    },
    "com.amazonaws.quicksight#AmazonElasticsearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The OpenSearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for OpenSearch.</p>"
      }
    },
    "com.amazonaws.quicksight#AmazonOpenSearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The OpenSearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for OpenSearch.</p>"
      }
    },
    "com.amazonaws.quicksight#AmazonQInQuickSightConsoleConfigurations": {
      "type": "structure",
      "members": {
        "DataQnA": {
          "target": "com.amazonaws.quicksight#DataQnAConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Adds generative Q&A capabilitiees to an embedded Amazon QuickSight console.</p>"
          }
        },
        "GenerativeAuthoring": {
          "target": "com.amazonaws.quicksight#GenerativeAuthoringConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Adds the generative BI authoring experience to an embedded Amazon QuickSight console.</p>"
          }
        },
        "ExecutiveSummary": {
          "target": "com.amazonaws.quicksight#ExecutiveSummaryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Adds the executive summaries feature to an embedded Amazon QuickSight console.</p>"
          }
        },
        "DataStories": {
          "target": "com.amazonaws.quicksight#DataStoriesConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Adds the data stories feature to an embedded Amazon QuickSight console.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of Amazon Q feature configurations in an embedded Amazon QuickSight console.</p>"
      }
    },
    "com.amazonaws.quicksight#AmazonQInQuickSightDashboardConfigurations": {
      "type": "structure",
      "members": {
        "ExecutiveSummary": {
          "target": "com.amazonaws.quicksight#ExecutiveSummaryConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A generated executive summary of an embedded Amazon QuickSight dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of Amazon Q feature configurations in an embedded Amazon QuickSight dashboard.</p>"
      }
    },
    "com.amazonaws.quicksight#Analysis": {
      "type": "structure",
      "members": {
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the analysis.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status associated with the analysis.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.quicksight#AnalysisErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors associated with the analysis.</p>"
          }
        },
        "DataSetArns": {
          "target": "com.amazonaws.quicksight#DataSetArnsList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the datasets of the analysis.</p>"
          }
        },
        "ThemeArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the theme of the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        },
        "Sheets": {
          "target": "com.amazonaws.quicksight#SheetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the associated sheets with the unique identifier and name of each sheet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata structure for an analysis in Amazon QuickSight</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisDefaults": {
      "type": "structure",
      "members": {
        "DefaultNewSheetConfiguration": {
          "target": "com.amazonaws.quicksight#DefaultNewSheetConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for default new sheet settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for default analysis settings.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisDefinition": {
      "type": "structure",
      "members": {
        "DataSetIdentifierDeclarations": {
          "target": "com.amazonaws.quicksight#DataSetIdentifierDeclarationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of dataset identifier declarations. This mapping allows the usage of dataset identifiers instead\n            of dataset ARNs throughout analysis sub-structures.</p>",
            "smithy.api#required": {}
          }
        },
        "Sheets": {
          "target": "com.amazonaws.quicksight#SheetDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of sheet definitions for an analysis. Each <code>SheetDefinition</code> provides detailed information about\n            a sheet within this analysis.</p>"
          }
        },
        "CalculatedFields": {
          "target": "com.amazonaws.quicksight#CalculatedFields",
          "traits": {
            "smithy.api#documentation": "<p>An array of calculated field definitions for the analysis.</p>"
          }
        },
        "ParameterDeclarations": {
          "target": "com.amazonaws.quicksight#ParameterDeclarationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of parameter declarations for an analysis.</p>\n         <p>Parameters are named variables that can transfer a value for use by an action or an object.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/parameters-in-quicksight.html\">Parameters in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
          }
        },
        "FilterGroups": {
          "target": "com.amazonaws.quicksight#FilterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Filter definitions for an analysis.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/adding-a-filter.html\">Filtering Data in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
          }
        },
        "ColumnConfigurations": {
          "target": "com.amazonaws.quicksight#ColumnConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>\n            An array of analysis-level column configurations. Column configurations can be used to set default\n            formatting for a column to be used throughout an analysis.\n        </p>"
          }
        },
        "AnalysisDefaults": {
          "target": "com.amazonaws.quicksight#AnalysisDefaults"
        },
        "Options": {
          "target": "com.amazonaws.quicksight#AssetOptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of option definitions for an analysis.</p>"
          }
        },
        "QueryExecutionOptions": {
          "target": "com.amazonaws.quicksight#QueryExecutionOptions"
        },
        "StaticFiles": {
          "target": "com.amazonaws.quicksight#StaticFileList",
          "traits": {
            "smithy.api#documentation": "<p>The static files for the definition.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisError": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.quicksight#AnalysisErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the analysis error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the analysis error.</p>"
          }
        },
        "ViolatedEntities": {
          "target": "com.amazonaws.quicksight#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the violated entities that caused the analysis error</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Analysis error.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorType": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        },
        "SOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_NOT_FOUND"
          }
        },
        "DATA_SET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SET_NOT_FOUND"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        },
        "PARAMETER_VALUE_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_VALUE_INCOMPATIBLE"
          }
        },
        "PARAMETER_TYPE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_TYPE_INVALID"
          }
        },
        "PARAMETER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_NOT_FOUND"
          }
        },
        "COLUMN_TYPE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_TYPE_MISMATCH"
          }
        },
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH"
          }
        },
        "COLUMN_REPLACEMENT_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_REPLACEMENT_MISSING"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisFilterAttribute": {
      "type": "enum",
      "members": {
        "QUICKSIGHT_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_USER"
          }
        },
        "QUICKSIGHT_VIEWER_OR_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_VIEWER_OR_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_VIEWER_OR_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_VIEWER_OR_OWNER"
          }
        },
        "QUICKSIGHT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_SOLE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_SOLE_OWNER"
          }
        },
        "ANALYSIS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_NAME"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilter": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#FilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator that you want to use as a filter, for example  <code>\"Operator\": \"StringEquals\"</code>. Valid values are  <code>\"StringEquals\"</code>  and  <code>\"StringLike\"</code>.</p>\n         <p>If you set the operator value to <code>\"StringEquals\"</code>, you need to provide an ownership related filter in the <code>\"NAME\"</code> field and the arn of the user or group whose folders you want to search in the <code>\"Value\"</code> field. For example,  <code>\"Name\":\"DIRECT_QUICKSIGHT_OWNER\", \"Operator\": \"StringEquals\", \"Value\": \"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>\n         <p>If you set the value to <code>\"StringLike\"</code>, you need to provide the name of the folders you are searching for. For example, <code>\"Name\":\"ANALYSIS_NAME\", \"Operator\": \"StringLike\", \"Value\": \"Test\"</code>. The <code>\"StringLike\"</code> operator only supports the <code>NAME</code> value <code>ANALYSIS_NAME</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisFilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the value that you want to use as a filter, for example <code>\"Name\":\n                \"QUICKSIGHT_OWNER\"</code>.</p>\n         <p>Valid values are defined as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>QUICKSIGHT_VIEWER_OR_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the analysis' owners or viewers are returned. Implicit permissions from folders or groups are considered. </p>\n            </li>\n            <li>\n               <p>\n                  <code>QUICKSIGHT_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners of the analyses are returned. Implicit permissions from folders or groups are considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_SOLE_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as the only owner of the analysis are returned. Implicit permissions from folders or groups are not considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners of the analyses are returned. Implicit permissions from folders or groups are not considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_VIEWER_OR_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners or viewers of the analyses are returned. Implicit permissions from folders or groups are not considered. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ANALYSIS_NAME</code>: Any analyses whose names have a substring match to this value will be returned.</p>\n            </li>\n         </ul>"
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the named item, in this case <code>QUICKSIGHT_USER</code>, that you want\n            to use as a filter, for example <code>\"Value\"</code>. An example is\n                <code>\"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter that you apply when searching for one or more analyses.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSearchFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceEntity": {
      "type": "structure",
      "members": {
        "SourceTemplate": {
          "target": "com.amazonaws.quicksight#AnalysisSourceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The source template for the source entity of the analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source entity of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceTemplate": {
      "type": "structure",
      "members": {
        "DataSetReferences": {
          "target": "com.amazonaws.quicksight#DataSetReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>The dataset references of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source template of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the analysis.</p>"
          }
        },
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis. This ID displays in the URL.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis. This name is displayed in the Amazon QuickSight console.\n            </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The last known status for the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary metadata that describes an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#Anchor": {
      "type": "structure",
      "members": {
        "AnchorType": {
          "target": "com.amazonaws.quicksight#AnchorType",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AnchorType</code> for the Anchor.</p>"
          }
        },
        "TimeGranularity": {
          "target": "com.amazonaws.quicksight#TimeGranularity",
          "traits": {
            "smithy.api#documentation": "<p>The <code>TimeGranularity</code> of the Anchor.</p>"
          }
        },
        "Offset": {
          "target": "com.amazonaws.quicksight#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The offset of the Anchor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of the Anchor.</p>"
      }
    },
    "com.amazonaws.quicksight#AnchorDateConfiguration": {
      "type": "structure",
      "members": {
        "AnchorOption": {
          "target": "com.amazonaws.quicksight#AnchorOption",
          "traits": {
            "smithy.api#documentation": "<p>The options for the date configuration. Choose one of the options below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NOW</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "ParameterName": {
          "target": "com.amazonaws.quicksight#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter that is used for the anchor date configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The date configuration of the filter.</p>"
      }
    },
    "com.amazonaws.quicksight#AnchorOption": {
      "type": "enum",
      "members": {
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOW"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnchorType": {
      "type": "enum",
      "members": {
        "TODAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TODAY"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialDashboardId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The dashboard ID for the dashboard that you want the user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders this dashboard.</p>\n         <p>The Amazon Resource Name (ARN) of this dashboard must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EnabledFeatures": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationEnabledFeatures",
          "traits": {
            "smithy.api#documentation": "<p>A list of all enabled features of a specified anonymous dashboard.</p>"
          }
        },
        "DisabledFeatures": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationDisabledFeatures",
          "traits": {
            "smithy.api#documentation": "<p>A list of all disabled features of a specified anonymous dashboard.</p>"
          }
        },
        "FeatureConfigurations": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardFeatureConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The feature configuration for an embedded dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the dashboard that you want to embed.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationDisabledFeature": {
      "type": "enum",
      "members": {
        "SHARED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_VIEW"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationDisabledFeatures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationDisabledFeature"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationEnabledFeature": {
      "type": "enum",
      "members": {
        "SHARED_VIEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_VIEW"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationEnabledFeatures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfigurationEnabledFeature"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardFeatureConfigurations": {
      "type": "structure",
      "members": {
        "SharedView": {
          "target": "com.amazonaws.quicksight#SharedViewConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The shared view settings of an embedded dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The feature configuration for an embedded dashboard.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardVisualEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialDashboardVisualId": {
          "target": "com.amazonaws.quicksight#DashboardVisualId",
          "traits": {
            "smithy.api#documentation": "<p>The visual ID for the visual that you want the user to see. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders this visual.</p>\n         <p>The Amazon Resource Name (ARN) of the dashboard that the visual belongs to must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The experience that you are embedding. You can use this object to generate a url that embeds a visual into your application.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserEmbeddingExperienceConfiguration": {
      "type": "structure",
      "members": {
        "Dashboard": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of embedding experience. In this case, Amazon QuickSight dashboards.</p>"
          }
        },
        "DashboardVisual": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardVisualEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of embedding experience. In this case, Amazon QuickSight visuals.</p>"
          }
        },
        "QSearchBar": {
          "target": "com.amazonaws.quicksight#AnonymousUserQSearchBarEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Q search bar that you want to use for anonymous user embedding.</p>"
          }
        },
        "GenerativeQnA": {
          "target": "com.amazonaws.quicksight#AnonymousUserGenerativeQnAEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Generative Q&A experience that you want to use for anonymous user embedding.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of experience you want to embed. For anonymous users, you can embed Amazon QuickSight dashboards.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserGenerativeQnAEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialTopicId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon QuickSight Q topic ID of the new reader experience topic that you want the anonymous user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders the Generative Q&A experience with this new reader experience topic pre selected.</p>\n         <p>The Amazon Resource Name (ARN) of this Q new reader experience topic must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request fails with an <code>InvalidParameterValueException</code> error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings that you want to use for the Generative Q&A experience.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserQSearchBarEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialTopicId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon QuickSight Q topic ID of the legacy topic that you want the anonymous user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders the Q search bar with this legacy topic pre-selected.</p>\n         <p>The Amazon Resource Name (ARN) of this Q legacy topic must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request fails with an <code>InvalidParameterValueException</code> error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings that you want to use with the Q search bar.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserSnapshotJobResult": {
      "type": "structure",
      "members": {
        "FileGroups": {
          "target": "com.amazonaws.quicksight#SnapshotJobResultFileGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>SnapshotJobResultFileGroup</code> objects that contain information on the files that are requested during a <code>StartDashboardSnapshotJob</code> API call. If the job succeeds, these objects contain the location where the snapshot artifacts are stored. If the job fails, the objects contain information about the error that caused the job to fail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the file groups that are requested for the artifact generation in a <code>StartDashboardSnapshotJob</code> API call.\n        </p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserSnapshotJobResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnonymousUserSnapshotJobResult"
      }
    },
    "com.amazonaws.quicksight#AnswerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_.\\\\+]*$"
      }
    },
    "com.amazonaws.quicksight#AnswerIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnswerId"
      }
    },
    "com.amazonaws.quicksight#ApplicationTheme": {
      "type": "structure",
      "members": {
        "BrandColorPalette": {
          "target": "com.amazonaws.quicksight#BrandColorPalette",
          "traits": {
            "smithy.api#documentation": "<p>The color palette.</p>"
          }
        },
        "BrandElementStyle": {
          "target": "com.amazonaws.quicksight#BrandElementStyle",
          "traits": {
            "smithy.api#documentation": "<p>The element style.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The application theme.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcAxisConfiguration": {
      "type": "structure",
      "members": {
        "Range": {
          "target": "com.amazonaws.quicksight#ArcAxisDisplayRange",
          "traits": {
            "smithy.api#documentation": "<p>The arc axis range of a <code>GaugeChartVisual</code>.</p>"
          }
        },
        "ReserveRange": {
          "target": "com.amazonaws.quicksight#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The reserved range of the arc axis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc axis configuration of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcAxisDisplayRange": {
      "type": "structure",
      "members": {
        "Min": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The minimum value of the arc axis range.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum value of the arc axis range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc axis range of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcConfiguration": {
      "type": "structure",
      "members": {
        "ArcAngle": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The option that determines the arc angle of a <code>GaugeChartVisual</code>.</p>"
          }
        },
        "ArcThickness": {
          "target": "com.amazonaws.quicksight#ArcThicknessOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine the arc thickness of a <code>GaugeChartVisual</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc configuration of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcOptions": {
      "type": "structure",
      "members": {
        "ArcThickness": {
          "target": "com.amazonaws.quicksight#ArcThickness",
          "traits": {
            "smithy.api#documentation": "<p>The arc thickness of a <code>GaugeChartVisual</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The options that determine the arc thickness of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcThickness": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE"
          }
        },
        "WHOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHOLE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#ArcThicknessOptions": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#Arn": {
      "type": "string"
    },
    "com.amazonaws.quicksight#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#Arn"
      }
    },
    "com.amazonaws.quicksight#AssetBundleCloudFormationOverridePropertyConfiguration": {
      "type": "structure",
      "members": {
        "ResourceIdOverrideConfiguration": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobResourceIdOverrideConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how resource IDs are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "VPCConnections": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>VPCConnection</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "RefreshSchedules": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobRefreshScheduleOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>RefreshSchedule</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSourceOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>DataSource</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "DataSets": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSetOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>DataSet</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "Themes": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobThemeOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>Theme</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "Analyses": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobAnalysisOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>Analysis</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "Dashboards": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDashboardOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that control how <code>Dashboard</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        },
        "Folders": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobFolderOverridePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of structures that controls how <code>Folder</code> resources are parameterized in the returned CloudFormation template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional collection of CloudFormation property configurations that control how the export job is generated.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportFormat": {
      "type": "enum",
      "members": {
        "CLOUDFORMATION_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFORMATION_JSON"
          }
        },
        "QUICKSIGHT_JSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_JSON"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobAnalysisOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>Analysis</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobAnalysisPropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Analysis</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>Analysis</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobAnalysisOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobAnalysisOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobAnalysisPropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobAnalysisPropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobAnalysisPropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDashboardOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>Dashboard</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDashboardPropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Dashboard</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>Dashboard</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDashboardOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDashboardOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDashboardPropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDashboardPropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDashboardPropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSetOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>DataSet</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSetPropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSet</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>DataSet</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSetOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSetOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSetPropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        },
        "REFRESH_FAILURE_EMAIL_ALERT_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RefreshFailureEmailAlertStatus"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSetPropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSetPropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSourceOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>DataSource</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSourcePropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSource</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>DataSource</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSourceOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSourceOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSourcePropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        },
        "DISABLE_SSL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DisableSsl"
          }
        },
        "SECRET_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SecretArn"
          }
        },
        "USERNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Username"
          }
        },
        "PASSWORD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Password"
          }
        },
        "DOMAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Domain"
          }
        },
        "WORK_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WorkGroup"
          }
        },
        "HOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Host"
          }
        },
        "PORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Port"
          }
        },
        "DATABASE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Database"
          }
        },
        "DATA_SET_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DataSetName"
          }
        },
        "CATALOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Catalog"
          }
        },
        "INSTANCE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InstanceId"
          }
        },
        "CLUSTER_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ClusterId"
          }
        },
        "MANIFEST_FILE_LOCATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ManifestFileLocation"
          }
        },
        "WAREHOUSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warehouse"
          }
        },
        "ROLE_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RoleArn"
          }
        },
        "PRODUCT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductType"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobDataSourcePropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobDataSourcePropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobError": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose processing caused an error.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The specific error type of the error that occurred.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an error that occurred during an Asset Bundle export job.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobError"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobFolderOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>Folder</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobFolderPropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Folder</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>Folder</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobFolderOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobFolderOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobFolderPropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        },
        "PARENT_FOLDER_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ParentFolderArn"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobFolderPropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobFolderPropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobRefreshScheduleOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>RefreshSchedule</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobRefreshSchedulePropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>RefreshSchedule</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>RefreshSchedule</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobRefreshScheduleOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobRefreshScheduleOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobRefreshSchedulePropertyToOverride": {
      "type": "enum",
      "members": {
        "START_AFTER_DATE_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "StartAfterDateTime"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobRefreshSchedulePropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobRefreshSchedulePropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobResourceIdOverrideConfiguration": {
      "type": "structure",
      "members": {
        "PrefixForAllResources": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>An option to request a CloudFormation variable for a prefix to be prepended to each resource's ID before import. The prefix is only added to the asset IDs and does not change the name of the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional structure that configures resource ID overrides for the export job.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobStatus": {
      "type": "enum",
      "members": {
        "QUEUED_FOR_IMMEDIATE_EXECUTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUEUED_FOR_IMMEDIATE_EXECUTION"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobSummary": {
      "type": "structure",
      "members": {
        "JobStatus": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the export job.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the export job.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the export job was created.</p>"
          }
        },
        "AssetBundleExportJobId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the export job.</p>"
          }
        },
        "IncludeAllDependencies": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag that determines the inclusion of resource dependencies in the returned asset bundle.</p>"
          }
        },
        "ExportFormat": {
          "target": "com.amazonaws.quicksight#AssetBundleExportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the export job.</p>"
          }
        },
        "IncludePermissions": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag that determines the inclusion of permissions associated with each resource ARN.</p>"
          }
        },
        "IncludeTags": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The flag that determines the inclusion of tags associated with each resource ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the export job that includes details of the job's configuration and its current status.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobSummary"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobThemeOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>Theme</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobThemePropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Theme</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>Theme</code> resource is parameterized in the returned CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobThemeOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobThemeOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobThemePropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobThemePropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobThemePropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionOverrideProperties": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the specific <code>VPCConnection</code> resource whose override properties are configured in this structure.</p>",
            "smithy.api#required": {}
          }
        },
        "Properties": {
          "target": "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionPropertyToOverrideList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>VPCConnection</code> resource properties to generate variables for in the returned CloudFormation template.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how a specific <code>VPCConnection</code> resource is parameterized in the outputted CloudFormation template.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionOverridePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionOverrideProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionPropertyToOverride": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Name"
          }
        },
        "DNS_RESOLVERS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DnsResolvers"
          }
        },
        "ROLE_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RoleArn"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionPropertyToOverrideList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobVPCConnectionPropertyToOverride"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobValidationStrategy": {
      "type": "structure",
      "members": {
        "StrictModeForAllResources": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that indicates whether to export resources under strict or lenient mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The option to relax the validation that is required to export each asset. When <code>StrictModeForAllResource</code> is set to <code>false</code>, validation is skipped for specific UI errors.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobWarning": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose processing caused a warning.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the warning.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a warning that occurred during an Asset Bundle export job.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleExportJobWarningList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleExportJobWarning"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportBodyBlob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20971520
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportFailureAction": {
      "type": "enum",
      "members": {
        "DO_NOTHING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO_NOTHING"
          }
        },
        "ROLLBACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ROLLBACK"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideParameters": {
      "type": "structure",
      "members": {
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis that you ant to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A new name for the analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The override parameters for a single analysis that is being imported.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideParameters"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverridePermissions": {
      "type": "structure",
      "members": {
        "AnalysisIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of analysis IDs that you want to apply overrides to. You can use <code>*</code> to override all analyses in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#AssetBundleResourcePermissions",
          "traits": {
            "smithy.api#documentation": "<p>A list of permissions for the analyses that you want to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a list of permissions to be applied to a list of analysis IDs.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverridePermissionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverridePermissions"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideTags": {
      "type": "structure",
      "members": {
        "AnalysisIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of analysis IDs that you want to apply overrides to. You can use <code>*</code> to override all analyses in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags for the analyses that you want to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a list of tags to be assigned to a list of analysis IDs.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobAnalysisOverrideTags"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideParameters": {
      "type": "structure",
      "members": {
        "DashboardId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dashboard that you want to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A new name for the dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The override parameters for a single dashboard that is being imported.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideParameters"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverridePermissions": {
      "type": "structure",
      "members": {
        "DashboardIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dashboard IDs that you want to apply overrides to. You can use <code>*</code> to override all dashboards in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#AssetBundleResourcePermissions",
          "traits": {
            "smithy.api#documentation": "<p>A list of permissions for the dashboards that you want to apply overrides to.</p>"
          }
        },
        "LinkSharingConfiguration": {
          "target": "com.amazonaws.quicksight#AssetBundleResourceLinkSharingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the link sharing configurations that you want to apply overrides to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a list of permissions to be applied to a list of dashboard IDs.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverridePermissionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverridePermissions"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideTags": {
      "type": "structure",
      "members": {
        "DashboardIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dashboard IDs that you want to apply overrides to. You can use <code>*</code> to override all dashboards in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags for the dashboards that you want to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a list of tags to be assigned to a list of dashboard IDs.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideTagsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobDashboardOverrideTags"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverrideParameters": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A new name for the dataset.</p>"
          }
        },
        "DataSetRefreshProperties": {
          "target": "com.amazonaws.quicksight#DataSetRefreshProperties"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The override parameters for a single dataset that is being imported.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverrideParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverrideParameters"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverridePermissions": {
      "type": "structure",
      "members": {
        "DataSetIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dataset IDs that you want to apply overrides to. You can use <code>*</code> to override all datasets in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#AssetBundleResourcePermissions",
          "traits": {
            "smithy.api#documentation": "<p>A list of permissions for the datasets that you want to apply overrides to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a list of permissions to be applied to a list of dataset IDs.</p>"
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverridePermissionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverridePermissions"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.quicksight#AssetBundleImportJobDataSetOverrideTags": {
      "type": "structure",
      "members": {
        "DataSetIds": {
          "target": "com.amazonaws.quicksight#AssetBundleRestrictiveResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dataset IDs that you want to apply overrides to. You can use <code>*</code> to override all datasets in this asset bundle.</p>",
            "smithy.api#required": {}
          }
        },
[...]
