{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.quicksight#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to this item. The provided credentials couldn't be\n\t\t\tvalidated. You might not be authorized to carry out the request. Make sure that your\n\t\t\taccount is authorized to use the Amazon QuickSight service, that your policies have the\n\t\t\tcorrect permissions, and that you are using the correct access keys.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.quicksight#AccountCustomization": {
      "type": "structure",
      "members": {
        "DefaultTheme": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The default theme for this QuickSight subscription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon QuickSight customizations associated with your Amazon Web Services account; or a QuickSight namespace in a specific Amazon Web Services Region;.</p>"
      }
    },
    "com.amazonaws.quicksight#AccountSettings": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The \"account name\" you provided for the QuickSight subscription in your Amazon Web Services account;. \n            You create this name when you sign up for QuickSight. It is unique in all of Amazon Web Services and \n            it appears only when users sign in.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.quicksight#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of QuickSight that you're currently subscribed to:\n        Enterprise edition or Standard edition.</p>"
          }
        },
        "DefaultNamespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The default QuickSight namespace for your Amazon Web Services account;. </p>"
          }
        },
        "NotificationEmail": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The main notification email for your QuickSight subscription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The QuickSight settings associated with your Amazon Web Services account;.</p>"
      }
    },
    "com.amazonaws.quicksight#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the IAM policy assignment.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The active Identity and Access Management (IAM) policy assignment.</p>"
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ActiveIAMPolicyAssignment"
      }
    },
    "com.amazonaws.quicksight#AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "target": "com.amazonaws.quicksight#DashboardBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Availability status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ad hoc (one-time) filtering option.</p>"
      }
    },
    "com.amazonaws.quicksight#AdditionalDashboardIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#RestrictiveResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.quicksight#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)$"
      }
    },
    "com.amazonaws.quicksight#AmazonElasticsearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Elasticsearch Service domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Elasticsearch Service parameters.</p>"
      }
    },
    "com.amazonaws.quicksight#Analysis": {
      "type": "structure",
      "members": {
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the analysis.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status associated with the analysis.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.quicksight#AnalysisErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors associated with the analysis.</p>"
          }
        },
        "DataSetArns": {
          "target": "com.amazonaws.quicksight#DataSetArnsList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the datasets of the analysis.</p>"
          }
        },
        "ThemeArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the theme of the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        },
        "Sheets": {
          "target": "com.amazonaws.quicksight#SheetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the associated sheets with the unique identifier and name of each sheet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata structure for an analysis in Amazon QuickSight</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisError": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.quicksight#AnalysisErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the analysis error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the analysis error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A metadata error structure for an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "SOURCE_NOT_FOUND",
            "name": "SOURCE_NOT_FOUND"
          },
          {
            "value": "DATA_SET_NOT_FOUND",
            "name": "DATA_SET_NOT_FOUND"
          },
          {
            "value": "INTERNAL_FAILURE",
            "name": "INTERNAL_FAILURE"
          },
          {
            "value": "PARAMETER_VALUE_INCOMPATIBLE",
            "name": "PARAMETER_VALUE_INCOMPATIBLE"
          },
          {
            "value": "PARAMETER_TYPE_INVALID",
            "name": "PARAMETER_TYPE_INVALID"
          },
          {
            "value": "PARAMETER_NOT_FOUND",
            "name": "PARAMETER_NOT_FOUND"
          },
          {
            "value": "COLUMN_TYPE_MISMATCH",
            "name": "COLUMN_TYPE_MISMATCH"
          },
          {
            "value": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH",
            "name": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH"
          },
          {
            "value": "COLUMN_REPLACEMENT_MISSING",
            "name": "COLUMN_REPLACEMENT_MISSING"
          }
        ]
      }
    },
    "com.amazonaws.quicksight#AnalysisFilterAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUICKSIGHT_USER",
            "name": "QUICKSIGHT_USER"
          }
        ]
      }
    },
    "com.amazonaws.quicksight#AnalysisName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilter": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#FilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator that you want to use as a filter, for example\n                <code>\"Operator\": \"StringEquals\"</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisFilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the value that you want to use as a filter, for example <code>\"Name\":\n                \"QUICKSIGHT_USER\"</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the named item, in this case <code>QUICKSIGHT_USER</code>, that you want\n            to use as a filter, for example <code>\"Value\"</code>. An example is\n                <code>\"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter that you apply when searching for one or more analyses.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSearchFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceEntity": {
      "type": "structure",
      "members": {
        "SourceTemplate": {
          "target": "com.amazonaws.quicksight#AnalysisSourceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The source template for the source entity of the analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source entity of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceTemplate": {
      "type": "structure",
      "members": {
        "DataSetReferences": {
          "target": "com.amazonaws.quicksight#DataSetReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>The dataset references of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source template of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the analysis.</p>"
          }
        },
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis. This ID displays in the URL.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis. This name is displayed in the QuickSight console.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The last known status for the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary metadata that describes an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialDashboardId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The dashboard ID for the dashboard that you want the user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders this dashboard.</p>\n        <p>The Amazon Resource Name (ARN) of this dashboard must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the dashboard that you want to embed.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserEmbeddingExperienceConfiguration": {
      "type": "structure",
      "members": {
        "Dashboard": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of embedding experience. In this case, an Amazon QuickSight dashboard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of experience you want to embed. For anonymous users, you can embed an Amazon QuickSight dashboard.</p>"
      }
    },
    "com.amazonaws.quicksight#Arn": {
      "type": "string"
    },
    "com.amazonaws.quicksight#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#Arn"
      }
    },
    "com.amazonaws.quicksight#AssignmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DRAFT",
            "name": "DRAFT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.quicksight#AthenaParameters": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.quicksight#WorkGroup",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup that Amazon Athena uses.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Athena parameters.</p>"
      }
    },
    "com.amazonaws.quicksight#AuroraParameters": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>Host.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "<p>Port.</p>",
            "smithy.api#required": {}
          }
        },
        "Database": {
          "target": "com.amazonaws.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>Database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Aurora parameters.</p>"
      }
    },
    "com.amazonaws.quicksight#AuroraPostgreSqlParameters": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>Host.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.quicksight#Port",
          "traits": {
            "smithy.api#documentation": "<p>Port.</p>",
            "smithy.api#required": {}
          }
        },
        "Database": {
          "target": "com.amazonaws.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>Database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Aurora with PostgreSQL compatibility parameters.</p>"
      }
    },
    "com.amazonaws.quicksight#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.quicksight#AwsAndAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(aws|[0-9]{12})$"
      }
    },
    "com.amazonaws.quicksight#AwsIotAnalyticsParameters": {
      "type": "structure",
      "members": {
        "DataSetName": {
          "target": "com.amazonaws.quicksight#DataSetName",
          "traits": {
            "smithy.api#documentation": "<p>Dataset name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services IoT Analytics parameters.</p>"
      }
    },
    "com.amazonaws.quicksight#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.quicksight#BorderStyle": {
      "type": "structure",
      "members": {
        "Show": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The option to enable display of borders for visuals.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The display options for tile borders for visuals.</p>"
      }
    },
    "com.amazonaws.quicksight#CalculatedColumn": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify a calculated column. During a dataset update, if the column ID\n            of a calculated column matches that of an existing calculated column, Amazon QuickSight\n            preserves the existing calculated column.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that defines the calculated column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A calculated column for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#CalculatedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CalculatedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#CancelIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CancelIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CancelIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an ongoing ingestion of data into SPICE.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CancelIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account; ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset used in the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CancelIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CastColumnTypeOperation": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnType": {
          "target": "com.amazonaws.quicksight#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>New column data type.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.quicksight#TypeCastFormat",
          "traits": {
            "smithy.api#documentation": "<p>When casting a column from string to datetime type, you can supply a string in a\n            format supported by Amazon QuickSight to denote the source data format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that casts a column to a different type.</p>"
      }
    },
    "com.amazonaws.quicksight#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#ColorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#HexColor"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#ColumnDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "INTEGER",
            "name": "INTEGER"
          },
          {
            "value": "DECIMAL",
            "name": "DECIMAL"
          },
          {
            "value": "DATETIME",
            "name": "DATETIME"
          }
        ]
      }
    },
    "com.amazonaws.quicksight#ColumnDescription": {
      "type": "structure",
      "members": {
        "Text": {
          "target": "com.amazonaws.quicksight#ColumnDescriptiveText",
          "traits": {
            "smithy.api#documentation": "<p>The text of a description for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata that contains a description for a column.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnDescriptiveText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.quicksight#ColumnGroup": {
      "type": "structure",
      "members": {
        "GeoSpatialColumnGroup": {
          "target": "com.amazonaws.quicksight#GeoSpatialColumnGroup",
          "traits": {
            "smithy.api#documentation": "<p>Geospatial column group that denotes a hierarchy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Groupings of columns that work together in certain Amazon QuickSight features. This is\n            a variant type structure. For this structure to be valid, only one of the attributes can\n            be non-null.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnGroupColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column group's column schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure describing the name, data type, and geographic role of the columns.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnGroupColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnGroupColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.quicksight#ColumnGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.quicksight#ColumnGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#ColumnGroupSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column group schema.</p>"
          }
        },
        "ColumnGroupColumnSchemaList": {
          "target": "com.amazonaws.quicksight#ColumnGroupColumnSchemaList",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the list of schemas for column group columns.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The column group schema.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnGroupSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnGroupSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.quicksight#ColumnId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.quicksight#ColumnLevelPermissionRule": {
      "type": "structure",
      "members": {
        "Principals": {
          "target": "com.amazonaws.quicksight#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Resource Names (ARNs) for QuickSight users or groups.</p>"
          }
        },
        "ColumnNames": {
          "target": "com.amazonaws.quicksight#ColumnNameList",
          "traits": {
            "smithy.api#documentation": "<p>An array of column names.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule defined to grant access on one or more restricted columns. \n            Each dataset can have multiple rules. \n            To create a restricted column, you add it to one or more rules. \n            Each rule must contain at least one column and at least one user or group. \n            To be able to see a restricted column, a user or group needs to be added \n            to a rule for that column.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnLevelPermissionRuleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnLevelPermissionRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#ColumnNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#ColumnSchema": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column schema.</p>"
          }
        },
        "DataType": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column schema.</p>"
          }
        },
        "GeographicRole": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The geographic role of the column schema.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The column schema.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnSchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnSchema"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.quicksight#ColumnTag": {
      "type": "structure",
      "members": {
        "ColumnGeographicRole": {
          "target": "com.amazonaws.quicksight#GeoSpatialDataRole",
          "traits": {
            "smithy.api#documentation": "<p>A geospatial role for a column.</p>"
          }
        },
        "ColumnDescription": {
          "target": "com.amazonaws.quicksight#ColumnDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for a column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A tag for a column in a <a>TagColumnOperation</a> structure. This is a\n            variant type structure. For this structure to be valid, only one of the attributes can\n            be non-null.</p>"
      }
    },
    "com.amazonaws.quicksight#ColumnTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ColumnTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ConcurrentUpdatingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource is already in a state that indicates an operation is happening that must complete\n\t\t\tbefore a new update can be applied.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.quicksight#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.quicksight#CopySourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[-a-z0-9]*:quicksight:[-a-z0-9]*:[0-9]{12}:datasource/.+$"
      }
    },
    "com.amazonaws.quicksight#CreateAccountCustomization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateAccountCustomizationRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateAccountCustomizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates Amazon QuickSight customizations the current Amazon Web Services Region;. Currently, you can\n            add a custom default theme by using the <code>CreateAccountCustomization</code> or\n                <code>UpdateAccountCustomization</code> API operation. To further customize\n            QuickSight by removing QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing QuickSight</a> in the <i>Amazon QuickSight User\n                Guide.</i>\n         </p>\n        <p>You can create customizations for your Amazon Web Services account; or, if you specify a namespace, for\n            a QuickSight namespace instead. Customizations that apply to a namespace always override\n            customizations that apply to an Amazon Web Services account;. To find out which customizations apply, use\n            the <code>DescribeAccountCustomization</code> API operation.</p>\n        <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme \n            as the namespace default, make sure that you first share the theme with the namespace. \n            If you don't share it with the namespace, the theme isn't visible to your users \n            even if you make it the default theme. \n            To check if the theme is shared, view the current permissions by using the \n            <code>\n               <a>DescribeThemePermissions</a>\n            </code> API operation.\n            To share the theme, grant permissions by using the \n            <code>\n               <a>UpdateThemePermissions</a>\n            </code> API operation. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/customizations",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateAccountCustomizationRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Amazon Web Services account; that you want to customize QuickSight for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight namespace that you want to add customizations to.</p>",
            "smithy.api#httpQuery": "namespace"
          }
        },
        "AccountCustomization": {
          "target": "com.amazonaws.quicksight#AccountCustomization",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight customizations you're adding in the current Amazon Web Services Region;. You can add\n            these to an Amazon Web Services account; and a QuickSight namespace. </p>\n        <p>For example, you can add a default theme by setting <code>AccountCustomization</code>\n            to the midnight theme: <code>\"AccountCustomization\": { \"DefaultTheme\":\n                \"arn:aws:quicksight::aws:theme/MIDNIGHT\" }</code>. Or, you can add a custom theme by\n            specifying <code>\"AccountCustomization\": { \"DefaultTheme\":\n                \"arn:aws:quicksight:us-west-2:111122223333:theme/bdb844d0-0fe9-4d9d-b520-0fe602d93639\"\n                }</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tags that you want to attach to this resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateAccountCustomizationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the customization that you created for this Amazon Web Services account;.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Amazon Web Services account; that you want to customize QuickSight for.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace associated with the customization you're creating. </p>"
          }
        },
        "AccountCustomization": {
          "target": "com.amazonaws.quicksight#AccountCustomization",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight customizations you're adding in the current Amazon Web Services Region;. </p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateAnalysis": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateAnalysisRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateAnalysisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an analysis in Amazon QuickSight.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/analyses/{AnalysisId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateAnalysisRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account; where you are creating an analysis.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the analysis that you're creating. This ID displays in the URL of the\n            analysis.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the analysis that you're creating. This name displays for the\n            analysis in the QuickSight console. </p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.quicksight#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameter names and override values that you want to use. An analysis can have \n            any parameter type, and some parameters might accept multiple values. </p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the principals and the resource-level permissions on an\n            analysis. You can use the <code>Permissions</code> structure to grant permissions by\n            providing a list of Identity and Access Management (IAM) action information for each\n            principal listed by Amazon Resource Name (ARN). </p>\n        \n        <p>To specify no permissions, omit <code>Permissions</code>.</p>"
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.quicksight#AnalysisSourceEntity",
          "traits": {
            "smithy.api#documentation": "<p>A source entity to use for the analysis that you're creating. This metadata structure\n            contains details that describe a source template and one or more datasets.</p>",
            "smithy.api#required": {}
          }
        },
        "ThemeArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the theme to apply to the analysis that you're creating. To see the theme\n            in the QuickSight console, make sure that you have access to it.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the\n            analysis.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateAnalysisResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the analysis.</p>"
          }
        },
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the creation of the analysis. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateColumnsOperation": {
      "type": "structure",
      "members": {
        "Columns": {
          "target": "com.amazonaws.quicksight#CalculatedColumnList",
          "traits": {
            "smithy.api#documentation": "<p>Calculated columns to create.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that creates calculated columns. Columns created in one such\n            operation form a lexical closure.</p>"
      }
    },
    "com.amazonaws.quicksight#CreateDashboard": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateDashboardRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateDashboardResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dashboard from a template. To first create a template, see the <code>\n               <a>CreateTemplate</a>\n            </code> API operation.</p>\n        <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created\n            from analyses. You can share QuickSight dashboards. With the right permissions, you can\n            create scheduled email reports from them. If you have the correct permissions, you can\n            create a dashboard from a template that exists in a different Amazon Web Services account;.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/dashboards/{DashboardId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateDashboardRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account; where you want to create the dashboard.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dashboard, also added to the IAM policy.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#DashboardName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the dashboard.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.quicksight#Parameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for the creation of the dashboard, which you want to use to override\n            the default settings. A dashboard can have any type of parameters, and some parameters\n            might accept multiple values. </p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the permissions of the dashboard. You can use this structure\n            for granting permissions by providing a list of IAM action information for each\n            principal ARN. </p>\n\n        <p>To specify no permissions, omit the permissions list.</p>"
          }
        },
        "SourceEntity": {
          "target": "com.amazonaws.quicksight#DashboardSourceEntity",
          "traits": {
            "smithy.api#documentation": "<p>The entity that you are using as a source when you create the dashboard. In\n            <code>SourceEntity</code>, you specify the type of object you're using as source. You\n            can only create a dashboard from a template, so you use a <code>SourceTemplate</code>\n            entity. If you need to create a dashboard from an analysis, first convert the analysis\n            to a template by using the <a>CreateTemplate</a> API operation. For\n            <code>SourceTemplate</code>, specify the Amazon Resource Name (ARN) of the source\n            template. The <code>SourceTemplate</code>ARN can contain any Amazon Web Services account; and any\n            QuickSight-supported Amazon Web Services Region;. </p>\n        <p>Use the <code>DataSetReferences</code> entity within <code>SourceTemplate</code> to\n            list the replacement datasets for the placeholders listed in the original. The schema in\n            each dataset must match its placeholder. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the\n            dashboard.</p>"
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.quicksight#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the first version of the dashboard being created.</p>"
          }
        },
        "DashboardPublishOptions": {
          "target": "com.amazonaws.quicksight#DashboardPublishOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options for publishing the dashboard when you create it:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>AvailabilityStatus</code> for <code>AdHocFilteringOption</code> - This\n                    status can be either <code>ENABLED</code> or <code>DISABLED</code>. When this is\n                    set to <code>DISABLED</code>, QuickSight disables the left filter pane on the\n                    published dashboard, which can be used for ad hoc (one-time) filtering. This\n                    option is <code>ENABLED</code> by default. </p>\n            </li>\n            <li>\n                <p>\n                  <code>AvailabilityStatus</code> for <code>ExportToCSVOption</code> - This\n                    status can be either <code>ENABLED</code> or <code>DISABLED</code>. The visual\n                    option to export data to .CSV format isn't enabled when this is set to\n                    <code>DISABLED</code>. This option is <code>ENABLED</code> by default. </p>\n            </li>\n            <li>\n                <p>\n                  <code>VisibilityState</code> for <code>SheetControlsOption</code> - This\n                    visibility state can be either <code>COLLAPSED</code> or <code>EXPANDED</code>.\n                    This option is <code>COLLAPSED</code> by default. </p>\n            </li>\n         </ul>"
          }
        },
        "ThemeArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the theme that is being used for this dashboard. If\n            you add a value for this field, it overrides the value that is used in the source\n            entity. The theme ARN must exist in the same Amazon Web Services account; where you create the\n            dashboard.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateDashboardResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dashboard.</p>"
          }
        },
        "VersionArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dashboard, including the version number of the first version that is\n            created.</p>"
          }
        },
        "DashboardId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dashboard.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dashboard creation request.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateDataSetRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateDataSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sets",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSetRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account; ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the dataset that you want to create. This ID is unique per Amazon Web Services Region; for each Amazon Web Services account;.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "PhysicalTableMap": {
          "target": "com.amazonaws.quicksight#PhysicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Declares the physical tables that are available in the underlying data sources.</p>",
            "smithy.api#required": {}
          }
        },
        "LogicalTableMap": {
          "target": "com.amazonaws.quicksight#LogicalTableMap",
          "traits": {
            "smithy.api#documentation": "<p>Configures the combination and transformation of the data from the physical tables.</p>"
          }
        },
        "ImportMode": {
          "target": "com.amazonaws.quicksight#DataSetImportMode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you want to import the data into SPICE.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnGroups": {
          "target": "com.amazonaws.quicksight#ColumnGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Groupings of columns that work together in certain QuickSight features. Currently, only geospatial hierarchy is supported.</p>"
          }
        },
        "FieldFolders": {
          "target": "com.amazonaws.quicksight#FieldFolderMap",
          "traits": {
            "smithy.api#documentation": "<p>The folder that contains fields and nested subfolders for your dataset.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions on the dataset.</p>"
          }
        },
        "RowLevelPermissionDataSet": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionDataSet",
          "traits": {
            "smithy.api#documentation": "<p>The row-level security configuration for the data that you want to create.</p>"
          }
        },
        "RowLevelPermissionTagConfiguration": {
          "target": "com.amazonaws.quicksight#RowLevelPermissionTagConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of tags on a dataset to set row-level security. Row-level security tags are currently supported for anonymous embedding only.</p>"
          }
        },
        "ColumnLevelPermissionRules": {
          "target": "com.amazonaws.quicksight#ColumnLevelPermissionRuleList",
          "traits": {
            "smithy.api#documentation": "<p>A set of one or more definitions of a <code>\n               <a>ColumnLevelPermissionRule</a>\n            </code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>"
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the dataset that you want to create. This ID is unique per Amazon Web Services Region; for each Amazon Web Services account;.</p>"
          }
        },
        "IngestionArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the ingestion, which is triggered as a result of dataset creation if the import\n\t\t\tmode is SPICE.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ingestion, which is triggered as a result of dataset creation if the import\n\t\t\tmode is SPICE.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/data-sources",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account; ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the data source. This ID is unique per Amazon Web Services Region; for each Amazon Web Services account;. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A display name for the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.quicksight#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source. Currently, the supported types for this operation are:\n\t\t\t<code>ATHENA, AURORA, AURORA_POSTGRESQL, AMAZON_ELASTICSEARCH, MARIADB, MYSQL, POSTGRESQL, PRESTO, REDSHIFT, S3,\n\t\t\tSNOWFLAKE, SPARK, SQLSERVER, TERADATA</code>. \n\t\t\tUse <code>ListDataSources</code> to return a\n\t\t\tlist of all data sources.</p>\n\t\t       <p>\n            <code>AMAZON_ELASTICSEARCH</code> is for Amazon managed Elasticsearch Service.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceParameters": {
          "target": "com.amazonaws.quicksight#DataSourceParameters",
          "traits": {
            "smithy.api#documentation": "<p>The parameters that QuickSight uses to connect to your underlying source.</p>"
          }
        },
        "Credentials": {
          "target": "com.amazonaws.quicksight#DataSourceCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials QuickSight that uses to connect to your underlying source. Currently, only\n\t\t\tcredentials based on user name and password are supported.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource permissions on the data source.</p>"
          }
        },
        "VpcConnectionProperties": {
          "target": "com.amazonaws.quicksight#VpcConnectionProperties",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter only when you want QuickSight to use a VPC connection when connecting to\n\t\t\tyour underlying source.</p>"
          }
        },
        "SslProperties": {
          "target": "com.amazonaws.quicksight#SslProperties",
          "traits": {
            "smithy.api#documentation": "<p>Secure Socket Layer (SSL) properties that apply when QuickSight connects to your underlying source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Contains a map of the key-value pairs for the resource tag or tags assigned to the data source.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data source.</p>"
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.quicksight#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data source. This ID is unique per Amazon Web Services Region; for each Amazon Web Services account;.</p>"
          }
        },
        "CreationStatus": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of creating the data source.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolder": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateFolderRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateFolderResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty shared folder.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/folders/{FolderId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolderMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateFolderMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateFolderMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        },
        {
          "target": "com.amazonaws.quicksight#UnsupportedUserEditionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an asset, such as a dashboard, analysis, or dataset into a folder.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolderMembershipRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FolderId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The folder ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset (the dashboard, analysis, or dataset).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberType": {
          "target": "com.amazonaws.quicksight#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the member, including <code>DASHBOARD</code>, <code>ANALYSIS</code>, and <code>DATASET</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolderMembershipResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status of the folder membership. If succeeded, the status is <code>SC_OK (200)</code>.</p>"
          }
        },
        "FolderMember": {
          "target": "com.amazonaws.quicksight#FolderMember",
          "traits": {
            "smithy.api#documentation": "<p>Information about the member in the folder.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The request ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolderRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FolderId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The folder ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#FolderName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the folder.</p>"
          }
        },
        "FolderType": {
          "target": "com.amazonaws.quicksight#FolderType",
          "traits": {
            "smithy.api#documentation": "<p>The type of folder. By default, <code>folderType</code> is <code>SHARED</code>.</p>"
          }
        },
        "ParentFolderArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the parent folder.</p>\n\t        <p>\n            <code>ParentFolderArn</code> can be null. An empty <code>parentFolderArn</code> creates a root-level folder.</p>"
          }
        },
        "Permissions": {
          "target": "com.amazonaws.quicksight#ResourcePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the principals and the resource-level permissions of a folder.</p>\n\t        <p>To specify no permissions, omit <code>Permissions</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.quicksight#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags for the folder.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateFolderResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status of the newly created folder. If succeeded, the status is <code>SC_OK (200)</code>.</p>",
            "smithy.api#httpResponseCode": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the newly created folder.</p>"
          }
        },
        "FolderId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The folder ID for the newly created folder.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The request ID for the newly created folder.</p>"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon QuickSight group.</p>\n\t\t       <p>The permissions resource is\n\t\t\t\t\t<code>arn:aws:quicksight:us-east-1:<i><relevant-aws-account-id></i>:group/default/<i><group-name></i>\n            </code>.</p>\n\t\t       <p>The response is a group object.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateGroupMembership": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateGroupMembershipRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateGroupMembershipResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateGroupMembershipRequest": {
      "type": "structure",
      "members": {
        "MemberName": {
          "target": "com.amazonaws.quicksight#GroupMemberName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user that you want to add to the group membership.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupName": {
          "target": "com.amazonaws.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group that you want to add the user to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Amazon Web Services account; that the group is in. Currently, you use the ID for the \n\t\t\tAmazon Web Services account; that contains your Amazon QuickSight account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateGroupMembershipResponse": {
      "type": "structure",
      "members": {
        "GroupMember": {
          "target": "com.amazonaws.quicksight#GroupMember",
          "traits": {
            "smithy.api#documentation": "<p>The group member.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.quicksight#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the group that you want to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.quicksight#GroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description for the group that you want to create.</p>"
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the Amazon Web Services account; that the group is in. Currently, you use the ID for the \n\t\t\tAmazon Web Services account; that contains your Amazon QuickSight account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace. Currently, you should set this to <code>default</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for this operation. </p>"
      }
    },
    "com.amazonaws.quicksight#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.quicksight#Group",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object for this operation.</p>"
      }
    },
    "com.amazonaws.quicksight#CreateIAMPolicyAssignment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateIAMPolicyAssignmentRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateIAMPolicyAssignmentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConcurrentUpdatingException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name \n\t\t\t(ARN). This policy assignment is attached to the specified groups or users of Amazon QuickSight.\n\t\t\tAssignment names are unique per Amazon Web Services account;. To avoid overwriting rules in other namespaces, \n\t\t\tuse assignment names that are unique.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateIAMPolicyAssignmentRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account; where you want to assign an IAM policy to QuickSight users or\n\t\t\tgroups.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AssignmentName": {
          "target": "com.amazonaws.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assignment, also called a rule. It must be unique within an Amazon Web Services account;.</p>",
            "smithy.api#required": {}
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assignment. Possible values are as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Anything specified in this assignment is used when creating the data\n\t\t\t\t\tsource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - This assignment isn't used when creating the data source.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the\n\t\t\t\t\tdata source.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM policy to apply to the QuickSight users and groups\n\t\t\tspecified in this assignment.</p>"
          }
        },
        "Identities": {
          "target": "com.amazonaws.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight users, groups, or both that you want to assign the policy to.</p>"
          }
        },
        "Namespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace that contains the assignment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateIAMPolicyAssignmentResponse": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assignment. This name must be unique within the Amazon Web Services account;.</p>"
          }
        },
        "AssignmentId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the assignment.</p>"
          }
        },
        "AssignmentStatus": {
          "target": "com.amazonaws.quicksight#AssignmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the assignment. Possible values are as follows:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>ENABLED</code> - Anything specified in this assignment is used when creating the data\n\t\t\t\tsource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISABLED</code> - This assignment isn't used when creating the data source.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DRAFT</code> - This assignment is an unfinished draft and isn't used when creating the\n\t\t\t\tdata source.</p>\n            </li>\n         </ul>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM policy that is applied to the QuickSight users and groups specified in this assignment.</p>"
          }
        },
        "Identities": {
          "target": "com.amazonaws.quicksight#IdentityMap",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight users, groups, or both that the IAM policy is assigned to.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and starts a new SPICE ingestion on a dataset</p>\n\t\t\n\t\t       <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in\n\t\t\taccess control. For an example, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using\n\t\t\t\ttags?</a> in the Amazon Web Services Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CreateIngestionRequest": {
      "type": "structure",
      "members": {
        "DataSetId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset used in the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account; ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>"
          }
        },
        "IngestionStatus": {
          "target": "com.amazonaws.quicksight#IngestionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The ingestion status.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CreateNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#ConflictException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#LimitExceededException"
        },
        {
          "target": "com.amazonaws.quicksight#PreconditionNotMetException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
[...]
