{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.quicksight#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.quicksight#String"
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access to this item. The provided credentials couldn't be\n\t\t\tvalidated. You might not be authorized to carry out the request. Make sure that your\n\t\t\taccount is authorized to use the Amazon QuickSight service, that your policies have the\n\t\t\tcorrect permissions, and that you are using the correct access keys.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.quicksight#AccountCustomization": {
      "type": "structure",
      "members": {
        "DefaultTheme": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The default theme for this Amazon QuickSight subscription.</p>"
          }
        },
        "DefaultEmailCustomizationTemplate": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The default email customization template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon QuickSight customizations associated with your Amazon Web Services account or a QuickSight namespace in a specific Amazon Web Services Region.</p>"
      }
    },
    "com.amazonaws.quicksight#AccountInfo": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The account name that you provided for the Amazon QuickSight subscription in your\n                Amazon Web Services account. You create this name when you sign up for Amazon QuickSight. It's unique over all of Amazon Web Services, and it appears only when\n            users sign in.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.quicksight#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of your Amazon QuickSight account.</p>"
          }
        },
        "NotificationEmail": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The email address that will be used for Amazon QuickSight to send notifications regarding your Amazon Web Services account or Amazon QuickSight subscription.</p>"
          }
        },
        "AuthenticationType": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The way that your Amazon QuickSight account is authenticated.</p>"
          }
        },
        "AccountSubscriptionStatus": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of your account subscription.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the following account information\n            elements:</p>\n         <ul>\n            <li>\n               <p>Your Amazon QuickSight account name.</p>\n            </li>\n            <li>\n               <p>The edition of Amazon QuickSight that your account is using.</p>\n            </li>\n            <li>\n               <p>The notification email address that is associated with the Amazon QuickSight account.\n            </p>\n            </li>\n            <li>\n               <p>The authentication type of the Amazon QuickSight account.</p>\n            </li>\n            <li>\n               <p>The status of the Amazon QuickSight account's subscription.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.quicksight#AccountSettings": {
      "type": "structure",
      "members": {
        "AccountName": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The \"account name\" you provided for the Amazon QuickSight subscription in your Amazon Web Services account.\n            You create this name when you sign up for Amazon QuickSight. It is unique in all of Amazon Web Services and\n            it appears only when users sign in.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.quicksight#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon QuickSight that you're currently subscribed to:\n        Enterprise edition or Standard edition.</p>"
          }
        },
        "DefaultNamespace": {
          "target": "com.amazonaws.quicksight#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The default Amazon QuickSight namespace for your Amazon Web Services account. </p>"
          }
        },
        "NotificationEmail": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The main notification email for your Amazon QuickSight subscription.</p>"
          }
        },
        "PublicSharingEnabled": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that indicates whether public sharing is turned on for an Amazon QuickSight account. For more information about turning on public sharing, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdatePublicSharingSettings.html\">UpdatePublicSharingSettings</a>.</p>"
          }
        },
        "TerminationProtectionEnabled": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value that determines whether or not an Amazon QuickSight account can be deleted. A <code>True</code> value doesn't allow the account to be deleted and results in an error message if a user tries to make a <code>DeleteAccountSubsctiption</code> request. A <code>False</code> value will allow the ccount to be deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon QuickSight settings associated with your Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.quicksight#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignment": {
      "type": "structure",
      "members": {
        "AssignmentName": {
          "target": "com.amazonaws.quicksight#IAMPolicyAssignmentName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the IAM policy assignment.</p>"
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The active Identity and Access Management (IAM) policy assignment.</p>"
      }
    },
    "com.amazonaws.quicksight#ActiveIAMPolicyAssignmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ActiveIAMPolicyAssignment"
      }
    },
    "com.amazonaws.quicksight#AdHocFilteringOption": {
      "type": "structure",
      "members": {
        "AvailabilityStatus": {
          "target": "com.amazonaws.quicksight#DashboardBehavior",
          "traits": {
            "smithy.api#documentation": "<p>Availability status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An ad hoc (one-time) filtering option.</p>"
      }
    },
    "com.amazonaws.quicksight#AdditionalDashboardIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.quicksight#AggregationFunction": {
      "type": "structure",
      "members": {
        "NumericalAggregationFunction": {
          "target": "com.amazonaws.quicksight#NumericalAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for numerical values.</p>"
          }
        },
        "CategoricalAggregationFunction": {
          "target": "com.amazonaws.quicksight#CategoricalAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for categorical values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COUNT</code>: Aggregate by the total number of values, including duplicates.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISTINCT_COUNT</code>: Aggregate by the total number of distinct values.</p>\n            </li>\n         </ul>"
          }
        },
        "DateAggregationFunction": {
          "target": "com.amazonaws.quicksight#DateAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>Aggregation for date values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COUNT</code>: Aggregate by the total number of values, including duplicates.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DISTINCT_COUNT</code>: Aggregate by the total number of distinct values.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MIN</code>: Select the smallest date value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MAX</code>: Select the largest date value.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation function aggregates values from a dimension or measure.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationSortConfiguration": {
      "type": "structure",
      "members": {
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that determines the sort order of aggregated values.</p>",
            "smithy.api#required": {}
          }
        },
        "SortDirection": {
          "target": "com.amazonaws.quicksight#SortDirection",
          "traits": {
            "smithy.api#documentation": "<p>The sort direction of values.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ASC</code>: Sort in ascending order.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DESC</code>: Sort in descending order.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "AggregationFunction": {
          "target": "com.amazonaws.quicksight#AggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>The function that aggregates the values in <code>Column</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration options to sort aggregated values.</p>"
      }
    },
    "com.amazonaws.quicksight#AggregationSortConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AggregationSortConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[\\w\\-]+|(\\$LATEST)|(\\$PUBLISHED)$"
      }
    },
    "com.amazonaws.quicksight#AmazonElasticsearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The OpenSearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for OpenSearch.</p>"
      }
    },
    "com.amazonaws.quicksight#AmazonOpenSearchParameters": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.quicksight#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The OpenSearch domain.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for OpenSearch.</p>"
      }
    },
    "com.amazonaws.quicksight#Analysis": {
      "type": "structure",
      "members": {
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the analysis.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the analysis.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status associated with the analysis.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.quicksight#AnalysisErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Errors associated with the analysis.</p>"
          }
        },
        "DataSetArns": {
          "target": "com.amazonaws.quicksight#DataSetArnsList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the datasets of the analysis.</p>"
          }
        },
        "ThemeArn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the theme of the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        },
        "Sheets": {
          "target": "com.amazonaws.quicksight#SheetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the associated sheets with the unique identifier and name of each sheet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata structure for an analysis in Amazon QuickSight</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisDefaults": {
      "type": "structure",
      "members": {
        "DefaultNewSheetConfiguration": {
          "target": "com.amazonaws.quicksight#DefaultNewSheetConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for default new sheet settings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for default analysis settings.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisDefinition": {
      "type": "structure",
      "members": {
        "DataSetIdentifierDeclarations": {
          "target": "com.amazonaws.quicksight#DataSetIdentifierDeclarationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of dataset identifier declarations. This mapping allows the usage of dataset identifiers instead\n            of dataset ARNs throughout analysis sub-structures.</p>",
            "smithy.api#required": {}
          }
        },
        "Sheets": {
          "target": "com.amazonaws.quicksight#SheetDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>An array of sheet definitions for an analysis. Each <code>SheetDefinition</code> provides detailed information about\n            a sheet within this analysis.</p>"
          }
        },
        "CalculatedFields": {
          "target": "com.amazonaws.quicksight#CalculatedFields",
          "traits": {
            "smithy.api#documentation": "<p>An array of calculated field definitions for the analysis.</p>"
          }
        },
        "ParameterDeclarations": {
          "target": "com.amazonaws.quicksight#ParameterDeclarationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of parameter declarations for an analysis.</p>\n         <p>Parameters are named variables that can transfer a value for use by an action or an object.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/parameters-in-quicksight.html\">Parameters in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
          }
        },
        "FilterGroups": {
          "target": "com.amazonaws.quicksight#FilterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Filter definitions for an analysis.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/adding-a-filter.html\">Filtering Data in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
          }
        },
        "ColumnConfigurations": {
          "target": "com.amazonaws.quicksight#ColumnConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>\n            An array of analysis-level column configurations. Column configurations can be used to set default\n            formatting for a column to be used throughout an analysis.\n        </p>"
          }
        },
        "AnalysisDefaults": {
          "target": "com.amazonaws.quicksight#AnalysisDefaults"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The definition of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisError": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.quicksight#AnalysisErrorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the analysis error.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.quicksight#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the analysis error.</p>"
          }
        },
        "ViolatedEntities": {
          "target": "com.amazonaws.quicksight#EntityList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Analysis error.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisErrorType": {
      "type": "enum",
      "members": {
        "ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCESS_DENIED"
          }
        },
        "SOURCE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOURCE_NOT_FOUND"
          }
        },
        "DATA_SET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_SET_NOT_FOUND"
          }
        },
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        },
        "PARAMETER_VALUE_INCOMPATIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_VALUE_INCOMPATIBLE"
          }
        },
        "PARAMETER_TYPE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_TYPE_INVALID"
          }
        },
        "PARAMETER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PARAMETER_NOT_FOUND"
          }
        },
        "COLUMN_TYPE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_TYPE_MISMATCH"
          }
        },
        "COLUMN_GEOGRAPHIC_ROLE_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_GEOGRAPHIC_ROLE_MISMATCH"
          }
        },
        "COLUMN_REPLACEMENT_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COLUMN_REPLACEMENT_MISSING"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisFilterAttribute": {
      "type": "enum",
      "members": {
        "QUICKSIGHT_USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_USER"
          }
        },
        "QUICKSIGHT_VIEWER_OR_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_VIEWER_OR_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_VIEWER_OR_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_VIEWER_OR_OWNER"
          }
        },
        "QUICKSIGHT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QUICKSIGHT_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_OWNER"
          }
        },
        "DIRECT_QUICKSIGHT_SOLE_OWNER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIRECT_QUICKSIGHT_SOLE_OWNER"
          }
        },
        "ANALYSIS_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANALYSIS_NAME"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilter": {
      "type": "structure",
      "members": {
        "Operator": {
          "target": "com.amazonaws.quicksight#FilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The comparison operator that you want to use as a filter, for example  <code>\"Operator\": \"StringEquals\"</code>. Valid values are  <code>\"StringEquals\"</code>  and  <code>\"StringLike\"</code>.</p>\n         <p>If you set the operator value to <code>\"StringEquals\"</code>, you need to provide an ownership related filter in the <code>\"NAME\"</code> field and the arn of the user or group whose folders you want to search in the <code>\"Value\"</code> field. For example,  <code>\"Name\":\"DIRECT_QUICKSIGHT_OWNER\", \"Operator\": \"StringEquals\", \"Value\": \"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>\n         <p>If you set the value to <code>\"StringLike\"</code>, you need to provide the name of the folders you are searching for. For example, <code>\"Name\":\"ANALYSIS_NAME\", \"Operator\": \"StringLike\", \"Value\": \"Test\"</code>. The <code>\"StringLike\"</code> operator only supports the <code>NAME</code> value <code>ANALYSIS_NAME</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisFilterAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the value that you want to use as a filter, for example <code>\"Name\":\n                \"QUICKSIGHT_OWNER\"</code>.</p>\n         <p>Valid values are defined as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>QUICKSIGHT_VIEWER_OR_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the analysis' owners or viewers are returned. Implicit permissions from folders or groups are considered. </p>\n            </li>\n            <li>\n               <p>\n                  <code>QUICKSIGHT_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners of the analyses are returned. Implicit permissions from folders or groups are considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_SOLE_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as the only owner of the analysis are returned. Implicit permissions from folders or groups are not considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners of the analyses are returned. Implicit permissions from folders or groups are not considered.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DIRECT_QUICKSIGHT_VIEWER_OR_OWNER</code>: Provide an ARN of a user or group, and any analyses with that ARN listed as one of the owners or viewers of the analyses are returned. Implicit permissions from folders or groups are not considered. </p>\n            </li>\n            <li>\n               <p>\n                  <code>ANALYSIS_NAME</code>: Any analyses whose names have a substring match to this value will be returned.</p>\n            </li>\n         </ul>"
          }
        },
        "Value": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the named item, in this case <code>QUICKSIGHT_USER</code>, that you want\n            to use as a filter, for example <code>\"Value\"</code>. An example is\n                <code>\"arn:aws:quicksight:us-east-1:1:user/default/UserName1\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter that you apply when searching for one or more analyses.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSearchFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSearchFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceEntity": {
      "type": "structure",
      "members": {
        "SourceTemplate": {
          "target": "com.amazonaws.quicksight#AnalysisSourceTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The source template for the source entity of the analysis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source entity of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSourceTemplate": {
      "type": "structure",
      "members": {
        "DataSetReferences": {
          "target": "com.amazonaws.quicksight#DataSetReferenceList",
          "traits": {
            "smithy.api#documentation": "<p>The dataset references of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the source template of an analysis.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source template of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummary": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the analysis.</p>"
          }
        },
        "AnalysisId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the analysis. This ID displays in the URL.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#AnalysisName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the analysis. This name is displayed in the Amazon QuickSight console.\n            </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The last known status for the analysis.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.quicksight#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the analysis was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary metadata that describes an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#AnalysisSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AnalysisSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#AnchorDateConfiguration": {
      "type": "structure",
      "members": {
        "AnchorOption": {
          "target": "com.amazonaws.quicksight#AnchorOption",
          "traits": {
            "smithy.api#documentation": "<p>The options for the date configuration. Choose one of the options below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NOW</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "ParameterName": {
          "target": "com.amazonaws.quicksight#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter that is used for the anchor date configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The date configuration of the filter.</p>"
      }
    },
    "com.amazonaws.quicksight#AnchorOption": {
      "type": "enum",
      "members": {
        "NOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOW"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialDashboardId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The dashboard ID for the dashboard that you want the user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders this dashboard.</p>\n         <p>The Amazon Resource Name (ARN) of this dashboard must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the dashboard that you want to embed.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserDashboardVisualEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialDashboardVisualId": {
          "target": "com.amazonaws.quicksight#DashboardVisualId",
          "traits": {
            "smithy.api#documentation": "<p>The visual ID for the visual that you want the user to see. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders this visual.</p>\n         <p>The Amazon Resource Name (ARN) of the dashboard that the visual belongs to must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The experience that you are embedding. You can use this object to generate a url that embeds a visual into your application.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserEmbeddingExperienceConfiguration": {
      "type": "structure",
      "members": {
        "Dashboard": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of embedding experience. In this case, Amazon QuickSight dashboards.</p>"
          }
        },
        "DashboardVisual": {
          "target": "com.amazonaws.quicksight#AnonymousUserDashboardVisualEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The type of embedding experience. In this case, Amazon QuickSight visuals.</p>"
          }
        },
        "QSearchBar": {
          "target": "com.amazonaws.quicksight#AnonymousUserQSearchBarEmbeddingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The Q search bar that you want to use for anonymous user embedding.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of experience you want to embed. For anonymous users, you can embed Amazon QuickSight dashboards.</p>"
      }
    },
    "com.amazonaws.quicksight#AnonymousUserQSearchBarEmbeddingConfiguration": {
      "type": "structure",
      "members": {
        "InitialTopicId": {
          "target": "com.amazonaws.quicksight#RestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The QuickSight Q topic ID of the topic that you want the anonymous user to see first. This ID is included in the output URL. When the URL in response is accessed, Amazon QuickSight renders the Q search bar with this topic pre-selected.</p>\n         <p>The Amazon Resource Name (ARN) of this Q topic must be included in the <code>AuthorizedResourceArns</code> parameter. Otherwise, the request will fail with <code>InvalidParameterValueException</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings that you want to use with the Q search bar.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcAxisConfiguration": {
      "type": "structure",
      "members": {
        "Range": {
          "target": "com.amazonaws.quicksight#ArcAxisDisplayRange",
          "traits": {
            "smithy.api#documentation": "<p>The arc axis range of a <code>GaugeChartVisual</code>.</p>"
          }
        },
        "ReserveRange": {
          "target": "com.amazonaws.quicksight#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The reserved range of the arc axis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc axis configuration of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcAxisDisplayRange": {
      "type": "structure",
      "members": {
        "Min": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The minimum value of the arc axis range.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum value of the arc axis range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc axis range of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcConfiguration": {
      "type": "structure",
      "members": {
        "ArcAngle": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The option that determines the arc angle of a <code>GaugeChartVisual</code>.</p>"
          }
        },
        "ArcThickness": {
          "target": "com.amazonaws.quicksight#ArcThicknessOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine the arc thickness of a <code>GaugeChartVisual</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The arc configuration of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcOptions": {
      "type": "structure",
      "members": {
        "ArcThickness": {
          "target": "com.amazonaws.quicksight#ArcThickness",
          "traits": {
            "smithy.api#documentation": "<p>The arc thickness of a <code>GaugeChartVisual</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The options that determine the arc thickness of a <code>GaugeChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#ArcThickness": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE"
          }
        },
        "WHOLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHOLE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#ArcThicknessOptions": {
      "type": "enum",
      "members": {
        "SMALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMALL"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "LARGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LARGE"
          }
        }
      }
    },
    "com.amazonaws.quicksight#Arn": {
      "type": "string"
    },
    "com.amazonaws.quicksight#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#Arn"
      }
    },
    "com.amazonaws.quicksight#AssignmentStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DRAFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DRAFT"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AthenaParameters": {
      "type": "structure",
      "members": {
        "WorkGroup": {
          "target": "com.amazonaws.quicksight#WorkGroup",
          "traits": {
            "smithy.api#documentation": "<p>The workgroup that Amazon Athena uses.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.quicksight#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>RoleArn</code> structure to override an account-wide role for a specific Athena data source. For example, say an account administrator has turned off all Athena access with an account-wide role. The administrator can then use <code>RoleArn</code> to bypass the account-wide role and allow Athena access for the single Athena data source that is specified in the structure, even if the account-wide role forbidding Athena access is still active.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for Amazon Athena.</p>"
      }
    },
    "com.amazonaws.quicksight#AuroraParameters": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>Host.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.quicksight#Port",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Port.</p>",
            "smithy.api#required": {}
          }
        },
        "Database": {
          "target": "com.amazonaws.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>Database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for Amazon Aurora.</p>"
      }
    },
    "com.amazonaws.quicksight#AuroraPostgreSqlParameters": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.quicksight#Host",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Aurora PostgreSQL-Compatible host to connect to.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.quicksight#Port",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The port that Amazon Aurora PostgreSQL is listening on.</p>",
            "smithy.api#required": {}
          }
        },
        "Database": {
          "target": "com.amazonaws.quicksight#Database",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Aurora PostgreSQL database to connect to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters for Amazon Aurora PostgreSQL-Compatible Edition.</p>"
      }
    },
    "com.amazonaws.quicksight#AuthenticationMethodOption": {
      "type": "enum",
      "members": {
        "IAM_AND_QUICKSIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_AND_QUICKSIGHT"
          }
        },
        "IAM_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM_ONLY"
          }
        },
        "ACTIVE_DIRECTORY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE_DIRECTORY"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.quicksight#AwsAndAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(aws|[0-9]{12})$"
      }
    },
    "com.amazonaws.quicksight#AwsIotAnalyticsParameters": {
      "type": "structure",
      "members": {
        "DataSetName": {
          "target": "com.amazonaws.quicksight#DataSetName",
          "traits": {
            "smithy.api#documentation": "<p>Dataset name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for IoT Analytics.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisBinding": {
      "type": "enum",
      "members": {
        "PRIMARY_YAXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRIMARY_YAXIS"
          }
        },
        "SECONDARY_YAXIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SECONDARY_YAXIS"
          }
        }
      }
    },
    "com.amazonaws.quicksight#AxisDataOptions": {
      "type": "structure",
      "members": {
        "NumericAxisOptions": {
          "target": "com.amazonaws.quicksight#NumericAxisOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options for an axis with a numeric field.</p>"
          }
        },
        "DateAxisOptions": {
          "target": "com.amazonaws.quicksight#DateAxisOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options for an axis with a date field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data options for an axis.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisDisplayDataDrivenRange": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The options that are saved for future extension.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisDisplayMinMaxRange": {
      "type": "structure",
      "members": {
        "Minimum": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The minimum setup for an axis display range.</p>"
          }
        },
        "Maximum": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum setup for an axis display range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The minimum and maximum setup for an axis display range.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisDisplayOptions": {
      "type": "structure",
      "members": {
        "TickLabelOptions": {
          "target": "com.amazonaws.quicksight#AxisTickLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The tick label options of an axis.</p>"
          }
        },
        "AxisLineVisibility": {
          "target": "com.amazonaws.quicksight#Visibility",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether or not the axis line is visible.</p>"
          }
        },
        "GridLineVisibility": {
          "target": "com.amazonaws.quicksight#Visibility",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether or not the grid line is visible.</p>"
          }
        },
        "DataOptions": {
          "target": "com.amazonaws.quicksight#AxisDataOptions",
          "traits": {
            "smithy.api#documentation": "<p>The data options for an axis.</p>"
          }
        },
        "ScrollbarOptions": {
          "target": "com.amazonaws.quicksight#ScrollBarOptions",
          "traits": {
            "smithy.api#documentation": "<p>The scroll bar options for an axis.</p>"
          }
        },
        "AxisOffset": {
          "target": "com.amazonaws.quicksight#PixelLength",
          "traits": {
            "smithy.api#documentation": "<p>The offset value that determines the starting placement of the axis within a visual's bounds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The display options for the axis label.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisDisplayRange": {
      "type": "structure",
      "members": {
        "MinMax": {
          "target": "com.amazonaws.quicksight#AxisDisplayMinMaxRange",
          "traits": {
            "smithy.api#documentation": "<p>The minimum and maximum setup of an axis display range.</p>"
          }
        },
        "DataDriven": {
          "target": "com.amazonaws.quicksight#AxisDisplayDataDrivenRange",
          "traits": {
            "smithy.api#documentation": "<p>The data-driven setup of an axis display range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The range setup of a numeric axis display range.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisLabelOptions": {
      "type": "structure",
      "members": {
        "FontConfiguration": {
          "target": "com.amazonaws.quicksight#FontConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The font configuration of the axis label.</p>"
          }
        },
        "CustomLabel": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The text for the axis label.</p>"
          }
        },
        "ApplyTo": {
          "target": "com.amazonaws.quicksight#AxisLabelReferenceOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options that indicate which field the label belongs to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The label options for a chart axis. You must specify the field that the label is targeted to.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisLabelOptionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#AxisLabelOptions"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#AxisLabelReferenceOptions": {
      "type": "structure",
      "members": {
        "FieldId": {
          "target": "com.amazonaws.quicksight#FieldId",
          "traits": {
            "smithy.api#documentation": "<p>The field that the axis label is targeted to.</p>",
            "smithy.api#required": {}
          }
        },
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that the axis label is targeted to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reference that specifies where the axis label is applied to.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisLinearScale": {
      "type": "structure",
      "members": {
        "StepCount": {
          "target": "com.amazonaws.quicksight#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The step count setup of a linear axis.</p>"
          }
        },
        "StepSize": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The step size setup of a linear axis.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The liner axis scale setup.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisLogarithmicScale": {
      "type": "structure",
      "members": {
        "Base": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The base setup of a logarithmic axis scale.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The logarithmic axis scale setup.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisScale": {
      "type": "structure",
      "members": {
        "Linear": {
          "target": "com.amazonaws.quicksight#AxisLinearScale",
          "traits": {
            "smithy.api#documentation": "<p>The linear axis scale setup.</p>"
          }
        },
        "Logarithmic": {
          "target": "com.amazonaws.quicksight#AxisLogarithmicScale",
          "traits": {
            "smithy.api#documentation": "<p>The logarithmic axis scale setup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The scale setup\n            options for a numeric axis display.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#AxisTickLabelOptions": {
      "type": "structure",
      "members": {
        "LabelOptions": {
          "target": "com.amazonaws.quicksight#LabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether or not the axis ticks are visible.</p>"
          }
        },
        "RotationAngle": {
          "target": "com.amazonaws.quicksight#Double",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The rotation angle of the axis tick labels.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The tick label options of an axis.</p>"
      }
    },
    "com.amazonaws.quicksight#BarChartAggregatedFieldWells": {
      "type": "structure",
      "members": {
        "Category": {
          "target": "com.amazonaws.quicksight#DimensionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The category (y-axis) field well of a bar chart.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.quicksight#MeasureFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The value field wells of a bar chart. Values are aggregated by\n            category.</p>"
          }
        },
        "Colors": {
          "target": "com.amazonaws.quicksight#DimensionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The color (group/color) field well of a bar chart.</p>"
          }
        },
        "SmallMultiples": {
          "target": "com.amazonaws.quicksight#SmallMultiplesDimensionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The small multiples field well of a bar chart.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The aggregated field wells of a bar chart.</p>"
      }
    },
    "com.amazonaws.quicksight#BarChartConfiguration": {
      "type": "structure",
      "members": {
        "FieldWells": {
          "target": "com.amazonaws.quicksight#BarChartFieldWells",
          "traits": {
            "smithy.api#documentation": "<p>The field wells of the visual.</p>"
          }
        },
        "SortConfiguration": {
          "target": "com.amazonaws.quicksight#BarChartSortConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of a <code>BarChartVisual</code>.</p>"
          }
        },
        "Orientation": {
          "target": "com.amazonaws.quicksight#BarChartOrientation",
          "traits": {
            "smithy.api#documentation": "<p>The orientation of the bars in a bar chart visual. There are two valid values in this structure:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HORIZONTAL</code>: Used for charts that have horizontal bars. Visuals that use this value are horizontal bar charts, horizontal stacked bar charts, and horizontal stacked 100% bar charts.</p>\n            </li>\n            <li>\n               <p>\n                  <code>VERTICAL</code>: Used for charts that have vertical bars. Visuals that use this value are vertical bar charts, vertical stacked bar charts, and vertical stacked 100% bar charts.</p>\n            </li>\n         </ul>"
          }
        },
        "BarsArrangement": {
          "target": "com.amazonaws.quicksight#BarsArrangement",
          "traits": {
            "smithy.api#documentation": "<p>Determines the arrangement of the bars. The orientation and arrangement of bars determine the type of bar that is used in the visual.</p>"
          }
        },
        "VisualPalette": {
          "target": "com.amazonaws.quicksight#VisualPalette",
          "traits": {
            "smithy.api#documentation": "<p>The palette (chart color) display setup of the visual.</p>"
          }
        },
        "SmallMultiplesOptions": {
          "target": "com.amazonaws.quicksight#SmallMultiplesOptions",
          "traits": {
            "smithy.api#documentation": "<p>The small multiples setup for the visual.</p>"
          }
        },
        "CategoryAxis": {
          "target": "com.amazonaws.quicksight#AxisDisplayOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label display options (grid line, range, scale, axis step) for bar chart category.</p>"
          }
        },
        "CategoryLabelOptions": {
          "target": "com.amazonaws.quicksight#ChartAxisLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label options (label text, label visibility and sort icon visibility) for a bar chart.</p>"
          }
        },
        "ValueAxis": {
          "target": "com.amazonaws.quicksight#AxisDisplayOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label display options (grid line, range, scale, axis step) for a bar chart value.</p>"
          }
        },
        "ValueLabelOptions": {
          "target": "com.amazonaws.quicksight#ChartAxisLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label options (label text, label visibility and sort icon visibility) for a bar chart value.</p>"
          }
        },
        "ColorLabelOptions": {
          "target": "com.amazonaws.quicksight#ChartAxisLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label options (label text, label visibility and sort icon visibility) for a color that is used in a bar chart.</p>"
          }
        },
        "Legend": {
          "target": "com.amazonaws.quicksight#LegendOptions",
          "traits": {
            "smithy.api#documentation": "<p>The legend display setup of the visual.</p>"
          }
        },
        "DataLabels": {
          "target": "com.amazonaws.quicksight#DataLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine if visual data labels are displayed.</p>"
          }
        },
        "Tooltip": {
          "target": "com.amazonaws.quicksight#TooltipOptions",
          "traits": {
            "smithy.api#documentation": "<p>The tooltip display setup of the visual.</p>"
          }
        },
        "ReferenceLines": {
          "target": "com.amazonaws.quicksight#ReferenceLineList",
          "traits": {
            "smithy.api#documentation": "<p>The reference line setup of the visual.</p>"
          }
        },
        "ContributionAnalysisDefaults": {
          "target": "com.amazonaws.quicksight#ContributionAnalysisDefaultList",
          "traits": {
            "smithy.api#documentation": "<p>The contribution analysis (anomaly configuration) setup of the visual.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of a <code>BarChartVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#BarChartFieldWells": {
      "type": "structure",
      "members": {
        "BarChartAggregatedFieldWells": {
          "target": "com.amazonaws.quicksight#BarChartAggregatedFieldWells",
          "traits": {
            "smithy.api#documentation": "<p>The aggregated field wells of a bar chart.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The field wells of a <code>BarChartVisual</code>.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#BarChartOrientation": {
      "type": "enum",
      "members": {
        "HORIZONTAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HORIZONTAL"
          }
        },
        "VERTICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VERTICAL"
          }
        }
      }
    },
    "com.amazonaws.quicksight#BarChartSortConfiguration": {
      "type": "structure",
      "members": {
        "CategorySort": {
          "target": "com.amazonaws.quicksight#FieldSortOptionsList",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of category fields.</p>"
          }
        },
        "CategoryItemsLimit": {
          "target": "com.amazonaws.quicksight#ItemsLimitConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of categories displayed in a bar chart.</p>"
          }
        },
        "ColorSort": {
          "target": "com.amazonaws.quicksight#FieldSortOptionsList",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of color fields in a bar chart.</p>"
          }
        },
        "ColorItemsLimit": {
          "target": "com.amazonaws.quicksight#ItemsLimitConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of values displayed in a bar chart.</p>"
          }
        },
        "SmallMultiplesSort": {
          "target": "com.amazonaws.quicksight#FieldSortOptionsList",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of the small multiples field.</p>"
          }
        },
        "SmallMultiplesLimitConfiguration": {
          "target": "com.amazonaws.quicksight#ItemsLimitConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The limit on the number of small multiples panels that are displayed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>sort-configuration-description</p>"
      }
    },
    "com.amazonaws.quicksight#BarChartVisual": {
      "type": "structure",
      "members": {
        "VisualId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a visual. This identifier must be unique within the context of a dashboard, template, or analysis. Two dashboards, analyses, or templates can have visuals with the same identifiers.</p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.quicksight#VisualTitleLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The title that is displayed on the visual.</p>"
          }
        },
        "Subtitle": {
          "target": "com.amazonaws.quicksight#VisualSubtitleLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The subtitle that is displayed on the visual.</p>"
          }
        },
        "ChartConfiguration": {
          "target": "com.amazonaws.quicksight#BarChartConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the visual.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.quicksight#VisualCustomActionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of custom actions that are configured for a visual.</p>"
          }
        },
        "ColumnHierarchies": {
          "target": "com.amazonaws.quicksight#ColumnHierarchyList",
          "traits": {
            "smithy.api#documentation": "<p>The column hierarchy that is used during drill-downs and drill-ups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bar chart.</p>\n         <p>The <code>BarChartVisual</code> structure describes a visual that is a member of the bar chart family. The following charts can be described using this structure:</p>\n         <ul>\n            <li>\n               <p>Horizontal bar chart</p>\n            </li>\n            <li>\n               <p>Vertical bar chart</p>\n            </li>\n            <li>\n               <p>Horizontal stacked bar chart</p>\n            </li>\n            <li>\n               <p>Vertical stacked bar chart</p>\n            </li>\n            <li>\n               <p>Horizontal stacked 100% bar chart</p>\n            </li>\n            <li>\n               <p>Vertical stacked 100% bar chart</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/bar-charts.html\">Using bar charts</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
      }
    },
    "com.amazonaws.quicksight#BarsArrangement": {
      "type": "enum",
      "members": {
        "CLUSTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTERED"
          }
        },
        "STACKED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKED"
          }
        },
        "STACKED_PERCENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STACKED_PERCENT"
          }
        }
      }
    },
    "com.amazonaws.quicksight#BaseMapStyleType": {
      "type": "enum",
      "members": {
        "LIGHT_GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIGHT_GRAY"
          }
        },
        "DARK_GRAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DARK_GRAY"
          }
        },
        "STREET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STREET"
          }
        },
        "IMAGERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMAGERY"
          }
        }
      }
    },
    "com.amazonaws.quicksight#BinCountLimit": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.quicksight#BinCountOptions": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.quicksight#BinCountValue",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine the bin count value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The options that determine the bin count of a histogram.</p>"
      }
    },
    "com.amazonaws.quicksight#BinCountValue": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.quicksight#BinWidthOptions": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.quicksight#BinWidthValue",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine the bin width value.</p>"
          }
        },
        "BinCountLimit": {
          "target": "com.amazonaws.quicksight#BinCountLimit",
          "traits": {
            "smithy.api#documentation": "<p>The options that determine the bin count limit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The options that determine the bin width of a histogram.</p>"
      }
    },
    "com.amazonaws.quicksight#BinWidthValue": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.quicksight#BodySectionConfiguration": {
      "type": "structure",
      "members": {
        "SectionId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a body section.</p>",
            "smithy.api#required": {}
          }
        },
        "Content": {
          "target": "com.amazonaws.quicksight#BodySectionContent",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of content in a body section.</p>",
            "smithy.api#required": {}
          }
        },
        "Style": {
          "target": "com.amazonaws.quicksight#SectionStyle",
          "traits": {
            "smithy.api#documentation": "<p>The style options of a body section.</p>"
          }
        },
        "PageBreakConfiguration": {
          "target": "com.amazonaws.quicksight#SectionPageBreakConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of a page break for a section.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of a body section.</p>"
      }
    },
    "com.amazonaws.quicksight#BodySectionConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#BodySectionConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 28
        }
      }
    },
    "com.amazonaws.quicksight#BodySectionContent": {
      "type": "structure",
      "members": {
        "Layout": {
          "target": "com.amazonaws.quicksight#SectionLayoutConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The layout configuration of a body section.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of content in a body section.</p>"
      }
    },
    "com.amazonaws.quicksight#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.quicksight#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.quicksight#BorderStyle": {
      "type": "structure",
      "members": {
        "Show": {
          "target": "com.amazonaws.quicksight#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The option to enable display of borders for visuals.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The display options for tile borders for visuals.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotAggregatedFieldWells": {
      "type": "structure",
      "members": {
        "GroupBy": {
          "target": "com.amazonaws.quicksight#BoxPlotDimensionFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The group by field well of a box plot chart. Values are grouped based on group by fields.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.quicksight#BoxPlotMeasureFieldList",
          "traits": {
            "smithy.api#documentation": "<p>The value field well of a box plot chart. Values are aggregated based on group by fields.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The aggregated field well for a box plot.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotChartConfiguration": {
      "type": "structure",
      "members": {
        "FieldWells": {
          "target": "com.amazonaws.quicksight#BoxPlotFieldWells",
          "traits": {
            "smithy.api#documentation": "<p>The field wells of the visual.</p>"
          }
        },
        "SortConfiguration": {
          "target": "com.amazonaws.quicksight#BoxPlotSortConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of a <code>BoxPlotVisual</code>.</p>"
          }
        },
        "BoxPlotOptions": {
          "target": "com.amazonaws.quicksight#BoxPlotOptions",
          "traits": {
            "smithy.api#documentation": "<p>The box plot chart options for a box plot visual</p>"
          }
        },
        "CategoryAxis": {
          "target": "com.amazonaws.quicksight#AxisDisplayOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label display options (grid line, range, scale, axis step) of a box plot category.</p>"
          }
        },
        "CategoryLabelOptions": {
          "target": "com.amazonaws.quicksight#ChartAxisLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label options (label text, label visibility and sort Icon visibility) of a box plot category.</p>"
          }
        },
        "PrimaryYAxisDisplayOptions": {
          "target": "com.amazonaws.quicksight#AxisDisplayOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label display options (grid line, range, scale, axis step) of a box plot category.</p>"
          }
        },
        "PrimaryYAxisLabelOptions": {
          "target": "com.amazonaws.quicksight#ChartAxisLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The label options (label text, label visibility and sort icon visibility) of a box plot value.</p>"
          }
        },
        "Legend": {
          "target": "com.amazonaws.quicksight#LegendOptions"
        },
        "Tooltip": {
          "target": "com.amazonaws.quicksight#TooltipOptions",
          "traits": {
            "smithy.api#documentation": "<p>The tooltip display setup of the visual.</p>"
          }
        },
        "ReferenceLines": {
          "target": "com.amazonaws.quicksight#ReferenceLineList",
          "traits": {
            "smithy.api#documentation": "<p>The reference line setup of the visual.</p>"
          }
        },
        "VisualPalette": {
          "target": "com.amazonaws.quicksight#VisualPalette",
          "traits": {
            "smithy.api#documentation": "<p>The palette (chart color) display setup of the visual.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of a <code>BoxPlotVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotDimensionFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#DimensionField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.quicksight#BoxPlotFieldWells": {
      "type": "structure",
      "members": {
        "BoxPlotAggregatedFieldWells": {
          "target": "com.amazonaws.quicksight#BoxPlotAggregatedFieldWells",
          "traits": {
            "smithy.api#documentation": "<p>The aggregated field wells of a box plot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The field wells of a <code>BoxPlotVisual</code>.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotFillStyle": {
      "type": "enum",
      "members": {
        "SOLID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOLID"
          }
        },
        "TRANSPARENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRANSPARENT"
          }
        }
      }
    },
    "com.amazonaws.quicksight#BoxPlotMeasureFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#MeasureField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.quicksight#BoxPlotOptions": {
      "type": "structure",
      "members": {
        "StyleOptions": {
          "target": "com.amazonaws.quicksight#BoxPlotStyleOptions",
          "traits": {
            "smithy.api#documentation": "<p>The style options of the box plot.</p>"
          }
        },
        "OutlierVisibility": {
          "target": "com.amazonaws.quicksight#Visibility",
          "traits": {
            "smithy.api#documentation": "<p>Determines the visibility of the outlier in a box plot.</p>"
          }
        },
        "AllDataPointsVisibility": {
          "target": "com.amazonaws.quicksight#Visibility",
          "traits": {
            "smithy.api#documentation": "<p>Determines the visibility of all data points of the box plot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The options of a box plot visual.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotSortConfiguration": {
      "type": "structure",
      "members": {
        "CategorySort": {
          "target": "com.amazonaws.quicksight#FieldSortOptionsList",
          "traits": {
            "smithy.api#documentation": "<p>The sort configuration of a group by fields.</p>"
          }
        },
        "PaginationConfiguration": {
          "target": "com.amazonaws.quicksight#PaginationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The pagination configuration of a table visual or box plot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The sort configuration of a <code>BoxPlotVisual</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotStyleOptions": {
      "type": "structure",
      "members": {
        "FillStyle": {
          "target": "com.amazonaws.quicksight#BoxPlotFillStyle",
          "traits": {
            "smithy.api#documentation": "<p>The fill styles (solid, transparent) of the box plot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The style options of the box plot.</p>"
      }
    },
    "com.amazonaws.quicksight#BoxPlotVisual": {
      "type": "structure",
      "members": {
        "VisualId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of a visual. This identifier must be unique within the context of a dashboard, template, or analysis. Two dashboards, analyses, or templates can have visuals with the same identifiers..</p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.quicksight#VisualTitleLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The title that is displayed on the visual.</p>"
          }
        },
        "Subtitle": {
          "target": "com.amazonaws.quicksight#VisualSubtitleLabelOptions",
          "traits": {
            "smithy.api#documentation": "<p>The subtitle that is displayed on the visual.</p>"
          }
        },
        "ChartConfiguration": {
          "target": "com.amazonaws.quicksight#BoxPlotChartConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings of the visual.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.quicksight#VisualCustomActionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of custom actions that are configured for a visual.</p>"
          }
        },
        "ColumnHierarchies": {
          "target": "com.amazonaws.quicksight#ColumnHierarchyList",
          "traits": {
            "smithy.api#documentation": "<p>The column hierarchy that is used during drill-downs and drill-ups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A box plot.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/box-plots.html\">Using box plots</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
      }
    },
    "com.amazonaws.quicksight#CIDR": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[1-9]))$"
      }
    },
    "com.amazonaws.quicksight#CalculatedColumn": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnId": {
          "target": "com.amazonaws.quicksight#ColumnId",
          "traits": {
            "smithy.api#documentation": "<p>A unique ID to identify a calculated column. During a dataset update, if the column ID\n            of a calculated column matches that of an existing calculated column, Amazon QuickSight\n            preserves the existing calculated column.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that defines the calculated column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A calculated column for a dataset.</p>"
      }
    },
    "com.amazonaws.quicksight#CalculatedColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CalculatedColumn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#CalculatedField": {
      "type": "structure",
      "members": {
        "DataSetIdentifier": {
          "target": "com.amazonaws.quicksight#DataSetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The data set that is used in this calculated field.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the calculated field.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The expression of the calculated field.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The calculated field of an analysis.</p>"
      }
    },
    "com.amazonaws.quicksight#CalculatedFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CalculatedField"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.quicksight#CalculatedMeasureField": {
      "type": "structure",
      "members": {
        "FieldId": {
          "target": "com.amazonaws.quicksight#FieldId",
          "traits": {
            "smithy.api#documentation": "<p>The custom field ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.quicksight#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The expression in the table calculation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The table calculation measure field for pivot tables.</p>"
      }
    },
    "com.amazonaws.quicksight#CancelIngestion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.quicksight#CancelIngestionRequest"
      },
      "output": {
        "target": "com.amazonaws.quicksight#CancelIngestionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.quicksight#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.quicksight#InternalFailureException"
        },
        {
          "target": "com.amazonaws.quicksight#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.quicksight#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.quicksight#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an ongoing ingestion of data into SPICE.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.quicksight#CancelIngestionRequest": {
      "type": "structure",
      "members": {
        "AwsAccountId": {
          "target": "com.amazonaws.quicksight#AwsAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DataSetId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the dataset used in the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CancelIngestionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.quicksight#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the data ingestion.</p>"
          }
        },
        "IngestionId": {
          "target": "com.amazonaws.quicksight#IngestionId",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the ingestion.</p>"
          }
        },
        "RequestId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services request ID for this operation.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.quicksight#StatusCode",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP status of the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        }
      }
    },
    "com.amazonaws.quicksight#CascadingControlConfiguration": {
      "type": "structure",
      "members": {
        "SourceControls": {
          "target": "com.amazonaws.quicksight#CascadingControlSourceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of source controls that determine the values that are used in the current control.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values that are displayed in a control can be configured to only show values that are valid based on what's selected in other controls.</p>"
      }
    },
    "com.amazonaws.quicksight#CascadingControlSource": {
      "type": "structure",
      "members": {
        "SourceSheetControlId": {
          "target": "com.amazonaws.quicksight#String",
          "traits": {
            "smithy.api#documentation": "<p>The source sheet control ID of a <code>CascadingControlSource</code>.</p>"
          }
        },
        "ColumnToMatch": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column identifier that determines which column to look up for the source sheet control.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source controls that are used in a <code>CascadingControlConfiguration</code>.</p>"
      }
    },
    "com.amazonaws.quicksight#CascadingControlSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.quicksight#CascadingControlSource"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.quicksight#CastColumnTypeOperation": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.quicksight#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>Column name.</p>",
            "smithy.api#required": {}
          }
        },
        "NewColumnType": {
          "target": "com.amazonaws.quicksight#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>New column data type.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.quicksight#TypeCastFormat",
          "traits": {
            "smithy.api#documentation": "<p>When casting a column from string to datetime type, you can supply a string in a\n            format supported by Amazon QuickSight to denote the source data format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A transform operation that casts a column to a different type.</p>"
      }
    },
    "com.amazonaws.quicksight#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.quicksight#CategoricalAggregationFunction": {
      "type": "enum",
      "members": {
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "DISTINCT_COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISTINCT_COUNT"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CategoricalDimensionField": {
      "type": "structure",
      "members": {
        "FieldId": {
          "target": "com.amazonaws.quicksight#FieldId",
          "traits": {
            "smithy.api#documentation": "<p>The custom field ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that is used in the <code>CategoricalDimensionField</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "HierarchyId": {
          "target": "com.amazonaws.quicksight#HierarchyId",
          "traits": {
            "smithy.api#documentation": "<p>The custom hierarchy ID.</p>"
          }
        },
        "FormatConfiguration": {
          "target": "com.amazonaws.quicksight#StringFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The format configuration of the field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dimension type field with categorical type columns..</p>"
      }
    },
    "com.amazonaws.quicksight#CategoricalMeasureField": {
      "type": "structure",
      "members": {
        "FieldId": {
          "target": "com.amazonaws.quicksight#FieldId",
          "traits": {
            "smithy.api#documentation": "<p>The custom field ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that is used in the <code>CategoricalMeasureField</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AggregationFunction": {
          "target": "com.amazonaws.quicksight#CategoricalAggregationFunction",
          "traits": {
            "smithy.api#documentation": "<p>The aggregation function of the measure field.</p>"
          }
        },
        "FormatConfiguration": {
          "target": "com.amazonaws.quicksight#StringFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The format configuration of the field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The measure type field with categorical type columns.</p>"
      }
    },
    "com.amazonaws.quicksight#CategoryDrillDownFilter": {
      "type": "structure",
      "members": {
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that the filter is applied to.</p>",
            "smithy.api#required": {}
          }
        },
        "CategoryValues": {
          "target": "com.amazonaws.quicksight#CategoryValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the string inputs that are the values of the category drill down filter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The numeric equality type drill down filter.</p>"
      }
    },
    "com.amazonaws.quicksight#CategoryFilter": {
      "type": "structure",
      "members": {
        "FilterId": {
          "target": "com.amazonaws.quicksight#ShortRestrictiveResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that uniquely identifies a filter within a dashboard, analysis, or template.</p>",
            "smithy.api#required": {}
          }
        },
        "Column": {
          "target": "com.amazonaws.quicksight#ColumnIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The column that the filter is applied to.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.quicksight#CategoryFilterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a <code>CategoryFilter</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>CategoryFilter</code> filters text values.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/add-a-text-filter-data-prep.html\">Adding text filters</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
      }
    },
    "com.amazonaws.quicksight#CategoryFilterConfiguration": {
      "type": "structure",
      "members": {
        "FilterListConfiguration": {
          "target": "com.amazonaws.quicksight#FilterListConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A list of filter configurations. In the Amazon QuickSight console, this filter type is called a filter list.</p>"
          }
        },
        "CustomFilterListConfiguration": {
          "target": "com.amazonaws.quicksight#CustomFilterListConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A list of custom filter values. In the Amazon QuickSight console, this filter type is called a custom filter list.</p>"
          }
        },
        "CustomFilterConfiguration": {
          "target": "com.amazonaws.quicksight#CustomFilterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A custom filter that filters based on a single value. This filter can be partially matched.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a <code>CategoryFilter</code>.</p>\n         <p>This is a union type structure. For this structure to be valid, only one of the attributes can be defined.</p>"
      }
    },
    "com.amazonaws.quicksight#CategoryFilterMatchOperator": {
      "type": "enum",
      "members": {
        "EQUALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQUALS"
          }
        },
        "DOES_NOT_EQUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_EQUAL"
          }
        },
        "CONTAINS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINS"
          }
        },
        "DOES_NOT_CONTAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_CONTAIN"
          }
        },
        "STARTS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STARTS_WITH"
          }
        },
        "ENDS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENDS_WITH"
          }
        }
      }
    },
    "com.amazonaws.quicksight#CategoryFilterSelectAllOptions": {
      "type": "enum",
      "members": {
        "FILTER_ALL_VALUES": {
          "target": "smithy.api#Unit",
          "traits": {
[...]
