{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ram#AcceptResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the\n            invitation, the resources included in the resource share are available to interact with in the\n            relevant Amazon Web Services Management Consoles and tools.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/acceptresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the invitation that you want to accept.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitation": {
          "target": "com.amazonaws.ram#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the specified invitation.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AmazonResourceSharing": {
      "type": "service",
      "version": "2018-01-04",
      "operations": [
        {
          "target": "com.amazonaws.ram#AcceptResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#CreateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DeleteResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#EnableSharingWithAwsOrganization"
        },
        {
          "target": "com.amazonaws.ram#GetPermission"
        },
        {
          "target": "com.amazonaws.ram#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareAssociations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareInvitations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShares"
        },
        {
          "target": "com.amazonaws.ram#ListPendingInvitationResources"
        },
        {
          "target": "com.amazonaws.ram#ListPermissions"
        },
        {
          "target": "com.amazonaws.ram#ListPermissionVersions"
        },
        {
          "target": "com.amazonaws.ram#ListPrincipals"
        },
        {
          "target": "com.amazonaws.ram#ListResources"
        },
        {
          "target": "com.amazonaws.ram#ListResourceSharePermissions"
        },
        {
          "target": "com.amazonaws.ram#ListResourceTypes"
        },
        {
          "target": "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicy"
        },
        {
          "target": "com.amazonaws.ram#RejectResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#TagResource"
        },
        {
          "target": "com.amazonaws.ram#UntagResource"
        },
        {
          "target": "com.amazonaws.ram#UpdateResourceShare"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RAM",
          "arnNamespace": "ram",
          "cloudFormationName": "RAM",
          "cloudTrailEventSource": "ram.amazonaws.com",
          "endpointPrefix": "ram"
        },
        "aws.auth#sigv4": {
          "name": "ram"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides\n            descriptions and syntax for each of the actions and data types in RAM. RAM is a\n            service that helps you securely share your Amazon Web Services resources across Amazon Web Services accounts. If you\n            have multiple Amazon Web Services accounts, you can use RAM to share those resources with other\n            accounts. If you use Organizations to manage your accounts, then you share your resources\n            with your organization or organizational units (OUs). For supported resource types, you\n            can also share resources with individual Identity and Access Management (IAM) roles an users. </p>\n         <p>To learn more about RAM, see the following resources:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User\n                        Guide</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Resource Access Manager",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://ram.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "us-gov-east-1"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://ram.us-gov-east-1.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "us-gov-west-1"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://ram.us-gov-west-1.amazonaws.com",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ram.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified list of principals and list of resources to a resource share. Principals that\n            already have access to this resource share immediately receive access to the added resources.\n            Newly added principals immediately receive access to the resources shared in this resource share. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can\n            have exactly one permission associated with each resource type in the resource share. You can add\n            a new RAM permission only if there are currently no resources of that resource type\n            currently in the resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to which you want to add or replace\n            permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the RAM permission to associate with the resource share.\n            To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and \n             then choose the name of the permission. The ARN is displayed on the detail page.</p>",
            "smithy.api#required": {}
          }
        },
        "replace": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the specified permission should replace or add to the existing\n            permission associated with the resource share. Use <code>true</code> to replace the current\n            permissions. Use <code>false</code> to add the permission to the current permission. The\n            default value is <code>false</code>.</p>\n         <note>\n            <p>A resource share can have only one permission per resource type. If a resource share already has a\n                permission for the specified resource type and you don't set <code>replace</code> to\n                    <code>true</code> then the operation returns an error. This helps prevent\n                accidental overwriting of a permission.</p>\n         </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the RAM permission to associate with the resource share. If you don't\n            specify this parameter, the operation uses the version designated as the default. You\n            can use the <a>ListPermissionVersions</a> operation to discover the available\n            versions of a permission.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. \n             A value of <code>false</code> indicates that the request failed.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to add principals or resources\n            to.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources that you want to share. This can be\n                <code>null</code> if you want to add only principals.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of principals to whom you want to the resource share. This can be\n                <code>null</code> if you want to add only resources.</p>\n         <p>What the principals can do with the resources in the share is determined by the RAM\n            permissions that you associate with the resource share. See <a>AssociateResourceSharePermission</a>.</p>\n         <p>You can include the following values:</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account ID, for example: <code>123456789012</code>\n               </p>\n            </li>\n            <li>\n               <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example:\n                        <code>organizations::123456789012:organization/o-exampleorgid</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an organizational unit (OU) in Organizations, for example:\n                        <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM role, for example:\n                        <code>iam::123456789012:role/rolename</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM user, for example:\n                        <code>iam::123456789012user/username</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>Not all resource types can be shared with IAM roles and users. \n             For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n         </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain information about the associations.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ram#CreateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#CreateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#CreateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#TagPolicyViolationException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you\n            want to share, a list of principals you want to share the resources with, and the\n            permissions to grant those principals.</p>\n         <note>\n            <p>Sharing a resource makes it available for use by principals outside of the\n                Amazon Web Services account that created the resource. Sharing doesn't change any permissions or\n                quotas that apply to the resource in the account that created it.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#CreateResourceShareRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more ARNs of the resources to associate with the\n            resource share.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more principals to associate with the resource share.</p>\n         <p>You can include the following values:</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account ID, for example: <code>123456789012</code>\n               </p>\n            </li>\n            <li>\n               <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example:\n                        <code>organizations::123456789012:organization/o-exampleorgid</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an organizational unit (OU) in Organizations, for example:\n                        <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM role, for example:\n                        <code>iam::123456789012:role/rolename</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM user, for example:\n                        <code>iam::123456789012user/username</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>Not all resource types can be shared with IAM roles and users. \n             For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ram#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies one or more tags to attach to the resource share itself. It doesn't attach the tags to\n            the resources associated with the resource share.</p>"
          }
        },
        "allowExternalPrincipals": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether principals outside your organization in Organizations can be associated\n            with a resource share. A value of <code>true</code> lets you share with individual Amazon Web Services accounts\n            that are <i>not</i> in your organization. A value of <code>false</code>\n            only has meaning if your account is a member of an Amazon Web Services Organization. The default value\n            is <code>true</code>.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        },
        "permissionArns": {
          "target": "com.amazonaws.ram#PermissionArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the RAM permission to associate with the resource share. If you do\n            not specify an ARN for the permission, RAM automatically attaches the default version\n            of the permission for each resource type. You can associate only one permission with\n            each resource type included in the resource share.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#CreateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShare": {
          "target": "com.amazonaws.ram#ResourceShare",
          "traits": {
            "smithy.api#documentation": "<p>An object with information about the new resource share.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ram#DeleteResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DeleteResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DeleteResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource share. This doesn't delete any of the resources that were\n            associated with the resource share; it only stops the sharing of those resources outside of the\n            Amazon Web Services account that created them.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deleteresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DeleteResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share to delete.</p>",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      }
    },
    "com.amazonaws.ram#DeleteResourceShareResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. \n             A value of <code>false</code> indicates that the request failed.</p>",
            "smithy.api#xmlName": "return"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DisassociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DisassociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified principals or resources from the specified resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DisassociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DisassociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates an RAM permission from a resource share. Permission changes take effect\n            immediately. You can remove a RAM permission from a resource share only if there are currently\n            no resources of the relevant resource type currently attached to the resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share from which you want to disassociate a permission.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission to disassociate from the resource share. Changes to permissions\n            take effect immediately.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. \n             A value of <code>false</code> indicates that the request failed.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource share that you want to remove resources from.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for one or more resources that you want to remove from\n            the resource share. After the operation runs, these resources are no longer shared with principals\n            outside of the Amazon Web Services account that created the resources.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more principals that no longer are to have access to the\n            resources in this resource share.</p>\n         <p>You can include the following values:</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account ID, for example: <code>123456789012</code>\n               </p>\n            </li>\n            <li>\n               <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an organization in Organizations, for example:\n                        <code>organizations::123456789012:organization/o-exampleorgid</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an organizational unit (OU) in Organizations, for example:\n                        <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM role, for example:\n                        <code>iam::123456789012:role/rolename</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM user, for example:\n                        <code>iam::123456789012user/username</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>Not all resource types can be shared with IAM roles and users. \n             For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n         </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain information about the updated associations for this\n            resource share.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#EnableSharingWithAwsOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#EnableSharingWithAwsOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables resource sharing within your organization in Organizations. Calling this operation\n            enables RAM to retrieve information about the organization and its structure. This\n            lets you share resources with all of the accounts in an organization by specifying the\n            organization's ID, or all of the accounts in an organizational unit (OU) by specifying\n            the OU's ID. Until you enable sharing within the organization, you can specify only\n            individual Amazon Web Services accounts, or for supported resource types, IAM users and\n            roles.</p>\n         <p>You must call this operation from an IAM user or role in the organization's\n            management account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enablesharingwithawsorganization",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganizationRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganizationResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. \n             A value of <code>false</code> indicates that the request failed.</p>",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.ram#GetPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the contents of an RAM permission in JSON format.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getpermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#GetPermissionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the permission whose contents you want to retrieve.\n            To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and \n             then choose the name of the permission. The ARN is displayed on the detail page.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies identifier for the version of the RAM permission to retrieve. If you don't\n            specify this parameter, the operation retrieves the default version.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetPermissionResponse": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.amazonaws.ram#ResourceSharePermissionDetail",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the permission.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourcePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ResourceArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource policies for the specified resources that you own and have\n            shared.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourcepolicies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources whose policies you want to retrieve.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the principal.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid \n             only if you received a <code>NextToken</code> response in the previous request. If you\n             did, it indicates that more output is available. Set this parameter to the value \n             provided by the previous call's <code>NextToken</code> response to request the \n             next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the total number of results that you want included on each page \n             of the response. If you do not include this parameter, it defaults to a value that is \n             specific to the operation. If additional items exist beyond the number you specify, the\n             <code>NextToken</code> response element is returned with a value (not null).\n             Include the specified value as the <code>NextToken</code> request parameter in the next \n             call to the operation to get the next part of the results. Note that the service might \n             return fewer results than the maximum even when there are more results available. You \n             should check <code>NextToken</code> after every operation to ensure that you receive all\n             of the results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.amazonaws.ram#PolicyList",
          "traits": {
            "smithy.api#documentation": "<p>An array of resource policy documents in JSON format.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, this value indicates that more output is available than \n             is included in the current response. Use this value in the <code>NextToken</code> \n             request parameter in a subsequent call to the operation to get the next part of the \n             output. You should repeat this until the <code>NextToken</code> response element comes \n             back as <code>null</code>. This indicates that this is the last page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceShareAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceShareAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource and principal associations for resource shares that you own.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareassociations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociationsRequest": {
      "type": "structure",
      "members": {
        "associationType": {
          "target": "com.amazonaws.ram#ResourceShareAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want to retrieve the associations that involve a specified\n            resource or principal.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PRINCIPAL</code> – list the principals that are associated with\n                    the specified resource share.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RESOURCE</code> – list the resources that are associated with the\n                    specified resource share.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share whose associations you want to\n            retrieve.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of the resource whose resource shares you want to retrieve.</p>\n         <p>You cannot specify this parameter if the association type is\n            <code>PRINCIPAL</code>.</p>"
          }
        },
        "principal": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the ID of the principal whose resource shares you want to retrieve. This can be an\n            Amazon Web Services account ID, an organization ID, an organizational unit ID, or the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resoure Name (ARN)</a> of an\n            individual IAM user or role.</p>\n         <p>You cannot specify this parameter if the association type is\n            <code>RESOURCE</code>.</p>"
          }
        },
        "associationStatus": {
          "target": "com.amazonaws.ram#ResourceShareAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to retrieve only associations with this status.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid \n             only if you received a <code>NextToken</code> response in the previous request. If you\n             did, it indicates that more output is available. Set this parameter to the value \n             provided by the previous call's <code>NextToken</code> response to request the \n             next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the total number of results that you want included on each page \n             of the response. If you do not include this parameter, it defaults to a value that is \n             specific to the operation. If additional items exist beyond the number you specify, the\n             <code>NextToken</code> response element is returned with a value (not null).\n             Include the specified value as the <code>NextToken</code> request parameter in the next \n             call to the operation to get the next part of the results. Note that the service might \n             return fewer results than the maximum even when there are more results available. You \n             should check <code>NextToken</code> after every operation to ensure that you receive all\n             of the results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociationsResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain the details about the associations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, this value indicates that more output is available than \n             is included in the current response. Use this value in the <code>NextToken</code> \n             request parameter in a subsequent call to the operation to get the next part of the \n             output. You should repeat this until the <code>NextToken</code> response element comes \n             back as <code>null</code>. This indicates that this is the last page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceShareInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceShareInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidMaxResultsException"
        },
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about invitations that you have received for resource shares.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareinvitations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitationsRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArns": {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resource share invitations you want information about.</p>"
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want details about invitations only for the resource shares described by this\n            list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>\n         </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that you want to receive the next page of results. Valid \n             only if you received a <code>NextToken</code> response in the previous request. If you\n             did, it indicates that more output is available. Set this parameter to the value \n             provided by the previous call's <code>NextToken</code> response to request the \n             next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the total number of results that you want included on each page \n             of the response. If you do not include this parameter, it defaults to a value that is \n             specific to the operation. If additional items exist beyond the number you specify, the\n             <code>NextToken</code> response element is returned with a value (not null).\n             Include the specified value as the <code>NextToken</code> request parameter in the next \n             call to the operation to get the next part of the results. Note that the service might \n             return fewer results than the maximum even when there are more results available. You \n             should check <code>NextToken</code> after every operation to ensure that you receive all\n             of the results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitationsResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitations": {
          "target": "com.amazonaws.ram#ResourceShareInvitationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain the details about the invitations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, this value indicates that more output is available than \n             is included in the current response. Use this value in the <code>NextToken</code> \n             request parameter in a subsequent call to the operation to get the next part of the \n             output. You should repeat this until the <code>NextToken</code> response element comes \n             back as <code>null</code>. This indicates that this is the last page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShares": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceSharesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceSharesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
[...]
