{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ram#AcceptResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation to a resource share from another Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/acceptresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitation": {
          "target": "com.amazonaws.ram#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the invitation.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AmazonResourceSharing": {
      "type": "service",
      "version": "2018-01-04",
      "operations": [
        {
          "target": "com.amazonaws.ram#AcceptResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#CreateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DeleteResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#EnableSharingWithAwsOrganization"
        },
        {
          "target": "com.amazonaws.ram#GetPermission"
        },
        {
          "target": "com.amazonaws.ram#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareAssociations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareInvitations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShares"
        },
        {
          "target": "com.amazonaws.ram#ListPendingInvitationResources"
        },
        {
          "target": "com.amazonaws.ram#ListPermissions"
        },
        {
          "target": "com.amazonaws.ram#ListPrincipals"
        },
        {
          "target": "com.amazonaws.ram#ListResources"
        },
        {
          "target": "com.amazonaws.ram#ListResourceSharePermissions"
        },
        {
          "target": "com.amazonaws.ram#ListResourceTypes"
        },
        {
          "target": "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicy"
        },
        {
          "target": "com.amazonaws.ram#RejectResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#TagResource"
        },
        {
          "target": "com.amazonaws.ram#UntagResource"
        },
        {
          "target": "com.amazonaws.ram#UpdateResourceShare"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RAM",
          "arnNamespace": "ram",
          "cloudFormationName": "RAM",
          "cloudTrailEventSource": "ram.amazonaws.com",
          "endpointPrefix": "ram"
        },
        "aws.auth#sigv4": {
          "name": "ram"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides\n            descriptions and syntax for each of the actions and data types in RAM. RAM is a\n            service that helps you securely share your Amazon Web Services resources across Amazon Web Services accounts and\n            within your organization or organizational units (OUs) in Organizations. For supported\n            resource types, you can also share resources with IAM roles and IAM users. If you have\n            multiple Amazon Web Services accounts, you can use RAM to share those resources with other\n            accounts.</p>\n\n        <p>To learn more about RAM, see the following resources:</p>\n\n        <ul>\n            <li>\n                <p>\n                    <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User\n                        Guide</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Resource Access Manager"
      }
    },
    "com.amazonaws.ram#AssociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates the specified resource share with the specified principals and resources.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a permission with a resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the RAM permission to associate with the\n            resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "replace": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the permission should replace the permissions that are currently\n            associated with the resource share. Use <code>true</code> to replace the current permissions. Use\n                <code>false</code> to add the permission to the current permission.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The version of the RAM permissions to associate with the resource share.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the request succeeded.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>The principals to associate with the resource share. The possible values are:</p>\n        <ul>\n            <li>\n                <p>An Amazon Web Services account ID</p>\n            </li>\n            <li>\n                <p>An Amazon Resource Name (ARN) of an organization in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an organizational unit (OU) in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM role</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM user</p>\n            </li>\n         </ul>\n        <note>\n            <p>Not all resource types can be shared with IAM roles and IAM users. For more\n                information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and IAM users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n        </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the associations.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ram#CreateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#CreateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#CreateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#TagPolicyViolationException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource share. You must provide a list of the Amazon Resource Names (ARNs) for the\n            resources you want to share. You must also specify who you want to share the resources\n            with, and the permissions that you grant them.</p>\n        <note>\n            <p>Sharing a resource makes it available for use by principals outside of the\n                Amazon Web Services account that created the resource. Sharing doesn't change any permissions or\n                quotas that apply to the resource in the account that created it.</p>\n        </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#CreateResourceShareRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the resources to associate with the resource share.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>The principals to associate with the resource share. The possible values are:</p>\n        <ul>\n            <li>\n                <p>An Amazon Web Services account ID</p>\n            </li>\n            <li>\n                <p>An Amazon Resource Name (ARN) of an organization in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an organizational unit (OU) in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM role</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM user</p>\n            </li>\n         </ul>\n        <note>\n            <p>Not all resource types can be shared with IAM roles and IAM users. For more\n                information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and IAM users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n        </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ram#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags.</p>"
          }
        },
        "allowExternalPrincipals": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether principals outside your organization in Organizations can be associated\n            with a resource share.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        },
        "permissionArns": {
          "target": "com.amazonaws.ram#PermissionArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the permissions to associate with the resource share. If you\n            do not specify an ARN for the permission, RAM automatically attaches the default\n            version of the permission for each resource type. Only one permission can be associated\n            with each resource type in a resource share.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#CreateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShare": {
          "target": "com.amazonaws.ram#ResourceShare",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource share.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ram#DeleteResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DeleteResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DeleteResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource share.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deleteresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DeleteResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      }
    },
    "com.amazonaws.ram#DeleteResourceShareResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the request succeeded.</p>",
            "smithy.api#xmlName": "return"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DisassociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DisassociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the specified principals or resources from the specified resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DisassociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DisassociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates an RAM permission from a resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disassociateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the permission to disassociate from the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the request succeeded.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>The principals.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#DisassociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the associations.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#EnableSharingWithAwsOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#EnableSharingWithAwsOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables resource sharing within your organization in Organizations.</p>\n        <p>The caller must be the master account for the organization.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enablesharingwithawsorganization",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganizationRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ram#EnableSharingWithAwsOrganizationResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the request succeeded.</p>",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.ram#GetPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the contents of an RAM permission in JSON format.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getpermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#GetPermissionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the permission.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the version of the permission.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetPermissionResponse": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.amazonaws.ram#ResourceSharePermissionDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about the permission.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourcePolicies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourcePoliciesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourcePoliciesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ResourceArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the policies for the specified resources that you own and have shared.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourcepolicies",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourcePoliciesRequest": {
      "type": "structure",
      "members": {
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourcePoliciesResponse": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.amazonaws.ram#PolicyList",
          "traits": {
            "smithy.api#documentation": "<p>A key policy document, in JSON format.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceShareAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceShareAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the resources or principals for the resource shares that you own.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareassociations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociationsRequest": {
      "type": "structure",
      "members": {
        "associationType": {
          "target": "com.amazonaws.ram#ResourceShareAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The association type. Specify <code>PRINCIPAL</code> to list the principals that are\n            associated with the specified resource share. Specify <code>RESOURCE</code> to list the resources\n            that are associated with the specified resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resource shares.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource. You cannot specify this parameter if\n            the association type is <code>PRINCIPAL</code>.</p>"
          }
        },
        "principal": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal. You cannot specify this parameter if the association type is\n                <code>RESOURCE</code>.</p>"
          }
        },
        "associationStatus": {
          "target": "com.amazonaws.ram#ResourceShareAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The association status.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareAssociationsResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the associations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceShareInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceShareInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidMaxResultsException"
        },
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the invitations that you have received for resource shares.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshareinvitations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitationsRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArns": {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the invitations.</p>"
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resource shares.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShareInvitationsResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitations": {
          "target": "com.amazonaws.ram#ResourceShareInvitationList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the invitations.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceShares": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#GetResourceSharesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#GetResourceSharesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the resource shares that you own or the resource shares that are shared with you.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getresourceshares",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#GetResourceSharesRequest": {
      "type": "structure",
      "members": {
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resource shares.</p>"
          }
        },
        "resourceShareStatus": {
          "target": "com.amazonaws.ram#ResourceShareStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource share.</p>"
          }
        },
        "resourceOwner": {
          "target": "com.amazonaws.ram#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>The type of owner.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource share.</p>"
          }
        },
        "tagFilters": {
          "target": "com.amazonaws.ram#TagFilters",
          "traits": {
            "smithy.api#documentation": "<p>One or more tag filters.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the RAM permission that is associated with the\n            resource share.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#GetResourceSharesResponse": {
      "type": "structure",
      "members": {
        "resourceShares": {
          "target": "com.amazonaws.ram#ResourceShareList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource shares.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#IdempotentParameterMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "IdempotentParameterMismatch",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A client token input parameter was reused with an operation, but at least one of the\n            other input parameters is different from the previous call to the operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.ram#InvalidClientTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidClientToken",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A client token is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#InvalidMaxResultsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidMaxResults",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified value for MaxResults is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidNextToken",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified value for NextToken is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidParameter",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A parameter is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#InvalidResourceTypeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceType.Unknown",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified resource type is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#InvalidStateTransitionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidStateTransitionException.Unknown",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The requested state transition is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ListPendingInvitationResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListPendingInvitationResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListPendingInvitationResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resources in a resource share that is shared with you but that the invitation is still\n            pending for.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listpendinginvitationresources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListPendingInvitationResourcesRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListPendingInvitationResourcesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.amazonaws.ram#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resources included the resource share.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the RAM permissions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listpermissions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListPermissionsRequest": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the resource type for which to list permissions. For example, to list only\n            permissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListPermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.amazonaws.ram#ResourceSharePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the permissions.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListPrincipals": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListPrincipalsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListPrincipalsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the principals that you have shared resources with or that have shared resources\n            with you.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listprincipals",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListPrincipalsRequest": {
      "type": "structure",
      "members": {
        "resourceOwner": {
          "target": "com.amazonaws.ram#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>The type of owner.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>The principals.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>\n        <p>Valid values: <code>acm-pca:CertificateAuthority</code> | <code>appmesh:Mesh</code> | <code>codebuild:Project</code> | <code>codebuild:ReportGroup</code> | <code>ec2:CapacityReservation</code> | <code>ec2:DedicatedHost</code> | <code>ec2:LocalGatewayRouteTable</code> | <code>ec2:PrefixList</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>imagebuilder:Component</code> | <code>imagebuilder:Image</code> | <code>imagebuilder:ImageRecipe</code> | <code>imagebuilder:ContainerRecipe</code> | <code>glue:Catalog</code> | <code>glue:Database</code> | <code>glue:Table</code> | <code>license-manager:LicenseConfiguration</code> I <code>network-firewall:FirewallPolicy</code> | <code>network-firewall:StatefulRuleGroup</code> | <code>network-firewall:StatelessRuleGroup</code> | <code>outposts:Outpost</code> | <code>resource-groups:Group</code> | <code>rds:Cluster</code> | <code>route53resolver:FirewallRuleGroup</code> |<code>route53resolver:ResolverQueryLogConfig</code> | <code>route53resolver:ResolverRule</code> | <code>s3-outposts:Outpost</code> | <code>ssm-contacts:Contact</code> | <code>ssm-incidents:ResponsePlan</code>\n         </p>"
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resource shares.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListPrincipalsResponse": {
      "type": "structure",
      "members": {
        "principals": {
          "target": "com.amazonaws.ram#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>The principals.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResourceSharePermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListResourceSharePermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListResourceSharePermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the RAM permissions that are associated with a resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listresourcesharepermissions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListResourceSharePermissionsRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResourceSharePermissionsResponse": {
      "type": "structure",
      "members": {
        "permissions": {
          "target": "com.amazonaws.ram#ResourceSharePermissionList",
          "traits": {
            "smithy.api#documentation": "<p>The permissions associated with the resource share.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResourceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListResourceTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListResourceTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the shareable resource types supported by RAM.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listresourcetypes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListResourceTypesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResourceTypesResponse": {
      "type": "structure",
      "members": {
        "resourceTypes": {
          "target": "com.amazonaws.ram#ServiceNameAndResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The shareable resource types supported by RAM.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#ListResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#ListResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidResourceTypeException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resources that you added to a resource shares or the resources that are shared with\n            you.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listresources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.ram#ListResourcesRequest": {
      "type": "structure",
      "members": {
        "resourceOwner": {
          "target": "com.amazonaws.ram#ResourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>The type of owner.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>\n        <p>Valid values: <code>acm-pca:CertificateAuthority</code> | <code>appmesh:Mesh</code> | <code>codebuild:Project</code> | <code>codebuild:ReportGroup</code> | <code>ec2:CapacityReservation</code> | <code>ec2:DedicatedHost</code> | <code>ec2:LocalGatewayRouteTable</code> | <code>ec2:PrefixList</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>imagebuilder:Component</code> | <code>imagebuilder:Image</code> | <code>imagebuilder:ImageRecipe</code> | <code>imagebuilder:ContainerRecipe</code> | <code>glue:Catalog</code> | <code>glue:Database</code> | <code>glue:Table</code> | <code>license-manager:LicenseConfiguration</code> I <code>network-firewall:FirewallPolicy</code> | <code>network-firewall:StatefulRuleGroup</code> | <code>network-firewall:StatelessRuleGroup</code> | <code>outposts:Outpost</code> | <code>resource-groups:Group</code> | <code>rds:Cluster</code> | <code>route53resolver:FirewallRuleGroup</code> |<code>route53resolver:ResolverQueryLogConfig</code> | <code>route53resolver:ResolverRule</code> | <code>s3-outposts:Outpost</code> | <code>ssm-contacts:Contact</code> | <code>ssm-incidents:ResponsePlan</code>\n         </p>"
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) of the resources.</p>"
          }
        },
        "resourceShareArns": {
          "target": "com.amazonaws.ram#ResourceShareArnList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARN) of the resource shares.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next page of results.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ram#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return with a single call.\n  To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#ListResourcesResponse": {
      "type": "structure",
      "members": {
        "resources": {
          "target": "com.amazonaws.ram#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resources.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#MalformedArnException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidArn.Malformed",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The format of an Amazon Resource Name (ARN) is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.ram#MissingRequiredParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "MissingRequiredParameter",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A required input parameter is missing.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#OperationNotPermittedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "OperationNotPermitted",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The requested operation is not permitted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#PermissionArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#Policy": {
      "type": "string"
    },
    "com.amazonaws.ram#PolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#Policy",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#Principal": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the principal.</p>"
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the principal was associated with the resource share.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the association was last updated.</p>"
          }
        },
        "external": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the principal belongs to the same organization in Organizations as the\n            Amazon Web Services account that owns the resource share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a principal for use with Resource Access Manager.</p>"
      }
    },
    "com.amazonaws.ram#PrincipalArnOrIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#PrincipalList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#Principal",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#MissingRequiredParameterException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Resource shares that were created by attaching a policy to a resource are visible only\n            to the resource share owner, and the resource share cannot be modified in RAM.</p>\n\n        <p>Use this API action to promote the resource share. When you promote the resource\n            share, it becomes:</p>\n        <ul>\n            <li>\n                <p>Visible to all principals that it is shared with.</p>\n            </li>\n            <li>\n                <p>Modifiable in RAM.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/promoteresourcesharecreatedfrompolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicyRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share to promote.</p>",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicyResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the request succeeded.</p>",
            "smithy.api#xmlName": "return"
          }
        }
      }
    },
    "com.amazonaws.ram#RejectResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#RejectResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#RejectResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Rejects an invitation to a resource share from another Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/rejectresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#RejectResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the invitation.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#RejectResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitation": {
          "target": "com.amazonaws.ram#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the invitation.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ram#Resource": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type.</p>"
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>"
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource group. This value is returned only if\n            the resource is a resource group.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ram#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A message about the status of the resource.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the resource was associated with the resource share.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the association was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a resource associated with a resource share.</p>"
      }
    },
    "com.amazonaws.ram#ResourceArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceArnNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceArn.NotFound",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#Resource",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceOwner": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SELF",
            "name": "SELF"
          },
          {
            "value": "OTHER-ACCOUNTS",
            "name": "OTHER_ACCOUNTS"
          }
        ]
      }
    },
    "com.amazonaws.ram#ResourceShare": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource share.</p>"
          }
        },
        "owningAccountId": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that owns the resource share.</p>"
          }
        },
        "allowExternalPrincipals": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether principals outside your organization in Organizations can be associated\n            with a resource share.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ram#ResourceShareStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the resource share.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A message about the status of the resource share.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ram#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource share.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the resource share was created.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the resource share was last updated.</p>"
          }
        },
        "featureSet": {
          "target": "com.amazonaws.ram#ResourceShareFeatureSet",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how the resource share was created. Possible values include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>CREATED_FROM_POLICY</code> - Indicates that the resource share was created from an\n                    Amazon Web Services Identity and Access Management (Amazon Web Services IAM) policy attached to a resource.\n                    These resource shares are visible only to the Amazon Web Services account that created it. They cannot\n                    be modified in RAM.</p>\n            </li>\n            <li>\n                <p>\n                  <code>PROMOTING_TO_STANDARD</code> - The resource share is in the process of being\n                    promoted. For more information, see <a>PromoteResourceShareCreatedFromPolicy</a>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>STANDARD</code> - Indicates that the resource share was created in RAM using the\n                    console or APIs. These resource shares are visible to all principals. They can\n                    be modified in RAM.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a resource share.</p>"
      }
    },
    "com.amazonaws.ram#ResourceShareArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceShareAssociation": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>"
          }
        },
        "resourceShareName": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource share.</p>"
          }
        },
        "associatedEntity": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The associated entity. For resource associations, this is the Amazon Resource Name\n            (ARN) of the resource. For principal associations, this is one of the following:</p>\n        <ul>\n            <li>\n                <p>An Amazon Web Services account ID</p>\n            </li>\n            <li>\n                <p>An ARN of an organization in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an organizational unit (OU) in Organizations</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM role</p>\n            </li>\n            <li>\n                <p>An ARN of an IAM user</p>\n            </li>\n         </ul>"
          }
        },
        "associationType": {
          "target": "com.amazonaws.ram#ResourceShareAssociationType",
          "traits": {
            "smithy.api#documentation": "<p>The association type.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ram#ResourceShareAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the association.</p>"
          }
        },
        "statusMessage": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>A message about the status of the association.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the association was created.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time when the association was last updated.</p>"
          }
        },
        "external": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the principal belongs to the same organization in Organizations as the\n            Amazon Web Services account that owns the resource share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an association with a resource share.</p>"
      }
    },
    "com.amazonaws.ram#ResourceShareAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#ResourceShareAssociation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceShareAssociationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ASSOCIATING",
            "name": "ASSOCIATING"
          },
          {
            "value": "ASSOCIATED",
            "name": "ASSOCIATED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DISASSOCIATING",
            "name": "DISASSOCIATING"
          },
          {
            "value": "DISASSOCIATED",
            "name": "DISASSOCIATED"
          }
        ]
      }
    },
    "com.amazonaws.ram#ResourceShareAssociationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRINCIPAL",
            "name": "PRINCIPAL"
          },
          {
            "value": "RESOURCE",
            "name": "RESOURCE"
          }
        ]
      }
    },
    "com.amazonaws.ram#ResourceShareFeatureSet": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED_FROM_POLICY",
            "name": "CREATED_FROM_POLICY"
          },
          {
            "value": "PROMOTING_TO_STANDARD",
            "name": "PROMOTING_TO_STANDARD"
          },
          {
            "value": "STANDARD",
            "name": "STANDARD"
          }
        ]
      }
    },
    "com.amazonaws.ram#ResourceShareInvitation": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the invitation.</p>"
          }
        },
        "resourceShareName": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource share.</p>"
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource share.</p>"
          }
        },
        "senderAccountId": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that sent the invitation.</p>"
          }
        },
        "receiverAccountId": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account that received the invitation.</p>"
          }
        },
        "invitationTimestamp": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the invitation was sent.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ram#ResourceShareInvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the invitation.</p>"
          }
        },
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This member has been deprecated. Use ListPendingInvitationResources."
            },
            "smithy.api#documentation": "<p>To view the resources associated with a pending resource share invitation, use <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_ListPendingInvitationResources.html\">\n                ListPendingInvitationResources</a>.</p>"
          }
        },
        "receiverArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM user or IAM role that received the\n            invitation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an invitation to join a resource share.</p>"
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationAlreadyAcceptedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceShareInvitationArn.AlreadyAccepted",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The invitation was already accepted.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceShareInvitationArn.AlreadyRejected",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The invitation was already rejected.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#String",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceShareInvitationArn.NotFound",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for an invitation was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationExpiredException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvalidResourceShareInvitationArn.Expired",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The invitation is expired.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#ResourceShareInvitation",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#ResourceShareInvitationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "ACCEPTED",
[...]
