{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.ram#AcceptResourceShareInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AcceptResourceShareInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyAcceptedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationAlreadyRejectedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationArnNotFoundException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareInvitationExpiredException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an invitation to a resource share from another Amazon Web Services account. After you accept the\n            invitation, the resources included in the resource share are available to interact with in the\n            relevant Amazon Web Services Management Consoles and tools.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/acceptresourceshareinvitation",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationRequest": {
      "type": "structure",
      "members": {
        "resourceShareInvitationArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the invitation that you want to accept.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#AcceptResourceShareInvitationResponse": {
      "type": "structure",
      "members": {
        "resourceShareInvitation": {
          "target": "com.amazonaws.ram#ResourceShareInvitation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about the specified invitation.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#AmazonResourceSharing": {
      "type": "service",
      "version": "2018-01-04",
      "operations": [
        {
          "target": "com.amazonaws.ram#AcceptResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#AssociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#CreatePermission"
        },
        {
          "target": "com.amazonaws.ram#CreatePermissionVersion"
        },
        {
          "target": "com.amazonaws.ram#CreateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DeletePermission"
        },
        {
          "target": "com.amazonaws.ram#DeletePermissionVersion"
        },
        {
          "target": "com.amazonaws.ram#DeleteResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceShare"
        },
        {
          "target": "com.amazonaws.ram#DisassociateResourceSharePermission"
        },
        {
          "target": "com.amazonaws.ram#EnableSharingWithAwsOrganization"
        },
        {
          "target": "com.amazonaws.ram#GetPermission"
        },
        {
          "target": "com.amazonaws.ram#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareAssociations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShareInvitations"
        },
        {
          "target": "com.amazonaws.ram#GetResourceShares"
        },
        {
          "target": "com.amazonaws.ram#ListPendingInvitationResources"
        },
        {
          "target": "com.amazonaws.ram#ListPermissionAssociations"
        },
        {
          "target": "com.amazonaws.ram#ListPermissions"
        },
        {
          "target": "com.amazonaws.ram#ListPermissionVersions"
        },
        {
          "target": "com.amazonaws.ram#ListPrincipals"
        },
        {
          "target": "com.amazonaws.ram#ListReplacePermissionAssociationsWork"
        },
        {
          "target": "com.amazonaws.ram#ListResources"
        },
        {
          "target": "com.amazonaws.ram#ListResourceSharePermissions"
        },
        {
          "target": "com.amazonaws.ram#ListResourceTypes"
        },
        {
          "target": "com.amazonaws.ram#PromotePermissionCreatedFromPolicy"
        },
        {
          "target": "com.amazonaws.ram#PromoteResourceShareCreatedFromPolicy"
        },
        {
          "target": "com.amazonaws.ram#RejectResourceShareInvitation"
        },
        {
          "target": "com.amazonaws.ram#ReplacePermissionAssociations"
        },
        {
          "target": "com.amazonaws.ram#SetDefaultPermissionVersion"
        },
        {
          "target": "com.amazonaws.ram#TagResource"
        },
        {
          "target": "com.amazonaws.ram#UntagResource"
        },
        {
          "target": "com.amazonaws.ram#UpdateResourceShare"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RAM",
          "arnNamespace": "ram",
          "cloudFormationName": "RAM",
          "cloudTrailEventSource": "ram.amazonaws.com",
          "endpointPrefix": "ram"
        },
        "aws.auth#sigv4": {
          "name": "ram"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This is the <i>Resource Access Manager API Reference</i>. This documentation provides\n            descriptions and syntax for each of the actions and data types in RAM. RAM is a\n            service that helps you securely share your Amazon Web Services resources to other Amazon Web Services accounts. If\n            you use Organizations to manage your accounts, then you can share your resources with your\n            entire organization or to organizational units (OUs). For supported resource types, you\n            can also share resources with individual Identity and Access Management (IAM) roles and users. </p>\n         <p>To learn more about RAM, see the following resources:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"http://aws.amazon.com/ram\">Resource Access Manager product page</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/\">Resource Access Manager User\n                        Guide</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Resource Access Manager",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://ram.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ram.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ram.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ram-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified list of principals and list of resources to a resource share. Principals that\n            already have access to this resource share immediately receive access to the added resources.\n            Newly added principals immediately receive access to the resources shared in this resource share. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#AssociateResourceSharePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or replaces the RAM permission for a resource type included in a resource share. You can\n            have exactly one permission associated with each resource type in the resource share. You can add\n            a new RAM permission only if there are currently no resources of that resource type\n            currently in the resource share.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/associateresourcesharepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the resource share to which you want to add or replace\n            permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the RAM permission to associate with the resource share.\n            To find the ARN for a permission, use either the <a>ListPermissions</a> operation or go to the <a href=\"https://console.aws.amazon.com/ram/home#Permissions:\">Permissions library</a> page in the RAM console and \n             then choose the name of the permission. The ARN is displayed on the detail page.</p>",
            "smithy.api#required": {}
          }
        },
        "replace": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the specified permission should replace the existing permission\n            associated with the resource share. Use <code>true</code> to replace the current permissions. Use\n                <code>false</code> to add the permission to a resource share that currently doesn't\n            have a permission. The default value is <code>false</code>.</p>\n         <note>\n            <p>A resource share can have only one permission per resource type. If a resource share already has a\n                permission for the specified resource type and you don't set <code>replace</code> to\n                    <code>true</code> then the operation returns an error. This helps prevent\n                accidental overwriting of a permission.</p>\n         </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the RAM permission to associate with the resource share. You can\n            specify <i>only</i> the version that is currently set as the default\n            version for the permission. If you also set the <code>replace</code> pararameter to\n                <code>true</code>, then this operation updates an outdated version of the permission\n            to the current default version.</p>\n         <note>\n            <p>You don't need to specify this parameter because the default behavior is to use\n                the version that is currently set as the default version for the permission. This\n                parameter is supported for backwards compatibility.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#AssociateResourceSharePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A return value of <code>true</code> indicates that the request succeeded. \n             A value of <code>false</code> indicates that the request failed.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#AssociateResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the resource share that you want to add principals or resources\n            to.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the resources that you want to share. This can be\n                <code>null</code> if you want to add only principals.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of principals to whom you want to the resource share. This can be\n                <code>null</code> if you want to add only resources.</p>\n         <p>What the principals can do with the resources in the share is determined by the RAM\n            permissions that you associate with the resource share. See <a>AssociateResourceSharePermission</a>.</p>\n         <p>You can include the following values:</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account ID, for example: <code>123456789012</code>\n               </p>\n            </li>\n            <li>\n               <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an organization in Organizations, for example:\n                        <code>organizations::123456789012:organization/o-exampleorgid</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an organizational unit (OU) in Organizations, for example:\n                        <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM role, for example:\n                        <code>iam::123456789012:role/rolename</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM user, for example:\n                        <code>iam::123456789012user/username</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>Not all resource types can be shared with IAM roles and users. \n             For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n         </note>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.ram#SourceArnOrAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies from which source accounts the service principal\n            has access to the resources in this resource share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#AssociateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShareAssociations": {
          "target": "com.amazonaws.ram#ResourceShareAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain information about the associations.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#AssociatedPermission": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the associated managed permission.</p>"
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the permission currently associated with the resource share.</p>"
          }
        },
        "defaultVersion": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the associated resource share is using the default version of the\n            permission.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type to which this permission applies.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the association between the permission and the resource share.\n            The following are the possible values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ATTACHABLE</code> – This permission or version can be associated \n                with resource shares.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UNATTACHABLE</code> – This permission or version can't \n                currently be associated with resource shares.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> – This permission or version is in the process of\n                    being deleted.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> – This permission or version is deleted.</p>\n            </li>\n         </ul>"
          }
        },
        "featureSet": {
          "target": "com.amazonaws.ram#PermissionFeatureSet",
          "traits": {
            "smithy.api#documentation": "<p>Indicates what features are available for this resource share. This parameter can have one of\n            the following values:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>STANDARD</b> – A resource share that supports all\n                    functionality. These resource shares are visible to all principals you share the resource share with. \n                    You can modify these resource shares in RAM using the console or APIs. This resource share might \n                    have been created by RAM, or it might have been <b>CREATED_FROM_POLICY</b> and then promoted.</p>\n            </li>\n            <li>\n               <p>\n                  <b>CREATED_FROM_POLICY</b> – The customer\n                    manually shared a resource by attaching a resource-based policy. That policy did\n                    not match any existing managed permissions, so RAM created this customer managed permission automatically on the\n                    customer's behalf based on the attached policy document. This type of resource share \n                    is visible only to the Amazon Web Services account that created it. You can't modify it in \n                    RAM unless you promote it. For more information, \n                    see <a>PromoteResourceShareCreatedFromPolicy</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PROMOTING_TO_STANDARD</b> – This\n                    resource share was originally <code>CREATED_FROM_POLICY</code>, but the customer ran\n                    the <a>PromoteResourceShareCreatedFromPolicy</a> and that operation\n                    is still in progress. This value changes to <code>STANDARD</code> when\n                    complete.</p>\n            </li>\n         </ul>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.ram#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the association between the permission and the resource share\n            was last updated.</p>"
          }
        },
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a resource share associated with this permission.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that describes a managed permission associated with a resource share.</p>"
      }
    },
    "com.amazonaws.ram#AssociatedPermissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ram#AssociatedPermission",
        "traits": {
          "smithy.api#xmlName": "item"
        }
      }
    },
    "com.amazonaws.ram#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.ram#CreatePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#CreatePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#CreatePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidPolicyException"
        },
        {
          "target": "com.amazonaws.ram#MalformedPolicyTemplateException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#PermissionAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.ram#PermissionLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a customer managed permission for a specified resource type that you can attach to resource shares.\n            It is created in the Amazon Web Services Region in which you call the operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createpermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#CreatePermissionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ram#PermissionName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the customer managed permission. The name must be unique within the\n            Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the resource type that this customer managed permission applies to.</p>\n         <p>The format is\n                    <code>\n               <i><service-code></i>:<i><resource-type></i>\n            </code>\n            and is not case sensitive. For example, to specify an Amazon EC2 Subnet, you can use the\n            string <code>ec2:subnet</code>. To see the list of valid values for this parameter,\n            query the <a>ListResourceTypes</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplate": {
          "target": "com.amazonaws.ram#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A string in JSON format string that contains the following elements of a\n            resource-based policy:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Effect</b>: must be set to\n                    <code>ALLOW</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Action</b>: specifies the actions that are\n                    allowed by this customer managed permission. The list must contain only actions that are supported by\n                    the specified resource type. For a list of all actions supported by each\n                    resource type, see <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/reference_policies_actions-resources-contextkeys.html\">Actions, resources, and condition keys for Amazon Web Services services</a> in the\n                        <i>Identity and Access Management User Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Condition</b>: (optional) specifies conditional \n                    parameters that must evaluate to true when a user attempts an action for that \n                    action to be allowed. For more information about the Condition element, see \n                    <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_condition.html\">IAM\n                        policies: Condition element</a> in the <i>Identity and Access Management User\n                    Guide</i>.</p>\n            </li>\n         </ul>\n         <p>This template can't include either the <code>Resource</code> or\n            <code>Principal</code> elements. Those are both filled in by RAM when it instantiates \n            the resource-based policy on each resource shared using this managed permission. The \n            <code>Resource</code> comes from the ARN of the specific resource that you are sharing. \n            The <code>Principal</code> comes from the list of identities added to the resource \n            share.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ram#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more tag key and value pairs to attach to the\n            permission.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#CreatePermissionResponse": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.amazonaws.ram#ResourceSharePermissionSummary",
          "traits": {
            "smithy.api#documentation": "<p>A structure with information about this customer managed permission.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#CreatePermissionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#CreatePermissionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#CreatePermissionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidPolicyException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#MalformedPolicyTemplateException"
        },
        {
          "target": "com.amazonaws.ram#PermissionVersionsLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the specified customer managed permission. The new version is automatically set as\n            the default version of the customer managed permission. New resource shares automatically use the default\n            permission. Existing resource shares continue to use their original permission versions,\n            but you can use <a>ReplacePermissionAssociations</a> to update them.</p>\n         <p>If the specified customer managed permission already has the maximum of 5 versions, then\n            you must delete one of the existing versions before you can create a new one.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createpermissionversion",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#CreatePermissionVersionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the customer managed permission you're creating a new version for.</p>",
            "smithy.api#required": {}
          }
        },
        "policyTemplate": {
          "target": "com.amazonaws.ram#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A string in JSON format string that contains the following elements of a\n            resource-based policy:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Effect</b>: must be set to\n                    <code>ALLOW</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Action</b>: specifies the actions that are\n                    allowed by this customer managed permission. The list must contain only actions that are supported by\n                    the specified resource type. For a list of all actions supported by each\n                    resource type, see <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/reference_policies_actions-resources-contextkeys.html\">Actions, resources, and condition keys for Amazon Web Services services</a> in the\n                        <i>Identity and Access Management User Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Condition</b>: (optional) specifies conditional \n                    parameters that must evaluate to true when a user attempts an action for that \n                    action to be allowed. For more information about the Condition element, see \n                    <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_condition.html\">IAM\n                        policies: Condition element</a> in the <i>Identity and Access Management User\n                    Guide</i>.</p>\n            </li>\n         </ul>\n         <p>This template can't include either the <code>Resource</code> or\n            <code>Principal</code> elements. Those are both filled in by RAM when it instantiates \n            the resource-based policy on each resource shared using this managed permission. The \n            <code>Resource</code> comes from the ARN of the specific resource that you are sharing. \n            The <code>Principal</code> comes from the list of identities added to the resource \n            share.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#CreatePermissionVersionResponse": {
      "type": "structure",
      "members": {
        "permission": {
          "target": "com.amazonaws.ram#ResourceSharePermissionDetail"
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#CreateResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#CreateResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#CreateResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ResourceShareLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#TagLimitExceededException"
        },
        {
          "target": "com.amazonaws.ram#TagPolicyViolationException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource share. You can provide a list of the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> for the resources that you\n            want to share, a list of principals you want to share the resources with, and the\n            permissions to grant those principals.</p>\n         <note>\n            <p>Sharing a resource makes it available for use by principals outside of the\n                Amazon Web Services account that created the resource. Sharing doesn't change any permissions or\n                quotas that apply to the resource in the account that created it.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#CreateResourceShareRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the resource share.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArns": {
          "target": "com.amazonaws.ram#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more ARNs of the resources to associate with the\n            resource share.</p>"
          }
        },
        "principals": {
          "target": "com.amazonaws.ram#PrincipalArnOrIdList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a list of one or more principals to associate with the resource share.</p>\n         <p>You can include the following values:</p>\n         <ul>\n            <li>\n               <p>An Amazon Web Services account ID, for example: <code>123456789012</code>\n               </p>\n            </li>\n            <li>\n               <p>An <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an organization in Organizations, for example:\n                        <code>organizations::123456789012:organization/o-exampleorgid</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an organizational unit (OU) in Organizations, for example:\n                        <code>organizations::123456789012:ou/o-exampleorgid/ou-examplerootid-exampleouid123</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM role, for example:\n                        <code>iam::123456789012:role/rolename</code>\n               </p>\n            </li>\n            <li>\n               <p>An ARN of an IAM user, for example:\n                        <code>iam::123456789012user/username</code>\n               </p>\n            </li>\n         </ul>\n         <note>\n            <p>Not all resource types can be shared with IAM roles and users. \n             For more information, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/permissions.html#permissions-rbp-supported-resource-types\">Sharing with IAM roles and users</a> in the <i>Resource Access Manager User\n                    Guide</i>.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ram#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies one or more tags to attach to the resource share itself. It doesn't attach the tags to\n            the resources associated with the resource share.</p>"
          }
        },
        "allowExternalPrincipals": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether principals outside your organization in Organizations can be associated\n            with a resource share. A value of <code>true</code> lets you share with individual Amazon Web Services accounts\n            that are <i>not</i> in your organization. A value of <code>false</code>\n            only has meaning if your account is a member of an Amazon Web Services Organization. The default value\n            is <code>true</code>.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>"
          }
        },
        "permissionArns": {
          "target": "com.amazonaws.ram#PermissionArnList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> of the RAM permission to associate with the resource share. If you do\n            not specify an ARN for the permission, RAM automatically attaches the default version\n            of the permission for each resource type. You can associate only one permission with\n            each resource type included in the resource share.</p>"
          }
        },
        "sources": {
          "target": "com.amazonaws.ram#SourceArnOrAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies from which source accounts the service principal\n            has access to the resources in this resource share.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#CreateResourceShareResponse": {
      "type": "structure",
      "members": {
        "resourceShare": {
          "target": "com.amazonaws.ram#ResourceShare",
          "traits": {
            "smithy.api#documentation": "<p>An object with information about the new resource share.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.ram#DeletePermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DeletePermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DeletePermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified customer managed permission in the Amazon Web Services Region in which you call this operation. You\n            can delete a customer managed permission only if it isn't attached to any resource share. The operation deletes all\n            versions associated with the customer managed permission.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deletepermission",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DeletePermissionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the customer managed permission that you want to delete.</p>",
            "smithy.api#httpQuery": "permissionArn",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#DeletePermissionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean that indicates whether the delete operations succeeded.</p>",
            "smithy.api#xmlName": "return"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        },
        "permissionStatus": {
          "target": "com.amazonaws.ram#PermissionStatus",
          "traits": {
            "smithy.api#documentation": "<p>This operation is performed asynchronously, and this response parameter indicates the\n            current status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#DeletePermissionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DeletePermissionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DeletePermissionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one version of a customer managed permission. The version you specify must not be attached to any\n            resource share and must not be the default version for the permission.</p>\n         <p>If a customer managed permission has the maximum of 5 versions, then you must delete at\n            least one version before you can create another.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deletepermissionversion",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DeletePermissionVersionRequest": {
      "type": "structure",
      "members": {
        "permissionArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the permission with the version you want to delete.</p>",
            "smithy.api#httpQuery": "permissionArn",
            "smithy.api#required": {}
          }
        },
        "permissionVersion": {
          "target": "com.amazonaws.ram#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version number to delete.</p>\n         <p>You can't delete the default version for a customer managed permission.</p>\n         <p>You can't delete a version if it's the only version of the permission. You must either\n            first create another version, or delete the permission completely.</p>\n         <p>You can't delete a version if it is attached to any resource shares. If the version is\n            the default, you must first use <a>SetDefaultPermissionVersion</a> to set a\n            different version as the default for the customer managed permission, and then use <a>AssociateResourceSharePermission</a> to update your resource shares to use\n            the new default version.</p>",
            "smithy.api#httpQuery": "permissionVersion",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to\n             ensure the idempotency of the request. This lets you safely retry the request without\n             accidentally performing the same operation a second time. Passing the same value to a\n             later call to an operation requires that you also pass the same value for all other \n             parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of \n             value.</a>.</p>\n         <p>If you don't provide this value, then Amazon Web Services generates a random one for\n             you.</p>\n         <p>If you retry the operation with the same <code>ClientToken</code>, but with \n             different parameters, the retry fails with an <code>IdempotentParameterMismatch</code>\n             error.</p>",
            "smithy.api#httpQuery": "clientToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.ram#DeletePermissionVersionResponse": {
      "type": "structure",
      "members": {
        "returnValue": {
          "target": "com.amazonaws.ram#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that indicates whether the operation is successful.</p>",
            "smithy.api#xmlName": "return"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency identifier associated with this request. If you\n             want to repeat the same operation in an idempotent manner then you must include this\n             value in the <code>clientToken</code> request parameter of that later call. All other \n             parameters must also have the same values that you used in the first call.</p>"
          }
        },
        "permissionStatus": {
          "target": "com.amazonaws.ram#PermissionStatus",
          "traits": {
            "smithy.api#documentation": "<p>This operation is performed asynchronously, and this response parameter indicates the\n            current status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.ram#DeleteResourceShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ram#DeleteResourceShareRequest"
      },
      "output": {
        "target": "com.amazonaws.ram#DeleteResourceShareResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ram#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.ram#InvalidClientTokenException"
        },
        {
          "target": "com.amazonaws.ram#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.ram#InvalidStateTransitionException"
        },
        {
          "target": "com.amazonaws.ram#MalformedArnException"
        },
        {
          "target": "com.amazonaws.ram#OperationNotPermittedException"
        },
        {
          "target": "com.amazonaws.ram#ServerInternalException"
        },
        {
          "target": "com.amazonaws.ram#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.ram#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource share.</p>\n         <important>\n            <p>This doesn't delete any of the resources that were associated with the resource share; it\n                only stops the sharing of those resources through this resource share.</p>\n         </important>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/deleteresourceshare",
          "code": 200
        }
      }
    },
    "com.amazonaws.ram#DeleteResourceShareRequest": {
      "type": "structure",
      "members": {
        "resourceShareArn": {
          "target": "com.amazonaws.ram#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the resource share to delete.</p>",
            "smithy.api#httpQuery": "resourceShareArn",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.ram#String",
          "traits": {
[...]
