{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.rbin#AmazonRecycleBin": {
      "type": "service",
      "traits": {
        "aws.api#service": {
          "sdkId": "rbin",
          "arnNamespace": "rbin",
          "cloudFormationName": "Rbin",
          "cloudTrailEventSource": "rbin.amazonaws.com",
          "endpointPrefix": "rbin"
        },
        "aws.auth#sigv4": {
          "name": "rbin"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This is the <i>Recycle Bin API Reference</i>. This documentation provides \n      descriptions and syntax for each of the actions and data types in Recycle Bin.</p>\n    \n         <p>Recycle Bin is a snapshot recovery feature that enables you to restore accidentally \n      deleted snapshots. When using Recycle Bin, if your snapshots are deleted, they are retained \n      in the Recycle Bin for a time period that you specify.</p> \n    \n         <p>You can restore a snapshot from the Recycle Bin at any time before its retention period \n      expires. After you restore a snapshot from the Recycle Bin, the snapshot is removed from the \n      Recycle Bin, and you can then use it in the same way you use any other snapshot in your \n      account. If the retention period expires and the snapshot is not restored, the snapshot is \n      permanently deleted from the Recycle Bin and is no longer available for recovery. For more \n      information about Recycle Bin, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/snapshot-recycle-bin.html\">\n        Recycle Bin</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#title": "Amazon Recycle Bin"
      },
      "version": "2021-06-15",
      "operations": [
        {
          "target": "com.amazonaws.rbin#CreateRule"
        },
        {
          "target": "com.amazonaws.rbin#DeleteRule"
        },
        {
          "target": "com.amazonaws.rbin#GetRule"
        },
        {
          "target": "com.amazonaws.rbin#ListRules"
        },
        {
          "target": "com.amazonaws.rbin#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.rbin#TagResource"
        },
        {
          "target": "com.amazonaws.rbin#UntagResource"
        },
        {
          "target": "com.amazonaws.rbin#UpdateRule"
        }
      ]
    },
    "com.amazonaws.rbin#CreateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#CreateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#CreateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-create-rule\">\n      Create Recycle Bin retention rules</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/rules",
          "code": 201
        }
      }
    },
    "com.amazonaws.rbin#CreateRuleRequest": {
      "type": "structure",
      "members": {
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description for the retention rule.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.rbin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags to assign to the retention rule.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type to be retained by the retention rule. Currently, only Amazon EBS snapshots are \n      supported.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource tags to use to identify resources that are to be retained \n      by the retention rule. The retention rule retains only deleted snapshots that have one or more \n      of the specified tag key and value pairs. If a snapshot is deleted, but it does not have \n      any of the specified tag key and value pairs, it is immediately deleted without being retained \n      by the retention rule.</p>\n         <p>You can add the same tag key and value pair to a maximum or five retention rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#CreateRuleResponse": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the retention rule.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod"
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule description.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.rbin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the retention rule.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type retained by the retention rule.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention \n      rule.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.rbin#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain snapshots.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#DeleteRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#DeleteRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#DeleteRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-delete-rule\">\n      Delete Recycle Bin retention rules</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/rules/{Identifier}",
          "code": 204
        }
      }
    },
    "com.amazonaws.rbin#DeleteRuleRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rbin#DeleteRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.rbin#Description": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\S ]{0,255}$"
      }
    },
    "com.amazonaws.rbin#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.rbin#GetRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#GetRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#GetRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a Recycle Bin retention rule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/rules/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.rbin#GetRuleRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rbin#GetRuleResponse": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description assigned to the retention rule.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type retained by the retention rule. Currently, only Amazon EBS snapshots are supported.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Information about the period for which the retention rule retains resources.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>The resource tags used to identify resources that are to be retained by the retention rule.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.rbin#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain snapshots.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rbin#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service could not respond to the request due to an internal problem.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.rbin#ListRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#ListRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#ListRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Recycle Bin retention rules in the Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-rules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.rbin#ListRulesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.rbin#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return for the request in a single page. The remaining results can be seen by sending another request with the returned <code>nextToken</code> value. This value can be between 5 and 500. If <code>maxResults</code> is given a larger value than 500, you receive an error.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.rbin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type retained by the retention rule. Only retention rules that retain the specified resource type \n      are listed.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>The tags used to identify resources that are to be retained by the retention rule.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#ListRulesResponse": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.rbin#RuleSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the retention rules.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.rbin#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags assigned a specific resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.rbin#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.rbin#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource for which to list the tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rbin#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.rbin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags assigned to the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.rbin#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Za-z0-9+/=]{1,2048}$"
      }
    },
    "com.amazonaws.rbin#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rbin#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.rbin#ResourceNotFoundExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rbin#ResourceNotFoundExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RULE_NOT_FOUND",
            "name": "RULE_NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.rbin#ResourceTag": {
      "type": "structure",
      "members": {
        "ResourceTagKey": {
          "target": "com.amazonaws.rbin#ResourceTagKey",
          "traits": {
            "smithy.api#documentation": "<p>The tag key.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTagValue": {
          "target": "com.amazonaws.rbin#ResourceTagValue",
          "traits": {
            "smithy.api#documentation": "<p>The tag value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a resource tag used to identify resources that are to be retained by a Recycle Bin retention rule.</p>"
      }
    },
    "com.amazonaws.rbin#ResourceTagKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\S\\s]{1,128}$"
      }
    },
    "com.amazonaws.rbin#ResourceTagValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\S\\s]{0,256}$"
      }
    },
    "com.amazonaws.rbin#ResourceTags": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rbin#ResourceTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.rbin#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EBS_SNAPSHOT",
            "name": "EBS_SNAPSHOT"
          }
        ]
      }
    },
    "com.amazonaws.rbin#RetentionPeriod": {
      "type": "structure",
      "members": {
        "RetentionPeriodValue": {
          "target": "com.amazonaws.rbin#RetentionPeriodValue",
          "traits": {
            "smithy.api#documentation": "<p>The period value for which the retention rule is to retain resources. The period is measured using \n      the unit specified for <b>RetentionPeriodUnit</b>.</p>",
            "smithy.api#required": {}
          }
        },
        "RetentionPeriodUnit": {
          "target": "com.amazonaws.rbin#RetentionPeriodUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of time in which the retention period is measured. Currently, only <code>DAYS</code> \n      is supported.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the retention period for which a retention rule is to retain resources.</p>"
      }
    },
    "com.amazonaws.rbin#RetentionPeriodUnit": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DAYS",
            "name": "DAYS"
          }
        ]
      }
    },
    "com.amazonaws.rbin#RetentionPeriodValue": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 3650
        }
      }
    },
    "com.amazonaws.rbin#RuleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]{1,3}){0,2}:rbin:[a-z\\-0-9]{0,63}:[0-9]{12}:rule/[0-9a-zA-Z]{11}{0,1011}$"
      }
    },
    "com.amazonaws.rbin#RuleIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z]{11}$"
      }
    },
    "com.amazonaws.rbin#RuleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "pending",
            "name": "PENDING"
          },
          {
            "value": "available",
            "name": "AVAILABLE"
          }
        ]
      }
    },
    "com.amazonaws.rbin#RuleSummary": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the retention rule.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Information about the retention period for which the retention rule retains resources</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a Recycle Bin retention rule.</p>"
      }
    },
    "com.amazonaws.rbin#RuleSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rbin#RuleSummary"
      }
    },
    "com.amazonaws.rbin#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rbin#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.rbin#ServiceQuotaExceededExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would cause a service quota for the number of tags per resource to be exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.rbin#ServiceQuotaExceededExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SERVICE_QUOTA_EXCEEDED",
            "name": "SERVICE_QUOTA_EXCEEDED"
          }
        ]
      }
    },
    "com.amazonaws.rbin#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.rbin#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The tag key.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.rbin#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The tag value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the tags assigned to a Recycle Bin retention rule.</p>"
      }
    },
    "com.amazonaws.rbin#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.rbin#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rbin#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.rbin#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rbin#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.rbin#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns tags to the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 201
        }
      }
    },
    "com.amazonaws.rbin#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.rbin#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to which to assign the tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rbin#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags to assign to the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rbin#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.rbin#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.rbin#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Unassigns a tag from a resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.rbin#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.rbin#RuleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource from which to unassign the tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.rbin#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the tags to unassign from the resource.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rbin#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.rbin#UpdateRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rbin#UpdateRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rbin#UpdateRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rbin#InternalServerException"
        },
        {
          "target": "com.amazonaws.rbin#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rbin#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates an existing Recycle Bin retention rule. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/recycle-bin-working-with-rules.html#recycle-bin-update-rule\">\n      Update Recycle Bin retention rules</a> in the <i>Amazon EC2 User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/rules/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.rbin#UpdateRuleRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Information about the retention period for which the retention rule is to retain resources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule description.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type to be retained by the retention rule. Currently, only Amazon EBS snapshots are supported.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource tags to use to identify resources that are to be retained \n      by the retention rule. The retention rule retains only deleted snapshots that have one or more \n      of the specified tag key and value pairs. If a snapshot is deleted, but it does not have \n      any of the specified tag key and value pairs, it is immediately deleted without being retained \n      by the retention rule. </p>\n         <p>You can add the same tag key and value pair to a maximum or five retention rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#UpdateRuleResponse": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.rbin#RuleIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the retention rule.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.rbin#RetentionPeriod"
        },
        "Description": {
          "target": "com.amazonaws.rbin#Description",
          "traits": {
            "smithy.api#documentation": "<p>The retention rule description.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.rbin#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type retained by the retention rule.</p>"
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.rbin#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource tags used to identify resources that are retained by the retention \n      rule.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.rbin#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the retention rule. Only retention rules that are in the <code>available</code> state retain snapshots.</p>"
          }
        }
      }
    },
    "com.amazonaws.rbin#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rbin#ErrorMessage"
        },
        "Reason": {
          "target": "com.amazonaws.rbin#ValidationExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the parameters in the request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.rbin#ValidationExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_PAGE_TOKEN",
            "name": "INVALID_PAGE_TOKEN"
          },
          {
            "value": "INVALID_PARAMETER_VALUE",
            "name": "INVALID_PARAMETER_VALUE"
          }
        ]
      }
    }
  }
}
