{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.rds#AccountAttributesMessage": {
      "type": "structure",
      "members": {
        "AccountQuotas": {
          "target": "com.amazonaws.rds#AccountQuotaList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>AccountQuota</code> objects. Within this list, each quota has a name, \n            a count of usage toward the quota maximum, and a maximum value for the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data returned by the <b>DescribeAccountAttributes</b> action.</p>"
      }
    },
    "com.amazonaws.rds#AccountQuota": {
      "type": "structure",
      "members": {
        "Max": {
          "target": "com.amazonaws.rds#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowed value for the quota.</p>"
          }
        },
        "Used": {
          "target": "com.amazonaws.rds#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount currently used toward the quota maximum.</p>"
          }
        },
        "AccountQuotaName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon RDS quota for this AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a quota for an AWS account.</p>\n         <p>The following are account quotas:</p>\n         <ul>\n            <li>\n              <p>\n                  <code>AllocatedStorage</code> - The total allocated storage per account, in GiB.\n                    The used value is the total allocated storage in the account, in GiB.</p>\n            </li>\n            <li>\n              <p>\n                  <code>AuthorizationsPerDBSecurityGroup</code> - The number of ingress rules per DB security group. \n                  The used value is the highest number of ingress rules in a DB security group in the account. Other \n                  DB security groups in the account might have a lower number of ingress rules.</p>\n            </li>\n            <li>\n              <p>\n                  <code>CustomEndpointsPerDBCluster</code> - The number of custom endpoints per DB cluster. \n                  The used value is the highest number of custom endpoints in a DB clusters in the account. Other \n                  DB clusters in the account might have a lower number of custom endpoints.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusterParameterGroups</code> - The number of DB cluster parameter groups\n                    per account, excluding default parameter groups. The used value is the count of\n                    nondefault DB cluster parameter groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusterRoles</code> - The number of associated AWS Identity and Access Management (IAM) roles per DB cluster. \n                  The used value is the highest number of associated IAM roles for a DB cluster in the account. Other \n                  DB clusters in the account might have a lower number of associated IAM roles.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusters</code> - The number of DB clusters per account. \n                  The used value is the count of DB clusters in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBInstanceRoles</code> - The number of associated IAM roles per DB instance. \n                  The used value is the highest number of associated IAM roles for a DB instance in the account. Other \n                  DB instances in the account might have a lower number of associated IAM roles.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBInstances</code> - The number of DB instances per account. \n                  The used value is the count of the DB instances in the account.</p>\n                  <p>Amazon RDS DB instances, Amazon Aurora DB instances, Amazon Neptune instances, and Amazon DocumentDB \n                      instances apply to this quota.</p>          \n            </li>\n            <li>\n              <p>\n                  <code>DBParameterGroups</code> - The number of DB parameter groups per account,\n                    excluding default parameter groups. The used value is the count of nondefault DB\n                    parameter groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBSecurityGroups</code> - The number of DB security groups (not VPC\n                    security groups) per account, excluding the default security group. The used\n                    value is the count of nondefault DB security groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBSubnetGroups</code> - The number of DB subnet groups per account. \n                  The used value is the count of the DB subnet groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>EventSubscriptions</code> - The number of event subscriptions per account. \n                  The used value is the count of the event subscriptions in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ManualClusterSnapshots</code> - The number of manual DB cluster snapshots per account. \n                  The used value is the count of the manual DB cluster snapshots in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ManualSnapshots</code> - The number of manual DB instance snapshots per account. \n                  The used value is the count of the manual DB instance snapshots in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>OptionGroups</code> - The number of DB option groups per account, excluding\n                    default option groups. The used value is the count of nondefault DB option\n                    groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ReadReplicasPerMaster</code> - The number of read replicas per DB\n                    instance. The used value is the highest number of read replicas for a DB\n                    instance in the account. Other DB instances in the account might have a lower\n                    number of read replicas.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ReservedDBInstances</code> - The number of reserved DB instances per account.  \n                  The used value is the count of the active reserved DB instances in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>SubnetsPerDBSubnetGroup</code> - The number of subnets per DB subnet group. \n                  The used value is highest number of subnets for a DB subnet group in the account. Other \n                  DB subnet groups in the account might have a lower number of subnets.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Limits.html\">Quotas for Amazon RDS</a> in the\n                <i>Amazon RDS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_Limits.html\">Quotas for Amazon Aurora</a> in the\n                <i>Amazon Aurora User Guide</i>.</p>"
      }
    },
    "com.amazonaws.rds#AccountQuotaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AccountQuota",
        "traits": {
          "smithy.api#xmlName": "AccountQuota"
        }
      }
    },
    "com.amazonaws.rds#ActivityStreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "sync"
          },
          {
            "value": "async"
          }
        ]
      }
    },
    "com.amazonaws.rds#ActivityStreamStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "stopped"
          },
          {
            "value": "starting"
          },
          {
            "value": "started"
          },
          {
            "value": "stopping"
          }
        ]
      }
    },
    "com.amazonaws.rds#AddRoleToDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddRoleToDBClusterMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterRoleAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterRoleQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Identity and Access Management (IAM) role from an Amazon Aurora DB cluster.\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.html\">Authorizing Amazon Aurora MySQL \n                  to Access Other AWS Services on Your Behalf</a> in the <i>Amazon Aurora User Guide</i>.</p>\n        <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#AddRoleToDBClusterMessage": {
      "type": "structure",
      "members": {
        "FeatureName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature for the DB cluster that the IAM role is to be associated with. \n            For the list of supported feature names, see <a>DBEngineVersion</a>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the Aurora DB\n            cluster, for example <code>arn:aws:iam::123456789012:role/AuroraAccessRole</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB cluster to associate the IAM role with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#AddRoleToDBInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddRoleToDBInstanceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceRoleAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceRoleQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an AWS Identity and Access Management (IAM) role with a DB instance.</p>\n        <note>\n            <p>To add a role to a DB instance, the status of the DB instance must be <code>available</code>.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#AddRoleToDBInstanceMessage": {
      "type": "structure",
      "members": {
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB instance to associate the IAM role with.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the DB instance, for\n            example <code>arn:aws:iam::123456789012:role/AccessRole</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "FeatureName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature for the DB instance that the IAM role is to be associated with. \n            For the list of supported feature names, see <a>DBEngineVersion</a>.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddSourceIdentifierToSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#AddSourceIdentifierToSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#SourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#SubscriptionNotFoundFault"
        }
      ]
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscriptionMessage": {
      "type": "structure",
      "members": {
        "SubscriptionName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SourceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscriptionResult": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.rds#EventSubscription"
        }
      }
    },
    "com.amazonaws.rds#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddTagsToResourceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotNotFoundFault"
        }
      ]
    },
    "com.amazonaws.rds#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#AmazonRDSv19": {
      "type": "service",
      "version": "2014-10-31",
      "operations": [
        {
          "target": "com.amazonaws.rds#AddRoleToDBCluster"
        },
        {
          "target": "com.amazonaws.rds#AddRoleToDBInstance"
        },
        {
          "target": "com.amazonaws.rds#AddSourceIdentifierToSubscription"
        },
        {
          "target": "com.amazonaws.rds#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.rds#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.rds#BacktrackDBCluster"
        },
        {
          "target": "com.amazonaws.rds#CancelExportTask"
        },
        {
          "target": "com.amazonaws.rds#CopyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CopyDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CopyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CopyDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CopyOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateCustomAvailabilityZone"
        },
        {
          "target": "com.amazonaws.rds#CreateDBCluster"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CreateDBInstance"
        },
        {
          "target": "com.amazonaws.rds#CreateDBInstanceReadReplica"
        },
        {
          "target": "com.amazonaws.rds#CreateDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBProxy"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSecurityGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#CreateGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#CreateOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteCustomAvailabilityZone"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBCluster"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBInstance"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBInstanceAutomatedBackup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBProxy"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSecurityGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#DeleteGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#DeleteInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#DeleteOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#DeregisterDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeCertificates"
        },
        {
          "target": "com.amazonaws.rds#DescribeCustomAvailabilityZones"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterBacktracks"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterEndpoints"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameterGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterSnapshots"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBEngineVersions"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBInstanceAutomatedBackups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBInstances"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBLogFiles"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBParameterGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxies"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxyTargetGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSecurityGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSnapshots"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSubnetGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeEngineDefaultClusterParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeEngineDefaultParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.rds#DescribeEvents"
        },
        {
          "target": "com.amazonaws.rds#DescribeEventSubscriptions"
        },
        {
          "target": "com.amazonaws.rds#DescribeExportTasks"
        },
        {
          "target": "com.amazonaws.rds#DescribeGlobalClusters"
        },
        {
          "target": "com.amazonaws.rds#DescribeInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#DescribeOptionGroupOptions"
        },
        {
          "target": "com.amazonaws.rds#DescribeOptionGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeOrderableDBInstanceOptions"
        },
        {
          "target": "com.amazonaws.rds#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.rds#DescribeReservedDBInstances"
        },
        {
          "target": "com.amazonaws.rds#DescribeReservedDBInstancesOfferings"
        },
        {
          "target": "com.amazonaws.rds#DescribeSourceRegions"
        },
        {
          "target": "com.amazonaws.rds#DescribeValidDBInstanceModifications"
        },
        {
          "target": "com.amazonaws.rds#DownloadDBLogFilePortion"
        },
        {
          "target": "com.amazonaws.rds#FailoverDBCluster"
        },
        {
          "target": "com.amazonaws.rds#ImportInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.rds#ModifyCertificates"
        },
        {
          "target": "com.amazonaws.rds#ModifyCurrentDBClusterCapacity"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBCluster"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBInstance"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBProxy"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBProxyTargetGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#ModifyGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#ModifyOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#PromoteReadReplica"
        },
        {
          "target": "com.amazonaws.rds#PromoteReadReplicaDBCluster"
        },
        {
          "target": "com.amazonaws.rds#PurchaseReservedDBInstancesOffering"
        },
        {
          "target": "com.amazonaws.rds#RebootDBInstance"
        },
        {
          "target": "com.amazonaws.rds#RegisterDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#RemoveFromGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#RemoveRoleFromDBCluster"
        },
        {
          "target": "com.amazonaws.rds#RemoveRoleFromDBInstance"
        },
        {
          "target": "com.amazonaws.rds#RemoveSourceIdentifierFromSubscription"
        },
        {
          "target": "com.amazonaws.rds#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.rds#ResetDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ResetDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterFromS3"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterFromSnapshot"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterToPointInTime"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceFromDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceFromS3"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceToPointInTime"
        },
        {
          "target": "com.amazonaws.rds#RevokeDBSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.rds#StartActivityStream"
        },
        {
          "target": "com.amazonaws.rds#StartDBCluster"
        },
        {
          "target": "com.amazonaws.rds#StartDBInstance"
        },
        {
          "target": "com.amazonaws.rds#StartExportTask"
        },
        {
          "target": "com.amazonaws.rds#StopActivityStream"
        },
        {
          "target": "com.amazonaws.rds#StopDBCluster"
        },
        {
          "target": "com.amazonaws.rds#StopDBInstance"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RDS",
          "arnNamespace": "rds",
          "cloudFormationName": "RDS",
          "cloudTrailEventSource": "v20141031.admin.rds"
        },
        "aws.auth#sigv4": {
          "name": "rds"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon Relational Database Service</fullname>\n        <p> </p> \n         <p>Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and \n          scale a relational database in the cloud. It provides cost-efficient, resizeable capacity for an industry-standard relational \n          database and manages common database administration tasks, freeing up developers to focus on what makes their applications \n          and businesses unique.</p>\n         <p>Amazon RDS gives you access to the capabilities of a MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, \n          Oracle, or Amazon Aurora database server. These capabilities mean that the code, applications, and tools \n          you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS \n          automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS \n          is flexible: you can scale your DB instance's compute resources and storage capacity to meet your \n          application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for \n          the resources you use.</p>\n         <p>This interface reference for Amazon RDS contains documentation for a programming or command line interface \n          you can use to manage Amazon RDS. Amazon RDS is asynchronous, which means that some interfaces might \n          require techniques such as polling or callback functions to determine when a command has been applied. In this \n          reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, \n          or during the maintenance window. The reference structure is as follows, and we list following some related topics \n          from the user guide.</p>\n    \n         <p>\n            <b>Amazon RDS API Reference</b>\n         </p>\n    \n         <ul>\n            <li>\n               <p>For the alphabetical list of API actions, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Operations.html\">API Actions</a>.</p>\n            </li>\n            <li>\n               <p>For the alphabetical list of data types, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Types.html\">Data Types</a>.</p>\n            </li>\n            <li>\n               <p>For a list of common query parameters, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonParameters.html\">Common Parameters</a>.</p>\n            </li>\n            <li>\n               <p>For descriptions of the error codes, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>\n            </li>\n         </ul>\n    \n         <p>\n            <b>Amazon RDS User Guide</b>\n         </p>\n    \n         <ul>\n            <li>\n               <p>For a summary of the Amazon RDS interfaces, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>.</p>\n            </li>\n            <li>\n               <p>For more information about how to use the Query API, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Using_the_Query_API.html\">Using the Query API</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Relational Database Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://rds.amazonaws.com/doc/2014-10-31/"
        }
      }
    },
    "com.amazonaws.rds#ApplyMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "immediate"
          },
          {
            "value": "pending-reboot"
          }
        ]
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#ApplyPendingMaintenanceActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.rds#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>"
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ApplyAction": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n         <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>, \n          <code>hardware-maintenance</code>, <code>ca-certificate-rotation</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in \n           request of type <code>immediate</code> can't be undone.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during\n            the next maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code>\n            opt-in requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The RDS Amazon Resource Name (ARN) of the resource that the \n      pending maintenance action applies to. For information about  \n      creating an ARN, \n      see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n        Constructing an RDS Amazon Resource Name (ARN)</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceActionResult": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.rds#ResourcePendingMaintenanceActions"
        }
      }
    },
    "com.amazonaws.rds#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#String",
        "traits": {
          "smithy.api#xmlName": "AttributeValue"
        }
      }
    },
    "com.amazonaws.rds#AuthScheme": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SECRETS",
            "name": "SECRETS"
          }
        ]
      }
    },
    "com.amazonaws.rds#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified CIDR IP range or Amazon EC2 security group is already authorized for\n            the specified DB security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.rds#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified CIDR IP range or Amazon EC2 security group might not be authorized\n            for the specified DB security group.</p>\n        <p>Or, RDS might not be authorized to perform necessary actions using IAM on your\n            behalf.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#AuthorizationQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DB security group authorization quota has been reached.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#AuthorizationQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#DBSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSecurityGroupStateFault"
        }
      ]
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "EC2SecurityGroupName": {
          "target": "com.amazonaws.rds#String"
        },
        "EC2SecurityGroupId": {
          "target": "com.amazonaws.rds#String"
        },
        "DBSecurityGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "CIDRIP": {
          "target": "com.amazonaws.rds#String"
        },
        "EC2SecurityGroupOwnerId": {
          "target": "com.amazonaws.rds#String"
        }
      }
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "DBSecurityGroup": {
          "target": "com.amazonaws.rds#DBSecurityGroup"
        }
      }
    },
    "com.amazonaws.rds#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rds#String"
        },
        "ProvisionedIopsCapable": {
          "target": "com.amazonaws.rds#Boolean"
        }
      }
    },
    "com.amazonaws.rds#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.rds#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.rds#AvailableProcessorFeature": {
      "type": "structure",
      "members": {
        "DefaultValue": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value for the processor feature of the DB instance class.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the processor feature. Valid names are <code>coreCount</code> \n            and <code>threadsPerCore</code>.</p>"
          }
        },
        "AllowedValues": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The allowed values for the processor feature of the DB instance class.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the available processor feature information for the DB instance class of a DB instance.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html#USER_ConfigureProcessor\">Configuring the\n                Processor of the DB Instance Class</a> in the <i>Amazon RDS User Guide.\n            </i>\n         </p>"
      }
    },
    "com.amazonaws.rds#AvailableProcessorFeatureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AvailableProcessorFeature",
        "traits": {
          "smithy.api#xmlName": "AvailableProcessorFeature"
        }
      }
    },
    "com.amazonaws.rds#BacktrackDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#BacktrackDBClusterMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBClusterBacktrack"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Backtracks a DB cluster to a specific time, without creating a new DB cluster.</p>\n        <p>For more information on backtracking, see \n            <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Backtrack.html\">\n                Backtracking an Aurora DB Cluster</a> in the \n            <i>Amazon Aurora User Guide.</i>\n        </p>\n        <note>\n            <p>This action only applies to Aurora MySQL DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#BacktrackDBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier of the DB cluster to be backtracked. This parameter is\n            stored as a lowercase string.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster1</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "UseEarliestTimeOnPointInTimeUnavailable": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to backtrack the DB cluster to the earliest possible\n            backtrack time when <i>BacktrackTo</i> is set to a timestamp earlier than the earliest\n            backtrack time. When this parameter is disabled and <i>BacktrackTo</i> is set to a timestamp earlier than the earliest\n            backtrack time, an error occurs.</p>"
          }
        },
        "BacktrackTo": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the time to backtrack the DB cluster to, specified in ISO\n            8601 format. For more information about ISO 8601, see the <a href=\"http://en.wikipedia.org/wiki/ISO_8601\">ISO8601 Wikipedia\n            page.</a>\n         </p>\n        <note>\n            <p>If the specified time isn't a consistent time for the DB cluster, \n                Aurora automatically chooses the nearest possible consistent time for the DB cluster.</p>\n        </note>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain a valid ISO 8601 timestamp.</p>\n            </li>\n            <li>\n                <p>Can't contain a timestamp set in the future.</p>\n            </li>\n         </ul>\n        <p>Example: <code>2017-07-08T18:00Z</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Force": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to force the DB cluster to backtrack when binary logging is\n            enabled. Otherwise, an error occurs when binary logging is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#BackupPolicyNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#deprecated": {
          "message": "Please avoid using this fault"
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.rds#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.rds#CancelExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CancelExportTaskMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#ExportTask"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#ExportTaskNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidExportTaskStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an export task in progress that is exporting a snapshot to Amazon S3. \n            Any data that has already been written to the S3 bucket isn't removed.\n        </p>"
      }
    },
    "com.amazonaws.rds#CancelExportTaskMessage": {
      "type": "structure",
      "members": {
        "ExportTaskIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot export task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#Certificate": {
      "type": "structure",
      "members": {
        "ValidFrom": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date from which the certificate is valid.</p>"
          }
        },
        "CertificateType": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate.</p>"
          }
        },
        "CertificateArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>"
          }
        },
        "CertificateIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique key that identifies a certificate.</p>"
          }
        },
        "ValidTill": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The final date that the certificate continues to be valid.</p>"
          }
        },
        "CustomerOverrideValidTill": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>If there is an override for the default certificate identifier, when the override\n            expires.</p>"
          }
        },
        "CustomerOverride": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Whether there is an override for the default certificate identifier.</p>"
          }
        },
        "Thumbprint": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The thumbprint of the certificate.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A CA certificate for an AWS account.</p>"
      }
    },
    "com.amazonaws.rds#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#Certificate",
        "traits": {
          "smithy.api#xmlName": "Certificate"
        }
      }
    },
    "com.amazonaws.rds#CertificateMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            An optional pagination token provided by a previous\n            <code>DescribeCertificates</code> request.\n            If this parameter is specified, the response includes\n            only records beyond the marker,\n            up to the value specified by <code>MaxRecords</code> .\n        </p>"
          }
        },
        "Certificates": {
          "target": "com.amazonaws.rds#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>Certificate</code> objects for the AWS account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data returned by the <b>DescribeCertificates</b> action.</p>"
      }
    },
    "com.amazonaws.rds#CertificateNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>CertificateIdentifier</code> doesn't refer to an\n        existing certificate.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#CharacterSet": {
      "type": "structure",
      "members": {
        "CharacterSetDescription": {
          "target": "com.amazonaws.rds#String"
        },
        "CharacterSetName": {
          "target": "com.amazonaws.rds#String"
        }
      }
    },
    "com.amazonaws.rds#CloudwatchLogsExportConfiguration": {
      "type": "structure",
      "members": {
        "DisableLogTypes": {
          "target": "com.amazonaws.rds#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to disable.</p>"
          }
        },
        "EnableLogTypes": {
          "target": "com.amazonaws.rds#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to enable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration setting for the log types to be enabled for export to CloudWatch\n            Logs for a specific DB instance or DB cluster.</p>\n        <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays determine which logs will be exported\n            (or not exported) to CloudWatch Logs. The values within these arrays depend on the DB\n            engine being used. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_LogAccess.html#USER_LogAccess.Procedural.UploadtoCloudWatch\">Publishing Database Logs to Amazon CloudWatch Logs </a> in the <i>Amazon\n                RDS User Guide</i>.</p>"
      }
    },
    "com.amazonaws.rds#ConnectionPoolConfiguration": {
      "type": "structure",
      "members": {
        "InitQuery": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        One or more SQL statements for the proxy to run when opening each new database connection.\n        Typically used with <code>SET</code> statements to make sure that each connection has identical\n        settings such as time zone and character set. For multiple statements, use semicolons as the separator.\n        You can also include multiple variables in a single <code>SET</code> statement, such as\n        <code>SET x=1, y=2</code>.\n      </p>\n         <p>Default: no initialization query</p>"
          }
        },
        "MaxIdleConnectionsPercent": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n        Controls how actively the proxy closes idle database connections in the connection pool.\n        A high value enables the proxy to leave a high percentage of idle connections open.\n        A low value causes the proxy to close idle client connections and return the underlying\n        database connections to the connection pool. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.\n      </p>\n         <p>Default: 50</p>\n         <p>Constraints: between 0 and <code>MaxConnectionsPercent</code>\n         </p>"
          }
        },
        "ConnectionBorrowTimeout": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for a proxy to wait for a connection to become available in the connection pool. Only applies when the\n        proxy has opened its maximum number of connections and all connections are busy with client sessions.</p>\n         <p>Default: 120</p>\n         <p>Constraints: between 1 and 3600, or 0 representing unlimited</p>"
          }
        },
        "MaxConnectionsPercent": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the connection pool for each target in a target group. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.</p>\n         <p>Default: 100</p>\n         <p>Constraints: between 1 and 100</p>"
          }
        },
        "SessionPinningFilters": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Each item in the list represents a class of SQL operations that normally cause all later statements\n        in a session using a proxy to be pinned to the same underlying database connection. Including an item\n        in the list exempts that class of SQL operations from the pinning behavior.</p>\n         <p>Default: no session pinning filters</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings that control the size and behavior of the connection pool associated with a <code>DBProxyTargetGroup</code>.</p>"
      }
    },
    "com.amazonaws.rds#ConnectionPoolConfigurationInfo": {
      "type": "structure",
      "members": {
        "MaxConnectionsPercent": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the connection pool for each target in a target group. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.</p>"
          }
        },
        "InitQuery": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        One or more SQL statements for the proxy to run when opening each new database connection.\n        Typically used with <code>SET</code> statements to make sure that each connection has identical\n        settings such as time zone and character set. This setting is empty by default.\n        For multiple statements, use semicolons as the separator.\n        You can also include multiple variables in a single <code>SET</code> statement, such as\n        <code>SET x=1, y=2</code>.\n      </p>"
          }
        },
        "ConnectionBorrowTimeout": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for a proxy to wait for a connection to become available in the connection pool. Only applies when the\n        proxy has opened its maximum number of connections and all connections are busy with client sessions.</p>"
          }
        },
        "MaxIdleConnectionsPercent": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n        Controls how actively the proxy closes idle database connections in the connection pool.\n        A high value enables the proxy to leave a high percentage of idle connections open.\n        A low value causes the proxy to close idle client connections and return the underlying database connections to the connection pool.\n        For Aurora MySQL, it is expressed as a percentage of the <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.\n      </p>"
          }
        },
        "SessionPinningFilters": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Each item in the list represents a class of SQL operations that normally cause all later statements\n        in a session using a proxy to be pinned to the same underlying database connection. Including an item\n        in the list exempts that class of SQL operations from the pinning behavior. Currently, the only\n        allowed value is <code>EXCLUDE_VARIABLE_SETS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Displays the settings that control the size and behavior of the connection pool associated with a <code>DBProxyTarget</code>.</p>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB cluster parameter group.</p>\n        <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.\n            For information about  \n            creating an ARN, \n            see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n                Constructing an ARN for Amazon RDS</a> in the <i>Amazon Aurora User Guide</i>.\n        </p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Must specify a valid DB cluster parameter group.</p>\n            </li>\n            <li>\n               <p>If the source DB cluster parameter group is in the same AWS Region as the copy, \n                specify a valid DB parameter group identifier, for example\n                <code>my-db-cluster-param-group</code>, or a valid ARN.</p>\n            </li>\n            <li>\n               <p>If the source DB parameter group is in a different AWS Region than the copy,\n                specify a valid DB cluster parameter group ARN, for example\n                <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "TargetDBClusterParameterGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB cluster parameter group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-param-group1</code>\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.rds#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.rds#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a snapshot of a DB cluster.</p>\n         <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code>\n          must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p>\n\n         <p>You can copy an encrypted DB cluster snapshot from another AWS Region. In that case, the AWS Region where you call the <code>CopyDBClusterSnapshot</code> action \n          is the destination AWS Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another AWS Region, \n          you must provide the following values:</p>     \n      \n         <ul>\n            <li>\n               <p>\n                  <code>KmsKeyId</code> - The AWS Key Management System (AWS KMS) key identifier for the key to use to \n              encrypt the copy of the DB cluster snapshot in the destination AWS Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PreSignedUrl</code> -  A URL that contains a Signature Version 4 signed request for the \n              <code>CopyDBClusterSnapshot</code> action to be called in the source AWS Region where the DB cluster snapshot is copied from. \n              The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the \n              source AWS Region that contains the encrypted DB cluster snapshot to be copied.</p>\n              <p>The pre-signed URL request must contain the following parameter values:</p>\n              <ul>\n                  <li>\n                     <p>\n                        <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB \n                      cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> \n                      action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot is to be created in.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster \n                      snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, \n                      if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code>\n                      looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p>\n                  </li>\n               </ul>\n              <p>To learn how to generate a Signature Version 4 signed request, see \n\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">\n                      Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and\n                  <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">\n                      Signature Version 4 Signing Process</a>.</p>\n              <note>\n                  <p>If you are using an AWS SDK tool or the AWS CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the AWS CLI) \n                      instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid \n                      request for the operation that can be executed in the source AWS Region.</p>\n              </note>\n            </li>\n            <li>\n               <p>\n                  <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination AWS Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. \n              This identifier must be in the ARN format for the source AWS Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p>\n            </li>\n         </ul>\n         <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified\n          by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in \"copying\" status.</p>\n         <p>For more information on copying encrypted DB cluster snapshots from one AWS Region to another, see \n          <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html\">\n              Copying a Snapshot</a> in the <i>Amazon Aurora User Guide.</i>\n         </p>\n         <p>For more information on Amazon Aurora, see \n          <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\">\n              What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i>\n         </p>\n         <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n         </note>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "SourceDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot to copy. This parameter isn't case-sensitive.</p>\n         <p>You can't copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid system snapshot in the \"available\" state.</p>\n            </li>\n            <li>\n               <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p>\n            </li>\n            <li>\n               <p>If the source snapshot is in a different AWS Region than the copy,\n              specify a valid DB cluster snapshot ARN. For more information, go to\n              <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html#USER_CopySnapshot.AcrossRegions\">\n                  Copying Snapshots Across AWS Regions</a> in the <i>Amazon Aurora User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter isn't case-sensitive.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot2</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot. \n            By default, tags are not copied.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key ID for an encrypted DB cluster snapshot. \n            The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p>             \n        \n        <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. \n            If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot. \n        </p>\n         \n        <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p>\n        \n        <p>To copy an encrypted DB cluster snapshot to another AWS Region, you must set <code>KmsKeyId</code> to the KMS key ID you want to use to encrypt the copy of the DB cluster snapshot \n            in the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can't use encryption keys from one AWS Region \n            in another AWS Region.</p>\n        \n        <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, \n            an error is returned.</p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the \n            source DB cluster snapshot to copy. The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB cluster snapshot from another AWS Region. \n            Don't specify <code>PreSignedUrl</code> when you are copying an encrypted DB cluster snapshot in the same AWS Region.</p>\n        <p>The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be\n            executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. \n            The pre-signed URL request must contain the following parameter values:</p>\n        \n        <ul>\n            <li>\n               <p>\n                  <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB \n                cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> \n                action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot is to be created in.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster \n                snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, \n                if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code>\n                looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p>\n            </li>\n         </ul>\n        \n        <p>To learn how to generate a Signature Version 4 signed request, see \n\n            <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">\n                Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">\n                Signature Version 4 Signing Process</a>.</p>\n        \n        <note>\n            <p>If you are using an AWS SDK tool or the AWS CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the AWS CLI) \n                instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid \n                request for the operation that can be executed in the source AWS Region.</p>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.rds#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB parameter group.</p>"
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroupMessage": {
      "type": "structure",
      "members": {
        "TargetDBParameterGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceDBParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The identifier or ARN for the source DB parameter group.\n        For information about  \n        creating an ARN, \n        see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n            Constructing an ARN for Amazon RDS</a> in the <i>Amazon RDS User Guide</i>.\n        </p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid DB parameter group.</p>\n            </li>\n            <li>\n               <p>Must specify a valid DB parameter group identifier, for example\n                <code>my-db-param-group</code>, or a valid ARN.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "TargetDBParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-db-parameter-group</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBParameterGroup": {
          "target": "com.amazonaws.rds#DBParameterGroup"
        }
      }
    },
    "com.amazonaws.rds#CopyDBSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.rds#SnapshotQuotaExceededFault"
        }
      ]
    },
    "com.amazonaws.rds#CopyDBSnapshotMessage": {
      "type": "structure",
      "members": {
        "SourceDBSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "TargetDBSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#CopyDBSnapshotResult": {
      "type": "structure",
      "members": {
        "DBSnapshot": {
          "target": "com.amazonaws.rds#DBSnapshot"
        }
      }
    },
    "com.amazonaws.rds#CopyOptionGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyOptionGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyOptionGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#OptionGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#OptionGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#OptionGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified option group.</p>"
      }
    },
    "com.amazonaws.rds#CopyOptionGroupMessage": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "TargetOptionGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for the copied option group.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceOptionGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or ARN for the source option group. For information about  \n      creating an ARN, \n      see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n          Constructing an ARN for Amazon RDS</a> in the <i>Amazon RDS User Guide</i>.\n        </p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid option group.</p>\n            </li>\n            <li>\n               <p>If the source option group is in the same AWS Region as the copy, \n                specify a valid option group identifier, for example <code>my-option-group</code>,\n                or a valid ARN.</p>\n            </li>\n            <li>\n               <p>If the source option group is in a different AWS Region than the copy,\n                specify a valid option group ARN, for example \n                <code>arn:aws:rds:us-west-2:123456789012:og:special-options</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TargetOptionGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied option group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-option-group</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CopyOptionGroupResult": {
      "type": "structure",
      "members": {
        "OptionGroup": {
          "target": "com.amazonaws.rds#OptionGroup"
        }
      }
    },
    "com.amazonaws.rds#CreateCustomAvailabilityZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CreateCustomAvailabilityZoneMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CreateCustomAvailabilityZoneResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#CustomAvailabilityZoneAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#CustomAvailabilityZoneQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#KMSKeyNotAccessibleFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom Availability Zone (AZ).</p>\n        <p>A custom AZ is an on-premises AZ that is integrated with a VMware vSphere cluster.</p>\n        <p>For more information about RDS on VMware, see the \n            <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/RDSonVMwareUserGuide/rds-on-vmware.html\">\n                <i>RDS on VMware User Guide.</i>\n            </a>\n         </p>"
      }
    },
    "com.amazonaws.rds#CreateCustomAvailabilityZoneMessage": {
      "type": "structure",
      "members": {
        "NewVpnTunnelName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of a new VPN tunnel between the Amazon RDS website and the VMware vSphere cluster.</p>\n        <p>Specify this parameter only if <code>ExistingVpnId</code> isn't specified.</p>"
          }
        },
        "ExistingVpnId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an existing virtual private network (VPN) between the Amazon RDS website and\n            the VMware vSphere cluster.</p>"
          }
        },
        "VpnTunnelOriginatorIP": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of network traffic from your on-premises data center. A custom AZ receives the network traffic.</p>\n        <p>Specify this parameter only if <code>ExistingVpnId</code> isn't specified.</p>"
          }
        },
        "CustomAvailabilityZoneName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom Availability Zone (AZ).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CreateCustomAvailabilityZoneResult": {
      "type": "structure",
      "members": {
        "CustomAvailabilityZone": {
          "target": "com.amazonaws.rds#CustomAvailabilityZone"
        }
      }
    },
    "com.amazonaws.rds#CreateDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CreateDBClusterMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CreateDBClusterResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "target": "com.amazonaws.rds#DBSubnetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DomainNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#GlobalClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InsufficientStorageClusterCapacityFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSubnetGroupStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidGlobalClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidSubnet"
        },
        {
          "target": "com.amazonaws.rds#InvalidVPCNetworkStateFault"
        },
        {
          "target": "com.amazonaws.rds#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.rds#StorageQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Aurora DB cluster.</p>\n         <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB\n            cluster as a read replica of another DB cluster or Amazon RDS MySQL DB instance. For\n            cross-region replication where the DB cluster identified by\n                <code>ReplicationSourceIdentifier</code> is encrypted, you must also specify the\n                <code>PreSignedUrl</code> parameter.</p>\n\n         <p>For more information on Amazon Aurora, see  \n          <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\">\n              What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i>\n         </p>\n         <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n         </note>"
      }
    },
    "com.amazonaws.rds#CreateDBClusterEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CreateDBClusterEndpointMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBClusterEndpoint"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterEndpointAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterEndpointQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new custom endpoint and associates it with an Amazon Aurora DB cluster.</p>\n         <note>\n           <p>This action only applies to Aurora DB clusters.</p>\n         </note>"
      }
    },
    "com.amazonaws.rds#CreateDBClusterEndpointMessage": {
      "type": "structure",
      "members": {
        "ExcludedMembers": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>List of DB instance identifiers that aren't part of the custom endpoint group.\n       All other eligible instances are reachable through the custom endpoint.\n       Only relevant if the list of static members is empty.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the endpoint. One of: <code>READER</code>, <code>WRITER</code>, <code>ANY</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DBClusterEndpointIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier to use for the new endpoint. This parameter is stored as a lowercase string.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Amazon RDS resource.</p>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier of the DB cluster associated with the endpoint. This parameter is\n            stored as a lowercase string.</p>",
            "smithy.api#required": {}
          }
        },
        "StaticMembers": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>List of DB instance identifiers that are part of the custom endpoint group.</p>"
          }
        }
      }
    },
    "com.amazonaws.rds#CreateDBClusterMessage": {
      "type": "structure",
      "members": {
        "PreferredBackupWindow": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The daily time range during which automated backups are created\n        if automated backups are enabled\n        using the <code>BackupRetentionPeriod</code> parameter.\n        </p>\n         <p>The default is a 30-minute window selected at random from an\n        8-hour block of time for each AWS Region. \n        To see the time blocks available, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_UpgradeDBInstance.Maintenance.html#AdjustingTheMaintenanceWindow.Aurora\">\n            Adjusting the Preferred DB Cluster Maintenance Window</a> in the <i>Amazon Aurora User Guide.</i>\n        </p>\n         <p>Constraints:</p> \n         <ul>\n            <li>\n               <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p>\n            </li>\n            <li>\n               <p>Must be in Universal Coordinated Time (UTC).</p>\n            </li>\n            <li>\n               <p>Must not conflict with the preferred maintenance window.</p>\n            </li>\n            <li>\n               <p>Must be at least 30 minutes.</p>\n            </li>\n         </ul>"
          }
        },
        "BackupRetentionPeriod": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days for which automated backups are retained.</p>\n         <p>Default: 1</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be a value from 1 to 35</p>\n            </li>\n         </ul>"
          }
        },
        "CopyTagsToSnapshot": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to copy all tags from the DB cluster to snapshots of the DB cluster. \n            The default is not to copy them.</p>"
          }
        },
        "DBClusterParameterGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            The name of the DB cluster parameter group to associate\n            with this DB cluster. If you do not specify a value, then \n          the default DB cluster parameter group for the specified DB engine and version is used.\n        </p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If supplied, must match the name of an existing DB cluster parameter group.</p>\n            </li>\n         </ul>"
          }
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "VpcSecurityGroupIds": {
          "target": "com.amazonaws.rds#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 VPC security groups to associate with this DB cluster.</p>"
          }
        },
        "DBSubnetGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A DB subnet group to associate with this DB cluster.</p>\n         <p>Constraints: Must match the name of an existing DBSubnetGroup. Must not be default.</p>\n         <p>Example: <code>mySubnetgroup</code>\n         </p>"
          }
        },
        "BacktrackWindow": {
          "target": "com.amazonaws.rds#LongOptional",
          "traits": {
            "smithy.api#documentation": "<p>The target backtrack window, in seconds. To disable backtracking, set this value to\n            0. </p>\n        <note>\n            <p>Currently, Backtrack is only supported for Aurora MySQL DB clusters.</p>\n        </note>\n         <p>Default: 0</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If specified, this value must be set to a number from 0 to 259,200 (72 hours).</p>\n            </li>\n         </ul>"
          }
        },
        "StorageEncrypted": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the DB cluster is encrypted.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the master user for the DB cluster.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be 1 to 16 letters or numbers.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't be a reserved word for the chosen database engine.</p>\n            </li>\n         </ul>"
          }
        },
        "Engine": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database engine to be used for this DB cluster.</p>\n         <p>Valid Values: <code>aurora</code> (for MySQL 5.6-compatible Aurora), <code>aurora-mysql</code> (for MySQL 5.7-compatible Aurora), and <code>aurora-postgresql</code> \n         </p>",
            "smithy.api#required": {}
          }
        },
        "DomainIAMRoleName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>Specify the name of the IAM role to be used when making API calls to the Directory Service.</p>"
          }
        },
        "GlobalClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The global cluster ID of an Aurora cluster that becomes the primary cluster\n        in the new global database cluster.\n      </p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.rds#String",
          "traits": {
[...]
