{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.rds#AccountAttributesMessage": {
      "type": "structure",
      "members": {
        "AccountQuotas": {
          "target": "com.amazonaws.rds#AccountQuotaList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>AccountQuota</code> objects. Within this list, each quota has a name, \n            a count of usage toward the quota maximum, and a maximum value for the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data returned by the <b>DescribeAccountAttributes</b> action.</p>"
      }
    },
    "com.amazonaws.rds#AccountQuota": {
      "type": "structure",
      "members": {
        "AccountQuotaName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon RDS quota for this Amazon Web Services account.</p>"
          }
        },
        "Used": {
          "target": "com.amazonaws.rds#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount currently used toward the quota maximum.</p>"
          }
        },
        "Max": {
          "target": "com.amazonaws.rds#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowed value for the quota.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a quota for an Amazon Web Services account.</p>\n         <p>The following are account quotas:</p>\n         <ul>\n            <li>\n              <p>\n                  <code>AllocatedStorage</code> - The total allocated storage per account, in GiB.\n                    The used value is the total allocated storage in the account, in GiB.</p>\n            </li>\n            <li>\n              <p>\n                  <code>AuthorizationsPerDBSecurityGroup</code> - The number of ingress rules per DB security group. \n                  The used value is the highest number of ingress rules in a DB security group in the account. Other \n                  DB security groups in the account might have a lower number of ingress rules.</p>\n            </li>\n            <li>\n              <p>\n                  <code>CustomEndpointsPerDBCluster</code> - The number of custom endpoints per DB cluster. \n                  The used value is the highest number of custom endpoints in a DB clusters in the account. Other \n                  DB clusters in the account might have a lower number of custom endpoints.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusterParameterGroups</code> - The number of DB cluster parameter groups\n                    per account, excluding default parameter groups. The used value is the count of\n                    nondefault DB cluster parameter groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusterRoles</code> - The number of associated Amazon Web Services Identity and Access Management (IAM) roles per DB cluster. \n                  The used value is the highest number of associated IAM roles for a DB cluster in the account. Other \n                  DB clusters in the account might have a lower number of associated IAM roles.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBClusters</code> - The number of DB clusters per account. \n                  The used value is the count of DB clusters in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBInstanceRoles</code> - The number of associated IAM roles per DB instance. \n                  The used value is the highest number of associated IAM roles for a DB instance in the account. Other \n                  DB instances in the account might have a lower number of associated IAM roles.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBInstances</code> - The number of DB instances per account. \n                  The used value is the count of the DB instances in the account.</p>\n                  <p>Amazon RDS DB instances, Amazon Aurora DB instances, Amazon Neptune instances, and Amazon DocumentDB \n                      instances apply to this quota.</p>          \n            </li>\n            <li>\n              <p>\n                  <code>DBParameterGroups</code> - The number of DB parameter groups per account,\n                    excluding default parameter groups. The used value is the count of nondefault DB\n                    parameter groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBSecurityGroups</code> - The number of DB security groups (not VPC\n                    security groups) per account, excluding the default security group. The used\n                    value is the count of nondefault DB security groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>DBSubnetGroups</code> - The number of DB subnet groups per account. \n                  The used value is the count of the DB subnet groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>EventSubscriptions</code> - The number of event subscriptions per account. \n                  The used value is the count of the event subscriptions in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ManualClusterSnapshots</code> - The number of manual DB cluster snapshots per account. \n                  The used value is the count of the manual DB cluster snapshots in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ManualSnapshots</code> - The number of manual DB instance snapshots per account. \n                  The used value is the count of the manual DB instance snapshots in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>OptionGroups</code> - The number of DB option groups per account, excluding\n                    default option groups. The used value is the count of nondefault DB option\n                    groups in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ReadReplicasPerMaster</code> - The number of read replicas per DB\n                    instance. The used value is the highest number of read replicas for a DB\n                    instance in the account. Other DB instances in the account might have a lower\n                    number of read replicas.</p>\n            </li>\n            <li>\n              <p>\n                  <code>ReservedDBInstances</code> - The number of reserved DB instances per account.  \n                  The used value is the count of the active reserved DB instances in the account.</p>\n            </li>\n            <li>\n              <p>\n                  <code>SubnetsPerDBSubnetGroup</code> - The number of subnets per DB subnet group. \n                  The used value is highest number of subnets for a DB subnet group in the account. Other \n                  DB subnet groups in the account might have a lower number of subnets.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/CHAP_Limits.html\">Quotas for Amazon RDS</a> in the\n                <i>Amazon RDS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_Limits.html\">Quotas for Amazon Aurora</a> in the\n                <i>Amazon Aurora User Guide</i>.</p>"
      }
    },
    "com.amazonaws.rds#AccountQuotaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AccountQuota",
        "traits": {
          "smithy.api#xmlName": "AccountQuota"
        }
      }
    },
    "com.amazonaws.rds#ActivityStreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "sync",
            "name": "sync"
          },
          {
            "value": "async",
            "name": "async"
          }
        ]
      }
    },
    "com.amazonaws.rds#ActivityStreamModeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#String"
      }
    },
    "com.amazonaws.rds#ActivityStreamStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "stopped",
            "name": "stopped"
          },
          {
            "value": "starting",
            "name": "starting"
          },
          {
            "value": "started",
            "name": "started"
          },
          {
            "value": "stopping",
            "name": "stopping"
          }
        ]
      }
    },
    "com.amazonaws.rds#AddRoleToDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddRoleToDBClusterMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterRoleAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterRoleQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Identity and Access Management (IAM) role from an Amazon Aurora DB cluster.\n            For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.html\">Authorizing Amazon Aurora MySQL \n                  to Access Other Amazon Web Services Services on Your Behalf</a> in the <i>Amazon Aurora User Guide</i>.</p>\n        <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#AddRoleToDBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB cluster to associate the IAM role with.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the Aurora DB\n            cluster, for example, <code>arn:aws:iam::123456789012:role/AuroraAccessRole</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "FeatureName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature for the DB cluster that the IAM role is to be associated with. \n            For the list of supported feature names, see <a>DBEngineVersion</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.rds#AddRoleToDBInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddRoleToDBInstanceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceRoleAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceRoleQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Amazon Web Services Identity and Access Management (IAM) role with a DB instance.</p>\n        <note>\n            <p>To add a role to a DB instance, the status of the DB instance must be <code>available</code>.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#AddRoleToDBInstanceMessage": {
      "type": "structure",
      "members": {
        "DBInstanceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB instance to associate the IAM role with.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to associate with the DB instance, for\n            example <code>arn:aws:iam::123456789012:role/AccessRole</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "FeatureName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the feature for the DB instance that the IAM role is to be associated with. \n            For the list of supported feature names, see <a>DBEngineVersion</a>.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscription": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddSourceIdentifierToSubscriptionMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#AddSourceIdentifierToSubscriptionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#SourceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#SubscriptionNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a source identifier to an existing RDS event notification subscription.</p>"
      }
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscriptionMessage": {
      "type": "structure",
      "members": {
        "SubscriptionName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the RDS event notification subscription you want to add a source identifier to.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source to be added.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>If the source type is a DB instance, a <code>DBInstanceIdentifier</code> value must be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB cluster, a <code>DBClusterIdentifier</code> value must be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> value must be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> value must be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> value must be supplied.</p>\n            </li>\n            <li>\n               <p>If the source type is a DB cluster snapshot, a <code>DBClusterSnapshotIdentifier</code> value must be supplied.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#AddSourceIdentifierToSubscriptionResult": {
      "type": "structure",
      "members": {
        "EventSubscription": {
          "target": "com.amazonaws.rds#EventSubscription"
        }
      }
    },
    "com.amazonaws.rds#AddTagsToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AddTagsToResourceMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBInstanceNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBProxyNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBProxyTargetGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in a Condition statement in an IAM policy for Amazon RDS.</p>\n         <p>For an overview on tagging Amazon RDS resources, \n            see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>"
      }
    },
    "com.amazonaws.rds#AddTagsToResourceMessage": {
      "type": "structure",
      "members": {
        "ResourceName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon RDS resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about  \n            creating an ARN, \n        see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n            Constructing an RDS Amazon Resource Name (ARN)</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be assigned to the Amazon RDS resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#AmazonRDSv19": {
      "type": "service",
      "version": "2014-10-31",
      "operations": [
        {
          "target": "com.amazonaws.rds#AddRoleToDBCluster"
        },
        {
          "target": "com.amazonaws.rds#AddRoleToDBInstance"
        },
        {
          "target": "com.amazonaws.rds#AddSourceIdentifierToSubscription"
        },
        {
          "target": "com.amazonaws.rds#AddTagsToResource"
        },
        {
          "target": "com.amazonaws.rds#ApplyPendingMaintenanceAction"
        },
        {
          "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.rds#BacktrackDBCluster"
        },
        {
          "target": "com.amazonaws.rds#CancelExportTask"
        },
        {
          "target": "com.amazonaws.rds#CopyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CopyDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CopyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CopyDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CopyOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateCustomAvailabilityZone"
        },
        {
          "target": "com.amazonaws.rds#CreateDBCluster"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CreateDBInstance"
        },
        {
          "target": "com.amazonaws.rds#CreateDBInstanceReadReplica"
        },
        {
          "target": "com.amazonaws.rds#CreateDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBProxy"
        },
        {
          "target": "com.amazonaws.rds#CreateDBProxyEndpoint"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSecurityGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#CreateDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#CreateEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#CreateGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#CreateOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteCustomAvailabilityZone"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBCluster"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBClusterSnapshot"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBInstance"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBInstanceAutomatedBackup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBProxy"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBProxyEndpoint"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSecurityGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#DeleteDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#DeleteEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#DeleteGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#DeleteInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#DeleteOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#DeregisterDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#DescribeAccountAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeCertificates"
        },
        {
          "target": "com.amazonaws.rds#DescribeCustomAvailabilityZones"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterBacktracks"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterEndpoints"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameterGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBClusterSnapshots"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBEngineVersions"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBInstanceAutomatedBackups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBInstances"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBLogFiles"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBParameterGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxies"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxyEndpoints"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxyTargetGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSecurityGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSnapshotAttributes"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSnapshots"
        },
        {
          "target": "com.amazonaws.rds#DescribeDBSubnetGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeEngineDefaultClusterParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeEngineDefaultParameters"
        },
        {
          "target": "com.amazonaws.rds#DescribeEventCategories"
        },
        {
          "target": "com.amazonaws.rds#DescribeEvents"
        },
        {
          "target": "com.amazonaws.rds#DescribeEventSubscriptions"
        },
        {
          "target": "com.amazonaws.rds#DescribeExportTasks"
        },
        {
          "target": "com.amazonaws.rds#DescribeGlobalClusters"
        },
        {
          "target": "com.amazonaws.rds#DescribeInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#DescribeOptionGroupOptions"
        },
        {
          "target": "com.amazonaws.rds#DescribeOptionGroups"
        },
        {
          "target": "com.amazonaws.rds#DescribeOrderableDBInstanceOptions"
        },
        {
          "target": "com.amazonaws.rds#DescribePendingMaintenanceActions"
        },
        {
          "target": "com.amazonaws.rds#DescribeReservedDBInstances"
        },
        {
          "target": "com.amazonaws.rds#DescribeReservedDBInstancesOfferings"
        },
        {
          "target": "com.amazonaws.rds#DescribeSourceRegions"
        },
        {
          "target": "com.amazonaws.rds#DescribeValidDBInstanceModifications"
        },
        {
          "target": "com.amazonaws.rds#DownloadDBLogFilePortion"
        },
        {
          "target": "com.amazonaws.rds#FailoverDBCluster"
        },
        {
          "target": "com.amazonaws.rds#FailoverGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#ImportInstallationMedia"
        },
        {
          "target": "com.amazonaws.rds#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.rds#ModifyCertificates"
        },
        {
          "target": "com.amazonaws.rds#ModifyCurrentDBClusterCapacity"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBCluster"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterEndpoint"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBClusterSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBInstance"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBProxy"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBProxyEndpoint"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBProxyTargetGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSnapshotAttribute"
        },
        {
          "target": "com.amazonaws.rds#ModifyDBSubnetGroup"
        },
        {
          "target": "com.amazonaws.rds#ModifyEventSubscription"
        },
        {
          "target": "com.amazonaws.rds#ModifyGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#ModifyOptionGroup"
        },
        {
          "target": "com.amazonaws.rds#PromoteReadReplica"
        },
        {
          "target": "com.amazonaws.rds#PromoteReadReplicaDBCluster"
        },
        {
          "target": "com.amazonaws.rds#PurchaseReservedDBInstancesOffering"
        },
        {
          "target": "com.amazonaws.rds#RebootDBInstance"
        },
        {
          "target": "com.amazonaws.rds#RegisterDBProxyTargets"
        },
        {
          "target": "com.amazonaws.rds#RemoveFromGlobalCluster"
        },
        {
          "target": "com.amazonaws.rds#RemoveRoleFromDBCluster"
        },
        {
          "target": "com.amazonaws.rds#RemoveRoleFromDBInstance"
        },
        {
          "target": "com.amazonaws.rds#RemoveSourceIdentifierFromSubscription"
        },
        {
          "target": "com.amazonaws.rds#RemoveTagsFromResource"
        },
        {
          "target": "com.amazonaws.rds#ResetDBClusterParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#ResetDBParameterGroup"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterFromS3"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterFromSnapshot"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBClusterToPointInTime"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceFromDBSnapshot"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceFromS3"
        },
        {
          "target": "com.amazonaws.rds#RestoreDBInstanceToPointInTime"
        },
        {
          "target": "com.amazonaws.rds#RevokeDBSecurityGroupIngress"
        },
        {
          "target": "com.amazonaws.rds#StartActivityStream"
        },
        {
          "target": "com.amazonaws.rds#StartDBCluster"
        },
        {
          "target": "com.amazonaws.rds#StartDBInstance"
        },
        {
          "target": "com.amazonaws.rds#StartDBInstanceAutomatedBackupsReplication"
        },
        {
          "target": "com.amazonaws.rds#StartExportTask"
        },
        {
          "target": "com.amazonaws.rds#StopActivityStream"
        },
        {
          "target": "com.amazonaws.rds#StopDBCluster"
        },
        {
          "target": "com.amazonaws.rds#StopDBInstance"
        },
        {
          "target": "com.amazonaws.rds#StopDBInstanceAutomatedBackupsReplication"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "RDS",
          "arnNamespace": "rds",
          "cloudFormationName": "RDS",
          "cloudTrailEventSource": "rds.amazonaws.com",
          "endpointPrefix": "rds"
        },
        "aws.auth#sigv4": {
          "name": "rds"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Amazon Relational Database Service</fullname>\n        <p> </p> \n         <p>Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and \n          scale a relational database in the cloud. It provides cost-efficient, resizeable capacity for an industry-standard relational \n          database and manages common database administration tasks, freeing up developers to focus on what makes their applications \n          and businesses unique.</p>\n         <p>Amazon RDS gives you access to the capabilities of a MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, \n          Oracle, or Amazon Aurora database server. These capabilities mean that the code, applications, and tools \n          you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS \n          automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS \n          is flexible: you can scale your DB instance's compute resources and storage capacity to meet your \n          application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for \n          the resources you use.</p>\n         <p>This interface reference for Amazon RDS contains documentation for a programming or command line interface \n          you can use to manage Amazon RDS. Amazon RDS is asynchronous, which means that some interfaces might \n          require techniques such as polling or callback functions to determine when a command has been applied. In this \n          reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, \n          or during the maintenance window. The reference structure is as follows, and we list following some related topics \n          from the user guide.</p>\n    \n         <p>\n            <b>Amazon RDS API Reference</b>\n         </p>\n    \n         <ul>\n            <li>\n               <p>For the alphabetical list of API actions, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Operations.html\">API Actions</a>.</p>\n            </li>\n            <li>\n               <p>For the alphabetical list of data types, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Types.html\">Data Types</a>.</p>\n            </li>\n            <li>\n               <p>For a list of common query parameters, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonParameters.html\">Common Parameters</a>.</p>\n            </li>\n            <li>\n               <p>For descriptions of the error codes, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>\n            </li>\n         </ul>\n    \n         <p>\n            <b>Amazon RDS User Guide</b>\n         </p>\n    \n         <ul>\n            <li>\n               <p>For a summary of the Amazon RDS interfaces, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>.</p>\n            </li>\n            <li>\n               <p>For more information about how to use the Query API, see \n        <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Using_the_Query_API.html\">Using the Query API</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Relational Database Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://rds.amazonaws.com/doc/2014-10-31/"
        }
      }
    },
    "com.amazonaws.rds#ApplyMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "immediate",
            "name": "immediate"
          },
          {
            "value": "pending-reboot",
            "name": "pending_reboot"
          }
        ]
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#ApplyPendingMaintenanceActionMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#ApplyPendingMaintenanceActionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBInstanceStateFault"
        },
        {
          "target": "com.amazonaws.rds#ResourceNotFoundFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>"
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceActionMessage": {
      "type": "structure",
      "members": {
        "ResourceIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The RDS Amazon Resource Name (ARN) of the resource that the \n      pending maintenance action applies to. For information about  \n      creating an ARN, \n      see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n        Constructing an RDS Amazon Resource Name (ARN)</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplyAction": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The pending maintenance action to apply to this resource.</p>\n         <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>, \n          <code>hardware-maintenance</code>, <code>ca-certificate-rotation</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "OptInType": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in \n           request of type <code>immediate</code> can't be undone.</p>\n         <p>Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>immediate</code> - Apply the maintenance action immediately.</p>\n            </li>\n            <li>\n               <p>\n                  <code>next-maintenance</code> - Apply the maintenance action during\n            the next maintenance window for the resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code>\n            opt-in requests.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#ApplyPendingMaintenanceActionResult": {
      "type": "structure",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "target": "com.amazonaws.rds#ResourcePendingMaintenanceActions"
        }
      }
    },
    "com.amazonaws.rds#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#String",
        "traits": {
          "smithy.api#xmlName": "AttributeValue"
        }
      }
    },
    "com.amazonaws.rds#AuthScheme": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SECRETS",
            "name": "SECRETS"
          }
        ]
      }
    },
    "com.amazonaws.rds#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified CIDR IP range or Amazon EC2 security group is already authorized for\n            the specified DB security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.rds#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified CIDR IP range or Amazon EC2 security group might not be authorized\n            for the specified DB security group.</p>\n        <p>Or, RDS might not be authorized to perform necessary actions using IAM on your\n            behalf.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#AuthorizationQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The DB security group authorization quota has been reached.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#AuthorizationQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.rds#DBSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSecurityGroupStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security \n          groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC \n          instances. Second, IP ranges are available if the application accessing your database is running on the Internet. \n          Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId \n          and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).</p>\n         <note>\n            <p>You can't authorize ingress from an EC2 security group in one Amazon Web Services Region to an Amazon RDS DB instance in \n             another. You can't authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another.</p> \n         </note>\n         <p>For an overview of CIDR ranges, go to the \n            <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>.\n        </p>"
      }
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "DBSecurityGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the DB security group to add authorization to.</p>",
            "smithy.api#required": {}
          }
        },
        "CIDRIP": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP range to authorize.</p>"
          }
        },
        "EC2SecurityGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        Name of the EC2 security group to authorize.\n        For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided.\n        Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> \n      or <code>EC2SecurityGroupId</code> must be provided.\n        </p>"
          }
        },
        "EC2SecurityGroupId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        Id of the EC2 security group to authorize.\n        For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided.\n        Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided.\n        </p>"
          }
        },
        "EC2SecurityGroupOwnerId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        Amazon Web Services account number of the owner of the EC2 security group\n        specified in the <code>EC2SecurityGroupName</code> parameter.\n        The Amazon Web Services access key ID isn't an acceptable value.\n        For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided.\n        Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#AuthorizeDBSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "DBSecurityGroup": {
          "target": "com.amazonaws.rds#DBSecurityGroup"
        }
      }
    },
    "com.amazonaws.rds#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains Availability Zone information.</p>\n        <p> This data type is used as an element in the <code>OrderableDBInstanceOption</code>\n            data type.</p>"
      }
    },
    "com.amazonaws.rds#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.rds#AvailabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#String",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.rds#AvailableProcessorFeature": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the processor feature. Valid names are <code>coreCount</code> \n            and <code>threadsPerCore</code>.</p>"
          }
        },
        "DefaultValue": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value for the processor feature of the DB instance class.</p>"
          }
        },
        "AllowedValues": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The allowed values for the processor feature of the DB instance class.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the available processor feature information for the DB instance class of a DB instance.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.DBInstanceClass.html#USER_ConfigureProcessor\">Configuring the\n                Processor of the DB Instance Class</a> in the <i>Amazon RDS User Guide.\n            </i>\n         </p>"
      }
    },
    "com.amazonaws.rds#AvailableProcessorFeatureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#AvailableProcessorFeature",
        "traits": {
          "smithy.api#xmlName": "AvailableProcessorFeature"
        }
      }
    },
    "com.amazonaws.rds#AwsBackupRecoveryPointArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 43,
          "max": 350
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:backup:[-a-z0-9]+:[0-9]{12}:[-a-z]+:([a-z0-9\\-]+:)?[a-z][a-z0-9\\-]{0,255}$"
      }
    },
    "com.amazonaws.rds#BacktrackDBCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#BacktrackDBClusterMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#DBClusterBacktrack"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Backtracks a DB cluster to a specific time, without creating a new DB cluster.</p>\n        <p>For more information on backtracking, see \n            <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Backtrack.html\">\n                Backtracking an Aurora DB Cluster</a> in the \n            <i>Amazon Aurora User Guide.</i>\n        </p>\n        <note>\n            <p>This action only applies to Aurora MySQL DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#BacktrackDBClusterMessage": {
      "type": "structure",
      "members": {
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The DB cluster identifier of the DB cluster to be backtracked. This parameter is\n            stored as a lowercase string.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster1</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "BacktrackTo": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the time to backtrack the DB cluster to, specified in ISO\n            8601 format. For more information about ISO 8601, see the <a href=\"http://en.wikipedia.org/wiki/ISO_8601\">ISO8601 Wikipedia\n            page.</a>\n         </p>\n        <note>\n            <p>If the specified time isn't a consistent time for the DB cluster, \n                Aurora automatically chooses the nearest possible consistent time for the DB cluster.</p>\n        </note>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n                <p>Must contain a valid ISO 8601 timestamp.</p>\n            </li>\n            <li>\n                <p>Can't contain a timestamp set in the future.</p>\n            </li>\n         </ul>\n        <p>Example: <code>2017-07-08T18:00Z</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Force": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to force the DB cluster to backtrack when binary logging is\n            enabled. Otherwise, an error occurs when binary logging is enabled.</p>"
          }
        },
        "UseEarliestTimeOnPointInTimeUnavailable": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to backtrack the DB cluster to the earliest possible\n            backtrack time when <i>BacktrackTo</i> is set to a timestamp earlier than the earliest\n            backtrack time. When this parameter is disabled and <i>BacktrackTo</i> is set to a timestamp earlier than the earliest\n            backtrack time, an error occurs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#BackupPolicyNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BackupPolicyNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#deprecated": {
          "message": "Please avoid using this fault"
        },
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.rds#BooleanOptional": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.rds#CancelExportTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CancelExportTaskMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#ExportTask"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#ExportTaskNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidExportTaskStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an export task in progress that is exporting a snapshot to Amazon S3. \n            Any data that has already been written to the S3 bucket isn't removed.\n        </p>"
      }
    },
    "com.amazonaws.rds#CancelExportTaskMessage": {
      "type": "structure",
      "members": {
        "ExportTaskIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot export task to cancel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rds#Certificate": {
      "type": "structure",
      "members": {
        "CertificateIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique key that identifies a certificate.</p>"
          }
        },
        "CertificateType": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the certificate.</p>"
          }
        },
        "Thumbprint": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The thumbprint of the certificate.</p>"
          }
        },
        "ValidFrom": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date from which the certificate is valid.</p>"
          }
        },
        "ValidTill": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The final date that the certificate continues to be valid.</p>"
          }
        },
        "CertificateArn": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>"
          }
        },
        "CustomerOverride": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Whether there is an override for the default certificate identifier.</p>"
          }
        },
        "CustomerOverrideValidTill": {
          "target": "com.amazonaws.rds#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>If there is an override for the default certificate identifier, when the override\n            expires.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A CA certificate for an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.rds#CertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rds#Certificate",
        "traits": {
          "smithy.api#xmlName": "Certificate"
        }
      }
    },
    "com.amazonaws.rds#CertificateMessage": {
      "type": "structure",
      "members": {
        "Certificates": {
          "target": "com.amazonaws.rds#CertificateList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>Certificate</code> objects for the Amazon Web Services account.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n            An optional pagination token provided by a previous\n            <code>DescribeCertificates</code> request.\n            If this parameter is specified, the response includes\n            only records beyond the marker,\n            up to the value specified by <code>MaxRecords</code> .\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data returned by the <b>DescribeCertificates</b> action.</p>"
      }
    },
    "com.amazonaws.rds#CertificateNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.rds#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CertificateNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>\n            <code>CertificateIdentifier</code> doesn't refer to an\n        existing certificate.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.rds#CharacterSet": {
      "type": "structure",
      "members": {
        "CharacterSetName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the character set.</p>"
          }
        },
        "CharacterSetDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the character set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            This data type is used as a response element in the action <code>DescribeDBEngineVersions</code>. \n        </p>"
      }
    },
    "com.amazonaws.rds#CloudwatchLogsExportConfiguration": {
      "type": "structure",
      "members": {
        "EnableLogTypes": {
          "target": "com.amazonaws.rds#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to enable.</p>"
          }
        },
        "DisableLogTypes": {
          "target": "com.amazonaws.rds#LogTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of log types to disable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration setting for the log types to be enabled for export to CloudWatch\n            Logs for a specific DB instance or DB cluster.</p>\n        <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays determine which logs will be exported\n            (or not exported) to CloudWatch Logs. The values within these arrays depend on the DB\n            engine being used.</p>\n        <p>For more information about exporting CloudWatch Logs for Amazon RDS DB instances, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_LogAccess.html#USER_LogAccess.Procedural.UploadtoCloudWatch\">Publishing Database Logs to Amazon CloudWatch Logs </a> in the <i>Amazon RDS User Guide</i>.</p>\n        <p>For more information about exporting CloudWatch Logs for Amazon Aurora DB clusters, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_LogAccess.html#USER_LogAccess.Procedural.UploadtoCloudWatch\">Publishing Database Logs to Amazon CloudWatch Logs</a> in the <i>Amazon Aurora User Guide</i>.</p>"
      }
    },
    "com.amazonaws.rds#ClusterPendingModifiedValues": {
      "type": "structure",
      "members": {
        "PendingCloudwatchLogsExports": {
          "target": "com.amazonaws.rds#PendingCloudwatchLogsExports"
        },
        "DBClusterIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The DBClusterIdentifier value for the DB cluster.</p>"
          }
        },
        "MasterUserPassword": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The master credentials for the DB cluster.</p>"
          }
        },
        "IAMDatabaseAuthenticationEnabled": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether mapping of Amazon Web Services Identity and Access Management (IAM) accounts to database accounts is enabled.</p>"
          }
        },
        "EngineVersion": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The database engine version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used as a response element in the <code>ModifyDBCluster</code> operation and \n            contains changes that will be applied during the next maintenance window.</p>"
      }
    },
    "com.amazonaws.rds#ConnectionPoolConfiguration": {
      "type": "structure",
      "members": {
        "MaxConnectionsPercent": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the connection pool for each target in a target group. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.</p>\n         <p>Default: 100</p>\n         <p>Constraints: between 1 and 100</p>"
          }
        },
        "MaxIdleConnectionsPercent": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>\n        Controls how actively the proxy closes idle database connections in the connection pool.\n        A high value enables the proxy to leave a high percentage of idle connections open.\n        A low value causes the proxy to close idle client connections and return the underlying\n        database connections to the connection pool. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.\n      </p>\n         <p>Default: 50</p>\n         <p>Constraints: between 0 and <code>MaxConnectionsPercent</code>\n         </p>"
          }
        },
        "ConnectionBorrowTimeout": {
          "target": "com.amazonaws.rds#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for a proxy to wait for a connection to become available in the connection pool. Only applies when the\n        proxy has opened its maximum number of connections and all connections are busy with client sessions.</p>\n         <p>Default: 120</p>\n         <p>Constraints: between 1 and 3600, or 0 representing unlimited</p>"
          }
        },
        "SessionPinningFilters": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Each item in the list represents a class of SQL operations that normally cause all later statements\n        in a session using a proxy to be pinned to the same underlying database connection. Including an item\n        in the list exempts that class of SQL operations from the pinning behavior.</p>\n         <p>Default: no session pinning filters</p>"
          }
        },
        "InitQuery": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        One or more SQL statements for the proxy to run when opening each new database connection.\n        Typically used with <code>SET</code> statements to make sure that each connection has identical\n        settings such as time zone and character set. For multiple statements, use semicolons as the separator.\n        You can also include multiple variables in a single <code>SET</code> statement, such as\n        <code>SET x=1, y=2</code>.\n      </p>\n         <p>Default: no initialization query</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the settings that control the size and behavior of the connection pool associated with a <code>DBProxyTargetGroup</code>.</p>"
      }
    },
    "com.amazonaws.rds#ConnectionPoolConfigurationInfo": {
      "type": "structure",
      "members": {
        "MaxConnectionsPercent": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of the connection pool for each target in a target group. For Aurora MySQL, it is expressed as a percentage of the\n        <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.</p>"
          }
        },
        "MaxIdleConnectionsPercent": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>\n        Controls how actively the proxy closes idle database connections in the connection pool.\n        A high value enables the proxy to leave a high percentage of idle connections open.\n        A low value causes the proxy to close idle client connections and return the underlying database connections to the connection pool.\n        For Aurora MySQL, it is expressed as a percentage of the <code>max_connections</code> setting for the RDS DB instance or Aurora DB cluster used by the target group.\n      </p>"
          }
        },
        "ConnectionBorrowTimeout": {
          "target": "com.amazonaws.rds#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds for a proxy to wait for a connection to become available in the connection pool. Only applies when the\n        proxy has opened its maximum number of connections and all connections are busy with client sessions.</p>"
          }
        },
        "SessionPinningFilters": {
          "target": "com.amazonaws.rds#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Each item in the list represents a class of SQL operations that normally cause all later statements\n        in a session using a proxy to be pinned to the same underlying database connection. Including an item\n        in the list exempts that class of SQL operations from the pinning behavior. Currently, the only\n        allowed value is <code>EXCLUDE_VARIABLE_SETS</code>.</p>"
          }
        },
        "InitQuery": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        One or more SQL statements for the proxy to run when opening each new database connection.\n        Typically used with <code>SET</code> statements to make sure that each connection has identical\n        settings such as time zone and character set. This setting is empty by default.\n        For multiple statements, use semicolons as the separator.\n        You can also include multiple variables in a single <code>SET</code> statement, such as\n        <code>SET x=1, y=2</code>.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Displays the settings that control the size and behavior of the connection pool associated with a <code>DBProxyTarget</code>.</p>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBClusterParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBClusterParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB cluster parameter group.</p>\n        <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n        </note>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group.\n            For information about  \n            creating an ARN, \n            see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n                Constructing an ARN for Amazon RDS</a> in the <i>Amazon Aurora User Guide</i>.\n        </p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Must specify a valid DB cluster parameter group.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB cluster parameter group.</p>\n        <p>Constraints:</p>\n        <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n        <p>Example: <code>my-cluster-param-group1</code>\n        </p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterParameterGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB cluster parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        }
      }
    },
    "com.amazonaws.rds#CopyDBClusterParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBClusterParameterGroup": {
          "target": "com.amazonaws.rds#DBClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBClusterStateFault"
        },
        {
          "target": "com.amazonaws.rds#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.rds#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a snapshot of a DB cluster.</p>\n         <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code>\n          must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p>\n\n         <p>You can copy an encrypted DB cluster snapshot from another Amazon Web Services Region. In that case, the Amazon Web Services Region where you call the <code>CopyDBClusterSnapshot</code> action \n          is the destination Amazon Web Services Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another Amazon Web Services Region, \n          you must provide the following values:</p>     \n      \n         <ul>\n            <li>\n               <p>\n                  <code>KmsKeyId</code> - The Amazon Web Services Key Management System (Amazon Web Services KMS) key identifier for the key to use to \n              encrypt the copy of the DB cluster snapshot in the destination Amazon Web Services Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>PreSignedUrl</code> -  A URL that contains a Signature Version 4 signed request for the \n              <code>CopyDBClusterSnapshot</code> action to be called in the source Amazon Web Services Region where the DB cluster snapshot is copied from. \n              The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the \n              source Amazon Web Services Region that contains the encrypted DB cluster snapshot to be copied.</p>\n              <p>The pre-signed URL request must contain the following parameter values:</p>\n              <ul>\n                  <li>\n                     <p>\n                        <code>KmsKeyId</code> - The Amazon Web Services KMS key identifier for the customer master key (CMK) to use to encrypt the copy of the DB \n                      cluster snapshot in the destination Amazon Web Services Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> \n                      action that is called in the destination Amazon Web Services Region, and the action contained in the pre-signed URL.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DestinationRegion</code> - The name of the Amazon Web Services Region that the DB cluster snapshot is to be created in.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster \n                      snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source Amazon Web Services Region. For example, \n                      if you are copying an encrypted DB cluster snapshot from the us-west-2 Amazon Web Services Region, then your <code>SourceDBClusterSnapshotIdentifier</code>\n                      looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p>\n                  </li>\n               </ul>\n              <p>To learn how to generate a Signature Version 4 signed request, see \n\n                  <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">\n                      Authenticating Requests: Using Query Parameters (Amazon Web Services Signature Version 4)</a> and\n                  <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">\n                      Signature Version 4 Signing Process</a>.</p>\n              <note>\n                  <p>If you are using an Amazon Web Services SDK tool or the CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the CLI) \n                      instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid \n                      request for the operation that can be executed in the source Amazon Web Services Region.</p>\n              </note>\n            </li>\n            <li>\n               <p>\n                  <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination Amazon Web Services Region.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. \n              This identifier must be in the ARN format for the source Amazon Web Services Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p>\n            </li>\n         </ul>\n         <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified\n          by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in \"copying\" status.</p>\n         <p>For more information on copying encrypted DB cluster snapshots from one Amazon Web Services Region to another, see \n          <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html\">\n              Copying a Snapshot</a> in the <i>Amazon Aurora User Guide.</i>\n         </p>\n         <p>For more information on Amazon Aurora, see \n          <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\">\n              What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i>\n         </p>\n         <note>\n            <p>This action only applies to Aurora DB clusters.</p>\n         </note>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshotMessage": {
      "type": "structure",
      "members": {
        "SourceDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the DB cluster snapshot to copy. This parameter isn't case-sensitive.</p>\n         <p>You can't copy an encrypted, shared DB cluster snapshot from one Amazon Web Services Region to another.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid system snapshot in the \"available\" state.</p>\n            </li>\n            <li>\n               <p>If the source snapshot is in the same Amazon Web Services Region as the copy, specify a valid DB snapshot identifier.</p>\n            </li>\n            <li>\n               <p>If the source snapshot is in a different Amazon Web Services Region than the copy,\n              specify a valid DB cluster snapshot ARN. For more information, go to\n              <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html#USER_CopySnapshot.AcrossRegions\">\n                  Copying Snapshots Across Amazon Web Services Regions</a> in the <i>Amazon Aurora User Guide.</i>\n               </p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot1</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBClusterSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter isn't case-sensitive.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p>\n            </li>\n            <li>\n               <p>First character must be a letter.</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens.</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-cluster-snapshot2</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services KMS key identifier for an encrypted DB cluster snapshot. \n            The Amazon Web Services KMS key identifier is the key ARN, key ID, alias ARN, or alias name for the Amazon Web Services KMS customer master key (CMK).</p>             \n        \n        <p>If you copy an encrypted DB cluster snapshot from your Amazon Web Services account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new Amazon Web Services KMS CMK. \n            If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same Amazon Web Services KMS key as the source DB cluster snapshot. \n        </p>\n         \n        <p>If you copy an encrypted DB cluster snapshot that is shared from another Amazon Web Services account, then you must specify a value for <code>KmsKeyId</code>. </p>\n        \n        <p>To copy an encrypted DB cluster snapshot to another Amazon Web Services Region, you must set <code>KmsKeyId</code> to the Amazon Web Services KMS key identifier you want to use to encrypt the copy of the DB cluster snapshot \n            in the destination Amazon Web Services Region. Amazon Web Services KMS CMKs are specific to the Amazon Web Services Region that they are created in, and you can't use CMKs from one Amazon Web Services Region \n            in another Amazon Web Services Region.</p>\n        \n        <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, \n            an error is returned.</p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the Amazon Web Services Region that contains the \n            source DB cluster snapshot to copy. The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB cluster snapshot from another Amazon Web Services Region. \n            Don't specify <code>PreSignedUrl</code> when you are copying an encrypted DB cluster snapshot in the same Amazon Web Services Region.</p>\n        <p>The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be\n            executed in the source Amazon Web Services Region that contains the encrypted DB cluster snapshot to be copied. \n            The pre-signed URL request must contain the following parameter values:</p>\n        \n        <ul>\n            <li>\n               <p>\n                  <code>KmsKeyId</code> - The Amazon Web Services KMS key identifier for the customer master key (CMK) to use to encrypt the copy of the DB \n                cluster snapshot in the destination Amazon Web Services Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> \n                action that is called in the destination Amazon Web Services Region, and the action contained in the pre-signed URL.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DestinationRegion</code> - The name of the Amazon Web Services Region that the DB cluster snapshot is to be created in.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster \n                snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source Amazon Web Services Region. For example, \n                if you are copying an encrypted DB cluster snapshot from the us-west-2 Amazon Web Services Region, then your <code>SourceDBClusterSnapshotIdentifier</code>\n                looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p>\n            </li>\n         </ul>\n        \n        <p>To learn how to generate a Signature Version 4 signed request, see \n\n            <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">\n                Authenticating Requests: Using Query Parameters (Amazon Web Services Signature Version 4)</a> and\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">\n                Signature Version 4 Signing Process</a>.</p>\n        \n        <note>\n            <p>If you are using an Amazon Web Services SDK tool or the CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the CLI) \n                instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid \n                request for the operation that can be executed in the source Amazon Web Services Region.</p>\n        </note>"
          }
        },
        "CopyTags": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot. \n            By default, tags are not copied.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CopyDBClusterSnapshotResult": {
      "type": "structure",
      "members": {
        "DBClusterSnapshot": {
          "target": "com.amazonaws.rds#DBClusterSnapshot"
        }
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBParameterGroupMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBParameterGroupResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#DBParameterGroupAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBParameterGroupQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB parameter group.</p>"
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroupMessage": {
      "type": "structure",
      "members": {
        "SourceDBParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>\n        The identifier or ARN for the source DB parameter group.\n        For information about  \n        creating an ARN, \n        see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing\">\n            Constructing an ARN for Amazon RDS</a> in the <i>Amazon RDS User Guide</i>.\n        </p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid DB parameter group.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TargetDBParameterGroupIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copied DB parameter group.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n         <p>Example: <code>my-db-parameter-group</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBParameterGroupDescription": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>A description for the copied DB parameter group.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.rds#CopyDBParameterGroupResult": {
      "type": "structure",
      "members": {
        "DBParameterGroup": {
          "target": "com.amazonaws.rds#DBParameterGroup"
        }
      }
    },
    "com.amazonaws.rds#CopyDBSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rds#CopyDBSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.rds#CopyDBSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.rds#CustomAvailabilityZoneNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.rds#DBSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.rds#InvalidDBSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.rds#KMSKeyNotAccessibleFault"
        },
        {
          "target": "com.amazonaws.rds#SnapshotQuotaExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies the specified DB snapshot. The source DB snapshot must be in the <code>available</code> state.</p>\n        \n        <p>You can copy a snapshot from one Amazon Web Services Region to another. In that case, the Amazon Web Services Region\n            where you call the <code>CopyDBSnapshot</code> action is the destination Amazon Web Services Region for the\n            DB snapshot copy. </p>     \n        \n        <p>For more information about copying snapshots, see \n            <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopyDBSnapshot\">Copying a DB Snapshot</a> in the <i>Amazon RDS User Guide.</i>\n        </p>"
      }
    },
    "com.amazonaws.rds#CopyDBSnapshotMessage": {
      "type": "structure",
      "members": {
        "SourceDBSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source DB snapshot.</p>\n      \n         <p>If the source snapshot is in the same Amazon Web Services Region as the copy, specify a valid DB\n            snapshot identifier. For example, you might specify\n                <code>rds:mysql-instance1-snapshot-20130805</code>. </p>\n      \n         <p>If the source snapshot is in a different Amazon Web Services Region than the copy, specify a valid DB\n            snapshot ARN. For example, you might specify\n                <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code>. </p>\n\n         <p>If you are copying from a shared manual DB snapshot, \n          this parameter must be the Amazon Resource Name (ARN) of the shared DB snapshot.\n      </p>\n      \n         <p>If you are copying an encrypted snapshot\n            this parameter must be in the ARN format for the source Amazon Web Services Region, \n            and must match the <code>SourceDBSnapshotIdentifier</code> in the <code>PreSignedUrl</code> parameter.\n      </p>\n      \n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must specify a valid system snapshot in the \"available\" state.</p>\n            </li>\n         </ul>\n\n         <p>Example: <code>rds:mydb-2012-04-02-00-01</code>\n         </p>\n\n         <p>Example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TargetDBSnapshotIdentifier": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the copy of the snapshot.\n        </p>\n    \n        <p>Constraints:</p>\n      \n        <ul>\n            <li>\n               <p>Can't be null, empty, or blank</p>\n            </li>\n            <li>\n               <p>Must contain from 1 to 255 letters, numbers, or hyphens</p>\n            </li>\n            <li>\n               <p>First character must be a letter</p>\n            </li>\n            <li>\n               <p>Can't end with a hyphen or contain two consecutive hyphens</p>\n            </li>\n         </ul>\n\n        <p>Example: <code>my-db-snapshot</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services KMS key identifier for an encrypted DB snapshot. \n            The Amazon Web Services KMS key identifier is the key ARN, key ID, alias ARN, or alias name for the Amazon Web Services KMS customer master key (CMK). \n        </p>\n        \n        <p>If you copy an encrypted DB snapshot from your Amazon Web Services account, \n            you can specify a value for this parameter to encrypt the copy with a new Amazon Web Services KMS CMK. \n            If you don't specify a value for this parameter, \n            then the copy of the DB snapshot is encrypted with the same Amazon Web Services KMS key as the source DB snapshot. \n        </p>\n\n        <p>If you copy an encrypted DB snapshot that is shared from another Amazon Web Services account, \n            then you must specify a value for this parameter.\n        </p>\n        \n        <p>If you specify this parameter when you copy an unencrypted snapshot, \n            the copy is encrypted.\n        </p>\n        \n        <p>If you copy an encrypted snapshot to a different Amazon Web Services Region, then you must specify\n            a Amazon Web Services KMS key identifier for the destination Amazon Web Services Region. Amazon Web Services KMS CMKs are specific to the Amazon Web Services Region\n            that they are created in, and you can't use CMKs from one Amazon Web Services Region in another\n            Amazon Web Services Region.\n        </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.rds#TagList"
        },
        "CopyTags": {
          "target": "com.amazonaws.rds#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to copy all tags from the source DB snapshot to the target DB snapshot. By default, tags are not copied.</p>"
          }
        },
        "PreSignedUrl": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The URL that contains a Signature Version 4 signed request for the\n                <code>CopyDBSnapshot</code> API action in the source Amazon Web Services Region that contains the\n            source DB snapshot to copy. </p>\n        \n        <p>You must specify this parameter when you copy an encrypted DB snapshot from another\n            Amazon Web Services Region by using the Amazon RDS API. Don't specify <code>PreSignedUrl</code> when you are \n            copying an encrypted DB snapshot in the same Amazon Web Services Region.</p>\n        \n        <p>The presigned URL must be a valid request for the <code>CopyDBSnapshot</code> API action \n            that can be executed in the source Amazon Web Services Region that contains the encrypted DB snapshot to be copied. \n            The presigned URL request must contain the following parameter values:\n        </p>\n                \n        <ul>\n            <li>\n                <p>\n                  <code>DestinationRegion</code> - The Amazon Web Services Region that the encrypted DB snapshot is copied to. \n                    This Amazon Web Services Region is the same one where the <code>CopyDBSnapshot</code> action is called that contains this presigned URL.\n                </p>\n\n                <p>For example, if you copy an encrypted DB snapshot from the us-west-2 Amazon Web Services Region\n                    to the us-east-1 Amazon Web Services Region, then you call the <code>CopyDBSnapshot</code> action in\n                    the us-east-1 Amazon Web Services Region and provide a presigned URL that contains a call to the\n                        <code>CopyDBSnapshot</code> action in the us-west-2 Amazon Web Services Region. For this\n                    example, the <code>DestinationRegion</code> in the presigned URL must be set to\n                    the us-east-1 Amazon Web Services Region. </p>\n            </li>\n            <li>\n                <p>\n                  <code>KmsKeyId</code> - The Amazon Web Services KMS key identifier for the customer master key (CMK) to use to encrypt the copy of the DB snapshot in the destination Amazon Web Services Region. \n                    This is the same identifier for both the <code>CopyDBSnapshot</code> action that is called in the destination Amazon Web Services Region, \n                    and the action contained in the presigned URL.\n                </p>\n            </li>\n            <li>\n                <p>\n                  <code>SourceDBSnapshotIdentifier</code> - The DB snapshot identifier for the encrypted snapshot to be copied. \n                    This identifier must be in the Amazon Resource Name (ARN) format for the source Amazon Web Services Region. \n                    For example, if you are copying an encrypted DB snapshot from the us-west-2 Amazon Web Services Region, then your <code>SourceDBSnapshotIdentifier</code> looks like\n                    the following example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20161115</code>.\n                </p>\n            </li>\n         </ul>\n\n\t        <p>To learn how to generate a Signature Version 4 signed request, see \n\t\t<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\">Authenticating Requests: Using Query Parameters (Amazon Web Services Signature Version 4)</a> and\n\t\t<a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.\n\t   </p>\n        \n         <note>\n           <p>If you are using an Amazon Web Services SDK tool or the CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the CLI) \n               instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid \n               request for the operation that can be executed in the source Amazon Web Services Region.</p>\n         </note>"
          }
        },
        "OptionGroupName": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of an option group to associate with the copy of the snapshot.</p>\n        \n        <p>Specify this option if you are copying a snapshot from one Amazon Web Services Region to another,\n            and your DB instance uses a nondefault option group. \n            If your source DB instance uses Transparent Data Encryption for Oracle or Microsoft SQL Server, \n            you must specify this option when copying across Amazon Web Services Regions. \n            For more information, see \n            <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopySnapshot.Options\">Option group considerations</a> in the <i>Amazon RDS User Guide.</i>\n        </p>"
          }
        },
        "TargetCustomAvailabilityZone": {
          "target": "com.amazonaws.rds#String",
          "traits": {
            "smithy.api#documentation": "<p>The external custom Availability Zone (CAZ) identifier for the target CAZ.</p>\n        <p>Example: <code>rds-caz-aiqhTgQv</code>.</p>"
[...]
