{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.redshift#AcceptReservedNodeExchange": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AcceptReservedNodeExchangeInputMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#AcceptReservedNodeExchangeOutputMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#DependentServiceUnavailableFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidReservedNodeStateFault"
        },
        {
          "target": "com.amazonaws.redshift#ReservedNodeAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.redshift#ReservedNodeAlreadyMigratedFault"
        },
        {
          "target": "com.amazonaws.redshift#ReservedNodeNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#ReservedNodeOfferingNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the\n            configuration (term, payment type, or number of nodes) and no additional costs.\n        </p>"
      }
    },
    "com.amazonaws.redshift#AcceptReservedNodeExchangeInputMessage": {
      "type": "structure",
      "members": {
        "ReservedNodeId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the node identifier of the DC1 Reserved Node to be\n            exchanged.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetReservedNodeOfferingId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the DC2 Reserved Node offering to be used for the exchange.\n            You can obtain the value for the parameter by calling <a>GetReservedNodeExchangeOfferings</a>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshift#AcceptReservedNodeExchangeOutputMessage": {
      "type": "structure",
      "members": {
        "ExchangedReservedNode": {
          "target": "com.amazonaws.redshift#ReservedNode",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#AccessToClusterDeniedFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessToClusterDenied",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>You are not authorized to access the cluster.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AccessToSnapshotDeniedFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessToSnapshotDenied",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The owner of the specified snapshot has not authorized your account to access the\n            snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AccountAttribute": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute.</p>"
          }
        },
        "AttributeValues": {
          "target": "com.amazonaws.redshift#AttributeValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attribute values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A name value pair that describes an aspect of an account. </p>"
      }
    },
    "com.amazonaws.redshift#AccountAttributeList": {
      "type": "structure",
      "members": {
        "AccountAttributes": {
          "target": "com.amazonaws.redshift#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of attributes assigned to an account.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#AccountWithRestoreAccess": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an Amazon Web Services account authorized to restore a\n            snapshot.</p>"
          }
        },
        "AccountAlias": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an Amazon Web Services support account authorized to restore a \n            snapshot. For Amazon Web Services Support, the identifier is <code>amazon-redshift-support</code>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Web Services account authorized to restore a snapshot.</p>"
      }
    },
    "com.amazonaws.redshift#AccountsWithRestoreAccessList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#AccountWithRestoreAccess",
        "traits": {
          "smithy.api#xmlName": "AccountWithRestoreAccess"
        }
      }
    },
    "com.amazonaws.redshift#ActionType": {
      "type": "enum",
      "members": {
        "RESTORE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "restore-cluster"
          }
        },
        "RECOMMEND_NODE_CONFIG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "recommend-node-config"
          }
        },
        "RESIZE_CLUSTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "resize-cluster"
          }
        }
      }
    },
    "com.amazonaws.redshift#AddPartner": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#PartnerIntegrationInputMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#PartnerIntegrationOutputMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#PartnerNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#UnauthorizedPartnerIntegrationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a partner integration to a cluster.\n            This operation authorizes a partner to push status updates for the specified database. \n            To complete the integration, you also set up the integration on the partner website.</p>"
      }
    },
    "com.amazonaws.redshift#AquaConfiguration": {
      "type": "structure",
      "members": {
        "AquaStatus": {
          "target": "com.amazonaws.redshift#AquaStatus",
          "traits": {
            "smithy.api#documentation": "<p>This field is retired. Amazon Redshift automatically determines whether to use AQUA (Advanced Query Accelerator).</p>"
          }
        },
        "AquaConfigurationStatus": {
          "target": "com.amazonaws.redshift#AquaConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>This field is retired. Amazon Redshift automatically determines whether to use AQUA (Advanced Query Accelerator).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation that uses this structure is retired. Amazon Redshift automatically determines whether to use AQUA (Advanced Query Accelerator).</p>"
      }
    },
    "com.amazonaws.redshift#AquaConfigurationStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "auto"
          }
        }
      }
    },
    "com.amazonaws.redshift#AquaStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "enabled"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "disabled"
          }
        },
        "APPLYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "applying"
          }
        }
      }
    },
    "com.amazonaws.redshift#AssociateDataShareConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AssociateDataShareConsumerMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#DataShare"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#InvalidDataShareFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidNamespaceFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>From a datashare consumer account, associates a datashare with the\n            account (AssociateEntireAccount) or the specified namespace (ConsumerArn). If you make this association, the consumer\n            can consume the datashare.</p>"
      }
    },
    "com.amazonaws.redshift#AssociateDataShareConsumerMessage": {
      "type": "structure",
      "members": {
        "DataShareArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the datashare that the consumer is to use with the account or the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociateEntireAccount": {
          "target": "com.amazonaws.redshift#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies whether the datashare is associated with the entire account.</p>"
          }
        },
        "ConsumerArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the consumer that is associated with the\n            datashare.</p>"
          }
        },
        "ConsumerRegion": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>From a datashare consumer account, associates a datashare with all existing and future namespaces in the specified Amazon Web Services Region.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#AssociatedClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterAssociatedToSchedule",
        "traits": {
          "smithy.api#xmlName": "ClusterAssociatedToSchedule"
        }
      }
    },
    "com.amazonaws.redshift#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#AccountAttribute",
        "traits": {
          "smithy.api#xmlName": "AccountAttribute"
        }
      }
    },
    "com.amazonaws.redshift#AttributeNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#String",
        "traits": {
          "smithy.api#xmlName": "AttributeName"
        }
      }
    },
    "com.amazonaws.redshift#AttributeValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#AttributeValueTarget",
        "traits": {
          "smithy.api#xmlName": "AttributeValueTarget"
        }
      }
    },
    "com.amazonaws.redshift#AttributeValueTarget": {
      "type": "structure",
      "members": {
        "AttributeValue": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an attribute value.</p>"
      }
    },
    "com.amazonaws.redshift#AuthenticationProfile": {
      "type": "structure",
      "members": {
        "AuthenticationProfileName": {
          "target": "com.amazonaws.redshift#AuthenticationProfileNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the authentication profile.</p>"
          }
        },
        "AuthenticationProfileContent": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The content of the authentication profile in JSON format.\n            The maximum length of the JSON string is determined by a quota for your account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an authentication profile.</p>"
      }
    },
    "com.amazonaws.redshift#AuthenticationProfileAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthenticationProfileAlreadyExistsFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The authentication profile already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AuthenticationProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#AuthenticationProfile"
      }
    },
    "com.amazonaws.redshift#AuthenticationProfileNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.redshift#AuthenticationProfileNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthenticationProfileNotFoundFault",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The authentication profile can't be found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#AuthenticationProfileQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthenticationProfileQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The size or number of authentication profiles has exceeded the quota.\n            The maximum length of the JSON string and maximum number of authentication profiles is determined by a quota for your account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AuthorizationAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The specified CIDR block or EC2 security group is already authorized for the\n            specified cluster security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AuthorizationNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The specified CIDR IP range or EC2 security group is not authorized for the\n            specified cluster security group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#AuthorizationQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The authorization quota for the cluster security group has been reached.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#AuthorizationStatus": {
      "type": "enum",
      "members": {
        "AUTHORIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Authorized"
          }
        },
        "REVOKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Revoking"
          }
        }
      }
    },
    "com.amazonaws.redshift#AuthorizeClusterSecurityGroupIngress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AuthorizeClusterSecurityGroupIngressMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.redshift#AuthorizationQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#ClusterSecurityGroupNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidClusterSecurityGroupStateFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether\n            the application accessing your cluster is running on the Internet or an Amazon EC2\n            instance, you can authorize inbound access to either a Classless Interdomain Routing\n            (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as\n            many as 20 ingress rules to an Amazon Redshift security group.</p>\n        <p>If you authorize access to an Amazon EC2 security group, specify\n                <i>EC2SecurityGroupName</i> and\n                <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and\n            Amazon Redshift cluster must be in the same Amazon Web Services Region. </p>\n        <p>If you authorize access to a CIDR/IP address range, specify\n                <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia\n            article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p>\n        <p>You must also associate the security group with a cluster so that clients running\n            on these IP addresses or the EC2 instance are authorized to connect to the cluster. For\n            information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security\n                Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeClusterSecurityGroupIngressMessage": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the security group to which the ingress rule is added.</p>",
            "smithy.api#required": {}
          }
        },
        "CIDRIP": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The IP range to be added the Amazon Redshift security group.</p>"
          }
        },
        "EC2SecurityGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 security group to be added the Amazon Redshift security group.</p>"
          }
        },
        "EC2SecurityGroupOwnerId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account number of the owner of the security group specified by the\n            <i>EC2SecurityGroupName</i> parameter. The Amazon Web Services Access Key ID is not an\n            acceptable value. </p>\n        <p>Example: <code>111122223333</code>\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeClusterSecurityGroupIngressResult": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroup": {
          "target": "com.amazonaws.redshift#ClusterSecurityGroup"
        }
      }
    },
    "com.amazonaws.redshift#AuthorizeDataShare": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AuthorizeDataShareMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#DataShare"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#InvalidDataShareFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>From a data producer account, authorizes the sharing of a datashare with one or more\n            consumer accounts or managing entities. To authorize a datashare for a data consumer,\n            the producer account must have the correct access permissions.</p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeDataShareMessage": {
      "type": "structure",
      "members": {
        "DataShareArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the datashare that producers are to authorize\n            sharing for.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data consumer that is authorized to access the datashare. This identifier is an Amazon Web Services account ID or a keyword, such as ADX.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshift#AuthorizeEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AuthorizeEndpointAccessMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#EndpointAuthorization"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#EndpointAuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.redshift#EndpointAuthorizationsPerClusterLimitExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidAuthorizationStateFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.redshift#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants access to a cluster.</p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeEndpointAccessMessage": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier of the cluster to grant access to.</p>"
          }
        },
        "Account": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID to grant access to.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcIds": {
          "target": "com.amazonaws.redshift#VpcIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) identifiers to grant access to.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#AuthorizeSnapshotAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#AuthorizeSnapshotAccessMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#AuthorizeSnapshotAccessResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#AuthorizationAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.redshift#AuthorizationQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#ClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#DependentServiceRequestThrottlingFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.redshift#LimitExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Authorizes the specified Amazon Web Services account to restore the specified\n            snapshot.</p>\n        <p>\nFor more information about working with snapshots, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeSnapshotAccessMessage": {
      "type": "structure",
      "members": {
        "SnapshotIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot the account is authorized to restore.</p>"
          }
        },
        "SnapshotArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the snapshot to authorize access to.</p>"
          }
        },
        "SnapshotClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cluster the snapshot was created from. This parameter is\n            required if your IAM user has a policy containing a snapshot resource element that\n            specifies anything other than * for the cluster name.</p>"
          }
        },
        "AccountWithRestoreAccess": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Amazon Web Services account authorized to restore the specified\n            snapshot.</p>\n        <p>To share a snapshot with Amazon Web Services Support, specify amazon-redshift-support.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.redshift#AuthorizeSnapshotAccessResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.redshift#Snapshot"
        }
      }
    },
    "com.amazonaws.redshift#AvailabilityZone": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the availability zone.</p>"
          }
        },
        "SupportedPlatforms": {
          "target": "com.amazonaws.redshift#SupportedPlatformsList",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an availability zone.</p>"
      }
    },
    "com.amazonaws.redshift#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#AvailabilityZone",
        "traits": {
          "smithy.api#xmlName": "AvailabilityZone"
        }
      }
    },
    "com.amazonaws.redshift#BatchDeleteClusterSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#BatchDeleteClusterSnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.redshift#BatchDeleteClusterSnapshotsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#BatchDeleteRequestSizeExceededFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a set of cluster snapshots.</p>"
      }
    },
    "com.amazonaws.redshift#BatchDeleteClusterSnapshotsRequest": {
      "type": "structure",
      "members": {
        "Identifiers": {
          "target": "com.amazonaws.redshift#DeleteClusterSnapshotMessageList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the snapshots that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshift#BatchDeleteClusterSnapshotsResult": {
      "type": "structure",
      "members": {
        "Resources": {
          "target": "com.amazonaws.redshift#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the snapshot identifiers that were deleted. </p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.redshift#BatchSnapshotOperationErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#BatchDeleteRequestSizeExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BatchDeleteRequestSizeExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The maximum number for a batch delete of snapshots has been reached. The limit is\n            100. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#BatchModifyClusterSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#BatchModifyClusterSnapshotsMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#BatchModifyClusterSnapshotsOutputMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#BatchModifyClusterSnapshotsLimitExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidRetentionPeriodFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Modifies the settings for a set of cluster snapshots.</p>"
      }
    },
    "com.amazonaws.redshift#BatchModifyClusterSnapshotsLimitExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BatchModifyClusterSnapshotsLimitExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The maximum number for snapshot identifiers has been reached. The limit is 100.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#BatchModifyClusterSnapshotsMessage": {
      "type": "structure",
      "members": {
        "SnapshotIdentifierList": {
          "target": "com.amazonaws.redshift#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of snapshot identifiers you want to modify.</p>",
            "smithy.api#required": {}
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "com.amazonaws.redshift#IntegerOptional",
          "traits": {
            "smithy.api#documentation": "<p>The number of days that a manual snapshot is retained. If you specify the value -1,\n            the manual snapshot is retained indefinitely.</p>\n        <p>The number must be either -1 or an integer between 1 and 3,653.</p>\n        <p>If you decrease the manual snapshot retention period from its current value, existing\n            manual snapshots that fall outside of the new retention period will return an error. If\n            you want to suppress the errors and delete the snapshots, use the force option. </p>"
          }
        },
        "Force": {
          "target": "com.amazonaws.redshift#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value indicating whether to override an exception if the retention period\n            has passed. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#BatchModifyClusterSnapshotsOutputMessage": {
      "type": "structure",
      "members": {
        "Resources": {
          "target": "com.amazonaws.redshift#SnapshotIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the snapshots that were modified.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.redshift#BatchSnapshotOperationErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#BatchSnapshotOperationErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#SnapshotErrorMessage",
        "traits": {
          "smithy.api#xmlName": "SnapshotErrorMessage"
        }
      }
    },
    "com.amazonaws.redshift#BatchSnapshotOperationErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#SnapshotErrorMessage",
        "traits": {
          "smithy.api#xmlName": "SnapshotErrorMessage"
        }
      }
    },
    "com.amazonaws.redshift#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.redshift#BooleanOptional": {
      "type": "boolean"
    },
    "com.amazonaws.redshift#BucketNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "BucketNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Could not find the specified S3 bucket.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#CancelResize": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#CancelResizeMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#ResizeProgressMessage"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#ClusterNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidClusterStateFault"
        },
        {
          "target": "com.amazonaws.redshift#ResizeNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#UnsupportedOperationFault"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a resize operation for a cluster.</p>"
      }
    },
    "com.amazonaws.redshift#CancelResizeMessage": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the cluster that you want to cancel a resize operation\n            for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshift#Cluster": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The node type for the nodes in the cluster.</p>"
          }
        },
        "ClusterStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p> The current state of the cluster. Possible values are the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>available</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>available, prep-for-resize</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>available, resize-cleanup</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>cancelling-resize</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>creating</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>deleting</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>final-snapshot</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>hardware-failure</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-hsm</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-network</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-parameters</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>incompatible-restore</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>modifying</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>paused</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>rebooting</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>renaming</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>resizing</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>rotating-keys</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>storage-full</code>\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>updating-hsm</code>\n                </p>\n            </li>\n         </ul>"
          }
        },
        "ClusterAvailabilityStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the cluster for queries. Possible values are the following:</p>\n        <ul>\n            <li>\n               <p>Available - The cluster is available for queries. </p>\n            </li>\n            <li>\n               <p>Unavailable - The cluster is not available for queries.</p>\n            </li>\n            <li>\n               <p>Maintenance - The cluster is intermittently available for queries due to maintenance activities.</p>\n            </li>\n            <li>\n               <p>Modifying - The cluster is intermittently available for queries due to changes that modify the cluster.</p>\n            </li>\n            <li>\n               <p>Failed - The cluster failed and is not available for queries.</p>\n            </li>\n         </ul>"
          }
        },
        "ModifyStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of a modify operation, if any, initiated for the cluster.</p>"
          }
        },
        "MasterUsername": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The admin user name for the cluster. This name is used to connect to the database\n            that is specified in the <b>DBName</b> parameter. </p>"
          }
        },
        "DBName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the initial database that was created when the cluster was created.\n            This same name is returned for the life of the cluster. If an initial database was not\n            specified, a database named <code>dev</code>dev was created by default. </p>"
          }
        },
        "Endpoint": {
          "target": "com.amazonaws.redshift#Endpoint",
          "traits": {
            "smithy.api#documentation": "<p>The connection endpoint.</p>"
          }
        },
        "ClusterCreateTime": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the cluster was created.</p>"
          }
        },
        "AutomatedSnapshotRetentionPeriod": {
          "target": "com.amazonaws.redshift#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of days that automatic cluster snapshots are retained.</p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "com.amazonaws.redshift#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The default number of days to retain a manual snapshot. If the value is -1, the\n            snapshot is retained indefinitely. This setting doesn't change the retention period\n            of existing snapshots.</p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>"
          }
        },
        "ClusterSecurityGroups": {
          "target": "com.amazonaws.redshift#ClusterSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of cluster security group that are associated with the cluster. Each\n            security group is represented by an element that contains\n                <code>ClusterSecurityGroup.Name</code> and <code>ClusterSecurityGroup.Status</code>\n            subelements. </p>\n        <p>Cluster security groups are used when the cluster is not created in an Amazon\n            Virtual Private Cloud (VPC). Clusters that are created in a VPC use VPC security groups,\n            which are listed by the <b>VpcSecurityGroups</b> parameter.\n        </p>"
          }
        },
        "VpcSecurityGroups": {
          "target": "com.amazonaws.redshift#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Virtual Private Cloud (Amazon VPC) security groups that are\n            associated with the cluster. This parameter is returned only if the cluster is in a\n            VPC.</p>"
          }
        },
        "ClusterParameterGroups": {
          "target": "com.amazonaws.redshift#ClusterParameterGroupStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of cluster parameter groups that are associated with this cluster. Each\n            parameter group in the list is returned with its status.</p>"
          }
        },
        "ClusterSubnetGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the subnet group that is associated with the cluster. This parameter is\n            valid only when the cluster is in a VPC.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the VPC the cluster is in, if the cluster is in a VPC.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone in which the cluster is located.</p>"
          }
        },
        "PreferredMaintenanceWindow": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The weekly time range, in Universal Coordinated Time (UTC), during which system\n            maintenance can occur.</p>"
          }
        },
        "PendingModifiedValues": {
          "target": "com.amazonaws.redshift#PendingModifiedValues",
          "traits": {
            "smithy.api#documentation": "<p>A value that, if present, indicates that changes to the cluster are pending.\n            Specific pending changes are identified by subelements.</p>"
          }
        },
        "ClusterVersion": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the Amazon Redshift engine that is running on the cluster.</p>"
          }
        },
        "AllowVersionUpgrade": {
          "target": "com.amazonaws.redshift#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that major version upgrades\n            will be applied automatically to the cluster during the maintenance window. </p>"
          }
        },
        "NumberOfNodes": {
          "target": "com.amazonaws.redshift#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of compute nodes in the cluster.</p>"
          }
        },
        "PubliclyAccessible": {
          "target": "com.amazonaws.redshift#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that the cluster can be\n            accessed from a public network.</p>"
          }
        },
        "Encrypted": {
          "target": "com.amazonaws.redshift#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A boolean value that, if <code>true</code>, indicates that data in the cluster is\n            encrypted at rest.</p>"
          }
        },
        "RestoreStatus": {
          "target": "com.amazonaws.redshift#RestoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that describes the status of a cluster restore action. This parameter\n            returns null if the cluster was not created by restoring a snapshot.</p>"
          }
        },
        "DataTransferProgress": {
          "target": "com.amazonaws.redshift#DataTransferProgress",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "HsmStatus": {
          "target": "com.amazonaws.redshift#HsmStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that reports whether the Amazon Redshift cluster has finished applying any\n            hardware security module (HSM) settings changes specified in a modify cluster\n            command.</p>\n        <p>Values: active, applying</p>"
          }
        },
        "ClusterSnapshotCopyStatus": {
          "target": "com.amazonaws.redshift#ClusterSnapshotCopyStatus",
          "traits": {
            "smithy.api#documentation": "<p>A value that returns the destination region and retention period that are\n            configured for cross-region snapshot copy.</p>"
          }
        },
        "ClusterPublicKey": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The public key for the cluster.</p>"
          }
        },
        "ClusterNodes": {
          "target": "com.amazonaws.redshift#ClusterNodesList",
          "traits": {
            "smithy.api#documentation": "<p>The nodes in the cluster.</p>"
          }
        },
        "ElasticIpStatus": {
          "target": "com.amazonaws.redshift#ElasticIpStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the elastic IP (EIP) address.</p>"
          }
        },
        "ClusterRevisionNumber": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific revision number of the database in the cluster.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.redshift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster.</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Key Management Service (KMS) key ID of the encryption key used to\n            encrypt data in the cluster.</p>"
          }
        },
        "EnhancedVpcRouting": {
          "target": "com.amazonaws.redshift#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>An option that specifies whether to create the cluster with enhanced VPC routing\n            enabled. To create a cluster that uses enhanced VPC routing, the cluster must be in a\n            VPC. For more information, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/enhanced-vpc-routing.html\">Enhanced VPC Routing</a> in\n            the Amazon Redshift Cluster Management Guide.</p>\n        <p>If this option is <code>true</code>, enhanced VPC routing is enabled. </p>\n        <p>Default: false</p>"
          }
        },
        "IamRoles": {
          "target": "com.amazonaws.redshift#ClusterIamRoleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Identity and Access Management (IAM) roles that can be used by the\n            cluster to access other Amazon Web Services services.</p>"
          }
        },
        "PendingActions": {
          "target": "com.amazonaws.redshift#PendingActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Cluster operations that are waiting to be started.</p>"
          }
        },
        "MaintenanceTrackName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the maintenance track for the cluster.</p>"
          }
        },
        "ElasticResizeNumberOfNodeOptions": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The number of nodes that you can resize the cluster to with the elastic resize method.\n        </p>"
          }
        },
        "DeferredMaintenanceWindows": {
          "target": "com.amazonaws.redshift#DeferredMaintenanceWindowsList",
          "traits": {
            "smithy.api#documentation": "<p>Describes a group of <code>DeferredMaintenanceWindow</code> objects.</p>"
          }
        },
        "SnapshotScheduleIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the cluster snapshot schedule.</p>"
          }
        },
        "SnapshotScheduleState": {
          "target": "com.amazonaws.redshift#ScheduleState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the cluster snapshot schedule.</p>"
          }
        },
        "ExpectedNextSnapshotScheduleTime": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the next snapshot is expected to be taken for clusters with a valid snapshot schedule and backups enabled. </p>"
          }
        },
        "ExpectedNextSnapshotScheduleTimeStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p> The status of next expected snapshot for clusters having a valid snapshot schedule and backups enabled.  Possible values are the following:</p>\n        <ul>\n            <li>\n               <p>OnTrack - The next snapshot is expected to be taken on time. </p>\n            </li>\n            <li>\n               <p>Pending - The next snapshot is pending to be taken. </p>\n            </li>\n         </ul>"
          }
        },
        "NextMaintenanceWindowStartTime": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time in UTC when system maintenance can begin.</p>"
          }
        },
        "ResizeInfo": {
          "target": "com.amazonaws.redshift#ResizeInfo",
          "traits": {
            "smithy.api#documentation": "<p>Returns the following:</p>\n        <ul>\n            <li>\n                <p>AllowCancelResize: a boolean value indicating if the resize operation can be\n                    cancelled.</p>\n            </li>\n            <li>\n                <p>ResizeType: Returns ClassicResize</p>\n            </li>\n         </ul>"
          }
        },
        "AvailabilityZoneRelocationStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>Describes the status of the Availability Zone relocation operation.</p>"
          }
        },
        "ClusterNamespaceArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace Amazon Resource Name (ARN) of the cluster.</p>"
          }
        },
        "TotalStorageCapacityInMegaBytes": {
          "target": "com.amazonaws.redshift#LongOptional",
          "traits": {
            "smithy.api#documentation": "<p>The total storage capacity of the cluster in megabytes. </p>"
          }
        },
        "AquaConfiguration": {
          "target": "com.amazonaws.redshift#AquaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>This field is retired. Amazon Redshift automatically determines whether to use AQUA (Advanced Query Accelerator).</p>"
          }
        },
        "DefaultIamRoleArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the IAM role set as default for the cluster.</p>"
          }
        },
        "ReservedNodeExchangeStatus": {
          "target": "com.amazonaws.redshift#ReservedNodeExchangeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the reserved-node exchange request. Statuses include in-progress and requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The account already has a cluster with the given identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterAssociatedToSchedule": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "ScheduleAssociationState": {
          "target": "com.amazonaws.redshift#ScheduleState",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.redshift#ClusterCredentials": {
      "type": "structure",
      "members": {
        "DbUser": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A database user name that is authorized to log on to the database <code>DbName</code>\n            using the password <code>DbPassword</code>. If the specified DbUser exists in the\n            database, the new user name has the same database permissions as the the user named in\n            DbUser. By default, the user is added to PUBLIC. If the <code>DbGroups</code> parameter\n            is specifed, <code>DbUser</code> is added to the listed groups for any sessions created\n            using these credentials.</p>"
          }
        },
        "DbPassword": {
          "target": "com.amazonaws.redshift#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A temporary password that authorizes the user name returned by <code>DbUser</code>\n            to log on to the database <code>DbName</code>. </p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the password in <code>DbPassword</code> expires.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Temporary credentials with authorization to log on to an Amazon Redshift database.\n        </p>"
      }
    },
    "com.amazonaws.redshift#ClusterDbRevision": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the cluster.</p>"
          }
        },
        "CurrentDatabaseRevision": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the current cluster version.</p>"
          }
        },
        "DatabaseRevisionReleaseDate": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the database revision was released.</p>"
          }
        },
        "RevisionTargets": {
          "target": "com.amazonaws.redshift#RevisionTargetsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>RevisionTarget</code> objects, where each object describes the\n            database revision that a cluster can be updated to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a <code>ClusterDbRevision</code>.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterDbRevisionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterDbRevision",
        "traits": {
          "smithy.api#xmlName": "ClusterDbRevision"
        }
      }
    },
    "com.amazonaws.redshift#ClusterDbRevisionsMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A string representing the starting point for the next set of revisions. If a value is\n            returned in a response, you can retrieve the next set of revisions by providing the\n            value in the <code>marker</code> parameter and retrying the command. If the\n                <code>marker</code> field is empty, all revisions have already been returned.</p>"
          }
        },
        "ClusterDbRevisions": {
          "target": "com.amazonaws.redshift#ClusterDbRevisionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of revisions.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#ClusterExtendedCredentials": {
      "type": "structure",
      "members": {
        "DbUser": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A database user name that you provide when you connect to a database. The database user is mapped 1:1 to the source IAM identity. </p>"
          }
        },
        "DbPassword": {
          "target": "com.amazonaws.redshift#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>A temporary password that you provide when you connect to a database.</p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>The time (UTC) when the temporary password expires. After this timestamp, a log in with the temporary password fails.</p>"
          }
        },
        "NextRefreshTime": {
          "target": "com.amazonaws.redshift#TStamp",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshift#ClusterIamRole": {
      "type": "structure",
      "members": {
        "IamRoleArn": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role, for example,\n                <code>arn:aws:iam::123456789012:role/RedshiftCopyUnload</code>. </p>"
          }
        },
        "ApplyStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that describes the status of the IAM role's association with an Amazon\n            Redshift cluster.</p>\n        <p>The following are possible statuses and descriptions.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>in-sync</code>: The role is available for use by the cluster.</p>\n            </li>\n            <li>\n                <p>\n                    <code>adding</code>: The role is in the process of being associated with the\n                    cluster.</p>\n            </li>\n            <li>\n                <p>\n                    <code>removing</code>: The role is in the process of being disassociated with\n                    the cluster.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Identity and Access Management (IAM) role that can be used by the associated\n            Amazon Redshift cluster to access other Amazon Web Services services.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterIamRoleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterIamRole",
        "traits": {
          "smithy.api#xmlName": "ClusterIamRole"
        }
      }
    },
    "com.amazonaws.redshift#ClusterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#Cluster",
        "traits": {
          "smithy.api#xmlName": "Cluster"
        }
      }
    },
    "com.amazonaws.redshift#ClusterNode": {
      "type": "structure",
      "members": {
        "NodeRole": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>Whether the node is a leader node or a compute node.</p>"
          }
        },
        "PrivateIPAddress": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The private IP address of a node within a cluster.</p>"
          }
        },
        "PublicIPAddress": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The public IP address of a node within a cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier of a node in a cluster.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterNodesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterNode"
      }
    },
    "com.amazonaws.redshift#ClusterNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The <code>ClusterIdentifier</code> parameter does not refer to an existing cluster.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#ClusterOnLatestRevisionFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterOnLatestRevision",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>Cluster is already on the latest database revision.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroup": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        },
        "ParameterGroupFamily": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group family that this cluster parameter group is\n            compatible with.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the parameter group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.redshift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster parameter group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a parameter group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterParameterGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A cluster parameter group with the same name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupDetails": {
      "type": "structure",
      "members": {
        "Parameters": {
          "target": "com.amazonaws.redshift#ParametersList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>Parameter</a> instances. Each instance lists the parameters\n            of one cluster parameter group. </p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterParameters</a> action.\n        </p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupNameMessage": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        },
        "ParameterGroupStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter group. For example, if you made a change to a parameter\n            group name-value pair, then the change could be pending a reboot of an associated\n            cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterParameterGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The parameter group name does not refer to an existing parameter group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterParameterGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            parameter groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupStatus": {
      "type": "structure",
      "members": {
        "ParameterGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of parameter updates.</p>"
          }
        },
        "ClusterParameterStatusList": {
          "target": "com.amazonaws.redshift#ClusterParameterStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The list of parameter statuses.</p>\n        <p>\nFor more information about parameters and parameter groups, go to \n<a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of a parameter group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterParameterGroupStatus",
        "traits": {
          "smithy.api#xmlName": "ClusterParameterGroup"
        }
      }
    },
    "com.amazonaws.redshift#ClusterParameterGroupsMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "ParameterGroups": {
          "target": "com.amazonaws.redshift#ParameterGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterParameterGroup</a> instances. Each instance\n            describes one cluster parameter group. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterParameterGroups</a>\n            action. </p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterStatus": {
      "type": "structure",
      "members": {
        "ParameterName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>"
          }
        },
        "ParameterApplyStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the parameter that indicates whether the parameter is in sync with\n            the database, waiting for a cluster reboot, or encountered an error when being\n            applied.</p>\n        <p>The following are possible statuses and descriptions.</p>\n        <ul>\n            <li>\n                <p>\n                    <code>in-sync</code>: The parameter value is in sync with the\n                    database.</p>\n            </li>\n            <li>\n                <p>\n                    <code>pending-reboot</code>: The parameter value will be applied after the\n                    cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>applying</code>: The parameter value is being applied to the\n                    database.</p>\n            </li>\n            <li>\n                <p>\n                    <code>invalid-parameter</code>: Cannot apply the parameter value because it has\n                    an invalid value or syntax.</p>\n            </li>\n            <li>\n                <p>\n                    <code>apply-deferred</code>: The parameter contains static property changes. The\n                    changes are deferred until the cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>apply-error</code>: Cannot connect to the cluster. The parameter change\n                    will be applied after the cluster reboots.</p>\n            </li>\n            <li>\n                <p>\n                    <code>unknown-error</code>: Cannot apply the parameter change right now. The\n                    change will be applied after the cluster reboots.</p>\n            </li>\n         </ul>"
          }
        },
        "ParameterApplyErrorDescription": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The error that prevented the parameter from being applied to the\n            database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the status of a parameter group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterParameterStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterParameterStatus"
      }
    },
    "com.amazonaws.redshift#ClusterQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would exceed the allowed number of cluster instances for this account.\n            \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroup": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster security group to which the operation was\n            applied.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the security group.</p>"
          }
        },
        "EC2SecurityGroups": {
          "target": "com.amazonaws.redshift#EC2SecurityGroupList",
          "traits": {
            "smithy.api#documentation": "<p>A list of EC2 security groups that are permitted to access clusters associated with\n            this cluster security group.</p>"
          }
        },
        "IPRanges": {
          "target": "com.amazonaws.redshift#IPRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IP ranges (CIDR blocks) that are permitted to access clusters associated\n            with this cluster security group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.redshift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a security group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSecurityGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A cluster security group with the same name already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupMembership": {
      "type": "structure",
      "members": {
        "ClusterSecurityGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster security group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster security group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster security group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupMembershipList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterSecurityGroupMembership",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroup"
        }
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "ClusterSecurityGroups": {
          "target": "com.amazonaws.redshift#ClusterSecurityGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterSecurityGroup</a> instances. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#String",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroupName"
        }
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSecurityGroupNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The cluster security group name does not refer to an existing cluster security\n            group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "QuotaExceeded.ClusterSecurityGroup",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            security groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSecurityGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterSecurityGroup",
        "traits": {
          "smithy.api#xmlName": "ClusterSecurityGroup"
        }
      }
    },
    "com.amazonaws.redshift#ClusterSnapshotAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSnapshotAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The value specified as a snapshot identifier is already used by an existing\n            snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSnapshotCopyStatus": {
      "type": "structure",
      "members": {
        "DestinationRegion": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The destination region that snapshots are automatically copied to when cross-region\n            snapshot copy is enabled.</p>"
          }
        },
        "RetentionPeriod": {
          "target": "com.amazonaws.redshift#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of days that automated snapshots are retained in the destination region\n            after they are copied from a source region.</p>"
          }
        },
        "ManualSnapshotRetentionPeriod": {
          "target": "com.amazonaws.redshift#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of days that automated snapshots are retained in the destination region\n            after they are copied from a source region. If the value is -1, the manual snapshot is\n            retained indefinitely. </p>\n        <p>The value must be either -1 or an integer between 1 and 3,653.</p>"
          }
        },
        "SnapshotCopyGrantName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot copy grant.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the destination region and retention period that are configured for\n            cross-region snapshot copy.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterSnapshotNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSnapshotNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The snapshot identifier does not refer to an existing cluster snapshot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshift#ClusterSnapshotQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSnapshotQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would result in the user exceeding the allowed number of cluster\n            snapshots.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroup": {
      "type": "structure",
      "members": {
        "ClusterSubnetGroupName": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster subnet group.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster subnet group.</p>"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the cluster subnet group.</p>"
          }
        },
        "SubnetGroupStatus": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the cluster subnet group. Possible values are <code>Complete</code>,\n                <code>Incomplete</code> and <code>Invalid</code>. </p>"
          }
        },
        "Subnets": {
          "target": "com.amazonaws.redshift#SubnetList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the VPC <a>Subnet</a> elements. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.redshift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags for the cluster subnet group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a subnet group.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroupAlreadyExistsFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSubnetGroupAlreadyExists",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>A <i>ClusterSubnetGroupName</i> is already used by an existing\n            cluster subnet group. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroupMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "ClusterSubnetGroups": {
          "target": "com.amazonaws.redshift#ClusterSubnetGroups",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>ClusterSubnetGroup</a> instances. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterSubnetGroups</a> action.\n        </p>"
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroupNotFoundFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSubnetGroupNotFoundFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The cluster subnet group name does not refer to an existing cluster subnet\n            group.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroupQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSubnetGroupQuotaExceeded",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would result in user exceeding the allowed number of cluster subnet\n            groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterSubnetGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterSubnetGroup",
        "traits": {
          "smithy.api#xmlName": "ClusterSubnetGroup"
        }
      }
    },
    "com.amazonaws.redshift#ClusterSubnetQuotaExceededFault": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.redshift#ExceptionMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ClusterSubnetQuotaExceededFault",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request would result in user exceeding the allowed number of subnets in a\n            cluster subnet groups. \nFor information about increasing your quota, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Limits in Amazon Redshift</a> \nin the <i>Amazon Redshift Cluster Management Guide</i>.\n</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshift#ClusterVersion": {
      "type": "structure",
      "members": {
        "ClusterVersion": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The version number used by the cluster.</p>"
          }
        },
        "ClusterParameterGroupFamily": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster parameter group family for the cluster.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the cluster version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a cluster version, including the parameter group family and description\n            of the version.</p>"
      }
    },
    "com.amazonaws.redshift#ClusterVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshift#ClusterVersion",
        "traits": {
          "smithy.api#xmlName": "ClusterVersion"
        }
      }
    },
    "com.amazonaws.redshift#ClusterVersionsMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "ClusterVersions": {
          "target": "com.amazonaws.redshift#ClusterVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Version</code> elements. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusterVersions</a> action.\n        </p>"
      }
    },
    "com.amazonaws.redshift#ClustersMessage": {
      "type": "structure",
      "members": {
        "Marker": {
          "target": "com.amazonaws.redshift#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a\n            subsequent request. If a value is returned in a response, you can retrieve the next set\n            of records by providing this returned marker value in the <code>Marker</code> parameter\n            and retrying the command. If the <code>Marker</code> field is empty, all response\n            records have been retrieved for the request. </p>"
          }
        },
        "Clusters": {
          "target": "com.amazonaws.redshift#ClusterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Cluster</code> objects, where each object describes one cluster.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the output from the <a>DescribeClusters</a> action. </p>"
      }
    },
    "com.amazonaws.redshift#CopyClusterSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshift#CopyClusterSnapshotMessage"
      },
      "output": {
        "target": "com.amazonaws.redshift#CopyClusterSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshift#ClusterSnapshotAlreadyExistsFault"
        },
        {
          "target": "com.amazonaws.redshift#ClusterSnapshotNotFoundFault"
        },
        {
          "target": "com.amazonaws.redshift#ClusterSnapshotQuotaExceededFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidClusterSnapshotStateFault"
        },
        {
          "target": "com.amazonaws.redshift#InvalidRetentionPeriodFault"
        }
      ],
      "traits": {
[...]
