{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.redshiftserverless#AccessDeniedException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "smithy.api#String"
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.redshiftserverless#AccountIdList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.redshiftserverless#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.redshiftserverless#Association": {
      "type": "structure",
      "members": {
        "customDomainCertificateArn": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainCertificateArnString",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name’s certificate Amazon resource name (ARN).</p>"
          }
        },
        "customDomainCertificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time for the certificate.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name associated with the workgroup.</p>"
          }
        },
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the custom domain name association.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#AssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftserverless#Association"
      }
    },
    "com.amazonaws.redshiftserverless#Capacity": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.redshiftserverless#CatalogNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-z0-9_-]*[a-z]+[a-z0-9_-]*$"
      }
    },
    "com.amazonaws.redshiftserverless#Charge": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.redshiftserverless#ConfigParameter": {
      "type": "structure",
      "members": {
        "parameterKey": {
          "target": "com.amazonaws.redshiftserverless#ParameterKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the parameter. The options are <code>auto_mv</code>, <code>datestyle</code>, <code>enable_case_sensitive_identifier</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, <code>require_ssl</code>, <code>use_fips_ssl</code>, and query monitoring metrics that let you define performance boundaries. For more information about query monitoring rules and available metrics, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/cm-c-wlm-query-monitoring-rules.html#cm-c-wlm-query-monitoring-metrics-serverless\">Query monitoring metrics for Amazon Redshift Serverless</a>.</p>"
          }
        },
        "parameterValue": {
          "target": "com.amazonaws.redshiftserverless#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the parameter to set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array of key-value pairs to set for advanced control over Amazon Redshift Serverless.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#ConfigParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftserverless#ConfigParameter"
      }
    },
    "com.amazonaws.redshiftserverless#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The submitted action has conflicts.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.redshiftserverless#ConvertRecoveryPointToSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#ConvertRecoveryPointToSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#ConvertRecoveryPointToSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Converts a recovery point to a snapshot. For more information about recovery points and snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery-points.html\">Working with snapshots and recovery points</a>.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#ConvertRecoveryPointToSnapshotRequest": {
      "type": "structure",
      "members": {
        "recoveryPointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the recovery point.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>How long to retain the snapshot.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.redshiftserverless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_Tag.html\">Tag objects</a> to associate with the created snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#ConvertRecoveryPointToSnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.amazonaws.redshiftserverless#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot converted from the recovery point.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateCustomDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateCustomDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateCustomDomainAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a custom domain association for Amazon Redshift Serverless.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#CreateCustomDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>",
            "smithy.api#required": {}
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name to associate with the workgroup.</p>",
            "smithy.api#required": {}
          }
        },
        "customDomainCertificateArn": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainCertificateArnString",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name’s certificate Amazon resource name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateCustomDomainAssociationResponse": {
      "type": "structure",
      "members": {
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name to associate with the workgroup.</p>"
          }
        },
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>"
          }
        },
        "customDomainCertificateArn": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainCertificateArnString",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name’s certificate Amazon resource name (ARN).</p>"
          }
        },
        "customDomainCertificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time for the certificate.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateEndpointAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateEndpointAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Redshift Serverless managed VPC endpoint.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateEndpointAccessRequest": {
      "type": "structure",
      "members": {
        "endpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint. An endpoint name must contain 1-30 characters. Valid characters are A-Z, a-z, 0-9, and hyphen(-). The first character must be a letter. The name can't contain two consecutive hyphens or end with a hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.redshiftserverless#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifers of subnets from which Amazon Redshift Serverless chooses one to deploy a VPC endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "workgroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to associate with the VPC endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "vpcSecurityGroupIds": {
          "target": "com.amazonaws.redshiftserverless#VpcSecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the security group that defines the ports, protocols, and sources for inbound traffic that you are authorizing into your endpoint.</p>"
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.redshiftserverless#OwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>The owner Amazon Web Services account for the Amazon Redshift Serverless workgroup.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateEndpointAccessResponse": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.redshiftserverless#EndpointAccess",
          "traits": {
            "smithy.api#documentation": "<p>The created VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a namespace in Amazon Redshift Serverless.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>",
            "smithy.api#required": {}
          }
        },
        "adminUsername": {
          "target": "com.amazonaws.redshiftserverless#DbUser",
          "traits": {
            "smithy.api#documentation": "<p>The username of the administrator for the first database created in the namespace.</p>"
          }
        },
        "adminUserPassword": {
          "target": "com.amazonaws.redshiftserverless#DbPassword",
          "traits": {
            "smithy.api#documentation": "<p>The password of the administrator for the first database created in the namespace.</p> <p>You can't use <code>adminUserPassword</code> if <code>manageAdminPassword</code> is true. </p>"
          }
        },
        "dbName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the first database created in the namespace.</p>"
          }
        },
        "kmsKeyId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services Key Management Service key used to encrypt your data.</p>"
          }
        },
        "defaultIamRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to set as a default in the namespace.</p>"
          }
        },
        "iamRoles": {
          "target": "com.amazonaws.redshiftserverless#IamRoleArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IAM roles to associate with the namespace.</p>"
          }
        },
        "logExports": {
          "target": "com.amazonaws.redshiftserverless#LogExportList",
          "traits": {
            "smithy.api#documentation": "<p>The types of logs the namespace can export. Available export types are <code>userlog</code>, <code>connectionlog</code>, and <code>useractivitylog</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.redshiftserverless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag instances.</p>"
          }
        },
        "manageAdminPassword": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If <code>true</code>, Amazon Redshift uses Secrets Manager to manage the namespace's admin credentials. You can't use <code>adminUserPassword</code> if <code>manageAdminPassword</code> is true. If <code>manageAdminPassword</code> is false or not set, Amazon Redshift uses <code>adminUserPassword</code> for the admin user account's password. </p>"
          }
        },
        "adminPasswordSecretKmsKeyId": {
          "target": "com.amazonaws.redshiftserverless#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Key Management Service (KMS) key used to encrypt and store the namespace's admin credentials secret. You can only use this parameter if <code>manageAdminPassword</code> is true.</p>"
          }
        },
        "redshiftIdcApplicationArn": {
          "target": "com.amazonaws.redshiftserverless#RedshiftIdcApplicationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the Redshift application that integrates with IAM Identity Center.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.redshiftserverless#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The created namespace object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateReservation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateReservationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateReservationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Redshift Serverless reservation, which gives you the option to commit to a specified number of Redshift Processing Units (RPUs) for a year at a discount from Serverless on-demand (OD) rates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateReservationRequest": {
      "type": "structure",
      "members": {
        "capacity": {
          "target": "com.amazonaws.redshiftserverless#Capacity",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of Redshift Processing Units (RPUs) to reserve.</p>",
            "smithy.api#required": {}
          }
        },
        "offeringId": {
          "target": "com.amazonaws.redshiftserverless#OfferingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the offering associated with the reservation. The offering determines the payment schedule for the reservation.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If not provided, the Amazon Web Services SDK populates this field. This token must be a valid UUIDv4 value. For more information about idempotency, see <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\"> Making retries safe with idempotent APIs </a>.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateReservationResponse": {
      "type": "structure",
      "members": {
        "reservation": {
          "target": "com.amazonaws.redshiftserverless#Reservation",
          "traits": {
            "smithy.api#documentation": "<p>The reservation object that the <code>CreateReservation</code> action created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateScheduledActionRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateScheduledActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a scheduled action. A scheduled action contains a schedule and an Amazon Redshift API action. For example, you can create a schedule of when to run the <code>CreateSnapshot</code> API operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateScheduledActionRequest": {
      "type": "structure",
      "members": {
        "scheduledActionName": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scheduled action.</p>",
            "smithy.api#required": {}
          }
        },
        "targetAction": {
          "target": "com.amazonaws.redshiftserverless#TargetAction",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "schedule": {
          "target": "com.amazonaws.redshiftserverless#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule for a one-time (at timestamp format) or recurring (cron format) scheduled action. Schedule invocations must be separated by at least one hour. Times are in UTC.</p> <ul> <li> <p>Format of at timestamp is <code>yyyy-mm-ddThh:mm:ss</code>. For example, <code>2016-03-04T17:27:00</code>.</p> </li> <li> <p>Format of cron expression is <code>(Minutes Hours Day-of-month Month Day-of-week Year)</code>. For example, <code>\"(0 10 ? * MON *)\"</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions\">Cron Expressions</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.redshiftserverless#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role to assume to run the scheduled action. This IAM role must have permission to run the Amazon Redshift Serverless API operation in the scheduled action. This IAM role must allow the Amazon Redshift scheduler to schedule creating snapshots. (Principal scheduler.redshift.amazonaws.com) to assume permissions on your behalf. For more information about the IAM role to use with the Amazon Redshift scheduler, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/redshift-iam-access-control-identity-based.html\">Using Identity-Based Policies for Amazon Redshift</a> in the Amazon Redshift Management Guide</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace for which to create a scheduled action.</p>",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the schedule is enabled. If false, the scheduled action does not trigger. For more information about <code>state</code> of the scheduled action, see <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_ScheduledAction.html\">ScheduledAction</a>.</p>"
          }
        },
        "scheduledActionDescription": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the scheduled action.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time in UTC when the schedule is active. Before this time, the scheduled action does not trigger.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time in UTC when the schedule is no longer active. After this time, the scheduled action does not trigger.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateScheduledActionResponse": {
      "type": "structure",
      "members": {
        "scheduledAction": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionResponse",
          "traits": {
            "smithy.api#documentation": "<p>The returned <code>ScheduledAction</code> object that describes the properties of a scheduled action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of all databases in a namespace. For more information about snapshots, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/serverless-snapshots-recovery-points.html\"> Working with snapshots and recovery points</a>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotCopyConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateSnapshotCopyConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateSnapshotCopyConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot copy configuration that lets you copy snapshots to another Amazon Web Services Region.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotCopyConfigurationRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace to copy snapshots from.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The destination Amazon Web Services Region that you want to copy snapshots to.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotRetentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The retention period of the snapshots that you copy to the destination Amazon Web Services Region.</p>"
          }
        },
        "destinationKmsKeyId": {
          "target": "com.amazonaws.redshiftserverless#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key to use to encrypt your snapshots in the destination Amazon Web Services Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotCopyConfigurationResponse": {
      "type": "structure",
      "members": {
        "snapshotCopyConfiguration": {
          "target": "com.amazonaws.redshiftserverless#SnapshotCopyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot copy configuration object that is returned.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The namespace to create a snapshot for.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>How long to retain the created snapshot.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.redshiftserverless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_Tag.html\">Tag objects</a> to associate with the snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.amazonaws.redshiftserverless#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The created snapshot object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateSnapshotScheduleActionParameters": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace for which you want to configure a scheduled action to create a snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotNamePrefix": {
          "target": "com.amazonaws.redshiftserverless#SnapshotNamePrefix",
          "traits": {
            "smithy.api#documentation": "<p>A string prefix that is attached to the name of the snapshot created by the scheduled action. The final name of the snapshot is the string prefix appended by the date and time of when the snapshot was created.</p>",
            "smithy.api#required": {}
          }
        },
        "retentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The retention period of the snapshot created by the scheduled action.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.redshiftserverless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_Tag.html\">Tag objects</a> to associate with the snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters that you can use to configure a <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_CreateScheduledAction.html\">scheduled action</a> to create a snapshot. For more information about creating a scheduled action, see <a href=\"https://docs.aws.amazon.com/redshift-serverless/latest/APIReference/API_CreateScheduledAction.html\">CreateScheduledAction</a>.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#CreateUsageLimit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateUsageLimitRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateUsageLimitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a usage limit for a specified Amazon Redshift Serverless usage type. The usage limit is identified by the returned usage limit identifier. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateUsageLimitRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Redshift Serverless resource to create the usage limit for.</p>",
            "smithy.api#required": {}
          }
        },
        "usageType": {
          "target": "com.amazonaws.redshiftserverless#UsageLimitUsageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Redshift Serverless usage to create a usage limit for.</p>",
            "smithy.api#required": {}
          }
        },
        "amount": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The limit amount. If time-based, this amount is in Redshift Processing Units (RPU) consumed per hour. If data-based, this amount is in terabytes (TB) of data transferred between Regions in cross-account sharing. The value must be a positive number.</p>",
            "smithy.api#required": {}
          }
        },
        "period": {
          "target": "com.amazonaws.redshiftserverless#UsageLimitPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The time period that the amount applies to. A weekly period begins on Sunday. The default is monthly.</p>"
          }
        },
        "breachAction": {
          "target": "com.amazonaws.redshiftserverless#UsageLimitBreachAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that Amazon Redshift Serverless takes when the limit is reached. The default is log.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateUsageLimitResponse": {
      "type": "structure",
      "members": {
        "usageLimit": {
          "target": "com.amazonaws.redshiftserverless#UsageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The returned usage limit object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateWorkgroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#CreateWorkgroupRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#CreateWorkgroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InsufficientCapacityException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#Ipv6CidrBlockNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#TooManyTagsException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an workgroup in Amazon Redshift Serverless.</p> <p>VPC Block Public Access (BPA) enables you to block resources in VPCs and subnets that you own in a Region from reaching or being reached from the internet through internet gateways and egress-only internet gateways. If a workgroup is in an account with VPC BPA turned on, the following capabilities are blocked: </p> <ul> <li> <p>Creating a public access workgroup</p> </li> <li> <p>Modifying a private workgroup to public</p> </li> <li> <p>Adding a subnet with VPC BPA turned on to the workgroup when the workgroup is public</p> </li> </ul> <p>For more information about VPC BPA, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-vpc-bpa.html\">Block public access to VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateWorkgroupRequest": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created workgroup.</p>",
            "smithy.api#required": {}
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace to associate with the workgroup.</p>",
            "smithy.api#required": {}
          }
        },
        "baseCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The base data warehouse capacity of the workgroup in Redshift Processing Units (RPUs).</p>"
          }
        },
        "enhancedVpcRouting": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The value that specifies whether to turn on enhanced virtual private cloud (VPC) routing, which forces Amazon Redshift Serverless to route traffic through your VPC instead of over the internet.</p>"
          }
        },
        "configParameters": {
          "target": "com.amazonaws.redshiftserverless#ConfigParameterList",
          "traits": {
            "smithy.api#documentation": "<p>An array of parameters to set for advanced control over a database. The options are <code>auto_mv</code>, <code>datestyle</code>, <code>enable_case_sensitive_identifier</code>, <code>enable_user_activity_logging</code>, <code>query_group</code>, <code>search_path</code>, <code>require_ssl</code>, <code>use_fips_ssl</code>, and query monitoring metrics that let you define performance boundaries. For more information about query monitoring rules and available metrics, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/cm-c-wlm-query-monitoring-rules.html#cm-c-wlm-query-monitoring-metrics-serverless\"> Query monitoring metrics for Amazon Redshift Serverless</a>.</p>"
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.redshiftserverless#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of security group IDs to associate with the workgroup.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.redshiftserverless#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of VPC subnet IDs to associate with the workgroup.</p>"
          }
        },
        "publiclyAccessible": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies whether the workgroup can be accessed from a public network.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.redshiftserverless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A array of tag instances.</p>"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The custom port to use when connecting to a workgroup. Valid port ranges are 5431-5455 and 8191-8215. The default is 5439.</p>"
          }
        },
        "maxCapacity": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum data-warehouse capacity Amazon Redshift Serverless uses to serve queries. The max capacity is specified in RPUs.</p>"
          }
        },
        "pricePerformanceTarget": {
          "target": "com.amazonaws.redshiftserverless#PerformanceTarget",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the price performance target settings for the workgroup.</p>"
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.redshiftserverless#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The IP address type that the workgroup supports. Possible values are <code>ipv4</code> and <code>dualstack</code>.</p>"
          }
        },
        "trackName": {
          "target": "com.amazonaws.redshiftserverless#TrackName",
          "traits": {
            "smithy.api#documentation": "<p>An optional parameter for the name of the track for the workgroup. If you don't provide a track name, the workgroup is assigned to the <code>current</code> track.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#CreateWorkgroupResponse": {
      "type": "structure",
      "members": {
        "workgroup": {
          "target": "com.amazonaws.redshiftserverless#Workgroup",
          "traits": {
            "smithy.api#documentation": "<p>The created workgroup object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#CrossVpcEndpointResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.redshiftserverless#CreateEndpointAccess"
        },
        {
          "target": "com.amazonaws.redshiftserverless#DeleteEndpointAccess"
        },
        {
          "target": "com.amazonaws.redshiftserverless#GetEndpointAccess"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ListEndpointAccess"
        },
        {
          "target": "com.amazonaws.redshiftserverless#UpdateEndpointAccess"
        }
      ]
    },
    "com.amazonaws.redshiftserverless#CurrencyCode": {
      "type": "string"
    },
    "com.amazonaws.redshiftserverless#CustomDomainCertificateArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:[\\w+=/,.@-]+:acm:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*"
      }
    },
    "com.amazonaws.redshiftserverless#CustomDomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        },
        "smithy.api#pattern": "^(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])$"
      }
    },
    "com.amazonaws.redshiftserverless#DbName": {
      "type": "string"
    },
    "com.amazonaws.redshiftserverless#DbPassword": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.redshiftserverless#DbUser": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteCustomDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteCustomDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteCustomDomainAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a custom domain association for Amazon Redshift Serverless.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#DeleteCustomDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>",
            "smithy.api#required": {}
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name associated with the workgroup.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteCustomDomainAssociationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteEndpointAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteEndpointAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Redshift Serverless managed VPC endpoint.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteEndpointAccessRequest": {
      "type": "structure",
      "members": {
        "endpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteEndpointAccessResponse": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.redshiftserverless#EndpointAccess",
          "traits": {
            "smithy.api#documentation": "<p>The deleted VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a namespace from Amazon Redshift Serverless. Before you delete the namespace, you can create a final snapshot that has all of the data within the namespace.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "finalSnapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot to be created before the namespace is deleted.</p>"
          }
        },
        "finalSnapshotRetentionPeriod": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>How long to retain the final snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.redshiftserverless#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The deleted namespace object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource policy.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the policy to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteScheduledActionRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteScheduledActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a scheduled action.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteScheduledActionRequest": {
      "type": "structure",
      "members": {
        "scheduledActionName": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scheduled action to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteScheduledActionResponse": {
      "type": "structure",
      "members": {
        "scheduledAction": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionResponse",
          "traits": {
            "smithy.api#documentation": "<p>The deleted scheduled action object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a snapshot from Amazon Redshift Serverless.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshotCopyConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteSnapshotCopyConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteSnapshotCopyConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a snapshot copy configuration</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshotCopyConfigurationRequest": {
      "type": "structure",
      "members": {
        "snapshotCopyConfigurationId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the snapshot copy configuration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshotCopyConfigurationResponse": {
      "type": "structure",
      "members": {
        "snapshotCopyConfiguration": {
          "target": "com.amazonaws.redshiftserverless#SnapshotCopyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The deleted snapshot copy configuration object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteSnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.amazonaws.redshiftserverless#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The deleted snapshot object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteUsageLimit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteUsageLimitRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteUsageLimitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a usage limit from Amazon Redshift Serverless.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteUsageLimitRequest": {
      "type": "structure",
      "members": {
        "usageLimitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the usage limit to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteUsageLimitResponse": {
      "type": "structure",
      "members": {
        "usageLimit": {
          "target": "com.amazonaws.redshiftserverless#UsageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The deleted usage limit object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteWorkgroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#DeleteWorkgroupRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#DeleteWorkgroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workgroup.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteWorkgroupRequest": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#DeleteWorkgroupResponse": {
      "type": "structure",
      "members": {
        "workgroup": {
          "target": "com.amazonaws.redshiftserverless#Workgroup",
          "traits": {
            "smithy.api#documentation": "<p>The deleted workgroup object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#DryRunException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception is thrown when the request was successful, but dry run was enabled so no action was taken.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshiftserverless#Duration": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.redshiftserverless#Endpoint": {
      "type": "structure",
      "members": {
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS address of the VPC endpoint.</p>"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The port that Amazon Redshift Serverless listens on.</p>"
          }
        },
        "vpcEndpoints": {
          "target": "com.amazonaws.redshiftserverless#VpcEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>VpcEndpoint</code> objects.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The VPC endpoint object.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#EndpointAccess": {
      "type": "structure",
      "members": {
        "endpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint.</p>"
          }
        },
        "endpointStatus": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the VPC endpoint.</p>"
          }
        },
        "workgroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the endpoint.</p>"
          }
        },
        "endpointCreateTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the endpoint was created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which Amazon Redshift Serverless accepts incoming connections.</p>"
          }
        },
        "address": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS address of the endpoint.</p>"
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.redshiftserverless#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of subnets where Amazon Redshift Serverless choose to deploy the VPC endpoint.</p>"
          }
        },
        "vpcSecurityGroups": {
          "target": "com.amazonaws.redshiftserverless#VpcSecurityGroupMembershipList",
          "traits": {
            "smithy.api#documentation": "<p>The security groups associated with the endpoint.</p>"
          }
        },
        "vpcEndpoint": {
          "target": "com.amazonaws.redshiftserverless#VpcEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The connection endpoint for connecting to Amazon Redshift Serverless.</p>"
          }
        },
        "endpointArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an Amazon Redshift Serverless VPC endpoint.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#EndpointAccessList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftserverless#EndpointAccess"
      }
    },
    "com.amazonaws.redshiftserverless#GetCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetCredentialsRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a database user name and temporary password with temporary authorization to log in to Amazon Redshift Serverless.</p> <p>By default, the temporary credentials expire in 900 seconds. You can optionally specify a duration between 900 seconds (15 minutes) and 3600 seconds (60 minutes).</p> <p>The Identity and Access Management (IAM) user or role that runs GetCredentials must have an IAM policy attached that allows access to all necessary actions and resources.</p> <p>If the <code>DbName</code> parameter is specified, the IAM policy must allow access to the resource dbname for the specified database name.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#GetCredentialsRequest": {
      "type": "structure",
      "members": {
        "dbName": {
          "target": "com.amazonaws.redshiftserverless#DbName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database to get temporary authorization to log on to.</p> <p>Constraints:</p> <ul> <li> <p>Must be 1 to 64 alphanumeric characters or hyphens.</p> </li> <li> <p>Must contain only uppercase or lowercase letters, numbers, underscore, plus sign, period (dot), at symbol (@), or hyphen.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Must not contain a colon ( : ) or slash ( / ).</p> </li> <li> <p>Cannot be a reserved word. A list of reserved words can be found in <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_pg_keywords.html\">Reserved Words </a> in the Amazon Redshift Database Developer Guide</p> </li> </ul>"
          }
        },
        "durationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds until the returned temporary password expires. The minimum is 900 seconds, and the maximum is 3600 seconds.</p>"
          }
        },
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>"
          }
        },
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name associated with the workgroup. The custom domain name or the workgroup name must be included in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetCredentialsResponse": {
      "type": "structure",
      "members": {
        "dbUser": {
          "target": "com.amazonaws.redshiftserverless#DbUser",
          "traits": {
            "smithy.api#documentation": "<p>A database user name that is authorized to log on to the database <code>DbName</code> using the password <code>DbPassword</code>. If the specified <code>DbUser</code> exists in the database, the new user name has the same database privileges as the the user named in <code>DbUser</code>. By default, the user is added to PUBLIC.</p>"
          }
        },
        "dbPassword": {
          "target": "com.amazonaws.redshiftserverless#DbPassword",
          "traits": {
            "smithy.api#documentation": "<p>A temporary password that authorizes the user name returned by <code>DbUser</code> to log on to the database <code>DbName</code>.</p>"
          }
        },
        "expiration": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the password in <code>DbPassword</code> expires.</p>"
          }
        },
        "nextRefreshTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of when the <code>DbUser</code> and <code>DbPassword</code> authorization refreshes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetCustomDomainAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetCustomDomainAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetCustomDomainAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specific custom domain association.</p>"
      }
    },
    "com.amazonaws.redshiftserverless#GetCustomDomainAssociationRequest": {
      "type": "structure",
      "members": {
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name associated with the workgroup.</p>",
            "smithy.api#required": {}
          }
        },
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetCustomDomainAssociationResponse": {
      "type": "structure",
      "members": {
        "customDomainName": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainName",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name associated with the workgroup.</p>"
          }
        },
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup associated with the database.</p>"
          }
        },
        "customDomainCertificateArn": {
          "target": "com.amazonaws.redshiftserverless#CustomDomainCertificateArnString",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name’s certificate Amazon resource name (ARN).</p>"
          }
        },
        "customDomainCertificateExpiryTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration time for the certificate.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetEndpointAccess": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetEndpointAccessRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetEndpointAccessResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information, such as the name, about a VPC endpoint.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetEndpointAccessRequest": {
      "type": "structure",
      "members": {
        "endpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VPC endpoint to return information for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetEndpointAccessResponse": {
      "type": "structure",
      "members": {
        "endpoint": {
          "target": "com.amazonaws.redshiftserverless#EndpointAccess",
          "traits": {
            "smithy.api#documentation": "<p>The returned VPC endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a namespace in Amazon Redshift Serverless.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.redshiftserverless#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace to retrieve information for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespace": {
          "target": "com.amazonaws.redshiftserverless#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The returned namespace object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetRecoveryPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetRecoveryPointRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetRecoveryPointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a recovery point.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetRecoveryPointRequest": {
      "type": "structure",
      "members": {
        "recoveryPointId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the recovery point to return information for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetRecoveryPointResponse": {
      "type": "structure",
      "members": {
        "recoveryPoint": {
          "target": "com.amazonaws.redshiftserverless#RecoveryPoint",
          "traits": {
            "smithy.api#documentation": "<p>The returned recovery point object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetReservationRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetReservationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an Amazon Redshift Serverless reservation. A reservation gives you the option to commit to a specified number of Redshift Processing Units (RPUs) for a year at a discount from Serverless on-demand (OD) rates.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservationOffering": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetReservationOfferingRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetReservationOfferingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the reservation offering. The offering determines the payment schedule for the reservation.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservationOfferingRequest": {
      "type": "structure",
      "members": {
        "offeringId": {
          "target": "com.amazonaws.redshiftserverless#OfferingId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the offering..</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservationOfferingResponse": {
      "type": "structure",
      "members": {
        "reservationOffering": {
          "target": "com.amazonaws.redshiftserverless#ReservationOffering",
          "traits": {
            "smithy.api#documentation": "<p>The returned reservation offering. The offering determines the payment schedule for the reservation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservationRequest": {
      "type": "structure",
      "members": {
        "reservationId": {
          "target": "com.amazonaws.redshiftserverless#ReservationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the reservation to retrieve.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 64
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetReservationResponse": {
      "type": "structure",
      "members": {
        "reservation": {
          "target": "com.amazonaws.redshiftserverless#Reservation",
          "traits": {
            "smithy.api#documentation": "<p>The returned reservation object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a resource policy.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource to return.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "resourcePolicy": {
          "target": "com.amazonaws.redshiftserverless#ResourcePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The returned resource policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetScheduledAction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetScheduledActionRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetScheduledActionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a scheduled action.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetScheduledActionRequest": {
      "type": "structure",
      "members": {
        "scheduledActionName": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the scheduled action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetScheduledActionResponse": {
      "type": "structure",
      "members": {
        "scheduledAction": {
          "target": "com.amazonaws.redshiftserverless#ScheduledActionResponse",
          "traits": {
            "smithy.api#documentation": "<p>The returned scheduled action object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific snapshot.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetSnapshotRequest": {
      "type": "structure",
      "members": {
        "snapshotName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the snapshot to return.</p>"
          }
        },
        "ownerAccount": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The owner Amazon Web Services account of a snapshot shared with another user.</p>"
          }
        },
        "snapshotArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the snapshot to return.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetSnapshotResponse": {
      "type": "structure",
      "members": {
        "snapshot": {
          "target": "com.amazonaws.redshiftserverless#Snapshot",
          "traits": {
            "smithy.api#documentation": "<p>The returned snapshot object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTableRestoreStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetTableRestoreStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetTableRestoreStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a <code>TableRestoreStatus</code> object.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTableRestoreStatusRequest": {
      "type": "structure",
      "members": {
        "tableRestoreRequestId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>RestoreTableFromSnapshot</code> request to return status for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTableRestoreStatusResponse": {
      "type": "structure",
      "members": {
        "tableRestoreStatus": {
          "target": "com.amazonaws.redshiftserverless#TableRestoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The returned <code>TableRestoreStatus</code> object that contains information about the status of your <code>RestoreTableFromSnapshot</code> request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTrack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetTrackRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetTrackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the Redshift Serverless version for a specified track.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTrackRequest": {
      "type": "structure",
      "members": {
        "trackName": {
          "target": "com.amazonaws.redshiftserverless#TrackName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the track of which its version is fetched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetTrackResponse": {
      "type": "structure",
      "members": {
        "track": {
          "target": "com.amazonaws.redshiftserverless#ServerlessTrack",
          "traits": {
            "smithy.api#documentation": "<p>The version of the specified track.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetUsageLimit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetUsageLimitRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetUsageLimitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#ConflictException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a usage limit.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetUsageLimitRequest": {
      "type": "structure",
      "members": {
        "usageLimitId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the usage limit to return information for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetUsageLimitResponse": {
      "type": "structure",
      "members": {
        "usageLimit": {
          "target": "com.amazonaws.redshiftserverless#UsageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The returned usage limit object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetWorkgroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftserverless#GetWorkgroupRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftserverless#GetWorkgroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftserverless#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftserverless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific workgroup.</p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetWorkgroupRequest": {
      "type": "structure",
      "members": {
        "workgroupName": {
          "target": "com.amazonaws.redshiftserverless#WorkgroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the workgroup to return information for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.redshiftserverless#GetWorkgroupResponse": {
      "type": "structure",
      "members": {
        "workgroup": {
          "target": "com.amazonaws.redshiftserverless#Workgroup",
          "traits": {
            "smithy.api#documentation": "<p>The returned workgroup object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.redshiftserverless#IamRoleArn": {
      "type": "string"
    },
    "com.amazonaws.redshiftserverless#IamRoleArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftserverless#IamRoleArn"
      }
    },
    "com.amazonaws.redshiftserverless#InsufficientCapacityException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is an insufficient capacity to perform the action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.redshiftserverless#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.redshiftserverless#InvalidPaginationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The provided pagination token is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshiftserverless#IpAddressType": {
      "type": "string",
      "traits": {
[...]
