{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.redshiftdata#ActiveStatementsExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of active statements exceeds the limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshiftdata#BatchExecuteStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#BatchExecuteStatementInput"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#BatchExecuteStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#ActiveStatementsExceededException"
        },
        {
          "target": "com.amazonaws.redshiftdata#BatchExecuteStatementException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Runs one or more SQL statements, which can be data manipulation language (DML) or data definition\n      language (DDL). \n      Depending on the authorization\n      method, use one of the following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n      <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n      <i>Amazon Redshift Management Guide</i>. </p>"
      }
    },
    "com.amazonaws.redshiftdata#BatchExecuteStatementException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>Statement identifier of the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An SQL statement encountered an environmental error while running.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.redshiftdata#BatchExecuteStatementInput": {
      "type": "structure",
      "members": {
        "Sqls": {
          "target": "com.amazonaws.redshiftdata#SqlList",
          "traits": {
            "smithy.api#documentation": "<p>One or more SQL statements to run. \n      \n      The SQL statements are run as a single transaction. They run serially in the order of the array. \n      Subsequent SQL statements don't start until the previous statement in the array completes. \n      If any SQL statement fails, then because they are run as one transaction, all work is rolled back.</p>",
            "smithy.api#required": {}
          }
        },
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
            "smithy.api#required": {}
          }
        },
        "WithEvent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to send an event to the Amazon EventBridge event bus after the SQL statements run. </p>"
          }
        },
        "StatementName": {
          "target": "com.amazonaws.redshiftdata#StatementNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SQL statements. You can name the SQL statements when you create them to identify the query. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.redshiftdata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#BatchExecuteStatementOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. \n      This identifier is returned by <code>BatchExecuteStatment</code>. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) the statement was created. </p>"
          }
        },
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This element is not returned when connecting to a serverless workgroup. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name.</p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database.</p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This element is not returned when connecting to a provisioned cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#Blob": {
      "type": "blob"
    },
    "com.amazonaws.redshiftdata#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.redshiftdata#BoxedDouble": {
      "type": "double"
    },
    "com.amazonaws.redshiftdata#BoxedLong": {
      "type": "long"
    },
    "com.amazonaws.redshiftdata#CancelStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#CancelStatementRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#CancelStatementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#DatabaseConnectionException"
        },
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a running query. To be canceled, a query must be running. </p>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>"
      }
    },
    "com.amazonaws.redshiftdata#CancelStatementRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement to cancel. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. \n        This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatment</code>, and <code>ListStatements</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#CancelStatementResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the cancel statement succeeded (true). </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.redshiftdata#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#ColumnMetadata"
      }
    },
    "com.amazonaws.redshiftdata#ColumnMetadata": {
      "type": "structure",
      "members": {
        "isCaseSensitive": {
          "target": "com.amazonaws.redshiftdata#bool",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether the column is case-sensitive. </p>"
          }
        },
        "isCurrency": {
          "target": "com.amazonaws.redshiftdata#bool",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether the column contains currency values.</p>"
          }
        },
        "isSigned": {
          "target": "com.amazonaws.redshiftdata#bool",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether an integer column is signed.</p>"
          }
        },
        "label": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The label for the column. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column. </p>"
          }
        },
        "nullable": {
          "target": "com.amazonaws.redshiftdata#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A value that indicates whether the column is nullable. </p>"
          }
        },
        "precision": {
          "target": "com.amazonaws.redshiftdata#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The precision value of a decimal number column. </p>"
          }
        },
        "scale": {
          "target": "com.amazonaws.redshiftdata#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The scale value of a decimal number column. </p>"
          }
        },
        "schemaName": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the schema that contains the table that includes the column.</p>"
          }
        },
        "tableName": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that includes the column. </p>"
          }
        },
        "typeName": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database-specific data type of the column. </p>"
          }
        },
        "length": {
          "target": "com.amazonaws.redshiftdata#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The length of the column.</p>"
          }
        },
        "columnDefault": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the column. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties (metadata) of a column. </p>"
      }
    },
    "com.amazonaws.redshiftdata#ColumnMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#ColumnMetadata"
      }
    },
    "com.amazonaws.redshiftdata#DatabaseConnectionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Connection to a database failed.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.redshiftdata#DatabaseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#String"
      }
    },
    "com.amazonaws.redshiftdata#DescribeStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#DescribeStatementRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#DescribeStatementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the details about a specific instance when a query was run by the Amazon Redshift Data API. The information\n      includes when the query started, when it finished, the query status, the number of rows returned, and the SQL\n      statement. </p>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#DescribeStatementRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement to describe. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. \n       A suffix indicates the number of the SQL statement.\n       For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query.\n       This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatement</code>, and <code>ListStatements</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#DescribeStatementResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement described. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the secret that enables access to the database. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database. </p>"
          }
        },
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. </p>"
          }
        },
        "Duration": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time in nanoseconds that the statement ran. </p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message from the cluster if the SQL statement encountered an error while running. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.redshiftdata#StatusString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the SQL statement being described. Status values are defined as follows: </p>\n         <ul>\n            <li>\n               <p>ABORTED - The query run was stopped by the user. </p>\n            </li>\n            <li>\n               <p>ALL -  A status value that includes all query statuses. This value can be used to filter results. </p>\n            </li>\n            <li>\n               <p>FAILED - The query run failed. </p>\n            </li>\n            <li>\n               <p>FINISHED - The query has finished running. </p>\n            </li>\n            <li>\n               <p>PICKED - The query has been chosen to be run. </p>\n            </li>\n            <li>\n               <p>STARTED - The query run has started. </p>\n            </li>\n            <li>\n               <p>SUBMITTED - The query was submitted, but not yet processed. </p>\n            </li>\n         </ul>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) when the SQL statement was submitted to run. </p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) that the metadata for the SQL statement was last updated. An\n      example is the time the status last changed. </p>"
          }
        },
        "RedshiftPid": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The process identifier from Amazon Redshift. </p>"
          }
        },
        "HasResultSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set.\n      The value is true if any substatement returns a result set.</p>"
          }
        },
        "QueryString": {
          "target": "com.amazonaws.redshiftdata#StatementString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statement text. </p>"
          }
        },
        "ResultRows": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Either the number of rows returned from the SQL statement or the number of rows affected.\n        If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others. \n        A <code>-1</code> indicates the value is null.</p>"
          }
        },
        "ResultSize": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size in bytes of the returned results. A <code>-1</code> indicates the value is null.</p>"
          }
        },
        "RedshiftQueryId": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The identifier of the query generated by Amazon Redshift. \n      These identifiers are also available in the <code>query</code> column of the <code>STL_QUERY</code> system view. </p>"
          }
        },
        "QueryParameters": {
          "target": "com.amazonaws.redshiftdata#SqlParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for the SQL statement.</p>"
          }
        },
        "SubStatements": {
          "target": "com.amazonaws.redshiftdata#SubStatementList",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statements from a multiple statement run.</p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#DescribeTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#DescribeTableRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#DescribeTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#DatabaseConnectionException"
        },
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the detailed information about a table from metadata in the cluster. The\n      information includes its columns. \n      A token is returned to page through the column list.\n      Depending on the authorization method, use one of the\n      following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "ColumnList"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#DescribeTableRequest": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database that contains the tables to be described.  \n      If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectedDatabase": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema that contains the table. If no schema is specified, then matching tables for all schemas are returned. </p>"
          }
        },
        "Table": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name. If no table is specified, then all tables for all matching schemas are returned. \n       If no table and no schema is specified, then all tables for all schemas in the database are returned</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.redshiftdata#PageSize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of tables to return in the response. \n      If more tables exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#DescribeTableResponse": {
      "type": "structure",
      "members": {
        "TableName": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The table name. </p>"
          }
        },
        "ColumnList": {
          "target": "com.amazonaws.redshiftdata#ColumnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of columns in the table. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ExecuteStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#ExecuteStatementInput"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#ExecuteStatementOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#ActiveStatementsExceededException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ExecuteStatementException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Runs an SQL statement, which can be data manipulation language (DML) or data definition\n      language (DDL). This statement must be a single SQL statement. \n      Depending on the authorization\n      method, use one of the following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>"
      }
    },
    "com.amazonaws.redshiftdata#ExecuteStatementException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>Statement identifier of the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SQL statement encountered an environmental error while running.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.redshiftdata#ExecuteStatementInput": {
      "type": "structure",
      "members": {
        "Sql": {
          "target": "com.amazonaws.redshiftdata#StatementString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statement text to run. </p>",
            "smithy.api#required": {}
          }
        },
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
            "smithy.api#required": {}
          }
        },
        "WithEvent": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether to send an event to the Amazon EventBridge event bus after the SQL statement runs. </p>"
          }
        },
        "StatementName": {
          "target": "com.amazonaws.redshiftdata#StatementNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SQL statement. You can name the SQL statement when you create it to identify the query. </p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.redshiftdata#SqlParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for the SQL statement.</p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.redshiftdata#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ExecuteStatementOutput": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) the statement was created. </p>"
          }
        },
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This element is not returned when connecting to a serverless workgroup. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name.</p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database.</p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This element is not returned when connecting to a provisioned cluster.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#Field": {
      "type": "union",
      "members": {
        "isNull": {
          "target": "com.amazonaws.redshiftdata#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the data is NULL. </p>"
          }
        },
        "booleanValue": {
          "target": "com.amazonaws.redshiftdata#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A value of the Boolean data type. </p>"
          }
        },
        "longValue": {
          "target": "com.amazonaws.redshiftdata#BoxedLong",
          "traits": {
            "smithy.api#documentation": "<p>A value of the long data type. </p>"
          }
        },
        "doubleValue": {
          "target": "com.amazonaws.redshiftdata#BoxedDouble",
          "traits": {
            "smithy.api#documentation": "<p>A value of the double data type. </p>"
          }
        },
        "stringValue": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value of the string data type. </p>"
          }
        },
        "blobValue": {
          "target": "com.amazonaws.redshiftdata#Blob",
          "traits": {
            "smithy.api#documentation": "<p>A value of the BLOB data type. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A data value in a column. </p>"
      }
    },
    "com.amazonaws.redshiftdata#FieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#Field"
      }
    },
    "com.amazonaws.redshiftdata#GetStatementResult": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#GetStatementResultRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#GetStatementResultResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Fetches the temporarily cached result of an SQL statement. \n       A token is returned to page through the statement results. </p>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Records"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#GetStatementResultRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement whose results are to be fetched. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. \n       A suffix indicates then number of the SQL statement.\n       For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query.\n       This identifier is returned by <code>BatchExecuteStatment</code>, <code>ExecuteStatment</code>, and <code>ListStatements</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#GetStatementResultResponse": {
      "type": "structure",
      "members": {
        "Records": {
          "target": "com.amazonaws.redshiftdata#SqlRecords",
          "traits": {
            "smithy.api#documentation": "<p>The results of the SQL statement.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnMetadata": {
          "target": "com.amazonaws.redshiftdata#ColumnMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The properties (metadata) of a column. </p>"
          }
        },
        "TotalNumRows": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total number of rows in the result set returned from a query. \n       You can use this number to estimate the number of calls to the <code>GetStatementResult</code> operation needed to page through the results. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.redshiftdata#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Redshift Data API operation failed due to invalid input. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.redshiftdata#ListDatabases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#ListDatabasesRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#ListDatabasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#DatabaseConnectionException"
        },
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the databases in a cluster. \n      A token is returned to page through the database list.\n      Depending on the authorization method, use one of the\n      following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Databases"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#ListDatabasesRequest": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database. This parameter is required when authenticating using either Secrets Manager or temporary credentials. </p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.redshiftdata#PageSize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of databases to return in the response. \n       If more databases exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListDatabasesResponse": {
      "type": "structure",
      "members": {
        "Databases": {
          "target": "com.amazonaws.redshiftdata#DatabaseList",
          "traits": {
            "smithy.api#documentation": "<p>The names of databases. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListSchemas": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#ListSchemasRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#ListSchemasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#DatabaseConnectionException"
        },
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the schemas in a database. \n      A token is returned to page through the schema list. \n      Depending on the authorization method, use one of the\n      following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Schemas"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#ListSchemasRequest": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database that contains the schemas to list. \n     If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectedDatabase": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>"
          }
        },
        "SchemaPattern": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A pattern to filter results by schema name. Within a schema pattern, \"%\" means match any\n      substring of 0 or more characters and \"_\" means match any one character. Only schema name\n      entries matching the search pattern are returned. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.redshiftdata#PageSize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of schemas to return in the response. \n       If more schemas exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListSchemasResponse": {
      "type": "structure",
      "members": {
        "Schemas": {
          "target": "com.amazonaws.redshiftdata#SchemaList",
          "traits": {
            "smithy.api#documentation": "<p>The schemas that match the request pattern. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListStatements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#ListStatementsRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#ListStatementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List of SQL statements. By default, only finished statements are shown. \n        A token is returned to page through the statement list. </p>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Statements"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#ListStatementsLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.redshiftdata#ListStatementsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.redshiftdata#ListStatementsLimit",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of SQL statements to return in the response. \n       If more SQL statements exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>"
          }
        },
        "StatementName": {
          "target": "com.amazonaws.redshiftdata#StatementNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SQL statement specified as input to <code>BatchExecuteStatement</code> or <code>ExecuteStatement</code> to identify the query. \n      You can list multiple statements by providing a prefix that matches the beginning of the statement name. \n      For example, to list myStatement1, myStatement2, myStatement3, and so on, then provide the a value of <code>myStatement</code>.  \n      Data API does a case-sensitive match of SQL statement names to the prefix value you provide. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.redshiftdata#StatusString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the SQL statement to list. Status values are defined as follows: </p>\n         <ul>\n            <li>\n               <p>ABORTED - The query run was stopped by the user. </p>\n            </li>\n            <li>\n               <p>ALL -  A status value that includes all query statuses. This value can be used to filter results. </p>\n            </li>\n            <li>\n               <p>FAILED - The query run failed. </p>\n            </li>\n            <li>\n               <p>FINISHED - The query has finished running. </p>\n            </li>\n            <li>\n               <p>PICKED - The query has been chosen to be run. </p>\n            </li>\n            <li>\n               <p>STARTED - The query run has started. </p>\n            </li>\n            <li>\n               <p>SUBMITTED - The query was submitted, but not yet processed. </p>\n            </li>\n         </ul>"
          }
        },
        "RoleLevel": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that filters which statements to return in the response. If true, all statements run by the caller's IAM role are returned. \n      If false, only statements run by the caller's IAM role in the current IAM session are returned.  The default is true. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListStatementsResponse": {
      "type": "structure",
      "members": {
        "Statements": {
          "target": "com.amazonaws.redshiftdata#StatementList",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statements. </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListTables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.redshiftdata#ListTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.redshiftdata#ListTablesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.redshiftdata#DatabaseConnectionException"
        },
        {
          "target": "com.amazonaws.redshiftdata#InternalServerException"
        },
        {
          "target": "com.amazonaws.redshiftdata#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the tables in a database. If neither <code>SchemaPattern</code> nor <code>TablePattern</code> are specified, then \n       all tables in the database are returned.\n      A token is returned to page through the table list. \n      Depending on the authorization method, use one of the\n      following combinations of request parameters: </p>\n         <ul>\n            <li>\n               <p>Secrets Manager - when connecting to a cluster, specify the Amazon Resource Name (ARN) of the secret, the database name, and the cluster identifier that matches the cluster in the secret.\nWhen connecting to a serverless workgroup, specify the Amazon Resource Name (ARN) of the secret and the database name. </p>\n            </li>\n            <li>\n               <p>Temporary credentials - when connecting to a cluster, specify the cluster identifier, the database name, and the database user name. \nAlso, permission to call the <code>redshift:GetClusterCredentials</code> operation is required.\nWhen connecting to a serverless workgroup, specify the workgroup name and database name. Also, permission to call the <code>redshift-serverless:GetCredentials</code> operation is required. </p>\n            </li>\n         </ul>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Tables"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.redshiftdata#ListTablesRequest": {
      "type": "structure",
      "members": {
        "ClusterIdentifier": {
          "target": "com.amazonaws.redshiftdata#Location",
          "traits": {
            "smithy.api#documentation": "<p>The cluster identifier. This parameter is required when connecting to a cluster and authenticating using either Secrets Manager or temporary credentials. </p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the secret that enables access to the database. This parameter is required when authenticating using Secrets Manager. </p>"
          }
        },
        "DbUser": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The database user name. This parameter is required when connecting to a cluster and authenticating using temporary credentials. </p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database that contains the tables to list. \n      If <code>ConnectedDatabase</code> is not specified, this is also the database to connect to with your authentication credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectedDatabase": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A database name. The connected database is specified when you connect with your authentication credentials. </p>"
          }
        },
        "SchemaPattern": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A pattern to filter results by schema name. Within a schema pattern, \"%\" means match any\n      substring of 0 or more characters and \"_\" means match any one character. Only schema name\n      entries matching the search pattern are returned. If <code>SchemaPattern</code> is not specified, then all tables that match \n       <code>TablePattern</code> are returned. \n       If neither <code>SchemaPattern</code> or <code>TablePattern</code> are specified, then all tables are returned. </p>"
          }
        },
        "TablePattern": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A pattern to filter results by table name. Within a table pattern, \"%\" means match any\n      substring of 0 or more characters and \"_\" means match any one character. Only table name\n      entries matching the search pattern are returned. If <code>TablePattern</code> is not specified, then all tables that match \n       <code>SchemaPattern</code>are returned.  \n       If neither <code>SchemaPattern</code> or <code>TablePattern</code> are specified, then all tables are returned. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.redshiftdata#PageSize",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of tables to return in the response. \n       If more tables exist than fit in one response, then <code>NextToken</code> is returned to page through the results. </p>"
          }
        },
        "WorkgroupName": {
          "target": "com.amazonaws.redshiftdata#WorkgroupNameString",
          "traits": {
            "smithy.api#documentation": "<p>The serverless workgroup name. This parameter is required when connecting to a serverless workgroup and authenticating using either Secrets Manager or temporary credentials.</p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#ListTablesResponse": {
      "type": "structure",
      "members": {
        "Tables": {
          "target": "com.amazonaws.redshiftdata#TableList",
          "traits": {
            "smithy.api#documentation": "<p>The tables that match the request pattern. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates the starting point for the next set of response records in a subsequent request. If a value is returned in a response, you can retrieve the next set of records by providing this returned NextToken value in the next NextToken parameter and retrying the command. If the NextToken field is empty, all response records have been retrieved for the request. </p>"
          }
        }
      }
    },
    "com.amazonaws.redshiftdata#Location": {
      "type": "string"
    },
    "com.amazonaws.redshiftdata#Long": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.redshiftdata#PageSize": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.redshiftdata#ParameterName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z_]+$"
      }
    },
    "com.amazonaws.redshiftdata#ParameterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.redshiftdata#RedshiftData": {
      "type": "service",
      "version": "2019-12-20",
      "operations": [
        {
          "target": "com.amazonaws.redshiftdata#BatchExecuteStatement"
        },
        {
          "target": "com.amazonaws.redshiftdata#CancelStatement"
        },
        {
          "target": "com.amazonaws.redshiftdata#DescribeStatement"
        },
        {
          "target": "com.amazonaws.redshiftdata#DescribeTable"
        },
        {
          "target": "com.amazonaws.redshiftdata#ExecuteStatement"
        },
        {
          "target": "com.amazonaws.redshiftdata#GetStatementResult"
        },
        {
          "target": "com.amazonaws.redshiftdata#ListDatabases"
        },
        {
          "target": "com.amazonaws.redshiftdata#ListSchemas"
        },
        {
          "target": "com.amazonaws.redshiftdata#ListStatements"
        },
        {
          "target": "com.amazonaws.redshiftdata#ListTables"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Redshift Data",
          "arnNamespace": "redshift-data"
        },
        "aws.auth#sigv4": {
          "name": "redshift-data"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#cors": {},
        "smithy.api#documentation": "<p>You can use the Amazon Redshift Data API to run queries on Amazon Redshift tables. You\n      can run SQL statements, which are committed if the statement succeeds. </p>\n         <p>For more information about the Amazon Redshift Data API and CLI usage examples, see \n       <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/data-api.html\">Using the Amazon Redshift Data API</a> in the \n       <i>Amazon Redshift Management Guide</i>. </p>",
        "smithy.api#title": "Redshift Data API Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://redshift-data-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://redshift-data-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://redshift-data.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://redshift-data.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.redshiftdata#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>Resource identifier associated with the exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Redshift Data API operation failed due to a missing resource. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.redshiftdata#SchemaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#String"
      }
    },
    "com.amazonaws.redshiftdata#SecretArn": {
      "type": "string"
    },
    "com.amazonaws.redshiftdata#SqlList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#StatementString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        }
      }
    },
    "com.amazonaws.redshiftdata#SqlParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.redshiftdata#ParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.redshiftdata#ParameterValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the parameter. \n    Amazon Redshift implicitly converts to the proper data type. For more information, see \n      <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/c_Supported_data_types.html\">Data types</a> in the \n      <i>Amazon Redshift Database Developer Guide</i>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter used in a SQL statement.</p>"
      }
    },
    "com.amazonaws.redshiftdata#SqlParametersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#SqlParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.redshiftdata#SqlRecords": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#FieldList"
      }
    },
    "com.amazonaws.redshiftdata#StatementData": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statement identifier. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>",
            "smithy.api#required": {}
          }
        },
        "QueryString": {
          "target": "com.amazonaws.redshiftdata#StatementString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statement.</p>"
          }
        },
        "QueryStrings": {
          "target": "com.amazonaws.redshiftdata#StatementStringList",
          "traits": {
            "smithy.api#documentation": "<p>One or more SQL statements. Each query string in the array corresponds to one of the queries in a batch query request.</p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.redshiftdata#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the secret that enables access to the database. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.redshiftdata#StatusString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the SQL statement. An\n       example is the that the SQL statement finished.\n      </p>"
          }
        },
        "StatementName": {
          "target": "com.amazonaws.redshiftdata#StatementNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SQL statement. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) the statement was created. </p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) that the statement metadata was last updated.</p>"
          }
        },
        "QueryParameters": {
          "target": "com.amazonaws.redshiftdata#SqlParametersList",
          "traits": {
            "smithy.api#documentation": "<p>The parameters used in a SQL statement.</p>"
          }
        },
        "IsBatchStatement": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the statement is a batch query request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The SQL statement to run.</p>"
      }
    },
    "com.amazonaws.redshiftdata#StatementId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}(:\\d+)?$"
      }
    },
    "com.amazonaws.redshiftdata#StatementList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#StatementData"
      }
    },
    "com.amazonaws.redshiftdata#StatementNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 500
        }
      }
    },
    "com.amazonaws.redshiftdata#StatementStatusString": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUBMITTED",
            "value": "SUBMITTED"
          },
          {
            "name": "PICKED",
            "value": "PICKED"
          },
          {
            "name": "STARTED",
            "value": "STARTED"
          },
          {
            "name": "FINISHED",
            "value": "FINISHED"
          },
          {
            "name": "ABORTED",
            "value": "ABORTED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.redshiftdata#StatementString": {
      "type": "string"
    },
    "com.amazonaws.redshiftdata#StatementStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#StatementString"
      }
    },
    "com.amazonaws.redshiftdata#StatusString": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SUBMITTED",
            "value": "SUBMITTED"
          },
          {
            "name": "PICKED",
            "value": "PICKED"
          },
          {
            "name": "STARTED",
            "value": "STARTED"
          },
          {
            "name": "FINISHED",
            "value": "FINISHED"
          },
          {
            "name": "ABORTED",
            "value": "ABORTED"
          },
          {
            "name": "FAILED",
            "value": "FAILED"
          },
          {
            "name": "ALL",
            "value": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.redshiftdata#String": {
      "type": "string"
    },
    "com.amazonaws.redshiftdata#SubStatementData": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.redshiftdata#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the SQL statement. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. \n      A suffix indicates the number of the SQL statement.\n      For example, <code>d9b6c0c9-0747-4bf4-b142-e8883122f766:2</code> has a suffix of <code>:2</code> that indicates the second SQL statement of a batch query.</p>",
            "smithy.api#required": {}
          }
        },
        "Duration": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of time in nanoseconds that the statement ran.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message from the cluster if the SQL statement encountered an error while running.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.redshiftdata#StatementStatusString",
          "traits": {
            "smithy.api#documentation": "<p>The status of the SQL statement. An\n      example is the that the SQL statement finished.\n      </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) the statement was created. </p>"
          }
        },
        "UpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time (UTC) that the statement metadata was last updated.</p>"
          }
        },
        "QueryString": {
          "target": "com.amazonaws.redshiftdata#StatementString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL statement text.</p>"
          }
        },
        "ResultRows": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Either the number of rows returned from the SQL statement or the number of rows affected. \n      If result size is greater than zero, the result rows can be the number of rows affected by SQL statements such as INSERT, UPDATE, DELETE, COPY, and others.\n      A <code>-1</code> indicates the value is null.</p>"
          }
        },
        "ResultSize": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size in bytes of the returned results. A <code>-1</code> indicates the value is null.</p>"
          }
        },
        "RedshiftQueryId": {
          "target": "com.amazonaws.redshiftdata#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The SQL statement identifier. This value is a universally unique identifier (UUID) generated by Amazon Redshift Data API. </p>"
          }
        },
        "HasResultSet": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether the statement has a result set. The result set can be empty. The value is true for an empty result set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an SQL statement.</p>"
      }
    },
    "com.amazonaws.redshiftdata#SubStatementList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#SubStatementData"
      }
    },
    "com.amazonaws.redshiftdata#TableList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.redshiftdata#TableMember"
      }
    },
    "com.amazonaws.redshiftdata#TableMember": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table. </p>"
          }
        },
        "type": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the table. Possible values include TABLE, VIEW, SYSTEM TABLE, GLOBAL\n      TEMPORARY, LOCAL TEMPORARY, ALIAS, and SYNONYM. </p>"
          }
        },
        "schema": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The schema containing the table. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a table. </p>"
      }
    },
    "com.amazonaws.redshiftdata#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.redshiftdata#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Redshift Data API operation failed due to invalid input. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.redshiftdata#WorkgroupNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        },
        "smithy.api#pattern": "^[a-z0-9-]+$"
      }
    },
    "com.amazonaws.redshiftdata#bool": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    }
  }
}
