{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.rekognition#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Code": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Logref": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>A universally unique identifier (UUID) for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform the action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.rekognition#AgeRange": {
      "type": "structure",
      "members": {
        "Low": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The lowest estimated age.</p>"
          }
        },
        "High": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The highest estimated age.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure containing the estimated age range, in years, for a face.</p>\n         <p>Amazon Rekognition estimates an age range for faces detected in the input image. Estimated age\n      ranges can overlap. A face of a 5-year-old might have an estimated range of 4-6, while the\n      face of a 6-year-old might have an estimated range of 4-8.</p>"
      }
    },
    "com.amazonaws.rekognition#Asset": {
      "type": "structure",
      "members": {
        "GroundTruthManifest": {
          "target": "com.amazonaws.rekognition#GroundTruthManifest"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Assets are the images that you use to train and evaluate a model version. \n         Assets can also contain validation information that you use to debug a failed model training.\n         </p>"
      }
    },
    "com.amazonaws.rekognition#Assets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Asset"
      }
    },
    "com.amazonaws.rekognition#Attribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.rekognition#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Attribute"
      }
    },
    "com.amazonaws.rekognition#AudioMetadata": {
      "type": "structure",
      "members": {
        "Codec": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The audio codec used to encode or decode the audio stream. </p>"
          }
        },
        "DurationMillis": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the audio stream in milliseconds.</p>"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate for the audio stream.</p>"
          }
        },
        "NumberOfChannels": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The number of audio channels in the segment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata information about an audio stream. An array of <code>AudioMetadata</code> objects\n      for the audio streams found in a stored video is returned by <a>GetSegmentDetection</a>. </p>"
      }
    },
    "com.amazonaws.rekognition#AudioMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#AudioMetadata"
      }
    },
    "com.amazonaws.rekognition#Beard": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.rekognition#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Boolean value that indicates whether the face has beard or not.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence in the determination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether or not the face has a beard, and the confidence level in the\n      determination.</p>"
      }
    },
    "com.amazonaws.rekognition#BlackFrame": {
      "type": "structure",
      "members": {
        "MaxPixelThreshold": {
          "target": "com.amazonaws.rekognition#MaxPixelThreshold",
          "traits": {
            "smithy.api#documentation": "<p>\n      A threshold used to determine the maximum luminance value for a pixel to be considered black. In a full color range video,\n      luminance values range from 0-255. A pixel value of 0 is pure black, and the most strict filter. The maximum black pixel\n      value is computed as follows: max_black_pixel_value = minimum_luminance + MaxPixelThreshold *luminance_range.\n    </p>\n         <p>For example, for a full range video with BlackPixelThreshold = 0.1,  max_black_pixel_value is 0 + 0.1 * (255-0) = 25.5.</p>\n         <p>The default value of MaxPixelThreshold is 0.2, which maps to a max_black_pixel_value of 51 for a full range video.\n      You can lower this threshold to be more strict on black levels.</p>"
          }
        },
        "MinCoveragePercentage": {
          "target": "com.amazonaws.rekognition#MinCoveragePercentage",
          "traits": {
            "smithy.api#documentation": "<p>\n      The minimum percentage of pixels in a frame that need to have a luminance below the max_black_pixel_value for a frame to be considered\n      a black frame. Luminance is calculated using the BT.709 matrix.\n    </p>\n         <p>The default value is 99, which means at least 99% of all pixels in the frame are black pixels as per the <code>MaxPixelThreshold</code>\n      set. You can reduce this value to allow more noise on the black frame.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A filter that allows you to control the black frame detection by specifying the black levels\n      and pixel coverage of black pixels in a frame. As videos can come from multiple sources, formats,\n      and time periods, they may contain different standards and varying noise levels for black frames that need to be accounted for.\n      For more information, see <a>StartSegmentDetection</a>.\n    </p>"
      }
    },
    "com.amazonaws.rekognition#BodyPart": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FACE",
            "name": "FACE"
          },
          {
            "value": "HEAD",
            "name": "HEAD"
          },
          {
            "value": "LEFT_HAND",
            "name": "LEFT_HAND"
          },
          {
            "value": "RIGHT_HAND",
            "name": "RIGHT_HAND"
          }
        ]
      }
    },
    "com.amazonaws.rekognition#BodyParts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ProtectiveEquipmentBodyPart"
      }
    },
    "com.amazonaws.rekognition#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.rekognition#BoundingBox": {
      "type": "structure",
      "members": {
        "Width": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Width of the bounding box as a ratio of the overall image width.</p>"
          }
        },
        "Height": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Height of the bounding box as a ratio of the overall image height.</p>"
          }
        },
        "Left": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>"
          }
        },
        "Top": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the bounding box around the label, face, text or personal protective equipment.\n      The <code>left</code> (x-coordinate) and <code>top</code> (y-coordinate) are coordinates representing the top and\n      left sides of the bounding box. Note that the upper-left corner of the image is the origin\n      (0,0). </p>\n         <p>The <code>top</code> and <code>left</code> values returned are ratios of the overall\n      image size. For example, if the input image is 700x200 pixels, and the top-left coordinate of\n      the bounding box is 350x50 pixels, the API returns a <code>left</code> value of 0.5 (350/700)\n      and a <code>top</code> value of 0.25 (50/200).</p>\n         <p>The <code>width</code> and <code>height</code> values represent the dimensions of the\n      bounding box as a ratio of the overall image dimension. For example, if the input image is\n      700x200 pixels, and the bounding box width is 70 pixels, the width returned is 0.1. </p>\n         <note>\n            <p> The bounding box coordinates can have negative values. For example, if Amazon Rekognition is\n        able to detect a face that is at the image edge and is only partially visible, the service\n        can return coordinates that are outside the image bounds and, depending on the image edge,\n        you might get negative values or values greater than 1 for the <code>left</code> or\n          <code>top</code> values. </p>\n         </note>"
      }
    },
    "com.amazonaws.rekognition#BoundingBoxHeight": {
      "type": "float",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.rekognition#BoundingBoxWidth": {
      "type": "float",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.rekognition#Celebrity": {
      "type": "structure",
      "members": {
        "Urls": {
          "target": "com.amazonaws.rekognition#Urls",
          "traits": {
            "smithy.api#documentation": "<p>An array of URLs pointing to additional information about the celebrity. If there is no\n      additional information about the celebrity, this list is empty.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the celebrity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.rekognition#RekognitionUniqueId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the celebrity. </p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#ComparedFace",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the celebrity's face, such as its location on the\n      image.</p>"
          }
        },
        "MatchConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence, in percentage, that Amazon Rekognition has that the recognized face is the\n      celebrity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a celebrity recognized by the <a>RecognizeCelebrities</a> operation.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityDetail": {
      "type": "structure",
      "members": {
        "Urls": {
          "target": "com.amazonaws.rekognition#Urls",
          "traits": {
            "smithy.api#documentation": "<p>An array of URLs pointing to additional celebrity information. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the celebrity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.rekognition#RekognitionUniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the celebrity. </p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence, in percentage, that Amazon Rekognition has that the recognized face is the celebrity. </p>"
          }
        },
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box around the body of a celebrity.</p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#FaceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Face details for the recognized celebrity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a recognized celebrity.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Celebrity"
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognition": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.rekognition#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time, in milliseconds from the start of the video, that the celebrity was recognized.</p>"
          }
        },
        "Celebrity": {
          "target": "com.amazonaws.rekognition#CelebrityDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about a recognized celebrity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a detected celebrity and the time the celebrity was detected in a stored video.\n        For more information, see GetCelebrityRecognition in the Amazon Rekognition Developer Guide.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognitionSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ID",
            "name": "ID"
          },
          {
            "value": "TIMESTAMP",
            "name": "TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CelebrityRecognition"
      }
    },
    "com.amazonaws.rekognition#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.rekognition#CollectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.\\-]+$"
      }
    },
    "com.amazonaws.rekognition#CollectionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CollectionId"
      }
    },
    "com.amazonaws.rekognition#CompareFaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CompareFacesRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CompareFacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ImageTooLargeException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidImageFormatException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Compares a face in the <i>source</i> input image with\n      each of the 100 largest faces detected in the <i>target</i> input image.\n    </p>\n    \n         <p> If the source image contains multiple faces, the service detects the largest face\n        and compares it with each face detected in the target image. </p>\n   \n    \n         <note>\n            <p>CompareFaces uses machine learning algorithms, which are probabilistic. \n      A false negative is an incorrect prediction that\n      a face in the target image has a low similarity confidence score when compared to the face\n      in the source image. To reduce the probability of false negatives, \n      we recommend that you compare the target image against multiple source images.\n      If you plan to use <code>CompareFaces</code> to make a decision that impacts an individual's rights,\n      privacy, or access to services, we recommend that you pass the result to a human for review and further\n      validation before taking action.</p>\n         </note>\n\n\n         <p>You pass the input and target images either as base64-encoded image bytes or as\n      references to images in an Amazon S3 bucket. If you use the\n      AWS\n      CLI to call Amazon Rekognition operations, passing image bytes isn't\n      supported. The image must be formatted as a PNG or JPEG file. </p>\n         <p>In response, the operation returns an array of face matches ordered by similarity score\n      in descending order. For each face match, the response provides a bounding box of the face,\n      facial landmarks, pose details (pitch, role, and yaw), quality (brightness and sharpness), and\n      confidence value (indicating the level of confidence that the bounding box contains a face).\n      The response also provides a similarity score, which indicates how closely the faces match. </p>\n\n         <note>\n            <p>By default, only faces with a similarity score of greater than or equal to 80% are\n        returned in the response. You can change this value by specifying the\n          <code>SimilarityThreshold</code> parameter.</p>\n         </note>\n\n         <p>\n            <code>CompareFaces</code> also returns an array of faces that don't match the source image. \n      For each face, it returns a bounding box, confidence value, landmarks, pose details, and quality.\n    The response also returns information about the face in the source image, including the bounding box\n      of the face and confidence value.</p>\n    \n         <p>The <code>QualityFilter</code> input parameter allows you to filter out detected faces\n      that don’t meet a required quality bar. The quality bar is based on a\n      variety of common use cases.  Use <code>QualityFilter</code> to set the quality bar\n      by specifying <code>LOW</code>, <code>MEDIUM</code>, or <code>HIGH</code>.\n      If you do not want to filter detected faces, specify <code>NONE</code>. The default value is <code>NONE</code>. </p>\n\n         <p>If the image doesn't contain Exif metadata, <code>CompareFaces</code> returns orientation information for the\n        source and target images. Use these values to display the images with the correct image orientation.</p>\n         <p>If no faces are detected in the source or target images, <code>CompareFaces</code> returns an \n    <code>InvalidParameterException</code> error. </p>\n\n\n         <note>\n            <p> This is a stateless API operation. That is, data returned by this operation doesn't persist.</p>\n         </note>\n\n      \n         <p>For an example, see Comparing Faces in Images in the Amazon Rekognition Developer Guide.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:CompareFaces</code>\n      action.</p>"
      }
    },
    "com.amazonaws.rekognition#CompareFacesMatch": {
      "type": "structure",
      "members": {
        "Similarity": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence that the faces match.</p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#ComparedFace",
          "traits": {
            "smithy.api#documentation": "<p>Provides face metadata (bounding box and confidence that the bounding box actually\n      contains a face).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a face in a target image that matches the source image face\n      analyzed by <code>CompareFaces</code>. The <code>Face</code> property contains the bounding\n      box of the face in the target image. The <code>Similarity</code> property is the confidence\n      that the source image face matches the face in the bounding box.</p>"
      }
    },
    "com.amazonaws.rekognition#CompareFacesMatchList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CompareFacesMatch"
      }
    },
    "com.amazonaws.rekognition#CompareFacesRequest": {
      "type": "structure",
      "members": {
        "SourceImage": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The input image as base64-encoded bytes or an S3 object.\n      If you use the AWS CLI to call Amazon Rekognition operations,\n      passing base64-encoded image bytes is not supported. </p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes\n      passed using the <code>Bytes</code> field. \n      For more information, see Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetImage": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The target image as base64-encoded bytes or an S3 object. If you use the AWS CLI to\n      call Amazon Rekognition operations, passing base64-encoded image bytes is not supported.\n    </p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes\n      passed using the <code>Bytes</code> field. \n      For more information, see Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "SimilarityThreshold": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The minimum level of confidence in the face matches that a match must meet to be\n      included in the <code>FaceMatches</code> array.</p>"
          }
        },
        "QualityFilter": {
          "target": "com.amazonaws.rekognition#QualityFilter",
          "traits": {
            "smithy.api#documentation": "<p>A filter that specifies a quality bar for how much filtering is done to identify faces.\n      Filtered faces aren't compared. If you specify <code>AUTO</code>, Amazon Rekognition chooses the quality bar.\n      If you specify <code>LOW</code>, \n      <code>MEDIUM</code>, or <code>HIGH</code>, filtering removes all faces that\n      don’t meet the chosen quality bar.\n      \n      The quality bar is based on a variety of common use cases. Low-quality\n      detections can occur for a number of reasons. Some examples are an object that's misidentified\n      as a face, a face that's too blurry, or a face with a\n      pose that's too extreme to use. If you specify <code>NONE</code>, no\n      filtering is performed. The default value is <code>NONE</code>.\n    </p>\n         <p>To use quality filtering, the collection you are using must be associated with version 3 of the face model or higher.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CompareFacesResponse": {
      "type": "structure",
      "members": {
        "SourceImageFace": {
          "target": "com.amazonaws.rekognition#ComparedSourceImageFace",
          "traits": {
            "smithy.api#documentation": "<p>The face in the source image that was used for comparison.</p>"
          }
        },
        "FaceMatches": {
          "target": "com.amazonaws.rekognition#CompareFacesMatchList",
          "traits": {
            "smithy.api#documentation": "<p>An array of faces in the target image that match the source image face. Each\n        <code>CompareFacesMatch</code> object provides the bounding box, the confidence level that\n      the bounding box contains a face, and the similarity score for the face in the bounding box\n      and the face in the source image.</p>"
          }
        },
        "UnmatchedFaces": {
          "target": "com.amazonaws.rekognition#CompareFacesUnmatchList",
          "traits": {
            "smithy.api#documentation": "<p>An array of faces in the target image that did not match the source image\n      face.</p>"
          }
        },
        "SourceImageOrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>SourceImageOrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata\n      that includes the image's orientation. Amazon Rekognition uses this orientation information to perform \n      image correction. The bounding box coordinates are translated to represent object locations\n      after the orientation information in the Exif metadata is used to correct the image orientation. \n      Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and\n      .jpeg images without orientation information in the image Exif metadata. The bounding box\n      coordinates aren't translated and represent the object locations before the image is rotated.\n    </p>"
          }
        },
        "TargetImageOrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>TargetImageOrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata\n      that includes the image's orientation. Amazon Rekognition uses this orientation information to perform \n      image correction. The bounding box coordinates are translated to represent object locations\n      after the orientation information in the Exif metadata is used to correct the image orientation. \n      Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and\n      .jpeg images without orientation information in the image Exif metadata. The bounding box\n      coordinates aren't translated and represent the object locations before the image is rotated.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CompareFacesUnmatchList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ComparedFace"
      }
    },
    "com.amazonaws.rekognition#ComparedFace": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box of the face.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence that what the bounding box contains is a face.</p>"
          }
        },
        "Landmarks": {
          "target": "com.amazonaws.rekognition#Landmarks",
          "traits": {
            "smithy.api#documentation": "<p>An array of facial landmarks.</p>"
          }
        },
        "Pose": {
          "target": "com.amazonaws.rekognition#Pose",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the pose of the face as determined by its pitch, roll, and yaw.</p>"
          }
        },
        "Quality": {
          "target": "com.amazonaws.rekognition#ImageQuality",
          "traits": {
            "smithy.api#documentation": "<p>Identifies face image brightness and sharpness. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides face metadata for target image faces that are analyzed by\n        <code>CompareFaces</code> and <code>RecognizeCelebrities</code>.</p>"
      }
    },
    "com.amazonaws.rekognition#ComparedFaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ComparedFace"
      }
    },
    "com.amazonaws.rekognition#ComparedSourceImageFace": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box of the face.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Confidence level that the selected bounding box contains a face.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Type that describes the face Amazon Rekognition chose to compare with the faces in the target.\n      This contains a bounding box for the selected face and confidence level that the bounding box\n      contains a face. Note that Amazon Rekognition selects the largest face in the source image for this\n      comparison. </p>"
      }
    },
    "com.amazonaws.rekognition#ContentClassifier": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FreeOfPersonallyIdentifiableInformation",
            "name": "FREE_OF_PERSONALLY_IDENTIFIABLE_INFORMATION"
          },
          {
            "value": "FreeOfAdultContent",
            "name": "FREE_OF_ADULT_CONTENT"
          }
        ]
      }
    },
    "com.amazonaws.rekognition#ContentClassifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ContentClassifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.rekognition#ContentModerationDetection": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.rekognition#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time, in milliseconds from the beginning of the video, that the content moderation label was detected.</p>"
          }
        },
        "ModerationLabel": {
          "target": "com.amazonaws.rekognition#ModerationLabel",
          "traits": {
            "smithy.api#documentation": "<p>The content moderation label detected by in the stored video.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an inappropriate, unwanted, or offensive content label detection in a stored video.</p>"
      }
    },
    "com.amazonaws.rekognition#ContentModerationDetections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ContentModerationDetection"
      }
    },
    "com.amazonaws.rekognition#ContentModerationSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NAME",
            "name": "NAME"
          },
          {
            "value": "TIMESTAMP",
            "name": "TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CoversBodyPart": {
      "type": "structure",
      "members": {
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence that Amazon Rekognition has in the value of <code>Value</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.rekognition#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the PPE covers the corresponding body part, otherwise false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an item of Personal Protective Equipment covering a corresponding body part. For more \n         information, see <a>DetectProtectiveEquipment</a>.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a collection in an AWS Region. You can add faces to the collection using the\n        <a>IndexFaces</a> operation. </p>\n         <p>For example, you might create collections, one for each of your application users. A\n      user can then index faces using the <code>IndexFaces</code> operation and persist results in a\n      specific collection. Then, a user can search the collection for faces in the user-specific\n      container. </p>\n         <p>When you create a collection, it is associated with the latest version of the face model version.</p>\n         <note>\n            <p>Collection names are case-sensitive.</p>\n         </note>\n\n         <p>This operation requires permissions to perform the\n      <code>rekognition:CreateCollection</code> action. If you want to tag your collection, you also require permission to perform the <code>rekognition:TagResource</code> operation.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the collection that you are creating.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A set of tags (key-value pairs) that you want to attach to the collection.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateCollectionResponse": {
      "type": "structure",
      "members": {
        "StatusCode": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>HTTP status code indicating the result of the operation.</p>"
          }
        },
        "CollectionArn": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the collection. You can use this to manage permissions on\n      your resources. </p>"
          }
        },
        "FaceModelVersion": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Version number of the face detection model associated with the collection you are creating.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Rekognition Custom Labels project. A project is a logical grouping of resources (images, Labels, models) \n         and operations (training, evaluation and detection).  </p>\n         <p>This operation requires permissions to perform the <code>rekognition:CreateProject</code> action.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.rekognition#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to create.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new project. You can use the ARN to \n      configure IAM access to the project. </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateProjectVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateProjectVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of a model and begins training. \n         Models are managed as part of an Amazon Rekognition Custom Labels project.  You can specify\n         one training dataset and one testing dataset. The response from <code>CreateProjectVersion</code>\n         is an Amazon Resource Name (ARN) for the version of the model. </p>\n         <p>Training takes a while to complete. You can get the current status by calling\n         <a>DescribeProjectVersions</a>.</p>\n         <p>Once training has successfully completed, call <a>DescribeProjectVersions</a> to\n         get the training results and evaluate the model.                 \n      </p>\n         <p>After evaluating the model, you start the model\n       by calling <a>StartProjectVersion</a>.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:CreateProjectVersion</code> action.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersionRequest": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Rekognition Custom Labels project that \n         manages the model that you want to train.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionName": {
          "target": "com.amazonaws.rekognition#VersionName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the version of the model. This value must be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.rekognition#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket location to store the results of training.\n      The S3 bucket can be in any AWS account as long as the caller has\n      <code>s3:PutObject</code> permissions on the S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "TrainingData": {
          "target": "com.amazonaws.rekognition#TrainingData",
          "traits": {
            "smithy.api#documentation": "<p>The dataset to use for training. </p>",
            "smithy.api#required": {}
          }
        },
        "TestingData": {
          "target": "com.amazonaws.rekognition#TestingData",
          "traits": {
            "smithy.api#documentation": "<p>The dataset to use for testing.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A set of tags (key-value pairs) that you want to attach to the model.\n    </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rekognition#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for your AWS Key Management Service (AWS KMS) customer master key (CMK).\n         You can supply the Amazon Resource Name (ARN) of your CMK, the ID of your CMK,\n         an alias for your CMK, or an alias ARN.\n         The key is used to encrypt training and test images copied into the service for model training.\n         Your source images are unaffected. The key is also used to encrypt training results\n         and manifest files written to the output Amazon S3 bucket (<code>OutputConfig</code>).</p>\n         <p>If you choose to use your own CMK, you need the following permissions on the CMK.</p>\n         <ul>\n            <li>\n               <p>kms:CreateGrant</p>\n            </li>\n            <li>\n               <p>kms:DescribeKey</p>\n            </li>\n            <li>\n               <p>kms:GenerateDataKey</p>\n            </li>\n            <li>\n               <p>kms:Decrypt</p>\n            </li>\n         </ul>\n         <p>If you don't specify a value for <code>KmsKeyId</code>, images copied into the service are encrypted\n         using a key that AWS owns and manages.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersionResponse": {
      "type": "structure",
      "members": {
        "ProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the model version that was created. Use <code>DescribeProjectVersion</code>\n         to get the current status of the training operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateStreamProcessorRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateStreamProcessorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Rekognition stream processor that you can use to detect and recognize faces in a streaming video.</p>\n        <p>Amazon Rekognition Video is a consumer of live video from Amazon Kinesis Video Streams. Amazon Rekognition Video sends analysis results to Amazon Kinesis Data Streams.</p>\n        <p>You provide as input a Kinesis video stream (<code>Input</code>) and a Kinesis data stream (<code>Output</code>) stream. You also specify the\n            face recognition criteria in <code>Settings</code>. For example, the collection containing faces that you want to recognize.\n            Use <code>Name</code> to assign an identifier for the stream processor. You use <code>Name</code>\n            to manage the stream processor. For example, you can start processing the source video by calling <a>StartStreamProcessor</a> with\n            the <code>Name</code> field. </p>\n        <p>After you have finished analyzing a streaming video, use <a>StopStreamProcessor</a> to\n        stop processing. You can delete the stream processor by calling <a>DeleteStreamProcessor</a>.</p>\n        <p>This operation requires permissions to perform the\n            <code>rekognition:CreateStreamProcessor</code> action. If you want to tag your stream processor, you also require permission to perform the <code>rekognition:TagResource</code> operation.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessorRequest": {
      "type": "structure",
      "members": {
        "Input": {
          "target": "com.amazonaws.rekognition#StreamProcessorInput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis video stream stream that provides the source streaming video. If you are using the AWS CLI, the parameter name is <code>StreamProcessorInput</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Output": {
          "target": "com.amazonaws.rekognition#StreamProcessorOutput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis data stream stream to which Amazon Rekognition Video puts the analysis results. If you are using the AWS CLI, the parameter name is <code>StreamProcessorOutput</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#StreamProcessorName",
          "traits": {
            "smithy.api#documentation": "<p>An identifier you assign to the stream processor. You can use <code>Name</code> to\n            manage the stream processor. For example, you can get the current status of the stream processor by calling <a>DescribeStreamProcessor</a>.\n             <code>Name</code> is idempotent.\n       </p>",
            "smithy.api#required": {}
          }
        },
        "Settings": {
          "target": "com.amazonaws.rekognition#StreamProcessorSettings",
          "traits": {
            "smithy.api#documentation": "<p>Face recognition input parameters to be used by the stream processor. Includes the collection to use for face recognition and the face\n        attributes to detect.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rekognition#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the IAM role that allows access to the stream processor.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>\n      A set of tags (key-value pairs) that you want to attach to the stream processor.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessorResponse": {
      "type": "structure",
      "members": {
        "StreamProcessorArn": {
          "target": "com.amazonaws.rekognition#StreamProcessorArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN for the newly create stream processor.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CustomLabel": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom label.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence that the model has in the detection of the custom label. The \n      range is 0-100. A higher value indicates a higher confidence.</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.rekognition#Geometry",
          "traits": {
            "smithy.api#documentation": "<p>The location of the detected object on the image that corresponds to the custom label. \n         Includes an axis aligned coarse bounding box surrounding the object and a finer grain polygon\n         for more accurate spatial information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom label detected in an image by a call to <a>DetectCustomLabels</a>.</p>"
      }
    },
    "com.amazonaws.rekognition#CustomLabels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CustomLabel"
      }
    },
    "com.amazonaws.rekognition#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.rekognition#Degree": {
      "type": "float",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": -180,
          "max": 180
        }
      }
    },
    "com.amazonaws.rekognition#DeleteCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DeleteCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DeleteCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified collection. Note that this operation\n      removes all faces in the collection. For an example, see <a>delete-collection-procedure</a>.</p>\n\n         <p>This operation requires permissions to perform the\n        <code>rekognition:DeleteCollection</code> action.</p>"
      }
    },
    "com.amazonaws.rekognition#DeleteCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the collection to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteCollectionResponse": {
      "type": "structure",
      "members": {
        "StatusCode": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>HTTP status code that indicates the result of the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteFaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DeleteFacesRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DeleteFacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes faces from a collection. You specify a collection ID and an array of face IDs\n      to remove from the collection.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:DeleteFaces</code>\n      action.</p>"
      }
    },
    "com.amazonaws.rekognition#DeleteFacesRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>Collection from which to remove the specific faces.</p>",
            "smithy.api#required": {}
          }
        },
        "FaceIds": {
          "target": "com.amazonaws.rekognition#FaceIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of face IDs to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteFacesResponse": {
      "type": "structure",
      "members": {
        "DeletedFaces": {
          "target": "com.amazonaws.rekognition#FaceIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings (face IDs) of the faces that were deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Rekognition Custom Labels project.  To delete a project you must first delete all models associated \n         with the project. To delete a model, see <a>DeleteProjectVersion</a>.</p>\n         <p>This operation requires permissions to perform the\n         <code>rekognition:DeleteProject</code> action. </p>"
      }
    },
    "com.amazonaws.rekognition#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteProjectResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.rekognition#ProjectStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the delete project operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteProjectVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DeleteProjectVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DeleteProjectVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Rekognition Custom Labels model.  </p>\n         <p>You can't delete a model if it is running or if it is training. \n          To check the status of a model, use the <code>Status</code> field returned\n         from <a>DescribeProjectVersions</a>.\n         To stop a running model call <a>StopProjectVersion</a>. If the model\n      is training, wait until it finishes.</p>\n         <p>This operation requires permissions to perform the\n         <code>rekognition:DeleteProjectVersion</code> action. </p>"
      }
    },
    "com.amazonaws.rekognition#DeleteProjectVersionRequest": {
      "type": "structure",
      "members": {
        "ProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model version that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteProjectVersionResponse": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.rekognition#ProjectVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deletion operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteStreamProcessor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DeleteStreamProcessorRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DeleteStreamProcessorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the stream processor identified by <code>Name</code>. You assign the value for <code>Name</code> when you create the stream processor with\n            <a>CreateStreamProcessor</a>. You might not be able to use the same name for a stream processor for a few seconds after calling <code>DeleteStreamProcessor</code>.</p>"
      }
    },
    "com.amazonaws.rekognition#DeleteStreamProcessorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rekognition#StreamProcessorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream processor you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DeleteStreamProcessorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.rekognition#DescribeCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DescribeCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DescribeCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified collection. You can use <code>DescribeCollection</code> to get\n         information, such as the number of faces indexed into a collection and the version of the\n         model used by the collection for face detection.</p>\n      \n         <p>For more information, see Describing a Collection in the \n     Amazon Rekognition Developer Guide.</p>"
      }
    },
    "com.amazonaws.rekognition#DescribeCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the collection to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeCollectionResponse": {
      "type": "structure",
      "members": {
        "FaceCount": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The number of faces that are indexed into the collection. To index faces into a\n         collection, use <a>IndexFaces</a>.</p>"
          }
        },
        "FaceModelVersion": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the face model that's used by the collection for face detection.</p>\n      \n         <p>For more information, see Model Versioning in the \n     Amazon Rekognition Developer Guide.</p>"
          }
        },
        "CollectionARN": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the collection.</p>"
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.rekognition#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds since the Unix epoch time until the creation of the collection.\n         The Unix epoch time is 00:00:00 Coordinated Universal Time (UTC), Thursday, 1 January 1970.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjectVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DescribeProjectVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DescribeProjectVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists and describes the models in an Amazon Rekognition Custom Labels project. You \n         can specify up to 10 model versions in <code>ProjectVersionArns</code>. If\n         you don't specify a value, descriptions for all models are returned.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:DescribeProjectVersions</code>\n            action.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ProjectVersionDescriptions",
          "pageSize": "MaxResults"
        },
        "smithy.waiters#waitable": {
          "ProjectVersionRunning": {
            "documentation": "Wait until the ProjectVersion is running.",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "ProjectVersionDescriptions[].Status",
                    "expected": "RUNNING",
                    "comparator": "allStringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "ProjectVersionDescriptions[].Status",
                    "expected": "FAILED",
                    "comparator": "anyStringEquals"
                  }
                }
              }
            ],
            "minDelay": 30
          },
          "ProjectVersionTrainingCompleted": {
            "documentation": "Wait until the ProjectVersion training completes.",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "ProjectVersionDescriptions[].Status",
                    "expected": "TRAINING_COMPLETED",
                    "comparator": "allStringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "ProjectVersionDescriptions[].Status",
                    "expected": "TRAINING_FAILED",
                    "comparator": "anyStringEquals"
                  }
                }
              }
            ],
            "minDelay": 120
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjectVersionsRequest": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project that contains the models you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionNames": {
          "target": "com.amazonaws.rekognition#VersionNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of model version names that you want to describe. You can add up to 10 model version names\n         to the list. If you don't specify a value, all model descriptions are returned.  A version name is part of a\n         model (ProjectVersion) ARN. For example, <code>my-model.2020-01-21T09.10.15</code> is the version name in the following ARN.\n               <code>arn:aws:rekognition:us-east-1:123456789012:project/getting-started/version/<i>my-model.2020-01-21T09.10.15</i>/1234567890123</code>.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.rekognition#ExtendedPaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n           results to retrieve), Amazon Rekognition Custom Labels returns a pagination token in the response. \n           You can use this pagination token to retrieve the next set of results. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.rekognition#ProjectVersionsPageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. \n          The largest value you can specify is 100. If you specify a value greater than 100, a ValidationException\n          error occurs. The default value is 100. </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjectVersionsResponse": {
      "type": "structure",
      "members": {
        "ProjectVersionDescriptions": {
          "target": "com.amazonaws.rekognition#ProjectVersionDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of model descriptions. The list is sorted by the creation date and time of\n         the model versions, latest to earliest.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.rekognition#ExtendedPaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n         results to retrieve), Amazon Rekognition Custom Labels returns a pagination token in the response. \n         You can use this pagination token to retrieve the next set of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DescribeProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DescribeProjectsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidPaginationTokenException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists and gets information about your Amazon Rekognition Custom Labels projects.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:DescribeProjects</code> action.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ProjectDescriptions",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjectsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.rekognition#ExtendedPaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n         results to retrieve), Amazon Rekognition Custom Labels returns a pagination token in the response. You can use this pagination \n         token to retrieve the next set of results. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.rekognition#ProjectsPageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. \n         If you specify a value greater than 100, a ValidationException\n         error occurs. The default value is 100. </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeProjectsResponse": {
      "type": "structure",
      "members": {
        "ProjectDescriptions": {
          "target": "com.amazonaws.rekognition#ProjectDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of project descriptions. The list is sorted by the date and time the projects are created.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.rekognition#ExtendedPaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n         results to retrieve), Amazon Rekognition Custom Labels returns a pagination token in the response. \n         You can use this pagination token to retrieve the next set of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeStreamProcessor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DescribeStreamProcessorRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DescribeStreamProcessorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a stream processor created by <a>CreateStreamProcessor</a>. You can get information about the input and output streams, the input parameters for the face recognition being performed,\n            and the current status of the stream processor.</p>"
      }
    },
    "com.amazonaws.rekognition#DescribeStreamProcessorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rekognition#StreamProcessorName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the stream processor for which you want information.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.rekognition#DescribeStreamProcessorResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.rekognition#StreamProcessorName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the stream processor. </p>"
          }
        },
        "StreamProcessorArn": {
          "target": "com.amazonaws.rekognition#StreamProcessorArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the stream processor.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.rekognition#StreamProcessorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the stream processor.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Detailed status message about the stream processor.</p>"
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.rekognition#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Date and time the stream processor was created</p>"
          }
        },
        "LastUpdateTimestamp": {
          "target": "com.amazonaws.rekognition#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The time, in Unix format, the stream processor was last updated. For example, when the stream\n        processor moves from a running state to a failed state, or when the user starts or stops the stream processor.</p>"
          }
        },
        "Input": {
          "target": "com.amazonaws.rekognition#StreamProcessorInput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis video stream that provides the source streaming video.</p>"
          }
        },
        "Output": {
          "target": "com.amazonaws.rekognition#StreamProcessorOutput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis data stream to which Amazon Rekognition Video puts the analysis results.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rekognition#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the IAM role that allows access to the stream processor.</p>"
          }
        },
        "Settings": {
          "target": "com.amazonaws.rekognition#StreamProcessorSettings",
          "traits": {
            "smithy.api#documentation": "<p>Face recognition input parameters that are being used by the stream processor.\n            Includes the collection to use for face recognition and the face\n            attributes to detect.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectCustomLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DetectCustomLabelsRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DetectCustomLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ImageTooLargeException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidImageFormatException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects custom labels in a supplied image by using an Amazon Rekognition Custom Labels model. </p>\n         <p>You specify which version of a model version to use by using the <code>ProjectVersionArn</code> input\n      parameter. </p>      \n         <p>You pass the input image as base64-encoded image bytes or as a reference to an image in\n         an Amazon S3 bucket. If you use the AWS CLI to call Amazon Rekognition operations, passing\n         image bytes is not supported. The image must be either a PNG or JPEG formatted file. </p>\n         <p> For each object that the model version detects on an image, the API returns a \n         (<code>CustomLabel</code>) object in an array (<code>CustomLabels</code>).\n         Each <code>CustomLabel</code> object provides the label name (<code>Name</code>), the level\n         of confidence that the image contains the object (<code>Confidence</code>), and \n         object location information, if it exists,  for the label on the image (<code>Geometry</code>). </p>\n         <p>During training model calculates a threshold value that determines\n         if a prediction for a label is true. By default, <code>DetectCustomLabels</code> doesn't\n         return labels whose confidence value is below the model's calculated threshold value.  To filter\n         labels that are returned, specify a value for <code>MinConfidence</code> that is higher than the\n         model's calculated threshold. You can get the model's calculated threshold from the model's\n         training results shown in the Amazon Rekognition Custom Labels console.\n         To get all labels, regardless of confidence, specify a <code>MinConfidence</code>\n         value of 0. </p>\n         <p>You can also add the <code>MaxResults</code> parameter\n           to limit the number of labels returned. </p>\n\n         <p>This is a stateless API operation. That is, the operation does not persist any\n         data.</p>\n         <p>This operation requires permissions to perform the\n         <code>rekognition:DetectCustomLabels</code> action. </p>"
      }
    },
    "com.amazonaws.rekognition#DetectCustomLabelsRequest": {
      "type": "structure",
      "members": {
        "ProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the model version that you want to use.</p>",
            "smithy.api#required": {}
          }
        },
        "Image": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of results you want the service to return in the response. \n         The service returns the specified number of highest confidence labels ranked from highest confidence \n      to lowest.</p>"
          }
        },
        "MinConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the minimum confidence level for the labels to return. \n         Amazon Rekognition doesn't return any labels with a confidence lower than this specified value. If you specify a\n      value of 0, all labels are return, regardless of the default thresholds that the model version applies.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectCustomLabelsResponse": {
      "type": "structure",
      "members": {
        "CustomLabels": {
          "target": "com.amazonaws.rekognition#CustomLabels",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom labels detected in the input image.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectFaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DetectFacesRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DetectFacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ImageTooLargeException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidImageFormatException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects faces within an image that is provided as input.</p>\n\n         <p>\n            <code>DetectFaces</code> detects the 100 largest faces in the image. For each face\n      detected, the operation returns face details. These details include a bounding box of the\n      face, a confidence value (that the bounding box contains a face), and a fixed set of\n      attributes such as facial landmarks (for example, coordinates of eye and mouth),\n      presence of beard, sunglasses, and so on. </p>\n         <p>The face-detection algorithm is most effective on frontal faces. For non-frontal or\n      obscured faces, the algorithm might not detect the faces or might detect faces with lower\n      confidence. </p>\n         <p>You pass the input image either as base64-encoded image bytes or as a reference to an\n      image in an Amazon S3 bucket. If you use the AWS CLI\n       to call Amazon Rekognition operations, passing image bytes is not\n      supported. The image must be either a PNG or JPEG formatted file. </p>\n\n         <note>\n            <p>This is a stateless API operation. That is, the operation does not persist any\n        data.</p>\n         </note>\n\n         <p>This operation requires permissions to perform the\n      <code>rekognition:DetectFaces</code> action. </p>"
      }
    },
    "com.amazonaws.rekognition#DetectFacesRequest": {
      "type": "structure",
      "members": {
        "Image": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The input image as base64-encoded bytes or an S3 object. If you use the AWS CLI to call\n      Amazon Rekognition operations, passing base64-encoded image bytes is not supported. </p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes\n      passed using the <code>Bytes</code> field. \n      For more information, see Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "Attributes": {
          "target": "com.amazonaws.rekognition#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of facial attributes you want to be returned. This can be the default list of\n      attributes or all attributes. If you don't specify a value for <code>Attributes</code> or if\n      you specify <code>[\"DEFAULT\"]</code>, the API returns the following subset of facial\n      attributes: <code>BoundingBox</code>, <code>Confidence</code>, <code>Pose</code>,\n        <code>Quality</code>, and <code>Landmarks</code>. If you provide <code>[\"ALL\"]</code>, all\n      facial attributes are returned, but the operation takes longer to complete.</p>\n         <p>If you provide both, <code>[\"ALL\", \"DEFAULT\"]</code>, the service uses a logical AND\n      operator to determine which attributes to return (in this case, all attributes). </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectFacesResponse": {
      "type": "structure",
      "members": {
        "FaceDetails": {
          "target": "com.amazonaws.rekognition#FaceDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Details of each face found in the image. </p>"
          }
        },
        "OrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>OrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata\n      that includes the image's orientation. Amazon Rekognition uses this orientation information to perform \n      image correction. The bounding box coordinates are translated to represent object locations\n      after the orientation information in the Exif metadata is used to correct the image orientation. \n      Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and\n      .jpeg images without orientation information in the image Exif metadata. The bounding box\n      coordinates aren't translated and represent the object locations before the image is rotated.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DetectLabelsRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DetectLabelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ImageTooLargeException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidImageFormatException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects instances of real-world entities within an image (JPEG or PNG)\n       provided as input. This includes objects like flower, tree, and table; events like\n       wedding, graduation, and birthday party; and concepts like landscape, evening, and nature.\n     </p>\n      \n         <p>For an example, see Analyzing Images Stored in an Amazon S3 Bucket in the Amazon Rekognition Developer Guide.</p> \n         <note>\n         \n            <p>\n               <code>DetectLabels</code> does not support the detection of activities. However, activity detection\n        is supported for label detection in videos. For more information, see StartLabelDetection in the Amazon Rekognition Developer Guide.</p> \n         </note>\n      \n         <p>You pass the input image as base64-encoded image bytes or as a reference to an image in\n      an Amazon S3 bucket. If you use the\n      AWS\n      CLI to call Amazon Rekognition operations, passing image bytes is not\n      supported. The image must be either a PNG or JPEG formatted file. </p>\n         <p> For each object, scene, and concept the API returns one or more labels. Each label\n      provides the object name, and the level of confidence that the image contains the object. For\n      example, suppose the input image has a lighthouse, the sea, and a rock. The response includes\n      all three labels, one for each object. </p>\n \n         <p>\n            <code>{Name: lighthouse, Confidence: 98.4629}</code>\n         </p>\n         <p>\n            <code>{Name: rock,Confidence: 79.2097}</code>\n         </p>\n         <p>\n            <code> {Name: sea,Confidence: 75.061}</code>\n         </p>\n         <p>In the preceding example, the operation returns one label for each of the three\n      objects. The operation can also return multiple labels for the same object in the image. For\n      example, if the input image shows a flower (for example, a tulip), the operation might return\n      the following three labels. </p>\n         <p>\n            <code>{Name: flower,Confidence: 99.0562}</code>\n         </p>\n         <p>\n            <code>{Name: plant,Confidence: 99.0562}</code>\n         </p>\n         <p>\n            <code>{Name: tulip,Confidence: 99.0562}</code>\n         </p>\n\n         <p>In this example, the detection algorithm more precisely identifies the flower as a\n      tulip.</p>\n         <p>In response, the API returns an array of labels. In addition, the response also\n      includes the orientation correction. Optionally, you can specify <code>MinConfidence</code> to\n      control the confidence threshold for the labels returned. The default is 55%. You can also add\n      the <code>MaxLabels</code> parameter to limit the number of labels returned. </p>\n         <note>\n            <p>If the object detected is a person, the operation doesn't provide the same facial\n        details that the <a>DetectFaces</a> operation provides.</p>\n         </note>\n         <p>\n            <code>DetectLabels</code> returns bounding boxes for instances of common object labels in an array of\n      <a>Instance</a> objects. An <code>Instance</code> object contains a \n      <a>BoundingBox</a> object, for the location of the label on the image. It also includes \n      the confidence by which the bounding box was detected.</p>\n         <p>\n            <code>DetectLabels</code> also returns a hierarchical taxonomy of detected labels. For example,\n      a detected car might be assigned the label <i>car</i>. The label <i>car</i>\n      has two parent labels: <i>Vehicle</i> (its parent) and <i>Transportation</i> (its\n      grandparent).  \n      The response returns the entire list of ancestors for a label. Each ancestor is a unique label in the response.\n      In the previous example, <i>Car</i>, <i>Vehicle</i>, and <i>Transportation</i>\n      are returned as unique labels in the response.\n      </p>\n         <p>This is a stateless API operation. That is, the operation does not persist any\n      data.</p>\n         <p>This operation requires permissions to perform the\n        <code>rekognition:DetectLabels</code> action. </p>"
      }
    },
    "com.amazonaws.rekognition#DetectLabelsRequest": {
      "type": "structure",
      "members": {
        "Image": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The input image as base64-encoded bytes or an S3 object. If you use the AWS CLI to call\n      Amazon Rekognition operations, passing image bytes is not supported. Images stored in an S3 Bucket do\n    not need to be base64-encoded.</p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to base64-encode image bytes\n      passed using the <code>Bytes</code> field. \n      For more information, see Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxLabels": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of labels you want the service to return in the response. The service\n      returns the specified number of highest confidence labels. </p>"
          }
        },
        "MinConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the minimum confidence level for the labels to return. Amazon Rekognition doesn't\n      return any labels with confidence lower than this specified value.</p>\n         <p>If <code>MinConfidence</code> is not specified, the operation returns labels with a\n      confidence values greater than or equal to 55 percent.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectLabelsResponse": {
      "type": "structure",
      "members": {
        "Labels": {
          "target": "com.amazonaws.rekognition#Labels",
          "traits": {
            "smithy.api#documentation": "<p>An array of labels for the real-world objects detected. </p>"
          }
        },
        "OrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>OrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format (Exif) metadata\n      that includes the image's orientation. Amazon Rekognition uses this orientation information to perform \n      image correction. The bounding box coordinates are translated to represent object locations\n      after the orientation information in the Exif metadata is used to correct the image orientation. \n      Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and\n         .jpeg images without orientation information in the image Exif metadata. The bounding box\n         coordinates aren't translated and represent the object locations before the image is rotated.\n      </p>"
          }
        },
        "LabelModelVersion": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Version number of the label detection model that was used to detect labels.</p>"
          }
        }
      }
    },
    "com.amazonaws.rekognition#DetectModerationLabels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#DetectModerationLabelsRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#DetectModerationLabelsResponse"
      },
[...]
