{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.rekognition#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Code": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Logref": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>A universally unique identifier (UUID) for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform the action.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.rekognition#AgeRange": {
      "type": "structure",
      "members": {
        "Low": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The lowest estimated age.</p>"
          }
        },
        "High": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>The highest estimated age.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure containing the estimated age range, in years, for a face.</p>\n         <p>Amazon Rekognition estimates an age range for faces detected in the input image. Estimated age\n      ranges can overlap. A face of a 5-year-old might have an estimated range of 4-6, while the\n      face of a 6-year-old might have an estimated range of 4-8.</p>"
      }
    },
    "com.amazonaws.rekognition#Asset": {
      "type": "structure",
      "members": {
        "GroundTruthManifest": {
          "target": "com.amazonaws.rekognition#GroundTruthManifest"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Assets are the images that you use to train and evaluate a model version. \n         Assets can also contain validation information that you use to debug a failed model training.\n         </p>"
      }
    },
    "com.amazonaws.rekognition#Assets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Asset"
      }
    },
    "com.amazonaws.rekognition#AssociateFaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#AssociateFacesRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#AssociateFacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ConflictException"
        },
        {
          "target": "com.amazonaws.rekognition#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates one or more faces with an existing UserID. Takes an array of\n        <code>FaceIds</code>. Each <code>FaceId</code> that are present in the <code>FaceIds</code>\n      list is associated with the provided UserID. The maximum number of total <code>FaceIds</code>\n      per UserID is 100. </p>\n         <p>The <code>UserMatchThreshold</code> parameter specifies the minimum user match confidence\n      required for the face to be associated with a UserID that has at least one <code>FaceID</code>\n      already associated. This ensures that the <code>FaceIds</code> are associated with the right\n      UserID. The value ranges from 0-100 and default value is 75. </p>\n         <p>If successful, an array of <code>AssociatedFace</code> objects containing the associated\n        <code>FaceIds</code> is returned. If a given face is already associated with the given\n        <code>UserID</code>, it will be ignored and will not be returned in the response. If a given\n      face is already associated to a different <code>UserID</code>, isn't found in the collection,\n      doesn’t meet the <code>UserMatchThreshold</code>, or there are already 100 faces associated\n      with the <code>UserID</code>, it will be returned as part of an array of\n        <code>UnsuccessfulFaceAssociations.</code>\n         </p>\n         <p>The <code>UserStatus</code> reflects the status of an operation which updates a UserID\n      representation with a list of given faces. The <code>UserStatus</code> can be: </p>\n         <ul>\n            <li>\n               <p>ACTIVE - All associations or disassociations of FaceID(s) for a UserID are\n          complete.</p>\n            </li>\n            <li>\n               <p>CREATED - A UserID has been created, but has no FaceID(s) associated with it.</p>\n            </li>\n            <li>\n               <p>UPDATING - A UserID is being updated and there are current associations or\n          disassociations of FaceID(s) taking place.</p>\n            </li>\n         </ul>",
        "smithy.api#examples": [
          {
            "title": "AssociateFaces",
            "documentation": "This operation associates one or more faces with an existing UserID.",
            "input": {
              "CollectionId": "MyCollection",
              "UserId": "DemoUser",
              "FaceIds": [
                "f5817d37-94f6-4335-bfee-6cf79a3d806e",
                "851cb847-dccc-4fea-9309-9f4805967855",
                "35ebbb41-7f67-4263-908d-dd0ecba05ab9"
              ],
              "UserMatchThreshold": 70,
              "ClientRequestToken": "550e8400-e29b-41d4-a716-446655440002"
            },
            "output": {
              "UnsuccessfulFaceAssociations": [
                {
                  "Reasons": ["LOW_MATCH_CONFIDENCE"],
                  "FaceId": "f5817d37-94f6-4335-bfee-6cf79a3d806e",
                  "Confidence": 0.9375374913215637
                },
                {
                  "Reasons": ["ASSOCIATED_TO_A_DIFFERENT_USER"],
                  "FaceId": "851cb847-dccc-4fea-9309-9f4805967855",
                  "UserId": "demoUser2"
                }
              ],
              "UserStatus": "UPDATING",
              "AssociatedFaces": [
                {
                  "FaceId": "35ebbb41-7f67-4263-908d-dd0ecba05ab9"
                }
              ]
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#AssociateFacesRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an existing collection containing the UserID.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.rekognition#UserId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the existing UserID.</p>",
            "smithy.api#required": {}
          }
        },
        "FaceIds": {
          "target": "com.amazonaws.rekognition#UserFaceIdList",
          "traits": {
            "smithy.api#documentation": "<p>An array of FaceIDs to associate with the UserID.</p>",
            "smithy.api#required": {}
          }
        },
        "UserMatchThreshold": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>An optional value specifying the minimum confidence in the UserID match to return. The\n      default value is 75.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.rekognition#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotent token used to identify the request to <code>AssociateFaces</code>. If you use\n      the same token with multiple <code>AssociateFaces</code> requests, the same response is\n      returned. Use ClientRequestToken to prevent the same request from being processed more than\n      once.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#AssociateFacesResponse": {
      "type": "structure",
      "members": {
        "AssociatedFaces": {
          "target": "com.amazonaws.rekognition#AssociatedFacesList",
          "traits": {
            "smithy.api#documentation": "<p>An array of AssociatedFace objects containing FaceIDs that are successfully associated\n      with the UserID is returned. Returned if the AssociateFaces action is successful.</p>"
          }
        },
        "UnsuccessfulFaceAssociations": {
          "target": "com.amazonaws.rekognition#UnsuccessfulFaceAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of UnsuccessfulAssociation objects containing FaceIDs that are not successfully\n      associated along with the reasons. Returned if the AssociateFaces action is successful.</p>"
          }
        },
        "UserStatus": {
          "target": "com.amazonaws.rekognition#UserStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an update made to a UserID. Reflects if the UserID has been updated for\n      every requested change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#AssociatedFace": {
      "type": "structure",
      "members": {
        "FaceId": {
          "target": "com.amazonaws.rekognition#FaceId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier assigned to the face.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides face metadata for the faces that are associated to a specific UserID.</p>"
      }
    },
    "com.amazonaws.rekognition#AssociatedFacesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#AssociatedFace"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.rekognition#Attribute": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "AGE_RANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGE_RANGE"
          }
        },
        "BEARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEARD"
          }
        },
        "EMOTIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMOTIONS"
          }
        },
        "EYE_DIRECTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EYE_DIRECTION"
          }
        },
        "EYEGLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EYEGLASSES"
          }
        },
        "EYES_OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EYES_OPEN"
          }
        },
        "GENDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENDER"
          }
        },
        "MOUTH_OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MOUTH_OPEN"
          }
        },
        "MUSTACHE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSTACHE"
          }
        },
        "FACE_OCCLUDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACE_OCCLUDED"
          }
        },
        "SMILE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMILE"
          }
        },
        "SUNGLASSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUNGLASSES"
          }
        }
      }
    },
    "com.amazonaws.rekognition#Attributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Attribute"
      }
    },
    "com.amazonaws.rekognition#AudioMetadata": {
      "type": "structure",
      "members": {
        "Codec": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The audio codec used to encode or decode the audio stream. </p>"
          }
        },
        "DurationMillis": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the audio stream in milliseconds.</p>"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The sample rate for the audio stream.</p>"
          }
        },
        "NumberOfChannels": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The number of audio channels in the segment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata information about an audio stream. An array of <code>AudioMetadata</code> objects\n      for the audio streams found in a stored video is returned by <a>GetSegmentDetection</a>. </p>"
      }
    },
    "com.amazonaws.rekognition#AudioMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#AudioMetadata"
      }
    },
    "com.amazonaws.rekognition#AuditImage": {
      "type": "structure",
      "members": {
        "Bytes": {
          "target": "com.amazonaws.rekognition#LivenessImageBlob",
          "traits": {
            "smithy.api#documentation": "<p>The Base64-encoded bytes representing an image selected from the Face Liveness video and\n      returned for audit purposes.</p>"
          }
        },
        "S3Object": {
          "target": "com.amazonaws.rekognition#S3Object"
        },
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An image that is picked from the Face Liveness video and returned for audit trail\n      purposes, returned as Base64-encoded bytes.</p>"
      }
    },
    "com.amazonaws.rekognition#AuditImages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#AuditImage"
      }
    },
    "com.amazonaws.rekognition#AuditImagesLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 4
        }
      }
    },
    "com.amazonaws.rekognition#Beard": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.rekognition#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Boolean value that indicates whether the face has beard or not.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence in the determination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether or not the face has a beard, and the confidence level in the\n      determination.</p>"
      }
    },
    "com.amazonaws.rekognition#BlackFrame": {
      "type": "structure",
      "members": {
        "MaxPixelThreshold": {
          "target": "com.amazonaws.rekognition#MaxPixelThreshold",
          "traits": {
            "smithy.api#documentation": "<p>\n      A threshold used to determine the maximum luminance value for a pixel to be considered black. In a full color range video,\n      luminance values range from 0-255. A pixel value of 0 is pure black, and the most strict filter. The maximum black pixel\n      value is computed as follows: max_black_pixel_value = minimum_luminance + MaxPixelThreshold *luminance_range.\n    </p>\n         <p>For example, for a full range video with BlackPixelThreshold = 0.1,  max_black_pixel_value is 0 + 0.1 * (255-0) = 25.5.</p>\n         <p>The default value of MaxPixelThreshold is 0.2, which maps to a max_black_pixel_value of 51 for a full range video.\n      You can lower this threshold to be more strict on black levels.</p>"
          }
        },
        "MinCoveragePercentage": {
          "target": "com.amazonaws.rekognition#MinCoveragePercentage",
          "traits": {
            "smithy.api#documentation": "<p>\n      The minimum percentage of pixels in a frame that need to have a luminance below the max_black_pixel_value for a frame to be considered\n      a black frame. Luminance is calculated using the BT.709 matrix.\n    </p>\n         <p>The default value is 99, which means at least 99% of all pixels in the frame are black pixels as per the <code>MaxPixelThreshold</code>\n      set. You can reduce this value to allow more noise on the black frame.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n      A filter that allows you to control the black frame detection by specifying the black levels\n      and pixel coverage of black pixels in a frame. As videos can come from multiple sources, formats,\n      and time periods, they may contain different standards and varying noise levels for black frames that need to be accounted for.\n      For more information, see <a>StartSegmentDetection</a>.\n    </p>"
      }
    },
    "com.amazonaws.rekognition#BodyPart": {
      "type": "enum",
      "members": {
        "FACE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FACE"
          }
        },
        "HEAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEAD"
          }
        },
        "LEFT_HAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT_HAND"
          }
        },
        "RIGHT_HAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RIGHT_HAND"
          }
        }
      }
    },
    "com.amazonaws.rekognition#BodyParts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ProtectiveEquipmentBodyPart"
      }
    },
    "com.amazonaws.rekognition#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.rekognition#BoundingBox": {
      "type": "structure",
      "members": {
        "Width": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Width of the bounding box as a ratio of the overall image width.</p>"
          }
        },
        "Height": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Height of the bounding box as a ratio of the overall image height.</p>"
          }
        },
        "Left": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Left coordinate of the bounding box as a ratio of overall image width.</p>"
          }
        },
        "Top": {
          "target": "com.amazonaws.rekognition#Float",
          "traits": {
            "smithy.api#documentation": "<p>Top coordinate of the bounding box as a ratio of overall image height.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the bounding box around the label, face, text, object of interest, or\n      personal protective equipment. The <code>left</code> (x-coordinate) and <code>top</code>\n      (y-coordinate) are coordinates representing the top and left sides of the bounding box. Note\n      that the upper-left corner of the image is the origin (0,0). </p>\n         <p>The <code>top</code> and <code>left</code> values returned are ratios of the overall\n      image size. For example, if the input image is 700x200 pixels, and the top-left coordinate of\n      the bounding box is 350x50 pixels, the API returns a <code>left</code> value of 0.5 (350/700)\n      and a <code>top</code> value of 0.25 (50/200).</p>\n         <p>The <code>width</code> and <code>height</code> values represent the dimensions of the\n      bounding box as a ratio of the overall image dimension. For example, if the input image is\n      700x200 pixels, and the bounding box width is 70 pixels, the width returned is 0.1. </p>\n         <note>\n            <p> The bounding box coordinates can have negative values. For example, if Amazon Rekognition is\n        able to detect a face that is at the image edge and is only partially visible, the service\n        can return coordinates that are outside the image bounds and, depending on the image edge,\n        you might get negative values or values greater than 1 for the <code>left</code> or\n          <code>top</code> values. </p>\n         </note>"
      }
    },
    "com.amazonaws.rekognition#BoundingBoxHeight": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.rekognition#BoundingBoxWidth": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.rekognition#Celebrity": {
      "type": "structure",
      "members": {
        "Urls": {
          "target": "com.amazonaws.rekognition#Urls",
          "traits": {
            "smithy.api#documentation": "<p>An array of URLs pointing to additional information about the celebrity. If there is no\n      additional information about the celebrity, this list is empty.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the celebrity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.rekognition#RekognitionUniqueId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the celebrity. </p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#ComparedFace",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the celebrity's face, such as its location on the\n      image.</p>"
          }
        },
        "MatchConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence, in percentage, that Amazon Rekognition has that the recognized face is the\n      celebrity.</p>"
          }
        },
        "KnownGender": {
          "target": "com.amazonaws.rekognition#KnownGender"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a celebrity recognized by the <a>RecognizeCelebrities</a> operation.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityDetail": {
      "type": "structure",
      "members": {
        "Urls": {
          "target": "com.amazonaws.rekognition#Urls",
          "traits": {
            "smithy.api#documentation": "<p>An array of URLs pointing to additional celebrity information. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the celebrity.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.rekognition#RekognitionUniqueId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the celebrity. </p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence, in percentage, that Amazon Rekognition has that the recognized face is the celebrity. </p>"
          }
        },
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box around the body of a celebrity.</p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#FaceDetail",
          "traits": {
            "smithy.api#documentation": "<p>Face details for the recognized celebrity.</p>"
          }
        },
        "KnownGender": {
          "target": "com.amazonaws.rekognition#KnownGender",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the known gender for the celebrity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a recognized celebrity.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#Celebrity"
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognition": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.rekognition#Timestamp",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The time, in milliseconds from the start of the video, that the celebrity was recognized.\n         Note that <code>Timestamp</code> is not guaranteed to be accurate to the individual frame where the celebrity first appears.</p>"
          }
        },
        "Celebrity": {
          "target": "com.amazonaws.rekognition#CelebrityDetail",
          "traits": {
            "smithy.api#documentation": "<p>Information about a recognized celebrity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a detected celebrity and the time the celebrity was detected in a stored video.\n        For more information, see GetCelebrityRecognition in the Amazon Rekognition Developer Guide.</p>"
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognitionSortBy": {
      "type": "enum",
      "members": {
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CelebrityRecognitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CelebrityRecognition"
      }
    },
    "com.amazonaws.rekognition#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.rekognition#CollectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.\\-]+$"
      }
    },
    "com.amazonaws.rekognition#CollectionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CollectionId"
      }
    },
    "com.amazonaws.rekognition#CompareFaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CompareFacesRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CompareFacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ImageTooLargeException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidImageFormatException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Compares a face in the <i>source</i> input image with each of the 100\n      largest faces detected in the <i>target</i> input image. </p>\n         <p> If the source image contains multiple faces, the service detects the largest face and\n      compares it with each face detected in the target image. </p>\n         <note>\n            <p>CompareFaces uses machine learning algorithms, which are probabilistic. A false negative\n        is an incorrect prediction that a face in the target image has a low similarity confidence\n        score when compared to the face in the source image. To reduce the probability of false\n        negatives, we recommend that you compare the target image against multiple source images. If\n        you plan to use <code>CompareFaces</code> to make a decision that impacts an individual's\n        rights, privacy, or access to services, we recommend that you pass the result to a human for\n        review and further validation before taking action.</p>\n         </note>\n         <p>You pass the input and target images either as base64-encoded image bytes or as\n      references to images in an Amazon S3 bucket. If you use the\n      AWS\n      CLI to call Amazon Rekognition operations, passing image bytes isn't\n      supported. The image must be formatted as a PNG or JPEG file. </p>\n         <p>In response, the operation returns an array of face matches ordered by similarity score\n      in descending order. For each face match, the response provides a bounding box of the face,\n      facial landmarks, pose details (pitch, roll, and yaw), quality (brightness and sharpness), and\n      confidence value (indicating the level of confidence that the bounding box contains a face).\n      The response also provides a similarity score, which indicates how closely the faces match. </p>\n         <note>\n            <p>By default, only faces with a similarity score of greater than or equal to 80% are\n        returned in the response. You can change this value by specifying the\n          <code>SimilarityThreshold</code> parameter.</p>\n         </note>\n         <p>\n            <code>CompareFaces</code> also returns an array of faces that don't match the source\n      image. For each face, it returns a bounding box, confidence value, landmarks, pose details,\n      and quality. The response also returns information about the face in the source image,\n      including the bounding box of the face and confidence value.</p>\n         <p>The <code>QualityFilter</code> input parameter allows you to filter out detected faces\n      that don’t meet a required quality bar. The quality bar is based on a variety of common use\n      cases. Use <code>QualityFilter</code> to set the quality bar by specifying <code>LOW</code>,\n        <code>MEDIUM</code>, or <code>HIGH</code>. If you do not want to filter detected faces,\n      specify <code>NONE</code>. The default value is <code>NONE</code>. </p>\n         <p>If the image doesn't contain Exif metadata, <code>CompareFaces</code> returns\n      orientation information for the source and target images. Use these values to display the\n      images with the correct image orientation.</p>\n         <p>If no faces are detected in the source or target images, <code>CompareFaces</code>\n      returns an <code>InvalidParameterException</code> error. </p>\n         <note>\n            <p> This is a stateless API operation. That is, data returned by this operation doesn't\n        persist.</p>\n         </note>\n         <p>For an example, see Comparing Faces in Images in the Amazon Rekognition Developer\n      Guide.</p>\n         <p>This operation requires permissions to perform the\n        <code>rekognition:CompareFaces</code> action.</p>",
        "smithy.api#examples": [
          {
            "title": "To compare two images",
            "documentation": "This operation compares the largest face detected in the source image with each face detected in the target image.",
            "input": {
              "SourceImage": {
                "S3Object": {
                  "Bucket": "mybucket",
                  "Name": "mysourceimage"
                }
              },
              "TargetImage": {
                "S3Object": {
                  "Bucket": "mybucket",
                  "Name": "mytargetimage"
                }
              },
              "SimilarityThreshold": 90
            },
            "output": {
              "FaceMatches": [
                {
                  "Face": {
                    "BoundingBox": {
                      "Width": 0.25,
                      "Top": 0.4933333396911621,
                      "Left": 0.31888890266418457,
                      "Height": 0.33481481671333313
                    },
                    "Confidence": 99.9991226196289
                  },
                  "Similarity": 100
                }
              ],
              "SourceImageFace": {
                "BoundingBox": {
                  "Width": 0.25,
                  "Top": 0.4933333396911621,
                  "Left": 0.31888890266418457,
                  "Height": 0.33481481671333313
                },
                "Confidence": 99.9991226196289
              }
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CompareFacesMatch": {
      "type": "structure",
      "members": {
        "Similarity": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence that the faces match.</p>"
          }
        },
        "Face": {
          "target": "com.amazonaws.rekognition#ComparedFace",
          "traits": {
            "smithy.api#documentation": "<p>Provides face metadata (bounding box and confidence that the bounding box actually\n      contains a face).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a face in a target image that matches the source image face\n      analyzed by <code>CompareFaces</code>. The <code>Face</code> property contains the bounding\n      box of the face in the target image. The <code>Similarity</code> property is the confidence\n      that the source image face matches the face in the bounding box.</p>"
      }
    },
    "com.amazonaws.rekognition#CompareFacesMatchList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#CompareFacesMatch"
      }
    },
    "com.amazonaws.rekognition#CompareFacesRequest": {
      "type": "structure",
      "members": {
        "SourceImage": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The input image as base64-encoded bytes or an S3 object. If you use the AWS CLI to\n      call Amazon Rekognition operations, passing base64-encoded image bytes is not supported. </p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to\n      base64-encode image bytes passed using the <code>Bytes</code> field. For more information, see\n      Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetImage": {
          "target": "com.amazonaws.rekognition#Image",
          "traits": {
            "smithy.api#documentation": "<p>The target image as base64-encoded bytes or an S3 object. If you use the AWS CLI to\n      call Amazon Rekognition operations, passing base64-encoded image bytes is not supported. </p>\n         <p>If you are using an AWS SDK to call Amazon Rekognition, you might not need to\n      base64-encode image bytes passed using the <code>Bytes</code> field. For more information, see\n      Images in the Amazon Rekognition developer guide.</p>",
            "smithy.api#required": {}
          }
        },
        "SimilarityThreshold": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The minimum level of confidence in the face matches that a match must meet to be\n      included in the <code>FaceMatches</code> array.</p>"
          }
        },
        "QualityFilter": {
          "target": "com.amazonaws.rekognition#QualityFilter",
          "traits": {
            "smithy.api#documentation": "<p>A filter that specifies a quality bar for how much filtering is done to identify faces.\n      Filtered faces aren't compared. If you specify <code>AUTO</code>, Amazon Rekognition chooses the\n      quality bar. If you specify <code>LOW</code>, <code>MEDIUM</code>, or <code>HIGH</code>,\n      filtering removes all faces that don’t meet the chosen quality bar.\n       The quality bar is\n      based on a variety of common use cases. Low-quality detections can occur for a number of\n      reasons. Some examples are an object that's misidentified as a face, a face that's too blurry,\n      or a face with a pose that's too extreme to use. If you specify <code>NONE</code>, no\n      filtering is performed. The default value is <code>NONE</code>. </p>\n         <p>To use quality filtering, the collection you are using must be associated with version 3\n      of the face model or higher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CompareFacesResponse": {
      "type": "structure",
      "members": {
        "SourceImageFace": {
          "target": "com.amazonaws.rekognition#ComparedSourceImageFace",
          "traits": {
            "smithy.api#documentation": "<p>The face in the source image that was used for comparison.</p>"
          }
        },
        "FaceMatches": {
          "target": "com.amazonaws.rekognition#CompareFacesMatchList",
          "traits": {
            "smithy.api#documentation": "<p>An array of faces in the target image that match the source image face. Each\n        <code>CompareFacesMatch</code> object provides the bounding box, the confidence level that\n      the bounding box contains a face, and the similarity score for the face in the bounding box\n      and the face in the source image.</p>"
          }
        },
        "UnmatchedFaces": {
          "target": "com.amazonaws.rekognition#CompareFacesUnmatchList",
          "traits": {
            "smithy.api#documentation": "<p>An array of faces in the target image that did not match the source image\n      face.</p>"
          }
        },
        "SourceImageOrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>SourceImageOrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format\n      (Exif) metadata that includes the image's orientation. Amazon Rekognition uses this orientation\n      information to perform image correction. The bounding box coordinates are translated to\n      represent object locations after the orientation information in the Exif metadata is used to\n      correct the image orientation. Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and .jpeg images\n      without orientation information in the image Exif metadata. The bounding box coordinates\n      aren't translated and represent the object locations before the image is rotated. </p>"
          }
        },
        "TargetImageOrientationCorrection": {
          "target": "com.amazonaws.rekognition#OrientationCorrection",
          "traits": {
            "smithy.api#documentation": "<p>The value of <code>TargetImageOrientationCorrection</code> is always null.</p>\n         <p>If the input image is in .jpeg format, it might contain exchangeable image file format\n      (Exif) metadata that includes the image's orientation. Amazon Rekognition uses this orientation\n      information to perform image correction. The bounding box coordinates are translated to\n      represent object locations after the orientation information in the Exif metadata is used to\n      correct the image orientation. Images in .png format don't contain Exif metadata.</p>\n         <p>Amazon Rekognition doesn’t perform image correction for images in .png format and .jpeg images\n      without orientation information in the image Exif metadata. The bounding box coordinates\n      aren't translated and represent the object locations before the image is rotated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CompareFacesUnmatchList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ComparedFace"
      }
    },
    "com.amazonaws.rekognition#ComparedFace": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box of the face.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Level of confidence that what the bounding box contains is a face.</p>"
          }
        },
        "Landmarks": {
          "target": "com.amazonaws.rekognition#Landmarks",
          "traits": {
            "smithy.api#documentation": "<p>An array of facial landmarks.</p>"
          }
        },
        "Pose": {
          "target": "com.amazonaws.rekognition#Pose",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the pose of the face as determined by its pitch, roll, and yaw.</p>"
          }
        },
        "Quality": {
          "target": "com.amazonaws.rekognition#ImageQuality",
          "traits": {
            "smithy.api#documentation": "<p>Identifies face image brightness and sharpness. </p>"
          }
        },
        "Emotions": {
          "target": "com.amazonaws.rekognition#Emotions",
          "traits": {
            "smithy.api#documentation": "<p> The emotions that appear to be expressed on the face, and the confidence level in the\n      determination. Valid values include \"Happy\", \"Sad\", \"Angry\", \"Confused\", \"Disgusted\",\n      \"Surprised\", \"Calm\", \"Unknown\", and \"Fear\". </p>"
          }
        },
        "Smile": {
          "target": "com.amazonaws.rekognition#Smile",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether or not the face is smiling, and the confidence level in the\n      determination. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides face metadata for target image faces that are analyzed by\n        <code>CompareFaces</code> and <code>RecognizeCelebrities</code>.</p>"
      }
    },
    "com.amazonaws.rekognition#ComparedFaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ComparedFace"
      }
    },
    "com.amazonaws.rekognition#ComparedSourceImageFace": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.rekognition#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Bounding box of the face.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>Confidence level that the selected bounding box contains a face.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Type that describes the face Amazon Rekognition chose to compare with the faces in the target.\n      This contains a bounding box for the selected face and confidence level that the bounding box\n      contains a face. Note that Amazon Rekognition selects the largest face in the source image for this\n      comparison. </p>"
      }
    },
    "com.amazonaws.rekognition#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Code": {
          "target": "com.amazonaws.rekognition#String"
        },
        "Logref": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>A universally unique identifier (UUID) for the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> A User with the same Id already exists within the collection, or the update or deletion\n      of the User caused an inconsistent state. ** </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.rekognition#ConnectedHomeLabel": {
      "type": "string"
    },
    "com.amazonaws.rekognition#ConnectedHomeLabels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ConnectedHomeLabel"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.rekognition#ConnectedHomeSettings": {
      "type": "structure",
      "members": {
        "Labels": {
          "target": "com.amazonaws.rekognition#ConnectedHomeLabels",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies what you want to detect in the video, such as people, packages, or pets. The current valid labels you can include in this list are: \"PERSON\", \"PET\", \"PACKAGE\", and \"ALL\".\n        </p>",
            "smithy.api#required": {}
          }
        },
        "MinConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>\n            The minimum confidence required to label an object in the video. \n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Label detection settings to use on a streaming video. Defining the settings is required in the request parameter for <a>CreateStreamProcessor</a>.\n            Including this setting in the <code>CreateStreamProcessor</code> request enables you to use the stream processor for label detection. \n            You can then select what you want the stream processor to detect, such as people or pets. When the stream processor has started, one notification\n            is sent for each object class specified. For example, if packages and pets are selected, one SNS notification is published the first time a package is detected \n            and one SNS notification is published the first time a pet is detected, as well as an end-of-session summary. \n        </p>"
      }
    },
    "com.amazonaws.rekognition#ConnectedHomeSettingsForUpdate": {
      "type": "structure",
      "members": {
        "Labels": {
          "target": "com.amazonaws.rekognition#ConnectedHomeLabels",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies what you want to detect in the video, such as people, packages, or pets. The current valid labels you can include in this list are: \"PERSON\", \"PET\", \"PACKAGE\", and \"ALL\".\n        </p>"
          }
        },
        "MinConfidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>\n            The minimum confidence required to label an object in the video. \n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The label detection settings you want to use in your stream processor. This includes the labels you want the stream processor to detect and the minimum confidence level allowed to label objects. \n        </p>"
      }
    },
    "com.amazonaws.rekognition#ContentClassifier": {
      "type": "enum",
      "members": {
        "FREE_OF_PERSONALLY_IDENTIFIABLE_INFORMATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeOfPersonallyIdentifiableInformation"
          }
        },
        "FREE_OF_ADULT_CONTENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FreeOfAdultContent"
          }
        }
      }
    },
    "com.amazonaws.rekognition#ContentClassifiers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ContentClassifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.rekognition#ContentModerationAggregateBy": {
      "type": "enum",
      "members": {
        "TIMESTAMPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMPS"
          }
        },
        "SEGMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SEGMENTS"
          }
        }
      }
    },
    "com.amazonaws.rekognition#ContentModerationDetection": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.rekognition#Timestamp",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Time, in milliseconds from the beginning of the video, that the content moderation label was detected.\n          Note that <code>Timestamp</code> is not guaranteed to be accurate to the individual frame where the moderated content first appears.</p>"
          }
        },
        "ModerationLabel": {
          "target": "com.amazonaws.rekognition#ModerationLabel",
          "traits": {
            "smithy.api#documentation": "<p>The content moderation label detected by in the stored video.</p>"
          }
        },
        "StartTimestampMillis": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p>The time in milliseconds defining the start of the timeline segment containing a\n      continuously detected moderation label.</p>"
          }
        },
        "EndTimestampMillis": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p> The time in milliseconds defining the end of the timeline segment containing a\n      continuously detected moderation label. </p>"
          }
        },
        "DurationMillis": {
          "target": "com.amazonaws.rekognition#ULong",
          "traits": {
            "smithy.api#documentation": "<p> The time duration of a segment in milliseconds, I.e. time elapsed from\n      StartTimestampMillis to EndTimestampMillis. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an inappropriate, unwanted, or offensive content label detection in a stored video.</p>"
      }
    },
    "com.amazonaws.rekognition#ContentModerationDetections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rekognition#ContentModerationDetection"
      }
    },
    "com.amazonaws.rekognition#ContentModerationSortBy": {
      "type": "enum",
      "members": {
        "NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NAME"
          }
        },
        "TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.rekognition#CopyProjectVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CopyProjectVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CopyProjectVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This operation applies only to Amazon Rekognition Custom Labels.</p>\n         </note>\n         <p>Copies a version of an Amazon Rekognition Custom Labels model from a source project to a destination project. The source and\n         destination projects can be in different AWS accounts but must be in the same AWS Region.\n         You can't copy a model to another AWS service.\n        \n      </p>\n         <p>To copy a model version to a different AWS account, you need to create a resource-based policy known as a\n         <i>project policy</i>. You attach the project policy to the\n         source project by calling <a>PutProjectPolicy</a>. The project policy\n      gives permission to copy the model version from a trusting AWS account to a trusted account.</p>\n         <p>For more information creating and attaching a project policy, see Attaching a project policy (SDK)\n         in the <i>Amazon Rekognition Custom Labels Developer Guide</i>.\n      </p>\n         <p>If you are copying a model version to a project in the same AWS account, you don't need to create a project policy.</p>\n         <note>\n            <p>Copying project versions is supported only for Custom Labels models. </p>\n            <p>To copy a model, the destination project, source project, and source model version\n            must already exist.</p>\n         </note>\n         <p>Copying a model version takes a while to complete. To get the current status, call <a>DescribeProjectVersions</a> and check the value of <code>Status</code> in the\n            <a>ProjectVersionDescription</a> object. The copy operation has finished when\n         the value of <code>Status</code> is <code>COPYING_COMPLETED</code>.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:CopyProjectVersion</code> action.</p>",
        "smithy.api#examples": [
          {
            "title": "CopyProjectVersion",
            "documentation": "Copies a version of an Amazon Rekognition Custom Labels model from a source project to a destination project.",
            "input": {
              "SourceProjectArn": "arn:aws:rekognition:us-east-1:111122223333:project/SourceProject/16565123456",
              "SourceProjectVersionArn": "arn:aws:rekognition:us-east-1:111122223333:project/SourceProject/version/model_1/1656611123456",
              "DestinationProjectArn": "arn:aws:rekognition:us-east-1:555555555555:project/DestinationProject/1656705098765",
              "VersionName": "DestinationVersionName_cross_account",
              "OutputConfig": {
                "S3Bucket": "bucket-name",
                "S3KeyPrefix": "path_to_folder"
              },
              "Tags": {
                "key1": "val1"
              },
              "KmsKeyId": "arn:1234abcd-12ab-34cd-56ef-1234567890ab"
            },
            "output": {
              "ProjectVersionArn": "arn:aws:rekognition:us-east-1:555555555555:project/DestinationProject/version/DestinationVersionName_cross_account/16567050987651"
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CopyProjectVersionRequest": {
      "type": "structure",
      "members": {
        "SourceProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source project in the trusting AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the model version in the source project that you want to copy to a destination project.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project in the trusted AWS account that you want to copy the model version to. </p>",
            "smithy.api#required": {}
          }
        },
        "VersionName": {
          "target": "com.amazonaws.rekognition#VersionName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the version of the model that's copied to the destination project.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.rekognition#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket and folder location where the training output for the source model version is placed.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The key-value tags to assign to the model version. </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rekognition#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for your AWS Key Management Service key (AWS KMS key).\n         You can supply the Amazon Resource Name (ARN) of your KMS key, the ID of your KMS key,\n         an alias for your KMS key, or an alias ARN.\n         The key is used to encrypt training results\n         and manifest files written to the output Amazon S3 bucket (<code>OutputConfig</code>).</p>\n         <p>If you choose to use your own KMS key, you need the following permissions on the KMS key.</p>\n         <ul>\n            <li>\n               <p>kms:CreateGrant</p>\n            </li>\n            <li>\n               <p>kms:DescribeKey</p>\n            </li>\n            <li>\n               <p>kms:GenerateDataKey</p>\n            </li>\n            <li>\n               <p>kms:Decrypt</p>\n            </li>\n         </ul>\n         <p>If you don't specify a value for <code>KmsKeyId</code>, images copied into the service are encrypted\n         using a key that AWS owns and manages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CopyProjectVersionResponse": {
      "type": "structure",
      "members": {
        "ProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the copied model version in the destination project. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CoversBodyPart": {
      "type": "structure",
      "members": {
        "Confidence": {
          "target": "com.amazonaws.rekognition#Percent",
          "traits": {
            "smithy.api#documentation": "<p>The confidence that Amazon Rekognition has in the value of <code>Value</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.rekognition#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>True if the PPE covers the corresponding body part, otherwise false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an item of Personal Protective Equipment covering a corresponding body part. For more \n         information, see <a>DetectProtectiveEquipment</a>.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a collection in an AWS Region. You can add faces to the collection using the\n        <a>IndexFaces</a> operation. </p>\n         <p>For example, you might create collections, one for each of your application users. A\n      user can then index faces using the <code>IndexFaces</code> operation and persist results in a\n      specific collection. Then, a user can search the collection for faces in the user-specific\n      container. </p>\n         <p>When you create a collection, it is associated with the latest version of the face model\n      version.</p>\n         <note>\n            <p>Collection names are case-sensitive.</p>\n         </note>\n         <p>This operation requires permissions to perform the\n        <code>rekognition:CreateCollection</code> action. If you want to tag your collection, you\n      also require permission to perform the <code>rekognition:TagResource</code>\n      operation.</p>",
        "smithy.api#examples": [
          {
            "title": "To create a collection",
            "documentation": "This operation creates a Rekognition collection for storing image data.",
            "input": {
              "CollectionId": "myphotos"
            },
            "output": {
              "StatusCode": 200,
              "CollectionArn": "aws:rekognition:us-west-2:123456789012:collection/myphotos"
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CreateCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionId": {
          "target": "com.amazonaws.rekognition#CollectionId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the collection that you are creating.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> A set of tags (key-value pairs) that you want to attach to the collection. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateCollectionResponse": {
      "type": "structure",
      "members": {
        "StatusCode": {
          "target": "com.amazonaws.rekognition#UInteger",
          "traits": {
            "smithy.api#documentation": "<p>HTTP status code indicating the result of the operation.</p>"
          }
        },
        "CollectionArn": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the collection. You can use this to manage permissions on\n      your resources. </p>"
          }
        },
        "FaceModelVersion": {
          "target": "com.amazonaws.rekognition#String",
          "traits": {
            "smithy.api#documentation": "<p>Version number of the face detection model associated with the collection you are\n      creating.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidS3ObjectException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p>This operation applies only to Amazon Rekognition Custom Labels.</p>\n         </note>\n         <p>Creates a new Amazon Rekognition Custom Labels dataset. You can create a dataset by using\n   an Amazon Sagemaker format manifest file or by copying an existing Amazon Rekognition Custom Labels dataset.</p>\n         <p>To create a training dataset for a project, specify <code>TRAIN</code> for the value of \n      <code>DatasetType</code>. To create the test dataset for a project,\n      specify <code>TEST</code> for the value of <code>DatasetType</code>.\n    </p>\n         <p>The response from <code>CreateDataset</code> is the Amazon Resource Name (ARN) for the dataset.\n   Creating a dataset takes a while to complete. Use <a>DescribeDataset</a> to check the \n   current status. The dataset created successfully if the value of <code>Status</code> is\n   <code>CREATE_COMPLETE</code>. </p>\n         <p>To check if any non-terminal errors occurred, call <a>ListDatasetEntries</a>\nand check for the presence of <code>errors</code> lists in the JSON Lines.</p>\n         <p>Dataset creation fails if a terminal error occurs (<code>Status</code> = <code>CREATE_FAILED</code>). \n      Currently, you can't access the terminal error information.\n      \n   </p>\n         <p>For more information, see Creating dataset in the <i>Amazon Rekognition Custom Labels Developer Guide</i>.</p>\n         <p>This operation requires permissions to perform the <code>rekognition:CreateDataset</code> action.\n   If you want to copy an existing dataset, you also require permission to perform the <code>rekognition:ListDatasetEntries</code> action.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an Amazon Rekognition Custom Labels dataset",
            "documentation": "Creates an Amazon Rekognition Custom Labels dataset with a manifest file stored in an Amazon S3 bucket.",
            "input": {
              "DatasetSource": {
                "GroundTruthManifest": {
                  "S3Object": {
                    "Bucket": "my-bucket",
                    "Name": "datasets/flowers_training/manifests/output/output.manifest"
                  }
                }
              },
              "DatasetType": "TRAIN",
              "ProjectArn": "arn:aws:rekognition:us-east-1:111122223333:project/my-project/1690474772815"
            },
            "output": {
              "DatasetArn": "arn:aws:rekognition:us-east-1:111122223333:project/my-project/dataset/train/1690476084535"
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetSource": {
          "target": "com.amazonaws.rekognition#DatasetSource",
          "traits": {
            "smithy.api#documentation": "<p>\nThe source files for the dataset. You can specify the ARN of an existing dataset or specify the Amazon S3 bucket location\nof an Amazon Sagemaker format manifest file. If you don't specify <code>datasetSource</code>, an empty dataset is created.\n  To add labeled images to the dataset,  You can use the console or call <a>UpdateDatasetEntries</a>.\n  \n</p>"
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.rekognition#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>\nThe type of the dataset. Specify <code>TRAIN</code> to create a training dataset. Specify <code>TEST</code> \n   to create a test dataset.\n</p>",
            "smithy.api#required": {}
          }
        },
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ARN of the Amazon Rekognition Custom Labels project to which you want to asssign the dataset.\n</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetArn": {
          "target": "com.amazonaws.rekognition#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ARN of the created  Amazon Rekognition Custom Labels dataset.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateFaceLivenessSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateFaceLivenessSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateFaceLivenessSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This API operation initiates a Face Liveness session. It returns a <code>SessionId</code>,\n      which you can use to start streaming Face Liveness video and get the results for a Face\n      Liveness session. </p>\n         <p>You can use the <code>OutputConfig</code> option in the Settings parameter to provide an\n      Amazon S3 bucket location. The Amazon S3 bucket stores reference images and audit images. If no Amazon S3\n      bucket is defined, raw bytes are sent instead. </p>\n         <p>You can use <code>AuditImagesLimit</code> to limit the number of audit images returned\n      when <code>GetFaceLivenessSessionResults</code> is called. This number is between 0 and 4. By\n      default, it is set to 0. The limit is best effort and based on the duration of the\n      selfie-video. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.rekognition#CreateFaceLivenessSessionRequest": {
      "type": "structure",
      "members": {
        "KmsKeyId": {
          "target": "com.amazonaws.rekognition#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p> The identifier for your AWS Key Management Service key (AWS KMS key). Used to encrypt\n      audit images and reference images.</p>"
          }
        },
        "Settings": {
          "target": "com.amazonaws.rekognition#CreateFaceLivenessSessionRequestSettings",
          "traits": {
            "smithy.api#documentation": "<p>A session settings object. It contains settings for the operation to be performed. For\n      Face Liveness, it accepts <code>OutputConfig</code> and <code>AuditImagesLimit</code>.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.rekognition#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Idempotent token is used to recognize the Face Liveness request. If the same token is used\n      with multiple <code>CreateFaceLivenessSession</code> requests, the same session is returned.\n      This token is employed to avoid unintentionally creating the same session multiple\n      times.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateFaceLivenessSessionRequestSettings": {
      "type": "structure",
      "members": {
        "OutputConfig": {
          "target": "com.amazonaws.rekognition#LivenessOutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>Can specify the location of an Amazon S3 bucket, where reference and audit images will be\n      stored. Note that the Amazon S3 bucket must be located in the caller's AWS account and in the\n      same region as the Face Liveness end-point. Additionally, the Amazon S3 object keys are\n      auto-generated by the Face Liveness system. Requires that the caller has the\n        <code>s3:PutObject</code> permission on the Amazon S3 bucket.</p>"
          }
        },
        "AuditImagesLimit": {
          "target": "com.amazonaws.rekognition#AuditImagesLimit",
          "traits": {
            "smithy.api#documentation": "<p>Number of audit images to be returned back. Takes an integer between 0-4. Any integer less\n      than 0 will return 0, any integer above 4 will return 4 images in the response. By default, it\n      is set to 0. The limit is best effort and is based on the actual duration of the\n      selfie-video.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A session settings object. It contains settings for the operation to be performed. It\n      accepts arguments for OutputConfig and AuditImagesLimit.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateFaceLivenessSessionResponse": {
      "type": "structure",
      "members": {
        "SessionId": {
          "target": "com.amazonaws.rekognition#LivenessSessionId",
          "traits": {
            "smithy.api#documentation": "<p>A unique 128-bit UUID identifying a Face Liveness session.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Rekognition project. A project is a group of resources (datasets, model\n         versions) that you use to create and manage a Amazon Rekognition Custom Labels Model or custom adapter. You can\n         specify a feature to create the project with, if no feature is specified then Custom Labels\n         is used by default. For adapters, you can also choose whether or not to have the project\n         auto update by using the AutoUpdate argument. This operation requires permissions to\n         perform the <code>rekognition:CreateProject</code> action.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an Amazon Rekognition Custom Labels project",
            "documentation": "Creates an Amazon Rekognition Custom Labels project.",
            "input": {
              "ProjectName": "my-project"
            },
            "output": {
              "ProjectArn": "arn:aws:rekognition:us-east-1:111122223333:project/my-project/1690405809285"
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.rekognition#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to create.</p>",
            "smithy.api#required": {}
          }
        },
        "Feature": {
          "target": "com.amazonaws.rekognition#CustomizationFeature",
          "traits": {
            "smithy.api#documentation": "<p>Specifies feature that is being customized. If no value is provided CUSTOM_LABELS is used as a default.</p>"
          }
        },
        "AutoUpdate": {
          "target": "com.amazonaws.rekognition#ProjectAutoUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether automatic retraining should be attempted for the versions of the\n         project. Automatic retraining is done as a best effort. Required argument for Content\n         Moderation. Applicable only to adapters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the new project. You can use the ARN to \n      configure IAM access to the project. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateProjectVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateProjectVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of Amazon Rekognition project (like a Custom Labels model or a custom adapter)\n         and begins training. Models and adapters are managed as part of a Rekognition project. The\n         response from <code>CreateProjectVersion</code> is an Amazon Resource Name (ARN) for the\n         project version. </p>\n         <p>The FeatureConfig operation argument allows you to configure specific model or adapter\n         settings. You can provide a description to the project version by using the\n         VersionDescription argment. Training can take a while to complete. You can get the current\n         status by calling <a>DescribeProjectVersions</a>. Training completed\n         successfully if the value of the <code>Status</code> field is\n            <code>TRAINING_COMPLETED</code>. Once training has successfully completed, call <a>DescribeProjectVersions</a> to get the training results and evaluate the\n         model.</p>\n         <p>This operation requires permissions to perform the\n            <code>rekognition:CreateProjectVersion</code> action.</p>\n         <note>\n            <p>\n               <i>The following applies only to projects with Amazon Rekognition Custom Labels as the chosen\n               feature:</i>\n            </p>\n            <p>You can train a model in a project that doesn't have associated datasets by specifying manifest files in the\n         <code>TrainingData</code> and <code>TestingData</code> fields.\n         </p>\n            <p>If you open the console after training a model with manifest files, Amazon Rekognition Custom Labels creates\n            the datasets for you using the most recent manifest files. You can no longer train\n            a model version for the project by specifying manifest files. </p>\n            <p>Instead of training with a project without associated datasets,\n            we recommend that you use the manifest\n            files to create training and test datasets for the project.</p>\n         </note>\n         <p></p>",
        "smithy.api#examples": [
          {
            "title": "To train an Amazon Rekognition Custom Labels model",
            "documentation": "Trains a version of an Amazon Rekognition Custom Labels model.",
            "input": {
              "ProjectArn": "arn:aws:rekognition:us-east-1:111122223333:project/my-project/1690474772815",
              "VersionName": "1",
              "OutputConfig": {
                "S3Bucket": "output_bucket",
                "S3KeyPrefix": "output_folder"
              }
            },
            "output": {
              "ProjectVersionArn": "arn:aws:rekognition:us-east-1:111122223333:project/my-project/version/1/1690556751958"
            }
          }
        ]
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersionRequest": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.rekognition#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Rekognition project that will manage the project version you want to\n         train.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionName": {
          "target": "com.amazonaws.rekognition#VersionName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the version of the project version. This value must be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.rekognition#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket location to store the results of training. The bucket can be any S3\n         bucket in your AWS account. You need <code>s3:PutObject</code> permission on the bucket.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "TrainingData": {
          "target": "com.amazonaws.rekognition#TrainingData",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an external manifest that the services uses to train the project version.\n         If you specify <code>TrainingData</code> you must also specify <code>TestingData</code>.\n         The project must not have any associated datasets. </p>"
          }
        },
        "TestingData": {
          "target": "com.amazonaws.rekognition#TestingData",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an external manifest that the service uses to test the project version. If\n         you specify <code>TestingData</code> you must also specify <code>TrainingData</code>. The\n         project must not have any associated datasets.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> A set of tags (key-value pairs) that you want to attach to the project version. </p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rekognition#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for your AWS Key Management Service key (AWS KMS key). You can supply\n         the Amazon Resource Name (ARN) of your KMS key, the ID of your KMS key, an alias for\n         your KMS key, or an alias ARN. The key is used to encrypt training images, test images, and manifest files copied\n         into the service for the project version. Your source images are unaffected. The\n         key is also used to encrypt training results and manifest files written to the output Amazon S3\n         bucket (<code>OutputConfig</code>).</p>\n         <p>If you choose to use your own KMS key, you need the following permissions on the KMS key.</p>\n         <ul>\n            <li>\n               <p>kms:CreateGrant</p>\n            </li>\n            <li>\n               <p>kms:DescribeKey</p>\n            </li>\n            <li>\n               <p>kms:GenerateDataKey</p>\n            </li>\n            <li>\n               <p>kms:Decrypt</p>\n            </li>\n         </ul>\n         <p>If you don't specify a value for <code>KmsKeyId</code>, images copied into the service are encrypted\n         using a key that AWS owns and manages.</p>"
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.rekognition#VersionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description applied to the project version being created.</p>"
          }
        },
        "FeatureConfig": {
          "target": "com.amazonaws.rekognition#CustomizationFeatureConfig",
          "traits": {
            "smithy.api#documentation": "<p>Feature-specific configuration of the training job. If the job configuration does not match the feature type associated with the project, an InvalidParameterException is returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateProjectVersionResponse": {
      "type": "structure",
      "members": {
        "ProjectVersionArn": {
          "target": "com.amazonaws.rekognition#ProjectVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the model or the project version that was created. Use\n            <code>DescribeProjectVersion</code> to get the current status of the training\n         operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessor": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateStreamProcessorRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateStreamProcessorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
          "target": "com.amazonaws.rekognition#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.rekognition#LimitExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.rekognition#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rekognition#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Rekognition stream processor that you can use to detect and recognize faces or to detect labels in a streaming video.</p>\n         <p>Amazon Rekognition Video is a consumer of live video from Amazon Kinesis Video Streams. There are two different settings for stream processors in Amazon Rekognition: detecting faces and detecting labels.</p>\n         <ul>\n            <li>\n               <p>If you are creating a stream processor for detecting faces, you provide as input a Kinesis video stream\n                        (<code>Input</code>) and a Kinesis data stream (<code>Output</code>) stream for receiving\n                    the output. You must use the <code>FaceSearch</code> option in\n                        <code>Settings</code>, specifying the collection that contains the faces you\n                    want to recognize. After you have finished analyzing a streaming video, use\n                        <a>StopStreamProcessor</a> to stop processing.</p>\n            </li>\n            <li>\n               <p>If you are creating a stream processor to detect labels, you provide as input a Kinesis video stream\n                        (<code>Input</code>), Amazon S3 bucket information (<code>Output</code>), and an\n                    Amazon SNS topic ARN (<code>NotificationChannel</code>). You can also provide a KMS\n                    key ID to encrypt the data sent to your Amazon S3 bucket. You specify what you want\n                    to detect by using the <code>ConnectedHome</code> option in settings, and\n                    selecting one of the following: <code>PERSON</code>, <code>PET</code>,\n                        <code>PACKAGE</code>, <code>ALL</code> You can also specify where in the\n                    frame you want Amazon Rekognition to monitor with <code>RegionsOfInterest</code>. When\n                    you run the <a>StartStreamProcessor</a> operation on a label\n                    detection stream processor, you input start and stop information to determine\n                    the length of the processing time.</p>\n            </li>\n         </ul>\n         <p>\n            Use <code>Name</code> to assign an identifier for the stream processor. You use <code>Name</code>\n            to manage the stream processor. For example, you can start processing the source video by calling <a>StartStreamProcessor</a> with\n            the <code>Name</code> field. </p>\n         <p>This operation requires permissions to perform the\n            <code>rekognition:CreateStreamProcessor</code> action. If you want to tag your stream processor, you also require permission to perform the <code>rekognition:TagResource</code> operation.</p>"
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessorRequest": {
      "type": "structure",
      "members": {
        "Input": {
          "target": "com.amazonaws.rekognition#StreamProcessorInput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis video stream stream that provides the source streaming video. If you are using the AWS CLI, the parameter name is <code>StreamProcessorInput</code>. This is required for both face search and label detection stream processors.</p>",
            "smithy.api#required": {}
          }
        },
        "Output": {
          "target": "com.amazonaws.rekognition#StreamProcessorOutput",
          "traits": {
            "smithy.api#documentation": "<p>Kinesis data stream stream or Amazon S3 bucket location to which Amazon Rekognition Video puts the analysis results. If you are using the AWS CLI, the parameter name is <code>StreamProcessorOutput</code>. \n            This must be a <a>S3Destination</a> of an Amazon S3 bucket that you own for a label detection stream processor or a Kinesis data stream ARN for a face search stream processor.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.rekognition#StreamProcessorName",
          "traits": {
            "smithy.api#documentation": "<p>An identifier you assign to the stream processor. You can use <code>Name</code> to\n            manage the stream processor. For example, you can get the current status of the stream processor by calling <a>DescribeStreamProcessor</a>.\n            <code>Name</code> is idempotent. This is required for both face search and label detection stream processors.\n       </p>",
            "smithy.api#required": {}
          }
        },
        "Settings": {
          "target": "com.amazonaws.rekognition#StreamProcessorSettings",
          "traits": {
            "smithy.api#documentation": "<p>Input parameters used in a streaming video analyzed by a stream processor. You can use <code>FaceSearch</code> to recognize faces in a streaming video, or you can use <code>ConnectedHome</code> to detect labels.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.rekognition#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the IAM role that allows access to the stream processor. \n            The IAM role provides Rekognition read permissions for a Kinesis stream. \n            It also provides write permissions to an Amazon S3 bucket and Amazon Simple Notification Service topic for a label detection stream processor. This is required for both face search and label detection stream processors.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.rekognition#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> A set of tags (key-value pairs) that you want to attach to the stream processor. </p>"
          }
        },
        "NotificationChannel": {
          "target": "com.amazonaws.rekognition#StreamProcessorNotificationChannel"
        },
        "KmsKeyId": {
          "target": "com.amazonaws.rekognition#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The identifier for your AWS Key Management Service key (AWS KMS key). This is an optional parameter for label detection stream processors and should not be used to create a face search stream processor.\n            You can supply the Amazon Resource Name (ARN) of your KMS key, the ID of your KMS key, an alias for your KMS key, or an alias ARN. \n            The key is used to encrypt results and data published to your Amazon S3 bucket, which includes  image frames and hero images. Your source images are unaffected. \n        </p>\n         <p>\n            </p>"
          }
        },
        "RegionsOfInterest": {
          "target": "com.amazonaws.rekognition#RegionsOfInterest",
          "traits": {
            "smithy.api#documentation": "<p>\n            Specifies locations in the frames where Amazon Rekognition checks for objects or people. You can specify up to 10 regions of interest, and each region has either a polygon or a bounding box. This is an optional parameter for label detection stream processors and should not be used to create a face search stream processor.\n        </p>"
          }
        },
        "DataSharingPreference": {
          "target": "com.amazonaws.rekognition#StreamProcessorDataSharingPreference",
          "traits": {
            "smithy.api#documentation": "<p>\n            Shows whether you are sharing data with Rekognition to improve model performance. You can choose this option at the account level or on a per-stream basis.\n            Note that if you opt out at the account level this setting is ignored on individual streams.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rekognition#CreateStreamProcessorResponse": {
      "type": "structure",
      "members": {
        "StreamProcessorArn": {
          "target": "com.amazonaws.rekognition#StreamProcessorArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Number for the newly created stream processor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rekognition#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rekognition#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.rekognition#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rekognition#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rekognition#ConflictException"
        },
        {
          "target": "com.amazonaws.rekognition#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.rekognition#InternalServerError"
        },
        {
[...]
