{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.resiliencehub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resiliencehub#String500"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is\n      making the request must have at least one IAM permissions policy attached that grants the\n      required permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the resource mapping for the draft application version.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/add-draft-app-version-resource-mappings",
          "code": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceMappings": {
          "target": "com.amazonaws.resiliencehub#ResourceMappingList",
          "traits": {
            "smithy.api#documentation": "<p> Mappings used to map logical resources from the template to physical resources. You can\n      use the mapping type <code>CFN_STACK</code> if the application template uses\n      a logical stack name. Or you can map individual resources by using the mapping type\n      <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the\n      application is backed by a CloudFormation stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceMappings": {
          "target": "com.amazonaws.resiliencehub#ResourceMappingList",
          "traits": {
            "smithy.api#documentation": "<p>Mappings used to map logical resources from the template to physical resources. You can\n      use the mapping type <code>CFN_STACK</code> if the application template uses\n      a logical stack name. Or you can map individual resources by using the mapping type\n      <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the\n      application is backed by a CloudFormation stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#AlarmRecommendation": {
      "type": "structure",
      "members": {
        "recommendationId": {
          "target": "com.amazonaws.resiliencehub#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "referenceId": {
          "target": "com.amazonaws.resiliencehub#SpecReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>The reference identifier of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the recommendation.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.resiliencehub#AlarmType",
          "traits": {
            "smithy.api#documentation": "<p>The type of alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The application component for the CloudWatch alarm recommendation.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.resiliencehub#RecommendationItemList",
          "traits": {
            "smithy.api#documentation": "<p>The list of CloudWatch alarm recommendations.</p>"
          }
        },
        "prerequisite": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The prerequisite for the alarm recommendation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a recommendation for a CloudWatch alarm.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AlarmRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AlarmRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#AlarmReferenceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#String500"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#AlarmType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Metric",
            "name": "METRIC"
          },
          {
            "value": "Composite",
            "name": "COMPOSITE"
          },
          {
            "value": "Canary",
            "name": "CANARY"
          },
          {
            "value": "Logs",
            "name": "LOGS"
          },
          {
            "value": "Event",
            "name": "EVENT"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#App": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "policyArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the app was created.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#AppStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application.</p>"
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of compliance for the resiliency policy.</p>"
          }
        },
        "lastAppComplianceEvaluationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for the most recent compliance evaluation.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        },
        "lastResiliencyScoreEvaluationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for the most recent resiliency score evaluation.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.resiliencehub#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
          }
        },
        "assessmentSchedule": {
          "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
          "traits": {
            "smithy.api#documentation": "<p>\n      Assessment execution schedule with 'Daily' or 'Disabled' values.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a Resilience Hub application.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessment": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>"
          }
        },
        "invoker": {
          "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
          "traits": {
            "smithy.api#documentation": "<p>The entity that invoked the assessment.</p>",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#ResiliencyScore",
          "traits": {
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The application compliance against the resiliency policy.</p>"
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the compliance for the resiliency policy.</p>"
          }
        },
        "assessmentStatus": {
          "target": "com.amazonaws.resiliencehub#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting time for the action.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the action.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>Error or warning message from the assessment execution</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assessment.</p>"
          }
        },
        "assessmentArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.resiliencehub#ResiliencyPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The resiliency policy.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.resiliencehub#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
          }
        },
        "resourceErrorsDetails": {
          "target": "com.amazonaws.resiliencehub#ResourceErrorsDetails",
          "traits": {
            "smithy.api#documentation": "<p>\n      A resource error object containing a list of errors retrieving an application's resources.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application assessment.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentScheduleType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Disabled",
            "name": "DISABLED"
          },
          {
            "value": "Daily",
            "name": "DAILY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentSummary": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>"
          }
        },
        "assessmentStatus": {
          "target": "com.amazonaws.resiliencehub#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the assessment for the resiliency policy.</p>",
            "smithy.api#required": {}
          }
        },
        "invoker": {
          "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
          "traits": {
            "smithy.api#documentation": "<p>The entity that invoked the assessment.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting time for the action.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the action.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The message from the assessment run.</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assessment.</p>"
          }
        },
        "assessmentArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of compliance for the resiliency policy.</p>"
          }
        },
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application assessment summary.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppAssessmentSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppComplianceStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PolicyBreached",
            "name": "POLICY_BREACHED"
          },
          {
            "value": "PolicyMet",
            "name": "POLICY_MET"
          },
          {
            "value": "NotAssessed",
            "name": "NOT_ASSESSED"
          },
          {
            "value": "ChangesDetected",
            "name": "CHANGES_DETECTED"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppComponent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application component.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>The type of application component.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application component.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppComponentCompliance": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application component.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The compliance of the application component against the resiliency policy.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The compliance message.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the action.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#ResiliencyScore",
          "traits": {
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the compliance of an application component against the resiliency policy.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppComponent"
      }
    },
    "com.amazonaws.resiliencehub#AppStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Deleting",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppSummary": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the app was created.</p>",
            "smithy.api#required": {}
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of compliance for the resiliency policy.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        },
        "assessmentSchedule": {
          "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
          "traits": {
            "smithy.api#documentation": "<p>\n      Assessment execution schedule with 'Daily' or 'Disabled' values.\n    </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#AppStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application summary.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppTemplateBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 204800
        },
        "smithy.api#pattern": "^[\\w\\s:,-\\.'{}\\[\\]:\"]+$"
      }
    },
    "com.amazonaws.resiliencehub#AppVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppVersionSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppVersionSummary": {
      "type": "structure",
      "members": {
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The version of the application.</p>"
      }
    },
    "com.amazonaws.resiliencehub#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.resiliencehub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#Arn"
      }
    },
    "com.amazonaws.resiliencehub#AssessmentCompliance": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.resiliencehub#DisruptionType"
      },
      "value": {
        "target": "com.amazonaws.resiliencehub#DisruptionCompliance"
      }
    },
    "com.amazonaws.resiliencehub#AssessmentInvoker": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "User",
            "name": "USER"
          },
          {
            "value": "System",
            "name": "SYSTEM"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AssessmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Success",
            "name": "SUCCESS"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AssessmentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AssessmentStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.resiliencehub#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$"
      }
    },
    "com.amazonaws.resiliencehub#AwsResilienceHub": {
      "type": "service",
      "version": "2020-04-30",
      "operations": [
        {
          "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateRecommendationTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteRecommendationTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionResourcesResolutionStatus"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeDraftAppVersionResourcesImportStatus"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#ImportResourcesToDraftAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAlarmRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppAssessments"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppComponentCompliances"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppComponentRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListApps"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersions"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListRecommendationTemplates"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListResiliencyPolicies"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListSopRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListSuggestedResiliencyPolicies"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListTestRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListUnsupportedAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#PublishAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#PutDraftAppVersionTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#RemoveDraftAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResolveAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#StartAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#TagResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#UntagResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateResiliencyPolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "resiliencehub",
          "arnNamespace": "resiliencehub",
          "cloudFormationName": "Resiliencehub",
          "endpointPrefix": "resiliencehub"
        },
        "aws.auth#sigv4": {
          "name": "resiliencehub"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
          ]
        },
        "smithy.api#documentation": "<p>AWS Resilience Hub helps you proactively prepare and protect your Amazon Web Services applications from\n      disruptions. Resilience Hub offers continuous resiliency assessment and validation that integrates\n      into your software development lifecycle. This enables you to uncover resiliency weaknesses,\n      ensure recovery time objective (RTO) and recovery point objective (RPO) targets for your\n      applications are met, and resolve issues before they are released into production. </p>",
        "smithy.api#title": "AWS Resilience Hub",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resiliencehub.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://resiliencehub.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.resiliencehub#BooleanOptional": {
      "type": "boolean"
    },
    "com.amazonaws.resiliencehub#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[A-za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.resiliencehub#ComplianceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PolicyBreached",
            "name": "POLICY_BREACHED"
          },
          {
            "value": "PolicyMet",
            "name": "POLICY_MET"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#ComponentCompliancesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppComponentCompliance"
      }
    },
    "com.amazonaws.resiliencehub#ComponentRecommendation": {
      "type": "structure",
      "members": {
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application component.</p>",
            "smithy.api#required": {}
          }
        },
        "recommendationStatus": {
          "target": "com.amazonaws.resiliencehub#RecommendationComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation status.</p>",
            "smithy.api#required": {}
          }
        },
        "configRecommendations": {
          "target": "com.amazonaws.resiliencehub#ConfigRecommendationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of recommendations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines recommendations for a Resilience Hub application component, returned as an object. This\n      object contains component names, configuration recommendations, and recommendation\n      statuses.</p>"
      }
    },
    "com.amazonaws.resiliencehub#ComponentRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#ComponentRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendation": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The application component name.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The current compliance against the resiliency policy before applying the configuration\n      change.</p>"
          }
        },
        "recommendationCompliance": {
          "target": "com.amazonaws.resiliencehub#RecommendationCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The expected compliance against the resiliency policy after applying the configuration\n      change.</p>"
          }
        },
        "optimizationType": {
          "target": "com.amazonaws.resiliencehub#ConfigRecommendationOptimizationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of optimization.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recommendation configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "suggestedChanges": {
          "target": "com.amazonaws.resiliencehub#SuggestedChangesList",
          "traits": {
            "smithy.api#documentation": "<p>List of the suggested configuration changes.</p>"
          }
        },
        "haArchitecture": {
          "target": "com.amazonaws.resiliencehub#HaArchitecture",
          "traits": {
            "smithy.api#documentation": "<p>The architecture type.</p>"
          }
        },
        "referenceId": {
          "target": "com.amazonaws.resiliencehub#SpecReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>The reference identifier for the recommendation configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a configuration recommendation.</p>"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#ConfigRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendationOptimizationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LeastCost",
            "name": "LEAST_COST"
          },
          {
            "value": "LeastChange",
            "name": "LEAST_CHANGE"
          },
          {
            "value": "BestAZRecovery",
            "name": "BEST_AZ_RECOVERY"
          },
          {
            "value": "LeastErrors",
            "name": "LEAST_ERRORS"
          },
          {
            "value": "BestAttainable",
            "name": "BEST_ATTAINABLE"
          },
          {
            "value": "BestRegionRecovery",
            "name": "BEST_REGION_RECOVERY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resiliencehub#String500"
        },
        "resourceId": {
          "target": "com.amazonaws.resiliencehub#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that the exception applies to.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.resiliencehub#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that the exception applies to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Occurs when a conflict with a previous successful write is detected. This generally occurs\n      when the previous write did not have time to propagate to the host serving the current\n      request. A retry (with appropriate backoff logic) is the recommended response to this\n      exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.resiliencehub#Cost": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The cost amount.</p>",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.amazonaws.resiliencehub#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The cost currency, for example <code>USD</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.amazonaws.resiliencehub#CostFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The cost frequency.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a cost object.</p>"
      }
    },
    "com.amazonaws.resiliencehub#CostFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Hourly",
            "name": "HOURLY"
          },
          {
            "value": "Daily",
            "name": "DAILY"
          },
          {
            "value": "Monthly",
            "name": "MONTHLY"
          },
          {
            "value": "Yearly",
            "name": "YEARLY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#CreateAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resilience Hub application. A Resilience Hub application is a collection of Amazon Web Services\n      resources structured to prevent and recover Amazon Web Services application disruptions. To describe a\n      Resilience Hub application, you provide an application name, resources from one or more–up to\n      five–CloudFormation stacks, and an appropriate resiliency policy.</p>\n         <p>After you create a Resilience Hub application, you publish it so that you can run a resiliency\n      assessment on it. You can then use recommendations from the assessment to improve resiliency\n      by running another assessment, comparing results, and then iterating the process until you\n      achieve your goals for recovery time objective (RTO) and recovery point objective\n      (RPO).</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-app",
          "code": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#CreateAppRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "policyArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.resiliencehub#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehub#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. \nYou should not reuse the same client token for other API requests.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "assessmentSchedule": {
          "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
          "traits": {
            "smithy.api#documentation": "<p>\n      Assessment execution schedule with 'Daily' or 'Disabled' values.\n    </p>"
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#CreateAppResponse": {
      "type": "structure",
      "members": {
        "app": {
          "target": "com.amazonaws.resiliencehub#App",
          "traits": {
            "smithy.api#documentation": "<p>The created application returned as an object with details including compliance status,\n      creation time, description, resiliency score, and more.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#CreateRecommendationTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#CreateRecommendationTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#CreateRecommendationTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new recommendation template.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/create-recommendation-template",
          "code": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#CreateRecommendationTemplateRequest": {
      "type": "structure",
      "members": {
        "recommendationIds": {
          "target": "com.amazonaws.resiliencehub#RecommendationIdList",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the recommendations used to create a recommendation template.</p>"
          }
        },
        "format": {
          "target": "com.amazonaws.resiliencehub#TemplateFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for the recommendation template.</p>\n         <dl>\n            <dt>CfnJson</dt>\n            <dd>\n               <p>The template is CloudFormation JSON.</p>\n            </dd>\n            <dt>CfnYaml</dt>\n            <dd>\n               <p>The template is CloudFormation YAML.</p>\n            </dd>\n         </dl>"
          }
        },
        "recommendationTypes": {
          "target": "com.amazonaws.resiliencehub#RenderRecommendationTypeList",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specify the recommendation template type or types.</p>\n         <dl>\n            <dt>Alarm</dt>\n            <dd>\n               <p>The template is an <a>AlarmRecommendation</a> template.</p>\n            </dd>\n            <dt>Sop</dt>\n            <dd>\n               <p>The template is a <a>SopRecommendation</a> template.</p>\n            </dd>\n            <dt>Test</dt>\n            <dd>\n               <p>The template is a <a>TestRecommendation</a> template.</p>\n            </dd>\n         </dl>"
          }
        },
        "assessmentArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
[...]
