{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.resiliencehub#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resiliencehub#String500"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is\n      making the request must have at least one IAM permissions policy attached that grants the\n      required permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the resource mapping for the draft application version. You can also update an\n      existing resource mapping to a new physical resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/add-draft-app-version-resource-mappings",
          "code": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsRequest": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceMappings": {
          "target": "com.amazonaws.resiliencehub#ResourceMappingList",
          "traits": {
            "smithy.api#documentation": "<p>Mappings used to map logical resources from the template to physical resources. You can\n      use the mapping type <code>CFN_STACK</code> if the application template uses\n      a logical stack name. Or you can map individual resources by using the mapping type\n      <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the\n      application is backed by a CloudFormation stack.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappingsResponse": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceMappings": {
          "target": "com.amazonaws.resiliencehub#ResourceMappingList",
          "traits": {
            "smithy.api#documentation": "<p>List of sources that are used to map a logical resource from the template to a physical\n      resource. You can use sources such as CloudFormation, Terraform state files,\n      AppRegistry applications, or Amazon EKS.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resiliencehub#AdditionalInfoMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.resiliencehub#String128WithoutWhitespace"
      },
      "value": {
        "target": "com.amazonaws.resiliencehub#AdditionalInfoValueList"
      }
    },
    "com.amazonaws.resiliencehub#AdditionalInfoValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#String1024"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.resiliencehub#AlarmRecommendation": {
      "type": "structure",
      "members": {
        "recommendationId": {
          "target": "com.amazonaws.resiliencehub#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>Identifier\n      of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "referenceId": {
          "target": "com.amazonaws.resiliencehub#SpecReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>Reference\n      identifier of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>Name of the alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description of the alarm recommendation.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.resiliencehub#AlarmType",
          "traits": {
            "smithy.api#documentation": "<p>Type of alarm recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#deprecated": {
              "message": "An alarm recommendation can be attached to multiple Application Components, hence this property will be replaced by the new property 'appComponentNames'."
            },
            "smithy.api#documentation": "<p>Application Component name for the CloudWatch alarm\n      recommendation. This\n      name is saved as the first item in the <code>appComponentNames</code>\n      list.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.resiliencehub#RecommendationItemList",
          "traits": {
            "smithy.api#documentation": "<p>List of CloudWatch alarm recommendations.</p>"
          }
        },
        "prerequisite": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The prerequisite for the alarm recommendation.</p>"
          }
        },
        "appComponentNames": {
          "target": "com.amazonaws.resiliencehub#AppComponentNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of Application Component names for the CloudWatch alarm recommendation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a recommendation for a CloudWatch alarm.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AlarmRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AlarmRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#AlarmReferenceIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#String500"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#AlarmType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Metric",
            "name": "METRIC"
          },
          {
            "value": "Composite",
            "name": "COMPOSITE"
          },
          {
            "value": "Canary",
            "name": "CANARY"
          },
          {
            "value": "Logs",
            "name": "LOGS"
          },
          {
            "value": "Event",
            "name": "EVENT"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#App": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>Name\n      for the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>Optional\n      description for an\n      application.</p>"
          }
        },
        "policyArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp\n      for when the app was created.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#AppStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application.</p>"
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Current\n      status of compliance for the resiliency policy.</p>"
          }
        },
        "lastAppComplianceEvaluationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp\n      for the most recent compliance evaluation.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Current\n      resiliency score for the application.</p>"
          }
        },
        "lastResiliencyScoreEvaluationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp\n      for the most recent resiliency score evaluation.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.resiliencehub#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
          }
        },
        "assessmentSchedule": {
          "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
          "traits": {
            "smithy.api#documentation": "<p>Assessment\n      execution schedule with 'Daily' or 'Disabled' values. </p>"
          }
        },
        "permissionModel": {
          "target": "com.amazonaws.resiliencehub#PermissionModel",
          "traits": {
            "smithy.api#documentation": "<p>Defines the roles and credentials that Resilience Hub would use while creating the\n      application, importing its resources, and running an assessment.</p>"
          }
        },
        "eventSubscriptions": {
          "target": "com.amazonaws.resiliencehub#EventSubscriptionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of events you would like to subscribe and get notification for. Currently,\n        Resilience Hub supports notifications only for <b>Drift\n        detected</b> and <b>Scheduled assessment failure</b>\n      events.</p>"
          }
        },
        "driftStatus": {
          "target": "com.amazonaws.resiliencehub#AppDriftStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
          }
        },
        "lastDriftEvaluationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the last time\n      that\n      a drift was evaluated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an Resilience Hub application.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessment": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version of an application.</p>"
          }
        },
        "invoker": {
          "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
          "traits": {
            "smithy.api#documentation": "<p>The entity that invoked the assessment.</p>",
            "smithy.api#required": {}
          }
        },
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>Cost for the application.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#ResiliencyScore",
          "traits": {
            "smithy.api#documentation": "<p>Current resiliency score for an application.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>Application\n      compliance against the resiliency policy.</p>"
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the compliance for the resiliency policy.</p>"
          }
        },
        "assessmentStatus": {
          "target": "com.amazonaws.resiliencehub#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the assessment for the resiliency policy.</p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Starting time for the action.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>End time for the action.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>Error or warning message from the assessment execution</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the assessment.</p>"
          }
        },
        "assessmentArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.resiliencehub#ResiliencyPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Resiliency policy of an application.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.resiliencehub#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. \nEach tag consists of a key/value pair.</p>"
          }
        },
        "resourceErrorsDetails": {
          "target": "com.amazonaws.resiliencehub#ResourceErrorsDetails",
          "traits": {
            "smithy.api#documentation": "<p> A resource error object containing a list of errors retrieving an application's\n      resources. </p>"
          }
        },
        "versionName": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version name of the published application.</p>"
          }
        },
        "driftStatus": {
          "target": "com.amazonaws.resiliencehub#DriftStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application assessment.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentScheduleType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Disabled",
            "name": "DISABLED"
          },
          {
            "value": "Daily",
            "name": "DAILY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentSummary": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version of an application.</p>"
          }
        },
        "assessmentStatus": {
          "target": "com.amazonaws.resiliencehub#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the assessment for the resiliency policy.</p>",
            "smithy.api#required": {}
          }
        },
        "invoker": {
          "target": "com.amazonaws.resiliencehub#AssessmentInvoker",
          "traits": {
            "smithy.api#documentation": "<p>Entity that invoked the assessment.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Starting time for the action.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>End time for the action.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>Message from the assessment run.</p>"
          }
        },
        "assessmentName": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the assessment.</p>"
          }
        },
        "assessmentArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>TCurrent status of compliance for the resiliency policy.</p>"
          }
        },
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>Cost for an application.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Current resiliency score for the application.</p>"
          }
        },
        "versionName": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Name of an application version.</p>"
          }
        },
        "driftStatus": {
          "target": "com.amazonaws.resiliencehub#DriftStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application assessment summary.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppAssessmentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppAssessmentSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppComplianceStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PolicyBreached",
            "name": "POLICY_BREACHED"
          },
          {
            "value": "PolicyMet",
            "name": "POLICY_MET"
          },
          {
            "value": "NotAssessed",
            "name": "NOT_ASSESSED"
          },
          {
            "value": "ChangesDetected",
            "name": "CHANGES_DETECTED"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppComponent": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Application Component.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>The type of Application Component.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Identifier\n      of the Application Component.</p>"
          }
        },
        "additionalInfo": {
          "target": "com.amazonaws.resiliencehub#AdditionalInfoMap",
          "traits": {
            "smithy.api#documentation": "<p>Additional configuration parameters for an Resilience Hub application. If you want to implement <code>additionalInfo</code> through the Resilience Hub console rather than using an API call, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/app-config-param.html\">Configure the application configuration parameters</a>.</p>\n         <note>\n            <p>Currently, this parameter accepts a key-value mapping (in a string format) of only one failover region and one associated account.</p>\n            <p>Key: <code>\"failover-regions\"</code>\n            </p>\n            <p>Value: <code>\"[{\"region\":\"&lt;REGION&gt;\", \"accounts\":[{\"id\":\"&lt;ACCOUNT_ID&gt;\"}]}]\"</code>\n            </p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an Application Component.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppComponentCompliance": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Application Component.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The compliance of the Application Component against the resiliency policy.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.resiliencehub#String500",
          "traits": {
            "smithy.api#documentation": "<p>The compliance message.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#ComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the action.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#ResiliencyScore",
          "traits": {
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the compliance of an Application Component against the resiliency policy.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppComponent"
      }
    },
    "com.amazonaws.resiliencehub#AppComponentNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#String255"
      }
    },
    "com.amazonaws.resiliencehub#AppDriftStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NotChecked",
            "name": "NOT_CHECKED"
          },
          {
            "value": "NotDetected",
            "name": "NOT_DETECTED"
          },
          {
            "value": "Detected",
            "name": "DETECTED"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppInputSource": {
      "type": "structure",
      "members": {
        "sourceName": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>The name of the input source.</p>"
          }
        },
        "importType": {
          "target": "com.amazonaws.resiliencehub#ResourceMappingType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the input source.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the input source. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>"
          }
        },
        "terraformSource": {
          "target": "com.amazonaws.resiliencehub#TerraformSource",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Terraform s3 state ﬁle.</p>"
          }
        },
        "resourceCount": {
          "target": "com.amazonaws.resiliencehub#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of resources.</p>"
          }
        },
        "eksSourceClusterNamespace": {
          "target": "com.amazonaws.resiliencehub#EksSourceClusterNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace on your Amazon Elastic Kubernetes Service cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of Resilience Hub application input sources.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppInputSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppInputSource"
      }
    },
    "com.amazonaws.resiliencehub#AppStatusType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "ACTIVE"
          },
          {
            "value": "Deleting",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AppSummary": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the app was created.</p>",
            "smithy.api#required": {}
          }
        },
        "complianceStatus": {
          "target": "com.amazonaws.resiliencehub#AppComplianceStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The current status of compliance for the resiliency policy.</p>"
          }
        },
        "resiliencyScore": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The current resiliency score for the application.</p>"
          }
        },
        "assessmentSchedule": {
          "target": "com.amazonaws.resiliencehub#AppAssessmentScheduleType",
          "traits": {
            "smithy.api#documentation": "<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehub#AppStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Status of the application.</p>"
          }
        },
        "driftStatus": {
          "target": "com.amazonaws.resiliencehub#AppDriftStatusType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if compliance drifts (deviations) were detected while running an assessment for\n      your application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an application summary.</p>"
      }
    },
    "com.amazonaws.resiliencehub#AppSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppTemplateBody": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 409600
        },
        "smithy.api#pattern": "^[\\w\\s:,-\\.'\\/{}\\[\\]:\"\\\\]+$"
      }
    },
    "com.amazonaws.resiliencehub#AppVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppVersionSummary"
      }
    },
    "com.amazonaws.resiliencehub#AppVersionSummary": {
      "type": "structure",
      "members": {
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Version of an application.</p>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "com.amazonaws.resiliencehub#LongOptional",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the application version.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.resiliencehub#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>Creation time of the application version.</p>"
          }
        },
        "versionName": {
          "target": "com.amazonaws.resiliencehub#EntityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Name of the application version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Version of an application.</p>"
      }
    },
    "com.amazonaws.resiliencehub#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+.-]{0,1023}$"
      }
    },
    "com.amazonaws.resiliencehub#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#Arn"
      }
    },
    "com.amazonaws.resiliencehub#AssessmentCompliance": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.resiliencehub#DisruptionType"
      },
      "value": {
        "target": "com.amazonaws.resiliencehub#DisruptionCompliance"
      }
    },
    "com.amazonaws.resiliencehub#AssessmentInvoker": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "User",
            "name": "USER"
          },
          {
            "value": "System",
            "name": "SYSTEM"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AssessmentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Pending",
            "name": "PENDING"
          },
          {
            "value": "InProgress",
            "name": "INPROGRESS"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "Success",
            "name": "SUCCESS"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#AssessmentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AssessmentStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.resiliencehub#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$"
      }
    },
    "com.amazonaws.resiliencehub#AwsResilienceHub": {
      "type": "service",
      "version": "2020-04-30",
      "operations": [
        {
          "target": "com.amazonaws.resiliencehub#AddDraftAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatus"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateAppVersionAppComponent"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateAppVersionResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateRecommendationTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#CreateResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteAppInputSource"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteAppVersionAppComponent"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteAppVersionResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteRecommendationTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#DeleteResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionAppComponent"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionResourcesResolutionStatus"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeAppVersionTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeDraftAppVersionResourcesImportStatus"
        },
        {
          "target": "com.amazonaws.resiliencehub#DescribeResiliencyPolicy"
        },
        {
          "target": "com.amazonaws.resiliencehub#ImportResourcesToDraftAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAlarmRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppAssessmentComplianceDrifts"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppAssessments"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppComponentCompliances"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppComponentRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppInputSources"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListApps"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersionAppComponents"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListAppVersions"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListRecommendationTemplates"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListResiliencyPolicies"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListSopRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListSuggestedResiliencyPolicies"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListTestRecommendations"
        },
        {
          "target": "com.amazonaws.resiliencehub#ListUnsupportedAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#PublishAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#PutDraftAppVersionTemplate"
        },
        {
          "target": "com.amazonaws.resiliencehub#RemoveDraftAppVersionResourceMappings"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResolveAppVersionResources"
        },
        {
          "target": "com.amazonaws.resiliencehub#StartAppAssessment"
        },
        {
          "target": "com.amazonaws.resiliencehub#TagResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#UntagResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateApp"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateAppVersion"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateAppVersionAppComponent"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateAppVersionResource"
        },
        {
          "target": "com.amazonaws.resiliencehub#UpdateResiliencyPolicy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "resiliencehub",
          "arnNamespace": "resiliencehub",
          "cloudFormationName": "Resiliencehub",
          "endpointPrefix": "resiliencehub"
        },
        "aws.auth#sigv4": {
          "name": "resiliencehub"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*,authorization,date,x-amz-date,x-amz-security-token,x-amz-target,content-type,x-amz-content-sha256,x-amz-user-agent,x-amzn-platform-id,x-amzn-trace-id,amz-sdk-invocation-id,amz-sdk-request"
          ]
        },
        "smithy.api#documentation": "<p>Resilience Hub helps you proactively prepare and protect your Amazon Web Services applications from\n      disruptions. It offers continual resiliency assessment and validation that integrates\n      into your software development lifecycle. This enables you to uncover resiliency weaknesses,\n      ensure recovery time objective (RTO) and recovery point objective (RPO) targets for your\n      applications are met, and resolve issues before they are released into production. </p>",
        "smithy.api#title": "AWS Resilience Hub",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://resiliencehub-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://resiliencehub.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ]
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://resiliencehub.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resiliencehub.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables you to include or exclude one or more operational recommendations.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/batch-update-recommendation-status",
          "code": 200
        }
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusFailedEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusFailedEntry"
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusFailedEntry": {
      "type": "structure",
      "members": {
        "entryId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>An identifier of an entry in this batch that is used to communicate the result.</p>\n         <note>\n            <p>The <code>entryId</code>s of a batch request need to be unique within a request.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.resiliencehub#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the error that occurred while excluding an operational recommendation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List\n      of operational recommendations that did not get included or excluded.</p>"
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusRequest": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "requestEntries": {
          "target": "com.amazonaws.resiliencehub#UpdateRecommendationStatusRequestEntries",
          "traits": {
            "smithy.api#documentation": "<p>Defines the list of operational recommendations that need to be included or excluded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusResponse": {
      "type": "structure",
      "members": {
        "appArn": {
          "target": "com.amazonaws.resiliencehub#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: \narn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, \nsee <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">\n                    Amazon Resource Names (ARNs)</a> in the \n                    <i>AWS General Reference</i> guide.</p>",
            "smithy.api#required": {}
          }
        },
        "successfulEntries": {
          "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusSuccessfulEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of items that were included or excluded.</p>",
            "smithy.api#required": {}
          }
        },
        "failedEntries": {
          "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusFailedEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of items with error details about each item, which could not be included or excluded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusSuccessfulEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusSuccessfulEntry"
      }
    },
    "com.amazonaws.resiliencehub#BatchUpdateRecommendationStatusSuccessfulEntry": {
      "type": "structure",
      "members": {
        "entryId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for an entry in this batch that is used to communicate the result.</p>\n         <note>\n            <p>The <code>entryId</code>s of a batch request need to be unique within a request.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "referenceId": {
          "target": "com.amazonaws.resiliencehub#SpecReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>Reference identifier of the operational recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "item": {
          "target": "com.amazonaws.resiliencehub#UpdateRecommendationStatusItem",
          "traits": {
            "smithy.api#documentation": "<p>The operational recommendation item.</p>",
            "smithy.api#required": {}
          }
        },
        "excluded": {
          "target": "com.amazonaws.resiliencehub#BooleanOptional",
          "traits": {
            "smithy.api#documentation": "<p>Indicates\n      if\n      the operational recommendation was successfully excluded.</p>",
            "smithy.api#required": {}
          }
        },
        "excludeReason": {
          "target": "com.amazonaws.resiliencehub#ExcludeRecommendationReason",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the reason for excluding an operational recommendation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List\n      of operational recommendations that were successfully included or excluded.</p>"
      }
    },
    "com.amazonaws.resiliencehub#BooleanOptional": {
      "type": "boolean"
    },
    "com.amazonaws.resiliencehub#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[A-za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.resiliencehub#ComplianceDrift": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of an entity in which drift was detected. For compliance drift, the entity ID\n      can be either application ID or the AppComponent ID.</p>"
          }
        },
        "entityType": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity in which drift was detected. For compliance drifts, Resilience Hub supports <code>AWS::ResilienceHub::AppComponent</code> and\n        <code>AWS::ResilienceHub::Application</code>.</p>"
          }
        },
        "driftType": {
          "target": "com.amazonaws.resiliencehub#DriftType",
          "traits": {
            "smithy.api#documentation": "<p>The type of drift detected. Currently, Resilience Hub supports only <b>ApplicationCompliance</b> drift type.</p>"
          }
        },
        "appId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Identifier\n      of your application.</p>"
          }
        },
        "appVersion": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Published version of your application on which drift was detected.</p>"
          }
        },
        "expectedReferenceId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Assessment identifier of a previous assessment of the same application version. Resilience Hub uses the previous assessment (associated with the reference identifier) to\n      compare the compliance with the current assessment to identify drifts.</p>"
          }
        },
        "expectedValue": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The expected compliance value of an entity.</p>"
          }
        },
        "actualReferenceId": {
          "target": "com.amazonaws.resiliencehub#String255",
          "traits": {
            "smithy.api#documentation": "<p>Assessment identifier that is associated with this drift item.</p>"
          }
        },
        "actualValue": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>Actual\n      compliance value of the entity.</p>"
          }
        },
        "diffType": {
          "target": "com.amazonaws.resiliencehub#DifferenceType",
          "traits": {
            "smithy.api#documentation": "<p>Difference\n      type between actual and expected\n      recovery\n      point\n      objective\n      (RPO) and\n      recovery\n      time\n      objective\n      (RTO) values. Currently, Resilience Hub supports only <b>NotEqual</b> difference type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates\n      the compliance drifts (recovery time objective (RTO) and recovery point\n      objective (RPO)) that\n      were detected for an assessed entity.</p>"
      }
    },
    "com.amazonaws.resiliencehub#ComplianceDriftList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#ComplianceDrift"
      }
    },
    "com.amazonaws.resiliencehub#ComplianceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PolicyBreached",
            "name": "POLICY_BREACHED"
          },
          {
            "value": "PolicyMet",
            "name": "POLICY_MET"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#ComponentCompliancesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#AppComponentCompliance"
      }
    },
    "com.amazonaws.resiliencehub#ComponentRecommendation": {
      "type": "structure",
      "members": {
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Application Component.</p>",
            "smithy.api#required": {}
          }
        },
        "recommendationStatus": {
          "target": "com.amazonaws.resiliencehub#RecommendationComplianceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of the recommendation.</p>",
            "smithy.api#required": {}
          }
        },
        "configRecommendations": {
          "target": "com.amazonaws.resiliencehub#ConfigRecommendationList",
          "traits": {
            "smithy.api#documentation": "<p>List of recommendations.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines recommendations for an Resilience Hub Application Component, returned as an\n      object. This object contains component names, configuration recommendations, and\n      recommendation statuses.</p>"
      }
    },
    "com.amazonaws.resiliencehub#ComponentRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#ComponentRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendation": {
      "type": "structure",
      "members": {
        "cost": {
          "target": "com.amazonaws.resiliencehub#Cost",
          "traits": {
            "smithy.api#documentation": "<p>The cost for the application.</p>"
          }
        },
        "appComponentName": {
          "target": "com.amazonaws.resiliencehub#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Application Component.</p>"
          }
        },
        "compliance": {
          "target": "com.amazonaws.resiliencehub#AssessmentCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The current compliance against the resiliency policy before applying the configuration\n      change.</p>"
          }
        },
        "recommendationCompliance": {
          "target": "com.amazonaws.resiliencehub#RecommendationCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The expected compliance against the resiliency policy after applying the configuration\n      change.</p>"
          }
        },
        "optimizationType": {
          "target": "com.amazonaws.resiliencehub#ConfigRecommendationOptimizationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of optimization.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehub#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recommendation configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehub#EntityDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for an app.</p>"
          }
        },
        "suggestedChanges": {
          "target": "com.amazonaws.resiliencehub#SuggestedChangesList",
          "traits": {
            "smithy.api#documentation": "<p>List of the suggested configuration changes.</p>"
          }
        },
        "haArchitecture": {
          "target": "com.amazonaws.resiliencehub#HaArchitecture",
          "traits": {
            "smithy.api#documentation": "<p>The architecture type.</p>"
          }
        },
        "referenceId": {
          "target": "com.amazonaws.resiliencehub#SpecReferenceId",
          "traits": {
            "smithy.api#documentation": "<p>Reference\n      identifier for the recommendation configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a recommendation configuration.</p>"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehub#ConfigRecommendation"
      }
    },
    "com.amazonaws.resiliencehub#ConfigRecommendationOptimizationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LeastCost",
            "name": "LEAST_COST"
          },
          {
            "value": "LeastChange",
            "name": "LEAST_CHANGE"
          },
          {
            "value": "BestAZRecovery",
            "name": "BEST_AZ_RECOVERY"
          },
          {
            "value": "LeastErrors",
            "name": "LEAST_ERRORS"
          },
          {
            "value": "BestAttainable",
            "name": "BEST_ATTAINABLE"
          },
          {
            "value": "BestRegionRecovery",
            "name": "BEST_REGION_RECOVERY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.resiliencehub#String500"
        },
        "resourceId": {
          "target": "com.amazonaws.resiliencehub#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that the exception applies to.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.resiliencehub#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that the exception applies to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This exception occurs when a conflict with a previous successful write is detected. This generally occurs\n      when the previous write did not have time to propagate to the host serving the current\n      request. A retry (with appropriate backoff logic) is the recommended response to this\n      exception.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.resiliencehub#Cost": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "com.amazonaws.resiliencehub#Double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The cost amount.</p>",
            "smithy.api#required": {}
          }
        },
        "currency": {
          "target": "com.amazonaws.resiliencehub#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The cost currency, for example <code>USD</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "frequency": {
          "target": "com.amazonaws.resiliencehub#CostFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The cost frequency.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a cost object.</p>"
      }
    },
    "com.amazonaws.resiliencehub#CostFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Hourly",
            "name": "HOURLY"
          },
          {
            "value": "Daily",
            "name": "DAILY"
          },
          {
            "value": "Monthly",
            "name": "MONTHLY"
          },
          {
            "value": "Yearly",
            "name": "YEARLY"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehub#CreateApp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehub#CreateAppRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehub#CreateAppResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehub#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehub#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehub#ValidationException"
        }
      ],
      "traits": {
[...]
