{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.resiliencehubv2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access denied — caller lacks required permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resiliencehubv2#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.resiliencehubv2#Achievability": {
      "type": "structure",
      "members": {
        "availabilitySlo": {
          "target": "com.amazonaws.resiliencehubv2#AchievabilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The achievability status of the availability SLO target for the service.</p>"
          }
        },
        "multiAzRtoRpo": {
          "target": "com.amazonaws.resiliencehubv2#AchievabilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The achievability status of the multi-AZ RTO and RPO targets for the service.</p>"
          }
        },
        "multiRegionRtoRpo": {
          "target": "com.amazonaws.resiliencehubv2#AchievabilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The achievability status of the multi-Region RTO and RPO targets for the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the achievability status of a service's resilience targets based on the most recent assessment.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AchievabilityStatus": {
      "type": "enum",
      "members": {
        "ACHIEVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACHIEVABLE"
          }
        },
        "NOT_ACHIEVABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACHIEVABLE"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#ActorType": {
      "type": "enum",
      "members": {
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        },
        "SYSTEM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SYSTEM"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>ARN identifier.</p>",
        "smithy.api#length": {
          "min": 31
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+.-]{0,1023}$"
      }
    },
    "com.amazonaws.resiliencehubv2#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#Arn"
      }
    },
    "com.amazonaws.resiliencehubv2#Assertion": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assertionId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the assertion.</p>",
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "com.amazonaws.resiliencehubv2#AssertionText",
          "traits": {
            "smithy.api#documentation": "<p>The text content of the assertion.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.resiliencehubv2#AssertionSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the assertion, indicating whether it was AI-generated or created by a user.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the assertion was created.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the assertion was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a resilience assertion for a service.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionCreatedMetadata": {
      "type": "structure",
      "members": {
        "assertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created assertion.</p>"
          }
        },
        "assertionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created assertion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for an assertion created event.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionDeletedMetadata": {
      "type": "structure",
      "members": {
        "assertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the deleted assertion.</p>"
          }
        },
        "assertionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted assertion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for an assertion deleted event.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#Assertion"
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionSource": {
      "type": "enum",
      "members": {
        "AI_GENERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI_GENERATED"
          }
        },
        "USER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AssertionUpdatedMetadata": {
      "type": "structure",
      "members": {
        "assertionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the updated assertion.</p>"
          }
        },
        "assertionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the updated assertion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for an assertion updated event.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentCost": {
      "type": "structure",
      "members": {
        "amount": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The cost amount for the assessment.</p>"
          }
        },
        "currency": {
          "target": "com.amazonaws.resiliencehubv2#CostCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The currency of the assessment cost.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the cost of running a failure mode assessment.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentErrorCode": {
      "type": "enum",
      "members": {
        "INVALID_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PERMISSIONS"
          }
        },
        "CMK_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CMK_ACCESS_DENIED"
          }
        },
        "AGENT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_ERROR"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "DESIGN_FILE_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DESIGN_FILE_ACCESS_DENIED"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentStatus": {
      "type": "enum",
      "members": {
        "NOT_STARTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_STARTED"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentStep": {
      "type": "enum",
      "members": {
        "TOPOLOGY_ENHANCEMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TOPOLOGY_ENHANCEMENT"
          }
        },
        "SERVICE_FUNCTION_GENERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_FUNCTION_GENERATION"
          }
        },
        "RESILIENCE_ASSESSMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESILIENCE_ASSESSMENT"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentSummary": {
      "type": "structure",
      "members": {
        "assessmentId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the assessment.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assessmentStatus": {
          "target": "com.amazonaws.resiliencehubv2#AssessmentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the assessment.</p>"
          }
        },
        "assessmentStep": {
          "target": "com.amazonaws.resiliencehubv2#AssessmentStep",
          "traits": {
            "smithy.api#documentation": "<p>The current step of the assessment process.</p>"
          }
        },
        "totalFindings": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of findings generated by the assessment.</p>"
          }
        },
        "startedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the assessment started.</p>"
          }
        },
        "endedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the assessment ended.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the error if the assessment failed.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.resiliencehubv2#AssessmentErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code if the assessment failed.</p>"
          }
        },
        "assessmentCost": {
          "target": "com.amazonaws.resiliencehubv2#AssessmentCost",
          "traits": {
            "smithy.api#documentation": "<p>The cost of the assessment.</p>"
          }
        },
        "billableAssessmentUnitCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of billable assessment units consumed by the assessment.</p>"
          }
        },
        "achievability": {
          "target": "com.amazonaws.resiliencehubv2#Achievability",
          "traits": {
            "smithy.api#documentation": "<p>The achievability results from the assessment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a failure mode assessment.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#AssessmentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#AssessmentSummary"
      }
    },
    "com.amazonaws.resiliencehubv2#AssociatedSystem": {
      "type": "structure",
      "members": {
        "systemArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "systemName": {
          "target": "com.amazonaws.resiliencehubv2#EntityName"
        },
        "userJourneyIds": {
          "target": "com.amazonaws.resiliencehubv2#UserJourneyIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of user journey identifiers that associate this system with the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a system associated with a service.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamSystemResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#AssociatedSystemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#AssociatedSystem"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.resiliencehubv2#AvailabilitySlo": {
      "type": "structure",
      "members": {
        "target": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The target availability percentage, expressed as a value between 0 and 100.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 100
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the availability service level objective (SLO) for a resilience policy.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.resiliencehubv2#AwsRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6
        },
        "smithy.api#pattern": "^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$"
      }
    },
    "com.amazonaws.resiliencehubv2#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Idempotency token.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[A-Za-z0-9_.-]{0,63}$"
      }
    },
    "com.amazonaws.resiliencehubv2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Conflict — resource already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.resiliencehubv2#CostCurrency": {
      "type": "enum",
      "members": {
        "USD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USD"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateAssertion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateAssertionRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateAssertionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an assertion for a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a resilience assertion for a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-assertion"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateAssertionRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "text": {
          "target": "com.amazonaws.resiliencehubv2#AssertionText",
          "traits": {
            "smithy.api#documentation": "<p>The text content of the assertion.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateAssertionResponse": {
      "type": "structure",
      "members": {
        "assertion": {
          "target": "com.amazonaws.resiliencehubv2#Assertion",
          "traits": {
            "smithy.api#documentation": "<p>The created assertion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateInputSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateInputSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateInputSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an input source for a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Creates an input source for a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-input-source"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateInputSourceRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceConfiguration": {
          "target": "com.amazonaws.resiliencehubv2#ResourceConfiguration",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateInputSourceResponse": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inputSourceId": {
          "target": "com.amazonaws.resiliencehubv2#InputSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the created input source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreatePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreatePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreatePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a resilience policy that defines availability and disaster recovery requirements",
          "resources": {
            "required": {
              "policy": {
                "conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"]
              }
            }
          },
          "createsResources": ["policy"]
        },
        "smithy.api#documentation": "<p>Creates a resilience policy that defines availability and disaster recovery requirements.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-policy"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreatePolicyRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehubv2#EntityName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#LongDescription"
        },
        "availabilitySlo": {
          "target": "com.amazonaws.resiliencehubv2#AvailabilitySlo",
          "traits": {
            "smithy.api#documentation": "<p>The availability SLO for the resilience policy.</p>"
          }
        },
        "multiAz": {
          "target": "com.amazonaws.resiliencehubv2#MultiAzTargets",
          "traits": {
            "smithy.api#documentation": "<p>The multi-AZ disaster recovery targets for the resilience policy.</p>"
          }
        },
        "multiRegion": {
          "target": "com.amazonaws.resiliencehubv2#MultiRegionTargets",
          "traits": {
            "smithy.api#documentation": "<p>The multi-Region disaster recovery targets for the resilience policy.</p>"
          }
        },
        "dataRecovery": {
          "target": "com.amazonaws.resiliencehubv2#DataRecoveryTargets",
          "traits": {
            "smithy.api#documentation": "<p>The data recovery targets for the resilience policy.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.resiliencehubv2#KmsKeyId"
        },
        "tags": {
          "target": "com.amazonaws.resiliencehubv2#TagMap"
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreatePolicyResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.resiliencehubv2#Policy",
          "traits": {
            "smithy.api#documentation": "<p>The created resilience policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateReportRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a report for a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>On-demand report creation. Idempotent — duplicate requests with same clientToken return existing result.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-report"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateReportRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reportType": {
          "target": "com.amazonaws.resiliencehubv2#ReportType",
          "traits": {
            "smithy.api#documentation": "<p>The type of report to generate.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateReportResponse": {
      "type": "structure",
      "members": {
        "reportGenerationResult": {
          "target": "com.amazonaws.resiliencehubv2#ReportGenerationResult",
          "traits": {
            "smithy.api#documentation": "<p>The result of the report generation request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"]
              }
            },
            "optional": {
              "policy": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              },
              "system": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          },
          "createsResources": ["service"]
        },
        "smithy.api#documentation": "<p>Creates a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-service"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a service function",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a service function within a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-service-function"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunctionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehubv2#EntityLabel",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#EntityDescription"
        },
        "criticality": {
          "target": "com.amazonaws.resiliencehubv2#ServiceFunctionCriticality",
          "traits": {
            "smithy.api#documentation": "<p>The criticality level of the service function.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunctionResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceFunctionResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateServiceFunctionResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create service function resources",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Associates resources with a service function.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-service-function-resources"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunctionResourcesRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the service function to associate resources with.</p>",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.resiliencehubv2#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources to associate with the service function.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunctionResourcesResponse": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn"
        },
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the service function.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.resiliencehubv2#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources that were associated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceFunctionResponse": {
      "type": "structure",
      "members": {
        "serviceFunction": {
          "target": "com.amazonaws.resiliencehubv2#ServiceFunction",
          "traits": {
            "smithy.api#documentation": "<p>The created service function.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehubv2#EntityName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#LongDescription"
        },
        "associatedSystems": {
          "target": "com.amazonaws.resiliencehubv2#AssociatedSystemList",
          "traits": {
            "smithy.api#documentation": "<p>The systems to associate with the service.</p>"
          }
        },
        "policyArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn"
        },
        "regions": {
          "target": "com.amazonaws.resiliencehubv2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Regions where the service operates.</p>",
            "smithy.api#required": {}
          }
        },
        "permissionModel": {
          "target": "com.amazonaws.resiliencehubv2#PermissionModel",
          "traits": {
            "smithy.api#documentation": "<p>The permission model for the service.</p>",
            "smithy.api#required": {}
          }
        },
        "dependencyDiscovery": {
          "target": "com.amazonaws.resiliencehubv2#DependencyDiscoveryInput"
        },
        "reportConfiguration": {
          "target": "com.amazonaws.resiliencehubv2#ServiceReportConfiguration"
        },
        "kmsKeyId": {
          "target": "com.amazonaws.resiliencehubv2#KmsKeyId"
        },
        "tags": {
          "target": "com.amazonaws.resiliencehubv2#TagMap"
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamPolicyResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.amazonaws.resiliencehubv2#Service",
          "traits": {
            "smithy.api#documentation": "<p>The created service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a system that represents a logical grouping of services",
          "resources": {
            "required": {
              "system": {
                "conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"]
              }
            }
          },
          "createsResources": ["system"]
        },
        "smithy.api#documentation": "<p>Creates a system that represents a logical grouping of services.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-system"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateSystemRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.resiliencehubv2#EntityName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#EntityDescription"
        },
        "sharingEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether cross-account sharing is enabled for the system.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.resiliencehubv2#KmsKeyId"
        },
        "tags": {
          "target": "com.amazonaws.resiliencehubv2#TagMap"
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateSystemResponse": {
      "type": "structure",
      "members": {
        "system": {
          "target": "com.amazonaws.resiliencehubv2#System",
          "traits": {
            "smithy.api#documentation": "<p>The created system.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CreateUserJourney": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#CreateUserJourneyRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#CreateUserJourneyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a user journey within a system",
          "resources": {
            "required": {
              "system": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            },
            "optional": {
              "policy": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Creates a user journey within a system.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/create-user-journey"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#CreateUserJourneyRequest": {
      "type": "structure",
      "members": {
        "systemArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.resiliencehubv2#EntityLabel",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#EntityDescription"
        },
        "policyArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn"
        },
        "clientToken": {
          "target": "com.amazonaws.resiliencehubv2#ClientToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamSystemResource"
          },
          {
            "resource": "com.amazonaws.resiliencehubv2#IamPolicyResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#CreateUserJourneyResponse": {
      "type": "structure",
      "members": {
        "userJourney": {
          "target": "com.amazonaws.resiliencehubv2#UserJourney",
          "traits": {
            "smithy.api#documentation": "<p>The created user journey.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#CrossAccountRole": {
      "type": "structure",
      "members": {
        "crossAccountRoleArn": {
          "target": "com.amazonaws.resiliencehubv2#IamRoleArn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The external ID used for assuming the cross-account role.</p>",
            "smithy.api#length": {
              "min": 2,
              "max": 1224
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a cross-account IAM role ARN and optional external ID.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#CrossAccountRoleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#CrossAccountRole"
      },
      "traits": {
        "smithy.api#length": {
          "max": 5
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DataRecoveryTargets": {
      "type": "structure",
      "members": {
        "timeBetweenBackupsInMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The target time between backups, in minutes.</p>",
            "smithy.api#range": {
              "min": 0
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines data recovery targets for a resilience policy.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteAssertion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteAssertionRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteAssertionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an assertion",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a resilience assertion from a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-assertion"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteAssertionRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assertionId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the assertion to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteAssertionResponse": {
      "type": "structure",
      "members": {
        "assertionId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the deleted assertion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteInputSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteInputSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteInputSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete an input source",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes an input source.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-input-source"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteInputSourceRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inputSourceId": {
          "target": "com.amazonaws.resiliencehubv2#InputSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the input source to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteInputSourceResponse": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "inputSourceId": {
          "target": "com.amazonaws.resiliencehubv2#InputSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deleted input source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeletePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeletePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeletePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a resilience policy",
          "resources": {
            "required": {
              "policy": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a resilience policy.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-policy"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeletePolicyRequest": {
      "type": "structure",
      "members": {
        "policyArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamPolicyResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeletePolicyResponse": {
      "type": "structure",
      "members": {
        "policyArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamPolicyResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-service"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a service function",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a service function.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-function"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunctionRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the service function to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete service function resources",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Removes resources from a service function.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-service-function-resources"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResourcesRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the service function to remove resources from.</p>",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.resiliencehubv2#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources to remove from the service function.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResourcesResponse": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn"
        },
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the service function.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.resiliencehubv2#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resources that were removed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceFunctionResponse": {
      "type": "structure",
      "members": {
        "serviceFunctionId": {
          "target": "com.amazonaws.resiliencehubv2#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deleted service function.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteServiceResponse": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a system",
          "resources": {
            "required": {
              "system": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a system.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-system"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteSystemRequest": {
      "type": "structure",
      "members": {
        "systemArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamSystemResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteSystemResponse": {
      "type": "structure",
      "members": {
        "systemArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamSystemResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteUserJourney": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#DeleteUserJourneyRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#DeleteUserJourneyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ConflictException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete a user journey",
          "resources": {
            "required": {
              "system": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Deletes a user journey.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v2/delete-user-journey"
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteUserJourneyRequest": {
      "type": "structure",
      "members": {
        "systemArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "userJourneyId": {
          "target": "com.amazonaws.resiliencehubv2#UserJourneyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user journey to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamSystemResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DeleteUserJourneyResponse": {
      "type": "structure",
      "members": {
        "userJourneyId": {
          "target": "com.amazonaws.resiliencehubv2#UserJourneyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deleted user journey.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#DependencyCriticality": {
      "type": "enum",
      "members": {
        "HARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HARD"
          }
        },
        "SOFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SOFT"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DependencyDiscoveryConfig": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.resiliencehubv2#DependencyDiscoveryStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of dependency discovery.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when dependency discovery was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for dependency discovery on a service.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#DependencyDiscoveryInput": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Caller-settable values for dependency discovery. INITIALIZING is system-managed.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#DependencyDiscoveryStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "INITIALIZING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#DependencySummary": {
      "type": "structure",
      "members": {
        "dependencyId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "dependencyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "dnsName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name associated with the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The location of the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "lastDetectedTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the dependency was last detected.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceRegions": {
          "target": "com.amazonaws.resiliencehubv2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>The source Regions from which the dependency was detected.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The provider of the dependency.</p>"
          }
        },
        "queryRange": {
          "target": "com.amazonaws.resiliencehubv2#QueryRange",
          "traits": {
            "smithy.api#documentation": "<p>The query range data for the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "criticality": {
          "target": "com.amazonaws.resiliencehubv2#DependencyCriticality",
          "traits": {
            "smithy.api#documentation": "<p>The criticality level of the dependency.</p>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-provided comment about the dependency.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a discovered dependency.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#DependencySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#DependencySummary"
      }
    },
    "com.amazonaws.resiliencehubv2#DisasterRecoverySource": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The disaster recovery approach value.</p>"
          }
        },
        "policyName": {
          "target": "com.amazonaws.resiliencehubv2#EntityName"
        },
        "source": {
          "target": "com.amazonaws.resiliencehubv2#PolicyValueSource",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the value comes from the service's own account or a cross-account policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the effective disaster recovery approach value for a service.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#EdgePropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#EdgePropertySummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 3
        }
      }
    },
    "com.amazonaws.resiliencehubv2#EdgePropertySummary": {
      "type": "structure",
      "members": {
        "topologyType": {
          "target": "com.amazonaws.resiliencehubv2#TopologyType",
          "traits": {
            "smithy.api#documentation": "<p>The topology type of the edge.</p>"
          }
        },
        "label": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Human-readable relationship description. Only present for LLM-inferred edges.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains property information for a service topology edge.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#EffectivePolicyValues": {
      "type": "structure",
      "members": {
        "availabilitySlo": {
          "target": "com.amazonaws.resiliencehubv2#SloSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective availability SLO value for the service.</p>"
          }
        },
        "multiAzRto": {
          "target": "com.amazonaws.resiliencehubv2#TargetSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-AZ RTO value for the service, in minutes.</p>"
          }
        },
        "multiAzRpo": {
          "target": "com.amazonaws.resiliencehubv2#TargetSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-AZ RPO value for the service, in minutes.</p>"
          }
        },
        "multiAzDrApproach": {
          "target": "com.amazonaws.resiliencehubv2#DisasterRecoverySource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-AZ disaster recovery approach for the service.</p>"
          }
        },
        "multiRegionRto": {
          "target": "com.amazonaws.resiliencehubv2#TargetSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-Region RTO value for the service, in minutes.</p>"
          }
        },
        "multiRegionRpo": {
          "target": "com.amazonaws.resiliencehubv2#TargetSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-Region RPO value for the service, in minutes.</p>"
          }
        },
        "multiRegionDrApproach": {
          "target": "com.amazonaws.resiliencehubv2#DisasterRecoverySource",
          "traits": {
            "smithy.api#documentation": "<p>The effective multi-Region disaster recovery approach for the service.</p>"
          }
        },
        "dataRecoveryTimeBetweenBackups": {
          "target": "com.amazonaws.resiliencehubv2#TargetSource",
          "traits": {
            "smithy.api#documentation": "<p>The effective data recovery time between backups value for the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the effective resilience policy values for a service.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#EksNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Kubernetes namespace name (RFC 1123 Label).</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
      }
    },
    "com.amazonaws.resiliencehubv2#EksNamespaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#EksNamespace"
      }
    },
    "com.amazonaws.resiliencehubv2#EksSource": {
      "type": "structure",
      "members": {
        "clusterArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "namespaces": {
          "target": "com.amazonaws.resiliencehubv2#EksNamespaceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of Kubernetes namespaces within the EKS cluster.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an Amazon EKS cluster and its namespaces as an input source for resource discovery.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#EntityDescription": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Resource description.</p>",
        "smithy.api#length": {
          "max": 500
        }
      }
    },
    "com.amazonaws.resiliencehubv2#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\S{1,255}$"
      }
    },
    "com.amazonaws.resiliencehubv2#EntityLabel": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Entity label (not part of ARN — spaces allowed).</p>",
        "smithy.api#length": {
          "min": 2,
          "max": 60
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9 _\\-]{1,59}$"
      }
    },
    "com.amazonaws.resiliencehubv2#EntityName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Resource name (used in ARN — no spaces allowed).</p>",
        "smithy.api#length": {
          "min": 2,
          "max": 60
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9_\\-]{1,59}$"
      }
    },
    "com.amazonaws.resiliencehubv2#EventActor": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.resiliencehubv2#ActorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of actor, either USER or SYSTEM.</p>",
            "smithy.api#required": {}
          }
        },
        "principalId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID of the actor.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID of the actor.</p>"
          }
        },
        "userName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The user name of the actor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies the actor that triggered an event.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#FailedReportOutput": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.resiliencehubv2#ReportGenerationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code describing why the report generation failed.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message describing why the report generation failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details when report generation failed.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#FailureCategory": {
      "type": "enum",
      "members": {
        "SHARED_FATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SHARED_FATE"
          }
        },
        "EXCESSIVE_LOAD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCESSIVE_LOAD"
          }
        },
        "EXCESSIVE_LATENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCESSIVE_LATENCY"
          }
        },
        "MISCONFIGURATION_AND_BUGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISCONFIGURATION_AND_BUGS"
          }
        },
        "SINGLE_POINT_OF_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_POINT_OF_FAILURE"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#Finding": {
      "type": "structure",
      "members": {
        "findingId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the finding.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the finding.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#EntityDescription"
        },
        "failureCategory": {
          "target": "com.amazonaws.resiliencehubv2#FailureCategory",
          "traits": {
            "smithy.api#documentation": "<p>The failure category of the finding.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehubv2#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the finding.</p>"
          }
        },
        "reasoning": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reasoning behind the finding.</p>"
          }
        },
        "comment": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A user-provided comment about the finding.</p>",
            "smithy.api#length": {
              "max": 2048
            }
          }
        },
        "severity": {
          "target": "com.amazonaws.resiliencehubv2#FindingSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the finding.</p>"
          }
        },
        "serviceFunctions": {
          "target": "com.amazonaws.resiliencehubv2#FunctionsList",
          "traits": {
            "smithy.api#documentation": "<p>The service functions associated with the finding.</p>"
          }
        },
        "policyComponent": {
          "target": "com.amazonaws.resiliencehubv2#PolicyComponent",
          "traits": {
            "smithy.api#documentation": "<p>The policy component associated with the finding.</p>"
          }
        },
        "infrastructureAndCodeRecommendations": {
          "target": "com.amazonaws.resiliencehubv2#InfrastructureAndCodeRecommendationsList",
          "traits": {
            "smithy.api#documentation": "<p>Infrastructure and code recommendations to address the finding.</p>"
          }
        },
        "observabilityRecommendations": {
          "target": "com.amazonaws.resiliencehubv2#ObservabilityRecommendationsList",
          "traits": {
            "smithy.api#documentation": "<p>Observability recommendations to address the finding.</p>"
          }
        },
        "testingRecommendations": {
          "target": "com.amazonaws.resiliencehubv2#TestingRecommendationsList",
          "traits": {
            "smithy.api#documentation": "<p>Testing recommendations to address the finding.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the finding was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a resilience finding from a failure mode assessment.</p>"
      }
    },
    "com.amazonaws.resiliencehubv2#FindingSeverity": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#FindingStatus": {
      "type": "enum",
      "members": {
        "OPEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPEN"
          }
        },
        "RESOLVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOLVED"
          }
        },
        "IRRELEVANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IRRELEVANT"
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#FindingSummary": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn"
        },
        "findingId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the finding.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the finding.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.resiliencehubv2#EntityDescription"
        },
        "failureCategory": {
          "target": "com.amazonaws.resiliencehubv2#FailureCategory",
          "traits": {
            "smithy.api#documentation": "<p>The failure category of the finding.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.resiliencehubv2#FindingSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the finding.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.resiliencehubv2#FindingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the finding.</p>"
          }
        },
        "policyComponent": {
          "target": "com.amazonaws.resiliencehubv2#PolicyComponent",
          "traits": {
            "smithy.api#documentation": "<p>The policy component associated with the finding.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the finding was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains summary information about a finding.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#FindingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#FindingSummary"
      }
    },
    "com.amazonaws.resiliencehubv2#FunctionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resiliencehubv2#EntityId"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.resiliencehubv2#GetFailureModeFinding": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#GetFailureModeFindingRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#GetFailureModeFindingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to retrieve a failure mode finding",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Retrieves a finding by findingId.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/get-failure-mode-finding"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resiliencehubv2#GetFailureModeFindingRequest": {
      "type": "structure",
      "members": {
        "findingId": {
          "target": "com.amazonaws.resiliencehubv2#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the finding to retrieve.</p>",
            "smithy.api#httpQuery": "findingId",
            "smithy.api#required": {}
          }
        },
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#httpQuery": "serviceArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#GetFailureModeFindingResponse": {
      "type": "structure",
      "members": {
        "finding": {
          "target": "com.amazonaws.resiliencehubv2#Finding",
          "traits": {
            "smithy.api#documentation": "<p>The requested finding.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#GetPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#GetPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#GetPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to retrieve a resilience policy",
          "resources": {
            "required": {
              "policy": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Retrieves a resilience policy by ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/get-policy"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resiliencehubv2#GetPolicyRequest": {
      "type": "structure",
      "members": {
        "policyArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#httpQuery": "policyArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamPolicyResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#GetPolicyResponse": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.resiliencehubv2#Policy",
          "traits": {
            "smithy.api#documentation": "<p>The requested resilience policy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#GetService": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#GetServiceRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#GetServiceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to retrieve a service",
          "resources": {
            "required": {
              "service": {
                "conditionKeys": ["aws:ResourceTag/${TagKey}"]
              }
            }
          }
        },
        "smithy.api#documentation": "<p>Retrieves a service by ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v2/get-service"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ServiceAssessmentCompleted": {
            "documentation": "Wait until a service assessment completes successfully",
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "service.assessmentStatus",
                    "expected": "SUCCESS",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "service.assessmentStatus",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "ServiceResourceDiscoveryCompleted": {
            "documentation": "Wait until service resource discovery completes",
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "service.resourceDiscovery.status",
                    "expected": "SUCCEEDED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "service.resourceDiscovery.status",
                    "expected": "COMPLETED_WITH_FAILURES",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "service.resourceDiscovery.status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.resiliencehubv2#GetServiceRequest": {
      "type": "structure",
      "members": {
        "serviceArn": {
          "target": "com.amazonaws.resiliencehubv2#Arn",
          "traits": {
            "smithy.api#httpQuery": "serviceArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.resiliencehubv2#IamServiceResource"
          }
        ]
      }
    },
    "com.amazonaws.resiliencehubv2#GetServiceResponse": {
      "type": "structure",
      "members": {
        "service": {
          "target": "com.amazonaws.resiliencehubv2#Service",
          "traits": {
            "smithy.api#documentation": "<p>The requested service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resiliencehubv2#GetSystem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resiliencehubv2#GetSystemRequest"
      },
      "output": {
        "target": "com.amazonaws.resiliencehubv2#GetSystemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.resiliencehubv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resiliencehubv2#InternalServerException"
[...]
