{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.resourcegroups#Ardi": {
      "type": "service",
      "version": "2017-11-27",
      "operations": [
        {
          "target": "com.amazonaws.resourcegroups#CreateGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#DeleteGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroupConfiguration"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroupQuery"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetTags"
        },
        {
          "target": "com.amazonaws.resourcegroups#GroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#ListGroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#ListGroups"
        },
        {
          "target": "com.amazonaws.resourcegroups#SearchResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#Tag"
        },
        {
          "target": "com.amazonaws.resourcegroups#UngroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#Untag"
        },
        {
          "target": "com.amazonaws.resourcegroups#UpdateGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#UpdateGroupQuery"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Resource Groups",
          "arnNamespace": "resource-groups",
          "cloudFormationName": "ResourceGroups",
          "cloudTrailEventSource": "resourcegroups.amazonaws.com",
          "endpointPrefix": "resource-groups"
        },
        "aws.auth#sigv4": {
          "name": "resource-groups"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS Resource Groups</fullname>\n\n        <p>AWS Resource Groups lets you organize AWS resources such as Amazon EC2 instances, Amazon Relational Database Service\n            databases, and Amazon S3 buckets into groups using criteria that you define as tags. A\n            resource group is a collection of resources that match the resource types specified in a\n            query, and share one or more tags or portions of tags. You can create a group of\n            resources based on their roles in your cloud infrastructure, lifecycle stages, regions,\n            application layers, or virtually any criteria. Resource Groups enable you to automate management\n            tasks, such as those in AWS Systems Manager Automation documents, on tag-related resources in\n            AWS Systems Manager. Groups of tagged resources also let you quickly view a custom console in\n            AWS Systems Manager that shows AWS Config compliance and other monitoring data about member\n            resources.</p>\n        <p>To create a resource group, build a resource query, and specify tags that identify the\n            criteria that members of the group have in common. Tags are key-value pairs.</p>\n        <p>For more information about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">AWS Resource Groups User Guide</a>.</p>\n        <p>AWS Resource Groups uses a REST-compliant API that you can use to perform the following types of\n            operations.</p>\n        <ul>\n            <li>\n                <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and\n                    resource query entities</p>\n            </li>\n            <li>\n                <p>Applying, editing, and removing tags from resource groups</p>\n            </li>\n            <li>\n                <p>Resolving resource group member ARNs so they can be returned as search\n                    results</p>\n            </li>\n            <li>\n                <p>Getting data about resources that are members of a group</p>\n            </li>\n            <li>\n                <p>Searching AWS resources based on a resource query</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Resource Groups"
      }
    },
    "com.amazonaws.resourcegroups#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request includes one or more parameters that violate validation rules.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcegroups#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#CreateGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#CreateGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource group with the specified name and description. You can optionally\n            include a resource query, or a service configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#CreateGroupInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group, which is the identifier of the group in other operations. You\n            can't change the name of a resource group after you create it. A resource group name can\n            consist of letters, numbers, hyphens, periods, and underscores. The name cannot start\n            with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name\n            must be unique within each AWS Region in your AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.resourcegroups#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group. Descriptions can consist of letters, numbers,\n            hyphens, underscores, periods, and spaces.</p>"
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query that determines which AWS resources are members of this\n            group.</p>\n        <note>\n            <p>You can specify either a <code>ResourceQuery</code> or a\n                    <code>Configuration</code>, but not both.</p>\n        </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the group. A tag is key-value pair string.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A configuration associates the resource group with an AWS service and specifies how\n            the service can interact with the resources in the group. A configuration is an array of\n                <a>GroupConfigurationItem</a> elements.</p>\n        <note>\n            <p>You can specify either a <code>Configuration</code> or a\n                    <code>ResourceQuery</code> in a group, but not both.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#CreateGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group.</p>"
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query associated with the group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the group.</p>"
          }
        },
        "GroupConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The service configuration associated with the resource group. AWS Resource Groups\n            supports adding service configurations for the following resource group types:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>AWS::EC2::CapacityReservationPool</code> - Amazon EC2 capacity\n                    reservation pools. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/capacity-reservations-using.html#create-cr-group\">Working with capacity reservation groups</a> in the <i>EC2 Users\n                        Guide</i>.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#DeleteGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#DeleteGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource group. Deleting a resource group does not delete any\n            resources that are members of the group; it only deletes the group structure.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroupInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>A full description of the deleted resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        },
        "smithy.api#pattern": "[\\sa-zA-Z0-9_\\.-]*"
      }
    },
    "com.amazonaws.resourcegroups#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.resourcegroups#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.resourcegroups#FailedResource": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.resourcegroups#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that failed to be added or removed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message text associated with the failure.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.resourcegroups#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that failed to be added to or removed from a group.</p>"
      }
    },
    "com.amazonaws.resourcegroups#FailedResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#FailedResource"
      }
    },
    "com.amazonaws.resourcegroups#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resourcegroups#GetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specified resource group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the service configuration associated with the specified resource group. AWS\n            Resource Groups supports configurations for the following resource group types:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>AWS::EC2::CapacityReservationPool</code> - Amazon EC2 capacity\n                    reservation pools. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/capacity-reservations-using.html#create-cr-group\">Working with capacity reservation groups</a> in the <i>EC2 Users\n                        Guide</i>.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfigurationInput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfigurationOutput": {
      "type": "structure",
      "members": {
        "GroupConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration associated with the specified group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>A full description of the resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupQueryInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource query associated with the specified resource group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group-query",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQueryInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to query.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQueryOutput": {
      "type": "structure",
      "members": {
        "GroupQuery": {
          "target": "com.amazonaws.resourcegroups#GroupQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query associated with the specified group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetTagsInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags that are associated with a resource group, specified by an\n            ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resources/{Arn}/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTagsInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group whose tags you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTagsOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the tagged resource group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the specified resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Group": {
      "type": "structure",
      "members": {
        "GroupArn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.resourcegroups#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource group that contains AWS resources. You can assign resources to the group\n            by associating either of the following elements with the group:</p>\n        <ul>\n            <li>\n                <p>\n                  <a>ResourceQuery</a> - Use a resource query to specify a set of tag\n                    keys and values. All resources in the same AWS Region and AWS account that\n                    have those keys with the same values are included in the group. You can add a\n                    resource query when you create the\n                    group.</p>\n            </li>\n            <li>\n                <p>\n                  <a>GroupConfiguration</a> - Use a service configuration to\n                    associate the group with an AWS service. The configuration specifies which\n                    resource types can be included in the group.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.resourcegroups#GroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 1600
        },
        "smithy.api#pattern": "arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}(-[a-z]+)+-\\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\\.-]{1,128}"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfiguration": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration currently associated with the group and in effect.</p>"
          }
        },
        "ProposedConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>If present, the new configuration that is in the process of being applied to the\n            group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of an attempt to update the group configuration.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If present, the reason why a request to update the group configuration failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A service configuration associated with a resource group. The configuration options\n            are determined by the AWS service that defines the <code>Type</code>, and specifies\n            which resources can be included in the group. You can add a service configuration when\n            you create the\n            group.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationFailureReason": {
      "type": "string"
    },
    "com.amazonaws.resourcegroups#GroupConfigurationItem": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of group configuration item. Each item must have a unique value for\n                <code>type</code>.</p>\n        <p>You can specify the following string values:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>AWS::EC2::CapacityReservationPool</code>\n               </p>\n                <p>For more information about EC2 capacity reservation groups, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/capacity-reservations-using.html#create-cr-group\">Working with capacity reservation groups</a> in the <i>EC2\n                        Users Guide</i>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>AWS::ResourceGroups::Generic</code> - Supports parameters that configure\n                    the behavior of resource groups of any type.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.resourcegroups#GroupParameterList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of parameters for this group configuration item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An item in a group configuration. A group configuration can have one or more\n            items.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupConfigurationItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationParameter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group configuration parameter.</p>\n        <p>You can specify the following string values:</p>\n        <ul>\n            <li>\n                <p>For configuration item type <code>AWS::ResourceGroups::Generic</code>:</p>\n                <ul>\n                  <li>\n                        <p>\n                        <code>allowed-resource-types</code>\n                     </p>\n                        <p>Specifies the types of resources that you can add to this group by\n                            using the <a>GroupResources</a> operation.</p>\n                    </li>\n               </ul>\n            </li>\n            <li>\n                <p>For configuration item type\n                    <code>AWS::EC2::CapacityReservationPool</code>:</p>\n                <ul>\n                  <li>\n                        <p>None - This configuration item type doesn't support any\n                            parameters.</p>\n                    </li>\n               </ul>\n                <p>For more information about EC2 capacity reservation groups, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/capacity-reservations-using.html#create-cr-group\">Working with capacity reservation groups</a> in the <i>EC2\n                        Users Guide</i>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The values of for this parameter.</p>\n        <p>You can specify the following string value:</p>\n        <ul>\n            <li>\n                <p>For item type <code>allowed-resource-types</code>: the only supported\n                    parameter value is <code>AWS::EC2::CapacityReservation</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A parameter for a group configuration item.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationParameterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        },
        "smithy.api#pattern": "[a-z-]+"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationParameterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        },
        "smithy.api#pattern": "[a-zA-Z0-9:]+"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupConfigurationParameterValue"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "UPDATE_COMPLETE",
            "name": "UPDATE_COMPLETE"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          }
        ]
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        },
        "smithy.api#pattern": "AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+"
      }
    },
    "com.amazonaws.resourcegroups#GroupFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter. Filter names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.resourcegroups#GroupFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>One or more filter values. Allowed filter values vary by group filter name, and are\n            case-sensitive.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter collection that you can use to restrict the results from a <code>List</code>\n            operation to only those you want to include.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupFilter"
      }
    },
    "com.amazonaws.resourcegroups#GroupFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "resource-type",
            "name": "ResourceType"
          },
          {
            "value": "configuration-type",
            "name": "ConfigurationType"
          }
        ]
      }
    },
    "com.amazonaws.resourcegroups#GroupFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "AWS::(AllSupported|[a-zA-Z0-9]+::[a-zA-Z0-9]+)"
      }
    },
    "com.amazonaws.resourcegroups#GroupFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.resourcegroups#GroupIdentifier": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource group.</p>"
          }
        },
        "GroupArn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The unique identifiers for a resource group.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupIdentifier"
      }
    },
    "com.amazonaws.resourcegroups#GroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#Group"
      }
    },
    "com.amazonaws.resourcegroups#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_\\.-]+"
      }
    },
    "com.amazonaws.resourcegroups#GroupParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupConfigurationParameter"
      }
    },
    "com.amazonaws.resourcegroups#GroupQuery": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource group that is associated with the specified resource\n            query.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query that determines which AWS resources are members of the associated\n            resource group.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A mapping of a query attached to a resource group that determines the AWS resources\n            that are members of the group.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GroupResourcesInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GroupResourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified resources to the specified group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/group-resources",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GroupResourcesInput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to add resources to.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArns": {
          "target": "com.amazonaws.resourcegroups#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ARNs for resources to be added to the group. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GroupResourcesOutput": {
      "type": "structure",
      "members": {
        "Succeeded": {
          "target": "com.amazonaws.resourcegroups#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the resources that were successfully added to the group by this\n            operation.</p>"
          }
        },
        "Failed": {
          "target": "com.amazonaws.resourcegroups#FailedResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the resources that failed to be added to the group by this\n            operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GroupString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "(arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}(-[a-z]+)+-\\d{1}:[0-9]{12}:group/)?[a-zA-Z0-9_\\.-]{1,128}"
      }
    },
    "com.amazonaws.resourcegroups#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error occurred while processing the request. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.resourcegroups#ListGroupResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#ListGroupResourcesInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#ListGroupResourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.resourcegroups#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of ARNs of the resources that are members of a specified resource\n            group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/list-group-resources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.resourcegroups#ListGroupResourcesInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.resourcegroups#ResourceFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters, formatted as <a>ResourceFilter</a> objects, that you want to apply\n            to a <code>ListGroupResources</code> operation. Filters the results to include only\n            those of the specified resource types.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>resource-type</code> - Filter resources by their type. Specify up to\n                    five resource types in the format <code>AWS::ServiceCode::ResourceType</code>.\n                    For example, <code>AWS::EC2::Instance</code>, or <code>AWS::S3::Bucket</code>.\n                </p>\n            </li>\n         </ul>\n        <p>When you specify a <code>resource-type</code> filter for\n                <code>ListGroupResources</code>, AWS Resource Groups validates your filter resource types\n            against the types that are defined in the query associated with the group. For example,\n            if a group contains only S3 buckets because its query specifies only that resource type,\n            but your <code>resource-type</code> filter includes EC2 instances, AWS Resource Groups\n            does not filter for EC2 instances. In this case, a <code>ListGroupResources</code>\n            request returns a <code>BadRequestException</code> error with a message similar to the\n            following:</p>\n        <p>\n            <code>The resource types specified as filters in the request are not\n            valid.</code>\n         </p>\n        <p>The error includes a list of resource types that failed the validation because they\n            are not part of the query associated with the group. This validation doesn't occur when\n            the group query specifies <code>AWS::AllSupported</code>, because a group based on such\n            a query can contain any of the allowed resource types for the query type (tag-based or\n            AWS CloudFormation stack-based queries).</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.resourcegroups#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of results that you want included on each page of the \nresponse. If you do not include this parameter, it defaults to a value that is specific to the \noperation. If additional items exist beyond the maximum you specify, the <code>NextToken</code> \nresponse element is present and has a value (is not null). Include that value as the \n<code>NextToken</code> request parameter in the next call to the operation to get the next part \nof the results. Note that the service might return fewer results than the maximum even when there \nare more results available. You should check <code>NextToken</code> after every operation to \nensure that you receive all of the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a\n<code>NextToken</code> response in a previous request. A <code>NextToken</code> response \nindicates that more output is available. Set this parameter to the value provided by a previous \ncall's <code>NextToken</code> response to indicate where the output should continue from.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#ListGroupResourcesOutput": {
      "type": "structure",
      "members": {
        "ResourceIdentifiers": {
          "target": "com.amazonaws.resourcegroups#ResourceIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs and resource types of resources that are members of the group that you\n            specified.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \nincluded in the current response. Use this value in the <code>NextToken</code> request parameter \nin a subsequent call to the operation to get the next part of the output. You should repeat this \nuntil the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "QueryErrors": {
          "target": "com.amazonaws.resourcegroups#QueryErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>QueryError</code> objects. Each error is an object that contains\n                <code>ErrorCode</code> and <code>Message</code> structures. Possible values for\n                <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and\n                <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#ListGroupsInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#ListGroupsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of existing resource groups in your account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/groups-list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.resourcegroups#ListGroupsInput": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.resourcegroups#GroupFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Filters, formatted as <a>GroupFilter</a> objects, that you want to apply to\n            a <code>ListGroups</code> operation.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>resource-type</code> - Filter the results to include only those of the\n                    specified resource types. Specify up to five resource types in the format\n                            <code>AWS::<i>ServiceCode</i>::<i>ResourceType</i>\n                  </code>.\n                    For example, <code>AWS::EC2::Instance</code>, or\n                    <code>AWS::S3::Bucket</code>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>configuration-type</code> - Filter the results to include only those\n                    groups that have the specified configuration types attached. The current\n                    supported values are:</p>\n                <ul>\n                  <li>\n                        <p>AWS:EC2::CapacityReservationPool</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.resourcegroups#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of results that you want included on each page of the \nresponse. If you do not include this parameter, it defaults to a value that is specific to the \noperation. If additional items exist beyond the maximum you specify, the <code>NextToken</code> \nresponse element is present and has a value (is not null). Include that value as the \n<code>NextToken</code> request parameter in the next call to the operation to get the next part \nof the results. Note that the service might return fewer results than the maximum even when there \nare more results available. You should check <code>NextToken</code> after every operation to \nensure that you receive all of the results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a\n<code>NextToken</code> response in a previous request. A <code>NextToken</code> response \nindicates that more output is available. Set this parameter to the value provided by a previous \ncall's <code>NextToken</code> response to indicate where the output should continue from.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#ListGroupsOutput": {
      "type": "structure",
      "members": {
        "GroupIdentifiers": {
          "target": "com.amazonaws.resourcegroups#GroupIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a>GroupIdentifier</a> objects. Each identifier is an object that\n            contains both the <code>Name</code> and the <code>GroupArn</code>.</p>"
          }
        },
        "Groups": {
          "target": "com.amazonaws.resourcegroups#GroupList",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use GroupIdentifiers instead."
            },
            "smithy.api#documentation": "<p>This output element is deprecated and shouldn't be used. Refer to\n                <code>GroupIdentifiers</code> instead.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \nincluded in the current response. Use this value in the <code>NextToken</code> request parameter \nin a subsequent call to the operation to get the next part of the output. You should repeat this \nuntil the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.resourcegroups#MethodNotAllowedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request uses an HTTP method that isn't allowed for the specified resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 405
      }
    },
    "com.amazonaws.resourcegroups#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^[a-zA-Z0-9+/]*={0,2}$"
      }
    },
    "com.amazonaws.resourcegroups#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the specified resources don't exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.resourcegroups#Query": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "[\\s\\S]*"
      }
    },
    "com.amazonaws.resourcegroups#QueryError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.resourcegroups#QueryErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Possible values are <code>CLOUDFORMATION_STACK_INACTIVE</code> and\n                <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.resourcegroups#QueryErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that explains the <code>ErrorCode</code> value. Messages might state that\n            the specified CloudFormation stack does not exist (or no longer exists). For\n                <code>CLOUDFORMATION_STACK_INACTIVE</code>, the message typically states that the\n            CloudFormation stack has a status that is not (or no longer) active, such as\n                <code>CREATE_FAILED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A two-part error structure that can occur in <code>ListGroupResources</code> or\n                <code>SearchResources</code> operations on CloudFormation stack-based queries. The error\n            occurs if the CloudFormation stack on which the query is based either does not exist, or has a\n            status that renders the stack inactive. A <code>QueryError</code> occurrence does not\n            necessarily mean that AWS Resource Groups could not complete the operation, but the resulting\n            group might have no member resources.</p>"
      }
    },
    "com.amazonaws.resourcegroups#QueryErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUDFORMATION_STACK_INACTIVE",
            "name": "CLOUDFORMATION_STACK_INACTIVE"
          },
          {
            "value": "CLOUDFORMATION_STACK_NOT_EXISTING",
            "name": "CLOUDFORMATION_STACK_NOT_EXISTING"
          }
        ]
      }
    },
    "com.amazonaws.resourcegroups#QueryErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#QueryError"
      }
    },
    "com.amazonaws.resourcegroups#QueryErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.resourcegroups#QueryType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TAG_FILTERS_1_0",
            "name": "TAG_FILTERS_1_0"
          },
          {
            "value": "CLOUDFORMATION_STACK_1_0",
            "name": "CLOUDFORMATION_STACK_1_0"
          }
        ],
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^\\w+$"
      }
    },
    "com.amazonaws.resourcegroups#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "arn:aws(-[a-z]+)*:[a-z0-9\\-]*:([a-z]{2}(-[a-z]+)+-\\d{1})?:([0-9]{12})?:.+"
      }
    },
    "com.amazonaws.resourcegroups#ResourceArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#ResourceArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.resourcegroups#ResourceFilter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.resourcegroups#ResourceFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter. Filter names are case-sensitive.</p>",
            "smithy.api#required": {}
          }
        },
        "Values": {
          "target": "com.amazonaws.resourcegroups#ResourceFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>One or more filter values. Allowed filter values vary by resource filter name, and are\n            case-sensitive.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter name and value pair that is used to obtain more specific results from a list\n            of resources.</p>"
      }
    },
    "com.amazonaws.resourcegroups#ResourceFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#ResourceFilter"
      }
    },
    "com.amazonaws.resourcegroups#ResourceFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "resource-type",
            "name": "ResourceType"
          }
        ]
      }
    },
    "com.amazonaws.resourcegroups#ResourceFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+"
      }
    },
    "com.amazonaws.resourcegroups#ResourceFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#ResourceFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.resourcegroups#ResourceIdentifier": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.resourcegroups#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.resourcegroups#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of a resource, such as <code>AWS::EC2::Instance</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ARN of a resource, and its resource type.</p>"
      }
    },
    "com.amazonaws.resourcegroups#ResourceIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#ResourceIdentifier"
      }
    },
    "com.amazonaws.resourcegroups#ResourceQuery": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.resourcegroups#QueryType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the query. You can use the following values:</p>\n        <ul>\n            <li>\n                <p>\n                  <i>\n                     <code>CLOUDFORMATION_STACK_1_0:</code>\n                  </i>Specifies that the\n                        <code>Query</code> contains an ARN for a CloudFormation stack.</p>\n            </li>\n            <li>\n                <p>\n                  <i>\n                     <code>TAG_FILTERS_1_0:</code>\n                  </i>Specifies that the\n                        <code>Query</code> parameter contains a JSON string that represents a\n                    collection of simple tag filters for resource types and tags. The JSON string\n                    uses a syntax similar to the <code>\n                     <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html\">GetResources</a>\n                  </code> operation, but uses only the <code>\n                     <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html#resourcegrouptagging-GetResources-request-ResourceTypeFilters\"> ResourceTypeFilters</a>\n                  </code> and <code>\n                     <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html#resourcegrouptagging-GetResources-request-TagFiltersTagFilters\">TagFilters</a>\n                  </code> fields. If you specify more than one tag key,\n                    only resources that match all tag keys, and at least one value of each specified\n                    tag key, are returned in your query. If you specify more than one value for a\n                    tag key, a resource matches the filter if it has a tag key value that matches\n                        <i>any</i> of the specified values.</p>\n                <p>For example, consider the following sample query for resources that have two\n                    tags, <code>Stage</code> and <code>Version</code>, with two values each:</p>\n                <p>\n                  <code>[{\"Stage\":[\"Test\",\"Deploy\"]},{\"Version\":[\"1\",\"2\"]}]</code>\n               </p>\n                <p>The results of this query could include the following.</p>\n                <ul>\n                  <li>\n                        <p>An EC2 instance that has the following two tags:\n                                <code>{\"Stage\":\"Deploy\"}</code>, and\n                            <code>{\"Version\":\"2\"}</code>\n                     </p>\n                    </li>\n                  <li>\n                        <p>An S3 bucket that has the following two tags:\n                                <code>{\"Stage\":\"Test\"}</code>, and\n                            <code>{\"Version\":\"1\"}</code>\n                     </p>\n                    </li>\n               </ul>\n                <p>The query would not include the following items in the results, however. </p>\n                <ul>\n                  <li>\n                        <p>An EC2 instance that has only the following tag:\n                                <code>{\"Stage\":\"Deploy\"}</code>.</p>\n                        <p>The instance does not have <b>all</b> of the\n                            tag keys specified in the filter, so it is excluded from the\n                            results.</p>\n                    </li>\n                  <li>\n                        <p>An RDS database that has the following two tags:\n                                <code>{\"Stage\":\"Archived\"}</code> and\n                            <code>{\"Version\":\"4\"}</code>\n                     </p>\n                        <p>The database has all of the tag keys, but none of those keys has an\n                            associated value that matches at least one of the specified values in\n                            the filter.</p>\n                    </li>\n               </ul>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Query": {
          "target": "com.amazonaws.resourcegroups#Query",
          "traits": {
            "smithy.api#documentation": "<p>The query that defines a group or a search.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The query that is used to define a resource group or a search for resources. A query\n            specifies both a query type and a query string as a JSON object. See the examples\n            section for example JSON strings.</p>\n        <p>The examples that follow are shown as standard JSON strings. If you include such a\n            string as a parameter to the AWS CLI or an SDK API, you might need to 'escape' the\n            string into a single line. For example, see the <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-parameters-quoting-strings.html\">Quoting\n                strings</a> in the <i>AWS CLI User Guide</i>.</p>\n                <p>\n            <b>Example 1</b>\n         </p>\n                <p>The following generic example shows a resource query JSON string that includes\n                    only resources that meet the following criteria:</p>\n                <ul>\n            <li>\n                        <p>The resource type must be either <code>resource_type1</code> or\n                                <code>resource_type2</code>.</p>\n                    </li>\n            <li>\n                        <p>The resource must have a tag <code>Key1</code> with a value of either\n                                <code>ValueA</code> or <code>ValueB</code>.</p>\n                    </li>\n            <li>\n                        <p>The resource must have a tag <code>Key2</code> with a value of either\n                                <code>ValueC</code> or <code>ValueD</code>.</p>\n                    </li>\n         </ul>\n                <p>\n            <code>{\n    \"Type\": \"TAG_FILTERS_1_0\",\n    \"Query\": {\n        \"ResourceTypeFilters\": [ \"resource_type1\", \"resource_type2\"],\n        \"TagFilters\": [\n            {\n                \"Key\": \"Key1\",\n                \"Values\": [\"ValueA\",\"ValueB\"]\n            },\n            {\n                \"Key\":\"Key2\",\n                \"Values\":[\"ValueC\",\"ValueD\"]\n            }\n        ]\n    }\n}</code>\n         </p>\n        <p>This has the equivalent \"shortcut\" syntax of the following:</p>\n        <p>\n            <code>{\n    \"Type\": \"TAG_FILTERS_1_0\",\n    \"Query\": {\n        \"ResourceTypeFilters\": [ \"resource_type1\", \"resource_type2\"],\n        \"TagFilters\": [\n            { \"Key1\": [\"ValueA\",\"ValueB\"] },\n            { \"Key2\": [\"ValueC\",\"ValueD\"]\n            }\n        ]\n    }\n}</code>\n         </p>\n        <p>\n            <b>Example 2</b>\n         </p>\n        <p>The following example shows a resource query JSON string that includes only\n                    Amazon EC2 instances that are tagged <code>Stage</code> with a value of\n                        <code>Test</code>.</p>\n                <p>\n            <code>{\n    \"Type\": \"TAG_FILTERS_1_0\",\n    \"Query\": \"{\n        \"ResourceTypeFilters\": \"AWS::EC2::Instance\",\n        \"TagFilters\": { \"Stage\": \"Test\" }\n    }\n}</code>\n         </p>\n        <p>\n            <b>Example 3</b>\n         </p>\n        <p>The following example shows a resource query JSON string that includes\n                    resource of any supported type as long as it is tagged <code>Stage</code> with a\n                    value of <code>Prod</code>.</p>\n        <p>\n            <code>{\n    \"Type\": \"TAG_FILTERS_1_0\",\n    \"Query\": {\n        \"ResourceTypeFilters\": \"AWS::AllSupported\",\n        \"TagFilters\": { \"Stage\": \"Prod\" }\n    }\n}</code>\n         </p>\n        <p>\n            <b>Example 4</b>\n         </p>\n        <p>The following example shows a resource query JSON string that includes only\n                    Amazon EC2 instances and Amazon S3 buckets that are part of the specified AWS CloudFormation\n                    stack.</p>\n        <p>\n            <code>{\n    \"Type\": \"CLOUDFORMATION_STACK_1_0\",\n    \"Query\": {\n        \"ResourceTypeFilters\": [ \"AWS::EC2::Instance\", \"AWS::S3::Bucket\" ],\n        \"StackIdentifier\": \"arn:aws:cloudformation:us-west-2:123456789012:stack/AWStestuseraccount/fb0d5000-aba8-00e8-aa9e-50d5cEXAMPLE\"\n    }\n}</code>\n         </p>"
      }
    },
    "com.amazonaws.resourcegroups#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "AWS::[a-zA-Z0-9]+::\\w+"
      }
    },
    "com.amazonaws.resourcegroups#SearchResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#SearchResourcesInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#SearchResourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.resourcegroups#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of AWS resource identifiers that matches the specified query. The\n            query uses the same format as a resource query in a CreateGroup or UpdateGroupQuery\n            operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/resources/search",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.resourcegroups#SearchResourcesInput": {
      "type": "structure",
      "members": {
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The search query, using the same formats that are supported for resource group\n            definition. For more information, see <a>CreateGroup</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.resourcegroups#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of results that you want included on each page of the \nresponse. If you do not include this parameter, it defaults to a value that is specific to the \noperation. If additional items exist beyond the maximum you specify, the <code>NextToken</code> \nresponse element is present and has a value (is not null). Include that value as the \n<code>NextToken</code> request parameter in the next call to the operation to get the next part \nof the results. Note that the service might return fewer results than the maximum even when there \nare more results available. You should check <code>NextToken</code> after every operation to \nensure that you receive all of the results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a\n<code>NextToken</code> response in a previous request. A <code>NextToken</code> response \nindicates that more output is available. Set this parameter to the value provided by a previous \ncall's <code>NextToken</code> response to indicate where the output should continue from.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#SearchResourcesOutput": {
      "type": "structure",
      "members": {
        "ResourceIdentifiers": {
          "target": "com.amazonaws.resourcegroups#ResourceIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs and resource types of resources that are members of the group that you\n            specified.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.resourcegroups#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \nincluded in the current response. Use this value in the <code>NextToken</code> request parameter \nin a subsequent call to the operation to get the next part of the output. You should repeat this \nuntil the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        },
        "QueryErrors": {
          "target": "com.amazonaws.resourcegroups#QueryErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>QueryError</code> objects. Each error is an object that contains\n                <code>ErrorCode</code> and <code>Message</code> structures. Possible values for\n                <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and\n                <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Tag": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#TagInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#TagOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds tags to a resource group with the specified ARN. Existing tags on a resource\n            group are not changed if they are not specified in the request parameters.</p>\n        <important>\n            <p>Do not store personally identifiable information (PII) or other confidential or\n                sensitive information in tags. We use tags to provide you with billing and\n                administration services. Tags are not intended to be used for private or sensitive\n                data.</p>\n        </important>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/resources/{Arn}/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#TagInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group to which to add tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the specified resource group. A tag is a string-to-string map of\n            key-value pairs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.resourcegroups#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#TagKey"
      }
    },
    "com.amazonaws.resourcegroups#TagOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the tagged resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags that have been added to the specified resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.resourcegroups#Tags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.resourcegroups#TagKey"
      },
      "value": {
        "target": "com.amazonaws.resourcegroups#TagValue"
      }
    },
    "com.amazonaws.resourcegroups#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You've exceeded throttling limits by making too many requests in a period of\n            time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.resourcegroups#UnauthorizedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it doesn't have valid credentials for the target\n            resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.resourcegroups#UngroupResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#UngroupResourcesInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#UngroupResourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the specified resources from the specified group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ungroup-resources",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#UngroupResourcesInput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group from which to remove the resources.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArns": {
          "target": "com.amazonaws.resourcegroups#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the resources to be removed from the group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UngroupResourcesOutput": {
      "type": "structure",
      "members": {
        "Succeeded": {
          "target": "com.amazonaws.resourcegroups#ResourceArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the resources that were successfully removed from the group.</p>"
          }
        },
        "Failed": {
          "target": "com.amazonaws.resourcegroups#FailedResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The resources that failed to be removed from the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Untag": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#UntagInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#UntagOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes tags from a specified resource group.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/resources/{Arn}/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#UntagInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group from which to remove tags. The command removed both the\n            specified keys and any values associated with those keys.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Keys": {
          "target": "com.amazonaws.resourcegroups#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The keys of the tags to be removed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UntagOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group from which tags have been removed.</p>"
          }
        },
        "Keys": {
          "target": "com.amazonaws.resourcegroups#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The keys of the tags that were removed.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#UpdateGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#UpdateGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the description for an existing group. You cannot update the name of a\n            resource group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/update-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroupInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to modify.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.resourcegroups#Description",
          "traits": {
            "smithy.api#documentation": "<p>The new description that you want to update the resource group with. Descriptions can\n            contain letters, numbers, hyphens, underscores, periods, and spaces.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>The update description of the resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroupQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#UpdateGroupQueryInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#UpdateGroupQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the resource query of a group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/update-group-query",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroupQueryInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to query.</p>"
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query to determine which AWS resources are members of this resource\n            group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#UpdateGroupQueryOutput": {
      "type": "structure",
      "members": {
        "GroupQuery": {
          "target": "com.amazonaws.resourcegroups#GroupQuery",
          "traits": {
            "smithy.api#documentation": "<p>The updated resource query associated with the resource group after the update.</p>"
          }
        }
      }
    }
  }
}
