{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.resourcegroups#AccountSettings": {
      "type": "structure",
      "members": {
        "GroupLifecycleEventsDesiredStatus": {
          "target": "com.amazonaws.resourcegroups#GroupLifecycleEventsDesiredStatus",
          "traits": {
            "smithy.api#documentation": "<p>The desired target status of the group lifecycle events feature. If</p>"
          }
        },
        "GroupLifecycleEventsStatus": {
          "target": "com.amazonaws.resourcegroups#GroupLifecycleEventsStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the group lifecycle events feature.</p>"
          }
        },
        "GroupLifecycleEventsStatusMessage": {
          "target": "com.amazonaws.resourcegroups#GroupLifecycleEventsStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The text of any error message occurs during an attempt to turn group lifecycle events on or off.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Resource Groups settings for this Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.resourcegroups#Ardi": {
      "type": "service",
      "version": "2017-11-27",
      "operations": [
        {
          "target": "com.amazonaws.resourcegroups#CreateGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#DeleteGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroupConfiguration"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetGroupQuery"
        },
        {
          "target": "com.amazonaws.resourcegroups#GetTags"
        },
        {
          "target": "com.amazonaws.resourcegroups#GroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#ListGroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#ListGroups"
        },
        {
          "target": "com.amazonaws.resourcegroups#PutGroupConfiguration"
        },
        {
          "target": "com.amazonaws.resourcegroups#SearchResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#Tag"
        },
        {
          "target": "com.amazonaws.resourcegroups#UngroupResources"
        },
        {
          "target": "com.amazonaws.resourcegroups#Untag"
        },
        {
          "target": "com.amazonaws.resourcegroups#UpdateAccountSettings"
        },
        {
          "target": "com.amazonaws.resourcegroups#UpdateGroup"
        },
        {
          "target": "com.amazonaws.resourcegroups#UpdateGroupQuery"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Resource Groups",
          "arnNamespace": "resource-groups",
          "cloudFormationName": "ResourceGroups",
          "cloudTrailEventSource": "resourcegroups.amazonaws.com",
          "endpointPrefix": "resource-groups"
        },
        "aws.auth#sigv4": {
          "name": "resource-groups"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Resource Groups lets you organize Amazon Web Services resources such as Amazon Elastic Compute Cloud instances, Amazon Relational Database Service\n            databases, and Amazon Simple Storage Service buckets into groups using criteria that you define as tags. A\n            resource group is a collection of resources that match the resource types specified in a\n            query, and share one or more tags or portions of tags. You can create a group of\n            resources based on their roles in your cloud infrastructure, lifecycle stages, regions,\n            application layers, or virtually any criteria. Resource Groups enable you to automate management\n            tasks, such as those in Amazon Web Services Systems Manager Automation documents, on tag-related resources in\n            Amazon Web Services Systems Manager. Groups of tagged resources also let you quickly view a custom console in\n            Amazon Web Services Systems Manager that shows Config compliance and other monitoring data about member\n            resources.</p>\n         <p>To create a resource group, build a resource query, and specify tags that identify the\n            criteria that members of the group have in common. Tags are key-value pairs.</p>\n         <p>For more information about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">Resource Groups User Guide</a>.</p>\n         <p>Resource Groups uses a REST-compliant API that you can use to perform the following types of\n            operations.</p>\n         <ul>\n            <li>\n               <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and\n                    resource query entities</p>\n            </li>\n            <li>\n               <p>Applying, editing, and removing tags from resource groups</p>\n            </li>\n            <li>\n               <p>Resolving resource group member ARNs so they can be returned as search\n                    results</p>\n            </li>\n            <li>\n               <p>Getting data about resources that are members of a group</p>\n            </li>\n            <li>\n               <p>Searching Amazon Web Services resources based on a resource query</p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Resource Groups",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resource-groups-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://resource-groups.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://resource-groups-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resource-groups.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://resource-groups.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-groups.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.resourcegroups#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request includes one or more parameters that violate validation rules.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.resourcegroups#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#CreateGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#CreateGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource group with the specified name and description. You can optionally\n            include either a resource query or a service configuration. For more information about\n            constructing a resource query, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/getting_started-query.html\">Build queries and groups in\n                Resource Groups</a> in the <i>Resource Groups User Guide</i>. For more information\n            about service-linked groups and service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for Resource Groups</a>.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:CreateGroup</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#CreateGroupInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group, which is the identifier of the group in other operations. You\n            can't change the name of a resource group after you create it. A resource group name can\n            consist of letters, numbers, hyphens, periods, and underscores. The name cannot start\n            with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name\n            must be unique within each Amazon Web Services Region in your Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.resourcegroups#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group. Descriptions can consist of letters, numbers,\n            hyphens, underscores, periods, and spaces.</p>"
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query that determines which Amazon Web Services resources are members of this group.\n            For more information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create\n                a tag-based group in Resource Groups</a>. </p>\n         <note>\n            <p>A resource group can contain either a <code>ResourceQuery</code> or a\n                    <code>Configuration</code>, but not both.</p>\n         </note>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the group. A tag is key-value pair string.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A configuration associates the resource group with an Amazon Web Services service and specifies how\n            the service can interact with the resources in the group. A configuration is an array of\n                <a>GroupConfigurationItem</a> elements. For details about the syntax of\n            service configurations, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for Resource Groups</a>.</p>\n         <note>\n            <p>A resource group can contain either a <code>Configuration</code> or a\n                    <code>ResourceQuery</code>, but not both.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#CreateGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group.</p>"
          }
        },
        "ResourceQuery": {
          "target": "com.amazonaws.resourcegroups#ResourceQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query associated with the group. For more information about resource\n            queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create\n                a tag-based group in Resource Groups</a>. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the group.</p>"
          }
        },
        "GroupConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The service configuration associated with the resource group. For details about the\n            syntax of a service configuration, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for Resource Groups</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#DeleteGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#DeleteGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource group. Deleting a resource group does not delete any\n            resources that are members of the group; it only deletes the group structure.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:DeleteGroup</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delete-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroupInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Deprecated - don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#DeleteGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>A full description of the deleted resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\sa-zA-Z0-9_\\.-]*$"
      }
    },
    "com.amazonaws.resourcegroups#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.resourcegroups#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.resourcegroups#FailedResource": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.resourcegroups#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that failed to be added or removed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message text associated with the failure.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.resourcegroups#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource that failed to be added to or removed from a group.</p>"
      }
    },
    "com.amazonaws.resourcegroups#FailedResourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#FailedResource"
      }
    },
    "com.amazonaws.resourcegroups#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.resourcegroups#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The caller isn't authorized to make the request. Check permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resourcegroups#GetAccountSettings": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetAccountSettingsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the current status of optional features in Resource Groups.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-account-settings",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetAccountSettingsOutput": {
      "type": "structure",
      "members": {
        "AccountSettings": {
          "target": "com.amazonaws.resourcegroups#AccountSettings",
          "traits": {
            "smithy.api#documentation": "<p>The current settings for the optional features in Resource Groups.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specified resource group.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:GetGroup</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the service configuration associated with the specified resource group. For\n            details about the service configuration syntax, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for Resource Groups</a>.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:GetGroupConfiguration</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfigurationInput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group for which you want to retrive the service\n            configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupConfigurationOutput": {
      "type": "structure",
      "members": {
        "GroupConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure that describes the service configuration attached with the specified\n            group. For details about the service configuration syntax, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for\n                Resource Groups</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Deprecated - don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupOutput": {
      "type": "structure",
      "members": {
        "Group": {
          "target": "com.amazonaws.resourcegroups#Group",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the metadata details for the specified resource group. Use\n                <a>GetGroupQuery</a> and <a>GetGroupConfiguration</a> to get\n            those additional details of the resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetGroupQueryInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetGroupQueryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the resource query associated with the specified resource group. For more\n            information about resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create\n                a tag-based group in Resource Groups</a>.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:GetGroupQuery</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/get-group-query",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQueryInput": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This field is deprecated, use Group instead."
            },
            "smithy.api#documentation": "<p>Don't use this parameter. Use <code>Group</code> instead.</p>"
          }
        },
        "Group": {
          "target": "com.amazonaws.resourcegroups#GroupString",
          "traits": {
            "smithy.api#documentation": "<p>The name or the ARN of the resource group to query.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetGroupQueryOutput": {
      "type": "structure",
      "members": {
        "GroupQuery": {
          "target": "com.amazonaws.resourcegroups#GroupQuery",
          "traits": {
            "smithy.api#documentation": "<p>The resource query associated with the specified group. For more information about\n            resource queries, see <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/gettingstarted-query.html#gettingstarted-query-cli-tag\">Create\n                a tag-based group in Resource Groups</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourcegroups#GetTagsInput"
      },
      "output": {
        "target": "com.amazonaws.resourcegroups#GetTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourcegroups#BadRequestException"
        },
        {
          "target": "com.amazonaws.resourcegroups#ForbiddenException"
        },
        {
          "target": "com.amazonaws.resourcegroups#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.resourcegroups#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.resourcegroups#NotFoundException"
        },
        {
          "target": "com.amazonaws.resourcegroups#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags that are associated with a resource group, specified by an\n            ARN.</p>\n         <p>\n            <b>Minimum permissions</b>\n         </p>\n         <p>To run this command, you must have the following permissions:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>resource-groups:GetTags</code>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resources/{Arn}/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTagsInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group whose tags you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#GetTagsOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the tagged resource group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourcegroups#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the specified resource group.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourcegroups#Group": {
      "type": "structure",
      "members": {
        "GroupArn": {
          "target": "com.amazonaws.resourcegroups#GroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource group.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.resourcegroups#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource group.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.resourcegroups#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource group that contains Amazon Web Services resources. You can assign resources to the group\n            by associating either of the following elements with the group:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ResourceQuery</a> - Use a resource query to specify a set of tag\n                    keys and values. All resources in the same Amazon Web Services Region and Amazon Web Services account that\n                    have those keys with the same values are included in the group. You can add a\n                    resource query when you create the group, or later by using the <a>PutGroupConfiguration</a> operation.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GroupConfiguration</a> - Use a service configuration to\n                    associate the group with an Amazon Web Services service. The configuration specifies which\n                    resource types can be included in the group.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.resourcegroups#GroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}(-[a-z]+)+-\\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\\.-]{1,300}$"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfiguration": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration currently associated with the group and in effect.</p>"
          }
        },
        "ProposedConfiguration": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>If present, the new configuration that is in the process of being applied to the\n            group.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of an attempt to update the group configuration.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>If present, the reason why a request to update the group configuration failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A service configuration associated with a resource group. The configuration options\n            are determined by the Amazon Web Services service that defines the <code>Type</code>, and specifies\n            which resources can be included in the group. You can add a service configuration when\n            you create the group by using <a>CreateGroup</a>, or later by using the <a>PutGroupConfiguration</a> operation. For details about group service\n            configuration syntax, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for resource\n                groups</a>.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationFailureReason": {
      "type": "string"
    },
    "com.amazonaws.resourcegroups#GroupConfigurationItem": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.resourcegroups#GroupConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of group configuration item. Each item must have a unique value for\n                <code>type</code>. For the list of types that you can specify for a configuration\n            item, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html#about-slg-types\">Supported resource types and\n                parameters</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.resourcegroups#GroupParameterList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of parameters for this group configuration item. For the list of\n            parameters that you can use with each configuration item type, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html#about-slg-types\">Supported\n                resource types and parameters</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An item in a group configuration. A group service configuration can have one or more\n            items. For details about group service configuration syntax, see <a href=\"https://docs.aws.amazon.com/ARG/latest/APIReference/about-slg.html\">Service configurations for\n                resource groups</a>.</p>"
      }
    },
    "com.amazonaws.resourcegroups#GroupConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourcegroups#GroupConfigurationItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
[...]
