{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.resourceexplorer2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The credentials that you used to call this operation don't have the minimum required\n            permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the specified view as the default for the Amazon Web Services Region in which you call this\n            operation. When a user performs a <a>Search</a> that doesn't explicitly\n            specify which view to use, then Amazon Web Services Resource Explorer automatically chooses this default view for\n            searches performed in this Amazon Web Services Region.</p>\n         <p>If an Amazon Web Services Region doesn't have a default view \n    configured, then users must explicitly specify a view with every <code>Search</code> \n    operation performed in that Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/AssociateDefaultView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and\n            Amazon Web Services account in which you call this operation. The specified view must already exist in\n            the called Region.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made\n            in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about a list of views.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewError": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view for which Resource Explorer failed to retrieve details.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error for the specified view.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of error messages for any views that Amazon Web Services Resource Explorer couldn't retrieve\n            details.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewError"
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewInput": {
      "type": "structure",
      "members": {
        "ViewArns": {
          "target": "com.amazonaws.resourceexplorer2#ViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource names (ARNs)</a> that identify the views you want details for.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewOutput": {
      "type": "structure",
      "members": {
        "Views": {
          "target": "com.amazonaws.resourceexplorer2#ViewList",
          "traits": {
            "smithy.api#documentation": "<p>A structure with a list of objects with details for each of the specified\n            views.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.resourceexplorer2#BatchGetViewErrors",
          "traits": {
            "smithy.api#documentation": "<p>If any of the specified ARNs result in an error, then this structure describes the\n            error.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CfnIndex": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndex"
      },
      "update": {
        "target": "com.amazonaws.resourceexplorer2#UpdateIndexType"
      },
      "delete": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndex"
      },
      "list": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexes"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CfnView": {
      "type": "resource",
      "identifiers": {
        "ViewArn": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.resourceexplorer2#CreateView"
      },
      "read": {
        "target": "com.amazonaws.resourceexplorer2#GetView"
      },
      "update": {
        "target": "com.amazonaws.resourceexplorer2#UpdateView"
      },
      "delete": {
        "target": "com.amazonaws.resourceexplorer2#DeleteView"
      },
      "list": {
        "target": "com.amazonaws.resourceexplorer2#ListViews"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You tried to create a new view or index when one already exists, and you either didn't\n            specify or specified a different idempotency token as the original request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndexInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Turns on Amazon Web Services Resource Explorer in the Amazon Web Services Region in which you called this operation by creating\n            an index. Resource Explorer begins discovering the resources in this Region and stores the details\n            about the resources in the index so that they can be queried by using the <a>Search</a> operation. You can create only one index in a Region.</p>\n         <note>\n            <p>This operation creates only a <i>local</i> index. To promote the\n                local index in one Amazon Web Services Region into the aggregator index for the Amazon Web Services account, use the\n                    <a>UpdateIndexType</a> operation. For more information, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search by creating an aggregator index</a> in the\n                    <i>Amazon Web Services Resource Explorer User Guide</i>.</p>\n         </note>\n         <p>For more details about what happens when you turn on Resource Explorer in an Amazon Web Services Region, see\n                <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-service-activate.html\">Turn\n                on Resource Explorer to index your resources in an Amazon Web Services Region</a> in the\n                <i>Amazon Web Services Resource Explorer User Guide</i>.</p>\n         <p>If this is the first Amazon Web Services Region in which you've created an index for Resource Explorer, then\n            this operation also <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">creates a\n                service-linked role</a> in your Amazon Web Services account that allows Resource Explorer to enumerate\n            your resources to populate the index.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Action</b>:\n                        <code>resource-explorer-2:CreateIndex</code>\n               </p>\n               <p>\n                  <b>Resource</b>: The ARN of the index (as it will\n                    exist after the operation completes) in the Amazon Web Services Region and account in which\n                    you're trying to create the index. Use the wildcard character (<code>*</code>)\n                    at the end of the string to match the eventual UUID. For example, the following\n                        <code>Resource</code> element restricts the role or user to creating an\n                    index in only the <code>us-east-2</code> Region of the specified account.</p>\n               <p>\n                  <code>\"Resource\":\n                            \"arn:aws:resource-explorer-2:us-west-2:<i>&lt;account-id&gt;</i>:index/*\"</code>\n               </p>\n               <p>Alternatively, you can use <code>\"Resource\": \"*\"</code> to allow the role or\n                    user to create an index in any Region.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Action</b>:\n                        <code>iam:CreateServiceLinkedRole</code>\n               </p>\n               <p>\n                  <b>Resource</b>: No specific resource (*). </p>\n               <p>This permission is required only the first time you create an index to turn on\n                    Resource Explorer in the account. Resource Explorer uses this to create the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">service-linked\n                        role needed to index the resources in your account</a>. Resource Explorer uses the\n                    same service-linked role for all additional indexes you create\n                    afterwards.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateIndex"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndexInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>This value helps ensure idempotency. Resource Explorer uses this value to prevent the\n        accidental creation of duplicate versions. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type\n        value</a> to ensure the uniqueness of your views.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>The specified tags are attached only to the index created in this Amazon Web Services Region. The\n            tags aren't attached to any of the resources listed in the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new local index for the Region. You can reference this ARN in IAM\n            permission policies to authorize the following operations: <a>DeleteIndex</a>\n            | <a>GetIndex</a> | <a>UpdateIndexType</a> | <a>CreateView</a>\n         </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current state of the index. You can check for changes to the state for\n            asynchronous operations by calling the <a>GetIndex</a> operation.</p>\n         <note>\n            <p>The state can remain in the <code>CREATING</code> or <code>UPDATING</code> state\n                for several hours as Resource Explorer discovers the information about your resources and\n                populates the index.</p>\n         </note>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and timestamp when the index was created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#CreateViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#CreateViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a view that users can query by using the <a>Search</a> operation.\n            Results from queries that you make using this view include only resources that match the\n            view's <code>Filters</code>. For more information about Amazon Web Services Resource Explorer views, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-views.html\">Managing views</a>\n            in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p>\n         <p>Only the principals with an IAM identity-based policy that grants <code>Allow</code>\n            to the <code>Search</code> action on a <code>Resource</code> with the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of\n            this view can <a>Search</a> using views you create with this\n            operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateView"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateViewInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>This value helps ensure idempotency. Resource Explorer uses this value to prevent the\n        accidental creation of duplicate versions. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type\n        value</a> to ensure the uniqueness of your views.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        },
        "ViewName": {
          "target": "com.amazonaws.resourceexplorer2#ViewName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new view. This name appears in the list of views in Resource Explorer.</p>\n         <p>The name must be no more than 64 characters long, and can include letters, digits, and\n            the dash (-) character. The name must be unique within its Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludedProperties": {
          "target": "com.amazonaws.resourceexplorer2#IncludedPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies optional fields that you want included in search results from this\n        view. It is a list of objects that each describe a field to include.</p>\n         <p>The default is an empty list, with no optional fields included in the results.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.resourceexplorer2#SearchFilter",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specify which resources are included in the results of \n            queries made using this view. When you use this view in a <a>Search</a> \n            operation, the filter string is combined with the search's <code>QueryString</code> \n            parameter using a logical <code>AND</code> operator.</p>\n         <p>For information about the supported syntax, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html\">Search query reference for\n                Resource Explorer</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p>\n         <important>\n            <p>This query string in the context of this operation supports only <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-filters\">filter\n                    prefixes</a> with optional <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-operators\">operators</a>. It doesn't support free-form text. For example, the \n                    string <code>region:us* service:ec2 -tag:stage=prod</code> includes all Amazon EC2 \n                    resources in any Amazon Web Services Region that begins with the letters <code>us</code> and is\n                    <i>not</i> tagged with a key <code>Stage</code> that has the value\n                    <code>prod</code>.</p>\n         </important>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateViewOutput": {
      "type": "structure",
      "members": {
        "View": {
          "target": "com.amazonaws.resourceexplorer2#View",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details about the new view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DefaultViewAssociation": {
      "type": "resource",
      "identifiers": {
        "ViewArn": {
          "target": "smithy.api#String"
        }
      },
      "put": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultView"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndexInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified index and turns off Amazon Web Services Resource Explorer in the specified Amazon Web Services Region.\n            When you delete an index, Resource Explorer stops discovering and indexing resources in that\n            Region. Resource Explorer also deletes all views in that Region. These actions occur as\n            asynchronous background tasks. You can check to see when the actions are complete by\n            using the <a>GetIndex</a> operation and checking the <code>Status</code>\n            response value.</p>\n         <note>\n            <p>If the index you delete is the aggregator index for the Amazon Web Services account, you must\n                wait 24 hours before you can promote another local index to be the\n                aggregator index for the account. Users can't perform account-wide searches using\n                Resource Explorer until another aggregator index is configured.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteIndex"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndexInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index that you successfully started the deletion\n            process.</p>\n         <note>\n            <p>This operation is asynchronous. To check its status, call the <a>GetIndex</a> operation.</p>\n         </note>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current state of the index. </p>"
          }
        },
        "LastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when you last updated this index.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#DeleteViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#DeleteViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified view.</p>\n         <p>If the specified view is the default view for its Amazon Web Services Region, then all <a>Search</a> operations in that Region must explicitly specify the view to use\n            until you configure a new default by calling the <a>AssociateDefaultView</a>\n            operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you want to delete.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you successfully deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DisassociateDefaultView": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you call this operation, the affected Amazon Web Services Region no longer has a default view.\n            All <a>Search</a> operations in that Region must explicitly specify a view or\n            the operation fails. You can configure a new default by calling the <a>AssociateDefaultView</a> operation.</p>\n         <p>If an Amazon Web Services Region doesn't have a default view \n    configured, then users must explicitly specify a view with every <code>Search</code> \n    operation performed in that Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DisassociateDefaultView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetDefaultView": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetDefaultViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the Amazon Resource Name (ARN) of the view that is the default for the\n            Amazon Web Services Region in which you call this operation. You can then call <a>GetView</a> to retrieve the details of that view.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetDefaultView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetDefaultViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that is the current default for the Amazon Web Services Region in\n            which you called this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetIndex": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about the Amazon Web Services Resource Explorer index in the Amazon Web Services Region in which you invoked\n            the operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetIndex"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the index in this Region. For information about the aggregator index and\n            how it differs from a local index, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search\n                by creating an aggregator index</a>.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the index in this Amazon Web Services Region.</p>"
          }
        },
        "ReplicatingFrom": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>This response value is present only if this index is\n            <code>Type=AGGREGATOR</code>.</p>\n         <p>A list of the Amazon Web Services Regions that replicate their content to the index in this\n            Region.</p>"
          }
        },
        "ReplicatingTo": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>This response value is present only if this index is <code>Type=LOCAL</code>.</p>\n         <p>The Amazon Web Services Region that contains the aggregator index, if one exists. If an aggregator index\n            does exist then the Region in which you called this operation replicates its index\n            information to the Region specified in this response value. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the index was originally created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "LastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the index was last updated.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#GetViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details of the specified view.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you want information about.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetViewOutput": {
      "type": "structure",
      "members": {
        "View": {
          "target": "com.amazonaws.resourceexplorer2#View",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A structure that contains the details for the requested view.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#IncludedProperty": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property that is included in this view.</p>\n         <p>You can specify the following property names for this field:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Tags</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an additional property that describes a resource, that you can\n            optionally include in the view. This lets you view that property in search results, and\n            filter your search results based on the value of the property.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#IncludedPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#IncludedProperty"
      }
    },
    "com.amazonaws.resourceexplorer2#Index": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the index exists.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>The type of index. It can be one of the following\n            values:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>LOCAL</b> – The index contains information\n                    about resources from only the same Amazon Web Services Region.</p>\n            </li>\n            <li>\n               <p>\n                  <b>AGGREGATOR</b> – Resource Explorer replicates copies\n                    of the indexed information about resources in all other Amazon Web Services Regions to the\n                    aggregator index. This lets search results in the Region with the aggregator index to\n                    include resources from all Regions in the account where Resource Explorer is turned\n                    on.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An index is the data store used by Amazon Web Services Resource Explorer to hold information about your Amazon Web Services\n            resources that the service discovers. Creating an index in an Amazon Web Services Region turns on\n            Resource Explorer and lets it discover your resources.</p>\n         <p>By default, an index is <i>local</i>, meaning that it contains\n            information about resources in only the same Region as the index. However, you can\n            promote the index of one Region in the account by calling <a>UpdateIndexType</a> to convert it into an aggregator index. The aggregator index\n            receives a replicated copy of the index information from all other Regions where Resource Explorer\n            is turned on. This allows search operations in that Region to return results from all\n            Regions in the account.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#IndexList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#Index"
      }
    },
    "com.amazonaws.resourceexplorer2#IndexState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "Resource Explorer is creating the index."
          },
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "Index is active."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "Resource Explorer is deleting the index."
          },
          {
            "name": "DELETED",
            "value": "DELETED",
            "documentation": "Resource Explorer successfully deleted the index."
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "documentation": "Resource Explorer is switching the index type between local and aggregator."
          }
        ]
      }
    },
    "com.amazonaws.resourceexplorer2#IndexType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LOCAL",
            "value": "LOCAL",
            "documentation": "local index"
          },
          {
            "name": "AGGREGATOR",
            "value": "AGGREGATOR",
            "documentation": "aggregator index"
          }
        ]
      }
    },
    "com.amazonaws.resourceexplorer2#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because of internal service error. Try your request again\n            later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of all of the indexes in Amazon Web Services Regions that are currently collecting\n            resource information for Amazon Web Services Resource Explorer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListIndexes"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "Indexes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesInput": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>If specified, limits the output to only indexes of the specified Type, either\n                <code>LOCAL</code> or <code>AGGREGATOR</code>.</p>\n         <p>Use this option to discover the aggregator index for your account.</p>"
          }
        },
        "Regions": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>If specified, limits the response to only information about the index in the specified\n            list of Amazon Web Services Regions.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 20
            }
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the \n    response. If you do not include this parameter, it defaults to a value appropriate to the \n    operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a \n    <code>NextToken</code> response in a previous request. A <code>NextToken</code> response \n    indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesOutput": {
      "type": "structure",
      "members": {
        "Indexes": {
          "target": "com.amazonaws.resourceexplorer2#IndexList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details and status of each index.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of all resource types currently supported by Amazon Web Services Resource Explorer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListSupportedResourceTypes"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "ResourceTypes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a \n    <code>NextToken</code> response in a previous request. A <code>NextToken</code> response \n    indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the \n    response. If you do not include this parameter, it defaults to a value appropriate to the \n    operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesOutput": {
      "type": "structure",
      "members": {
        "ResourceTypes": {
          "target": "com.amazonaws.resourceexplorer2#ResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resource types supported by Resource Explorer.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags that are attached to the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view or index that you want to attach tags to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tag key and value pairs that you want to attach to the specified view or\n            index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListViewsInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListViewsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource names (ARNs)</a> of the views available in the Amazon Web Services Region in which you\n            call this operation.</p>\n         <note>\n            <p>Always check the <code>NextToken</code> response parameter \nfor a <code>null</code> value when calling a paginated operation. These operations can \noccasionally return an empty set of results even when there are more results available. The \n<code>NextToken</code> response parameter value is <code>null</code>\n               <i>only</i> \nwhen there are no more results to display.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListViews"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "Views"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListViewsInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a \n    <code>NextToken</code> response in a previous request. A <code>NextToken</code> response \n    indicates that more output is available. Set this parameter to the value of the previous \n    call's <code>NextToken</code> response to indicate where the output should continue \n    from.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the \n    response. If you do not include this parameter, it defaults to a value appropriate to the \n    operation. If additional items exist beyond those included in the current response, the \n    <code>NextToken</code> response element is present and has a value (is not null). Include that \n    value as the <code>NextToken</code> request parameter in the next call to the operation to get \n    the next part of the results.</p>\n         <note>\n            <p>An API operation can return fewer results than the maximum even when there are \n    more results available. You should check <code>NextToken</code> after every operation to ensure \n    that you receive all of the results.</p>\n         </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListViewsOutput": {
      "type": "structure",
      "members": {
        "Views": {
          "target": "com.amazonaws.resourceexplorer2#ViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of views available in the Amazon Web Services Region in which you called this\n            operation.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is \n    included in the current response. Use this value in the <code>NextToken</code> request parameter \n    in a subsequent call to the operation to get the next part of the output. You should repeat this \n    until the <code>NextToken</code> response element comes back as <code>null</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#QueryString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1011
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.resourceexplorer2#RegionList": {
      "type": "list",
      "member": {
        "target": "smithy.api#String"
      }
    },
    "com.amazonaws.resourceexplorer2#Resource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the resource.</p>"
          }
        },
        "OwningAccountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account that owns the resource.</p>"
          }
        },
        "Region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the resource was created and exists.</p>"
          }
        },
        "ResourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>"
          }
        },
        "Service": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Service that owns the resource and is responsible for creating and updating\n            it.</p>"
          }
        },
        "LastReportedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that Resource Explorer last queried this resource and updated the index with\n            the latest information about the resource.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "Properties": {
          "target": "com.amazonaws.resourceexplorer2#ResourcePropertyList",
          "traits": {
            "smithy.api#documentation": "<p>A structure with additional type-specific details about the resource. These properties\n            can be added by turning on integration between Resource Explorer and other Amazon Web Services services.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource in Amazon Web Services that Amazon Web Services Resource Explorer has discovered, and for which it has stored\n            information in the index of the Amazon Web Services Region that contains the resource.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#ResourceCount": {
      "type": "structure",
      "members": {
        "TotalResources": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of resources that match the search query. This value can't exceed\n            1,000. If there are more than 1,000 resources that match\n            the query, then only 1,000 are counted and the <code>Complete</code>\n            field is set to false. We recommend that you refine your query to return a smaller\n            number of results.</p>"
          }
        },
        "Complete": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the <code>TotalResources</code> value represents an exhaustive count\n            of search results.</p>\n         <ul>\n            <li>\n               <p>If <code>True</code>, it indicates that the search was exhaustive. Every\n                    resource that matches the query was counted.</p>\n            </li>\n            <li>\n               <p>If <code>False</code>, then the search reached the limit of\n                    1,000 matching results, and stopped counting.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the number of results that match the query. At this time, Amazon Web Services Resource Explorer\n            doesn't count more than 1,000 matches for any query. This structure\n            provides information about whether the query exceeded this limit.</p>\n         <p>This field is included in every page when you paginate the results.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#ResourceExplorer": {
      "type": "service",
      "version": "2022-07-28",
      "operations": [
        {
          "target": "com.amazonaws.resourceexplorer2#BatchGetView"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#DisassociateDefaultView"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#GetDefaultView"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#GetIndex"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ListSupportedResourceTypes"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#Search"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#TagResource"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.resourceexplorer2#CfnIndex"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#CfnView"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#DefaultViewAssociation"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Resource Explorer 2",
          "endpointPrefix": "resource-explorer-2",
          "arnNamespace": "resource-explorer-2"
        },
        "aws.auth#sigv4": {
          "name": "resource-explorer-2"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "authorization",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-date",
            "x-amz-user-agent",
            "x-amz-source-arn",
            "x-amz-source-account"
          ]
        },
        "smithy.api#documentation": "<p>Amazon Web Services Resource Explorer is a resource search and discovery service. By using Resource Explorer, you can\n            explore your resources using an internet search engine-like experience. Examples of\n            resources include Amazon Relational Database Service (Amazon RDS) instances, Amazon Simple Storage Service (Amazon S3) buckets, or Amazon DynamoDB\n            tables. You can search for your resources using resource metadata like names, tags, and\n            IDs. Resource Explorer can search across all of the Amazon Web Services Regions in your account in which you turn\n            the service on, to simplify your cross-Region workloads.</p>\n         <p>Resource Explorer scans the resources in each of the Amazon Web Services Regions in your Amazon Web Services account in which\n            you turn on Resource Explorer. Resource Explorer <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/getting-started-terms-and-concepts.html#term-index\">creates\n                and maintains an index</a> in each Region, with the details of that Region's\n            resources.</p>\n         <p>You can <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">search across all of the\n                indexed Regions in your account</a> by designating one of your Amazon Web Services Regions to\n            contain the aggregator index for the account. When you <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region-turn-on.html\">promote a local index\n                in a Region to become the aggregator index for the account</a>, Resource Explorer automatically\n            replicates the index information from all local indexes in the other Regions to the\n            aggregator index. Therefore, the Region with the aggregator index has a copy of all resource\n            information for all Regions in the account where you turned on Resource Explorer. As a result,\n            views in the aggregator index Region include resources from all of the indexed Regions in your\n            account.</p>\n         <p>For more information about Amazon Web Services Resource Explorer, including how to enable and configure the\n            service, see the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/\">Amazon Web Services Resource Explorer User Guide</a>.</p>",
        "smithy.api#title": "AWS Resource Explorer",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://resource-explorer-2-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resource-explorer-2.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "endpoint": {
                                    "url": "https://resource-explorer-2-fips.{Region}.{PartitionResult#dnsSuffix}",
                                    "properties": {},
                                    "headers": {}
                                  },
                                  "type": "endpoint"
                                }
                              ]
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://resource-explorer-2.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://resource-explorer-2.eu-north-1.api.aws"
[...]
