{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.resourceexplorer2#AWSServiceAccessStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ENABLED",
            "value": "ENABLED"
          },
          {
            "name": "DISABLED",
            "value": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.resourceexplorer2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The credentials that you used to call this operation don't have the minimum required permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.resourceexplorer2#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.resourceexplorer2#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#AccountId"
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets the specified view as the default for the Amazon Web Services Region in which you call this operation. When a user performs a <a>Search</a> that doesn't explicitly specify which view to use, then Amazon Web Services Resource Explorer automatically chooses this default view for searches performed in this Amazon Web Services Region.</p> <p>If an Amazon Web Services Region doesn't have a default view configured, then users must explicitly specify a view with every <code>Search</code> operation performed in that Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/AssociateDefaultView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view to set as the default for the Amazon Web Services Region and Amazon Web Services account in which you call this operation. The specified view must already exist in the called Region.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#AssociateDefaultViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that the operation set as the default for queries made in the Amazon Web Services Region and Amazon Web Services account in which you called this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about a list of views.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewError": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view for which Resource Explorer failed to retrieve details.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error for the specified view.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of error messages for any views that Amazon Web Services Resource Explorer couldn't retrieve details.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#BatchGetViewError"
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewInput": {
      "type": "structure",
      "members": {
        "ViewArns": {
          "target": "com.amazonaws.resourceexplorer2#ViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource names (ARNs)</a> that identify the views you want details for.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 20
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#BatchGetViewOutput": {
      "type": "structure",
      "members": {
        "Views": {
          "target": "com.amazonaws.resourceexplorer2#ViewList",
          "traits": {
            "smithy.api#documentation": "<p>A structure with a list of objects with details for each of the specified views.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.resourceexplorer2#BatchGetViewErrors",
          "traits": {
            "smithy.api#documentation": "<p>If any of the specified ARNs result in an error, then this structure describes the error.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CfnIndex": {
      "type": "resource",
      "identifiers": {
        "Arn": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndex"
      },
      "update": {
        "target": "com.amazonaws.resourceexplorer2#UpdateIndexType"
      },
      "delete": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndex"
      },
      "list": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexes"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CfnView": {
      "type": "resource",
      "identifiers": {
        "ViewArn": {
          "target": "smithy.api#String"
        }
      },
      "create": {
        "target": "com.amazonaws.resourceexplorer2#CreateView"
      },
      "read": {
        "target": "com.amazonaws.resourceexplorer2#GetView"
      },
      "update": {
        "target": "com.amazonaws.resourceexplorer2#UpdateView"
      },
      "delete": {
        "target": "com.amazonaws.resourceexplorer2#DeleteView"
      },
      "list": {
        "target": "com.amazonaws.resourceexplorer2#ListViews"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If you attempted to create a view, then the request failed because either you specified parameters that didn’t match the original request, or you attempted to create a view with a name that already exists in this Amazon Web Services Region.</p> <p>If you attempted to create an index, then the request failed because either you specified parameters that didn't match the original request, or an index already exists in the current Amazon Web Services Region.</p> <p>If you attempted to update an index type to <code>AGGREGATOR</code>, then the request failed because you already have an <code>AGGREGATOR</code> index in a different Amazon Web Services Region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndexInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#CreateIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Turns on Amazon Web Services Resource Explorer in the Amazon Web Services Region in which you called this operation by creating an index. Resource Explorer begins discovering the resources in this Region and stores the details about the resources in the index so that they can be queried by using the <a>Search</a> operation. You can create only one index in a Region.</p> <note> <p>This operation creates only a <i>local</i> index. To promote the local index in one Amazon Web Services Region into the aggregator index for the Amazon Web Services account, use the <a>UpdateIndexType</a> operation. For more information, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search by creating an aggregator index</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> </note> <p>For more details about what happens when you turn on Resource Explorer in an Amazon Web Services Region, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-service-activate.html\">Turn on Resource Explorer to index your resources in an Amazon Web Services Region</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <p>If this is the first Amazon Web Services Region in which you've created an index for Resource Explorer, then this operation also <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">creates a service-linked role</a> in your Amazon Web Services account that allows Resource Explorer to enumerate your resources to populate the index.</p> <ul> <li> <p> <b>Action</b>: <code>resource-explorer-2:CreateIndex</code> </p> <p> <b>Resource</b>: The ARN of the index (as it will exist after the operation completes) in the Amazon Web Services Region and account in which you're trying to create the index. Use the wildcard character (<code>*</code>) at the end of the string to match the eventual UUID. For example, the following <code>Resource</code> element restricts the role or user to creating an index in only the <code>us-east-2</code> Region of the specified account.</p> <p> <code>\"Resource\": \"arn:aws:resource-explorer-2:us-west-2:<i>&lt;account-id&gt;</i>:index/*\"</code> </p> <p>Alternatively, you can use <code>\"Resource\": \"*\"</code> to allow the role or user to create an index in any Region.</p> </li> <li> <p> <b>Action</b>: <code>iam:CreateServiceLinkedRole</code> </p> <p> <b>Resource</b>: No specific resource (*). </p> <p>This permission is required only the first time you create an index to turn on Resource Explorer in the account. Resource Explorer uses this to create the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/security_iam_service-linked-roles.html\">service-linked role needed to index the resources in your account</a>. Resource Explorer uses the same service-linked role for all additional indexes you create afterwards.</p> </li> </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateIndex"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndexInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>This value helps ensure idempotency. Resource Explorer uses this value to prevent the accidental creation of duplicate versions. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type value</a> to ensure the uniqueness of your index.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>The specified tags are attached only to the index created in this Amazon Web Services Region. The tags aren't attached to any of the resources listed in the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the new local index for the Region. You can reference this ARN in IAM permission policies to authorize the following operations: <a>DeleteIndex</a> | <a>GetIndex</a> | <a>UpdateIndexType</a> | <a>CreateView</a> </p>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current state of the index. You can check for changes to the state for asynchronous operations by calling the <a>GetIndex</a> operation.</p> <note> <p>The state can remain in the <code>CREATING</code> or <code>UPDATING</code> state for several hours as Resource Explorer discovers the information about your resources and populates the index.</p> </note>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and timestamp when the index was created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateResourceExplorerSetup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#CreateResourceExplorerSetupInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#CreateResourceExplorerSetupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resource Explorer setup configuration across multiple Amazon Web Services Regions. This operation sets up indexes and views in the specified Regions. This operation can also be used to set an aggregator Region for cross-Region resource search.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateResourceExplorerSetup"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CreateResourceExplorerSetupInput": {
      "type": "structure",
      "members": {
        "RegionList": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions where Resource Explorer should be configured. Each Region in the list will have a user-owned index created.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "AggregatorRegions": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions that should be configured as aggregator Regions. Aggregator Regions receive replicated index information from all other Regions where there is a user-owned index.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1
            }
          }
        },
        "ViewName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name for the view to be created as part of the Resource Explorer setup. The view name must be unique within the Amazon Web Services account and Region.</p>",
            "smithy.api#pattern": "^[a-zA-Z0-9-]{1,64}$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CreateResourceExplorerSetupOutput": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the setup task. Use this ID with <code>GetResourceExplorerSetup</code> to monitor the progress of the configuration operation.</p>",
            "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#CreateView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#CreateViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#CreateViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a view that users can query by using the <a>Search</a> operation. Results from queries that you make using this view include only resources that match the view's <code>Filters</code>. For more information about Amazon Web Services Resource Explorer views, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-views.html\">Managing views</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <p>Only the principals with an IAM identity-based policy that grants <code>Allow</code> to the <code>Search</code> action on a <code>Resource</code> with the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of this view can <a>Search</a> using views you create with this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateView"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateViewInput": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "smithy.api#String",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>This value helps ensure idempotency. Resource Explorer uses this value to prevent the accidental creation of duplicate versions. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type value</a> to ensure the uniqueness of your views.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        },
        "ViewName": {
          "target": "com.amazonaws.resourceexplorer2#ViewName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new view. This name appears in the list of views in Resource Explorer.</p> <p>The name must be no more than 64 characters long, and can include letters, digits, and the dash (-) character. The name must be unique within its Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludedProperties": {
          "target": "com.amazonaws.resourceexplorer2#IncludedPropertyList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies optional fields that you want included in search results from this view. It is a list of objects that each describe a field to include.</p> <p>The default is an empty list, with no optional fields included in the results.</p>"
          }
        },
        "Scope": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The root ARN of the account, an organizational unit (OU), or an organization ARN. If left empty, the default is account.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        },
        "Filters": {
          "target": "com.amazonaws.resourceexplorer2#SearchFilter",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specify which resources are included in the results of queries made using this view. When you use this view in a <a>Search</a> operation, the filter string is combined with the search's <code>QueryString</code> parameter using a logical <code>AND</code> operator.</p> <p>For information about the supported syntax, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html\">Search query reference for Resource Explorer</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <important> <p>This query string in the context of this operation supports only <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-filters\">filter prefixes</a> with optional <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-operators\">operators</a>. It doesn't support free-form text. For example, the string <code>region:us* service:ec2 -tag:stage=prod</code> includes all Amazon EC2 resources in any Amazon Web Services Region that begins with the letters <code>us</code> and is <i>not</i> tagged with a key <code>Stage</code> that has the value <code>prod</code>.</p> </important>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "write",
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#CreateViewOutput": {
      "type": "structure",
      "members": {
        "View": {
          "target": "com.amazonaws.resourceexplorer2#View",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details about the new view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DefaultViewAssociation": {
      "type": "resource",
      "identifiers": {
        "ViewArn": {
          "target": "smithy.api#String"
        }
      },
      "put": {
        "target": "com.amazonaws.resourceexplorer2#AssociateDefaultView"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndexInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#DeleteIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified index and turns off Amazon Web Services Resource Explorer in the specified Amazon Web Services Region. When you delete an index, Resource Explorer stops discovering and indexing resources in that Region. Resource Explorer also deletes all views in that Region. These actions occur as asynchronous background tasks. You can check to see when the actions are complete by using the <a>GetIndex</a> operation and checking the <code>Status</code> response value.</p> <note> <p>If the index you delete is the aggregator index for the Amazon Web Services account, you must wait 24 hours before you can promote another local index to be the aggregator index for the account. Users can't perform account-wide searches using Resource Explorer until another aggregator index is configured.</p> </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteIndex"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndexInput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index that you successfully started the deletion process.</p> <note> <p>This operation is asynchronous. To check its status, call the <a>GetIndex</a> operation.</p> </note>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current state of the index. </p>"
          }
        },
        "LastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when you last updated this index.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteResourceExplorerSetup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#DeleteResourceExplorerSetupInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#DeleteResourceExplorerSetupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ConflictException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Resource Explorer setup configuration. This operation removes indexes and views from the specified Regions or all Regions where Resource Explorer is configured.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteResourceExplorerSetup"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteResourceExplorerSetupInput": {
      "type": "structure",
      "members": {
        "RegionList": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions from which to delete the Resource Explorer configuration. If not specified, the operation uses the <code>DeleteInAllRegions</code> parameter to determine scope.</p>"
          }
        },
        "DeleteInAllRegions": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to delete Resource Explorer configuration from all Regions where it is currently enabled. If this parameter is set to <code>true</code>, a value for <code>RegionList</code> must not be provided. Otherwise, the operation fails with a <code>ValidationException</code> error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteResourceExplorerSetupOutput": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the deletion task. Use this ID with <code>GetResourceExplorerSetup</code> to monitor the progress of the deletion operation.</p>",
            "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#DeleteViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#DeleteViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified view.</p> <p>If the specified view is the default view for its Amazon Web Services Region, then all <a>Search</a> operations in that Region must explicitly specify the view to use until you configure a new default by calling the <a>AssociateDefaultView</a> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you want to delete.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DeleteViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you successfully deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#DisassociateDefaultView": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>After you call this operation, the affected Amazon Web Services Region no longer has a default view. All <a>Search</a> operations in that Region must explicitly specify a view or the operation fails. You can configure a new default by calling the <a>AssociateDefaultView</a> operation.</p> <p>If an Amazon Web Services Region doesn't have a default view configured, then users must explicitly specify a view with every <code>Search</code> operation performed in that Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DisassociateDefaultView"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ErrorDetails": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code that identifies the type of error that occurred.</p>"
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the error that occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an error that occurred during a Resource Explorer setup operation.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#GetAccountLevelServiceConfiguration": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetAccountLevelServiceConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the status of your account's Amazon Web Services service access, and validates the service linked role required to access the multi-account search feature. Only the management account can invoke this API call. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetAccountLevelServiceConfiguration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetAccountLevelServiceConfigurationOutput": {
      "type": "structure",
      "members": {
        "OrgConfiguration": {
          "target": "com.amazonaws.resourceexplorer2#OrgConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about the organization, and whether configuration is <code>ENABLED</code> or <code>DISABLED</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetDefaultView": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetDefaultViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the Amazon Resource Name (ARN) of the view that is the default for the Amazon Web Services Region in which you call this operation. You can then call <a>GetView</a> to retrieve the details of that view.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetDefaultView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetDefaultViewOutput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that is the current default for the Amazon Web Services Region in which you called this operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetIndex": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about the Amazon Web Services Resource Explorer index in the Amazon Web Services Region in which you invoked the operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetIndex"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the index in this Region. For information about the aggregator index and how it differs from a local index, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/manage-aggregator-region.html\">Turning on cross-Region search by creating an aggregator index</a>.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.resourceexplorer2#IndexState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the index in this Amazon Web Services Region.</p>"
          }
        },
        "ReplicatingFrom": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>This response value is present only if this index is <code>Type=AGGREGATOR</code>.</p> <p>A list of the Amazon Web Services Regions that replicate their content to the index in this Region.</p>"
          }
        },
        "ReplicatingTo": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>This response value is present only if this index is <code>Type=LOCAL</code>.</p> <p>The Amazon Web Services Region that contains the aggregator index, if one exists. If an aggregator index does exist then the Region in which you called this operation replicates its index information to the Region specified in this response value. </p>"
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the index was originally created.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "LastUpdatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the index was last updated.</p>",
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetManagedView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#GetManagedViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetManagedViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details of the specified <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/aws-managed-views.html\">Amazon Web Services-managed view</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetManagedView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetManagedViewInput": {
      "type": "structure",
      "members": {
        "ManagedViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the managed view.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetManagedViewOutput": {
      "type": "structure",
      "members": {
        "ManagedView": {
          "target": "com.amazonaws.resourceexplorer2#ManagedView",
          "traits": {
            "smithy.api#documentation": "<p>Details about the specified managed view. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetResourceExplorerSetup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#GetResourceExplorerSetupInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetResourceExplorerSetupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the status and details of a Resource Explorer setup operation. This operation returns information about the progress of creating or deleting Resource Explorer configurations across Regions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetResourceExplorerSetup"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Regions"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetResourceExplorerSetupInput": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the setup task to retrieve status information for. This ID is returned by <code>CreateResourceExplorerSetup</code> or <code>DeleteResourceExplorerSetup</code> operations.</p>",
            "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Region status results to return in a single response. Valid values are between <code>1</code> and <code>100</code>.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous <code>GetResourceExplorerSetup</code> response. Use this token to retrieve the next set of results.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetResourceExplorerSetupOutput": {
      "type": "structure",
      "members": {
        "Regions": {
          "target": "com.amazonaws.resourceexplorer2#RegionStatusList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Region status objects that describe the current state of Resource Explorer configuration in each Region.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent <code>GetResourceExplorerSetup</code> request to retrieve the next set of results.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetServiceIndex": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetServiceIndexOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about the Resource Explorer index in the current Amazon Web Services Region. This operation returns the ARN and type of the index if one exists.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetServiceIndex"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetServiceIndexOutput": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Resource Explorer index in the current Region.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the index. Valid values are <code>LOCAL</code> (contains resources from the current Region only) or <code>AGGREGATOR</code> (contains replicated resource information from all Regions).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetServiceView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#GetServiceViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetServiceViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details about a specific Resource Explorer service view. This operation returns the configuration and properties of the specified view.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetServiceView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetServiceViewInput": {
      "type": "structure",
      "members": {
        "ServiceViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the service view to retrieve details for.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetServiceViewOutput": {
      "type": "structure",
      "members": {
        "View": {
          "target": "com.amazonaws.resourceexplorer2#ServiceView",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ServiceView</code> object that contains the details and configuration of the requested service view.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#GetViewInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#GetViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves details of the specified view.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetView"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#GetViewInput": {
      "type": "structure",
      "members": {
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view that you want information about.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#GetViewOutput": {
      "type": "structure",
      "members": {
        "View": {
          "target": "com.amazonaws.resourceexplorer2#View",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A structure that contains the details for the requested view.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tag key and value pairs that are attached to the view.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#IncludedProperty": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property that is included in this view.</p> <p>You can specify the following property names for this field:</p> <ul> <li> <p> <code>tags</code> </p> </li> </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an additional property that describes a resource, that you can optionally include in the view. This lets you view that property in search results, and filter your search results based on the value of the property.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#IncludedPropertyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#IncludedProperty"
      }
    },
    "com.amazonaws.resourceexplorer2#Index": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region in which the index exists.</p>"
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the index.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>The type of index. It can be one of the following values:</p> <ul> <li> <p> <code>LOCAL</code> – The index contains information about resources from only the same Amazon Web Services Region.</p> </li> <li> <p> <code>AGGREGATOR</code> – Resource Explorer replicates copies of the indexed information about resources in all other Amazon Web Services Regions to the aggregator index. This lets search results in the Region with the aggregator index to include resources from all Regions in the account where Resource Explorer is turned on.</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An index is the data store used by Amazon Web Services Resource Explorer to hold information about your Amazon Web Services resources that the service discovers. Creating an index in an Amazon Web Services Region turns on Resource Explorer and lets it discover your resources.</p> <p>By default, an index is <i>local</i>, meaning that it contains information about resources in only the same Region as the index. However, you can promote the index of one Region in the account by calling <a>UpdateIndexType</a> to convert it into an aggregator index. The aggregator index receives a replicated copy of the index information from all other Regions where Resource Explorer is turned on. This allows search operations in that Region to return results from all Regions in the account.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#IndexList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.resourceexplorer2#Index"
      }
    },
    "com.amazonaws.resourceexplorer2#IndexState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CREATING",
            "value": "CREATING",
            "documentation": "Resource Explorer is creating the index."
          },
          {
            "name": "ACTIVE",
            "value": "ACTIVE",
            "documentation": "Index is active."
          },
          {
            "name": "DELETING",
            "value": "DELETING",
            "documentation": "Resource Explorer is deleting the index."
          },
          {
            "name": "DELETED",
            "value": "DELETED",
            "documentation": "Resource Explorer successfully deleted the index."
          },
          {
            "name": "UPDATING",
            "value": "UPDATING",
            "documentation": "Resource Explorer is switching the index type between local and aggregator."
          }
        ]
      }
    },
    "com.amazonaws.resourceexplorer2#IndexStatus": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.resourceexplorer2#OperationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the index operation. Valid values are <code>SUCCEEDED</code>, <code>FAILED</code>, <code>IN_PROGRESS</code>, or <code>SKIPPED</code>.</p>"
          }
        },
        "Index": {
          "target": "com.amazonaws.resourceexplorer2#Index"
        },
        "ErrorDetails": {
          "target": "com.amazonaws.resourceexplorer2#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about any error that occurred during the index operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the status of a Resource Explorer index operation in a specific Region.</p>"
      }
    },
    "com.amazonaws.resourceexplorer2#IndexType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LOCAL",
            "value": "LOCAL",
            "documentation": "local index"
          },
          {
            "name": "AGGREGATOR",
            "value": "AGGREGATOR",
            "documentation": "aggregator index"
          }
        ]
      }
    },
    "com.amazonaws.resourceexplorer2#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because of internal service error. Try your request again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of all of the indexes in Amazon Web Services Regions that are currently collecting resource information for Amazon Web Services Resource Explorer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListIndexes"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "Indexes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesForMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesForMembersInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListIndexesForMembersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of a member's indexes in all Amazon Web Services Regions that are currently collecting resource information for Amazon Web Services Resource Explorer. Only the management account or a delegated administrator with service access enabled can invoke this API call. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListIndexesForMembers"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "Indexes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesForMembersInput": {
      "type": "structure",
      "members": {
        "AccountIdList": {
          "target": "com.amazonaws.resourceexplorer2#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The account IDs will limit the output to only indexes from these accounts.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value appropriate to the operation. If additional items exist beyond those included in the current response, the <code>NextToken</code> response element is present and has a value (is not null). Include that value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results.</p> <note> <p>An API operation can return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p> </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 10
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesForMembersOutput": {
      "type": "structure",
      "members": {
        "Indexes": {
          "target": "com.amazonaws.resourceexplorer2#MemberIndexList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details and status of each index.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesInput": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.resourceexplorer2#IndexType",
          "traits": {
            "smithy.api#documentation": "<p>If specified, limits the output to only indexes of the specified Type, either <code>LOCAL</code> or <code>AGGREGATOR</code>.</p> <p>Use this option to discover the aggregator index for your account.</p>"
          }
        },
        "Regions": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>If specified, limits the response to only information about the index in the specified list of Amazon Web Services Regions.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 20
            }
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value appropriate to the operation. If additional items exist beyond those included in the current response, the <code>NextToken</code> response element is present and has a value (is not null). Include that value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results.</p> <note> <p>An API operation can return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p> </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListIndexesOutput": {
      "type": "structure",
      "members": {
        "Indexes": {
          "target": "com.amazonaws.resourceexplorer2#IndexList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the details and status of each index.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListManagedViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListManagedViewsInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListManagedViewsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Amazon resource names (ARNs) of the <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/aws-managed-views.html\">Amazon Web Services-managed views</a> available in the Amazon Web Services Region in which you call this operation. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListManagedViews"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "ManagedViews"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListManagedViewsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value appropriate to the operation. If additional items exist beyond those included in the current response, the <code>NextToken</code> response element is present and has a value (is not null). Include that value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results.</p> <note> <p>An API operation can return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p> </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        },
        "ServicePrincipal": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a service principal name. If specified, then the operation only returns the managed views that are managed by the input service. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1024
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListManagedViewsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>"
          }
        },
        "ManagedViews": {
          "target": "com.amazonaws.resourceexplorer2#ManagedViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of managed views available in the Amazon Web Services Region in which you called this operation. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListResourcesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListResourcesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resources and their details that match the specified criteria. This query must use a view. If you don’t explicitly specify a view, then Resource Explorer uses the default view for the Amazon Web Services Region in which you call this operation. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListResources"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "Resources"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListResourcesInput": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.resourceexplorer2#SearchFilter",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that specify which resources are included in the results of queries made using this view. When you use this view in a <a>Search</a> operation, the filter string is combined with the search's <code>QueryString</code> parameter using a logical <code>AND</code> operator.</p> <p>For information about the supported syntax, see <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html\">Search query reference for Resource Explorer</a> in the <i>Amazon Web Services Resource Explorer User Guide</i>.</p> <important> <p>This query string in the context of this operation supports only <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-filters\">filter prefixes</a> with optional <a href=\"https://docs.aws.amazon.com/resource-explorer/latest/userguide/using-search-query-syntax.html#query-syntax-operators\">operators</a>. It doesn't support free-form text. For example, the string <code>region:us* service:ec2 -tag:stage=prod</code> includes all Amazon EC2 resources in any Amazon Web Services Region that begins with the letters <code>us</code> and is <i>not</i> tagged with a key <code>Stage</code> that has the value <code>prod</code>.</p> </important>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value appropriate to the operation. If additional items exist beyond those included in the current response, the <code>NextToken</code> response element is present and has a value (is not null). Include that value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results.</p> <note> <p>An API operation can return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p> </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        },
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Amazon resource name (ARN) of the view to use for the query. If you don't specify a value for this parameter, then the operation automatically uses the default view for the Amazon Web Services Region in which you called this operation. If the Region either doesn't have a default view or if you don't have permission to use the default view, then the operation fails with a 401 Unauthorized exception.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 1000
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p> <note> <p>The <code>ListResources</code> operation does not generate a <code>NextToken</code> if you set <code>MaxResults</code> to 1000. </p> </note>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListResourcesOutput": {
      "type": "structure",
      "members": {
        "Resources": {
          "target": "com.amazonaws.resourceexplorer2#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>The list of structures that describe the resources that match the query. </p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        },
        "ViewArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) of the view that this operation used to perform the search. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1011
            }
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceIndexes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListServiceIndexesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListServiceIndexesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Resource Explorer indexes across the specified Amazon Web Services Regions. This operation returns information about indexes including their ARNs, types, and Regions.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListServiceIndexes"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "Indexes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceIndexesInput": {
      "type": "structure",
      "members": {
        "Regions": {
          "target": "com.amazonaws.resourceexplorer2#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services Regions to include in the search for indexes. If not specified, indexes from all Regions are returned.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 20
            }
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of index results to return in a single response. Valid values are between <code>1</code> and <code>100</code>.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous <code>ListServiceIndexes</code> response. Use this token to retrieve the next set of results.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceIndexesOutput": {
      "type": "structure",
      "members": {
        "Indexes": {
          "target": "com.amazonaws.resourceexplorer2#IndexList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Index</code> objects that describe the Resource Explorer indexes found in the specified Regions.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent <code>ListServiceIndexes</code> request to retrieve the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListServiceViewsInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListServiceViewsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all Resource Explorer service views available in the current Amazon Web Services account. This operation returns the ARNs of available service views.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListServiceViews"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "ServiceViews"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceViewsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of service view results to return in a single response. Valid values are between <code>1</code> and <code>50</code>.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous <code>ListServiceViews</code> response. Use this token to retrieve the next set of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListServiceViewsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent <code>ListServiceViews</code> request to retrieve the next set of results.</p>"
          }
        },
        "ServiceViews": {
          "target": "com.amazonaws.resourceexplorer2#ServiceViewArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Resource Names (ARNs) for the service views available in the current Amazon Web Services account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListStreamingAccessForServices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListStreamingAccessForServicesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListStreamingAccessForServicesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of Amazon Web Services services that have been granted streaming access to your Resource Explorer data. Streaming access allows Amazon Web Services services to receive real-time updates about your resources as they are indexed by Resource Explorer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListStreamingAccessForServices"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "StreamingAccessForServices"
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListStreamingAccessForServicesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of streaming access entries to return in the response. If there are more results available, the response includes a NextToken value that you can use in a subsequent call to get the next set of results. The value must be between 1 and 50. If you don't specify a value, the default is 50.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListStreamingAccessForServicesOutput": {
      "type": "structure",
      "members": {
        "StreamingAccessForServices": {
          "target": "com.amazonaws.resourceexplorer2#StreamingAccessDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Amazon Web Services services that have streaming access to your Resource Explorer data, including details about when the access was granted.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of all resource types currently supported by Amazon Web Services Resource Explorer.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListSupportedResourceTypes"
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "pageSize": "MaxResults",
          "outputToken": "NextToken",
          "items": "ResourceTypes"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesInput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The parameter for receiving additional results if you receive a <code>NextToken</code> response in a previous request. A <code>NextToken</code> response indicates that more output is available. Set this parameter to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. The pagination tokens expire after 24 hours.</p>"
          }
        },
        "MaxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results that you want included on each page of the response. If you do not include this parameter, it defaults to a value appropriate to the operation. If additional items exist beyond those included in the current response, the <code>NextToken</code> response element is present and has a value (is not null). Include that value as the <code>NextToken</code> request parameter in the next call to the operation to get the next part of the results.</p> <note> <p>An API operation can return fewer results than the maximum even when there are more results available. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p> </note>",
            "smithy.api#range": {
              "min": 1,
              "max": 1000
            }
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListSupportedResourceTypesOutput": {
      "type": "structure",
      "members": {
        "ResourceTypes": {
          "target": "com.amazonaws.resourceexplorer2#ResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The list of resource types supported by Resource Explorer.</p>"
          }
        },
        "NextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>If present, indicates that more output is available than is included in the current response. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back as <code>null</code>. The pagination tokens expire after 24 hours.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListTagsForResourceInput"
      },
      "output": {
        "target": "com.amazonaws.resourceexplorer2#ListTagsForResourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.resourceexplorer2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#InternalServerException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.resourceexplorer2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags that are attached to the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResourceInput": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon resource name (ARN)</a> of the view or index that you want to attach tags to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListTagsForResourceOutput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.resourceexplorer2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tag key and value pairs that you want to attach to the specified view or index.</p>"
          }
        }
      }
    },
    "com.amazonaws.resourceexplorer2#ListViews": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.resourceexplorer2#ListViewsInput"
      },
      "output": {
[...]
