{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53#AWSAccountID": {
      "type": "string"
    },
    "com.amazonaws.route53#AWSDnsV20130401": {
      "type": "service",
      "version": "2013-04-01",
      "operations": [
        {
          "target": "com.amazonaws.route53#ActivateKeySigningKey"
        },
        {
          "target": "com.amazonaws.route53#AssociateVPCWithHostedZone"
        },
        {
          "target": "com.amazonaws.route53#ChangeResourceRecordSets"
        },
        {
          "target": "com.amazonaws.route53#ChangeTagsForResource"
        },
        {
          "target": "com.amazonaws.route53#CreateHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#CreateHostedZone"
        },
        {
          "target": "com.amazonaws.route53#CreateKeySigningKey"
        },
        {
          "target": "com.amazonaws.route53#CreateQueryLoggingConfig"
        },
        {
          "target": "com.amazonaws.route53#CreateReusableDelegationSet"
        },
        {
          "target": "com.amazonaws.route53#CreateTrafficPolicy"
        },
        {
          "target": "com.amazonaws.route53#CreateTrafficPolicyInstance"
        },
        {
          "target": "com.amazonaws.route53#CreateTrafficPolicyVersion"
        },
        {
          "target": "com.amazonaws.route53#CreateVPCAssociationAuthorization"
        },
        {
          "target": "com.amazonaws.route53#DeactivateKeySigningKey"
        },
        {
          "target": "com.amazonaws.route53#DeleteHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#DeleteHostedZone"
        },
        {
          "target": "com.amazonaws.route53#DeleteKeySigningKey"
        },
        {
          "target": "com.amazonaws.route53#DeleteQueryLoggingConfig"
        },
        {
          "target": "com.amazonaws.route53#DeleteReusableDelegationSet"
        },
        {
          "target": "com.amazonaws.route53#DeleteTrafficPolicy"
        },
        {
          "target": "com.amazonaws.route53#DeleteTrafficPolicyInstance"
        },
        {
          "target": "com.amazonaws.route53#DeleteVPCAssociationAuthorization"
        },
        {
          "target": "com.amazonaws.route53#DisableHostedZoneDNSSEC"
        },
        {
          "target": "com.amazonaws.route53#DisassociateVPCFromHostedZone"
        },
        {
          "target": "com.amazonaws.route53#EnableHostedZoneDNSSEC"
        },
        {
          "target": "com.amazonaws.route53#GetAccountLimit"
        },
        {
          "target": "com.amazonaws.route53#GetChange"
        },
        {
          "target": "com.amazonaws.route53#GetCheckerIpRanges"
        },
        {
          "target": "com.amazonaws.route53#GetDNSSEC"
        },
        {
          "target": "com.amazonaws.route53#GetGeoLocation"
        },
        {
          "target": "com.amazonaws.route53#GetHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#GetHealthCheckCount"
        },
        {
          "target": "com.amazonaws.route53#GetHealthCheckLastFailureReason"
        },
        {
          "target": "com.amazonaws.route53#GetHealthCheckStatus"
        },
        {
          "target": "com.amazonaws.route53#GetHostedZone"
        },
        {
          "target": "com.amazonaws.route53#GetHostedZoneCount"
        },
        {
          "target": "com.amazonaws.route53#GetHostedZoneLimit"
        },
        {
          "target": "com.amazonaws.route53#GetQueryLoggingConfig"
        },
        {
          "target": "com.amazonaws.route53#GetReusableDelegationSet"
        },
        {
          "target": "com.amazonaws.route53#GetReusableDelegationSetLimit"
        },
        {
          "target": "com.amazonaws.route53#GetTrafficPolicy"
        },
        {
          "target": "com.amazonaws.route53#GetTrafficPolicyInstance"
        },
        {
          "target": "com.amazonaws.route53#GetTrafficPolicyInstanceCount"
        },
        {
          "target": "com.amazonaws.route53#ListGeoLocations"
        },
        {
          "target": "com.amazonaws.route53#ListHealthChecks"
        },
        {
          "target": "com.amazonaws.route53#ListHostedZones"
        },
        {
          "target": "com.amazonaws.route53#ListHostedZonesByName"
        },
        {
          "target": "com.amazonaws.route53#ListHostedZonesByVPC"
        },
        {
          "target": "com.amazonaws.route53#ListQueryLoggingConfigs"
        },
        {
          "target": "com.amazonaws.route53#ListResourceRecordSets"
        },
        {
          "target": "com.amazonaws.route53#ListReusableDelegationSets"
        },
        {
          "target": "com.amazonaws.route53#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.route53#ListTagsForResources"
        },
        {
          "target": "com.amazonaws.route53#ListTrafficPolicies"
        },
        {
          "target": "com.amazonaws.route53#ListTrafficPolicyInstances"
        },
        {
          "target": "com.amazonaws.route53#ListTrafficPolicyInstancesByHostedZone"
        },
        {
          "target": "com.amazonaws.route53#ListTrafficPolicyInstancesByPolicy"
        },
        {
          "target": "com.amazonaws.route53#ListTrafficPolicyVersions"
        },
        {
          "target": "com.amazonaws.route53#ListVPCAssociationAuthorizations"
        },
        {
          "target": "com.amazonaws.route53#TestDNSAnswer"
        },
        {
          "target": "com.amazonaws.route53#UpdateHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#UpdateHostedZoneComment"
        },
        {
          "target": "com.amazonaws.route53#UpdateTrafficPolicyComment"
        },
        {
          "target": "com.amazonaws.route53#UpdateTrafficPolicyInstance"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Route 53",
          "arnNamespace": "route53",
          "cloudFormationName": "Route53",
          "cloudTrailEventSource": "route53.amazonaws.com",
          "endpointPrefix": "route53"
        },
        "aws.auth#sigv4": {
          "name": "route53"
        },
        "aws.protocols#restXml": {},
        "smithy.api#documentation": "<p>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service.</p>",
        "smithy.api#title": "Amazon Route 53",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      }
    },
    "com.amazonaws.route53#AccountLimit": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.route53#AccountLimitType",
          "traits": {
            "smithy.api#documentation": "<p>The limit that you requested. Valid values include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum number of health checks that you can create \n\t\t\t\tusing the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_HOSTED_ZONES_BY_OWNER</b>: The maximum number of hosted zones that you can create \n\t\t\t\tusing the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The maximum number of reusable delegation sets \n\t\t\t\tthat you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum number of traffic policies \n\t\t\t\tthat you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>: The maximum number of traffic policy instances \n\t\t\t\tthat you can create using the current account. (Traffic policy instances are referred to as traffic flow policy records in the \n\t\t\t\tAmazon Route 53 console.)</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.route53#LimitValue",
          "traits": {
            "smithy.api#documentation": "<p>The current value for the limit that is specified by \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AccountLimit.html#Route53-Type-AccountLimit-Type\">Type</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the type of limit that you specified in the request and the current value for that limit.</p>"
      }
    },
    "com.amazonaws.route53#AccountLimitType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MAX_HEALTH_CHECKS_BY_OWNER",
            "name": "MAX_HEALTH_CHECKS_BY_OWNER"
          },
          {
            "value": "MAX_HOSTED_ZONES_BY_OWNER",
            "name": "MAX_HOSTED_ZONES_BY_OWNER"
          },
          {
            "value": "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER",
            "name": "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER"
          },
          {
            "value": "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER",
            "name": "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER"
          },
          {
            "value": "MAX_TRAFFIC_POLICIES_BY_OWNER",
            "name": "MAX_TRAFFIC_POLICIES_BY_OWNER"
          }
        ]
      }
    },
    "com.amazonaws.route53#ActivateKeySigningKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#ActivateKeySigningKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#ActivateKeySigningKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#ConcurrentModification"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#InvalidKeySigningKeyStatus"
        },
        {
          "target": "com.amazonaws.route53#InvalidKMSArn"
        },
        {
          "target": "com.amazonaws.route53#InvalidSigningStatus"
        },
        {
          "target": "com.amazonaws.route53#NoSuchKeySigningKey"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates a key-signing key (KSK) so that it can be used for signing by DNSSEC. This operation changes the \n\t\t\tKSK status to <code>ACTIVE</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/keysigningkey/{HostedZoneId}/{Name}/activate",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53#ActivateKeySigningKeyRequest": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string used to identify a hosted zone.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53#SigningKeyName",
          "traits": {
            "smithy.api#documentation": "<p>A string used to identify a key-signing key (KSK). <code>Name</code> can include numbers, letters,  and underscores (_). <code>Name</code> must be unique for each key-signing key in the same \n\t\t\thosted zone.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53#ActivateKeySigningKeyResponse": {
      "type": "structure",
      "members": {
        "ChangeInfo": {
          "target": "com.amazonaws.route53#ChangeInfo",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53#AlarmIdentifier": {
      "type": "structure",
      "members": {
        "Region": {
          "target": "com.amazonaws.route53#CloudWatchRegion",
          "traits": {
            "smithy.api#documentation": "<p>For the CloudWatch alarm that you want Route 53 health checkers to use to determine whether this health check is healthy, \n\t\t\tthe region that the alarm was created in.</p>\n\t        <p>For the current list of CloudWatch regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/cw_region.html\">Amazon CloudWatch endpoints and quotas</a> in \n\t\t\tthe <i>Amazon Web Services General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53#AlarmName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.</p>\n\t\t       <note>\n            <p>Route 53 supports CloudWatch alarms with the following features:</p>\n\t\t\t         <ul>\n               <li>\n                  <p>Standard-resolution metrics. High-resolution metrics aren't supported. For more information, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</a> \n\t\t\t\t\tin the <i>Amazon CloudWatch User Guide</i>.</p>\n               </li>\n               <li>\n                  <p>Statistics: Average, Minimum, Maximum, Sum, and SampleCount. Extended statistics aren't supported.</p>\n               </li>\n            </ul>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether \n\t\t\tthe specified health check is healthy.</p>"
      }
    },
    "com.amazonaws.route53#AlarmName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53#AliasHealthEnabled": {
      "type": "boolean"
    },
    "com.amazonaws.route53#AliasTarget": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Alias resource records sets only</i>: The value used depends on where you want to route traffic:</p>\n\t\t       <dl>\n            <dt>Amazon API Gateway custom regional APIs and edge-optimized APIs</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your API. You can get the applicable value using the CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</a>:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>For regional APIs, specify the value of <code>regionalHostedZoneId</code>.</p>\n                  </li>\n                  <li>\n                     <p>For edge-optimized APIs, specify the value of <code>distributionHostedZoneId</code>.</p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Amazon Virtual Private Cloud interface VPC endpoint</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your interface endpoint. You can get the value of <code>HostedZoneId</code> \n\t\t\t\t\tusing the CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</a>.</p>\n\t\t\t\t        </dd>\n            <dt>CloudFront distribution</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify <code>Z2FDTNDATAQYW2</code>.</p>\n\t\t\t\t\t          <note>\n\t\t\t\t\t\t            <p>Alias resource record sets for CloudFront can't be created in a private zone.</p>\n\t\t\t\t\t          </note>\n\t\t\t\t        </dd>\n            <dt>Elastic Beanstalk environment</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID for the region that you created the environment in. The environment \n\t\t\t\t\t\tmust have a regionalized subdomain. For a list of regions and the corresponding hosted zone IDs, see \n\t\t\t\t\t    <a href=\"https://docs.aws.amazon.com/general/latest/gr/elasticbeanstalk.html\">Elastic Beanstalk endpoints and quotas</a> in the \n\t\t\t\t\t\t the <i>Amazon Web Services General Reference</i>.</p>\n\t\t\t\t        </dd>\n            <dt>ELB load balancer</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the value of the hosted zone ID for the load balancer. Use the following methods to get the \n\t\t\t\t\t\thosted zone ID:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/general/latest/gr/elb.html\">Elastic Load Balancing endpoints and quotas</a> topic in the <i>Amazon Web Services General Reference</i>: \n\t\t\t\t\t\t\tUse the value that corresponds with the region that you created your load balancer in. Note that there are \n\t\t\t\t\t\t\tseparate columns for Application and Classic Load Balancers and for Network Load Balancers.</p>\n                  </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Amazon Web Services Management Console</b>: Go to the Amazon EC2 page, choose \n\t\t\t\t\t\t\t\t<b>Load Balancers</b> in the navigation pane, select the load balancer, and get the value of the \n\t\t\t\t\t\t\t\t<b>Hosted zone</b> field on the <b>Description</b> tab.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code> to get the \n\t\t\t\t\t\t\t\tapplicable value. For more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> \n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>CLI</b>: Use <code>describe-load-balancers</code> to get the applicable value. \n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Global Accelerator accelerator</dt>\n            <dd>\n               <p>Specify <code>Z2BJ6XQ5FK7U4H</code>.</p>\n            </dd>\n            <dt>An Amazon S3 bucket configured as a static website</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID for the region that you created the bucket in. For more information about \n\t\t\t\t\t\tvalid values, see the table \n\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/general/latest/gr/s3.html#s3_website_region_endpoints\">Amazon S3 Website Endpoints</a> \n\t\t\t\t\t\tin the <i>Amazon Web Services General Reference</i>.</p>\n\t\t\t\t        </dd>\n            <dt>Another Route 53 resource record set in your hosted zone</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID of your hosted zone. (An alias resource record set\n\t\t\t\t\t\tcan't reference a resource record set in a different hosted zone.)</p>\n\t\t\t\t        </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        },
        "DNSName": {
          "target": "com.amazonaws.route53#DNSName",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Alias resource record sets only:</i> The value that you specify depends on where you want to route queries:</p>\n\t\t       <dl>\n            <dt>Amazon API Gateway custom regional APIs and edge-optimized APIs</dt>\n            <dd>\n               <p>Specify the applicable domain name for your API. You can get the applicable value using the CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</a>:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>For regional APIs, specify the value of <code>regionalDomainName</code>.</p>\n                  </li>\n                  <li>\n                     <p>For edge-optimized APIs, specify the value of <code>distributionDomainName</code>. This is the name of the \n\t\t\t\t\t\t\tassociated CloudFront distribution, such as <code>da1b2c3d4e5.cloudfront.net</code>.</p>\n                  </li>\n               </ul>\n\t\t\t\t\t          <note>\n\t\t\t\t\t\t            <p>The name of the record that you're creating must match a custom domain name for your API, such as \n\t\t\t\t\t\t\t<code>api.example.com</code>.</p>\n\t\t\t\t\t          </note>\n\t\t\t\t        </dd>\n            <dt>Amazon Virtual Private Cloud interface VPC endpoint</dt>\n            <dd>\n               <p>Enter the API endpoint for the interface endpoint, such as \n\t\t\t\t\t<code>vpce-123456789abcdef01-example-us-east-1a.elasticloadbalancing.us-east-1.vpce.amazonaws.com</code>. For edge-optimized APIs, \n\t\t\t\t\tthis is the domain name for the corresponding CloudFront distribution. You can get the value of <code>DnsName</code> using the CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</a>.</p>\n\t\t\t\t        </dd>\n            <dt>CloudFront distribution</dt>\n            <dd>\n               <p>Specify the domain name that CloudFront assigned when you created your distribution.</p>\n\t\t\t\t\t          <p>Your CloudFront distribution must include an alternate domain name that matches the name of the resource record set. \n\t\t\t\t\t\tFor example, if the name of the resource record set is <i>acme.example.com</i>, your CloudFront distribution must \n\t\t\t\t\t\tinclude <i>acme.example.com</i> as one of the alternate domain names. For more information, see \n\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using Alternate Domain Names (CNAMEs)</a> in the \n\t\t\t\t\t\t<i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t\t\t\t          <p>You can't create a resource record set in a private hosted zone to route traffic to a CloudFront distribution.</p>\n\t\t\t\t\t          <note>\n                  <p>For failover alias records, you can't specify a CloudFront distribution for both the primary and secondary records. \n\t\t\t\t\t\tA distribution must include an alternate domain name that matches the name of the record. However, the primary and secondary records \n\t\t\t\t\t\thave the same name, and you can't include the same alternate domain name in more than one distribution. </p>\n               </note>\n\t\t\t\t        </dd>\n            <dt>Elastic Beanstalk environment</dt>\n            <dd>\n\t\t\t\t\t          <p>If the domain name for your Elastic Beanstalk environment includes the region that you deployed the environment in, \n\t\t\t\t\t\tyou can create an alias record that routes traffic to the environment. For example, the domain name \n\t\t\t\t\t\t<code>my-environment.<i>us-west-2</i>.elasticbeanstalk.com</code> is a regionalized domain name. </p>\n\t\t\t\t\t          <important>\n\t\t\t\t\t\t            <p>For environments that were created before early 2016, the domain name doesn't include the region. To route traffic \n\t\t\t\t\t\t\tto these environments, you must create a CNAME record instead of an alias record. Note that you can't create a \n\t\t\t\t\t\t\tCNAME record for the root domain name. For example, if your domain name is example.com, you can create a record \n\t\t\t\t\t\t\tthat routes traffic for acme.example.com to your Elastic Beanstalk environment, but you can't create a record \n\t\t\t\t\t\t\tthat routes traffic for example.com to your Elastic Beanstalk environment.</p>\n\t\t\t\t\t          </important>\n\t\t\t\t\t          <p>For Elastic Beanstalk environments that have regionalized subdomains, specify the <code>CNAME</code> attribute for the environment. \n\t\t\t\t\t\tYou can use the following methods to get the value of the CNAME attribute:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>Amazon Web Services Management Console</i>: For information about how to get the value by using the console, \n\t\t\t\t\t\t\t\tsee <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customdomains.html\">Using Custom Domains with Elastic Beanstalk</a> in the \n\t\t\t\t\t\t\t\t<i>Elastic Beanstalk Developer Guide</i>.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>Elastic Beanstalk API</i>: Use the <code>DescribeEnvironments</code> action to get \n\t\t\t\t\t\t\t\tthe value of the <code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_DescribeEnvironments.html\">DescribeEnvironments</a> \n\t\t\t\t\t\t\t\tin the <i>Elastic Beanstalk API Reference</i>.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>CLI</i>: Use the <code>describe-environments</code> command to get the value of the \n\t\t\t\t\t\t\t\t<code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/describe-environments.html\">describe-environments</a> in the \n\t\t\t\t\t\t\t\t<i>CLI Command Reference</i>.</p>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>ELB load balancer</dt>\n            <dd>\n               <p>Specify the DNS name that is associated with the load balancer. Get the DNS name by using the Amazon Web Services Management Console, \n\t\t\t\t\tthe ELB API, or the CLI. </p>\n\t\t\t\t\t          <ul>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Amazon Web Services Management Console</b>: Go to the EC2 page, choose <b>Load Balancers</b> \n\t\t\t\t\t\t\t\tin the navigation pane, choose the load balancer, choose the <b>Description</b> tab, and get the value \n\t\t\t\t\t\t\t\tof the <b>DNS name</b> field. </p>\n\t\t\t\t\t\t\t              <p>If you're routing traffic to a Classic Load Balancer, get the value that begins with <b>dualstack</b>. \n\t\t\t\t\t\t\t\tIf you're routing traffic to another type of load balancer, get the value that applies to the record type, A or AAAA.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code> to get the value \n\t\t\t\t\t\t\t\tof <code>DNSName</code>. For more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> \n                           </p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>CLI</b>: Use <code>describe-load-balancers</code> to get the value of <code>DNSName</code>.\n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>\n                           </p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Global Accelerator accelerator</dt>\n            <dd>\n               <p>Specify the DNS name for your accelerator:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <b>Global Accelerator API:</b> To get the DNS name, use  \n\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_DescribeAccelerator.html\">DescribeAccelerator</a>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>CLI:</b> To get the DNS name, use \n\t\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/globalaccelerator/describe-accelerator.html\">describe-accelerator</a>.</p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Amazon S3 bucket that is configured as a static website</dt>\n            <dd>\n               <p>Specify the domain name of the Amazon S3 website endpoint that you created the bucket in, for example, \n\t\t\t\t\t<code>s3-website.us-east-2.amazonaws.com</code>. For more information about valid values, see the table \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/general/latest/gr/s3.html#s3_website_region_endpoints\">Amazon S3 Website Endpoints</a> \n\t\t\t\t\tin the <i>Amazon Web Services General Reference</i>. For more information about using S3 buckets for websites, \n\t\t\t\t\tsee <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/getting-started.html\">Getting Started with Amazon Route 53</a> \n\t\t\t\t\tin the <i>Amazon Route 53 Developer Guide.</i>\n               </p>\n            </dd>\n            <dt>Another Route 53 resource record set</dt>\n            <dd>\n               <p>Specify the value of the <code>Name</code> element for a resource record set in the current hosted zone.</p>\n\t\t\t\t\t          <note>\n                  <p>If you're creating an alias record that has the same name as the hosted zone (known as the zone apex), \n\t\t\t\t\t\tyou can't specify the domain name for a record for which the value of <code>Type</code> is <code>CNAME</code>. This is because \n\t\t\t\t\t\tthe alias record must have the same type as the record that you're routing traffic to, and creating a CNAME record for the \n\t\t\t\t\t\tzone apex isn't supported even for an alias record.</p>\n               </note>\n\t\t\t\t        </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        },
        "EvaluateTargetHealth": {
          "target": "com.amazonaws.route53#AliasHealthEnabled",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Applies only to alias, failover alias, geolocation alias, latency alias, and weighted alias resource record sets:</i> \n\t\t\tWhen <code>EvaluateTargetHealth</code> is <code>true</code>, an alias resource record set inherits the health of the referenced Amazon Web Services resource, \n\t\t\tsuch as an ELB load balancer or another resource record set in the hosted zone.</p>\n\t\t       <p>Note the following:</p>\n\n\t\t       <dl>\n            <dt>CloudFront distributions</dt>\n            <dd>\n               <p>You can't set <code>EvaluateTargetHealth</code> to <code>true</code> when the alias target is a \n\t\t\t\t\tCloudFront distribution.</p>\n            </dd>\n            <dt>Elastic Beanstalk environments that have regionalized subdomains</dt>\n            <dd>\n               <p>If you specify an Elastic Beanstalk environment in <code>DNSName</code> and the environment contains an ELB load balancer, \n\t\t\t\t\tElastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. (An environment automatically \n\t\t\t\t\tcontains an ELB load balancer if it includes more than one Amazon EC2 instance.) If you set <code>EvaluateTargetHealth</code> to \n\t\t\t\t\t<code>true</code> and either no Amazon EC2 instances are healthy or the load balancer itself is unhealthy, \n\t\t\t\t\tRoute 53 routes queries to other available resources that are healthy, if any. </p>\n\t\t\t\t\t          <p>If the environment contains a single Amazon EC2 instance, there are no special requirements.</p>\n            </dd>\n            <dt>ELB load balancers</dt>\n            <dd>\n               <p>Health checking behavior depends on the type of load balancer:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <b>Classic Load Balancers</b>: If you specify an ELB Classic Load Balancer in \n\t\t\t\t\t\t\t<code>DNSName</code>, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. \n\t\t\t\t\t\t\tIf you set <code>EvaluateTargetHealth</code> to <code>true</code> and either no EC2 instances are healthy or the \n\t\t\t\t\t\t\tload balancer itself is unhealthy, Route 53 routes queries to other resources.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Application and Network Load Balancers</b>: If you specify an ELB \n\t\t\t\t\t\t\tApplication or Network Load Balancer and you set <code>EvaluateTargetHealth</code> to <code>true</code>, \n\t\t\t\t\t\t\tRoute 53 routes queries to the load balancer based on the health of the target groups that are associated with the load balancer:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>For an Application or Network Load Balancer to be considered healthy, every target group that contains targets \n\t\t\t\t\t\t\t\t\tmust contain at least one healthy target. If any target group contains only unhealthy targets, the load balancer is considered \n\t\t\t\t\t\t\t\t\tunhealthy, and Route 53 routes queries to other resources.</p>\n                        </li>\n                        <li>\n                           <p>A target group that has no registered targets is considered unhealthy.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t\t          <note>\n                  <p>When you create a load balancer, you configure settings for Elastic Load Balancing health checks; they're not Route 53 health checks, but \n\t\t\t\t\t\tthey perform a similar function. Do not create Route 53 health checks for the EC2 instances that you register with an ELB load balancer. </p>\n               </note>\n\t\t\t\t        </dd>\n            <dt>S3 buckets</dt>\n            <dd>\n               <p>There are no special requirements for setting <code>EvaluateTargetHealth</code> to <code>true</code> \n\t\t\t\t\twhen the alias target is an S3 bucket.</p>\n            </dd>\n            <dt>Other records in the same hosted zone</dt>\n            <dd>\n               <p>If the Amazon Web Services resource that you specify in <code>DNSName</code> is a record or a group of records \n\t\t\t\t\t(for example, a group of weighted records) but is not another alias record, we recommend that you associate a health check \n\t\t\t\t\twith all of the records in the alias target. For more information, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html#dns-failover-complex-configs-hc-omitting\">What Happens When You Omit Health Checks?</a> \n\t\t\t\t\tin the <i>Amazon Route 53 Developer Guide</i>.</p>\n            </dd>\n         </dl>\n\t\t\n\t\t       <p>For more information and examples, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <i>Alias resource record sets only:</i> Information about the Amazon Web Services resource, such as a CloudFront distribution or \n\t\t\tan Amazon S3 bucket, that you want to route traffic to.</p>\n\t\t       <p>When creating resource record sets for a private hosted zone, note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>Creating geolocation alias resource record sets or latency alias resource record sets in a private hosted zone \n\t\t\t\t\tis unsupported.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>For information about creating failover resource record sets in a private hosted zone, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a Private Hosted Zone</a>.</p>\n\t\t\t         </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53#AssociateVPCComment": {
      "type": "string"
    },
    "com.amazonaws.route53#AssociateVPCWithHostedZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#AssociateVPCWithHostedZoneRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#AssociateVPCWithHostedZoneResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#ConflictingDomainExists"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#InvalidVPCId"
        },
        {
          "target": "com.amazonaws.route53#LimitsExceeded"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHostedZone"
        },
        {
          "target": "com.amazonaws.route53#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.route53#PriorRequestNotComplete"
        },
        {
          "target": "com.amazonaws.route53#PublicZoneVPCAssociation"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Amazon VPC with a private hosted zone. </p>\n\t\t       <important>\n            <p>To perform the association, the VPC and the private hosted zone must already exist. \n\t\t\tYou can't convert a public hosted zone into a private hosted zone.</p>\n         </important>\n\t\t       <note>\n            <p>If you want to associate a VPC that was created by using one Amazon Web Services account with a private hosted zone that was created \n\t\t\tby using a different account, the Amazon Web Services account that created the private hosted zone must first submit a \n\t\t\t<code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an \n\t\t\t<code>AssociateVPCWithHostedZone</code> request.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/hostedzone/{HostedZoneId}/associatevpc",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53#AssociateVPCWithHostedZoneRequest": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the private hosted zone that you want to associate an Amazon VPC with.</p>\n\t\t       <p>Note that you can't associate a VPC with a hosted zone that doesn't have an existing VPC association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VPC": {
          "target": "com.amazonaws.route53#VPC",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the VPC that you want to associate with a private hosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.route53#AssociateVPCComment",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Optional:</i> A comment about the association request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the request to associate a VPC with a private hosted zone.</p>"
      }
    },
    "com.amazonaws.route53#AssociateVPCWithHostedZoneResponse": {
      "type": "structure",
      "members": {
        "ChangeInfo": {
          "target": "com.amazonaws.route53#ChangeInfo",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that describes the changes made to your hosted zone.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the response information for the <code>AssociateVPCWithHostedZone</code> request.</p>"
      }
    },
    "com.amazonaws.route53#Change": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.route53#ChangeAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to perform:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>CREATE</code>: Creates a resource record set that has the specified values.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DELETE</code>: Deletes a existing resource record set.</p>\n\t\t\t\t           <important>\n\t\t\t\t\t             <p>To delete the resource record set that is associated with a traffic policy instance, use \n\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteTrafficPolicyInstance.html\">DeleteTrafficPolicyInstance</a>. \n\t\t\t\t\t\tAmazon Route 53 will delete the resource record set automatically. If you delete the resource record set by using \n\t\t\t\t\t\t<code>ChangeResourceRecordSets</code>, Route 53 doesn't automatically delete the traffic policy instance, and you'll continue \n\t\t\t\t\t\tto be charged for it even though it's no longer in use. </p>\n\t\t\t\t           </important>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>UPSERT</code>: If a resource record set doesn't already exist, Route 53 creates it. \n\t\t\t\t\tIf a resource record set does exist, Route 53 updates it with the values in the request.</p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ResourceRecordSet": {
          "target": "com.amazonaws.route53#ResourceRecordSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource record set to create, delete, or update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information for each resource record set that you want to change.</p>"
      }
    },
    "com.amazonaws.route53#ChangeAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATE",
            "name": "CREATE"
          },
          {
            "value": "DELETE",
            "name": "DELETE"
          },
          {
            "value": "UPSERT",
            "name": "UPSERT"
          }
        ]
      }
    },
    "com.amazonaws.route53#ChangeBatch": {
      "type": "structure",
      "members": {
        "Comment": {
          "target": "com.amazonaws.route53#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Optional:</i> Any comments you want to include about a change batch\n\t\t\trequest.</p>"
          }
        },
        "Changes": {
          "target": "com.amazonaws.route53#Changes",
          "traits": {
            "smithy.api#documentation": "<p>Information about the changes to make to the record sets.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information for a change request.</p>"
      }
    },
    "com.amazonaws.route53#ChangeInfo": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>This element contains an ID that you use when performing a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a> \n\t\t\taction to get detailed information about the change.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.route53#ChangeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the request. <code>PENDING</code> indicates that this request has\n\t\t\tnot yet been applied to all Amazon Route 53 DNS servers.</p>",
            "smithy.api#required": {}
          }
        },
        "SubmittedAt": {
          "target": "com.amazonaws.route53#TimeStamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the change request was submitted in \n\t\t\t<a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601 format</a> and Coordinated Universal Time (UTC). \n\t\t\tFor example, the value <code>2017-03-27T17:48:16.751Z</code> represents March 27, 2017 at 17:48:16.751 UTC.</p>",
            "smithy.api#required": {}
          }
        },
        "Comment": {
          "target": "com.amazonaws.route53#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A comment you can provide.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes change information about changes made to your hosted\n\t\t\tzone.</p>"
      }
    },
    "com.amazonaws.route53#ChangeResourceRecordSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#ChangeResourceRecordSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#ChangeResourceRecordSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#InvalidChangeBatch"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHostedZone"
        },
        {
          "target": "com.amazonaws.route53#PriorRequestNotComplete"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates, changes, or deletes a resource record set, which contains authoritative DNS information for a specified \n\t\t\tdomain name or subdomain name. For example, you can use <code>ChangeResourceRecordSets</code> to create a resource record set that \n\t\t\troutes traffic for test.example.com to a web server that has an IP address of 192.0.2.44.</p>\n\t\t\n\t\t       <p>\n            <b>Deleting Resource Record Sets</b>\n         </p>\n\t\t       <p>To delete a resource record set, you must specify all the same values that you specified when you created it.</p>\n\n\t\t       <p>\n            <b>Change Batches and Transactional Changes</b>\n         </p>\n\t\t       <p>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. \n\t\t\tThe request body contains a list of change items, known as a change batch. Change batches are considered transactional changes.\n\t\t\tRoute 53 validates the changes in the request and then either makes all or none of the changes in the change batch request. \n\t\t\tThis ensures that DNS routing isn't adversely affected by partial changes to the resource record sets in a hosted zone. </p>\n\t\t       <p>For example, suppose a change batch request contains two changes: it deletes the <code>CNAME</code> resource record set for www.example.com and \n\t\t\tcreates an alias resource record set for www.example.com. If validation for both records succeeds, Route 53 deletes the first resource record set and \n\t\t\tcreates the second resource record set in a single operation. If validation for either the <code>DELETE</code> or the <code>CREATE</code> action fails, \n\t\t\tthen the request is canceled, and the original <code>CNAME</code> record continues to exist.</p>\n\t\t       <note>\n\t\t\t         <p>If you try to delete the same resource record set more than once in a single change batch, Route 53 returns an <code>InvalidChangeBatch</code> error.</p>\n\t\t       </note>\n\t\t\n\t\t       <p>\n            <b>Traffic Flow</b>\n         </p>\n\t\t       <p>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the \n\t\t\tRoute 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, \n\t\t\tthen associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), \n\t\t\tin the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn't performing \n\t\t\tas expected. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html\">Using Traffic Flow to Route DNS Traffic</a> \n\t\t\tin the <i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t\n\t\t       <p>\n            <b>Create, Delete, and Upsert</b>\n         </p>\n\t\t       <p>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</p>\n\t\t\t      <ul>\n            <li>\n\t\t\t\t\t          <p>\n                  <code>CREATE</code>: Creates a resource record set that has the specified values.</p>\n\t\t\t\t        </li>\n            <li>\n\t\t\t\t\t          <p>\n                  <code>DELETE</code>: Deletes an existing resource record set that has the specified values.</p>\n\t\t\t\t        </li>\n            <li>\n\t\t\t\t\t          <p>\n                  <code>UPSERT</code>: If a resource record set does not already exist, Amazon Web Services creates it. \n\t\t\t\t\t\tIf a resource set does exist, Route 53 updates it with the values in the request. </p>\n\t\t\t\t        </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>Syntaxes for Creating, Updating, and Deleting Resource Record Sets</b>\n         </p>\n\t\t       <p>The syntax for a request depends on the type of resource record set that you want to create, delete, or update, such as \n\t\t\tweighted, alias, or failover. The XML elements in your request must appear in the order listed in the syntax. </p>\n\n\t\t\n\t\t       <p>For an example for each type of resource record set, see \"Examples.\"</p>\n\t\t\n\t\t\n\t\t       <p>Don't refer to the syntax in the \"Parameter Syntax\" section, which includes all of the elements for every kind of \n\t\t\tresource record set that you can create, delete, or update by using <code>ChangeResourceRecordSets</code>. </p>\n\t\t\n\t\t       <p>\n            <b>Change Propagation to Route 53 DNS Servers</b>\n         </p>\n\t\t       <p>When you submit a <code>ChangeResourceRecordSets</code> request, Route 53 propagates your changes to all of the \n\t\t\tRoute 53 authoritative DNS servers. While your changes are propagating, <code>GetChange</code> returns a status of \n\t\t\t<code>PENDING</code>. When propagation is complete, <code>GetChange</code> returns a status of <code>INSYNC</code>. \n\t\t\tChanges generally propagate to all Route 53 name servers within 60 seconds. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a>.</p>\n\n\t\t       <p>\n            <b>Limits on ChangeResourceRecordSets Requests</b>\n         </p>\n\t\t       <p>For information about the limits on a <code>ChangeResourceRecordSets</code> request, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the \n\t\t\t<i>Amazon Route 53 Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/hostedzone/{HostedZoneId}/rrset",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53#ChangeResourceRecordSetsRequest": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hosted zone that contains the resource record sets that you want to change.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChangeBatch": {
          "target": "com.amazonaws.route53#ChangeBatch",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains an optional comment and the <code>Changes</code> element.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains change information for the resource record set.</p>"
      }
    },
    "com.amazonaws.route53#ChangeResourceRecordSetsResponse": {
      "type": "structure",
      "members": {
        "ChangeInfo": {
          "target": "com.amazonaws.route53#ChangeInfo",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about changes made to your hosted zone.</p>\n\t\t       <p>This element contains an ID that you use when performing a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a> \n\t\t\taction to get detailed information about the change.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type containing the response for the request.</p>"
      }
    },
    "com.amazonaws.route53#ChangeStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "INSYNC",
            "name": "INSYNC"
          }
        ]
      }
    },
    "com.amazonaws.route53#ChangeTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#ChangeTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#ChangeTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHealthCheck"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHostedZone"
        },
        {
          "target": "com.amazonaws.route53#PriorRequestNotComplete"
        },
        {
          "target": "com.amazonaws.route53#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds, edits, or deletes tags for a health check or a hosted zone.</p>\n\t\t       <p>For information about using tags for cost allocation, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> \n\t\t\tin the <i>Billing and Cost Management User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/tags/{ResourceType}/{ResourceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53#ChangeTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.route53#TagResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>\n\t\t       <ul>\n            <li>\n               <p>The resource type for health checks is <code>healthcheck</code>.</p>\n            </li>\n            <li>\n               <p>The resource type for hosted zones is <code>hostedzone</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53#TagResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource for which you want to add, change, or delete tags.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AddTags": {
          "target": "com.amazonaws.route53#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a list of the tags that you want to add to the specified health check or hosted zone and/or the tags \n\t\t\tthat you want to edit <code>Value</code> for.</p>\n\t\t       <p>You can add a maximum of 10 tags to a health check or a hosted zone.</p>"
          }
        },
        "RemoveTagKeys": {
          "target": "com.amazonaws.route53#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a list of the tags that you want to delete from the specified health check or hosted zone. \n\t\t\tYou can specify up to 10 keys.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the tags that you want to add, edit, or delete.</p>"
      }
    },
    "com.amazonaws.route53#ChangeTagsForResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Empty response for the request.</p>"
      }
    },
    "com.amazonaws.route53#Changes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53#Change",
        "traits": {
          "smithy.api#xmlName": "Change"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.route53#CheckerIpRanges": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53#IPAddressCidr"
      }
    },
    "com.amazonaws.route53#ChildHealthCheckList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53#HealthCheckId",
        "traits": {
          "smithy.api#xmlName": "ChildHealthCheck"
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53#CloudWatchAlarmConfiguration": {
      "type": "structure",
      "members": {
        "EvaluationPeriods": {
          "target": "com.amazonaws.route53#EvaluationPeriods",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, the number of periods that the metric is compared to the threshold.</p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.route53#Threshold",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, the value the metric is compared with.</p>",
            "smithy.api#required": {}
          }
        },
        "ComparisonOperator": {
          "target": "com.amazonaws.route53#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, the arithmetic operation that is used for the comparison.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.route53#Period",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, the duration of one evaluation period in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricName": {
          "target": "com.amazonaws.route53#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch metric that the alarm is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "Namespace": {
          "target": "com.amazonaws.route53#Namespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the metric that the alarm is associated with. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon CloudWatch Namespaces, Dimensions, and Metrics Reference</a> \n\t\t\tin the <i>Amazon CloudWatch User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Statistic": {
          "target": "com.amazonaws.route53#Statistic",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, the statistic that is applied to the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.route53#DimensionList",
          "traits": {
            "smithy.api#documentation": "<p>For the metric that the CloudWatch alarm is associated with, a complex type that contains information about the dimensions for the metric. \n\t\t\tFor information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/CW_Support_For_AWS.html\">Amazon CloudWatch Namespaces, Dimensions, and Metrics Reference</a> \n\t\t\tin the <i>Amazon CloudWatch User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the CloudWatch alarm that Amazon Route 53 is monitoring for this health check.</p>"
      }
    },
    "com.amazonaws.route53#CloudWatchLogsLogGroupArn": {
      "type": "string"
    },
    "com.amazonaws.route53#CloudWatchRegion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "us-east-1",
            "name": "us_east_1"
          },
          {
            "value": "us-east-2",
            "name": "us_east_2"
          },
          {
            "value": "us-west-1",
            "name": "us_west_1"
          },
          {
            "value": "us-west-2",
            "name": "us_west_2"
          },
          {
            "value": "ca-central-1",
            "name": "ca_central_1"
          },
          {
            "value": "eu-central-1",
            "name": "eu_central_1"
          },
          {
            "value": "eu-west-1",
            "name": "eu_west_1"
          },
          {
            "value": "eu-west-2",
            "name": "eu_west_2"
          },
          {
            "value": "eu-west-3",
            "name": "eu_west_3"
          },
          {
            "value": "ap-east-1",
            "name": "ap_east_1"
          },
          {
            "value": "me-south-1",
            "name": "me_south_1"
          },
          {
            "value": "ap-south-1",
            "name": "ap_south_1"
          },
          {
            "value": "ap-southeast-1",
            "name": "ap_southeast_1"
          },
          {
            "value": "ap-southeast-2",
            "name": "ap_southeast_2"
          },
          {
            "value": "ap-northeast-1",
            "name": "ap_northeast_1"
          },
          {
            "value": "ap-northeast-2",
            "name": "ap_northeast_2"
          },
          {
            "value": "ap-northeast-3",
            "name": "ap_northeast_3"
          },
          {
            "value": "eu-north-1",
            "name": "eu_north_1"
          },
          {
            "value": "sa-east-1",
            "name": "sa_east_1"
          },
          {
            "value": "cn-northwest-1",
            "name": "cn_northwest_1"
          },
          {
            "value": "cn-north-1",
            "name": "cn_north_1"
          },
          {
            "value": "af-south-1",
            "name": "af_south_1"
          },
          {
            "value": "eu-south-1",
            "name": "eu_south_1"
          },
          {
            "value": "us-gov-west-1",
            "name": "us_gov_west_1"
          },
          {
            "value": "us-gov-east-1",
            "name": "us_gov_east_1"
          },
          {
            "value": "us-iso-east-1",
            "name": "us_iso_east_1"
          },
          {
            "value": "us-isob-east-1",
            "name": "us_isob_east_1"
          }
        ],
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53#ComparisonOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GreaterThanOrEqualToThreshold",
            "name": "GreaterThanOrEqualToThreshold"
          },
          {
            "value": "GreaterThanThreshold",
            "name": "GreaterThanThreshold"
          },
          {
            "value": "LessThanThreshold",
            "name": "LessThanThreshold"
          },
          {
            "value": "LessThanOrEqualToThreshold",
            "name": "LessThanOrEqualToThreshold"
          }
        ]
      }
    },
    "com.amazonaws.route53#ConcurrentModification": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Another user submitted a request to create, update, or delete the object at the same time that you did. Retry the request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53#ConflictingDomainExists": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cause of this error depends on the operation that you're performing:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>Create a public hosted zone:</b> Two hosted zones that have the same name or that have a \n\t\t\t\tparent/child relationship (example.com and test.example.com) can't have any common name servers. You tried to create a hosted zone \n\t\t\t\tthat has the same name as an existing hosted zone or that's the parent or child of an existing hosted zone, and you specified a \n\t\t\t\tdelegation set that shares one or more name servers with the existing hosted zone. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateReusableDelegationSet.html\">CreateReusableDelegationSet</a>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <b>Create a private hosted zone:</b> A hosted zone with the specified name \n\t\t\t\talready exists and is already associated with the Amazon VPC that you specified.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Associate VPCs with a private hosted zone:</b> The VPC that you specified is \n\t\t\t\talready associated with another hosted zone that has the same name.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53#ConflictingTypes": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You tried to update a traffic policy instance by using a traffic policy version that has a different DNS type \n\t\t\tthan the current type for the instance. You specified the type in the JSON document in the <code>CreateTrafficPolicy</code> or \n\t\t\t<code>CreateTrafficPolicyVersion</code>request. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53#CreateHealthCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#CreateHealthCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#CreateHealthCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#HealthCheckAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#TooManyHealthChecks"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new health check.</p>\n\t\t       <p>For information about adding health checks to resource record sets, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ResourceRecordSet.html#Route53-Type-ResourceRecordSet-HealthCheckId\">HealthCheckId</a> \n\t\t\tin \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\">ChangeResourceRecordSets</a>. </p>\n\t\t\n\t\t       <p>\n            <b>ELB Load Balancers</b>\n         </p>\n\t\t       <p>If you're registering EC2 instances with an Elastic Load Balancing (ELB) load balancer, do not create Amazon Route 53 health checks for the \n\t\t\tEC2 instances. When you register an EC2 instance with a load balancer, you configure settings for an ELB health check, which performs a \n\t\t\tsimilar function to a Route 53 health check.</p>\n\t\t\n\t\t       <p>\n            <b>Private Hosted Zones</b>\n         </p>\n\t\t       <p>You can associate health checks with failover resource record sets in a private hosted zone. Note the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Route 53 health checkers are outside the VPC. To check the health of an endpoint within a VPC by IP address, you must \n\t\t\t\t\tassign a public IP address to the instance in the VPC.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>You can configure a health checker to check the health of an external resource that the instance relies on, such as a \n\t\t\t\t\tdatabase server.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>You can create a CloudWatch metric, associate an alarm with the metric, and then create a health check that is based on the \n\t\t\t\t\tstate of the alarm. For example, you might create a CloudWatch metric that checks the status of the Amazon EC2 <code>StatusCheckFailed</code> metric, \n\t\t\t\t\tadd an alarm to the metric, and then create a health check that is based on the state of the alarm. For information about creating \n\t\t\t\t\tCloudWatch metrics and alarms by using the CloudWatch console, see the \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p>\n\t\t\t         </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/healthcheck",
          "code": 201
        }
      }
    },
    "com.amazonaws.route53#CreateHealthCheckRequest": {
      "type": "structure",
      "members": {
        "CallerReference": {
          "target": "com.amazonaws.route53#HealthCheckNonce",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows you to retry a failed <code>CreateHealthCheck</code> request \n\t\t\twithout the risk of creating two identical health checks:</p>\n\t\t       <ul>\n            <li>\n               <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> and settings \n\t\t\t\tas a previous request, and if the health check doesn't exist, Amazon Route 53 creates the health check. If the health check does exist, \n\t\t\t\tRoute 53 returns the settings for the existing health check.</p>\n            </li>\n            <li>\n               <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> as a deleted health check, \n\t\t\t\tregardless of the settings, Route 53 returns a <code>HealthCheckAlreadyExists</code> error.</p>\n            </li>\n            <li>\n               <p>If you send a <code>CreateHealthCheck</code> request with the same <code>CallerReference</code> as an existing health check \n\t\t\t\tbut with different settings, Route 53 returns a <code>HealthCheckAlreadyExists</code> error.</p>\n            </li>\n            <li>\n               <p>If you send a <code>CreateHealthCheck</code> request with a unique <code>CallerReference</code> but settings identical to \n\t\t\t\tan existing health check, Route 53 creates the health check.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "HealthCheckConfig": {
          "target": "com.amazonaws.route53#HealthCheckConfig",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for a new health check.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains the health check request information.</p>"
      }
    },
    "com.amazonaws.route53#CreateHealthCheckResponse": {
      "type": "structure",
      "members": {
        "HealthCheck": {
          "target": "com.amazonaws.route53#HealthCheck",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains identifying information about the health check.</p>",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.route53#ResourceURI",
          "traits": {
            "smithy.api#documentation": "<p>The unique URL representing the new health check.</p>",
            "smithy.api#httpHeader": "Location",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type containing the response information for the new health check.</p>"
      }
    },
    "com.amazonaws.route53#CreateHostedZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#CreateHostedZoneRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#CreateHostedZoneResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#ConflictingDomainExists"
        },
        {
          "target": "com.amazonaws.route53#DelegationSetNotAvailable"
        },
        {
          "target": "com.amazonaws.route53#DelegationSetNotReusable"
        },
        {
          "target": "com.amazonaws.route53#HostedZoneAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53#InvalidDomainName"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#InvalidVPCId"
        },
        {
          "target": "com.amazonaws.route53#NoSuchDelegationSet"
        },
        {
          "target": "com.amazonaws.route53#TooManyHostedZones"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new public or private hosted zone. You create records in a public hosted zone to define how you want to route traffic \n\t\t\ton the internet for a domain, such as example.com, and its subdomains (apex.example.com, acme.example.com). You create records in a \n\t\t\tprivate hosted zone to define how you want to route traffic for a domain and its subdomains within one or more \n\t\t\tAmazon Virtual Private Clouds (Amazon VPCs). </p>\n\t\t       <important>\n\t\t\t         <p>You can't convert a public hosted zone to a private hosted zone or vice versa. Instead, you must create a new hosted zone \n\t\t\t\twith the same name and create new resource record sets.</p>\n\t\t       </important>\n\t\t       <p>For more information about charges for hosted zones, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>\n\t\t       <p>Note the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>You can't create a hosted zone for a top-level domain (TLD) such as .com.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>For public hosted zones, Route 53 automatically creates a default SOA record and four NS records for the zone. \n\t\t\t\t\tFor more information about SOA and NS records, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html\">NS and SOA Records that Route 53 Creates for a Hosted Zone</a> in the \n\t\t\t\t\t<i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t\t\t           <p>If you want to use the same name servers for multiple public hosted zones, you can optionally associate a reusable delegation set \n\t\t\t\t\twith the hosted zone. See the <code>DelegationSetId</code> element.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>If your domain is registered with a registrar other than Route 53, you must update the name servers with your registrar to make \n\t\t\t\t\tRoute 53 the DNS service for the domain. For more information, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html\">Migrating DNS Service for an Existing Domain to Amazon Route 53</a> in the \n\t\t\t\t\t<i>Amazon Route 53 Developer Guide</i>. </p>\n\t\t\t         </li>\n         </ul>\n\t\t       <p>When you submit a <code>CreateHostedZone</code> request, the initial status of the hosted zone is <code>PENDING</code>. \n\t\t\tFor public hosted zones, this means that the NS and SOA records are not yet available on all Route 53 DNS servers. When the \n\t\t\tNS and SOA records are available, the status of the zone changes to <code>INSYNC</code>.</p>\n\t\t       <p>The <code>CreateHostedZone</code> request requires the caller to have an <code>ec2:DescribeVpcs</code> permission.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/hostedzone",
          "code": 201
        }
      }
    },
    "com.amazonaws.route53#CreateHostedZoneRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53#DNSName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain. Specify a fully qualified domain name, for example, <i>www.example.com</i>. \n\t\t\tThe trailing dot is optional; Amazon Route 53 assumes that the domain name is fully qualified. This means that Route 53 treats \n\t\t\t<i>www.example.com</i> (without a trailing dot) and <i>www.example.com.</i> (with a trailing dot) as identical.</p>\n\t\t       <p>If you're creating a public hosted zone, this is the name you have registered with your DNS registrar. If your domain name \n\t\t\tis registered with a registrar other than Route 53, change the name servers for your domain to the set of <code>NameServers</code> that \n\t\t\t<code>CreateHostedZone</code> returns in <code>DelegationSet</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "VPC": {
          "target": "com.amazonaws.route53#VPC",
          "traits": {
            "smithy.api#documentation": "<p>(Private hosted zones only) A complex type that contains information about the Amazon VPC that you're associating with this hosted zone.</p>\n\t\t       <p>You can specify only one Amazon VPC when you create a private hosted zone. To associate additional Amazon VPCs with the hosted zone, \n\t\t\tuse <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AssociateVPCWithHostedZone.html\">AssociateVPCWithHostedZone</a>\n\t\t\tafter you create a hosted zone.</p>"
          }
        },
        "CallerReference": {
          "target": "com.amazonaws.route53#Nonce",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateHostedZone</code> requests to be retried without \n\t\t\tthe risk of executing the operation twice. You must use a unique <code>CallerReference</code> string every time you submit a \n\t\t\t<code>CreateHostedZone</code> request. <code>CallerReference</code> can be any unique string, for example, a date/time stamp.</p>",
            "smithy.api#required": {}
          }
        },
        "HostedZoneConfig": {
          "target": "com.amazonaws.route53#HostedZoneConfig",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A complex type that contains the following optional values:</p>\n\t\t       <ul>\n            <li>\n               <p>For public and private hosted zones, an optional comment</p>\n            </li>\n            <li>\n               <p>For private hosted zones, an optional <code>PrivateZone</code> element</p>\n            </li>\n         </ul>\n\t\t       <p>If you don't specify a comment or the <code>PrivateZone</code> element, omit <code>HostedZoneConfig</code> and \n\t\t\tthe other elements.</p>"
          }
        },
        "DelegationSetId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>If you want to associate a reusable delegation set with this hosted zone, the ID that Amazon Route 53 assigned to the reusable delegation set \n\t\t\twhen you created it. For more information about reusable delegation sets, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateReusableDelegationSet.html\">CreateReusableDelegationSet</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about the request to create a public or private hosted zone.</p>"
      }
    },
    "com.amazonaws.route53#CreateHostedZoneResponse": {
      "type": "structure",
      "members": {
        "HostedZone": {
          "target": "com.amazonaws.route53#HostedZone",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains general information about the hosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "ChangeInfo": {
          "target": "com.amazonaws.route53#ChangeInfo",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about the <code>CreateHostedZone</code> request.</p>",
            "smithy.api#required": {}
          }
        },
        "DelegationSet": {
          "target": "com.amazonaws.route53#DelegationSet",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that describes the name servers for this hosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "VPC": {
          "target": "com.amazonaws.route53#VPC",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about an Amazon VPC that you associated with this hosted zone.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.route53#ResourceURI",
          "traits": {
            "smithy.api#documentation": "<p>The unique URL representing the new hosted zone.</p>",
            "smithy.api#httpHeader": "Location",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type containing the response information for the hosted zone.</p>"
      }
    },
    "com.amazonaws.route53#CreateKeySigningKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#CreateKeySigningKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#CreateKeySigningKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#ConcurrentModification"
        },
        {
          "target": "com.amazonaws.route53#InvalidArgument"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#InvalidKeySigningKeyName"
        },
        {
          "target": "com.amazonaws.route53#InvalidKeySigningKeyStatus"
        },
        {
          "target": "com.amazonaws.route53#InvalidKMSArn"
        },
        {
          "target": "com.amazonaws.route53#InvalidSigningStatus"
        },
        {
          "target": "com.amazonaws.route53#KeySigningKeyAlreadyExists"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHostedZone"
        },
        {
          "target": "com.amazonaws.route53#TooManyKeySigningKeys"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new key-signing key (KSK) associated with a hosted zone. You can only have two KSKs per hosted zone.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/keysigningkey",
          "code": 201
        }
      }
    },
    "com.amazonaws.route53#CreateKeySigningKeyRequest": {
      "type": "structure",
      "members": {
        "CallerReference": {
          "target": "com.amazonaws.route53#Nonce",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request.</p>",
            "smithy.api#required": {}
          }
        },
        "HostedZoneId": {
          "target": "com.amazonaws.route53#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique string (ID) used to identify a hosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyManagementServiceArn": {
          "target": "com.amazonaws.route53#SigningKeyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon resource name (ARN) for a customer managed customer master key (CMK) in Key Management Service (KMS).\n\t\t\tThe <code>KeyManagementServiceArn</code> must be unique for each key-signing key (KSK) in a single hosted zone. \n\t\t\tTo see an example of <code>KeyManagementServiceArn</code> that grants the correct permissions for DNSSEC, \n\t\t\tscroll down to <b>Example</b>. </p>\n\t\t       <p>You must configure the customer managed CMK as follows:</p>\n\t\t       <dl>\n            <dt>Status</dt>\n            <dd>\n               <p>Enabled</p>\n            </dd>\n            <dt>Key spec</dt>\n            <dd>\n               <p>ECC_NIST_P256</p>\n            </dd>\n            <dt>Key usage</dt>\n            <dd>\n               <p>Sign and verify</p>\n            </dd>\n            <dt>Key policy</dt>\n            <dd>\n               <p>The key policy must give permission for the following actions:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>DescribeKey</p>\n                  </li>\n                  <li>\n                     <p>GetPublicKey</p>\n                  </li>\n                  <li>\n                     <p>Sign</p>\n                  </li>\n               </ul>\n\t\t\t\t\t          <p>The key policy must also include the Amazon Route 53 service in the principal for your account. \n\t\t\t\t\t\tSpecify the following:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>\"Service\": \"dnssec-route53.amazonaws.com\"</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n         </dl>\n\t\t       <p>For more information about working with a customer managed CMK in KMS, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html\">Key Management Service concepts</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53#SigningKeyName",
          "traits": {
            "smithy.api#documentation": "<p>A string used to identify a key-signing key (KSK). <code>Name</code> can include numbers, letters,  and underscores (_). <code>Name</code> must be unique for each key-signing key in the same \n\t\t\thosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.route53#SigningKeyStatus",
          "traits": {
            "smithy.api#documentation": "<p>A string specifying the initial status of the key-signing key (KSK). You can set the value to <code>ACTIVE</code> or <code>INACTIVE</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53#CreateKeySigningKeyResponse": {
      "type": "structure",
      "members": {
        "ChangeInfo": {
          "target": "com.amazonaws.route53#ChangeInfo",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "KeySigningKey": {
          "target": "com.amazonaws.route53#KeySigningKey",
          "traits": {
            "smithy.api#documentation": "<p>The key-signing key (KSK) that the request creates.</p>",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.route53#ResourceURI",
          "traits": {
            "smithy.api#documentation": "<p>The unique URL representing the new key-signing key (KSK).</p>",
            "smithy.api#httpHeader": "Location",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53#CreateQueryLoggingConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53#CreateQueryLoggingConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53#CreateQueryLoggingConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53#ConcurrentModification"
        },
        {
          "target": "com.amazonaws.route53#InsufficientCloudWatchLogsResourcePolicy"
        },
        {
          "target": "com.amazonaws.route53#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53#NoSuchCloudWatchLogsLogGroup"
        },
        {
          "target": "com.amazonaws.route53#NoSuchHostedZone"
        },
        {
          "target": "com.amazonaws.route53#QueryLoggingConfigAlreadyExists"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a configuration for DNS query logging. After you create a query logging configuration, Amazon Route 53 begins to publish \n\t\t\tlog data to an Amazon CloudWatch Logs log group.</p>\n\t\t       <p>DNS query logs contain information about the queries that Route 53 receives for a specified public hosted zone, such as the following:</p>\n\t\t       <ul>\n            <li>\n               <p>Route 53 edge location that responded to the DNS query</p>\n            </li>\n            <li>\n               <p>Domain or subdomain that was requested</p>\n            </li>\n            <li>\n               <p>DNS record type, such as A or AAAA</p>\n            </li>\n            <li>\n               <p>DNS response code, such as <code>NoError</code> or <code>ServFail</code>\n               </p>\n            </li>\n         </ul>\n\t\t\n\t\t       <dl>\n            <dt>Log Group and Resource Policy</dt>\n            <dd>\n               <p>Before you create a query logging configuration, perform the following operations.</p>\n\t\t\t\t\t          <note>\n                  <p>If you create a query logging configuration using the Route 53 console, Route 53 performs these operations automatically.</p>\n               </note>\n\t\t\t\t\t          <ol>\n                  <li>\n                     <p>Create a CloudWatch Logs log group, and make note of the ARN, which you specify when you create a \n\t\t\t\t\t\t\tquery logging configuration. Note the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>You must create the log group in the us-east-1 region.</p>\n                        </li>\n                        <li>\n                           <p>You must use the same Amazon Web Services account to create the log group and the hosted zone that you want to \n\t\t\t\t\t\t\t\t\tconfigure query logging for.</p>\n                        </li>\n                        <li>\n                           <p>When you create log groups for query logging, we recommend that you use a consistent prefix, for example:</p>\n\t\t\t\t\t\t\t\t\t                  <p>\n                              <code>/aws/route53/<i>hosted zone name</i>\n                              </code>\n                           </p>\n\t\t\t\t\t\t\t\t\t                  <p>In the next step, you'll create a resource policy, which controls access to one or more log groups and the associated \n\t\t\t\t\t\t\t\t\t\tAmazon Web Services resources, such as Route 53 hosted zones. There's a limit on the number of resource policies that you can create, so \n\t\t\t\t\t\t\t\t\t\twe recommend that you use a consistent prefix so you can use the same resource policy for all the log groups that you create \n\t\t\t\t\t\t\t\t\t\tfor query logging.</p>\n\t\t\t\t\t\t\t\t                </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>Create a CloudWatch Logs resource policy, and give it the permissions that Route 53 needs to create log streams and to \n\t\t\t\t\t\t\tsend query logs to log streams. For the value of <code>Resource</code>, specify the ARN for the log group that you created \n\t\t\t\t\t\t\tin the previous step. To use the same resource policy for all the CloudWatch Logs log groups that you created for query logging configurations, \n\t\t\t\t\t\t\treplace the hosted zone name with <code>*</code>, for example:</p>\n\t\t\t\t\t\t\t              <p>\n                        <code>arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*</code>\n                     </p>\n\t\t\t\t\t\t\t              <note>\n                        <p>You can't use the CloudWatch console to create or edit a resource policy. You must use the CloudWatch API, one of the Amazon Web Services SDKs, \n\t\t\t\t\t\t\t\tor the CLI.</p>\n                     </note>\n\t\t\t\t\t\t            </li>\n               </ol>\n\t\t\t\t        </dd>\n            <dt>Log Streams and Edge Locations</dt>\n            <dd>\n               <p>When Route 53 finishes creating the configuration for DNS query logging, it does the following:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>Creates a log stream for an edge location the first time that the edge location responds to DNS queries for the \n\t\t\t\t\t\t\tspecified hosted zone. That log stream is used to log all queries that Route 53 responds to for that edge location.</p>\n                  </li>\n                  <li>\n                     <p>Begins to send query logs to the applicable log stream.</p>\n                  </li>\n               </ul>\n\t\t\t\t\t          <p>The name of each log stream is in the following format:</p>\n\t\t\t\t\t          <p>\n                  <code>\n                     <i>hosted zone ID</i>/<i>edge location code</i>\n                  </code>\n               </p>\n\t\t\t\t\t          <p>The edge location code is a three-letter code and an arbitrarily assigned number, for example, DFW3. The three-letter code \n\t\t\t\t\t\ttypically corresponds with the International Air Transport Association airport code for an airport near the edge location. \n\t\t\t\t\t\t(These abbreviations might change in the future.) For a list of edge locations, see \"The Route 53 Global Network\" on the \n\t\t\t\t\t\t<a href=\"http://aws.amazon.com/route53/details/\">Route 53 Product Details</a> page.</p>\n\t\t\t\t        </dd>\n            <dt>Queries That Are Logged</dt>\n            <dd>\n               <p>Query logs contain only the queries that DNS resolvers forward to Route 53. If a DNS resolver has already cached \n\t\t\t\t\tthe response to a query (such as the IP address for a load balancer for example.com), the resolver will continue to return \n\t\t\t\t\tthe cached response. It doesn't forward another query to Route 53 until the TTL for the corresponding resource record set expires. \n\t\t\t\t\tDepending on how many DNS queries are submitted for a resource record set, and depending on the TTL for that resource record set, \n\t\t\t\t\tquery logs might contain information about only one query out of every several thousand queries that are submitted to DNS. \n\t\t\t\t\tFor more information about how DNS works, see \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\">Routing Internet Traffic to Your Website or Web Application</a>\n\t\t\t\t\tin the <i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t\t\t        </dd>\n            <dt>Log File Format</dt>\n            <dd>\n               <p>For a list of the values in each query log and the format of each value, see \n\t\t\t\t\t<a href=
[...]
