{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53recoveryreadiness#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User does not have sufficient access to perform this action.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.route53recoveryreadiness#CellOutput": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the Cell",
            "smithy.api#jsonName": "cellArn",
            "smithy.api#required": {}
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the Cell",
            "smithy.api#jsonName": "cellName",
            "smithy.api#required": {}
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells",
            "smithy.api#required": {}
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell ARNs and/or RecoveryGroup ARNs",
            "smithy.api#jsonName": "parentReadinessScopes",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Cell and its properties"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updating or deleting a resource can cause an inconsistent state.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCellRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCellResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new Cell.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cells",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the Cell to create",
            "smithy.api#jsonName": "cellName",
            "smithy.api#required": {}
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns contained within this Cell (for use in nested Cells, e.g. regions within which AZs)",
            "smithy.api#jsonName": "cells"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Cell to create"
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCellResponse": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the Cell",
            "smithy.api#jsonName": "cellArn"
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the Cell",
            "smithy.api#jsonName": "cellName"
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells"
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell ARNs and/or RecoveryGroup ARNs",
            "smithy.api#jsonName": "parentReadinessScopes"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Create a new cross account readiness authorization.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/crossaccountauthorizations",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationRequest": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "The cross account authorization",
            "smithy.api#jsonName": "crossAccountAuthorization",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The cross account authorization"
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationResponse": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "The cross account authorization",
            "smithy.api#jsonName": "crossAccountAuthorization"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new Readiness Check.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/readinesschecks",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the ReadinessCheck to create",
            "smithy.api#jsonName": "readinessCheckName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the ResourceSet to check",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ReadinessCheck to create"
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckResponse": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "Arn associated with ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckArn"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name for a ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name of the ResourceSet to be checked",
            "smithy.api#jsonName": "resourceSet"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new Recovery Group.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recoverygroups",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the RecoveryGroup to create",
            "smithy.api#jsonName": "recoveryGroupName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The RecoveryGroup to create"
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupArn"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupName"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSetRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new Resource Set.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/resourcesets",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the ResourceSet to create",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "AWS Resource type of the resources in the ResourceSet",
            "smithy.api#jsonName": "resourceSetType",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "A list of Resource objects",
            "smithy.api#jsonName": "resources",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The ResourceSet to create"
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSetResponse": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the ResourceSet",
            "smithy.api#jsonName": "resourceSetArn"
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the ResourceSet",
            "smithy.api#jsonName": "resourceSetName"
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "AWS Resource Type of the resources in the ResourceSet",
            "smithy.api#jsonName": "resourceSetType"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "A list of Resource objects",
            "smithy.api#jsonName": "resources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "A cross-account authorization, e.g. arn:aws:iam::123456789012:root"
      }
    },
    "com.amazonaws.route53recoveryreadiness#DNSTargetResource": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The DNS Name that acts as ingress point to a portion of application",
            "smithy.api#jsonName": "domainName"
          }
        },
        "HostedZoneArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Hosted Zone ARN that contains the DNS record with the provided name of target resource.",
            "smithy.api#jsonName": "hostedZoneArn"
          }
        },
        "RecordSetId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The R53 Set Id to uniquely identify a record given a Name and a Type",
            "smithy.api#jsonName": "recordSetId"
          }
        },
        "RecordType": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Type of DNS Record of target resource",
            "smithy.api#jsonName": "recordType"
          }
        },
        "TargetResource": {
          "target": "com.amazonaws.route53recoveryreadiness#TargetResource",
          "traits": {
            "smithy.api#jsonName": "targetResource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A component for DNS/Routing Control Readiness Checks"
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCellRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing Cell.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cells/{CellName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Cell to delete",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Delete cross account readiness authorization",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/crossaccountauthorizations/{CrossAccountAuthorization}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationRequest": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The cross account authorization",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheckRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing Readiness Check.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/readinesschecks/{ReadinessCheckName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ReadinessCheck to delete",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing Recovery Group.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/recoverygroups/{RecoveryGroupName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The RecoveryGroup to delete",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteResourceSetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing Resource Set.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/resourcesets/{ResourceSetName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ResourceSet to delete",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of recommendations to improve resilliance and readiness check quality for a Recovery Group.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups/{RecoveryGroupName}/architectureRecommendations",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "Name of RecoveryGroup (top level resource) to be analyzed.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsResponse": {
      "type": "structure",
      "members": {
        "LastAuditTimestamp": {
          "target": "com.amazonaws.route53recoveryreadiness#LastAuditTimestamp",
          "traits": {
            "smithy.api#documentation": "The time a Recovery Group was last assessed for recommendations in UTC ISO-8601 format.",
            "smithy.api#jsonName": "lastAuditTimestamp"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Recommendations": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRecommendation",
          "traits": {
            "smithy.api#documentation": "A list of recommendations for the customer's application",
            "smithy.api#jsonName": "recommendations"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about a Cell.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cells/{CellName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about readiness of a Cell.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cellreadiness/{CellName}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the Cell",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness at Cell level.",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckSummary",
          "traits": {
            "smithy.api#documentation": "Summaries for the ReadinessChecks making up the Cell",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Cell to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellResponse": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the Cell",
            "smithy.api#jsonName": "cellArn"
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the Cell",
            "smithy.api#jsonName": "cellName"
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells"
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell ARNs and/or RecoveryGroup ARNs",
            "smithy.api#jsonName": "parentReadinessScopes"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about a ReadinessCheck.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ReadinessCheck to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns detailed information about the status of an individual resource within a Readiness Check's Resource Set.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}/resource/{ResourceIdentifier}/status",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Rules",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ReadinessCheck to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The resource ARN or component Id to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness at rule level.",
            "smithy.api#jsonName": "readiness"
          }
        },
        "Rules": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRuleResult",
          "traits": {
            "smithy.api#documentation": "Details of the rules's results",
            "smithy.api#jsonName": "rules"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResponse": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "Arn associated with ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckArn"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name for a ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name of the ResourceSet to be checked",
            "smithy.api#jsonName": "resourceSet"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about the status of a Readiness Check.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}/status",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Resources",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ReadinessCheck to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusResponse": {
      "type": "structure",
      "members": {
        "Messages": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfMessage",
          "traits": {
            "smithy.api#documentation": "Top level messages for readiness check status",
            "smithy.api#jsonName": "messages"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness at rule level.",
            "smithy.api#jsonName": "readiness"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResourceResult",
          "traits": {
            "smithy.api#documentation": "Summary of resources's readiness",
            "smithy.api#jsonName": "resources"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about a Recovery Group.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups/{RecoveryGroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about a Recovery Group.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroupreadiness/{RecoveryGroupName}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of the RecoveryGroup",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness at RecoveryGroup level.",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckSummary",
          "traits": {
            "smithy.api#documentation": "Summaries for the ReadinessChecks making up the RecoveryGroup",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The RecoveryGroup to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupArn"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupName"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetResourceSetRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetResourceSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns information about a Resource Set.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resourcesets/{ResourceSetName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ResourceSet to get",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSetResponse": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the ResourceSet",
            "smithy.api#jsonName": "resourceSetArn"
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the ResourceSet",
            "smithy.api#jsonName": "resourceSetName"
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "AWS Resource Type of the resources in the ResourceSet",
            "smithy.api#jsonName": "resourceSetType"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "A list of Resource objects",
            "smithy.api#jsonName": "resources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An unexpected error occurred.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.route53recoveryreadiness#LastAuditTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "The time a Recovery Group was last assessed for recommendations in UTC ISO-8601 format",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCells": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCellsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCellsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of Cells.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cells",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Cells",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCellsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCellsResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfCellOutput",
          "traits": {
            "smithy.api#documentation": "A list of Cells",
            "smithy.api#jsonName": "cells"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of cross account readiness authorizations.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/crossaccountauthorizations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "CrossAccountAuthorizations",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsResponse": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorizations": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfCrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "A list of CrossAccountAuthorizations",
            "smithy.api#jsonName": "crossAccountAuthorizations"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecksRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of Readiness Checks.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecksRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecksResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckOutput",
          "traits": {
            "smithy.api#documentation": "A list of ReadinessCheck associated with the account",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of Recovery Groups.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RecoveryGroups",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "RecoveryGroups": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRecoveryGroupOutput",
          "traits": {
            "smithy.api#documentation": "A list of RecoveryGroups",
            "smithy.api#jsonName": "recoveryGroups"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListResourceSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListResourceSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of Resource Sets.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resourcesets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ResourceSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSetsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSetsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "ResourceSets": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResourceSetOutput",
          "traits": {
            "smithy.api#documentation": "A list of ResourceSets associated with the account",
            "smithy.api#jsonName": "resourceSets"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of rules that are applied as part of Readiness Checks.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/rules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Rules",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesOutput": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64",
          "traits": {
            "smithy.api#documentation": "The resource type the rule applies to.",
            "smithy.api#jsonName": "resourceType",
            "smithy.api#required": {}
          }
        },
        "RuleDescription": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "A description of the rule",
            "smithy.api#jsonName": "ruleDescription",
            "smithy.api#required": {}
          }
        },
        "RuleId": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64",
          "traits": {
            "smithy.api#documentation": "The Rule's ID.",
            "smithy.api#jsonName": "ruleId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of rules used in a readiness check"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "Filter parameter which specifies the rules to return given a resource type.",
            "smithy.api#httpQuery": "resourceType"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Rules": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfListRulesOutput",
          "traits": {
            "smithy.api#documentation": "A list of rules",
            "smithy.api#jsonName": "rules"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a list of the tags assigned to the specified resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the resource. You can get this from the response to any request to the resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#Message": {
      "type": "structure",
      "members": {
        "MessageText": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The text of a readiness check message",
            "smithy.api#jsonName": "messageText"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information relating to readiness check status"
      }
    },
    "com.amazonaws.route53recoveryreadiness#NLBResource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "An NLB resource arn",
            "smithy.api#jsonName": "arn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The NLB resource a DNS Target Resource points to"
      }
    },
    "com.amazonaws.route53recoveryreadiness#R53ResourceRecord": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The DNS target name",
            "smithy.api#jsonName": "domainName"
          }
        },
        "RecordSetId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Resource Record set id",
            "smithy.api#jsonName": "recordSetId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Route 53 resource a DNS Target Resource record points to"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Readiness": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The readiness of an entire ReadinessCheck or an individual resource ARN.",
        "smithy.api#enum": [
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "NOT_READY",
            "name": "NOT_READY"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          },
          {
            "value": "NOT_AUTHORIZED",
            "name": "NOT_AUTHORIZED"
          }
        ]
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckOutput": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "Arn associated with ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckArn",
            "smithy.api#required": {}
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name for a ReadinessCheck",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "Name of the ResourceSet to be checked",
            "smithy.api#jsonName": "resourceSet",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A resource used for checking the readiness of a Resource Set"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckSummary": {
      "type": "structure",
      "members": {
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness of this ReadinessCheck",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The name of a ReadinessCheck which is part of the given RecoveryGroup or Cell",
            "smithy.api#jsonName": "readinessCheckName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Summary of ReadinessCheck status, paginated in GetRecoveryGroupReadinessSummary and GetCellReadinessSummary"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "The time the Cell was last checked for readiness, in ISO-8601 format, UTC.",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Recommendation": {
      "type": "structure",
      "members": {
        "RecommendationText": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "Guidance text for recommendation",
            "smithy.api#jsonName": "recommendationText",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Guidance for improving Recovery Group resilliancy"
      }
    },
    "com.amazonaws.route53recoveryreadiness#RecoveryGroupOutput": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of Cell arns",
            "smithy.api#jsonName": "cells",
            "smithy.api#required": {}
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupArn",
            "smithy.api#required": {}
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the RecoveryGroup",
            "smithy.api#jsonName": "recoveryGroupName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Recovery Group generally containing multiple Cells"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Resource": {
      "type": "structure",
      "members": {
        "ComponentId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The component id of the resource, generated by the service when dnsTargetResource is used",
            "smithy.api#jsonName": "componentId"
          }
        },
        "DnsTargetResource": {
          "target": "com.amazonaws.route53recoveryreadiness#DNSTargetResource",
          "traits": {
            "smithy.api#jsonName": "dnsTargetResource"
          }
        },
        "ReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of RecoveryGroup ARNs and/or Cell ARNs that this resource is contained within.",
            "smithy.api#jsonName": "readinessScopes"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the AWS resource, can be skipped if dnsTargetResource is used",
            "smithy.api#jsonName": "resourceArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The resource element of a ResourceSet"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested resource does not exist.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceResult": {
      "type": "structure",
      "members": {
        "ComponentId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The component id of the resource",
            "smithy.api#jsonName": "componentId"
          }
        },
        "LastCheckedTimestamp": {
          "target": "com.amazonaws.route53recoveryreadiness#ReadinessCheckTimestamp",
          "traits": {
            "smithy.api#documentation": "The time the resource was last checked for readiness, in ISO-8601 format, UTC.",
            "smithy.api#jsonName": "lastCheckedTimestamp",
            "smithy.api#required": {}
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness of the resource.",
            "smithy.api#jsonName": "readiness",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the resource",
            "smithy.api#jsonName": "resourceArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result with status for an individual resource."
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceSetOutput": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "The arn for the ResourceSet",
            "smithy.api#jsonName": "resourceSetArn",
            "smithy.api#required": {}
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "The name of the ResourceSet",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "AWS Resource Type of the resources in the ResourceSet",
            "smithy.api#jsonName": "resourceSetType",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "A list of Resource objects",
            "smithy.api#jsonName": "resources",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of resources of the same type"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Route53RecoveryReadiness": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorization"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorization"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendations"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummary"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatus"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatus"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummary"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListCells"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizations"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecks"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroups"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListResourceSets"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListRules"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResources"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#TagResource"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UntagResource"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateResourceSet"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Route53 Recovery Readiness",
          "arnNamespace": "route53-recovery-readiness",
          "cloudFormationName": "Route53RecoveryReadiness",
          "cloudTrailEventSource": "route53recoveryreadiness.amazonaws.com",
          "endpointPrefix": "route53-recovery-readiness"
        },
        "aws.auth#sigv4": {
          "name": "route53-recovery-readiness"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "AWS Route53 Recovery Readiness",
        "smithy.api#title": "AWS Route53 Recovery Readiness"
      }
    },
    "com.amazonaws.route53recoveryreadiness#RuleResult": {
      "type": "structure",
      "members": {
        "LastCheckedTimestamp": {
          "target": "com.amazonaws.route53recoveryreadiness#ReadinessCheckTimestamp",
          "traits": {
            "smithy.api#documentation": "The time the resource was last checked for readiness, in ISO-8601 format, UTC.",
            "smithy.api#jsonName": "lastCheckedTimestamp",
            "smithy.api#required": {}
          }
        },
        "Messages": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfMessage",
          "traits": {
            "smithy.api#documentation": "Details about the resource's readiness",
            "smithy.api#jsonName": "messages",
            "smithy.api#required": {}
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "The readiness at rule level.",
            "smithy.api#jsonName": "readiness",
            "smithy.api#required": {}
          }
        },
        "RuleId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The identifier of the rule.",
            "smithy.api#jsonName": "ruleId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Result with status for an individual rule.."
      }
    },
    "com.amazonaws.route53recoveryreadiness#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds tags to the specified resource. You can specify one or more tags to add.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the resource. You can get this from the response to any request to the resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoveryreadiness#Tags": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.route53recoveryreadiness#__string"
      },
      "value": {
        "target": "com.amazonaws.route53recoveryreadiness#__string"
      },
      "traits": {
        "smithy.api#documentation": "A collection of tags associated with a resource"
      }
    },
    "com.amazonaws.route53recoveryreadiness#TargetResource": {
      "type": "structure",
      "members": {
        "NLBResource": {
          "target": "com.amazonaws.route53recoveryreadiness#NLBResource",
          "traits": {
            "smithy.api#jsonName": "nLBResource"
          }
        },
        "R53Resource": {
          "target": "com.amazonaws.route53recoveryreadiness#R53ResourceRecord",
          "traits": {
            "smithy.api#jsonName": "r53Resource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The target resource the R53 record points to"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Request was denied due to request throttling.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.route53recoveryreadiness#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes tags from the specified resource. You can specify one or more tags to remove.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the resource. You can get this from the response to any request to the resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A comma-separated list of the tag keys to remove from the resource.",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#UpdateCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#UpdateCellRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#UpdateCellResponse"
      },
      "errors": [
        {
[...]
