{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53recoveryreadiness#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "User does not have sufficient access to perform this action.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.route53recoveryreadiness#CellOutput": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the cell.</p>",
            "smithy.api#jsonName": "cellArn",
            "smithy.api#required": {}
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#jsonName": "cellName",
            "smithy.api#required": {}
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of cell ARNs.</p>",
            "smithy.api#jsonName": "cells",
            "smithy.api#required": {}
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The readiness scope for the cell, which can be a cell Amazon Resource Name (ARN) or a recovery group ARN. This is a list but currently can have only one element.</p>",
            "smithy.api#jsonName": "parentReadinessScopes",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags on the resources.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a cell.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Updating or deleting a resource can cause an inconsistent state.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCellRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCellResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cell in an account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cells",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell to create.</p>",
            "smithy.api#jsonName": "cellName",
            "smithy.api#required": {}
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of cell Amazon Resource Names (ARNs) contained within this cell, for use in nested cells. For example, Availability Zones within specific Amazon Web Services Regions.</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCellResponse": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the cell.</p>",
            "smithy.api#jsonName": "cellArn"
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#jsonName": "cellName"
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of cell ARNs.</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The readiness scope for the cell, which can be a cell Amazon Resource Name (ARN) or a recovery group ARN. This is a list but currently can have only one element.</p>",
            "smithy.api#jsonName": "parentReadinessScopes"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags on the resources.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a cross-account readiness authorization. This lets you authorize another account to work with Route 53 Application Recovery Controller, for example, to check the readiness status of resources in a separate account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/crossaccountauthorizations",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationRequest": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>The cross-account authorization.</p>",
            "smithy.api#jsonName": "crossAccountAuthorization",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorizationResponse": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>The cross-account authorization.</p>",
            "smithy.api#jsonName": "crossAccountAuthorization"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a readiness check in an account. A readiness check monitors a resource set in your application, such as a set of Amazon Aurora instances, that Application Recovery Controller is auditing recovery readiness for. The audits run once every minute on every resource that's associated with a readiness check.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/readinesschecks",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the readiness check to create.</p>",
            "smithy.api#jsonName": "readinessCheckName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource set to check.</p>",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateReadinessCheckResponse": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckArn"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of the resource set to be checked.</p>",
            "smithy.api#jsonName": "resourceSet"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a recovery group in an account. A recovery group corresponds to an application and includes a list of the cells that make up the application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/recoverygroups",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of the cell Amazon Resource Names (ARNs) in the recovery group.</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recovery group to create.</p>",
            "smithy.api#jsonName": "recoveryGroupName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroupResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of a cell's Amazon Resource Names (ARNs).</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupArn"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupName"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the recovery group.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSetRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource set. A resource set is a set of resources of one type that span multiple cells. You can associate a resource set with a readiness check to monitor the resources for failover readiness.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/resourcesets",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource set to create.</p>",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the resources in the resource set. Enter one of the following values for resource type:</p> <p>AWS::ApiGateway::Stage, AWS::ApiGatewayV2::Stage, AWS::AutoScaling::AutoScalingGroup, AWS::CloudWatch::Alarm, AWS::EC2::CustomerGateway, AWS::DynamoDB::Table, AWS::EC2::Volume, AWS::ElasticLoadBalancing::LoadBalancer, AWS::ElasticLoadBalancingV2::LoadBalancer, AWS::Lambda::Function, AWS::MSK::Cluster, AWS::RDS::DBCluster, AWS::Route53::HealthCheck, AWS::SQS::Queue, AWS::SNS::Topic, AWS::SNS::Subscription, AWS::EC2::VPC, AWS::EC2::VPNConnection, AWS::EC2::VPNGateway, AWS::Route53RecoveryReadiness::DNSTargetResource</p>",
            "smithy.api#jsonName": "resourceSetType",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource objects in the resource set.</p>",
            "smithy.api#jsonName": "resources",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A tag to associate with the parameters for a resource set.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CreateResourceSetResponse": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource set.</p>",
            "smithy.api#jsonName": "resourceSetArn"
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource set.</p>",
            "smithy.api#jsonName": "resourceSetName"
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the resources in the resource set. Enter one of the following values for resource type:</p> <p>AWS::ApiGateway::Stage, AWS::ApiGatewayV2::Stage, AWS::AutoScaling::AutoScalingGroup, AWS::CloudWatch::Alarm, AWS::EC2::CustomerGateway, AWS::DynamoDB::Table, AWS::EC2::Volume, AWS::ElasticLoadBalancing::LoadBalancer, AWS::ElasticLoadBalancingV2::LoadBalancer, AWS::Lambda::Function, AWS::MSK::Cluster, AWS::RDS::DBCluster, AWS::Route53::HealthCheck, AWS::SQS::Queue, AWS::SNS::Topic, AWS::SNS::Subscription, AWS::EC2::VPC, AWS::EC2::VPNConnection, AWS::EC2::VPNGateway, AWS::Route53RecoveryReadiness::DNSTargetResource</p>",
            "smithy.api#jsonName": "resourceSetType"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource objects.</p>",
            "smithy.api#jsonName": "resources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#CrossAccountAuthorization": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>CrossAccountAuthorization</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#DNSTargetResource": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The domain name that acts as an ingress point to a portion of the customer application.</p>",
            "smithy.api#jsonName": "domainName"
          }
        },
        "HostedZoneArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The hosted zone Amazon Resource Name (ARN) that contains the DNS record with the provided name of the target resource.</p>",
            "smithy.api#jsonName": "hostedZoneArn"
          }
        },
        "RecordSetId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Route 53 record set ID that uniquely identifies a DNS record, given a name and a type.</p>",
            "smithy.api#jsonName": "recordSetId"
          }
        },
        "RecordType": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of DNS record of the target resource.</p>",
            "smithy.api#jsonName": "recordType"
          }
        },
        "TargetResource": {
          "target": "com.amazonaws.route53recoveryreadiness#TargetResource",
          "traits": {
            "smithy.api#documentation": "<p>The target resource of the DNS target resource.</p>",
            "smithy.api#jsonName": "targetResource"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A component for DNS/routing control readiness checks and architecture checks.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCellRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a cell. When successful, the response code is 204, with no response body.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cells/{CellName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes cross account readiness authorization.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/crossaccountauthorizations/{CrossAccountAuthorization}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationRequest": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorization": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The cross-account authorization.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorizationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheckRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a readiness check.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/readinesschecks/{ReadinessCheckName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a recovery group.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/recoverygroups/{RecoveryGroupName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a recovery group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#DeleteResourceSetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resource set.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/resourcesets/{ResourceSetName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#DeleteResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a resource set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets recommendations about architecture designs for improving resiliency for an application, based on a recovery group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups/{RecoveryGroupName}/architectureRecommendations",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a recovery group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendationsResponse": {
      "type": "structure",
      "members": {
        "LastAuditTimestamp": {
          "target": "com.amazonaws.route53recoveryreadiness#LastAuditTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that a recovery group was last assessed for recommendations, in UTC ISO-8601 format.</p>",
            "smithy.api#jsonName": "lastAuditTimestamp"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Recommendations": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRecommendation",
          "traits": {
            "smithy.api#documentation": "<p>A list of the recommendations for the customer's application.</p>",
            "smithy.api#jsonName": "recommendations"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCell": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a cell including cell name, cell Amazon Resource Name (ARN), ARNs of nested cells for this cell, and a list of those cell ARNs with their associated recovery group ARNs.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cells/{CellName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets readiness for a cell. Aggregates the readiness of all the resources that are associated with the cell into a single value.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cellreadiness/{CellName}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummaryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness at a cell level.</p>",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summaries for the readiness checks that make up the cell.</p>",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellRequest": {
      "type": "structure",
      "members": {
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetCellResponse": {
      "type": "structure",
      "members": {
        "CellArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the cell.</p>",
            "smithy.api#jsonName": "cellArn"
          }
        },
        "CellName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cell.</p>",
            "smithy.api#jsonName": "cellName"
          }
        },
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of cell ARNs.</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "ParentReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The readiness scope for the cell, which can be a cell Amazon Resource Name (ARN) or a recovery group ARN. This is a list but currently can have only one element.</p>",
            "smithy.api#jsonName": "parentReadinessScopes"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags on the resources.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheck": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a readiness check.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckRequest": {
      "type": "structure",
      "members": {
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets individual readiness status for a readiness check. To see the overall readiness status for a recovery group, that considers the readiness status for all the readiness checks in the recovery group, use GetRecoveryGroupReadinessSummary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}/resource/{ResourceIdentifier}/status",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Rules",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ResourceIdentifier": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier, which is the Amazon Resource Name (ARN) or the identifier generated for the resource by Application Recovery Controller (for example, for a DNS target resource).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatusResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness at a rule level.</p>",
            "smithy.api#jsonName": "readiness"
          }
        },
        "Rules": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRuleResult",
          "traits": {
            "smithy.api#documentation": "<p>Details of the rule's results.</p>",
            "smithy.api#jsonName": "rules"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResponse": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckArn"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of the resource set to be checked.</p>",
            "smithy.api#jsonName": "resourceSet"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the readiness status for an individual readiness check. To see the overall readiness status for a recovery group, that considers the readiness status for all the readiness checks in a recovery group, use GetRecoveryGroupReadinessSummary.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks/{ReadinessCheckName}/status",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Resources",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatusResponse": {
      "type": "structure",
      "members": {
        "Messages": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfMessage",
          "traits": {
            "smithy.api#documentation": "<p>Top level messages for readiness check status</p>",
            "smithy.api#jsonName": "messages"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness at rule level.</p>",
            "smithy.api#jsonName": "readiness"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResourceResult",
          "traits": {
            "smithy.api#documentation": "<p>Summary of the readiness of resources.</p>",
            "smithy.api#jsonName": "resources"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a recovery group, including a list of the cells that are included in it.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups/{RecoveryGroupName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays a summary of information about a recovery group's readiness status. Includes the readiness checks for resources in the recovery group and the readiness status of each one.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroupreadiness/{RecoveryGroupName}",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a recovery group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummaryResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness status at a recovery group level.</p>",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckSummary",
          "traits": {
            "smithy.api#documentation": "<p>Summaries of the readiness checks for the recovery group.</p>",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupRequest": {
      "type": "structure",
      "members": {
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a recovery group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of a cell's Amazon Resource Names (ARNs).</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupArn"
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupName"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the recovery group.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#GetResourceSetRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#GetResourceSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the details about a resource set, including a list of the resources in the set.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resourcesets/{ResourceSetName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSetRequest": {
      "type": "structure",
      "members": {
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of a resource set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#GetResourceSetResponse": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource set.</p>",
            "smithy.api#jsonName": "resourceSetArn"
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource set.</p>",
            "smithy.api#jsonName": "resourceSetName"
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the resources in the resource set. Enter one of the following values for resource type:</p> <p>AWS::ApiGateway::Stage, AWS::ApiGatewayV2::Stage, AWS::AutoScaling::AutoScalingGroup, AWS::CloudWatch::Alarm, AWS::EC2::CustomerGateway, AWS::DynamoDB::Table, AWS::EC2::Volume, AWS::ElasticLoadBalancing::LoadBalancer, AWS::ElasticLoadBalancingV2::LoadBalancer, AWS::Lambda::Function, AWS::MSK::Cluster, AWS::RDS::DBCluster, AWS::Route53::HealthCheck, AWS::SQS::Queue, AWS::SNS::Topic, AWS::SNS::Subscription, AWS::EC2::VPC, AWS::EC2::VPNConnection, AWS::EC2::VPNGateway, AWS::Route53RecoveryReadiness::DNSTargetResource</p>",
            "smithy.api#jsonName": "resourceSetType"
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource objects.</p>",
            "smithy.api#jsonName": "resources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An unexpected error occurred.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.route53recoveryreadiness#LastAuditTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The time that a recovery group was last assessed for recommendations, in UTC ISO-8601 format.</p>",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCells": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCellsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCellsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the cells for an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cells",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Cells",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCellsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCellsResponse": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfCellOutput",
          "traits": {
            "smithy.api#documentation": "<p>A list of cells.</p>",
            "smithy.api#jsonName": "cells"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the cross-account readiness authorizations that are in place for an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/crossaccountauthorizations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "CrossAccountAuthorizations",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizationsResponse": {
      "type": "structure",
      "members": {
        "CrossAccountAuthorizations": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfCrossAccountAuthorization",
          "traits": {
            "smithy.api#documentation": "<p>A list of cross-account authorizations.</p>",
            "smithy.api#jsonName": "crossAccountAuthorizations"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecksRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the readiness checks for an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/readinesschecks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ReadinessChecks",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecksRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListReadinessChecksResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "ReadinessChecks": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfReadinessCheckOutput",
          "traits": {
            "smithy.api#documentation": "<p>A list of readiness checks associated with the account.</p>",
            "smithy.api#jsonName": "readinessChecks"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the recovery groups in an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/recoverygroups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RecoveryGroups",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRecoveryGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "RecoveryGroups": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfRecoveryGroupOutput",
          "traits": {
            "smithy.api#documentation": "<p>A list of recovery groups.</p>",
            "smithy.api#jsonName": "recoveryGroups"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListResourceSetsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListResourceSetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resource sets in an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/resourcesets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ResourceSets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSetsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListResourceSetsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "ResourceSets": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResourceSetOutput",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource sets associated with the account.</p>",
            "smithy.api#jsonName": "resourceSets"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all readiness rules, or lists the readiness rules for a specific resource type.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/rules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Rules",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesOutput": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64",
          "traits": {
            "smithy.api#documentation": "<p>The resource type that the readiness rule applies to.</p>",
            "smithy.api#jsonName": "resourceType",
            "smithy.api#required": {}
          }
        },
        "RuleDescription": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The description of a readiness rule.</p>",
            "smithy.api#jsonName": "ruleDescription",
            "smithy.api#required": {}
          }
        },
        "RuleId": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the readiness rule.</p>",
            "smithy.api#jsonName": "ruleId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Readiness rule information, including the resource type, rule ID, and rule description.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoveryreadiness#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The resource type that a readiness rule applies to.</p>",
            "smithy.api#httpQuery": "resourceType"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListRulesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Rules": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfListRulesOutput",
          "traits": {
            "smithy.api#documentation": "<p>A list of readiness rules for a specific resource type.</p>",
            "smithy.api#jsonName": "rules"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for a resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for a resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#ListTagsForResourcesResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.route53recoveryreadiness#Message": {
      "type": "structure",
      "members": {
        "MessageText": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The text of a readiness check message.</p>",
            "smithy.api#jsonName": "messageText"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information relating to readiness check status.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#NLBResource": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Network Load Balancer resource Amazon Resource Name (ARN).</p>",
            "smithy.api#jsonName": "arn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Network Load Balancer resource that a DNS target resource points to.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#R53ResourceRecord": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The DNS target domain name.</p>",
            "smithy.api#jsonName": "domainName"
          }
        },
        "RecordSetId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Route 53 Resource Record Set ID.</p>",
            "smithy.api#jsonName": "recordSetId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Route 53 resource that a DNS target resource record points to.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Readiness": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The readiness status.</p>",
        "smithy.api#enum": [
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "NOT_READY",
            "name": "NOT_READY"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          },
          {
            "value": "NOT_AUTHORIZED",
            "name": "NOT_AUTHORIZED"
          }
        ]
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckOutput": {
      "type": "structure",
      "members": {
        "ReadinessCheckArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckArn",
            "smithy.api#required": {}
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckName"
          }
        },
        "ResourceSet": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>Name of the resource set to be checked.</p>",
            "smithy.api#jsonName": "resourceSet",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A readiness check.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckSummary": {
      "type": "structure",
      "members": {
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness status of this readiness check.</p>",
            "smithy.api#jsonName": "readiness"
          }
        },
        "ReadinessCheckName": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of a readiness check.</p>",
            "smithy.api#jsonName": "readinessCheckName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary of all readiness check statuses in a recovery group, paginated in GetRecoveryGroupReadinessSummary and GetCellReadinessSummary.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ReadinessCheckTimestamp": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>The time (UTC) that the cell was last checked for readiness, in ISO-8601 format.</p>",
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Recommendation": {
      "type": "structure",
      "members": {
        "RecommendationText": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>Text of the recommendations that are provided to make an application more recovery resilient.</p>",
            "smithy.api#jsonName": "recommendationText",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Recommendations that are provided to make an application more recovery resilient.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#RecoveryGroupOutput": {
      "type": "structure",
      "members": {
        "Cells": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of a cell's Amazon Resource Names (ARNs).</p>",
            "smithy.api#jsonName": "cells",
            "smithy.api#required": {}
          }
        },
        "RecoveryGroupArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupArn",
            "smithy.api#required": {}
          }
        },
        "RecoveryGroupName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the recovery group.</p>",
            "smithy.api#jsonName": "recoveryGroupName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the recovery group.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A representation of the application, typically containing multiple cells.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Resource": {
      "type": "structure",
      "members": {
        "ComponentId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The component identifier of the resource, generated when DNS target resource is used.</p>",
            "smithy.api#jsonName": "componentId"
          }
        },
        "DnsTargetResource": {
          "target": "com.amazonaws.route53recoveryreadiness#DNSTargetResource",
          "traits": {
            "smithy.api#documentation": "<p>The DNS target resource.</p>",
            "smithy.api#jsonName": "dnsTargetResource"
          }
        },
        "ReadinessScopes": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of recovery group Amazon Resource Names (ARNs) and cell ARNs that this resource is contained within.</p>",
            "smithy.api#jsonName": "readinessScopes"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Web Services resource.</p>",
            "smithy.api#jsonName": "resourceArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource element of a resource set.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested resource does not exist.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceResult": {
      "type": "structure",
      "members": {
        "ComponentId": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The component id of the resource.</p>",
            "smithy.api#jsonName": "componentId"
          }
        },
        "LastCheckedTimestamp": {
          "target": "com.amazonaws.route53recoveryreadiness#ReadinessCheckTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time (UTC) that the resource was last checked for readiness, in ISO-8601 format.</p>",
            "smithy.api#jsonName": "lastCheckedTimestamp",
            "smithy.api#required": {}
          }
        },
        "Readiness": {
          "target": "com.amazonaws.route53recoveryreadiness#Readiness",
          "traits": {
            "smithy.api#documentation": "<p>The readiness of a resource.</p>",
            "smithy.api#jsonName": "readiness",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#jsonName": "resourceArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of a successful Resource request, with status for an individual resource.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#ResourceSetOutput": {
      "type": "structure",
      "members": {
        "ResourceSetArn": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource set.</p>",
            "smithy.api#jsonName": "resourceSetArn",
            "smithy.api#required": {}
          }
        },
        "ResourceSetName": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringMax64PatternAAZAZ09Z",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource set.</p>",
            "smithy.api#jsonName": "resourceSetName",
            "smithy.api#required": {}
          }
        },
        "ResourceSetType": {
          "target": "com.amazonaws.route53recoveryreadiness#__stringPatternAWSAZaZ09AZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the resources in the resource set. Enter one of the following values for resource type:</p> <p>AWS::ApiGateway::Stage, AWS::ApiGatewayV2::Stage, AWS::AutoScaling::AutoScalingGroup, AWS::CloudWatch::Alarm, AWS::EC2::CustomerGateway, AWS::DynamoDB::Table, AWS::EC2::Volume, AWS::ElasticLoadBalancing::LoadBalancer, AWS::ElasticLoadBalancingV2::LoadBalancer, AWS::Lambda::Function, AWS::MSK::Cluster, AWS::RDS::DBCluster, AWS::Route53::HealthCheck, AWS::SQS::Queue, AWS::SNS::Topic, AWS::SNS::Subscription, AWS::EC2::VPC, AWS::EC2::VPNConnection, AWS::EC2::VPNGateway, AWS::Route53RecoveryReadiness::DNSTargetResource</p>",
            "smithy.api#jsonName": "resourceSetType",
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.route53recoveryreadiness#__listOfResource",
          "traits": {
            "smithy.api#documentation": "<p>A list of resource objects.</p>",
            "smithy.api#jsonName": "resources",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoveryreadiness#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of resources of the same type.</p>"
      }
    },
    "com.amazonaws.route53recoveryreadiness#Route53RecoveryReadiness": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateCrossAccountAuthorization"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#CreateResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteCrossAccountAuthorization"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#DeleteResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetArchitectureRecommendations"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetCellReadinessSummary"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheck"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckResourceStatus"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetReadinessCheckStatus"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroup"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetRecoveryGroupReadinessSummary"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#GetResourceSet"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListCells"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListCrossAccountAuthorizations"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListReadinessChecks"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListRecoveryGroups"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListResourceSets"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListRules"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#ListTagsForResources"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#TagResource"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UntagResource"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateCell"
        },
        {
          "target": "com.amazonaws.route53recoveryreadiness#UpdateReadinessCheck"
        },
[...]
