{
  "smithy": "0.4.0",
  "metadata": {
    "suppressions": [
      {
        "ids": ["HttpMethodSemantics"]
      },
      {
        "ids": ["HttpResponseCodeSemantics"]
      }
    ]
  },
  "com.amazon.webservices.dns.v20130401": {
    "shapes": {
      "AWSDnsV20130401": {
        "type": "service",
        "version": "2013-04-01",
        "operations": [
          "AssociateVPCWithHostedZone",
          "ChangeResourceRecordSets",
          "ChangeTagsForResource",
          "CreateHealthCheck",
          "CreateHostedZone",
          "CreateQueryLoggingConfig",
          "CreateReusableDelegationSet",
          "CreateTrafficPolicy",
          "CreateTrafficPolicyInstance",
          "CreateTrafficPolicyVersion",
          "CreateVPCAssociationAuthorization",
          "DeleteHealthCheck",
          "DeleteHostedZone",
          "DeleteQueryLoggingConfig",
          "DeleteReusableDelegationSet",
          "DeleteTrafficPolicy",
          "DeleteTrafficPolicyInstance",
          "DeleteVPCAssociationAuthorization",
          "DisassociateVPCFromHostedZone",
          "GetAccountLimit",
          "GetChange",
          "GetCheckerIpRanges",
          "GetGeoLocation",
          "GetHealthCheck",
          "GetHealthCheckCount",
          "GetHealthCheckLastFailureReason",
          "GetHealthCheckStatus",
          "GetHostedZone",
          "GetHostedZoneCount",
          "GetHostedZoneLimit",
          "GetQueryLoggingConfig",
          "GetReusableDelegationSet",
          "GetReusableDelegationSetLimit",
          "GetTrafficPolicy",
          "GetTrafficPolicyInstance",
          "GetTrafficPolicyInstanceCount",
          "ListGeoLocations",
          "ListHealthChecks",
          "ListHostedZones",
          "ListHostedZonesByName",
          "ListQueryLoggingConfigs",
          "ListResourceRecordSets",
          "ListReusableDelegationSets",
          "ListTagsForResource",
          "ListTagsForResources",
          "ListTrafficPolicies",
          "ListTrafficPolicyInstances",
          "ListTrafficPolicyInstancesByHostedZone",
          "ListTrafficPolicyInstancesByPolicy",
          "ListTrafficPolicyVersions",
          "ListVPCAssociationAuthorizations",
          "TestDNSAnswer",
          "UpdateHealthCheck",
          "UpdateHostedZoneComment",
          "UpdateTrafficPolicyComment",
          "UpdateTrafficPolicyInstance"
        ],
        "aws.api#service": {
          "sdkId": "Route 53",
          "arnNamespace": "awsdnsv20130401",
          "cloudFormationName": "Route53",
          "cloudTrailEventSource": "v20130401.dns.webservices.amazon.com"
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service.</p>\n\t     </xhtml>\n   ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": ["aws.v4"]
          }
        ],
        "smithy.api#title": "Amazon Route 53",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AccountLimit": {
        "type": "structure",
        "members": {
          "Type": {
            "target": "AccountLimitType",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The limit that you requested. Valid values include the following:</para>\n\t\t       <itemizedlist>\n\t\t\t         <listitem>\n               <para>\n                  <emphasis role=\"bold\">MAX_HEALTH_CHECKS_BY_OWNER</emphasis>: The maximum number of health checks that you can create \n\t\t\t\tusing the current account.</para>\n            </listitem>\n\t\t\t         <listitem>\n               <para>\n                  <emphasis role=\"bold\">MAX_HOSTED_ZONES_BY_OWNER</emphasis>: The maximum number of hosted zones that you can create \n\t\t\t\tusing the current account.</para>\n            </listitem>\n\t\t\t         <listitem>\n               <para>\n                  <emphasis role=\"bold\">MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</emphasis>: The maximum number of reusable delegation sets \n\t\t\t\tthat you can create using the current account.</para>\n            </listitem>\n\t\t\t         <listitem>\n               <para>\n                  <emphasis role=\"bold\">MAX_TRAFFIC_POLICIES_BY_OWNER</emphasis>: The maximum number of traffic policies \n\t\t\t\tthat you can create using the current account.</para>\n            </listitem>\n\t\t\t         <listitem>\n               <para>\n                  <emphasis role=\"bold\">MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</emphasis>: The maximum number of traffic policy instances \n\t\t\t\tthat you can create using the current account. (Traffic policy instances are referred to as traffic flow policy records in the \n\t\t\t\tAmazon Route 53 console.)</para>\n            </listitem>\n\t\t       </itemizedlist>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The limit that you requested. Valid values include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum number of health checks that you can create \n\t\t\t\tusing the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_HOSTED_ZONES_BY_OWNER</b>: The maximum number of hosted zones that you can create \n\t\t\t\tusing the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The maximum number of reusable delegation sets \n\t\t\t\tthat you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum number of traffic policies \n\t\t\t\tthat you can create using the current account.</p>\n            </li>\n            <li>\n               <p>\n                  <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>: The maximum number of traffic policy instances \n\t\t\t\tthat you can create using the current account. (Traffic policy instances are referred to as traffic flow policy records in the \n\t\t\t\tAmazon Route 53 console.)</p>\n            </li>\n         </ul>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "Value": {
            "target": "LimitValue",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The current value for the limit that is specified by \n\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/APIReference/API_AccountLimit.html#Route53-Type-AccountLimit-Type\">Type</ulink>.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The current value for the limit that is specified by \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AccountLimit.html#Route53-Type-AccountLimit-Type\">Type</a>.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that contains the type of limit that you specified in the request and the current value for that limit.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that contains the type of limit that you specified in the request and the current value for that limit.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AccountLimitType": {
        "type": "string",
        "smithy.api#enum": {
          "MAX_HEALTH_CHECKS_BY_OWNER": {},
          "MAX_HOSTED_ZONES_BY_OWNER": {},
          "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER": {},
          "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER": {},
          "MAX_TRAFFIC_POLICIES_BY_OWNER": {}
        },
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AlarmIdentifier": {
        "type": "structure",
        "members": {
          "Name": {
            "target": "AlarmName",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.</para>\n\t\t       <note>\n            <para>Route 53 supports CloudWatch alarms with the following features:</para>\n\t\t\t         <itemizedlist>\n\t\t\t\t           <listitem>\n                  <para>Standard-resolution metrics. High-resolution metrics aren't supported. For more information, see \n\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</ulink> \n\t\t\t\t\tin the <emphasis>Amazon CloudWatch User Guide</emphasis>.</para>\n               </listitem>\n\t\t\t\t           <listitem>\n                  <para>Statistics: Average, Minimum, Maximum, Sum, and SampleCount. Extended statistics aren't supported.</para>\n               </listitem>\n\t\t\t         </itemizedlist>\n\t\t       </note>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.</p>\n\t\t       <note>\n            <p>Route 53 supports CloudWatch alarms with the following features:</p>\n\t\t\t         <ul>\n               <li>\n                  <p>Standard-resolution metrics. High-resolution metrics aren't supported. For more information, see \n\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</a> \n\t\t\t\t\tin the <i>Amazon CloudWatch User Guide</i>.</p>\n               </li>\n               <li>\n                  <p>Statistics: Average, Minimum, Maximum, Sum, and SampleCount. Extended statistics aren't supported.</p>\n               </li>\n            </ul>\n\t\t       </note>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "Region": {
            "target": "CloudWatchRegion",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>For the CloudWatch alarm that you want Route 53 health checkers to use to determine whether this health check is healthy, \n\t\t\tthe region that the alarm was created in.</para>\n\t\t       <para>For the current list of CloudWatch regions, see <ulink url=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cw_region\">Amazon CloudWatch</ulink> in \n\t\t\tthe <emphasis>AWS Regions and Endpoints</emphasis> chapter of the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>For the CloudWatch alarm that you want Route 53 health checkers to use to determine whether this health check is healthy, \n\t\t\tthe region that the alarm was created in.</p>\n\t\t       <p>For the current list of CloudWatch regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cw_region\">Amazon CloudWatch</a> in \n\t\t\tthe <i>AWS Regions and Endpoints</i> chapter of the <i>Amazon Web Services General Reference</i>.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether \n\t\t\tthe specified health check is healthy.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether \n\t\t\tthe specified health check is healthy.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AlarmName": {
        "type": "string",
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AliasHealthEnabled": {
        "type": "boolean",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AliasTarget": {
        "type": "structure",
        "members": {
          "DNSName": {
            "target": "DNSName",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Alias resource record sets only:</emphasis> The value that you specify depends on where you want to route queries:</para>\n\t\t       <variablelist>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Amazon API Gateway custom regional APIs and edge-optimized APIs</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the applicable domain name for your API. You can get the applicable value using the AWS CLI command \n\t\t\t\t\t<ulink type=\"documentation\" url=\"cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</ulink>:</para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n                        <para>For regional APIs, specify the value of <code>regionalDomainName</code>.</para>\n                     </listitem>\n\t\t\t\t\t\t               <listitem>\n                        <para>For edge-optimized APIs, specify the value of <code>distributionDomainName</code>. This is the name of the \n\t\t\t\t\t\t\tassociated CloudFront distribution, such as <code>da1b2c3d4e5.cloudfront.net</code>.</para>\n                     </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t\t             <note>\n\t\t\t\t\t\t               <para>The name of the record that you're creating must match a custom domain name for your API, such as \n\t\t\t\t\t\t\t<code>api.example.com</code>.</para>\n\t\t\t\t\t             </note>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Amazon Virtual Private Cloud interface VPC endpoint</term>\n\t\t\t\t           <listitem>\n                  <para>Enter the API endpoint for the interface endpoint, such as \n\t\t\t\t\t<code>vpce-123456789abcdef01-example-us-east-1a.elasticloadbalancing.us-east-1.vpce.amazonaws.com</code>. For edge-optimized APIs, \n\t\t\t\t\tthis is the domain name for the corresponding CloudFront distribution. You can get the value of <code>DnsName</code> using the AWS CLI command \n\t\t\t\t\t<ulink type=\"documentation\" url=\"cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</ulink>.</para>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>CloudFront distribution</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the domain name that CloudFront assigned when you created your distribution.</para>\n\t\t\t\t\t             <para>Your CloudFront distribution must include an alternate domain name that matches the name of the resource record set. \n\t\t\t\t\t\tFor example, if the name of the resource record set is <emphasis>acme.example.com</emphasis>, your CloudFront distribution must \n\t\t\t\t\t\tinclude <emphasis>acme.example.com</emphasis> as one of the alternate domain names. For more information, see \n\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using Alternate Domain Names (CNAMEs)</ulink> in the <emphasis>Amazon CloudFront Developer Guide</emphasis>.</para>\n\t\t\t\t\t             <para>You can't create a resource record set in a private hosted zone to route traffic to a CloudFront distribution.</para>\n\t\t\t\t\t             <note>\n                     <para>For failover alias records, you can't specify a CloudFront distribution for both the primary and secondary records. \n\t\t\t\t\t\tA distribution must include an alternate domain name that matches the name of the record. However, the primary and secondary records \n\t\t\t\t\t\thave the same name, and you can't include the same alternate domain name in more than one distribution. </para>\n                  </note>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Elastic Beanstalk environment</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>If the domain name for your Elastic Beanstalk environment includes the region that you deployed the environment in, \n\t\t\t\t\t\tyou can create an alias record that routes traffic to the environment. For example, the domain name \n\t\t\t\t\t\t<code>my-environment.<emphasis>us-west-2</emphasis>.elasticbeanstalk.com</code> is a regionalized domain name. </para>\n\t\t\t\t\t             <important>\n\t\t\t\t\t\t               <para>For environments that were created before early 2016, the domain name doesn't include the region. To route traffic \n\t\t\t\t\t\t\tto these environments, you must create a CNAME record instead of an alias record. Note that you can't create a \n\t\t\t\t\t\t\tCNAME record for the root domain name. For example, if your domain name is example.com, you can create a record \n\t\t\t\t\t\t\tthat routes traffic for acme.example.com to your Elastic Beanstalk environment, but you can't create a record \n\t\t\t\t\t\t\tthat routes traffic for example.com to your Elastic Beanstalk environment.</para>\n\t\t\t\t\t             </important>\n\t\t\t\t\t             <para>For Elastic Beanstalk environments that have regionalized subdomains, specify the <code>CNAME</code> attribute for the environment. \n\t\t\t\t\t\tYou can use the following methods to get the value of the CNAME attribute:</para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis>AWS Management Console</emphasis>: For information about how to get the value by using the console, \n\t\t\t\t\t\t\t\tsee <ulink url=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customdomains.html\">Using Custom Domains with AWS Elastic Beanstalk</ulink> in the \n\t\t\t\t\t\t\t\t<emphasis>AWS Elastic Beanstalk Developer Guide</emphasis>.</para>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis>Elastic Beanstalk API</emphasis>: Use the <code>DescribeEnvironments</code> action to get \n\t\t\t\t\t\t\t\tthe value of the <code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_DescribeEnvironments.html\">DescribeEnvironments</ulink> \n\t\t\t\t\t\t\t\tin the <emphasis>AWS Elastic Beanstalk API Reference</emphasis>.</para>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis>AWS CLI</emphasis>: Use the <code>describe-environments</code> command to get the value of the \n\t\t\t\t\t\t\t\t<code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/describe-environments.html\">describe-environments</ulink> in the \n\t\t\t\t\t\t\t\t<emphasis>AWS Command Line Interface Reference</emphasis>.</para>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>ELB load balancer</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the DNS name that is associated with the load balancer. Get the DNS name by using the AWS Management Console, \n\t\t\t\t\tthe ELB API, or the AWS CLI. </para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">AWS Management Console</emphasis>: Go to the EC2 page, choose <emphasis role=\"bold\">Load Balancers</emphasis> \n\t\t\t\t\t\t\t\tin the navigation pane, choose the load balancer, choose the <emphasis role=\"bold\">Description</emphasis> tab, and get the value \n\t\t\t\t\t\t\t\tof the <emphasis role=\"bold\">DNS name</emphasis> field. </para>\n\t\t\t\t\t\t\t                 <para>If you're routing traffic to a Classic Load Balancer, get the value that begins with <emphasis role=\"bold\">dualstack</emphasis>. \n\t\t\t\t\t\t\t\tIf you're routing traffic to another type of load balancer, get the value that applies to the record type, A or AAAA.</para>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">Elastic Load Balancing API</emphasis>: Use <code>DescribeLoadBalancers</code> to get the value \n\t\t\t\t\t\t\t\tof <code>DNSName</code>. For more information, see the applicable guide:</para>\n\t\t\t\t\t\t\t                 <itemizedlist>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</ulink> \n                              </para>\n                           </listitem>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</ulink>\n                              </para>\n                           </listitem>\n\t\t\t\t\t\t\t                 </itemizedlist>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">AWS CLI</emphasis>: Use <code>describe-load-balancers</code> to get the value of <code>DNSName</code>.\n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</para>\n\t\t\t\t\t\t\t                 <itemizedlist>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</ulink>\n                              </para>\n                           </listitem>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</ulink>\n                              </para>\n                           </listitem>\n\t\t\t\t\t\t\t                 </itemizedlist>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Amazon S3 bucket that is configured as a static website</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the domain name of the Amazon S3 website endpoint that you created the bucket in, for example, \n\t\t\t\t\t<code>s3-website.us-east-2.amazonaws.com</code>. For more information about valid values, see the table \n\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service (S3) Website Endpoints</ulink> \n\t\t\t\t\tin the <emphasis>Amazon Web Services General Reference</emphasis>. For more information about using S3 buckets for websites, \n\t\t\t\t\tsee <ulink url=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/getting-started.html\">Getting Started with Amazon Route 53</ulink> \n\t\t\t\t\tin the <emphasis>Amazon Route 53 Developer Guide.</emphasis>\n                  </para>\n               </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Another Route 53 resource record set</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the value of the <code>Name</code> element for a resource record set in the current hosted zone.</para>\n\t\t\t\t\t             <note>\n                     <para>If you're creating an alias record that has the same name as the hosted zone (known as the zone apex), \n\t\t\t\t\t\tyou can't specify the domain name for a record for which the value of <code>Type</code> is <code>CNAME</code>. This is because \n\t\t\t\t\t\tthe alias record must have the same type as the record that you're routing traffic to, and creating a CNAME record for the \n\t\t\t\t\t\tzone apex isn't supported even for an alias record.</para>\n                  </note>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t       </variablelist>\n\t\t\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Alias resource record sets only:</i> The value that you specify depends on where you want to route queries:</p>\n\t\t       <dl>\n            <dt>Amazon API Gateway custom regional APIs and edge-optimized APIs</dt>\n            <dd>\n               <p>Specify the applicable domain name for your API. You can get the applicable value using the AWS CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</a>:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>For regional APIs, specify the value of <code>regionalDomainName</code>.</p>\n                  </li>\n                  <li>\n                     <p>For edge-optimized APIs, specify the value of <code>distributionDomainName</code>. This is the name of the \n\t\t\t\t\t\t\tassociated CloudFront distribution, such as <code>da1b2c3d4e5.cloudfront.net</code>.</p>\n                  </li>\n               </ul>\n\t\t\t\t\t          <note>\n\t\t\t\t\t\t            <p>The name of the record that you're creating must match a custom domain name for your API, such as \n\t\t\t\t\t\t\t<code>api.example.com</code>.</p>\n\t\t\t\t\t          </note>\n\t\t\t\t        </dd>\n            <dt>Amazon Virtual Private Cloud interface VPC endpoint</dt>\n            <dd>\n               <p>Enter the API endpoint for the interface endpoint, such as \n\t\t\t\t\t<code>vpce-123456789abcdef01-example-us-east-1a.elasticloadbalancing.us-east-1.vpce.amazonaws.com</code>. For edge-optimized APIs, \n\t\t\t\t\tthis is the domain name for the corresponding CloudFront distribution. You can get the value of <code>DnsName</code> using the AWS CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</a>.</p>\n\t\t\t\t        </dd>\n            <dt>CloudFront distribution</dt>\n            <dd>\n               <p>Specify the domain name that CloudFront assigned when you created your distribution.</p>\n\t\t\t\t\t          <p>Your CloudFront distribution must include an alternate domain name that matches the name of the resource record set. \n\t\t\t\t\t\tFor example, if the name of the resource record set is <i>acme.example.com</i>, your CloudFront distribution must \n\t\t\t\t\t\tinclude <i>acme.example.com</i> as one of the alternate domain names. For more information, see \n\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/CNAMEs.html\">Using Alternate Domain Names (CNAMEs)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>\n\t\t\t\t\t          <p>You can't create a resource record set in a private hosted zone to route traffic to a CloudFront distribution.</p>\n\t\t\t\t\t          <note>\n                  <p>For failover alias records, you can't specify a CloudFront distribution for both the primary and secondary records. \n\t\t\t\t\t\tA distribution must include an alternate domain name that matches the name of the record. However, the primary and secondary records \n\t\t\t\t\t\thave the same name, and you can't include the same alternate domain name in more than one distribution. </p>\n               </note>\n\t\t\t\t        </dd>\n            <dt>Elastic Beanstalk environment</dt>\n            <dd>\n\t\t\t\t\t          <p>If the domain name for your Elastic Beanstalk environment includes the region that you deployed the environment in, \n\t\t\t\t\t\tyou can create an alias record that routes traffic to the environment. For example, the domain name \n\t\t\t\t\t\t<code>my-environment.<i>us-west-2</i>.elasticbeanstalk.com</code> is a regionalized domain name. </p>\n\t\t\t\t\t          <important>\n\t\t\t\t\t\t            <p>For environments that were created before early 2016, the domain name doesn't include the region. To route traffic \n\t\t\t\t\t\t\tto these environments, you must create a CNAME record instead of an alias record. Note that you can't create a \n\t\t\t\t\t\t\tCNAME record for the root domain name. For example, if your domain name is example.com, you can create a record \n\t\t\t\t\t\t\tthat routes traffic for acme.example.com to your Elastic Beanstalk environment, but you can't create a record \n\t\t\t\t\t\t\tthat routes traffic for example.com to your Elastic Beanstalk environment.</p>\n\t\t\t\t\t          </important>\n\t\t\t\t\t          <p>For Elastic Beanstalk environments that have regionalized subdomains, specify the <code>CNAME</code> attribute for the environment. \n\t\t\t\t\t\tYou can use the following methods to get the value of the CNAME attribute:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>AWS Management Console</i>: For information about how to get the value by using the console, \n\t\t\t\t\t\t\t\tsee <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customdomains.html\">Using Custom Domains with AWS Elastic Beanstalk</a> in the \n\t\t\t\t\t\t\t\t<i>AWS Elastic Beanstalk Developer Guide</i>.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>Elastic Beanstalk API</i>: Use the <code>DescribeEnvironments</code> action to get \n\t\t\t\t\t\t\t\tthe value of the <code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/api/API_DescribeEnvironments.html\">DescribeEnvironments</a> \n\t\t\t\t\t\t\t\tin the <i>AWS Elastic Beanstalk API Reference</i>.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <i>AWS CLI</i>: Use the <code>describe-environments</code> command to get the value of the \n\t\t\t\t\t\t\t\t<code>CNAME</code> attribute. For more information, see \n\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elasticbeanstalk/describe-environments.html\">describe-environments</a> in the \n\t\t\t\t\t\t\t\t<i>AWS Command Line Interface Reference</i>.</p>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>ELB load balancer</dt>\n            <dd>\n               <p>Specify the DNS name that is associated with the load balancer. Get the DNS name by using the AWS Management Console, \n\t\t\t\t\tthe ELB API, or the AWS CLI. </p>\n\t\t\t\t\t          <ul>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>AWS Management Console</b>: Go to the EC2 page, choose <b>Load Balancers</b> \n\t\t\t\t\t\t\t\tin the navigation pane, choose the load balancer, choose the <b>Description</b> tab, and get the value \n\t\t\t\t\t\t\t\tof the <b>DNS name</b> field. </p>\n\t\t\t\t\t\t\t              <p>If you're routing traffic to a Classic Load Balancer, get the value that begins with <b>dualstack</b>. \n\t\t\t\t\t\t\t\tIf you're routing traffic to another type of load balancer, get the value that applies to the record type, A or AAAA.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code> to get the value \n\t\t\t\t\t\t\t\tof <code>DNSName</code>. For more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> \n                           </p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>AWS CLI</b>: Use <code>describe-load-balancers</code> to get the value of <code>DNSName</code>.\n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>\n                           </p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Amazon S3 bucket that is configured as a static website</dt>\n            <dd>\n               <p>Specify the domain name of the Amazon S3 website endpoint that you created the bucket in, for example, \n\t\t\t\t\t<code>s3-website.us-east-2.amazonaws.com</code>. For more information about valid values, see the table \n\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service (S3) Website Endpoints</a> \n\t\t\t\t\tin the <i>Amazon Web Services General Reference</i>. For more information about using S3 buckets for websites, \n\t\t\t\t\tsee <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/getting-started.html\">Getting Started with Amazon Route 53</a> \n\t\t\t\t\tin the <i>Amazon Route 53 Developer Guide.</i>\n               </p>\n            </dd>\n            <dt>Another Route 53 resource record set</dt>\n            <dd>\n               <p>Specify the value of the <code>Name</code> element for a resource record set in the current hosted zone.</p>\n\t\t\t\t\t          <note>\n                  <p>If you're creating an alias record that has the same name as the hosted zone (known as the zone apex), \n\t\t\t\t\t\tyou can't specify the domain name for a record for which the value of <code>Type</code> is <code>CNAME</code>. This is because \n\t\t\t\t\t\tthe alias record must have the same type as the record that you're routing traffic to, and creating a CNAME record for the \n\t\t\t\t\t\tzone apex isn't supported even for an alias record.</p>\n               </note>\n\t\t\t\t        </dd>\n         </dl>\n\t\t\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "EvaluateTargetHealth": {
            "target": "AliasHealthEnabled",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Applies only to alias, failover alias, geolocation alias, latency alias, and weighted alias resource record sets:</emphasis> \n\t\t\tWhen <code>EvaluateTargetHealth</code> is <code>true</code>, an alias resource record set inherits the health of the referenced AWS resource, \n\t\t\tsuch as an ELB load balancer or another resource record set in the hosted zone.</para>\n\t\t       <para>Note the following:</para>\n\n\t\t       <variablelist>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>CloudFront distributions</term>\n\t\t\t\t           <listitem>\n                  <para>You can't set <code>EvaluateTargetHealth</code> to <code>true</code> when the alias target is a \n\t\t\t\t\tCloudFront distribution.</para>\n               </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Elastic Beanstalk environments that have regionalized subdomains</term>\n\t\t\t\t           <listitem>\n                  <para>If you specify an Elastic Beanstalk environment in <code>DNSName</code> and the environment contains an ELB load balancer, \n\t\t\t\t\tElastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. (An environment automatically \n\t\t\t\t\tcontains an ELB load balancer if it includes more than one Amazon EC2 instance.) If you set <code>EvaluateTargetHealth</code> to \n\t\t\t\t\t<code>true</code> and either no Amazon EC2 instances are healthy or the load balancer itself is unhealthy, \n\t\t\t\t\tRoute 53 routes queries to other available resources that are healthy, if any. </para>\n\t\t\t\t\t             <para>If the environment contains a single Amazon EC2 instance, there are no special requirements.</para>\n               </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>ELB load balancers</term>\n\t\t\t\t           <listitem>\n                  <para>Health checking behavior depends on the type of load balancer:</para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n                        <para>\n                           <emphasis role=\"bold\">Classic Load Balancers</emphasis>: If you specify an ELB Classic Load Balancer in \n\t\t\t\t\t\t\t<code>DNSName</code>, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. \n\t\t\t\t\t\t\tIf you set <code>EvaluateTargetHealth</code> to <code>true</code> and either no EC2 instances are healthy or the \n\t\t\t\t\t\t\tload balancer itself is unhealthy, Route 53 routes queries to other resources.</para>\n                     </listitem>\n\t\t\t\t\t\t               <listitem>\n                        <para>\n                           <emphasis role=\"bold\">Application and Network Load Balancers</emphasis>: If you specify an ELB \n\t\t\t\t\t\t\tApplication or Network Load Balancer and you set <code>EvaluateTargetHealth</code> to <code>true</code>, \n\t\t\t\t\t\t\tRoute 53 routes queries to the load balancer based on the health of the target groups that are associated with the load balancer:</para>\n\t\t\t\t\t\t\t                 <itemizedlist>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>For an Application or Network Load Balancer to be considered healthy, every target group that contains targets \n\t\t\t\t\t\t\t\t\tmust contain at least one healthy target. If any target group contains only unhealthy targets, the load balancer is considered \n\t\t\t\t\t\t\t\t\tunhealthy, and Route 53 routes queries to other resources.</para>\n                           </listitem>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>A target group that has no registered targets is considered unhealthy.</para>\n                           </listitem>\n\t\t\t\t\t\t\t                 </itemizedlist>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t\t             <note>\n                     <para>When you create a load balancer, you configure settings for Elastic Load Balancing health checks; they're not Route 53 health checks, but \n\t\t\t\t\t\tthey perform a similar function. Do not create Route 53 health checks for the EC2 instances that you register with an ELB load balancer. </para>\n                  </note>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>S3 buckets</term>\n\t\t\t\t           <listitem>\n                  <para>There are no special requirements for setting <code>EvaluateTargetHealth</code> to <code>true</code> \n\t\t\t\t\twhen the alias target is an S3 bucket.</para>\n               </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Other records in the same hosted zone</term>\n\t\t\t\t           <listitem>\n                  <para>If the AWS resource that you specify in <code>DNSName</code> is a record or a group of records \n\t\t\t\t\t(for example, a group of weighted records) but is not another alias record, we recommend that you associate a health check \n\t\t\t\t\twith all of the records in the alias target. For more information, see \n\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html#dns-failover-complex-configs-hc-omitting\">What Happens When You Omit Health Checks?</ulink> \n\t\t\t\t\tin the <emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n               </listitem>\n\t\t\t         </varlistentry>\n\t\t       </variablelist>\n\t\t\n\t\t       <para>For more information and examples, see \n\t\t\t<ulink url=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</ulink> in the <emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n\t\t\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Applies only to alias, failover alias, geolocation alias, latency alias, and weighted alias resource record sets:</i> \n\t\t\tWhen <code>EvaluateTargetHealth</code> is <code>true</code>, an alias resource record set inherits the health of the referenced AWS resource, \n\t\t\tsuch as an ELB load balancer or another resource record set in the hosted zone.</p>\n\t\t       <p>Note the following:</p>\n\n\t\t       <dl>\n            <dt>CloudFront distributions</dt>\n            <dd>\n               <p>You can't set <code>EvaluateTargetHealth</code> to <code>true</code> when the alias target is a \n\t\t\t\t\tCloudFront distribution.</p>\n            </dd>\n            <dt>Elastic Beanstalk environments that have regionalized subdomains</dt>\n            <dd>\n               <p>If you specify an Elastic Beanstalk environment in <code>DNSName</code> and the environment contains an ELB load balancer, \n\t\t\t\t\tElastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. (An environment automatically \n\t\t\t\t\tcontains an ELB load balancer if it includes more than one Amazon EC2 instance.) If you set <code>EvaluateTargetHealth</code> to \n\t\t\t\t\t<code>true</code> and either no Amazon EC2 instances are healthy or the load balancer itself is unhealthy, \n\t\t\t\t\tRoute 53 routes queries to other available resources that are healthy, if any. </p>\n\t\t\t\t\t          <p>If the environment contains a single Amazon EC2 instance, there are no special requirements.</p>\n            </dd>\n            <dt>ELB load balancers</dt>\n            <dd>\n               <p>Health checking behavior depends on the type of load balancer:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <b>Classic Load Balancers</b>: If you specify an ELB Classic Load Balancer in \n\t\t\t\t\t\t\t<code>DNSName</code>, Elastic Load Balancing routes queries only to the healthy Amazon EC2 instances that are registered with the load balancer. \n\t\t\t\t\t\t\tIf you set <code>EvaluateTargetHealth</code> to <code>true</code> and either no EC2 instances are healthy or the \n\t\t\t\t\t\t\tload balancer itself is unhealthy, Route 53 routes queries to other resources.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Application and Network Load Balancers</b>: If you specify an ELB \n\t\t\t\t\t\t\tApplication or Network Load Balancer and you set <code>EvaluateTargetHealth</code> to <code>true</code>, \n\t\t\t\t\t\t\tRoute 53 routes queries to the load balancer based on the health of the target groups that are associated with the load balancer:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>For an Application or Network Load Balancer to be considered healthy, every target group that contains targets \n\t\t\t\t\t\t\t\t\tmust contain at least one healthy target. If any target group contains only unhealthy targets, the load balancer is considered \n\t\t\t\t\t\t\t\t\tunhealthy, and Route 53 routes queries to other resources.</p>\n                        </li>\n                        <li>\n                           <p>A target group that has no registered targets is considered unhealthy.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t\t          <note>\n                  <p>When you create a load balancer, you configure settings for Elastic Load Balancing health checks; they're not Route 53 health checks, but \n\t\t\t\t\t\tthey perform a similar function. Do not create Route 53 health checks for the EC2 instances that you register with an ELB load balancer. </p>\n               </note>\n\t\t\t\t        </dd>\n            <dt>S3 buckets</dt>\n            <dd>\n               <p>There are no special requirements for setting <code>EvaluateTargetHealth</code> to <code>true</code> \n\t\t\t\t\twhen the alias target is an S3 bucket.</p>\n            </dd>\n            <dt>Other records in the same hosted zone</dt>\n            <dd>\n               <p>If the AWS resource that you specify in <code>DNSName</code> is a record or a group of records \n\t\t\t\t\t(for example, a group of weighted records) but is not another alias record, we recommend that you associate a health check \n\t\t\t\t\twith all of the records in the alias target. For more information, see \n\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-complex-configs.html#dns-failover-complex-configs-hc-omitting\">What Happens When You Omit Health Checks?</a> \n\t\t\t\t\tin the <i>Amazon Route 53 Developer Guide</i>.</p>\n            </dd>\n         </dl>\n\t\t\n\t\t       <p>For more information and examples, see \n\t\t\t<a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover.html\">Amazon Route 53 Health Checks and DNS Failover</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "HostedZoneId": {
            "target": "ResourceId",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Alias resource records sets only</emphasis>: The value used depends on where you want to route traffic:</para>\n\t\t       <variablelist>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Amazon API Gateway custom regional APIs and edge-optimized APIs</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the hosted zone ID for your API. You can get the applicable value using the AWS CLI command \n\t\t\t\t\t<ulink type=\"documentation\" url=\"cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</ulink>:</para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n                        <para>For regional APIs, specify the value of <code>regionalHostedZoneId</code>.</para>\n                     </listitem>\n\t\t\t\t\t\t               <listitem>\n                        <para>For edge-optimized APIs, specify the value of <code>distributionHostedZoneId</code>.</para>\n                     </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Amazon Virtual Private Cloud interface VPC endpoint</term>\n\t\t\t\t           <listitem>\n                  <para>Specify the hosted zone ID for your interface endpoint. You can get the value of <code>HostedZoneId</code> \n\t\t\t\t\tusing the AWS CLI command \n\t\t\t\t\t<ulink type=\"documentation\" url=\"cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</ulink>.</para>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>CloudFront distribution</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>Specify <code>Z2FDTNDATAQYW2</code>.</para>\n\t\t\t\t\t             <note>\n\t\t\t\t\t\t               <para>Alias resource record sets for CloudFront can't be created in a private zone.</para>\n\t\t\t\t\t             </note>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Elastic Beanstalk environment</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>Specify the hosted zone ID for the region that you created the environment in. The environment \n\t\t\t\t\t\tmust have a regionalized subdomain. For a list of regions and the corresponding hosted zone IDs, see \n\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">AWS Elastic Beanstalk</ulink> in the \n\t\t\t\t\t\t\"AWS Regions and Endpoints\" chapter of the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>ELB load balancer</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>Specify the value of the hosted zone ID for the load balancer. Use the following methods to get the \n\t\t\t\t\t\thosted zone ID:</para>\n\t\t\t\t\t             <itemizedlist>\n\t\t\t\t\t\t               <listitem>\n                        <para>\n                           <ulink type=\"documentation\" url=\"general/latest/gr/rande.html#elb_region\">Elastic Load Balancing</ulink> table \n\t\t\t\t\t\t\tin the \"AWS Regions and Endpoints\" chapter of the <emphasis>Amazon Web Services General Reference</emphasis>: Use the value that corresponds with \n\t\t\t\t\t\t\tthe region that you created your load balancer in. Note that there are separate columns for Application and Classic Load Balancers \n\t\t\t\t\t\t\tand for Network Load Balancers.</para>\n                     </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">AWS Management Console</emphasis>: Go to the Amazon EC2 page, choose \n\t\t\t\t\t\t\t\t<emphasis role=\"bold\">Load Balancers</emphasis> in the navigation pane, select the load balancer, and get the value of the \n\t\t\t\t\t\t\t\t<emphasis role=\"bold\">Hosted zone</emphasis> field on the <emphasis role=\"bold\">Description</emphasis> tab.</para>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">Elastic Load Balancing API</emphasis>: Use <code>DescribeLoadBalancers</code> to get the \n\t\t\t\t\t\t\t\tapplicable value. For more information, see the applicable guide:</para>\n\t\t\t\t\t\t\t                 <itemizedlist>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</ulink> \n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</para>\n                           </listitem>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</ulink>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</para>\n                           </listitem>\n\t\t\t\t\t\t\t                 </itemizedlist>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t\t               <listitem>\n\t\t\t\t\t\t\t                 <para>\n                           <emphasis role=\"bold\">AWS CLI</emphasis>: Use <code>describe-load-balancers</code> to get the applicable value. \n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</para>\n\t\t\t\t\t\t\t                 <itemizedlist>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</ulink>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</para>\n                           </listitem>\n\t\t\t\t\t\t\t\t                   <listitem>\n                              <para>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</ulink>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</para>\n                           </listitem>\n\t\t\t\t\t\t\t                 </itemizedlist>\n\t\t\t\t\t\t               </listitem>\n\t\t\t\t\t             </itemizedlist>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>An Amazon S3 bucket configured as a static website</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>Specify the hosted zone ID for the region that you created the bucket in. For more information about \n\t\t\t\t\t\tvalid values, see the <ulink url=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service Website Endpoints</ulink> table in the\n\t\t\t\t\t\t\"AWS Regions and Endpoints\" chapter of the <emphasis>Amazon Web Services General Reference</emphasis>.</para>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t\t         <varlistentry>\n\t\t\t\t           <term>Another Route 53 resource record set in your hosted zone</term>\n\t\t\t\t           <listitem>\n\t\t\t\t\t             <para>Specify the hosted zone ID of your hosted zone. (An alias resource record set\n\t\t\t\t\t\tcan't reference a resource record set in a different hosted zone.)</para>\n\t\t\t\t           </listitem>\n\t\t\t         </varlistentry>\n\t\t       </variablelist>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Alias resource records sets only</i>: The value used depends on where you want to route traffic:</p>\n\t\t       <dl>\n            <dt>Amazon API Gateway custom regional APIs and edge-optimized APIs</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your API. You can get the applicable value using the AWS CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-domain-names.html\">get-domain-names</a>:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>For regional APIs, specify the value of <code>regionalHostedZoneId</code>.</p>\n                  </li>\n                  <li>\n                     <p>For edge-optimized APIs, specify the value of <code>distributionHostedZoneId</code>.</p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>Amazon Virtual Private Cloud interface VPC endpoint</dt>\n            <dd>\n               <p>Specify the hosted zone ID for your interface endpoint. You can get the value of <code>HostedZoneId</code> \n\t\t\t\t\tusing the AWS CLI command \n\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-vpc-endpoints.html\">describe-vpc-endpoints</a>.</p>\n\t\t\t\t        </dd>\n            <dt>CloudFront distribution</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify <code>Z2FDTNDATAQYW2</code>.</p>\n\t\t\t\t\t          <note>\n\t\t\t\t\t\t            <p>Alias resource record sets for CloudFront can't be created in a private zone.</p>\n\t\t\t\t\t          </note>\n\t\t\t\t        </dd>\n            <dt>Elastic Beanstalk environment</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID for the region that you created the environment in. The environment \n\t\t\t\t\t\tmust have a regionalized subdomain. For a list of regions and the corresponding hosted zone IDs, see \n\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">AWS Elastic Beanstalk</a> in the \n\t\t\t\t\t\t\"AWS Regions and Endpoints\" chapter of the <i>Amazon Web Services General Reference</i>.</p>\n\t\t\t\t        </dd>\n            <dt>ELB load balancer</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the value of the hosted zone ID for the load balancer. Use the following methods to get the \n\t\t\t\t\t\thosted zone ID:</p>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#elb_region\">Elastic Load Balancing</a> table \n\t\t\t\t\t\t\tin the \"AWS Regions and Endpoints\" chapter of the <i>Amazon Web Services General Reference</i>: Use the value that corresponds with \n\t\t\t\t\t\t\tthe region that you created your load balancer in. Note that there are separate columns for Application and Classic Load Balancers \n\t\t\t\t\t\t\tand for Network Load Balancers.</p>\n                  </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>AWS Management Console</b>: Go to the Amazon EC2 page, choose \n\t\t\t\t\t\t\t\t<b>Load Balancers</b> in the navigation pane, select the load balancer, and get the value of the \n\t\t\t\t\t\t\t\t<b>Hosted zone</b> field on the <b>Description</b> tab.</p>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>Elastic Load Balancing API</b>: Use <code>DescribeLoadBalancers</code> to get the \n\t\t\t\t\t\t\t\tapplicable value. For more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/elasticloadbalancing/2012-06-01/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> \n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n\t\t\t\t\t\t\t              <p>\n                        <b>AWS CLI</b>: Use <code>describe-load-balancers</code> to get the applicable value. \n\t\t\t\t\t\t\t\tFor more information, see the applicable guide:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>Classic Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elb/describe-load-balancers.html\">describe-load-balancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneNameId</code>.</p>\n                        </li>\n                        <li>\n                           <p>Application and Network Load Balancers: Use \n\t\t\t\t\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/cli/latest/reference/elbv2/describe-load-balancers.html\">describe-load-balancers</a>\n\t\t\t\t\t\t\t\t\tto get the value of <code>CanonicalHostedZoneId</code>.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>An Amazon S3 bucket configured as a static website</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID for the region that you created the bucket in. For more information about \n\t\t\t\t\t\tvalid values, see the <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#s3_region\">Amazon Simple Storage Service Website Endpoints</a> table in the\n\t\t\t\t\t\t\"AWS Regions and Endpoints\" chapter of the <i>Amazon Web Services General Reference</i>.</p>\n\t\t\t\t        </dd>\n            <dt>Another Route 53 resource record set in your hosted zone</dt>\n            <dd>\n\t\t\t\t\t          <p>Specify the hosted zone ID of your hosted zone. (An alias resource record set\n\t\t\t\t\t\tcan't reference a resource record set in a different hosted zone.)</p>\n\t\t\t\t        </dd>\n         </dl>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Alias resource record sets only:</emphasis> Information about the AWS resource, such as a CloudFront distribution or \n\t\t\tan Amazon S3 bucket, that you want to route traffic to.</para>\n\t\t       <para>When creating resource record sets for a private hosted zone, note the following:</para>\n\t\t       <itemizedlist>\n\t\t\t         <listitem>\n               <para>Creating geolocation alias resource record sets or latency alias resource record sets in a private hosted zone \n\t\t\t\t\tis unsupported.</para>\n\t\t\t         </listitem>\n\t\t\t         <listitem>\n\t\t\t\t           <para>For information about creating failover resource record sets in a private hosted zone, see \n\t\t\t\t\t<ulink url=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a Private Hosted Zone</ulink>.</para>\n\t\t\t         </listitem>\n\t\t       </itemizedlist>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Alias resource record sets only:</i> Information about the AWS resource, such as a CloudFront distribution or \n\t\t\tan Amazon S3 bucket, that you want to route traffic to.</p>\n\t\t       <p>When creating resource record sets for a private hosted zone, note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>Creating geolocation alias resource record sets or latency alias resource record sets in a private hosted zone \n\t\t\t\t\tis unsupported.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>For information about creating failover resource record sets in a private hosted zone, see \n\t\t\t\t\t<a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a Private Hosted Zone</a>.</p>\n\t\t\t         </li>\n         </ul>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AssociateVPCComment": {
        "type": "string",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AssociateVPCWithHostedZone": {
        "type": "operation",
        "input": "AssociateVPCWithHostedZoneRequest",
        "output": "AssociateVPCWithHostedZoneResponse",
        "errors": [
          "ConflictingDomainExists",
          "InvalidInput",
          "InvalidVPCId",
          "LimitsExceeded",
          "NoSuchHostedZone",
          "NotAuthorizedException",
          "PublicZoneVPCAssociation"
        ],
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>Associates an Amazon VPC with a private hosted zone. </para>\n\t\t       <important>\n            <para>To perform the association, the VPC and the private hosted zone must already exist. \n\t\t\tYou can't convert a public hosted zone into a private hosted zone.</para>\n         </important>\n\t\t       <note>\n            <para>If you want to associate a VPC that was created by using one AWS account with a private hosted zone that was created \n\t\t\tby using a different account, the AWS account that created the private hosted zone must first submit a \n\t\t\t<code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an \n\t\t\t<code>AssociateVPCWithHostedZone</code> request.</para>\n         </note>\n\t\t\n\t\t       <examples>\n\t\t\t         <example>\n\t\t\t\t           <title>Example Request</title>\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/Z1PA6795UKMFR9/associatevpc HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AssociateVPCWithHostedZoneRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n   <VPC>\n      <VPCId>vpc-a1b2c3d4e5</VPCId>\n      <VPCRegion>us-east-2</VPCRegion>\n   <VPC>\n</AssociateVPCWithHostedZoneRequest></programlisting>\n\t\t\t         </example>\n\n\t\t\t         <example>\n\t\t\t\t           <title>Example Response</title>\n\t\t\t\t           <programlisting>HTTP/1.1 200 OK\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AssociateVPCWithHostedZoneResponse xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n   <ChangeInfo>\n      <Id>/change/a1b2c3d4</Id>\n      <Status>INSYNC</Status>\n      <SubmittedAt>2017-03-31T01:36:41.958Z</SubmittedAt>\n   </ChangeInfo>\n</AssociateVPCWithHostedZoneResponse></programlisting>\n\t\t\t         </example>\n\t\t       </examples>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>Associates an Amazon VPC with a private hosted zone. </p>\n\t\t       <important>\n            <p>To perform the association, the VPC and the private hosted zone must already exist. \n\t\t\tYou can't convert a public hosted zone into a private hosted zone.</p>\n         </important>\n\t\t       <note>\n            <p>If you want to associate a VPC that was created by using one AWS account with a private hosted zone that was created \n\t\t\tby using a different account, the AWS account that created the private hosted zone must first submit a \n\t\t\t<code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an \n\t\t\t<code>AssociateVPCWithHostedZone</code> request.</p>\n         </note>\n\t\t\n\t\t    \n\t     </xhtml>\n   ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2013-04-01/hostedzone/{HostedZoneId}/associatevpc",
          "code": 200
        },
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AssociateVPCWithHostedZoneRequest": {
        "type": "structure",
        "members": {
          "Comment": {
            "target": "AssociateVPCComment",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Optional:</emphasis> A comment about the association request.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Optional:</i> A comment about the association request.</p>\n\t     </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "HostedZoneId": {
            "target": "ResourceId",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The ID of the private hosted zone that you want to associate an Amazon VPC with.</para>\n\t\t       <para>Note that you can't associate a VPC with a hosted zone that doesn't have an existing VPC association.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The ID of the private hosted zone that you want to associate an Amazon VPC with.</p>\n\t\t       <p>Note that you can't associate a VPC with a hosted zone that doesn't have an existing VPC association.</p>\n\t     </xhtml>\n   ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "VPC": {
            "target": "VPC",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that contains information about the VPC that you want to associate with a private hosted zone.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that contains information about the VPC that you want to associate with a private hosted zone.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that contains information about the request to associate a VPC with a private hosted zone.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that contains information about the request to associate a VPC with a private hosted zone.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "AssociateVPCWithHostedZoneResponse": {
        "type": "structure",
        "members": {
          "ChangeInfo": {
            "target": "ChangeInfo",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that describes the changes made to your hosted zone.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that describes the changes made to your hosted zone.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that contains the response information for the <code>AssociateVPCWithHostedZone</code> request.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that contains the response information for the <code>AssociateVPCWithHostedZone</code> request.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "Change": {
        "type": "structure",
        "members": {
          "Action": {
            "target": "ChangeAction",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The action to perform:</para>\n\t\t       <itemizedlist>\n\t\t\t         <listitem>\n\t\t\t\t           <para>\n                  <code>CREATE</code>: Creates a resource record set that has the specified values.</para>\n\t\t\t         </listitem>\n\t\t\t         <listitem>\n\t\t\t\t           <para>\n                  <code>DELETE</code>: Deletes a existing resource record set.</para>\n\t\t\t\t           <important>\n\t\t\t\t\t             <para>To delete the resource record set that is associated with a traffic policy instance, use \n\t\t\t\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/APIReference/API_DeleteTrafficPolicyInstance.html\">DeleteTrafficPolicyInstance</ulink>. \n\t\t\t\t\t\tAmazon Route 53 will delete the resource record set automatically. If you delete the resource record set by using \n\t\t\t\t\t\t<code>ChangeResourceRecordSets</code>, Route 53 doesn't automatically delete the traffic policy instance, and you'll continue \n\t\t\t\t\t\tto be charged for it even though it's no longer in use. </para>\n\t\t\t\t           </important>\n\t\t\t         </listitem>\n\t\t\t         <listitem>\n\t\t\t\t           <para>\n                  <code>UPSERT</code>: If a resource record set doesn't already exist, Route 53 creates it. \n\t\t\t\t\tIf a resource record set does exist, Route 53 updates it with the values in the request.</para>\n\t\t\t         </listitem>\n\t\t       </itemizedlist>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The action to perform:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <code>CREATE</code>: Creates a resource record set that has the specified values.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>DELETE</code>: Deletes a existing resource record set.</p>\n\t\t\t\t           <important>\n\t\t\t\t\t             <p>To delete the resource record set that is associated with a traffic policy instance, use \n\t\t\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteTrafficPolicyInstance.html\">DeleteTrafficPolicyInstance</a>. \n\t\t\t\t\t\tAmazon Route 53 will delete the resource record set automatically. If you delete the resource record set by using \n\t\t\t\t\t\t<code>ChangeResourceRecordSets</code>, Route 53 doesn't automatically delete the traffic policy instance, and you'll continue \n\t\t\t\t\t\tto be charged for it even though it's no longer in use. </p>\n\t\t\t\t           </important>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <code>UPSERT</code>: If a resource record set doesn't already exist, Route 53 creates it. \n\t\t\t\t\tIf a resource record set does exist, Route 53 updates it with the values in the request.</p>\n\t\t\t         </li>\n         </ul>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "ResourceRecordSet": {
            "target": "ResourceRecordSet",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>Information about the resource record set to create, delete, or update.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>Information about the resource record set to create, delete, or update.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The information for each resource record set that you want to change.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The information for each resource record set that you want to change.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "ChangeAction": {
        "type": "string",
        "smithy.api#enum": {
          "CREATE": {},
          "DELETE": {},
          "UPSERT": {}
        },
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "ChangeBatch": {
        "type": "structure",
        "members": {
          "Changes": {
            "target": "Changes",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>Information about the changes to make to the record sets.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>Information about the changes to make to the record sets.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "Comment": {
            "target": "ResourceDescription",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>\n            <emphasis>Optional:</emphasis> Any comments you want to include about a change batch\n\t\t\trequest.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>\n            <i>Optional:</i> Any comments you want to include about a change batch\n\t\t\trequest.</p>\n\t     </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The information for a change request.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The information for a change request.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "ChangeInfo": {
        "type": "structure",
        "members": {
          "Comment": {
            "target": "ResourceDescription",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that describes change information about changes made to your hosted\n\t\t\tzone.</para>\n\t\t       <para>This element contains an ID that you use when performing a \n\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/APIReference/API_GetChange.html\">GetChange</ulink> \n\t\t\taction to get detailed information about the change.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that describes change information about changes made to your hosted\n\t\t\tzone.</p>\n\t\t       <p>This element contains an ID that you use when performing a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a> \n\t\t\taction to get detailed information about the change.</p>\n\t     </xhtml>\n   ",
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "Id": {
            "target": "ResourceId",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The ID of the request.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The ID of the request.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "Status": {
            "target": "ChangeStatus",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The current state of the request. <code>PENDING</code> indicates that this request has\n\t\t\tnot yet been applied to all Amazon Route 53 DNS servers.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The current state of the request. <code>PENDING</code> indicates that this request has\n\t\t\tnot yet been applied to all Amazon Route 53 DNS servers.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          },
          "SubmittedAt": {
            "target": "TimeStamp",
            "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>The date and time that the change request was submitted in \n\t\t\t<ulink url=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601 format</ulink> and Coordinated Universal Time (UTC). \n\t\t\tFor example, the value <code>2017-03-27T17:48:16.751Z</code> represents March 27, 2017 at 17:48:16.751 UTC.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>The date and time that the change request was submitted in \n\t\t\t<a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601 format</a> and Coordinated Universal Time (UTC). \n\t\t\tFor example, the value <code>2017-03-27T17:48:16.751Z</code> represents March 27, 2017 at 17:48:16.751 UTC.</p>\n\t     </xhtml>\n   ",
            "smithy.api#required": true,
            "smithy.api#xmlNamespace": {
              "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
            }
          }
        },
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>A complex type that describes change information about changes made to your hosted\n\t\t\tzone.</para>\n\t     </zonbook>\n      <xhtml>\n\t\t       <p>A complex type that describes change information about changes made to your hosted\n\t\t\tzone.</p>\n\t     </xhtml>\n   ",
        "smithy.api#xmlNamespace": {
          "uri": "https://route53.amazonaws.com/doc/2013-04-01/"
        }
      },
      "ChangeResourceRecordSets": {
        "type": "operation",
        "input": "ChangeResourceRecordSetsRequest",
        "output": "ChangeResourceRecordSetsResponse",
        "errors": [
          "InvalidChangeBatch",
          "InvalidInput",
          "NoSuchHealthCheck",
          "NoSuchHostedZone",
          "PriorRequestNotComplete"
        ],
        "smithy.api#documentation": "\n      <zonbook>\n\t\t       <para>Creates, changes, or deletes a resource record set, which contains authoritative DNS information for a specified \n\t\t\tdomain name or subdomain name. For example, you can use <code>ChangeResourceRecordSets</code> to create a resource record set that \n\t\t\troutes traffic for test.example.com to a web server that has an IP address of 192.0.2.44.</para>\n\t\t\n\t\t       <para>\n            <emphasis role=\"bold\">Change Batches and Transactional Changes</emphasis>\n         </para>\n\t\t       <para>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. \n\t\t\tThe request body contains a list of change items, known as a change batch. Change batches are considered transactional changes.\n\t\t\tWhen using the Amazon Route 53 API to change resource record sets, Route 53 either makes all or none of the changes in a change batch request. \n\t\t\tThis ensures that Route 53 never partially implements the intended changes to the resource record sets in a hosted zone. </para>\n\t\t       <para>For example, a change batch request that deletes the <code>CNAME</code> record for www.example.com and creates an \n\t\t\talias resource record set for www.example.com. Route 53 deletes the first resource record set and creates the second resource record set \n\t\t\tin a single operation. If either the <code>DELETE</code> or the <code>CREATE</code> action fails, then both changes \n\t\t\t(plus any other changes in the batch) fail, and the original <code>CNAME</code> record continues to exist.</para>\n\t\t       <important>\n\t\t\t         <para>Due to the nature of transactional changes, you can't delete the same resource record set more than once in a \n\t\t\t\tsingle change batch. If you attempt to delete the same change batch more than once, Route 53 returns an \n\t\t\t\t<code>InvalidChangeBatch</code> error.</para>\n\t\t       </important>\n\t\t\n\t\t       <para>\n            <emphasis role=\"bold\">Traffic Flow</emphasis>\n         </para>\n\t\t       <para>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the \n\t\t\tRoute 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, \n\t\t\tthen associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), \n\t\t\tin the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn't performing \n\t\t\tas expected. For more information, see <ulink url=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html\">Using Traffic Flow to Route DNS Traffic</ulink> \n\t\t\tin the <emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n\t\t\n\t\t       <para>\n            <emphasis role=\"bold\">Create, Delete, and Upsert</emphasis>\n         </para>\n\t\t       <para>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</para>\n\t\t\t      <itemizedlist>\n\t\t\t\t        <listitem>\n\t\t\t\t\t          <para>\n                  <code>CREATE</code>: Creates a resource record set that has the specified values.</para>\n\t\t\t\t        </listitem>\n\t\t\t\t        <listitem>\n\t\t\t\t\t          <para>\n                  <code>DELETE</code>: Deletes an existing resource record set that has the specified values.</para>\n\t\t\t\t        </listitem>\n\t\t\t\t        <listitem>\n\t\t\t\t\t          <para>\n                  <code>UPSERT</code>: If a resource record set does not already exist, AWS creates it. \n\t\t\t\t\t\tIf a resource set does exist, Route 53 updates it with the values in the request. </para>\n\t\t\t\t        </listitem>\n\t\t\t      </itemizedlist>\n\t\t\n\t\t       <para>\n            <emphasis role=\"bold\">Syntaxes for Creating, Updating, and Deleting Resource Record Sets</emphasis>\n         </para>\n\t\t       <para>The syntax for a request depends on the type of resource record set that you want to create, delete, or update, such as \n\t\t\tweighted, alias, or failover. The XML elements in your request must appear in the order listed in the syntax. </para>\n\n\t\t       <para>For syntax examples that show the elements for each kind of resource record set, such as basic, weighted, and alias, see the \n\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/APIReference/API_ChangeResourceRecordSets.html#API_ChangeResourceRecordSets_Examples\">Examples</ulink> \n\t\t\tsection of <code>ChangeResourceRecordSets</code>.</para>\n\t\t    \n\t\t\n\t\t       <para>Don't refer to the syntax in the \"Syntax\" section, which includes all of the elements for every kind of resource record set \n\t\t\tthat you can create, delete, or update by using <code>ChangeResourceRecordSets</code>. </para>\n\t\t    \n\t\t\n\t\t       <para>\n            <emphasis role=\"bold\">Change Propagation to Route 53 DNS Servers</emphasis>\n         </para>\n\t\t       <para>When you submit a <code>ChangeResourceRecordSets</code> request, Route 53 propagates your changes to all of the \n\t\t\tRoute 53 authoritative DNS servers. While your changes are propagating, <code>GetChange</code> returns a status of \n\t\t\t<code>PENDING</code>. When propagation is complete, <code>GetChange</code> returns a status of <code>INSYNC</code>. \n\t\t\tChanges generally propagate to all Route 53 name servers within 60 seconds. For more information, see \n\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/APIReference/API_GetChange.html\">GetChange</ulink>.</para>\n\n\t\t       <para>\n            <emphasis role=\"bold\">Limits on ChangeResourceRecordSets Requests</emphasis>\n         </para>\n\t\t       <para>For information about the limits on a <code>ChangeResourceRecordSets</code> request, see \n\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</ulink> in the \n\t\t\t<emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n\t\t\n\n\t\t       <examples>\n\t\t\t         <example>\n\t\t\t\t           <title>Basic Syntax</title>\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comment about the changes in this change batch request</emphasis></Comment>\n   <Changes>\n      <Change>\n         <Action>CREATE | DELETE | UPSERT</Action>\n         <ResourceRecordSet>\n            <Name><emphasis>fully qualified domain name</emphasis></Name>\n            <Type><emphasis>DNS record type</emphasis></Type>\n            <TTL><emphasis>time to live in seconds</emphasis></TTL>\n            <ResourceRecords>\n               <ResourceRecord>\n                  <Value><emphasis>applicable value for the record type</emphasis></Value>\n               </ResourceRecord>\n               ...\n            </ResourceRecords>\n            <HealthCheckId><emphasis>optional ID of a Route 53 health check</emphasis></HealthCheckId>\n         </ResourceRecordSet>\n      </Change>\n      ...\n   </Changes>\n</ChangeBatch>\n</ChangeResourceRecordSetsRequest></programlisting>\n\t\t\t         </example>\n\t\t\t\n\t\t\t         <example>\n\t\t\t\t           <title>Alias Resource Record Set Syntax</title>\n\t\t\t\t           <para>For information about alias resource record sets, see \n\t\t\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/resource-record-sets-choosing-alias-non-alias.html\">Choosing Between \n\t\t\t\t\t\tAlias and Non-Alias Resource Record Sets</ulink> in the <emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comment about the changes in this change batch request</emphasis></Comment>\n   <Changes>\n      <Change>\n         <Action>CREATE | DELETE | UPSERT</Action>\n         <ResourceRecordSet>\n            <Name><emphasis>fully qualified domain name</emphasis></Name>\n            <Type><emphasis>DNS record type</emphasis></Type>\n            <AliasTarget>\n               <HostedZoneId><emphasis>hosted zone ID for your AWS resource or Route 53 hosted zone</emphasis></HostedZoneId>\n               <DNSName><emphasis>DNS domain name for your AWS resource or another resource record set in this hosted zone</emphasis></DNSName>\n               <EvaluateTargetHealth>true | false</EvaluateTargetHealth>\n            </AliasTarget>\n            <HealthCheckId><emphasis>optional ID of a Route 53 health check</emphasis></HealthCheckId>\n         </ResourceRecordSet>\n      </Change>\n      ...\n   </Changes>\n</ChangeBatch>\n</ChangeResourceRecordSetsRequest></programlisting>\n\t\t\t         </example>\n\t\t\t\n\t\t\t         <example>\n\t\t\t\t           <title>Failover Syntax</title>\n\t\t\t\t           <para>For information about configuring Route 53 failover, see the following topics in the <emphasis>Amazon Route 53 Developer Guide</emphasis>:</para>\n\t\t\t\t           <itemizedlist>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/dns-failover.html\">Creating Route 53 Health Checks and \n\t\t\t\t\t\tConfiguring DNS Failover</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a \n\t\t\t\t\t\tPrivate Hosted Zone</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t           </itemizedlist>\n\t\t\t\t\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comment about the changes in this change batch request</emphasis></Comment>\n   <Changes>\n      <Change>\n         <Action>CREATE | DELETE | UPSERT</Action>\n         <ResourceRecordSet>\n            <Name><emphasis>fully qualified domain name</emphasis></Name>\n            <Type><emphasis>DNS record type</emphasis></Type>\n            <SetIdentifier><emphasis>unique description for this resource record set</emphasis></SetIdentifier>\n            <Failover>PRIMARY | SECONDARY</Failover>\n            <TTL><emphasis>time to live in seconds</emphasis></TTL>\n            <ResourceRecords>\n               <ResourceRecord>\n                  <Value><emphasis>applicable value for the record type</emphasis></Value>\n               </ResourceRecord>\n               ...\n            </ResourceRecords>\n            <HealthCheckId><emphasis>ID of a Route 53 health check</emphasis></HealthCheckId>\n         </ResourceRecordSet>\n      </Change>\n      ...\n   </Changes>\n</ChangeBatch>\n</ChangeResourceRecordSetsRequest></programlisting>\n\t\t\t         </example>\n\t\t\t\n\t\t\t         <example>\n\t\t\t\t           <title>Failover Alias Syntax</title>\n\t\t\t\t           <para>For more information, see the following topics in the <emphasis>Amazon Route 53 Developer Guide</emphasis>:</para>\n\t\t\t\t           <itemizedlist>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/dns-failover.html\">Creating Route 53 Health Checks and \n\t\t\t\t\t\tConfiguring DNS Failover</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/dns-failover-private-hosted-zones.html\">Configuring Failover in a \n\t\t\t\t\t\tPrivate Hosted Zone</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/resource-record-sets-choosing-alias-non-alias.html\">Choosing \n\t\t\t\t\t\tBetween Alias and Non-Alias Resource Record Sets</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t           </itemizedlist>\n\t\t\t\t\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comment about the changes in this change batch request</emphasis></Comment>\n   <Changes>\n      <Change>\n         <Action>CREATE | DELETE | UPSERT</Action>\n         <ResourceRecordSet>\n            <Name><emphasis>fully qualified domain name</emphasis></Name>\n            <Type><emphasis>DNS record type</emphasis></Type>\n            <SetIdentifier><emphasis>unique description for this resource record set</emphasis></SetIdentifier>\n            <Failover>PRIMARY | SECONDARY</Failover>\n            <AliasTarget>\n               <HostedZoneId><emphasis>hosted zone ID for your AWS resource or Route 53 hosted zone</emphasis></HostedZoneId>\n               <DNSName><emphasis>DNS domain name for your AWS resource or another resource record set in this hosted zone</emphasis></DNSName>\n               <EvaluateTargetHealth>true | false</EvaluateTargetHealth>\n            </AliasTarget>\n            <HealthCheckId><emphasis>optional ID of a Route 53 health check</emphasis></HealthCheckId>\n         </ResourceRecordSet>\n      </Change>\n      ...\n   </Changes>\n</ChangeBatch>\n</ChangeResourceRecordSetsRequest></programlisting>\n\t\t\t         </example>\n\t\t\t\n\t\t\t         <example>\n\t\t\t\t           <title>Geolocation Syntax</title>\n\t\t\t\t           <para>For more information, see \n\t\t\t\t\t<ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-geo\">Geolocation Routing</ulink> \n\t\t\t\t\tin the <emphasis>Amazon Route 53 Developer Guide</emphasis>.</para>\n\t\t\t\t\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comment about the changes in this \n      change batch request</emphasis></Comment>\n   <Changes>\n      <Change>\n         <Action>CREATE | DELETE | UPSERT</Action>\n         <ResourceRecordSet>\n            <Name><emphasis>fully qualified domain name</emphasis></Name>\n            <Type><emphasis>DNS record type</emphasis></Type>\n            <SetIdentifier><emphasis>unique description for this resource record set</emphasis></SetIdentifier>\n            <GeoLocation>\n               <ContinentCode><emphasis>two-letter continent code</emphasis></ContinentCode>\n               <CountryCode><emphasis>two-letter country code</emphasis></CountryCode>\n               <SubdivisionCode><emphasis>subdivision code</emphasis></SubdivisionCode>\n            </GeoLocation>\n            <TTL><emphasis>time to live in seconds</emphasis></TTL>\n            <ResourceRecords>\n               <ResourceRecord>\n                  <Value><emphasis>applicable value for the record type</emphasis></Value>\n               </ResourceRecord>\n               ...\n            </ResourceRecords>\n            <HealthCheckId><emphasis>ID of a Route 53 health check</emphasis></HealthCheckId>\n         </ResourceRecordSet>\n      </Change>\n      ...\n   </Changes>\n</ChangeBatch>\n</ChangeResourceRecordSetsRequest></programlisting>\n\t\t\t         </example>\n\t\t\t\n\t\t\t         <example>\n\t\t\t\t           <title>Geolocation Alias Syntax</title>\n\t\t\t\t           <para>For more information, see the following topics in the <emphasis>Amazon Route 53 Developer Guide</emphasis>:</para>\n\t\t\t\t           <itemizedlist>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-geo\">Geolocation \n\t\t\t\t\t\tRouting</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t\t             <listitem>\n                     <para>\n                        <ulink type=\"documentation\" url=\"Route53/latest/DeveloperGuide/resource-record-sets-choosing-alias-non-alias.html\">Choosing \n\t\t\t\t\t\tBetween Alias and Non-Alias Resource Record Sets</ulink>\n                     </para>\n                  </listitem>\n\t\t\t\t           </itemizedlist>\n\n\t\t\t\t           <programlisting>POST /2013-04-01/hostedzone/<emphasis>Route 53 hosted zone ID</emphasis>/rrset HTTP/1.1\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<ChangeResourceRecordSetsRequest xmlns=\"https://route53.amazonaws.com/doc/2013-04-01/\">\n<ChangeBatch>\n   <Comment><emphasis>optional comme
[...]
