{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53resolver#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 32
        }
      }
    },
    "com.amazonaws.route53resolver#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds IP addresses to an inbound or an outbound Resolver endpoint. If you want to add more than one IP address, \n\t\t\tsubmit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To remove an IP address from an endpoint, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverEndpointIpAddress.html\">DisassociateResolverEndpointIpAddress</a>.\n\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Either the IPv4 address that you want to add to a Resolver endpoint or a subnet ID. If you specify a subnet ID, \n\t\t\tResolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Amazon VPC with a specified query logging configuration. Route 53 Resolver logs DNS queries that originate in all of the Amazon VPCs \n\t\t\tthat are associated with a specified query logging configuration. To associate more than one VPC with a configuration, submit one <code>AssociateResolverQueryLogConfig</code> \n\t\t\trequest for each VPC.</p>\n\t\t\n\t\t       <note>\n            <p>The VPCs that you associate with a query logging configuration must be in the same Region as the configuration.</p>\n         </note>\n\t\t\n\t\t       <p>To remove a VPC from a query logging configuration, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.\n\t\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to associate a VPC with.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an Amazon VPC that you want this query logging configuration to log queries for.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>The VPCs and the query logging configuration must be in the same Region.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for a specified association between an Amazon VPC and a query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a Resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries \n\t\t\tfor the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the \n\t\t\tIP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverRule.html\">CreateResolverRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to associate with the VPC. To list the existing Resolver rules, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the association that you're creating between a Resolver rule and a VPC.</p>"
          }
        },
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to associate the Resolver rule with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.route53resolver#Count": {
      "type": "integer"
    },
    "com.amazonaws.route53resolver#CreateResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resolver endpoint. There are two types of Resolver endpoints, inbound and outbound:</p>\n\t\t       <ul>\n            <li>\n               <p>An <i>inbound Resolver endpoint</i> forwards DNS queries to the DNS service for a VPC \n\t\t\t\tfrom your network.</p>\n            </li>\n            <li>\n               <p>An <i>outbound Resolver endpoint</i> forwards DNS queries from the DNS service for a VPC \n\t\t\t\tto your network.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.route53resolver#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify \n\t\t\tmust include one or more inbound rules (for inbound Resolver endpoints) or outbound rules (for outbound Resolver endpoints). \n\t\t\tInbound and outbound rules must allow TCP and UDP access. For inbound access, open port 53. For outbound access, open the port \n\t\t\tthat you're using for DNS queries on your network.</p>",
            "smithy.api#required": {}
          }
        },
        "Direction": {
          "target": "com.amazonaws.route53resolver#ResolverEndpointDirection",
          "traits": {
            "smithy.api#documentation": "<p>Specify the applicable value:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network</p>\n            </li>\n            <li>\n               <p>\n                  <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "IpAddresses": {
          "target": "com.amazonaws.route53resolver#IpAddressesRequest",
          "traits": {
            "smithy.api#documentation": "<p>The subnets and IP addresses in your VPC that DNS queries originate from (for outbound endpoints) or that you forward \n\t\t\tDNS queries to (for inbound endpoints). The subnet ID uniquely identifies a VPC. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resolver query logging configuration, which defines where you want Resolver to save DNS query logs that originate in your VPCs. \n\t\t\tResolver can log queries only for VPCs that are in the same Region as the query logging configuration.</p>\n\t\t\n\t\t       <p>To specify which VPCs you want to log queries for, you use <code>AssociateResolverQueryLogConfig</code>. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverQueryLogConfig.html\">AssociateResolverQueryLogConfig</a>. </p>\n\t\t\n\t\t       <p>You can optionally use AWS Resource Access Manager (AWS RAM) to share a query logging configuration with other AWS accounts. The other accounts \n\t\t\tcan then associate VPCs with the configuration. The query logs that Resolver creates for a configuration include all DNS queries that originate in all \n\t\t\tVPCs that are associated with the configuration.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to give the query logging configuration</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.route53resolver#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that you want Resolver to send query logs. You can send query logs to an S3 bucket, a CloudWatch Logs log group, \n\t\t\tor a Kinesis Data Firehose delivery stream. Examples of valid values include the following:</p>\n\t\t\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>S3 bucket</b>: </p>\n\t\t\t\t           <p>\n                  <code>arn:aws:s3:::examplebucket</code>\n               </p>\n\t\t\t\t           <p>You can optionally append a file prefix to the end of the ARN.</p>\n\t\t\t\t           <p>\n                  <code>arn:aws:s3:::examplebucket/development/</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>CloudWatch Logs log group</b>: </p>\n\t\t\t\t           <p>\n                  <code>arn:aws:logs:us-west-1:123456789012:log-group:/mystack-testgroup-12ABC1AB12A1:*</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Kinesis Data Firehose delivery stream</b>:</p>\n\t\t\t\t           <p>\n                  <code>arn:aws:kinesis:us-east-2:0123456789:stream/my_stream_name</code>\n               </p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfig": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverQueryLogConfig</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For DNS queries that originate in your VPCs, specifies which Resolver endpoint the queries pass through, \n\t\t\tone domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "RuleType": {
          "target": "com.amazonaws.route53resolver#RuleTypeOption",
          "traits": {
            "smithy.api#documentation": "<p>When you want to forward DNS queries for specified domain name to resolvers on your network, specify <code>FORWARD</code>.</p>\n\t\t       <p>When you have a forwarding rule to forward DNS queries for a domain to your network and you want Resolver to process queries for \n\t\t\ta subdomain of that domain, specify <code>SYSTEM</code>.</p>\n\t\t       <p>For example, to forward DNS queries for example.com to resolvers on your network, you create a rule and specify <code>FORWARD</code> \n\t\t\tfor <code>RuleType</code>. To then have Resolver process queries for apex.example.com, you create a rule and specify \n\t\t\t<code>SYSTEM</code> for <code>RuleType</code>.</p>\n\t\t       <p>Currently, only Resolver can create rules that have a value of <code>RECURSIVE</code> for <code>RuleType</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.route53resolver#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches \n\t\t\tmultiple Resolver rules (example.com and www.example.com), outbound DNS queries are routed using the Resolver rule that contains \n\t\t\tthe most specific domain name (www.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetIps": {
          "target": "com.amazonaws.route53resolver#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a comma.</p>\n\t\t       <p>\n            <code>TargetIps</code> is available only when the value of <code>Rule type</code> is <code>FORWARD</code>.</p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the outbound Resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify \n\t\t\tin <code>TargetIps</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreatorRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Resolver endpoint. The effect of deleting a Resolver endpoint depends on whether it's an inbound or an outbound \n\t\t\tResolver endpoint:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>Inbound</b>: DNS queries from your network are no longer routed \n\t\t\t\tto the DNS service for the specified VPC.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a query logging configuration. When you delete a configuration, Resolver stops logging DNS queries for all of the Amazon VPCs that are \n\t\t\tassociated with the configuration. This also applies if the query logging configuration is shared with other AWS accounts, and \n\t\t\tthe other accounts have associated VPCs with the shared configuration.</p>\n\t\t\n\t\t       <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. See \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.</p>\n\t\t\t\n\t\t       <p>If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, you must stop sharing \n\t\t\tthe configuration before you can delete a configuration. The accounts that you shared the configuration with can first disassociate VPCs \n\t\t\tthat they associated with the configuration, but that's not necessary. If you stop sharing the configuration, those VPCs are automatically \n\t\t\tdisassociated from the configuration.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfig": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query logging configuration that you deleted, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Resolver rule. Before you can delete a Resolver rule, you must disassociate it from all the VPCs that you \n\t\t\tassociated the Resolver rule with. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverRule.html\">DisassociateResolverRule</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 600
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes IP addresses from an inbound or an outbound Resolver endpoint. If you want to remove more than one IP address, \n\t\t\tsubmit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To add an IP address to an endpoint, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverEndpointIpAddress.html\">AssociateResolverEndpointIpAddress</a>.\n\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to disassociate an IP address from.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 address that you want to remove from a Resolver endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a VPC from a query logging configuration.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. If you used \n\t\t\t\tResource Access Manager (RAM) to share a query logging configuration with other accounts, VPCs can be disassociated from the configuration \n\t\t\t\tin the following ways:</p>\n\t\t\t         <ul>\n               <li>\n                  <p>The accounts that you shared the configuration with can disassociate VPCs from the configuration.</p>\n               </li>\n               <li>\n                  <p>You can stop sharing the configuration.</p>\n               </li>\n            </ul>\n\t\t       </note>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to disassociate a specified VPC from.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon VPC that you want to disassociate from a specified query logging configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for the association that you deleted between an Amazon VPC and a query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between a specified Resolver rule and a specified VPC.</p>\n\t\t       <important>\n\t\t\t         <p>If you disassociate a Resolver rule from a VPC, Resolver stops forwarding DNS queries for the \n\t\t\t\tdomain name that you specified in the Resolver rule. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to disassociate the Resolver rule from.</p>",
            "smithy.api#required": {}
          }
        },
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to disassociate from the specified VPC.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53resolver#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter that you want to use to filter objects.</p>\n\t\t       <p>The valid values for <code>Name</code> depend on the action that you're including the filter in, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>,\n\t\t\tor \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>In early versions of Resolver, values for <code>Name</code> were listed as uppercase, with underscore (_) delimiters. For example, \n\t\t\t\t<code>CreatorRequestId</code> was originally listed as <code>CREATOR_REQUEST_ID</code>. Uppercase values for <code>Name</code> are still supported.</p>\n\t\t       </note>\n\t\t\n\t\t       <p>\n            <b>ListResolverEndpoints</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: The value that you specified when you created the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Direction</code>: Whether you want to return inbound or outbound Resolver endpoints. If you specify <code>DIRECTION</code> \n\t\t\t\tfor <code>Name</code>, specify <code>INBOUND</code> or <code>OUTBOUND</code> for <code>Values</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HostVpcId</code>: The ID of the VPC that inbound DNS queries pass through on the way from your network to your VPCs in a region, or \n\t\t\t\tthe VPC that outbound queries pass through on the way from your VPCs to your network. In a \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverEndpoint.html\">CreateResolverEndpoint</a>\n\t\t\t\trequest, <code>SubnetId</code> indirectly identifies the VPC. In a \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a>\n\t\t\t\trequest, the VPC ID for a Resolver endpoint \n\t\t\t\tis returned in the <code>HostVPCId</code> element. </p>\n            </li>\n            <li>\n               <p>\n                  <code>IpAddressCount</code>: The number of IP addresses that you have associated with the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SecurityGroupIds</code>: The IDs of the VPC security groups that you specified when you created the \n\t\t\t\tResolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver endpoint. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>OPERATIONAL</code>, <code>UPDATING</code>,\n\t\t\t\t<code>AUTO_RECOVERING</code>, <code>ACTION_NEEDED</code>, or <code>DELETING</code>. For more information, see <code>Status</code> in\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverEndpoint.html\">ResolverEndpoint</a>.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverRules</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: The value that you specified when you created the Resolver rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DomainName</code>: The domain name for which Resolver is forwarding DNS queries to your network. In the value that \n\t\t\t\tyou specify for <code>Values</code>, include a trailing dot (.) after the domain name. For example, if the domain name is example.com, \n\t\t\t\tspecify the following value. Note the \".\" after <code>com</code>:</p>\n\t\t\t\t           <p>\n                  <code>example.com.</code>\n               </p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverEndpointId</code>: The ID of the Resolver endpoint that the Resolver rule is associated with.</p>\n\t\t\t\t           <note>\n                  <p>You can filter on the Resolver endpoint only for rules that have a value of <code>FORWARD</code> for \n\t\t\t\t\t<code>RuleType</code>.</p>\n               </note>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver rule. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>COMPLETE</code>, <code>DELETING</code>, <code>UPDATING</code>, \n\t\t\t\tor <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Type</code>: The type of the Resolver rule. If you specify <code>TYPE</code> \n\t\t\t\tfor <code>Name</code>, specify <code>FORWARD</code> or <code>SYSTEM</code> for <code>Values</code>.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverRuleAssociations</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver rule association.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverRuleId</code>: The ID of the Resolver rule that is associated with one or more VPCs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver rule association. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>COMPLETE</code>, <code>DELETING</code>, or \n\t\t\t\t<code>FAILED</code>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>VPCId</code>: The ID of the VPC that the Resolver rule is associated with.</p>\n            </li>\n         </ul>\n\n\t\t       <p>\n            <b>ListResolverQueryLogConfigs</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>Arn</code>: The ARN for the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AssociationCount</code>: The number of VPCs that are associated with the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreationTime</code>: The date and time that the query logging configuration was created, in Unix time format and \n\t\t\t\tCoordinated Universal Time (UTC). </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: A unique string that identifies the request that created the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Destination</code>: The AWS service that you want to forward query logs to. Valid values include the following:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>\n                        <code>S3</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CloudWatchLogs</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>KinesisFirehose</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>DestinationArn</code>: The ARN of the location that Resolver is sending query logs to. This value can be the ARN for an \n\t\t\t\tS3 bucket, a CloudWatch Logs log group, or a Kinesis Data Firehose delivery stream.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Id</code>: The ID of the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>OwnerId</code>: The AWS account ID for the account that created the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ShareStatus</code>: An indication of whether the query logging configuration is shared with other AWS accounts, \n\t\t\t\tor was shared with the current account by another AWS account. Valid values include: <code>NOT_SHARED</code>, <code>SHARED_WITH_ME</code>, \n\t\t\t\tor <code>SHARED_BY_ME</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the query logging configuration. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify the applicable status code for <code>Values</code>: <code>CREATING</code>, <code>CREATED</code>, \n\t\t\t\t<code>DELETING</code>, or <code>FAILED</code>. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverQueryLogConfig.html#Route53Resolver-Type-route53resolver_ResolverQueryLogConfig-Status\">Status</a>.\n\t\t\t\t</p>\n\t\t\t         </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverQueryLogConfigAssociations</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreationTime</code>: The date and time that the VPC was associated with the query logging configuration, in Unix time format and \n\t\t\t\tCoordinated Universal Time (UTC).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Error</code>: If the value of <code>Status</code> is <code>FAILED</code>, specify the cause: \n\t\t\t\t<code>DESTINATION_NOT_FOUND</code> or <code>ACCESS_DENIED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Id</code>: The ID of the query logging association.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverQueryLogConfigId</code>: The ID of the query logging configuration that a VPC is associated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResourceId</code>: The ID of the Amazon VPC that is associated with the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the query logging association. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify the applicable status code for <code>Values</code>: <code>CREATING</code>, <code>CREATED</code>, \n\t\t\t\t<code>DELETING</code>, or <code>FAILED</code>. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/API_route53resolver_ResolverQueryLogConfigAssociation.html#Route53Resolver-Type-route53resolver_ResolverQueryLogConfigAssociation-Status\">Status</a>.\n\t\t\t\t</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "Values": {
          "target": "com.amazonaws.route53resolver#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as Resolver endpoints or Resolver rules,\n\t\t\tthe value of the parameter that you want to use to filter objects. For example, to list only inbound Resolver endpoints, specify <code>Direction</code> for \n\t\t\t<code>Name</code> and specify <code>INBOUND</code> for <code>Values</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For Resolver list operations \n\t\t\t(<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>,\n\t\t\tand\n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>), \n\t\t\tan optional specification to return a subset of objects.</p>\n\t\t       <p>To filter objects, such as Resolver endpoints or Resolver rules, you specify <code>Name</code> and <code>Values</code>. For example, \n\t\t\tto list only inbound Resolver endpoints, specify <code>Direction</code> for <code>Name</code> and specify <code>INBOUND</code> for <code>Values</code>. </p>"
      }
    },
    "com.amazonaws.route53resolver#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 600
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FilterValue"
      }
    },
    "com.amazonaws.route53resolver#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#Filter"
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified Resolver endpoint, such as whether it's an inbound or an outbound Resolver endpoint, and the \n\t\t\tcurrent status of the endpoint.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver endpoint that you specified in a <code>GetResolverEndpoint</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified Resolver query logging configuration, such as the number of VPCs that the configuration \n\t\t\tis logging queries for and the location that logs are sent to. </p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified association between a Resolver query logging configuration and an Amazon VPC. When you associate a VPC \n\t\t\twith a query logging configuration, Resolver logs DNS queries that originate in that VPC.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigAssociationRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociationId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver query logging configuration association that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigAssociationResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver query logging configuration association that you specified in a <code>GetQueryLogConfigAssociation</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverQueryLogConfigPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a query logging policy. A query logging policy specifies the Resolver query logging \n\t\t\toperations and resources that you want to allow another AWS account to be able to use.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigPolicyRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the query logging configuration that you want to get the query logging policy for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigPolicyResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigPolicy": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query logging policy for the query logging configuration that you specified in a \n\t\t\t<code>GetResolverQueryLogConfigPolicy</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver query logging configuration that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfig": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver query logging configuration that you specified in a <code>GetQueryLogConfig</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified Resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the \n\t\t\toutbound Resolver endpoint that the rule is associated with.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an association between a specified Resolver rule and a VPC. You associate a Resolver rule and a VPC using \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverRule.html\">AssociateResolverRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociationRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociationId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule association that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociationResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver rule association that you specified in a <code>GetResolverRuleAssociation</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRulePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRulePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a Resolver rule policy. A Resolver rule policy specifies the Resolver operations and resources \n\t\t\tthat you want to allow another AWS account to be able to use. </p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicyRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule policy that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicyResponse": {
      "type": "structure",
      "members": {
        "ResolverRulePolicy": {
          "target": "com.amazonaws.route53resolver#ResolverRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver rule policy that you specified in a <code>GetResolverRulePolicy</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Resolver rule that you specified in a <code>GetResolverRule</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#InternalServiceErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "FieldName": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For an <code>InvalidParameterException</code> error, the name of the parameter that's invalid.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters in this request are not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidPolicyDocument": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified Resolver rule policy is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidTagException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified tag is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#Ip": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 36
        }
      }
    },
    "com.amazonaws.route53resolver#IpAddressCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.route53resolver#IpAddressRequest": {
      "type": "structure",
      "members": {
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet that contains the IP address. </p>",
            "smithy.api#required": {}
          }
        },
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>The IP address that you want to use for DNS queries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverEndpoint.html\">CreateResolverEndpoint</a> \n\t\t\trequest, the IP address that DNS queries originate from (for outbound endpoints) or that you forward DNS queries to (for inbound endpoints). \n\t\t\t<code>IpAddressRequest</code> also includes the ID of the subnet that contains the IP address.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressResponse": {
      "type": "structure",
      "members": {
        "IpId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one IP address.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one subnet.</p>"
          }
        },
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>One IP address that the Resolver endpoint uses for DNS queries.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#IpAddressStatus",
          "traits": {
            "smithy.api#documentation": "<p>A status code that gives the current status of the request.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides additional information about the status of the request.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the IP address was created, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        },
        "ModificationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the IP address was last modified, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In the response to a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a>\n\t\t\trequest, information about the IP addresses that the Resolver endpoint uses for DNS queries.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "FAILED_CREATION",
            "name": "FailedCreation"
          },
          {
            "value": "ATTACHING",
            "name": "Attaching"
          },
          {
            "value": "ATTACHED",
            "name": "Attached"
          },
          {
            "value": "REMAP_DETACHING",
            "name": "RemapDetaching"
          },
          {
            "value": "REMAP_ATTACHING",
            "name": "RemapAttaching"
          },
          {
            "value": "DETACHING",
            "name": "Detaching"
          },
          {
            "value": "FAILED_RESOURCE_GONE",
            "name": "FailedResourceGone"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "DELETE_FAILED_FAS_EXPIRED",
            "name": "DeleteFailedFasExpired"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#IpAddressUpdate": {
      "type": "structure",
      "members": {
        "IpId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Only when removing an IP address from a Resolver endpoint</i>: The ID of the IP address that you want to remove. \n\t\t\tTo get this ID, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a>.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet that includes the IP address that you want to update. To get this ID, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a>.</p>"
          }
        },
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>The new IP address.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In an \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_UpdateResolverEndpoint.html\">UpdateResolverEndpoint</a> \n\t\t\trequest, information about an IP address to update.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressesRequest": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#IpAddressRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.route53resolver#IpAddressesResponse": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#IpAddressResponse"
      }
    },
    "com.amazonaws.route53resolver#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>LimitExceededException</code> error, the type of resource that exceeded the current limit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request caused one or more limits to be exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddresses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the IP addresses for a specified Resolver endpoint.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to get IP addresses for.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of IP addresses that you want to return in the response to a <code>ListResolverEndpointIpAddresses</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 IP addresses. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverEndpointIpAddresses</code> request, omit this value.</p>\n\t\t       <p>If the specified Resolver endpoint has more than <code>MaxResults</code> IP addresses, you can submit another \n\t\t\t<code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the specified endpoint has more than <code>MaxResults</code> IP addresses, you can submit another \n\t\t\t<code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, \n\t\t\tspecify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "IpAddresses": {
          "target": "com.amazonaws.route53resolver#IpAddressesResponse",
          "traits": {
            "smithy.api#documentation": "<p>Information about the IP addresses in your VPC that DNS queries originate from (for outbound endpoints) or that you forward \n\t\t\tDNS queries to (for inbound endpoints).</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the Resolver endpoints that were created using the current AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of Resolver endpoints that you want to return in the response to a <code>ListResolverEndpoints</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 Resolver endpoints. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverEndpoints</code> request, omit this value.</p>\n\t\t       <p>If you have more than <code>MaxResults</code> Resolver endpoints, you can submit another <code>ListResolverEndpoints</code> request \n\t\t\tto get the next group of Resolver endpoints. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.route53resolver#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An optional specification to return a subset of Resolver endpoints, such as all inbound Resolver endpoints.</p>\n\t\t       <note>\n            <p>If you submit a second or subsequent <code>ListResolverEndpoints</code> request and specify the <code>NextToken</code> parameter, \n\t\t\tyou must use the same values for <code>Filters</code>, if any, as in the previous request.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> IP addresses match the specified criteria, you can submit another <code>ListResolverEndpoint</code> request \n\t\t\tto get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "ResolverEndpoints": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoints",
          "traits": {
            "smithy.api#documentation": "<p>The Resolver endpoints that were created by using the current AWS account, and that match the specified filters, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverQueryLogConfigAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverQueryLogConfigAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverQueryLogConfigAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists information about associations between Amazon VPCs and query logging configurations.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverQueryLogConfigAssociationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of query logging associations that you want to return in the response to a <code>ListResolverQueryLogConfigAssociations</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 query logging associations. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverQueryLogConfigAssociations</code> request, omit this value.</p>\n\t\t       <p>If there are more than <code>MaxResults</code> query logging associations that match the values that you specify for <code>Filters</code>, \n\t\t\tyou can submit another <code>ListResolverQueryLogConfigAssociations</code> request to get the next group of associations. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.route53resolver#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An optional specification to return a subset of query logging associations.</p>\n\t\t       <note>\n\t\t\t         <p>If you submit a second or subsequent <code>ListResolverQueryLogConfigAssociations</code> request and specify the <code>NextToken</code> parameter, \n\t\t\t\tyou must use the same values for <code>Filters</code>, if any, as in the previous request.</p>\n\t\t       </note>"
          }
        },
        "SortBy": {
          "target": "com.amazonaws.route53resolver#SortByKey",
          "traits": {
            "smithy.api#documentation": "<p>The element that you want Resolver to sort query logging associations by. </p>\n\t\t       <note>\n\t\t\t         <p>If you submit a second or subsequent <code>ListResolverQueryLogConfigAssociations</code> request and specify the <code>NextToken</code> parameter, \n\t\t\t\tyou must use the same value for <code>SortBy</code>, if any, as in the previous request.</p>\n\t\t       </note>\n\t\t\n\t\t       <p>Valid values include the following elements:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreationTime</code>: The ID of the query logging association.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Error</code>: If the value of <code>Status</code> is <code>FAILED</code>, the value of <code>Error</code> \n\t\t\t\tindicates the cause: </p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>\n                        <code>DESTINATION_NOT_FOUND</code>: The specified destination (for example, an Amazon S3 bucket) was deleted.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ACCESS_DENIED</code>: Permissions don't allow sending logs to the destination.</p>\n                  </li>\n               </ul>\n\t\t\t\t           <p>If <code>Status</code> is a value other than <code>FAILED</code>, <code>ERROR</code> is null.</p> \n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>Id</code>: The ID of the query logging association</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverQueryLogConfigId</code>: The ID of the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResourceId</code>: The ID of the VPC that is associated with the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The current status of the configuration. Valid values include the following:</p>\n\t\t\t\t\n\t\t\t\t           <ul>\n                  <li>\n                     <p>\n                        <code>CREATING</code>: Resolver is creating an association between an Amazon VPC and a query logging configuration.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CREATED</code>: The association between an Amazon VPC and a query logging configuration \n\t\t\t\t\t\twas successfully created. Resolver is logging queries that originate in the specified VPC.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>DELETING</code>: Resolver is deleting this query logging association.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FAILED</code>: Resolver either couldn't create or couldn't delete the query logging association. \n\t\t\t\t\t\tHere are two common causes:</p>\n\t\t\t\t\t\t               <ul>\n                        <li>\n                           <p>The specified destination (for example, an Amazon S3 bucket) was deleted.</p>\n                        </li>\n                        <li>\n                           <p>Permissions don't allow sending logs to the destination.</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t             </li>\n               </ul>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.route53resolver#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>If you specified a value for <code>SortBy</code>, the order that you want query logging associations to be listed in, \n\t\t\t<code>ASCENDING</code> or <code>DESCENDING</code>.</p>\n\t\t       <note>\n\t\t\t         <p>If you submit a second or subsequent <code>ListResolverQueryLogConfigAssociations</code> request and specify the <code>NextToken</code> parameter, \n\t\t\t\tyou must use the same value for <code>SortOrder</code>, if any, as in the previous request.</p>\n\t\t       </note>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverQueryLogConfigAssociationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more than <code>MaxResults</code> query logging associations, you can submit another <code>ListResolverQueryLogConfigAssociations</code> request \n\t\t\tto get the next group of associations. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.route53resolver#Count",
          "traits": {
            "smithy.api#documentation": "<p>The total number of query logging associations that were created by the current account in the specified Region. This count can differ from the \n\t\t\tnumber of associations that are returned in a <code>ListResolverQueryLogConfigAssociations</code> response, depending on the values that you specify \n\t\t\tin the request.</p>"
          }
        },
        "TotalFilteredCount": {
          "target": "com.amazonaws.route53resolver#Count",
          "traits": {
            "smithy.api#documentation": "<p>The total number of query logging associations that were created by the current account in the specified Region and that match the filters \n\t\t\tthat were specified in the <code>ListResolverQueryLogConfigAssociations</code> request. For the total number of associations that were created by the \n\t\t\tcurrent account in the specified Region, see <code>TotalCount</code>.</p>"
          }
        },
        "ResolverQueryLogConfigAssociations": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>A list that contains one <code>ResolverQueryLogConfigAssociations</code> element for each query logging association that matches the \n\t\t\tvalues that you specified for <code>Filter</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverQueryLogConfigs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverQueryLogConfigsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverQueryLogConfigsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
[...]
