{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DomainLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the transfer of a domain from another AWS account to the current AWS account. You initiate a transfer between AWS accounts using \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>.\n\t\t</p>\n\n\t\t       <p>Use either \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> \n\t\t\tto determine whether the operation succeeded. \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> \n\t\t\tprovides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. \n\t\t</p>"
      }
    },
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that was specified when another AWS account submitted a \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>\n\t\t\trequest.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p>The password that was returned by the \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>\n\t\t\trequest.\n\t\t</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AcceptDomainTransferFromAnotherAwsAccount request includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AcceptDomainTransferFromAnotherAwsAccount response includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(\\d{12})$"
      }
    },
    "com.amazonaws.route53domains#AddressLine": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#BillingRecord": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that the billing record applies to. If the domain name contains characters \n\t\t\tother than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. \n\t\t\tFor more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> \n\t\t\tin the <i>Amazon Route 53 Developer Guide</i>.</p>"
          }
        },
        "Operation": {
          "target": "com.amazonaws.route53domains#OperationType",
          "traits": {
            "smithy.api#documentation": "<p>The operation that you were charged for.</p>"
          }
        },
        "InvoiceId": {
          "target": "com.amazonaws.route53domains#InvoiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the invoice that is associated with the billing record.</p>"
          }
        },
        "BillDate": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the operation was billed, in Unix format.</p>"
          }
        },
        "Price": {
          "target": "com.amazonaws.route53domains#Price",
          "traits": {
            "smithy.api#documentation": "<p>The price that you were charged for the operation, in US dollars.</p>\n\t\t       <p>Example value: 12.0</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information for one billing record.</p>"
      }
    },
    "com.amazonaws.route53domains#BillingRecords": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#BillingRecord"
      }
    },
    "com.amazonaws.route53domains#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the transfer of a domain from the current AWS account to another AWS account. You initiate a transfer between AWS accounts using \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>.\n\t\t</p>\n\t\t\n\t\t       <important>\n\t\t\t         <p>You must cancel the transfer before the other AWS account accepts the transfer using \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AcceptDomainTransferFromAnotherAwsAccount.html\">AcceptDomainTransferFromAnotherAwsAccount</a>.</p>\n\t\t       </important>\n\t\t\n\t\t       <p>Use either \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> \n\t\t\tto determine whether the operation succeeded. \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> \n\t\t\tprovides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. \n\t\t</p>"
      }
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain for which you want to cancel the transfer to another AWS account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CancelDomainTransferToAnotherAwsAccount request includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that <code>TransferDomainToAnotherAwsAccount</code> returned to track the progress of the request. \n\t\t\tBecause the transfer request was canceled, the value is no longer valid, and you can't use <code>GetOperationDetail</code> \n\t\t\tto query the operation status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CancelDomainTransferToAnotherAwsAccount</code> response includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CheckDomainAvailabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CheckDomainAvailabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must \n\t\t\tsubmit another request to determine the availability of the domain name.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailabilityRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to get availability for. The top-level domain (TLD), such as .com, must be a TLD that Route 53 supports. \n\t\t\tFor a list of supported TLDs, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the \n\t\t\t<i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t       <p>The domain name can contain only the following characters:</p>\n\t\t       <ul>\n            <li>\n               <p>Letters a through z. Domain names are not case sensitive.</p>\n            </li>\n            <li>\n               <p>Numbers 0 through 9.</p>\n            </li>\n            <li>\n               <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label. </p>\n            </li>\n            <li>\n               <p>Period (.) to separate the labels in the name, such as the <code>.</code> in <code>example.com</code>.</p>\n            </li>\n         </ul>\n\t\t       <p>Internationalized domain names are not supported for some top-level domains. To determine whether the TLD that you want to use supports \n\t\t\tinternationalized domain names, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a>. \n\t\t\tFor more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html#domain-name-format-idns\">Formatting Internationalized Domain Names</a>.\n\t\t</p>",
            "smithy.api#required": {}
          }
        },
        "IdnLangCode": {
          "target": "com.amazonaws.route53domains#LangCode",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainAvailability request contains the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailabilityResponse": {
      "type": "structure",
      "members": {
        "Availability": {
          "target": "com.amazonaws.route53domains#DomainAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Whether the domain name is available for registering.</p>\n\t\t       <note>\n            <p>You can register only domains designated as <code>AVAILABLE</code>.</p>\n         </note>\n\t\t       <p>Valid values:</p>\n\t\t       <dl>\n            <dt>AVAILABLE</dt>\n            <dd>\n               <p>The domain name is available.</p>\n            </dd>\n            <dt>AVAILABLE_RESERVED</dt>\n            <dd>\n               <p>The domain name is reserved under specific conditions.</p>\n            </dd>\n            <dt>AVAILABLE_PREORDER</dt>\n            <dd>\n               <p>The domain name is available and can be preordered.</p>\n            </dd>\n            <dt>DONT_KNOW</dt>\n            <dd>\n               <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. \n\t\t\t\t\tRoute 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. \n\t\t\t\t\tTry again later.</p>\n            </dd>\n            <dt>PENDING</dt>\n            <dd>\n               <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, \n\t\t\t\t\tit usually takes just a few extra seconds. You can resubmit the request immediately.</p>\n            </dd>\n            <dt>RESERVED</dt>\n            <dd>\n               <p>The domain name has been reserved for another person or organization.</p>\n            </dd>\n            <dt>UNAVAILABLE</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_PREMIUM</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_RESTRICTED</dt>\n            <dd>\n               <p>The domain name is forbidden.</p>\n            </dd>\n         </dl>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainAvailability response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CheckDomainTransferabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CheckDomainTransferabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Checks whether a domain name can be transferred to Amazon Route 53. </p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferabilityRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to transfer to Route 53. The top-level domain (TLD), such as .com, must be a TLD that Route 53 supports. \n\t\t\tFor a list of supported TLDs, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the \n\t\t\t<i>Amazon Route 53 Developer Guide</i>.</p>\n\t\t       <p>The domain name can contain only the following characters:</p>\n\t\t       <ul>\n            <li>\n               <p>Letters a through z. Domain names are not case sensitive.</p>\n            </li>\n            <li>\n               <p>Numbers 0 through 9.</p>\n            </li>\n            <li>\n               <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label. </p>\n            </li>\n            <li>\n               <p>Period (.) to separate the labels in the name, such as the <code>.</code> in <code>example.com</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "AuthCode": {
          "target": "com.amazonaws.route53domains#DomainAuthCode",
          "traits": {
            "smithy.api#documentation": "<p>If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, \n\t\t\tthe code that you got from the current registrar for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainTransferability request contains the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferabilityResponse": {
      "type": "structure",
      "members": {
        "Transferability": {
          "target": "com.amazonaws.route53domains#DomainTransferability",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about whether the specified domain can be transferred to Route 53.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainTransferability response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#ContactDetail": {
      "type": "structure",
      "members": {
        "FirstName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>First name of contact.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>Last name of contact.</p>"
          }
        },
        "ContactType": {
          "target": "com.amazonaws.route53domains#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the contact is a person, company, association, or public organization. Note the following:</p>\n\t\t       <ul>\n            <li>\n               <p>If you specify a value other than <code>PERSON</code>, you must also specify a value for \n\t\t\t\t<code>OrganizationName</code>.</p>\n            </li>\n            <li>\n               <p>For some TLDs, the privacy protection available depends on the value that you specify for \n\t\t\t\t<code>Contact Type</code>. For the privacy protection settings for your TLD, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can \n\t\t\t\t\tRegister with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>For .es domains, if you specify <code>PERSON</code>, you must specify <code>INDIVIDUAL</code> \n\t\t\t\tfor the value of <code>ES_LEGAL_FORM</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "OrganizationName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the organization for contact types other than <code>PERSON</code>.</p>"
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.route53domains#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>First line of the contact's address.</p>"
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.route53domains#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>Second line of contact's address, if any.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.route53domains#City",
          "traits": {
            "smithy.api#documentation": "<p>The city of the contact's address.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.route53domains#State",
          "traits": {
            "smithy.api#documentation": "<p>The state or province of the contact's city.</p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.route53domains#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>Code for the country of the contact's address.</p>"
          }
        },
        "ZipCode": {
          "target": "com.amazonaws.route53domains#ZipCode",
          "traits": {
            "smithy.api#documentation": "<p>The zip or postal code of the contact's address.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.route53domains#ContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact.</p>\n\t\t       <p>Constraints: Phone number must be specified in the format \"+[country\tdialing code].[number including any area code>]\". \n\t\t\tFor example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.route53domains#Email",
          "traits": {
            "smithy.api#documentation": "<p>Email address of the contact.</p>"
          }
        },
        "Fax": {
          "target": "com.amazonaws.route53domains#ContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>Fax number of the contact.</p>\n\t\t       <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". \n\t\t\tFor example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>"
          }
        },
        "ExtraParams": {
          "target": "com.amazonaws.route53domains#ExtraParamList",
          "traits": {
            "smithy.api#documentation": "<p>A list of name-value pairs for parameters required by certain top-level domains.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ContactDetail includes the following elements.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.route53domains#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#ContactNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.route53domains#ContactType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PERSON"
          },
          {
            "value": "COMPANY"
          },
          {
            "value": "ASSOCIATION"
          },
          {
            "value": "PUBLIC_BODY"
          },
          {
            "value": "RESELLER"
          }
        ]
      }
    },
    "com.amazonaws.route53domains#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AD"
          },
          {
            "value": "AE"
          },
          {
            "value": "AF"
          },
          {
            "value": "AG"
          },
          {
            "value": "AI"
          },
          {
            "value": "AL"
          },
          {
            "value": "AM"
          },
          {
            "value": "AN"
          },
          {
            "value": "AO"
          },
          {
            "value": "AQ"
          },
          {
            "value": "AR"
          },
          {
            "value": "AS"
          },
          {
            "value": "AT"
          },
          {
            "value": "AU"
          },
          {
            "value": "AW"
          },
          {
            "value": "AZ"
          },
          {
            "value": "BA"
          },
          {
            "value": "BB"
          },
          {
            "value": "BD"
          },
          {
            "value": "BE"
          },
          {
            "value": "BF"
          },
          {
            "value": "BG"
          },
          {
            "value": "BH"
          },
          {
            "value": "BI"
          },
          {
            "value": "BJ"
          },
          {
            "value": "BL"
          },
          {
            "value": "BM"
          },
          {
            "value": "BN"
          },
          {
            "value": "BO"
          },
          {
            "value": "BR"
          },
          {
            "value": "BS"
          },
          {
            "value": "BT"
          },
          {
            "value": "BW"
          },
          {
            "value": "BY"
          },
          {
            "value": "BZ"
          },
          {
            "value": "CA"
          },
          {
            "value": "CC"
          },
          {
            "value": "CD"
          },
          {
            "value": "CF"
          },
          {
            "value": "CG"
          },
          {
            "value": "CH"
          },
          {
            "value": "CI"
          },
          {
            "value": "CK"
          },
          {
            "value": "CL"
          },
          {
            "value": "CM"
          },
          {
            "value": "CN"
          },
          {
            "value": "CO"
          },
          {
            "value": "CR"
          },
          {
            "value": "CU"
          },
          {
            "value": "CV"
          },
          {
            "value": "CX"
          },
          {
            "value": "CY"
          },
          {
            "value": "CZ"
          },
          {
            "value": "DE"
          },
          {
            "value": "DJ"
          },
          {
            "value": "DK"
          },
          {
            "value": "DM"
          },
          {
            "value": "DO"
          },
          {
            "value": "DZ"
          },
          {
            "value": "EC"
          },
          {
            "value": "EE"
          },
          {
            "value": "EG"
          },
          {
            "value": "ER"
          },
          {
            "value": "ES"
          },
          {
            "value": "ET"
          },
          {
            "value": "FI"
          },
          {
            "value": "FJ"
          },
          {
            "value": "FK"
          },
          {
            "value": "FM"
          },
          {
            "value": "FO"
          },
          {
            "value": "FR"
          },
          {
            "value": "GA"
          },
          {
            "value": "GB"
          },
          {
            "value": "GD"
          },
          {
            "value": "GE"
          },
          {
            "value": "GH"
          },
          {
            "value": "GI"
          },
          {
            "value": "GL"
          },
          {
            "value": "GM"
          },
          {
            "value": "GN"
          },
          {
            "value": "GQ"
          },
          {
            "value": "GR"
          },
          {
            "value": "GT"
          },
          {
            "value": "GU"
          },
          {
            "value": "GW"
          },
          {
            "value": "GY"
          },
          {
            "value": "HK"
          },
          {
            "value": "HN"
          },
          {
            "value": "HR"
          },
          {
            "value": "HT"
          },
          {
            "value": "HU"
          },
          {
            "value": "ID"
          },
          {
            "value": "IE"
          },
          {
            "value": "IL"
          },
          {
            "value": "IM"
          },
          {
            "value": "IN"
          },
          {
            "value": "IQ"
          },
          {
            "value": "IR"
          },
          {
            "value": "IS"
          },
          {
            "value": "IT"
          },
          {
            "value": "JM"
          },
          {
            "value": "JO"
          },
          {
            "value": "JP"
          },
          {
            "value": "KE"
          },
          {
            "value": "KG"
          },
          {
            "value": "KH"
          },
          {
            "value": "KI"
          },
          {
            "value": "KM"
          },
          {
            "value": "KN"
          },
          {
            "value": "KP"
          },
          {
            "value": "KR"
          },
          {
            "value": "KW"
          },
          {
            "value": "KY"
          },
          {
            "value": "KZ"
          },
          {
            "value": "LA"
          },
          {
            "value": "LB"
          },
          {
            "value": "LC"
          },
          {
            "value": "LI"
          },
          {
            "value": "LK"
          },
          {
            "value": "LR"
          },
          {
            "value": "LS"
          },
          {
            "value": "LT"
          },
          {
            "value": "LU"
          },
          {
            "value": "LV"
          },
          {
            "value": "LY"
          },
          {
            "value": "MA"
          },
          {
            "value": "MC"
          },
          {
            "value": "MD"
          },
          {
            "value": "ME"
          },
          {
            "value": "MF"
          },
          {
            "value": "MG"
          },
          {
            "value": "MH"
          },
          {
            "value": "MK"
          },
          {
            "value": "ML"
          },
          {
            "value": "MM"
          },
          {
            "value": "MN"
          },
          {
            "value": "MO"
          },
          {
            "value": "MP"
          },
          {
            "value": "MR"
          },
          {
            "value": "MS"
          },
          {
            "value": "MT"
          },
          {
            "value": "MU"
          },
          {
            "value": "MV"
          },
          {
            "value": "MW"
          },
          {
            "value": "MX"
          },
          {
            "value": "MY"
          },
          {
            "value": "MZ"
          },
          {
            "value": "NA"
          },
          {
            "value": "NC"
          },
          {
            "value": "NE"
          },
          {
            "value": "NG"
          },
          {
            "value": "NI"
          },
          {
            "value": "NL"
          },
          {
            "value": "NO"
          },
          {
            "value": "NP"
          },
          {
            "value": "NR"
          },
          {
            "value": "NU"
          },
          {
            "value": "NZ"
          },
          {
            "value": "OM"
          },
          {
            "value": "PA"
          },
          {
            "value": "PE"
          },
          {
            "value": "PF"
          },
          {
            "value": "PG"
          },
          {
            "value": "PH"
          },
          {
            "value": "PK"
          },
          {
            "value": "PL"
          },
          {
            "value": "PM"
          },
          {
            "value": "PN"
          },
          {
            "value": "PR"
          },
          {
            "value": "PT"
          },
          {
            "value": "PW"
          },
          {
            "value": "PY"
          },
          {
            "value": "QA"
          },
          {
            "value": "RO"
          },
          {
            "value": "RS"
          },
          {
            "value": "RU"
          },
          {
            "value": "RW"
          },
          {
            "value": "SA"
          },
          {
            "value": "SB"
          },
          {
            "value": "SC"
          },
          {
            "value": "SD"
          },
          {
            "value": "SE"
          },
          {
            "value": "SG"
          },
          {
            "value": "SH"
          },
          {
            "value": "SI"
          },
          {
            "value": "SK"
          },
          {
            "value": "SL"
          },
          {
            "value": "SM"
          },
          {
            "value": "SN"
          },
          {
            "value": "SO"
          },
          {
            "value": "SR"
          },
          {
            "value": "ST"
          },
          {
            "value": "SV"
          },
          {
            "value": "SY"
          },
          {
            "value": "SZ"
          },
          {
            "value": "TC"
          },
          {
            "value": "TD"
          },
          {
            "value": "TG"
          },
          {
            "value": "TH"
          },
          {
            "value": "TJ"
          },
          {
            "value": "TK"
          },
          {
            "value": "TL"
          },
          {
            "value": "TM"
          },
          {
            "value": "TN"
          },
          {
            "value": "TO"
          },
          {
            "value": "TR"
          },
          {
            "value": "TT"
          },
          {
            "value": "TV"
          },
          {
            "value": "TW"
          },
          {
            "value": "TZ"
          },
          {
            "value": "UA"
          },
          {
            "value": "UG"
          },
          {
            "value": "US"
          },
          {
            "value": "UY"
          },
          {
            "value": "UZ"
          },
          {
            "value": "VA"
          },
          {
            "value": "VC"
          },
          {
            "value": "VE"
          },
          {
            "value": "VG"
          },
          {
            "value": "VI"
          },
          {
            "value": "VN"
          },
          {
            "value": "VU"
          },
          {
            "value": "WF"
          },
          {
            "value": "WS"
          },
          {
            "value": "YE"
          },
          {
            "value": "YT"
          },
          {
            "value": "ZA"
          },
          {
            "value": "ZM"
          },
          {
            "value": "ZW"
          }
        ]
      }
    },
    "com.amazonaws.route53domains#CurrentExpiryYear": {
      "type": "integer"
    },
    "com.amazonaws.route53domains#DNSSec": {
      "type": "string"
    },
    "com.amazonaws.route53domains#DeleteTagsForDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DeleteTagsForDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DeleteTagsForDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the specified tags for a domain.</p>\n\t\t       <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>"
      }
    },
    "com.amazonaws.route53domains#DeleteTagsForDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain for which you want to delete one or more tags.</p>",
            "smithy.api#required": {}
          }
        },
        "TagsToDelete": {
          "target": "com.amazonaws.route53domains#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag keys to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DeleteTagsForDomainRequest includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#DeleteTagsForDomainResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenew": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DisableDomainAutoRenewRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DisableDomainAutoRenewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation disables automatic renewal of domain registration for the specified domain.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenewRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to disable automatic renewal for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenewResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#DisableDomainTransferLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DisableDomainTransferLockRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DisableDomainTransferLockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation removes the transfer lock on the domain (specifically the\n\t\t\t<code>clientTransferProhibited</code> status) to allow domain transfers. We recommend\n\t\t\tyou refrain from performing this action unless you intend to transfer the domain to a\n\t\t\tdifferent registrar. Successful submission returns an operation ID that you can use to track\n\t\t\tthe progress and completion of the action. If the request is not completed successfully, the\n\t\t\tdomain registrant will be notified by email.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainTransferLockRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to remove the transfer lock for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DisableDomainTransferLock request includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainTransferLockResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DisableDomainTransferLock response includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainAuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.route53domains#DomainAvailability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE"
          },
          {
            "value": "AVAILABLE_RESERVED"
          },
          {
            "value": "AVAILABLE_PREORDER"
          },
          {
            "value": "UNAVAILABLE"
          },
          {
            "value": "UNAVAILABLE_PREMIUM"
          },
          {
            "value": "UNAVAILABLE_RESTRICTED"
          },
          {
            "value": "RESERVED"
          },
          {
            "value": "DONT_KNOW"
          }
        ]
      }
    },
    "com.amazonaws.route53domains#DomainLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53domains#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53domains#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#DomainStatus": {
      "type": "string"
    },
    "com.amazonaws.route53domains#DomainStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainStatus"
      }
    },
    "com.amazonaws.route53domains#DomainSuggestion": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>A suggested domain name.</p>"
          }
        },
        "Availability": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p>Whether the domain name is available for registering.</p>\n\t\t       <note>\n            <p>You can register only the domains that are designated as <code>AVAILABLE</code>.</p>\n         </note>\n\t\t       <p>Valid values:</p>\n\t\t       <dl>\n            <dt>AVAILABLE</dt>\n            <dd>\n               <p>The domain name is available.</p>\n            </dd>\n            <dt>AVAILABLE_RESERVED</dt>\n            <dd>\n               <p>The domain name is reserved under specific conditions.</p>\n            </dd>\n            <dt>AVAILABLE_PREORDER</dt>\n            <dd>\n               <p>The domain name is available and can be preordered.</p>\n            </dd>\n            <dt>DONT_KNOW</dt>\n            <dd>\n               <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. \n\t\t\t\t\tRoute 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. \n\t\t\t\t\tTry again later.</p>\n            </dd>\n            <dt>PENDING</dt>\n            <dd>\n               <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, \n\t\t\t\t\tit usually takes just a few extra seconds. You can resubmit the request immediately.</p>\n            </dd>\n            <dt>RESERVED</dt>\n            <dd>\n               <p>The domain name has been reserved for another person or organization.</p>\n            </dd>\n            <dt>UNAVAILABLE</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_PREMIUM</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_RESTRICTED</dt>\n            <dd>\n               <p>The domain name is forbidden.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about one suggested domain name.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainSuggestionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainSuggestion"
      }
    },
    "com.amazonaws.route53domains#DomainSummary": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that the summary information applies to.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoRenew": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the domain is automatically renewed upon expiration.</p>"
          }
        },
        "TransferLock": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a domain is locked from unauthorized transfer to another party.</p>"
          }
        },
        "Expiry": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Expiration date of the domain in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about one domain.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainSummary"
      }
    },
    "com.amazonaws.route53domains#DomainTransferability": {
      "type": "structure",
      "members": {
        "Transferable": {
          "target": "com.amazonaws.route53domains#Transferable"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about whether the specified domain can be transferred to Route 53.</p>"
      }
    },
    "com.amazonaws.route53domains#DuplicateRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53domains#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The request is already in progress for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is already in progress for the domain.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53domains#DurationInYears": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.route53domains#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 254
        }
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenew": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#EnableDomainAutoRenewRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#EnableDomainAutoRenewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. \n\t\t\tThe cost of renewing your domain registration is billed to your AWS account.</p>\n\t\t       <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains That You Can Register with Amazon Route 53</a> \n\t\t\tin the <i>Amazon Route 53 Developer Guide</i>. Route 53 requires that you renew before the end of the renewal period \n\t\t\tso we can complete processing before the deadline.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenewRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to enable automatic renewal for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenewResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#EnableDomainTransferLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#EnableDomainTransferLockRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#EnableDomainTransferLockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) \n\t\t\tto prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and \n\t\t\tcompletion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainTransferLockRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to set the transfer lock for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to set the transfer lock for the specified domain.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainTransferLockResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The EnableDomainTransferLock response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.route53domains#ExtraParam": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53domains#ExtraParamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an additional parameter that is required by a top-level domain. Here are the top-level domains that require \n\t\t\tadditional parameters and the names of the parameters that they require:</p>\n\n\t\t       <dl>\n            <dt>.com.au and .net.au</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>AU_ID_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>AU_ID_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>ABN</code> (Australian business number)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ACN</code> (Australian company number)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TM</code> (Trademark number)</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.ca</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>BRAND_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CA_BUSINESS_ENTITY_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>BANK</code> (Bank)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMMERCIAL_COMPANY</code> (Commercial company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMPANY</code> (Company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPERATION</code> (Cooperation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPERATIVE</code> (Cooperative)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPRIX</code> (Cooprix)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CORP</code> (Corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CREDIT_UNION</code> (Credit union)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FOMIA</code> (Federation of mutual insurance associations)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>INC</code> (Incorporated)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LTD</code> (Limited)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LTEE</code> (Limitée)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LLC</code> (Limited liability corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LLP</code> (Limited liability partnership)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LTE</code> (Lte.)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>MBA</code> (Mutual benefit association)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>MIC</code> (Mutual insurance company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>NFP</code> (Not-for-profit corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SA</code> (S.A.)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SAVINGS_COMPANY</code> (Savings company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SAVINGS_UNION</code> (Savings union)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SARL</code> (Société à responsabilité limitée)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TRUST</code> (Trust)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ULC</code> (Unlimited liability corporation)</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>\n                        <code>CA_LEGAL_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>When <code>ContactType</code> is <code>PERSON</code>, valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>ABO</code> (Aboriginal Peoples indigenous to Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CCT</code> (Canadian citizen)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LGR</code> (Legal Representative of a Canadian Citizen or Permanent Resident)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>RES</code> (Permanent resident of Canada)</p>\n                        </li>\n                     </ul>\n\n\t\t\t\t\t\t\t              <p>When <code>ContactType</code> is a value other than <code>PERSON</code>, valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>ASS</code> (Canadian unincorporated association)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CCO</code> (Canadian corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>EDU</code> (Canadian educational institution)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>GOV</code> (Government or government entity in Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>HOP</code> (Canadian Hospital)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>INB</code> (Indian Band recognized by the Indian Act of Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LAM</code> (Canadian Library, Archive, or Museum)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>MAJ</code> (Her/His Majesty the Queen/King)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>OMK</code> (Official mark registered in Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PLT</code> (Canadian Political Party)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PRT</code> (Partnership Registered in Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TDM</code> (Trademark registered in Canada)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TRD</code> (Canadian Trade Union)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TRS</code> (Trust established in Canada)</p>\n                        </li>\n                     </ul>\n\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.es</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>ES_IDENTIFICATION</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Specify the applicable value:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <b>For contacts inside Spain:</b> Enter your passport ID.</p>\n                        </li>\n                        <li>\n                           <p>\n                              <b>For contacts outside of Spain:</b> Enter the VAT identification number \n\t\t\t\t\t\t\t\t\tfor the company.</p>\n\t\t\t\t\t\t\t\t\t                  <note>\n                              <p>For .es domains, the value of <code>ContactType</code> must be <code>PERSON</code>.</p>\n                           </note>\n\t\t\t\t\t\t\t\t                </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>\n                        <code>ES_IDENTIFICATION_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>DNI_AND_NIF</code> (For Spanish contacts)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>NIE</code> (For foreigners with legal residence)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>OTHER</code> (For contacts outside of Spain)</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>\n                        <code>ES_LEGAL_FORM</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>ASSOCIATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CENTRAL_GOVERNMENT_BODY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CIVIL_SOCIETY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMMUNITY_OF_OWNERS</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMMUNITY_PROPERTY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CONSULATE</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPERATIVE</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>DESIGNATION_OF_ORIGIN_SUPERVISORY_COUNCIL</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ECONOMIC_INTEREST_GROUP</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>EMBASSY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ENTITY_MANAGING_NATURAL_AREAS</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FARM_PARTNERSHIP</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FOUNDATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>GENERAL_AND_LIMITED_PARTNERSHIP</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>GENERAL_PARTNERSHIP</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>INDIVIDUAL</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LIMITED_COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LOCAL_AUTHORITY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LOCAL_PUBLIC_ENTITY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>MUTUAL_INSURANCE_COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>NATIONAL_PUBLIC_ENTITY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ORDER_OR_RELIGIOUS_INSTITUTION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>OTHERS (Only for contacts outside of Spain)</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>POLITICAL_PARTY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PROFESSIONAL_ASSOCIATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PUBLIC_LAW_ASSOCIATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PUBLIC_LIMITED_COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>REGIONAL_GOVERNMENT_BODY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>REGIONAL_PUBLIC_ENTITY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SAVINGS_BANK</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SPANISH_OFFICE</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SPORTS_ASSOCIATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SPORTS_FEDERATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SPORTS_LIMITED_COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TEMPORARY_ALLIANCE_OF_ENTERPRISES</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TRADE_UNION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>WORKER_OWNED_COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>WORKER_OWNED_LIMITED_COMPANY</code>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t\t\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.fi</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>BIRTH_DATE_IN_YYYY_MM_DD</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FI_BUSINESS_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FI_ID_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>FI_NATIONALITY</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>FINNISH</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>NOT_FINNISH</code>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>\n                        <code>FI_ORGANIZATION_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>COMPANY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CORPORATION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>GOVERNMENT</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>INSTITUTION</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>POLITICAL_PARTY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PUBLIC_COMMUNITY</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TOWNSHIP</code>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.fr</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>BIRTH_CITY</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>BIRTH_COUNTRY</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>BIRTH_DATE_IN_YYYY_MM_DD</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>BIRTH_DEPARTMENT</code>: Specify the INSEE code that corresponds with the department where the contact was born. \n\t\t\t\t\t\t\tIf the contact was born somewhere other than France or its overseas departments, specify <code>99</code>. For more information, \n\t\t\t\t\t\t\tincluding a list of departments and the corresponding INSEE numbers, see the Wikipedia entry \n\t\t\t\t\t\t\t<a href=\"https://en.wikipedia.org/wiki/Departments_of_France\">Departments of France</a>.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>BRAND_NUMBER</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.it</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>IT_NATIONALITY</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>IT_PIN</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>IT_REGISTRANT_ENTITY_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>FOREIGNERS</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FREELANCE_WORKERS</code> (Freelance workers and professionals)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ITALIAN_COMPANIES</code> (Italian companies and one-person companies)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>NON_PROFIT_ORGANIZATIONS</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>OTHER_SUBJECTS</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PUBLIC_ORGANIZATIONS</code>\n                           </p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.ru</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>BIRTH_DATE_IN_YYYY_MM_DD</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RU_PASSPORT_DATA</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.se</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>BIRTH_COUNTRY</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>SE_ID_NUMBER</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.sg</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>SG_ID_NUMBER</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n            <dt>.co.uk, .me.uk, and .org.uk</dt>\n            <dd>\n\t\t\t\t\t          <ul>\n                  <li>\n                     <p>\n                        <code>UK_CONTACT_TYPE</code>\n                     </p>\n\t\t\t\t\t\t\t              <p>Valid values include the following:</p>\n\t\t\t\t\t\t\t              <ul>\n                        <li>\n                           <p>\n                              <code>CRC</code> (UK Corporation by Royal Charter)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FCORP</code> (Non-UK Corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FIND</code> (Non-UK Individual, representing self)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FOTHER</code> (Non-UK Entity that does not fit into any other category)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>GOV</code> (UK Government Body)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>IND</code> (UK Individual (representing self))</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>IP</code> (UK Industrial/Provident Registered Company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LLP</code> (UK Limited Liability Partnership)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>LTD</code> (UK Limited Company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>OTHER</code> (UK Entity that does not fit into any other category)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PLC</code> (UK Public Limited Company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>PTNR</code> (UK Partnership)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>RCHAR</code> (UK Registered Charity)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>SCH</code> (UK School)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>STAT</code> (UK Statutory Body)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>STRA</code> (UK Sole Trader)</p>\n                        </li>\n                     </ul>\n\t\t\t\t\t\t            </li>\n                  <li>\n                     <p>\n                        <code>UK_COMPANY_NUMBER</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t\t        </dd>\n         </dl>\n\n\t\t       <p>In addition, many TLDs require a <code>VAT_NUMBER</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.route53domains#ExtraParamValue",
          "traits": {
            "smithy.api#documentation": "<p>The value that corresponds with the name of an extra parameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ExtraParam includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#ExtraParamList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#ExtraParam"
      }
    },
    "com.amazonaws.route53domains#ExtraParamName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DUNS_NUMBER",
            "name": "DUNS_NUMBER"
          },
          {
            "value": "BRAND_NUMBER",
            "name": "BRAND_NUMBER"
          },
          {
            "value": "BIRTH_DEPARTMENT",
            "name": "BIRTH_DEPARTMENT"
          },
          {
            "value": "BIRTH_DATE_IN_YYYY_MM_DD",
            "name": "BIRTH_DATE_IN_YYYY_MM_DD"
          },
          {
            "value": "BIRTH_COUNTRY",
            "name": "BIRTH_COUNTRY"
          },
          {
            "value": "BIRTH_CITY",
            "name": "BIRTH_CITY"
          },
          {
            "value": "DOCUMENT_NUMBER",
            "name": "DOCUMENT_NUMBER"
          },
          {
            "value": "AU_ID_NUMBER",
            "name": "AU_ID_NUMBER"
          },
          {
            "value": "AU_ID_TYPE",
            "name": "AU_ID_TYPE"
          },
          {
            "value": "CA_LEGAL_TYPE",
            "name": "CA_LEGAL_TYPE"
          },
          {
            "value": "CA_BUSINESS_ENTITY_TYPE",
            "name": "CA_BUSINESS_ENTITY_TYPE"
          },
          {
            "value": "CA_LEGAL_REPRESENTATIVE",
            "name": "CA_LEGAL_REPRESENTATIVE"
          },
          {
            "value": "CA_LEGAL_REPRESENTATIVE_CAPACITY",
            "name": "CA_LEGAL_REPRESENTATIVE_CAPACITY"
          },
          {
            "value": "ES_IDENTIFICATION",
            "name": "ES_IDENTIFICATION"
          },
          {
            "value": "ES_IDENTIFICATION_TYPE",
            "name": "ES_IDENTIFICATION_TYPE"
          },
          {
            "value": "ES_LEGAL_FORM",
            "name": "ES_LEGAL_FORM"
          },
          {
            "value": "FI_BUSINESS_NUMBER",
            "name": "FI_BUSINESS_NUMBER"
          },
          {
            "value": "FI_ID_NUMBER",
            "name": "ONWER_FI_ID_NUMBER"
          },
          {
            "value": "FI_NATIONALITY",
            "name": "FI_NATIONALITY"
          },
          {
            "value": "FI_ORGANIZATION_TYPE",
            "name": "FI_ORGANIZATION_TYPE"
          },
          {
            "value": "IT_NATIONALITY",
            "name": "IT_NATIONALITY"
          },
          {
            "value": "IT_PIN",
            "name": "IT_PIN"
          },
          {
            "value": "IT_REGISTRANT_ENTITY_TYPE",
            "name": "IT_REGISTRANT_ENTITY_TYPE"
          },
          {
            "value": "RU_PASSPORT_DATA",
            "name": "RU_PASSPORT_DATA"
          },
          {
            "value": "SE_ID_NUMBER",
            "name": "SE_ID_NUMBER"
          },
          {
            "value": "SG_ID_NUMBER",
            "name": "SG_ID_NUMBER"
          },
          {
            "value": "VAT_NUMBER",
            "name": "VAT_NUMBER"
          },
          {
            "value": "UK_CONTACT_TYPE",
            "name": "UK_CONTACT_TYPE"
          },
          {
            "value": "UK_COMPANY_NUMBER",
            "name": "UK_COMPANY_NUMBER"
          }
        ]
      }
    },
    "com.amazonaws.route53domains#ExtraParamValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.route53domains#FIAuthKey": {
      "type": "string"
    },
    "com.amazonaws.route53domains#GetContactReachabilityStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#GetContactReachabilityStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#GetContactReachabilityStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For operations that require confirmation that the email address for the registrant contact is valid, \n\t\t\tsuch as registering a new domain, this operation returns information about whether the registrant contact has responded.</p>\n\t\t       <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>"
      }
    },
    "com.amazonaws.route53domains#GetContactReachabilityStatusRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53domains#GetContactReachabilityStatusResponse": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name for which you requested the reachability status.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53domains#ReachabilityStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether the registrant contact has responded. Values include the following:</p>\n\t\t       <dl>\n            <dt>PENDING</dt>\n            <dd>\n               <p>We sent the confirmation email and haven't received a response yet.</p>\n            </dd>\n            <dt>DONE</dt>\n            <dd>\n               <p>We sent the email and got confirmation from the registrant contact.</p>\n            </dd>\n            <dt>EXPIRED</dt>\n            <dd>\n               <p>The time limit expired before the registrant contact responded.</p>\n            </dd>\n         </dl>"
          }
        }
      }
    },
    "com.amazonaws.route53domains#GetDomainDetail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#GetDomainDetailRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#GetDomainDetailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns detailed information about a specified domain that is associated with the current AWS account. \n\t\t\tContact information for the domain is also returned as part of the output.</p>"
      }
    },
    "com.amazonaws.route53domains#GetDomainDetailRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to get detailed information about.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GetDomainDetail request includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#GetDomainDetailResponse": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Nameservers": {
          "target": "com.amazonaws.route53domains#NameserverList",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoRenew": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the domain registration is set to renew automatically.</p>"
          }
        },
        "AdminContact": {
          "target": "com.amazonaws.route53domains#ContactDetail",
          "traits": {
            "smithy.api#documentation": "<p>Provides details about the domain administrative contact.</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrantContact": {
          "target": "com.amazonaws.route53domains#ContactDetail",
          "traits": {
            "smithy.api#documentation": "<p>Provides details about the domain registrant.</p>",
            "smithy.api#required": {}
          }
        },
        "TechContact": {
          "target": "com.amazonaws.route53domains#ContactDetail",
          "traits": {
            "smithy.api#documentation": "<p>Provides details about the domain technical contact.</p>",
            "smithy.api#required": {}
          }
        },
        "AdminPrivacy": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, \n\t\t\tWHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) \n\t\t\tor for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, \n\t\t\tWHOIS queries return the information that you entered for the admin contact.</p>"
          }
        },
        "RegistrantPrivacy": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, \n\t\t\tWHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) \n\t\t\tor for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, \n\t\t\tWHOIS queries return the information that you entered for the registrant contact (domain owner).</p>"
          }
        },
        "TechPrivacy": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, \n\t\t\tWHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) \n\t\t\tor for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, \n\t\t\tWHOIS queries return the information that you entered for the technical contact.</p>"
          }
        },
        "RegistrarName": {
          "target": "com.amazonaws.route53domains#RegistrarName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the registrar of the domain as identified in the registry. Domains with a .com, .net, or .org TLD are registered by \n\t\t\tAmazon Registrar. All other domains are registered by our registrar associate, Gandi. The value for domains that are registered by \n\t\t\tGandi is <code>\"GANDI SAS\"</code>. </p>"
          }
        },
        "WhoIsServer": {
          "target": "com.amazonaws.route53domains#RegistrarWhoIsServer",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.</p>"
          }
        },
        "RegistrarUrl": {
          "target": "com.amazonaws.route53domains#RegistrarUrl",
          "traits": {
            "smithy.api#documentation": "<p>Web address of the registrar.</p>"
          }
        },
        "AbuseContactEmail": {
          "target": "com.amazonaws.route53domains#Email",
          "traits": {
            "smithy.api#documentation": "<p>Email address to contact to report incorrect contact information for a domain, to report that the domain \n\t\t\tis being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.</p>"
          }
        },
        "AbuseContactPhone": {
          "target": "com.amazonaws.route53domains#ContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>Phone number for reporting abuse.</p>"
          }
        },
        "RegistryDomainId": {
          "target": "com.amazonaws.route53domains#RegistryDomainId",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the domain was created as found in the response to a WHOIS query. The date and time is in \n\t\t\tUnix time format and Coordinated Universal time (UTC).</p>"
          }
        },
        "UpdatedDate": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last updated date of the domain as found in the response to a WHOIS query. The date and time is in \n\t\t\tUnix time format and Coordinated Universal time (UTC).</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the registration for the domain is set to expire. The date and time is in \n\t\t\tUnix time format and Coordinated Universal time (UTC).</p>"
          }
        },
        "Reseller": {
          "target": "com.amazonaws.route53domains#Reseller",
          "traits": {
            "smithy.api#documentation": "<p>Reseller of the domain. Domains registered or transferred using Route 53 domains will have <code>\"Amazon\"</code> \n\t\t\tas the reseller. </p>"
          }
        },
        "DnsSec": {
          "target": "com.amazonaws.route53domains#DNSSec",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        },
        "StatusList": {
          "target": "com.amazonaws.route53domains#DomainStatusList",
          "traits": {
            "smithy.api#documentation": "<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p>\n\t\t       <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name \n\t\t\tstatus codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, \n\t\t\ttransferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars \n\t\t\tuse this same set of status codes.</p>\n\t\t       <p>For a current list of domain name status codes and an explanation of what each code means, go to the\n\t\t\t<a href=\"https://www.icann.org/\">ICANN website</a> and search for <code>epp status codes</code>.\n\t\t\t(Search on the ICANN website; web searches sometimes return an old version of the document.)</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GetDomainDetail response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#GetDomainSuggestions": {
      "type": "operation",
      "input": {
[...]
