{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53resolver#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 32
        }
      }
    },
    "com.amazonaws.route53resolver#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds IP addresses to an inbound or an outbound resolver endpoint. If you want to adding more than one IP address, \n\t\t\tsubmit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To remove an IP address from an endpoint, see <a>DisassociateResolverEndpointIpAddress</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, \n\t\t\tResolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
            "smithy.api#required": {}
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries \n\t\t\tfor the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the \n\t\t\tIP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see \n\t\t\t<a>CreateResolverRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the association that you're creating between a resolver rule and a VPC.</p>"
          }
        },
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use \n\t\t\t<a>ListResolverRules</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to associate the resolver rule with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.route53resolver#CreateResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resolver endpoint. There are two types of resolver endpoints, inbound and outbound:</p>\n\t\t       <ul>\n            <li>\n               <p>An <i>inbound resolver endpoint</i> forwards DNS queries to the DNS service for a VPC \n\t\t\t\tfrom your network or another VPC.</p>\n            </li>\n            <li>\n               <p>An <i>outbound resolver endpoint</i> forwards DNS queries from the DNS service for a VPC \n\t\t\t\tto your network or another VPC.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "Direction": {
          "target": "com.amazonaws.route53resolver#ResolverEndpointDirection",
          "traits": {
            "smithy.api#documentation": "<p>Specify the applicable value:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network or another VPC</p>\n            </li>\n            <li>\n               <p>\n                  <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network or another VPC</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "IpAddresses": {
          "target": "com.amazonaws.route53resolver#IpAddressesRequest",
          "traits": {
            "smithy.api#documentation": "<p>The subnets and IP addresses in your VPC that you want DNS queries to pass through on the way from your VPCs to your network \n\t\t\t(for outbound endpoints) or on the way from your network to your VPCs (for inbound resolver endpoints). </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.route53resolver#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify \n\t\t\tmust include one or more inbound rules (for inbound resolver endpoints) or outbound rules (for outbound resolver endpoints).</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For DNS queries that originate in your VPCs, specifies which resolver endpoint the queries pass through, \n\t\t\tone domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. \n\t\t\t<code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.route53resolver#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches \n\t\t\tmultiple resolver rules (example.com and www.example.com), outbound DNS queries are routed using the resolver rule that contains \n\t\t\tthe most specific domain name (www.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify \n\t\t\tin <code>TargetIps</code>.</p>"
          }
        },
        "RuleType": {
          "target": "com.amazonaws.route53resolver#RuleTypeOption",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>FORWARD</code>. Other resolver rule types aren't supported.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        },
        "TargetIps": {
          "target": "com.amazonaws.route53resolver#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a comma.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreatorRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resolver endpoint. The effect of deleting a resolver endpoint depends on whether it's an inbound or an outbound \n\t\t\tresolver endpoint:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>Inbound</b>: DNS queries from your network or another VPC are no longer routed \n\t\t\t\tto the DNS service for the specified VPC.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network or \n\t\t\t\tto another VPC.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resolver rule. Before you can delete a resolver rule, you must disassociate it from all the VPCs that you \n\t\t\tassociated the resolver rule with. For more infomation, see <a>DisassociateResolverRule</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes IP addresses from an inbound or an outbound resolver endpoint. If you want to remove more than one IP address, \n\t\t\tsubmit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To add an IP address to an endpoint, see <a>AssociateResolverEndpointIpAddress</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 address that you want to remove from a resolver endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint that you want to disassociate an IP address from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between a specified resolver rule and a specified VPC.</p>\n\t\t       <important>\n\t\t\t         <p>If you disassociate a resolver rule from a VPC, Resolver stops forwarding DNS queries for the \n\t\t\t\tdomain name that you specified in the resolver rule. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule that you want to disassociate from the specified VPC.</p>",
            "smithy.api#required": {}
          }
        },
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to disassociate the resolver rule from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53resolver#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules,\n\t\t\tthe name of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify \n\t\t\t<code>Direction</code> for the value of <code>Name</code>.</p>"
          }
        },
        "Values": {
          "target": "com.amazonaws.route53resolver#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules,\n\t\t\tthe value of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify \n\t\t\t<code>INBOUND</code> for the value of <code>Values</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For <code>List</code> operations, an optional specification to return a subset of objects, such as resolver endpoints or resolver rules.</p>"
      }
    },
    "com.amazonaws.route53resolver#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FilterValue"
      }
    },
    "com.amazonaws.route53resolver#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#Filter"
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified resolver endpoint, such as whether it's an inbound or an outbound resolver endpoint, and the \n\t\t\tcurrent status of the endpoint.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resolver endpoint that you specified in a <code>GetResolverEndpoint</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a specified resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the \n\t\t\toutbound resolver endpoint that the rule is associated with.</p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRuleAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an association between a specified resolver rule and a VPC. You associate a resolver rule and a VPC using \n\t\t\t<a>AssociateResolverRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociationRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociationId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule association that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleAssociationResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resolver rule association that you specified in a <code>GetResolverRuleAssociation</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#GetResolverRulePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#GetResolverRulePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a resolver rule policy. A resolver rule policy specifies the Resolver operations and resources \n\t\t\tthat you want to allow another AWS account to be able to use. </p>"
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicyRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule policy that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRulePolicyResponse": {
      "type": "structure",
      "members": {
        "ResolverRulePolicy": {
          "target": "com.amazonaws.route53resolver#ResolverRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resolver rule policy that you specified in a <code>GetResolverRulePolicy</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule that you want to get information about.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#GetResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resolver rule that you specified in a <code>GetResolverRule</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#InternalServiceErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>We encountered an unknown error. Try again in a few minutes.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidParameterException": {
      "type": "structure",
      "members": {
        "FieldName": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For an <code>InvalidParameterException</code> error, the name of the parameter that's invalid.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters in this request are not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidPolicyDocument": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resolver rule policy is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#InvalidTagException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified tag is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#Ip": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 36
        }
      }
    },
    "com.amazonaws.route53resolver#IpAddressCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.route53resolver#IpAddressRequest": {
      "type": "structure",
      "members": {
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>The IP address that you want to use for DNS queries.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The subnet that contains the IP address.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In an <a>CreateResolverEndpoint</a> request, a subnet and IP address that you want to use for DNS queries.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressResponse": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the IP address was created, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        },
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>One IP address that the resolver endpoint uses for DNS queries.</p>"
          }
        },
        "IpId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one IP address.</p>"
          }
        },
        "ModificationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the IP address was last modified, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#IpAddressStatus",
          "traits": {
            "smithy.api#documentation": "<p>A status code that gives the current status of the request.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides additional information about the status of the request.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one subnet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In the response to a <a>GetResolverEndpoint</a> request, information about the IP addresses that \n\t\t\tthe resolver endpoint uses for DNS queries.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "FAILED_CREATION",
            "name": "FailedCreation"
          },
          {
            "value": "ATTACHING",
            "name": "Attaching"
          },
          {
            "value": "ATTACHED",
            "name": "Attached"
          },
          {
            "value": "REMAP_DETACHING",
            "name": "RemapDetaching"
          },
          {
            "value": "REMAP_ATTACHING",
            "name": "RemapAttaching"
          },
          {
            "value": "DETACHING",
            "name": "Detaching"
          },
          {
            "value": "FAILED_RESOURCE_GONE",
            "name": "FailedResourceGone"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "DELETE_FAILED_FAS_EXPIRED",
            "name": "DeleteFailedFasExpired"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#IpAddressUpdate": {
      "type": "structure",
      "members": {
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>The new IP address.</p>"
          }
        },
        "IpId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>Only when removing an IP address from a resolver endpoint</i>: The ID of the IP address that you want to remove. \n\t\t\tTo get this ID, use <a>GetResolverEndpoint</a>.</p>"
          }
        },
        "SubnetId": {
          "target": "com.amazonaws.route53resolver#SubnetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the subnet that includes the IP address that you want to update. To get this ID, use <a>GetResolverEndpoint</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In an <a>UpdateResolverEndpoint</a> request, information about an IP address to update.</p>"
      }
    },
    "com.amazonaws.route53resolver#IpAddressesRequest": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#IpAddressRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.route53resolver#IpAddressesResponse": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#IpAddressResponse"
      }
    },
    "com.amazonaws.route53resolver#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>LimitExceededException</code> error, the type of resource that exceeded the current limit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request caused one or more limits to be exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddresses": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the IP addresses for a specified resolver endpoint.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of IP addresses that you want to return in the response to a <code>ListResolverEndpointIpAddresses</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 IP addresses. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverEndpointIpAddresses</code> request, omit this value.</p>\n\t\t       <p>If the specified resolver endpoint has more than <code>MaxResults</code> IP addresses, you can submit another \n\t\t\t<code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint that you want to get IP addresses for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointIpAddressesResponse": {
      "type": "structure",
      "members": {
        "IpAddresses": {
          "target": "com.amazonaws.route53resolver#IpAddressesResponse",
          "traits": {
            "smithy.api#documentation": "<p>The IP addresses that DNS queries pass through on their way to your network (outbound endpoint) or on the way to \n\t\t\tResolver (inbound endpoint).</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the specified endpoint has more than <code>MaxResults</code> IP addresses, you can submit another \n\t\t\t<code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, \n\t\t\tspecify the value of <code>NextToken</code> from the previous response. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all the resolver endpoints that were created using the current AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53resolver#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An optional specification to return a subset of resolver endpoints, such as all inbound resolver endpoints.</p>\n\t\t       <note>\n            <p>If you submit a second or subsequent <code>ListResolverEndpoints</code> request and specify the <code>NextToken</code> parameter, \n\t\t\tyou must use the same values for <code>Filters</code>, if any, as in the previous request.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of resolver endpoints that you want to return in the response to a <code>ListResolverEndpoints</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver endpoints. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverEndpoints</code> request, omit this value.</p>\n\t\t       <p>If you have more than <code>MaxResults</code> resolver endpoints, you can submit another <code>ListResolverEndpoints</code> request \n\t\t\tto get the next group of resolver endpoints. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverEndpointsResponse": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> IP addresses match the specified criteria, you can submit another <code>ListResolverEndpoint</code> request \n\t\t\tto get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "ResolverEndpoints": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoints",
          "traits": {
            "smithy.api#documentation": "<p>The resolver endpoints that were created by using the current AWS account, and that match the specified filters, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRuleAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverRuleAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverRuleAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the associations that were created between resolver rules and VPCs using the current AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRuleAssociationsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53resolver#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An optional specification to return a subset of resolver rules, such as resolver rules that are associated with the same VPC ID.</p>\n\t\t       <note>\n            <p>If you submit a second or subsequent <code>ListResolverRuleAssociations</code> request and specify the <code>NextToken</code> parameter, \n\t\t\tyou must use the same values for <code>Filters</code>, if any, as in the previous request.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of rule associations that you want to return in the response to a <code>ListResolverRuleAssociations</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 rule associations. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverRuleAssociation</code> request, omit this value.</p>\n\t\t       <p>If you have more than <code>MaxResults</code> rule associations, you can submit another <code>ListResolverRuleAssociation</code> request \n\t\t\tto get the next group of rule associations. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRuleAssociationsResponse": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> rule associations match the specified criteria, you can submit another \n\t\t\t<code>ListResolverRuleAssociation</code> request to get the next group of results. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        },
        "ResolverRuleAssociations": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociations",
          "traits": {
            "smithy.api#documentation": "<p>The associations that were created between resolver rules and VPCs using the current AWS account, and that match the \n\t\t\tspecified filters, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListResolverRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListResolverRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the resolver rules that were created using the current AWS account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRulesRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.route53resolver#Filters",
          "traits": {
            "smithy.api#documentation": "<p>An optional specification to return a subset of resolver rules, such as all resolver rules that are associated with the same resolver endpoint.</p>\n\t\t       <note>\n            <p>If you submit a second or subsequent <code>ListResolverRules</code> request and specify the <code>NextToken</code> parameter, \n\t\t\tyou must use the same values for <code>Filters</code>, if any, as in the previous request.</p>\n         </note>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of resolver rules that you want to return in the response to a <code>ListResolverRules</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver rules.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListResolverRules</code> request, omit this value.</p>\n\t\t       <p>If you have more than <code>MaxResults</code> resolver rules, you can submit another <code>ListResolverRules</code> request \n\t\t\tto get the next group of resolver rules. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListResolverRulesResponse": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> resolver rules match the specified criteria, you can submit another \n\t\t\t<code>ListResolverRules</code> request to get the next group of results. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        },
        "ResolverRules": {
          "target": "com.amazonaws.route53resolver#ResolverRules",
          "traits": {
            "smithy.api#documentation": "<p>The resolver rules that were created using the current AWS account and that match the specified filters, if any.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags that you associated with the specified resource.</p>"
      }
    },
    "com.amazonaws.route53resolver#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53resolver#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of tags that you want to return in the response to a <code>ListTagsForResource</code> request. \n\t\t\tIf you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 tags.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>For the first <code>ListTagsForResource</code> request, omit this value.</p>\n\t\t       <p>If you have more than <code>MaxResults</code> tags, you can submit another <code>ListTagsForResource</code> request \n\t\t\tto get the next group of tags for the resource. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to list tags for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53resolver#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If more than <code>MaxResults</code> tags match the specified criteria, you can submit another \n\t\t\t<code>ListTagsForResource</code> request to get the next group of results. In the next request, specify the value of \n\t\t\t<code>NextToken</code> from the previous response. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that are associated with the resource that you specified in the <code>ListTagsForResource</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.route53resolver#Name": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)"
      }
    },
    "com.amazonaws.route53resolver#NextToken": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#Port": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.route53resolver#PutResolverRulePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#PutResolverRulePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#PutResolverRulePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidPolicyDocument"
        },
        {
          "target": "com.amazonaws.route53resolver#UnknownResourceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specifies the Resolver operations and resources that you want to allow another AWS account to be able to use.</p>"
      }
    },
    "com.amazonaws.route53resolver#PutResolverRulePolicyRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account that you want to grant permissions to.</p>",
            "smithy.api#required": {}
          }
        },
        "ResolverRulePolicy": {
          "target": "com.amazonaws.route53resolver#ResolverRulePolicy",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Identity and Access Management policy statement that lists the permissions that you want to grant to another AWS account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#PutResolverRulePolicyResponse": {
      "type": "structure",
      "members": {
        "ReturnValue": {
          "target": "com.amazonaws.route53resolver#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether the <code>PutResolverRulePolicy</code> request was successful.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response to a <code>PutResolverRulePolicy</code> request.</p>"
      }
    },
    "com.amazonaws.route53resolver#ResolverEndpoint": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) for the resolver endpoint.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests \n\t\t\tto be retried without the risk of executing the operation twice.</p>"
          }
        },
        "Direction": {
          "target": "com.amazonaws.route53resolver#ResolverEndpointDirection",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p>\n            </li>\n            <li>\n               <p>\n                  <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p>\n            </li>\n         </ul>"
          }
        },
        "HostVPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to create the resolver endpoint in.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver endpoint.</p>"
          }
        },
        "IpAddressCount": {
          "target": "com.amazonaws.route53resolver#IpAddressCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of IP addresses that the resolver endpoint can use for DNS queries.</p>"
          }
        },
        "ModificationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.route53resolver#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#ResolverEndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>A code that specifies the current status of the resolver endpoint.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the status of the resolver endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In the response to a <a>CreateResolverEndpoint</a>, <a>DeleteResolverEndpoint</a>, <a>GetResolverEndpoint</a>,\n\t\t\t<a>ListResolverEndpoints</a>, or <a>UpdateResolverEndpoint</a> request, a complex type that contains settings \n\t\t\tfor an existing inbound or outbound resolver endpoint.</p>"
      }
    },
    "com.amazonaws.route53resolver#ResolverEndpointDirection": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INBOUND",
            "name": "Inbound"
          },
          {
            "value": "OUTBOUND",
            "name": "Outbound"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#ResolverEndpointStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "OPERATIONAL",
            "name": "Operational"
          },
          {
            "value": "UPDATING",
            "name": "Updating"
          },
          {
            "value": "AUTO_RECOVERING",
            "name": "AutoRecovering"
          },
          {
            "value": "ACTION_NEEDED",
            "name": "ActionNeeded"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#ResolverEndpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#ResolverEndpoint"
      }
    },
    "com.amazonaws.route53resolver#ResolverRule": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN (Amazon Resource Name) for the resolver rule specified by <code>Id</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that you specified when you created the resolver rule. <code>CreatorRequestId</code>identifies the request and allows failed requests \n\t\t\tto be retried without the risk of executing the operation twice. </p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.route53resolver#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that are specified in <code>TargetIps</code>. If a query matches \n\t\t\tmultiple resolver rules (example.com and www.example.com), the query is routed using the resolver rule that contains the most specific domain name \n\t\t\t(www.example.com).</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID that Resolver assigned to the resolver rule when you created it.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name for the resolver rule, which you specified when you created the resolver rule.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.route53resolver#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>When a rule is shared with another AWS account, the account ID of the account that the rule is shared with.</p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the endpoint that the rule is associated with.</p>"
          }
        },
        "RuleType": {
          "target": "com.amazonaws.route53resolver#RuleTypeOption",
          "traits": {
            "smithy.api#documentation": "<p>This value is always <code>FORWARD</code>. Other resolver rule types aren't supported.</p>"
          }
        },
        "ShareStatus": {
          "target": "com.amazonaws.route53resolver#ShareStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether the rules is shared and, if so, whether the current account is sharing the rule with another account, or \n\t\t\tanother account is sharing the rule with the current account.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#ResolverRuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>A code that specifies the current status of the resolver rule.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the status of a resolver rule.</p>"
          }
        },
        "TargetIps": {
          "target": "com.amazonaws.route53resolver#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>An array that contains the IP addresses and ports that you want to forward </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For queries that originate in your VPC, detailed information about a resolver rule, which specifies how to route DNS queries \n\t\t\tout of the VPC. The <code>ResolverRule</code> parameter appears in the response to a <a>CreateResolverRule</a>, \n\t\t\t<a>DeleteResolverRule</a>, <a>GetResolverRule</a>, <a>ListResolverRules</a>, or <a>UpdateResolverRule</a> \n\t\t\trequest.</p>"
      }
    },
    "com.amazonaws.route53resolver#ResolverRuleAssociation": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the association between a resolver rule and a VPC. Resolver assigns this value when you submit an \n\t\t\t<a>AssociateResolverRule</a> request.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of an association between a resolver rule and a VPC.</p>"
          }
        },
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resolver rule that you associated with the VPC that is specified by <code>VPCId</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>A code that specifies the current status of the association between a resolver rule and a VPC.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of the status of the association between a resolver rule and a VPC.</p>"
          }
        },
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you associated the resolver rule with.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In the response to an <a>AssociateResolverRule</a>,  \n\t\t\t<a>DisassociateResolverRule</a>, or <a>ListResolverRuleAssociations</a> request, \n\t\t\tinformation about an association between a resolver rule and a VPC.</p>"
      }
    },
    "com.amazonaws.route53resolver#ResolverRuleAssociationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "Creating"
          },
          {
            "value": "COMPLETE",
            "name": "Complete"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "FAILED",
            "name": "Failed"
          },
          {
            "value": "OVERRIDDEN",
            "name": "Overridden"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#ResolverRuleAssociations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#ResolverRuleAssociation"
      }
    },
    "com.amazonaws.route53resolver#ResolverRuleConfig": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The new name for the resolver rule. The name that you specify appears in the Resolver dashboard in the Route 53 console. </p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in \n\t\t\t<code>TargetIps</code>.</p>"
          }
        },
        "TargetIps": {
          "target": "com.amazonaws.route53resolver#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>For DNS queries that originate in your VPC, the new IP addresses that you want to route outbound DNS queries to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In an <a>UpdateResolverRule</a> request, information about the changes that you want to make.</p>"
      }
    },
    "com.amazonaws.route53resolver#ResolverRulePolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5000
        }
      }
    },
    "com.amazonaws.route53resolver#ResolverRuleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETE",
            "name": "Complete"
          },
          {
            "value": "DELETING",
            "name": "Deleting"
          },
          {
            "value": "UPDATING",
            "name": "Updating"
          },
          {
            "value": "FAILED",
            "name": "Failed"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#ResolverRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#ResolverRule"
      }
    },
    "com.amazonaws.route53resolver#ResourceExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>ResourceExistsException</code> error, the type of resource that the error applies to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource that you tried to create already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53resolver#ResourceInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>ResourceInUseException</code> error, the type of resource that is currently in use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource that you tried to update or delete is currently in use.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>ResourceNotFoundException</code> error, the type of resource that doesn't exist.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource doesn't exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#ResourceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#String"
        },
        "ResourceType": {
          "target": "com.amazonaws.route53resolver#String",
          "traits": {
            "smithy.api#documentation": "<p>For a <code>ResourceUnavailableException</code> error, the type of resource that isn't available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource isn't available.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#Rfc3339TimeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 40
        }
      }
    },
    "com.amazonaws.route53resolver#Route53Resolver": {
      "type": "service",
      "version": "2018-04-01",
      "operations": [
        {
          "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddress"
        },
        {
          "target": "com.amazonaws.route53resolver#AssociateResolverRule"
        },
        {
          "target": "com.amazonaws.route53resolver#CreateResolverEndpoint"
        },
        {
          "target": "com.amazonaws.route53resolver#CreateResolverRule"
        },
        {
          "target": "com.amazonaws.route53resolver#DeleteResolverEndpoint"
        },
        {
          "target": "com.amazonaws.route53resolver#DeleteResolverRule"
        },
        {
          "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddress"
        },
        {
          "target": "com.amazonaws.route53resolver#DisassociateResolverRule"
        },
        {
          "target": "com.amazonaws.route53resolver#GetResolverEndpoint"
        },
        {
          "target": "com.amazonaws.route53resolver#GetResolverRule"
        },
        {
          "target": "com.amazonaws.route53resolver#GetResolverRuleAssociation"
        },
        {
          "target": "com.amazonaws.route53resolver#GetResolverRulePolicy"
        },
        {
          "target": "com.amazonaws.route53resolver#ListResolverEndpointIpAddresses"
        },
        {
          "target": "com.amazonaws.route53resolver#ListResolverEndpoints"
        },
        {
          "target": "com.amazonaws.route53resolver#ListResolverRuleAssociations"
        },
        {
          "target": "com.amazonaws.route53resolver#ListResolverRules"
        },
        {
          "target": "com.amazonaws.route53resolver#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.route53resolver#PutResolverRulePolicy"
        },
        {
          "target": "com.amazonaws.route53resolver#TagResource"
        },
        {
          "target": "com.amazonaws.route53resolver#UntagResource"
        },
        {
          "target": "com.amazonaws.route53resolver#UpdateResolverEndpoint"
        },
        {
          "target": "com.amazonaws.route53resolver#UpdateResolverRule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Route53Resolver",
          "arnNamespace": "route53resolver",
          "cloudFormationName": "Route53Resolver",
          "cloudTrailEventSource": "route53resolver.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "route53resolver"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Here's how you set up to query an Amazon Route 53 private hosted zone from your network:</p>\n\t\t\n\t\t       <ol>\n            <li>\n               <p>Connect your network to a VPC using AWS Direct Connect or a VPN.</p>\n            </li>\n            <li>\n               <p>Run the following AWS CLI command to create a Resolver endpoint:</p>\n\t\t\t\t           <p>\n                  <code>create-resolver-endpoint --name [endpoint_name] --direction INBOUND \n\t\t\t\t\t--creator-request-id [unique_string] --security-group-ids [security_group_with_inbound_rules] \n\t\t\t\t\t--ip-addresses SubnetId=[subnet_id] SubnetId=[subnet_id_in_different_AZ]</code>\n               </p>\n\t\t\t\t           <p>Note the resolver endpoint ID that appears in the response. You'll use it in step 3.</p>\n\t\t\t         </li>\n            <li>\n               <p>Get the IP addresses for the Resolver endpoints:</p>\n\t\t\t\t           <p>\n                  <code>get-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code>\n               </p>\n\t\t\t         </li>\n            <li>\n               <p>In your network configuration, define the IP addresses that you got in step 3 as DNS servers.</p>\n\t\t\t\t           <p>You can now query instance names in your VPCs and the names of records in your private hosted zone.</p>\n\t\t\t         </li>\n         </ol>\n\n\t\t       <p>You can also perform the following operations using the AWS CLI:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>list-resolver-endpoints</code>: List all endpoints. The syntax includes options for pagination and filtering.</p>\n            </li>\n            <li>\n               <p>\n                  <code>update-resolver-endpoints</code>: Add IP addresses to an endpoint or remove IP addresses from an endpoint. </p>\n            </li>\n         </ul>\n\n\t\t       <p>To delete an endpoint, use the following AWS CLI command:</p>\n\t\t       <p>\n            <code>delete-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code>\n         </p>",
        "smithy.api#title": "Amazon Route 53 Resolver"
      }
    },
    "com.amazonaws.route53resolver#RuleTypeOption": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FORWARD",
            "name": "Forward"
          },
          {
            "value": "SYSTEM",
            "name": "System"
          },
          {
            "value": "RECURSIVE",
            "name": "Recursive"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#SecurityGroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#ResourceId"
      }
    },
    "com.amazonaws.route53resolver#ShareStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOT_SHARED",
            "name": "NotShared"
          },
          {
            "value": "SHARED_WITH_ME",
            "name": "SharedWithMe"
          },
          {
            "value": "SHARED_BY_ME",
            "name": "SharedByMe"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#StatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#String": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#SubnetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.route53resolver#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.route53resolver#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The name for the tag. For example, if you want to associate Resolver resources with the account IDs of your customers for billing purposes, \n\t\t\tthe value of <code>Key</code> might be <code>account-id</code>.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.route53resolver#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value for the tag. For example, if <code>Key</code> is <code>account-id</code>, then <code>Value</code> might be the ID of the \n\t\t\tcustomer account that you're creating the resource for.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One tag that you want to add to the specified resource. A tag consists of a <code>Key</code> (a name for the tag) and a <code>Value</code>.</p>"
      }
    },
    "com.amazonaws.route53resolver#TagKey": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#TagKey"
      }
    },
    "com.amazonaws.route53resolver#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#Tag"
      }
    },
    "com.amazonaws.route53resolver#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidTagException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to a specified resource.</p>"
      }
    },
    "com.amazonaws.route53resolver#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to add tags to. To get the ARN for a resource, use the applicable \n\t\t\t<code>Get</code> or <code>List</code> command: </p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <a>GetResolverEndpoint</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetResolverRule</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetResolverRuleAssociation</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverEndpoints</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverRuleAssociations</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverRules</a>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to add to the specified resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53resolver#TagValue": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#TargetAddress": {
      "type": "structure",
      "members": {
        "Ip": {
          "target": "com.amazonaws.route53resolver#Ip",
          "traits": {
            "smithy.api#documentation": "<p>One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.route53resolver#Port",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The port at <code>Ip</code> that you want to forward DNS queries to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.</p>"
      }
    },
    "com.amazonaws.route53resolver#TargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#TargetAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.route53resolver#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was throttled. Try again in a few minutes.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#UnknownResourceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource doesn't exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags from a specified resource.</p>"
      }
    },
    "com.amazonaws.route53resolver#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to remove tags from. To get the ARN for a resource, use the applicable \n\t\t\t<code>Get</code> or <code>List</code> command: </p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <a>GetResolverEndpoint</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetResolverRule</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetResolverRuleAssociation</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverEndpoints</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverRuleAssociations</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListResolverRules</a>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.route53resolver#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The tags that you want to remove to the specified resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53resolver#UpdateResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#UpdateResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#UpdateResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the name of an inbound or an outbound resolver endpoint.  </p>"
      }
    },
    "com.amazonaws.route53resolver#UpdateResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
[...]
