{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>403 response - You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#AssertionRule": {
      "type": "structure",
      "members": {
        "AssertedControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
            "smithy.api#required": {}
          }
        },
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>Name of the assertion rule. You can use any non-white space character in the name.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleConfig": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RuleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The criteria that you set for specific assertion routing controls (AssertedControls) that designate how many routing control states must be ON as the result of a transaction. For example, if you have three assertion routing controls, you might specify ATLEAST 2 for your rule configuration. This means that at least two assertion routing control states must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Status",
          "traits": {
            "smithy.api#documentation": "<p>The deployment status of an assertion rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An assertion rule enforces that, when you change a routing control state, that the criteria that you set in the rule configuration is met. Otherwise, the change to the routing control is not accepted. For example, the criteria might be that at least one routing control state is On after the transaction so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#AssertionRuleUpdate": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assertion rule.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An update to an assertion rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#Cluster": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>"
          }
        },
        "ClusterEndpoints": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOfClusterEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Endpoints for a cluster. Specify one of these endpoints when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Routing Control Actions.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Status",
          "traits": {
            "smithy.api#documentation": "<p>Deployment status of a resource. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of five redundant Regional endpoints against which you can execute API calls to update or get the state of routing controls. You can host multiple control panels and routing controls on one cluster.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ClusterEndpoint": {
      "type": "structure",
      "members": {
        "Endpoint": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max128PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>A cluster endpoint. Specify an endpoint and Amazon Web Services Region when you want to set or retrieve a routing control state in the cluster.</p> <p>To get or update the routing control state, see the Amazon Route 53 Application Recovery Controller Routing Control Actions.</p>"
          }
        },
        "Region": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max32PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region for a cluster endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A cluster endpoint. Specify an endpoint when you want to set or retrieve a routing control state in the cluster.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>409 response - ConflictException. You might be using a predefined variable.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ControlPanel": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the control panel.</p>"
          }
        },
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>"
          }
        },
        "DefaultControlPanel": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A flag that Amazon Route 53 Application Recovery Controller sets to true to designate the default control panel for a cluster. When you create a cluster, Amazon Route 53 Application Recovery Controller creates a control panel, and sets this flag for that control panel. If you create a control panel yourself, this flag is set to false.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the control panel. You can use any non-white space character in the name.</p>"
          }
        },
        "RoutingControlCount": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of routing controls in the control panel.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Status",
          "traits": {
            "smithy.api#documentation": "<p>The deployment status of control panel. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A control panel represents a group of routing controls that can be changed together in a single transaction.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new cluster. A cluster is a set of redundant Regional endpoints against which you can run API calls to update or get the state of one or more routing controls. Each cluster has a name, status, Amazon Resource Name (ARN), and an array of the five cluster endpoints (one for each supported Amazon Web Services Region) that you can use with API calls to the cluster data plane.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cluster",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__mapOf__stringMin0Max256PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the cluster.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a cluster.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateControlPanel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateControlPanelRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateControlPanelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new control panel. A control panel represents a group of routing controls that can be changed together in a single transaction. You can use a control panel to centrally view the operational status of applications across your organization, and trigger multi-app failovers in a single transaction, for example, to fail over an Availability Zone or Amazon Web Services Region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/controlpanel",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateControlPanelRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster for the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "ControlPanelName": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__mapOf__stringMin0Max256PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the control panel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the control panel that you're creating.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateControlPanelResponse": {
      "type": "structure",
      "members": {
        "ControlPanel": {
          "target": "com.amazonaws.route53recoverycontrolconfig#ControlPanel",
          "traits": {
            "smithy.api#documentation": "<p>Information about a control panel.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControlRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new routing control.</p> <p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/routingcontrol",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControlRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster that includes the routing control.</p>",
            "smithy.api#required": {}
          }
        },
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>"
          }
        },
        "RoutingControlName": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the routing control.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of the routing control that you're creating.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControlResponse": {
      "type": "structure",
      "members": {
        "RoutingControl": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RoutingControl",
          "traits": {
            "smithy.api#documentation": "<p>The routing control that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a safety rule in a control panel. Safety rules let you add safeguards around changing routing control states, and for enabling and disabling routing controls, to help prevent unexpected outcomes.</p> <p>There are two types of safety rules: assertion rules and gating rules.</p> <p>Assertion rule: An assertion rule enforces that, when you change a routing control state, that a certain criteria is met. For example, the criteria might be that at least one routing control state is On after the transaction so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p> <p>Gating rule: A gating rule lets you configure a gating routing control as an overall \"on/off\" switch for a group of routing controls. Or, you can configure more complex gating scenarios, for example by configuring multiple gating routing controls.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.safety-rules.html\">Safety rules</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/safetyrule",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#NewAssertionRule",
          "traits": {
            "smithy.api#documentation": "<p>The assertion rule requested.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive string of up to 64 ASCII characters. To make an idempotent API request with an action, specify a client token in the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "GatingRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#NewGatingRule",
          "traits": {
            "smithy.api#documentation": "<p>The gating rule requested.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__mapOf__stringMin0Max256PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the safety rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request body that you include when you create a safety rule.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRuleResponse": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#AssertionRule",
          "traits": {
            "smithy.api#documentation": "<p>The assertion rule created.</p>"
          }
        },
        "GatingRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#GatingRule",
          "traits": {
            "smithy.api#documentation": "<p>The gating rule created.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a cluster.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/cluster/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster that you're deleting.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteClusterResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanelRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a control panel.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/controlpanel/{ControlPanelArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanelRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanelResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControlRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a routing control.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/routingcontrol/{RoutingControlArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControlRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing control that you're deleting.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControlResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a safety rule.</p>/&gt;",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/safetyrule/{SafetyRuleArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the safety rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Display the details about a cluster. The response includes the cluster name, endpoints, status, and Amazon Resource Name (ARN).</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cluster/{ClusterArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "ClusterCreated": {
            "documentation": "Wait until a cluster is created",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "Cluster.Status",
                    "expected": "DEPLOYED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Cluster.Status",
                    "expected": "PENDING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          },
          "ClusterDeleted": {
            "documentation": "Wait for a cluster to be deleted",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Cluster.Status",
                    "expected": "PENDING_DELETION",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "Cluster": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster for the DescribeCluster request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanelRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays details about a control panel.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controlpanel/{ControlPanelArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "ControlPanelCreated": {
            "documentation": "Wait until a control panel is created",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "ControlPanel.Status",
                    "expected": "DEPLOYED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "ControlPanel.Status",
                    "expected": "PENDING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          },
          "ControlPanelDeleted": {
            "documentation": "Wait until a control panel is deleted",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "ControlPanel.Status",
                    "expected": "PENDING_DELETION",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanelRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanelResponse": {
      "type": "structure",
      "members": {
        "ControlPanel": {
          "target": "com.amazonaws.route53recoverycontrolconfig#ControlPanel",
          "traits": {
            "smithy.api#documentation": "<p>Information about the control panel.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControl": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControlRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControlResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays details about a routing control. A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p> <p>To get or update the routing control state, see the Recovery Cluster (data plane) API actions for Amazon Route 53 Application Recovery Controller.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/routingcontrol/{RoutingControlArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "RoutingControlCreated": {
            "documentation": "Wait until a routing control is created",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "RoutingControl.Status",
                    "expected": "DEPLOYED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "RoutingControl.Status",
                    "expected": "PENDING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          },
          "RoutingControlDeleted": {
            "documentation": "Wait for a routing control to be deleted",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "RoutingControl.Status",
                    "expected": "PENDING_DELETION",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerException"
                }
              }
            ],
            "minDelay": 5
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControlRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControlResponse": {
      "type": "structure",
      "members": {
        "RoutingControl": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RoutingControl",
          "traits": {
            "smithy.api#documentation": "<p>Information about the routing control.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a safety rule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/safetyrule/{SafetyRuleArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRuleRequest": {
      "type": "structure",
      "members": {
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the safety rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRuleResponse": {
      "type": "structure",
      "members": {
        "AssertionRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#AssertionRule",
          "traits": {
            "smithy.api#documentation": "<p>The assertion rule in the response.</p>"
          }
        },
        "GatingRule": {
          "target": "com.amazonaws.route53recoverycontrolconfig#GatingRule",
          "traits": {
            "smithy.api#documentation": "<p>The gating rule in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#GatingRule": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "GatingControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>An array of gating routing control Amazon Resource Names (ARNs). For a simple \"on/off\" switch, specify the ARN for one routing control. The gating routing controls are evaluated by the rule configuration that you specify to determine if the target routing control states can be changed.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name for the gating rule. You can use any non-white space character in the name.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleConfig": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RuleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The criteria that you set for gating routing controls that designate how many of the routing control states must be ON to allow you to update target routing control states.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Status",
          "traits": {
            "smithy.api#documentation": "<p>The deployment status of a gating rule. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>An array of target routing control Amazon Resource Names (ARNs) for which the states can only be updated if the rule configuration that you specify evaluates to true for the gating routing control. As a simple example, if you have a single gating control, it acts as an overall \"on/off\" switch for a set of target routing controls. You can use this to manually override automated failover, for example.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A gating rule verifies that a gating routing control or set of gating routing controls, evaluates as true, based on a rule configuration that you specify, which allows a set of routing control state changes to complete.</p> <p>For example, if you specify one gating routing control and you set the Type in the rule configuration to OR, that indicates that you must set the gating routing control to On for the rule to evaluate as true; that is, for the gating control \"switch\" to be \"On\". When you do that, then you can update the routing control states for the target routing controls that you specify in the gating rule.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#GatingRuleUpdate": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name for the gating rule. You can use any non-white space character in the name.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRuleArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the gating rule.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Update to a gating rule. You can update the name or the evaluation period (wait period). If you don't specify one of the items to update, the item is unchanged.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>500 response - InternalServiceError. Temporary service error. Retry the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecksRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecksResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of all Amazon Route 53 health checks associated with a specific routing control.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/routingcontrol/{RoutingControlArn}/associatedRoute53HealthChecks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "HealthCheckIds",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecksRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycontrolconfig#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecksResponse": {
      "type": "structure",
      "members": {
        "HealthCheckIds": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMax36PatternS",
          "traits": {
            "smithy.api#documentation": "<p>Identifiers for the health checks.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max8096PatternS",
          "traits": {
            "smithy.api#documentation": "<p>Next token for listing health checks.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of all the clusters in an account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/cluster",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Clusters",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListClustersRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycontrolconfig#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListClustersResponse": {
      "type": "structure",
      "members": {
        "Clusters": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOfCluster",
          "traits": {
            "smithy.api#documentation": "<p>An array of the clusters in an account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max8096PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListControlPanels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListControlPanelsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListControlPanelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of control panels in an account or in a cluster.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controlpanels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ControlPanels",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListControlPanelsRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a cluster.</p>",
            "smithy.api#httpQuery": "ClusterArn"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycontrolconfig#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListControlPanelsResponse": {
      "type": "structure",
      "members": {
        "ControlPanels": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOfControlPanel",
          "traits": {
            "smithy.api#documentation": "<p>The result of a successful ListControlPanel request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max8096PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListRoutingControls": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListRoutingControlsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListRoutingControlsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an array of routing controls for a control panel. A routing control is an Amazon Route 53 Application Recovery Controller construct that has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control routing.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controlpanel/{ControlPanelArn}/routingcontrols",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "RoutingControls",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListRoutingControlsRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycontrolconfig#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListRoutingControlsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max8096PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>"
          }
        },
        "RoutingControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOfRoutingControl",
          "traits": {
            "smithy.api#documentation": "<p>An array of routing controls.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListSafetyRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListSafetyRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListSafetyRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List the safety rules (the assertion rules and gating rules) that you've defined for the routing controls in a control panel.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/controlpanel/{ControlPanelArn}/safetyrules",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "SafetyRules",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListSafetyRulesRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycontrolconfig#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of objects that you want to return with this call.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListSafetyRulesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max8096PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The token that identifies which batch of results you want to see.</p>"
          }
        },
        "SafetyRules": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOfRule",
          "traits": {
            "smithy.api#documentation": "<p>The list of safety rules in a control panel.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycontrolconfig#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for a resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the resource that's tagged.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__mapOf__stringMin0Max256PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#NewAssertionRule": {
      "type": "structure",
      "members": {
        "AssertedControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The routing controls that are part of transactions that are evaluated to determine if a request to change a routing control state is allowed. For example, you might include three routing controls, one for each of three Amazon Web Services Regions.</p>",
            "smithy.api#required": {}
          }
        },
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assertion rule. You can use any non-white space character in the name.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleConfig": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RuleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The criteria that you set for specific assertion controls (routing controls) that designate how many control states must be ON as the result of a transaction. For example, if you have three assertion controls, you might specify ATLEAST 2 for your rule configuration. This means that at least two assertion controls must be ON, so that at least two Amazon Web Services Regions have traffic flowing to them.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A new assertion rule for a control panel.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#NewGatingRule": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel.</p>",
            "smithy.api#required": {}
          }
        },
        "GatingControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The gating controls for the new gating rule. That is, routing controls that are evaluated by the rule configuration that you specify.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new gating rule.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleConfig": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RuleConfig",
          "traits": {
            "smithy.api#documentation": "<p>The criteria that you set for specific gating controls (routing controls) that designate how many control states must be ON to allow you to change (set or unset) the target control states.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetControls": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__listOf__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>Routing controls that can only be set or unset if the specified RuleConfig evaluates to true for the specified GatingControls. For example, say you have three gating controls, one for each of three Amazon Web Services Regions. Now you specify ATLEAST 2 as your RuleConfig. With these settings, you can only change (set or unset) the routing controls that you have specified as TargetControls if that rule evaluates to true.</p> <p>In other words, your ability to change the routing controls that you have specified as TargetControls is gated by the rule that you set for the routing controls in GatingControls.</p>",
            "smithy.api#required": {}
          }
        },
        "WaitPeriodMs": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An evaluation period, in milliseconds (ms), during which any request against the target routing controls will fail. This helps prevent \"flapping\" of state. The wait period is 5000 ms by default, but you can choose a custom value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A new gating rule for a control panel.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__string",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>404 response - MalformedQueryString. The query string contains a syntax error or resource not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#Route53RecoveryControlConfig": {
      "type": "service",
      "version": "2020-11-02",
      "operations": [
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#CreateCluster"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#CreateControlPanel"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#CreateRoutingControl"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#CreateSafetyRule"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DeleteCluster"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DeleteControlPanel"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DeleteRoutingControl"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DeleteSafetyRule"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DescribeCluster"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DescribeControlPanel"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DescribeRoutingControl"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#DescribeSafetyRule"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListAssociatedRoute53HealthChecks"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListClusters"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListControlPanels"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListRoutingControls"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListSafetyRules"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#TagResource"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#UntagResource"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#UpdateControlPanel"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#UpdateRoutingControl"
        },
        {
          "target": "com.amazonaws.route53recoverycontrolconfig#UpdateSafetyRule"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Route53 Recovery Control Config",
          "arnNamespace": "route53-recovery-control-config",
          "cloudFormationName": "Route53RecoveryControlConfig",
          "cloudTrailEventSource": "route53recoverycontrolconfig.amazonaws.com",
          "endpointPrefix": "route53-recovery-control-config"
        },
        "aws.auth#sigv4": {
          "name": "route53-recovery-control-config"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Recovery Control Configuration API Reference for Amazon Route 53 Application Recovery Controller</p>",
        "smithy.api#title": "AWS Route53 Recovery Control Config",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://route53-recovery-control-config-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://route53-recovery-control-config-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://route53-recovery-control-config.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://route53-recovery-control-config.us-west-2.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-west-2",
                              "signingName": "route53-recovery-control-config"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://route53-recovery-control-config.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-west-2",
                        "name": "sigv4",
                        "signingName": "route53-recovery-control-config"
                      }
                    ]
                  },
                  "url": "https://route53-recovery-control-config.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "aws-global"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#RoutingControl": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel that includes the routing control.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max64PatternS",
          "traits": {
            "smithy.api#documentation": "<p>The name of the routing control.</p>"
          }
        },
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__stringMin1Max256PatternAZaZ09",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53recoverycontrolconfig#Status",
          "traits": {
            "smithy.api#documentation": "<p>The deployment status of a routing control. Status can be one of the following: PENDING, DEPLOYED, PENDING_DELETION.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A routing control has one of two states: ON and OFF. You can map the routing control state to the state of an Amazon Route 53 health check, which can be used to control traffic routing.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#Rule": {
      "type": "structure",
      "members": {
        "ASSERTION": {
          "target": "com.amazonaws.route53recoverycontrolconfig#AssertionRule",
          "traits": {
            "smithy.api#documentation": "<p>An assertion rule enforces that, when a routing control state is changed, the criteria set by the rule configuration is met. Otherwise, the change to the routing control state is not accepted. For example, the criteria might be that at least one routing control state is On after the transaction so that traffic continues to flow to at least one cell for the application. This ensures that you avoid a fail-open scenario.</p>"
          }
        },
        "GATING": {
          "target": "com.amazonaws.route53recoverycontrolconfig#GatingRule",
          "traits": {
            "smithy.api#documentation": "<p>A gating rule verifies that a gating routing control or set of gating routing controls, evaluates as true, based on a rule configuration that you specify, which allows a set of routing control state changes to complete.</p> <p>For example, if you specify one gating routing control and you set the Type in the rule configuration to OR, that indicates that you must set the gating routing control to On for the rule to evaluate as true; that is, for the gating control \"switch\" to be \"On\". When you do that, then you can update the routing control states for the target routing controls that you specify in the gating rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A safety rule. A safety rule can be an assertion rule or a gating rule.</p>"
      }
    },
    "com.amazonaws.route53recoverycontrolconfig#RuleConfig": {
      "type": "structure",
      "members": {
        "Inverted": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Logical negation of the rule. If the rule would usually evaluate true, it's evaluated as false, and vice versa.</p>",
            "smithy.api#required": {}
          }
        },
        "Threshold": {
          "target": "com.amazonaws.route53recoverycontrolconfig#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The value of N, when you specify an ATLEAST rule type. That is, Threshold is the number of controls that must be set when you specify an ATLEAST type.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.route53recoverycontrolconfig#RuleType",
          "traits": {
            "smithy.api#documentation": "<p>A rule can be one of the following: ATLEAST, AND, or OR.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
