{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.route53globalresolver#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform this operation. Check your IAM permissions and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.route53globalresolver#AccessSource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId"
        }
      },
      "properties": {
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn"
        },
        "cidr": {
          "target": "com.amazonaws.route53globalresolver#Cidr"
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken"
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString"
        },
        "ipAddressType": {
          "target": "com.amazonaws.route53globalresolver#IpAddressType"
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort"
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId"
        },
        "protocol": {
          "target": "com.amazonaws.route53globalresolver#DnsProtocol"
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus"
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString"
        }
      },
      "create": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessSource"
      },
      "read": {
        "target": "com.amazonaws.route53globalresolver#GetAccessSource"
      },
      "update": {
        "target": "com.amazonaws.route53globalresolver#UpdateAccessSource"
      },
      "delete": {
        "target": "com.amazonaws.route53globalresolver#DeleteAccessSource"
      },
      "list": {
        "target": "com.amazonaws.route53globalresolver#ListAccessSources"
      },
      "traits": {
        "aws.api#arn": {
          "template": "access-source/{id}",
          "noRegion": true
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "access-source",
          "relativeDocumentation": "API_route53globalresolver_AccessSource.html"
        },
        "smithy.api#documentation": "Represents a Route 53 Global Resolver access source that permits access to a global resolver by specifying source IP CIDR ranges and DNS protocols"
      }
    },
    "com.amazonaws.route53globalresolver#AccessSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#AccessSourcesItem"
      }
    },
    "com.amazonaws.route53globalresolver#AccessSourcesItem": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "com.amazonaws.route53globalresolver#Cidr",
          "traits": {
            "smithy.api#documentation": "<p>The CIDR block that defines the IP address range for the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access source was created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.route53globalresolver#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The IP address type of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access source.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view that the access source is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.route53globalresolver#DnsProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol used by the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access source was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an access source.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#AccessToken": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId"
        }
      },
      "properties": {
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn"
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken"
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString"
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId"
        },
        "expiresAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString"
        },
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId"
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort"
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#TokenStatus"
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString"
        },
        "value": {
          "target": "com.amazonaws.route53globalresolver#AccessTokenValue"
        }
      },
      "create": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessToken"
      },
      "read": {
        "target": "com.amazonaws.route53globalresolver#GetAccessToken"
      },
      "update": {
        "target": "com.amazonaws.route53globalresolver#UpdateAccessToken"
      },
      "delete": {
        "target": "com.amazonaws.route53globalresolver#DeleteAccessToken"
      },
      "list": {
        "target": "com.amazonaws.route53globalresolver#ListAccessTokens"
      },
      "traits": {
        "aws.api#arn": {
          "template": "access-token/{id}",
          "noRegion": true
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "access-token",
          "relativeDocumentation": "API_route53globalresolver_AccessToken.html"
        },
        "smithy.api#documentation": "Represents a Route 53 Global Resolver access token that permits secure authentication to global resolver by an encrypted and time-limited token"
      }
    },
    "com.amazonaws.route53globalresolver#AccessTokenItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the token.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the token.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the token was created.</p>",
            "smithy.api#required": {}
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with the token.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the token expires.</p>",
            "smithy.api#required": {}
          }
        },
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the global resolver associated with the token.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>The name of the token.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#TokenStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the token.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the token was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a token.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#AccessTokenValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.route53globalresolver#AccessTokens": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#AccessTokenItem"
      }
    },
    "com.amazonaws.route53globalresolver#AssociateHostedZone": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#AssociateHostedZoneInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#AssociateHostedZoneOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to associate a resource to a hosted zone"
        },
        "smithy.api#documentation": "<p>Associates a Route 53 private hosted zone with a Route 53 Global Resolver resource. This allows the resolver to resolve DNS queries for the private hosted zone from anywhere globally.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/hosted-zone-associations/{hostedZoneId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#AssociateHostedZoneInput": {
      "type": "structure",
      "members": {
        "hostedZoneId": {
          "target": "com.amazonaws.route53globalresolver#HostedZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Route 53 private hosted zone to associate with the Route 53 Global Resolver resource.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) of the Route 53 Global Resolver the private hosted zone will be associated to.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Name for the private hosted zone association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#AssociateHostedZoneOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the association.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) of the Route 53 Global Resolver the private hosted zone is associated to.</p>",
            "smithy.api#required": {}
          }
        },
        "hostedZoneId": {
          "target": "com.amazonaws.route53globalresolver#HostedZoneId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the private hosted zone.</p>",
            "smithy.api#required": {}
          }
        },
        "hostedZoneName": {
          "target": "com.amazonaws.route53globalresolver#HostedZoneName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the hosted zone (also the domain associated with the hosted zone).</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Name for the private hosted zone association.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the private hosted zone association was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the private hosted zone association was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#HostedZoneAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Aggregate status for all the AWS Regions in which the Route 53 Global Resolver exists.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create multiple firewall rules"
        },
        "smithy.api#documentation": "<p>Creates multiple DNS firewall rules in a single operation. This is more efficient than creating rules individually when you need to set up multiple rules at once.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/firewall-rules/batch-create",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInput": {
      "type": "structure",
      "members": {
        "firewallRules": {
          "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInputItems",
          "traits": {
            "smithy.api#documentation": "<p>The <code>BatchCreateFirewallRuleInputItem</code> objects contain the information for each Firewall rule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInputItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take when a DNS query matches the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record type for the custom response when the action is BLOCK.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name for the BLOCK response.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The TTL value for the custom response when the action is BLOCK.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The type of block response to return when the action is BLOCK.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and ensures idempotency.</p>",
            "smithy.api#required": {}
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold for advanced threat detection.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable advanced DNS threat protection for the firewall rule.</p>"
          }
        },
        "firewallDomainListId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall domain list to associate with the rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the firewall rule.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view to associate the firewall rule with.</p>",
            "smithy.api#required": {}
          }
        },
        "qType": {
          "target": "com.amazonaws.route53globalresolver#DnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS query type that the firewall rule should match.</p>",
            "smithy.api#property": {
              "name": "queryType"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a DNS Firewall rule to create in a batch operation.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleInputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutput": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that failed to create.</p>",
            "smithy.api#required": {}
          }
        },
        "successes": {
          "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that were created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutputItem": {
      "type": "structure",
      "members": {
        "firewallRule": {
          "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleResult",
          "traits": {
            "smithy.api#documentation": "<p>The firewall rule that was created in the batch operation.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP response code for the batch operation result.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the result of the batch operation, including error details if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the result of creating a DNS Firewall rule in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleOutputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchCreateFirewallRuleResult": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action configured for the created firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record type configured for the created firewall rule's custom response.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name configured for the created firewall rule's BLOCK response.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The TTL value configured for the created firewall rule's custom response.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The type of block response configured for the created firewall rule.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique string that identified the request and ensured idempotency.</p>",
            "smithy.api#required": {}
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold configured for the created firewall rule's advanced threat detection.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the created firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether advanced DNS threat protection is enabled for the created firewall rule.</p>"
          }
        },
        "firewallDomainListId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall domain list associated with the created firewall rule.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created firewall rule.</p>"
          }
        },
        "managedDomainListName": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed domain list associated with the created firewall rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the created firewall rule.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with the created firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "queryType": {
          "target": "com.amazonaws.route53globalresolver#DnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS query type that the created firewall rule matches.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the created firewall rule.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of creating a firewall rule in a batch operation.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          },
          {
            "resource": "com.amazonaws.route53globalresolver#FirewallDomainList",
            "ids": {
              "id": "firewallDomainListId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to delete multiple firewall rules"
        },
        "smithy.api#documentation": "<p>Deletes multiple DNS firewall rules in a single operation. This is more efficient than deleting rules individually.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/firewall-rules/batch-delete",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInput": {
      "type": "structure",
      "members": {
        "firewallRules": {
          "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInputItems",
          "traits": {
            "smithy.api#documentation": "<p>An array of the DNS Firewall IDs to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInputItem": {
      "type": "structure",
      "members": {
        "firewallRuleId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS Firewall rule to delete.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a DNS Firewall rule to delete in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleInputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutput": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that failed to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "successes": {
          "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that were deleted successfully.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutputItem": {
      "type": "structure",
      "members": {
        "firewallRule": {
          "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleResult",
          "traits": {
            "smithy.api#documentation": "<p>The firewall rule that was deleted in the batch operation.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The response code for the delete operation.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The response message for the delete operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of deleting a firewall rule in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleOutputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchDeleteFirewallRuleResult": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique string that identified the request and ensured idempotency.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the deleted firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted firewall rule.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The final status of the deleted firewall rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a firewall rule that was deleted in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to update multiple firewall rules"
        },
        "smithy.api#documentation": "<p>Updates multiple DNS firewall rules in a single operation. This is more efficient than updating rules individually.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/firewall-rules/batch-update",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInput": {
      "type": "structure",
      "members": {
        "firewallRules": {
          "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInputItems",
          "traits": {
            "smithy.api#documentation": "<p>The DNS Firewall rule IDs to be updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInputItem": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take when a DNS query matches the firewall rule.</p>"
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record type for the custom response when the action is BLOCK.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name for the BLOCK response.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The TTL value for the custom response when the action is BLOCK.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The type of block response to return when the action is BLOCK.</p>"
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold for advanced threat detection.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable advanced DNS threat protection for the firewall rule.</p>"
          }
        },
        "firewallRuleId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule to update.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "id"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the firewall rule.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the firewall rule.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information for updating a firewall rule in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleInputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutput": {
      "type": "structure",
      "members": {
        "failures": {
          "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that failed to update.</p>",
            "smithy.api#required": {}
          }
        },
        "successes": {
          "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutputItems",
          "traits": {
            "smithy.api#documentation": "<p>High level information about the DNS Firewall rules that were successfully updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutputItem": {
      "type": "structure",
      "members": {
        "firewallRule": {
          "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleResult",
          "traits": {
            "smithy.api#documentation": "<p>The firewall rule that was updated in the batch operation.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The response code for the update operation.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The response message for the update operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of updating a firewall rule in a batch operation.</p>"
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutputItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleOutputItem"
      }
    },
    "com.amazonaws.route53globalresolver#BatchUpdateFirewallRuleResult": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action configured for the updated firewall rule.</p>"
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record type configured for the updated firewall rule's custom response.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain name configured for the updated firewall rule's BLOCK response.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The TTL value configured for the updated firewall rule's custom response.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The type of block response configured for the updated firewall rule.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique string that identified the request and ensured idempotency.</p>"
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold configured for the updated firewall rule's advanced threat detection.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was originally created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the updated firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether advanced DNS threat protection is enabled for the updated firewall rule.</p>"
          }
        },
        "firewallDomainListId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall domain list associated with the updated firewall rule.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the updated firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the updated firewall rule.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the updated firewall rule.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with the updated firewall rule.</p>"
          }
        },
        "queryType": {
          "target": "com.amazonaws.route53globalresolver#DnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS query type that the updated firewall rule matches.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the updated firewall rule.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a firewall rule that was updated in a batch operation.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          },
          {
            "resource": "com.amazonaws.route53globalresolver#FirewallDomainList",
            "ids": {
              "id": "firewallDomainListId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType": {
      "type": "enum",
      "members": {
        "CNAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CNAME"
          }
        }
      }
    },
    "com.amazonaws.route53globalresolver#BlockOverrideTtl": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 604800
        }
      }
    },
    "com.amazonaws.route53globalresolver#CRResourceStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "OPERATIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPERATIONAL"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.route53globalresolver#Cidr": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 42
        }
      }
    },
    "com.amazonaws.route53globalresolver#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53globalresolver#ConfidenceThreshold": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      }
    },
    "com.amazonaws.route53globalresolver#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the conflicting resource.</p>"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the conflicting resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request conflicts with the current state of the resource. This can occur when trying to modify a resource that is not in a valid state for the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessSourceInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessSourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an access source"
        },
        "smithy.api#documentation": "<p>Creates an access source for a DNS view. Access sources define IP addresses or CIDR ranges that are allowed to send DNS queries to the Route 53 Global Resolver, along with the permitted DNS protocols.</p>",
        "smithy.api#examples": [
          {
            "title": "CreateAccessSource example",
            "input": {
              "cidr": "85.90.183.3/30",
              "clientToken": "9fas9-9usdfa-xbi8-kco",
              "dnsViewId": "dnsv-123456789",
              "ipAddressType": "IPV4",
              "name": "My Access Source",
              "protocol": "DO53",
              "tags": {
                "Key1": "Value1"
              }
            },
            "output": {
              "arn": "arn:aws:route53globalresolver::123456789012:access-source/as-823as9d9831",
              "cidr": "85.90.183.3/30",
              "createdAt": "2025-10-16T14:07:45.934184715Z",
              "dnsViewId": "dnsv-123456789",
              "id": "as-123456789",
              "ipAddressType": "IPV4",
              "name": "My Access Source",
              "protocol": "DO53",
              "status": "CREATING",
              "updatedAt": "2025-10-16T14:07:45.934184715Z"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/access-sources",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessSourceInput": {
      "type": "structure",
      "members": {
        "cidr": {
          "target": "com.amazonaws.route53globalresolver#Cidr",
          "traits": {
            "smithy.api#documentation": "<p>The IP address or CIDR range that is allowed to send DNS queries to the Route 53 Global Resolver.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and ensures idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.route53globalresolver#IpAddressType",
          "traits": {
            "smithy.api#default": "IPV4",
            "smithy.api#documentation": "<p>The IP address type for this access source. Valid values are IPv4 and IPv6 (if the Route 53 Global Resolver supports dual-stack).</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the access source.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view to associate with this access source.</p>",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.route53globalresolver#DnsProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The DNS protocol that is permitted for this access source. Valid values are Do53 (DNS over port 53), DoT (DNS over TLS), and DoH (DNS over HTTPS).</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.route53globalresolver#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the access source.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessSourceOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "cidr": {
          "target": "com.amazonaws.route53globalresolver#Cidr",
          "traits": {
            "smithy.api#documentation": "<p>The IP address or CIDR range that is allowed to send DNS queries to the Route 53 Global Resolver.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access source was created.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "ipAddressType": {
          "target": "com.amazonaws.route53globalresolver#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The IP address type for this access source (IPv4 or IPv6).</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the access source.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with this access source.</p>",
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.route53globalresolver#DnsProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The DNS protocol that is permitted for this access source (Do53, DoT, or DoH).</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operational status of the access source.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access source was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessTokenInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateAccessTokenOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create an access token"
        },
        "smithy.api#documentation": "<p>Creates an access token for a DNS view. Access tokens provide token-based authentication for DNS-over-HTTPS (DoH) and DNS-over-TLS (DoT) connections to the Route 53 Global Resolver.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tokens/{dnsViewId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessTokenInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency. This means that making the same request multiple times with the same <code>clientToken</code> has the same result every time.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view to associate with this token.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the token expires. Tokens can have a minimum expiration of 30 days and maximum of 365 days from creation.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the access token.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.route53globalresolver#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of user-defined keys and optional values. These tags can be used for categorization and organization.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateAccessTokenOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the access token.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the access token.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique string that identifies the request and ensures idempotency.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access token was created.</p>",
            "smithy.api#required": {}
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with this access token.</p>",
            "smithy.api#required": {}
          }
        },
        "expiresAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the access token expires.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceNameShort",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access token.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#TokenStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operational status of the access token.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.route53globalresolver#AccessTokenValue",
          "traits": {
            "smithy.api#documentation": "<p>The access token value. This token should be included in DoH and DoT requests for authentication. Keep this value secure as it provides access to your Route 53 Global Resolver.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateDNSView": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateDNSViewInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateDNSViewOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a dns view"
        },
        "smithy.api#documentation": "<p>Creates a DNS view within a Route 53 Global Resolver. A DNS view models end users, user groups, networks, and devices, and serves as a parent resource that holds configurations controlling access, authorization, DNS firewall rules, and forwarding rules.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dns-views/{globalResolverId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateDNSViewInput": {
      "type": "structure",
      "members": {
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Route 53 Global Resolver to associate with this DNS view.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and ensures idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "dnssecValidation": {
          "target": "com.amazonaws.route53globalresolver#DnsSecValidationType",
          "traits": {
            "smithy.api#default": "DISABLED",
            "smithy.api#documentation": "<p>Whether to enable DNSSEC validation for DNS queries in this DNS view. When enabled, the resolver verifies the authenticity and integrity of DNS responses from public name servers for DNSSEC-signed domains.</p>"
          }
        },
        "ednsClientSubnet": {
          "target": "com.amazonaws.route53globalresolver#EdnsClientSubnetType",
          "traits": {
            "smithy.api#default": "DISABLED",
            "smithy.api#documentation": "<p>Whether to enable EDNS Client Subnet injection for DNS queries in this DNS view. When enabled, client subnet information is forwarded to provide more accurate geographic-based DNS responses.</p>"
          }
        },
        "firewallRulesFailOpen": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulesFailOpenType",
          "traits": {
            "smithy.api#default": "DISABLED",
            "smithy.api#documentation": "<p>Determines the behavior when Route 53 Global Resolver cannot apply DNS firewall rules due to service impairment. When enabled, DNS queries are allowed through; when disabled, queries are blocked.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the DNS view.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.route53globalresolver#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the DNS view.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateDNSViewOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The unique string that identifies the request and ensures idempotency.</p>"
          }
        },
        "dnssecValidation": {
          "target": "com.amazonaws.route53globalresolver#DnsSecValidationType",
          "traits": {
            "smithy.api#documentation": "<p>Whether DNSSEC validation is enabled for DNS queries in this DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "ednsClientSubnet": {
          "target": "com.amazonaws.route53globalresolver#EdnsClientSubnetType",
          "traits": {
            "smithy.api#documentation": "<p>Whether EDNS Client Subnet injection is enabled for DNS queries in this DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "firewallRulesFailOpen": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulesFailOpenType",
          "traits": {
            "smithy.api#documentation": "<p>The behavior when Route 53 Global Resolver cannot apply DNS firewall rules due to service impairment.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the DNS view.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the DNS view.</p>"
          }
        },
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Route 53 Global Resolver instance the DNS view is created for.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the DNS view was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the DNS view was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#ProfileResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operational status of the DNS view.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallDomainList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateFirewallDomainListInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateFirewallDomainListOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a firewall domain list"
        },
        "smithy.api#documentation": "<p>Creates a firewall domain list. Domain lists are reusable sets of domain specifications that you use in DNS firewall rules to allow, block, or alert on DNS queries to specific domains.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/firewall-domain-lists/{globalResolverId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallDomainListInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency. This means that making the same request multiple times with the same <code>clientToken</code> has the same result every time.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Route 53 Global Resolver that the domain list will be associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the firewall domain list.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the firewall domain list.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.route53globalresolver#Tags",
          "traits": {
            "smithy.api#documentation": "<p>An array of user-defined keys and optional values. These tags can be used for categorization and organization.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallDomainListOutput": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Resource Name (ARN) for the domain list.</p>",
            "smithy.api#required": {}
          }
        },
        "globalResolverId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Route 53 Global Resolver that the domain list is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The time and date the domain list was created on.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Description for the domain list.</p>"
          }
        },
        "domainCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Number of domains in the domain list.</p>",
            "smithy.api#notProperty": {},
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the domain list.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain list.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Creation status of the domain list.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The time and date the domain list was updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateFirewallRuleInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateFirewallRuleOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a firewall rule"
        },
        "smithy.api#documentation": "<p>Creates a DNS firewall rule. Firewall rules define actions (ALLOW, BLOCK, or ALERT) to take on DNS queries that match specified domain lists, managed domain lists, or advanced threat protections.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/firewall-rules",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallRuleInput": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that DNS Firewall should take on a DNS query when it matches one of the domains in the rule's domain list:</p> <ul> <li> <p> <code>ALLOW</code> - Permit the request to go through.</p> </li> <li> <p> <code>ALERT</code> - Permit the request and send metrics and logs to CloudWatch.</p> </li> <li> <p> <code>BLOCK</code> - Disallow the request. This option requires additional details in the rule's <code>BlockResponse</code>.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record's type. This determines the format of the record value that you provided in <code>BlockOverrideDomain</code>. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom DNS record to send back in response to the query. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The recommended amount of time, in seconds, for the DNS resolver or web browser to cache the provided override record. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p> <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The response to return when the action is BLOCK. Valid values are NXDOMAIN (domain does not exist), NODATA (domain exists but no records), or OVERRIDE (return custom response).</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier to ensure idempotency. This means that making the same request multiple times with the same <code>clientToken</code> has the same result every time.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold for advanced threat detection. Valid values are HIGH, MEDIUM, or LOW, indicating the accuracy level required for threat detection.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether to enable advanced DNS threat protection for this rule. Advanced protection can detect and block DNS tunneling and Domain Generation Algorithm (DGA) threats.</p>"
          }
        },
        "firewallDomainListId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall domain list to use in this rule.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of this rule. Rules are evaluated in priority order, with lower numbers having higher priority. When a DNS query matches multiple rules, the rule with the highest priority (lowest number) is applied.</p>"
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view to associate with this firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "qType": {
          "target": "com.amazonaws.route53globalresolver#DnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS query type to match for this rule. Examples include A (IPv4 address), AAAA (IPv6 address), MX (mail exchange), or TXT (text record).</p>",
            "smithy.api#property": {
              "name": "queryType"
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#FirewallDomainList",
            "ids": {
              "id": "firewallDomainListId"
            }
          },
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#CreateFirewallRuleOutput": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.route53globalresolver#FirewallRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that DNS Firewall takes on DNS queries that match this rule.</p>",
            "smithy.api#required": {}
          }
        },
        "blockOverrideDnsType": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideDnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record type for the custom response when blockResponse is OVERRIDE.</p>"
          }
        },
        "blockOverrideDomain": {
          "target": "com.amazonaws.route53globalresolver#Domain",
          "traits": {
            "smithy.api#documentation": "<p>The custom domain to return when the action is BLOCK and blockResponse is OVERRIDE.</p>"
          }
        },
        "blockOverrideTtl": {
          "target": "com.amazonaws.route53globalresolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#documentation": "<p>The time-to-live (TTL) value for the custom response when blockResponse is OVERRIDE.</p>"
          }
        },
        "blockResponse": {
          "target": "com.amazonaws.route53globalresolver#FirewallBlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The response to return when the action is BLOCK.</p>"
          }
        },
        "confidenceThreshold": {
          "target": "com.amazonaws.route53globalresolver#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The confidence threshold for advanced threat detection.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was created.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the firewall rule.</p>"
          }
        },
        "dnsAdvancedProtection": {
          "target": "com.amazonaws.route53globalresolver#DnsAdvancedProtection",
          "traits": {
            "smithy.api#documentation": "<p>Whether advanced DNS threat protection is enabled for this rule.</p>"
          }
        },
        "firewallDomainListId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall domain list used in this rule.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.route53globalresolver#FirewallRulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "dnsViewId": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the DNS view associated with this firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "queryType": {
          "target": "com.amazonaws.route53globalresolver#DnsQueryType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS query type that this rule matches.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.route53globalresolver#CRResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The operational status of the firewall rule.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.route53globalresolver#ISO8601TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the firewall rule was last updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.route53globalresolver#FirewallDomainList",
            "ids": {
              "id": "firewallDomainListId"
            }
          },
          {
            "resource": "com.amazonaws.route53globalresolver#DNSView",
            "ids": {
              "id": "dnsViewId"
            }
          }
        ]
      }
    },
    "com.amazonaws.route53globalresolver#CreateGlobalResolver": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53globalresolver#CreateGlobalResolverInput"
      },
      "output": {
        "target": "com.amazonaws.route53globalresolver#CreateGlobalResolverOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53globalresolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53globalresolver#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a global resolver"
        },
        "smithy.api#documentation": "<p>Creates a new Route 53 Global Resolver instance. A Route 53 Global Resolver is a global, internet-accessible DNS resolver that provides secure DNS resolution for both public and private domains through global anycast IP addresses.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/global-resolver",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateGlobalResolverInput": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and ensures idempotency. If you make multiple requests with the same client token, only one Route 53 Global Resolver is created.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "description": {
          "target": "com.amazonaws.route53globalresolver#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the Route 53 Global Resolver instance. Maximum length of 1024 characters.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.route53globalresolver#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the Route 53 Global Resolver instance. Maximum length of 64 characters.</p>",
            "smithy.api#required": {}
          }
        },
        "observabilityRegion": {
          "target": "com.amazonaws.route53globalresolver#Region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region where query resolution logs and metrics will be aggregated and delivered. If not specified, logging is not enabled.</p>"
          }
        },
        "regions": {
          "target": "com.amazonaws.route53globalresolver#Regions",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS regions where the Route 53 Global Resolver will operate. The resolver will be distributed across these regions to provide global availability and low-latency DNS resolution.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.route53globalresolver#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to associate with the Route 53 Global Resolver. Tags are key-value pairs that help you organize and identify your resources.</p>",
            "smithy.api#notProperty": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.route53globalresolver#CreateGlobalResolverOutput": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.route53globalresolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Route 53 Global Resolver.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.route53globalresolver#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Route 53 Global Resolver.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.route53globalresolver#ClientToken",
          "traits": {
[...]
