{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53recoverycluster#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.route53recoverycluster#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z0-9:.\\/_-]*$"
      }
    },
    "com.amazonaws.route53recoverycluster#Arns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53recoverycluster#Arn"
      }
    },
    "com.amazonaws.route53recoverycluster#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "Description of the ConflictException error",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "Identifier of the resource in use",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "Type of the resource in use",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict with this request. Try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.route53recoverycluster#ControlPanelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.route53recoverycluster#EndpointTemporarilyUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cluster endpoint isn't available. Try another cluster endpoint.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.route53recoverycluster#GetRoutingControlState": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycluster#GetRoutingControlStateRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycluster#GetRoutingControlStateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycluster#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#EndpointTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get the state for a routing control. A routing control is a simple on/off switch that you\n\t\t\t\tcan use to route traffic to cells. When a routing control state is On, traffic flows to a cell. When\n\t\t\t\tthe state is Off, traffic does not flow. </p>\n\t\t\t      <p>Before you can create a routing control, you must first create a cluster, and then host the control\n\t\t\t\tin a control panel on the cluster. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.create.html\">\n\t\t\t\t\tCreate routing control structures</a> in the Amazon Route 53 Application Recovery Controller Developer Guide. \n\t\t\t\tYou access one of the endpoints for the cluster to get or update the routing control state to\n\t\t\t\tredirect traffic for your application. </p>\n\t\t\t      <p>\n            <i>You must specify Regional endpoints when you work with API cluster operations \n\t\t\t\tto get or update routing control states in Route 53 ARC.</i>\n         </p>\n\t\t\t      <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints\n\t\t\t\tin sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a>\n\t\t\t\tin the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n\t\t\t      <p>Learn more about working with routing controls in the following topics in the \n\t\t\t\tAmazon Route 53 Application Recovery Controller Developer Guide:</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\">\n\t\t\t\t\tViewing and updating routing control states</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with \n\t\t\t\t\trouting controls in Route 53 ARC</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53recoverycluster#GetRoutingControlStateRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the routing control that you want to get the state for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#GetRoutingControlStateResponse": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the response.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingControlState": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the routing control.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingControlName": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlName",
          "traits": {
            "smithy.api#documentation": "<p>The routing control name.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "com.amazonaws.route53recoverycluster#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was an unexpected error during processing of the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.route53recoverycluster#ListRoutingControls": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycluster#ListRoutingControlsRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycluster#ListRoutingControlsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycluster#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#EndpointTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>List routing control names and Amazon Resource Names (ARNs), as well as the routing control \n\t\t\tstate for each routing control, along with the control panel name and control panel ARN for the routing controls.\n\t\t\tIf you specify a control panel ARN, this call lists the routing controls in the control panel. Otherwise, it lists\n\t\t\tall the routing controls in the cluster.</p>\n\t\t       <p>A routing control is a simple on/off switch in Route 53 ARC that you\n\t\t\tcan use to route traffic to cells. When a routing control state is On, traffic flows to a cell. When\n\t\t\tthe state is Off, traffic does not flow.</p>\n\t\t       <p>Before you can create a routing control, you must first create a cluster, and then host the control\n\t\t\tin a control panel on the cluster. For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.create.html\">\n\t\t\t\tCreate routing control structures</a> in the Amazon Route 53 Application Recovery Controller Developer Guide. \n\t\t\tYou access one of the endpoints for the cluster to get or update the routing control state to\n\t\t\tredirect traffic for your application. </p>\n\t\t       <p>\n            <i>You must specify Regional endpoints when you work with API cluster operations \n\t\t\tto use this API operation to list routing controls in Route 53 ARC.</i>\n         </p>\n\t\t       <p>Learn more about working with routing controls in the following topics in the \n\t\t\tAmazon Route 53 Application Recovery Controller Developer Guide:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\">\n\t\t\t\tViewing and updating routing control states</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with \n\t\t\t\trouting controls in Route 53 ARC</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.route53recoverycluster#ListRoutingControlsRequest": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel of the routing controls to list.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycluster#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.route53recoverycluster#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of routing controls objects that you want to return with this call. The default value is 500.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#ListRoutingControlsResponse": {
      "type": "structure",
      "members": {
        "RoutingControls": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControls",
          "traits": {
            "smithy.api#documentation": "<p>The list of routing controls.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.route53recoverycluster#PageToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of results. You receive this token from a previous call.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.route53recoverycluster#PageToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8096
        },
        "smithy.api#pattern": "^[\\S]*$"
      }
    },
    "com.amazonaws.route53recoverycluster#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "Hypothetical resource identifier that was not found",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "Hypothetical resource type that was not found",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request references a routing control or control panel that was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.route53recoverycluster#RetryAfterSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#documentation": "Advice to clients on when the call can be safely retried"
      }
    },
    "com.amazonaws.route53recoverycluster#RoutingControl": {
      "type": "structure",
      "members": {
        "ControlPanelArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the control panel where the routing control is located.</p>"
          }
        },
        "ControlPanelName": {
          "target": "com.amazonaws.route53recoverycluster#ControlPanelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the control panel where the routing control is located.</p>"
          }
        },
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the routing control.</p>"
          }
        },
        "RoutingControlName": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the routing control.</p>"
          }
        },
        "RoutingControlState": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the routing control. When a routing control state is On, traffic flows to a cell. When\n\t\t\tthe state is Off, traffic does not flow. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A routing control, which is a simple on/off switch that you\n\t\t\tcan use to route traffic to cells. When a routing control state is On, traffic flows to a cell. When\n\t\t\tthe state is Off, traffic does not flow. </p>"
      }
    },
    "com.amazonaws.route53recoverycluster#RoutingControlName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.route53recoverycluster#RoutingControlState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "On",
            "name": "On"
          },
          {
            "value": "Off",
            "name": "Off"
          }
        ]
      }
    },
    "com.amazonaws.route53recoverycluster#RoutingControls": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53recoverycluster#RoutingControl"
      }
    },
    "com.amazonaws.route53recoverycluster#ServiceLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource identifier of the limit that was exceeded.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>The resource type of the limit that was exceeded.</p>"
          }
        },
        "limitCode": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>The code of the limit that was exceeded.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>The service code of the limit that was exceeded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request can't update that many routing control states at the same time. Try again with fewer routing control states.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.route53recoverycluster#String": {
      "type": "string"
    },
    "com.amazonaws.route53recoverycluster#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "com.amazonaws.route53recoverycluster#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because of request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.route53recoverycluster#ToggleCustomerAPI": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.route53recoverycluster#GetRoutingControlState"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ListRoutingControls"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlState"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStates"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Route53 Recovery Cluster",
          "arnNamespace": "route53-recovery-cluster",
          "cloudFormationName": "Route53RecoveryCluster",
          "cloudTrailEventSource": "route53recoverycluster.amazonaws.com",
          "endpointPrefix": "route53-recovery-cluster"
        },
        "aws.auth#sigv4": {
          "name": "route53-recovery-cluster"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Welcome to the Routing Control (Recovery Cluster) API Reference Guide for Amazon Route 53 Application Recovery Controller.</p>\n\t\t\t      <p>With Route 53 ARC, you can use routing control with extreme reliability to\n\t\t\trecover applications by rerouting traffic across\n\t\t\tAvailability Zones or Amazon Web Services Regions. Routing controls are simple on/off switches hosted\n\t\t\ton a highly available cluster in Route 53 ARC. A cluster provides a set of five redundant Regional endpoints against which you\n\t\t\tcan run API calls to get or update the state of routing controls. To implement failover, you set \n\t\t\tone routing control On and another one Off, to reroute traffic from one Availability Zone or Amazon Web Services Region \n\t\t\tto another. </p>\n\t\t\t      <p>\n            <i>Be aware that you must specify a Regional endpoint for a cluster when you work with API cluster operations \n\t\t\t\tto get or update routing control states in Route 53 ARC.</i> In addition, you must specify the US West (Oregon) Region \n\t\t\t\tfor Route 53 ARC API calls. For example, use the parameter <code>--region us-west-2</code> with AWS CLI commands.\n\t\t\t\tFor more information, see\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.api.html\">\n\t\t\t\t\tGet and update routing control states using the API</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n\t\t       <p>This API guide includes information about the API operations for how to get and update routing control states\n\t\t\tin Route 53 ARC. To work with routing control in Route 53 ARC, you must first create the required components (clusters, control \n\t\t\tpanels, and routing controls) using the recovery cluster configuration API.</p>\n\t\t\t      <p>For more information about working with routing control in Route 53 ARC, see the following:</p>\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>Create clusters, control panels, and routing controls by using API operations. For more information, \n\t\t\t\t\tsee the <a href=\"https://docs.aws.amazon.com/recovery-cluster/latest/api/\">Recovery Control Configuration API Reference Guide for Amazon Route 53 Application Recovery Controller</a>.</p>\n\t\t\t         </li>\n            <li>\n               <p>Learn about the components in recovery control, including clusters,\n\t\t\t\trouting controls, and control panels, and how to work with Route 53 ARC in the Amazon Web Services console. For more \n\t\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/introduction-components.html#introduction-components-routing\">\n\t\t\t\t\tRecovery control components</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n            </li>\n            <li>\n\t\t\t\t           <p>Route 53 ARC also provides readiness checks that continually audit resources to help make sure that your\n\t\t\t\t\tapplications are scaled and ready to handle failover traffic. For more information about\n\t\t\t\t\tthe related API operations, see the <a href=\"https://docs.aws.amazon.com/recovery-readiness/latest/api/\">Recovery Readiness API Reference Guide for Amazon Route 53 Application Recovery Controller</a>.</p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>For more information about creating resilient applications and preparing for\n\t\t\t\t\trecovery readiness with Route 53 ARC, see the <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/\">Amazon Route 53 Application Recovery Controller Developer Guide</a>.</p>\n\t\t\t         </li>\n         </ul>",
        "smithy.api#title": "Route53 Recovery Cluster",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://route53-recovery-cluster-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://route53-recovery-cluster-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://route53-recovery-cluster.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://route53-recovery-cluster.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlState": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycluster#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#EndpointTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Set the state of the routing control to reroute traffic. You can set the value to be On or\n\t\t\tOff. When the state is On, traffic flows to a cell. When the state is Off, traffic does not\n\t\t\tflow.</p>\n\t\t\t      <p>With Route 53 ARC, you can add safety rules for routing controls, which are safeguards for routing \n\t\t\t\tcontrol state updates that help prevent unexpected outcomes, like fail open traffic routing. However, \n\t\t\t\tthere are scenarios when you might want to bypass the routing control safeguards that are enforced with \n\t\t\t\tsafety rules that you've configured. For example, you might want to fail over quickly for disaster recovery, \n\t\t\t\tand one or more safety rules might be unexpectedly preventing you from updating a routing control state to \n\t\t\t\treroute traffic. In a \"break glass\" scenario like this, you can override one or more safety rules to change \n\t\t\t\ta routing control state and fail over your application.</p>\n\t\t\t      <p>The <code>SafetyRulesToOverride</code> property enables you override one or more safety rules and \n\t\t\t\tupdate routing control states. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\">\n\t\t\t\t\tOverride safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n\t\t\t      <p>\n            <i>You must specify Regional endpoints when you work with API cluster operations \n\t\t\t\tto get or update routing control states in Route 53 ARC.</i>\n         </p>\n\t\t\t      <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints\n\t\t\t\tin sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a>\n\t\t\t\tin the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\">\n\t\t\t\t\tViewing and updating routing control states</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with routing controls overall</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateEntry"
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateEntry": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for a routing control state entry.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingControlState": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlState",
          "traits": {
            "smithy.api#documentation": "<p>The routing control state in a set of routing control state entries.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A routing control state entry.</p>"
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateRequest": {
      "type": "structure",
      "members": {
        "RoutingControlArn": {
          "target": "com.amazonaws.route53recoverycluster#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the routing control that you want to update the state for.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingControlState": {
          "target": "com.amazonaws.route53recoverycluster#RoutingControlState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the routing control. You can set the value to be On or Off.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRulesToOverride": {
          "target": "com.amazonaws.route53recoverycluster#Arns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) for the safety rules that you want to override when you're updating the state of\n\t\t\ta routing control. You can override one safety rule or multiple safety rules by including one or more ARNs, separated \n\t\t\tby commas.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\">\n\t\t\tOverride safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStatesRequest"
      },
      "output": {
        "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53recoverycluster#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ConflictException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#EndpointTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#InternalServerException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ServiceLimitExceededException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53recoverycluster#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Set multiple routing control states. You can set the value for each state to be On or Off.\n\t\t\tWhen the state is On, traffic flows to a cell. When it's Off, traffic does not\n\t\t\tflow.</p>\n\t\t\t      <p>With Route 53 ARC, you can add safety rules for routing controls, which are safeguards for routing \n\t\t\t\tcontrol state updates that help prevent unexpected outcomes, like fail open traffic routing. However, \n\t\t\t\tthere are scenarios when you might want to bypass the routing control safeguards that are enforced with \n\t\t\t\tsafety rules that you've configured. For example, you might want to fail over quickly for disaster recovery, \n\t\t\t\tand one or more safety rules might be unexpectedly preventing you from updating a routing control state to \n\t\t\t\treroute traffic. In a \"break glass\" scenario like this, you can override one or more safety rules to change \n\t\t\t\ta routing control state and fail over your application.</p>\n\t\t\t      <p>The <code>SafetyRulesToOverride</code> property enables you override one or more safety rules and \n\t\t\t\tupdate routing control states. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\">\n\t\t\t\t\tOverride safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\t\t\t\n         <p>\n            <i>You must specify Regional endpoints when you work with API cluster operations \n\t\t\t\tto get or update routing control states in Route 53 ARC.</i>\n         </p>\n\t\t\t      <p>To see a code example for getting a routing control state, including accessing Regional cluster endpoints\n\t\t\t\tin sequence, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/service_code_examples_actions.html\">API examples</a>\n\t\t\t\tin the Amazon Route 53 Application Recovery Controller Developer Guide.</p>\n\t\t\t      <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.update.html\">\n\t\t\t\t\tViewing and updating routing control states</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.html\">Working with routing controls overall</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStatesRequest": {
      "type": "structure",
      "members": {
        "UpdateRoutingControlStateEntries": {
          "target": "com.amazonaws.route53recoverycluster#UpdateRoutingControlStateEntries",
          "traits": {
            "smithy.api#documentation": "<p>A set of routing control entries that you want to update.</p>",
            "smithy.api#required": {}
          }
        },
        "SafetyRulesToOverride": {
          "target": "com.amazonaws.route53recoverycluster#Arns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) for the safety rules that you want to override when you're updating routing\n\t\t\tcontrol states. You can override one safety rule or multiple safety rules by including one or more ARNs, separated \n\t\t\tby commas.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/r53recovery/latest/dg/routing-control.override-safety-rule.html\">\n\t\t\tOverride safety rules to reroute traffic</a> in the Amazon Route 53 Application Recovery Controller Developer Guide.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53recoverycluster#UpdateRoutingControlStatesResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53recoverycluster#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.route53recoverycluster#ValidationExceptionReason"
        },
        "fields": {
          "target": "com.amazonaws.route53recoverycluster#ValidationExceptionFieldList"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a validation error on the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53recoverycluster#ValidationExceptionField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>The field that had the validation exception.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.route53recoverycluster#String",
          "traits": {
            "smithy.api#documentation": "<p>Information about the validation exception.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a validation error on the request.</p>"
      }
    },
    "com.amazonaws.route53recoverycluster#ValidationExceptionFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53recoverycluster#ValidationExceptionField"
      },
      "traits": {
        "smithy.api#documentation": "The fields that caused the error, if applicable"
      }
    },
    "com.amazonaws.route53recoverycluster#ValidationExceptionReason": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Reason the request failed validation",
        "smithy.api#enum": [
          {
            "value": "unknownOperation",
            "name": "UNKNOWN_OPERATION"
          },
          {
            "value": "cannotParse",
            "name": "CANNOT_PARSE"
          },
          {
            "value": "fieldValidationFailed",
            "name": "FIELD_VALIDATION_FAILED"
          },
          {
            "value": "other",
            "name": "OTHER"
          }
        ]
      }
    }
  }
}