{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DomainLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the transfer of a domain from another Amazon Web Services account to the\n\t\t\t\tcurrentAmazon Web Services account. You initiate a transfer between Amazon Web Services accounts using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>.</p>\n         <p>If you use the CLI command at <a href=\"https://docs.aws.amazon.com/cli/latest/reference/route53domains/accept-domain-transfer-from-another-aws-account.html\">accept-domain-transfer-from-another-aws-account</a>, use JSON format as input\n\t\t\tinstead of text because otherwise CLI will throw an error from domain\n\t\t\ttransfer input that includes single quotes.</p>\n         <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example,\n\t\t\t\t<code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
      }
    },
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that was specified when another Amazon Web Services account\n\t\t\tsubmitted a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a> request. </p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p>The password that was returned by the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a> request. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AcceptDomainTransferFromAnotherAwsAccount request includes the following\n\t\t\telements.</p>"
      }
    },
    "com.amazonaws.route53domains#AcceptDomainTransferFromAnotherAwsAccountResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status,\n\t\t\tuse <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AcceptDomainTransferFromAnotherAwsAccount response includes the following\n\t\t\telement.</p>"
      }
    },
    "com.amazonaws.route53domains#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^(\\d{12})$"
      }
    },
    "com.amazonaws.route53domains#AddressLine": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#AssociateDelegationSignerToDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#AssociateDelegationSignerToDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#AssociateDelegationSignerToDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DnssecLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a delegation signer (DS) record in the registry zone for this domain\n\t\t\tname.</p>\n         <p>Note that creating DS record at the registry impacts DNSSEC validation of your DNS\n\t\t\trecords. This action may render your domain name unavailable on the internet if the\n\t\t\tsteps are completed in the wrong order, or with incorrect timing. For more information\n\t\t\tabout DNSSEC signing, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-configuring-dnssec.html\">Configuring DNSSEC\n\t\t\t\tsigning</a> in the <i>Route 53 developer\n\t\t\tguide</i>.</p>"
      }
    },
    "com.amazonaws.route53domains#AssociateDelegationSignerToDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "SigningAttributes": {
          "target": "com.amazonaws.route53domains#DnssecSigningAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The information about a key, including the algorithm, public key-value, and\n\t\t\tflags.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#AssociateDelegationSignerToDomainResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for tracking the progress of the request. To query the operation\n\t\t\tstatus, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53domains#BillingRecord": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that the billing record applies to. If the domain name contains\n\t\t\tcharacters other than a-z, 0-9, and - (hyphen), such as an internationalized domain\n\t\t\tname, then this value is in Punycode. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS\n\t\t\t\tDomain Name Format</a> in the <i>Amazon Route 53 Developer\n\t\t\t\tGuide</i>.</p>"
          }
        },
        "Operation": {
          "target": "com.amazonaws.route53domains#OperationType",
          "traits": {
            "smithy.api#documentation": "<p>The operation that you were charged for.</p>"
          }
        },
        "InvoiceId": {
          "target": "com.amazonaws.route53domains#InvoiceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the invoice that is associated with the billing record.</p>"
          }
        },
        "BillDate": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the operation was billed, in Unix format.</p>"
          }
        },
        "Price": {
          "target": "com.amazonaws.route53domains#Price",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The price that you were charged for the operation, in US dollars.</p>\n         <p>Example value: 12.0</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information for one billing record.</p>"
      }
    },
    "com.amazonaws.route53domains#BillingRecords": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#BillingRecord"
      }
    },
    "com.amazonaws.route53domains#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the transfer of a domain from the current Amazon Web Services account to\n\t\t\tanother Amazon Web Services account. You initiate a transfer betweenAmazon Web Services accounts using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>. </p>\n         <important>\n            <p>You must cancel the transfer before the other Amazon Web Services account accepts\n\t\t\t\tthe transfer using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AcceptDomainTransferFromAnotherAwsAccount.html\">AcceptDomainTransferFromAnotherAwsAccount</a>.</p>\n         </important>\n         <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example,\n\t\t\t\t<code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
      }
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain for which you want to cancel the transfer to another Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CancelDomainTransferToAnotherAwsAccount request includes the following\n\t\t\telement.</p>"
      }
    },
    "com.amazonaws.route53domains#CancelDomainTransferToAnotherAwsAccountResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier that <code>TransferDomainToAnotherAwsAccount</code> returned to track\n\t\t\tthe progress of the request. Because the transfer request was canceled, the value is no\n\t\t\tlonger valid, and you can't use <code>GetOperationDetail</code> to query the operation\n\t\t\tstatus.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>CancelDomainTransferToAnotherAwsAccount</code> response includes the\n\t\t\tfollowing element.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CheckDomainAvailabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CheckDomainAvailabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation checks the availability of one domain name. Note that if the\n\t\t\tavailability status of a domain is pending, you must submit another request to determine\n\t\t\tthe availability of the domain name.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailabilityRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to get availability for. The top-level domain\n\t\t\t(TLD), such as .com, must be a TLD that Route 53 supports. For a list of supported TLDs,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can\n\t\t\t\tRegister with Amazon Route 53</a> in the <i>Amazon Route 53 Developer\n\t\t\t\tGuide</i>.</p>\n         <p>The domain name can contain only the following characters:</p>\n         <ul>\n            <li>\n               <p>Letters a through z. Domain names are not case sensitive.</p>\n            </li>\n            <li>\n               <p>Numbers 0 through 9.</p>\n            </li>\n            <li>\n               <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label.\n\t\t\t\t</p>\n            </li>\n            <li>\n               <p>Period (.) to separate the labels in the name, such as the <code>.</code> in\n\t\t\t\t\t\t<code>example.com</code>.</p>\n            </li>\n         </ul>\n         <p>Internationalized domain names are not supported for some top-level domains. To\n\t\t\tdetermine whether the TLD that you want to use supports internationalized domain names,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can\n\t\t\t\tRegister with Amazon Route 53</a>. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html#domain-name-format-idns\">Formatting Internationalized Domain Names</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "IdnLangCode": {
          "target": "com.amazonaws.route53domains#LangCode",
          "traits": {
            "smithy.api#documentation": "<p>Reserved for future use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainAvailability request contains the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainAvailabilityResponse": {
      "type": "structure",
      "members": {
        "Availability": {
          "target": "com.amazonaws.route53domains#DomainAvailability",
          "traits": {
            "smithy.api#documentation": "<p>Whether the domain name is available for registering.</p>\n         <note>\n            <p>You can register only domains designated as <code>AVAILABLE</code>.</p>\n         </note>\n         <p>Valid values:</p>\n         <dl>\n            <dt>AVAILABLE</dt>\n            <dd>\n               <p>The domain name is available.</p>\n            </dd>\n            <dt>AVAILABLE_RESERVED</dt>\n            <dd>\n               <p>The domain name is reserved under specific conditions.</p>\n            </dd>\n            <dt>AVAILABLE_PREORDER</dt>\n            <dd>\n               <p>The domain name is available and can be preordered.</p>\n            </dd>\n            <dt>DONT_KNOW</dt>\n            <dd>\n               <p>The TLD registry didn't reply with a definitive answer about whether the\n\t\t\t\t\t\tdomain name is available. Route 53 can return this response for a variety of\n\t\t\t\t\t\treasons, for example, the registry is performing maintenance. Try again\n\t\t\t\t\t\tlater.</p>\n            </dd>\n            <dt>PENDING</dt>\n            <dd>\n               <p>The TLD registry didn't return a response in the expected amount of time.\n\t\t\t\t\t\tWhen the response is delayed, it usually takes just a few extra seconds. You\n\t\t\t\t\t\tcan resubmit the request immediately.</p>\n            </dd>\n            <dt>RESERVED</dt>\n            <dd>\n               <p>The domain name has been reserved for another person or\n\t\t\t\t\t\torganization.</p>\n            </dd>\n            <dt>UNAVAILABLE</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_PREMIUM</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_RESTRICTED</dt>\n            <dd>\n               <p>The domain name is forbidden.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainAvailability response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferability": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#CheckDomainTransferabilityRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#CheckDomainTransferabilityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Checks whether a domain name can be transferred to Amazon Route 53. </p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferabilityRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to transfer to Route 53. The top-level domain\n\t\t\t(TLD), such as .com, must be a TLD that Route 53 supports. For a list of supported TLDs,\n\t\t\tsee <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can\n\t\t\t\tRegister with Amazon Route 53</a> in the <i>Amazon Route 53 Developer\n\t\t\t\tGuide</i>.</p>\n         <p>The domain name can contain only the following characters:</p>\n         <ul>\n            <li>\n               <p>Letters a through z. Domain names are not case sensitive.</p>\n            </li>\n            <li>\n               <p>Numbers 0 through 9.</p>\n            </li>\n            <li>\n               <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label.\n\t\t\t\t</p>\n            </li>\n            <li>\n               <p>Period (.) to separate the labels in the name, such as the <code>.</code> in\n\t\t\t\t\t\t<code>example.com</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "AuthCode": {
          "target": "com.amazonaws.route53domains#DomainAuthCode",
          "traits": {
            "smithy.api#documentation": "<p>If the registrar for the top-level domain (TLD) requires an authorization code to\n\t\t\ttransfer the domain, the code that you got from the current registrar for the\n\t\t\tdomain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainTransferability request contains the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#CheckDomainTransferabilityResponse": {
      "type": "structure",
      "members": {
        "Transferability": {
          "target": "com.amazonaws.route53domains#DomainTransferability",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains information about whether the specified domain can be\n\t\t\ttransferred to Route 53.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CheckDomainTransferability response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#City": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#Consent": {
      "type": "structure",
      "members": {
        "MaxPrice": {
          "target": "com.amazonaws.route53domains#Price",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> Maximum amount the customer agreed to accept. </p>",
            "smithy.api#required": {}
          }
        },
        "Currency": {
          "target": "com.amazonaws.route53domains#Currency",
          "traits": {
            "smithy.api#documentation": "<p> Currency for the <code>MaxPrice</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Customer's consent for the owner change request. </p>"
      }
    },
    "com.amazonaws.route53domains#ContactDetail": {
      "type": "structure",
      "members": {
        "FirstName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>First name of contact.</p>"
          }
        },
        "LastName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>Last name of contact.</p>"
          }
        },
        "ContactType": {
          "target": "com.amazonaws.route53domains#ContactType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the contact is a person, company, association, or public\n\t\t\torganization. Note the following:</p>\n         <ul>\n            <li>\n               <p>If you specify a value other than <code>PERSON</code>, you must also specify a\n\t\t\t\t\tvalue for <code>OrganizationName</code>.</p>\n            </li>\n            <li>\n               <p>For some TLDs, the privacy protection available depends on the value that you\n\t\t\t\t\tspecify for <code>Contact Type</code>. For the privacy protection settings for\n\t\t\t\t\tyour TLD, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You\n\t\t\t\t\t\tCan Register with Amazon Route 53</a> in the <i>Amazon Route 53\n\t\t\t\t\t\tDeveloper Guide</i>\n               </p>\n            </li>\n            <li>\n               <p>For .es domains, the value of <code>ContactType</code> must be\n\t\t\t\t\t\t<code>PERSON</code> for all three contacts.</p>\n            </li>\n         </ul>"
          }
        },
        "OrganizationName": {
          "target": "com.amazonaws.route53domains#ContactName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the organization for contact types other than <code>PERSON</code>.</p>"
          }
        },
        "AddressLine1": {
          "target": "com.amazonaws.route53domains#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>First line of the contact's address.</p>"
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.route53domains#AddressLine",
          "traits": {
            "smithy.api#documentation": "<p>Second line of contact's address, if any.</p>"
          }
        },
        "City": {
          "target": "com.amazonaws.route53domains#City",
          "traits": {
            "smithy.api#documentation": "<p>The city of the contact's address.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.route53domains#State",
          "traits": {
            "smithy.api#documentation": "<p>The state or province of the contact's city.</p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.route53domains#CountryCode",
          "traits": {
            "smithy.api#documentation": "<p>Code for the country of the contact's address.</p>"
          }
        },
        "ZipCode": {
          "target": "com.amazonaws.route53domains#ZipCode",
          "traits": {
            "smithy.api#documentation": "<p>The zip or postal code of the contact's address.</p>"
          }
        },
        "PhoneNumber": {
          "target": "com.amazonaws.route53domains#ContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>The phone number of the contact.</p>\n         <p>Constraints: Phone number must be specified in the format \"+[country dialing\n\t\t\tcode].[number including any area code>]\". For example, a US phone number might appear\n\t\t\tas <code>\"+1.1234567890\"</code>.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.route53domains#Email",
          "traits": {
            "smithy.api#documentation": "<p>Email address of the contact.</p>"
          }
        },
        "Fax": {
          "target": "com.amazonaws.route53domains#ContactNumber",
          "traits": {
            "smithy.api#documentation": "<p>Fax number of the contact.</p>\n         <p>Constraints: Phone number must be specified in the format \"+[country dialing\n\t\t\tcode].[number including any area code]\". For example, a US phone number might appear as\n\t\t\t\t<code>\"+1.1234567890\"</code>.</p>"
          }
        },
        "ExtraParams": {
          "target": "com.amazonaws.route53domains#ExtraParamList",
          "traits": {
            "smithy.api#documentation": "<p>A list of name-value pairs for parameters required by certain top-level\n\t\t\tdomains.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ContactDetail includes the following elements.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.route53domains#ContactName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#ContactNumber": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 30
        }
      }
    },
    "com.amazonaws.route53domains#ContactType": {
      "type": "enum",
      "members": {
        "PERSON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERSON"
          }
        },
        "COMPANY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPANY"
          }
        },
        "ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATION"
          }
        },
        "PUBLIC_BODY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_BODY"
          }
        },
        "RESELLER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESELLER"
          }
        }
      }
    },
    "com.amazonaws.route53domains#CountryCode": {
      "type": "enum",
      "members": {
        "AC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC"
          }
        },
        "AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD"
          }
        },
        "AE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AE"
          }
        },
        "AF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AF"
          }
        },
        "AG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AG"
          }
        },
        "AI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AI"
          }
        },
        "AL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AL"
          }
        },
        "AM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AM"
          }
        },
        "AN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AN"
          }
        },
        "AO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AO"
          }
        },
        "AQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AQ"
          }
        },
        "AR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AR"
          }
        },
        "AS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AS"
          }
        },
        "AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AT"
          }
        },
        "AU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AU"
          }
        },
        "AW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AW"
          }
        },
        "AX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AX"
          }
        },
        "AZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ"
          }
        },
        "BA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BA"
          }
        },
        "BB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BB"
          }
        },
        "BD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BD"
          }
        },
        "BE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BE"
          }
        },
        "BF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BF"
          }
        },
        "BG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BG"
          }
        },
        "BH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BH"
          }
        },
        "BI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BI"
          }
        },
        "BJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BJ"
          }
        },
        "BL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BL"
          }
        },
        "BM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BM"
          }
        },
        "BN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BN"
          }
        },
        "BO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BO"
          }
        },
        "BQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BQ"
          }
        },
        "BR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BR"
          }
        },
        "BS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BS"
          }
        },
        "BT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT"
          }
        },
        "BV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BV"
          }
        },
        "BW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BW"
          }
        },
        "BY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BY"
          }
        },
        "BZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BZ"
          }
        },
        "CA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CA"
          }
        },
        "CC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CC"
          }
        },
        "CD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CD"
          }
        },
        "CF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CF"
          }
        },
        "CG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CG"
          }
        },
        "CH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CH"
          }
        },
        "CI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CI"
          }
        },
        "CK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CK"
          }
        },
        "CL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CL"
          }
        },
        "CM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CM"
          }
        },
        "CN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CN"
          }
        },
        "CO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "CR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CR"
          }
        },
        "CU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CU"
          }
        },
        "CV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CV"
          }
        },
        "CW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CW"
          }
        },
        "CX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CX"
          }
        },
        "CY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CY"
          }
        },
        "CZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CZ"
          }
        },
        "DE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DE"
          }
        },
        "DJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DJ"
          }
        },
        "DK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DK"
          }
        },
        "DM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DM"
          }
        },
        "DO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DO"
          }
        },
        "DZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DZ"
          }
        },
        "EC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC"
          }
        },
        "EE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EE"
          }
        },
        "EG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EG"
          }
        },
        "EH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EH"
          }
        },
        "ER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ER"
          }
        },
        "ES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ES"
          }
        },
        "ET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ET"
          }
        },
        "FI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FI"
          }
        },
        "FJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FJ"
          }
        },
        "FK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FK"
          }
        },
        "FM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FM"
          }
        },
        "FO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FO"
          }
        },
        "FR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FR"
          }
        },
        "GA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GA"
          }
        },
        "GB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GB"
          }
        },
        "GD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GD"
          }
        },
        "GE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GE"
          }
        },
        "GF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GF"
          }
        },
        "GG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GG"
          }
        },
        "GH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GH"
          }
        },
        "GI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GI"
          }
        },
        "GL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GL"
          }
        },
        "GM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GM"
          }
        },
        "GN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GN"
          }
        },
        "GP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GP"
          }
        },
        "GQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GQ"
          }
        },
        "GR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GR"
          }
        },
        "GS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GS"
          }
        },
        "GT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "GU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GU"
          }
        },
        "GW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GW"
          }
        },
        "GY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GY"
          }
        },
        "HK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HK"
          }
        },
        "HM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HM"
          }
        },
        "HN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HN"
          }
        },
        "HR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HR"
          }
        },
        "HT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HT"
          }
        },
        "HU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HU"
          }
        },
        "ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ID"
          }
        },
        "IE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IE"
          }
        },
        "IL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IL"
          }
        },
        "IM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IM"
          }
        },
        "IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN"
          }
        },
        "IO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IO"
          }
        },
        "IQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IQ"
          }
        },
        "IR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IR"
          }
        },
        "IS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IS"
          }
        },
        "IT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IT"
          }
        },
        "JE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JE"
          }
        },
        "JM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JM"
          }
        },
        "JO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JO"
          }
        },
        "JP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JP"
          }
        },
        "KE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KE"
          }
        },
        "KG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KG"
          }
        },
        "KH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KH"
          }
        },
        "KI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KI"
          }
        },
        "KM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KM"
          }
        },
        "KN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KN"
          }
        },
        "KP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KP"
          }
        },
        "KR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KR"
          }
        },
        "KW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KW"
          }
        },
        "KY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KY"
          }
        },
        "KZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KZ"
          }
        },
        "LA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LA"
          }
        },
        "LB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LB"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "LI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LI"
          }
        },
        "LK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LK"
          }
        },
        "LR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LR"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "LT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        },
        "LU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LU"
          }
        },
        "LV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LV"
          }
        },
        "LY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LY"
          }
        },
        "MA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MA"
          }
        },
        "MC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MC"
          }
        },
        "MD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MD"
          }
        },
        "ME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ME"
          }
        },
        "MF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MF"
          }
        },
        "MG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MG"
          }
        },
        "MH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MH"
          }
        },
        "MK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MK"
          }
        },
        "ML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ML"
          }
        },
        "MM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MM"
          }
        },
        "MN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MN"
          }
        },
        "MO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MO"
          }
        },
        "MP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP"
          }
        },
        "MQ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQ"
          }
        },
        "MR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MR"
          }
        },
        "MS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MS"
          }
        },
        "MT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MT"
          }
        },
        "MU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MU"
          }
        },
        "MV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MV"
          }
        },
        "MW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MW"
          }
        },
        "MX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MX"
          }
        },
        "MY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MY"
          }
        },
        "MZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MZ"
          }
        },
        "NA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NA"
          }
        },
        "NC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NC"
          }
        },
        "NE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NE"
          }
        },
        "NF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NF"
          }
        },
        "NG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NG"
          }
        },
        "NI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NI"
          }
        },
        "NL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NL"
          }
        },
        "NO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO"
          }
        },
        "NP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NP"
          }
        },
        "NR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NR"
          }
        },
        "NU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NU"
          }
        },
        "NZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NZ"
          }
        },
        "OM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OM"
          }
        },
        "PA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PA"
          }
        },
        "PE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PE"
          }
        },
        "PF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PF"
          }
        },
        "PG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PG"
          }
        },
        "PH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PH"
          }
        },
        "PK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PK"
          }
        },
        "PL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PL"
          }
        },
        "PM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PM"
          }
        },
        "PN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PN"
          }
        },
        "PR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PR"
          }
        },
        "PS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PS"
          }
        },
        "PT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT"
          }
        },
        "PW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PW"
          }
        },
        "PY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PY"
          }
        },
        "QA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QA"
          }
        },
        "RE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RE"
          }
        },
        "RO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RO"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "RU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RU"
          }
        },
        "RW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RW"
          }
        },
        "SA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SA"
          }
        },
        "SB": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SB"
          }
        },
        "SC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SC"
          }
        },
        "SD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SD"
          }
        },
        "SE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SE"
          }
        },
        "SG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SG"
          }
        },
        "SH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SH"
          }
        },
        "SI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SI"
          }
        },
        "SJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SJ"
          }
        },
        "SK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SK"
          }
        },
        "SL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SL"
          }
        },
        "SM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SM"
          }
        },
        "SN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SN"
          }
        },
        "SO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SO"
          }
        },
        "SR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SR"
          }
        },
        "SS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SS"
          }
        },
        "ST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST"
          }
        },
        "SV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SV"
          }
        },
        "SX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SX"
          }
        },
        "SY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SY"
          }
        },
        "SZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SZ"
          }
        },
        "TC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TC"
          }
        },
        "TD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TD"
          }
        },
        "TF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TF"
          }
        },
        "TG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TG"
          }
        },
        "TH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TH"
          }
        },
        "TJ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TJ"
          }
        },
        "TK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TK"
          }
        },
        "TL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TL"
          }
        },
        "TM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TM"
          }
        },
        "TN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TN"
          }
        },
        "TO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TO"
          }
        },
        "TP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TP"
          }
        },
        "TR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TR"
          }
        },
        "TT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TT"
          }
        },
        "TV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TV"
          }
        },
        "TW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TW"
          }
        },
        "TZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TZ"
          }
        },
        "UA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UA"
          }
        },
        "UG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UG"
          }
        },
        "US": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "US"
          }
        },
        "UY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UY"
          }
        },
        "UZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UZ"
          }
        },
        "VA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VA"
          }
        },
        "VC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VC"
          }
        },
        "VE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VE"
          }
        },
        "VG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VG"
          }
        },
        "VI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VI"
          }
        },
        "VN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VN"
          }
        },
        "VU": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VU"
          }
        },
        "WF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WF"
          }
        },
        "WS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WS"
          }
        },
        "YE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YE"
          }
        },
        "YT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YT"
          }
        },
        "ZA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZA"
          }
        },
        "ZM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZM"
          }
        },
        "ZW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZW"
          }
        }
      }
    },
    "com.amazonaws.route53domains#Currency": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        }
      }
    },
    "com.amazonaws.route53domains#CurrentExpiryYear": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.route53domains#DNSSec": {
      "type": "string"
    },
    "com.amazonaws.route53domains#DeleteDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DeleteDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DeleteDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the specified domain. This action is permanent. For more\n\t\t\tinformation, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-delete.html\">Deleting a domain name\n\t\t\t\tregistration</a>.</p>\n         <p>To transfer the domain registration to another registrar, use the transfer process\n\t\t\tthat’s provided by the registrar to which you want to transfer the registration.\n\t\t\tOtherwise, the following apply:</p>\n         <ol>\n            <li>\n               <p>You can’t get a refund for the cost of a deleted domain registration.</p>\n            </li>\n            <li>\n               <p>The registry for the top-level domain might hold the domain name for a brief\n\t\t\t\t\ttime before releasing it for other users to register (varies by registry).\n\t\t\t\t</p>\n            </li>\n            <li>\n               <p>When the registration has been deleted, we'll send you a confirmation to the\n\t\t\t\t\tregistrant contact. The email will come from\n\t\t\t\t\t\t<code>noreply@domainnameverification.net</code> or\n\t\t\t\t\t\t<code>noreply@registrar.amazon.com</code>.</p>\n            </li>\n         </ol>"
      }
    },
    "com.amazonaws.route53domains#DeleteDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#DeleteDomainResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status,\n\t\t\tuse <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53domains#DeleteTagsForDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DeleteTagsForDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DeleteTagsForDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the specified tags for a domain.</p>\n         <p>All tag operations are eventually consistent; subsequent operations might not\n\t\t\timmediately represent all issued operations.</p>"
      }
    },
    "com.amazonaws.route53domains#DeleteTagsForDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain for which you want to delete one or more tags.</p>",
            "smithy.api#required": {}
          }
        },
        "TagsToDelete": {
          "target": "com.amazonaws.route53domains#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag keys to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DeleteTagsForDomainRequest includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#DeleteTagsForDomainResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenew": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DisableDomainAutoRenewRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DisableDomainAutoRenewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation disables automatic renewal of domain registration for the specified\n\t\t\tdomain.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenewRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to disable automatic renewal for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#DisableDomainAutoRenewResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#DisableDomainTransferLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DisableDomainTransferLockRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DisableDomainTransferLockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation removes the transfer lock on the domain (specifically the\n\t\t\t\t<code>clientTransferProhibited</code> status) to allow domain transfers. We\n\t\t\trecommend you refrain from performing this action unless you intend to transfer the\n\t\t\tdomain to a different registrar. Successful submission returns an operation ID that you\n\t\t\tcan use to track the progress and completion of the action. If the request is not\n\t\t\tcompleted successfully, the domain registrant will be notified by email.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainTransferLockRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to remove the transfer lock for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DisableDomainTransferLock request includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#DisableDomainTransferLockResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status,\n\t\t\tuse <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The DisableDomainTransferLock response includes the following element.</p>"
      }
    },
    "com.amazonaws.route53domains#DisassociateDelegationSignerFromDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#DisassociateDelegationSignerFromDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#DisassociateDelegationSignerFromDomainResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a delegation signer (DS) record in the registry zone for this domain\n\t\t\tname.</p>"
      }
    },
    "com.amazonaws.route53domains#DisassociateDelegationSignerFromDomainRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the domain.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p>An internal identification number assigned to each DS record after it’s created. You\n\t\t\tcan retrieve it as part of DNSSEC information returned by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetDomainDetail.html\">GetDomainDetail</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#DisassociateDelegationSignerFromDomainResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To query the operation status,\n\t\t\tuse <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53domains#DnssecKey": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of the public key’s cryptographic algorithm according to an <a href=\"https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xml\">IANA</a> assignment. </p>\n         <p>If Route 53 is your DNS service, set this to 13.</p>\n         <p>For more information about enabling DNSSEC signing, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-configuring-dnssec-enable-signing.html\">Enabling DNSSEC signing and establishing a chain of trust</a>.</p>"
          }
        },
        "Flags": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Defines the type of key. It can be either a KSK (key-signing-key, value 257) or ZSK\n\t\t\t(zone-signing-key, value 256). Using KSK is always encouraged. Only use ZSK if your DNS\n\t\t\tprovider isn't Route 53 and you don’t have KSK available.</p>\n         <p>If you have KSK and ZSK keys, always use KSK to create a delegations signer (DS)\n\t\t\trecord. If you have ZSK keys only – use ZSK to create a DS record.</p>"
          }
        },
        "PublicKey": {
          "target": "com.amazonaws.route53domains#DnssecPublicKey",
          "traits": {
            "smithy.api#documentation": "<p>The base64-encoded public key part of the key pair that is passed to the registry\n\t\t\t.</p>"
          }
        },
        "DigestType": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p> The number of the DS digest algorithm according to an IANA assignment.</p>\n         <p>For more information, see <a href=\"https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml\">IANA</a>\n\t\t\tfor DNSSEC Delegation Signer (DS) Resource Record (RR) Type Digest Algorithms. </p>"
          }
        },
        "Digest": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p> The delegation signer digest.</p>\n         <p>Digest is calculated from the public key provided using specified digest algorithm and\n\t\t\tthis digest is the actual value returned from the registry nameservers as the value of\n\t\t\tDS records. </p>"
          }
        },
        "KeyTag": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p> A numeric identification of the DNSKEY record referred to by this DS record. </p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p> An ID assigned to each DS record created by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the DNSSEC key.</p>\n         <p>You get this from your DNS provider and then give it to Route 53 (by using\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>) to pass it to the registry to establish\n\t\t\tthe chain of trust.</p>"
      }
    },
    "com.amazonaws.route53domains#DnssecKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DnssecKey"
      }
    },
    "com.amazonaws.route53domains#DnssecLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53domains#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> This error is returned if you call <code>AssociateDelegationSignerToDomain</code>\n\t\t\twhen the specified domain has reached the maximum number of DS records. You can't add\n\t\t\tany additional DS records unless you delete an existing one first. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53domains#DnssecPublicKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32768
        }
      }
    },
    "com.amazonaws.route53domains#DnssecSigningAttributes": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p> Algorithm which was used to generate the digest from the public key. </p>"
          }
        },
        "Flags": {
          "target": "com.amazonaws.route53domains#NullableInteger",
          "traits": {
            "smithy.api#documentation": "<p>Defines the type of key. It can be either a KSK (key-signing-key, value 257) or ZSK\n\t\t\t(zone-signing-key, value 256). Using KSK is always encouraged. Only use ZSK if your DNS\n\t\t\tprovider isn't Route 53 and you don’t have KSK available.</p>\n         <p>If you have KSK and ZSK keys, always use KSK to create a delegations signer (DS)\n\t\t\trecord. If you have ZSK keys only – use ZSK to create a DS record.</p>"
          }
        },
        "PublicKey": {
          "target": "com.amazonaws.route53domains#DnssecPublicKey",
          "traits": {
            "smithy.api#documentation": "<p> The base64-encoded public key part of the key pair that is passed to the registry.\n\t\t</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a delegation signer (DS) record that was created in the registry by\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>. </p>"
      }
    },
    "com.amazonaws.route53domains#DomainAuthCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.route53domains#DomainAvailability": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "AVAILABLE_RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE_RESERVED"
          }
        },
        "AVAILABLE_PREORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE_PREORDER"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE"
          }
        },
        "UNAVAILABLE_PREMIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE_PREMIUM"
          }
        },
        "UNAVAILABLE_RESTRICTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNAVAILABLE_RESTRICTED"
          }
        },
        "RESERVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESERVED"
          }
        },
        "DONT_KNOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONT_KNOW"
          }
        }
      }
    },
    "com.amazonaws.route53domains#DomainLimitExceeded": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53domains#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53domains#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#DomainPrice": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53domains#DomainPriceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the TLD for which the prices apply.</p>"
          }
        },
        "RegistrationPrice": {
          "target": "com.amazonaws.route53domains#PriceWithCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The price for domain registration with Route 53.</p>"
          }
        },
        "TransferPrice": {
          "target": "com.amazonaws.route53domains#PriceWithCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The price for transferring the domain registration to Route 53.</p>"
          }
        },
        "RenewalPrice": {
          "target": "com.amazonaws.route53domains#PriceWithCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The price for renewing domain registration with Route 53.</p>"
          }
        },
        "ChangeOwnershipPrice": {
          "target": "com.amazonaws.route53domains#PriceWithCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The price for changing domain ownership.</p>"
          }
        },
        "RestorationPrice": {
          "target": "com.amazonaws.route53domains#PriceWithCurrency",
          "traits": {
            "smithy.api#documentation": "<p>The price for restoring the domain with Route 53.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the domain price associated with a TLD.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainPriceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainPrice"
      }
    },
    "com.amazonaws.route53domains#DomainPriceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53domains#DomainStatus": {
      "type": "string"
    },
    "com.amazonaws.route53domains#DomainStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainStatus"
      }
    },
    "com.amazonaws.route53domains#DomainSuggestion": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>A suggested domain name.</p>"
          }
        },
        "Availability": {
          "target": "com.amazonaws.route53domains#String",
          "traits": {
            "smithy.api#documentation": "<p>Whether the domain name is available for registering.</p>\n         <note>\n            <p>You can register only the domains that are designated as\n\t\t\t\t<code>AVAILABLE</code>.</p>\n         </note>\n         <p>Valid values:</p>\n         <dl>\n            <dt>AVAILABLE</dt>\n            <dd>\n               <p>The domain name is available.</p>\n            </dd>\n            <dt>AVAILABLE_RESERVED</dt>\n            <dd>\n               <p>The domain name is reserved under specific conditions.</p>\n            </dd>\n            <dt>AVAILABLE_PREORDER</dt>\n            <dd>\n               <p>The domain name is available and can be preordered.</p>\n            </dd>\n            <dt>DONT_KNOW</dt>\n            <dd>\n               <p>The TLD registry didn't reply with a definitive answer about whether the\n\t\t\t\t\t\tdomain name is available. Route 53 can return this response for a variety of\n\t\t\t\t\t\treasons, for example, the registry is performing maintenance. Try again\n\t\t\t\t\t\tlater.</p>\n            </dd>\n            <dt>PENDING</dt>\n            <dd>\n               <p>The TLD registry didn't return a response in the expected amount of time.\n\t\t\t\t\t\tWhen the response is delayed, it usually takes just a few extra seconds. You\n\t\t\t\t\t\tcan resubmit the request immediately.</p>\n            </dd>\n            <dt>RESERVED</dt>\n            <dd>\n               <p>The domain name has been reserved for another person or\n\t\t\t\t\t\torganization.</p>\n            </dd>\n            <dt>UNAVAILABLE</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_PREMIUM</dt>\n            <dd>\n               <p>The domain name is not available.</p>\n            </dd>\n            <dt>UNAVAILABLE_RESTRICTED</dt>\n            <dd>\n               <p>The domain name is forbidden.</p>\n            </dd>\n         </dl>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about one suggested domain name.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainSuggestionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainSuggestion"
      }
    },
    "com.amazonaws.route53domains#DomainSummary": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that the summary information applies to.</p>"
          }
        },
        "AutoRenew": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the domain is automatically renewed upon expiration.</p>"
          }
        },
        "TransferLock": {
          "target": "com.amazonaws.route53domains#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a domain is locked from unauthorized transfer to another\n\t\t\tparty.</p>"
          }
        },
        "Expiry": {
          "target": "com.amazonaws.route53domains#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Expiration date of the domain in Unix time format and Coordinated Universal Time\n\t\t\t(UTC).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about one domain.</p>"
      }
    },
    "com.amazonaws.route53domains#DomainSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53domains#DomainSummary"
      }
    },
    "com.amazonaws.route53domains#DomainTransferability": {
      "type": "structure",
      "members": {
        "Transferable": {
          "target": "com.amazonaws.route53domains#Transferable"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains information about whether the specified domain can be\n\t\t\ttransferred to Route 53.</p>"
      }
    },
    "com.amazonaws.route53domains#DuplicateRequest": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.route53domains#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The request is already in progress for the domain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is already in progress for the domain.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.route53domains#DurationInYears": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.route53domains#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 254
        }
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenew": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#EnableDomainAutoRenewRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#EnableDomainAutoRenewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation configures Amazon Route 53 to automatically renew the specified domain\n\t\t\tbefore the domain registration expires. The cost of renewing your domain registration is\n\t\t\tbilled to your Amazon Web Services account.</p>\n         <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs\n\t\t\tand their renewal policies, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains That You Can\n\t\t\t\tRegister with Amazon Route 53</a> in the <i>Amazon Route 53 Developer\n\t\t\t\tGuide</i>. Route 53 requires that you renew before the end of the renewal\n\t\t\tperiod so we can complete processing before the deadline.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenewRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to enable automatic renewal for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53domains#EnableDomainAutoRenewResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.route53domains#EnableDomainTransferLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53domains#EnableDomainTransferLockRequest"
      },
      "output": {
        "target": "com.amazonaws.route53domains#EnableDomainTransferLockResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53domains#DuplicateRequest"
        },
        {
          "target": "com.amazonaws.route53domains#InvalidInput"
        },
        {
          "target": "com.amazonaws.route53domains#OperationLimitExceeded"
        },
        {
          "target": "com.amazonaws.route53domains#TLDRulesViolation"
        },
        {
          "target": "com.amazonaws.route53domains#UnsupportedTLD"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation sets the transfer lock on the domain (specifically the\n\t\t\t\t<code>clientTransferProhibited</code> status) to prevent domain transfers.\n\t\t\tSuccessful submission returns an operation ID that you can use to track the progress and\n\t\t\tcompletion of the action. If the request is not completed successfully, the domain\n\t\t\tregistrant will be notified by email.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainTransferLockRequest": {
      "type": "structure",
      "members": {
        "DomainName": {
          "target": "com.amazonaws.route53domains#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain that you want to set the transfer lock for.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request to set the transfer lock for the specified domain.</p>"
      }
    },
    "com.amazonaws.route53domains#EnableDomainTransferLockResponse": {
      "type": "structure",
      "members": {
        "OperationId": {
          "target": "com.amazonaws.route53domains#OperationId",
          "traits": {
            "smithy.api#documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the\n\t\t\toperation status, use GetOperationDetail.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The EnableDomainTransferLock response includes the following elements.</p>"
      }
    },
    "com.amazonaws.route53domains#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.route53domains#ExtraParam": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53domains#ExtraParamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an additional parameter that is required by a top-level domain. Here are\n\t\t\tthe top-level domains that require additional parameters and the names of the parameters\n\t\t\tthat they require:</p>\n         <dl>\n            <dt>.com.au and .net.au</dt>\n            <dd>\n               <ul>\n                  <li>\n                     <p>\n                        <code>AU_ID_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>AU_ID_TYPE</code>\n                     </p>\n                     <p>Valid values include the following:</p>\n                     <ul>\n                        <li>\n                           <p>\n                              <code>ABN</code> (Australian business number)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>ACN</code> (Australian company number)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>TM</code> (Trademark number)</p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </dd>\n            <dt>.ca</dt>\n            <dd>\n               <ul>\n                  <li>\n                     <p>\n                        <code>BRAND_NUMBER</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CA_BUSINESS_ENTITY_TYPE</code>\n                     </p>\n                     <p>Valid values include the following:</p>\n                     <ul>\n                        <li>\n                           <p>\n                              <code>BANK</code> (Bank)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMMERCIAL_COMPANY</code> (Commercial\n\t\t\t\t\t\t\t\t\t\tcompany)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COMPANY</code> (Company)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPERATION</code> (Cooperation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPERATIVE</code> (Cooperative)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>COOPRIX</code> (Cooprix)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CORP</code> (Corporation)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>CREDIT_UNION</code> (Credit union)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>FOMIA</code> (Federation of mutual insurance\n\t\t\t\t\t\t\t\t\t\tass
[...]
