{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.route53resolver#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The current account doesn't have the IAM permissions required to perform the specified Resolver operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 32
        }
      }
    },
    "com.amazonaws.route53resolver#Action": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "BLOCK",
            "name": "BLOCK"
          },
          {
            "value": "ALERT",
            "name": "ALERT"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateFirewallRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateFirewallRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateFirewallRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a <a>FirewallRuleGroup</a> with a VPC, to provide DNS filtering for the VPC. </p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateFirewallRuleGroupRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be\n\t\t\tretried without the risk of running the operation twice. <code>CreatorRequestId</code>\n\t\t\tcan be any unique string, for example, a date/time stamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "FirewallRuleGroupId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule group. </p>",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the VPC that you want to associate with the rule group. </p>",
            "smithy.api#required": {}
          }
        },
        "Priority": {
          "target": "com.amazonaws.route53resolver#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The setting that determines the processing order of the rule group among the rule\n\t\t\tgroups that you associate with the specified VPC. DNS Firewall filters VPC traffic\n\t\t\tstarting from the rule group with the lowest numeric priority setting. </p>\n         <p>You must specify a unique priority for each rule group that you associate with a single VPC. \n           To make it easier to insert rule groups later, leave space between the numbers, for example, use 101, 200, and so on. You \n   can change the priority setting for a rule group association after you create it.</p>\n   \t     <p>The allowed values for <code>Priority</code> are between 100 and 9900.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name that lets you identify the association, to manage and use it.</p>",
            "smithy.api#required": {}
          }
        },
        "MutationProtection": {
          "target": "com.amazonaws.route53resolver#MutationProtectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>If enabled, this setting disallows modification or removal of the association, to help prevent against accidentally altering DNS firewall protections. \n       When you create the association, the default setting is <code>DISABLED</code>. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the rule group association. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateFirewallRuleGroupResponse": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupAssociation": {
          "target": "com.amazonaws.route53resolver#FirewallRuleGroupAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The association that you just created. The association has an ID that you can use to\n\t\t\tidentify it in other requests, like update and delete.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds IP addresses to an inbound or an outbound Resolver endpoint. If you want to add more than one IP address, \n\t\t\tsubmit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To remove an IP address from an endpoint, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverEndpointIpAddress.html\">DisassociateResolverEndpointIpAddress</a>.\n\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to associate IP addresses with.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Either the IPv4 address that you want to add to a Resolver endpoint or a subnet ID. If you specify a subnet ID, \n\t\t\tResolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Amazon VPC with a specified query logging configuration. Route 53 Resolver logs DNS queries that originate in all of the Amazon VPCs \n\t\t\tthat are associated with a specified query logging configuration. To associate more than one VPC with a configuration, submit one <code>AssociateResolverQueryLogConfig</code> \n\t\t\trequest for each VPC.</p>\n\t\t\n\t\t       <note>\n            <p>The VPCs that you associate with a query logging configuration must be in the same Region as the configuration.</p>\n         </note>\n\t\t\n\t\t       <p>To remove a VPC from a query logging configuration, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.\n\t\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to associate a VPC with.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an Amazon VPC that you want this query logging configuration to log queries for.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>The VPCs and the query logging configuration must be in the same Region.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for a specified association between an Amazon VPC and a query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#AssociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a Resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries \n\t\t\tfor the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the \n\t\t\tIP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverRule.html\">CreateResolverRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to associate with the VPC. To list the existing Resolver rules, use \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name for the association that you're creating between a Resolver rule and a VPC.</p>"
          }
        },
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to associate the Resolver rule with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AssociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#AutodefinedReverseFlag": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLE",
            "name": "ENABLE"
          },
          {
            "value": "DISABLE",
            "name": "DISABLE"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#BlockOverrideDnsType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CNAME",
            "name": "CNAME"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#BlockOverrideDomain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#BlockOverrideTtl": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 604800
        }
      }
    },
    "com.amazonaws.route53resolver#BlockResponse": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NODATA",
            "name": "NODATA"
          },
          {
            "value": "NXDOMAIN",
            "name": "NXDOMAIN"
          },
          {
            "value": "OVERRIDE",
            "name": "OVERRIDE"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.route53resolver#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.route53resolver#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.route53resolver#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallDomainList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateFirewallDomainListRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateFirewallDomainListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty firewall domain list for use in DNS Firewall rules. You can populate the domains for the new list with a file, using <a>ImportFirewallDomains</a>, or with domain strings, using <a>UpdateFirewallDomains</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallDomainListRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows you to retry failed requests\n\t\t\twithout the risk of running the operation twice. <code>CreatorRequestId</code> can be\n\t\t\tany unique string, for example, a date/time stamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name that lets you identify the domain list to manage and use it.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the domain list. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallDomainListResponse": {
      "type": "structure",
      "members": {
        "FirewallDomainList": {
          "target": "com.amazonaws.route53resolver#FirewallDomainList",
          "traits": {
            "smithy.api#documentation": "<p>The\n\t\t\tdomain list that you just created.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateFirewallRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateFirewallRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a single DNS Firewall rule in the specified rule group, using the specified domain list.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateFirewallRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateFirewallRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty DNS Firewall rule group for filtering DNS network traffic in a VPC. You can add rules to the new rule group \n           by calling <a>CreateFirewallRule</a>. </p>"
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRuleGroupRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string defined by you to identify the request. This allows you to retry failed\n\t\t\trequests without the risk of running the operation twice. This can be any unique string,\n\t\t\tfor example, a timestamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name that lets you identify the rule group, to manage and use it.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the rule group. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRuleGroupResponse": {
      "type": "structure",
      "members": {
        "FirewallRuleGroup": {
          "target": "com.amazonaws.route53resolver#FirewallRuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>A collection of rules used to filter DNS network traffic. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRuleRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows you to retry failed requests\n\t\t\twithout the risk of running the operation twice. <code>CreatorRequestId</code> can be\n\t\t\tany unique string, for example, a date/time stamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "FirewallRuleGroupId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule group where you want to create the rule. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallDomainListId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list that you want to use in the rule. </p>",
            "smithy.api#required": {}
          }
        },
        "Priority": {
          "target": "com.amazonaws.route53resolver#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The setting that determines the processing order of the rule in the rule group. DNS Firewall \n           processes the rules in a rule group by order of priority, starting from the lowest setting.</p>\n         <p>You must specify a unique priority for each rule in a rule group. \n           To make it easier to insert rules later, leave space between the numbers, for example, use 100, 200, and so on. You \n   can change the priority setting for the rules in a rule group at any time.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.route53resolver#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that DNS Firewall should take on a DNS query when it matches one of the domains in the rule's domain list:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALLOW</code> - Permit the request to go through.</p> \n            </li>\n            <li>\n               <p>\n                  <code>ALERT</code> - Permit the request and send metrics and logs to Cloud Watch.</p> \n            </li>\n            <li>\n               <p>\n                  <code>BLOCK</code> - Disallow the request. This option requires additional details in the rule's <code>BlockResponse</code>. </p> \n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "BlockResponse": {
          "target": "com.amazonaws.route53resolver#BlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The way that you want DNS Firewall to block the request, used with the rule action\n\t\t\tsetting <code>BLOCK</code>. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>NODATA</code> - Respond indicating that the query was successful, but no response is available for it.</p> \n            </li>\n            <li>\n               <p>\n                  <code>NXDOMAIN</code> - Respond indicating that the domain name that's in the query doesn't exist.</p> \n            </li>\n            <li>\n               <p>\n                  <code>OVERRIDE</code> - Provide a custom override in the response. This option requires custom handling details in the rule's <code>BlockOverride*</code> settings. </p> \n            </li>\n         </ul>\n         <p>This setting is required if the rule action setting is <code>BLOCK</code>.</p>"
          }
        },
        "BlockOverrideDomain": {
          "target": "com.amazonaws.route53resolver#BlockOverrideDomain",
          "traits": {
            "smithy.api#documentation": "<p>The custom DNS record to send back in response to the query. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>\n         <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "BlockOverrideDnsType": {
          "target": "com.amazonaws.route53resolver#BlockOverrideDnsType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record's type. This determines the format of the record value that you provided in <code>BlockOverrideDomain</code>. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>\n         <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "BlockOverrideTtl": {
          "target": "com.amazonaws.route53resolver#BlockOverrideTtl",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The recommended amount of time, in seconds, for the DNS resolver or web browser to cache the provided override record. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>\n         <p>This setting is required if the <code>BlockResponse</code> setting is <code>OVERRIDE</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A name that lets you identify the rule in the rule group.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateFirewallRuleResponse": {
      "type": "structure",
      "members": {
        "FirewallRule": {
          "target": "com.amazonaws.route53resolver#FirewallRule",
          "traits": {
            "smithy.api#documentation": "<p>The\n\t\t\tfirewall rule that you just created. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resolver endpoint. There are two types of Resolver endpoints, inbound and outbound:</p>\n\t\t       <ul>\n            <li>\n               <p>An <i>inbound Resolver endpoint</i> forwards DNS queries to the DNS service for a VPC \n\t\t\t\tfrom your network.</p>\n            </li>\n            <li>\n               <p>An <i>outbound Resolver endpoint</i> forwards DNS queries from the DNS service for a VPC \n\t\t\t\tto your network.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried\n\t\t\twithout the risk of running the operation twice. <code>CreatorRequestId</code> can be\n\t\t\tany unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.route53resolver#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify \n\t\t\tmust include one or more inbound rules (for inbound Resolver endpoints) or outbound rules (for outbound Resolver endpoints). \n\t\t\tInbound and outbound rules must allow TCP and UDP access. For inbound access, open port 53. For outbound access, open the port \n\t\t\tthat you're using for DNS queries on your network.</p>",
            "smithy.api#required": {}
          }
        },
        "Direction": {
          "target": "com.amazonaws.route53resolver#ResolverEndpointDirection",
          "traits": {
            "smithy.api#documentation": "<p>Specify the applicable value:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network</p>\n            </li>\n            <li>\n               <p>\n                  <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "IpAddresses": {
          "target": "com.amazonaws.route53resolver#IpAddressesRequest",
          "traits": {
            "smithy.api#documentation": "<p>The subnets and IP addresses in your VPC that DNS queries originate from (for outbound endpoints) or that you forward \n\t\t\tDNS queries to (for inbound endpoints). The subnet ID uniquely identifies a VPC. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Resolver query logging configuration, which defines where you want Resolver to save DNS query logs that originate in your VPCs. \n\t\t\tResolver can log queries only for VPCs that are in the same Region as the query logging configuration.</p>\n\t\t\n\t\t       <p>To specify which VPCs you want to log queries for, you use <code>AssociateResolverQueryLogConfig</code>. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverQueryLogConfig.html\">AssociateResolverQueryLogConfig</a>. </p>\n\t\t\n\t\t       <p>You can optionally use Resource Access Manager (RAM) to share a query logging configuration with other Amazon Web Services accounts. The other accounts \n\t\t\tcan then associate VPCs with the configuration. The query logs that Resolver creates for a configuration include all DNS queries that originate in all \n\t\t\tVPCs that are associated with the configuration.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you want to give the query logging configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationArn": {
          "target": "com.amazonaws.route53resolver#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that you want Resolver to send query logs. You can send query logs to an S3 bucket, a CloudWatch Logs log group, \n\t\t\tor a Kinesis Data Firehose delivery stream. Examples of valid values include the following:</p>\n\t\t\n\t\t       <ul>\n            <li>\n\t\t\t\t           <p>\n                  <b>S3 bucket</b>: </p>\n\t\t\t\t           <p>\n                  <code>arn:aws:s3:::examplebucket</code>\n               </p>\n\t\t\t\t           <p>You can optionally append a file prefix to the end of the ARN.</p>\n\t\t\t\t           <p>\n                  <code>arn:aws:s3:::examplebucket/development/</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>CloudWatch Logs log group</b>: </p>\n\t\t\t\t           <p>\n                  <code>arn:aws:logs:us-west-1:123456789012:log-group:/mystack-testgroup-12ABC1AB12A1:*</code>\n               </p>\n\t\t\t         </li>\n            <li>\n\t\t\t\t           <p>\n                  <b>Kinesis Data Firehose delivery stream</b>:</p>\n\t\t\t\t           <p>\n                  <code>arn:aws:kinesis:us-east-2:0123456789:stream/my_stream_name</code>\n               </p>\n\t\t\t         </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried\n\t\t\twithout the risk of running the operation twice. <code>CreatorRequestId</code> can be\n\t\t\tany unique string, for example, a date/time stamp. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfig": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverQueryLogConfig</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#CreateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#LimitExceededException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceUnavailableException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>For DNS queries that originate in your VPCs, specifies which Resolver endpoint the queries pass through, \n\t\t\tone domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>"
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried\n\t\t\twithout the risk of running the operation twice. <code>CreatorRequestId</code> can be\n\t\t\tany unique string, for example, a date/time stamp. </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>"
          }
        },
        "RuleType": {
          "target": "com.amazonaws.route53resolver#RuleTypeOption",
          "traits": {
            "smithy.api#documentation": "<p>When you want to forward DNS queries for specified domain name to resolvers on your network, specify <code>FORWARD</code>.</p>\n\t\t       <p>When you have a forwarding rule to forward DNS queries for a domain to your network and you want Resolver to process queries for \n\t\t\ta subdomain of that domain, specify <code>SYSTEM</code>.</p>\n\t\t       <p>For example, to forward DNS queries for example.com to resolvers on your network, you create a rule and specify <code>FORWARD</code> \n\t\t\tfor <code>RuleType</code>. To then have Resolver process queries for apex.example.com, you create a rule and specify \n\t\t\t<code>SYSTEM</code> for <code>RuleType</code>.</p>\n\t\t       <p>Currently, only Resolver can create rules that have a value of <code>RECURSIVE</code> for <code>RuleType</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DomainName": {
          "target": "com.amazonaws.route53resolver#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches \n\t\t\tmultiple Resolver rules (example.com and www.example.com), outbound DNS queries are routed using the Resolver rule that contains \n\t\t\tthe most specific domain name (www.example.com).</p>",
            "smithy.api#required": {}
          }
        },
        "TargetIps": {
          "target": "com.amazonaws.route53resolver#TargetList",
          "traits": {
            "smithy.api#documentation": "<p>The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a space.</p>\n\t\t       <p>\n            <code>TargetIps</code> is available only when the value of <code>Rule type</code> is <code>FORWARD</code>.</p>"
          }
        },
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the outbound Resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify \n\t\t\tin <code>TargetIps</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.route53resolver#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#CreatorRequestId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallDomainList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallDomainListRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallDomainListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified domain list. </p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallDomainListRequest": {
      "type": "structure",
      "members": {
        "FirewallDomainListId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallDomainListResponse": {
      "type": "structure",
      "members": {
        "FirewallDomainList": {
          "target": "com.amazonaws.route53resolver#FirewallDomainList",
          "traits": {
            "smithy.api#documentation": "<p>The domain list that you just deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified firewall rule.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteFirewallRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified firewall rule group. </p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRuleGroupRequest": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule group that you want to delete. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRuleGroupResponse": {
      "type": "structure",
      "members": {
        "FirewallRuleGroup": {
          "target": "com.amazonaws.route53resolver#FirewallRuleGroup",
          "traits": {
            "smithy.api#documentation": "<p>A collection of rules used to filter DNS network traffic. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRuleRequest": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule group that you want to delete the rule from. </p>",
            "smithy.api#required": {}
          }
        },
        "FirewallDomainListId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list that's used in the rule.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteFirewallRuleResponse": {
      "type": "structure",
      "members": {
        "FirewallRule": {
          "target": "com.amazonaws.route53resolver#FirewallRule",
          "traits": {
            "smithy.api#documentation": "<p>The specification for the firewall rule that you just deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Resolver endpoint. The effect of deleting a Resolver endpoint depends on whether it's an inbound or an outbound \n\t\t\tResolver endpoint:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>Inbound</b>: DNS queries from your network are no longer routed \n\t\t\t\tto the DNS service for the specified VPC.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverEndpointResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a query logging configuration. When you delete a configuration, Resolver stops logging DNS queries for all of the Amazon VPCs that are \n\t\t\tassociated with the configuration. This also applies if the query logging configuration is shared with other Amazon Web Services accounts, and \n\t\t\tthe other accounts have associated VPCs with the shared configuration.</p>\n\t\t\n\t\t       <p>Before you can delete a query logging configuration, you must first disassociate all VPCs from the configuration. See \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverQueryLogConfig.html\">DisassociateResolverQueryLogConfig</a>.</p>\n\t\t\t\n\t\t       <p>If you used Resource Access Manager (RAM) to share a query logging configuration with other accounts, you must stop sharing \n\t\t\tthe configuration before you can delete a configuration. The accounts that you shared the configuration with can first disassociate VPCs \n\t\t\tthat they associated with the configuration, but that's not necessary. If you stop sharing the configuration, those VPCs are automatically \n\t\t\tdisassociated from the configuration.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfig": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the query logging configuration that you deleted, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DeleteResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Resolver rule. Before you can delete a Resolver rule, you must disassociate it from all the VPCs that you \n\t\t\tassociated the Resolver rule with. For more information, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_DisassociateResolverRule.html\">DisassociateResolverRule</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleRequest": {
      "type": "structure",
      "members": {
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DeleteResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRule": {
          "target": "com.amazonaws.route53resolver#ResolverRule",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 600
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateFirewallRuleGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateFirewallRuleGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateFirewallRuleGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#ConflictException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        },
        {
          "target": "com.amazonaws.route53resolver#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a <a>FirewallRuleGroup</a> from a VPC, to remove DNS filtering from the VPC. </p>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateFirewallRuleGroupRequest": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupAssociationId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>FirewallRuleGroupAssociation</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateFirewallRuleGroupResponse": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupAssociation": {
          "target": "com.amazonaws.route53resolver#FirewallRuleGroupAssociation",
          "traits": {
            "smithy.api#documentation": "<p>The firewall rule group association that you just removed. </p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddress": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceExistsException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes IP addresses from an inbound or an outbound Resolver endpoint. If you want to remove more than one IP address, \n\t\t\tsubmit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p>\n\t\t       <p>To add an IP address to an endpoint, see \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_AssociateResolverEndpointIpAddress.html\">AssociateResolverEndpointIpAddress</a>.\n\t\t</p>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressRequest": {
      "type": "structure",
      "members": {
        "ResolverEndpointId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver endpoint that you want to disassociate an IP address from.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.route53resolver#IpAddressUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 address that you want to remove from a Resolver endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverEndpointIpAddressResponse": {
      "type": "structure",
      "members": {
        "ResolverEndpoint": {
          "target": "com.amazonaws.route53resolver#ResolverEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a VPC from a query logging configuration.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>Before you can delete a query logging configuration, you must first disassociate all VPCs\n\t\t\t\tfrom the configuration. If you used Resource Access Manager (RAM) to share a\n\t\t\t\tquery logging configuration with other accounts, VPCs can be disassociated from the\n\t\t\t\tconfiguration in the following ways:</p>\n\t\t\t         <ul>\n               <li>\n                  <p>The accounts that you shared the configuration with can disassociate VPCs from the configuration.</p>\n               </li>\n               <li>\n                  <p>You can stop sharing the configuration.</p>\n               </li>\n            </ul>\n\t\t       </note>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigRequest": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the query logging configuration that you want to disassociate a specified VPC from.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon VPC that you want to disassociate from a specified query logging configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverQueryLogConfigResponse": {
      "type": "structure",
      "members": {
        "ResolverQueryLogConfigAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverQueryLogConfigAssociation",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains settings for the association that you deleted between an Amazon VPC and a query logging configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.route53resolver#DisassociateResolverRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.route53resolver#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.route53resolver#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.route53resolver#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.route53resolver#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the association between a specified Resolver rule and a specified VPC.</p>\n\t\t       <important>\n\t\t\t         <p>If you disassociate a Resolver rule from a VPC, Resolver stops forwarding DNS queries for the \n\t\t\t\tdomain name that you specified in the Resolver rule. </p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleRequest": {
      "type": "structure",
      "members": {
        "VPCId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that you want to disassociate the Resolver rule from.</p>",
            "smithy.api#required": {}
          }
        },
        "ResolverRuleId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Resolver rule that you want to disassociate from the specified VPC.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DisassociateResolverRuleResponse": {
      "type": "structure",
      "members": {
        "ResolverRuleAssociation": {
          "target": "com.amazonaws.route53resolver#ResolverRuleAssociation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.route53resolver#DomainListFileUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.route53resolver#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.route53resolver#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.route53resolver#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.route53resolver#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parameter that you want to use to filter objects.</p>\n\t\t       <p>The valid values for <code>Name</code> depend on the action that you're including the filter in, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>,\n\t\t\tor \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>.</p>\n\t\t\n\t\t       <note>\n\t\t\t         <p>In early versions of Resolver, values for <code>Name</code> were listed as uppercase, with underscore (_) delimiters. For example, \n\t\t\t\t<code>CreatorRequestId</code> was originally listed as <code>CREATOR_REQUEST_ID</code>. Uppercase values for <code>Name</code> are still supported.</p>\n\t\t       </note>\n\t\t\n\t\t       <p>\n            <b>ListResolverEndpoints</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: The value that you specified when you created the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Direction</code>: Whether you want to return inbound or outbound Resolver endpoints. If you specify <code>DIRECTION</code> \n\t\t\t\tfor <code>Name</code>, specify <code>INBOUND</code> or <code>OUTBOUND</code> for <code>Values</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HostVPCId</code>: The ID of the VPC that inbound DNS queries pass through on the way from your network to your VPCs in a region, or \n\t\t\t\tthe VPC that outbound queries pass through on the way from your VPCs to your network. In a \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_CreateResolverEndpoint.html\">CreateResolverEndpoint</a>\n\t\t\t\trequest, <code>SubnetId</code> indirectly identifies the VPC. In a \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_GetResolverEndpoint.html\">GetResolverEndpoint</a>\n\t\t\t\trequest, the VPC ID for a Resolver endpoint \n\t\t\t\tis returned in the <code>HostVPCId</code> element. </p>\n            </li>\n            <li>\n               <p>\n                  <code>IpAddressCount</code>: The number of IP addresses that you have associated with the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SecurityGroupIds</code>: The IDs of the VPC security groups that you specified when you created the \n\t\t\t\tResolver endpoint.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver endpoint. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>OPERATIONAL</code>, <code>UPDATING</code>,\n\t\t\t\t<code>AUTO_RECOVERING</code>, <code>ACTION_NEEDED</code>, or <code>DELETING</code>. For more information, see <code>Status</code> in\n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverEndpoint.html\">ResolverEndpoint</a>.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverRules</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: The value that you specified when you created the Resolver rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DomainName</code>: The domain name for which Resolver is forwarding DNS queries to your network. In the value that \n\t\t\t\tyou specify for <code>Values</code>, include a trailing dot (.) after the domain name. For example, if the domain name is example.com, \n\t\t\t\tspecify the following value. Note the \".\" after <code>com</code>:</p>\n\t\t\t\t           <p>\n                  <code>example.com.</code>\n               </p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver rule.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverEndpointId</code>: The ID of the Resolver endpoint that the Resolver rule is associated with.</p>\n\t\t\t\t           <note>\n                  <p>You can filter on the Resolver endpoint only for rules that have a value of <code>FORWARD</code> for \n\t\t\t\t\t<code>RuleType</code>.</p>\n               </note>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver rule. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>COMPLETE</code>, <code>DELETING</code>, <code>UPDATING</code>, \n\t\t\t\tor <code>FAILED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Type</code>: The type of the Resolver rule. If you specify <code>TYPE</code> \n\t\t\t\tfor <code>Name</code>, specify <code>FORWARD</code> or <code>SYSTEM</code> for <code>Values</code>.</p>\n            </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverRuleAssociations</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the Resolver rule association.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverRuleId</code>: The ID of the Resolver rule that is associated with one or more VPCs.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the Resolver rule association. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify one of the following status codes for <code>Values</code>: <code>CREATING</code>, <code>COMPLETE</code>, <code>DELETING</code>, or \n\t\t\t\t<code>FAILED</code>.</p>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>VPCId</code>: The ID of the VPC that the Resolver rule is associated with.</p>\n            </li>\n         </ul>\n\n\t\t       <p>\n            <b>ListResolverQueryLogConfigs</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>Arn</code>: The ARN for the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AssociationCount</code>: The number of VPCs that are associated with the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CreationTime</code>: The date and time that the query logging configuration was created, in Unix time format and \n\t\t\t\tCoordinated Universal Time (UTC). </p>\n            </li>\n            <li>\n               <p>\n                  <code>CreatorRequestId</code>: A unique string that identifies the request that created the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Destination</code>: The Amazon Web Services service that you want to forward query logs to. Valid values include the following:</p>\n\t\t\t\t           <ul>\n                  <li>\n                     <p>\n                        <code>S3</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>CloudWatchLogs</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>KinesisFirehose</code>\n                     </p>\n                  </li>\n               </ul>\n\t\t\t         </li>\n            <li>\n               <p>\n                  <code>DestinationArn</code>: The ARN of the location that Resolver is sending query logs to. This value can be the ARN for an \n\t\t\t\tS3 bucket, a CloudWatch Logs log group, or a Kinesis Data Firehose delivery stream.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Id</code>: The ID of the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code>: The name of the query logging configuration</p>\n            </li>\n            <li>\n               <p>\n                  <code>OwnerId</code>: The Amazon Web Services account ID for the account that created the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ShareStatus</code>: An indication of whether the query logging configuration is shared with other Amazon Web Services accounts, \n\t\t\t\tor was shared with the current account by another Amazon Web Services account. Valid values include: <code>NOT_SHARED</code>, <code>SHARED_WITH_ME</code>, \n\t\t\t\tor <code>SHARED_BY_ME</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the query logging configuration. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify the applicable status code for <code>Values</code>: <code>CREATING</code>, <code>CREATED</code>, \n\t\t\t\t<code>DELETING</code>, or <code>FAILED</code>. For more information, see \n\t\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverQueryLogConfig.html#Route53Resolver-Type-route53resolver_ResolverQueryLogConfig-Status\">Status</a>.\n\t\t\t\t</p>\n\t\t\t         </li>\n         </ul>\n\t\t\n\t\t       <p>\n            <b>ListResolverQueryLogConfigAssociations</b>\n         </p>\n\t\t       <p>Valid values for <code>Name</code> include the following:</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <code>CreationTime</code>: The date and time that the VPC was associated with the query logging configuration, in Unix time format and \n\t\t\t\tCoordinated Universal Time (UTC).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Error</code>: If the value of <code>Status</code> is <code>FAILED</code>, specify the cause: \n\t\t\t\t<code>DESTINATION_NOT_FOUND</code> or <code>ACCESS_DENIED</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Id</code>: The ID of the query logging association.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResolverQueryLogConfigId</code>: The ID of the query logging configuration that a VPC is associated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ResourceId</code>: The ID of the Amazon VPC that is associated with the query logging configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code>: The status of the query logging association. If you specify <code>Status</code> for <code>Name</code>, \n\t\t\t\tspecify the applicable status code for <code>Values</code>: <code>CREATING</code>, <code>CREATED</code>, \n\t\t\t\t<code>DELETING</code>, or <code>FAILED</code>. For more information, see \n\t\t\t    <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ResolverQueryLogConfigAssociation.html#Route53Resolver-Type-route53resolver_ResolverQueryLogConfigAssociation-Status\">Status</a>.\n\t\t\t\t</p>\n\t\t\t         </li>\n         </ul>"
          }
        },
        "Values": {
          "target": "com.amazonaws.route53resolver#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as Resolver endpoints or Resolver rules,\n\t\t\tthe value of the parameter that you want to use to filter objects. For example, to list only inbound Resolver endpoints, specify <code>Direction</code> for \n\t\t\t<code>Name</code> and specify <code>INBOUND</code> for <code>Values</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For Resolver list operations \n\t\t\t(<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverEndpoints.html\">ListResolverEndpoints</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRules.html\">ListResolverRules</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverRuleAssociations.html\">ListResolverRuleAssociations</a>, \n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigs.html\">ListResolverQueryLogConfigs</a>,\n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverQueryLogConfigAssociations.html\">ListResolverQueryLogConfigAssociations</a>),\n\t\t\tand\n\t\t\t<a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53resolver_ListResolverDnssecConfigs.html\">ListResolverDnssecConfigs</a>), \n\t\t\tan optional specification to return a subset of objects.</p>\n\t\t       <p>To filter objects, such as Resolver endpoints or Resolver rules, you specify <code>Name</code> and <code>Values</code>. For example, \n\t\t\tto list only inbound Resolver endpoints, specify <code>Direction</code> for <code>Name</code> and specify <code>INBOUND</code> for <code>Values</code>. </p>"
      }
    },
    "com.amazonaws.route53resolver#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 600
        }
      }
    },
    "com.amazonaws.route53resolver#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FilterValue"
      }
    },
    "com.amazonaws.route53resolver#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#Filter"
      }
    },
    "com.amazonaws.route53resolver#FirewallConfig": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the firewall configuration.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC that this firewall configuration applies to.</p>"
          }
        },
        "OwnerId": {
          "target": "com.amazonaws.route53resolver#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the owner of the VPC that this firewall configuration applies to.</p>"
          }
        },
        "FirewallFailOpen": {
          "target": "com.amazonaws.route53resolver#FirewallFailOpenStatus",
          "traits": {
            "smithy.api#documentation": "<p>Determines how DNS Firewall operates during failures, for example when all traffic that is sent to DNS Firewall fails to receive a reply. </p>\n         <ul>\n            <li>\n               <p>By default, fail open is disabled, which means the failure mode is closed. This approach favors security over availability. DNS Firewall returns\n           a failure error when it is unable to properly evaluate a query. </p>\n            </li>\n            <li>\n               <p>If you enable this option, the failure mode is open. This approach favors availability over security. DNS Firewall allows queries to proceed if it \n       is unable to properly evaluate them. </p>\n            </li>\n         </ul>\n         <p>This behavior is only enforced for VPCs that have at least one DNS Firewall rule group association. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration of the firewall behavior provided by DNS Firewall for a single VPC from\n\t\t\tAmazon Virtual Private Cloud (Amazon VPC). </p>"
      }
    },
    "com.amazonaws.route53resolver#FirewallConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FirewallConfig"
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainImportOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REPLACE",
            "name": "REPLACE"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainList": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list. </p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall domain list.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain list. </p>"
          }
        },
        "DomainCount": {
          "target": "com.amazonaws.route53resolver#Unsigned",
          "traits": {
            "smithy.api#documentation": "<p>The number of domain names that are specified in the domain list.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.route53resolver#FirewallDomainListStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the domain list.  </p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.route53resolver#StatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about the status of the list, if available.</p>"
          }
        },
        "ManagedOwnerName": {
          "target": "com.amazonaws.route53resolver#ServicePrinciple",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the list, used only for lists that are not managed by you. For example, the managed domain list <code>AWSManagedDomainsMalwareDomainList</code> has the managed owner name <code>Route 53 Resolver DNS Firewall</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string defined by you to identify the request. This allows you to retry failed\n\t\t\trequests without the risk of running the operation twice. This can be any unique string,\n\t\t\tfor example, a timestamp. </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the domain list was created, in Unix time format and Coordinated Universal Time (UTC). </p>"
          }
        },
        "ModificationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the domain list was last modified, in Unix time format and Coordinated Universal Time (UTC). </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>High-level information about a list of firewall domains for use in a <a>FirewallRule</a>. This is returned by <a>GetFirewallDomainList</a>.</p>\n         <p>To retrieve the domains that are defined for this domain list, call <a>ListFirewallDomains</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainListMetadata": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list. </p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.route53resolver#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the firewall domain list metadata.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the domain list. </p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string defined by you to identify the request. This allows you to retry failed\n\t\t\trequests without the risk of running the operation twice. This can be any unique string,\n\t\t\tfor example, a timestamp. </p>"
          }
        },
        "ManagedOwnerName": {
          "target": "com.amazonaws.route53resolver#ServicePrinciple",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the list, used only for lists that are not managed by you. For example, the managed domain list <code>AWSManagedDomainsMalwareDomainList</code> has the managed owner name <code>Route 53 Resolver DNS Firewall</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Minimal high-level information for a firewall domain list. The action <a>ListFirewallDomainLists</a> returns an array of these objects. </p>\n         <p>To retrieve full information for a firewall domain list, call  <a>GetFirewallDomainList</a> and <a>ListFirewallDomains</a>.</p>"
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainListMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FirewallDomainListMetadata"
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainListStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COMPLETE",
            "name": "COMPLETE"
          },
          {
            "value": "COMPLETE_IMPORT_FAILED",
            "name": "COMPLETE_IMPORT_FAILED"
          },
          {
            "value": "IMPORTING",
            "name": "IMPORTING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.route53resolver#FirewallDomainUpdateOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ADD",
            "name": "ADD"
          },
          {
            "value": "REMOVE",
            "name": "REMOVE"
          },
          {
            "value": "REPLACE",
            "name": "REPLACE"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#FirewallDomains": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.route53resolver#FirewallDomainName"
      }
    },
    "com.amazonaws.route53resolver#FirewallFailOpenStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.route53resolver#FirewallRule": {
      "type": "structure",
      "members": {
        "FirewallRuleGroupId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the firewall rule group of the rule. </p>"
          }
        },
        "FirewallDomainListId": {
          "target": "com.amazonaws.route53resolver#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the domain list that's used in the rule. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.route53resolver#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the rule. </p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.route53resolver#Priority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the rule in the rule group. This value must be unique within the rule group. DNS Firewall processes the rules in a rule group by order of priority, starting from the lowest setting.</p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.route53resolver#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that DNS Firewall should take on a DNS query when it matches one of the domains in the rule's domain list:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALLOW</code> - Permit the request to go through.</p> \n            </li>\n            <li>\n               <p>\n                  <code>ALERT</code> - Permit the request to go through but send an alert to the logs.</p> \n            </li>\n            <li>\n               <p>\n                  <code>BLOCK</code> - Disallow the request. If this is specified, additional handling details are provided in the rule's <code>BlockResponse</code> setting. </p> \n            </li>\n         </ul>"
          }
        },
        "BlockResponse": {
          "target": "com.amazonaws.route53resolver#BlockResponse",
          "traits": {
            "smithy.api#documentation": "<p>The way that you want DNS Firewall to block the request. Used for the rule action setting <code>BLOCK</code>.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NODATA</code> - Respond indicating that the query was successful, but no response is available for it.</p> \n            </li>\n            <li>\n               <p>\n                  <code>NXDOMAIN</code> - Respond indicating that the domain name that's in the query doesn't exist.</p> \n            </li>\n            <li>\n               <p>\n                  <code>OVERRIDE</code> - Provide a custom override in the response. This option requires custom handling details in the rule's <code>BlockOverride*</code> settings. </p> \n            </li>\n         </ul>"
          }
        },
        "BlockOverrideDomain": {
          "target": "com.amazonaws.route53resolver#BlockOverrideDomain",
          "traits": {
            "smithy.api#documentation": "<p>The custom DNS record to send back in response to the query. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>"
          }
        },
        "BlockOverrideDnsType": {
          "target": "com.amazonaws.route53resolver#BlockOverrideDnsType",
          "traits": {
            "smithy.api#documentation": "<p>The DNS record's type. This determines the format of the record value that you provided in <code>BlockOverrideDomain</code>. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>"
          }
        },
        "BlockOverrideTtl": {
          "target": "com.amazonaws.route53resolver#Unsigned",
          "traits": {
            "smithy.api#documentation": "<p>The recommended amount of time, in seconds, for the DNS resolver or web browser to cache the provided override record. Used for the rule action <code>BLOCK</code> with a <code>BlockResponse</code> setting of <code>OVERRIDE</code>.</p>"
          }
        },
        "CreatorRequestId": {
          "target": "com.amazonaws.route53resolver#CreatorRequestId",
          "traits": {
            "smithy.api#documentation": "<p>A unique string defined by you to identify the request. This allows you to retry failed requests \n           without the risk of executing the operation twice. This can be any unique string, for example, a timestamp. </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.route53resolver#Rfc3339TimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the rule was created, in Unix time format and Coordinated Universal Time (UTC). </p>"
          }
        },
        "ModificationTime": {
[...]
