{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.rtbfabric#AcceptLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#AcceptLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#AcceptLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a link request between gateways.</p> <p>When a requester gateway requests to link with a responder gateway, the responder can use this operation to accept the link request and establish the connection.</p>",
        "smithy.api#examples": [
          {
            "title": "Accept a link request",
            "documentation": "Accepts a link request from requester gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "output": {
              "linkId": "link-87654321",
              "gatewayId": "rtb-gw-12345678",
              "peerGatewayId": "rtb-gw-87654321",
              "status": "ACCEPTED",
              "createdAt": "2024-01-15T10:30:00Z",
              "updatedAt": "2024-01-15T10:35:00Z"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/gateway/{gatewayId}/link/{linkId}/accept"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "AcceptLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "linkId": "link-12345",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#AcceptLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for the application logs.</p>",
            "smithy.api#required": {}
          }
        },
        "timeoutInMillis": {
          "target": "com.amazonaws.rtbfabric#LinkTimeoutInMillis",
          "traits": {
            "smithy.api#documentation": "<p>The timeout value in milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#AcceptLinkResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "peerGatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the peer gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the link was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the link was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.amazonaws.rtbfabric#LinkDirection",
          "traits": {
            "smithy.api#documentation": "<p>The direction of the link.</p>"
          }
        },
        "flowModules": {
          "target": "com.amazonaws.rtbfabric#ModuleConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of flow modules.</p>"
          }
        },
        "pendingFlowModules": {
          "target": "com.amazonaws.rtbfabric#ModuleConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of pending flow modules.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings"
        },
        "connectivityType": {
          "target": "com.amazonaws.rtbfabric#ConnectivityType",
          "traits": {
            "smithy.api#documentation": "<p>The connectivity type of the link.</p>"
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed because you do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.rtbfabric#AcmCertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 75,
          "max": 256
        },
        "smithy.api#pattern": "^arn:(aws|aws-cn|aws-us-gov):acm:[a-z0-9-]+:[0-9]{12}:certificate/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      }
    },
    "com.amazonaws.rtbfabric#Action": {
      "type": "union",
      "members": {
        "noBid": {
          "target": "com.amazonaws.rtbfabric#NoBidAction",
          "traits": {
            "smithy.api#documentation": "<p>Describes a no bid action.</p>"
          }
        },
        "headerTag": {
          "target": "com.amazonaws.rtbfabric#HeaderTagAction",
          "traits": {
            "smithy.api#documentation": "<p>Describes the header tag for a bid action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a bid action.</p>"
      }
    },
    "com.amazonaws.rtbfabric#AssociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#AssociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#AssociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an ACM certificate with a responder gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Associate a certificate with a responder gateway",
            "documentation": "Associate an ACM certificate with a responder gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012",
              "clientToken": "550e8400-e29b-41d4-a716-446655440000"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012",
              "status": "PENDING_ASSOCIATION"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/responder-gateway/{gatewayId}/certificate"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.rtbfabric#AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate to associate.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#AssociateCertificateResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#CertificateAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#AutoScalingGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.rtbfabric#AutoScalingGroupNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#AutoScalingGroupName"
      }
    },
    "com.amazonaws.rtbfabric#AutoScalingGroupsConfiguration": {
      "type": "structure",
      "members": {
        "autoScalingGroupNames": {
          "target": "com.amazonaws.rtbfabric#AutoScalingGroupNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the auto scaling group.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN of the auto scaling group.</p>",
            "smithy.api#pattern": "^arn:aws:iam::[0-9]{12}:role/.{1,2048}$",
            "smithy.api#required": {}
          }
        },
        "healthCheckConfig": {
          "target": "com.amazonaws.rtbfabric#HealthCheckConfig",
          "traits": {
            "smithy.api#documentation": "<p>The health check configuration for the Auto Scaling group managed endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of an auto scaling group.</p>"
      }
    },
    "com.amazonaws.rtbfabric#Base64EncodedCertificateChain": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2097152
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.rtbfabric#CertificateAssociationStatus": {
      "type": "enum",
      "members": {
        "PENDING_ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_ASSOCIATION"
          }
        },
        "ASSOCIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATED"
          }
        },
        "PENDING_DISASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING_DISASSOCIATION"
          }
        },
        "DISASSOCIATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISASSOCIATED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of a certificate association with a gateway.</p>"
      }
    },
    "com.amazonaws.rtbfabric#CertificateAssociationSummary": {
      "type": "structure",
      "members": {
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#CertificateAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate association.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the certificate was associated.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the certificate association was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a summary of a certificate association.</p>"
      }
    },
    "com.amazonaws.rtbfabric#CertificateAssociationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#CertificateAssociationSummary"
      }
    },
    "com.amazonaws.rtbfabric#CertificateAuthorityCertificates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#Base64EncodedCertificateChain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.rtbfabric#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed because of a conflict in the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.rtbfabric#ConnectivityType": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "PUBLIC_INGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_INGRESS"
          }
        },
        "PUBLIC_EGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLIC_EGRESS"
          }
        },
        "EXTERNAL_INBOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL_INBOUND"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connectivity type for a link or gateway.</p>"
      }
    },
    "com.amazonaws.rtbfabric#CreateInboundExternalLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateInboundExternalLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateInboundExternalLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an inbound external link.</p>",
        "smithy.api#examples": [
          {
            "title": "Create an inbound external link",
            "documentation": "Create an inbound external link for a responder gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "clientToken": "randomClientToken",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "status": "ACTIVE",
              "domainName": "rtb-gw-12345678.example.com"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/responder-gateway/{gatewayId}/inbound-external-link"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateInboundExternalLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "clientToken": "abc123def456",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateInboundExternalLinkRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for the application logs.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateInboundExternalLinkResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.rtbfabric#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new link between gateways.</p> <p>Establishes a connection that allows gateways to communicate and exchange bid requests and responses.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a standard link between gateways",
            "documentation": "Creates a new link between two RTB applications. Requires peerGatewayId to specify the target gateway.",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "peerGatewayId": "rtb-gw-87654321",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "output": {
              "linkId": "link-87654321",
              "gatewayId": "rtb-gw-12345678",
              "peerGatewayId": "rtb-gw-87654321",
              "status": "PENDING_REQUEST",
              "createdAt": "2024-01-15T10:30:00Z",
              "updatedAt": "2024-01-15T10:30:00Z"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/gateway/{gatewayId}/create-link"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "peerGatewayId": "rtb-gw-67890",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "peerGatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the peer gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "httpResponderAllowed": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Boolean to specify if an HTTP responder is allowed.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for the application logs.</p>",
            "smithy.api#required": {}
          }
        },
        "timeoutInMillis": {
          "target": "com.amazonaws.rtbfabric#LinkTimeoutInMillis",
          "traits": {
            "smithy.api#documentation": "<p>The timeout value in milliseconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateLinkResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "peerGatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the peer gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the link was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the link was updated.</p>",
            "smithy.api#required": {}
          }
        },
        "direction": {
          "target": "com.amazonaws.rtbfabric#LinkDirection",
          "traits": {
            "smithy.api#documentation": "<p>The direction of the link.</p>"
          }
        },
        "flowModules": {
          "target": "com.amazonaws.rtbfabric#ModuleConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of flow modules.</p>"
          }
        },
        "pendingFlowModules": {
          "target": "com.amazonaws.rtbfabric#ModuleConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of pending flow modules.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings"
        },
        "connectivityType": {
          "target": "com.amazonaws.rtbfabric#ConnectivityType",
          "traits": {
            "smithy.api#documentation": "<p>The connectivity type of the link.</p>"
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "customerProvidedId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The customer-provided unique identifier of the link.</p>",
            "smithy.api#pattern": "^[a-zA-Z0-9_-]{5,50}$"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateLinkRoutingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateLinkRoutingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateLinkRoutingRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a routing rule for a link.</p> <p>Routing rules use priority-based evaluation where lower priority numbers are evaluated first. Each rule specifies conditions that must all match for the rule to apply.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a link routing rule",
            "documentation": "Create a routing rule with host header and path prefix conditions",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "priority": 10,
              "conditions": {
                "hostHeader": "api.customer.com",
                "pathPrefix": "/openrtb/"
              },
              "clientToken": "550e8400-e29b-41d4-a716-446655440000"
            },
            "output": {
              "ruleId": "rule-abc123def456",
              "status": "CREATION_IN_PROGRESS",
              "createdAt": "2024-01-01T12:00:00Z"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/responder-gateway/{gatewayId}/link/{linkId}/routing-rule"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateLinkRoutingRuleRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a unique, case-sensitive identifier that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>IdempotentParameterMismatch</code> error.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "priority": {
          "target": "com.amazonaws.rtbfabric#RulePriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the routing rule. Lower numbers are evaluated first. Valid values are 1 to 1000. Priority must be unique among non-deleted rules within a link.</p>",
            "smithy.api#required": {}
          }
        },
        "conditions": {
          "target": "com.amazonaws.rtbfabric#RuleCondition",
          "traits": {
            "smithy.api#documentation": "<p>The conditions for the routing rule. All specified fields must match for the rule to apply. At least one condition field must be set.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#Gateway"
          },
          {
            "resource": "com.amazonaws.rtbfabric#Link"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateLinkRoutingRuleResponse": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "com.amazonaws.rtbfabric#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the routing rule.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the routing rule.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the routing rule was created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateOutboundExternalLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateOutboundExternalLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateOutboundExternalLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an outbound external link.</p>",
        "smithy.api#examples": [
          {
            "title": "Create an outbound external link",
            "documentation": "Create an outbound external link for a requester gateway to connect to external public responder endpoints",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "publicEndpoint": "https://external-responder.example.com",
              "clientToken": "12345678-1234-1234-1234-123456789012",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "status": "ACTIVE"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/requester-gateway/{gatewayId}/outbound-external-link"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateOutboundExternalLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "publicEndpoint": "https://example.com",
              "clientToken": "mno345pqr678",
              "logSettings": {
                "applicationLogs": {
                  "sampling": {
                    "errorLog": 100.0,
                    "filterLog": 0.0
                  }
                }
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateOutboundExternalLinkRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.rtbfabric#LinkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the link.</p>"
          }
        },
        "publicEndpoint": {
          "target": "com.amazonaws.rtbfabric#URL",
          "traits": {
            "smithy.api#documentation": "<p>The public endpoint of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "logSettings": {
          "target": "com.amazonaws.rtbfabric#LinkLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Settings for the application logs.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateOutboundExternalLinkResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateRequesterGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateRequesterGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateRequesterGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a requester gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Create a requester gateway",
            "documentation": "Create requester gateway",
            "input": {
              "description": "My requester gateway",
              "vpcId": "vpc-12345678",
              "subnetIds": ["subnet-12345678", "subnet-87654321"],
              "securityGroupIds": ["sg-12345678"],
              "clientToken": "12345678-1234-1234-1234-123456789012"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "domainName": "rtb-gw-12345678.example.com",
              "status": "ACTIVE"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/requester-gateway"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateRequesterGateway",
            "params": {
              "description": "Test gateway",
              "vpcId": "vpc-12345678",
              "subnetIds": ["subnet-12345678"],
              "securityGroupIds": ["sg-12345678"],
              "clientToken": "ghi901jkl234"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateRequesterGatewayRequest": {
      "type": "structure",
      "members": {
        "vpcId": {
          "target": "com.amazonaws.rtbfabric#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Virtual Private Cloud (VPC).</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.rtbfabric#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the subnets.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.rtbfabric#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the security groups.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the requester gateway.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 255
            },
            "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateRequesterGatewayResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.rtbfabric#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name of the requester gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#RequesterGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateResponderGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#CreateResponderGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#CreateResponderGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a responder gateway.</p> <important> <p>A domain name or managed endpoint is required.</p> </important>",
        "smithy.api#examples": [
          {
            "title": "Create a responder gateway",
            "documentation": "Create responder gateway",
            "input": {
              "description": "My responder gateway",
              "vpcId": "vpc-12345678",
              "subnetIds": ["subnet-12345678", "subnet-87654321"],
              "securityGroupIds": ["sg-12345678"],
              "port": 443,
              "protocol": "HTTPS",
              "clientToken": "12345678-1234-1234-1234-123456789012"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "status": "ACTIVE"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/responder-gateway"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "CreateResponderGateway",
            "params": {
              "description": "Test gateway",
              "vpcId": "vpc-12345678",
              "subnetIds": ["subnet-12345678"],
              "securityGroupIds": ["sg-12345678"],
              "port": 443,
              "protocol": "HTTPS",
              "clientToken": "stu567vwx890"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#CreateResponderGatewayRequest": {
      "type": "structure",
      "members": {
        "vpcId": {
          "target": "com.amazonaws.rtbfabric#VpcId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the Virtual Private Cloud (VPC).</p>",
            "smithy.api#required": {}
          }
        },
        "subnetIds": {
          "target": "com.amazonaws.rtbfabric#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the subnets.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.rtbfabric#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifiers of the security groups.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.rtbfabric#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name for the responder gateway.</p>"
          }
        },
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The networking port to use.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 65535
            },
            "smithy.api#required": {}
          }
        },
        "protocol": {
          "target": "com.amazonaws.rtbfabric#Protocol",
          "traits": {
            "smithy.api#documentation": "<p>The networking protocol to use.</p>",
            "smithy.api#required": {}
          }
        },
        "listenerConfig": {
          "target": "com.amazonaws.rtbfabric#ListenerConfig"
        },
        "trustStoreConfiguration": {
          "target": "com.amazonaws.rtbfabric#TrustStoreConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the trust store.</p>"
          }
        },
        "managedEndpointConfiguration": {
          "target": "com.amazonaws.rtbfabric#ManagedEndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for the managed endpoint.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique client token.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the responder gateway.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 255
            },
            "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
          }
        },
        "tags": {
          "target": "com.amazonaws.rtbfabric#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the key-value pairs of the tag or tags to assign to the resource.</p>"
          }
        },
        "gatewayType": {
          "target": "com.amazonaws.rtbfabric#GatewayType",
          "traits": {
            "smithy.api#documentation": "<p>The type of gateway. Valid values are <code>EXTERNAL</code> or <code>INTERNAL</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#CreateResponderGatewayResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#ResponderGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "listenerConfig": {
          "target": "com.amazonaws.rtbfabric#ListenerConfig",
          "traits": {
            "smithy.api#documentation": "<p>The listener configuration for the responder gateway.</p>"
          }
        },
        "externalInboundEndpoint": {
          "target": "com.amazonaws.rtbfabric#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The external inbound endpoint for the responder gateway.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#CustomerProvidedId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.rtbfabric#DeleteInboundExternalLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteInboundExternalLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteInboundExternalLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an inbound external link.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete an inbound external link",
            "documentation": "Delete an inbound external link",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321"
            },
            "output": {
              "linkId": "link-87654321",
              "status": "DELETED"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/responder-gateway/{gatewayId}/inbound-external-link/{linkId}"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteInboundExternalLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "linkId": "link-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteInboundExternalLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteInboundExternalLinkResponse": {
      "type": "structure",
      "members": {
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a link between gateways.</p> <p>Permanently removes the connection between gateways. This action cannot be undone.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a link",
            "documentation": "Deletes an existing link",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321"
            },
            "output": {
              "linkId": "link-87654321",
              "status": "PENDING_DELETION"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/gateway/{gatewayId}/link/{linkId}"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "linkId": "link-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteLinkResponse": {
      "type": "structure",
      "members": {
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the link.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteLinkRoutingRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteLinkRoutingRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteLinkRoutingRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a routing rule from a link.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a link routing rule",
            "documentation": "Delete a link routing rule",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "ruleId": "rule-abc123def456"
            },
            "output": {
              "ruleId": "rule-abc123def456",
              "status": "DELETION_IN_PROGRESS"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/responder-gateway/{gatewayId}/link/{linkId}/routing-rule/{ruleId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteLinkRoutingRuleRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ruleId": {
          "target": "com.amazonaws.rtbfabric#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the routing rule.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#Gateway"
          },
          {
            "resource": "com.amazonaws.rtbfabric#Link"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteLinkRoutingRuleResponse": {
      "type": "structure",
      "members": {
        "ruleId": {
          "target": "com.amazonaws.rtbfabric#RuleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the routing rule.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#RuleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the routing rule.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteOutboundExternalLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteOutboundExternalLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteOutboundExternalLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an outbound external link.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete an outbound external link",
            "documentation": "Delete an outbound external link",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321"
            },
            "output": {
              "linkId": "link-87654321",
              "status": "DELETED"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/requester-gateway/{gatewayId}/outbound-external-link/{linkId}"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteOutboundExternalLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "linkId": "link-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteOutboundExternalLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteOutboundExternalLinkResponse": {
      "type": "structure",
      "members": {
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#LinkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteRequesterGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteRequesterGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteRequesterGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a requester gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a requester gateway",
            "documentation": "Delete requester gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "status": "PENDING_DELETION"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/requester-gateway/{gatewayId}"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteRequesterGateway",
            "params": {
              "gatewayId": "rtb-gw-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteRequesterGatewayRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteRequesterGatewayResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#RequesterGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteResponderGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DeleteResponderGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DeleteResponderGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a responder gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete a responder gateway",
            "documentation": "Delete responder gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "status": "PENDING_DELETION"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/responder-gateway/{gatewayId}"
        },
        "smithy.api#idempotent": {},
        "smithy.test#smokeTests": [
          {
            "id": "DeleteResponderGateway",
            "params": {
              "gatewayId": "rtb-gw-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DeleteResponderGatewayRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.rtbfabric#DeleteResponderGatewayResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#ResponderGatewayStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.rtbfabric#DisassociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#DisassociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#DisassociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ConflictException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a certificate association from a responder gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Disassociate a certificate from a responder gateway",
            "documentation": "Remove an ACM certificate association from a responder gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012",
              "status": "PENDING_DISASSOCIATION"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/responder-gateway/{gatewayId}/certificate"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.rtbfabric#DisassociateCertificateRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate to disassociate.</p>",
            "smithy.api#httpQuery": "acmCertificateArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DisassociateCertificateResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#CertificateAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate association.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?)(?:\\.(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?))+$"
      }
    },
    "com.amazonaws.rtbfabric#EksEndpointsConfiguration": {
      "type": "structure",
      "members": {
        "endpointsResourceName": {
          "target": "com.amazonaws.rtbfabric#KubernetesEndpointsResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the endpoint resource.</p>",
            "smithy.api#required": {}
          }
        },
        "endpointsResourceNamespace": {
          "target": "com.amazonaws.rtbfabric#KubernetesNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the endpoint resource.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterApiServerEndpointUri": {
          "target": "com.amazonaws.rtbfabric#URI",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the cluster API server endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterApiServerCaCertificateChain": {
          "target": "com.amazonaws.rtbfabric#Base64EncodedCertificateChain",
          "traits": {
            "smithy.api#documentation": "<p>The CA certificate chain of the cluster API server.</p>",
            "smithy.api#required": {}
          }
        },
        "clusterName": {
          "target": "com.amazonaws.rtbfabric#KubernetesClusterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN for the cluster.</p>",
            "smithy.api#pattern": "^arn:aws:iam::[0-9]{12}:role/.{1,2048}$",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of an Amazon Elastic Kubernetes Service endpoint.</p>"
      }
    },
    "com.amazonaws.rtbfabric#Filter": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.amazonaws.rtbfabric#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Describes the criteria for a filter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the configuration of a filter.</p>"
      }
    },
    "com.amazonaws.rtbfabric#FilterConfiguration": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#Filter"
      }
    },
    "com.amazonaws.rtbfabric#FilterCriteria": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#FilterCriterion"
      }
    },
    "com.amazonaws.rtbfabric#FilterCriterion": {
      "type": "structure",
      "members": {
        "path": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The path to filter.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.rtbfabric#ValueList",
          "traits": {
            "smithy.api#documentation": "<p>The value to filter.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the criteria for a filter.</p>"
      }
    },
    "com.amazonaws.rtbfabric#FilterType": {
      "type": "enum",
      "members": {
        "INCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INCLUDE"
          }
        },
        "EXCLUDE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXCLUDE"
          }
        }
      }
    },
    "com.amazonaws.rtbfabric#FlowModuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z0-9 -]+$"
      }
    },
    "com.amazonaws.rtbfabric#FlowModuleNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#FlowModuleName"
      }
    },
    "com.amazonaws.rtbfabric#Gateway": {
      "type": "resource",
      "identifiers": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId"
        }
      },
      "resources": [
        {
          "target": "com.amazonaws.rtbfabric#Link"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "gateway/{gatewayId}"
        }
      }
    },
    "com.amazonaws.rtbfabric#GatewayId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 32
        },
        "smithy.api#pattern": "^rtb-gw-[a-z0-9-]{1,25}$"
      }
    },
    "com.amazonaws.rtbfabric#GatewayIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.rtbfabric#GatewayId"
      }
    },
    "com.amazonaws.rtbfabric#GatewayType": {
      "type": "enum",
      "members": {
        "EXTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXTERNAL"
          }
        },
        "INTERNAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of gateway.</p>"
      }
    },
    "com.amazonaws.rtbfabric#GetCertificateAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#GetCertificateAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#GetCertificateAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a certificate association with a responder gateway.</p>",
        "smithy.api#examples": [
          {
            "title": "Get certificate association details from a responder gateway",
            "documentation": "Retrieve details of an ACM certificate association with a responder gateway",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "acmCertificateArn": "arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012",
              "status": "ASSOCIATED",
              "associatedAt": 1704067200,
              "updatedAt": 1704067200
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/responder-gateway/{gatewayId}/certificate"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "CertificateAssociated": {
            "minDelay": 15,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "ASSOCIATED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DISASSOCIATED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "PENDING_DISASSOCIATION",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "CertificateDisassociated": {
            "minDelay": 15,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DISASSOCIATED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "PENDING_ASSOCIATION",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.rtbfabric#GetCertificateAssociationRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate.</p>",
            "smithy.api#httpQuery": "acmCertificateArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#GetCertificateAssociationResponse": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "acmCertificateArn": {
          "target": "com.amazonaws.rtbfabric#AcmCertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ACM certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.rtbfabric#CertificateAssociationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the certificate association.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the certificate was associated.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the certificate association was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.rtbfabric#ResponderGateway"
          }
        ]
      }
    },
    "com.amazonaws.rtbfabric#GetInboundExternalLink": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.rtbfabric#GetInboundExternalLinkRequest"
      },
      "output": {
        "target": "com.amazonaws.rtbfabric#GetInboundExternalLinkResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.rtbfabric#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.rtbfabric#InternalServerException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ThrottlingException"
        },
        {
          "target": "com.amazonaws.rtbfabric#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about an inbound external link.</p>",
        "smithy.api#examples": [
          {
            "title": "Get inbound external link details",
            "documentation": "Get details of an inbound external link",
            "input": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321"
            },
            "output": {
              "gatewayId": "rtb-gw-12345678",
              "linkId": "link-87654321",
              "status": "ACTIVE",
              "domainName": "rtb-gw-12345678.123456789012.gateway.rtbfabric.us-east-1.amazonaws.com",
              "createdAt": "2024-01-15T10:30:00Z",
              "updatedAt": "2024-01-15T10:35:00Z"
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/responder-gateway/{gatewayId}/inbound-external-link/{linkId}"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetInboundExternalLink",
            "params": {
              "gatewayId": "rtb-gw-12345",
              "linkId": "link-12345"
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            },
            "expect": {
              "success": {}
            }
          }
        ],
        "smithy.waiters#waitable": {
          "InboundExternalLinkActive": {
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "REJECTED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "ISOLATED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "InboundExternalLinkDeleted": {
            "minDelay": 30,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "DELETED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "FAILED",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "status",
                    "expected": "REJECTED",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.rtbfabric#GetInboundExternalLinkRequest": {
      "type": "structure",
      "members": {
        "gatewayId": {
          "target": "com.amazonaws.rtbfabric#GatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the gateway.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "linkId": {
          "target": "com.amazonaws.rtbfabric#LinkId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the link.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
[...]
