{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.s3control#AWSS3ControlServiceV20180820": {
      "type": "service",
      "version": "2018-08-20",
      "operations": [
        {
          "target": "com.amazonaws.s3control#CreateAccessPoint"
        },
        {
          "target": "com.amazonaws.s3control#CreateBucket"
        },
        {
          "target": "com.amazonaws.s3control#CreateJob"
        },
        {
          "target": "com.amazonaws.s3control#DeleteAccessPoint"
        },
        {
          "target": "com.amazonaws.s3control#DeleteAccessPointPolicy"
        },
        {
          "target": "com.amazonaws.s3control#DeleteBucket"
        },
        {
          "target": "com.amazonaws.s3control#DeleteBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3control#DeleteBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3control#DeleteBucketTagging"
        },
        {
          "target": "com.amazonaws.s3control#DeleteJobTagging"
        },
        {
          "target": "com.amazonaws.s3control#DeletePublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3control#DescribeJob"
        },
        {
          "target": "com.amazonaws.s3control#GetAccessPoint"
        },
        {
          "target": "com.amazonaws.s3control#GetAccessPointPolicy"
        },
        {
          "target": "com.amazonaws.s3control#GetAccessPointPolicyStatus"
        },
        {
          "target": "com.amazonaws.s3control#GetBucket"
        },
        {
          "target": "com.amazonaws.s3control#GetBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3control#GetBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3control#GetBucketTagging"
        },
        {
          "target": "com.amazonaws.s3control#GetJobTagging"
        },
        {
          "target": "com.amazonaws.s3control#GetPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3control#ListAccessPoints"
        },
        {
          "target": "com.amazonaws.s3control#ListJobs"
        },
        {
          "target": "com.amazonaws.s3control#ListRegionalBuckets"
        },
        {
          "target": "com.amazonaws.s3control#PutAccessPointPolicy"
        },
        {
          "target": "com.amazonaws.s3control#PutBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3control#PutBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3control#PutBucketTagging"
        },
        {
          "target": "com.amazonaws.s3control#PutJobTagging"
        },
        {
          "target": "com.amazonaws.s3control#PutPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3control#UpdateJobPriority"
        },
        {
          "target": "com.amazonaws.s3control#UpdateJobStatus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "S3 Control",
          "arnNamespace": "s3",
          "cloudFormationName": "S3Control",
          "cloudTrailEventSource": "v20180820.awss3control.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "s3"
        },
        "aws.protocols#restXml": {},
        "smithy.api#documentation": "<p>\n         AWS S3 Control provides access to Amazon S3 control plane operations.\n      </p>",
        "smithy.api#title": "AWS S3 Control",
        "smithy.api#xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        }
      }
    },
    "com.amazonaws.s3control#AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "target": "com.amazonaws.s3control#DaysAfterInitiation"
        }
      }
    },
    "com.amazonaws.s3control#AccessPoint": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of this access point.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkOrigin": {
          "target": "com.amazonaws.s3control#NetworkOrigin",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this access point allows access from the public internet. If\n            <code>VpcConfiguration</code> is specified for this access point, then\n            <code>NetworkOrigin</code> is <code>VPC</code>, and the access point doesn't allow access from\n         the public internet. Otherwise, <code>NetworkOrigin</code> is <code>Internet</code>, and\n         the access point allows access from the public internet, subject to the access point and bucket access\n         policies.</p>",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket associated with this access point.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessPointArn": {
          "target": "com.amazonaws.s3control#S3AccessPointArn"
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.s3control#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) configuration for this access point, if one exists.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access point used to access a bucket.</p>"
      }
    },
    "com.amazonaws.s3control#AccessPointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#AccessPoint",
        "traits": {
          "smithy.api#xmlName": "AccessPoint"
        }
      }
    },
    "com.amazonaws.s3control#AccessPointName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 50
        }
      }
    },
    "com.amazonaws.s3control#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.s3control#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#BucketAlreadyExists": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#BucketAlreadyOwnedByYou": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#BucketCannedACL": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "private"
          },
          {
            "value": "public-read"
          },
          {
            "value": "public-read-write"
          },
          {
            "value": "authenticated-read"
          }
        ]
      }
    },
    "com.amazonaws.s3control#BucketLocationConstraint": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EU"
          },
          {
            "value": "eu-west-1"
          },
          {
            "value": "us-west-1"
          },
          {
            "value": "us-west-2"
          },
          {
            "value": "ap-south-1"
          },
          {
            "value": "ap-southeast-1"
          },
          {
            "value": "ap-southeast-2"
          },
          {
            "value": "ap-northeast-1"
          },
          {
            "value": "sa-east-1"
          },
          {
            "value": "cn-north-1"
          },
          {
            "value": "eu-central-1"
          }
        ]
      }
    },
    "com.amazonaws.s3control#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        }
      }
    },
    "com.amazonaws.s3control#ConfirmRemoveSelfBucketAccess": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#ConfirmationRequired": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#CreateAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#CreateAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#CreateAccessPointResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates an access point and associates it with the specified bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points.html\">Managing Data Access with Amazon S3 Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20180820/accesspoint/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#CreateAccessPointRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID for the owner of the bucket for which you want to create an access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name you want to assign to this access point.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.s3control#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>If you include this field, Amazon S3 restricts access to this access point to requests from the\n         specified virtual private cloud (VPC).</p>"
          }
        },
        "PublicAccessBlockConfiguration": {
          "target": "com.amazonaws.s3control#PublicAccessBlockConfiguration"
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket that you want to associate this access point with.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#CreateAccessPointResult": {
      "type": "structure",
      "members": {
        "AccessPointArn": {
          "target": "com.amazonaws.s3control#S3AccessPointArn"
        }
      }
    },
    "com.amazonaws.s3control#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#CreateBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#CreateBucketResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#BucketAlreadyExists"
        },
        {
          "target": "com.amazonaws.s3control#BucketAlreadyOwnedByYou"
        }
      ],
      "traits": {
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20180820/bucket/{Bucket}",
          "code": 200
        },
        "smithy.api#httpChecksumRequired": {}
      }
    },
    "com.amazonaws.s3control#CreateBucketConfiguration": {
      "type": "structure",
      "members": {
        "LocationConstraint": {
          "target": "com.amazonaws.s3control#BucketLocationConstraint"
        }
      }
    },
    "com.amazonaws.s3control#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GrantFullControl": {
          "target": "com.amazonaws.s3control#GrantFullControl",
          "traits": {
            "smithy.api#httpHeader": "x-amz-grant-full-control"
          }
        },
        "GrantRead": {
          "target": "com.amazonaws.s3control#GrantRead",
          "traits": {
            "smithy.api#httpHeader": "x-amz-grant-read"
          }
        },
        "GrantReadACP": {
          "target": "com.amazonaws.s3control#GrantReadACP",
          "traits": {
            "smithy.api#httpHeader": "x-amz-grant-read-acp"
          }
        },
        "ACL": {
          "target": "com.amazonaws.s3control#BucketCannedACL",
          "traits": {
            "smithy.api#httpHeader": "x-amz-acl"
          }
        },
        "GrantWrite": {
          "target": "com.amazonaws.s3control#GrantWrite",
          "traits": {
            "smithy.api#httpHeader": "x-amz-grant-write"
          }
        },
        "GrantWriteACP": {
          "target": "com.amazonaws.s3control#GrantWriteACP",
          "traits": {
            "smithy.api#httpHeader": "x-amz-grant-write-acp"
          }
        },
        "CreateBucketConfiguration": {
          "target": "com.amazonaws.s3control#CreateBucketConfiguration",
          "traits": {
            "smithy.api#httpPayload": {}
          }
        },
        "ObjectLockEnabledForBucket": {
          "target": "com.amazonaws.s3control#ObjectLockEnabledForBucket",
          "traits": {
            "smithy.api#httpHeader": "x-amz-bucket-object-lock-enabled"
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength64String",
          "traits": {
            "smithy.api#httpHeader": "x-amz-outpost-id"
          }
        }
      }
    },
    "com.amazonaws.s3control#CreateBucketResult": {
      "type": "structure",
      "members": {
        "BucketArn": {
          "target": "com.amazonaws.s3control#S3RegionalBucketArn"
        },
        "Location": {
          "target": "com.amazonaws.s3control#Location",
          "traits": {
            "smithy.api#httpHeader": "Location"
          }
        }
      }
    },
    "com.amazonaws.s3control#CreateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#CreateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#CreateJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3control#IdempotencyException"
        },
        {
          "target": "com.amazonaws.s3control#InternalServiceException"
        },
        {
          "target": "com.amazonaws.s3control#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>S3 Batch Operations performs large-scale Batch Operations on Amazon S3 objects. Batch Operations can\n         execute a single operation or action on lists of Amazon S3 objects that you specify. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-basics.html\">S3 Batch Operations</a> in\n         the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n         <p>This operation creates a S3 Batch Operations job.</p>\n         <p></p>\n         <p>Related actions include:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListJobs</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobPriority</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobStatus</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v20180820/jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#CreateJobRequest": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength64String",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Priority": {
          "target": "com.amazonaws.s3control#JobPriority",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.s3control#S3TagSet",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags to associate with the S3 Batch Operations job. This is an optional parameter. </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.s3control#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the AWS Identity and Access Management (IAM) role\n         that Batch Operations will use to execute this job's operation on each object in the\n         manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength256String",
          "traits": {
            "smithy.api#documentation": "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>"
          }
        },
        "ConfirmationRequired": {
          "target": "com.amazonaws.s3control#ConfirmationRequired",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Manifest": {
          "target": "com.amazonaws.s3control#JobManifest",
          "traits": {
            "smithy.api#documentation": "<p>Configuration parameters for the manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "Operation": {
          "target": "com.amazonaws.s3control#JobOperation",
          "traits": {
            "smithy.api#documentation": "<p>The operation that you want this job to perform on each object listed in the manifest.\n         For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Operations</a> in the\n            <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Report": {
          "target": "com.amazonaws.s3control#JobReport",
          "traits": {
            "smithy.api#documentation": "<p>Configuration parameters for the optional job-completion report.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#CreateJobResult": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a\n         successful <code>Create Job</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#CreationDate": {
      "type": "timestamp"
    },
    "com.amazonaws.s3control#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.s3control#Days": {
      "type": "integer"
    },
    "com.amazonaws.s3control#DaysAfterInitiation": {
      "type": "integer"
    },
    "com.amazonaws.s3control#DeleteAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteAccessPointRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified access point.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/accesspoint/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteAccessPointPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteAccessPointPolicyRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the access point policy for the specified access point.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/accesspoint/{Name}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteAccessPointPolicyRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the account that owns the specified access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point whose policy you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteAccessPointRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the account that owns the specified access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteBucketRequest"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/bucket/{Bucket}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketLifecycleConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteBucketLifecycleConfigurationRequest"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/bucket/{Bucket}/lifecycleconfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketLifecycleConfigurationRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteBucketPolicyRequest"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/bucket/{Bucket}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketTagging": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteBucketTaggingRequest"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/bucket/{Bucket}/tagging",
          "code": 204
        }
      }
    },
    "com.amazonaws.s3control#DeleteBucketTaggingRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteJobTagging": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeleteJobTaggingRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#DeleteJobTaggingResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#InternalServiceException"
        },
        {
          "target": "com.amazonaws.s3control#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3control#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the entire tag set from the specified S3 Batch Operations job. To use this operation,\n         you must have permission to perform the <code>s3:DeleteJobTagging</code> action. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-managing-jobs.html#batch-ops-job-tags\">Controlling access and labeling jobs using tags</a> in the\n            <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n         <p></p>\n         <p>Related actions include:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetJobTagging</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>PutJobTagging</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/jobs/{JobId}/tagging",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeleteJobTaggingRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the S3 Batch Operations job whose tags you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the S3 Batch Operations job.</p>",
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DeleteJobTaggingResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.s3control#DeletePublicAccessBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DeletePublicAccessBlockRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Removes the <code>PublicAccessBlock</code> configuration for an AWS account.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v20180820/configuration/publicAccessBlock",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DeletePublicAccessBlockRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the AWS account whose <code>PublicAccessBlock</code> configuration you want\n         to remove.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DescribeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#DescribeJobRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#DescribeJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#BadRequestException"
        },
        {
          "target": "com.amazonaws.s3control#InternalServiceException"
        },
        {
          "target": "com.amazonaws.s3control#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3control#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the configuration parameters and status for a Batch Operations job. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-basics.html\">S3 Batch Operations</a> in\n         the <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n         <p></p>\n         <p>Related actions include:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListJobs</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobPriority</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobStatus</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/jobs/{JobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#DescribeJobRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the job whose information you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#DescribeJobResult": {
      "type": "structure",
      "members": {
        "Job": {
          "target": "com.amazonaws.s3control#JobDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration parameters and status for the job specified in the <code>Describe Job</code> request.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#ExceptionMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.s3control#ExpirationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled"
          },
          {
            "value": "Disabled"
          }
        ]
      }
    },
    "com.amazonaws.s3control#ExpiredObjectDeleteMarker": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#FunctionArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "(arn:(aws[a-zA-Z-]*)?:lambda:)?([a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
      }
    },
    "com.amazonaws.s3control#GetAccessPoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetAccessPointRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetAccessPointResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns configuration information about the specified access point.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/accesspoint/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetAccessPointPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetAccessPointPolicyResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the access point policy associated with the specified access point.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/accesspoint/{Name}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicyRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point whose policy you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the account that owns the specified access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicyResult": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.s3control#Policy",
          "traits": {
            "smithy.api#documentation": "<p>The access point policy associated with the specified access point.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicyStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetAccessPointPolicyStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetAccessPointPolicyStatusResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether the specified access point currently has a policy that allows public access. For more information about public access through access points, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points.html\">Managing Data Access with Amazon S3 Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/accesspoint/{Name}/policyStatus",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicyStatusRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the account that owns the specified access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point whose policy status you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointPolicyStatusResult": {
      "type": "structure",
      "members": {
        "PolicyStatus": {
          "target": "com.amazonaws.s3control#PolicyStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the current policy status of the specified access point.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access point whose configuration information you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the account that owns the specified access point.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetAccessPointResult": {
      "type": "structure",
      "members": {
        "NetworkOrigin": {
          "target": "com.amazonaws.s3control#NetworkOrigin",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this access point allows access from the public internet. If\n            <code>VpcConfiguration</code> is specified for this access point, then\n            <code>NetworkOrigin</code> is <code>VPC</code>, and the access point doesn't allow access from\n         the public internet. Otherwise, <code>NetworkOrigin</code> is <code>Internet</code>, and\n         the access point allows access from the public internet, subject to the access point and bucket access\n         policies.</p>"
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket associated with the specified access point.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.s3control#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the specified access point was created.</p>"
          }
        },
        "PublicAccessBlockConfiguration": {
          "target": "com.amazonaws.s3control#PublicAccessBlockConfiguration"
        },
        "Name": {
          "target": "com.amazonaws.s3control#AccessPointName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the specified access point.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.s3control#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains the virtual private cloud (VPC) configuration for the specified access point.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#GetBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetBucketResult"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/bucket/{Bucket}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetBucketLifecycleConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetBucketLifecycleConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetBucketLifecycleConfigurationResult"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/bucket/{Bucket}/lifecycleconfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetBucketLifecycleConfigurationRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetBucketLifecycleConfigurationResult": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.s3control#LifecycleRules"
        }
      }
    },
    "com.amazonaws.s3control#GetBucketPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetBucketPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetBucketPolicyResult"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/bucket/{Bucket}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetBucketPolicyRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetBucketPolicyResult": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.s3control#Policy"
        }
      }
    },
    "com.amazonaws.s3control#GetBucketRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetBucketResult": {
      "type": "structure",
      "members": {
        "PublicAccessBlockEnabled": {
          "target": "com.amazonaws.s3control#PublicAccessBlockEnabled"
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName"
        },
        "CreationDate": {
          "target": "com.amazonaws.s3control#CreationDate"
        }
      }
    },
    "com.amazonaws.s3control#GetBucketTagging": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetBucketTaggingRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetBucketTaggingResult"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/bucket/{Bucket}/tagging",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetBucketTaggingRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetBucketTaggingResult": {
      "type": "structure",
      "members": {
        "TagSet": {
          "target": "com.amazonaws.s3control#S3TagSet",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetJobTagging": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetJobTaggingRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetJobTaggingResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#InternalServiceException"
        },
        {
          "target": "com.amazonaws.s3control#NotFoundException"
        },
        {
          "target": "com.amazonaws.s3control#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the tags on an S3 Batch Operations job. To use this operation, you must have\n         permission to perform the <code>s3:GetJobTagging</code> action. For more information, see\n            <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-managing-jobs.html#batch-ops-job-tags\">Controlling\n            access and labeling jobs using tags</a> in the\n         <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n         <p></p>\n         <p>Related actions include:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>PutJobTagging</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteJobTagging</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/jobs/{JobId}/tagging",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetJobTaggingRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the S3 Batch Operations job whose tags you want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID associated with the S3 Batch Operations job.</p>",
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetJobTaggingResult": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.s3control#S3TagSet",
          "traits": {
            "smithy.api#documentation": "<p>The set of tags associated with the S3 Batch Operations job.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#GetPublicAccessBlock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#GetPublicAccessBlockRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#GetPublicAccessBlockOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#NoSuchPublicAccessBlockConfiguration"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the <code>PublicAccessBlock</code> configuration for an AWS account.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/configuration/publicAccessBlock",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#GetPublicAccessBlockOutput": {
      "type": "structure",
      "members": {
        "PublicAccessBlockConfiguration": {
          "target": "com.amazonaws.s3control#PublicAccessBlockConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <code>PublicAccessBlock</code> configuration currently in effect for this AWS\n         account.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GetPublicAccessBlockRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID for the AWS account whose <code>PublicAccessBlock</code> configuration you want\n         to retrieve.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3control#GrantFullControl": {
      "type": "string"
    },
    "com.amazonaws.s3control#GrantRead": {
      "type": "string"
    },
    "com.amazonaws.s3control#GrantReadACP": {
      "type": "string"
    },
    "com.amazonaws.s3control#GrantWrite": {
      "type": "string"
    },
    "com.amazonaws.s3control#GrantWriteACP": {
      "type": "string"
    },
    "com.amazonaws.s3control#IAMRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:[^:]+:iam::\\d{12}:role/.*"
      }
    },
    "com.amazonaws.s3control#ID": {
      "type": "string"
    },
    "com.amazonaws.s3control#IdempotencyException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#InternalServiceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.s3control#InvalidNextTokenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#IsPublic": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#JobArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "arn:[^:]+:s3:[a-zA-Z0-9\\-]+:\\d{12}:job\\/.*"
      }
    },
    "com.amazonaws.s3control#JobCreationTime": {
      "type": "timestamp"
    },
    "com.amazonaws.s3control#JobDescriptor": {
      "type": "structure",
      "members": {
        "JobArn": {
          "target": "com.amazonaws.s3control#JobArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for this job.</p>"
          }
        },
        "Manifest": {
          "target": "com.amazonaws.s3control#JobManifest",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the specified job's manifest object.</p>"
          }
        },
        "ConfirmationRequired": {
          "target": "com.amazonaws.s3control#ConfirmationRequired",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>Indicates whether confirmation is required before Amazon S3 begins running the specified job. Confirmation is required only for jobs created through the Amazon S3 console.</p>"
          }
        },
        "SuspendedDate": {
          "target": "com.amazonaws.s3control#SuspendedDate",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when this job was suspended, if it has been suspended.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.s3control#JobCreationTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when this job was created.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the specified job.</p>"
          }
        },
        "TerminationDate": {
          "target": "com.amazonaws.s3control#JobTerminationDate",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when this job terminated. A job's termination date is the date and time when it succeeded, failed, or was canceled.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength256String",
          "traits": {
            "smithy.api#documentation": "<p>The description for this job, if one was provided in this job's <code>Create Job</code> request.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.s3control#IAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the AWS Identity and Access Management (IAM) role\n         assigned to execute the tasks for this job.</p>"
          }
        },
        "FailureReasons": {
          "target": "com.amazonaws.s3control#JobFailureList",
          "traits": {
            "smithy.api#documentation": "<p>If the specified job failed, this field contains information describing the failure.</p>"
          }
        },
        "StatusUpdateReason": {
          "target": "com.amazonaws.s3control#JobStatusUpdateReason",
          "traits": {
            "smithy.api#documentation": "<p></p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.s3control#JobPriority",
          "traits": {
            "smithy.api#documentation": "<p>The priority of the specified job.</p>"
          }
        },
        "SuspendedCause": {
          "target": "com.amazonaws.s3control#SuspendedCause",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the specified job was suspended. A job is only suspended if you create it through the Amazon S3 console. When you create the job, it enters\n            the <code>Suspended</code> state to await confirmation before running. After you confirm the job, it automatically exits the <code>Suspended</code> state.</p>"
          }
        },
        "Report": {
          "target": "com.amazonaws.s3control#JobReport",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration information for the job-completion report if you requested one in the <code>Create Job</code> request.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.s3control#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the specified job.</p>"
          }
        },
        "Operation": {
          "target": "com.amazonaws.s3control#JobOperation",
          "traits": {
            "smithy.api#documentation": "<p>The operation that the specified job is configured to execute on the objects listed in the manifest.</p>"
          }
        },
        "ProgressSummary": {
          "target": "com.amazonaws.s3control#JobProgressSummary",
          "traits": {
            "smithy.api#documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container element for the job configuration and status information returned by a <code>Describe Job</code> request.</p>"
      }
    },
    "com.amazonaws.s3control#JobFailure": {
      "type": "structure",
      "members": {
        "FailureReason": {
          "target": "com.amazonaws.s3control#JobFailureReason",
          "traits": {
            "smithy.api#documentation": "<p>The failure reason, if any, for the specified job.</p>"
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.s3control#JobFailureCode",
          "traits": {
            "smithy.api#documentation": "<p>The failure code, if any, for the specified job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>If this job failed, this element indicates why the job failed.</p>"
      }
    },
    "com.amazonaws.s3control#JobFailureCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.s3control#JobFailureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#JobFailure"
      }
    },
    "com.amazonaws.s3control#JobFailureReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.s3control#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 36
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-\\_]+"
      }
    },
    "com.amazonaws.s3control#JobListDescriptor": {
      "type": "structure",
      "members": {
        "ProgressSummary": {
          "target": "com.amazonaws.s3control#JobProgressSummary",
          "traits": {
            "smithy.api#documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>"
          }
        },
        "JobId": {
          "target": "com.amazonaws.s3control#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the specified job.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.s3control#JobCreationTime",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when the specified job was created.</p>"
          }
        },
        "TerminationDate": {
          "target": "com.amazonaws.s3control#JobTerminationDate",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating when the specified job terminated. A job's termination date is the date and time when it succeeded, failed, or was canceled.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.s3control#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The specified job's current status.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength256String",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified description that was included in the specified job's <code>Create Job</code> request.</p>"
          }
        },
        "Operation": {
          "target": "com.amazonaws.s3control#OperationName",
          "traits": {
            "smithy.api#documentation": "<p>The operation that the specified job is configured to run on each object listed in the manifest.</p>"
          }
        },
        "Priority": {
          "target": "com.amazonaws.s3control#JobPriority",
          "traits": {
            "smithy.api#documentation": "<p>The current priority for the specified job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration and status information for a single job retrieved as part of a job list.</p>"
      }
    },
    "com.amazonaws.s3control#JobListDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#JobListDescriptor"
      }
    },
    "com.amazonaws.s3control#JobManifest": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.s3control#JobManifestLocation",
          "traits": {
            "smithy.api#documentation": "<p>Contains the information required to locate the specified job's manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "Spec": {
          "target": "com.amazonaws.s3control#JobManifestSpec",
          "traits": {
            "smithy.api#documentation": "<p>Describes the format of the specified job's manifest. If the manifest is in CSV format, also describes the columns contained within the manifest.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration information for a job's manifest.</p>"
      }
    },
    "com.amazonaws.s3control#JobManifestFieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#JobManifestFieldName"
      }
    },
    "com.amazonaws.s3control#JobManifestFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Ignore",
            "name": "Ignore"
          },
          {
            "value": "Bucket",
            "name": "Bucket"
          },
          {
            "value": "Key",
            "name": "Key"
          },
          {
            "value": "VersionId",
            "name": "VersionId"
          }
        ]
      }
    },
    "com.amazonaws.s3control#JobManifestFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3BatchOperations_CSV_20180820",
            "name": "S3BatchOperations_CSV_20180820"
          },
          {
            "value": "S3InventoryReport_CSV_20161130",
            "name": "S3InventoryReport_CSV_20161130"
          }
        ]
      }
    },
    "com.amazonaws.s3control#JobManifestLocation": {
      "type": "structure",
      "members": {
        "ObjectVersionId": {
          "target": "com.amazonaws.s3control#S3ObjectVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The optional version ID to identify a specific version of the manifest object.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength1024String",
          "traits": {
            "smithy.api#documentation": "<p>The ETag for the specified manifest object.</p>",
            "smithy.api#required": {}
          }
        },
        "ObjectArn": {
          "target": "com.amazonaws.s3control#S3KeyArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for a manifest object.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the information required to locate a manifest object.</p>"
      }
    },
    "com.amazonaws.s3control#JobManifestSpec": {
      "type": "structure",
      "members": {
        "Fields": {
          "target": "com.amazonaws.s3control#JobManifestFieldList",
          "traits": {
            "smithy.api#documentation": "<p>If the specified manifest object is in the <code>S3BatchOperations_CSV_20180820</code> format, this element describes which columns contain the required data.</p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.s3control#JobManifestFormat",
          "traits": {
            "smithy.api#documentation": "<p>Indicates which of the available formats the specified manifest uses.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the format of a manifest. If the manifest is in CSV format, also describes the columns contained within the manifest.</p>"
      }
    },
    "com.amazonaws.s3control#JobNumberOfTasksFailed": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.s3control#JobNumberOfTasksSucceeded": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.s3control#JobOperation": {
      "type": "structure",
      "members": {
        "S3PutObjectTagging": {
          "target": "com.amazonaws.s3control#S3SetObjectTaggingOperation",
          "traits": {
            "smithy.api#documentation": "<p>Directs the specified job to execute a PUT Object tagging call on each object in the manifest.</p>"
          }
        },
        "S3PutObjectAcl": {
          "target": "com.amazonaws.s3control#S3SetObjectAclOperation",
          "traits": {
            "smithy.api#documentation": "<p>Directs the specified job to execute a PUT Object acl call on each object in the manifest.</p>"
          }
        },
        "S3PutObjectLegalHold": {
          "target": "com.amazonaws.s3control#S3SetObjectLegalHoldOperation"
        },
        "LambdaInvoke": {
          "target": "com.amazonaws.s3control#LambdaInvokeOperation",
          "traits": {
            "smithy.api#documentation": "<p>Directs the specified job to invoke an AWS Lambda function on each object in the manifest.</p>"
          }
        },
        "S3InitiateRestoreObject": {
          "target": "com.amazonaws.s3control#S3InitiateRestoreObjectOperation",
          "traits": {
            "smithy.api#documentation": "<p>Directs the specified job to execute an Initiate Glacier Restore call on each object in the manifest.</p>"
          }
        },
        "S3PutObjectRetention": {
          "target": "com.amazonaws.s3control#S3SetObjectRetentionOperation"
        },
        "S3PutObjectCopy": {
          "target": "com.amazonaws.s3control#S3CopyObjectOperation",
          "traits": {
            "smithy.api#documentation": "<p>Directs the specified job to execute a PUT Copy object call on each object in the manifest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The operation that you want this job to perform on each object listed in the manifest.\n         For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Operations</a> in the\n            <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3control#JobPriority": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.s3control#JobProgressSummary": {
      "type": "structure",
      "members": {
        "NumberOfTasksFailed": {
          "target": "com.amazonaws.s3control#JobNumberOfTasksFailed",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p></p>"
          }
        },
        "TotalNumberOfTasks": {
          "target": "com.amazonaws.s3control#JobTotalNumberOfTasks",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p></p>"
          }
        },
        "NumberOfTasksSucceeded": {
          "target": "com.amazonaws.s3control#JobNumberOfTasksSucceeded",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p></p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>"
      }
    },
    "com.amazonaws.s3control#JobReport": {
      "type": "structure",
      "members": {
        "ReportScope": {
          "target": "com.amazonaws.s3control#JobReportScope",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the job-completion report will include details of all tasks or only failed tasks.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.s3control#ReportPrefixString",
          "traits": {
            "smithy.api#documentation": "<p>An optional prefix to describe where in the specified bucket the job-completion report\n         will be stored. Amazon S3 stores the job-completion report at\n            <code><prefix>/job-<job-id>/report.json</code>.</p>"
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#S3BucketArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the bucket where specified job-completion report will be stored.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.s3control#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the specified job will generate a job-completion report.</p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.s3control#JobReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the specified job-completion report.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration parameters for a job-completion report.</p>"
      }
    },
    "com.amazonaws.s3control#JobReportFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Report_CSV_20180820",
            "name": "Report_CSV_20180820"
          }
        ]
      }
    },
    "com.amazonaws.s3control#JobReportScope": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AllTasks",
            "name": "AllTasks"
          },
          {
            "value": "FailedTasksOnly",
            "name": "FailedTasksOnly"
          }
        ]
      }
    },
    "com.amazonaws.s3control#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Active",
            "name": "Active"
          },
          {
            "value": "Cancelled",
            "name": "Cancelled"
          },
          {
            "value": "Cancelling",
            "name": "Cancelling"
          },
          {
            "value": "Complete",
            "name": "Complete"
          },
          {
            "value": "Completing",
            "name": "Completing"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "Failing",
            "name": "Failing"
          },
          {
            "value": "New",
            "name": "New"
          },
          {
            "value": "Paused",
            "name": "Paused"
          },
          {
            "value": "Pausing",
            "name": "Pausing"
          },
          {
            "value": "Preparing",
            "name": "Preparing"
          },
          {
            "value": "Ready",
            "name": "Ready"
          },
          {
            "value": "Suspended",
            "name": "Suspended"
          }
        ]
      }
    },
    "com.amazonaws.s3control#JobStatusException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#JobStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#JobStatus"
      }
    },
    "com.amazonaws.s3control#JobStatusUpdateReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.s3control#JobTerminationDate": {
      "type": "timestamp"
    },
    "com.amazonaws.s3control#JobTotalNumberOfTasks": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.s3control#KmsKeyArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2000
        }
      }
    },
    "com.amazonaws.s3control#LambdaInvokeOperation": {
      "type": "structure",
      "members": {
        "FunctionArn": {
          "target": "com.amazonaws.s3control#FunctionArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the AWS Lambda function that the specified job will invoke for each object in the manifest.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration parameters for a <code>Lambda Invoke</code> operation.</p>"
      }
    },
    "com.amazonaws.s3control#LifecycleConfiguration": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.s3control#LifecycleRules"
        }
      }
    },
    "com.amazonaws.s3control#LifecycleExpiration": {
      "type": "structure",
      "members": {
        "ExpiredObjectDeleteMarker": {
          "target": "com.amazonaws.s3control#ExpiredObjectDeleteMarker"
        },
        "Days": {
          "target": "com.amazonaws.s3control#Days"
        },
        "Date": {
          "target": "com.amazonaws.s3control#Date"
        }
      }
    },
    "com.amazonaws.s3control#LifecycleRule": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.s3control#ExpirationStatus",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "NoncurrentVersionExpiration": {
          "target": "com.amazonaws.s3control#NoncurrentVersionExpiration"
        },
        "AbortIncompleteMultipartUpload": {
          "target": "com.amazonaws.s3control#AbortIncompleteMultipartUpload"
        },
        "Transitions": {
          "target": "com.amazonaws.s3control#TransitionList"
        },
        "ID": {
          "target": "com.amazonaws.s3control#ID"
        },
        "NoncurrentVersionTransitions": {
          "target": "com.amazonaws.s3control#NoncurrentVersionTransitionList"
        },
        "Expiration": {
          "target": "com.amazonaws.s3control#LifecycleExpiration"
        },
        "Filter": {
          "target": "com.amazonaws.s3control#LifecycleRuleFilter"
        }
      }
    },
    "com.amazonaws.s3control#LifecycleRuleAndOperator": {
      "type": "structure",
      "members": {
        "Prefix": {
          "target": "com.amazonaws.s3control#Prefix"
        },
        "Tags": {
          "target": "com.amazonaws.s3control#S3TagSet"
        }
      }
    },
    "com.amazonaws.s3control#LifecycleRuleFilter": {
      "type": "structure",
      "members": {
        "Tag": {
          "target": "com.amazonaws.s3control#S3Tag"
        },
        "Prefix": {
          "target": "com.amazonaws.s3control#Prefix"
        },
        "And": {
          "target": "com.amazonaws.s3control#LifecycleRuleAndOperator"
        }
      }
    },
    "com.amazonaws.s3control#LifecycleRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#LifecycleRule",
        "traits": {
          "smithy.api#xmlName": "Rule"
        }
      }
    },
    "com.amazonaws.s3control#ListAccessPoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#ListAccessPointsRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#ListAccessPointsResult"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the access points currently associated with the specified bucket. You\n         can retrieve up to 1000 access points per call. If the specified bucket has more than 1,000\n         access points (or the number specified in <code>maxResults</code>, whichever is less), the\n         response will include a continuation token that you can use to list the additional access\n         points.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/accesspoint",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.s3control#ListAccessPointsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID for owner of the bucket whose access points you want to list.</p>",
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3control#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket whose associated access points you want to list.</p>",
            "smithy.api#httpQuery": "bucket"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.s3control#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of access points that you want to include in the list. If the specified\n         bucket has more than this number of access points, then the response will include a\n         continuation token in the <code>NextToken</code> field that you can use to retrieve the\n         next page of access points.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength1024String",
          "traits": {
            "smithy.api#documentation": "<p>A continuation token. If a previous call to <code>ListAccessPoints</code> returned a continuation token in the <code>NextToken</code> field, then providing that value here causes Amazon S3 to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.s3control#ListAccessPointsResult": {
      "type": "structure",
      "members": {
        "AccessPointList": {
          "target": "com.amazonaws.s3control#AccessPointList",
          "traits": {
            "smithy.api#documentation": "<p>Contains identification and configuration information for one or more access points\n         associated with the specified bucket.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength1024String",
          "traits": {
            "smithy.api#documentation": "<p>If the specified bucket has more access points than can be returned in one call to this\n         API, then this field contains a continuation token that you can provide in subsequent calls\n         to this API to retrieve additional access points.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#ListJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#ListJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#ListJobsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3control#InternalServiceException"
        },
        {
          "target": "com.amazonaws.s3control#InvalidNextTokenException"
        },
        {
          "target": "com.amazonaws.s3control#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists current S3 Batch Operations jobs and jobs that have ended within the last 30 days for\n         the AWS account making the request. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-basics.html\">S3 Batch Operations</a> in the\n            <i>Amazon Simple Storage Service Developer Guide</i>.</p>\n         <p>Related actions include:</p>\n         <p></p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeJob</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobPriority</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateJobStatus</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/jobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.s3control#ListJobsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.s3control#StringForNextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token to request the next page of results. Use the token that Amazon S3 returned in the <code>NextToken</code> element of the <code>ListJobsResult</code> from the previous <code>List Jobs</code> request.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.s3control#MaxResults",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The maximum number of jobs that Amazon S3 will include in the <code>List Jobs</code> response. If there are more jobs than this number, the response will include a pagination token in the <code>NextToken</code> field to enable you to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "JobStatuses": {
          "target": "com.amazonaws.s3control#JobStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The <code>List Jobs</code> request returns jobs that match the statuses listed in this element.</p>",
            "smithy.api#httpQuery": "jobStatuses"
          }
        }
      }
    },
    "com.amazonaws.s3control#ListJobsResult": {
      "type": "structure",
      "members": {
        "Jobs": {
          "target": "com.amazonaws.s3control#JobListDescriptorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of current jobs and jobs that have ended within the last 30 days.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.s3control#StringForNextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>List Jobs</code> request produced more than the maximum number of results, you can pass this value into a subsequent <code>List Jobs</code> request in order to retrieve\n            the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.s3control#ListRegionalBuckets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#ListRegionalBucketsRequest"
      },
      "output": {
        "target": "com.amazonaws.s3control#ListRegionalBucketsResult"
      },
      "traits": {
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v20180820/bucket",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.s3control#ListRegionalBucketsRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
            "smithy.api#hostLabel": {},
            "smithy.api#httpHeader": "x-amz-account-id",
            "smithy.api#required": {}
          }
        },
        "OutpostId": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength64String",
          "traits": {
            "smithy.api#httpHeader": "x-amz-outpost-id"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength1024String",
          "traits": {
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.s3control#MaxResults",
          "traits": {
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.s3control#ListRegionalBucketsResult": {
      "type": "structure",
      "members": {
        "RegionalBucketList": {
          "target": "com.amazonaws.s3control#RegionalBucketList"
        },
        "NextToken": {
          "target": "com.amazonaws.s3control#NonEmptyMaxLength1024String"
        }
      }
    },
    "com.amazonaws.s3control#Location": {
      "type": "string"
    },
    "com.amazonaws.s3control#MaxLength1024String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.s3control#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.s3control#NetworkOrigin": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Internet",
            "name": "Internet"
          },
          {
            "value": "VPC",
            "name": "VPC"
          }
        ]
      }
    },
    "com.amazonaws.s3control#NoSuchPublicAccessBlockConfiguration": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#NoSuchPublicAccessBlockConfigurationMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon S3 throws this exception if you make a <code>GetPublicAccessBlock</code> request\n      against an account that doesn't have a <code>PublicAccessBlockConfiguration</code> set.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.s3control#NoSuchPublicAccessBlockConfigurationMessage": {
      "type": "string"
    },
    "com.amazonaws.s3control#NonEmptyMaxLength1024String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.s3control#NonEmptyMaxLength2048String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.s3control#NonEmptyMaxLength256String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.s3control#NonEmptyMaxLength64String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.s3control#NoncurrentVersionExpiration": {
      "type": "structure",
      "members": {
        "NoncurrentDays": {
          "target": "com.amazonaws.s3control#Days"
        }
      }
    },
    "com.amazonaws.s3control#NoncurrentVersionTransition": {
      "type": "structure",
      "members": {
        "StorageClass": {
          "target": "com.amazonaws.s3control#TransitionStorageClass"
        },
        "NoncurrentDays": {
          "target": "com.amazonaws.s3control#Days"
        }
      }
    },
    "com.amazonaws.s3control#NoncurrentVersionTransitionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3control#NoncurrentVersionTransition",
        "traits": {
          "smithy.api#xmlName": "NoncurrentVersionTransition"
        }
      }
    },
    "com.amazonaws.s3control#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.s3control#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3control#ObjectLockEnabledForBucket": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#OperationName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LambdaInvoke",
            "name": "LambdaInvoke"
          },
          {
            "value": "S3PutObjectCopy",
            "name": "S3PutObjectCopy"
          },
          {
            "value": "S3PutObjectAcl",
            "name": "S3PutObjectAcl"
          },
          {
            "value": "S3PutObjectTagging",
            "name": "S3PutObjectTagging"
          },
          {
            "value": "S3InitiateRestoreObject",
            "name": "S3InitiateRestoreObject"
          },
          {
            "value": "S3PutObjectLegalHold",
            "name": "S3PutObjectLegalHold"
          },
          {
            "value": "S3PutObjectRetention",
            "name": "S3PutObjectRetention"
          }
        ]
      }
    },
    "com.amazonaws.s3control#Policy": {
      "type": "string"
    },
    "com.amazonaws.s3control#PolicyStatus": {
      "type": "structure",
      "members": {
        "IsPublic": {
          "target": "com.amazonaws.s3control#IsPublic",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#xmlName": "IsPublic"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether this access point policy is public. For more information about how Amazon S3 evaluates policies to determine whether they are public, see \n         <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a> in the \n\t <i>Amazon Simple Storage Service Developer Guide</i>.\n      </p>"
      }
    },
    "com.amazonaws.s3control#Prefix": {
      "type": "string"
    },
    "com.amazonaws.s3control#PublicAccessBlockConfiguration": {
      "type": "structure",
      "members": {
        "BlockPublicAcls": {
          "target": "com.amazonaws.s3control#Setting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 should block public access control lists (ACLs) for buckets in\n      this account. Setting this element to <code>TRUE</code> causes the following behavior:</p>\n         <ul>\n            <li>\n               <p>PUT Bucket acl and PUT Object acl calls fail if the specified ACL is public.</p>\n            </li>\n            <li>\n               <p>PUT Object calls fail if the request includes a public ACL.</p>\n            </li>\n            <li>\n               <p>PUT Bucket calls fail if the request includes a public ACL.</p>\n            </li>\n         </ul>\n         <p>Enabling this setting doesn't affect existing policies or ACLs.</p>",
            "smithy.api#xmlName": "BlockPublicAcls"
          }
        },
        "RestrictPublicBuckets": {
          "target": "com.amazonaws.s3control#Setting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 should restrict public bucket policies for buckets in this account.\n         Setting this element to <code>TRUE</code> restricts access to buckets with public policies\n         to only AWS services and authorized users within this account.</p>\n         <p>Enabling this setting doesn't affect previously stored bucket policies, except that public\n         and cross-account access within any public bucket policy, including non-public delegation to\n         specific accounts, is blocked.</p>",
            "smithy.api#xmlName": "RestrictPublicBuckets"
          }
        },
        "BlockPublicPolicy": {
          "target": "com.amazonaws.s3control#Setting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 should block public bucket policies for buckets in this account.\n         Setting this element to <code>TRUE</code> causes Amazon S3 to reject calls to PUT Bucket\n         policy if the specified bucket policy allows public access. </p>\n         <p>Enabling this setting doesn't affect existing bucket policies.</p>",
            "smithy.api#xmlName": "BlockPublicPolicy"
          }
        },
        "IgnorePublicAcls": {
          "target": "com.amazonaws.s3control#Setting",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 should ignore public ACLs for buckets in this account. Setting this\n         element to <code>TRUE</code> causes Amazon S3 to ignore all public ACLs on buckets in this\n         account and any objects that they contain. </p>\n         <p>Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't\n         prevent new public ACLs from being set.</p>",
            "smithy.api#xmlName": "IgnorePublicAcls"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>PublicAccessBlock</code> configuration that you want to apply to this Amazon S3 bucket.\n         You can enable the configuration options in any combination. For more information about\n         when Amazon S3 considers a bucket or object public, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a> in the <i>Amazon Simple Storage Service Developer\n         Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3control#PublicAccessBlockEnabled": {
      "type": "boolean"
    },
    "com.amazonaws.s3control#PutAccessPointPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3control#PutAccessPointPolicyRequest"
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates an access policy with the specified access point. Each access point can have only one policy, so a request made to this API replaces any existing policy associated with the specified access point.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "{AccountId}."
        },
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v20180820/accesspoint/{Name}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3control#PutAccessPointPolicyRequest": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.s3control#AccountId",
          "traits": {
[...]
