{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.s3#AbortDate": {
      "type": "timestamp"
    },
    "com.amazonaws.s3#AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "target": "com.amazonaws.s3#DaysAfterInitiation",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the number of days after which Amazon S3 aborts an incomplete multipart upload.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will wait before permanently removing all parts of the upload. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config\">\n      Aborting Incomplete Multipart Uploads Using a Bucket Lifecycle Policy</a> \n      in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AbortMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#AbortMultipartUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#AbortMultipartUploadOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3#NoSuchUpload"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation aborts a multipart upload. After a multipart upload is aborted, no additional parts can be uploaded using that upload ID. The storage consumed by any previously uploaded parts will be freed. However, if any part uploads are currently in progress, those part uploads might or might not succeed. As a result, it might be necessary to abort a given multipart upload multiple times in order to completely free all storage consumed by all parts. </p>\n         <p>To verify that all parts have been removed, so you don't get charged for the part storage, you\n         should call the <a>ListParts</a> operation and ensure that the parts list is\n         empty.</p>\n         <p>For information about permissions required to use the multipart upload API, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html\">Multipart\n            Upload API and Permissions</a>.</p>\n         <p>The following operations are related to <code>AbortMultipartUpload</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UploadPart</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CompleteMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListParts</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListMultipartUploads</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{Bucket}/{Key+}?x-id=AbortMultipartUpload",
          "code": 204
        }
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "RequestCharged": {
          "target": "com.amazonaws.s3#RequestCharged",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-charged"
          }
        }
      }
    },
    "com.amazonaws.s3#AbortMultipartUploadRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The bucket name to which the upload was taking place. </p>\n         <p>When using this API with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this operation using an access point through the AWS SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html\">Using Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Key of the object for which the multipart upload was initiated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RequestPayer": {
          "target": "com.amazonaws.s3#RequestPayer",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-payer"
          }
        },
        "UploadId": {
          "target": "com.amazonaws.s3#MultipartUploadId",
          "traits": {
            "smithy.api#documentation": "<p>Upload ID that identifies the multipart upload.</p>",
            "smithy.api#httpQuery": "uploadId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3#AbortRuleId": {
      "type": "string"
    },
    "com.amazonaws.s3#AccelerateConfiguration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.s3#BucketAccelerateStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the transfer acceleration status of the bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures the transfer acceleration state for an Amazon S3 bucket. \n         For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Amazon S3 Transfer Acceleration</a> in the\n         <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#AcceptRanges": {
      "type": "string"
    },
    "com.amazonaws.s3#AccessControlPolicy": {
      "type": "structure",
      "members": {
        "Grants": {
          "target": "com.amazonaws.s3#Grants",
          "traits": {
            "smithy.api#documentation": "<p>A list of grants.</p>",
            "smithy.api#xmlName": "AccessControlList"
          }
        },
        "Owner": {
          "target": "com.amazonaws.s3#Owner",
          "traits": {
            "smithy.api#documentation": "<p>Container for the bucket owner's display name and ID.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the elements that set the ACL permissions for an object per grantee.</p>"
      }
    },
    "com.amazonaws.s3#AccessControlTranslation": {
      "type": "structure",
      "members": {
        "Owner": {
          "target": "com.amazonaws.s3#OwnerOverride",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the replica ownership. For default and valid values, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTreplication.html\">PUT bucket\n      replication</a> in the <i>Amazon Simple Storage Service API Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for information about access control for replicas.</p>"
      }
    },
    "com.amazonaws.s3#AccountId": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowQuotedRecordDelimiter": {
      "type": "boolean"
    },
    "com.amazonaws.s3#AllowedHeader": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedHeaders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedHeader"
      }
    },
    "com.amazonaws.s3#AllowedMethod": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedMethods": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedMethod"
      }
    },
    "com.amazonaws.s3#AllowedOrigin": {
      "type": "string"
    },
    "com.amazonaws.s3#AllowedOrigins": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AllowedOrigin"
      }
    },
    "com.amazonaws.s3#AmazonS3": {
      "type": "service",
      "version": "2006-03-01",
      "operations": [
        {
          "target": "com.amazonaws.s3#AbortMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CompleteMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#CopyObject"
        },
        {
          "target": "com.amazonaws.s3#CreateBucket"
        },
        {
          "target": "com.amazonaws.s3#CreateMultipartUpload"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucket"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketCors"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketLifecycle"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#DeleteBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#DeleteObject"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjects"
        },
        {
          "target": "com.amazonaws.s3#DeleteObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#DeletePublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#GetBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketCors"
        },
        {
          "target": "com.amazonaws.s3#GetBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#GetBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLocation"
        },
        {
          "target": "com.amazonaws.s3#GetBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#GetBucketPolicyStatus"
        },
        {
          "target": "com.amazonaws.s3#GetBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#GetBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#GetBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#GetBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#GetBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#GetObject"
        },
        {
          "target": "com.amazonaws.s3#GetObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#GetObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#GetObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#GetObjectTorrent"
        },
        {
          "target": "com.amazonaws.s3#GetPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#HeadBucket"
        },
        {
          "target": "com.amazonaws.s3#HeadObject"
        },
        {
          "target": "com.amazonaws.s3#ListBucketAnalyticsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketInventoryConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBucketMetricsConfigurations"
        },
        {
          "target": "com.amazonaws.s3#ListBuckets"
        },
        {
          "target": "com.amazonaws.s3#ListMultipartUploads"
        },
        {
          "target": "com.amazonaws.s3#ListObjects"
        },
        {
          "target": "com.amazonaws.s3#ListObjectsV2"
        },
        {
          "target": "com.amazonaws.s3#ListObjectVersions"
        },
        {
          "target": "com.amazonaws.s3#ListParts"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAccelerateConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAcl"
        },
        {
          "target": "com.amazonaws.s3#PutBucketAnalyticsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketCors"
        },
        {
          "target": "com.amazonaws.s3#PutBucketEncryption"
        },
        {
          "target": "com.amazonaws.s3#PutBucketInventoryConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLifecycleConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketLogging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketMetricsConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutBucketPolicy"
        },
        {
          "target": "com.amazonaws.s3#PutBucketReplication"
        },
        {
          "target": "com.amazonaws.s3#PutBucketRequestPayment"
        },
        {
          "target": "com.amazonaws.s3#PutBucketTagging"
        },
        {
          "target": "com.amazonaws.s3#PutBucketVersioning"
        },
        {
          "target": "com.amazonaws.s3#PutBucketWebsite"
        },
        {
          "target": "com.amazonaws.s3#PutObject"
        },
        {
          "target": "com.amazonaws.s3#PutObjectAcl"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLegalHold"
        },
        {
          "target": "com.amazonaws.s3#PutObjectLockConfiguration"
        },
        {
          "target": "com.amazonaws.s3#PutObjectRetention"
        },
        {
          "target": "com.amazonaws.s3#PutObjectTagging"
        },
        {
          "target": "com.amazonaws.s3#PutPublicAccessBlock"
        },
        {
          "target": "com.amazonaws.s3#RestoreObject"
        },
        {
          "target": "com.amazonaws.s3#SelectObjectContent"
        },
        {
          "target": "com.amazonaws.s3#UploadPart"
        },
        {
          "target": "com.amazonaws.s3#UploadPartCopy"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "S3",
          "arnNamespace": "s3",
          "cloudFormationName": "S3",
          "cloudTrailEventSource": "s3.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "s3"
        },
        "aws.protocols#restXml": {
          "noErrorWrapping": true
        },
        "smithy.api#documentation": "<p></p>",
        "smithy.api#title": "Amazon Simple Storage Service",
        "smithy.api#xmlNamespace": {
          "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
        }
      }
    },
    "com.amazonaws.s3#AnalyticsAndOperator": {
      "type": "structure",
      "members": {
        "Prefix": {
          "target": "com.amazonaws.s3#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to use when evaluating an AND predicate: The prefix that an object must have to be included in the metrics results.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.s3#TagSet",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags to use when evaluating an AND predicate.</p>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "Tag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conjunction (logical AND) of predicates, which is used in evaluating a metrics filter. The operator must have at least two predicates in any combination, and an object must match all of the predicates for the filter to apply.</p>"
      }
    },
    "com.amazonaws.s3#AnalyticsConfiguration": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.s3#AnalyticsFilter",
          "traits": {
            "smithy.api#documentation": "<p>The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.s3#AnalyticsId",
          "traits": {
            "smithy.api#documentation": "<p>The ID that identifies the analytics configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "StorageClassAnalysis": {
          "target": "com.amazonaws.s3#StorageClassAnalysis",
          "traits": {
            "smithy.api#documentation": "<p>\n     Contains data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes.\n  </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Specifies the configuration and any analyses for the analytics filter of an Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.s3#AnalyticsConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#AnalyticsConfiguration"
      }
    },
    "com.amazonaws.s3#AnalyticsExportDestination": {
      "type": "structure",
      "members": {
        "S3BucketDestination": {
          "target": "com.amazonaws.s3#AnalyticsS3BucketDestination",
          "traits": {
            "smithy.api#documentation": "<p>A destination signifying output to an S3 bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Where to publish the analytics results.</p>"
      }
    },
    "com.amazonaws.s3#AnalyticsFilter": {
      "type": "structure",
      "members": {
        "And": {
          "target": "com.amazonaws.s3#AnalyticsAndOperator",
          "traits": {
            "smithy.api#documentation": "<p>A conjunction (logical AND) of predicates, which is used in evaluating an analytics filter. The operator must have at least two predicates.</p>"
          }
        },
        "Prefix": {
          "target": "com.amazonaws.s3#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to use when evaluating an analytics filter.</p>"
          }
        },
        "Tag": {
          "target": "com.amazonaws.s3#Tag",
          "traits": {
            "smithy.api#documentation": "<p>The tag to use when evaluating an analytics filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The filter used to describe a set of objects for analyses. A filter must have exactly one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is provided, all objects will be considered in any analysis.</p>"
      }
    },
    "com.amazonaws.s3#AnalyticsId": {
      "type": "string"
    },
    "com.amazonaws.s3#AnalyticsS3BucketDestination": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bucket to which data is exported.</p>",
            "smithy.api#required": {}
          }
        },
        "BucketAccountId": {
          "target": "com.amazonaws.s3#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account ID that owns the destination bucket. If no account ID is provided, the owner will not be validated prior to exporting data.</p>"
          }
        },
        "Format": {
          "target": "com.amazonaws.s3#AnalyticsS3ExportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file format used when exporting data to Amazon S3.</p>",
            "smithy.api#required": {}
          }
        },
        "Prefix": {
          "target": "com.amazonaws.s3#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix to use when exporting data. The prefix is prepended to all results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about where to publish the analytics results.</p>"
      }
    },
    "com.amazonaws.s3#AnalyticsS3ExportFileFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CSV"
          }
        ]
      }
    },
    "com.amazonaws.s3#Body": {
      "type": "blob"
    },
    "com.amazonaws.s3#StreamingBody": {
      "type": "blob",
      "traits": {
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.s3#Bucket": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.s3#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>Date the bucket was created.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> In terms of implementation, a Bucket is a resource. An Amazon S3 bucket name is\n         globally unique, and the namespace is shared by all AWS accounts. </p>"
      }
    },
    "com.amazonaws.s3#BucketAccelerateStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled"
          },
          {
            "value": "Suspended"
          }
        ]
      }
    },
    "com.amazonaws.s3#BucketAlreadyExists": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3#BucketAlreadyOwnedByYou": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The bucket you tried to create already exists, and you own it. Amazon S3 returns this error\n         in all AWS Regions except in the North Virginia Region. For legacy compatibility, if you\n         re-create an existing bucket that you already own in the North Virginia Region, Amazon S3\n         returns 200 OK and resets the bucket access control lists (ACLs).</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.s3#BucketCannedACL": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "private"
          },
          {
            "value": "public-read"
          },
          {
            "value": "public-read-write"
          },
          {
            "value": "authenticated-read"
          }
        ]
      }
    },
    "com.amazonaws.s3#BucketLifecycleConfiguration": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.s3#LifecycleRules",
          "traits": {
            "smithy.api#documentation": "<p>A lifecycle rule for individual objects in an Amazon S3 bucket.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "Rule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the lifecycle configuration for objects in an Amazon S3 bucket. For more\n         information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html\">Object\n            Lifecycle Management</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#BucketLocationConstraint": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EU"
          },
          {
            "value": "eu-west-1"
          },
          {
            "value": "us-west-1"
          },
          {
            "value": "us-west-2"
          },
          {
            "value": "ap-south-1"
          },
          {
            "value": "ap-southeast-1"
          },
          {
            "value": "ap-southeast-2"
          },
          {
            "value": "ap-northeast-1"
          },
          {
            "value": "sa-east-1"
          },
          {
            "value": "cn-north-1"
          },
          {
            "value": "eu-central-1"
          }
        ]
      }
    },
    "com.amazonaws.s3#BucketLoggingStatus": {
      "type": "structure",
      "members": {
        "LoggingEnabled": {
          "target": "com.amazonaws.s3#LoggingEnabled"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for logging status information.</p>"
      }
    },
    "com.amazonaws.s3#BucketLogsPermission": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL_CONTROL"
          },
          {
            "value": "READ"
          },
          {
            "value": "WRITE"
          }
        ]
      }
    },
    "com.amazonaws.s3#BucketName": {
      "type": "string"
    },
    "com.amazonaws.s3#BucketVersioningStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Enabled"
          },
          {
            "value": "Suspended"
          }
        ]
      }
    },
    "com.amazonaws.s3#Buckets": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#Bucket",
        "traits": {
          "smithy.api#xmlName": "Bucket"
        }
      }
    },
    "com.amazonaws.s3#BypassGovernanceRetention": {
      "type": "boolean"
    },
    "com.amazonaws.s3#BytesProcessed": {
      "type": "long"
    },
    "com.amazonaws.s3#BytesReturned": {
      "type": "long"
    },
    "com.amazonaws.s3#BytesScanned": {
      "type": "long"
    },
    "com.amazonaws.s3#CORSConfiguration": {
      "type": "structure",
      "members": {
        "CORSRules": {
          "target": "com.amazonaws.s3#CORSRules",
          "traits": {
            "smithy.api#documentation": "<p>A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "CORSRule"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html\">Enabling\n         Cross-Origin Resource Sharing</a> in the\n         <i>Amazon Simple Storage Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.s3#CORSRule": {
      "type": "structure",
      "members": {
        "AllowedHeaders": {
          "target": "com.amazonaws.s3#AllowedHeaders",
          "traits": {
            "smithy.api#documentation": "<p>Headers that are specified in the <code>Access-Control-Request-Headers</code>\n      header. These headers are allowed in a preflight OPTIONS request. In response to\n      any preflight OPTIONS request, Amazon S3 returns any requested headers that are\n      allowed.</p>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "AllowedHeader"
          }
        },
        "AllowedMethods": {
          "target": "com.amazonaws.s3#AllowedMethods",
          "traits": {
            "smithy.api#documentation": "<p>An HTTP method that you allow the origin to execute. Valid values are\n      <code>GET</code>, <code>PUT</code>, <code>HEAD</code>, <code>POST</code>, and\n      <code>DELETE</code>.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "AllowedMethod"
          }
        },
        "AllowedOrigins": {
          "target": "com.amazonaws.s3#AllowedOrigins",
          "traits": {
            "smithy.api#documentation": "<p>One or more origins you want customers to be able to access the bucket from.</p>",
            "smithy.api#required": {},
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "AllowedOrigin"
          }
        },
        "ExposeHeaders": {
          "target": "com.amazonaws.s3#ExposeHeaders",
          "traits": {
            "smithy.api#documentation": "<p>One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript <code>XMLHttpRequest</code> object).</p>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "ExposeHeader"
          }
        },
        "MaxAgeSeconds": {
          "target": "com.amazonaws.s3#MaxAgeSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The time in seconds that your browser is to cache the preflight response for the specified resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a cross-origin access rule for an Amazon S3 bucket.</p>"
      }
    },
    "com.amazonaws.s3#CORSRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#CORSRule"
      }
    },
    "com.amazonaws.s3#CSVInput": {
      "type": "structure",
      "members": {
        "AllowQuotedRecordDelimiter": {
          "target": "com.amazonaws.s3#AllowQuotedRecordDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that CSV field values may contain quoted record delimiters and such records should be allowed. Default value is FALSE. Setting this value to TRUE may lower performance.</p>"
          }
        },
        "Comments": {
          "target": "com.amazonaws.s3#Comments",
          "traits": {
            "smithy.api#documentation": "<p>A single character used to indicate that a row should be ignored when the character is present at the start of that row. You can specify any character to indicate a comment line.</p>"
          }
        },
        "FieldDelimiter": {
          "target": "com.amazonaws.s3#FieldDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used to separate individual fields in a record. You can specify an arbitrary delimiter.</p>"
          }
        },
        "FileHeaderInfo": {
          "target": "com.amazonaws.s3#FileHeaderInfo",
          "traits": {
            "smithy.api#documentation": "<p>Describes the first line of input. Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NONE</code>: First line is not a header.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IGNORE</code>: First line is a header, but you can't use the header values to\n              indicate the column in an expression. You can use column\n              position (such as _1, _2, …) to indicate the column\n              (<code>SELECT s._1 FROM OBJECT s</code>).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Use</code>: First line is a header, and you can use the header value to\n              identify a column in an expression (<code>SELECT \"name\"\n                 FROM OBJECT</code>). </p>\n            </li>\n         </ul>"
          }
        },
        "QuoteCharacter": {
          "target": "com.amazonaws.s3#QuoteCharacter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used for escaping when the field delimiter is part of the value.\n      For example, if the value is <code>a, b</code>, Amazon S3 wraps this\n      field value in quotation marks, as follows: <code>\" a , b\n         \"</code>.</p>\n         <p>Type: String</p>\n         <p>Default: <code>\"</code>\n         </p>\n         <p>Ancestors: <code>CSV</code>\n         </p>"
          }
        },
        "QuoteEscapeCharacter": {
          "target": "com.amazonaws.s3#QuoteEscapeCharacter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used for escaping the quotation mark character inside an already escaped value. For example, the value \"\"\" a , b \"\"\" is parsed as \" a , b \".</p>"
          }
        },
        "RecordDelimiter": {
          "target": "com.amazonaws.s3#RecordDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used to separate individual records in the input. Instead of the default value, you can specify an arbitrary delimiter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes how an uncompressed comma-separated values (CSV)-formatted input object is\n         formatted.</p>"
      }
    },
    "com.amazonaws.s3#CSVOutput": {
      "type": "structure",
      "members": {
        "FieldDelimiter": {
          "target": "com.amazonaws.s3#FieldDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The value used to separate individual fields in a record. You can specify an arbitrary delimiter.</p>"
          }
        },
        "QuoteCharacter": {
          "target": "com.amazonaws.s3#QuoteCharacter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used for escaping when the field delimiter is part of the value. For example, if the value is <code>a, b</code>, Amazon S3 wraps this\n      field value in quotation marks, as follows: <code>\" a , b\n         \"</code>.</p>"
          }
        },
        "QuoteEscapeCharacter": {
          "target": "com.amazonaws.s3#QuoteEscapeCharacter",
          "traits": {
            "smithy.api#documentation": "<p>The single character used for escaping the quote character inside an already escaped\n      value.</p>"
          }
        },
        "QuoteFields": {
          "target": "com.amazonaws.s3#QuoteFields",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to use quotation marks around output fields. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>ALWAYS</code>: Always use quotation marks for output fields.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ASNEEDED</code>: Use quotation marks for output fields when needed.</p>\n            </li>\n         </ul>"
          }
        },
        "RecordDelimiter": {
          "target": "com.amazonaws.s3#RecordDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>A single character used to separate individual records in the output. Instead of the default value, you can specify an arbitrary delimiter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes how uncompressed comma-separated values (CSV)-formatted results are formatted.</p>"
      }
    },
    "com.amazonaws.s3#CacheControl": {
      "type": "string"
    },
    "com.amazonaws.s3#Code": {
      "type": "string"
    },
    "com.amazonaws.s3#Comments": {
      "type": "string"
    },
    "com.amazonaws.s3#CommonPrefix": {
      "type": "structure",
      "members": {
        "Prefix": {
          "target": "com.amazonaws.s3#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>Container for the specified common prefix.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for all (if there are any) keys between Prefix and the next occurrence of the string specified by a delimiter.         \n         CommonPrefixes lists keys that act like subdirectories in the directory specified by Prefix.\n         For example, if the prefix is notes/ and the delimiter is a slash (/) as in notes/summer/july, the common prefix is \n         notes/summer/. \n      </p>"
      }
    },
    "com.amazonaws.s3#CommonPrefixList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#CommonPrefix"
      }
    },
    "com.amazonaws.s3#CompleteMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#CompleteMultipartUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#CompleteMultipartUploadOutput"
      },
      "traits": {
        "smithy.api#documentation": "<p>Completes a multipart upload by assembling previously uploaded parts.</p>\n         <p>You first initiate the multipart upload and then upload all parts using the <a>UploadPart</a> operation. After successfully uploading all relevant parts of an\n         upload, you call this operation to complete the upload. Upon receiving this request, Amazon\n         S3 concatenates all the parts in ascending order by part number to create a new object. In\n         the Complete Multipart Upload request, you must provide the parts list. You must ensure\n         that the parts list is complete. This operation concatenates the parts that you provide in\n         the list. For each part in the list, you must provide the part number and the\n            <code>ETag</code> value, returned after that part was uploaded.</p>\n         <p>Processing of a Complete Multipart Upload request could take several minutes to complete.\n         After Amazon S3 begins processing the request, it sends an HTTP response header that\n         specifies a 200 OK response. While processing is in progress, Amazon S3 periodically sends\n         white space characters to keep the connection from timing out. Because a request could fail\n         after the initial 200 OK response has been sent, it is important that you check the\n         response body to determine whether the request succeeded.</p>\n         <p>Note that if <code>CompleteMultipartUpload</code> fails, applications should be prepared to retry the failed requests. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/ErrorBestPractices.html\">Amazon S3 Error Best Practices</a>.</p>\n         <p>For more information about multipart uploads, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/uploadobjusingmpu.html\">Uploading\n            Objects Using Multipart Upload</a>.</p>\n         <p>For information about permissions required to use the multipart upload API, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuAndPermissions.html\">Multipart\n            Upload API and Permissions</a>.</p>\n  \n  \n         <p>\n            <code>GetBucketLifecycle</code> has the following special errors:</p>\n         <ul>\n            <li>\n               <p>Error code: <code>EntityTooSmall</code>\n               </p>\n               <ul>\n                  <li>\n                     <p>Description: Your proposed upload is smaller than the minimum allowed object size. Each part must be at least 5 MB in size, except the last part.</p>\n                  </li>\n                  <li>\n                     <p>400 Bad Request</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Error code: <code>InvalidPart</code>\n               </p>\n               <ul>\n                  <li>\n                     <p>Description: One or more of the specified parts could not be found. The part might not have been uploaded, or the specified entity tag might not have matched the part's entity tag.</p>\n                  </li>\n                  <li>\n                     <p>400 Bad Request</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Error code: <code>InvalidPartOrder</code>\n               </p>\n               <ul>\n                  <li>\n                     <p>Description: The list of parts was not in ascending order. The parts list must be specified in order by part number.</p>\n                  </li>\n                  <li>\n                     <p>400 Bad Request</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Error code: <code>NoSuchUpload</code>\n               </p>\n               <ul>\n                  <li>\n                     <p>Description: The specified multipart upload does not exist. The upload ID might be invalid, or the multipart upload might have been aborted or completed.</p>\n                  </li>\n                  <li>\n                     <p>404 Not Found</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n  \n         <p>The following operations are related to <code>DeleteBucketMetricsConfiguration</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UploadPart</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>AbortMultipartUpload</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListParts</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListMultipartUploads</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{Bucket}/{Key+}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3#CompleteMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket that contains the newly created object.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.s3#ETag",
          "traits": {
            "smithy.api#documentation": "<p>Entity tag that identifies the newly created object's data. Objects with different object data will have different entity tags. The entity tag is an opaque string. The entity tag may or may not be an MD5 digest of the object data. If the entity tag is not an MD5 digest of the object data, it will contain one or more nonhexadecimal characters and/or will consist of less than 32 or more than 32 hexadecimal digits.</p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.s3#Expiration",
          "traits": {
            "smithy.api#documentation": "<p>If the object expiration is configured, this will contain the expiration date (expiry-date) and rule ID (rule-id). The value of rule-id is URL encoded.</p>",
            "smithy.api#httpHeader": "x-amz-expiration"
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The object key of the newly created object.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.s3#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI that identifies the newly created object.</p>"
          }
        },
        "RequestCharged": {
          "target": "com.amazonaws.s3#RequestCharged",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-charged"
          }
        },
        "SSEKMSKeyId": {
          "target": "com.amazonaws.s3#SSEKMSKeyId",
          "traits": {
            "smithy.api#documentation": "<p>If present, specifies the ID of the AWS Key Management Service (AWS KMS) symmetric customer managed customer master key\n         (CMK) that was used for the object.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-aws-kms-key-id"
          }
        },
        "ServerSideEncryption": {
          "target": "com.amazonaws.s3#ServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>If you specified server-side encryption either with an Amazon S3-managed encryption key or an AWS KMS customer master key (CMK) in your initiate multipart upload request, the response includes this header. It confirms the encryption algorithm that Amazon S3 used to encrypt the object.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.s3#ObjectVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Version ID of the newly created object, in case the bucket has versioning turned on.</p>",
            "smithy.api#httpHeader": "x-amz-version-id"
          }
        }
      }
    },
    "com.amazonaws.s3#CompleteMultipartUploadRequest": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the bucket to which the multipart upload was initiated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Object key for which the multipart upload was initiated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MultipartUpload": {
          "target": "com.amazonaws.s3#CompletedMultipartUpload",
          "traits": {
            "smithy.api#documentation": "<p>The container for the multipart upload request information.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#xmlName": "CompleteMultipartUpload"
          }
        },
        "RequestPayer": {
          "target": "com.amazonaws.s3#RequestPayer",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-payer"
          }
        },
        "UploadId": {
          "target": "com.amazonaws.s3#MultipartUploadId",
          "traits": {
            "smithy.api#documentation": "<p>ID for the initiated multipart upload.</p>",
            "smithy.api#httpQuery": "uploadId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.s3#CompletedMultipartUpload": {
      "type": "structure",
      "members": {
        "Parts": {
          "target": "com.amazonaws.s3#CompletedPartList",
          "traits": {
            "smithy.api#documentation": "<p>Array of CompletedPart data types.</p>",
            "smithy.api#xmlFlattened": {},
            "smithy.api#xmlName": "Part"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The container for the completed multipart upload details.</p>"
      }
    },
    "com.amazonaws.s3#CompletedPart": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.s3#ETag",
          "traits": {
            "smithy.api#documentation": "<p>Entity tag returned when the part was uploaded.</p>"
          }
        },
        "PartNumber": {
          "target": "com.amazonaws.s3#PartNumber",
          "traits": {
            "smithy.api#documentation": "<p>Part number that identifies the part. This is a positive integer between 1 and 10,000.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the parts that were uploaded.</p>"
      }
    },
    "com.amazonaws.s3#CompletedPartList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.s3#CompletedPart"
      }
    },
    "com.amazonaws.s3#CompressionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE"
          },
          {
            "value": "GZIP"
          },
          {
            "value": "BZIP2"
          }
        ]
      }
    },
    "com.amazonaws.s3#Condition": {
      "type": "structure",
      "members": {
        "HttpErrorCodeReturnedEquals": {
          "target": "com.amazonaws.s3#HttpErrorCodeReturnedEquals",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element <code>Condition</code> is specified and sibling <code>KeyPrefixEquals</code> is not specified. If both are specified, then both must be true for the redirect to be applied.</p>"
          }
        },
        "KeyPrefixEquals": {
          "target": "com.amazonaws.s3#KeyPrefixEquals",
          "traits": {
            "smithy.api#documentation": "<p>The object key name prefix when the redirect is applied. For example, to redirect requests for\n            <code>ExamplePage.html</code>, the key prefix will be <code>ExamplePage.html</code>. To\n         redirect request for all pages with the prefix <code>docs/</code>, the key prefix will be\n            <code>/docs</code>, which identifies all objects in the <code>docs/</code> folder.\n         Required when the parent element <code>Condition</code> is specified and sibling\n            <code>HttpErrorCodeReturnedEquals</code> is not specified. If both conditions are\n         specified, both must be true for the redirect to be applied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container for describing a condition that must be met for the specified redirect to apply. For example, 1. If request is for pages in the <code>/docs</code> folder, redirect to the <code>/documents</code> folder. 2. If request results in HTTP error 4xx, redirect request to another host where you might process the error.</p>"
      }
    },
    "com.amazonaws.s3#ConfirmRemoveSelfBucketAccess": {
      "type": "boolean"
    },
    "com.amazonaws.s3#ContentDisposition": {
      "type": "string"
    },
    "com.amazonaws.s3#ContentEncoding": {
      "type": "string"
    },
    "com.amazonaws.s3#ContentLanguage": {
      "type": "string"
    },
    "com.amazonaws.s3#ContentLength": {
      "type": "long"
    },
    "com.amazonaws.s3#ContentMD5": {
      "type": "string"
    },
    "com.amazonaws.s3#ContentRange": {
      "type": "string"
    },
    "com.amazonaws.s3#ContentType": {
      "type": "string"
    },
    "com.amazonaws.s3#ContinuationEvent": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.s3#CopyObject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#CopyObjectRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#CopyObjectOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3#ObjectNotInActiveTierError"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a copy of an object that is already stored in Amazon S3.</p>\n         <note>\n            <p>You can store individual objects of up to 5 TB in Amazon S3. You create a copy of your object\n            up to 5 GB in size in a single atomic operation using this API. However, for copying an\n            object greater than 5 GB, you must use the multipart upload Upload Part - Copy API. For\n            more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/CopyingObjctsUsingRESTMPUapi.html\">Copy Object Using the REST Multipart Upload API</a>.</p>\n         </note>\n         <p>When copying an object, you can preserve all metadata (default) or specify new metadata. However, the ACL is not preserved and is set to private for the user making the request. To override the default ACL setting, specify a new ACL when generating a copy request. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3_ACLs_UsingACLs.html\">Using ACLs</a>.</p>\n         <important>\n            <p>Amazon S3 transfer acceleration does not support cross-region copies. If you request a\n            cross-region copy using a transfer acceleration endpoint, you get a 400 <code>Bad\n               Request</code> error. For more information about transfer acceleration, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html\">Transfer Acceleration</a>.</p>\n         </important>\n         <p>All copy requests must be authenticated. Additionally, you must have <i>read</i> access to the source object and <i>write</i> access to the destination bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/RESTAuthentication.html\">REST Authentication</a>. Both the Region that you want to copy the object from and the Region that you want to copy the object to must be enabled for your account.</p>\n         <p>To only copy an object under certain conditions, such as whether the <code>Etag</code>\n         matches or whether the object was modified before or after a specified date, use the\n         request parameters <code>x-amz-copy-source-if-match</code>,\n            <code>x-amz-copy-source-if-none-match</code>,\n            <code>x-amz-copy-source-if-unmodified-since</code>, or <code>\n            x-amz-copy-source-if-modified-since</code>.</p>\n         <note>\n            <p>All headers with the <code>x-amz-</code> prefix, including <code>x-amz-copy-source</code>,\n            must be signed.</p>\n         </note>\n         <p>You can use this operation to change the storage class of an object that is already\n         stored in Amazon S3 using the <code>StorageClass</code> parameter. For more information,\n         see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/storage-class-intro.html\">Storage Classes</a>.</p>\n         <p>The source object that you are copying can be encrypted or unencrypted. If the source\n         object is encrypted, it can be encrypted by server-side encryption using AWS managed\n         encryption keys or by using a customer-provided encryption key. When copying an object, you\n         can request that Amazon S3 encrypt the target object by using either the AWS managed\n         encryption keys or by using your own encryption key. You can do this regardless of the form\n         of server-side encryption that was used to encrypt the source, or even if the source object\n         was not encrypted. For more information about server-side encryption, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/serv-side-encryption.html\">Using Server-Side Encryption</a>.</p>\n         <p>A copy request might return an error when Amazon S3 receives the copy request or while\n         Amazon S3 is copying the files. If the error occurs before the copy operation starts, you\n         receive a standard Amazon S3 error. If the error occurs during the copy operation, the\n         error response is embedded in the <code>200 OK</code> response. This means that a <code>200\n            OK</code> response can contain either a success or an error. Design your application to\n         parse the contents of the response and handle it appropriately.</p>\n         <p>If the copy is successful, you receive a response with information about the copied object.</p>\n         <note>\n            <p>If the request is an HTTP 1.1 request, the response is chunk encoded. If it were not, it would not contain the content-length, and you would need to read the entire body.</p>\n         </note>\n    \n         <p>Consider the following when using request headers:</p>\n         <ul>\n            <li>\n               <p> Consideration 1 – If both the <code>x-amz-copy-source-if-match</code> and\n                  <code>x-amz-copy-source-if-unmodified-since</code> headers are present in the\n               request and evaluate as follows, Amazon S3 returns 200 OK and copies the data:</p> \n               <ul>\n                  <li>\n                     <p>\n                        <code>x-amz-copy-source-if-match</code> condition evaluates to true</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>x-amz-copy-source-if-unmodified-since</code> condition evaluates to false</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p> Consideration 2 – If both of the <code>x-amz-copy-source-if-none-match</code> and\n                  <code>x-amz-copy-source-if-modified-since</code> headers are present in the\n               request and evaluate as follows, Amazon S3 returns the <code>412 Precondition\n                  Failed</code> response code:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>x-amz-copy-source-if-none-match</code> condition evaluates to false</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>x-amz-copy-source-if-modified-since</code> condition evaluates to true</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>       \n         <p>The copy request charge is based on the storage class and Region you specify for the destination object. For pricing information, see <a href=\"https://aws.amazon.com/s3/pricing/\">Amazon S3 Pricing</a>.</p>\n         <p>Following are other considerations when using <code>CopyObject</code>:</p>\n     \n     \n         <dl>\n            <dt>Versioning</dt>\n            <dd>\n               <p>By default, <code>x-amz-copy-source</code> identifies the current version of an object to copy. (If the current version is a delete marker, Amazon S3 behaves as if the object was deleted.) To copy a different version, use the <code>versionId</code> subresource.</p> \n              \n              <p>If you enable versioning on the target bucket, Amazon S3 generates a unique\n                  version ID for the object being copied. This version ID is different from the\n                  version ID of the source object. Amazon S3 returns the version ID of the copied\n                  object in the <code>x-amz-version-id</code> response header in the\n                  response.</p>\n              <p>If you do not enable versioning or suspend it on the target bucket, the version ID that Amazon S3 generates is always null.</p>\n              <p>If the source object's storage class is GLACIER, you must restore a copy of this\n                  object before you can use it as a source object for the copy operation. For more\n                  information, see .</p>\n             \n           </dd>\n            <dt>Access Permissions</dt>\n            <dd>\n               <p>When copying an object, you can optionally specify the accounts or groups that should be granted specific permissions on the new object. There are two ways to grant the permissions using the request headers:</p> \n              <ul>\n                  <li>\n                     <p>Specify a canned ACL with the <code>x-amz-acl</code> request header. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#CannedACL\">Canned ACL</a>.</p>\n                  </li>\n                  <li>\n                     <p>Specify access permissions explicitly with the <code>x-amz-grant-read</code>, <code>x-amz-grant-read-acp</code>, <code>x-amz-grant-write-acp</code>, and <code>x-amz-grant-full-control</code> headers. These parameters map to the set of permissions that Amazon S3 supports in an ACL. For more information, \n                    see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html\">Access Control List (ACL) Overview</a>.</p>\n                  </li>\n               </ul>\n              <p>You can use either a canned ACL or specify access permissions explicitly. You cannot do both.</p>\n            </dd>\n            <dt>Server-Side- Encryption-Specific Request Headers</dt>\n            <dd>\n               <p>To encrypt the target object, you must provide the appropriate encryption-related request\n                  headers. The one you use depends on whether you want to use AWS managed encryption\n                  keys or provide your own encryption key. </p>\n              <ul>\n                  <li>\n                     <p>To encrypt the target object using server-side encryption with an AWS managed encryption key,\n                        provide the following request headers, as appropriate.</p>\n                     <ul>\n                        <li>\n                           <p>\n                              <code>x-amz-server-side​-encryption</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>x-amz-server-side-encryption-aws-kms-key-id</code>\n                           </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>x-amz-server-side-encryption-context</code>\n                           </p>\n                        </li>\n                     </ul>\n                    <note>\n                        <p>If you specify <code>x-amz-server-side-encryption:aws:kms</code>, but don't provide\n                       <code>x-amz-server-side-encryption-aws-kms-key-id</code>, Amazon S3\n                       uses the AWS managed CMK in AWS KMS to protect the data. If you want to use a customer managed AWS KMS CMK, you must provide the <code>x-amz-server-side-encryption-aws-kms-key-id</code> of the symmetric customer managed CMK. Amazon S3 only supports symmetric CMKs and not asymmetric CMKs. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\n                     </note>\n                     <important>\n                        <p>All GET and PUT requests for an object protected by AWS KMS fail if you don't make them with SSL or by using SigV4.</p>\n                     </important>\n                     <p>For more information about server-side encryption with CMKs stored in AWS\n                        KMS (SSE-KMS), see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html\">Protecting Data Using Server-Side Encryption with CMKs stored in\n                           KMS</a>.</p>\n                  </li>\n                  <li>\n                    <p>To encrypt the target object using server-side encryption with an encryption key that you provide, use the following headers.</p>\n                    <ul>\n                        <li>\n                           <p>x-amz-server-side​-encryption​-customer-algorithm</p>\n                        </li>\n                        <li>\n                           <p>x-amz-server-side​-encryption​-customer-key</p>\n                        </li>\n                        <li>\n                           <p>x-amz-server-side​-encryption​-customer-key-MD5</p>\n                        </li>\n                     </ul>\n                  </li>\n                  <li>\n                    <p>If the source object is encrypted using server-side encryption with customer-provided encryption keys, you must use the following headers.</p>\n                    <ul>\n                        <li>\n                           <p>x-amz-copy-source​-server-side​-encryption​-customer-algorithm</p>\n                        </li>\n                        <li>\n                           <p>x-amz-copy-source​-server-side​-encryption​-customer-key</p>\n                        </li>\n                        <li>\n                           <p>x-amz-copy-source-​server-side​-encryption​-customer-key-MD5</p>\n                        </li>\n                     </ul>\n                   \n                    <p>For more information about server-side encryption with CMKs stored in AWS\n                        KMS (SSE-KMS), see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html\">Protecting Data Using Server-Side Encryption with CMKs stored in Amazon\n                           KMS</a>.</p>\n                 </li>\n               </ul>\n            </dd>\n            <dt>Access-Control-List (ACL)-Specific Request Headers</dt>\n            <dd>\n               <p>You also can use the following access control–related headers with this operation. By default,\n                  all objects are private. Only the owner has full access control. When adding a new\n                  object, you can grant permissions to individual AWS accounts or to predefined\n                  groups defined by Amazon S3. These permissions are then added to the access\n                  control list (ACL) on the object. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/S3_ACLs_UsingACLs.html\">Using ACLs</a>. With this operation, you can grant access permissions\n                  using one of the following two methods:</p>\n              <ul>\n                  <li>\n                     <p>Specify a canned ACL (<code>x-amz-acl</code>) — Amazon S3 supports a set of predefined ACLs,\n                        known as <i>canned ACLs</i>. Each canned ACL has a predefined\n                        set of grantees and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#CannedACL\">Canned ACL</a>.</p>\n                  </li>\n                  <li>\n                     <p>Specify access permissions explicitly — To explicitly grant access permissions to specific AWS\n                        accounts or groups, use the following headers. Each header maps to specific\n                        permissions that Amazon S3 supports in an ACL. For more information, see\n                           <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html\">Access Control List (ACL) Overview</a>. In the header, you specify a\n                        list of grantees who get the specific permission. To grant permissions\n                        explicitly, use:</p>\n                    <ul>\n                        <li>\n                           <p>x-amz-grant-read</p>\n                        </li>\n                        <li>\n                           <p>x-amz-grant-write</p>\n                        </li>\n                        <li>\n                           <p>x-amz-grant-read-acp</p>\n                        </li>\n                        <li>\n                           <p>x-amz-grant-write-acp</p>\n                        </li>\n                        <li>\n                           <p>x-amz-grant-full-control</p>\n                        </li>\n                     </ul>\n                    <p>You specify each grantee as a type=value pair, where the type is one of the following:</p>\n                    <ul>\n                        <li>\n                           <p>\n                              <code>emailAddress</code> – if the value specified is the email address of an AWS\n                              account</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>id</code> – if the value specified is the canonical user ID of an AWS account</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>uri</code> – if you are granting permissions to a predefined group</p>\n                        </li>\n                     </ul>\n                    <p>For example, the following <code>x-amz-grant-read</code> header grants the\n                        AWS accounts identified by email addresses permissions to read object data\n                        and its metadata:</p> \n                    <p>\n                        <code>x-amz-grant-read: emailAddress=\"xyz@amazon.com\", emailAddress=\"abc@amazon.com\"\n                    </code>\n                     </p>\n                    \n                 </li>\n               </ul>\n              \n           </dd>\n         </dl>\n         <p>The following operations are related to <code>CopyObject</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>PutObject</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetObject</a>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/CopyingObjectsExamples.html\">Copying Objects</a>.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{Bucket}/{Key+}?x-id=CopyObject",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3#CopyObjectOutput": {
      "type": "structure",
      "members": {
        "CopyObjectResult": {
          "target": "com.amazonaws.s3#CopyObjectResult",
          "traits": {
            "smithy.api#documentation": "<p>Container for all response elements.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "CopySourceVersionId": {
          "target": "com.amazonaws.s3#CopySourceVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Version of the copied object in the destination bucket.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-version-id"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.s3#Expiration",
          "traits": {
            "smithy.api#documentation": "<p>If the object expiration is configured, the response includes this header.</p>",
            "smithy.api#httpHeader": "x-amz-expiration"
          }
        },
        "RequestCharged": {
          "target": "com.amazonaws.s3#RequestCharged",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-charged"
          }
        },
        "SSECustomerAlgorithm": {
          "target": "com.amazonaws.s3#SSECustomerAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-customer-algorithm"
          }
        },
        "SSECustomerKeyMD5": {
          "target": "com.amazonaws.s3#SSECustomerKeyMD5",
          "traits": {
            "smithy.api#documentation": "<p>If server-side encryption with a customer-provided encryption key was requested, the response\n         will include this header to provide round-trip message integrity verification of the\n         customer-provided encryption key.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-customer-key-MD5"
          }
        },
        "SSEKMSEncryptionContext": {
          "target": "com.amazonaws.s3#SSEKMSEncryptionContext",
          "traits": {
            "smithy.api#documentation": "<p>If present, specifies the AWS KMS Encryption Context to use for object encryption. The value of this header is a base64-encoded UTF-8 string holding JSON with the encryption context key-value pairs.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-context"
          }
        },
        "SSEKMSKeyId": {
          "target": "com.amazonaws.s3#SSEKMSKeyId",
          "traits": {
            "smithy.api#documentation": "<p>If present, specifies the ID of the AWS Key Management Service (AWS KMS) symmetric customer managed customer master key\n         (CMK) that was used for the object.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-aws-kms-key-id"
          }
        },
        "ServerSideEncryption": {
          "target": "com.amazonaws.s3#ServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm used when storing this object in Amazon S3 (for example,\n         AES256, aws:kms).</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption"
          }
        },
        "VersionId": {
          "target": "com.amazonaws.s3#ObjectVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Version ID of the newly created copy.</p>",
            "smithy.api#httpHeader": "x-amz-version-id"
          }
        }
      }
    },
    "com.amazonaws.s3#CopyObjectRequest": {
      "type": "structure",
      "members": {
        "ACL": {
          "target": "com.amazonaws.s3#ObjectCannedACL",
          "traits": {
            "smithy.api#documentation": "<p>The canned ACL to apply to the object.</p>",
            "smithy.api#httpHeader": "x-amz-acl"
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination bucket.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CacheControl": {
          "target": "com.amazonaws.s3#CacheControl",
          "traits": {
            "smithy.api#documentation": "<p>Specifies caching behavior along the request/reply chain.</p>",
            "smithy.api#httpHeader": "Cache-Control"
          }
        },
        "ContentDisposition": {
          "target": "com.amazonaws.s3#ContentDisposition",
          "traits": {
            "smithy.api#documentation": "<p>Specifies presentational information for the object.</p>",
            "smithy.api#httpHeader": "Content-Disposition"
          }
        },
        "ContentEncoding": {
          "target": "com.amazonaws.s3#ContentEncoding",
          "traits": {
            "smithy.api#documentation": "<p>Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.</p>",
            "smithy.api#httpHeader": "Content-Encoding"
          }
        },
        "ContentLanguage": {
          "target": "com.amazonaws.s3#ContentLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language the content is in.</p>",
            "smithy.api#httpHeader": "Content-Language"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.s3#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>A standard MIME type describing the format of the object data.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "CopySource": {
          "target": "com.amazonaws.s3#CopySource",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source bucket and key name of the source object, separated by a slash (/). Must be URL-encoded.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source",
            "smithy.api#required": {}
          }
        },
        "CopySourceIfMatch": {
          "target": "com.amazonaws.s3#CopySourceIfMatch",
          "traits": {
            "smithy.api#documentation": "<p>Copies the object if its entity tag (ETag) matches the specified tag.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-if-match"
          }
        },
        "CopySourceIfModifiedSince": {
          "target": "com.amazonaws.s3#CopySourceIfModifiedSince",
          "traits": {
            "smithy.api#documentation": "<p>Copies the object if it has been modified since the specified time.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-if-modified-since"
          }
        },
        "CopySourceIfNoneMatch": {
          "target": "com.amazonaws.s3#CopySourceIfNoneMatch",
          "traits": {
            "smithy.api#documentation": "<p>Copies the object if its entity tag (ETag) is different than the specified ETag.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-if-none-match"
          }
        },
        "CopySourceIfUnmodifiedSince": {
          "target": "com.amazonaws.s3#CopySourceIfUnmodifiedSince",
          "traits": {
            "smithy.api#documentation": "<p>Copies the object if it hasn't been modified since the specified time.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-if-unmodified-since"
          }
        },
        "CopySourceSSECustomerAlgorithm": {
          "target": "com.amazonaws.s3#CopySourceSSECustomerAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the algorithm to use when decrypting the source object (for example, AES256).</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-server-side-encryption-customer-algorithm"
          }
        },
        "CopySourceSSECustomerKey": {
          "target": "com.amazonaws.s3#CopySourceSSECustomerKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the customer-provided encryption key for Amazon S3 to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-server-side-encryption-customer-key"
          }
        },
        "CopySourceSSECustomerKeyMD5": {
          "target": "com.amazonaws.s3#CopySourceSSECustomerKeyMD5",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses\n         this header for a message integrity check to ensure that the encryption key was transmitted\n         without error.</p>",
            "smithy.api#httpHeader": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
          }
        },
        "Expires": {
          "target": "com.amazonaws.s3#Expires",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the object is no longer cacheable.</p>",
            "smithy.api#httpHeader": "Expires"
          }
        },
        "GrantFullControl": {
          "target": "com.amazonaws.s3#GrantFullControl",
          "traits": {
            "smithy.api#documentation": "<p>Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.</p>",
            "smithy.api#httpHeader": "x-amz-grant-full-control"
          }
        },
        "GrantRead": {
          "target": "com.amazonaws.s3#GrantRead",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to read the object data and its metadata.</p>",
            "smithy.api#httpHeader": "x-amz-grant-read"
          }
        },
        "GrantReadACP": {
          "target": "com.amazonaws.s3#GrantReadACP",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to read the object ACL.</p>",
            "smithy.api#httpHeader": "x-amz-grant-read-acp"
          }
        },
        "GrantWriteACP": {
          "target": "com.amazonaws.s3#GrantWriteACP",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to write the ACL for the applicable object.</p>",
            "smithy.api#httpHeader": "x-amz-grant-write-acp"
          }
        },
        "Key": {
          "target": "com.amazonaws.s3#ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the destination object.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Metadata": {
          "target": "com.amazonaws.s3#Metadata",
          "traits": {
            "smithy.api#documentation": "<p>A map of metadata to store with the object in S3.</p>",
            "smithy.api#httpPrefixHeaders": "x-amz-meta-"
          }
        },
        "MetadataDirective": {
          "target": "com.amazonaws.s3#MetadataDirective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.</p>",
            "smithy.api#httpHeader": "x-amz-metadata-directive"
          }
        },
        "ObjectLockLegalHoldStatus": {
          "target": "com.amazonaws.s3#ObjectLockLegalHoldStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want to apply a Legal Hold to the copied object.</p>",
            "smithy.api#httpHeader": "x-amz-object-lock-legal-hold"
          }
        },
        "ObjectLockMode": {
          "target": "com.amazonaws.s3#ObjectLockMode",
          "traits": {
            "smithy.api#documentation": "<p>The Object Lock mode that you want to apply to the copied object.</p>",
            "smithy.api#httpHeader": "x-amz-object-lock-mode"
          }
        },
        "ObjectLockRetainUntilDate": {
          "target": "com.amazonaws.s3#ObjectLockRetainUntilDate",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when you want the copied object's Object Lock to expire.</p>",
            "smithy.api#httpHeader": "x-amz-object-lock-retain-until-date"
          }
        },
        "RequestPayer": {
          "target": "com.amazonaws.s3#RequestPayer",
          "traits": {
            "smithy.api#httpHeader": "x-amz-request-payer"
          }
        },
        "SSECustomerAlgorithm": {
          "target": "com.amazonaws.s3#SSECustomerAlgorithm",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the algorithm to use to when encrypting the object (for example, AES256).</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-customer-algorithm"
          }
        },
        "SSECustomerKey": {
          "target": "com.amazonaws.s3#SSECustomerKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This\n         value is used to store the object and then it is discarded; Amazon S3 does not store the\n         encryption key. The key must be appropriate for use with the algorithm specified in the\n            <code>x-amz-server-side​-encryption​-customer-algorithm</code> header.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-customer-key"
          }
        },
        "SSECustomerKeyMD5": {
          "target": "com.amazonaws.s3#SSECustomerKeyMD5",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. Amazon S3 uses\n         this header for a message integrity check to ensure that the encryption key was transmitted\n         without error.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-customer-key-MD5"
          }
        },
        "SSEKMSEncryptionContext": {
          "target": "com.amazonaws.s3#SSEKMSEncryptionContext",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS KMS Encryption Context to use for object encryption. The value of this header is a base64-encoded UTF-8 string holding JSON with the encryption context key-value pairs.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-context"
          }
        },
        "SSEKMSKeyId": {
          "target": "com.amazonaws.s3#SSEKMSKeyId",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an\n         object protected by AWS KMS will fail if not made via SSL or using SigV4. For information\n         about configuring using any of the officially supported AWS SDKs and AWS CLI, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version\">Specifying the Signature Version in Request Authentication</a>\n         in the <i>Amazon S3 Developer Guide</i>.</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption-aws-kms-key-id"
          }
        },
        "ServerSideEncryption": {
          "target": "com.amazonaws.s3#ServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm used when storing this object in Amazon S3 (for example,\n         AES256, aws:kms).</p>",
            "smithy.api#httpHeader": "x-amz-server-side-encryption"
          }
        },
        "StorageClass": {
          "target": "com.amazonaws.s3#StorageClass",
          "traits": {
            "smithy.api#documentation": "<p>The type of storage to use for the object. Defaults to 'STANDARD'.</p>",
            "smithy.api#httpHeader": "x-amz-storage-class"
          }
        },
        "Tagging": {
          "target": "com.amazonaws.s3#TaggingHeader",
          "traits": {
            "smithy.api#documentation": "<p>The tag-set for the object destination object this value must be used in conjunction with the\n            <code>TaggingDirective</code>. The tag-set must be encoded as URL Query\n         parameters.</p>",
            "smithy.api#httpHeader": "x-amz-tagging"
          }
        },
        "TaggingDirective": {
          "target": "com.amazonaws.s3#TaggingDirective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the object tag-set are copied from the source object or replaced with tag-set provided in the request.</p>",
            "smithy.api#httpHeader": "x-amz-tagging-directive"
          }
        },
        "WebsiteRedirectLocation": {
          "target": "com.amazonaws.s3#WebsiteRedirectLocation",
          "traits": {
            "smithy.api#documentation": "<p>If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.</p>",
            "smithy.api#httpHeader": "x-amz-website-redirect-location"
          }
        }
      }
    },
    "com.amazonaws.s3#CopyObjectResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.s3#ETag",
          "traits": {
            "smithy.api#documentation": "<p>Returns the ETag of the new object. The ETag reflects only changes to the contents of an object, not its metadata. The source and destination ETag is identical for a successfully copied object.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.s3#LastModified",
          "traits": {
            "smithy.api#documentation": "<p>Returns the date that the object was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for all response elements.</p>"
      }
    },
    "com.amazonaws.s3#CopyPartResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "target": "com.amazonaws.s3#ETag",
          "traits": {
            "smithy.api#documentation": "<p>Entity tag of the object.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.s3#LastModified",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which the object was uploaded.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for all response elements.</p>"
      }
    },
    "com.amazonaws.s3#CopySource": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\/.+\\/.+"
      }
    },
    "com.amazonaws.s3#CopySourceIfMatch": {
      "type": "string"
    },
    "com.amazonaws.s3#CopySourceIfModifiedSince": {
      "type": "timestamp"
    },
    "com.amazonaws.s3#CopySourceIfNoneMatch": {
      "type": "string"
    },
    "com.amazonaws.s3#CopySourceIfUnmodifiedSince": {
      "type": "timestamp"
    },
    "com.amazonaws.s3#CopySourceRange": {
      "type": "string"
    },
    "com.amazonaws.s3#CopySourceSSECustomerAlgorithm": {
      "type": "string"
    },
    "com.amazonaws.s3#CopySourceSSECustomerKey": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.s3#CopySourceSSECustomerKeyMD5": {
      "type": "string"
    },
    "com.amazonaws.s3#CopySourceVersionId": {
      "type": "string"
    },
    "com.amazonaws.s3#CreateBucket": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#CreateBucketRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#CreateBucketOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.s3#BucketAlreadyExists"
        },
        {
          "target": "com.amazonaws.s3#BucketAlreadyOwnedByYou"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new bucket. To create a bucket, you must register with Amazon S3 and have a valid AWS Access Key ID to authenticate requests. Anonymous requests are never allowed to create buckets. By creating the bucket, you become the bucket owner.</p>\n         <p>Not every string is an acceptable bucket name. For information on bucket naming restrictions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html\">Working with Amazon S3 Buckets</a>.</p>\n         <p>By default, the bucket is created in the US East (N. Virginia) Region. You can\n         optionally specify a Region in the request body. You might choose a Region to optimize\n         latency, minimize costs, or address regulatory requirements. For example, if you reside in\n         Europe, you will probably find it advantageous to create buckets in the EU (Ireland)\n         Region. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingBucket.html#access-bucket-intro\">How to Select a Region for Your Buckets</a>.</p>\n         <note>\n            <p>If you send your create bucket request to the <code>s3.amazonaws.com</code> endpoint, the\n            request goes to the us-east-1 Region. Accordingly, the signature calculations in\n            Signature Version 4 must use us-east-1 as the Region, even if the location constraint in\n            the request specifies another Region where the bucket is to be created. If you create a\n            bucket in a Region other than US East (N. Virginia), your application must be able to\n            handle 307 redirect. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html\">Virtual\n               Hosting of Buckets</a>.</p>\n         </note>\n         <p>When creating a bucket using this operation, you can optionally specify the accounts or groups that should be granted specific permissions on the bucket. There are two ways to grant the appropriate permissions using the request headers.</p>\n         <ul>\n            <li>\n               <p>Specify a canned ACL using the <code>x-amz-acl</code> request header. Amazon S3 supports a set\n               of predefined ACLs, known as <i>canned ACLs</i>. Each canned ACL has a\n               predefined set of grantees and permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#CannedACL\">Canned ACL</a>.</p>\n            </li>\n            <li>\n               <p>Specify access permissions explicitly using the <code>x-amz-grant-read</code>,\n                  <code>x-amz-grant-write</code>, <code>x-amz-grant-read-acp</code>,\n                  <code>x-amz-grant-write-acp</code>, and <code>x-amz-grant-full-control</code>\n               headers. These headers map to the set of permissions Amazon S3 supports in an ACL.\n               For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html\">Access\n                  Control List (ACL) Overview</a>.</p>\n               <p>You specify each grantee as a type=value pair, where the type is one of the following:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>emailAddress</code> – if the value specified is the email address of an AWS\n                     account</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>id</code> – if the value specified is the canonical user ID of an AWS account</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>uri</code> – if you are granting permissions to a predefined group</p>\n                  </li>\n               </ul>\n               <p>For example, the following <code>x-amz-grant-read</code> header grants the AWS\n               accounts identified by email addresses permissions to read object data and its\n               metadata:</p> \n               <p>\n                  <code>x-amz-grant-read: emailAddress=\"xyz@amazon.com\", emailAddress=\"abc@amazon.com\"\n            </code>\n               </p>\n         \n            </li>\n         </ul>\n         <note>\n            <p>You can use either a canned ACL or specify access permissions explicitly. You cannot do both.</p>\n         </note>\n      \n     \n         <p>The following operations are related to <code>CreateBucket</code>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>PutObject</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteBucket</a>\n               </p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{Bucket}",
          "code": 200
        }
      }
    },
    "com.amazonaws.s3#CreateBucketConfiguration": {
      "type": "structure",
      "members": {
        "LocationConstraint": {
          "target": "com.amazonaws.s3#BucketLocationConstraint",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Region where the bucket will be created. If you don't specify a Region, the\n         bucket is created in the US East (N. Virginia) Region (us-east-1).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration information for the bucket.</p>"
      }
    },
    "com.amazonaws.s3#CreateBucketOutput": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.s3#Location",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Region where the bucket will be created. If you are creating a bucket on\n         the US East (N. Virginia) Region (us-east-1), you do not need to specify the\n         location.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      }
    },
    "com.amazonaws.s3#CreateBucketRequest": {
      "type": "structure",
      "members": {
        "ACL": {
          "target": "com.amazonaws.s3#BucketCannedACL",
          "traits": {
            "smithy.api#documentation": "<p>The canned ACL to apply to the bucket.</p>",
            "smithy.api#httpHeader": "x-amz-acl"
          }
        },
        "Bucket": {
          "target": "com.amazonaws.s3#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket to create.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CreateBucketConfiguration": {
          "target": "com.amazonaws.s3#CreateBucketConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration information for the bucket.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "GrantFullControl": {
          "target": "com.amazonaws.s3#GrantFullControl",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.</p>",
            "smithy.api#httpHeader": "x-amz-grant-full-control"
          }
        },
        "GrantRead": {
          "target": "com.amazonaws.s3#GrantRead",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to list the objects in the bucket.</p>",
            "smithy.api#httpHeader": "x-amz-grant-read"
          }
        },
        "GrantReadACP": {
          "target": "com.amazonaws.s3#GrantReadACP",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to read the bucket ACL.</p>",
            "smithy.api#httpHeader": "x-amz-grant-read-acp"
          }
        },
        "GrantWrite": {
          "target": "com.amazonaws.s3#GrantWrite",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to create, overwrite, and delete any object in the bucket.</p>",
            "smithy.api#httpHeader": "x-amz-grant-write"
          }
        },
        "GrantWriteACP": {
          "target": "com.amazonaws.s3#GrantWriteACP",
          "traits": {
            "smithy.api#documentation": "<p>Allows grantee to write the ACL for the applicable bucket.</p>",
            "smithy.api#httpHeader": "x-amz-grant-write-acp"
          }
        },
        "ObjectLockEnabledForBucket": {
          "target": "com.amazonaws.s3#ObjectLockEnabledForBucket",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether you want S3 Object Lock to be enabled for the new bucket.</p>",
            "smithy.api#httpHeader": "x-amz-bucket-object-lock-enabled"
          }
        }
      }
    },
    "com.amazonaws.s3#CreateMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.s3#CreateMultipartUploadRequest"
      },
      "output": {
        "target": "com.amazonaws.s3#CreateMultipartUploadOutput"
      },
      "traits": {
[...]
